[2019-03-05 19:43] jonboiser commented on #3664
Yeah, the Learn lesson resource view is almost visually the same as the lesson resource selection preview, but the "<-" back label is actually the name of the resource.

[2019-03-05 20:04] jonboiser commented on #5242
Other places where the center area is completely flat.

- [x] Exam Reports (ReportsQuizLearnerPage)
- [x] Exercise Reports (ReportsLessonExerciseLearnerPage)
- [x] PlanLessonSelectionContentPreview
- [x] User Profile Page (UserIndex)
- [ ] every LearnIndex sub-page

[2019-03-05 20:06] jonboiser commented on #3872
In 0.12, the header "test- Exam performance" is a little different, but the left and right-floated texts are still aligned the same way as in the screenshot above.

[2019-03-05 22:44] indirectlylit commented on #5024
this looks great - nice job!

minor clarification: I assume in the table on the right, all "Super admin" users should have gold keys?

[2019-03-05 23:56] khangmach commented on #5024
@indirectlylit whoops yes. Adjusted the original image

[2019-03-06 00:50] indirectlylit commented on #5240
closing as a hot reload fluke

[2019-03-06 00:50] #5240 closed, assigned to nobody

[2019-03-06 00:52] indirectlylit commented on #5227
great thanks all

[2019-03-06 00:52] #5227 closed, assigned to nobody

[2019-03-06 00:52] indirectlylit commented on #5096
thank you!

[2019-03-06 01:12] indirectlylit commented on #4094
agreed. in general this should be handled at the data level - it's not necessary to reflect the trimmed content back to the user

[2019-03-06 04:06] mrpau-richard commented on #4583
Closing this, fixed in #4544

[2019-03-06 04:06] #4583 closed, assigned to mrpau-richard

[2019-03-06 04:43] nobicycle commented on #4661
Just tested using 0.12.
Exams seem renamed as Quiz.
I could create a Quiz no problem.

[2019-03-06 04:43] #4661 closed, assigned to nobody

[2019-03-06 04:47] nobicycle commented on #4342
Kolibri now warns sufficiently about potential loss during  upgrades.
The case that Kolibri unnecessarily drops already downloaded content is not proven.

For me, the issue should be closed.

[2019-03-06 08:57] yogeshmhaskule commented on #5111
Tested in kolibri.0.12.0. And worked as expected.
![lesson_error_1](https://user-images.githubusercontent.com/7850420/53868375-ed3cf300-401b-11e9-8375-9a7523d72ca5.png)
![lesson_error_2](https://user-images.githubusercontent.com/7850420/53868376-edd58980-401b-11e9-9e1b-8c26ab629b9a.png)

[2019-03-06 09:27] yogeshmhaskule commented on #5112
tested in kolibri 0.12.0 and works fine.
![activity_1](https://user-images.githubusercontent.com/7850420/53870371-20818100-4020-11e9-8c8f-b730b3784596.png)
![activity_2](https://user-images.githubusercontent.com/7850420/53870372-20818100-4020-11e9-9fa4-cef04d89cfec.png)

[2019-03-06 09:31] yogeshmhaskule commented on #5113
tested in kolibri 0.12.0 and works as expected.
![class_activity_1](https://user-images.githubusercontent.com/7850420/53870685-b5847a00-4020-11e9-9cd0-971d14722838.png)

[2019-03-06 09:46] yogeshmhaskule commented on #5125
tested in kolibri 0.12.0. don't know its expected output. Its not a blank page.I have attached images here:-
![exam_1](https://user-images.githubusercontent.com/7850420/53871720-d1891b00-4022-11e9-8bbc-cf6e7cc1f2a7.png)
![exam_2](https://user-images.githubusercontent.com/7850420/53871721-d1891b00-4022-11e9-9fa0-4f4f9066ee1c.png)

[2019-03-06 09:57] yogeshmhaskule commented on #5052
tested it kolibri.0.12.0. worked.
![quize_2](https://user-images.githubusercontent.com/7850420/53872467-54f73c00-4024-11e9-8c9a-3fa55df023b1.png)
![quize_11](https://user-images.githubusercontent.com/7850420/53872550-853eda80-4024-11e9-9450-db56314d26c8.png)

[2019-03-06 10:37] yogeshmhaskule opened #5247 ""Question NaN" appears in AttemptLogList in some Exercise Reports"
### Observed behavior

shows **Nan** in answer history of lesson.

### Expected behavior

Show question number in answer history instead of **Nan**

### User-facing consequences

login using coach account. And check the lesson report.

### Steps to reproduce

1. create lesson and assign to class or group.
2. solved this lesson using learner account.
3. login using coach account and check the lesso

[2019-03-07 09:13] mrpau-julius commented on #5107
This issue fix in the latest release Kolibri 0.12.0

[2019-03-07 09:18] mrpau-julius commented on #5108
I test this issue, also fix in latest release Kolibri 0.12.0

[2019-03-07 19:58] #5107 closed, assigned to nobody

[2019-03-07 20:01] jonboiser commented on #5057
Some codes that might be able to be deleted:

1. ~LearnerExerciseDetailPage and its dependencies LearnerExerciseReportOld , AttemptSummary~
1. ExamReportPage and ManageExamModals, after we extract the cross-component-translator strings from them

[2019-03-07 20:24] jonboiser commented on #5247
I'm not able to reproduce this using the same Exercises, but I can see how this can happen if this attempt logs are not annotated with a question number at this line

https://github.com/learningequality/kolibri/blob/52371b82189ca6ccebd6f8455b5c5b76ff6735bf/kolibri/plugins/coach/assets/src/modules/exerciseDetail/actions.js#L15-L18

[2019-03-07 20:27] jonboiser commented on #5247
Don't know if this is what's causing problems, but this call to `setAttemptLogs` (the function in the snippet above) look incorrect

https://github.com/learningequality/kolibri/blob/52371b82189ca6ccebd6f8455b5c5b76ff6735bf/kolibri/plugins/coach/assets/src/views/reports/LearnerExerciseDetailPage/LearnerExerciseReportOld.vue#L136-L143

[code]

[2019-03-07 20:59] #5108 closed, assigned to nobody

[2019-03-08 11:14] miyer03 opened #5253 "500 Internal Server Error while syncing servers"
**Observed behavior**
While syncing the classroom servers with the cloud, we are receiving the "500 Internal Server Error". This is happening across all classrooms.

Some of the facility names showing the above error are :-

1. P-SVT-iTeach (Grade 8)
2. P-PDUEMS (Grade 7,8)

Also, some of the databases show synced with size 0.

3cb4ef76f24e1de35fb20839b99de849-fbbb1f981115e4eff811579c179c95a1.sqli

[2019-03-08 16:23] indirectlylit opened #5255 "add Gujarati to supported languages"
### Observed behavior

Gujarati has been translated and just needs to be approved

### Expected behavior

Add to supported languages

### User-facing consequences

Gujarati speakers will be able to use the app

### Context

0.12.0

[2019-03-08 19:51] jonboiser commented on #3664
Another difference, too, is that content on the Learn page has breadcrumbs above the content title header.

[2019-03-08 20:34] indirectlylit opened #5256 "add burmese as a supported language"
### Observed behavior

burmese is 100% translated an approved, but not in the supported languages

### Expected behavior

burmese should be a supported language

### User-facing consequences

not usable by burmese speakers

### Context

0.12.0

[2019-03-08 20:38] indirectlylit commented on #4661
thanks for following up

[2019-03-08 20:40] indirectlylit commented on #4342
thanks, closing. @intelliant01 if you're still experiencing any problems let's start new issues to track them

[2019-03-08 20:40] #4342 closed, assigned to jredrejo

[2019-03-08 20:42] indirectlylit commented on #5125
this is probably marginally more helpful than a blank page I imagine

[2019-03-08 21:59] indirectlylit commented on #3664
I believe @khangmach was interested in getting rid of the breadcrumbs on content pages

[2019-03-08 22:03] khangmach commented on #3664
Yes I outlined some ideas here: https://github.com/learningequality/kolibri/issues/4706

[2019-03-09 14:03] rtibbles commented on #5256
Closed in #5258 and https://github.com/learningequality/kolibri/commit/02226515df1263ee83ed2d791cffe3b31a8dce61

[2019-03-09 14:03] #5256 closed, assigned to nobody

[2019-03-11 19:19] khangmach commented on #4706
Updated the documentation using an easier iconography approach. Thanks for the suggestion @jonboiser
![content page slice](https://user-images.githubusercontent.com/25045166/54151692-a32b8700-43f8-11e9-9529-5a511855ea07.png)

[2019-03-12 02:45] indirectlylit commented on #1378
no longer relevant

[2019-03-12 02:45] #1378 closed

[2019-03-12 02:48] indirectlylit commented on #1912
closing given all the recent changes to the android apk. let's re-open new issues as necessary

cc @DXCanas

[2019-03-12 02:48] #1912 closed

[2019-03-12 03:04] indirectlylit commented on #2829
agree this should be documented, but would advocate putting it in the dev docs rather than the style guide, because it won't be very meaningful for non-devs.

We have a location here which is appropriate: https://kolibri-dev.readthedocs.io/en/develop/frontend_architecture/unit_testing.html

[2019-03-12 03:07] indirectlylit commented on #4110
exam creation has been re-implemented with more tests

[2019-03-12 03:07] #4110 closed, assigned to rtibbles

[2019-03-12 03:11] indirectlylit commented on #2544
I believe this has been addressed - is that correct?

[2019-03-12 03:13] indirectlylit commented on #4431
closing - unless the site is connected to crowdin online, enabling translation functionality locally is not useful to translators

[2019-03-12 03:13] #4431 closed, assigned to radinamatic

[2019-03-12 03:15] indirectlylit commented on #4386
closing as duplicate of #2879

[2019-03-12 03:15] #4386 closed, assigned to lyw07

[2019-03-12 03:21] indirectlylit commented on #1989
this is ameliorated to a degree because the app bar scrolls off-screen now

[2019-03-12 03:21] #1989 closed

[2019-03-12 03:35] indirectlylit commented on #4571
this was built

[2019-03-12 03:35] #4571 closed, assigned to ralphiee22

[2019-03-12 18:38] jonboiser commented on #2829
The style guide already has a lot of code-specific information, like the component API. At its inception, it seems like it was more of API documentation for K* components, but with some extra text describing "style" issues. If we really want to keep the dev-stuff out, maybe the style and API content should be separated.

For me, it would be a little bit of extra work to

1. Use the style guide to

[2019-03-12 19:13] jonboiser commented on #4706
Another requirement is that if the user comes to the resource through "Recommended", or a subpage like "Popular", then the back arrow goes to that page.

[2019-03-13 08:09] mrpau-julius opened #5262 "Content import progress value are more then 100% on 'Kolibri-server'"
### Observed behavior

While I import an `African Storybook` channel using local drive, I observe the progress value are more then 100 percent and I get an error on console.

![Screenshot from 2019-03-13 15-19-21](https://user-images.githubusercontent.com/38421180/54261043-ab74f500-45a5-11e9-9280-2531d3a7a733.png)

### Expected behavior

The progress bar must be exact 100 percent.

### Errors and

[2019-03-13 16:59] maxwellfundi opened #5263 "Pause import/export channels desired."
### Observed behavior

When importing channels from an external disk, there is currently no way to pause the import so that you can resume later.
In addition if it happens that the external device gets disconnected then the whole process halts and it has to start afresh.

### Expected behavior

In these kind of cases, then a desirable thing would be to have the import/export pause then when the di

[2019-03-13 17:28] jonboiser commented on #4980
I think this is just the way CherryPy works. Someone had a similar question on stackoverflow https://stackoverflow.com/questions/47675574/why-cherrypy-server-logs-error-messages-even-though-it-seems-to-work

[2019-03-13 17:43] indirectlylit opened #5264 "prettier recursively rewrites 'undefined' into vue template file"
### Observed behavior

A couple times now I've had prettier go into an infinite loop where it prepends `undefined` to vue files. I've had to kill the process and rebuild to stop it:

[code]

### Expected behavior

no infinite loop

### User-facing consequences

N/A

### Steps to reproduce

unknown. will post if I see the pattern

### Context

0.12.0

[2019-03-13 18:55] indirectlylit opened #5265 "'placement' prop of tooltips isn't working as expected"
### Observed behavior

 * default is supposed to be bottom but is actually top
 * modifying prop does not seem to have an effect

![image](https://user-images.githubusercontent.com/2367265/54306527-c2f0b580-4586-11e9-8d3d-935fca761f49.png)

### Expected behavior

placement should work

### User-facing consequences

sub-optimal placement

### Steps to reproduce

try to change placement

### Context

[2019-03-13 19:27] jredrejo commented on #4980
Yep, looking at cherrypy code I don't think this can be changed from outside CherryPy

[2019-03-13 19:27] #4980 closed, assigned to nobody

[2019-03-13 21:12] jonboiser commented on #3926
#3929

[2019-03-13 21:12] #3926 closed, assigned to jonboiser

[2019-03-13 21:19] jonboiser commented on #3029
As of 0.12, Coach Reports don't include the report type in the original posting.

If these reports are ever brought back into a future release, they must make sure to omit non-available nodes.

[2019-03-13 21:19] #3029 closed

[2019-03-14 17:48] sentry[bot] opened #5266 "All potentially unsafe references to $refs must be guarded before accessing stuff from it (from Sentry error)"
In general, whenever calling a method on a `$ref` inside a component, we need to guard against the ref being undefined, since we don't know when in the render cycle the method might be called. Usually these errors can happen during the destroy phase.

Expected behavior: in the code, whenever there is code of the form `this.$refs.someRef.someMethod`, there is also a guard that precedes it checking

[2019-03-14 19:24] intelliant01 opened #5268 "Khan Academy English - Update 14 - resources vanished"
### Observed behavior

Tried updating Khan Academy content from version 12 to 14 wherein I had at least a thousand resources. All but one resource have vanished from the UI. However, the storage on disk is still occupied as before. .kolibri folder was 166 GB before I started the update and so is it even now. I can replicate this at will as I have a backup of the .kolibri folder prior to attempting

[2019-03-14 19:38] jonboiser commented on #5268
Hi @intelliant01, How did using the `scanforcontent` command work for you when you were reporting the issue with Khan Academy Version 13 in #4342?

[2019-03-14 19:46] intelliant01 commented on #5268
Hi @jonboiser, Sorry your question is not quiet clear to me. Yet I shall try to answer.

The ```scanforcontent``` had never worked for me as I had never tried it before. And yes, what I have experienced today seems a repeat of what I had experienced when I had tried to update KA English from version 12 to 13 on Kolibri 0.10.2 as I had reported [here](https://github.com/learningequality/kolibri/iss

[2019-03-14 19:56] lyw07 opened #5269 "Some HTML5 apps in Thoughtful Learning channel fail to load"
### Observed behavior

In the `Thoughtful Learning` channel, there are some HTML5 apps failing to load.
This can be found on kolibridemo site: http://kolibridemo.learningequality.org/coach/#/f6e7f562bb0ea654340c726e1f81bbe9/plan/lessons/e4a5e8f0b2e8d72505472839643797b7/selection/preview/bc38de32126b5f7cb8026fd068df70b9

I'm able to reproduce it locally by importing the specific content.

A user al

[2019-03-14 21:43] jtamiace opened #5271 "Question numbers all turn into (1) in difficult question list for an exercise"
### Observed behavior

![Mar-14-2019 14-34-24](https://user-images.githubusercontent.com/6668144/54393241-e723c380-4666-11e9-85c2-b4f139125972.gif)

### Expected behavior

Question number in difficult question list should not all change to 1.

### Steps to reproduce

1. Log in as coach
2. Look at report for an exercise in a lesson
3. Click "difficult questions" tab
4. Click a question
5. Observe t

[2019-03-14 22:03] jonboiser commented on #5271
Might be related that the number in parentheses can also be NaN

From: https://kolibridemo.learningequality.org/coach/#/f6e7f562bb0ea654340c726e1f81bbe9/reports/quizzes/d354d3c1bbf4cbd84321ff37a56b82a0/questions

![Screen Shot 2019-03-14 at 3 02 32 PM](https://user-images.githubusercontent.com/10248067/54394532-5cdd5e80-466a-11e9-90e8-087301175d29.png)

[2019-03-14 22:07] jonboiser commented on #5271
The reason it is always "(1)" is probably from this line:

https://github.com/learningequality/kolibri/blob/5ad470336fd8c65abe7817ca4d736294ee76f2af/kolibri/plugins/coach/assets/src/modules/questionList/actions.js#L63-L68

Which makes me think this is related to the issue in #5247.

The reason it gets the question numbers right the first time you go to Difficult Questions, but then switches when y

[2019-03-15 09:30] mrpau-julius opened #5273 "Learner's failed to load the resource on `kolibri-server`"
### Observed behavior

I create more then 50 resources in lesson page. When I log in a Learner account and click the lesson task this error message appeared.

cc @jredrejo
![Screenshot from 2019-03-15 04-19-32](https://user-images.githubusercontent.com/38421180/54420961-bfbe0c80-46e1-11e9-8da1-595f53b445f9.png)

### Expected behavior

Can see all the lesson resource.

### Errors and logs

[code]

[2019-03-16 04:02] intelliant01 commented on #5268
Now after having reimported 19 GB (as visible in UI) worth of Maths and Science content I see the disk space occupied has also swelled by the same number. So this is confusing as it did show that the content was present before I had started the update.

I strongly suspect that there are a lot of stale files therein as nothing explains the 184 GB occupied space when the math of all content present

[2019-03-16 10:49] intelliant01 commented on #5268
I think I got the answer. Just deleted the Blocky Games channel of 7 MB and it seemed to trigger the cleanup. Now the disk occupied it down to 33 GB, much within expectations.

So is this _clean-up and re-indexing_ exactly as expected or an absurd behaviour?

[2019-03-16 12:12] intelliant01 opened #5278 "CK-12 plix content doesn't "play""
### Observed behavior

Unable to 'play' the CK-12 PLIX content such as https://kolibridemo.learningequality.org/learn/#/topics/c/bdd18f86f27c58bba6c249b498f01823 .
When downloaded, unarchived and index.html fired in a browser, it works.

### Expected behavior

Should work as it seems standard HTML5 content.

### User-facing consequences

Unable to use the interactive content. Lessons built around

[2019-03-16 17:25] MisRob opened #5280 "Remove obsolete code related to app bar icon"
When working on #5279 I noticed that following place seems to be dead https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/AppBar.vue#L24-L27

It was introduced by this [commit](https://github.com/learningequality/kolibri/commit/2566eac930198119ef34332796d42d762378e668) and seems to have dependency on certain css variables that I wasn't able to find anywhere in cu

[2019-03-18 17:59] jonboiser commented on #4931
This looks good to me. I'm not sure if this will work out visually, but there is another button on the slide-out menu (click the hamburger button) that might need to be adjusted too.

![Screen Shot 2019-03-18 at 10 59 03 AM](https://user-images.githubusercontent.com/10248067/54552272-f3f92d80-496c-11e9-99f5-f508065b5ff6.png)

[2019-03-18 18:15] MisRob commented on #4931
That's right, thanks. I'm not sure about increasing right margin, since there's not so much space as in the toolbar and it might look a bit weird (but will try and upload screenshot). But I'm pretty sure I should update the left one, so I'll add a commit to PR for that.

[2019-03-18 18:22] jonboiser commented on #4931
To be more precise about the slide-out menu, the "X" should overlap the location of the hamburger button exactly.

So if a person were to click the hamburger in the middle, their mouse should be in the middle of the "X" in the slide-out menu.

[2019-03-18 18:30] MisRob commented on #4931
OK, I'm going to adjust hamburger's left margin to be exactly the same (I left answer to a first comment in the PR), that should solve it.

[2019-03-18 18:49] jonboiser commented on #5268
@intelliant01 Thanks for this update, this is interesting information.

This is what I think the timeline is

1. You upgraded from version 12 to 14
1. Because a large fraction of Version 12 exercises have different files (thumbnails, .perseus files, etc.) from Version 14, these exercises are now counted as unavailable. (This is technically expected behavior, if my assumption that the various files

[2019-03-18 22:19] jonboiser opened #5281 "Add snackbar/pop-up notifications in more workflows"
### Observed behavior

Add notifications to workflows, so they behave like similar workflows

* Manage Class Page: Adding/deleting a class
* Class Edit Page: Adding, Removing Learners/Coaches, Renaming the class
* User Page: Adding/Removing user, Editing User details/password
* Facility Settings: Replace UiInfo banner with a notification
* Device Settings: Replace UiInfo banner with a notification

[2019-03-18 22:38] radinamatic opened #5282 "Strings in single group sub-tab not displaying localized"
### Observed behavior

Some strings on group management page and modals do not display localized, despite being translated and approved on Crowdin:

![2019-03-18_15-17-23](https://user-images.githubusercontent.com/1457929/54568158-6a108b00-4993-11e9-8cbd-04aeed9455e4.jpg)

![2019-03-18_15-22-18](https://user-images.githubusercontent.com/1457929/54568165-6ed53f00-4993-11e9-90e2-6cc5ba5e7f21.jpg)

!

[2019-03-18 22:46] jonboiser commented on #5282
It looks like the strings for GroupMembersPage didn't make it into the locale file.

[2019-03-18 22:47] carinediaz opened #5283 "Unable to FFWD KA Math videos"
### Observed behavior

While watching a KA math video on the v0.12 Kolibri demo server, I realized I was unable to use the +10s button nor drag the player forward to fast forward the video.

video player unable to ffwd, the video keeps coming back to the very start.

### Expected behavior
when pressing the +10s button or dragging the cursor forward, the expected behavior would be for the video to

[2019-03-18 23:51] radinamatic commented on #5283
Could somebody try Firefox on macOS to confirm that this is a Chrome-only issue?
I can use the ffwd/bwd buttons and jump anywhere on the timeline in Firefox on both Windows and Ubuntu without issues...

[2019-03-18 23:57] radinamatic opened #5284 "User icon RTL alignment"
Reported by Hiba

### Observed behavior
Some user icons do not align properly and overlap the names:

![user-icon-rtl-align](https://user-images.githubusercontent.com/1457929/54571148-a39ac380-499e-11e9-8764-a308133ea443.png)

### Expected behavior
Consistent and proper icon alignment in RTL mode.

### User-facing consequences
Unclear UI

### Errors and logs
…

### Steps to reproduce
Go to Arabic

[2019-03-19 00:25] rtibbles commented on #5284
Note that this specifically seems to be an issue with LTR text in RTL interface mode.

[2019-03-19 02:49] intelliant01 commented on #5268
@jonboiser Yes, step 2 is where the mystery lies. And ~120 GB seems a lot of KA content or may be it was holding up even older "orphaned" files.

One question -
Why is the "orphaned" files cleanup only being done upon a channel deletion and not after an update such as in step 2 and is it as per design?

If you need to do any direct analysis then I can even recreate this environment and give you SS

[2019-03-19 06:31] radinamatic commented on #5282
Notification for the newly created group also pops-up in English.

[2019-03-19 07:09] radinamatic commented on #5282
All instances of `Select all on page` are from the `facility_management_module-messages.json` file, are we sure that it gets applied to `coach_module-messages.json` too?

![2019-03-18_23-49-28](https://user-images.githubusercontent.com/1457929/54586744-378a8080-49db-11e9-89e9-ad03c35141f4.jpg)

[2019-03-19 15:29] rtibbles commented on #5282
Yeah, anything in the facility json will not be available to the coach plugin.

[2019-03-19 15:47] radinamatic commented on #5282
I was under the impression that it could be reused on Crowdin, and that was the reason for including it after the string freeze... 😕

[2019-03-19 16:41] rtibbles commented on #5282
Yes - it could, but only if the strings were updated.

[2019-03-19 16:43] indirectlylit commented on #5282
investigating now

[2019-03-19 17:26] jonboiser commented on #5268
This is simply an oversight. On my part, I have always assumed that upgrading a channel is "additive", where a newer Channel version is "superset" of the older version. Obviously, this isn't always true.

Unfortunately, the experience you've had upgrading KA from version 12 to 13 and now 12 to 14 is expected behavior, given the changes between versions. This seems unusual because KA content seems

[2019-03-19 17:54] jonboiser commented on #4931
#5279

[2019-03-19 17:54] #4931 closed, assigned to MisRob

[2019-03-19 18:06] intelliant01 commented on #5268
This is exactly what I did everytime. Sorry, I don't see how it helps address any of the undesirable situations that we are discussing herein.

[2019-03-19 18:51] radinamatic opened #5289 "Not enough questions freezes the browser during the quiz creation"
### Observed behavior

When exercises with not enough questions are selected for the quiz, the browser freezes and needs to be closed.

![2019-03-19_9-34-14](https://user-images.githubusercontent.com/1457929/54633073-a51ac900-4a3c-11e9-95b3-550a4e000c1e.jpg)

![2019-03-19_11-32-19](https://user-images.githubusercontent.com/1457929/54633074-a51ac900-4a3c-11e9-82e5-aa236f5d1ff0.jpg)

### Expected be

[2019-03-19 19:55] #2258 closed

[2019-03-19 19:55] rtibbles opened #5290 "Add 'browser default' to Setup Wizard language options"
### Observed behavior
In device settings it is possible to change the default language to 'browser default', but this is not possible in the setup wizard.

### Expected behavior
Can set default language to 'browser default' during setup wizard.

However, a user cannot set the language to "browser default" using the language switcher. Since the LanguageSwitcher component is used in the setup wizard

[2019-03-19 20:25] indirectlylit commented on #5284
In this case, root cause was actually because I had `position: absolute` on the icon with no additional specification.

Adding `left: 0` was the fix, because then our RTL code actually had something to flip to `right: 0`. Otherwise it just sticks with the browser default which remains `left`.

[2019-03-19 20:36] indirectlylit commented on #2829
ah, I may have misunderstood the intention.

Are you envisioning that there would be some per-component guidance for testing? I.e., something specific to textboxes and something else specific to buttons?

[2019-03-19 20:37] jonboiser commented on #5289
@radinamatic Do you know which component this message appears in? And which message exactly it is?

I do remember seeing a UI message pop up when this situation happened, so maybe the error-handling code was changed.

[2019-03-19 20:39] indirectlylit commented on #4706
Note that we now have a standard KLabeledIcon component from recent work in coach reports, so we should leverage that and avoid adding a new special-case here

[2019-03-19 20:40] jonboiser commented on #2829
Yeah, something like "How to trigger" a change in KCheckbox or in KTextbox should be in the appropriate docs page for those elements.

[2019-03-19 20:48] radinamatic commented on #5289
It should be here @jonboiser:
kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue

It's the only one that came up when searching the string in the codebase.

[2019-03-19 20:48] indirectlylit commented on #5263
thanks for the suggestion!

This actually shouldn't be: my understanding is that it should pick up where it left off. If that's not happening, that's an issue we might be able to address sooner.

[2019-03-19 20:49] radinamatic commented on #5289
![2019-03-19_13-48-50](https://user-images.githubusercontent.com/1457929/54640762-d059e400-4a4d-11e9-9762-9985cf5ed26a.png)

[2019-03-19 20:52] indirectlylit commented on #5263
@maxwellfundi it looks like you're running 0.10.0 - do you know if this behaves the same on more recent versions?

[2019-03-19 20:56] #5280 closed, assigned to MisRob

[2019-03-19 21:03] jonboiser commented on #5289
Yeah, the `numQuestionsExceed` and the `numQuestionsNotMet` messages are not used in CreateExamPage at the moment.

[2019-03-19 21:09] jonboiser commented on #5289
I think the code showing this message got deleted at this commit

https://github.com/learningequality/kolibri/commit/36e4f4ba63a1453794ac1edd3f79e55cd919e0c8#diff-1986ecad4308dce2bab9abf80d3819d4L313-L329

To fix this, we need to copy it back to the `numQuestionsInvalid` computed property.

[2019-03-19 21:15] jonboiser commented on #5289
As for the freezing, I'm wondering if this line causes an infinite loop.

https://github.com/learningequality/kolibri/blob/e977bb104d5ed7cde7b3fc6c68f049a40aff6271/kolibri/plugins/coach/assets/src/modules/examCreation/selectQuestions.js#L52

The console logs an error, but it doesn't terminate execution of `selectionQuestions`

[2019-03-19 21:27] rtibbles commented on #5289
Yeah, that seems a likely culprit - should add another condition on whether there are any more questions to look for?

[2019-03-20 00:26] #2394 closed

[2019-03-20 00:27] rtibbles commented on #5284
Fixed in #5291

[2019-03-20 00:27] #5284 closed, assigned to indirectlylit

[2019-03-20 00:28] rtibbles commented on #5278
This should be fixed by #5288 - the fix should be in the 0.12.2 release.

[2019-03-20 00:29] rtibbles commented on #5269
This should be fixed in #5288

[2019-03-20 02:01] intelliant01 opened #5292 "Updating a channel shifts it's position in the Learn list"
### Observed behavior

Updating a channel shifts it's position in the Learn list to the very last,

### Expected behavior

Should not change the channel order in the learn list.

### User-facing consequences

Have to re-adjust the channel order after an update is annoying.

### Errors and logs

NA

### Steps to reproduce

1. Update a channel that is not last in the Learn listing
2. Refresh the Lea

[2019-03-20 05:21] maxwellfundi commented on #5263
@indirectlylit I have been using this version and have not tried on the 0.12.1 which i believe is the latest version. I am downloading it now test then report.

[2019-03-20 17:49] indirectlylit commented on #5292
Hi @intelliant01

We're aware that controlling channel ordering can be frustrating, and making it more predictable and manageable in the Device tab is on our roadmap.

As a short-term work-around, we've added a new terminal command in 0.12 for managing order:
https://kolibri.readthedocs.io/en/latest/manage.html#reorder-content-channels

hope this helps

[2019-03-20 17:52] indirectlylit commented on #5292
I think this specific issue (don't change order after an update) can probably be addressed before bigger changes are implemented

[2019-03-20 18:21] jonboiser commented on #5290
@rtibbles What's the best way to implement this? The language switcher mixin makes a POST to a `set_language` endpoint when a language is picked. If I post `{ code: null }` (for browser default) to it, what do I have to do to make sure that we use the correct language when the page refreshes?

[2019-03-20 18:28] rtibbles commented on #5290
Hrm, we might have to enhance the `set_language` endpoint to properly process null - I can make a quick PR to handle the backend piece.

[2019-03-20 18:32] intelliant01 commented on #5292
Hi @indirectlylit

https://kolibri.readthedocs.io/en/latest/manage.html#reorder-content-channels

Am aware and indeed this is the straw I have been hanging on to in this reordering storm. ;)

Really hope so.

[2019-03-21 17:16] rtibbles commented on #5271
Confirmed, this was due to the api-resource model `fetch` method returning the direct model attributes, rather than a clone of them, upon fetch.

[2019-03-21 17:18] rtibbles commented on #5247
This does indeed have the same root cause as #5271 - managed to replicate.

[2019-03-21 18:39] rtibbles commented on #5271
Fixed in #5298

[2019-03-21 18:39] #5271 closed, assigned to rtibbles

[2019-03-21 18:39] rtibbles commented on #5247
Fixed in #5298

[2019-03-21 18:39] #5247 closed, assigned to rtibbles

[2019-03-21 21:40] carinediaz opened #5300 "Video player not displaying subtitle or speed controls"
### Observed behavior
When playing Touchable Earth videos on the INS tablet (Chrome), I noticed the video player does not display an option for changing the video speed, nor to enable/disable subtitles.

### Expected behavior
video player displays both subtitle and speed control

### User-facing consequences

Not being able to use subtitles can affect learning for users who depend on it, and not b

[2019-03-22 21:44] radinamatic commented on #5283
Still unable to replicate this _anywhere but_ on the `kolibridemo` server, same as @rtibbles.

Tested on 0.12.1 installed locally on both Ubuntu and Windows, and even accessed Kolibri running in Windows 7 VM **from the host Chrome browser**, all cases give no back & forth playback issues:

![fwd-Chrome](https://user-images.githubusercontent.com/1457929/54854656-d8fe2480-4cb0-11e9-8499-f9fcc73e68ad

[2019-03-22 21:45] rtibbles commented on #5283
As we can only seem to replicate it on the demo server, I'm removing labels and milestones. If we see it still when we update the demo server to 0.12.2, we can reinvestigate.

[2019-03-22 22:24] jonboiser opened #5305 "Better error handling for various edge cases (like 404s from deleting non-existent records)"
### Observed behavior

Here are some places where we could replace the catch-all 'AppError' (appears with 'handleApiError' dispatches) with in-UI error messages (or no error at all).

1. ~Deleting a user from the facility when that user has already been deleted. (No error should be shown)~
1. Deleting a class that has already been deleted
1. ~Visiting a Coach link for a class that has been deleted

[2019-03-23 15:14] MisRob opened #5309 "Consistent style for auth messages"
### Observed behavior

Differently styled auth messages:

<img width="1440" alt="Screenshot 2019-03-23 at 15 33 39" src="https://user-images.githubusercontent.com/13509191/54867913-72e3d100-4d86-11e9-9464-e2aba75ce532.png">

<img width="1439" alt="Screenshot 2019-03-23 at 15 33 26" src="https://user-images.githubusercontent.com/13509191/54867912-70817700-4d86-11e9-9144-3739d6649f9c.png">

(seems t

[2019-03-24 11:06] radinamatic opened #5311 "Lessons created in one class appear in other classes"
### Observed behavior

Reported by Hiba and confirmed on `0.12.2-beta2` release.

### Expected behavior
Lessons should appear only in class they are created for (until coach expressly copies them to another).

### User-facing consequences
Learners in other classes seeing lessons not intended for them.

### Errors and logs

…

### Steps to reproduce

1. Create 2-3 classes in the facility
2. Create

[2019-03-25 18:43] jonboiser commented on #5311
1. Is this only happening on the "Learner" side of the app?
1. Does this only happens for Lessons, or also Exams?

The latest changes to the relevant backend API might be in this PR https://github.com/learningequality/kolibri/pull/5274/files

[2019-03-25 19:56] radinamatic commented on #5311
1. No, appears also if you visit the Learn page as an admin or coach.
2. I rechecked, and it seems to be happening only for Lessons, not Quizzes.

[2019-03-25 20:00] jonboiser commented on #5311
So for 1 it only happens on the "Learn" page (regardless of user type). For example, a Coach isn't seeing a Lesson for Class 1 in the Coach page for Class 2.

[2019-03-25 20:11] radinamatic commented on #5311
Correct, it appears only in the Learn page, not on Coach > Class Home or Reports pages.

[2019-03-25 20:36] indirectlylit commented on #4567
closing this tracker issue because work is now ongoing in the https://github.com/learningequality/kolibri-server repo

[2019-03-25 20:36] #4567 closed, assigned to jredrejo

[2019-03-25 20:38] indirectlylit commented on #5214
closing. If this is still an issue, let's re-open in https://github.com/learningequality/kolibri-server

[2019-03-25 20:38] #5214 closed, assigned to jredrejo

[2019-03-25 21:04] #5289 closed, assigned to rtibbles

[2019-03-25 21:04] #5282 closed, assigned to indirectlylit

[2019-03-25 21:04] #5278 closed, assigned to rtibbles

[2019-03-26 02:50] indirectlylit commented on #4775
this has caused additional issues on ubuntu 14.04 because sentry seems to include some python 3.7+ files:

@jredrejo is manually removing the offending (and unused) files in https://github.com/learningequality/kolibri-installer-debian/pull/67 .. however solving this issue would be a cleaner long-term solution

[2019-03-26 03:03] indirectlylit commented on #4584
closing since we haven't seen it in a while. However, see related issues in #5262  and #4014

[2019-03-26 03:03] #4584 closed, assigned to lyw07

[2019-03-26 03:05] indirectlylit commented on #5281
this looks useful

[2019-03-26 03:23] indirectlylit commented on #5305
do these situations need design and/or user-facing strings?

[2019-03-26 03:26] indirectlylit commented on #5309
agreed!

[2019-03-26 15:28] rtibbles commented on #5311
I had a different understanding of the steps to reproduce here:
1. Create two classrooms, assign the same user to both.
2. Create a lesson in one of the classrooms.
3. See the lesson in both user's classrooms.

[2019-03-26 16:26] rtibbles commented on #5196
Fixed in #5308

[2019-03-26 16:26] #5196 closed, assigned to MisRob

[2019-03-26 17:16] jonboiser commented on #5305
Some of these don't require any new UI, like deleting something that's already deleted. (e.g. if you deleted an already-deleted faciltiyuser, dont show an error, remove the facilityuser from the table, the app user doesn't need to see anything).

We don't handle going to links for non-existent things (e.g. visiting a class homepage for deleted class), so that will require new design and strings.

[2019-03-26 17:47] rtibbles commented on #5311
Fixed in #5312

[2019-03-26 17:47] #5311 closed, assigned to ralphiee22

[2019-03-27 01:05] khangmach opened #5316 "Buggy horizontal table scrollbar"
### Observed behavior

**Chrome:**
Horizontal scrollbar attempts to maintain its position as the user scrolls up and down. Arrowing up and down the page works fine though.
![chrome behavior](https://user-images.githubusercontent.com/25045166/55042929-1a643c00-4ff1-11e9-9054-7308bdbaf010.gif)

**Firefox:**
The overflow isn't contained within the table column. Scrollbar doesn't appear
![firefox beha

[2019-03-27 06:59] MisRob commented on #5309
🆗 thanks for checking it. I'll have a look at it then.

[2019-03-27 16:22] indirectlylit commented on #5316
introduced in https://github.com/learningequality/kolibri/pull/5134

[2019-03-27 16:23] indirectlylit commented on #5309
Wrapping with `KPageContainer` will be the simplest fix

[2019-03-27 19:23] indirectlylit commented on #5119
copying from thread thread: https://github.com/learningequality/kolibri/pull/5261#discussion_r268362347

two other examples to consider for consistency include coach tools and content cards:

[2019-03-28 00:27] jonboiser opened #5320 "Apply consistent patterns for all modals"
### Observed behavior
This read-only [Google Doc](https://docs.google.com/document/d/1C2mMnCktUYgv2tb7pokRCLr-v2hM3Be9YBeNsOdZcck/edit?usp=sharing) describes how modals should work.

Not all of the modals work as prescribed. The Expected Behavior section tries to enumerates which modals don't conform and how.

Some of the prescriptions overlap with #5305 and #5281

ChannelTokenModal seems to be th

[2019-03-28 00:58] radinamatic opened #5321 "User added twice on the list to enroll in class"
### Observed behavior
When admin first selects manually a learner with the checkbox, but then searches for a text using the `Search` field, and already selected learner happens to be among the results and gets selected for the second time, will provoke a `Server Error (500)`.

![2019-03-27_15-09-28](https://user-images.githubusercontent.com/1457929/55121714-f704c400-50b8-11e9-8367-9d85c6a5aada.png

[2019-03-28 01:20] radinamatic commented on #5269
Still extant on Firefox:

![2019-03-27_18-13-11](https://user-images.githubusercontent.com/1457929/55122663-ef471e80-50bc-11e9-83ae-89c85241974a.png)

[2019-03-28 01:22] #4706 closed, assigned to jonboiser

[2019-03-28 01:22] #3664 closed

[2019-03-28 04:00] rtibbles commented on #5321
Fixed in #5322

[2019-03-28 04:00] #5321 closed, assigned to rtibbles

[2019-03-28 11:02] cotchiba opened #5324 "Attempts and "Need Help""
Learners who answer the questions with one wrong attempt are marked as "need help". Those who haven't answered the question yet are marked as "need help" as well. This can be misguiding data for the coach in terms of determining who really needs support.

![image](https://user-images.githubusercontent.com/49025961/55152810-c9bc2280-5159-11e9-97a8-158576f5086f.png)

[2019-03-28 14:37] #5269 closed, assigned to rtibbles

[2019-03-28 19:33] jonboiser commented on #5316
@khangmach 	For the screenshots, is the window narrow enough that the upsliding AppBar  behavior is being applied? I don't know if it's because how the screen is cropped, but the AppBar looks to be doing unusual things as well as you scroll down.

[2019-03-28 21:52] indirectlylit commented on #5316
it is - when you scroll down it overshoots and then pops back up. I think that's unrelated though

[2019-03-28 22:01] jonboiser commented on #5316
I can't reproduce the behavior on the Chrome browser GIF. Could it be related to GPU performance that the slider lags behind?

[2019-03-28 22:09] jonboiser commented on #4563
This may be a duplicate of #5321 (same stack trace as in that issue), which has been fixed in #5322.

[2019-03-28 22:09] #4563 closed, assigned to nobody

[2019-03-28 22:12] jonboiser commented on #4175
If this still exists anywhere, we should replace tight icon/text pairs with KLabeledIcon.

I personally can't find anything like this in Kolibri as of 0.12, however.

[2019-03-28 22:15] rtibbles commented on #4563
Good catch, I think this is indeed the same issue.

[2019-03-28 22:21] indirectlylit opened #5326 "app bar will overshoot and detach from top of window on scroll"
### Observed behavior

when scrolling quickly, it's possible for the app bar to detach from the top of the screen:

![overshoot](https://user-images.githubusercontent.com/2367265/55196591-d5214500-517d-11e9-9ef4-bbbb45a32d9b.gif)

note that when implementing this, we intentionally tried to avoid having any javascript that would re-position the header on every scroll event (e.g. by setting the `y`

[2019-03-28 22:23] indirectlylit commented on #5316
made a new issue for that https://github.com/learningequality/kolibri/issues/5326

[2019-03-28 22:23] indirectlylit commented on #5326
see related issue: https://github.com/learningequality/kolibri/issues/4827

[2019-03-28 22:30] khangmach commented on #5326
So Jessica tried to reproduce this issue on MacOs Chrome and as @jonboiser said, couldn't reproduce it. However, when she disconnected her monitor and tried reproducing behavior on her laptop screen, she got the bug again. Same with me. Connected to external monitor == no bug. Regular monitor yes.

[2019-03-28 22:30] khangmach commented on #5316
So Jessica tried to reproduce this issue on MacOs Chrome and as @jonboiser said, couldn't reproduce it. However, when she disconnected her monitor and tried reproducing behavior on her laptop screen, she got the bug again. Same with me. Connected to external monitor == no bug. Regular monitor yes.

[2019-03-28 22:31] khangmach commented on #5326
![Mar-28-2019 15-23-24](https://user-images.githubusercontent.com/25045166/55197055-9637c300-516e-11e9-83d9-390b4e2e60f6.gif)
Example on small screens

[2019-03-28 22:31] khangmach commented on #5326
![Mar-28-2019 15-22-12](https://user-images.githubusercontent.com/25045166/55197066-9d5ed100-516e-11e9-8c2b-c4f5e1527490.gif)
on large screen

[2019-03-28 22:39] jonboiser commented on #5316
So no (lagging scrollbar on Chrome) bug on both these scenarios?

1. External monitor is connected, and browser on the laptop screen?
1. External monitor is connected and browser is on external monitor.

[2019-03-28 22:43] jonboiser commented on #5255
Does #5307 close this issue?

[2019-03-28 22:48] jonboiser commented on #5316
Currently the main 'content' div pushes things down using an inline-style for margin-top. Maybe this should actually be absolutely positioned with `top: X px` instead?

![Screen Shot 2019-03-28 at 3 47 39 PM](https://user-images.githubusercontent.com/10248067/55197823-f29be200-5170-11e9-8f0f-4a237102cfc6.png)

[2019-03-28 22:49] jonboiser commented on #5150
Currently the main 'content' div pushes things down using an inline-style for margin-top. Maybe this should actually be absolutely positioned with `top: X px` instead?

![Screen Shot 2019-03-28 at 3 47 39 PM](https://user-images.githubusercontent.com/10248067/55197841-01829480-5171-11e9-9649-656df2333977.png)

[2019-03-28 22:51] rtibbles commented on #5255
I believe so!

[2019-03-28 22:52] rtibbles commented on #5255
Fixed in #5307

[2019-03-28 22:52] #5255 closed, assigned to nobody

[2019-03-28 22:56] jonboiser commented on #5324
Both these behaviors:

1. Learner answers question with 1 wrong attempt
1. Learner hasn't answered the question yet

Should not lead to either a "Needs Help" notification or an entry in the "Difficult Questions" page, generally speaking.

I wonder if there is something unique about this particular multiple choice question that is causing the behavior in the original post.

[2019-03-28 22:58] khangmach commented on #5316
a weird turn of events:

case1: External monitor connected + browser in laptop screen == buggy scrollbar
case2: External monitor connected + browser in external monitor screen == buggy cell text
case3:  External monitor disconnected completely == buggy scrollbar

an example of case 2. Maybe this is hardware related?
![Mar-28-2019 15-56-22](https://user-images.githubusercontent.com/25045166/5519820

[2019-03-28 23:12] indirectlylit commented on #4175
https://github.com/learningequality/kolibri/issues/3872 is the only one I know of offhand.

we can close this one

[2019-03-28 23:12] #4175 closed, assigned to nobody

[2019-03-28 23:12] indirectlylit commented on #3872
note that we should be using `KLabeledIcon` for both the header and the progress indicator

[2019-03-28 23:13] indirectlylit commented on #3872
also I don't think we're supposed to use that face icon anymore – cc @khangmach that should just be a standard 'person' icon, correct?

[2019-03-28 23:16] indirectlylit commented on #5150
that's exactly what it does when the app bar is not set to scroll offscreen:

https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/CoreBase/index.vue#L279-L304

[2019-03-28 23:54] khangmach commented on #3872
In the coach report mocks we:
- Did away with the user face icon
- Did away with any user icon on this page and opted for name only.
- Moved 'exam performance' out of the primary header

<img width="484" alt="Screen Shot 2019-03-28 at 4 54 06 PM" src="https://user-images.githubusercontent.com/25045166/55200150-20d1ef80-517a-11e9-9e4e-37573a2258af.png">

[2019-03-29 00:51] jonboiser commented on #5316
On Kolibri beta, this only happens when the window is narrow enough that AppBar slide-up behavior is toggled on. If the AppBar has a fixed position, I don't see it.

And for me the first column seems to move around a lot when I scroll up/down.

![shifting](https://user-images.githubusercontent.com/10248067/55201925-714d4b00-5182-11e9-9d8d-096d046360f9.gif)

[2019-03-29 18:30] indirectlylit commented on #5316
you mean app bar?

[2019-03-29 18:51] indirectlylit commented on #3872
cool thanks. Regarding header semantics:

[code]

The second line is serving as a "sub-header" and not a paragraph, but we don't yet have any precedent for sub-headers in the app. Sub-headers are [a bit tricky](https://medium.com/@barvysta/if-youve-ever-had-doubts-about-how-to-mark-up-subheadings-220cbe97c361) to get right for screen readers because HTML doesn't have a built-in way of representing

[2019-03-31 13:41] MisRob commented on #4992
I'll try to prepare a first simple version of one or two rules and after we see how it works, I think that we could also possibly ask _eslint-plugin-vue_ folks if they would be interested in using code and implementing those rules right within _eslint-plugin-vue_ ? All of them are really general rules that might be useful in many projects and for us, getting some wider support from Vue community w

[2019-03-31 16:34] rtibbles commented on #4992
Yeah, I made this issue because I was surprised that they didn't already exist, anything we can do to have them maintained externally is fine by me!

[2019-03-31 16:35] rtibbles commented on #4992
Although, I note that neither of these are vuex specific (due to the way that the vuex mappers work, this would probably need to be implemented separately to the no unused vars/props etc).

[2019-03-31 16:48] MisRob commented on #4992
No problem, I'm actually planning to split it anyway for the first version and use utility functions for some common functionality. I would rather start small. It can be merged into one rule if needed later - this will be easier when compared to breaking one rule into more of them. So we should be able to provide some of them to _eslint-plugin-vue_ and keep the rest of them as our custom rules and

[2019-03-31 17:01] rtibbles commented on #4992
I think the general tendency in eslint rules (which is continued in eslint-plugin-vue) is to make rules very small, so that they can be turned on and off as desired, so I think it makes perfect sense to separate out vuex specific rules from regular vue ones.

[2019-04-01 15:58] indirectlylit opened #5335 "write gherkin stories to verify font rendering on various browsers and languages"
### Observed behavior

We don't currently verify font rendering during integration testing

### Expected behavior

We should include a cross-browser visual inspection of every language to check for artifacts.

### User-facing consequences

some users might experience issues without us knowing it

### Context

0.12.2

see also recent work related to browser detection: #4994

[2019-04-01 17:23] jonboiser commented on #3872
To stay consistent with our recent thinking on the immersive bar's label, the label coudl be "[X] Adam R Quiz Performance", since the label is supposed to be "the thing" you're looking at currently.

So:

1. Use an "X" icon, since this is a "terminal" location
1. The label should describe the current location (and maybe serve the role of a sub-header in that way)

[2019-04-01 20:31] indirectlylit commented on #3872
The hard part is the i18n translation string, because we can't just mash together `{name} {quiz name} performance`. We have one string that might be useful called a ["combined label"](https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js#L124)

So perhaps something like:

Seems a little awkward to me though... I still like the

[2019-04-01 20:36] indirectlylit commented on #3872
Totally agree though that most of this is dependent on us resolving the final convention for `h1` tags, header labels, and ←/✕ buttons, and we should decide and document that first

[2019-04-01 20:56] indirectlylit opened #5336 "specify supported browsers and operating systems with single source of truth"
### Observed behavior

Information about our 'supported platforms and browsers' are scattered around a bit. This includes:

* a [browserlist](https://github.com/learningequality/kolibri/blob/develop/browserslist) file
* information [embedded in the source code](https://github.com/learningequality/kolibri/pull/4994/files#diff-1c848f18f350e590ad2225d5e1e68317R8)
* information encoded in external spr

[2019-04-01 20:58] jonboiser commented on #3872
I don't like the idea of using different headers for the same UI. The screens will look visually distinct, but be basically the same.

[2019-04-01 21:09] indirectlylit commented on #3872
yeah, agreed

[2019-04-01 23:07] jonboiser commented on #4094
v-model.trim was removed from KTextbox in #5241

[2019-04-01 23:07] #4094 closed, assigned to jonboiser

[2019-04-01 23:10] jonboiser commented on #5228
This should be fixed by 4244766 in #5233.

[2019-04-01 23:10] #5228 closed, assigned to jonboiser

[2019-04-02 14:51] MisRob opened #5337 "HTMLHint custom rules cleanup"
There's a couple of custom HTMLHint errors. Some of them (possibly all?) might be removed and included in the autoformatting process only. Review custom HTMLHint rules in detail, remove duplicate behavior if any and move rest of the rules to the autoformatting process if possible.

[2019-04-02 15:10] MisRob opened #5338 "Define/follow return types conventions"
### Observed behavior

We've started to use a new lint rule that enforces return statement being present in computed properties but we have no convention on return types which causes inconsistency. Also it's not clear which types are considered to be valid return types and which are considered rather unexpected.

### Expected behavior

There is a set of return types rules defined (the first discus

[2019-04-02 17:05] MisRob commented on #4992
I've started working on it.

[2019-04-02 17:42] rtibbles commented on #5253
Has been resolved, please reopen if it recurs.

[2019-04-02 17:42] #5253 closed, assigned to nobody

[2019-04-02 17:50] rtibbles commented on #5336
Yeah, I think drawing from the browserlist would be ideal to get rid of the embedded in source code issue (noting that the diff you linked to is a result of transferring that checking from Python to JS, and not a new separation!).

Can fix this in the context of the PR linked above.

[2019-04-02 19:16] #4303 closed, assigned to ralphiee22

[2019-04-02 21:32] indirectlylit commented on #5336
yes, that was my fault :)

[2019-04-02 21:33] indirectlylit commented on #5336
i think? git only knows

[2019-04-02 21:33] indirectlylit commented on #4303
hooray! thanks @ralphiee22

[2019-04-02 21:51] jonboiser commented on #5338
Here's a process we can do for each component that has a method or computed property that returns `undefined` after #5331

1. If the function returns the union type `A | undefined` , change it so it only returns `A` by replacing the returned undefined with the "neutral" value for type `A` (e.g. `''` for `String` or `[]` for `Array`, etc.).
1. Look at all dependents of the function.
1. If the the f

[2019-04-02 23:30] bjester commented on #5338
I caught sight of the PR and just wanted to throw in my own thoughts in case they may be helpful.

An empty array could be a meaningful result, so replacing what would be a missing `return`, `return undefined` or `return null` with `return []` doesn't convey the same thing, in my opinion. I think it's similar for strings and others.

An example that comes to mind to explain this would be an asynch

[2019-04-03 00:14] jonboiser commented on #5338
I think this is could be up to personal preference, especially since we're discussing usage within Vue components. I think for general functions it might make sense to pass on failures/nulls (although sometimes it's nice when functions handled failures gracefully).

But within a component, if you have a computed property called `transformedData`, and this template:

[code]

You would actually get

[2019-04-03 04:30] MisRob commented on #5338
Although Vue components were the first reason for this discussion, would it make sense to define how it's supposed to work for all functions in general, not just for Vue components computed and methods? Also, the discussion in #5331 was general enough I think. Sometimes you can actually use various utils or API calls within Vue components so I suppose it should play well together as well? And it m

[2019-04-03 04:53] MisRob commented on #5338
Other than that, @jonboiser strategy for updating those particular places from #5331 makes sense.

[2019-04-03 07:37] swapnil106111 opened #5342 "Kolibri page not loading for few seconds."
### Observed behavior
When we stop and start the kolibri server, we observed that for few seconds it will not load kolibri page(127.0.0.1:8080). It will show a content like "This site can’t be reached".

But when we restart the server, it works as expected.

### Expected behavior
After stop and start the server, it must load the kolibri page.

### Steps to reproduce
1. Stop the server
2. Start the

[2019-04-03 11:28] jredrejo opened #5343 "When startremotechannelimport is executed for the first time a 404 error happens"
### Observed behavior
If a channel has not being imported before, the first time it's selected in /device/#/content/channels
will produce always these two JavaScript errors, visible in the browser console:

[code]
Selecting the channel for the second time does not produce the errors, as the database already has the information needed to answer the `/device/api/device_channel/0e173fca6e9052f8a474a2

[2019-04-03 15:01] rtibbles commented on #5336
It was both our faults. First mine for the unsupported browser context flag, and then yours for following my folly with the font loading logic.

[2019-04-03 15:32] bjester commented on #5338
That's a good point!

Also, returning `null` gives you the ability to be as explicit or implicit as you want in the template, which in my experience is great.

@jonboiser In your example, I think allowing `null` to be implicitly handled as `[]` is just fine, but if you wanted to be explicit, you would still have the option to do so if `null` was returned:
[code]
given a defined `coalesce` filter,

[2019-04-03 17:06] jonboiser commented on #5343
I've noticed this too when looking at #5228.

If you look at the order the code is _supposed_ to be executed, I'm pretty sure no calls should be made to device_channel before the channel metadata has been added to the DB, etc.

My suspicion is that this might be one of those premature execution of `then` callbacks we've seen with ConditionalPromises.

On the other hand, I'm not sure if this happen

[2019-04-03 17:13] rtibbles commented on #5343
Are there any places where we still use a shared `pageState` at the top level? If we've modularized everything to the point where we are not doing this, we may be able to phase out the conditional promise completely.

I suppose the other way of asking this is 'where do we still use samePageCheckGenerator' and the `only` method?

[2019-04-03 17:18] jonboiser commented on #5343
We use `samePageCheckGenerator` almost exclusively in the `handler.js` files, so they are meant to guard the final state-setting step in handler functions used in Vue Router (and make sure that the state-setting mutation happens only if you are in the same exact location when the network  requests kicked off).

And there is no more top-level polymorphic `pageState` used in our vuex.

It'd be nice

[2019-04-03 17:22] rtibbles commented on #5343
As our handler functions are just Vue Router entry guards - maybe the solution is to allow them to implement optional 'exit' guards that prevent any state setting from occurring after exit has happened?

[2019-04-03 17:36] jonboiser commented on #5343
Yeah, if you can detect within the handler that you have exited the router location (the same way `samePageCheckGenerator` inspects that you have exited via the `pageSessionId` getter in Vuex), then we can cancel the handler function.

My more radical preferred solution is to move away from using handlers and do data fetching within components in the router lifecycle hooks. My thinking is that onc

[2019-04-03 17:52] rtibbles commented on #5343
This makes sense to me, and means that vuex state is only used for truly shared state (i.e. something that would not cause render errors if it was updated by a previous async call).

I guess the main complexity this might introduce would be the right granularity of where to make the fetches, and then handling loading states - but this would have the advantage of not wiping out most of the page wit

[2019-04-03 20:50] radinamatic commented on #5300
Now that @jonboiser mentioned this issue, I can't recall having seen this during that hack session... 🤔

I had 3 tablets opened from the same INS set, and on all of them I was able to change the speed and load different subtitles when available.

[2019-04-03 20:51] jonboiser commented on #3249
`buttons.scss` isn't exported in api-spec.js anymore, but is imported as a SASS import by components inside the 'core' folder.

[2019-04-03 20:51] #3249 closed

[2019-04-03 20:57] radinamatic commented on #5300
![IMG_20190321_143438581](https://user-images.githubusercontent.com/1457929/55512601-67ab6380-5618-11e9-9097-731cbe5b4e76.jpg)

[2019-04-03 21:24] carinediaz commented on #5300
I was having the issue @radinamatic and @jonboiser and @rtibbles asked me to file it here.

[2019-04-03 21:29] jonboiser commented on #5300
We have had different problems on the instant network schools (INS) tablets during testing on different hardware including video not playing at all (e.g. rasberry pi via ngrok proxy).

I haven't been able to see a crash in Sentry that comes from the video player, so it's possible that the video is simply not playable at an alternate speed and with subtitles and video.js is disabling those features

[2019-04-03 22:10] indirectlylit commented on #5343
This logic makes sense to me too, even though it goes against some intuitions I've had for a while about client-side routing and vuex actions. Let's give it a try and see how it feels!

One thing to watch out for is that the components are _actually_ destroyed, and not re-used by some vue optimization that might bite us... or that the components are kept around in memory until the promises resolve

[2019-04-03 22:22] indirectlylit commented on #5343
Just to throw out another option: I've been thinking that a clean way to solve this general problem might be:

* have the router provide a monotonically increasing `currentPageID` for every navigation event
* optionally (for page-dependent requests), pass in the `currentPageID` as a custom header to the API from the resource layer
* provide middleware in the Django API to reflect the ID back in re

[2019-04-03 23:13] lyw07 commented on #2544
yes the issue has been resolved. We bundle both cryptography and pyOpenSSL into kolibri, so they won't have incompatible issues depending on the distribution.

[2019-04-03 23:13] #2544 closed

[2019-04-04 15:45] indirectlylit commented on #2544
thank you!

[2019-04-04 17:32] rtibbles commented on #5343
Adding it to the request and expecting the server to handle this seems unnecessary and inefficient.

All requests are being initiated and resolved within a functional scope on the frontend, so I don't see much need to bring the server into this at all.

[2019-04-04 22:21] indirectlylit commented on #5343
🤔 I really doubt it would have any noticeable overhead. There might be more elegant solutions but reflecting an ID back to help the client track its own bookkeeping might be an easier refactor of `conditionalPromise` rather than moving all our state to components

[2019-04-05 17:22] rtibbles commented on #5343
One significant issue is that it would make every request to the API uncacheable, because each response would need to be modified to reflect the request header value.

This would add significant overhead to the server, as our most frequently requested API endpoints are the ones relating to content, which are the ones that we currently cache most aggressively.

Again, all of these requests are happ

[2019-04-05 17:23] rtibbles commented on #5343
(note that what I am saying is completely independent of a refactor to component level state - in fact the samePageCheckGenerators are currently a less abstract way of achieving what I am suggesting, in a completely clientside manner).

[2019-04-06 16:59] arky opened #5348 "[Meta] Optimize Kolibri Performance Raspberry Pi B+ (Low-end devices)"
### Observed behavior

Report from on-going deployment in Cambodia. In the training program with 20 teachers, the Kolibri performance was very sluggish. The network performance and the overall use of Raspberry Pi cpu/memory/IO was minimal.

There is delay of several seconds before a Kolibri page was displayed on the teachers mobile phones.

As a control test A/B test I had the same content hosted

[2019-04-06 17:14] arky commented on #5083
@benjaoming  I have seen this problem with Kolibri on hardware with slower network and I/O on both Raspberry Pi B+ and older i586 hardware that I refurbish as digital libraries for schools and communities.

Unfortunately I don't have much debugging information to give you precise cause of these failures.

Possibly related to similar issues we faced on Raspberry Pi pip installs.
https://github.com/

[2019-04-06 18:36] indirectlylit commented on #5343
Yeah very good point.

All of these ideas are just working around the fact that native JS promises can't be cancelled. Looks like the latest generalized solution is the new `AbortController`:

* https://developer.mozilla.org/en-US/docs/Web/API/AbortController
* https://dom.spec.whatwg.org/#aborting-ongoing-activities

Something like that would let us tear-down outstanding requests on either compon

[2019-04-06 18:45] rtibbles commented on #5343
Although, this is only for fetches, not promises. If we want to implement cancellation of the fetch themselves, we can already do that with our existing client. The issue is that the only way to communicate this cancellation through a Promise is with a rejection, so we still have to handle that in the code that deals with the results of the fetch, much as we have to do currently.

The issue still

[2019-04-06 19:31] indirectlylit commented on #5343
[Rejecting the promise](https://www.bram.us/2017/12/13/cancel-a-javascript-promise-with-abortcontroller/) with an abort error wouldn't help?

[2019-04-06 19:43] rtibbles commented on #5343
You would still need to handle the abort error in every handler with a specific catch, so it still comes down to per handler logic.

[2019-04-06 19:53] indirectlylit commented on #5343
or just handle it once in `handleApiError`?

[2019-04-06 19:54] rtibbles commented on #5343
Which has to be applied per handler.

[2019-04-06 20:34] indirectlylit commented on #5343
* storing state in transient components instead of global state
* cancellable promises
* same-page check and conditional promises
* page IDs that get reflected back from the server

they’re all implementing sort of ‘context management’ based on client-side routing... If we allow the resource layer to have knowledge of the router, a simple API might look something like

[code]

If any resource prom

[2019-04-06 21:31] rtibbles commented on #5343
Could probably just implement it as a 'cancel on route' flag, because it should be able to get the context directly from the router.

Just have to make sure that things don't go wrong when there are additional async invocations inside the promise resolution as otherwise the fetch could resolve, and then the route is exited, but further async processing would continue.

[2019-04-07 15:42] jredrejo commented on #5348
hi @arky I have not very clear how to test or reproduce the issue you mention as the comment mix `kolibri-server` and `kolibri`.
It's known that, when using kolibri-server, the first request takes a bit longer because all the cache directories are created. But that should happen only for the first requests. From that point everything should be significantly faster.
Most of the kolibri-server tests

[2019-04-08 09:04] swapnil106111 opened #5350 "Select all not working in groups"
### Observed behavior
In the coach tab, while enrolling learners in the group first select single user and then select select all option and then enroll. It will enroll only one user in the group.

### Expected behavior
When we select select all, it must enroll all users in the group.

### Steps to reproduce
1. Create the group.
2. Select one user while enrolling.
3. Then select select all in grou

[2019-04-08 14:22] indirectlylit opened #5351 "re-assigned exercise gives 500 error and does not show 'report error' page"
### Observed behavior

[reported in the forums](https://community.learningequality.org/t/bug-report-exercise-created-in-kolibri-studio-not-loading/1108):

### Expected behavior

* exercises should always load without error
* if an error does occur, we should display the standard 'unhandled error' page so it's easier for the user to report it to us

### User-facing consequences

learners experience

[2019-04-09 12:28] ghost opened #5352 "I'm new to Ubunto and keep getting this same error trying to install Python libraries using pip."
Instructions:
I was trying to install some modules using pip but keep getting this error

pip install multiprocessing
Traceback (most recent call last):
  File "/home/john/.local/bin/pip", line 7, in <module>
    from pip._internal import main
  File "/home/john/.local/lib/python3.5/site-packages/pip/_internal/__init__.py", line 40, in <module>
    from pip._internal.cli.autocompletion import auto

[2019-04-09 14:39] indirectlylit commented on #5352
Hi @JohnTheAsian -

* If you're trying to download and install Kolibri, see our [user documentation](https://kolibri.readthedocs.io/en/latest/install.html)
* If you're trying to contribute to Kolibri, see our [developer documentation](https://kolibri-dev.readthedocs.io/en/develop/getting_started.html)
* If you have general development questions, you might try [Stack Overflow](https://stackoverflow

[2019-04-09 14:39] #5352 closed, assigned to nobody

[2019-04-09 16:59] jonboiser commented on #5351
This seems like a more advanced version of #4119 and #5147, where you can have problems when revisiting exercises and videos after mastering them. However, in those cases, you get a more detailed error from the 'masterylog' endpoint.

In this issue, the error seems to be coming from the 'contentsummarylog' endpoint.

[2019-04-09 19:02] jonboiser commented on #4743
Here's what happened when I tried to reproduce it.

1. Create a new exam 'A'; left it inactive -> Not on Class Assignments Page
1. Activated 'A' -> Is on CA Page
1. As learner, clicked into 'A', but did not make any attempts. Exited without submitting.
1. As coach, deactivated 'A' -> Refreshed on CA page, and 'A' is still there with a small blue bar, indicating a tiny bit of progress and the 'in-p

[2019-04-09 22:02] jonboiser commented on #5350
This looks like the same problem in #5321, which was fixed using the technique in #5322, but only for the Facility > Learner/Coach Enrollment page.

To fix this for Groups, you must also make sure a Set of IDs is sent to the Membership API. Checking one checkbox, then select-all will result in having the first checkbox duplicated in the POST request.

[2019-04-09 23:54] jonboiser commented on #3598
As of 0.12.2 (Demo Server), Class Coaches can actually access any class's coach page, even if they are not assigned to the class (as long as they have the URL).

On the demo server, I've reproduced this using the 'jbs' account, which is a Class Coach account for only one classroom (also checked to make sure it didn't have superuser permissions).

Class coaches should only be able to view coach pag

[2019-04-10 12:51] miyer03 opened #5354 "Video status not changing on completion"
### Observed behavior

The In progress symbol of any video doesn't change to yellow on completion of the video. When the video is rerun, it turns to yellow.

### Expected behavior

The progress symbol should turn yellow on completion of the video.

### User-facing consequences
No issue on the overall functionality, but students who are used to checking the completion status, not turning yellow is

[2019-04-10 15:54] MisRob commented on #3598
This was implemented in https://github.com/learningequality/kolibri/pull/5308 (there's also a screen before and after). I've just checked `develop` one more time to be sure and following scenario works for me:

1. I created two class coaches - `coach1`, `coach2` and assigned only `coach1` to the classroom
2. visited the classroom as `coach1`, saved the URL (e.g. /coach/#/685397f1ae40e96cbdd77d9d72

[2019-04-10 16:00] MisRob commented on #3598
Though I guess it would be better to display something more informative, this message doesn't make much sense in this situation. I suppose that this depends on those more granular role FE checks that Richard mentioned already above, right?

[2019-04-10 16:48] jonboiser commented on #3598
Okay, so to fix this for 0.12.3, we will need to cherry pick #5308 into release-v0.12.x

[2019-04-10 16:49] arky opened #5355 "[Feature] Request Guest Access as default landing page"
It would be great to have an option to make the guest access page as the default landing page instead of current login page.

An option to make the 'All Channels' page as default landing page could be provided both in the setup wizard and also in the configuration settings.
This feature is important for our deployments in Cambodia.

### User-facing consequences

At the moment, even when allow gues

[2019-04-10 16:50] arky commented on #5342
Possibly related to https://github.com/learningequality/kolibri/issues/5348 ?

[2019-04-10 17:00] arky commented on #5348
@jredrejo This is real world field test with over 20+ teachers. Perhaps the best way to reproduce this problem is do a vanilla install of Kolbiri following documentation for Raspberry Pi and doing loading testing for lot of simultaneous users.

https://www.instagram.com/p/Bv-lPf9FTEu/

The behaviour was seen all through the sessions not just the first request. I had connected to the Raspberry Pi v

[2019-04-10 20:39] indirectlylit commented on #4743
We decided that quizzes become considered "started" as soon as the learner looks at it, so the behavior seems almost correct.

This seems like the issue: At this stage, I would expect the status to switch from 'in-progress' to 'completed' because the teacher has decided that the quiz is over; the number of questions answered seems irrelevant.

curious .. I wonder why I didn't see that.

[2019-04-11 18:01] MisRob commented on #3598
@jonboiser PR is open #5356

[2019-04-11 22:48] indirectlylit commented on #3598
Good idea. Would you mind opening a new issue for this?

Maybe a simpler hack could work?

[code]

[2019-04-12 18:16] khangmach opened #5358 "Move points indicator from user dropdown into Learn Topnav"
### Observed behavior
Points are missing from the topnav view and are nested in the user dropdown

### Expected behavior
- Points moved back in their original spot in the learn topnav
- Points removed from the user dropdown
- ~Clicking on the point leaf icon brings the learner to their profile~
- Tooltip behavior stays the same

![points in topnav](https://user-images.githubusercontent.com/2504516

[2019-04-13 08:23] MisRob commented on #5266
@jonboiser After a while working on this issue and seeing `this.$refs` use cases, I am not 100% sure about it:

1. With this guard approach for each property being accessed, we could also easily swallow errors that should be actually reported - like when someone forgets to add `ref` attribute to a child component. So far, I wasn't able to find out how to differentiate between ref being defined but

[2019-04-13 08:40] MisRob commented on #3598
Sounds good to me! Another solution might be returning some sort of internal error code/type from API and only defining a message for this error code on FE side.

We already have an issue for these things - #5305. I've just checked it and can see that @jonboiser has already added this scenario to a list (last point).

[2019-04-13 14:58] rtibbles commented on #3598
Given that we can tell if someone is signed in, and we can tell if someone is a coach, all in the frontend, I don't think we need to return a custom status, because we can work it out.

[2019-04-13 15:06] MisRob commented on #3598
The idea behind this was that BE usually knows exactly where was the problem and why it sends (any) error status to FE. Sometimes there can be more problematic scenarios than one or two and I'm not sure how reliable will be to "guess" what happened in general. But I've seen just a tiny portion of error handling so don't know if this is needed, was just an idea. If there are not many situations to

[2019-04-13 15:14] rtibbles commented on #3598
I assume that the backend permission check is just seeing if the user has coach permission for the particular classroom, so without adding extra logic it has no more information than the frontend, and the frontend already knows the extra context (this user is logged in and has a coach role).

I think in general the BE actually tends to have less contextual information - although one place I can th

[2019-04-13 15:18] MisRob commented on #3598
Yeah if I can remember right, in this case, it is so indeed.

[2019-04-13 17:58] MisRob opened #5360 "Auth message is not displayed on classes page for unauthenticated users"
### Observed behavior

When logged out user tries to access a learner's classes page, an unexpected error is displayed

<img width="709" alt="Screenshot 2019-04-13 at 19 56 57" src="https://user-images.githubusercontent.com/13509191/56083512-4facbe80-5e26-11e9-8a31-9f1c843e7c9b.png">

### Expected behavior

"Did you forget to sign in? You must be signed in as a learner to view this page " shows up

[2019-04-13 18:02] MisRob commented on #5360
First investigation showed:

When logged out user visits `learn/#/classes`, following happens
- API returns `403`
- When `CoreBase` is mounted within `LearnIndex`, `authorized` prop is not passed in (I suppose that’s because we allow logged out users to access Channels and Recommended sections maybe)
- `authorized` is set to `true` by default in `CoreBase` which causes `notAuthorized` computed pro

[2019-04-13 19:13] MisRob commented on #5360
Or, based on the fact that there are pages that need to control this behavior, I was also thinking if it would make sense to pull out `AuthMessage` and `AppError` from `CoreBase` and handle it rather locally which would make these things a bit more flexible.

[2019-04-13 21:19] indirectlylit opened #5364 "tox tests won't run on mac"
### Observed behavior

we currently leverage the daemonization (background) mode of kolibri for tox tests, but this doesn't work on mac so tests stall

see also https://github.com/learningequality/kolibri/issues/4821

### Expected behavior

tox tests should work on mac

### User-facing consequences

mac devs cannot run tox tests locally

### Errors and logs

…

### Steps to reproduce

run `tox -e

[2019-04-15 06:18] rtibbles commented on #5309
Fixed in #5361

[2019-04-15 06:18] #5309 closed, assigned to MisRob

[2019-04-15 10:50] dolfandringa opened #5366 "Kolibri fails to start when using Postgresql DB with a big content library with django.db.utils.DataError: integer out of range"
### Observed behavior
Kolibri fails to start with PostgreSQL when trying to import a big content dataset (from Khan Academy). When copying a large amount of content (like the full Khan Academy library) folder and then starting starting kolibri, while running the postgres db engine, the server fails to start.

### Expected behavior

Server starts normally and import Khan Academy data.

### User-fac

[2019-04-15 13:59] rtibbles commented on #5366
Looks like whatever our integer field is being interpreted by the Django ORM in Postgres is insufficient to handle the filesize of Khan Academy.

[2019-04-15 14:57] dolfandringa commented on #5366
@rtibbles indeed. SQLite doesn't distinguish between different integer sizes, but postgresql does. The Khan Academy library is around 30Gb, which is 3.22e10 bytes. The maximum value for a PostgreSQL integer is 2.15e9 (4 bytes) I think. SQLite seems to dynamically allocate up to 8 bytes depending on the value. For PostgreSQL you need to define the field as a BigInteger to get 8 bytes.

[2019-04-15 17:24] jonboiser commented on #5266
I think if it's obvious that it's safe to access things in `$refs` (like in point 2), then this is isn't necessary.

So maybe if it's been observed either in Sentry (or in tests, when the component has a test) that there is some kind of race condition where `$refs.something` can be undefined, then we put in a guard.

[2019-04-15 17:36] jonboiser commented on #5360
I'm adding this case to issue #5305. In summary, the reason we're seeing this type of error is because the `showAllClassesPage` function handles errors using the catch-all `handleApiError` Vuex action. One solution would be to replace that `handleApiError` in the catch branch with some other reasonable behavior (like redirecting to a different part of the "Learn" page)

I think to make progress on

[2019-04-15 17:41] jonboiser commented on #3598
This issue should be fixed for 0.12.3 and beyond by cherry picking the fixes into the v0.12 release branch in #5356.

[2019-04-15 17:41] #3598 closed

[2019-04-15 17:49] jonboiser commented on #4743
The card is still presenting as an in-progress exam, because the ExamLog object would still have `closed: false`, even though it is no longer active (according to the Exam object). So the card

1. should be in in-progress mode (has the icon and the "n question left" message) only if the exam is active
1. should be in "completed" mode (have the star icon and no message) when the exam log indicates

[2019-04-15 18:39] jamalex opened #5370 "Enumerating channel database files includes those that are broken symlinks"
### Observed behavior

On a RACHEL, we create a symlink within the `.kolibri/content/databases/` directory to the content databases in the RACHEL modules directory. Uninstalling a module is meant to remove the symlinks, but if the module files are somehow deleted without the cleanup scripts being run, the symlinks may be left behind but be broken.

When we then enumerate the channel database files

[2019-04-15 20:45] jamalex commented on #5370
A similar issue occurred on the same device with a corrupted (incompletely downloaded) content database. We should handle and skip in this case as well:
[code]

[2019-04-15 23:26] indirectlylit opened #5372 "error: this.$refs.sideNav is undefined"
### Observed behavior

[Observed in Sentry](https://sentry.io/organizations/learningequality/issues/933990086/?project=1379172&referrer=github_integration)

This event has only occurred one time, so it does not appear to be prevalent.

It appears that some event & timing logic is causing us to try and access a `$ref` when it doesn't exist.

[code]

It's possible that this relates to unsafe combine

[2019-04-15 23:28] indirectlylit commented on #5266
created a new issue for this particular race condition: https://github.com/learningequality/kolibri/issues/5372

[2019-04-15 23:28] #5266 closed, assigned to MisRob

[2019-04-15 23:51] jonboiser commented on #5372
Similar errors have happened elsewhere in the app, hence placing the kinds of guards mentioned in #5266 over time. For various reasons, these errors happen unpredictably, hence the suggestion in #5266

https://github.com/learningequality/kolibri/blob/1dc094a03febcbd0372b5505a2491b19fb3e7b7b/kolibri/plugins/learn/assets/src/views/ExamPage/index.vue#L184

https://github.com/learningequality/kolibri/

[2019-04-16 00:12] indirectlylit commented on #5372
Could this be a Vue bug? Or are we not respecting the component lifecycle?

My understanding is that as long as we do the following, we shouldn't encounter `undefined` refs:

* `$nextTick` inside `mounted` to ensure children have also mounted
* `v-show` instead of `v-if`
* tear down event handlers on or before `beforeDestroy`

I see what you mean that checking for `undefined` is a common pattern t

[2019-04-16 00:49] rtibbles commented on #5360
I think that there are quite a few places where we use the `handleApiError` without any extra handling, which I assume was only originally meant as a first pass catch all, it's probably a good idea for us to implement some more intelligent error handling!

[2019-04-16 05:41] MisRob commented on #5372
Parent component waits for all children to be mounted before it mounts itself so if I can understand that right, `$nextTick` inside `mounted` might be unnecessary?

Agree that it would be worth investigating what's happening at this particular place in detail to be sure what's the problem exactly at first (and hopefully this will help us to understand all similar problems if anything like that occ

[2019-04-16 08:42] MisRob commented on #5372
^^^^
Was thinking about what Devon said and I wonder if this could be the case actually :)

`window.removeEventListener('focus', this.containFocus, true);` is called only when navigation closed but I think that this event listener might survive a while longer than needed when a navigation item clicked. I'm not sure if I can understand how the navigation works in detail yet, but after a brief look,

[2019-04-16 09:09] MisRob commented on #5372
Hmm but when I'm thinking about this "destroyed" part, destroy hooks won't be probably even called when redirecting to a new page in this way.

[2019-04-16 17:30] MisRob commented on #5360
@jonboiser OK 👍 , didn't notice that it's related to #5305. Also thanks for the overview of Vuex part of error handling.

[2019-04-16 17:48] rtibbles commented on #4088
Second part resolved in #5359

[2019-04-16 17:48] #4088 closed, assigned to MisRob

[2019-04-16 18:49] indirectlylit commented on #3451
the flip side: https://github.com/learningequality/kolibri/issues/1958

[2019-04-16 18:49] indirectlylit commented on #1958
the flip side: https://github.com/learningequality/kolibri/issues/3451

[2019-04-16 20:11] indirectlylit commented on #5372
That's what I would have assumed too, but [the docs say](https://vuejs.org/v2/api/#mounted) that `mounted` does not guarantee that all child components have also been mounted, and recommends using `$nextTick`

[2019-04-16 20:22] indirectlylit commented on #5372
Yes, most nav items should just be basic `<a>` links to other pages. There is at least one action that stays inside the SPA - showing the privacy info modal. The two instances @jonboiser showed above are cases where you stay within the SPA, too.

I don't think it's destroyed in the Vue component lifecycle sense. My understanding is that on a browser navigation event, JS execution simply "stops" an

[2019-04-16 20:34] MisRob commented on #5372
Yes, you're right, I realized later that we're not dealing with navigation within one app in this case.

Good to know! I read that all children are mounted before the parent in the past but totally missed that it could happen that it might not finish in time. Thanks for the reference.

[2019-04-16 21:12] lyw07 opened #5375 "rule dockerenvdist does not exist in Makefile"
### Observed behavior

When running the rule `docker-deb`, it has an [instruction](https://github.com/learningequality/kolibri/blob/develop/Makefile#L224) saying that `make dockerenvdist` or `make dist` should have been run.
However, the rule `dockerenvdist` does not exist in the Makefile.

### Expected behavior

Instructions given should be correct

### User-facing consequences

Developers who ru

[2019-04-16 21:51] indirectlylit commented on #5375
+1

I just came across this, too

[2019-04-17 02:34] #2959 closed

[2019-04-17 02:34] #4809 closed, assigned to nobody

[2019-04-17 11:13] miyer03 opened #5377 "Auto sign-out from tablets during normal class"
**Observed behavior**
Kids are signout out of their tabs automatically while watching videos or doing quizzes

**Expected behavior**
The user should not be signed out automatically.

**User-facing consequences**
While the kids are in the middle of any exercise or video, they are being automatically signed out. They need to again re-login to continue the session

**Steps to reproduce**
This happens

[2019-04-17 14:04] rtibbles opened #5378 "In group enrollment form, when empty, "select all" header abuts directly to "username" header"
### Observed behavior
When there are no users in a class, or no users left to enroll in a group, the headers of the table run together:
![image](https://user-images.githubusercontent.com/1680573/56293870-cc69c200-60de-11e9-8e31-7021ad3fe193.png)

### Expected behavior
Text spacing should be the same regardless of whether the table is populated.

### User-facing consequences
Limited, but it looks a

[2019-04-17 14:05] rtibbles commented on #5350
This is fixed in #5353 and should be in the 0.12.3 release.

[2019-04-17 14:05] #5350 closed, assigned to jonboiser

[2019-04-17 17:26] indirectlylit commented on #2959
Note, I haven't actually tested to see if this works as expected

[2019-04-17 18:22] MisRob opened #5380 "Add vue-watch-no-string eslint rule"
As discussed [here](https://github.com/learningequality/kolibri/pull/5374#discussion_r275948780), add a new eslint rule that disallows string methods syntax in watchers.

[code]

[code]

[2019-04-17 19:37] indirectlylit opened #5382 "upgrade sqlalchemy to 1.3.x"
### Observed behavior

there are two security CVEs for our current version:

* https://nvd.nist.gov/vuln/detail/CVE-2019-7548
* https://nvd.nist.gov/vuln/detail/CVE-2019-7164

They don't seem to impact our code so they're not critical, but we should upgrade regardless

### Expected behavior

Currently we store old DB schemas in [pickled binary files](https://github.com/learningequality/kolibri/tre

[2019-04-18 03:03] #3609 closed

[2019-04-18 18:45] MisRob opened #5385 "Do not report properties/methods accessed via instance parameter in `beforeRouteEnter` as unused"
Currently, `vue-no-unused...` rules are able to detect properties/methods accessed with `this` keyword. But `this` is not available all the time, for example in `beforeRouteEnter` hook. The rule should be able to detect that the method was also used via `next` instance parameter.

### Observed behavior

A property/method used in `beforeRouteEnter` hook is reported as unused.

[code]

### Expected

[2019-04-18 19:55] indirectlylit commented on #5358
@khangmach any guidance for mobile?

[2019-04-18 19:59] indirectlylit commented on #5033
Let's go with this option because it's a bit simpler to implement:

[2019-04-18 20:05] indirectlylit commented on #4926
@jredrejo would you might implementing this?

[2019-04-18 23:23] #5366 closed, assigned to nobody

[2019-04-19 15:23] MisRob commented on #5385
Closed in #5394

[2019-04-19 15:23] #5385 closed, assigned to MisRob

[2019-04-19 16:37] #5380 closed, assigned to MisRob

[2019-04-19 17:42] jonboiser commented on #5377
Hopefully this gets fixed by #5393, as it seems in the screenshot that the user was not logged out, but encountered an unhandled error. Seeing the Error Page in response to the non-unique log id is new to me though; usually it just resulted in a console error, but the rest of the app still ran fine.

There is a similar issue #3843, which manifests differently (the user actually gets sent to the si

[2019-04-19 17:59] jredrejo commented on #4926
@indirectlylit I am not sure about what you have in mind with this issue. If it's only to report more information, it's done in #5396 . If you are thinking of something else, can you elaborate it a bit?

[2019-04-19 21:20] #4024 closed, assigned to nobody

[2019-04-19 21:20] #4738 closed, assigned to nobody

[2019-04-20 11:32] indirectlylit commented on #4926
yeah, I was just referring to your suggestion above. the PR is good, thank you!

[2019-04-20 22:35] indirectlylit opened #5399 "update gherkin stories for new coach report workflows"
### Observed behavior

refs: https://github.com/learningequality/kolibri/pull/5383

cc @khangmach @jonboiser @radinamatic @mrpau-dev

Do we have existing stories to work from, either from the old workflows or from the work leading up to 0.12.0?

### Expected behavior

workflows are updated so integration testing can proceed

### Context

0.12.x

[2019-04-21 20:09] #5033 closed, assigned to jonboiser

[2019-04-21 20:09] #5358 closed, assigned to jonboiser

[2019-04-21 20:14] #4992 closed, assigned to MisRob

[2019-04-22 07:47] jredrejo commented on #5147
Fixed in #5393

[2019-04-22 07:47] #5147 closed, assigned to nobody

[2019-04-22 08:14] jredrejo commented on #5342
Nope, I had also noticed this problem (and not the one related in #5348).
Checking the code I can confirm the server takes some time to start (even minutes if it's in a slow filesystem and there are a lot of content nodes in the db) due to this line of code in the starting process:
`update_channel_metadata()`
This code check is needed to fix possible mixmatches between the database content informa

[2019-04-22 13:49] rtibbles commented on #5342
`update_channel_metadata` was originally implemented to handle upgrades from significantly older versions (pre-0.6.x) as prior to that we did not store the channel metadata in the main database. We could probably do some more sophisticated checks to prevent these operations being run every time.

[2019-04-22 14:02] #5337 closed, assigned to MisRob

[2019-04-22 17:34] jonboiser opened #5403 "Add group-level reports and preview button to exercise/resource report pages"
### Observed behavior

Currently, ReportsLesson(Resource|Exercise)LearnerListPage.vue does not have

1. an option to toggle an alternative view that groups learners and presents group-level summary statistics.
1. a "preview" button that presents the resource or exercise in a way similar to the  exam or lesson creation workflow

### Expected behavior

A way to toggle group reports and preview items

[2019-04-22 17:52] khangmach commented on #5399
I do have stories but they're not formatted well. I'll write new ones for these features today

[2019-04-22 19:37] khangmach commented on #5399
Gherkin stories for these enhancements here:
https://drive.google.com/open?id=1J9X_1wag_Q5GcnK70pa9goevBHMCRNQJ

[2019-04-22 20:24] radinamatic commented on #5399
Thank you @khangmach, I'll review those and include in the next gherkin scenarios update!

[2019-04-22 20:31] khangmach commented on #5399
Thanks @radinamatic

[2019-04-22 22:09] bjester commented on #4782
@intelliant01 I don't see the attached epub file?

[2019-04-22 23:08] jonboiser opened #5407 "ContentNodeSlim Resource can reject even if HTTP response is 200 OK"
### Observed behavior

In my local version of Kolibri, the "Learn > Recommended" page will not load because the call to get popular resources from contentnode slim (via its associated JS Resource class) is sending a rejected promise:

[code]

It gets called from this line

https://github.com/learningequality/kolibri/blob/3aa83fb51868359b135a0b85d0635bae9839faa1/kolibri/plugins/learn/assets/src/mod

[2019-04-23 06:30] intelliant01 commented on #4782
@bjester  Sorry, my Bad.

Herein are 3 ePubs as per ePuB 3.0 generated using Libreoffice - [epubs.zip](https://github.com/learningequality/kolibri/files/3106094/epubs.zip)
or you may directly import them from studio - token : jafal-zovuk (files under ```ePub checks``` folder)

Apart from the fixed-libreoffice_3.epub, the other two are unusable in Kolibri.

[2019-04-23 17:09] bjester opened #5409 "Pre-commit hooks interfering with developer workflows"
### Observed behavior
Talking with @indirectlylit, some observed issues are that the existing pre-commit hooks:
- are very slow
- have issues with GUIs due to virtual envs
- interfere with in-progress commit dev workflows
- maintain rule definitions separately from Travis & dev tooling

### Expected behavior

Ideally, pre-commit hooks:
- [ ] should run as fast as possible #6583
- [ ] should suppor

[2019-04-23 18:18] MisRob opened #5410 "Simplify linting process"
1. Eliminate HTMLHint and replace all rules with eslint ones
2. Eliminate custom indent/spacing functions - some parts already are or can be replaced by `vue/html-indent`, `vue/script-indent`, for some of them we'll need new eslint rules (mostly spacing stuff)
2. If possible, run prettier on the entire vue component, and using the eslint-plugin-prettier.
3. Run stylelint on the entire vue componen

[2019-04-23 19:32] nucleogenesis commented on #4616
@indirectlylit @rtibbles

I am updating the copy on the banner to match the right side of this image:

https://user-images.githubusercontent.com/25045166/50116800-05ad2680-0200-11e9-848e-5b62e1bb28ef.png

The last paragraph is giving me a little trouble because it is trying to inline <KExternalLink> components inside of a string defined in the `$trs`.

Here are the relevant `$trs`:

[code]

In the

[2019-04-23 19:41] MisRob commented on #3872
I'm not 100% sure if I get the whole discussion around immersive toolbar right since I don't have much background about it yet so I'm inserting a couple of questions before starting working on that:

Should I use the mockup that @khangmach  provided us to stay up-to-date with our design files just to fix those visual details and in case there are any major logic changes needed, should it be discus

[2019-04-23 19:56] khangmach commented on #3872
There aren't rules of thumbs that we consistently follow and it's a thing that I'm working on currently. But in general, the thinking introduced long ago was that :
- terminal pages (end of a flow) were distinguished by their dark color instead of the Kolibri color.
- X topnav were used on pages that weren't part of a typical page sequence. By "page sequence" I mean pages where the main purpose is

[2019-04-23 20:27] bjester commented on #4782
I've verified that in Firefox for 0.11 and 0.12, table layouts in the following two files, do not wrap as observed, but the font resizing control does work. Chrome (and Edge as mentioned) does not share this issue.
- `heading-reflowable-libreoffice_3.epub`
- `page_break-reflowable-libreoffice_3.epub`

Also, for both Chrome and Firefox, font resizing doesn't work for the document `fixed-libreoffice

[2019-04-23 21:25] bjester commented on #4782
Not strictly mentioned in this issue, the initial load of these documents renders poorly.
![epub-initial-load](https://user-images.githubusercontent.com/819838/56616995-98f1d080-65d3-11e9-9fe2-4e08955326d4.png)

[2019-04-23 22:05] indirectlylit commented on #5355
thanks for the suggestion @arky - I've noted it in our feedback tracker. We'll update this issue if it gets put on the roadmap

[2019-04-23 22:11] indirectlylit commented on #4743
Shouldn't the quiz be considered "Completed" at this point from the learner's perspective? Whether they pushed submit or not, the quiz is over and they got a score for it.

(cc @rtibbles)

[2019-04-23 22:15] rtibbles commented on #4743
Yes - once the coach has deactivated the quiz, it is completed.

[2019-04-23 22:43] indirectlylit commented on #5410
similar issue from last year here: #4050

[2019-04-23 22:50] bjester commented on #4782
This appears to be an issue with how Firefox is handling the `writing-mode: horizontal-tb` regarding the table. If I interpret the spec correctly, Firefox is handling it correctly, since a table is block-like content by default. I would think that changing the table to `display: inline-table` would be the appropriate styling and create the expected behavior for all browsers, but it doesn't fix it

[2019-04-24 03:52] MisRob commented on #3872
Oh nice, I get it now - thanks for a nice explanation @khangmach :)

@jonboiser I'm removing this ticket from my beginners' issues for now but can have a look at navbars in general later when we have new designs.

[2019-04-24 08:33] swiftugandan opened #5414 "Cannot serve serving resources in storage when a custom KOLIBRI_URL_PATH_PREFIX is used"
### Observed behavior

* Start Kolibri with: `KOLIBRI_URL_PATH_PREFIX=/kolibri KOLIBRI_HTTP_PORT=18888 kolibri-0.12.2.pex --foreground start`
* Import PHET English Channel

[code]

Output:

[code]

### Expected behavior

* Start Kolibri with: `KOLIBRI_URL_PATH_PREFIX=/ KOLIBRI_HTTP_PORT=18888 kolibri-0.12.2.pex --foreground start`
* Import PHET English Channel

[code]

Output
[code]

### User-faci

[2019-04-24 18:41] indirectlylit commented on #5377
I'll close this and we can watch for it in 0.12.3

[2019-04-24 18:55] khangmach opened #5416 "Profile dropdown option is purple in profile page"
### Observed behavior
Profile option in user dropdown is purple **ONLY** when you are already in the profile page

<img width="830" alt="Screen Shot 2019-04-24 at 11 50 39 AM" src="https://user-images.githubusercontent.com/25045166/56685633-4376fb80-6687-11e9-93ec-2fc7a74c5787.png">

### Expected behavior
Black link text like the other dropdown options

### User-facing consequences
- inconsistency

[2019-04-24 19:22] jonboiser commented on #5416
This seems like expected behavior, because the "Profile" link has the "active link" styling.

This issue is similar to #3876, in that having a self-link on the profile page can cause unique behavior.

[2019-04-24 19:28] indirectlylit opened #8362 "upgrade KA simple-markdown for perseus-viewer"
refs:

* https://github.com/Khan/simple-markdown/pull/63
* https://nvd.nist.gov/vuln/detail/CVE-2019-9844
* https://github.com/learningequality/kolibri-exercise-perseus-plugin/network/alert/kolibri_exercise_perseus_plugin/package.json/simple-markdown/open

N.B. this may need to happen in the https://github.com/learningequality/perseus fork rather than this repo.

[2019-04-24 20:52] khangmach commented on #5416
Let's take the active link styling out, as this isn't a normal pattern we see from dropdown buttons

[2019-04-24 21:01] khangmach opened #5418 "Allow an exit path from search"
### Observed behavior
Currently there isn't a way for a user to easily exit the search view in the LEARN tab. More details here: https://github.com/learningequality/clearinghouse/issues/32. The user has to click on the hamburger menu and then click on the 'Learn' menu option again.

### Expected behavior
Have an easy way to get back to Learn home page. Swap the current appbar with a static back ap

[2019-04-24 21:19] jonboiser commented on #5416
The link components used in the top-right dropdown are the same as the ones used in the left slide-out navigation (i.e. CoreMenuOption). So, we should implement a way to override this behavior just for the drop down version?

![Screen Shot 2019-04-24 at 2 19 09 PM](https://user-images.githubusercontent.com/10248067/56694658-05d09d80-669c-11e9-8656-bc78334b5c63.png)

[2019-04-24 22:07] khangmach commented on #5416
I thought we had always used this component for the user dropdown.

<img width="203" alt="Screen Shot 2019-04-24 at 3 05 15 PM" src="https://user-images.githubusercontent.com/25045166/56697030-7a0e3f80-66a2-11e9-9fe5-88a25a558f82.png">

I would think the inverse would be ideal. The hamburger menu being an exception to any kind of dropdown component, since there's only one menu and a bunch of dropd

[2019-04-24 22:34] rtibbles commented on #5416
Slightly janky, but we could conditionalize the `active` computed property by `$slots.icon`: https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue#L17

[2019-04-24 22:51] jonboiser commented on #5416
So I guess the problem is that both the (SideNav > CoreMenu) and the Dropdown (AppBar > CoreMenu) both use the component `UserProfileSideNavEntry`, which is an anchor tag (hence it receives and active style). When it's in SideNav, we want it to be purple, but in AppBar we don't want it purple.

To simply make it not purple, could we write a CSS rule in AppBar that overrides this styling for any Co

[2019-04-25 00:32] khangmach commented on #5416
that makes sense to me :o

[2019-04-25 00:59] rtibbles commented on #5416
I can do a quick fix for this.

[2019-04-25 14:58] ivanistheone opened #5425 "Kolibri quiz data format v0 v1 update logic problem"
### Observed behavior

The demo site gets stuck when trying to access the quizzes reports and the difficult questions tab.
http://kolibridemo-ar.learningequality.org/coach/#/9a3a81c57b6bb53c748d630986fe377a/reports/quizzes/4b62e6528a7d35ed0bc08127704a7e63/questions
got to the link ^ by clicking DIFFICULT QUESTSION from this page http://kolibridemo-ar.learningequality.org/coach/#/9a3a81c57b6bb53c74

[2019-04-25 17:05] #5414 closed, assigned to nobody

[2019-04-25 19:03] indirectlylit opened #5427 "'NaN' in titles of difficult questions"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/56761336-ed22bf00-6751-11e9-937a-1d8bd4d78e96.png)

![image](https://user-images.githubusercontent.com/2367265/56761322-e5631a80-6751-11e9-837b-32e2f885b74c.png)

### Expected behavior

When there is more than one question drawn from a single exercise, the questions should be numbered with incrementing integers

###

[2019-04-25 19:03] indirectlylit commented on #5425
related

* https://github.com/learningequality/kolibri/issues/4940
* https://github.com/learningequality/kolibri/issues/5427

[2019-04-25 19:05] jonboiser commented on #3659
I'm still seeing this in local development in various Coach Pages (screen capture is going from Coach list of classes to a home page, then back).

![scroll position](https://user-images.githubusercontent.com/10248067/56761552-7934e680-6752-11e9-8165-91965b0b4a23.gif)

[2019-04-25 19:20] bjester commented on #4782
In `fixed-libreoffice_3.epub`, what's rendered visually is the document as an SVG within an `<img/>` tag. There is a significant amount of whitespace around the bottom of the images and therefore it is rendering them as large as possible even though it doesn't look like it. Also, since the contents are rendered as an SVG blob within an `<img/>`, the font resizing doesn't apply to the SVG contents

[2019-04-25 19:43] radinamatic commented on #5427
Yep, came up during the demo today... :confused:

[2019-04-25 20:14] indirectlylit opened #5428 "option to change password is not visible"
### Observed behavior

Report [from the forums](https://community.learningequality.org/t/ability-to-change-password/1132) that users cannot change their passwords:

Profile page:

Facility settings:

### Expected behavior

Users should always be able to change their passwords

### User-facing consequences

Need to get the super admin's help with passwords

### Errors and logs

None

### Steps to r

[2019-04-25 22:43] #5416 closed, assigned to rtibbles

[2019-04-26 04:34] intelliant01 commented on #4782
I agree on the ```fixed``` layout epub's analysis. I actually had no issues with its rendering. It is exactly as expected. Should have mentioned this in my comment above.

[2019-04-26 14:02] radinamatic opened #5432 "[Errno 13] Permission denied: 'SQLITE_MAX_VARIABLE_NUMBER.cache'"
### Observed behavior
Error `[Errno 13] Permission denied: 'SQLITE_MAX_VARIABLE_NUMBER.cache'` appears while testing the `deb` asset from #5344 on Ubuntu 16.04, replicable on Ubuntu 18.04.

![Ubuntu 18 04 upg (start)  Running  - Oracle VM VirtualBox_555](https://user-images.githubusercontent.com/1457929/56813030-6c8cbd00-683c-11e9-81f9-403e20c4c91b.png)

### Expected behavior
`kolibri manage dbres

[2019-04-26 17:10] indirectlylit commented on #5432
ref: https://github.com/learningequality/kolibri/pull/5362

[2019-04-26 17:23] jamalex commented on #5432
Could you do an `ls -la` in the directory containing `SQLITE_MAX_VARIABLE_NUMBER.cache`?

[2019-04-26 17:48] jonboiser commented on #5428
This was caused by this change https://github.com/learningequality/kolibri/commit/26e7aa09c1b89f4c397ec1be73b137defde7fde6#diff-e6f9d430bec93da2796a5f3a068d8e6dL312

and not updating all the property names of the `facilityConfig` copy that was also loaded into `state.core.facilityConfig`

[2019-04-26 21:34] #4926 closed, assigned to jredrejo

[2019-04-26 21:37] indirectlylit commented on #4474
this has hopefully been mitigated by the change in #5404

[2019-04-26 21:37] #4474 closed, assigned to nobody

[2019-04-27 09:02] intelliant01 opened #5437 "Hyperlinked video content not playing within HTML5 resource"
### Observed behavior

Embedded video content plays fine as can be seen in slide 8 of this [resource](https://studio.learningequality.org/channels/996106a28da34ad893b610be63cd410c/edit/dedd941/aae36b0).

However, hyperlinked videos are not "clickable" but open fine in new tab with Ctrl+Click or link copy+open in new tab. A hyperlinked video is accessible from the ```Resources``` button at top of t

[2019-04-28 22:55] indirectlylit commented on #4743
Updated title to "inactive quizzes are not marked as 'completed'".

One issue here is that the current concept of active vs inactive sounds like something that can be toggled back and forth, but in actuality it's kind of a one-way street.

@khangmach @jtamiace perhaps this is an opportunity to address some feedback we've had?

1. the process of activating a quiz is confusing since it's deep in the

[2019-04-29 14:40] rtibbles commented on #4743
Can we dig deeper on the feedback prompting the 'share answers' stage before committing to this? My concern here is that it pushes the quizzes more towards summative assessments (where it could potentially be left in a state where no feedback is given), and I don't recall any strong feedback about student cheating or some such that might prompt such concerns.

[2019-04-29 17:09] khangmach commented on #4743
Yeah I'd like to table any further designs on this until we get more field feedback on current quizzes.

[2019-04-30 00:51] #1577 closed

[2019-04-30 00:51] khangmach commented on #1577
Lack of information

[2019-04-30 10:20] miyer03 opened #5440 "Submit button on top right corner of a quiz"
**Observed behavior**
The students sometimes directly press the Submit button on the top right corner of any quiz without even start or just after attempting the first question. This inturn directly completes the quiz.

**Expected behavior**
The Submit button appears in the last page of the quiz so that students don't press it by mistake. On the last page of the quiz we can have the submit button

[2019-04-30 19:54] jonboiser opened #5443 "Making quizzes from topics with many duplicated exercises (e.g. in KA) can result in repeated questions"
### Observed behavior

In Khan Academy, for example, the same math exercise can appear in 10+ different topics under the umbrella "Math" topic.

So if you create a quiz and select all of "Math" as the source of exercises, you have a high probability of getting _question_ 1 of the same _exercise_ multiple times in the exam. (Questions are sub-parts of Exercises).

### Expected behavior

Selecting a

[2019-04-30 20:21] #5242 closed, assigned to jonboiser

[2019-05-01 17:44] rtibbles commented on #5370
Fixed in #5419

[2019-05-01 17:44] #5370 closed, assigned to lyw07

[2019-05-01 20:06] lyw07 commented on #2512
~~One question I have is about the `log/daemon.log`. We currently don't make the process in macosx go daemon, so the name `daemon.log` may not cover all the platforms we have.~~

Never mind. I think I misunderstood the question.

[2019-05-01 20:09] rtibbles commented on #2512
I wonder if it would be helpful to have a single log file, but then add rotation?

[2019-05-01 21:37] indirectlylit commented on #5146
if and when we do this, we should also apply to the main docs -^

[2019-05-01 21:40] indirectlylit commented on #4743
yup that was just speculation

We have gotten pretty clear internal feedback that active/inactive inside detail editing is confusing, and people want a more straightforward way to enable quizzes

[2019-05-01 21:42] indirectlylit commented on #4743
I did take this thread a bit  off track from the original issue:

will add the rest to clearinghouse

[2019-05-02 00:36] jonboiser commented on #5428
So, the users observing this with 0.12.2, do so for a different reason, since #5340 is not part of that codebase.

[2019-05-02 00:40] jonboiser commented on #5428
To fix this for 0.12.2, we should

1. Put the option to toggle the `learner_can_edit_password` field back in the Facility Configuration page.
1. Make sure the Profile Page allows learners to edit passwords if `learner_can_edit_password` is set to true.

[2019-05-02 00:42] rtibbles commented on #5428
2) is definitely already the case.

[2019-05-02 00:43] rtibbles commented on #5428
Looks like we can do 1) for 0.12.3, as the required string still exists!

[2019-05-02 01:10] jonboiser commented on #5428
Updated #5433 to add 'learn can edit password' back to the UI. And opened #5447 to fix this for release0.12 branch.

[2019-05-02 18:14] lyw07 commented on #2512
@rtibbles do you mean getting rid of the server.log file?

[2019-05-02 19:19] rtibbles commented on #2512
Yeah, given that server.log doesn't contain much, I'm not sure I see a reason for keeping it separate, as long as the log messages are clearly differentiated?

[2019-05-02 19:25] lyw07 commented on #2512
Thank you! I think one thing different from server.log and kolibri.log is that kolibri.log does not contain the stderr messages as server.log? I'm wondering if @benjaoming has some thoughts on this.

[2019-05-02 19:30] rtibbles commented on #2512
Yeah - this was mostly some input based on my experience trying to get logs from people - normally one of the log files gets forgotten because there are two :)

[2019-05-02 23:23] indirectlylit commented on #5440
@miyer03 feel free to give feedback on a proposed change in #5448

[2019-05-03 00:29] #5427 closed, assigned to jonboiser

[2019-05-03 00:32] #4940 closed, assigned to jonboiser

[2019-05-03 00:37] indirectlylit commented on #2512
definitely agreed on a single file. even as an "advanced user" I've never understood the difference, and never know where to look.

[2019-05-03 02:43] indirectlylit commented on #4765
fixed by @jonboiser in #5431 (https://github.com/learningequality/kolibri/commit/f1b9a0fefd3e2e0b808b53b0e3e16e98b5f7326f)

[2019-05-03 02:43] #4765 closed, assigned to indirectlylit

[2019-05-03 02:46] indirectlylit commented on #5403
@jonboiser @MisRob FYI this issue will require adding new strings, and string freeze is next Thursday. If this seems too ambitious to achieve, we should remove it from the 0.12.y milestone.

[2019-05-03 03:59] MisRob commented on #5403
JB already told me that this issue has a priority so I stopped working on other issues and have started working on this one yesterday evening and will continue today. I'll do my best to open the PR by the end of this week. So maybe we could leave the milestone here and then we'll see?

[2019-05-03 16:17] lyw07 commented on #2512
makes sense to me. I will merge the two log files into one kolibri.log and add rotation based on days.

[2019-05-03 16:18] radinamatic opened #5450 "JSON parsing error when running server in environment with 2 CPU cores"
### Observed behavior

When setting up a new dev environment on a VM machine with just 2 CPU cores, run into JSON parsing error. @rtibbles pointed out it was happening here:

[code]

https://github.com/learningequality/kolibri/blob/develop/packages/kolibri-tools/lib/webpackdevserver.js#L114
Which means it gets done on module import, not just when the module is run as main (for the non-multi-core r

[2019-05-03 17:02] bjester commented on #5354
Verified that upon finishing the video, the progress indicator now turns to completed yellow state on the video page as well as the parent topic, and the coach view.

Tested with `v0.12.3-alpha0`

[2019-05-03 17:02] #5354 closed, assigned to jonboiser

[2019-05-03 17:47] bjester commented on #5425
I was unable to reproduce this issue following the reproduce steps. The difficult questions report loaded for me in 0.12.2 after creating an exam in 0.11.1 and upgrading to 0.12.2.

[2019-05-03 17:52] bjester commented on #5425
No issues with the `0.12.3a0` pex either.

[2019-05-03 18:56] ivanistheone commented on #5425
Okay that's weird—maybe it was some temporary caching issue?

I just went to the difficult questions link posted above http://kolibridemo-ar.learningequality.org/coach/#/9a3a81c57b6bb53c748d630986fe377a/reports/quizzes/4b62e6528a7d35ed0bc08127704a7e63/questions  and it seems to render fine now. I have not updated that demo server in the meantime.

Or perhaps the error was occurring because the lis

[2019-05-03 19:10] bjester commented on #5425
@ivanistheone I just created a new quiz and looked at the Difficult Questions report for the quiz without a learner having completed it, and saw no errors. I also completed it as a learner with 100% score and again, saw no errors. So I agree, perhaps it was a random issue and everything looks good now! I will close it.

[2019-05-03 19:10] #5425 closed, assigned to indirectlylit

[2019-05-03 20:16] indirectlylit commented on #5403
sounds good. Another technique is to do the updates in two stages:

* initial PR with just the static component structure and strings for translation
* second PR hooking up logic and data, which can be after string freeze

[2019-05-03 22:40] #5450 closed, assigned to rtibbles

[2019-05-04 15:03] MisRob commented on #5403
Good idea, thanks.

[2019-05-04 15:51] MisRob commented on #5403
I've just studied translations and existing translation files and found out that both "Preview" and "View reports by" are actually translated already (`previewLabel`, `viewByGroupsLabel`) from the past even when strings are currently not being used anywhere :)! According to mockups, it seems that there are no other new strings needed.

[2019-05-06 17:54] KW4NP opened #5454 "malformed database"
### Observed behavior

…

### Expected behavior

Kolibri should have started but did not.  Deleting the db.sqlite3 file did not help.  It looks like it could actually be a content database issue but the error does not specify which database is causing trouble.

### User-facing consequences

We can't use Kolibri, and the box is scheduled to leave to an area with very little opportunity for support

[2019-05-06 18:12] rtibbles commented on #5454
This looks like an issue with a corrupted job_storage file.

Could you try deleting the `job_storage.sqlite3` in the home directory, and see if this fixes the issue?

If so, we can add some automated catching of this kind of error in future.

[2019-05-06 18:19] indirectlylit opened #5455 "Add 'update notification' strings to the app"
### Observed behavior

We have the ability to display upgrade notifications, but don't currently have any translated strings to do it. We're [iterating on the strings here](https://docs.google.com/document/d/1Lk_VZOcISqAkDO_-ZK2oIStRUg8M01ySdLyIktTerog/edit#).

### Expected behavior

Let's add these strings to a javascript file in the app to ensure we have them available.

### User-facing conseque

[2019-05-06 18:35] KW4NP commented on #5454
@rtibbles , that did not seem to help.  It looks like the same error coming back.

[2019-05-06 18:51] jonboiser commented on #5265
Here is a more extreme case that a fix to this issue should address as well. At the wide-screen (doesn't happen on narrower views), the points icon tooltip appears very far below the points icon. It may be actually trying to place itself below the AppBar, but not sure why this doesn't apply on smaller screens.

<img width="483" alt="Screen Shot 2019-05-06 at 11 49 50 AM" src="https://user-images.g

[2019-05-06 18:51] rtibbles commented on #5454
OK, yeah looks like it is not the job storage DB, but a malformed Content database. Could you try deleting `131e543dbecf5776bb13cfcfddf05605.sqlite3` from the `content/databases` folder in the kolibri home dir?

[2019-05-06 19:01] jonboiser opened #5456 "ContentNodeSlim "popular" view can return an empty string as response"
### Observed behavior

Related to #5407, a request to `/api/content/contentnode_slim/popular/?by_role=true&include_fields=num_coach_contents&contentCacheKey=1556915747`

Is returning a 200 response with `""` on my local version, which in turn causes the problem in #5407. The other detail view ("resume" and "next_steps") are working correctly.

**In the Network inspector in chrome dev tools**

<img

[2019-05-06 19:06] KW4NP commented on #5454
It looks like that was it.  What causes the content database to become corrupted?  Do I need to re-download that content?

Sent from my Phone

[2019-05-06 19:07] rtibbles commented on #5454
Yes, it looks like the DB was probably corrupted during download, so it would probably need to be reimported, yes.

[2019-05-06 19:56] jonboiser commented on #5428
Forgot to add a Changelog entry for #5447. We should also update the forum users after 0.12.3 is released.

[2019-05-06 20:09] #5428 closed, assigned to jonboiser

[2019-05-06 23:45] indirectlylit commented on #5378
I'm not reproducing:

![image](https://user-images.githubusercontent.com/2367265/57261805-4de9ab80-701e-11e9-851b-b40147419700.png)

browser & OS?

[2019-05-06 23:49] indirectlylit commented on #5265
I've also noticed some issues where scrolling causes the tooltip to get super confused

[2019-05-07 00:43] khangmach commented on #5399
ref: https://github.com/learningequality/kolibri/pull/5460

[2019-05-07 00:44] indirectlylit commented on #5399
hey @jonboiser @radinamatic -

@khangmach was kind enough to open a PR. feel free to give feedback and then we'll merge in

[2019-05-07 01:48] rtibbles commented on #5378
Chrome 72/Ubuntu 16.04.

[2019-05-07 17:34] jonboiser commented on #5378
And the French translation of that phrase is a lot longer.

Originally, that "select all on page" label was hidden, but in the code as an ARIA attribute. Maybe we could just use a shorter phrase like "select all"

Also, we might consider using fixed width column on our tables. The lack of fixed width columns can lead to inconsistencies when paging through data on a table (each page, different widt

[2019-05-07 17:59] rtibbles commented on #5378
Yeah, almost certainly a translation string length issue.

[2019-05-08 00:06] jonboiser opened #5462 "Edge cases when deleting all recipient groups for a lesson (and probably quizzes)"
### Observed behavior
Setup:

1. Create a Lesson and assign to a group
1. Delete that group. Now the Lesson is literally assigned to nobody.

**Problem 1: Reports incorrectly say lesson recipient is "Entire class"**

On Plan page: "Assigned to nobody" has no more recipients

![Screen Shot 2019-05-07 at 4 56 48 PM](https://user-images.githubusercontent.com/10248067/57340218-b6518f00-70e9-11e9-999b-

[2019-05-08 17:45] KW4NP commented on #5454
Thanks for your help.  It seems to be fixed now, but that is not a beginner level error.  You might want to consider some way to at least indicate which database is down.

[2019-05-08 17:47] rtibbles commented on #5454
Yes - we have a soon to be released fix to handle corrupted database files automatically!

[2019-05-08 17:49] KW4NP commented on #5454
That will be nice - a little late for me though.  I will close the issue as you have a fix to be released.

[2019-05-08 17:49] #5454 closed, assigned to nobody

[2019-05-08 22:13] jonboiser opened #5464 "Edge case with long, unbroken title on content cards"
### Observed behavior
Related: https://github.com/learningequality/kolibri/issues/5468

These are some PDFs from the TESSA channel, which have as their title, a very long single word, like "namba_ya_moduli_1__kusoma_na_kuandika_kwa_madhumuni_mbalimbali_printable"

On the cards, this ends up being completely elided:

![Screen Shot 2019-05-08 at 3 10 45 PM](https://user-images.githubusercontent.com/

[2019-05-08 22:24] jonboiser commented on #5403
This feature was added in #5453 and should be available in the 0.12.4 release

[2019-05-08 22:24] #5403 closed, assigned to MisRob

[2019-05-09 00:13] jonboiser commented on #5418
Implemented in #5459, but looks a little different than the description in the original post (different color, label, and back link behavior).

[2019-05-09 00:13] #5418 closed, assigned to nucleogenesis

[2019-05-09 10:21] benjaoming commented on #2512
The current logging is error-prone, the intention of how to design logging is in the issue description :arrow_double_up:

@lyw07 rotation also has options for log length IIRC, so we could rotate based on some different parameters.

Regarding the talk of a single log, be mindful that logging is initiated at a certain point in our load stack and we want to probably keep the `daemon.log` for other pu

[2019-05-09 13:17] benjaoming commented on #2512
Oh a perhaps related issue @lyw07 -- it would seem it might be convenient to implement now --  I would like to add this issue in the mix, since it might provide more value to the `daemon.txt` log: https://github.com/learningequality/kolibri/issues/4652

[2019-05-09 13:21] benjaoming commented on #2544
Also we don't seem to support Trusty anymore really? I know that it isn't stated in the latest docs, it was intentionally removed after Trusty reached end of life 9 days ago.

Trusty is still the default VM on Travis CI, so in reality, we might keep supporting it for a bit :)

[2019-05-09 15:13] rtibbles commented on #2512
I think as far as possible we should put stuff into a single file - for the user related issue I highlight above.

We should only put stuff into separate files if there are systematic, unresolvable technical issues that prevent this, as @benjaoming suggests above.

Agree with logging from commands - but couldn't that still go into the main log file?

[2019-05-09 16:00] blindstitch opened #5466 "How to improve video quality?"
I downloaded a Khan Academy course through my Channels but the quality of the video is quite bad:
[code]
From the ffmpeg output above you can see it's 9 kbps video and 35 kbps audio at 8khz. It looks and sounds bad enough that some parts are very garbled. Does anyone know how to manually configure Kolibri to use the high-quality videos from Khan?

I see JSON profiles that refer to quality, and the

[2019-05-09 16:21] lyw07 commented on #2512
Thank you @benjaoming I will change the extension to `.txt` and put the files in a specific log directory based on your issue description.
I will also look into putting command outputs into log file.

I agree with @rtibbles that it may be better to put the logs into a single file from a user's perspective.
Similarly, I feel that rotating the log file based on the date, like what we do in KA Lite,

[2019-05-09 16:23] benjaoming commented on #2512
Sure! But it should ALSO go into `log/daemon.txt` such that we know what is being run in case of crashes.

[2019-05-09 16:25] benjaoming commented on #2512
Ah yes, sorry, I thought that the time-based and size-based behaviors could be combined. I agree @lyw07 to just use [TimedRotatingFileHandler](https://docs.python.org/2/library/logging.handlers.html#timedrotatingfilehandler)

[2019-05-09 18:18] lyw07 commented on #2512
For the command logging, do we just want to see what commands the users have invoked, or a bit beyond that, the output of the commands?

[2019-05-09 18:49] rtibbles commented on #2512
I think capturing their logging output would be useful too.

[2019-05-09 18:54] benjaoming commented on #2512
It's a bit dangerous to log/intercept the stdout of a command because it can potentially interfere with streaming output to other pipes... or I dunno, it's just Windows would seem to be a big reason to keep things really simple :)

[2019-05-09 18:58] rtibbles commented on #2512
Right - not their stdout, but if they are using logging statements, shouldn't it get captured by our logging?

[2019-05-09 19:04] #5466 closed

[2019-05-09 19:08] bjester opened #5467 "Add coach_content GET filtering to ContentNode endpoint"
### Observed behavior

While browsing channel content within Kolibri as an unauthenticated user, Coach content is correctly hidden from view. Although, as an unauthenticated user, I'm able to search for the name of the content to find it, open it, and view it.

#### Observed: Visible while signed in as user with Coach permissions
![visible-authenticated](https://user-images.githubusercontent.com/8

[2019-05-09 19:09] jonboiser commented on #5467
Some of the missing stuff looks like "Coach content" (they have that blue "person reading a book icon"), I think this is expected behavior, since you need to be logged in as a coach to see these items.

[2019-05-09 19:12] bjester commented on #5467
@jonboiser Okay so should expected behavior be that it should not be discoverable in search? Or do we care?

[2019-05-09 19:13] jonboiser commented on #5467
Expected behavior should be that Coach Content does not appear when a user is not authenticated, since an authenticated user is like a Learner, but with even less access (e.g. access to Classroom Assignments)

[2019-05-09 19:20] rtibbles commented on #5467
Seems like we don't filter based on coach content in the backend: https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/api.py#L715 although, I wonder if this is a case where filtering it on the frontend might be a better fix (to prevent the search from becoming cached on a per user basis only).

[2019-05-09 19:21] rtibbles commented on #5467
Or we should just be setting a coach_content filter GET param on the frontend - dependent on the user type.

[2019-05-09 19:22] jonboiser commented on #5467
Awhile back, @ralphiee22 implemented a filter on some ContentNode APIs that takes a `by_role` parameter (forgetting the exat usage). I assumed this was used everywhere on the Learn page to do the backend filtering

[2019-05-09 19:36] benjaoming commented on #2512
@rtibbles yes, that would be nice :)

[2019-05-09 19:46] bjester opened #5468 "many text wrapping issues related to titles in cards"
### Observed behavior

Also relevant:

* https://github.com/learningequality/kolibri/issues/5464
* https://github.com/learningequality/kolibri/issues/4419

In Firefox, titles on content cards will break in the middle of a word, splitting the word in two pieces without indication that this has happened.
![Word Break](https://user-images.githubusercontent.com/819838/57481889-0a7a8180-7258-11e9-8c50-

[2019-05-09 19:50] rtibbles commented on #5467
Yeah - that's a little problematic for caching as it uses user session info to determine the content of the query. It seems to currently be only used on recommendation endpoints (which is sort of OK, as that is per user mostly), but it is also used in the topic handlers.

We should probably change how we handle this to filter explicitly by the role, or filter after fetch on the frontend.

[2019-05-09 20:32] indirectlylit commented on #5454
fixed by https://github.com/learningequality/kolibri/pull/5419

[2019-05-09 22:43] lyw07 commented on #2512
For the rotation filenames, is it okay that we keep the default name `log/kolibri.txt.YYYY-MM-DD` instead of `log/archive/kolibri-YYYY-MM-DD.txt`?

we can definitely change the name to `log/archive/kolibri-YYYY-MM-DD.txt`, but that will require creating a custom handler class and overriding the methods of the `TimedRotatingFileHandler`. For example, to [determine which rotation files to delete whe

[2019-05-09 22:51] rtibbles commented on #2512
I guess the only issue is the windows concern where not having a `.txt` extension is difficult because it won't show/open in text messages by default?

[2019-05-09 23:03] indirectlylit commented on #2512
Right. at that point we might as well use `kolibri-log-YYYY-MM-DD` or something.

Recommend opening a follow-up issue to add the `.txt` extension, since ~it's out of scope of this issue~ the most important thing is log rotation.

[2019-05-09 23:10] #4616 closed, assigned to nucleogenesis

[2019-05-09 23:36] indirectlylit opened #5470 "remove the UserTable component"
### Observed behavior

Our `UserTable` component is serving too many purposes, united only by the fact that they happen to be tables whose rows correspond to users. It's growing into a difficult-to-maintain beast and doesn't do very much to enforce consistency over just using a bare `CoreTable`

### Expected behavior

We should remove the shared `UserTable` component and replace it with non-parame

[2019-05-10 01:39] indirectlylit commented on #5418
This is fine, but the inconsistency with lesson and quiz creation is a little odd

| search in channels | search in quizzes | search in lessons |
|--|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/57497041-cf457600-728a-11e9-96b8-684545581ade.png) | ![image](https://user-images.githubusercontent.com/2367265/57496810-bc7e7180-7289-11e9-95a6-7092103ea130.png) | ![image](https://

[2019-05-10 01:48] indirectlylit commented on #5403
In fact it will be in 0.12.y (likely 0.12.4)

[2019-05-10 05:28] indirectlylit commented on #5378
I'm fairly sure we've tried that before (along with a few other variations on table layout behaviors) and all have led to some other subtle broken behaviors. Optimal table column sizing is incredibly challenging, and for the most part I've found that default HTML behavior plus size hints like "this column should fill all the extra space" tends to behave the most predictably and effectively.

You'r

[2019-05-10 05:37] indirectlylit commented on #5467
Certainly prefer this to client-side filtering, coupled with real API-level protection checks on the session authorization. Wouldn't want the kids stealing those answer keys ;)

[2019-05-10 05:37] indirectlylit commented on #5467
0.12.y or 0.13.0? I'd lean towards the latter but don't feel strongly

[2019-05-10 16:38] indirectlylit opened #5474 "developer docs do not reflect the latest state of distribution processes"
### Observed behavior

https://kolibri-dev.readthedocs.io/en/develop/release_process.html#generate-test-and-publish-distributions

Changes have been made to the way that distributions are generated, and our release process docs don't reflect how a release manager should expect to use them. This includes information such as:

* whether anything is necessary with regard to `kolibri-server`
* any and

[2019-05-10 19:29] rtibbles commented on #5467
Fine with the latter, just so as not to add more to the plate.

[2019-05-10 19:31] jonboiser commented on #5468
It seems that Firefox doesn't support the `word-break: break-word` CSS. So the fallback `word-break: break-all` is being used.

Maybe we can remove this fallback rule.

[2019-05-10 20:28] indirectlylit commented on #5468
what was the problem with `word-break: normal`?

[2019-05-10 20:33] jonboiser commented on #5468
I don't know. It seems like it doesn't try to do anything if it's `word-break: normal`
![Screen Shot 2019-05-10 at 1 32 50 PM](https://user-images.githubusercontent.com/10248067/57555095-264d5880-7328-11e9-9685-090d1293a483.png)

[2019-05-10 20:42] jonboiser commented on #5468
Maybe we don't need a word-break rule at all, since there's supposed to be some JS that truncates long titles anyway.

[2019-05-10 20:44] jonboiser commented on #3938
I think the easiest thing to do would be to not hide these kinds of exercises, because of how fragmented the ContentNode APIs are. We would need to filter the querysets in a lot of places.

I think a message like "This exercise has no questions" instead of the progress bar would be fine.

[2019-05-10 20:45] rtibbles commented on #3938
That seems reasonable, especially as this is something that should not be allowed in publishing to start with.

[2019-05-10 23:16] indirectlylit commented on #5468
the change was in PR #4439 re: issue #4419

| before | after |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/57560825-48050a80-733d-11e9-8bf8-c0422876084a.png) | ![image](https://user-images.githubusercontent.com/2367265/57560831-4fc4af00-733d-11e9-9c68-0b13ac4b1396.png) |

That doesn't really seem like the right fix to the problem to me - we can't just break words across li

[2019-05-10 23:24] rtibbles opened #5478 "Using Django default CSRFToken can cause confusing behaviour for some system configurations"
### Observed behavior
Authentication errors leading to a confusing redirect loop when trying to login.

Fuller report here: https://github.com/iiab/iiab/issues/1532

### Expected behavior
Kolibri users should be able to login.

### User-facing consequences
Hosting Kolibri on the same domain as other Django apps may break functionality.

[2019-05-11 00:01] #5455 closed, assigned to indirectlylit

[2019-05-11 00:36] indirectlylit commented on #4419
As [indicated here](https://github.com/learningequality/kolibri/issues/5468#issuecomment-491455064), the previous solution caused real words to break at arbitrary points.

One strategy might be to have the `TruncatedText` component gracefully handle overflow, e.g. like:

@rtibbles do you see the font movement again after #5479 was merged?

[2019-05-12 19:58] benjaoming commented on #2512
I don't think @lyw07 meant that the `.txt` extension was the issue, but that the `archive/` sub directory was? But I get that it would mean to move existing log files and update documentation, so fine to skip for now.

[2019-05-12 20:00] benjaoming opened #5483 "Log files as .txt"
### Observed behavior

Windows users have issues opening up log files, and often reports lack log info (which surely could also be caused by other challenges).

This will require renaming existing log files and updating documentation.

Follow-up from https://github.com/learningequality/kolibri/issues/2512

### Expected behavior

Windows user can easily navigate to directory with log files and view

[2019-05-13 13:55] rtibbles commented on #2512
I am pretty sure that renaming the log files to all end in `. txt` is the issue, as the current log handler relies on the last part of the name to identify the historical logs? Obviously, surmountable, but not trivial necessarily.

[2019-05-13 13:57] benjaoming commented on #2512
@rtibbles I've updated the description and opened a new issue about  the whole extension thing :)

[2019-05-13 16:35] lyw07 commented on #2512
thanks! the main issue I mentioned above is related to the rotation filename. By default, the rotation filename will be `kolibri.log.YYYY-MM-DD`. If we want to change it to `kolibri-YYYY-MM-DD.log` or .txt, we will need to overwrite some functions in TimedRotatingFileHandler.

Changing `kolibri.log` to `kolibri.txt` can be done by changing the definition of it and updating the documentation. I was

[2019-05-13 16:47] benjaoming commented on #2512
@lyw07 sounds good if you think it's uncomplicated -- I think we can manage any follow-up documentation migration of existing log files, too :)

[2019-05-13 18:54] jonboiser commented on #5443
Should be fixed in the update to `selectQuestions.js` #5461, which deduplicates selected questions (aka assessments) by skipping over questions already in the quiz, even if they appear in an identical-but-topologically-distinct exercise.

[2019-05-13 18:54] #5443 closed, assigned to jonboiser

[2019-05-13 22:22] jonboiser commented on #5456
Inspecting this line in the debugger:

https://github.com/learningequality/kolibri/blob/cf19c722c067a102a415577058b1d95c25dab7f5/kolibri/core/content/api.py#L609

In my instance, `cache.get(cache_key)` is equal to None.

I don't see similar code in Next Steps or Recommended views, but see a slightly different cache-related code for the "ancestors" view (with a guard against the cached value being

[2019-05-13 22:32] bjester commented on #5437
@intelliant01 Could you provide the name of the resource you linked to? Or Invite me to the channel: `blaine+studio@learningequality.org`?

[2019-05-13 22:35] rtibbles commented on #5456
When you returned the serializer.data what was the value, an empty list?

[2019-05-13 22:36] jonboiser commented on #5456
No, `serializer.data` was an array of contentnodes.

[2019-05-14 17:51] jonboiser commented on #3790
I'm going to close this as a subset of #5320, which also prescribes disabling buttons for modals under certain conditions. I can't think of submit-like button not in a modal that should be disabled at the moment.

[2019-05-14 17:51] #3790 closed, assigned to nobody

[2019-05-14 18:25] jonboiser opened #5485 "Make the potential danger of upgrading a channel more prominent in import workflow"
### Observed behavior

When there is a new version of a channel available on studio, there is a UINotification with this copy:

[code]

And an upgrade button. Upgrading a channel can have some unexpected side-effects (as documented in #5268 and #4592)

1. Resources that were once available become unavailable (because the underlying static files might have changed, or the channel itself has changed

[2019-05-14 19:27] jonboiser commented on #5456
I'm seeing the same thing on the ancestors view

https://github.com/learningequality/kolibri/blob/cf19c722c067a102a415577058b1d95c25dab7f5/kolibri/core/content/api.py#L457-L472

Typing `cache.get(cache_key) is None` returns True, but in this case the ancestors API returns `Response(serialzier.data)`, so the Topics pages still work fine.

Is there something off about how the cache is set up locally

[2019-05-14 19:28] rtibbles commented on #5456
We are using the Django null cache, which is meant to just accept sets, and then return None for gets. Maybe it's returning empty strings for fun?

[2019-05-14 19:30] rtibbles commented on #5456
Should just be returning the default (which as we are not passing the kwarg, should be None): https://github.com/django/django/blob/stable/1.11.x/django/core/cache/backends/dummy.py#L18

[2019-05-14 19:30] jonboiser commented on #5456
So what do lines like `Response(cache.get(cache_key)) ` mean if `cache.get` returns None?

[2019-05-14 19:31] rtibbles commented on #5456
They shouldn't be being invoked, as the cache is returning `None` and so shouldn't go down that branch, no?

[2019-05-14 19:33] jonboiser commented on #5456
For "ancestors", it seems like the `if cache.get(cache_key) is not None: ` is dead code, but for the "popular" view `return Response(cache.get(cache_key))` is always returned (but the intention is that the cache will be set immediately before this line if the cached value is None)

[2019-05-14 19:36] rtibbles commented on #5456
The ancestors view line is not dead code - we only use the dummy cache in development, in production we use a local memory cache.

The issue is probably that the dummy cache is returning None, so we need to not use the 'set cache then read from cache' idiom, because it will break in development mode because it always returns None.

[2019-05-14 19:38] jonboiser commented on #5456
Or use `Response(cache.get(cache_key, default=serialized_data))`

[2019-05-14 19:41] rtibbles commented on #5456
Right, either would work.

[2019-05-14 22:13] rtibbles commented on #4549
After discussing this issue with @jtamiace, we think this is an extreme edge case of #4082 - where here it is the entire channel that is being effectively imported without the user's say so.

Unbeknownst to the user, once the metadata has been imported, then this channel is now available, even though they only went to have a look. Even if they click the X to exit, the channel will now be available

[2019-05-14 23:41] jonboiser commented on #5456
Implemented the solution above in #5486. In local development mode, the use-the-cache branch should always be bypassed, and the view returns `Response(serializer.data)`.

[2019-05-14 23:41] #5456 closed, assigned to jonboiser

[2019-05-15 15:01] rtibbles commented on #4419
If anyone else has time to confirm this is still fixed, I would appreciate it.

[2019-05-15 15:17] ralphiee22 opened #5487 "Move HeaderTable and HeaderTableRow into design system"
Move `HeaderTable` and `HeaderTableRow` from the coach reports plugin into the core components as mentioned here https://github.com/learningequality/kolibri-data-portal/pull/7#issuecomment-489178124.

[2019-05-15 15:32] rtibbles opened #5488 "Separate frontend core API into 'public' and 'internally shared'"
Currently, all core shared components are loaded onto the core API object, which leads to a large, bloated object that we load on every single page of Kolibri.

In conversation with @indirectlylit, we posited that the purposes of the core API would be better served by a two tier structure:

1) The public, core API. This would be available to external plugins, and accessable on the `kolibriGlobal`

[2019-05-15 16:46] ralphiee22 opened #5489 "Move BackLink into core components"
Move `BackLink` from https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/coach/assets/src/views/common/BackLink.vue into the core components.

[2019-05-15 19:28] #5478 closed, assigned to rtibbles

[2019-05-15 20:41] indirectlylit commented on #5474
re android from @DXCanas

closing

[2019-05-15 20:41] #5474 closed, assigned to nobody

[2019-05-15 21:16] indirectlylit commented on #5462
@bjester mind taking a look at this one?

[2019-05-15 21:21] indirectlylit opened #5493 "update gherkin stories to exercise import availability behaviors"
### Observed behavior

In https://github.com/learningequality/kolibri/pull/5490 we are changing the expected behaviors and semantics of importing

### Expected behavior

Let's add gherkin stories to help the testers walk through the various scenarios

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-05-15 21:25] bjester commented on #5462
@indirectlylit Will do

[2019-05-15 21:33] #5440 closed, assigned to indirectlylit

[2019-05-15 21:35] #5399 closed, assigned to khangmach

[2019-05-15 21:36] indirectlylit commented on #4907
changing milestone to 0.13.0 so it doesn't block release

@DXCanas this would still be helpful

[2019-05-15 23:23] indirectlylit commented on #4038
solution is rather complex. updating milestone to 0.13.0 so this doesn't become a blocker for 0.12.4

[2019-05-16 16:42] MisRob opened #5496 ""Time spent" column in resource/exercise lesson report not being live-updated"
### Observed behavior

"Time spent" column in learners table of resource/exercise lesson report is not being live-updated.

![time-spent](https://user-images.githubusercontent.com/13509191/57871067-cf082600-7808-11e9-9396-27b99932ce58.gif)

### Expected behavior

"Time spent" column should be updated together with "Status" and "Last activity" columns.

### User-facing consequences

Missing informa

[2019-05-16 20:40] MisRob commented on #1
Oh that's brilliant :) Took me a while to understand how could I get here 😄

I would propose changing

to some of our release branches since we don't have `master` anymore!

[2019-05-16 20:42] rtibbles commented on #1
I tried to make a PR over the weekend to fix this, but I couldn't get the tests to pass.

[2019-05-17 03:58] radinamatic opened #5499 "Videos don't autoplay"
### Observed behavior
Reviewing the gherkin scenarios for the upcoming integration testing, I noticed that the video autoplay is not working on Firefox, as it does in Chrome.

### Expected behavior
Videos should autoplay in all browsers.

### User-facing consequences
Additional click for Firefox users, young and less experienced users unsure what to do and how to start a video.

### Errors and log

[2019-05-17 18:28] indirectlylit opened #5501 "Running import/export channel operations within a task for import/export content operations does not properly manage the overall progress"
### Observed behavior

when exporting content to disk, progress hangs on 100%, resets to 0, and then starts over

### Expected behavior

The entire process of exporting should be represented by a single pass of 0-100%, because the user is not aware of sub-stages

### User-facing consequences

confusion & possible annoyance. Risk of hitting 'cancel' and losing progress

### Steps to reproduce

* se

[2019-05-17 18:36] indirectlylit commented on #5499
possibly related? https://github.com/learningequality/kolibri/issues/4855

[2019-05-17 18:39] radinamatic commented on #5499
Just confirmed that it's not limited to FF on Linux, replicated with 0.12.3 release on Windows 7.

[2019-05-17 18:52] rtibbles commented on #5499
Might be worth looking to see if video-js has any issue about this.

[2019-05-17 19:55] ivanistheone opened #5504 "Document Hashi capabilities and limitations"
Need to have some docs about capabilities of HTML5 app renderer and the limitations (e.g. sandboxing) and on different platforms, e.g., IE.

Sample first draft of things to cover here:
https://files.slack.com/files-pri/T0KT5DC58-FJT5J8Y1W/download/hashi_docs_readme.txt

There is also already some docs here, but more for LE devs (internal docs):
https://github.com/learningequality/kolibri/tree/deve

[2019-05-17 22:15] DXCanas opened #5505 "Integration Testing Spreadsheet Docker Implementation Improvements"
### Things to resolve

The docker setup in #5313 introduces some things to be improved upon at a later time:
- extra requirements file used soley in docker containers
- some permissions reassignment issues that docker could handle for us
    - Improper use of a bind mount. I had avocated for it, but the approach changed and introduced the need for this permission change.
- Introduces potential sec

[2019-05-17 23:00] nucleogenesis commented on #5057
@indirectlylit @rtibbles @jonboiser

**What I've Done**
The approach I decided to take was to first get an overview of all of the $tr() usage in the parts of Kolibri mentioned in the issue: Core, Learn, Device, Facility, Coach so that I can easily see which strings need to be extracted to a common file.

[You can see the results of the profiling here.](https://docs.google.com/spreadsheets/d/17Rm8j

[2019-05-17 23:05] rtibbles commented on #5057
My impression from looking at your profiling code that it is matching based on key, rather than string content? This might be an issue as it may give false positives of repeated strings.

For any future tooling, might be good to use the existing message extraction code that we have - happy to give insights into extending/modifying it for the needs outlined above.

[2019-05-18 01:06] indirectlylit commented on #5499
do we know if this is a regression, or if perhaps browser behavior has changed for all versions of kolibri?

[2019-05-18 18:33] rtibbles opened #5511 "num_coach_contents is not annotated on existing channels"
### Observed behavior
Since the merging of #5497 num_coach_contents is no longer a dynamically calculated field, and instead is calculated on channel import and annotation.

This means that the result will be 0 for any content that was imported prior to 0.12.4.

### Expected behavior
num_coach_contents should accurately represent the number of coach contents available.

### User-facing consequence

[2019-05-18 18:34] rtibbles commented on #5511
This could be fixed by running `scanforcontent` on every server startup, but this is an excessively time consuming process. What would be better is to have some sort of version specific upgrade mechanism as implemented in #5494 - but unsure if this is too risky to target for 0.12.4?

[2019-05-19 04:49] radinamatic opened #5513 "Cancelling content import and export not working"
### Observed behavior

Cancelling import is not working: once the <kbd>Cancel</kbd> button is clicked, it appears disabled, but the import continues and there seems not to be a way to stop it, even on page reload the bar is still in progress.

### Expected behavior
User should be able to stop the content import if they need.

### User-facing consequences
Unable to cancel import operation.

### Err

[2019-05-19 17:44] radinamatic commented on #5499
Seems to be a regression, I just rechecked on a 0.11.1 VM and the autoplay in Firefox is working.

[2019-05-19 18:26] radinamatic commented on #4419
On `0.12.y` dev branch I see *`...`* substituting the whole long title of the content card, on both FF & Chrome on Ubuntu 18.04. Not liking the tooltip strategy, it forces the user to hover to figure out what is inside.

![LEDev1905 (start)  Running  - Oracle VM VirtualBox_033](https://user-images.githubusercontent.com/1457929/57986311-a20b7b80-7a73-11e9-9681-947e60d2133d.png)

Words in long title

[2019-05-20 03:17] indirectlylit commented on #4419
Yes, this is the expected behavior at present. In #4439 we tried to address it by breaking at arbitrary points in words, but that led to #5468 which was much more common than this issue, which requires somewhat contrived examples to reproduce.

The main thing I want to make sure of for 0.12.4 is that we don't have this behavior:

and it sounds like we don't.

Adding the 'needs design' label to has

[2019-05-20 03:20] indirectlylit commented on #4419
Aaactually I'm confused because in your screenshot, it's still breaking across words! This seems to indicate that #5468 was not fixed.

![image](https://user-images.githubusercontent.com/2367265/57994749-7d170880-7a73-11e9-8d3a-6aa751245d80.png)

[2019-05-20 03:21] indirectlylit commented on #5468
In https://github.com/learningequality/kolibri/issues/4419#issuecomment-493780085 @radinamatic posted a screenshot where words were still being broken in 0.12.y.

Re-opening.

[2019-05-20 04:12] radinamatic commented on #5468
It's inconsistent, some long titles get *`...`*, some get truncated arbitrarily:

![Ubuntu16 04 (start)  Running  - Oracle VM VirtualBox_036](https://user-images.githubusercontent.com/1457929/57996092-dad44080-7ac5-11e9-9fe5-229ca36c8036.png)

`0.12.4b1 DEB` on Ubuntu 16.04

[2019-05-20 16:16] MisRob commented on #5305
https://docs.google.com/document/d/1LNAwzu_hgXQtGh-IMz_A1IsN4CdCGDIcTMcxowiS9Tg/edit?usp=sharing

[2019-05-20 17:40] khangmach commented on #4419
I'm not understanding what this means. Do you mean fonts being loaded which change the length of the title?

Without re-designing the entire content card component, having a tooltip sounds like the only reasonable behavior. This comment kind of implies that the user cannot discern what a certain word is without the entire word/string showing. For example, if the word "subtraction" is cut off to "s

[2019-05-20 21:24] #4782 closed, assigned to bjester

[2019-05-20 21:28] indirectlylit opened #5515 "not enough spacing above title"
### Observed behavior

Post merge of #5502, the spacing above the title is too small:

These changes fix overlapping of progress bar with thumbnails.

Before

![Screenshot from 2019-05-18 00-29-13](https://user-images.githubusercontent.com/35173644/57950166-1e7f4c80-7904-11e9-8415-0e3913a7722a.png)

After

![Screenshot from 2019-05-17 23-30-38](https://user-images.githubusercontent.com/35173644/57

[2019-05-20 21:29] #5007 closed, assigned to nobody

[2019-05-20 21:45] indirectlylit commented on #5499
okay thanks

[2019-05-20 21:50] bjester commented on #5513
If helpful, I see the request to the cancel endpoint never completes; it remains in `(pending)` state.

[2019-05-20 21:52] rtibbles commented on #5513
How much content were you trying to import (it looks like the import completed very quickly) - does the same behaviour happen if you import a much larger set of content?

[2019-05-20 21:55] bjester commented on #5513
@rtibbles I saw this in slack while I was setting up Kolibri for another issue and imported a few GB's of content and it did not cancel. In the network tab I saw the request as `(pending)` and continued to be pending even after the import finished.

[2019-05-20 21:56] rtibbles commented on #5513
Hrm, must be something suspicious happening in the cancel endpoint - when I was working locally, I thought it was just due to the single threaded nature of the dev server, but will take a closer look.

[2019-05-20 22:21] radinamatic commented on #5513
@rtibbles I think it was around 1GB of content (I was trying to check for some steps in the Gherkin that state 1GB of content triggers the change in the `Space available on the device` field), but I have made several tests to confirm, so other imports could have been smaller.

[2019-05-20 22:30] rtibbles commented on #5513
OK, seems like the cancellation is failing to complete for some reason. Will investigate.

[2019-05-20 22:41] bjester commented on #5462
Classes are being filtered out of the API response, so in some cases, the front-end doesn't have enough info to determine whether or not the lesson or quiz is assigned to the class or no one.

[2019-05-20 23:04] indirectlylit commented on #4419
There are two scenarios:

1. There are so many words that the title would take more than 3 lines. In this case, we show the ellipsis and things work fine. There is no proposal to change that.
2. There is a single long word which is longer than the width of the card. That's the scenario this issue is dealing with. I've updated the issue title to reflect that.

Unfortunately I don't know of any stra

[2019-05-21 00:29] radinamatic commented on #5138
Fixed in #5357, closing!

[2019-05-21 00:29] #5138 closed, assigned to mrpau-julius

[2019-05-21 00:36] indirectlylit commented on #5335
closing this as it's more appropriately handled by automated testing (cc @bjester)

[2019-05-21 00:36] #5335 closed, assigned to indirectlylit

[2019-05-21 00:40] indirectlylit commented on #4521
coach reports no longer supports this - good catch @radinamatic

[2019-05-21 00:40] #4521 closed

[2019-05-21 05:23] mrpau-richard opened #5518 ""Welcome to Kolibri" modal not closing"
### Observed behavior
The `Welcome to Kolibri` modal not closing after I click the `ok` button

### Expected behavior
It should close when I click the `ok` button

### User-facing consequences

…

### Errors and logs
![Screen Shot 2019-05-21 at 1 10 58 PM](https://user-images.githubusercontent.com/8663934/58070296-1a388500-7bcb-11e9-889b-9bd2512cfe0a.png)

### Steps to reproduce
* Install the Koli

[2019-05-21 05:36] mrpau-julius commented on #5518
Also on Windows 10, IE edge, the `Welcome model button` is not clickable.
![welcome_model_Button_not_clickable](https://user-images.githubusercontent.com/38421180/58070906-5cfb5c80-7bcd-11e9-88a2-07e5e726372f.png)

[2019-05-21 08:13] nobicycle opened #5519 "Content Import - Cannot add server on LAN as import Network Address"
Try to import using the LAN method on a specific port.

The images attached show a valid  Kolibri address on the same LAN and a  failed import/.

![2019-05-21 15 46 25 192 168 1 104 c308e1cf160f](https://user-images.githubusercontent.com/1372447/58078632-c84f2980-7be1-11e9-982c-2d224d78bee2.jpg)

![2019-05-21 15 46 52 192 168 1 100 90bd014cbb4f](https://user-images.githubusercontent.com/1372447/58

[2019-05-21 16:30] lyw07 commented on #5518
same happened to me on macosx with google chrome version 74.0.3729.157 (latest version).
also this issue does not show up in 0.12.3.

[2019-05-21 17:03] jonboiser commented on #5518
It's because I missed a `submit` listener on this one modal! It's a one line fix coming soon.

[2019-05-21 17:26] lyw07 commented on #5518
for the issue, the current workaround is to refresh the page.

[2019-05-21 18:44] jonboiser commented on #5519
@nobicycle I did a quick test on two Kolibri 0.12.3 instances working on localhost ports 8000 and 8001, which went fine.

Based on your screenshots, it looks like you can access the port 8087 Kolibri fine in a web browser.

Is it possible that the Port 8087 Kolibri instance is an older version of Kolibri (and doesn't support "Import from network location", or are they both at version 0.12.3? Can y

[2019-05-21 18:49] #5518 closed, assigned to jonboiser

[2019-05-21 19:51] lyw07 opened #5523 "andriod build sometimes fails on 0.12.y release branch"
### Observed behavior

The build for android failed here: https://buildkite.com/learningequality/kolibri/builds/11017

However, previous build for 0.12.4-beta2 did not fail: https://buildkite.com/learningequality/kolibri/builds/11011
Retrying the step for android build resolved the issue.
The error in the log indicates that the whl file could not be found.
I wonder if it's because the file was sti

[2019-05-21 20:50] bjester commented on #5499
@radinamatic What browser did you use on Windows 7? Just to clarify.

[2019-05-21 21:08] radinamatic commented on #5499
@bjester Firefox 66 & 67 both have the same issue, you can see Chrome autoplaying, but FF not:

![FF-no-autoplay](https://user-images.githubusercontent.com/1457929/58130757-2ea56d80-7c1d-11e9-9fe8-cfd2671fb363.gif)

[2019-05-21 22:38] jonboiser commented on #5407
Added a patch in #5524 to raise a log message to the `error` level in this situation. This should resolve the issue, since the behavior in the OP is intended, but unexpected since the error message wasn't there to explain things.

[2019-05-21 22:44] #5290 closed, assigned to nobody

[2019-05-21 22:50] bjester commented on #5499
I'm almost positive this is related to autoplay policies. https://github.com/learningequality/kolibri/issues/4855 is related, but Chrome handles it differently.

[2019-05-21 22:55] radinamatic commented on #5499
Wouldn't surprise me, technically it's not recommended behavior...

[2019-05-22 00:41] jonboiser commented on #5407
In #5524, we raise the logging level for this particular code path to `logging.alert`, so a message saying `'Data appears to be malformed'` should appear in this circumstance, meaning that `Collection.fetch` has returned something that cannot be interpreted as an Array.

[2019-05-22 00:41] #5407 closed, assigned to jonboiser

[2019-05-22 04:51] nobicycle commented on #5519
@jonboiser

The server to import FROM is this type:

Server URL | http://192.168.1.100:8087/
-- | --
3 GB
0.12.2

I tried to import TO the 8087 port instance FROM the 8080 instance but got the same error already posted. Both instances are obviously online and working.

The 8087 logs are attached.
[kolibri.log](https://github.com/learningequality/kolibri/files/3205659/kolibri.log)
[server.log](http

[2019-05-22 04:54] nobicycle commented on #5519
I see some connection errors in the log.
From the 8087 command line:
[code]

[2019-05-22 05:01] cpauya opened #5528 "Cancelling channel export not working"
### Observed behavior
Clicking the <kbd>Cancel</kbd> button during channel export does not work.  It dims the button but the operation still proceeds and eventually shows the dimmed <kbd>Close</kbd> button.

### Expected behavior
The export channel operation is cancelled.

### User-facing consequences
Cannot cancel the export channel operation.

### Errors and logs
None found.

### Steps to reprod

[2019-05-22 09:44] nobicycle opened #5529 "Import error - failure at 199.32% (sic)"
Import of two files from Osmosis - first import post installation.
System reported 199% downloaded!
![2019-05-22 16 55 40 192 168 1 104 c4399d75a822](https://user-images.githubusercontent.com/1372447/58164791-1125e180-7cb9-11e9-9643-3ad24fe67d5e.jpg)
![2019-05-22 16 55 16 192 168 1 104 c3ef5b28cea6](https://user-images.githubusercontent.com/1372447/58164792-11be7800-7cb9-11e9-99b0-7dd79264abd7.jpg

[2019-05-22 09:46] nobicycle commented on #5519
Maybe this is related:
https://github.com/learningequality/kolibri/issues/5529

This occurred on the 8080 port instance - downloading from the internet.

[2019-05-22 15:27] indirectlylit opened #5531 "insufficient bottom padding in Learn page"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/58187205-34c23b00-7c6b-11e9-9655-c8a47e77a7a8.png)

### Expected behavior

bottom padding should follow Material standards - e.g. multiple of 8px. Maybe 24 here?

### User-facing consequences

inconsistent UI

### Steps to reproduce

view a content page

### Context

0.12

[2019-05-22 17:24] jonboiser commented on #5519
@jamalex The network location discovery code seems to be failing. Here is some logs from server.log. `http://192.168.1.104:8080/` looks to be the correct address. The `NewConnectionError` reason is "Connection refused"

[code]

[2019-05-22 17:37] jonboiser commented on #5119
Closing this, since all the areas in the OP have been addressed as of #5524. In future UIs, make sure a useful icon accompanies a name header, to more quickly orient the user :+1:

[2019-05-22 17:37] #5119 closed, assigned to jonboiser

[2019-05-22 17:42] lyw07 opened #5532 "Check kolibri log file locations based on version upgrade"
### Observed behavior

Follow-up issue of the PR: https://github.com/learningequality/kolibri/pull/5495
In the PR, we added a check for migrating old kolibri log files to new locations every time before the server starts.
In 0.13.0, once the PR https://github.com/learningequality/kolibri/pull/5494 gets merged, we can use the version upgrade logic to limit the check so that it will not be run every

[2019-05-22 18:55] jamalex commented on #5519
Thanks for the report. Could you try the following CURL request from that same machine (the 8087 one)?

`curl -v  http://192.168.1.104:8080/api/public/info/`

[2019-05-22 20:21] bjester commented on #5499
If we detect the case where autoplay would be blocked, would we rather autoplay without sound or just let the user play the video?

[2019-05-22 21:50] indirectlylit opened #5534 "standardize color variables and allow customization"
### Observed behavior

current color variables are inconsistent and not conducive to theming. they also cannot be easily configured

### Expected behavior

should be possible to generate custom builds of kolibri with alternate colors and logos

### User-facing consequences

it's been challenging for us to maintain custom builds

### Context

0.12.3

[2019-05-22 21:53] indirectlylit commented on #5513
also includes export as per #5528

[2019-05-22 21:53] indirectlylit commented on #5528
thanks - I've expanded the scope of #5513 to include import and export because they are pretty clearly the same issue

[2019-05-22 21:53] #5528 closed, assigned to nobody

[2019-05-22 22:37] indirectlylit commented on #5529
hi - are you running the `kolibri-server` debian package?

If so, this is likely a duplicate of https://github.com/learningequality/kolibri-server/issues/14

[2019-05-22 22:40] indirectlylit commented on #5499
the thing that confused me was

which seems to indicate that it might be a change in our code

[2019-05-22 22:41] jonboiser commented on #5462
This has been fixed in #5521, it address

Problem 1 (Wrong labels in the Reports page): If a Lesson/Exam has 0 assigned Collections (i.e. Learner Groups or Classroom), then it says "No one" in the recipients column. It also adjust lower-level reports by hiding links to Resource>Learner reports in the Lesson Case, and lists no learners in the Quiz>Learner report.

Problem 2 (Recipients menu in Edit

[2019-05-22 22:41] #5462 closed, assigned to bjester

[2019-05-22 22:43] bjester commented on #5499
@radinamatic Was the FF version tested against 0.11.1 the same as on 0.12 (version 66 or above)?

[2019-05-22 22:53] radinamatic commented on #5499
Yep, on Windows 10, it autoplays in both FF 66 & 67:

![Win10 (0 11 1 signed)  Running  - Oracle VM VirtualBox_038](https://user-images.githubusercontent.com/1457929/58214196-2a4c8380-7cf5-11e9-8e79-af13eb183947.png)

![Win10 (0 11 1 signed)  Running  - Oracle VM VirtualBox_040](https://user-images.githubusercontent.com/1457929/58214202-320c2800-7cf5-11e9-81e5-ff6738fc19a4.png)

[2019-05-22 23:00] bjester commented on #5499
So the icon in the address bar that has the "play" icon with a line through it should indicate that it's been blocked, but obviously it's not. I'm guessing preference isn't set to allow either? https://support.mozilla.org/en-US/kb/block-autoplay

[2019-05-22 23:08] radinamatic commented on #5499
In this VM instance on Windows VM, it's set to block but it's not working, thus it autoplays :confused:

![Win10 (0 11 1 signed)  Running  - Oracle VM VirtualBox_041](https://user-images.githubusercontent.com/1457929/58214740-2883bf80-7cf7-11e9-9082-97481238e5e5.png)

I'll recheck on Ubuntu, maybe is due to OS...? :thinking:

[2019-05-22 23:17] bjester commented on #5499
How long has that VM been around? Did you create it just for this? If it's an older VM, I'm wondering if something went wonky in Firefox's upgrade that is allowing it to continue to play.

I added https://github.com/video-dev/can-autoplay and with Firefox on Ubuntu, it's clear that FF is not allowing it to play.

[2019-05-23 00:02] radinamatic commented on #5499
Windows VM probably has a couple of months, I haven't seen any other problems in Firefox so far, but it is a possibility. I'll see if I can get a different VM running to confirm.

Ah, and btw, autoplay works when I updated 0.11.1 to 0.12.4b3, not sure if it means the issue is with code or not... :thinking:

Firefox options on Ubuntu seem different, and I'm not able to get it to autoplay even after

[2019-05-23 00:20] bjester commented on #5499
Interesting. I wonder if Firefox has some detection to see if you triggered the video to play, and then allow it but maybe it's not being very consistent. For instance, triggering the auto-play blocking in Chrome is fairly easy and is reproducible according to https://github.com/learningequality/kolibri/issues/4855 by just going to the video directly or refreshing.

Regarding my question about pla

[2019-05-23 03:58] mrpau-richard opened #5535 "Failed to import a channel after I upgrade from 0.8"
### Observed behavior
I can't import a channel after I upgrade from 0.8, There is an javascript errors.

### Expected behavior
I should be able to import a channel after the upgrade.

### User-facing consequences

…

### Errors and logs
[kolibri.log](https://github.com/learningequality/kolibri/files/3210185/kolibri.log)
[server.log](https://github.com/learningequality/kolibri/files/3210186/server.

[2019-05-23 04:02] indirectlylit opened #5536 "refactor search boxes and consolidate styling"
### Observed behavior

There are at least three implementations of search boxes.

* Some of them have shared components, when they shouldn't: for example the search box in the app bar and the search box in the learner content search page
* Some of them don't have shared components, when they should: for example the search box in the learner content search page, the coach lesson management search b

[2019-05-23 04:14] mrpau-richard opened #5537 "Empty container showing when I import a channel"
### Observed behavior
There is an empty container showing when I import a channel.

### Expected behavior
That container should not show if it's empty

### User-facing consequences

…

### Errors and logs
![Screen Shot 2019-05-23 at 12 08 52 PM](https://user-images.githubusercontent.com/8663934/58225284-e2a91480-7d53-11e9-8ff1-4fff2639b180.png)

<--
Please wrap errors in triple backticks for clean

[2019-05-23 04:30] radinamatic commented on #5537
Isn't that just the container, before the content inside is loaded?

![Ubuntu16 04 (0 12 4-b3)  Running  - Oracle VM VirtualBox_050](https://user-images.githubusercontent.com/1457929/58225781-09e7ed80-7d24-11e9-8b4f-e992b1b3c177.png)

Does the channel content appear at all, or you're just stuck at that point? Any errors in logs, Console...?

[2019-05-23 04:46] mrpau-richard commented on #5537
The channel properly loaded in a few seconds with no javascript error. It's just that empty container showing when you import a channel.

[2019-05-23 04:49] indirectlylit opened #5538 "descenders in text are clipped in select dropdowns"
### Observed behavior

See the 'g' in 'English' below. This seems to be happening many places

![image](https://user-images.githubusercontent.com/2367265/58226383-4b07df80-7cdb-11e9-9a5e-3f5ff3f67207.png)

### Expected behavior

no clipping

### User-facing consequences

hard-to-read text

### Context

0.12.3

[2019-05-23 05:52] indirectlylit opened #5539 "kTextbox is not fully set up to pull colors from the theme"
### Observed behavior

A few of the colors come from the theme, but others (such as various text colors) do not. For example:

* `$ui-input-feedback-color--invalid`
* `$ui-input-text-color--disabled`
* `$ui-input-text-color`

### Expected behavior

all values should pull from the theme

### User-facing consequences

inconsistent UX and hard-to-maintain code

### Context

0.12.3

[2019-05-23 17:17] indirectlylit opened #5541 "move content color logic to a helper utility"
### Observed behavior

We have duplicated code 3x for switching colors based on content types.

### Expected behavior

Move to a shared helper utility. See https://github.com/learningequality/kolibri/pull/5540#discussion_r287047361

### User-facing consequences

None

### Context

0.12.3

[2019-05-23 21:38] benjaoming commented on #2512
This slipped my radar: The milestone here is 0.12.4 and the PR was targeted for 0.12.x -- I don't think that we should change locations of the log files in a patch release. That's way beyond what a patch release should do. Implementing log rotation would pass as a kind of important bug fix (to avoid eternally appending the log and consuming disk space).

[2019-05-23 21:56] radinamatic opened #5543 ""ePUB document" option is missing file size in the 'Download content' dropdown"
### Observed behavior

~Dropdown for <kbd>Download content</kbd> seems to be presenting unformatted (JSON?) data instead of the human-readable information:~

The unformatted JSON string issue is fixed in #5540, but the button label is still missing the file size.

![haruko-jpeg - Kolibri - Mozilla Firefox_056](https://user-images.githubusercontent.com/1457929/58288981-6810e100-7db5-11e9-8a2a-06ecb

[2019-05-23 23:39] indirectlylit commented on #2512
Note that 0.12.4 is not a normal patch release. It includes new features, updated translation strings, and a complete integration testing pass

[2019-05-23 23:51] indirectlylit commented on #5543
this will be fixed by 230ed541feabfcbe2e2eb252f2239ba13e9043e6 in #5540

[2019-05-23 23:53] indirectlylit commented on #2512
0.12.y, not 0.12.x

[2019-05-24 00:45] #4804 closed, assigned to nobody

[2019-05-24 01:21] lyw07 commented on #5523
I emailed buildkite support regarding this issue as I was not able to reproduce it and did not see any occurrences of it anymore. Here is the reply from buildkite support:

From the reply, this was something wrong from their side, so I'm closing this issue now.
Sorry for the false alarm!

[2019-05-24 01:21] #5523 closed, assigned to lyw07

[2019-05-24 01:26] indirectlylit commented on #5535
from the logs:

[code]

cc @rtibbles thoughts?

[2019-05-24 01:26] indirectlylit commented on #5535
maybe trying to resume an old transfer?

[2019-05-24 01:28] indirectlylit commented on #5537
@mrpau-richard could you please fill out the rest of the issue template?

[2019-05-24 11:52] nobicycle commented on #5529
Hi indirectlylit,
Running Arch Linux on a Pine Rock64 Single Board Computer
virualenv install

[2019-05-24 11:57] nobicycle commented on #5519
Hi Jamalex
In a browser I get, after logging in:

On the commend line, I get:

[2019-05-24 12:20] benjaoming commented on #2512
I concede that I found the patch release confusing and haven't understood quite what the scope of 0.12.4 was, but let's get this improvement out there to the users :ship:

[2019-05-24 14:37] radinamatic opened #5547 "Facility settings change for guest access not reflected on sign-in page"
### Observed behavior
Changing the facility settings seems to have inconsistent results on the sign-in page: sometimes it does not reflect correctly until the cache is cleared several times, the UI language is changed, or another setting is checked/unchecked.

![facility-settings](https://user-images.githubusercontent.com/1457929/58334343-a652e280-7e3f-11e9-9d8b-8722155850cc.gif)

In the above rec

[2019-05-24 15:33] radinamatic opened #5548 "'Select all' button disabled during the import from local drive"
### Observed behavior
Weird case of the <kbd>Select all</kbd> button being disabled when trying to import a channel from the local drive.

![Ubuntu16 04 (0 12 4-b3)  Running  - Oracle VM VirtualBox_046](https://user-images.githubusercontent.com/1457929/58339322-993af100-7e49-11e9-9f20-cfd80434673e.png)

### Expected behavior
Haven't seen the <kbd>Select all</kbd> button disabled unless *all* the c

[2019-05-24 16:01] radinamatic opened #5549 "Export & update of the older channel on the local drive"
### Observed behavior
Trying out a scenario that is presumably something users would stumble upon:

1. First I tried to import an older version of the GDL channel I had on one local drive, import was successful.

2. Next I updated that channel to the most recent version by importing from Studio, success again.

3. Finally I tried to export the same channel back to the local drive to update it, and

[2019-05-24 17:08] jonboiser commented on #5548
This is actually a little unusual, since the "Select all" checkbox is disabled, but not checked.

Normally, it would be both disabled and checked, meaning that all of the resources in the topic are already "Available" on the server, and cannot be re-imported.

[2019-05-24 17:12] jonboiser commented on #5549
Did the export in (3) succeed partly then fail, or did it fail immediately?

[2019-05-24 17:15] radinamatic commented on #5548
Hence my confusion... Is it something related to this particular version of the Living Values channel DB?

[2019-05-24 17:16] indirectlylit opened #5550 "epub renderer does not work when devserver is run with hot reload"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/58345146-8b1aaf80-7e0c-11e9-9f42-dd7c2df486e4.png)

![image](https://user-images.githubusercontent.com/2367265/58345136-83f3a180-7e0c-11e9-9e6a-e0746a5f2f3c.png)

### Expected behavior

without hot reload

![image](https://user-images.githubusercontent.com/2367265/58345105-70483b00-7e0c-11e9-8395-b11db56a018a.png)

#

[2019-05-24 17:17] jonboiser commented on #5548
It could be specific to the Living Values channel (topic structure, how it's availability got annotated, something new in Studio, etc.), since I've never seen this before.

[2019-05-24 17:21] radinamatic commented on #5549
Seemed to be going on for a short while, and then failed. On subsequent try it failed immediately.

[2019-05-24 17:28] lyw07 commented on #5549
from the log
[code]
it seems that it cannot write to your local drive. Are you able to directly copy the database file from KOLIBRI_HOME/content/databases to /media/osboxes/TOSHIBA/KOLIBRI_DATA/content/databases?

[2019-05-24 19:17] jonboiser commented on #5548
I'm also noticing that the Living Values channel doesn't show its thumbnail on the Channel List page, only on the Select Content Page.

[2019-05-24 19:29] jonboiser commented on #5548
The Select All is being disabled because of this function

https://github.com/learningequality/kolibri/blob/abecb96bbd738c08e5a9df0c1702ef54d2daa436/kolibri/plugins/device_management/assets/src/views/SelectContentPage/ContentTreeViewer.vue#L105-L120

Each of the items are being annotated as `available: false`, which is why this function is returning True for this channel. I keep forgetting the mea

[2019-05-24 20:51] jonboiser commented on #5549
@radinamatic To go off @lyw07's last observation, are you able to Export a completely new channel to your USB drive (i.e. one that has zero contents on it already)? I'd be curious to see if you get the same Input/Output error.

[2019-05-24 21:02] jonboiser commented on #5547
I'm able to reproduce this with the  PEX, but not while running the `release-0.12.y` branch locally (using the `devserver` command).

I notice that on the PEX version, the reload is _a lot_ faster than with the local devserver. When running from the PEX, the refresh is almost instant, whereas on development mode, there is the usual blank screen, then first paint after maybe 0.5s.

[2019-05-24 21:14] radinamatic commented on #5549
Well, it does seem to be a garden variety connection-with-external-drive issue, as after plugging out and in again, I'm able to export that channel and other too... :woman_shrugging:

![Ubuntu16 04 (0 12 4-b3)  Running  - Oracle VM VirtualBox_060](https://user-images.githubusercontent.com/1457929/58356972-5e50b180-7e79-11e9-9680-86ede5e90841.png)

I guess I was trying so hard to find a fault in va

[2019-05-24 21:32] indirectlylit commented on #5529
okay - so you installed with `pip install`? in that case it's probably a different issue

[2019-05-24 22:09] indirectlylit opened #5551 "poor user feedback during import, export, and deletion"
### Observed behavior

**One scenario during the bug bash:**

![delete](https://user-images.githubusercontent.com/2367265/58346832-f797ad80-7e10-11e9-823b-f6a73e00ae6e.gif)

* Click delete
* Button gets disabled
* Nothing happens... wait a minute
* Eventually, scroll up and notice that the channel was already deleted

**Another scenario:**

![refresh](https://user-images.githubusercontent.com/2367

[2019-05-24 22:20] radinamatic commented on #5551
I always found this action to be superfluous, but assumed that it was necessary for some technical reason in the background. :confused:

Proposed strategy sounds like an improvement to me! :+1:

[2019-05-24 22:37] jamalex commented on #5519
Thanks, that was helpful!

I have a theory... do you by any chance have the "Allow users to access content without signing in" box unchecked on the `/facility/#/settings` page?

The following middleware prevents that endpoint from being accessed when not authenticated:
https://github.com/learningequality/kolibri/blob/release-v0.12.x/kolibri/core/middleware/signin_page.py#L34

I suggest we update t

[2019-05-24 23:19] indirectlylit opened #5553 "descenders in username dropdown are clipped"
### Observed behavior

observed by @lyw07 and @jonboiser

![image](https://user-images.githubusercontent.com/2367265/58360786-70156300-7e3f-11e9-8bcd-2ecb8b9e702a.png)

similar to #5538

Seems to be a regression from https://github.com/learningequality/kolibri/pull/4735

### Expected behavior

fully visible

### User-facing consequences

harder to read username

### Steps to reproduce

change user

[2019-05-24 23:34] radinamatic opened #5556 "unable to trigger pingbacknotification when Kolibri is running as a system service"
### Observed behavior
Trying to test the [upgrade notification Gherkin scenario](https://github.com/learningequality/kolibri/blob/v0.12.4-beta3/integration_testing/features/super-admin/super-admin-upgrade-notification.feature), but been unable to trigger the notification.

Had to set up `KOLIBRI_RUN_MODE` in the `.bashrc` (testing VM has it setup to exclude the usage from the user stats). Variable

[2019-05-24 23:36] radinamatic commented on #5549
Seems resolved, closing for now!

[2019-05-24 23:36] #5549 closed, assigned to nobody

[2019-05-24 23:36] jonboiser opened #5557 "Localized strings can be too long for the Resource Download button"
### Observed behavior
For example, in Yorùbá, the HTML5 version of the button message is too long and will push out the file size.

![Screen Shot 2019-05-24 at 4 30 42 PM](https://user-images.githubusercontent.com/10248067/58361237-0a76a600-7e42-11e9-873d-0624da13e5ad.png)

### Expected behavior

There is a way the entire message can be read from the button, even when the localized message is very

[2019-05-24 23:47] indirectlylit opened #5558 "shifting layout, perhaps due to floating app bar or scrollbar behavior"
### Observed behavior

observed by @khangmach during a bug bash:

![flicker2](https://user-images.githubusercontent.com/2367265/58361408-6988ea80-7e43-11e9-96f3-e0e4258311f1.gif)

### Expected behavior

layout should choose a state and stick with it

### User-facing consequences

user sees the UI jitter a little

### Steps to reproduce

likely has something to do with the exact screensize

### Con

[2019-05-24 23:48] indirectlylit commented on #5326
still being observed - cc @khangmach

[2019-05-26 00:58] nobicycle commented on #5519
"do you by any chance have the "Allow users to access content without signing in" box unchecked on the /facility/#/settings page?"

That is correct.
Import stage is now working.

Thanks

[2019-05-28 06:32] mrpau-richard opened #5562 "Endless updating channel on Safari 11.0.3"
### Observed behavior
After I updated and published the title of my own channel at the Studio, and update the old version in my local it will have an endless updating channel for just a title update I waited more than 10 minutes.

When I manually refresh the page the channel title and version are updated in my local.

I tried this on Firefox browser and the updating channel is working correctly th

[2019-05-28 16:51] jamalex commented on #5519
Ok, great!

@indirectlylit Discussed with @rtibbles, and he didn't see any issues with switching to a blacklist instead of a whitelist.

[2019-05-28 17:34] indirectlylit opened #5563 "In User Page, "Search for user" filter is slow when facility has a large number of users"
### Observed behavior

With ~800 users in a facility, the 'Search for a user..." box becomes unusably slow:

### Expected behavior

The filtering is done client-side, so it should be very snappy.

It can be throttled if necessary, but there's something deeper happening here than just updates happening too often.

### User-facing consequences

frozen browser, wasted battery

### Steps to reproduce

[2019-05-28 18:01] indirectlylit opened #5564 "non-standard styling in epub renderer"
### Observed behavior

**1 - icons are black with purple circles:**

Should be completely black or completely purple

![image](https://user-images.githubusercontent.com/2367265/58500803-c9c7a700-8137-11e9-837b-b2ee5ee5e49c.png)

**2 - Non-standard elevations and drop shadow usage.** [original reference](https://github.com/learningequality/kolibri/pull/5579#issuecomment-497120316)

Our drop shadows

[2019-05-28 19:39] indirectlylit commented on #5548
this might also be affected by work that @rtibbles is doing here: https://github.com/learningequality/kolibri/pull/5490

@jonboiser would you mind reviewing his PR and seeing how it affects this behavior?

[2019-05-28 19:43] #5553 closed, assigned to indirectlylit

[2019-05-28 20:29] indirectlylit opened #5565 "EPUB: components and loading error show above floating app top bar"
### Observed behavior

observed by @bjester:

![image](https://user-images.githubusercontent.com/2367265/58510886-84fb3a80-814e-11e9-8e8e-f08ab5ced4ea.png)

### Expected behavior

Z-indexes should be respected

### User-facing consequences

slightly broken-looking behavior

### Steps to reproduce

* make window small enough that the app bar will scroll offscreen
* scroll down and then back up agai

[2019-05-28 20:31] bjester commented on #5550
@indirectlylit I did not run into this. I don't really use hot reload

[2019-05-28 20:34] bjester commented on #5565
@indirectlylit I think you need to decrease the page height in order to get it to happen, beyond the breakpoint that causes the app top bar to show / hide on scroll. I think that for sure caused it but I don't remember exactly.

[2019-05-28 20:42] indirectlylit commented on #5565
thanks that's right - it only occurs when the top bar is "floating". will update the issue

[2019-05-28 20:47] indirectlylit opened #5566 "entering and exiting full screen causes epub to become blank"
### Observed behavior

entering and exiting full screen causes epub to become blank:

![fullscreen](https://user-images.githubusercontent.com/2367265/58511078-f6d38400-814e-11e9-8812-1d0df0602570.gif)

### Expected behavior

epub should render as normal

### User-facing consequences

user confusion

### Steps to reproduce

* open epub
* enter full-screen
* press 'escape'

epub will be blank

### C

[2019-05-28 20:54] indirectlylit opened #5567 "Learn page - coach-content icons and annotations are shown to learners"
### Observed behavior

reported by @jonboiser - learners see coach annotations even though they have no access to that content:

| card | user |
|--|--|
|  ![image](https://user-images.githubusercontent.com/2367265/58511486-be807580-814f-11e9-9cbf-761e220568ad.png) |  ![image](https://user-images.githubusercontent.com/2367265/58511510-cdffbe80-814f-11e9-9bc0-eccbe7644007.png) |

### Expected behav

[2019-05-28 20:54] rtibbles commented on #5566
I feel like this happened before, but I can't find any record of it. My intuition is that it is due to the new version of epubjs (but worth checking 0.12.3 to see if the behaviour exists there).

[2019-05-28 20:56] rtibbles commented on #5567
Ah, this is probably because of the simplifications I made, where coach content info is always sent to the frontend, so the indicator just needs to check the user role to see if it should display.

[2019-05-28 21:02] indirectlylit opened #5568 "epub: broken layout in some books"
### Observed behavior

columns are clipped:

![image](https://user-images.githubusercontent.com/2367265/58512085-0f449e00-8151-11e9-8ace-60708519f48a.png)

### Expected behavior

columns should be fully visible

### User-facing consequences

very hard to read book

### Steps to reproduce

see http://kolibribeta.learningequality.org/en/learn/#/topics/c/bec24a1298a14bb18ecf4851ad2da0f3

### Context

[2019-05-28 21:10] rtibbles commented on #5568
Context says 0.12.3, but this appears to be 0.12.4 beta?

[2019-05-28 21:38] #2512 closed

[2019-05-28 21:43] indirectlylit commented on #5568
thanks - updated to 0.12.4-beta4

[2019-05-28 22:14] indirectlylit opened #5569 "creative commons licenses are written from perspective of content creator"
### Observed behavior

Noticed by @jamalex, our CC licenses are currently displayed to learners and coaches but written from the perspective of the content creator, e.g.:

This should also be taken into account when we address #2371

### Expected behavior

perhaps something like:

### User-facing consequences

The terms of the license don't really make sense in this context as currently written

#

[2019-05-28 22:34] lyw07 commented on #4652
should be updated in #5495

[2019-05-28 22:34] #4652 closed, assigned to lyw07

[2019-05-28 22:44] bjester commented on #5568
Do we know if this was a regression? Not that that will affect my self-assignment, but just wondering if any of the recent changes I did helped or hurt the rendering of this book.

[2019-05-28 23:19] indirectlylit commented on #5568
I don't know, sorry

[2019-05-28 23:38] jonboiser commented on #5548
#5490 looks to be compatible with this (i.e. the `node.importable` field is implemented), assuming the fix is to change the predicated in `every` to check `!node.importable`

[2019-05-29 02:31] cpauya opened #5573 "Make the kolibri.exe runnable from any path in the Windows Command Prompt."
### Observed behavior
Cannot run the `kolibri.exe` executable from anywhere under the Windows -> Command Prompt.  Some kolibri commands like `kolibri manage...` will fail if ran outside of the Kolibri scripts folder.

### Expected behavior
The `kolibri.exe` executable must be runnable from any path in the Windows -> Command Prompt.

### User-facing consequences
Some less-technical users may get co

[2019-05-29 02:50] cpauya opened #5574 "Correct the `More Information...` link inside the upgrade notification message."
### Observed behavior
When the upgrade notification is displayed to the admin user, the `More Information...` link points to a [Rick Astley video](https://www.latlmes.com/arts/return-of-the-golden-age-of-comics-1).  See picture attached:
![kolibri--0 12 4-beta4--upgrade notification 1](https://user-images.githubusercontent.com/175580/58525635-10cc9f80-81ff-11e9-8962-334184d5ea38.png)

### Expected

[2019-05-29 03:03] mrpau-richard opened #5575 "Rephrase 'no drives found' message to be less confusing"
### Observed behavior
The current message is `No drives that can be written to are connected to the server` which is a bit confusing to me, If I speed-read to it.

@indirectlylit suggested to replace it with `Could not find a connected drive`

### Expected behavior
Rewording the message into a less confusing.

### User-facing consequences

### Errors and logs

![Simulator Screen Shot - iPad Pro (1

[2019-05-29 04:04] mrpau-julius opened #5576 "Multiple admin users can't import simultaneously"
### Observed behavior
I'm just worried about this situation if someone attempt to import and another admin user are preparing or searching to import and found out they cannot import because someone uses already.

Maybe allow the admin users can import simultaneously.

![impot race](https://user-images.githubusercontent.com/38421180/58528229-5a6db800-8208-11e9-9d90-8edad593bf75.gif)

### Context
Te

[2019-05-29 16:27] indirectlylit commented on #5573
Moving this to the Windows installer repo, since that's the code that would need to be updated to implement this

[2019-05-29 17:52] bjester commented on #5568
So this particular EPUB has some `margin`s in its styles, which are causing the rendering issues. We'll probably continue to get issues like this, as EPUB's contain HTML and CSS, so handling rendering of all possibilities will be difficult if not impossible.

[2019-05-29 18:38] jonboiser commented on #5562
I'm able to reproduce this as well. Tried it on Chrome ✅ 	and Safari ❌ .

On Safari, the issue seems to be that the UI is not correctly reacting (by closing the progress bar) when it notices the the `REMOTECHANNELIMPORT` Task reaches the `COMPLETED` status.

This might be another issue with getting the timing/ordering right with these Tasks. And specifically with the way Promises are working on Sa

[2019-05-29 18:40] nucleogenesis commented on #5563
@indirectlylit

The issue seems to be with how many of the components we're rendering and not so much with the sorting/filtering logic.

**Testing Method**

[See this gist.](https://gist.github.com/nucleogenesis/682cd841ddc7c9c7fe484830788ce731) - You can try it by saving it to `file.js` and running `node file.js` wherever you want to locally.

I basically extracted the exact logical flow that is

[2019-05-29 18:58] jonboiser commented on #5543
Just checked on this right now, and it does show "epub document", but it does not show the file size.

[2019-05-29 19:48] indirectlylit commented on #5568
did you identify if this was always broken or a regression?

[2019-05-29 19:48] #5568 closed, assigned to bjester

[2019-05-29 19:49] bjester commented on #5568
@indirectlylit I didn't check but based on the issue, I doubt it was a regression.

[2019-05-29 20:31] indirectlylit opened #5582 "create mechanism to preserve crowdin context between releases"
### Observed behavior

Currently, all context is lost every time we create a new release

### Expected behavior

Context should be preserved, and preferably checked into the source code

### User-facing consequences

much harder for us to help translators

### Steps to reproduce

make a new release and watch translators struggle

### Context

0.12.3

[2019-05-29 20:47] indirectlylit commented on #5563
It appears that Vue might not be handling the list rendering as efficiently as possible, and is destroying and re-creating the table row DOM nodes (`v-if` behavior) rather than keeping them around and just hiding them (`v-show` behavior).

[The docs claim](https://vuejs.org/v2/guide/list.html#Replacing-an-Array) that shouldn't happen, but perhaps we're doing something with our user table component

[2019-05-29 20:57] indirectlylit commented on #5543
Yes, it was fixed after string freeze. We should make a new string for 0.13.0 with the file size

[2019-05-29 21:47] nucleogenesis commented on #5556
@radinamatic

The system used to initialize the Kolibri server `systemd` will not use environment variables in your .bashrc or other normal files.

In order for this to work - please try:

`sudo systemctl edit kolibri`

In the file which opens, please add the lines:

[code]

Then save that file.

Now, `sudo service kolibri stop && sudo service kolibri start` should work.

@indirectlylit - is there

[2019-05-29 22:02] radinamatic commented on #5556
That's surprising, as all the testing VMs that I use extensively have the `KOLIBRI_RUN_MODE` env var set up in the `.bashrc` so they do not skew the Telemetry user stats.

If those are not working correctly, @jamalex would have certainly noticed and complained a long time ago...

![2019-05-30_0-55-40](https://user-images.githubusercontent.com/1457929/58594499-790a9800-8276-11e9-9298-f765b9f83b06.p

[2019-05-29 22:13] indirectlylit opened #5583 "alignment of progress icon is a bit off"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/58595023-2f915d00-8224-11e9-8b3e-6571bf6aa946.png)

### Expected behavior

icon should be a little higher

### User-facing consequences

slightly inconsistent UI

### Context

0.12.3

[2019-05-29 22:17] khangmach commented on #5564
Nice.
- Let's flatten the epub shadow as you suggested.
- Add the round corners back on the renderer
- Remove the purple from the left/right arrows

[2019-05-29 22:29] nucleogenesis commented on #5556
@radinamatic

If you have one of your VMs from the past that you know you've not had issues with - could you post the content of `/etc/kolibri/daemon.conf` - I have just found and tested that you could also set whatever environment variables you need there and I'd guess that `KOLIBRI_RUN_MODE` was set there or in a similar file.

[2019-05-29 23:50] indirectlylit commented on #5556
Environment variables are sometimes used instead of options.ini files in deployments, e.g. because it can be easier to set env vars in a docker instance than to modify a file on disk.

Is there any chance it's running as a `kolibri` user rather than your normal user? (ref: https://github.com/learningequality/kolibri-installer-debian/pull/43 and https://github.com/learningequality/kolibri-installer

[2019-05-30 03:47] indirectlylit opened #5585 "in-progress quiz scores are shown to coaches"
### Observed behavior

Scores are shown before the quiz has been submitted, giving an inaccurate portrayal of a learner's performance:

![image](https://user-images.githubusercontent.com/2367265/58607116-2a97d200-8253-11e9-971e-51347816081d.png)

### Expected behavior

Scores should not be shown until the learner is finished with it. The 'average score' reported at the top should only include comp

[2019-05-30 05:55] #5565 closed, assigned to bjester

[2019-05-30 06:16] mrpau-richard opened #5586 "Can't hear an audio output from the channel video in the Safari 11.0.3"
### Observed behavior
I can't hear an audio output from the channel video, only in Safari. I tried the same video on Firefox and it play a sound.

### Expected behavior
The channel audio should also play in the Safari browser

### User-facing consequences
A user might not aware that a channel video has a sound.

### Errors and logs
![Simulator Screen Shot - iPad Pro (12 9-inch) - 2019-05-30 at 14

[2019-05-30 08:29] cpauya opened #5590 "Edited value of the class does not show."
### Observed behavior
1. When a class is renamed, the new value is not shown after the <kbd>Save</kbd> button is clicked and the `Rename class` modal dialog closes.
2. Also noticed that there's no **Super admin edits a class name.** Gherkin `.feature` file to test this yet.

### Expected behavior
The new class name must show after the <kbd>Save</kbd> button is clicked and the `Rename class` modal

[2019-05-30 10:08] cpauya opened #5594 "Facility settings - allow learners and coaches to edit their username - does not work."
### Observed behavior
This is really weird behavior.  Under the `Facility settings` page, I've checked the `allow learners and coaches to edit their username` as a super admin user.

Tested on iPad 2 simulator-Safari 9.3 and on macOS - both Chrome 74.0.xxx and Safari 12.1.1

The `username` was shown as editable (textbox) on first attempt - but after I was successful at changing, logging-out then l