[2021-03-26 09:31] oldmanscreaming commented on #6519
Would it be alright to add the file check to the initialize function in the kolibri.utils.cli module?

[code]
does the database migration occur in the _setup_django() function as well?

[code]

what should happen is that once kolibri finds the .data_version file but no database, it should run the database migration?

[2021-03-26 13:45] adamchainz commented on #5071
Congrats!

[2021-03-26 18:34] Priyaraj17 commented on #7921
Is this issue open? May I work on it?

[2021-03-26 18:40] jonboiser commented on #7921
@Priyaraj17 Sure, thanks for offering to help!

[2021-03-26 18:44] Priyaraj17 commented on #7921
I will set up the environment. I will start as soon as possible. Thanks

[2021-03-26 18:45] jonboiser commented on #7591
Sounds like a good plan! I think this new endpoint could be placed in the the `core` app in this module:

https://github.com/learningequality/kolibri/blob/b49b908d4b22de85234c4e67114626bd4947d6d1/kolibri/core/auth/api_urls.py#L18-L25

When doing this `username_exists` check, make sure to keep the `facility` in mind. A Kolibri device can have multiple facilities in it, and it is okay for different

[2021-03-26 18:54] jonboiser commented on #6519
I think that sounds like a good strategy. So here's the user story. This should work the same whether using the Mac App DMG file, or the Kolibri python executable that just runs a Kolibri server.

[code]

[2021-03-26 19:03] #7896 closed, assigned to apurva-modi

[2021-03-26 19:03] rtibbles commented on #6519
This is mostly a matter of checking that the functionality implemented here is actually working: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/utils/cli.py#L397
As this should already be checking whether the database is migrated, and then attempting to run the migrations. This will be the case regardless of whether `.data_version` exists or not.

Also, as this code was l

[2021-03-26 19:47] rtibbles commented on #7348
Fixed in #7905

[2021-03-26 19:47] #7348 closed, assigned to ashmeet13

[2021-03-26 22:02] jonboiser opened #7929 "A restarted task should have the same identity as far as the client is concerned"
### Observed behavior

* https://github.com/learningequality/kolibri/pull/7905 Implemented a API endpoint to restart tasks with only the canceled or failed task's ID.
* When a task is restarted, a new job is enqueued that has the same parameters of the old one. So it is "identical" in all respects except the job's ID.
* When the client polls `/api/tasks/tasks`, after the task is restarted. Task wi

[2021-03-26 22:10] jonboiser opened #7930 "♻️ Tasks can be restarted on the UI"
Sub-issues for epic:

Either the restart functionality does not exist or it does not use the new task restart API implemented in #7905

### Tasks
- [ ] Restart facility import
- [x] Restart facility sync
- [ ] Restart facility deletion
- [ ] Restart setup wizard facility import
- [x] Restart channel import/export/deletion
- [ ] Restart user CSV import/export
- [ ] Restart logs CSV import

[2021-03-26 23:44] radinamatic commented on #6519
@jonboiser Does this need a proper Gherkin scenario, or the _user story_ above is just a suggestion for a possible fix to implement?

cc @pcenov

[2021-03-26 23:57] rtibbles commented on #6519
Flagging that I just ran Kolibri locally with this exact setup:
Empty Kolibri Home dir, except for `.data_version` file

And migrations did indeed run. I think this issue is stale, would be good to add a CLI test to assert this behaviour, but no fix is needed here.

[2021-03-27 00:12] jonboiser commented on #6519
It's a user story to confirm that this bug still exists or not (Richard seems to have gone through the story himself and found the bug doesn't exist anymore).

We can just add it to the list of Gherkins, esp. with the proper variations for Windows.

[2021-03-27 07:53] vkWeb commented on #7929
@apurva-modi would you mind if I attempt at solving this issue? :sweat_smile:

Because I want to understand the task api as I plan to work on it in gsoc so this will give me a hands-on chance to explore and understand the task api.

@jonboiser if for some reason the issue assignment cannot change then can you suggest me some issues that require work on task api? :)

[2021-03-29 07:03] Priyaraj17 commented on #7921
Sir, I am facing some issues in setting up the environment. Please allow me some more time. I am working on it.

[2021-03-29 16:58] jonboiser commented on #7929
@vkWeb Feel free to explore the Task API. If you end up fixing this issue, as well as the tests related to it, I'd be happy to look at your PR.

This other issue (re: tasks losing their metadata after the server is restarted) is also a good issue that you can focus on. https://github.com/learningequality/kolibri/issues/6255

[2021-03-29 17:01] #7837 closed, assigned to rtibbles

[2021-03-30 13:56] kmrinal19 commented on #7591
@jonboiser I was wondering if we can have an endpoint like `GET api/auth/usernameexists`  with `username` and `facility`  as GET parameters in place of `GET /api/usernameexists/{username}`.

[2021-03-30 16:09] jav099 commented on #4242
Hello, I'm new to open source contributions but I'd like to help with this issue.

[2021-03-30 16:36] jonboiser commented on #7591
Something like this?
[code]

I think that would be okay. I think if you implement this endpoint, I would want to query it from the client using a `HEAD` request instead of `GET`, so make sure that works too.

[2021-03-30 17:41] rtibbles commented on #6407
No longer replicates due to zeroconf fixes.

[2021-03-30 17:41] #6407 closed, assigned to nobody

[2021-03-30 17:42] rtibbles commented on #6448
Currently impossible to reproduce.

[2021-03-30 17:42] #6448 closed, assigned to lyw07

[2021-03-30 17:44] rtibbles commented on #6543
Won't fix!

[2021-03-30 17:44] #6543 closed, assigned to nobody

[2021-03-30 17:45] rtibbles commented on #6610
No recent reports, closing. Please reopen if it recurs.

[2021-03-30 17:45] #6610 closed, assigned to nobody

[2021-03-30 17:46] micahscopes commented on #7441
I didn't end up getting to this.  Letting it go for now!

[2021-03-30 17:48] rtibbles commented on #6617
Handled errors are not issues.

[2021-03-30 17:48] #6617 closed, assigned to nobody

[2021-03-30 18:02] rtibbles commented on #2225
To fix this, we should do `get_or_create`.

[2021-03-30 18:03] indirectlylit opened #7933 "design for updates to setup wizard to support individual learner syncing"
https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#bb9db6abe670454286220b3df851980a

[2021-03-30 18:04] rtibbles commented on #3383
No longer using Py27 on Windows. Closing.

[2021-03-30 18:04] #3383 closed

[2021-03-30 18:07] rtibbles commented on #6590
I think we have resolved this now in 0.14.6, and no reports of replication.

[2021-03-30 18:07] #6590 closed, assigned to nobody

[2021-03-30 18:08] indirectlylit opened #7934 "UI and UX design for automated syncing behaviors of individual learner syncing"
https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#89392dfe200c4175aa45c1b89daef4c2

[2021-03-30 18:11] indirectlylit opened #7935 "design for MVP scheduled syncing"
Ref: https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#af839b4b1f214ef9b585415e29580c9c

[2021-03-30 18:33] kmrinal19 commented on #7591
@jonboiser The endpoint mentioned above will return a response with payload like `{ username_exists : false}`, so why do we need to query the endpoint using a `HEAD` request instead of `GET`, as `HEAD` request does not allow payload response?

[2021-03-30 18:48] bjester commented on #4242
Might be worth attempting to reproduce this to see if it's still an issue. I may have fixed this in passing.

[2021-03-30 19:05] jonboiser commented on #7591
Ah okay, that makes sense since the "username doesn't exist" case is actually the "good"/non-error case.

[2021-03-30 19:34] rtibbles commented on #6350
Not reproduced recently, closing.

[2021-03-30 19:34] #6350 closed, assigned to nobody

[2021-03-30 20:33] #7802 closed, assigned to nobody

[2021-03-30 20:43] Kalovelo commented on #7696
Hey @jonboiser, could I work on this? As I can see [here](https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/locale/mr/LC_MESSAGES/kolibri.plugins.device.app-messages.json#L23), `{v}` should be replaced with `{v, number, float}`. If that seems like the right approach, I plan on updating the rest of those occurrences :smiley:

[2021-03-30 20:59] rtibbles commented on #6693
Hi @intelliant01 - this issue still extant? We've not had any reports of it, so we suspect it may be to do with collection hierarchy corruption during syncing.

[2021-03-30 21:06] jonboiser commented on #7696
Sure @Kalovelo, thanks for offering to help. For most of the examples, we only expect integer values, so `{v, number}` should be fine, or `{v, number, integer}`.

I have seen another issue #7598 , where it seems we do want counting numbers like "3 learners" to be localized using Marathi numerals, but I'm not sure about the birth year example.

I'll ask around and see if we should also localize the

[2021-03-30 21:06] jav099 commented on #4242
I downloaded the app from the website and used the Ebook viewer to view a book. Can confirm that the issue is still there, when I move the slider, the percentage does not update until after I stop moving the slider.

[2021-03-30 22:17] jonboiser commented on #7302
I experience this issue a little differently than Jacob, where basically the `devserver` script fails on the first run with this error

[code]

My hypothesis is that the migrations are not being executed (I see no logs from migrations), so the devserver is being run with a non-existent or incompletely structured DB. So I'll just aim to fix that DB issue.

[2021-03-30 22:21] jonboiser commented on #7696
@Kalovelo , I just checked to see if the the [Intl API for datetimes](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat) localized calendar dates for Marathi, and they do. So please include the User Profile pages that display birth year. I believe the component is `BirthYearDisplayText.vue`

[2021-03-30 22:28] rtibbles commented on #7302
This probably happens because we currently use `--skip-update` when running the devserver, so migrations don't run.

[2021-03-30 22:47] bjester commented on #7395
I wasn't able to reproduce this exactly, but I may have found the issue. When using the IE11-Windows7 [Windows Virtual Machine image](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/), the sound card isn't functional when imported into Virtualbox. In this case, opening the Device Manager, you would see:
![Screenshot from 2021-03-30 15-24-28](https://user-images.githubusercontent.com

[2021-03-30 22:53] #7395 closed, assigned to bjester

[2021-03-30 23:11] jonboiser commented on #7302
How should we handle this? Does using `--skip-update` flag assume something about the system, like that `kolibri start` was run at least once, so everything is already setup?

I think what would fix my situation is that, if KOLIBRI_HOME does not exist, then I would overwrite `skip_update = False` in `cli::initialize`.

This will cause the code to into this branch and run the migrations.

https://g

[2021-03-30 23:46] rtibbles commented on #7302
Yeah, running `--skip-update` assumes that someone else is taking care of initialization, so I'd rather keep its strong behaviour - it's useful for preventing accidentally running a migration when someone else is already taking care of it. I think given that we have removed collectstatic from our upgrade routines, it's actually safe/not very time consuming to just remove the `--skip-update` flag f

[2021-03-31 00:09] jonboiser commented on #7302
Ok, that's pretty simple and seems to work the same as what I was thinking of doing.

[2021-03-31 05:08] intelliant01 commented on #6693
@rtibbles safe to close. I have also discarded the old databases.

[2021-03-31 07:34] Kalovelo commented on #7696
A question @jonboiser, I see that `integer` string is in [`commonCoachStrings`](https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js#L94), however, it may be used in core views such as facility views. Should I refactor the code and move the `integer` string instance from `commonCoachStrings` to `commonCoreStrings`?

Im

[2021-03-31 08:11] pcenov commented on #7670
Tested and verified as fixed as part of https://github.com/learningequality/kolibri/releases/tag/v0.14.7-rc1 testing.

[2021-03-31 08:20] pcenov commented on #7557
Tested and verified as fixed as part of https://github.com/learningequality/kolibri/releases/tag/v0.14.7-rc1 testing.

[2021-03-31 08:25] pcenov commented on #7681
Tested and verified as fixed as part of https://github.com/learningequality/kolibri/releases/tag/v0.14.7-rc1 testing.

[2021-03-31 15:23] pcenov commented on #6712
@rtibbles I'm able to replicate this issue in v0.14.7-rc1. The percentage bar always goes right to 100% and I can see in the Network tab multiple api calls with response:
`[{"status":"COMPLETED","exception":"None","traceback":"","percentage":0,"id":"d0d7038858a74f4d8c0a069fc0a26001","cancellable":false,"clearable":true},{"status":"COMPLETED","exception":"None","traceback":"","percentage":1.0,"id":

[2021-03-31 15:39] rtibbles commented on #6712
Thanks @pcenov!

[2021-03-31 19:45] Priyaraj17 commented on #7886
Can you please tell me what this issue is related to? Is it open?

[2021-03-31 19:48] Priyaraj17 commented on #7925
Hey, I am looking for issues to work on. Is this issue open?

[2021-03-31 23:35] rtibbles commented on #7886
This issue has been assigned, please look for unassigned issues.

[2021-03-31 23:36] rtibbles commented on #7925
There is not a clear path to resolution here yet, so I'd recommend looking at a different issue.

[2021-04-01 06:52] radinamatic commented on #7395
Issue reporter must have been eager to use their own VM, as the Windows 7 ready-made VM hard drive, available to use and regularly updated on our shared Google drive, already has the correct audio drivers necessary, and the IE11 plays sound without issues 🙂

[2021-04-01 09:05] vkWeb commented on #7929
@jonboiser hey, thanks for the chance! Okay - I've started my work on this one. Once I properly fix this then I'll move on to #6255.

[2021-04-01 17:04] jonboiser commented on #7921
@Priyaraj17 can you share a screenshot of what it looks like on your screen? Are you running the `develop` branch of the code?

[2021-04-01 18:42] jonboiser commented on #7302
Fixed in #7938, specifically for the non-existent KOLIBRI_HOME folder case.

[2021-04-01 18:42] #7302 closed, assigned to jonboiser

[2021-04-01 18:47] jonboiser commented on #7696
I think this might depend on the situation. I really think that if a number is just by itself in the template, we should be using the `$formatNumber` method instead of using `$tr('integer', ...)`. Could you see if that approach works?

Here are the doc explaining how `$formatNumber` works. https://github.com/learningequality/vue-intl#instance-methods

It is like a wrapper around `Intl.NumberFormat

[2021-04-02 17:07] Priyaraj17 commented on #7921
@jonboiser Here are the screenshots:
![screencapture-localhost-8000-es-419-device-2021-04-02-22_26_34](https://user-images.githubusercontent.com/40101776/113437200-da1bcd80-9403-11eb-973a-ffc8364373d0.png)

![image](https://user-images.githubusercontent.com/40101776/113437182-cd977500-9403-11eb-8d48-a3a066d74d4c.png)

Yes, I am using the develop branch.

[2021-04-02 19:31] lauradanforth opened #7944 "Replicate: (UNW) Long delay between channel update finishing and changes reflecting on Learn page"
## Updated Issue

### Acceptance Criteria

Per @rtibbles this should be fixed in #7766 (a closed issue) in 0.14.7 - so:

- [ ] Verify that this issue is indeed closed in 0.14.x
- [ ] Either: 1) Close this issue with a comment saying that it no longer is a bug and that you've confirmed it or 2) Investigate the cause of the issue. If it is a quick fix (~45 mins from start to PR) then fix it, otherwi

[2021-04-02 19:35] rtibbles commented on #7944
Note that this should be fixed in 0.14.7 by this PR: #7766

[2021-04-02 19:36] lauradanforth commented on #7944
Looks similar to #4463

[2021-04-02 19:38] rtibbles commented on #7944
It's slightly different, as #4463 is a case where import was interrupted by power failure, and we currently have no way in the UI for a user to recover from this intermediary state. The issue here is probably that the cache invalidation was not working as intended.

[2021-04-02 19:53] lauradanforth opened #7945 "Investigate: (UNW) Import failure messages appears but channel appears in Device tab"
## Updated Issue

### Acceptance Criteria

- [ ] Find a way to regularly replicate this.
- [ ] If you can replicate this, describe the issue as completely as you can. If you cannot, then explain what you've tried in this issue in a comment.
- [ ] If this is a quick fix (~45mins from start to PR)- fix it, otherwise create a new issue following up on this with what you've learned.

## Original Repor

[2021-04-02 19:56] rtibbles opened #7946 "Exporting CSV file that contains Unicode text fails on Python 3 on Windows"
### Observed behavior
User reports of CSV file export failing prompted me to add a test for this in a Windows environment in https://github.com/learningequality/kolibri/pull/7899.

When Unicode text should be inserted into the exported CSV, such as a Unicode username or full_name, then an error occurs on windows.

[code]

### Expected behavior
CSV Export should work on all platforms.

This is fixe

[2021-04-02 20:37] Kalovelo commented on #7696
@jonboiser, I have fixed every instance except the `maxLength` occurrence in the KTextBox component, since it is imported from kolibri's design system and there's no corresponding prop assigning label values to current/max text of the textarea. Can a better solution be provided through the design system's repository?

[2021-04-03 19:28] Priyaraj17 commented on #7880
Can you please tell me a little more about this issue? What do we need to work on?

[2021-04-03 19:29] Priyaraj17 commented on #7874
Is this issue open? May I work on it?

[2021-04-04 01:46] rtibbles commented on #7880
This issue is assigned to someone - please look for issues that are not assigned, and for good starting issues, search by the Beginner Issue label.

[2021-04-04 06:59] Priyaraj17 commented on #7880
Sure

[2021-04-04 10:27] Priyaraj17 commented on #7922
@jonboiser, May I work on this issue? I have been constantly looking to work on issues? Can you please help me a little?

[2021-04-04 20:19] vkWeb commented on #6316
Does [`json`](https://docs.python.org/3/library/json.html) from the python's standard library make sense here? json will allow us to encode python object hierarchies to their string representation (which can then be stored in db).

Tbh, I haven't used pickle and also I'm pretty new to kolibri, so I am not sure if this approach will make sense, but just sharing my thoughts...

[2021-04-04 21:08] vkWeb commented on #6255
I looked into this & I think upon server restart, the jobs are getting cleared from the `job_storage.sqlite3` db.

But I cannot find the code where this deletion of records is happening :thinking:

[2021-04-05 05:10] chrislun16 commented on #7370
Is this still open? And would this be achievable for a newcomer to this repository?

[2021-04-05 11:12] Priyaraj17 commented on #3781
Is this issue open? May I work on it?

[2021-04-05 13:09] nucleogenesis commented on #3781
@Priyaraj17 sure that'd be much appreciated. If you have any questions please let us know.

[2021-04-05 13:19] nucleogenesis commented on #7370
@chrislun16 I'd avoid this one - the string change will involve a little bit of complexity around our i18n system. I've removed the `beginner friendly` label here.

My apologies for the confusion - I've done a pass of the [Beginner Friendly issues](https://github.com/learningequality/kolibri/issues?q=is%3Aopen+is%3Aissue+label%3A%22TAG%3A+beginner+friendly%22+) list and most items should be relati

[2021-04-05 13:54] nucleogenesis commented on #6519
@rtibbles This issue or something that is very much like it (it's different, issue made here #7952) - fails the first run of `yarn devserver` if the `KOLIBRI_HOME` I am targeting doesn't exist. I thought this was tracked but I'm not sure if it's this issue or another.

The report for this was specific to the Mac installer - when you tested this did you try it with the Mac OS installer to be sure t

[2021-04-05 14:02] nucleogenesis opened #7952 "yarn devserver w/ new KOLIBRI_HOME fails initialization and startup"
### Observed behavior

When the `KOLIBRI_HOME` points to a nonexistent location, `yarn devserver` fails _the first time_.

Logs below - but it fails on what seems to be a migration that expects `morango` to exist already.

### Expected behavior

Kolibri's devserver should start the first time every time.

### User-facing consequences

Only affects those who use the devserver. `kolibri start` doesn

[2021-04-05 14:11] nucleogenesis commented on #7922
@jonboiser pretty sure this is a Safari-only issue and was fixed in https://github.com/learningequality/kolibri-design-system/pull/195

@Priyaraj17 thank you for the interest here, I will be closing the issue. You could give https://github.com/learningequality/kolibri/issues/7455 a look for an issue that has clear expectations - but please to be sure to reach out if you have questions.

[2021-04-05 14:31] nucleogenesis commented on #7696
@Kalovelo - if you are actively working on this issue, can you please assign yourself to it (or I'll assign you if you cannot assign yourself).

The issue w/ `KTextBox` in the design system can be fixed separately as it may require that we include `vue-intl` as a dependency in that package to allow for i18n on the numbers there.

Most numbers that will run through design system components would be

[2021-04-05 14:34] Kalovelo commented on #7696
Thank you for your answer @nucleogenesis , I will proceed with a PR 🚀

[2021-04-05 15:08] rtibbles commented on #7952
I am unable to replicate this on latest develop - have tried twice with non-existent KOLIBRI_HOME dirs and both times the migrations have run and there are no errors at startup.

[2021-04-05 15:09] rtibbles commented on #6519
Have just posted in #7952 - I was unable to replicate that issue either.

[2021-04-05 15:30] Priyaraj17 commented on #3781
Sure, I will get started. Can you tell me how to reproduce this issue?

[2021-04-05 15:35] jonboiser commented on #7952
I think this is the exact issue #7938 was supposed to fix.

[2021-04-05 15:36] rtibbles commented on #7952
Yes - although @nucleogenesis reports the commit that is current HEAD of develop, so this is particularly confusing.

[2021-04-05 15:38] jonboiser commented on #7922
@nucleogenesis No, this is still extant, even after the PR. The BackLinks looks fixed on the Sign-Up page, because of the `display:block; width:100%` rule, but not on the coach pages because the BackLinks are lacking those rules. The screenshots come from after updating to kolibri-design-system with PR 195.

[2021-04-05 15:42] rtibbles commented on #7732
Primary needs:
* Which app is being used, and which version of that app?
* More accuracy for installation method - important to disambiguate kolibri debian package from kolibri + kolibri-server debian packages
* Details on how the app is being served: CherryPy, uWSGI, Apache, etc
* Be able to set a project specific flag for devices that we pre-provision.

[2021-04-05 16:01] rtibbles commented on #7732
It appears that our current method for sniffing whether we are running on kolibri or kolibri-server debian packages relies on checking whether the `installation_type` function has been invoked using `uwsgi`: https://github.com/learningequality/kolibri/blob/e68cfa265b7632b2c94a5b3301199f6383ebf1a2/kolibri/utils/server.py#L585

This means that when accessing from the device tab, this will indeed rep

[2021-04-05 16:56] rtibbles opened #7954 "Don't clear scheduled tasks at startup and ensure that the pingback scheduler does not add multiple pingbacks as a result"
### Observed behavior
In line with the regular task queue, we clear scheduled tasks at startup.
#7951 changed this behaviour for the regular task queue, but not for the scheduled tasks.

### Expected behavior
We should be able to persist scheduled tasks across server restarts.
The 'schedule_pingback` function should not queue a new ping back in the scheduler if one already exists.

### User-facing

[2021-04-05 19:22] rtibbles commented on #6582
Looking at the task handling code for this page: https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/facility/assets/src/modules/manageCSV/actions.js#L67 it appears that there is no handling of task failure.

My assumption is that the export task has failed somehow (possibly due to the Windows unicode bug fixed here: https://github.com/learningequality/kolibri/pull/7947 and so

[2021-04-05 19:26] rtibbles commented on #5986
No reports of this in some time, and unlikely to recur in this form after 0.14.7 is released.

[2021-04-05 19:26] #5986 closed, assigned to nobody

[2021-04-05 19:38] rtibbles commented on #6354
I think this is happening because of the frontend path data caching that is happening here: https://github.com/learningequality/kolibri/blob/44bf1ed3591321f4b7ef7c4e5c6ceda8c01db7ae/kolibri/plugins/device/assets/src/modules/wizard/index.js#L41

This should not persist beyond the session in which the upgrade occurred.

[2021-04-05 19:47] rtibbles commented on #6987
We have not seen these recently - although that may just be a consequence of @jeepurs no longer testing on her extreme browser zoom/resolution combo. Going to close for now.

[2021-04-05 19:47] #6987 closed, assigned to nobody

[2021-04-05 19:51] rtibbles commented on #7502
The issue is that we do catch requests `RequestException` here: https://github.com/learningequality/kolibri/blob/develop/kolibri/core/discovery/utils/network/client.py#L56 but are not catching the JSON Decode Error.

We should add `ValueError` to the tuple of caught exceptions, as a Python 2 compatible way of catching the error.

[2021-04-05 20:00] jonboiser commented on #7952
@nucleogenesis Could you try this again? I'm noticing in the logs, the `devserver` script is still running the old invokations e.g. `npm-run-all --parallel python-devserver-no-update` instead of `run-p python-devserver ...`

[2021-04-05 20:37] nucleogenesis commented on #7952
@jonboiser bah I fetched but didn't `pull` the changes so I was actually at the wrong commit on develop. Sorry.

[2021-04-05 20:37] #7952 closed, assigned to nobody

[2021-04-05 20:44] nucleogenesis commented on #3781
Yes - @Priyaraj17 this issue is a matter of ensuring that we don't use the `text-align` property in our CSS with the `right` and `left` values.

Resolving the issue would involve:

- [ ] Finding all instances of `text-align` in our CSS (both inline CSS and the stuff between `<style>` tags) and making sure that they do not assign the value of `right` or `left`.
- [ ] If you make a change, ensure th

[2021-04-05 20:51] jonboiser opened #7955 "Devserver should exit more cleanly after being terminated with "Ctrl-C""
## Observed behavior

1. I run devserver with `yarn run devserver-hot`
2. In the terminal, I press ctrl-c to stop the server
3. CherryPy raises an error (it doesn't do this when running `kolibri start`)
4. Then, after the shell prompt is returned, you see the "graceful" cherrypy shutdown logs

Note: This might depend on _when_ Ctrl-C is pressed. Looking into this. Sometimes Ctrl-C will cause cherr

[2021-04-05 21:29] radinamatic commented on #7955
I don't recall having seen errors, but I always have to type <kbd>Ctrl+C</kbd> twice, sometimes even 3 times, for the server to actually stop.

Python 3.6.9
Ubuntu 18.04.5

[2021-04-05 21:46] #7929 closed, assigned to apurva-modi

[2021-04-05 21:46] rtibbles commented on #6712
This issue is caused by sequential updates to the job object within the task. When `job.update_progress` is called here: https://github.com/learningequality/kolibri/blob/develop/kolibri/core/tasks/api.py#L1185 the subsequent calls to `save_metadata` inadvertently overwrite the progress data, because it is never set on the job itself.

To fix this, the update_progress method https://github.com/lear

[2021-04-05 21:52] rtibbles commented on #7197
Need to add a defensive check that `topic.id` is indeed defined here: https://github.com/learningequality/kolibri/blob/44bf1ed3591321f4b7ef7c4e5c6ceda8c01db7ae/kolibri/plugins/device/assets/src/modules/wizard/handlers.js#L268 if not, should skip straight to the content wizard error state in the `catch` block.

[2021-04-05 21:56] rtibbles commented on #7610
@radinamatic @pcenov Is this replicating for you at all? See video for details. Possibly Raspberry Pi specific, but I'm not sure how.

[2021-04-05 22:01] rtibbles commented on #7690
To manage this, we'd need to find a way to batch these queries: https://github.com/learningequality/kolibri/blob/44bf1ed3591321f4b7ef7c4e5c6ceda8c01db7ae/kolibri/core/content/utils/channel_import.py#L331 - the issue is that currently that entire topic tree will be copied in a single SQL query, so we can't really interrupt it while the SQL query is ongoing.

[2021-04-05 22:03] rtibbles commented on #6255
Fixed in #7951

[2021-04-05 22:03] #6255 closed, assigned to nobody

[2021-04-05 22:05] radinamatic commented on #7610
Haven't seen that error in a while, but @pcenov has the RPi device ready with the `0.14.7-rc1` release, and can test tomorrow to confirm!

[2021-04-05 22:27] #7591 closed, assigned to kmrinal19

[2021-04-05 22:59] jonboiser commented on #7946
Fixed in #7947

[2021-04-05 22:59] #7946 closed, assigned to rtibbles

[2021-04-06 07:52] Priyaraj17 commented on #3781
Thank you. I will start ASAP.

[2021-04-06 15:26] pcenov commented on #7610
@rtibbles I had a chance to take a look at this today on my Raspberry Pi 4 Model B and tested the above described scenario on a Mac Mini and was not able to reproduce the issue. I did stumble upon an issue with exercises not being displayed correctly in Safari which I'll report separately.

[2021-04-06 15:38] rtibbles commented on #7610
OK, let's close this for now then!

[2021-04-06 15:38] #7610 closed, assigned to nobody

[2021-04-06 16:24] rtibbles opened #7957 "Update installation_type function to read from an environment variable"
## Observed behavior
Currently the `installation_type` function: https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/server.py#L564 uses a series of sniffing steps to try to infer how the package in question was installed.

The reliance on the `sys.argv` sniffing in particular causes issues in disambiguating the `kolibri` debian package from invocations of Kolibri from within th

[2021-04-06 17:54] #7696 closed, assigned to Kalovelo

[2021-04-06 18:03] indirectlylit commented on #3781
Just to clarify a subtle but important distinction:

Using `text-align` with `right` and `left` is entirely acceptable for page layout. These values should be written assuming an LTR layout, and they will automatically be swapped when viewed in an RTL language using [RTLCSS](https://rtlcss.com/).

This issue is just referring to user-generated text, for example names and descriptions of content, u

[2021-04-06 18:22] chrislun16 commented on #5989
Is this still open? Can I be assigned to this?

[2021-04-06 18:26] chrislun16 commented on #6514
Is this still open? Can I be assigned to this?

[2021-04-06 18:27] chrislun16 commented on #6984
Is this still open? Can I be assigned to this? We're not sure how to approach it yet.

For a school assignment, my partner and I have to contribute to an open source project and choose a few tasks. So I chose this repo and I wanted to find a few tasks like this one that I can be assigned to. I wanted to be assigned before someone else comes and completes the task.

[2021-04-06 18:30] jonboiser commented on #6514
Hi @chrislun16, could you tell us how you plan to approach this issue first before we assign this to you?

[2021-04-06 18:34] indirectlylit opened #7958 "Investigate: bulleted lists in dev docs are broken"
## Acceptance Criteria

- [x] Determine the proper path forward for fixing it.
- [x] Either: Create a new issue to fix the problem once a likely solution is found OR fix it if it's a quick fix and submit a PR that closes this Issue.

## Observed behavior

All bulleted lists in the dev docs are broken:

## Expected behavior

Bulleted lists should be properly indented and annotated

## User-facing c

[2021-04-06 19:32] chrislun16 commented on #6514
I'm new to django and migrations but perhaps we could grep to see if run python is the lat element of a migration.

For a school assignment, my partner and I have to contribute to an open source project and choose a few tasks. So I chose this repo and I wanted to find a few tasks like this one that I can be assigned to. I wanted to be assigned before someone else comes and completes the task.

[2021-04-06 19:43] jonboiser commented on #6514
grep might be too simple to do this check. you should consider writing a flake8 plug since you can access the AST of the migration file.

https://medium.com/analytics-vidhya/how-to-write-flake8-plugins-5c5c47faffc2

I would recommend finding a simpler issue for your school assignment, esp. if you are not familiar with Django and Python right now. But for any issue you are interested in, please jus

[2021-04-06 20:48] rtibbles commented on #7831
Design complete, and transferred to the implementation issue. Closing this one.

[2021-04-06 20:48] #7831 closed, assigned to jtamiace

[2021-04-06 20:58] rtibbles opened #7960 "Collect enhanced telemetry data"
Get more accurate and better reporting of user devices, including:
* Browser information of client devices
* Accurate installer information
* Information about apps and other 'launch' modes (e.g. cherrypy, uwsgi, gunicorn, apache)
* Project specific tagging so we can trace more information about projects we are working directly with

Installer information spec:
https://docs.google.com/spreadsheets

[2021-04-06 21:05] rtibbles opened #7961 "Add PROJECT Deployment Option and return with telemetry data"
## Observed behavior
We currently have no good way to track installers built for custom projects in our telemetry data.

## Expected behavior
Add an option to our options.py under `Deployment` as `PROJECT` to allow us to set default values for this in custom installers.

We should then report this data back in our telemetry ping backs as a top level field.

[2021-04-06 21:55] rtibbles opened #7962 "Remove use of MPTT in Collection hierarchy"
## Observed behavior
Having to write MPTT fields has caused issues in the past including:
* Slow writes when creating AdHoc groups for large collection hierarchies
* Corrupted MPTT trees when doing data synchronization

Once https://github.com/learningequality/kolibri/pull/7928 is merged, we will no longer need MPTT fields to describe our collection hierarchy, as all role permissions are explicitl

[2021-04-06 22:22] rtibbles commented on #7834
Closed by work in #7831

[2021-04-06 22:22] #7834 closed, assigned to jtamiace

[2021-04-06 23:03] rtibbles commented on #7607
This is a duplicate of #7768 - they have the same root cause.

[2021-04-06 23:03] #7607 closed, assigned to nobody

[2021-04-06 23:38] indirectlylit opened #7963 "Individual-user sync choice in setup wizard"
Ref: https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#bb9db6abe670454286220b3df851980a

In Kolibri 0.14 during the setup wizard, admins have the option to select a facility on another device on the same network from which to initialize the new device.

In Kolibri 0.15, admins will additionally have the option to select one or m

[2021-04-06 23:39] indirectlylit opened #7964 "Automatic individual-user device syncing"
Ref: https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#89392dfe200c4175aa45c1b89daef4c2

## Overview

Once a Kolibri device has been set up for individual-user syncing, it should automatically sync with any server device containing that user's full facility on its local network.

The most common scenario is that some individual-

[2021-04-06 23:39] indirectlylit opened #7965 "Coach and admin view of sync statuses"
Ref: https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#1f26f67047304e99b4cfd3c6bca43fd2

When looking at lists of users (such as in the Facility app) or pages for particular users (such as a coach report), it will be helpful for coaches and admins to be able to know:

- Does this user exist on an individual-learner device on the

[2021-04-06 23:39] indirectlylit opened #7966 "Instructions for clearing app data"
ref: https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#9ab74644b3e744cd84674c11d33962f0

Devices running Kolibri 0.15 in individual-user mode may occasionally need to be reset, for example in order to associate the device with a new user. For general users, this can be done in one of two ways:

- Running the `deprovision` comman

[2021-04-06 23:39] indirectlylit opened #7967 "Scheduled syncs"
ref: https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#af839b4b1f214ef9b585415e29580c9c

For computer lab servers and online servers, we should enable scheduled syncs of the latest data to the Kolibri Data Portal. We have existing designs for this, which might need to be pared down a little to an MVP which covers the most typica

[2021-04-06 23:40] rtibbles commented on #7309
Closing, as the issue here seems to be "can't write to unwriteable folder".

[2021-04-06 23:40] #7309 closed, assigned to nobody

[2021-04-06 23:40] indirectlylit opened #7968 "Documentation of individual-user devices"
ref: https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#769d577cf55648839ee80cab96b2cba8

[2021-04-06 23:41] indirectlylit opened #7969 "Gherkin stories for individual-user syncing"
ref: https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#769d577cf55648839ee80cab96b2cba8

[2021-04-06 23:42] rtibbles commented on #7436
Note that this would also apply on narrower form factors.

[2021-04-06 23:43] indirectlylit commented on #7963
In Kolibri 0.14 during the setup wizard, admins have the option to select a facility on another device on the same network from which to initialize the new device.

In Kolibri 0.15, admins will additionally have the option to select one or more individual learner accounts from a facility on another device. This choice sets up a trusted relationship between the devices whereby they will automatical

[2021-04-06 23:46] indirectlylit commented on #7964
## Overview

Once a Kolibri device has been set up for individual-user syncing, it should automatically sync with any server device containing that user's full facility on its local network.

The most common scenario is that some individual-user devices will be on the same network as one server device during a class. That said, it is also possible that two or more facility servers might be availab

[2021-04-07 00:06] indirectlylit commented on #7965
When looking at lists of users (such as in the Facility app) or pages for particular users (such as a coach report), it will be helpful for coaches and admins to be able to know:

- Does this user exist on an individual-learner device on the same network?
- What's the sync status?

Because this change would touch many parts of the app (possibly anywhere a user is referenced), it could be implement

[2021-04-07 00:06] indirectlylit commented on #7966
Devices running Kolibri 0.15 in individual-user mode may occasionally need to be reset, for example in order to associate the device with a new user. For general users, this can be done in one of two ways:

- Running the `deprovision` command
- Clearing app data through the operating system (i.e. deleting `~/.kolibri` or clearing Android app data)

These user flows are important, and should be tes

[2021-04-07 00:07] indirectlylit commented on #7967
For computer lab servers and online servers, we should enable scheduled syncs of the latest data to the Kolibri Data Portal. We have existing designs for this, which might need to be pared down a little to an MVP which covers the most typical use cases.

[2021-04-07 00:16] #7890 closed, assigned to nucleogenesis

[2021-04-07 00:17] rtibbles commented on #7748
These dots no longer appear to be on Studio either - so closing this issue for now.

[2021-04-07 00:17] #7748 closed, assigned to nobody

[2021-04-07 02:03] #7152 closed, assigned to jonboiser

[2021-04-07 03:22] indirectlylit commented on #7152
flagging comment:

https://github.com/learningequality/kolibri/pull/7936#pullrequestreview-629562954

[2021-04-07 13:08] pcenov commented on #7605
Retested today on Kolibri v0.14.7-rc2 and this is no longer an issue because as soon as one clicks the Add button the page gets reloaded, the button changes to Remove and there's a text to the left of it stating that the resource has been 'Added':
![2021-04-07_16-05-00](https://user-images.githubusercontent.com/79847249/113871275-67bc3c00-97bb-11eb-8751-609949040897.png)

[2021-04-07 15:25] #7605 closed, assigned to apurva-modi

[2021-04-07 15:25] apurva-modi commented on #7605
no longer an issue

[2021-04-07 15:47] rtibbles opened #7970 "Update content renderer progress behaviour"
* Update all content renderers to use mixin time spent calculation when using time spent on a resource for progress calculation
* Make PDF, EPub and Slideshows use 'all pages/slides visited' as the default progress calculation method
* Allow PDF, EPub and Slideshows to revert to time based progress tracking based on the `forceTimeBasedProgress` from the KContentRenderer mixin (see https://github.c

[2021-04-07 16:17] rtibbles opened #7971 "Design optional 'I'm finished with this' interaction to allow learners to mark an item as 100% complete when the resource allows it"

[2021-04-07 16:31] khangmach commented on #7971
What're the usage cases and motivations for this? Is this meant to be a way to mark completion before fulfilling completion requirements? Or a "don't show me this again" marker?

[2021-04-07 16:44] rtibbles commented on #7971
In Studio a resource will be able to be flagged as 'user can mark as complete', so this would only show in the case that the resource was flagged as such.

[2021-04-07 16:45] rtibbles commented on #7971
More details on this here: https://github.com/learningequality/studio/issues/3077

[2021-04-07 17:02] chrislun16 commented on #6514
@jonboiser Do you think #6984 would be a good task? If not, could you recommend a task for us? Thank you.

We are both experienced in python but also have some experience in javascript.

[2021-04-07 17:39] jonboiser commented on #7744
Fixed in #7882

[2021-04-07 17:39] #7744 closed, assigned to nobody

[2021-04-07 17:59] jonboiser commented on #6514
@chrislun16 #6984 might be too complex as well, but if you have a technical plan on how to address, let us know.

I can recommend #7958 which seems to be an issue with our Python Sphinx-based documentation, if you want to check it out.

[2021-04-07 18:19] jonboiser opened #7972 "In Kolibri CLI, don't show `INFO` level logs for every command (maybe just `kolibri start`)"
## Observed behavior

When running something like `kolibri plugin list`, I see two `INFO`-level logs that distract from the list I wanted to see.

[code]

## Expected behavior

Especially for `kolibri plugin list`, just show the list of plugins. The other subcommands might benefit from this as well.

The two `INFO` logs above might be more relevant for `kolibri start`, so can be kept for that subc

[2021-04-07 19:11] #7661 closed, assigned to apurva-modi

[2021-04-07 19:21] chrislun16 commented on #6514
@jonboiser Thanks for the suggestion, but our instructor said we can't work on documentation issues. It should be a task that requires changes to the source code. We both have to spend 12 hours each on this project. This can include time researching the source code and tools we'll use.

I was looking through the beginner friendly issues, but it was hard to gauge the difficulty/time needed for a ta

[2021-04-07 19:37] jonboiser commented on #6514
@chrislun16 #7958 is not "just" writing documentation. there is a bug in the source code of our developer docs website https://kolibri-dev.readthedocs.io/en/develop/. The fix might be in python code or the CSS. Let me know if you would be interested. I'm going to hide these comments since they are off-topic from this particular issue.

If you still need more discussion about working on Kolibri, I

[2021-04-07 21:46] jonboiser opened #7974 "focus outline can appear around elements when hovering, even outside of keyboard modality"
## Observed behavior

These are some screenshots I made browsing https://kolibri-dev.learningequality.org, which is using kolibri-design-system 0.2.2b1.

These screenshots were created while using the mouse exclusively (i.e. never entering into keyboard modality, at least intentionally by tabbing into elements).

**On video player (hovering)**

![CleanShot 2021-04-07 at 12 09 52](https://user-imag

[2021-04-07 22:03] jonboiser commented on #7602
@jtamiace What should the error message say? I don't think we have one yet for this specific error.

[2021-04-07 22:18] jonboiser commented on #7602
@jtamiace @radinamatic This is the Gherkin story I'm going to check in as part of the PR (in `common-multiple-facility-sign-in.feature`). I'm also going to convert all the indentation to tabs!

Let me know what the error message should be or suggestions for extra details/corrections

[code]

[2021-04-07 23:30] radinamatic opened #7976 "Strings not extracted and missing on Crowdin"
## Observed behavior
Reported on the [community forums](https://community.learningequality.org/t/add-button-in-spanish-version-is-not-translated/1960/2), strings for the button `Add` (resource to the lesson from a preview) and the label `Added`, still appear untranslated in the non-English UIs.

`addButtonLabel` | `addedIndicator`
--- | ---
![crwdns278692:0Anatomia de la florcrwdne278692:0 — Mozil

[2021-04-07 23:33] rtibbles commented on #3109
This will be fixed by work under https://github.com/learningequality/kolibri-ecosystem/issues/18 - closing this as there is no defined action, and decisions have been made!

[2021-04-07 23:33] #3109 closed

[2021-04-07 23:33] rtibbles commented on #3111
This will be fixed by work under https://github.com/learningequality/kolibri-ecosystem/issues/18 - closing this as there is no defined action, and decisions have been made!

[2021-04-07 23:33] #3111 closed

[2021-04-07 23:34] rtibbles commented on #3126
This will be fixed by work under https://github.com/learningequality/kolibri-ecosystem/issues/18 - closing this as there is no defined action, and decisions have been made!

[2021-04-07 23:34] #3126 closed

[2021-04-07 23:34] rtibbles commented on #2451
There are security issues with doing this inside the build pipeline, so we won't do this.

[2021-04-07 23:34] #2451 closed

[2021-04-07 23:35] rtibbles commented on #2084
Unable to reproduce for over 3 years. Closing.

[2021-04-07 23:35] #2084 closed

[2021-04-07 23:44] rtibbles commented on #2526
This is not extant - superuser's roles do not include learner.

[2021-04-07 23:44] #2526 closed

[2021-04-07 23:48] rtibbles commented on #7976
Seems like a component was renamed, maybe?

[2021-04-08 01:06] jonboiser opened #7977 "Facility settings page makes invalid request when unchecking "Require password for learners" option"
## Observed behavior

1. Start with "Require password..." and "Allow learners to edit..." both checked
2. Uncheck "Require password..."
3. Press "Save changes"
4. An error occurs because of the validation implemented in #7856. "Allow learners..." looks disabled, but is actually still set to `true` on the client side.

![CleanShot 2021-04-07 at 18 02 45](https://user-images.githubusercontent.com/10

[2021-04-08 01:10] #7868 closed, assigned to nobody

[2021-04-08 04:21] rtibbles commented on #3384
This has been fixed already.

[2021-04-08 04:21] #3384 closed

[2021-04-08 04:22] rtibbles commented on #3422
I think we've survived this long with dist, we can keep going with it.

[2021-04-08 04:22] #3422 closed

[2021-04-08 04:23] radinamatic commented on #7958
I'm not able to replicate this when I build the dev docs locally on current `develop`, bulleted lists display OK 🤔

![LEDev2104 (start)  Running  - Oracle VM VirtualBox_034](https://user-images.githubusercontent.com/1457929/113967934-64b06280-9832-11eb-9c04-0e0c55ea86e4.png)

I checked out the docs versions backward from `develop` to `0.12.x` and was not able to replicate it anywhere. I'll investi

[2021-04-08 07:42] Priyaraj17 commented on #7974
Hey, We just need to add 'outline: none' in the css files. I will get started ASAP.

[2021-04-08 12:31] pcenov opened #7978 "The exported CSV file is not named correctly when the username and full name of the Super Admin contain characters in Unicode"
## Observed behavior
The exported CSV file is not named correctly when the username and full name of the Super Admin contain characters like 姚明 - when I select the option 'Generate a new log file' and then hit the Download button all I get is a file named 'download' which is without the .csv file extension. The users' export file is also without the .csv extension but is labeled with a random stri

[2021-04-08 15:11] rtibbles opened #7979 "Allow setting different logging modes via environment variable"
## Observed behavior
We currently have a very fully specified logging configuration, which gets intellligently used both before the Django stack is started and after.

However, it always assumes that the log location should be to disk, which can cause problems for some deployment models.

## Expected behavior
Because logging is used by the options.ini parsing machinery in `options.py`, we can't us

[2021-04-08 15:18] aronasorman commented on #7979
This hits a lot of birds with one stone especially with the hosted use-case.

- Avoids writing to potentially corrupt filesystems
- Stdout/err is much easier to manage on our side
- Removes one more need for a persistent filesystem

[2021-04-08 15:20] rtibbles opened #7980 "Allow serving of content from a remote URL"
## Observed behavior
Currently we are only able to serve content from the local file system - this means that for cloud based deployments of Kolibri, a persistent local file store is required for serving content.

## Expected behavior
Add an option to our options.ini in `options.py` under `Deployment` with a value of `REMOTE_CONTENT_URL` - which will default to an empty string. Validation should r

[2021-04-08 15:55] khangmach commented on #6945
This should be an easy fix. We already have an available layout via quiz details page in coach (plan tab -> quizzes -> quiz details)

<img width="3664" alt="s1" src="https://user-images.githubusercontent.com/25045166/114059605-62a5ce00-9849-11eb-911f-e6619e76c315.png">

[2021-04-08 16:06] jonboiser commented on #7978
Does this file name issue still happen if there are no data using Unicode characters? Or does it happen regardless of what data is in the logs?

[2021-04-08 16:14] jonboiser commented on #7974
@Priyaraj17 I don't think the solution is simple as that. We want the green outline to show when using the keyboard "tab" button to navigate the UI. Try navigating Kolibri right now with just the keyboard to see what I mean.

So any change to the CSS that will remove that is unacceptable (i.e. setting `outline: none` globally).

[2021-04-08 16:34] pcenov commented on #7978
It happens regardless of what data is in the logs yet the columns for Facility name and Username do contain the said Chinese characters.

[2021-04-08 16:46] jonboiser commented on #7978
Ah, okay, so it's not the case if you have `username` values like `Yao Ming`, the file names are correct. But if it's `姚明` the file names are incorrect?

So this is possibly just a problem with Windows and Ubuntu. If so, we should update the issue title and description to something like "The exported CSV is not named correctly on Ubuntu and Windows".

[2021-04-08 17:55] jtamiace commented on #7602
The current one on the password field is "Incorrect username or password"

Here's my suggestion for new validation messages of both fields since the current one will no longer be true for the password field when when we add validation on the username field.

Username validation message: "Incorrect username"
Password validation message: "Incorrect password"

[2021-04-08 21:28] jonboiser opened #7982 "When TextTruncator in Lesson Resource cards unmounts, it flashes un-truncated text and has unhandled errors"
## Observed behavior

**Problem 1: Shave.js stops truncating text right before navigation**

Here, the card will expand after I click it

![CleanShot 2021-04-08 at 14 28 39](https://user-images.githubusercontent.com/10248067/114098836-c72b5200-9876-11eb-8996-c9229bc73e3e.gif)

**Problem 2: debounced callback in `TextTruncator` gets called after it is destroyed, causing errors in the console**

![i

[2021-04-08 22:22] chrislun16 commented on #6514
@jonboiser Ok we would be interested in working on that task.

[2021-04-08 23:24] #7976 closed, assigned to radinamatic

[2021-04-09 04:43] bernandez opened #7986 "Development Server Unable to start when the "yarn run devserver" command is been ran"
## Observed behavior

…

## Errors and logs

…

## Expected behavior

…

## User-facing consequences

…

## Steps to reproduce

…

## Context

…

[2021-04-09 04:46] muhammadalics commented on #3781
Hi @Priyaraj17 are you working on this issue? If not, can I give it a shot?

[2021-04-09 05:12] Priyaraj17 commented on #3781
Hey @muhammadalics I am working on this. If I face some issues, I will definitely ask for your help. Thanks

[2021-04-09 05:16] muhammadalics commented on #5922
I tried to reproduce this using Firefox on Ubuntu but it appears that it works fine (for Firefox on Ubuntu).

[2021-04-09 05:18] muhammadalics commented on #5960
@YashJipkate Are you working on this issue? If not, can I work on it?

[2021-04-09 05:26] muhammadalics commented on #5989
Is this log generated using shell? Would you be able to provide more color please?

[2021-04-09 05:28] jamalex commented on #6615
I'm seeing this on a RACHEL-Plus running  0.14.6:
[code]

`mdns-scan` doesn't seem to show any other Kolibri instances on the local network.

[2021-04-09 05:47] YashJipkate commented on #5960
@muhammadalics currently no, but I was planning to resume it post the GSoC application period. But if you want to work on it, then feel free to go ahead. And let us know if you are up for it.

[2021-04-09 07:37] lyw07 commented on #5989
Hi @muhammadalics, the logs are generated using the logging handler with the class `KolibriTimedRotatingFileHandler`(https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/logger.py#L14 and https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/logger.py#L176). My assumption is that the issue might come from this part of the code: https://github.com/learningequality

[2021-04-09 17:22] indirectlylit commented on #5922
thanks for checking @muhammadalics - we can close as not reproducible in that case

[2021-04-09 17:22] #5922 closed, assigned to nobody

[2021-04-09 18:13] muhammadalics commented on #5922
Thanks. Yup, only two vertical scroll bars are there. Posting this for reference:
![kolibri_scrolbar](https://user-images.githubusercontent.com/59783720/114223348-f13f4b80-992c-11eb-97eb-a433052f4e1f.gif)

[2021-04-09 18:38] Priyaraj17 opened #7988 "Pc gets hang after starting the server."
Whenever I start the server, the pc becomes very slow and since a couple of days it gets hanged and I have to turn it off. Its not a bug in the application but I am not able to work since 4-5 days now. Can someone suggest something to me?

OS: ubuntu

[2021-04-09 19:16] radinamatic commented on #7988
@Priyaraj17 Are you using a virtual machine for Kolibri development?
How much RAM does your PC have available, and how much have you assigned to the VM?
Check the System Monitor application to see which processes are consuming the most resources.

[2021-04-09 19:50] Priyaraj17 commented on #7988
No, I am not using a virtual machine. I have a 4 gb ram.

I will surely take a look in this. Thanks.

[2021-04-09 21:33] nucleogenesis commented on #7240
Another thing we might consider is that we could bootstrap it using JS in the `app.js` for any individual plugin using the `stateSetters` method of the `KolibriApp` class that all of our plugins are extended from.

https://github.com/learningequality/kolibri/blob/7f76b3b2caa9b7866b318c7140d3a34704e3962d/kolibri/core/assets/src/kolibri_app.js#L38-L49

[2021-04-09 22:42] nucleogenesis commented on #6112
This issue is no longer an issue - see https://kolibri-beta.learningequality.org/en/learn/#/topics/1d8f6d84618153c18c695d85074952a7 when logged in as `learnerdemo/pass` - there are all sorts of examples similar to this there.

[2021-04-09 22:51] nucleogenesis commented on #6112
@indirectlylit -- is the expectation that the in-progress icon show on the Channel card as well?

Currently it propagates up to through all topic cards - but not to the channel card (at the Learn root).

I'll reopen until I know for sure that this is the requirement (cc @jtamiace )

[2021-04-09 23:04] indirectlylit commented on #6112
My personal expectation is definitely that it would show up on the channel cards.

If there was a technical or UX reason why we didn't implement that originally, I don't recall what it was.

[2021-04-09 23:16] rtibbles commented on #6112
I don't think there's any technical reason not to - just a matter of querying for progress on the root topic of the channel.

[2021-04-09 23:21] muhammadalics opened #7990 "Vertical green line in search box when active"
## Observed behavior

Within the search box for Learn, as soon as mouse is hovered over the active search box, a vertical green line appears inside the box. See gif below:

![vertical_greenline_searchbox](https://user-images.githubusercontent.com/59783720/114249156-04671100-9957-11eb-9405-883e3fd305b8.gif)

## Errors and logs

## Expected behavior
There should not be any green line appearing insid

[2021-04-09 23:22] muhammadalics commented on #7990
I have found out the fix for this issue and creating a pull request in few minutes.

[2021-04-09 23:42] rtibbles commented on #6615
Seems like this error will only occur on Python 3.4 and 3.5 - so this should no longer affect Windows installer versions of Kolibri that now use Python 3.6. https://docs.python.org/3/whatsnew/3.6.html#json

[2021-04-10 08:32] Priyaraj17 commented on #7974
Hey, I have fixed a few issues and now I will be working on the core menu and top nav when side nav is open.

[2021-04-10 12:57] Sourabh025 commented on #7988
@Priyaraj17 try to upgrade your RAM to 8GB (minimum) or more. I was facing the same issue but after upgrading RAM, It is working fine for me.

[2021-04-10 14:46] Priyaraj17 commented on #7974
@jonboiser I was working on 2 issues simultaneously. I have solved the issues here. Shall I reference a pull request that I have made while solving a different issue? I believe it will resolve this issue too.

[2021-04-10 14:54] Priyaraj17 commented on #7988
@Sourabh025 hey thanks. But I opened the repo in codespaces and things are working smoothly for me now.

[2021-04-10 15:37] Priyaraj17 commented on #3781
I have made a few changes, I am still working on some of them. Please can someone review this PR?

[2021-04-12 02:33] rtibbles commented on #7776
Following up here - the simple implementation of this (simply adding `Range` support to the zipcontent endpoint) is difficult for Python versions less than 3.7, as the `seek` method on files from within zipfiles is only supported from 3.7 onwards.

If we did want to robustly support this, we would have to unzip zip files.

[2021-04-12 16:56] chrislun16 commented on #7958
Is the issue that this isn't in a bulleted list (the section about a rule of thumb for inline bidirectional text)?
<img width="1272" alt="Screen Shot 2021-04-12 at 10 39 58 AM" src="https://user-images.githubusercontent.com/24814507/114437594-9b141780-9b7b-11eb-9d5b-7b41ccc379d1.png">

I built it locally and got the above screenshot. Looking at the i18n.html file, we are using * for a bulletpoint,

[2021-04-12 18:36] indirectlylit commented on #7958
Looks like it's some kind of CSS problem because there are `<ul>` and `<li>` elements rendered in the DOM:

![image](https://user-images.githubusercontent.com/2367265/114444054-496f8b00-9b83-11eb-9c9f-8fc2c43a2d57.png)

[2021-04-12 18:52] indirectlylit commented on #3781
@Priyaraj17 thank you for your effort but the PR cannot be merged as submitted. Please see my note here: https://github.com/learningequality/kolibri/pull/7996#issuecomment-818048313

[2021-04-12 19:02] Priyaraj17 commented on #3781
@indirectlylit Thank you. I will keep everything in mind and will work on creating a different PR for this issue.

[2021-04-12 19:24] indirectlylit opened #7997 "Responsive behaviors on setup wizard language switcher list no longer work as originally designed"
## Observed behavior

The number of visible languages is changing based on screen size breakpoints even though the available space is not changing.

This may have been an unintentional consequence of some unrelated layout changing, e.g. making the max-width of the setup wizard smaller.

![2021-04-12 12 19 26](https://user-images.githubusercontent.com/2367265/114449390-89397100-9b89-11eb-9707-b2e18

[2021-04-12 19:48] rtibbles opened #7998 "Design admin view of user sync statuses"

[2021-04-12 19:48] rtibbles opened #7999 "Design coach view of user sync statuses"

[2021-04-12 21:34] nucleogenesis commented on #6112
The answer to the question was in the code - once the progress was properly propagated to the front-end the icons showed up on their own! :)

[2021-04-12 21:41] rtibbles commented on #6112
Also possible that due to this issue: https://github.com/learningequality/kolibri/issues/5041 - this issue may still manifest for large topics.

[2021-04-12 22:54] rtibbles commented on #7757
@radinamatic can you confirm this issue is still extant on develop? If so, we should move this to the ASB repo, as it appears to be an issue with how this was cheffed.

[2021-04-12 23:01] rtibbles commented on #6038
Immediate behaviour is obvious, but will need some user feedback to explain why it is disabled.

[2021-04-12 23:15] radinamatic commented on #7757
Sure, @pcenov & I will try to replicate on `develop`! 👍🏽

[2021-04-13 14:35] nucleogenesis commented on #5974
I am not able to replicate this - closing as it has likely been resolved inadvertently.

[2021-04-13 14:35] #5974 closed, assigned to nobody

[2021-04-13 14:43] nucleogenesis commented on #6021
@indirectlylit this seems stale - I recall that we put some effort into cleaning all of this up but cannot find a PR where all of it was applied.

I'm closing this - if @khangmach or others identify specific places where we're not abiding the design instructions we can create a new and targeted issue to resolve the specific issue

![screenshot-kolibri-beta.learningequality.org-2021.04.13-07_42_23.

[2021-04-13 14:43] #6021 closed, assigned to khangmach

[2021-04-13 14:52] #7988 closed, assigned to nobody

[2021-04-13 15:00] nucleogenesis commented on #7986
Hello @bernandez - please in the future provide as much information as you can about your issue.

Please take a look at our [developer documentation for Getting Started](https://kolibri-dev.readthedocs.io/en/develop/getting_started.html) and let us know which step you're failing at and we may provide some assistance.

[2021-04-13 15:00] #7986 closed, assigned to nobody

[2021-04-13 15:20] pcenov commented on #7757
@rtibbles and @radinamatic this issue is still extant in v0.14.7-rc3. I would also like to point out that the scroll bar does appear again if you click on the book page allowing to quickly navigate back or forward:

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/79847249/114577552-c3d40400-9c84-11eb-899c-ab852b803aac.gif)

[2021-04-13 15:30] nucleogenesis commented on #7958
I get this issue too in Chrome. Another example: https://kolibri-dev.readthedocs.io/en/develop/getting_started.html#manual-testing

But [the same on Github](https://github.com/learningequality/kolibri/blob/develop/docs/getting_started.rst) shows the bullets as expected.

The `https://kolibri-dev.readthedocs.io/en/develop/_static/css/theme.css` file declares:

[code]

Which strips the bullets. I do

[2021-04-13 15:38] nucleogenesis commented on #7916
Apologies for the long delay @comradekingu

We use Crowdin as it provides our translators with an excellent interface for performing translations, seeing the context in which their translations are viewed and for our team to audit everything as we need.

We interface with Crowdin via their API and synchronize strings that provide context between the two while we perform our translations.

[2021-04-13 16:18] rtibbles commented on #7757
Sorry - wanted to check whether it is extant on a 0.15 alpha!

[2021-04-13 16:50] jonboiser commented on #7958
There's this file https://github.com/learningequality/kolibri/blob/7f76b3b2caa9b7866b318c7140d3a34704e3962d/docs/_build/_static/theme_overrides.css#L1

where I think you can add a new rule to override the `list-style: none` rule in the default styles.

[2021-04-13 16:56] jonboiser commented on #7958
@radinamatic I think by commenting out the `list-style` overrides in https://github.com/jonboiser/kolibri/pull/7, this fixes this issue.

![image](https://user-images.githubusercontent.com/10248067/114591160-72a12180-9c3e-11eb-8218-090c0f620200.png)

I wouldn't have thought it since the rules in the override CSS are so specific 🤷

[2021-04-13 17:05] radinamatic commented on #7757
Tota11y my bad, I told @pcenov to test on latest RC 🤦🏽‍♀️, we'll re-test on `develop`!

[2021-04-13 17:20] radinamatic commented on #7958
OK, [I approved your PR](https://github.com/learningequality/kolibri/pull/7984#pullrequestreview-634842641) @jonboiser, let's see if commenting out those rules will solve this! 🤞🏽

[2021-04-13 17:33] indirectlylit commented on #5489
no longer relevant

[2021-04-13 17:33] #5489 closed, assigned to indirectlylit

[2021-04-13 17:34] #5487 closed, assigned to indirectlylit

[2021-04-13 17:34] indirectlylit commented on #5487
Issue moved to [learningequality/kolibri-design-system #220](https://github.com/learningequality/kolibri-design-system/issues/220) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-13 17:48] nucleogenesis commented on #7830
Is this just to establish the mechanism so that one can import from the options the value of some flag so that we can disable it in dev? If not - what is the temporary nature of this?

[2021-04-13 18:05] #7794 closed, assigned to apurva-modi

[2021-04-13 18:09] nucleogenesis commented on #6941
Try checking this out and replicating it with the branch: https://github.com/learningequality/kolibri/pull/8000 - I did some work making sure progress was properly gathered from the API on the frontend.

[2021-04-13 19:16] #7452 closed, assigned to jonboiser

[2021-04-13 19:29] rtibbles opened #8001 "Use utf-8-sig encoding to export CSV files to enforce inclusion of BOM to trick Excel into opening with utf-8 encoding"
## Observed behavior
Sometimes users opening CSV files in Excel report that Unicode characters are garbled.
This is because it has not been opened with UTF-8 encoding.

## Expected behavior
If we export CSV files with "utf-8-sig" encoding it should include a Byte Order Mark as the first character, and prompt Excel to recognize the CSV as UTF-8 encoded.

This should be straight forward for Python 3

[2021-04-13 19:30] jonboiser commented on #7958
Nope, the latest build still has the missing bullet points. It seems that `theme.css` is different on  https://kolibri-dev.readthedocs.io/ than when we're building locally, since the `ul`s look fine locally.

[2021-04-13 19:38] jonboiser commented on #7958
The logs here might be useful for debugging why things are different online vs. running `make docs`

https://readthedocs.org/api/v2/build/13501819.txt

[2021-04-13 19:40] radinamatic commented on #7958
So annoying... 😒

We pin the [`sphinx-rtd-theme` for dev docs to 0.4.3](https://github.com/learningequality/kolibri/blob/develop/requirements/docs.txt#L6), which is 2 years old, I'll try updating that!

[2021-04-13 21:41] indirectlylit commented on #7794
why was this closed?

Note that my PR addressed it for KDS but not Kolibri

[2021-04-13 21:44] jonboiser commented on #7794
#7811 fixed it in Kolibri, but wasn't linked to this issue

[2021-04-13 22:14] jonboiser commented on #7958
Fixed in #8002 🎉

[2021-04-13 22:14] #7958 closed, assigned to nobody

[2021-04-14 09:51] pcenov commented on #7757
@radinamatic I retested this on `develop` - still the same, the scrollbar disappears if you use the arrows. But are we sure that this is actually a bug because the user can click on the book page and the scrollbar will reappear?

[2021-04-14 16:01] rtibbles commented on #8001
Fixed in #8003

[2021-04-14 16:01] #8001 closed, assigned to rtibbles

[2021-04-14 18:06] rtibbles commented on #7463
This should be fixed by #7993

[2021-04-14 18:06] #7463 closed, assigned to rtibbles

[2021-04-14 18:07] rtibbles commented on #7908
Implemented by #7993

[2021-04-14 18:07] #7908 closed, assigned to rtibbles

[2021-04-14 18:21] #7602 closed, assigned to jonboiser

[2021-04-14 18:21] #7977 closed, assigned to jonboiser

[2021-04-14 18:25] jonboiser commented on #7990
This is a duplicate of #7974

[2021-04-14 18:25] #7990 closed, assigned to nobody

[2021-04-14 18:28] indirectlylit commented on #7958
thanks!

[2021-04-14 18:29] indirectlylit commented on #7794
awesome, thanks @apurva-modi!

[2021-04-14 20:13] MBKayro commented on #7925
@jonboiser  is is possible to know where i wan find this content "H5P samples" ? there is no a guideline to how create a channel with h5p APP.

[2021-04-14 20:41] jonboiser opened #8007 "Search Bar Backdrop in ActionBarSearchBox is not visible"
## Observed behavior

There is code for a backdrop that should be shown when the search box is open on small screens. But it doesn't look like it is ever visible. Is this just cruft?

https://github.com/learningequality/kolibri/blob/a9d1f4b579804d587b90580a0a9eeaf1a7dee955/kolibri/plugins/learn/assets/src/views/ActionBarSearchBox.vue#L29

In Chrome devtools, it looks like it's  a zero-height div i

[2021-04-14 22:27] rtibbles commented on #7978
In Ubuntu at least, this doesn't seem to be an issue with saving the file - the file on disk has the correct file name, unicode included.

Seems like this is an issue with using unicode characters in the `Content-Disposition` header - lots more detail here: https://stackoverflow.com/questions/93551/how-to-encode-the-filename-parameter-of-content-disposition-header-in-http. Resolving this properly

[2021-04-14 23:36] rtibbles commented on #7757
As @pcenov says this seems like expected behaviour - the scroller is disappearing to show the full page. Going to close.

[2021-04-14 23:36] #7757 closed, assigned to nobody

[2021-04-15 12:27] Priyaraj17 commented on #8007
Hey @jonboiser, I have checked the issue. I think it is a zero-height div. What should be the approach to solve it?

[2021-04-15 16:09] jonboiser opened #8009 "Add a "Back to top" button on "long" pages to improve keyboard-only usability"
## Observed behavior

If you are using a keyboard to navigate Kolibri and you get to the end of a long page like the Device > Channels, or Facility > Users page, there's only two ways to get to the top:

1. Shift-Tab to retrace your original steps
2. Shift through the browser UI (the tabs, buttons, bookmark bar, etc.) to get back to the top of the Kolibri UI

## Expected behavior

At the bottom of

[2021-04-15 16:20] rtibbles commented on #7891
Fixed in #8004

[2021-04-15 16:20] #7891 closed, assigned to apurva-modi

[2021-04-15 18:38] chrislun16 commented on #7972
Where do we print the second INFO level log?

I found the first logging statement in kolibri/utils/env.py::prepend_cext_path()::38. Should I move the whole function to the kolibri start file or just the if else block in that function?

Also how is prepend_cext_path() being called in kolibri plugin list and kolibri start?

[2021-04-15 19:09] Priyaraj17 commented on #6181
Where should the button direct to? Kolibri home page?

[2021-04-15 19:49] Priyaraj17 commented on #7974
I think we can use tabindex = -1 for this. I have attached a screenshot too
I am hovering on the menu and the outline is not showing.
![image](https://user-images.githubusercontent.com/40101776/114929595-9e482580-9e51-11eb-8daf-b12dbc672831.png)

[2021-04-15 19:49] jonboiser commented on #7972
@chrislun16 I think it might be simpler than that. For now, I wouldn't recommend doing a big refactor like moving `prepend_cext_path`.

One thing you can try is raising the [logging level](https://docs.python.org/3/library/logging.html#logging.Logger.setLevel) to something higher than `INFO` when running `kolibri plugin` (perhaps at line 710 of `kolibri.utils.cli`.

[2021-04-16 00:14] jonboiser opened #8011 "Put realtime percentage of tasks in the tab title"
Because the loader animations used on the Device > Task Manager use a lot of CPU( https://github.com/learningequality/kolibri-design-system/issues/211) , I prefer to not have that tab active when I'm import/exporting large channels. (Or I just go do something else in a different tab).

So it would be nice if the total task percentage were displayed in the tab so I can keep an eye on it.

![image](

[2021-04-16 12:41] pcenov opened #8012 "Cannot import resources from any source"
## Observed behavior
After installing the Kolibri https://github.com/learningequality/kolibri/releases/tag/v0.14.7-rc6 I cannot import resources from any source (Kolibri Studio, Local network or internet, Attached drive or memory card) because each time I attempt to do so I see a "Sorry! Something went wrong!" error. Importing channels is still functioning correctly on https://github.com/learninge

[2021-04-16 13:29] radinamatic commented on #8012
Identical issue happens when trying to import from Studio on Kolibri Beta site 😕

[2021-04-16 15:26] jonboiser commented on #8012
Here's the error I get when running an import locally (also at the same spot as Petar, i.e. step 7)

[code]

Here are the reports on Sentry: https://sentry.io/organizations/learningequality/issues/?project=1378215&query=is%3Aunresolved%20release%3A0.14.7rc6

Full traceback:
[code]

[2021-04-16 16:29] bjester commented on #8012
As @rtibbles noted, the issue appears to be:

[2021-04-16 19:56] #8012 closed, assigned to bjester

[2021-04-16 20:07] #6615 closed, assigned to rtibbles

[2021-04-16 22:09] chrislun16 commented on #7972
I raised the logging level to warning there, but there is a different logging handler in env.py::prepend_cext_path(), so that logger's level isn't changed and it's printing out an INFO message. Is there a way I can change that logger's level when kolibri start is called?

[2021-04-16 22:41] jonboiser commented on #7972
I see. The `C extensions` log gets called because of this import statement, which happens before any of the CLI commands are invoked.

https://github.com/learningequality/kolibri/blob/a9d1f4b579804d587b90580a0a9eeaf1a7dee955/kolibri/utils/cli.py#L27-L28

See if there's a way to modify the logging level for the `logging.getLogger(kolibri.utils.env)` logger _before_ this import occurs.

[2021-04-16 23:38] jonboiser opened #8015 "After deleting resources, they are still annotated as non-importable when selecting them to re-import"
## Observed behavior

[Watch this video of me deleting, then re-importing content](https://drive.google.com/file/d/1jUln-Ay-HViqrVZH5rvTwkTRvRFiPNxi/view?usp=sharing) from Touchable Earth.

Steps:

1. I delete all the contents of a topic (but not the entire topic itself)
2. I wait for the deletion task to finish
3. I go back to TE > Import more
4. I go to the topic and it is flagged as non-importa

[2021-04-17 18:04] avishmehta68710 commented on #3781
Hi @Priyaraj17 would you like to work in collab mode ????

[2021-04-18 05:27] Priyaraj17 commented on #3781
@avishmehta68710 yeah sure. Infact we have to go through a lot of code for this issue. We can work in collab.

[2021-04-18 22:27] chrislun16 commented on #7972
We found that kolibri/kolibri/__init__.py / is the file that is calling env.set_env() which calls prepend_cext_path() which prints out the C extensions log. So we went inside init.py and called

[code]

before env.set_env. It does change the level to warning, but it still prints out the c extensions log. We are confused by this. Do you know why? We found that the only time we are able to avoid pri

[2021-04-19 16:33] pcenov opened #8017 "Some exercises are not being displayed correctly in Safari browser"
## Observed behavior
When I attempt to go through exercises imported from the CK-12 channel using a Safari browser on Mac I see the following error message: Kolibri is unable to render this resource

## Expected behavior
The exercises should be displayed correctly.

## User-facing consequences
Learners are unable to read the question and select the correct answer.

## Steps to reproduce
1. Create

[2021-04-19 16:48] jonboiser commented on #8017
Here's a SO article dealing with this issue, for reference: https://stackoverflow.com/questions/51568821/works-in-chrome-but-breaks-in-safari-invalid-regular-expression-invalid-group/51568859

[2021-04-19 16:55] rtibbles commented on #8017
Ooof, the most annoying thing is I am fairly sure we saw this issue during testing of this work initially.

[2021-04-19 17:19] #7697 closed, assigned to rtibbles

[2021-04-19 17:44] jonboiser commented on #7972
I think you're targeting the wrong logger in `init.py`. You'll notice that in `env.py`, the _root_ logger is being used, not this one

[code]

Also, the normal pattern to create a within-module logger is to do this:

[code]

which usually means the key for logger looks like something like `kolibri.utils.env`. So I think in the last thing you tried, you were setting the wrong logger to `logging.WAR

[2021-04-19 18:08] radinamatic commented on #6615
Out of curiosity I tested and can confirm it's not extant on `0.14.7-rc7` on Windows 10! 👍🏽

![Win10 (start)  Running  - Oracle VM VirtualBox_076](https://user-images.githubusercontent.com/1457929/115282832-f0879000-a14a-11eb-8f51-6080ce0fb2f2.png)

[2021-04-19 18:34] bjester opened #8019 "Sync command should support resuming a `SyncSession` through ID argument"
## Background
The `sync` management command doesn't currently support resuming a sync session, so if synchronization becomes interrupted for any reason, you must start from scratch to complete the transfer.

## User story
As a user who is using Kolibri's `sync` command in connectivity challenged environments, I need to be able resume a sync if it is interrupted. Syncing large amounts of data can t

[2021-04-19 18:44] jonboiser commented on #8017
Fixed in #8018

[2021-04-19 18:44] #8017 closed, assigned to rtibbles

[2021-04-19 19:01] #7954 closed, assigned to nobody

[2021-04-19 19:50] rtibbles commented on #8015
I think this is an issue with the importability stats being stored in the process cache, and then not getting cleared when the channel gets updated via deletion.

[2021-04-19 19:58] rtibbles opened #8020 "Consolidate wsgi configuration in `kolibri.deployment.default.wsgi`"
## Observed behavior
We currently set a lot of additional wsgi behaviour in `server.py` which  it would be useful for uwsgi (and other wsgi services) invoked versions of Kolibri. At present, the new static files handling, and alternate origin server are not exposed in a useful way for deployment.

## Expected behavior
The default Kolibri wsgi app should include all static file serving, including c

[2021-04-19 20:20] jonboiser commented on #7833
`getContentId` has already been implemented in #7942 , and the `version` getter is simple to implement.

@jtamiace , regarding the `themeRenderer`, here are some behaviors I'm going to add:

1. In addition to app bar and text color, i am adding optional fields for setting the modal backdrop and modal background color to provide full customization of colors for #7832.
2. If any of the colors are in

[2021-04-19 20:31] rtibbles commented on #7829
Fixed by #7942

[2021-04-19 20:31] #7829 closed, assigned to marcellamaki

[2021-04-19 20:36] aronasorman commented on #8020
It sounds like both origins should serve static files and content -- aside from the hostname, in what other ways should they differ?

[2021-04-19 20:39] rtibbles commented on #8020
The main origin also serves the Kolibri Django app, whereas the alternate origin only serves the zipcontent path handler.

[2021-04-20 02:07] chrislun16 commented on #7972
In init.py I added this `logging.basicConfig(level=logging.WARNING,force=True)` before env.set_env() and it didn't print the c extensions log but this won't print it for any kolibri command. Is this correct: When we import kolibri in cli.py, that's importing init.py which calls env.setenv() before the rest of cli.py is ran?

If the command is kolibri start, we want to change the logging level back

[2021-04-20 05:05] radinamatic commented on #8017
Tested this [Perseus exercise](https://kolibri-beta.learningequality.org/en/learn/#/topics/c/fc3e2505ecc5441caf22b0657c651340) from Kolibri beta on all the Safari versions available on Browserstack in Sierra, High Sierra, Mojave, Catalina & Big Sur, plus in IE11 on Windows 7, and the fix in #8018 seems to have nailed it! 💯

[2021-04-20 11:27] Priyaraj17 commented on #7974
Will this work? @jonboiser @rtibbles

Will this work @rtibbles @jonboiser?

[2021-04-20 13:41] indirectlylit commented on #6181
from the description:

so this will be one of:

* `/LANG/learn/`
* `/LANG/coach/`
* `/LANG/facility/`
* `/LANG/device/`

[2021-04-20 15:16] rtibbles commented on #6181
The button already directs to the correct place, it directs to the root level of the current top level app. The error that was reported is an issue that happens when the error happens during rendering of that root level, as it tries to navigate to the location that it already is at.

I don't think it's clear where the button should go in this case.

[2021-04-20 16:45] bjester commented on #7372
Added follow up features:
https://github.com/learningequality/morango/issues/103
https://github.com/learningequality/kolibri/issues/8019
https://github.com/learningequality/morango/issues/104
https://github.com/learningequality/morango/issues/105

[2021-04-20 16:45] #7372 closed, assigned to jamalex, bjester

[2021-04-20 17:27] indirectlylit commented on #6181
Ah. Then maybe we should hide the 'back to home' button if it is the 'home' URL which is causing the error in the first place.

[2021-04-21 07:03] kmrinal19 commented on #8007
@jonboiser @Priyaraj17 I think that adding `height: 100vh` to the following class would do the trick
https://github.com/learningequality/kolibri/blob/a9d1f4b579804d587b90580a0a9eeaf1a7dee955/kolibri/plugins/learn/assets/src/views/ActionBarSearchBox.vue#L125-L133

[2021-04-21 10:23] vkWeb commented on #7907
@rtibbles the recent update of making jobs persistent across server restart might have some implications on this bug...? Do we still need to address this issue, since now, we don't clear jobs on startup?

[2021-04-21 10:48] vkWeb commented on #6124
The invalid looking task that is returned is indeed the ping scheduled job as @rtibbles said.

Recently, we assigned constant job_ids to these schedules jobs, `0` was assigned to the ping job and `1` was assigned to the vacuum job.

Looking at the database we can see that the ping job gets completed and sticks on the jobs table that gets returned when GET API is called.

So, there isn't any memory

[2021-04-21 14:54] rtibbles commented on #7907
Yes, it is still possible for this to get into this state, this is also in spite of us trying to do some integrity checking on the database at initial startup: https://github.com/learningequality/kolibri/blob/44bf1ed3591321f4b7ef7c4e5c6ceda8c01db7ae/kolibri/core/tasks/main.py#L72

[2021-04-22 10:03] Priyaraj17 commented on #8007
@kmrinal19 This might work. But let's wait for the reaction and approval of the mentors @jonboiser.

[2021-04-22 14:55] rtibbles opened #8024 "Drop CherryPy and replace with cheroot and magicbus"
Once #8023 is merged, all we will be using CherryPy for is as a process bus for handling the life cycle of Kolibri processes invoked by our CLI, and as a high performance pure Python WSGI server.

The process bus functionality of CherryPy is broken out into the `magicbus` package https://magicbus.cherrypy.org/en/latest/, meaning that we can use that instead to handle the process bus.

The WSGI ser

[2021-04-22 21:51] jonboiser commented on #8007
@kmrinal19 That approach basically, works, but might need to move the `top` by a few pixels. I'm wondering if the right thing is to just remove this, since nobody even noticed it was missing.

@jtamiace Should we just remove this backdrop? Here is what it looks like. It doesn't seem to really add anything.

![image](https://user-images.githubusercontent.com/10248067/115789593-37a79800-a37a-11eb-90

[2021-04-22 21:56] jonboiser commented on #6124
@vkWeb Sounds good to me. Thanks for looking into this!

[2021-04-22 21:56] #6124 closed, assigned to nobody

[2021-04-22 22:05] jonboiser commented on #7972
Could you try something a little simpler? I think all I really want is that the logging be done differently during invocations like

`kolibri plugin list`, etc.

In python, you can get the invocation information like this (similar to using `process.env` in nodeJS)

[code]

so you can write conditional logic to adjust logging, not simply skip the logging unless you've called `kolibri start` etc.

[2021-04-23 18:26] vkWeb commented on #7907
@rtibbles umm, I will look into this deeply tomorrow and I'll report you on slack about a potential fix.

[2021-04-24 07:31] YashJipkate opened #8027 "Vue warning about missing required prop `tooltip` in `KIconButton`."
## Observed behavior

When the site is loaded, the console gets full of error messages complaining about a missing required prop `tooltip` in `KIconButton`.

## Errors and logs

[code]

## Expected behavior

Console error shouldn't appear.

## User-facing consequences

None, it's a warning, so nothing is expected to break.

## Steps to reproduce

Load the site, and see the logs.

## Context

Kolib

[2021-04-26 17:57] kmrinal19 commented on #8015
@jonboiser @rtibbles I think that problem here is that the topic is not being annotated when all its content is deleted.

https://github.com/learningequality/kolibri/blob/0c2b49a5e7d7df399216119f96098d48e3554b76/kolibri/core/content/utils/annotation.py#L622-L641

Line 634 in the above code checks if nodes exist for a topic. If we delete all the contents of a topic, the condition fails, due to whic

[2021-04-26 18:00] rtibbles commented on #8015
This is taken into account by this line:
https://github.com/learningequality/kolibri/blob/0c2b49a5e7d7df399216119f96098d48e3554b76/kolibri/core/content/utils/annotation.py#L552

Here, all topics in a channel are first marked as not available, so only those with any descendants are marked as available.

I think this is much more likely failure to invalidate the importability stats cache.

[2021-04-26 19:01] #7268 closed, assigned to rtibbles

[2021-04-26 19:33] kmrinal19 commented on #8015
Since all the topics are first marked as not available, and only those with any descendants are updated later, the topics without any descendants have the `on_device_resources` field unchanged.
In the frontend, the checkbox is disabled when the condition `on_device_resources === total_resources` holds true. Since the `on_device_resources` field is unchanged in the backend, we are unable to import

[2021-04-26 21:28] #7858 closed, assigned to jamalex

[2021-04-27 00:12] rtibbles commented on #8015
In that case, we need to update the earlier update to `available=False, on_device_resources=0` - that would seem to account for it!

[2021-04-27 06:21] jamalex commented on #7672
This is 110% critical for 0.15 (or a 0.14 patch, if we end up doing another). If someone removes a facility from its project on KDP, there is currently no recourse (other than having @jamalex connect in at midnight and manually unregister it so it can be re-registered, as just happened today 🤕 ).

It seems fine to keep the "Register" (maybe as "Register again") tucked in the kebab menu if it's alr

[2021-04-27 15:22] rtibbles commented on #7672
@jonboiser is it deliberate that point `2` is identical in both cases?

[2021-04-27 15:31] jonboiser commented on #7672
The expected Point 2 should be slightly different, but now I can't remember how 😕

[2021-04-27 16:20] jamalex commented on #7672
Regarding 2, on my side, I'd like for there to be a way to sync to KDP even if the local Facility "doesn't know" it's registered, though it should not be prominent (e.g. hidden in the kebab menu). The use case is:

- Device 1 and 2 are colocated, and Facility A is synced from Device 1 to 2, so they now share a Facility.
- Device 1 and 2 are separated.
- Device 1 registers Facility A to the project

[2021-04-27 17:38] marcellamaki commented on #6727
Dev working on this issue can propose a string as needed, and tag Radina or comms in review, while we figure out improvements to string processes

[2021-04-27 17:39] Priyaraj17 commented on #8007
Shall I work on this??

[2021-04-27 17:42] Priyaraj17 commented on #8007
May I work on this?

[2021-04-27 17:57] marcellamaki opened #8033 "Prepare technical architecture for automated individual-user syncing"
https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#89392dfe200c4175aa45c1b89daef4c2

Terminology:
SoUD - Subset of Users Device, a device that has had one or more individual users synchronized to it, but not the full facility.

Primary needs:
* A SoUD for a facility should sync those users' data to a device that has the full faci

[2021-04-27 18:00] jonboiser commented on #8007
@Priyaraj17 I first want to get a confirmation whether or not we want to bring back the backdrop or delete it.

[2021-04-27 18:01] #6993 closed, assigned to rtibbles

[2021-04-27 18:01] #7299 closed, assigned to rtibbles

[2021-04-27 18:01] #7442 closed, assigned to rtibbles

[2021-04-27 18:01] #7842 closed, assigned to rtibbles

[2021-04-27 18:46] Priyaraj17 commented on #8007
@jonboiser okay sure. Thanks

[2021-04-27 19:52] rtibbles opened #8035 "Create technical specification for individual user syncing setup wizard backend"
https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#bb9db6abe670454286220b3df851980a

In addition to the current 'setup with existing facility' workflow in the setup wizard, the new single user syncing setup will necessitate a workflow that has the following requirements:

* Specify either:
  * a specific non-admin user's credenti

[2021-04-27 20:19] jonboiser commented on #5470
Closing, since I believe that `UserTable` covers all of our current user account-displaying needs, and actually duplicating the code for the various workflows its used in would actually increase the maintenance burden. If a new presentational component is needed for users, though, I would recommend just adding a new one instead of adding more props/features to `UserTable`

[2021-04-27 20:19] #5470 closed, assigned to nobody

[2021-04-27 20:29] jtamiace commented on #8007
Sorry for the late response - let's keep the backdrop in, since it focuses the user on entering keywords, and tapping the backdrop would allow them to dismiss the search input field without accidentally tapping on other interactive elements on the page

[2021-04-27 22:45] #8015 closed, assigned to nobody

[2021-04-27 23:52] jtamiace commented on #7885
https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=1475%3A14322

[2021-04-27 23:53] jtamiace commented on #7884
Workspace
https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=19%3A13

[Interactive prototype](https://www.figma.com/proto/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?page-id=9%3A2&node-id=1475%3A14322&viewport=456%2C174%2C0.06612226366996765&scaling=min-zoom)

[2021-04-28 19:13] rtibbles opened #8038 "Create technical specification for side loading of necessary data for single user syncing that does not fall within the single user partition"
Need to synchronize:
* Lessons that are assigned to the user
* Quizzes that are assigned to the user
* Assignments that affect the user

[2021-04-29 12:42] #7828 closed, assigned to marcellamaki

[2021-04-29 12:42] #7913 closed, assigned to marcellamaki

[2021-04-29 20:05] #7830 closed, assigned to nucleogenesis

[2021-04-29 22:22] #8020 closed, assigned to rtibbles

[2021-04-29 23:56] #6112 closed, assigned to nucleogenesis

[2021-04-30 20:02] Priyaraj17 commented on #8007
@jonboiser @jtamiace I have worked on this issue and solved the issue. Shall I create a pull request?

[2021-04-30 21:03] Priyaraj17 commented on #8007
Infact the 100 vh height is not cover the entire page, if someone scrolls down, the backdrop won't be visible. 150 vh is working fine.

[2021-05-01 18:05] singh-ravi-siso commented on #8007
@Priyaraj17 giving a static height isn't a good practice, instead, a dynamic approach should work here.

[2021-05-01 18:12] ravvis commented on #8007
@Priyaraj17 , giving a static height isn't a good solution here, since the height can vary in the future.

The issue is with its parent element(`.scrolling-header`), which has a transform property, that is restricting the viewport to its height.

![Screenshot from 2021-05-01 23-35-12](https://user-images.githubusercontent.com/48203006/116791222-6d652300-aad6-11eb-805c-f7bc80b33a93.png)

[2021-05-02 08:10] Priyaraj17 commented on #8007
Okay..Let me see what can be done here. Thanks

[2021-05-02 13:23] ravvis commented on #7455
If the current version matches with the latest version, then just showing `The version is up to date` and a `Go back to the channels` button should do the work here.
@radinamatic @jonboiser what are your views?

[2021-05-03 05:49] Priyaraj17 commented on #8007
@singh-ravi-siso Are you sure this is the problem?  As things are working fine. I have tested for every small screen device

[2021-05-03 14:26] marcellamaki commented on #6727
Quick clarifying question - does this apply to _all_ deletion tasks? There is a specific example here with resource deletion, but I looked over channel deletion, and it seems like this is the same on the UI side.

After doing a search, it seems like in addition to channels and resources, deletion tasks exist for:

- Group
- Lesson
- Exam
- Class
- User

While some of these are not as long of a tas

[2021-05-03 15:42] jonboiser commented on #6727
Channel deletion is just a special case of resource deletion, so the inability to cancel should be mentioned in both situations.

Yeah, the more common pattern is to emphasize that a deletion cannot be undone, and it's just assumed that it cannot be canceled.

However, it's not a common pattern to emphasize the inability to cancel. It's just something we have to do for this issue since the technic

[2021-05-03 15:44] rtibbles commented on #6727
Important to note that the emphasis here is on asynchronous tasks that are running for a long time, and that we show progress indication for. The other tasks you have listed outside of Channel/Resource deletion all happen synchronously.

[2021-05-03 18:51] rtibbles opened #8047 "RemoteChannelViewset does not cache responses from Studio or other Kolibris"
## Observed behavior
There is a unit test https://github.com/learningequality/kolibri/blob/183c92eeaabf2999ae29e748c22575ca006bcfec/kolibri/core/content/test/test_content_app.py#L1570 that asserts that fetches to the detail of the RemoteChannelViewset endpoint after a list fetch do not set the cache.

This unit test is intended to show that a subsequent request does not make an additional request

[2021-05-03 18:59] #5467 closed, assigned to rtibbles

[2021-05-04 13:22] Priyaraj17 commented on #8007
@jonboiser what do you think sir?

[2021-05-04 18:32] jamalex commented on #8033
My mental model of a server-initiated sync is that the server... just does the sync (acts as the client in the syncing relationship), rather than telling the SoUD to do a sync. The lesson/quiz syncing endpoint I was planning would support both GET and POST.

This should make the desired sequencing much easier -- as the server doesn't then need to be asynchronously checking, or adding callbacks, fo

[2021-05-04 18:35] jonboiser commented on #8007
I don't understand how a user can scroll when the backdrop is visible. If the backdrop is visible, you should not be able to scroll the content behind it, nor should you be able to to scroll the backdrop itself. Similarly, you should not be able to cause the scrolling header to disappear. It might be possible that the backdrop is sized too tall, which could cause the page to overflow in the vertic

[2021-05-04 18:35] jamalex commented on #8033
Because we allow for held-open connections (for local servers, at least -- when not going through Cloudflare), in principle the server could still "queue" the incoming stampede using a lock of some sort. When it's already doing one sync, and another tries to initiate a session, it could hold the session creation request open until it's ready to continue with it.

[2021-05-04 18:43] jamalex commented on #8033
It's definitely possible, the main thing would be designing it -- where does it show up, on which device(s), and what metadata is included. I'm assuming one place it could live is on the full-facility device, with a list of students (by class, maybe?), showing the last time a SoUD for that user synced to this server. For the scenario described here, that could work fairly well, but it could start

[2021-05-04 18:46] jamalex commented on #8035
UX question to resolve: What should we have it do/say if someone puts in the credentials of a Coach? Sync them as a single-user account (in which case they can still act as a Learner, but not do coaching, on that device), or show an error?

[2021-05-04 18:57] jamalex commented on #8035
There's definitely a case for this, and the backend part (at least) wouldn't really be anything additional to what we're already building for this (just establishing the conditions/permissions piece for the endpoint, e.g. maybe it's "can add a single user from the same facility to a device" or just "can add a new single user from any facility, as long as the device is a SoUD"). For the frontend, c

[2021-05-04 19:21] #8024 closed, assigned to rtibbles

[2021-05-04 22:56] #7832 closed, assigned to jonboiser

[2021-05-04 22:56] #7833 closed, assigned to jonboiser

[2021-05-04 23:59] radinamatic commented on #6727
In my mind any action by the user that can change the state of their facility and/or device, and does not have the options to cancel or undo the outcome, should have the corresponding `Are you sure you want to continue? This action cannot be undone.` alert, and require the explicit confirmation step by the user. We can establish priorities in terms async tasks first, synchronous maybe later, but i

[2021-05-05 13:51] MBKayro opened #8053 "Facility coach as a user type not apply"
When creating a new user as a Facility coach, it does not apply its permissions and not seen all classes.

A) In Admin interface:

In Device --> Permission:     User type | Facility coach

In Facility ---> Users:            User type | Facility coach

In profile :  Coach
-----------------------------------
B) In Facility coach (does not see any classes except if he is assigned by admin as a regula

[2021-05-05 14:27] rtibbles commented on #8053
What version of Kolibri is this happening on? I am not able to replicate this on 0.14.7.

Do you have any additional information to help us reproduce this?

[2021-05-05 14:38] MBKayro commented on #8053
the version is  0.15.0.dev0+git.20210429235644

when i sign in with Facility coach account, i only view this but no classes that i was created:

Classes
View learner progress and class performance
Please consult your kolibri administrator

[2021-05-05 14:53] rtibbles commented on #8053
Thanks, have replicated on develop.

[2021-05-05 17:59] #7962 closed, assigned to rtibbles

[2021-05-05 18:56] marcellamaki opened #8055 "Update Custom Renderer Topic view"
The newly created custom renderer topic view should be updated to align with the original intent of an "immersive experience".

The view should match the overlay in general style, and if the option theme is set, apply the same styles

<img width="803" alt="topic-renderer" src="https://user-images.githubusercontent.com/17235236/117194109-b1477900-adb1-11eb-8a37-0bec4ca3aeaf.png">

[2021-05-05 21:08] nucleogenesis opened #8056 "kolibri.utils.server.PortCache can read $KOLIBRI_HOME/port_cache file in such a way as to block server startup"
## Observed behavior

I tried to start up my devserver and kept getting errors that 8000 wasn't available. It only happened on a specific KOLIBRI_HOME but not on another.

I was digging around and noticed that the `$KOLIBIR_HOME/port_cache` file in the failing one [(gist with cat of options and port_cache files)](https://gist.github.com/nucleogenesis/0e267ece5ffb02c99619675132b954f2) had the value

[2021-05-05 21:14] #7916 closed, assigned to nucleogenesis

[2021-05-05 22:28] #7370 closed, assigned to jonboiser

[2021-05-06 01:32] #5754 closed, assigned to rtibbles

[2021-05-06 01:32] #7682 closed, assigned to rtibbles

[2021-05-06 15:56] indirectlylit opened #8058 "support for options aliases and deprecation"
## Observed behavior

Follow-up from #8050 which fixed #5754

* In https://github.com/learningequality/kolibri/pull/8050/files#r626688907 there was discussion about adding better warnings for the deprecated `CHERRYPY_START` option
* the `CENTRAL_CONTENT_DOWNLOAD_BASE_URL` and `KOLIBRI_LISTEN_PORT` aliases should be deprecated

## Expected behavior

The `base_option_spec` object could  contain thre

[2021-05-06 18:35] #8053 closed, assigned to rtibbles

[2021-05-06 21:12] rtibbles opened #8060 "Create utility and API endpoint for a subset of users device to request permission to sync with a full facility device"
In order to prevent sync stampedes in cases where multiple subset of users devices join a network in quick succession where a full facility device is present, we need functionality to allow the SoUDs to request that they be able to sync.

Requirements
-------------------
* [ ] Create an endpoint that will:
  * [ ] Return an error code when accessed on an SoUD - should return status code 418
  * [

[2021-05-06 21:40] rtibbles opened #8061 "Allow for destructive teleportation and merging of FacilityUsers across different facilities"
Currently, no Kolibri device possesses the capacity to engage in single user syncing. This has resulted in there being many devices, particularly app installation devices that have a standalone facility containing as few as 1 users.

In the future, even with single user syncing, this will continue to be an issue, as many users will wish to start using Kolibri in advance of being able to sync to a

[2021-05-06 22:13] #8056 closed, assigned to rtibbles

[2021-05-07 17:35] jonboiser opened #8066 "Add REST API for contentnode-bookmarks feature"
## Use Cases

* Create/Delete bookmarks to ContentNodes
* View all bookmarked contentnodes as a list
* When a contentnode is bookmarked as a user, indicate that with a bookmark icon on its contentcard
* When a contentnode is not bookmarked as a user, indicate that with an empty bookmark icon on its contentcard

There really isn't a use case for updating bookmarks or viewing an individual bookmark,

[2021-05-07 19:42] #7835 closed, assigned to jonboiser

[2021-05-07 20:13] rtibbles opened #8067 "Update ValuesViewset implementation with latest relevant code from studio"
The ValuesViewset was ported to Studio, and has done a lot of growing up over there. We should copy the relevant parts back to have the most robust implementation possible.

[2021-05-07 20:29] rtibbles opened #8068 "Create a prototype hydration viewset base class that allows multiple viewsets to be retrieved simultaneously"
An extension of the class_summary_api used in the Coach plugin, we will make a viewset that allows amalgamating the output of multiple viewsets in order to do a smaller number of fetches for page hydration.

Open questions:
* Will it be helpful to be able to requery the endpoint specifying which fields/sub paths to return, or will just querying the separate endpoints be sufficient?
* How should we

[2021-05-08 01:24] #7907 closed, assigned to nobody

[2021-05-10 04:18] Priyaraj17 commented on #8066
Hey @jonboiser, can you please explain what do we have to work on here?

[2021-05-10 11:04] Priyaraj17 commented on #8007
Hey @jonboiser, I tried to use a different approach to solve this issue but I couldn't find one, and I used a precise height. I tested for different heights and I think this will solve this issue. But if there is something else that I can do to improve it, I will work on it. I hope it works. Thanks!

[2021-05-10 22:49] #3818 closed, assigned to rtibbles

[2021-05-11 06:30] Priyaraj17 commented on #7957
Hey, May I work on this issue?

[2021-05-11 13:05] #7974 closed, assigned to nucleogenesis

[2021-05-11 17:26] rtibbles commented on #8066
This issue will also require creating the model, and for the model to be syncable along with the user, so will need the appropriate morango partition for single user syncing.

Recommendation: create a new app in `core` called `bookmarks`.

[2021-05-11 17:30] #8033 closed, assigned to nobody

[2021-05-11 17:36] #8035 closed, assigned to nobody

[2021-05-11 18:10] nucleogenesis commented on #7874
Please provide the icon labels that you'd like to have for these as well as any colors (if any). @jtamiace (cc @radinamatic )

[2021-05-11 18:18] nucleogenesis commented on #7874
@khangmach can you please see https://github.com/learningequality/kolibri-design-system/issues/232 and provide the necessary information in a comment or directly edit the issue description if you'd like.

That'll be everything we need to do the work on that issue from there and then this issue can be closed.

[2021-05-11 18:25] rtibbles commented on #7957
Yes, please do - this is just for the change in Kolibri, so should just be about reading the installation type from the environment variable.

[2021-05-11 18:28] rtibbles commented on #6641
Note - the management command is now a noop, as its functionality has been overridden by the theme hook. So this would just require adding a name for photo credit to the theme hook, and using that in the frontend.

Ideally, we would also handle the case where the photo credit name is undefined, for old hooks that have not been updated.

[2021-05-11 18:31] jamalex opened #8073 "Unreliable detection of Android app through zeroconf from Windows computer"
## Observed behavior

Both Android tablet with Kolibri app and Windows computer running Kolibri are on the same wifi network. The tablet could "see" the computer, but the computer couldn't see the tablet.

## Expected behavior

Discovery should be symmetrical.

## User-facing consequences

For classroom syncing, we had discussed having the server initiate the syncing against the student devices. I

[2021-05-11 18:37] radinamatic commented on #8073
On Windows it's probably a firewall issue (see [related from prior testing](https://github.com/learningequality/kolibri/issues/6724)).

[2021-05-11 18:53] #6197 closed, assigned to rtibbles

[2021-05-11 21:28] nucleogenesis opened #8074 "Document `deletechannel` command"
Add documentation [here](https://kolibri.readthedocs.io/en/latest/manage/command_line.html) for the `deletechannel` command to [avoid confusion like this](https://community.learningequality.org/t/kolibri-command-line/2018/2).

[2021-05-11 21:51] rtibbles commented on #7103
As well as erroring like this, it also fails to produce a clean shutdown.

[2021-05-11 21:58] Priyaraj17 commented on #7957
Okay, thanks

[2021-05-11 22:37] nucleogenesis commented on #8066
@jonboiser @rtibbles

I'm not sure we need the endpoint to return the content nodes themselves. There is one place where that will be relevant (Learn -> Bookmarks) and we will probably want more than a distilled little bit of metadata about the [content node to accommodate the designs](https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=77%3A7116).

In any case - feels more r

[2021-05-11 23:07] jonboiser commented on #8066
I think that's fine. We can do a follow-up query on the frontend after getting the bookmarked contentnode IDs. I'm just worried if someone has a lot a bookmarks, since there can be limits when querying the Contentnode endpoint with a long list of  IDs.

[2021-05-11 23:19] khangmach commented on #7861
Updated designs here:
https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/?node-id=2070%3A90233

Full flow:
![channel-based quiz assignment.png](https://images.zenhubusercontent.com/6042a21c8000460e5640191f/f02eecd2-c47a-4e24-871d-b7fa031aa642)

[2021-05-12 00:43] jamalex opened #8077 "Add facility device or SoUD flag to device info (for zeroconf broadcast)"
For automatic background syncing (#7964), devices will need an efficient way to know what other devices and their associated datasets are on the local network. The most efficient way to facilitate this sharing of information is via the zeroconf broadcast itself, because it's multicast (i.e. many-to-many), rather than by requiring an additional HTTP request, which would lead to an n^2 barrage of 1:

[2021-05-12 00:53] jamalex opened #8078 "Refactor `sync` management command to make it clearer and more maintainable"
The [sync command](https://github.com/learningequality/kolibri/blob/develop/kolibri/core/auth/management/commands/sync.py) has a lot of branching logic and a variety of scenarios, and is only getting more complex with the introduction of individual user syncing and at some point further KDP integrations (e.g. for loading a facility from KDP by token). The full set of [possible syncing scenarios](h

[2021-05-12 01:19] rtibbles commented on #8077
I thought we had just said we needed to flag if they were full facility or not - is there something that we need the user ids for?

[2021-05-12 01:32] jamalex opened #8079 "Add side loading for single user sync of data that does not fall within single user scope"
This issue shall serve as the tech spec for https://github.com/learningequality/kolibri/issues/8038

The partitions for Lessons, Quizzes, and their respective Assignments do not fall within the scope of an individual user syncing certificate, and hence need to be synced across to a SoUD through a parallel (non-Morango) mechanism. However, this can still happen within the context of a Morango sync

[2021-05-12 01:33] jamalex commented on #8038
Specc'ed [here](https://github.com/learningequality/kolibri/issues/8079), feedback welcome!

[2021-05-12 01:33] #8038 closed, assigned to jamalex, bjester

[2021-05-12 01:42] jamalex opened #8080 "Add Postgres support to current vacuum job, targeting key Morango tables"
Our scheduled vacuum task [currently only works on sqlite](https://github.com/learningequality/kolibri/blob/develop/kolibri/core/deviceadmin/utils.py#L187). Particularly with syncing now becoming more common, and Postgres usage as well, we end up with table bloat in the temporary Morango tables.

There's a [Morango issue to be able to clear old data out of these tables](https://github.com/learning

[2021-05-12 01:53] jamalex commented on #8077
The main thing I was thinking was for scenarios where the syncs are initiated by the full-facility device (so it can prioritize students who haven't synced in a while), and so that it can show to the teacher which students in the class have devices that are currently connected to the network, in addition to showing the last time each student's data was synced.

In principle, that part could be don

[2021-05-12 19:44] #7502 closed, assigned to rtibbles

[2021-05-12 20:00] #7662 closed, assigned to jonboiser

[2021-05-12 21:37] nucleogenesis commented on #8066
That's important to note. That pagination can happen on the client and I'll include it in the spec.

[2021-05-12 21:40] rtibbles commented on #8066
Another thing that just occurred to me is that we should avoid using a direct Foreign Key for the bookmarks, and should probably add a 'fallback compatible' representation, so we should probably be storing the contentnode id, content_id, and channel_id.

We want to avoid the direct foreign key so that they can sync to devices that do not have that content metadata and still be properly deserialize

[2021-05-12 23:44] #7103 closed, assigned to rtibbles

[2021-05-13 13:18] marcellamaki commented on #8055
Main functionality completed with #8071. Theming has been punted so as to not be a blocker.

[2021-05-13 13:18] #8055 closed, assigned to marcellamaki

[2021-05-13 16:52] jtamiace commented on #7879
https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=114%3A8916

[2021-05-13 22:52] khangmach commented on #7875
**Figma page:**
https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=2469%3A99633

**Context:**
Right now after a learner completes a resource in a topic or lesson, they're awarded points and an option to move on to the next available resource in-topic/lesson. We're shaking this up a bit by giving them choice and directionality on where to focus their attention next:
- they ca

[2021-05-14 00:01] khangmach commented on #7873
### Figma page:
https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=1402%3A195559

### Context:
There are a way too many observed issues with the current content render page at the moment.

**Information hierarchy and display**
The page currently just vertically stacks information, actions, and icons without proper spacing or usage considerations. It's extremely difficult to

[2021-05-14 19:52] Priyaraj17 commented on #8074
Hey, may I work on it?

[2021-05-14 20:01] Priyaraj17 commented on #7870
What if we make the font smaller? @jonboiser

[2021-05-14 20:06] Priyaraj17 commented on #7919
I am not able to reproduce the error..

[2021-05-14 20:58] jonboiser opened #8087 "Device Settings Updates: Changes to "Allow guest access settings" are not immediately enforced on Sign-in page"
## Observed behavior
This comes from https://kolibri-beta.learningequality.org/en/user/#/signin, but I am also able to reproduce this locally

I turned off guest access in Device Settings:

![image](https://user-images.githubusercontent.com/10248067/118328945-438b0380-b4bb-11eb-83ae-d4bdb718dedb.png)

But I still see the "Explore..." button

![image](https://user-images.githubusercontent.com/10248

[2021-05-14 21:08] jonboiser commented on #7919
I'm not seeing this problem any more with the KA Khmer content (it's possible that browsers might have recently improved their handling of Khmer), but the problem is still there. Here is an example with a fake title

![image](https://user-images.githubusercontent.com/10248067/118331719-d2991b00-b4bd-11eb-80a1-28c8a90367bf.png)

[2021-05-14 21:12] radinamatic commented on #8074
Thank you @Priyaraj17, I'm already working on it! 👍🏽

[2021-05-15 05:05] Priyaraj17 commented on #8074
@radinamatic okay,sure.

[2021-05-18 08:05] MisRob commented on #7525
I'll have a look at the resize sensor problems

[2021-05-18 08:07] MisRob commented on #7525
It seems that the sensor issues will be worth checking even when we have new designs for loading the Learn section

[2021-05-18 17:04] jamalex opened #8091 "Allow a facility to be dissolved and reconstituted"
We've seen many cases of devices being cloned without first running the `deprovision` management command, hence duplicating the facility to each device, which leads to issues when it comes time to sync. Currently there is no way to recover from this situation and split the data out into separate facilities, so the only approach currently is to wipe one of the devices and start fresh, or never sync

[2021-05-18 19:25] jredrejo commented on #7294
I am seeing this same behaviour when working in KDP upgrade to 0.14.7. The messages appear running `devserver` when Django tries to load these two urls:

- `/en/portal/kolibri_data_portal.login_side_nav-9b88c70cb511c6352ad1.js.map`
- `/en/portal/kolibri.core.frontend_head_assets-0.14.7.js.map`

For the application endpoints there're no problems nor for some other map files

[2021-05-18 23:48] #6641 closed, assigned to jonboiser

[2021-05-18 23:49] #7247 closed, assigned to jonboiser

[2021-05-19 10:29] pcenov opened #8092 "Coach/Plan/Lesson - A deleted resource cannot be removed"
## Observed behavior
While managing my lesson resources I am getting an error in the console when I attempt to remove a resource which has been deleted from a channel and the resource cannot be removed.

![2021-05-19_12-54-23](https://user-images.githubusercontent.com/79847249/118797880-b1fa0800-b8a5-11eb-8ee3-e6b97fe62171.png)

## Errors and logs
[code]

## Expected behavior
It should be possible

[2021-05-19 17:44] #8007 closed, assigned to nobody

[2021-05-19 19:34] jonboiser opened #8094 "Crowdin in-context server does not use localized messages for `document.title`"
## Observed behavior

Most of the time you see this on the browser tab

![image](https://user-images.githubusercontent.com/10248067/118873309-7445b100-b89e-11eb-80ef-783736d5aacf.png)

https://kolibri-translate.learningequality.org/ach-ug/learn/#/topics/t/166880c6c61d4ef2a4e6adf5c8e968cf

Related to #7330

## Technical notes

The message keys only appear as an output of `$tr` if we are unable to r

[2021-05-19 19:44] jonboiser commented on #7330
I don't think it needs to be reactive, since when I last checked, crowdin will do a full refresh out whenever I change the language.

Ideally, I would like to just hack `vue.prototype.$formatRelative` (and every other method aside `$formatMessage`) to use the locale code in `localStorage.jipt_language_code_kolibri`, so that I don't need to actually change `vue-intl`.

[2021-05-19 22:20] #7970 closed, assigned to sairina

[2021-05-19 23:56] jonboiser opened #8096 "In AllClassesPage, replace ContentCard with single-purpose ClassroomCard"
Replace this code

https://github.com/learningequality/kolibri/blob/b68894b0389f185702ecaf16e2e729cbf0d91c9b/kolibri/plugins/learn/assets/src/views/classes/AllClassesPage.vue#L10-L21

With a single-purpose card (e.g. `ClassroomCard`) and laid out in the current AllClassesPage component according to these designs.

### Notes

* Disregard the "View all" link for now.
* There is a new "Your classes"

[2021-05-20 01:50] #7123 closed, assigned to jonboiser

[2021-05-20 15:45] marcellamaki opened #8098 "Build on navigateTo() for hashi navigation between resources"
Follow up issue for Custom Navigation in hashi.

The navigateTo() function in the `kolibri.js` API should be updated to match with the following gherkin scenario:

Scenario: Navigating between resources
		Given The learner has started exploring a resource with links
		When The learner clicks on a link in the resource
		Then The URL goes to #/topics/c/<node_id> and displays the Kolibri content page

[2021-05-20 16:06] rtibbles commented on #7330
@jonboiser I think the best way to do what you describe would be to add special detection logic here: https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/utils/i18n.js#L183 for the `ach-ug` language code.

If we detect that, we should then update `currentLanguage` to `localStorage.jipt_language_code_kolibri` and update `languageDirection` accordingly too.

By making th

[2021-05-20 16:17] #6727 closed, assigned to marcellamaki

[2021-05-20 17:41] indirectlylit commented on #2189
I'll close this as 'wont fix' in its current form, because our thinking about how the design system encodes design patterns and conventions has evolved a lot since this was written

[2021-05-20 17:41] #2189 closed

[2021-05-20 18:03] indirectlylit commented on #2398
Which hand is dominant does not factor in here because you don't need to switch hands to move a cursor to the other side of the screen (desktop) or swipe on the other side of a touch device.

The main factors I can think of are:

* Do users have a preference based on conceptual correctness? If so, we should standardize to left-side for RTL and right-side for LTR, overriding browser/system behavior

[2021-05-20 18:03] #2398 closed

[2021-05-20 18:46] jonboiser commented on #7330
This works, but running things locally, I notice a lot of messages are not localized. But this was before I made any changes!

![CleanShot 2021-05-20 at 11 34 40](https://user-images.githubusercontent.com/10248067/119032313-e5e63380-b960-11eb-824f-5112dd16acf9.png)

[2021-05-20 20:17] #2225 closed

[2021-05-20 21:42] jtamiace commented on #7888
https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=1788%3A6234

[2021-05-20 21:54] #7330 closed, assigned to jonboiser

[2021-05-21 15:30] #7980 closed, assigned to rtibbles

[2021-05-21 23:31] jamalex commented on #8073
I haven't been able to replicate this. Things are looking good now, so I'm going to close this.

I think it was because I was running previously within the Windows Subsystem for Linux (WSL), which has its own networking layer in between. I just installed the Windows installer and now Windows launcher, Android tablet, ODroid, and Ubuntu laptop are all finding each other happily and reliably.

[2021-05-21 23:31] #8073 closed, assigned to jamalex

[2021-05-23 07:48] albanobattistella opened #8104 "Add collaborative writing and calendar."
Hello Team!

to be complete, Kolibri needs a collaborative writing sheet and calendar.
I would recommend etherpad, very light, effective, and safe.
For the calendar, implement it in kolibri also to give scheduled lessons to students by teachers.
The students themselves will find all the tasks to be done on the calendar.
V/R,
Albano

[2021-05-24 16:13] rtibbles commented on #5504
I think the main spirit of this is covered by #8086 now - and from 0.15 onwards, the caveats around Hashi are significantly reduced.

[2021-05-24 16:13] #5504 closed, assigned to rtibbles, jonboiser, marcellamaki

[2021-05-24 22:21] jonboiser opened #8105 "Create single-purpose cards for Lessons/Quizzes and use them in ClassAssignmentsPage"
Similar to #8096, replace the use of `ContentCard` here

https://github.com/learningequality/kolibri/blob/1269eef9e87f0adabcdf2abaf7e46b61f93c8bb6/kolibri/plugins/learn/assets/src/views/classes/AssignedExamsCards.vue#L12-L25 to match this design

## Dev tasks (numbers reference the screenshot)

- [ ] Create new cards for Lessons and Quizzes
- [ ] Update `AssignedLessonsCard.vue` (1)
- [ ] Update `

[2021-05-25 14:12] marcellamaki opened #8106 "Create new base top bar component with mobile responsive breakpoints"
**Overview**:
The new top bar component should replace the current duplicated title, and there should be no in-page resource title. The top bar is _not sticky_ and has new mobile responsive breakpoints.

**Done when**:
- Top bar replaces current layout and correctly renders title metadata
- Top bar correctly displays the correct layout of icons (placeholder icons okay if this a bottleneck, but ple

[2021-05-25 14:41] marcellamaki opened #8107 "Create new informational side panel for hybrid learning view"
**Overview**:
The new side panel component is used to display resource information and lesson plan information.

Done when:
- Side panel can be toggled open and closed (note: this can be a last `TODO` for when the menu bar is merged)
- Side panel has the appropriate new mobile-responsive breakpoints laid out in figma
- Side panel content is rendered either as information panel or as lesson/topic p

[2021-05-25 16:41] #7982 closed, assigned to jonboiser

[2021-05-25 18:17] #8067 closed, assigned to rtibbles

[2021-05-25 18:40] rtibbles opened #8108 "Create API endpoint(s) for nested, paginated topic tree data retrieval"
The new channel display for 0.15 requires showing multiple levels of the ContentNode hierarchy at once, and also for properly paginating the contents of these topics.

Using our current APIs this would result in requests to:
* Get the parent topic
* Get the child topics (up to the pagination limit - N)
* N requests to get the paginated children of each of the child topics

This issue proposes inst

[2021-05-25 19:08] rtibbles commented on #8077
It's limited to 255 bytes, so we need to be very strict about what we put in it, and this design seems like it would be very easy for some devices (either with lots of facilities, or multiple users in one facility) to push over that limit.

[2021-05-25 19:15] marcellamaki commented on #8106
@MisRob - I have tried my best to include all of the relevant details from the designs here in this issue, but for your reference, here is [the figma associated with this feature](https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=387%3A26928) and you can also see some [details/context from Khang in the original design ticket](https://app.zenhub.com/workspaces/kolibri-ecosys

[2021-05-25 20:37] marcellamaki opened #8109 "Create new modal for learner engagement between resources"
**Overview**:
The new modal should replace the "points" and "next item" snackbars. Instead, the learner: can stay and practice more, move on to the next resource in line, or move on to related resources from a related topic.

Done when:
- Modal displays when a learner completes a resources, in line with the new figma design
- Modal contains new iconography (or placeholder, but in the correct place

[2021-05-25 20:45] marcellamaki commented on #8109
@khangmach / @rtibbles - two points to clarify (mentioned above):
1. If a learner choses to "stay here" - what do they see next? Do they get "sent back to the beginning" or something like that, or does the modal simply close? (Or, something else?)
2. What is the status for "helpful resources" (related resources?) Does this need technical architecting and/or studio support still, or are we repurpos

[2021-05-25 20:45] rtibbles commented on #8077
In conversation with @jamalex it seems like it will still be useful to encode some of this information in the base case of a single facility and a single user.

In the case where there are multiple facilities and multiple users, we can add special flags instead of the ids to indicate such.

e,g.

The 'single user, single facility' case:
[code]

The 'multiple individual user, single facility' case:

[2021-05-25 20:49] rtibbles commented on #8109
I think the modal simply closing would be the easiest to implement technically - and would mean we leave exactly what that engagement looks like entirely up to the learner.

We could implement a 'restart' public method for the different content types, but I am not sure that the technical effort to achieve that would be reflected in the improved user experience.

I think for now we can repurpose th

[2021-05-25 20:52] marcellamaki commented on #7875
Dev github issue created/handoff complete

[2021-05-25 20:52] #7875 closed, assigned to marcellamaki, khangmach

[2021-05-25 21:06] marcellamaki opened #8110 "Create new, manual "Mark As Complete" modal and interaction"
**Overview**:
There should be a new interaction "Mark as complete" that allows a learner to indicate they have finished engaging with a resource. The users access the interaction through the new top bar menu options and completes or cancels from a modal

**Done when**:

- Menu option "Mark resource as finished" opens a modal
- The modal contains the new strings as displayed in the figma designs
-

[2021-05-25 21:12] marcellamaki opened #8111 "Display estimated time on resources"
Overview:
Resources should have a display of the estimated time to completion, if the metadata exists

Done when:
- Estimated time displays for any resource that has this metadata
- Explanatory tooltip displays on hover

Beyond scope of this ticket:
- Setting up estimated time metadata

[Figma reference](https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=517%3A46959):
<img w

[2021-05-25 21:36] marcellamaki opened #8112 "Update status indicators on Learning Activities"
**Overview**:
The new top bar will display an additional "status bar" for learning activities, and the new icons should also display in the top to indicate progress or completion

**Done when**:
- the top bar on a learning resource displays a status bar (not started, in progress, complete) based on the type of learning activity
- the top bar on a learning resource displays new icons (in progress,

[2021-05-25 21:51] marcellamaki opened #8113 "Improve display of hints"
**Overview**:
Hints should be revealed progressively as a learner wants to use them, and the number of hints remaining should update as each hint is used. The layout should be mobile responsive with new breakpoints in line with the updated design specs.

**Done when**:
- The mastery bar displays "Use a hint (X left)" for resources where hints are available, followed by an info icon
- The info icon

[2021-05-25 21:52] marcellamaki commented on #8113
@khangmach - when you're back, can you clarify the interaction for the "info" icon? Thanks!

[2021-05-25 21:52] rtibbles commented on #8113
FTFY

[2021-05-25 22:12] marcellamaki opened #8114 "Create a sticky "secondary top bar" for completion criteria and "use hints" interaction"
**Overview**:
The new top bar component is not sticky, but for learning activities, a secondary top bar should persist completion criteria and hints, so the learner can see these elements on the screen even when scrolling

**Done when**:
- "Secondary top bar" component is sticky and displays for learning activities
- Component is mobile responsive options based on new breakpoints (see also specs w

[2021-05-25 22:27] marcellamaki opened #8115 "Implement new Practice Attempts bar with feedback/messages, overflow, and updated breakpoints"
**Overview**:
Design context from Khang is as follows for these Core exercise (now 'practice') exclusive changes:
- Attempt bar now accommodates overflow attempts
- Attempts now have a style that is easier to scan (new animation included)
- Checking your answer now brings up a more visible feedback message (new animation included)
- The first answer attempt slot is now always highlighted. No more

[2021-05-25 22:29] marcellamaki commented on #7873
New github issues have been created for design -> dev handoff, assigned points, assigned priorities, and associated with this epic.

[2021-05-25 22:29] #7873 closed, assigned to marcellamaki, khangmach

[2021-05-26 15:37] #8104 closed, assigned to nobody

[2021-05-26 15:44] jonboiser commented on #8104
Thanks for the suggestions. We have many improvements to Kolibri in our roadmap, and like to use our Github Issues list for bugs and tasks to be done in the near term.

[2021-05-26 15:57] rtibbles commented on #8104
One thing to note is that etherpad-lite is implemented with a nodejs backend, so would require considerable work to make it portably integrated with Kolibri.

On the calendar side, one reason we have resisted implementing this kind of feature so far has been that many devices that we have seen Kolibri installed on have suffered from catastrophic internal clock failures, which make any sort of cale

[2021-05-26 16:04] albanobattistella commented on #8104
Hi,

I have been trying to ask for features in the forum for a long time but have not gotten any answers since last year.
that's why I posted my comments here.
about eterphad-lite and the calendar, it was an idea for the services to be implemented because many teachers require it.
I did all the translation of kolibri in Italian ... and now I'm going to finish the documentation.
I am happy to help

[2021-05-26 16:15] rtibbles commented on #8077
From further conversations, it seems that we can probably simplify this to a simple flag - is this a facility device or not?

[2021-05-26 16:22] jonboiser commented on #8104
Hi Albano,

I'm sorry about your experience on the forum. We must have lost track of the discussion. [Link](https://community.learningequality.org/t/future-request-for-kolibri/1576)

I do not think it will be possible to add these features in Kolibri any time soon, but I do think it is possible to use something like etherpad and a calendar _alongside_ Kolibri through the use of linking. For exampl

[2021-05-26 16:25] rtibbles commented on #7964
In order to help prevent sync stampede, and also to ensure that there is not a multiplicity of calls between devices to see which should sync with which, the following syncing flow is envisaged:

SoUD - Subset of User Device (i.e. a device that does not have a whole facility's data on it)

* Whether or not a device is a SoUD is broadcast via zeroconf (https://github.com/learningequality/kolibri/is

[2021-05-26 19:20] jonboiser commented on #7785
This is another version of this problem:

When clicking "Sync", you are also shown Kolibri servers that might not have the facility you selected.

![CleanShot 2021-05-26 at 12 18 18](https://user-images.githubusercontent.com/10248067/119718694-bc278380-be1c-11eb-9121-12e67c985759.png)

[2021-05-26 21:38] rtibbles opened #8119 "Kolibri fails to handle errors during startup and instead, itself errors"
## Observed behavior
When making changes to the zeroconf code that resulted in an error, a further error occurred during the handling of said error.

## Errors and logs
[code]

## Expected behavior
Errors should be handled and not result in further errors during handling.

This seems to be a result of binding the `set_pid_file` method of `PIDPlugin` to every status in the `magicbus` status map. Th

[2021-05-26 22:50] micahscopes opened #8120 "Add some additional documentation & comments about back-end peer device info/location gathering and caching"
There's some stuff related to p2p syncing that could use a little more developer documentation, especially around these files:
- https://github.com/learningequality/kolibri/blob/develop/kolibri/core/discovery/utils/network/connections.py
- https://github.com/learningequality/kolibri/blob/9761b070ac91ce68b45247cde8638a545e006552/kolibri/core/utils/nothing.py#L1
- https://github.com/learningequality

[2021-05-26 23:12] #7921 closed, assigned to nucleogenesis

[2021-05-27 21:38] #8119 closed, assigned to rtibbles

[2021-05-28 11:41] MisRob opened #8124 "Re-evaluate usage of TextTruncator and optimize its performance"
## Observed behavior

`TextTruncator` triggers layout reflows that on pages with many instances of `TextTruncator` can cause significant performance issues, as observed in #7525.

This is the first part of the profile (at some point my laptop runs out of resources and doesn't record anymore) of Learn section of  Ciencia Espacial topic containing 1151 sub-topics (which means 1151 of `TextTruncator`

[2021-05-28 11:47] MisRob commented on #7525
See #8123, #8124, and https://github.com/learningequality/kolibri-design-system/issues/237

[2021-05-28 11:47] MisRob commented on #7525
In any case, it will be also good to work on designs - displaying a thousand of content cards on one page is not ideal.

[2021-05-28 12:09] MisRob commented on #8124
During researching this problem a doing some study I noticed the following techniques, that might be helpful if we decide to optimize. For example, for `shave` (3rd party library right now), this could reduce 6 layouts into 1:

Source: [Rendering: repaint, reflow/relayout, restyle](https://www.phpied.com/rendering-repaint-reflowrelayout-restyle/)

I am not saying that we need to implement our own

[2021-05-28 12:12] MisRob commented on #8124
Also see https://github.com/learningequality/kolibri/issues/7525#issuecomment-698006679 and https://github.com/learningequality/kolibri/issues/7525#issuecomment-698624430:

and https://github.com/learningequality/kolibri/issues/7525#issuecomment-697940993

[2021-05-28 12:17] MisRob commented on #8124
Regarding

Does anyone have any idea how to detect the initial page load reliably in a SPA? I experimented a bit with Vue lifecycle hooks and `$nextTick` but so far haven't discovered something that would significantly help.

[2021-05-28 15:47] rtibbles commented on #7525
This should be addressed by the designs here: https://github.com/learningequality/kolibri/issues/7884

TL;DR - pagination by default.

[2021-05-28 21:28] khangmach commented on #8113
hey @marcellamaki. Info icon button next to the hint hyperlink should just be the current hover behavior seen below (no changes):
<img width="540" alt="Screen Shot 2021-05-28 at 2 27 36 PM" src="https://user-images.githubusercontent.com/25045166/120043489-ed40b900-bfc0-11eb-9d51-d81f366fa8f3.png">

[2021-05-28 21:51] khangmach commented on #8109
@marcellamaki yup to echo what Richard said, if the Learner closes the side drawer or chooses to stay, the side drawer just closes and they're left to their own devices on the page. Of course, they can still move ahead to the next resource/topic via the 'lesson plan' icon seen below, which has a yellow dot appended on it to indicate there's more resources to check out!

<img width="194" alt="Scree

[2021-05-28 22:35] #8077 closed, assigned to rtibbles

[2021-05-28 23:04] rtibbles commented on #8124
Were the measurements on TextTruncator taken before or after this PR was merged, btw? https://github.com/learningequality/kolibri/pull/8101

[2021-05-28 23:07] rtibbles commented on #8124
I think the basic mechanism we would probably have to use is that the SPA would need to explicitly report when it was done with initial page load, and then turn the resize sensor on after that. I don't think there would be a good way to do it systematically.

The only other thing I can think of would be to do some sort of debounce across VueJS `$nextTick` intervals, and take it that if say 5 `$nex

[2021-05-29 03:39] sairina opened #8125 "Top border of focused element on "Learn" in side nav is cut off"
## Observed behavior

When using the keyboard to tab through the side nav, the top border of the focus for the "Learn" option is slightly cut off (I realize that the left side also seems cut off, but that's due to my poor recording; the left side is fine).

![2021-05-24 14 46 34](https://user-images.githubusercontent.com/13563002/120056906-057dfb80-bff4-11eb-9223-9e130d5f98f0.gif)

## Errors and l

[2021-05-31 06:48] MisRob commented on #8124
I have #8101 commits locally on a branch I worked on so it's possible that it was taken rather after, but I can't say for sure, because I fetched `develop` more times and took more recordings. It will be good to add a last commit hash information to performance recording next time.

[2021-05-31 09:42] MisRob commented on #8124
@rtibbles Are you referring to `load` event by this? That might help when reloading a page (to some extent - when playing with performance profiles for reload, it looked that many bottlenecks are happening after `load`) but not when navigating from one page to another within one SPA, especially when the latter is a problematic page (like in #7525, where you at first arrive in _Learn_ section, wher

[2021-05-31 10:02] MisRob commented on #8124
Another idea regarding detection of the right moment to start the resize sensor - what about playing with[ `PerformanceObserver`'s](https://developer.mozilla.org/en-US/docs/Web/API/PerformanceObserver) entry for [Largest Contentful Paint](https://web.dev/lcp/), at least for browsers that support `PerformanceObserver`? I haven't worked with it yet and am not sure if it could be easily used for this

[2021-05-31 10:09] MisRob commented on #8124
In any case, before we dive into particular optimizations, it would be good to discuss some high-level questions raised in the description. I don't know what were the reasons for implementing `TextTruncator` in this way and if it's okay to simplify it, or reduce its usage, or if there are good reasons to continue using it as is.

[2021-05-31 20:13] rtibbles opened #8127 "Update kolibri-tools eslint parsing to handle webpack dynamic `import` syntax"
## Observed behavior
Currently we still have to use `require.ensure` for dynamic import syntax in webpack. This is because our eslint parser does not recognize the `import` keyword as being valid to use except at the top level of the module.

## Expected behavior
Can use dynamic `import` syntax

[2021-06-01 05:56] MisRob commented on #8106
Thank you, @marcellamaki

[2021-06-01 15:51] rtibbles opened #8129 "Remove separate built files cache and simplify Redis configuration"
## Observed behavior
We currently operate two different Django caches - the default cache and the built files cache. This means that Redis has to specify a minimum database number, and not a specific database number.

## Expected behavior
* Remove the built files cache and just use the default cache.
* Deprecate (c.f. https://github.com/learningequality/kolibri/issues/8058) the `MIN_REDIS_DB` opti

[2021-06-01 15:59] nucleogenesis commented on #8106
@MisRob @marcellamaki

This is kind of a built in if you update the existing component I think. It doesn't seem like we'd need a separate version of the component to handle the updates.

Just want to note that we currently use [ImmersiveToolbar](https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/ImmersiveToolbar.vue) to handle the top bar when viewing a resource

[2021-06-01 16:03] nucleogenesis commented on #8106
Also - those icons are not currently available and won't be until https://github.com/learningequality/kolibri-design-system/pull/236 is merged and a release is made.

If KDS doesn't provide a release, you can target the branch directly or `yarn link` to the local repo during development to have access to the new icons.

[2021-06-01 16:48] marcellamaki commented on #8106
That sounds fine to me @nucleogenesis! Thanks for your feedback

[2021-06-01 16:53] khangmach commented on #8106
@nucleogenesis

See the figma file for more specific specs, but basically it opens up a side sheet component where the user can see all the other resources in that topic node (if they're in a topic resource) or lesson (if they're in a lesson resource). If the resource is multiple lessons that's fine, the drawer should only show resources pulled from the lesson it came from/currently resides in.

[2021-06-01 17:54] radinamatic opened #8131 "Syntax error in IE11 on builds from 'develop' branch"
## Observed behavior
Syntax error impeding `develop` Kolibri to load in IE11.

## Errors and screenshot

![Win7 (start)  Running  - Oracle VM VirtualBox_024](https://user-images.githubusercontent.com/1457929/120368780-c8c34480-c312-11eb-8670-5f228d0c0aa1.png)

## Expected behavior
We still need to support IE11, so need to cater to its _idiosyntaxies_ 🤷🏽‍♀️

## Context

 * Kolibri version: `exe` as

[2021-06-01 17:56] rtibbles commented on #8131
This is almost certainly a regression from the babel upgrade. Will fix.

[2021-06-01 18:30] #8061 closed, assigned to rtibbles

[2021-06-01 19:11] #8066 closed, assigned to nucleogenesis

[2021-06-01 19:25] rtibbles commented on #8131
Looks like the specific syntax error is being caused by an untranspiled `class` definition.

[2021-06-01 19:42] MisRob commented on #8106
@nucleogenesis @marcellamaki

It may not be the case - depends on implementation details. After doing a bit of research and planning today, I am actually preparing a new component, focusing on a new UI and responsive behavior, because at this point it's simpler. I will see later how much logic I will use from the `ImmersiveToolbar` itself. I am working on it in a way so that we can eventually swit

[2021-06-01 23:55] rtibbles commented on #8131
There are two issues here, seemingly - one is that fuse.js by default exports a non-transpiled ES Module, which was being imported but not transpiled. The other is that our new core-js configuration was incorrect, so Object.assign and other vital polyfills were not being imported.

[2021-06-02 06:20] MisRob commented on #8106
As [discussed on Slack here](https://learningequality.slack.com/archives/CB37UM23A/p1622539686067200), some dependencies of this issue may need to be clarified

[2021-06-02 16:33] laurenlichtman opened #8135 "Text in HTML5 App does not appear for Windows 7 and 8"
## Observed behavior

A user observed that HTML5 Apps are not consistently showing text on Windows 7 and 8, when it works on Windows 10.

This is being observed on both laptops and desktops with 3GB+ RAM on Intel Celeron.

## Expected behavior

One would expect that all of the Apps would appear with text as intended.

## User-facing consequences
Users cannot use the content.

## Steps to reproduce

[2021-06-02 20:51] jonboiser opened #8137 "Create first version of Learn > Home tab"
![CleanShot 2021-06-02 at 13 45 21](https://user-images.githubusercontent.com/10248067/120549889-02df2580-c3a9-11eb-8383-373ce34f999e.png)

![CleanShot 2021-06-02 at 14 00 22](https://user-images.githubusercontent.com/10248067/120551519-f8259000-c3aa-11eb-9ff3-a6fba0d103d2.png)

Implementation may use current version of ContentCard. For items 2,5,6 , the components created in #8136 should be used

[2021-06-02 21:30] sairina commented on #6945
@khangmach and @jonboiser -

Currently, I've made some changes to the original scroll. Option 1 is on the left, and Option 2 is on the right:
|Maintains some scrolling|Has no scrolling|
|--|--|
|![2021-06-02 14 29 33](https://user-images.githubusercontent.com/13563002/120554759-fcec4300-c3ae-11eb-9ee6-38788843faed.gif)|![2021-06-02 14 28 17](https://user-images.githubusercontent.com/13563002/12055

[2021-06-02 22:23] khangmach commented on #6945
For option 1, do you have to scroll through the page scrollbar first in order to scroll through the question list?

[2021-06-02 23:20] sairina commented on #6945
No, you can scroll through the question list without getting to the bottom of the page scroll. That works as long as you are hovering over the question list.

[2021-06-03 00:07] #8096 closed, assigned to jonboiser

[2021-06-03 00:07] #8105 closed, assigned to jonboiser

[2021-06-03 07:12] MisRob commented on #8106
@marcellamaki:

I'm continuing my work on this

[2021-06-03 15:30] rtibbles opened #8139 "Hard coded Kolibri Studio URL in frontend breaks upgrades when option is set"
## Observed behavior
When setting this option https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/options.py#L366 Kolibri is able to import solely from another content source.
However, when this is set, the hard coded URL here: https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/device/assets/src/views/ManageContentPage/api.js#L6 causes errors during the upg

[2021-06-03 16:03] indirectlylit commented on #6945
Relevant previous work and discussion:

* [Note about UX issues with nested scrolling areas](https://github.com/learningequality/clearinghouse/issues/291)
* [Design work on responsive behaviors](https://docs.google.com/presentation/d/1tBbRvjjgtpZZ8mc5mAUvTUPI7IN_7Q5LmX0qhH2ealY/edit#slide=id.g5c315d115c_0_21)
* [Previous update to quiz view](https://github.com/learningequality/kolibri/pull/5448)
*

[2021-06-03 18:36] sairina commented on #6945
Couple things I'm thinking about now:
- From the Slack conversation and [subsequent gif](https://learningequality.slack.com/archives/CAKK24483/p1556924591087000), I'm gathering that there shouldn't be any scrollbars at all for the page itself - and the scrolling should actually happen in the `MultiPaneLayout` container?
- That makes me wonder, should there be space between the end of the container

[2021-06-03 22:35] aronasorman opened #8140 "Channel metadata import: broken order of table importing"
## Observed behavior

When importing from the UNW staging server, we keep getting this error during channel metadata import.

The root cause turned out to be that the `File` table is imported before the `LocalFile` table, while `File` rows had foreign keys pointed to the `LocalFile` table.

The fix is to ensure that `LocalFile` is imported into the postgres database before `File`.

## Errors and l

[2021-06-04 21:40] khangmach commented on #7999
This design has four primary design components to it, seen below
- An overview page with all learners and their device sync statuses
- An updated coach home page with an entry point button that leads to the overview page mentioned above
- A new information modal
- A new hyperlink on the quiz report template that leads the coach to the overview page (e.g. a cross-link)

More details in this [**figm

[2021-06-04 21:51] khangmach commented on #7934
designs updated on this zenhub issue:
https://app.zenhub.com/workspaces/kolibri-ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/7999

[2021-06-04 21:51] khangmach commented on #7999
Detailed specifications for the learner's side are also in the figma file

[2021-06-05 03:18] sairina commented on #6945
Also, I noticed that [`MultiPaneLayout`](https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/MultiPaneLayout.vue) has no K-components -  I'm wondering if this is part of the reason why it is also not responsive at different break points (width-wise, for sure) 😬 . Should there be a refactor of this component, instead of just trying to fix the scrolling?

[2021-06-05 06:10] khangmach commented on #6945
I think we can try this approach. This means that the page length would be determined by the max width of the container though, right?

I never knew why the extra space was there and it doesn't serve a visible purpose. We can scrap it.

Once it's developed, I want to carry over the page header styles from the new content renderer page. That should take care of the huge header issues.

[2021-06-07 17:45] #7345 closed, assigned to jonboiser

[2021-06-07 18:20] sairina commented on #6945
- Extra space: it's actually in _everything_, so is there a reason why it is there? @jonboiser @indirectlylit  - maybe you have some context?

https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/CoreBase/index.vue#L581

[2021-06-07 20:22] sairina opened #8141 "Refactor `MultiPaneLayout` with K*components"
## Observed behavior

Currently, there is some tech debt related to the lack of K*components in the `MultiPaneLayout`. One such example is from a scrolling issue mentioned in #6945 as well as a lack of responsive sizing when the width is changed.

Other components that are mentioned in #6945 do not seem to have the issues that `PlanQuizPreview` have, and one major difference is that the other comp

[2021-06-07 22:40] jamalex commented on #7999
This is looking great overall!

Wouldn't hurt to be able to sort by username, as well -- just not the sync status columns (which change dynamically).

Note that the picture tells how many haven't synced (recently), not how many aren't connected. It would be good to think through when they would be looking at this page, and what indicator would be most useful in those moments. If they're looking at

[2021-06-08 12:43] pcenov commented on #8135
Hi @laurenlichtman and @radinamatic - I'm also not able to replicate this issue. Tested in Windows 7 with 0.14.6 in Firefox, Edge and Chrome and the text is displayed correctly:
![2021-06-08_14-51-42](https://user-images.githubusercontent.com/79847249/121186920-353cc700-c870-11eb-879d-82e98019631c.png)

[2021-06-08 14:31] radinamatic commented on #8135
@laurenlichtman We were unable to replicate this issue on Windows 7 with the most recent browsers, so my suspicion is that there's something an interplay between older browsers and the user OS. I'll try to find some potential tips and tweaks to reply, but the issue would most probably be resolved by upgrading the browsers.

[2021-06-08 16:28] indirectlylit commented on #8141
all sounds good

Just flagging though that for most quizzes and exercises, the names of the questions are not particularly meaningful. That's why on small screens for the learner view we replaced the question list with just 'previous' and 'next' buttons.

[2021-06-08 17:25] micahscopes opened #8144 "Scaffold KDP "Completion" and "Channel" data subtab changes"

[2021-06-08 17:26] micahscopes commented on #8144
Wrong repo

[2021-06-08 17:26] #8144 closed, assigned to nobody

[2021-06-09 19:07] marcellamaki commented on #8114
Link to figma: https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=425%3A0

[2021-06-10 02:17] radinamatic commented on #8074
Fixed in https://github.com/learningequality/kolibri-docs/pull/221, closing.

[2021-06-10 02:17] #8074 closed, assigned to radinamatic

[2021-06-11 15:54] jamalex opened #8148 "Need to be able to toggle on "cookie policy" agreement notification"
For online hosted instances of Kolibri, for some jurisdictions, we need to be able to toggle on a simple [cookie notice agreement](https://gdpr.eu/cookies/#:~:text=To%20comply%20with%20the%20regulations,cookies%20except%20strictly%20necessary%20cookies.&text=Make%20it%20as%20easy%20for,consent%20in%20the%20first%20place.).

Fortunately, we can keep it fairly simple, as we don't include 3rd party c

[2021-06-11 19:33] jonboiser opened #8149 "At small sizes, unattempted questions in Exam History have no label/icon on their buttons"
Example from

https://kolibri-beta.learningequality.org/en/coach/#/0ca0280c91ccb9a880d922914226557f/reports/quizzes/536037266b3db551fb2e779209f552cb/learners/592c37a3d163a3c03a9ae97b3d4f2831/questions/3/interactions/0

Small window
![CleanShot 2021-06-11 at 12 33 24](https://user-images.githubusercontent.com/10248067/121739966-3ad51f80-cab1-11eb-988a-cc4c99dcb126.png)

Medium window

![CleanShot 2

[2021-06-11 19:51] #6945 closed, assigned to sairina

[2021-06-14 17:36] #7874 closed, assigned to nucleogenesis, khangmach

[2021-06-14 21:39] #8098 closed, assigned to marcellamaki

[2021-06-14 21:40] jonboiser opened #8153 "Promise.finally is not polyfilled properly for IE11"
The root cause of the issue below is that `Promise.finally` is not polyfilled properly in the frontend build.

Kolibri is now loading in IE11: I managed to go through the setup wizard and import a channel, but `/learn/#/topics` does not load:

![Win7 (start)  Running  - Oracle VM VirtualBox_032](https://user-images.githubusercontent.com/1457929/120408431-50c73f80-c34f-11eb-985c-365359f485d6.png)

[2021-06-14 21:43] #8131 closed, assigned to rtibbles

[2021-06-15 01:56] khangmach commented on #7870
Addressed with new menu scoped in 0.15 single user syncing work

![new menu.png](https://images.zenhubusercontent.com/6042a21c8000460e5640191f/48728eff-1aa9-4542-8d86-740b31a5f893)

[2021-06-15 04:55] khangmach commented on #7934
Here are the current designs for learner syncing states. Full design figma documentation [**can be found here**](https://www.figma.com/file/MkIaNq2w3sx4Sh2uVOd35K/Coach-and-learner-notifications-SUS?node-id=11%3A643)

![sync statuses learner.png](https://images.zenhubusercontent.com/6042a21c8000460e5640191f/cf5bf289-e322-46ec-abfd-c08141c7f8b5)

**Special case:**
When a device is set up as a limit

[2021-06-15 15:02] indirectlylit commented on #7934
@khangmach in [this thread](https://learningequality.slack.com/archives/C0LKG14NL/p1623351233089500?thread_ts=1622834430.077100&cid=C0LKG14NL) @jamalex requested:

Let's do that before iterating more on the wireframes. Let me know if I can help – we can cohack on it if you'd like to schedule a working meeting.

For 0.15 this is not a special case – automated syncing will only work with limited dev

[2021-06-15 16:10] khangmach commented on #7934
@indirectlylit @jamalex this sync status doc was submitted in that thread a couple of days ago. Feel free to add some comments
https://docs.google.com/document/d/1covX9is64XhN7ImzWORRBzUfl5yZhFUTViClvTAIq6s/edit?usp=sharing

[2021-06-15 17:39] indirectlylit commented on #7934
ah didn't see that - thanks!

[2021-06-15 17:51] jredrejo opened #8155 "Deleting unused files in slow filesystems does not work"
## Observed behavior
Having problems trying to import a channel with multiple files that have changed. It's even impossible to delete the channel files and start again because of database timeouts when using deletecontent

## Errors and logs
In a kolibri shell:
[code]

Also:
[code]
This is happening in a Mexico UNW server while trying to delete a channel to reimport it again, as upgrading is not w

[2021-06-15 23:03] rtibbles opened #8157 "Initiate auto-syncing from zeroconf listeners"
For a device that has a subset of users, when a new device joins the network, that is not a subset of users device, attempt to initiate an automatic sync with that device.

Could achieve this by adding behaviour directly in zeroconf, or potentially by adding signals to the DynamicNetworkLocation model.

[2021-06-16 17:38] rtibbles commented on #8155
Fixed in #8156

[2021-06-16 17:38] #8155 closed, assigned to jredrejo, rtibbles

[2021-06-16 21:26] #8060 closed, assigned to jredrejo

[2021-06-16 22:22] lauradanforth commented on #7944
Update from Penny as this seems to still be persisting:

[2021-06-17 22:19] #8153 closed, assigned to rtibbles

[2021-06-17 22:41] radinamatic opened #8161 "Resources loading on Windows (follow-up from #8159)"
## Observed behavior
After Promise.polyfill issue was fixed to restore IE11 compatibility in #8159, resources (HTML5, videos) are not loading on all browsers on Windows, but those on Ubuntu Linux are not affected.

HTML on IE11 | HTML on Firefox | videos on FF &  Chrome
--- | --- | ---
![Win7 (start)  Running  - Oracle VM VirtualBox_039](https://user-images.githubusercontent.com/1457929/122480445-

[2021-06-18 15:18] #8161 closed, assigned to rtibbles

[2021-06-18 15:35] jredrejo opened #8163 "Add template to the KDP admin interfaz to set the percentage determining the completion level in Organizations"
Modify current template in the admin web page to enter and validate the percentage to determine completion in Organizations

[2021-06-18 19:22] jredrejo commented on #8157
@rtibbles in a SoUD, how can I know the user who must sync? in these devices, are they going to h ave only one user in the `FacilityUser` table, or one user + superuser and the user is the one to sync? or, in case more than user is found, should it try to sync them all, one by one?

[2021-06-19 16:33] rtibbles commented on #8157
Yes - I think that's the only thing we can do! (in most cases, this should just be a single user)

[2021-06-19 17:29] jredrejo commented on #8157
Ok.
I'm looking forward to seeing how we're managing things like classrooms or teams having in one device just one user belonging to different collections in another device...

[2021-06-19 18:36] rtibbles commented on #8157
A user's collection memberships are synced as part of their data, and the collection hierarchy is synced in a read only way. Not sure exactly what the scenario you're envisaging here is?

[2021-06-19 18:44] jredrejo commented on #8157
I was just thinking out loud  of possible database integrity problems in lessons assigned to individual users without those users in the db. I'm not sure if all the things we have in collections allow to work without all the users belonging to the collection created. I'm wondering if we can have that kind of problems with any of the different collections we're using. I.e. is it possible to sync a

[2021-06-19 19:16] rtibbles commented on #8157
Assignments are on the collection level, and all collections are synchronized, so the assignment and the collection can be synchronized without including the other users.

[2021-06-20 01:07] rtibbles commented on #5550
Fixed by https://github.com/learningequality/kolibri-design-system/pull/225

[2021-06-20 01:07] #5550 closed, assigned to nobody

[2021-06-20 18:41] nzola opened #8164 "Kolibri videos cannot play on any Apple devices through Internet In A Box server"
## Observed behavior

Dear Team Kolibri,
I have a very urgent request which I need your help if possible. I have an opportunity to run a pilot project with 10 Internet In A Box (IIAB) servers in the Congo DRC this July, but encounter a big problem. Kolibri videos cannot play on any of the Apple products (ipad, iphone, notebook) only on my Samsun phone, accessing them through IIAB server.
I cannot

[2021-06-20 22:59] holta commented on #8164
CLARIFICATION:

- All these videos fail when using Apple devices browsing to Kolibri 0.14.7 running on 32-bit Raspberry Pi OS Lite.

- Here's an example — of one of these videos that fails when browsed with Apple devices:
http://192.168.0.19/kolibri/content/storage/9/5/951b1a4c7f0b2ab989c320b23818ac58.mp4

- @nzola clarifies that the very same videos work perfectly when Apple devices browse the _o

[2021-06-21 13:54] #8106 closed, assigned to MisRob

[2021-06-21 16:22] indirectlylit commented on #5550
nice

[2021-06-21 16:26] rtibbles commented on #8164
The most likely explanation for this is that Safari refuses to play videos when a byte range request fails. So the video codec is indeed compatible, but when the video player makes the initial request for a byte range request, and that fails to come back, the video will not play.

What is serving the content from the Raspberry Pi?

Are you using our Raspberry Pi image, or is this a custom deployme

[2021-06-21 16:28] #8108 closed, assigned to rtibbles

[2021-06-21 16:48] holta commented on #8164
FYI Internet-in-a-Box installs the latest Kolibri (0.14.7 in this case) with NGINX according to Learning Equality's recommendations (Benjamin Bach and José Redrejo Rodríguez) as shown here:

https://github.com/iiab/iiab/blob/master/roles/kolibri/tasks/install.yml

PS if the above Learning Equality recommendations have changed, please let us know, Thanks!

[2021-06-21 16:49] nzola commented on #8164
Hi Richard, do you know the organization Internet In A Box? I am using
their install process and Kolibri is part of it.

On Mon, Jun 21, 2021 at 9:26 AM Richard Tibbles ***@***.***>
wrote:

[2021-06-21 17:02] holta commented on #8164
Thanks also to Learning Equality's Ivan Savov who's greatly helped make this happen over the past 4 years.

As an aside, Internet-in-a-Box was # 1 on Hacker News yesterday:

https://news.ycombinator.com/item?id=27568332

(Internet-in-a-Box installs Kolibri or KA Lite depending on the requirements of the implementer.)

[2021-06-21 17:41] jtamiace commented on #7933
https://www.figma.com/file/w3raYcGRUhhaVm1Of8Dcvo/0.15-Device-setup?node-id=142%3A20

[2021-06-21 17:46] rtibbles commented on #7861
Designs finalized, handing off to dev.

[2021-06-21 17:46] #7861 closed, assigned to khangmach

[2021-06-21 17:59] rtibbles commented on #8164
See here for the Apple Safari developer recommendations:

https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/CreatingVideoforSafarioniPhone/CreatingVideoforSafarioniPhone.html#//apple_ref/doc/uid/TP40006514-SW6

To confirm my hypothesis, could you please do the test recommended in there?

[code]

(replace the file URL with the appropriate server

[2021-06-21 19:37] holta commented on #8164
1) @rtibbles strangely when using non-Kolibri aspects of NGINX on this same server, it **correctly** downloads a 100-byte partial-range (byte-range):

[code]

2) However, attempting to download byte-ranges with Kolibri (using the very same NGINX server) **incorrectly** ends up downloading the full file: (corroborating your theory!)

[code]

Do you recommend any other tests towards narrowing down t

[2021-06-21 19:44] rtibbles commented on #8164
The first thing would be running the same test against the unproxied Kolibri server. This would help narrow down whether it's an issue with the server itself, or the proxying to the server.

[2021-06-21 19:56] rtibbles opened #8166 "Implement single user syncing flow in the setup wizard"
Implement designs/user flow described here:

https://www.figma.com/file/w3raYcGRUhhaVm1Of8Dcvo/0.15-Device-setup?node-id=142%3A20

as per https://github.com/learningequality/kolibri/issues/7933#issuecomment-865223151

[2021-06-21 19:58] rtibbles commented on #7933
Closing - further hand off to happen in #8166

[2021-06-21 19:58] #7933 closed, assigned to jtamiace

[2021-06-21 20:57] nzola commented on #8164
I run the test on iphone without going through IIAB server it worked.

[2021-06-21 20:59] rtibbles commented on #8164
So, it seems that whatever is happening in the proxying layer is preventing the byte range requests.

@holta presumably `http://192.168.0.19/js-menu/menu-files/images/iiab119.png` is also being served by nginx, are there any significant differences in configuration that might account for this?

[2021-06-21 21:03] #8080 closed, assigned to jredrejo

[2021-06-21 21:07] #8157 closed, assigned to jredrejo

[2021-06-21 21:26] holta commented on #8164
CLARIF: the above iPhone test (about a week ago) was browsing videos within Kolibri 0.12.10b3 at https://vodaeduc.vodacom.cd (successfully viewing videos & other source material, prior those being imported into IIAB's Kolibri 0.14.7).

URL's shown by `systemctl status kolibri` do not work:

- http://127.0.0.1:8009/
- http://192.168.0.182:8009/

Specifically, when trying to visit the above URL's, b

[2021-06-21 21:29] jvonau commented on #8164
what exactly was "the test"?

[2021-06-21 21:32] holta commented on #8164
@nzola was successfully browsing pages and videos within Kolibri 0.12.10b3 at https://vodaeduc.vodacom.cd

(This was a separate test about a week ago, that did not involve IIAB in any way.)

[2021-06-21 21:34] jvonau commented on #8164
That does not work at all:
![not_found](https://user-images.githubusercontent.com/5579710/122830586-2ad9ee80-d2ae-11eb-9695-b7aea8d534f4.png)
found in /library/kolibri/logs/kolibri.txt:
[code]

[2021-06-21 21:42] jvonau commented on #8164
```http://127.0.0.1:8009/kolibri/``` brings up the login page correctly
[code]

[2021-06-21 22:41] rtibbles commented on #8164
I assume that `http://127.0.0.1:8009/kolibri/` is still going via nginx though, so I am not sure this is telling us anything new.

[2021-06-21 23:13] jvonau commented on #8164
Using :8009 should denote the port to directly connect with, no? FYI I stopped nginx, still connects

[2021-06-21 23:22] jamalex commented on #8079
We realized an issue with the current specifications, for some more complex scenarios involving SoUDs syncing with more than one full-facility servers that may themselves not be fully synced with one another (and used by different teachers). This is a tangible reality for S2S, where there are 3 teachers per school each with their own laptop for different subjects, with the same facilities and user

[2021-06-21 23:26] jamalex commented on #8079
A parallel question for @bjester around how best to tie something like this into the middleware/scenario operations sequencing stuff: what would be the best way to have specific operations that occur on the full and limited devices (a different operation on each) as part of an individual-user-sync process, regardless of which side initiated? For whichever side is the client in the relationship, I

[2021-06-21 23:40] jamalex commented on #8079
Another alternative would be to have IA creation/deletion also happen during full-facility syncs between the full devices (the laptops, in the scenarios above). This still adds a bit of overhead, but much less frequently than if we were doing it whenever a change happened. We'd then still need to also do it as part of the individual user sync in case further changes happened on that full device pr

[2021-06-22 01:34] holta commented on #8164
Kolibri videos stopped working in 2019 in a similar fashion: (FWIW)

- iiab/iiab#1626 Kolibri videos not loading [solved by Kolibri 0.12.3, or URL_PATH_PREFIX env var with Apache]

- PR #5415 Fixing storage file urls when custom KOLIBRI_URL_PATH_PREFIX is set

Possibly Related:

- #5754 Auto-generate consistent environment variables for options

- PR #8050 Options cleanup

- `KOLIBRI_URL_PATH_PREF

[2021-06-22 03:17] holta commented on #8164
@jredrejo can you tell what's causing Kolibri videos not to appear here, seemingly very similar to the issue you helped us with in April 2019?

Please see the [6 links](https://github.com/learningequality/kolibri/issues/8164#issuecomment-865454599) I've posted above, as very plausibly related to the root cause?

Thank you as @jvonau has put in some hard work investigating — along with @rtibbles wh

[2021-06-22 04:02] nzola commented on #8164
BIG thank you to all for taking care of this situation. I hope you will get some lead to resolve this problem as we are excited to implement IIAB devices in the Congo DRC.

[2021-06-22 13:38] jvonau commented on #8164
I'm thinking adding [proxy_force_ranges](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_force_ranges) to IIAB's nginx configuration might straighten this issue out?

[2021-06-22 14:04] rtibbles commented on #8164
@holta - I've told you the issue, there's a problem serving byte range requests. This is an issue with IIAB's nginx configuration.

This is completely different from the issue you are referencing, which was a bug in the `URL_PATH_PREFIX` option that we added specifically at IIAB's request so that you could serve multiple servers at sub paths on the same host.

@jvonau I think that seems like the b

[2021-06-22 14:21] #8149 closed, assigned to jonboiser

[2021-06-22 14:30] lauradanforth commented on #7944
Following the update from Penny that the issue was persisting, she tried again and had some improved results:

[2021-06-22 14:30] rtibbles opened #8169 "Allow channel metadata and content node endpoints to be filtered by channel based quizzes"
In order to enable the workflow in #7862, it will be necessary to filter channels based on whether they contain channel based quizzes, and also to filter topics and exercises by whether they have channel based quizzes.

A few possible approaches:
* Filter on the `options` field with a regular text/re search for `"modality": "QUIZ"` - would require search the entire descendant tree for topics and c

[2021-06-22 14:32] rtibbles commented on #7944
Thanks for the follow up info, @lauradanforth - sounds like the fixes we put in place had some effect. Possible that intervening caching might be responsible for the remaining delay, but we can double check whether it is similar on a regular Kolibri instance.

[2021-06-22 14:53] rtibbles opened #8170 "Create public facility user endpoint for single user syncing"
To support single user syncing setup, a public API endpoint is required that will:
* Return a user's information when that user has signed in as a learner
* Return a paginated list of users that can be selected for single user syncing when logged in as an admin
* Allow for search by username, fullname, classroom name, Identifier Number - check blackbox of facility admin searching

The form of the

[2021-06-22 14:53] rtibbles opened #8171 "Add capabilities to setup wizard API endpoints to allow setup of a single user"
Currently the API endpoints in the Setup Wizard plugin only support whole facility sync (https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/setup_wizard/api.py).

To allow Single User syncing setup to happen as described here: https://github.com/learningequality/kolibri/issues/8166 we need to enhance the API endpoints to allow:

* Getting facility dataset to know if remote fa

[2021-06-22 15:08] rtibbles commented on #8164
Just to flag also that the NGINX configuration is not according to our recommendations, as per https://github.com/iiab/iiab/issues/1646#issuecomment-604563863 IIAB was recommended to use a copy of the NGINX configuration from our kolibri-server package, but nothing has changed in the NGINX configuration since @jredrejo made that recommendation. So, no, our recommendations have not changed, but you

[2021-06-22 17:28] rtibbles commented on #8166
Need to filter out three categories of devices:
* Kolibri < 0.15
* Non-local Kolibris
* SoUDs

[2021-06-22 17:31] holta commented on #8164
Videos should now work (on Apple & LG too!) thanks to @jvonau who guided PR iiab/iiab#2824 &mdash; _huge thanks to Everyone for making this happen!_

@rtibbles are you talking about @jredrejo's 97-line https://github.com/learningequality/kolibri-server/blob/master/nginx.conf ?
 Thank you for this tip as I regret I did not quite understand @jredrejo back in March 2020.  Many would like to understan

[2021-06-22 18:04] bjester commented on #8079
@jamalex I think this can be handled through the default middleware configuration which will be [configurable through settings](https://github.com/learningequality/morango/pull/116/files#diff-3585d0e14d014455e2d84873998cf7f2ab0243af9269de023978b914c6289250). The default middleware is used by both client and server (by default), so the only requirement would be that it is able to detect from the co

[2021-06-23 01:56] jvonau commented on #8164
@holta The files are in the kolibri-server git [repo](https://github.com/learningequality/kolibri-server/tree/master/nginx_error_page) and would be installed with the deb package.

Using wsgi would replace the builtin cherrypi server within kolibri the port would not be open as kolibri is not running, different way of running the kolibri python backend. Don't think it would be overly hard to try t

[2021-06-23 08:48] #8164 closed, assigned to nobody

[2021-06-23 12:52] rtibbles commented on #8164
Glad this was resolved - hope the project is a great success @nzola!

[2021-06-23 20:39] jonboiser commented on #5606
This looks to be okay on kolibri-beta viewed on Safari 14. The labels are different, but this is still a anchor tag + a button

![CleanShot 2021-06-23 at 13 36 54](https://user-images.githubusercontent.com/10248067/123164695-22a5be80-d428-11eb-9028-e304f168192e.png)

[2021-06-23 23:42] nzola commented on #8164
@rtibbles Thank you so much for your quick response to this issue. Keep up good care of Kolibri users!

[2021-06-24 16:18] indirectlylit commented on #5606
confirmed, also looks fine on kolibri demo 0.14.7

![image](https://user-images.githubusercontent.com/2367265/123298159-37488c00-d4e6-11eb-805c-73bb76c3d2c7.png)

[2021-06-24 16:18] #5606 closed, assigned to nobody

[2021-06-24 17:40] indirectlylit commented on #8079
Overall this seems fine to me, and I prefer it to the API-based side channel. (If we ever revisit that, recommend considering `/api/public/assignments/<user_id>` or possibly `/api/public/users/<user_id>/assignments/` because the endpoint is not actually sync-specific.)

An edge-case limitation of the Morango `IndividualAssignment` strategy described above:

* _Full device A_ syncs a new assignment

[2021-06-24 18:24] lauradanforth opened #8175 "Errors during syncing increase with the number of syncs in 0.14"
## Observed behavior
Shared from Simon at Lewa, experienced on the Android App:

## Context

Tell us about your environment, including:
![page2](https://user-images.githubusercontent.com/22602993/123313434-8814b080-d4f7-11eb-93ce-f115bdde95cc.jpeg)

[2021-06-24 18:30] lauradanforth opened #8176 "When completing the same Quiz on different devices and then syncing them, the Quiz scores are combined"
## Observed behavior
Reported from Simon at Lewa on the Android App, v0.14:

Part of Lewa's model is to have students take the same Quiz repeatedly to see a change in their score over time. My read of this is that a student is completing a Quiz on one device, and then taking the same Quiz on a different device (at which point it shows the Quiz hasn't been taken already, because the first device ha

[2021-06-24 18:58] jamalex commented on #8079
Yes, exactly -- @rtibbles and I chatted about this, and agree for the S2S use case it's not a concern. And we can easily add the "create IA's on full-facility-sync for users that have done single-user-syncs previously" in future versions if it starts to look like a practical issue.

The main thing that makes this messy is that many ways that a user can come to be assigned something:
- A new assign

[2021-06-28 15:48] marcellamaki opened #8178 "Create front end for automated syncing behaviors of individual learner syncing"
See: https://app.zenhub.com/workspaces/kolibri-ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/7934

[2021-06-28 15:49] marcellamaki opened #8179 "Create front end for coach view of user sync statuses"
See: https://app.zenhub.com/workspaces/kolibri-ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/7999

[2021-06-29 20:30] khangmach commented on #7647
Yeah the confusion is the wording. 'Go back' sounds like it'll take the user back to the previous "node" that they navigated from. To eliminate that expectation and emphasize the continuity of steps, we need to be more deliberate about naming.

![Screen Shot 2021-06-29 at 1.29.27 PM.png](https://images.zenhubusercontent.com/6042a21c8000460e5640191f/7810ff0e-72b7-43e0-b53c-d68ccc9f421a)
There is no

[2021-06-30 04:22] sairina opened #8181 "Add documentation for adding routes in Kolibri"
## Observed behavior

Kolibri developer docs would benefit from including the necessary steps for adding a new route to Kolibri, including:
- adding to constants.js
- adding to handlers.js (if necessary)
- adding to the appropriate route.js

…

## Errors and logs

…

## Expected behavior

Does not yet exist.
…

## User-facing consequences

Newer devs and people who would like to contribute could b

[2021-06-30 14:57] radinamatic commented on #7790
https://learningequality.testquality.com defect [D2](https://learningequality.testquality.com/project/12317/result/2429293/defect/7902).

[2021-06-30 14:58] radinamatic commented on #7790
Testing linking issues from the TQ (no actions required at this time).

[2021-06-30 17:48] khangmach commented on #7998
What is this admin view referring to? It was my knowledge that we'd be supporting coach and learner experiences for sync statuses in 0.15

[2021-06-30 17:52] rtibbles commented on #7998
I think we can deprioritize it for now - but it would still be useful to have similar notifications that we have designed for the coach view accessible in the facility admin interface as well.

[2021-06-30 17:55] khangmach commented on #7919
Addressed with 0.15 content renderer updates

[2021-06-30 17:57] khangmach commented on #7436
Addressed with upcoming 0.15 content renderer updates

[2021-07-01 09:25] radinamatic opened #8182 "Keyboard navigation in content renderers"
## Observed behavior
When keyboard users open any resource, they should be able to navigate in and out the renderer frame, and interact with the content inside. This is valid for both _normal_ view and the fullscreen view.

After re-reading the specs and doing more research, I was not able to find much _normative_ requirements  regarding where should the focus be once the user tabs into an `iframe

[2021-07-02 00:09] khangmach commented on #6582
![slice.png](https://images.zenhubusercontent.com/6042a21c8000460e5640191f/28f77eb9-564c-475c-bfcc-d4a498a7c70e)

Here's a simple update to the log generation UI.

Core adjustments:
- condensing "note" text into a single "learn more" modal with similar functionality to the ToS link below on the page
- Add retry functionality
- Add error handling for generation failing via unknown/general errors
-

[2021-07-02 12:19] lauradanforth commented on #8175
Additional information from Simon:

[2021-07-06 14:16] marcellamaki opened #8187 "Create API endpoint for fetching sync statuses of individual users and classes"
This issue is the compliment to the front end issues #8178 and #8179, which create the front end displays for the learner's sync status (displayed in the AppBar dropdown menu) and the new coach/admin view of the sync status overview for a class.

Data will need to be pulled from multiple places - both to determine if there is an active or failed sync, or to determine if the user is enqueued. Richa

[2021-07-06 15:16] rtibbles opened #8188 "Create post sync operation to run notification generation on updated user log rows"
Currently, notifications that are used in coach reports are only generated locally, when activity is registered by the logger API endpoints.

This would allow those notifications to be generated as an operation during syncing, based only on the models that have been updated by the sync.

This issue will also resolve: https://github.com/learningequality/kolibri/issues/7458

[2021-07-06 20:12] khangmach commented on #4608
Since we've changed the UI to use switches on both the lesson list + lesson management screens, we could look to add a **disabled + off** state for our switch component. [More info about that here](https://material.io/components/switches#behavior).

Some notes...
- If a lesson was just created and has no resources, the switch needs to be in a **disabled + off** state by default and hidden from lea

[2021-07-06 22:33] jtamiace commented on #8166
0.15 Device setup gherkin stories
https://www.notion.so/learningequality/Device-setup-gherkin-stories-0de35a71f63b4315b36243bc25aaf2b8

[2021-07-06 23:13] khangmach commented on #7459
Echoing Jonathan's expected behavior here but going to add on a few more details...

- The notification "class created" should not appear until it's actually created successfully in the back-end.
- Disconnected notification should appear with the overlay
- Disconnect countdown timer should not create multiple snackbar components appearing separately. There should be one persistent snackbar with a

[2021-07-07 01:31] khangmach commented on #7741
I'm looking around at possible components that can help us with this and I'm not feeling very positive about using alerts/prompts for this purpose, considering this message is so singular and would become a fixed element on this page. Ideally we could have some kind of ..."information and help" link on this page that could more broadly help users troubleshoot things not going as expected on this p

[2021-07-07 13:55] MisRob opened #8189 "Add multiple learning activities tooltips to learning activity bar"
## Observed behavior

We already have [a learning activity bar component](https://github.com/learningequality/kolibri/issues/8106) prepared and although it can display an icon for multiple learning activities, implementation is not full. It should also display corresponding tooltips [as designed in Figma](https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=212%3A0):

![Screen

[2021-07-07 21:58] jamalex opened #8191 "Prompt user to download to prevent user list CSV export popup being blocked silently in Chrome"
## Observed behavior

The download popup for user CSV exports is blocked by the browser, without notifying the user.

## Expected behavior

After clicking the "EXPORT" button here:
![image](https://user-images.githubusercontent.com/618416/124833436-0713db00-df33-11eb-8022-b8bbf38e6c8e.png)
a spinner and status appears:
![image](https://user-images.githubusercontent.com/618416/124833502-21e64f80-df

[2021-07-07 22:06] rtibbles commented on #8191
Seems like this should just be a matter of copying the interaction from the export logs page, where we have an explicit place to download once generation has completed.

[2021-07-08 16:34] khangmach commented on #8191
Handled in #6582. Work should be coupled with the designs found there

[2021-07-08 22:40] rtibbles commented on #7955
I've done some investigation of this, as I was confused, and it's not to do with the Python server itself, but because it's being run from `yarn`. When the same commands are run from command line, it works fine and waits until everything has shut down before exiting to the terminal, for some reason `yarn` manages to snatch the ctrl-c and interpret it, dropping out to the terminal, while the dev se

[2021-07-09 18:43] rtibbles commented on #8140
Fixed in #8154

[2021-07-09 18:43] #8140 closed, assigned to rtibbles

[2021-07-09 23:59] rtibbles commented on #5989
Having investigated this - there is no error here. The directory output above contains exactly 30 files, it's just there is no file for October the 8th.

[2021-07-13 20:04] #7776 closed, assigned to nobody

[2021-07-13 20:04] #8127 closed, assigned to rtibbles

[2021-07-13 22:58] rtibbles opened #8203 "File based version tracking may cause overly aggressive upgrade behaviour in environments with non-persistent file systems"
Our upgrade logic relies on a comparison of the Python version written to disk, and the Python version from `kolibri.__version__` in an environment where a new container has a brand new file system, but all the requisite upgrade tasks have previously happened in the lifecycle of a previous container, we have no way of knowing this and could end up rerunning upgrade tasks unneccessarily.

One possi

[2021-07-14 14:42] #7979 closed, assigned to rtibbles

[2021-07-14 14:50] #5673 closed, assigned to rtibbles

[2021-07-14 16:11] #5989 closed, assigned to rtibbles

[2021-07-15 15:18] #7999 closed, assigned to nobody

[2021-07-15 15:36] #8058 closed, assigned to rtibbles

[2021-07-15 15:36] #8129 closed, assigned to nobody

[2021-07-16 13:52] marcellamaki opened #8209 "Users can bookmark individual resources"
Within the updated content renderer, a user should be able to click on the bookmark icon to add or remove a bookmark, or access it through an option in the dropdown menu on a smaller screen.

**Core functionality**
Saving to bookmarks (filled in icon indicates resource is now bookmarked)
<img width="743" alt="Screen Shot 2021-07-15 at 2 19 50 PM" src="https://user-images.githubusercontent.com/1723

[2021-07-16 15:19] marcellamaki opened #8210 "Coach Bookmarking functionality - quizzes"
Coaches should be able to select bookmarks from within the quiz creation feature. Within the quiz creation page, the coach should be able to navigate into the bookmarks through a new Bookmarks card added to the page, and then, see bookmarked resources that the coach can select through checkboxes to add to the resource.  (Note: in the codebase, "quizzes" are also called "exams")

<img width="921" a

[2021-07-16 15:51] marcellamaki opened #8211 "Selecting bookmarks within lesson management"
Coaches should be able to select bookmarks from within the context of creating or managing lessons. Just like with quiz creation, the coach should be able to navigate into the bookmarks through a new Bookmarks card added to the page, and then, see bookmarked resources that the coach can select through checkboxes to add to the resource.

**Note from the designer on this interaction:**

[Figma desig

[2021-07-19 16:06] rtibbles opened #8216 "Separate user profile management into separate plugin from login"
## Observed behavior
The user profile page is completely separable from the user sign-up/login functionality, and there are some occasions (such as where accounts are managed outside of Kolibri) where it is desirable to be able to turn off the profile functionality.

The easiest way to permit this would be to separate it out into a different plugin.

## Expected behavior
It should be possible to s

[2021-07-19 17:55] radinamatic opened #8217 "Copying quizzes and lessons on devices with multiple facilities (superadmin role)"
## Observed behavior

 Uncovered while testing #8212:

---
When the superadmin on a device with more than one facility accesses the coach dashboard to try to copy a lesson or a quiz, they will encounter some inconsistencies. In my case the device has 2 facilities:
* **Home Facility dd**, created during the initial setup wizard for the device
* **ZukVillage** facility, imported from the Kolibri bet

[2021-07-20 05:25] jtamiace commented on #4620
This is referencing the pre-0.12 coach reports but the idea of sorting is still worthwhile

[2021-07-20 20:05] radinamatic opened #8218 "String context transfer from Crowdin fails for Vue files"
## Observed behavior
@nucleogenesis did some work to fix this in #8048, but it might need some retouches.

Running `make i18n-download` apparently executes correctly, reports context as transferred, and errors out only at the last step (linter). However, when I check status, it seems as if only `PO`, `MO` and `JSON` and 2 `JS` files are modified, and not a single `Vue` file, which is where most of

[2021-07-22 05:17] riddhiavlani commented on #6730
When a resource is deleted from a channel by a user, is there a need to indicate it on the channel? I think the 'new' tag that appears as shown above shouldn't appear at all

[2021-07-22 05:54] riddhiavlani commented on #6697
Here is how we can address it:

Given that the user is trying to import a channel that is bigger than the available disk space; After selecting the resources, if the user clicks on import, then a modal window could appear informing the user that the channel cannot be imported because the import size (eg. 10GB) is more than the available disk space (eg. 9GB). And maybe a call to action button to de

[2021-07-22 10:40] riddhiavlani commented on #7354
@jtamiace @khangmach
1. The coach content icon is visible on the channel list only if such resources have been imported from the channel. It shows the icon + the no. of resources. Its not visible if coach facing resources aren't imported. Check image below:
![image 7.png](https://images.zenhubusercontent.com/6054cbf6e1e4e5d5abc9e647/18101d0e-bae0-4444-b124-5e07e70caee6)

2. We can add just the coa

[2021-07-22 13:41] indirectlylit commented on #6730
that sounds fine to me and the easiest change

an alternative would be a new label like 'Updated' which could apply to all updates, not just additions

[2021-07-22 19:13] indirectlylit commented on #7354
That count as implemented looks quite misleading. It says "contains 1 coach resource", but what it means to say is "1 coach resource on disk" which is not nearly as useful.

A simple change would be to show "Contains coach resources" without any count, anytime the channel has any coach resources whether they're currently imported or not.

[2021-07-23 06:30] riddhiavlani commented on #6730
Yes, 'Updated' label for any sort of edit to the channel resources would work better: ![Frame 1 (4).png](https://images.zenhubusercontent.com/6054cbf6e1e4e5d5abc9e647/741856b4-b20c-4eef-bb9d-f1e22848248d)

[2021-07-23 06:38] riddhiavlani commented on #7354
Yeah sounds good to me - We don't show the count and just keep the icon (screenshot 2) for channels that have coach facing content

[2021-07-23 11:44] riddhiavlani commented on #4620
Here is a quick mock up of how sorting could look like in coach reports. @jtamiace I followed the same format that you used for KDP

1.  Quizzes sub tab
![Sorting for coach reports (quizzes) (1).png](https://images.zenhubusercontent.com/6054cbf6e1e4e5d5abc9e647/10cda8ea-0626-4405-afc7-94167e36609a)

2. Groups sub
![Sorting for coach reports (groups) (1).png](https://images.zenhubusercontent.com/60

[2021-07-23 13:56] indirectlylit commented on #4620
Looking around KDP, I can't find any example of column sorting. Was this ever implemented?

I ask because sorting UX has some subtle nuances that need to be specified. For example:

* How do you know which column is currently the actively-sorted column?
* If a column has a default sort order that is _not_ alphabetical, how do you revert back to that? (e.g. lessons and topics)
* Is it possible or n

[2021-07-23 14:18] jredrejo commented on #4620
@indirectlylit in KDP:
1. Column sorting is in the roadmap but not implemented yet because we were waiting for KDS to have tables with sorting capabilities.
2. Currently results are sorted by total_time. It can't be reversed
3. Not in the current scope
4. No idea, left to the designers to decide.

[2021-07-24 00:31] jtamiace commented on #4620
Just cross-linking this CH issue for records - addressed in the design above

https://app.zenhub.com/workspaces/clearinghouse-60da09aba49f1b0013b95b15/issues/learningequality/clearinghouse/455

[2021-07-26 15:30] rtibbles opened #8221 "Don't load all users for a facility at once in facility admin"
## Observed behavior
As the number of users in a facility increases the time taken to load them all into the facility user administration page increases. When it gets to a very large number, this can take some considerable time.

## Expected behavior
Kolibri should paginate the users returned to the frontend.

In addition, this would require that the user search functionality be reimplemented, in

[2021-07-27 13:42] #8188 closed, assigned to bjester, rtibbles

[2021-07-27 14:16] rtibbles commented on #8079
Fixed in #8219

[2021-07-27 14:16] #8079 closed, assigned to jamalex

[2021-07-27 19:24] pcenov opened #8227 "Sync a facility - Hard to reproduce issue where syncing a facility fails"
## Observed behavior
When as an administrator I attempt to sync a single facility the radio button with the facility's URL is disabled, there's a loader spinning and I am unable to sync the facility unless I manually add a new address.

![2021-07-27_16-45-31](https://user-images.githubusercontent.com/79847249/127213495-1d06542f-351a-42a7-8240-891bed9143d4.png)

Note that when I changed the URL I w

[2021-07-27 19:46] radinamatic commented on #8227
cc @rtibbles @jamalex @bjester

Some findings while investigating the zeroconf issue.

[2021-07-28 00:14] #8187 closed, assigned to marcellamaki

[2021-07-28 00:15] rtibbles commented on #8178
Fixed in #8202

[2021-07-28 00:15] #8178 closed, assigned to marcellamaki

[2021-07-28 00:16] rtibbles commented on #8179
Fixed in #8202

[2021-07-28 00:16] #8179 closed, assigned to marcellamaki

[2021-07-28 06:44] pcenov commented on #8227
Adding the log files:
[Admin logs.zip](https://github.com/learningequality/kolibri/files/6890873/Admin.logs.zip)
[Learner Logs.zip](https://github.com/learningequality/kolibri/files/6890874/Learner.Logs.zip)

[2021-07-28 14:47] #8169 closed, assigned to rtibbles

[2021-07-28 14:47] #7862 closed, assigned to sairina

[2021-07-28 15:04] pcenov commented on #8227
Update:
I was able to successfully reproduce the issue. Here are the steps:

1. Stop both Kolibri instances on both devices.

2. As a Learner:
- Connect to a different WiFi network (I created a hotspot using my mobile phone)
- Launch Kolibri and start doing some exercises

3. As an Admin on the other laptop:
- Launch Kolibri and go to http://127.0.0.1:8080/en/device/#/facilities
- Select the Sync

[2021-07-28 15:14] MisRob opened #8234 "Connect new hybrid learning bars to "Learn" pages"
New top bars components - the primary bar (https://github.com/learningequality/kolibri/issues/8106) and the secondary sticky completion criteria bar (https://github.com/learningequality/kolibri/issues/8114) need to replace our current bar on the following pages of "Learn":

#### (1) A resource page in "Learn" → "Channels (the purple bar to be removed)

![Screenshot from 2021-07-28 16-40-05](https:

[2021-07-28 15:20] MisRob commented on #8234
Not a requirement for the solution, only some suggestions from my recent observations:

As discussed [in this Slack thread ](https://learningequality.slack.com/archives/C023DNC5GCX/p1622725220014100), due to our current layout architecture, it's not possible to simply go to appropriate views and connect new bars there which adds some complexity to this task. As suggested in the thread, ideally we

[2021-07-28 15:23] MisRob commented on #8234
@jtamiace Could you please confirm that I've referenced all pages where the new bars should be used in "Learn"?

[2021-07-28 15:53] bjester commented on #8227
Thanks for the great reproduce detail @pcenov! This is the issue that I hypothesized and also reproduced @jamalex

[2021-07-28 17:19] jredrejo opened #8235 "Wrong error message when syncing without proper credentials"
## Observed behavior

Trying to sync an user using credentials of a coach, without admin permissions, returns a 500 Server Error. I was expecting some kind of Unauthorized error

## Errors and logs
[code]

## Expected behavior
Expected a message saying I have no permissions plus a right error code

## User-facing consequences

Not knowing if the server is broken or it's my fault

## Steps to repro

[2021-07-28 17:34] rtibbles opened #8236 "Need to requeue for sync after a successful automatic single user sync"
## Observed behavior
After a successful automatic single user sync, no syncs happen again until the server restarts or a new server joins the network.

## Expected behavior
Need to requeue for sync after the successful completion of the sync

[2021-07-28 18:05] jamalex opened #8237 "Database is locked errors when registering a discovered server from zeroconf"
When starting up the server on 0.15.0a2, sometimes seeing the following traceback:
[code]

[2021-07-28 18:28] jamalex opened #8238 "Integrate morango garbage collection"
Depends on: https://github.com/learningequality/morango/issues/184

## Background
We added a [garbage collection command in morango](https://github.com/learningequality/morango/pull/120/files) for clearing out old stale syncsessions, but need to run it somewhere in Kolibri, ideally just before we do the vacuum jobs.

## Deliverables
A new management command of the same name `cleanupsyncs` should:

[2021-07-28 18:28] jtamiace commented on #8234
It looks like there's also a purple bar in the quiz report under "Learn > Classes"

<img width="1102" alt="Screen Shot 2021-07-28 at 11 25 08 AM" src="https://user-images.githubusercontent.com/6668144/127376459-33f41dee-6837-49bc-af52-c9b5a0e873e4.png">

[2021-07-29 14:35] MisRob commented on #8234
@jtamiace Thanks, I've updated the description with both quiz and quiz report pages, and also updated requirements regarding the secondary completion criteria bar but now I realize that I am not sure how "displayed only when practicing" (designs say that it's "practice-exclusive") specifically refers to the pages referenced above. Is it something to be displayed also when taking a quiz? Feel free

[2021-07-29 17:14] jtamiace commented on #8234
It looks like the "practice-exclusive" is referencing the secondary mastery bar only?
<img width="620" alt="Screen Shot 2021-07-29 at 9 50 19 AM" src="https://user-images.githubusercontent.com/6668144/127532775-1a0c7121-777e-430f-b021-9102ff9fd614.png">

I've found this other Figma page that Khang worked on for the quiz renderer which uses the new top bar.
https://www.figma.com/file/uiZuCIqh2KYvBU