[2021-11-18 18:02] pcenov commented on #8737
@radinamatic

[2021-11-18 21:25] #8629 closed, assigned to nobody

[2021-11-19 00:28] SerchMX opened #8745 "PDF documents in Kolibri are not 100% viewable due to the "go to full screen" bar."
## Observed behavior

If you add any channel that uses PDFs, you will see a banner that allows you to 'enter full screen', at the top of the PDF document. This banner will not hide unless you scroll down the PDF document, so the PDF title will remain behind this banner.

![baktun](https://user-images.githubusercontent.com/9337397/142517808-f6b78264-01a0-4492-b420-52bbc4cb20e9.png)

…

## Expected

[2021-11-19 04:52] abhimnc commented on #8668
If no one is working, can I take this issue ? I already got one pull request merged in #8720 .

[2021-11-19 04:58] abhimnc commented on #8603
I like to contribute to this issue. I already got one pull request merged #8720 . I have some experience with python and django. Can you clarify more about it ?

[2021-11-19 09:45] akash5100 commented on #8643
I can start working on the backend first and then connect it to cards in the front end. what do you is this a good idea?
also if I want to start working on the backend, How can I get the number of attempt logs can you help me?

[2021-11-19 10:01] akash5100 commented on #8643
So for the backend process here, #8634 is prerequisite?
I was thinking of starting with the backend and then linking it to cards from the frontend, was my idea right?
how should I get the number of attempting from the most recent `masterylog` can you help me with it?

[2021-11-19 13:27] rtibbles commented on #8643
#8634 isn't a prerequisite - it was just an example of how to retrieve the the most recent MasteryLog, which would be required in order to calculate the score.

On a masterylog by masterylog basis, you can call `masterylog.attemptlogs.all()` on the object to get the related attemptlogs. However, if we want to implement this within the ContentNodeProgressViewset here: https://github.com/learningequ

[2021-11-19 13:33] rtibbles commented on #8603
Yes, please do take this on!

At the moment, when running the development server, we use this magicbus plugin: https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/utils/server.py#L657 to autoreload the server when any imported Python source files have changed.

In addition, it would be useful to autoreload when the `options.ini` and `plugins.json` files in the `KOLIBRI_HOME` (

[2021-11-19 15:50] rtibbles opened #8749 "When finishing a resource in a lesson, the completion modal does not move you on to the next item in the lesson"
## Observed behavior
When finishing a resource in a lesson, the completion modal does not move you on to the next item in the lesson.

First it doesn't render the content, but when I refresh, it does.

## Expected behavior
Should just move the learner on to the next resource in the lesson.

[2021-11-19 15:51] pcenov opened #8750 "Bookmarks - The bookmark icon is displayed for a non signed-in user"
## Observed behavior
As a user who hasn't signed in I'm still able to see and click the bookmark icon for a resource which results only in an error in the console.

## Expected behavior
Not sure whether this is being tracked somewhere else but my guess would be that the icon should not be displayed in that case.

## Steps to reproduce the issue
1. Install the following [build.](https://github.com/

[2021-11-19 15:51] pcenov commented on #8750
@radinamatic

[2021-11-19 15:56] radinamatic commented on #8750
Tagging it P2 for now, maybe the easiest solution would be to not display the bookmark button.

In case we wanted to implement the workflow to use this as an incentive for the guest to create an account, it would need some UX decisions and maybe additional user strings which cannot be added for now.

[2021-11-19 16:21] rtibbles commented on #8543
Fixed in #8740

[2021-11-19 16:21] #8543 closed, assigned to bjester

[2021-11-19 16:26] #8662 closed, assigned to rtibbles

[2021-11-19 16:52] marcellamaki opened #8752 "Mac App Keyboard navigation"
Mac App: there is no way to use a keyboard to tab to "check" my answers in a quiz or go to the "next" button

Reported by Sairina in 0.15 bug bash. Investigation so far would suggest that this is mac app specific, and this is not a problem on mac in the browser.

[2021-11-19 16:53] marcellamaki commented on #8620
Breaking out the Mac app issue to address separately in #8752 8752, will close this for the other two tasks resolved in #8648

[2021-11-19 16:53] #8620 closed, assigned to marcellamaki

[2021-11-19 17:00] radinamatic commented on #8752
It's not even an issue per-se, more of Apple's 🤦🏽‍♀️ decision NOT to enable the keyboard access to all actionable UI elements on macOS by default, but to force the user to look for the respective setting and enable it manually... 😒

[2021-11-19 17:11] marcellamaki commented on #8752
Yes -- I saw what you shared in the other issue that this was originally in. So, do you think this is even a "bug" and something we can fix, @radinamatic? I just wasn't sure if there was some extra code or configuration we would need to add proactively for the mac app specifically

[2021-11-19 18:50] #8678 closed, assigned to MisRob

[2021-11-19 19:21] #7957 closed, assigned to jredrejo

[2021-11-19 19:49] sharifmaryam commented on #8668
I am working on this ticket.

[2021-11-19 20:05] sharifmaryam commented on #8668
I think I understand how to implement a solution but I am having trouble recreating this page locally so I can test to see if the change works. Do you have any suggestions on how to go about that?

[2021-11-19 20:09] qrossCS commented on #8584
Hello, I would like to work on this issue. Could you point me in the direction of where this error is handled within the code?

[2021-11-19 21:07] rtibbles commented on #8749
This seems to have been resolved, never mind!

[2021-11-19 21:09] rtibbles commented on #8737
Oh wow, that's interesting, this actually caused a too many SQL variables error!

[code]

[2021-11-19 23:26] radinamatic commented on #8749
Initially thought to be only in the past-papers project, but actually extant in the general 0.15 branch.

Clicking the <kbd>Move on</kbd> button in the lesson completion modal _moves on_ (displays) to the next resource in the same folder as the completed resource, and NOT to the next resource in the lesson as set by the coach.

Moving on to _Intro to addition_ (next in the Kolibri QA channel, afte

[2021-11-19 23:27] #7672 closed, assigned to bjester, jredrejo, marcellamaki

[2021-11-20 01:27] hamzamunaf commented on #8640
is this issue still open? Can I contribute to this issue?

[2021-11-20 01:41] rtibbles commented on #8640
Yes, please do!

[2021-11-20 02:04] rtibbles commented on #8510
Fixed in #8645

[2021-11-20 02:04] #8510 closed, assigned to rtibbles, marcellamaki

[2021-11-20 02:04] rtibbles commented on #8508
Fixed in #8645

[2021-11-20 02:04] #8508 closed, assigned to rtibbles, marcellamaki

[2021-11-20 02:04] rtibbles commented on #8540
Fixed in #8645

[2021-11-20 02:04] #8540 closed, assigned to marcellamaki

[2021-11-20 02:05] rtibbles commented on #8509
Fixed in #8645

[2021-11-20 02:05] #8509 closed, assigned to rtibbles, marcellamaki

[2021-11-20 02:05] rtibbles commented on #8538
Fixed in #8645

[2021-11-20 02:05] #8538 closed, assigned to rtibbles

[2021-11-20 02:05] rtibbles commented on #8511
Fixed in #8645

[2021-11-20 02:05] #8511 closed, assigned to rtibbles

[2021-11-20 02:05] rtibbles commented on #8520
Fixed in #8645 - implemented as `QuizRenderer`

[2021-11-20 02:05] #8520 closed, assigned to rtibbles, marcellamaki

[2021-11-20 02:06] rtibbles commented on #8622
Fixed in #8645 - will do further follow up for the longer term resolution.

[2021-11-20 02:06] #8622 closed, assigned to rtibbles

[2021-11-20 04:55] #8530 closed, assigned to sairina

[2021-11-20 06:33] hamzamunaf commented on #8640
Can you assign it to me and provide me any other relevant information/tips?

[2021-11-20 18:06] rtibbles commented on #8640
Yes, I have assigned you.

There is an example of a function that does some of what is described above here: https://github.com/learningequality/kolibri-design-system/blob/main/lib/content/mixin.js#L50, however, this does not do full checking against the Vue js prop specification, so to meet the specs layed out above, it would need to be extended.

Worth looking at the VueJS source code for how th

[2021-11-21 14:36] pranay101 commented on #8750
I am new to open source and I'd like to contribute to this issue.

[2021-11-21 15:46] indirectlylit commented on #8640
A few simplifying assumptions can be made:

1. Vue contains logic preventing validators from running in production. `objectValidator` does not need this because it's already handled by Vue.
2. Vue prop definitions accept [various shorthand forms](https://vuejs.org/v2/guide/components-props.html#Prop-Validation) like `[ "name", "age" ]` and `{ name: String, age: Number }`. For `objectValidator` we

[2021-11-21 16:10] indirectlylit commented on #8668
@sharifmaryam see https://kolibri-dev.readthedocs.io/en/develop/getting_started.html for instructions on setting up your development environment

[2021-11-21 18:03] indirectlylit commented on #8584
Thanks @qrossCS – you will find the relevant code by searching the codebase for the string `You must be signed in`.

That said, this issue needs design decisions to be made before it's ready for engineering work, and it's a very low priority issue.

[2021-11-22 03:23] rtibbles commented on #8750
Great, please base your work off the release-v0.15.x branch.

It should just be a matter of conditionalising the display of the bookmark action on the user being logged in. The code for the action is here: https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue#L221

It is worth noting that for ease of testing the above compon

[2021-11-22 08:28] MisRob commented on #8667
Tested on the latest 0.15.0 (`Kolibri 0.15.0b2.dev0+git.112.gb0eba58b`) and it's looking good:

| Firefox | Chrome | IE 11 |
| --------- | ----------- | ------ |
| ![firefox](https://user-images.githubusercontent.com/13509191/142827527-2bba2a1a-ed7e-4d7f-b4bd-08f7e26fc7ec.png) | ![chrome](https://user-images.githubusercontent.com/13509191/142827519-b978f8bb-90c1-4dbf-8f76-069333b0e0eb.png) | ![ie1

[2021-11-22 08:36] pranay101 commented on #8750
Hey there, so I created a new prop isUserLoggedIn. what should be the conditions and how can I check if the user is logged in or not.

[2021-11-22 10:11] akash5100 commented on #8643
@rtibbles I quite did not understand how should I start.
here
[code]
currently we only get `content_id` and `progress`.
so, we also need to return a log for `masterylog.attemptlogs.all()` and get the number of attemptlogs.

we can do it by
`.annotate(attempts=Count("masterylogs__attemptlogs"))` right?
and if this is right we can do `.values("content_id", "progress","attempts")`
so now we have atte

[2021-11-22 10:15] akash5100 commented on #8643
[code]

[2021-11-22 14:17] pcenov opened #8762 "Search - Missing label 'Show resources'"
## Observed behavior
Noticed that the 'Show resources' is not displayed in the beta build.

## Expected behavior
The 'Show resources' label should be displayed.

## Steps to reproduce the issue
1. Install the following [build.](https://github.com/learningequality/kolibri/releases/tag/v0.15.0-beta2)
2. Import some channels and run the following management command: `kolibri manage labeltestdata `
3.

[2021-11-22 14:17] pcenov commented on #8762
@radinamatic

[2021-11-22 14:23] indirectlylit commented on #8667
thank you!

[2021-11-22 16:21] #8729 closed, assigned to rtibbles

[2021-11-22 16:21] #8730 closed, assigned to rtibbles

[2021-11-22 16:21] #8732 closed, assigned to rtibbles

[2021-11-22 16:29] rtibbles commented on #8554
Both requirements here were fulfilled by a combination of #8740 and #8645

[2021-11-22 16:29] #8554 closed, assigned to rtibbles

[2021-11-22 17:07] MisRob commented on #8667
Reopening since under another circumstance, this is still indeed a problem, see https://github.com/learningequality/kolibri/pull/8766

[2021-11-22 17:10] MisRob commented on #8667
Might be some kind of layout problem related to whether and how the progress bar is displayed.

[2021-11-22 19:32] bjester commented on #7270
Morango and syncing enhancements have been made to address this on a targeted basis. To finalize this specifically, I propose we add a recurring scheduled task that's configurable, but is disabled by default.

[2021-11-22 19:46] #8356 closed, assigned to nobody

[2021-11-22 19:48] marcellamaki opened #8767 "Update learning activity label metadata to correctly display reference and duration"
Now that we have the backend set up, we will need to make some adjustments to duration/reference displays that are used on the Learning Activity Label (which is on some of the cards).

Specifically my guess is that '`durationEstimate()` in `LearningActivityLabel.vue` in the place that needs to be updated to fix the data mismatch.

[2021-11-22 19:57] rtibbles commented on #2355
Won't fix.

[2021-11-22 19:57] #2355 closed

[2021-11-22 21:31] #5939 closed, assigned to indirectlylit

[2021-11-22 21:35] rtibbles commented on #8668
Once you have got it set up, you would need to import some content into the device locally (using the Device tab), and then go to `Learn` --> `Library` and use the search functionality in the side panel. Once you have started filtering, it should start to display these search chips.

[2021-11-22 21:59] indirectlylit commented on #7799
no longer observing this behavior

[2021-11-22 22:42] rtibbles commented on #8750
There is a vuex getter defined in the core store called `isUserLoggedIn` too, the LearningActivityBar is used only in this component, which already accesses a getter from the core here: https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue#L190 you can add the `isUserLoggedIn` getter, which you could then use to pass to the

[2021-11-23 05:16] hamzamunaf commented on #8640
Working on it and soon I will make a PR for it

[2021-11-23 07:13] #8762 closed, assigned to rtibbles

[2021-11-23 08:08] radinamatic commented on #7799
I also did not encounter this with the asset from your most recent PR, but IE11 on Windows 7 still loads all non-Latin font families.

[2021-11-23 15:26] indirectlylit commented on #8640
Thank you. Please target the `develop` branch.

[2021-11-23 15:26] pcenov opened #8771 "Library Search - Category labels are not right aligned when viewed in RTL language"
## Observed behavior
The labels of the Categories are not right aligned when viewed in RTL language.

## Expected behavior
The labels of the Categories should be right aligned.

## Steps to reproduce the issue
1. Install the following [build.](https://github.com/learningequality/kolibri/releases/tag/v0.15.0-beta2)
2. Import some channels and run the following management command: `kolibri manage la

[2021-11-23 15:26] pcenov commented on #8771
@radinamatic

[2021-11-23 15:27] #7799 closed, assigned to nobody

[2021-11-23 15:42] #8667 closed, assigned to MisRob

[2021-11-23 16:14] indirectlylit opened #8772 "intermittent lint failure"
## Observed behavior

see https://github.com/learningequality/kolibri/pull/8500#pullrequestreview-813868553

It appears that some invalid code slipped in without triggering a lint failure. At a later point, this caused a lint failure in my personal fork during unrelated work.

## Errors and logs

This block:

https://github.com/learningequality/kolibri/blob/80fe54f6ace6ed3146099984a928c11e58c8bc0a

[2021-11-23 16:44] MisRob commented on #8727
@radinamatic:

[2021-11-23 17:33] radinamatic commented on #8727
I just re-tested the second scenario, and the issue is extant on both Firefox and Chrome browser clients on Android when accessing the server on Windows 7, but it does depend on the exercise resource that you load: if the problem area is large enough, the bottom bar starts in the correct position, but gets pushed down once the problem area gets loaded on top.

You can use the `Recognize fractions`

[2021-11-23 18:06] MisRob commented on #8727
Thank you @radinamatic. I was testing it on the `Recognize fractions` exercise. Wondering if the screen resolution may play a role here too. Could you post what was the screen resolution of your test device, please?

[2021-11-23 18:07] indirectlylit commented on #8772
re-opening to reflect the first part of this issue ('the linter should have flagged this in the PR')

[2021-11-23 18:12] MisRob commented on #8727
I think the exercise was higher than the available screen space since I could scroll but maybe devices I checked so far weren't small enough for this to happen. An approximate number should be sufficient, just to have direction.

[2021-11-23 18:13] radinamatic commented on #8727
Actually, I had no idea and needed to google that 😛
https://www.gsmarena.com/motorola_moto_g6-9000.php

[2021-11-23 18:15] MisRob commented on #8727
Ah, that's perfect :) Thanks for testing it one more time and for all information.

[2021-11-23 18:16] rtibbles commented on #8772
Oh - it appears the path match check for this is incorrect - `kolibri/**.py` is not the same as `**.py` in terms of expansiveness (as I think we've discussed before).

[2021-11-23 18:53] rtibbles opened #8776 "Rapidly navigating back and forth between two content pages causes all currently pending requests to be cancelled"
## Observed behavior
Rapidly pressing the forward and back button between two content pages seems to cause Kolibri to think it has very briefly been disconnected and for all requests to be cancelled. Not entirely clear why this happens, but may be an axios or xhr behaviour surfacing oddly?

![kolibribackandforth](https://user-images.githubusercontent.com/1680573/143085287-63aef505-aa51-4fda-b943-7

[2021-11-23 20:36] lauradanforth opened #8777 "Unable to log-in after applying the "require password for learners" setting"
## Observed behavior
Under the admin facility settings, I toggled on the option to require learners to enter a password when logging in. I then logged out, and typed in my existing learner username.

After clicking "Next", instead of showing the password field, it displayed this button to create an account.

![image](https://user-images.githubusercontent.com/22602993/143102555-6224b574-9ac0-4ff9-a

[2021-11-23 20:43] radinamatic commented on #8777
This most probably has the same root cause as #8687, and has been fixed in #8699.

[2021-11-23 21:32] #8377 closed, assigned to jredrejo

[2021-11-23 21:34] rtibbles commented on #8514
Fixed in #8544

[2021-11-23 21:34] #8514 closed, assigned to sairina

[2021-11-24 06:23] sairina commented on #8628
I just checked this on `develop`, and, if I'm understanding this correctly, it seems like it's working correctly? I also tried this with deleting that class and creating a brand new class, and it seems like this has been fixed.

![2021-11-23 22 20 28](https://user-images.githubusercontent.com/13563002/143185485-031c0190-82f5-4c64-a7ce-26b90baebfe1.gif)

[2021-11-24 11:05] MisRob commented on #8727
Regarding testing this issue in a **browser on Android client** I've still had no luck with finding a test device where I could reproduce and debug.

For the record, I tested `Kolibri 0.15.0b2.dev0+git.158.g5de9da33` and the bottom bar behaved fine on the following devices:

- my Samsung Galaxy A40, Android 11, both Firefox and Chrome (recording 1)
- BrowserStack Real Devices:
  - Sony Xperia Z5,

[2021-11-24 16:27] indirectlylit commented on #8628
Interesting, I'm still reproducing here on Chrome and FF under mac.

I'm curious - when you look at your browser history from the coach class home page do you see an entry for the _coach_ class list page? Or is the previous page the _facility_ class list?

| nav | browser history from coach class home |
|--|--|
| ![2021-11-24 11 21 26](https://user-images.githubusercontent.com/2367265/143276802-5b

[2021-11-24 16:27] indirectlylit commented on #8628
I can take a look at this next week if you're not reproducing

[2021-11-24 16:47] MisRob commented on #8727
:tada:  @bjester was able to reproduce:

[2021-11-25 04:23] akash5100 commented on #8771
can you point out the code? It would be helpful

[2021-11-25 06:43] MisRob commented on #8727
Confirming that I am able to reproduce this on my phone after switching to Spanish as @bjester's advised

[2021-11-25 14:57] pcenov opened #8781 "Cannot start Kolibri after upgrading Kolibri 0.14.7 to Kolibri 0.15.0 beta2"
## Observed behavior
I'm getting a database error when I attempt to start Kolibri after an upgrade from the 0.14.7 version to 0.15.0 beta2

## Expected behavior
It should be possible to upgrade the 0.14 version of Kolibri to the 0.15 version

## Steps to reproduce the issue
1. Install the a 0.14.7 version of Kolibri from [here](https://learningequality.org/r/kolibri-windows-setup-latest).
2. Setup

[2021-11-25 14:57] pcenov commented on #8781
@radinamatic

[2021-11-25 15:00] radinamatic commented on #8781
@pcenov Could you check if these steps are still valid to repair the malformed DB? Thanks!

https://kolibri.readthedocs.io/en/latest/manage/get_support.html#malformed-database

[2021-11-25 15:20] pcenov commented on #8781
Hi Radina, no it's not working.

[2021-11-25 15:45] jredrejo commented on #8781
hello @pcenov it's a clear problem of database corruption but it would be great to check if we can reproduce it or not. It could have been some rare race error or something that's gonna happen always.
Would you mind to try to do the same process again and see if you have the same result?
Before it, please do a zip with the databases files and the logs and attach it to this issue so we can take a d

[2021-11-25 16:03] pcenov commented on #8781
Hi @jredrejo, just for the record: I've already added a link to the complete .kolibri folders in the description of the issue, and it is 100% reproducible in both Windows and Ubuntu. Hope it's not a hard to fix issue! Let me know if you need anything else. :)

[2021-11-25 19:04] rtibbles commented on #8781
Note that this is in the diskcache databases, not the main kolibri db, so there instructions above would not apply.

[2021-11-26 15:28] abhimnc commented on #8603
@rtibbles  created pull request #8782  . Kindly review.

[2021-11-29 15:44] MisRob commented on #8771
Hi @akash5100, it seems that categories are [in this `<div>` of `EmbeddedSidePanel` component](https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue#L58).

Do you use [Vue.js devtools](https://devtools.vuejs.org/)? Besides other things, it can be handy for locating a component in Vue code since it can display the whole t

[2021-11-29 15:58] akash5100 commented on #8771
Thanks for the information, I will start working on it.

[2021-11-29 16:01] MisRob commented on #8771
Great, thank you

[2021-11-29 16:17] MisRob commented on #8771
@akash5100 I'm adding you as an assignee and am also adding myself. I am not working on it, assigning myself only to keep an eye on the issue. Let me know if you need anything.

[2021-11-29 16:54] jredrejo commented on #7495
I have tried all kind of combinations, including dirty ones and all of them have worked in the password, working with 0.15.
Some of the passwords that have worked are:
`año-%&$^C`
`añá&```)?¿`
I can't think of paswords more special than these

[2021-11-29 16:54] #7495 closed, assigned to jredrejo

[2021-11-29 17:20] lauradanforth opened #8785 "Unable to load channel based quiz report from Home/Classes tabs on 0.15 (Beta Site)"
## Observed behavior
When clicking onto a report for a channel based Quiz, the page is unable to load.
![image](https://user-images.githubusercontent.com/22602993/143913778-525ac5ea-7586-40f5-b28d-e44058f65d66.png)

## Steps to reproduce
Log-into Kolibri as a Learner on the beta site, navigate to Home page and click on the report of a channel based quiz. I navigated to this page while being logged

[2021-11-29 17:30] #8737 closed, assigned to rtibbles

[2021-11-29 18:15] akash5100 commented on #8771
Hey @MisRob, are you here?
I haven't changed the code yet, I tried the Vue developer tools ( It was amazing ), Can you check the following output?

# before
![Screenshot from 2021-11-29 23-39-24](https://user-images.githubusercontent.com/53405133/143920935-b1231f78-52ee-4590-97f4-681ff7b4346d.png)

# after making changes in developer console
![Screenshot from 2021-11-29 23-39-11](https://user-imag

[2021-11-29 18:31] indirectlylit opened #8786 "'keyboard navigation' mode is being incorrectly enabled in login screen"
## Observed behavior

Enter a username and press 'enter'. Note that the keyboard focus outline shows up:

| interaction | annotated |
|--|--|
| ![2021-11-29 13 08 57](https://user-images.githubusercontent.com/2367265/143922633-e5d4384e-aace-4aa6-9e44-392850284db3.gif) | ![image](https://user-images.githubusercontent.com/2367265/143922527-e9001c92-2652-4c41-b9c6-94188d367259.png) |

This might be r

[2021-11-29 18:49] MisRob commented on #8771
Thank you @akash5100, the output looks good to me :+1:  We also have a section on [RTL support in our documentation](https://kolibri-dev.readthedocs.io/en/develop/i18n.html#rtl-language-support) that might be helpful to check before submitting a PR, if you haven't seen it already.

[2021-11-29 18:52] indirectlylit opened #8787 "updates to visual styling of category selection UI"
## Observed behavior

Following up from https://github.com/learningequality/kolibri/pull/8703#issuecomment-970554829 (cc @jtamiace @marcellamaki)

Notes on the current styling of category selection:

1. Icons are small
2. Side nav hover states have no transition, and modal clickable item hover states have a very slow transition
3. Modal clickable items have a low-contrast hover styling and don't r

[2021-11-29 19:28] marcellamaki commented on #8628
@indirectlylit if you can take a look at this this week, since @sairina is now out for her conference, that would be great. If not, let me know. I checked in with her earlier and seems like she's still not able to reproduce.

[2021-11-29 20:17] #8749 closed, assigned to rtibbles

[2021-11-29 20:28] indirectlylit commented on #8628
updated to use `replace: true` in https://github.com/learningequality/kolibri/pull/8788

[2021-11-29 20:31] #8636 closed, assigned to indirectlylit

[2021-11-29 20:47] #8617 closed, assigned to bjester

[2021-11-29 20:52] rtibbles commented on #8603
Fixed in #8782

[2021-11-29 20:52] #8603 closed, assigned to nobody

[2021-11-29 20:55] #8628 closed, assigned to sairina

[2021-11-29 21:05] indirectlylit commented on #8465
as a workaround in 0f168a6b454a5018dd13b54fa24302c3dd17fcf3 I added a new `frontend-devserver` command. My practice is now to run two terminal tabs:

| tab 1 | tab 2 |
|--|--|
| `yarn run frontend-devserver`  | `yarn run python-devserver` |

If we were to update the 'getting started' page with this guidance, we could mitigate the impact of this issue without having to fix it

[2021-11-29 21:16] rtibbles commented on #8785
I _think_ this is an artifact of a previously fixed issue to do with migration of JSON fields from ExamAttemptLog to AttemptLog.

[2021-11-29 21:16] #8785 closed, assigned to nobody

[2021-11-30 04:20] akash5100 commented on #8771
Hi @MisRob, I found that `dir: rtl` was not working on the KButton component so I tried changing the display type. I am not sure this is correct or wrong but it gives the desired output.
Please have a look at this, if anything is wrong please tell me.
![kolibri-3](https://user-images.githubusercontent.com/53405133/143984916-e3f0e491-c8f4-45c8-ac1f-36abbe454103.gif)

[2021-11-30 14:04] #8675 closed, assigned to sairina

[2021-11-30 15:52] abhimnc commented on #8435
@rtibbles  Please assign me this issue. I have two pull request merged #8782 and #8720  and want to tackle this issue this time.

[2021-11-30 15:58] rtibbles commented on #8435
Apologies @abhimnc - I had forgot to flag that this is resolved in the course of #8742

[2021-11-30 15:59] marcellamaki commented on #8630
@jtamiace -- I will likely start working on this tomorrow, but just want to get a 👍 / 👎 on the items that Devon notes so I know which feedback I should move forward with. If you have a chance today to leave some comments, that would be really helpful! Thanks!

[2021-11-30 16:00] #8469 closed, assigned to marcellamaki

[2021-11-30 16:12] #8772 closed, assigned to rtibbles

[2021-11-30 16:14] indirectlylit commented on #8630
let me know if you'd like me to break any items out into independent issues so they can be deprioritized

[2021-11-30 17:05] akash5100 commented on #8771
@MisRob should I submit a PR with the above solution?

[2021-11-30 17:15] MisRob commented on #8771
Hi @akash5100, we use `dir="auto"` for user-generated text (e.g a resource title) but categories labels are predefined in our codebase so there should be no need to change `direction` or `dir`. If you have a fix working, feel free to open a PR, and we can follow up there after seeing your code changes.

Just to clarify, was your recording made on a dev server with a hot reload?

[2021-11-30 17:16] akash5100 commented on #8771
devserver

[2021-11-30 17:30] MisRob commented on #8771
I see an issue that might also mean a problem in our automatic flipping of `text-align` from `left` to `right` that should happen during the build process. However, this can also get broken on the dev server with hot reloading on which is something we're aware of and it shouldn't impact bundles produced without hot reload (mentioned in the guide I referenced). So asking to know if this would be so

[2021-11-30 17:49] akash5100 commented on #8771
No, I haven't used hot reload,

[2021-11-30 17:50] akash5100 commented on #8771
I started the server with `yarn run devserver`
I think hot reload is off in this command.

[2021-11-30 18:18] akash5100 commented on #8771
Sorry to disturb you but I am new to vuejs can you help how should I change the display to flex for each `KButton`'s

[2021-11-30 18:56] jtamiace commented on #8630
Everything is a 👍🏼 except

This was intentional. I was hoping that the breadcrumb + thumb would be enough to avoid duplicating the current folder title and take up a lot of screen space with a large header.

[2021-11-30 19:12] StarTrooper08 commented on #8787
Hey @indirectlylit , can I try to solve this issue?
I probably need some help at some point!!

[2021-11-30 19:16] StarTrooper08 commented on #8722
Is it a Flutter Android App or a normal XML and Java/Kotlin based Android App?

[2021-11-30 19:25] rtibbles commented on #8722
Neither - it uses [Python For Android](https://python-for-android.readthedocs.io/en/latest/) to run the Kolibri Python server on an Android device and serve up the VueJS interface via a webview.

Most of these responsiveness issues should be extant in a regular web browser context on the same Android device also.

[2021-11-30 19:25] rtibbles commented on #8722
(noting that @marcellamaki is fixing this issue, so we are not looking for contributions here at this time)

[2021-11-30 19:33] indirectlylit commented on #8630
if the breadcrumb alignment issue turns out to be KDS-specific, recommend opening a separate issue there

[2021-11-30 19:58] #8727 closed, assigned to MisRob

[2021-12-01 09:39] MisRob commented on #8771
Was there any particular reason for using `flex` to fix this issue? Since I saw on your recording that we have set `text-align: left` on buttons, at first, I'd recommend checking that it's been changed properly to `text-align: right` after you switch to RTL language without hot reload. If it's not happening, then you can try to do it in code on your own by conditionally choosing between `text-alig

[2021-12-01 09:41] pcenov commented on #8781
Note that the issue is observed on a real device running Windows 10. Here's the errors I get upon starting Kolibri 0.15 beta2:
[code]
Logs and DB file:
[Win10LogsAndDB.zip](https://github.com/learningequality/kolibri/files/7632683/Win10LogsAndDB.zip)

@radinamatic

[2021-12-01 12:18] akash5100 commented on #8771
Thank you @MisRob for your guidance.
I submitted a PR please have a look!

[2021-12-01 16:11] MisRob commented on #8771
Thank you too, @akash5100

[2021-12-01 16:12] rtibbles commented on #8781
OK, interesting - this is a completely different error to the one reported above, which makes me suspect that the original error might be a VirtualBox file system specific issue.

[2021-12-01 16:25] #8724 closed, assigned to marcellamaki

[2021-12-01 19:49] #8472 closed, assigned to nobody

[2021-12-02 04:02] abhimnc commented on #8649
@rtibbles please assign me this issue. I like to contribute. I already got two pull request merged #8782 and #8720.

[2021-12-02 05:49] jaltekruse commented on #7224
It looks like there was some translation of the 'align' environment to matrices, but the parser used to do the translation didn't recognize align* and didn't start/end each of the expressions wrapped in it's own environment. Maybe it was intentional to try to put these three expressions each as a line in a matrix? But that didn't work successfully if that was the intent.

I paused the javascript e

[2021-12-02 05:57] jaltekruse commented on #7224
I'd be happy to try to pick up fixing this, is the code that was used to do the scraping open source? Would you like effort to be put in to trying to just manually update these type of problems so they render correctly in the short term?

[2021-12-02 06:10] somesh202 commented on #8693
Hey @indirectlylit ! Can I work on this issue?

[2021-12-02 08:41] #8771 closed, assigned to MisRob, akash5100

[2021-12-02 13:35] indirectlylit commented on #8693
Sure! If you do, please target the `develop` branch.

[2021-12-02 19:56] vahidmas opened #8797 "improvement on channel deletion"
## Observed behavior
As i am trying to delete a (large 50GB+) channel, the screen for deletion seems to idle for a good 8 minutes, and then starts showing progress in the green percentage bar, with the corresponding % being displayed.

Proposed solution: Create a message such as "Deletion is being prepared" until the actual % bar starts making progress.

## Expected behavior
Indication of some sor

[2021-12-02 22:53] radinamatic commented on #8797
Targeting to a new version because it requires a new UI string.

[2021-12-03 01:36] indirectlylit opened #8800 "card thumbnail area could be shrunk vertically at some screen sizes"
## Observed behavior

There is extra space above and below the thumbnail at some screen resolutions

<img width="590" alt="image" src="https://user-images.githubusercontent.com/2367265/144529191-c833bbe5-c9b5-44b2-a742-d6e7b0aa92a3.png">

## Expected behavior

The cards could simply become shorter:

<img width="602" alt="image" src="https://user-images.githubusercontent.com/2367265/144529754-2e18a

[2021-12-03 16:31] pcenov opened #8801 "Facility>Data - No indication that a facility has been registered correctly"
## Observed behavior
The page is not refreshed after successfully registering a facility to the KDP portal and it seems that nothing has happened. One has to manually refresh the page to see that the facility has been registered successfully.

## Expected behavior
The page should be refreshed to indicate that the registration was successful.

## Steps to reproduce the issue
1. Install the followin

[2021-12-03 16:31] pcenov commented on #8801
@radinamatic

[2021-12-06 07:35] radinamatic commented on #8801
At least a snackbar confirmation should appear at this point... Thoughts, @jtamiace?

At first I thought to slide this to 0.16, but we actually have a string [`Registered to 'Kolibri Data Portal'](https://github.com/learningequality/kolibri/blob/a64471e954eb64344697bb13492c2aaaf19489e2/kolibri/core/assets/src/views/sync/FacilityNameAndSyncStatus.vue#L93) that could fit here without issues.

[2021-12-06 15:16] #8616 closed, assigned to bjester

[2021-12-06 16:20] pcenov commented on #7902
Hi @radinamatic I'm also not able to replicate the issue. I've been testing the following build https://buildkite.com/learningequality/kolibri-python-package/builds/4435 on Samsung S7, Android 8 and Samsung Note 10 Lite, Android 11
Also as suggested by you I tested the behavior of the drop-down at the quiz report page for a quiz with over 25 questions and it still functions correctly.

[2021-12-06 16:44] #8750 closed, assigned to rtibbles

[2021-12-06 16:45] #8725 closed, assigned to MisRob

[2021-12-06 21:07] radinamatic opened #8808 "Labels for radio buttons are truncated"
## Observed behavior
Labels for radio buttons should wrap and extend to the second line (like labels for checkbox options), and not be truncated.

app | browser
--- | ---
![DevTools - localhost:8080-en-device---settings_003](https://user-images.githubusercontent.com/1457929/144920894-cfe9d809-da55-4502-9db4-25eda2c6bed7.png) | ![Configuración del dispositivo - Kolibri — Mozilla Firefox_001](https:

[2021-12-06 21:40] sairina opened #8809 "Content cards with folders shorter than other content cards"
## Observed behavior
In the learner's library, content cards with folders are slightly shorter in height than the rest.
|without hover shadow|with hover shadow|
|--|--|
|<img width="674" alt="Screen Shot 2021-12-06 at 1 33 10 PM" src="https://user-images.githubusercontent.com/13563002/144926066-9b3bcfd3-5e58-4cce-a621-2c73b5131e00.png">|<img width="674" alt="Screen Shot 2021-12-06 at 1 29 59 PM" s

[2021-12-06 21:46] sairina opened #8810 "Invalid prop warning in Learner > Library > Category"
## Observed behavior
When in Learner > Library, and I click on "Categories" in the side panel, there is a warning in the console that pops up for anything that is not "All categories" or "None of the above":
```Invalid prop: type check failed for prop "span". Expected String with value "4", got Number with value 4.``` for

## Errors and logs
<img width="1508" alt="Screen Shot 2021-12-06 at 12 33 1

[2021-12-06 21:47] rtibbles commented on #8810
Note that this is likely `:span="4"` being passed instead of `span="4"` to a `KGridItem` component.

[2021-12-06 22:35] indirectlylit opened #8811 "remove instances of !important and /deep/ where possible"
## Overview

Remove instances of `!important` and `/deep/` from Vue component styles where possible. Both constructs break scoped style encapsulation — `!important` overrides normal CSS specificity, and `/deep/` pierces child component scoping. This creates maintenance risk: future refactors or updates to underlying components can silently break parent components that rely on private implementatio

[2021-12-06 22:50] nucleogenesis commented on #7902
With @pcenov 's last comment and @radinamatic 's emoji replies seems like this is good to close

[2021-12-06 22:50] #7902 closed, assigned to radinamatic

[2021-12-06 23:06] nucleogenesis commented on #7321
The remaining concerns for this issue were kind of indirectly addressed by @indirectlylit in #8443 - will close this as I don't think SignInPage is in bad shape at this point.

[2021-12-06 23:06] #7321 closed, assigned to nucleogenesis

[2021-12-06 23:13] nucleogenesis commented on #6037
Looking at this I'm not* sure how best to do this with Django but I can see about trying to fix this when we update the Instant Schools plugin soon.

[2021-12-06 23:15] sairina opened #8813 "Learner practice quiz report - redundant navigation error on icons for question attempts"
## Observed behavior
In the Learner's report for a practice quiz (`ReportsLessonLearnerExercisePage`), there's bug around navigation when a user clicks on the icons for the different attempts more than once (or, if a user has only one attempt that is incorrect, it seems to give this error on the first click - as shown in the gif below).
![2021-12-06 15 01 00](https://user-images.githubusercontent.

[2021-12-06 23:16] rtibbles commented on #8813
Hrm - perhaps we should be disabling already active interactions?

[2021-12-06 23:16] rtibbles commented on #7321
This seems oddly appropriate.

[2021-12-07 00:17] radinamatic commented on #7902
Yes, I experienced this issue intermittently while testing these past weeks, but never managed to replicate consistently to give a proper feedback. However, neither @pcenov nor I are able to experience it at all on the most recent APK from #8802, so let's close it for now.

[2021-12-07 03:18] #8722 closed, assigned to marcellamaki

[2021-12-07 03:20] rtibbles opened #8816 "Completion modal only shows right half of modal on Android"
![DevTools - localhost:8080-en-learn---home_001](https://user-images.githubusercontent.com/1457929/142363648-25fd3ffa-ee85-4aab-8697-70a537e8ba83.png)

_Originally posted by @radinamatic in https://github.com/learningequality/kolibri/issues/8722#issuecomment-972576249_

[2021-12-07 04:02] radinamatic opened #8817 "Search sidebar stays open and occupies the full screen on mobile screens"
## Observed behavior
Encountered while testing https://github.com/learningequality/kolibri/pull/8802#issuecomment-987146282

comment | screenshot
--- | ---
When using the keyword search, the search sidebar stays open (and it occupies the full screen), and the user needs to figure our they must close it to actually see the results. Can we make so the sidebar closes by default to display the results

[2021-12-07 04:28] hamzamunaf commented on #8640
Still working on it, should be ready by tomorrow. Sorry for the delay

[2021-12-07 04:35] rtibbles commented on #8640
Thanks for keeping us updated!

[2021-12-07 07:03] akash5100 commented on #8643
@rtibbles can you check the above (backend) solution?

[2021-12-07 15:04] marcellamaki commented on #8380
Closed with #8802

ETA too many android issues -- this actually is separate

[2021-12-07 15:42] #8668 closed, assigned to rtibbles

[2021-12-07 15:43] #8817 closed, assigned to rtibbles

[2021-12-07 16:05] #8723 closed, assigned to marcellamaki

[2021-12-07 16:07] marcellamaki opened #8822 "Update coach lesson creation bookmarking to match changes in quizzes"

[2021-12-07 16:08] marcellamaki opened #8823 "Use the available = true filter on the frontend for bookmarks"
So that the availability filter on the backend is useful and so that learners do not see bookmarks for content that is not available.

[2021-12-07 16:22] #8781 closed, assigned to rtibbles

[2021-12-07 16:23] #8563 closed, assigned to marcellamaki

[2021-12-07 16:28] #8435 closed, assigned to rtibbles

[2021-12-07 16:32] rtibbles opened #8824 "Leverage forking facility functionality to prevent clone facilities"
## Observed behavior
Further, when an image is cloned from a provisioned device, this can cause the same facility to be present on multiple devices unintentionally.

## Expected behavior
Automatically run this when a device is provisioned and then cloned! When a device starts up, if a) the instance_id has changed, and b) the device has never been synced (no records in the Store), and c) the facili

[2021-12-07 16:32] rtibbles commented on #8091
Closed by #8742 - follow up filed here: https://github.com/learningequality/kolibri/issues/8824

[2021-12-07 16:32] #8091 closed, assigned to rtibbles

[2021-12-07 17:30] indirectlylit opened #8825 "channel diff shows update with no changes"
## Observed behavior

The channel update diff from version 95 to 96 showed no updates:

Presumably, if Studio allowed a new version to be published then _something_ changed. If that's not the case we should open an issue over there.

## Expected behavior

If there was a change that can't be described by one of the existing categories of changes (new, deleted, updated resources) we may need a new r

[2021-12-07 17:33] indirectlylit commented on #8825
possibly a duplicate of https://github.com/learningequality/kolibri/issues/6230 but I am not 100% sure

[2021-12-07 17:36] indirectlylit commented on #8692
Still observing this to a lesser degree at certain browser sizes.

I'll lower the priority and remove from 0.15 because it's not super impactful to the UX anymore.

![2021-12-07 12 35 26](https://user-images.githubusercontent.com/2367265/145078512-aa4a1e2d-f9d6-43b4-9913-c18862593fc2.gif)

FF on mac

[2021-12-07 17:42] indirectlylit opened #8826 "'import more' flow is interrupted by channel upgrade"
## Observed behavior

After clicking 'import more' on a channel, if the channel has updates available, the flow is interrupted:

1. the bottom section showing known resources is completely hidden
2. after upgrading the channel, the user is kicked out of the import flow

## Expected behavior

The user should remain in the 'import more' flow regardless of whether upgrades are available or if they ch

[2021-12-07 17:44] marcellamaki opened #8827 "[Regression] Side panel alignment updates have not be applied in all cases"
Double check all places where the sidepanel is used:
- ensure spacing is accurate on large medium and small screens
- ensure alignment is correct for both LTR and RTL languages
- ensure "X" is visible in all cases
- focus trap is working in all cases

https://www.notion.so/learningequality/REGRESSION-Learn-Viewing-Content-Workflow-29-a828497ca3354a3aa497f2b6aed8a5af
https://www.notion.so/learninge

[2021-12-07 17:45] marcellamaki opened #8828 "Resources not showing up in lessons, coach quiz planning page on Mac - app and Pex"
When navigating to a lesson within the class tab, no lesson resources display. Similarly,

Not a problem when running a dev server/chrome on Mac, but pex/Chrome and mac app both have this issue
https://www.notion.so/learningequality/REGRESSION-Learn-Lessons-page-6-Broken-86d6a790568b429ca01e5ea9d0fde4c0
https://www.notion.so/learningequality/REGRESSION-Coach-Quiz-Planning-page-b63ccf5cbd304122b241

[2021-12-07 17:52] marcellamaki opened #8829 "Broken string for duration overlay tag"
The overlay on the bottom of a thumbnail image, which displays duration, seems to have a broken string. Potentially also in the chips on the library page
https://www.notion.so/learningequality/REGRESSION-Anywhere-potentially-Broken-52ca67f257f84c1d966e941092132618

[2021-12-07 17:54] marcellamaki opened #8830 "Back button does not have correct context when content is accessed from bookmark side panel"
Open sidepanel on a Bookmark, click "View Resource", click Back, it should go back to Bookmarks page but it goes home instead
https://www.notion.so/learningequality/BUG-Learn-Bookmarks-Metadata-Side-Panel-2d2c928af5cd420b95700ab7af91a915

[2021-12-07 17:56] marcellamaki opened #8831 "Grid/List toggle broken and doesn't update cards"
https://www.notion.so/learningequality/FEAT-URE-BUG-Learn-Library-Page-b52d89a8990147c1b9bb162e87d81a0c

[2021-12-07 17:58] marcellamaki opened #8832 "View more link at top of library page (displaying search results) should be removed"
https://www.notion.so/learningequality/Feedback-13-Learn-Library-Page-aa394a3cddaf49c6a26c0ab584de2659
https://www.notion.so/learningequality/SUGGESTION-Library-13-4930ffc2a42b401f86fb4a6bb3627d50
(has also been noted in other feedback, but perhaps gotten lost in the shuffle)

[2021-12-07 17:59] marcellamaki opened #8833 "On mobile, topics cards are missing indication that they are folder"
Need to add folder header band and icon

https://www.notion.so/learningequality/BUG-Learn-Topic-browsing-14-Broken-3625e65dba704895b453d206ef9cbfab

[2021-12-07 18:02] marcellamaki opened #8834 "Quiz report content renderer is cut off on the right hand side"
https://www.notion.so/learningequality/REGRESSION-Coach-Plan-Quiz-Design-issue-c48f9301b9f24d7cae8c0d8fdc266708

![Untitled](https://user-images.githubusercontent.com/17235236/145082277-811cd557-105b-44e2-93de-621086211edb.png)

[2021-12-07 18:10] jredrejo commented on #8828
FYI: using the same KOLIBRI_HOME, and just switching from pex to deb, it works. Going back to pex it does not

[2021-12-07 18:15] marcellamaki opened #8835 "errant POST to /api/auth/session"
This bug has returned where we make an errant POST to /api/auth/session which returns 400 even though the user signs in successfully - it sends the same login request but with empty password

https://www.notion.so/learningequality/REGRESSION-Sign-in-5998238077dc48dc8cb8d4ce135478d3

[2021-12-07 18:57] sairina commented on #8813
Just checked - can verify that this is also an issue for when a learner takes a regular quiz in 0.15 and looks at the report for a quiz.

[2021-12-07 18:59] #8539 closed, assigned to radinamatic

[2021-12-07 18:59] #8519 closed, assigned to radinamatic

[2021-12-07 19:07] jtamiace commented on #8832
This was the original layout for results text and filter chips

<img width="496" alt="Screen Shot 2021-12-07 at 11 05 50 AM" src="https://user-images.githubusercontent.com/6668144/145090717-d2c23719-4e5b-48ad-bcf0-ba8a8718c5fd.png">

[2021-12-07 20:00] marcellamaki opened #8836 "Kolibri mac app does not start on macOS 12 Monterey"
Port 5000 is now taken by control center, which prevents magicbus from running

https://www.notion.so/learningequality/BROKEN-Kolibri-mac-app-does-not-start-on-macOS-12-Monterey-874363c3fa96457aaba97ae75c0490a5

[2021-12-07 20:14] marcellamaki opened #8837 "Improvements to mobile search/filtering experience"
From @jtamiace in bug bash:

On mobile, I'm wondering if the filter panel should stay open when the user removes a filter. Although it could also be intentional that they want to do a search with that filter removed. "Apply/Cancel" actions may be helpful here?

https://www.notion.so/learningequality/FEEDBACK-Learn-Search-10-Suggestion-c2ee9e4397544eff9034d89323241035

[2021-12-07 20:24] marcellamaki opened #8838 "Remove top bar search on library page"
To avoid confusion/conflict between search bars

https://www.notion.so/learningequality/Feedback-Learn-Library-Search-dfe09aeae356463bbaf753692de2e480

[2021-12-07 20:45] marcellamaki opened #8840 "Search bar field on the left should be cleared when "Clear all" is clicked above search results"
https://www.notion.so/learningequality/FEATURE-BUG-Learn-Search-12-dab4ba17221d41a79698d32e647ba4ae

[2021-12-07 20:46] marcellamaki opened #8841 "Kolibri upgrade on windows installer breaks when you haven't uninstalled previous version"
Please see logs in:
https://www.notion.so/learningequality/Kolibri-did-not-shut-down-before-upgrade-on-Windows-cb87b3805a5049af981ca5b3ea943573

[2021-12-07 20:48] marcellamaki opened #8842 "Completion on sped-up video player seems to be broken"
from @jtamiace:
I was (maybe too compulsively) clicking the 1x/1.5x/2x button on a video, and once the video completed, it didn't actually complete
https://www.notion.so/learningequality/BUG-26-27-Content-renderer-Broken-9e98299bbd944a9d882418bc22c5c5ef

[2021-12-07 20:54] marcellamaki opened #8843 "Add "info" button to continue learning on your own?"
Bug bash feedback from @DXCanas:
https://www.notion.so/learningequality/SUGGESTION-Home-1-Continue-Learning-On-Your-Own-3e913b3995b04ece8522a64d5185f74c

[2021-12-07 20:54] rtibbles commented on #8842
Odd, I've been using 2x speed for most of my testing and not had issues previously. Can investigate.

[2021-12-07 20:56] marcellamaki opened #8844 "Metadata font sizes on bookmarks page cards (below thumbnail) are incorrect"
Update to ensure fonts match figma spec
https://www.notion.so/learningequality/FEEDBACK-Learn-Bookmarks-List-80103926efec4dcb8d6e1a1467234278

![Untitled (1)](https://user-images.githubusercontent.com/17235236/145104815-6ace115d-8570-414c-9b63-44c339dc1ae5.png)

[2021-12-07 21:03] marcellamaki opened #8845 "Add missing string when there are more than X results in search results"
I accidentally left this out of the string freeze, and it continues causing confusion

<img width="607" alt="Screen Shot 2021-12-07 at 4 02 54 PM" src="https://user-images.githubusercontent.com/17235236/145105738-205607a7-fb99-46fd-bcc3-1f7143c3d9b0.png">

[2021-12-07 21:06] marcellamaki opened #8846 "Update number of results returned and displayed for improved grid fill/alignment on channel browsing"
The default/preview of results should match to the number of cards wide on desktop or tablet (i.e. 3 card grid, 3 results, rather than 4 results which wraps over)

Potentially also nuance how many children are displayed for each topic, depending on how many topics are displayed at the top level, and coordinate/conditionalize this to work with the display grid

See reference screengrab:
https://www

[2021-12-07 21:09] marcellamaki opened #8847 "ux issues with 'search' tab in Library"
## Observed behavior

| observation | illustration |
|--|--|
| At smaller sizes the 'Search' tab launches the side panel which seems incorrect |  ![2021-12-13 21 44 28](https://user-images.githubusercontent.com/2367265/145923793-dcd8ec06-cc88-42e7-aacc-a8a056ee5d87.gif) |
| The tabs also initially start out with neither selected | ![2021-12-13 21 41 16](https://user-images.githubusercontent.com/23

[2021-12-07 21:24] marcellamaki opened #8848 "Potential completion modal error when clicking "Move On""
From @jtamiace: Clicking 'Move on' from the completion modal gave me an error but I'm having trouble reproducing this

https://www.notion.so/learningequality/REGRESSION-Learn-Content-renderer-27-BUG-3d5728de3b8c430e848bf654bf27bf77
<img width="1323" alt="Screen Shot 2021-12-07 at 10 15 58 AM" src="https://user-images.githubusercontent.com/17235236/145107352-a0534b6a-34ef-43dc-a9db-18e158a33830.png

[2021-12-07 21:29] marcellamaki opened #8849 "User on SouD should not be able to edit their user profile"
From @jamalex in bug bash:
The FacilityUser object is read-only for single-user certificates, so these changes will not be synced back. We had a spec doc that laid out "what should be allowed on a SoUD", I think this was documented in there — we should do an audit to make sure other cases are covered as well.

https://www.notion.so/learningequality/CRITICAL-FEATURE-BUG-Users-on-SoUD-should-not-be-

[2021-12-07 21:32] marcellamaki opened #8850 "Unnecessary scroll bar on source selection modal when zoomed"
Scrollbar pops up as window zoom changes
https://www.notion.so/learningequality/Unnecessary-scrollbar-on-source-selection-modal-b53923f7ec5041e0a483afe71e5bc2e8
<img width="385" alt="Untitled (2)" src="https://user-images.githubusercontent.com/17235236/145109089-f7534680-4e97-4660-bedd-3d2ef7dbd94f.png">

[2021-12-07 21:38] marcellamaki opened #8851 "Kolibri locked up on Windows and then unable to restart"
https://www.notion.so/learningequality/BUG-Kolibri-locked-up-on-Windows-and-then-unable-to-restart-5562f3d8da4e40dcb6559b206768aff8

From @jamalex bug bash notes: At first, it worked. And I imported content, then set up an Android device with a single user, autosyncing. Then, after a few minutes, the server stopped responding (browser load hanging). Then I exited Kolibri and tried to restart, and

[2021-12-07 21:39] marcellamaki opened #8852 "Continual re-initialization of zeroconf every 5 seconds"
https://www.notion.so/learningequality/BUG-Continual-re-initialization-of-zeroconf-every-5-seconds-9d6917de73024f00b106b50251eff2be

The log files on my Windows machine show "New addresses detected since zeroconf was initialized, updating now" messages every 5 seconds. I added additional logging to the following code:

[code]

which shows that the zeroconf-internal list has stripped out the link-l

[2021-12-07 21:40] marcellamaki opened #8853 "Windows app won't start up again if there's a leftover server.pid file"
https://www.notion.so/learningequality/BUG-Windows-app-won-t-start-up-again-if-there-s-a-leftover-server-pid-file-b11d3d7450c14844bda03ee81f06f373

There is another Kolibri server running. Please use `kolibri stop` and try again.

Even though the PID in the [server.pid](http://server.pid) doesn't exist anymore:

[code]

UPDATE: it seems that `_windows_pid_exists` is still returning `True` for the

[2021-12-07 21:41] marcellamaki opened #8854 "Continual spewing of "WebViewLoader: Could not ping localhost:5000" in Android app long after it has loaded and is being used."
@jamalex notes from bug bash:
per logcat — it seems it continues to try to check the server even when not available — and actually, it's not even running on port 5000, it's on 8080 — seems like it's a pew thing

https://www.notion.so/learningequality/BUG-ish-Continual-spewing-of-WebViewLoader-Could-not-ping-localhost-5000-in-Android-app-long-aft-282e4478d4c94f699edb773ea582a29a

[2021-12-07 21:48] marcellamaki opened #8855 "404 error in console on device/#/content/channels"
https://www.notion.so/learningequality/BUG-Device-Import-7f01fc98a2744599959fe3bff75b88a9

bug bash feedback note from @DXCanas:
404 for channels that haven't been opened before - still loads fine after a while

[2021-12-07 21:54] rtibbles commented on #8855
This is not an error. It specifically says so in the console: https://github.com/learningequality/kolibri/blob/02fc882b827a1c822d9d5863d37c0a9e1cd5ab61/kolibri/plugins/device/assets/src/modules/wizard/handlers.js#L174

[2021-12-07 21:54] #8855 closed, assigned to nobody

[2021-12-07 22:00] rtibbles commented on #8852
Seems likely that this is causing global issues on the windows installer.

[2021-12-07 22:04] radinamatic commented on #8850
Probably related to https://github.com/learningequality/kolibri/issues/6551...?

[2021-12-07 22:21] #8810 closed, assigned to rtibbles

[2021-12-07 22:23] rtibbles commented on #8841
This may well be a duplicate of #8853

[2021-12-07 22:34] rtibbles commented on #8828
Fixed in #8858 - sorry @jredrejo, @marcellamaki had a brain wave!

[2021-12-07 22:34] #8828 closed, assigned to jredrejo

[2021-12-07 22:35] radinamatic commented on #8825
Agreed with the suggestion to add the new category of  `Channel metadata updated`, to reflect the cases where the resource file was not changed, just title, description, etc (as was the case in this new version of the QA channel). I keep forgetting if changed thumbnail falls into this category...? 🤔

Either that, or including metadata changes in the `Resources to be updated` category.

[2021-12-07 22:58] radinamatic commented on #8816
Seems to be gone with @marcellamaki wind! 👍🏽

Same Android device, server on Windows 7 as in the original issue:

![DevTools - localhost:8080-es-es-learn---topics-c-d753aaf3ac794cf59b0169df72964dbe?lessonId=b44f7ef78626b7041476861b64f1c7f1 classId=1b21fb43599f223b4885e95b61aa2ef3 last=LESSON_PLAYLIST_001](https://user-images.githubusercontent.com/1457929/145118787-54ea474c-844c-4dbd-b616-90da45627

[2021-12-07 22:58] #8816 closed, assigned to radinamatic

[2021-12-07 23:09] sairina commented on #8507
This works! Closing the issue.

[2021-12-07 23:09] #8507 closed, assigned to sairina

[2021-12-08 00:25] rtibbles commented on #8643
Hi @akash5100 - apologies, I missed your notification in the middle of the Thanksgiving holiday here.

This is nearly there, the main issue is that you would be counting all of the attempts for every MasteryLog - when what is desired is the total number of correct questions and the total number of questions in order to be able to compute a score.

Instead of just counting the total number of attem

[2021-12-08 00:40] #8721 closed, assigned to nucleogenesis

[2021-12-08 01:32] jamalex commented on #8851
Turns out the reason the port was still locked was that VS Code was doing some port forwarding that claimed it. When VS Code was closed, starting up still failed, but this time due to https://github.com/learningequality/kolibri/issues/8853

[2021-12-08 03:38] sharifmaryam commented on #8787
hello, I thought I could solve the first issue of the icons being too small by making a change to the width and height in a index.vue file inside of the node_modules folder but I noticed that the node_modules folder is in the gitignore file so I was wondering if there was a different place in which these elements can be changed?

[2021-12-08 05:32] #8830 closed, assigned to nucleogenesis

[2021-12-08 06:26] nucleogenesis commented on #8835
Reducing this to P2. It is a minor problem overall and the only fix I can think of is disproportionately complex.

When a user puts their username and clicks "Next" we try to sign them in without a password. If the settings of Kolibri permit passwordless login for that user they are logged in, otherwise, they get a 400 and are asked to enter a password.

The fix would require some separate endpoin

[2021-12-08 06:34] radinamatic opened #8866 "Errors while interacting with resources in a lesson on Learn-only device"
## Observed behavior
Replicable on 0.15.0b3 installed on both Windows 7 & 10 with learn-only device on Android 9.0 phone. Errors appear in seemingly random fashion on different resources at different moments. Learner device appears to be syncing correctly with the server, and progress (when achieved) is registered on Coach page.

1 | 2 | 3
--- | --- | ---
![DevTools - localhost:8080-es-es-learn---

[2021-12-08 06:44] radinamatic opened #8867 "Impossible to scroll the 'Change language' modal in app context on Android devices"
## Observed behavior
More acute on small phone screens, but replicable on tablet in landscape mode.
Not replicable in browser responsive view, only when installed on physical device.

phone | tablet
--- | ---
![change-language-modal-does-not-scroll](https://user-images.githubusercontent.com/1457929/145160989-691ed1ad-7302-44f2-b12b-8c7a4d168eec.gif) | ![change-language-modal-does-not-scroll-tablet

[2021-12-08 06:47] akash5100 commented on #8867
Why is this happening? I want to help.

[2021-12-08 07:14] radinamatic commented on #8866
Possibly related to https://github.com/learningequality/kolibri/issues/8848...?

[2021-12-08 09:02] radinamatic opened #8868 "PDF resource completion"
## Observed behavior
It does not seem possible to achieve completion on any PDF file, no matter how short they are, or time learner spends with the resource. I added 3 more short PDF files (3-9 pages) to the QA channel, but it seems impossible to complete them.

## Errors and logs
…

## Expected behavior
Ability to complete PDF resources.

## User-facing consequences
...

## Steps to reproduce
...

[2021-12-08 12:06] pcenov opened #8869 "Reports - Missing answered question data after upgrade from 0.14.7 to 0.15"
## Observed behavior
This issue is a follow-up of https://github.com/learningequality/kolibri/pull/8818
When I'm logged in as a Coach and I go to the reports immediately after I've upgraded Kolibri from 0.14.7 to 0.15 and I attempt to go through the completed lessons or quizzes I'm not able to see the actual questions, instead I see the following text: No attempts made on this question.

## Expect

[2021-12-08 12:07] pcenov commented on #8869
@radinamatic

[2021-12-08 12:51] pcenov opened #8870 "Beta 3 - All lesson resources are not displayed"
## Observed behavior
No lesson resources are displayed in Class>Lesson so a Learner cannot view and complete them. The quiz resources are displayed correctly.

## Expected behavior
All lesson resources should be displayed correctly

## Steps to reproduce the issue
1. Install the the 0.15 beta 3 version of Kolibri from [here](https://github.com/learningequality/kolibri/releases/tag/v0.15.0-beta3).

[2021-12-08 12:51] pcenov commented on #8870
@radinamatic

[2021-12-08 13:43] marcellamaki commented on #8835
Thanks for clarifying @nucleogenesis -- sounds good!

[2021-12-08 14:18] indirectlylit opened #8871 "remove 'all' options from filters"
## Observed behavior

| observation | illustration |
|--|--|
| The default unfiltered state really corresponds to these "all" filters being selected, but that is not currently the case  |    ![image](https://user-images.githubusercontent.com/2367265/145222814-e3c75429-b570-40e6-8b50-5d69bba0ed52.png) |
| This leads to contradictory user-facing text  |     ![image](https://user-images.githubusercon

[2021-12-08 14:22] indirectlylit opened #8872 "change "None of the above" string in category filter"
## Observed behavior

The "None of the above" string slipped in to 0.15.0 by mistake. The intent was "Other", or possibly "Uncategorized"

## Expected behavior

The intent is to communicate that when the option is selected, all resources that are not tagged with a category are shown.

## User-facing consequences

confusing terminology

## Context

0.15.0

[2021-12-08 14:50] #8832 closed, assigned to jtamiace, marcellamaki

[2021-12-08 14:54] rtibbles commented on #8835
If this is what is happening I don't think it is a bug at all - the idea that we should never receive a non-error response from the backend during normal operation is erroneous.

The only things we might want to do are:
Not make this check unless we are setup to allow passwordless login (I thought we already did this but maybe not).
Add an "expected error code" option to our fetches to prevent lou

[2021-12-08 14:58] rtibbles commented on #8870
This is a duplicate (albeit more detailed) of https://github.com/learningequality/kolibri/issues/8828 which has been fixed in release-v0.15.x. Closing!

[2021-12-08 14:58] #8870 closed, assigned to nobody

[2021-12-08 15:44] #8831 closed, assigned to marcellamaki

[2021-12-08 16:22] jredrejo commented on #8866
@radinamatic looking at the error trace it seems to be the same that was fixed in #8858
Can you try to reproduce it using https://buildkite.com/learningequality/kolibri-windows/builds/2721 ?

[2021-12-08 16:30] rtibbles commented on #8866
It's weird because that debug info is showing a 500, but I don't see any in the `kolibri.txt`. There can be a slight issue sometimes where the API error page appears for non-api related errors that occur during handling.

[2021-12-08 16:49] pcenov opened #8874 "Incorrectly displayed 'View information' overlay"
## Observed behavior
The "View information' overlay is not displayed correctly - it's positioned to the left side of the page while it should be at the right.

## Steps to reproduce the issue
1. Install the the 0.15 beta 3 version of Kolibri from [here](https://github.com/learningequality/kolibri/releases/tag/v0.15.0-beta3).
2. Go to Library and select a resource to preview
3. Click the info icon

[2021-12-08 16:49] pcenov commented on #8874
@radinamatic

[2021-12-08 17:19] akash5100 commented on #8872
If I am not wrong, files are right here
https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue#L81

I will try to solve this issue.
And I will follow #8871 and try to solve it too.

[2021-12-08 17:23] radinamatic commented on #8874
I encountered this while testing the app on Android tablet, probably related...

![DevTools - localhost:8080-en-learn---topics-c-a1b7e748daa34232b12022017fbb9b59?lessonId=4f1a41ccfc7fb400eb3b0e86cab29c5c classId=c1863477e405753f9e208c8ddd7f3644 last=LESSON_PLAYLIST_001](https://user-images.githubusercontent.com/1457929/145254288-c7cc7934-4489-4c44-b6f9-9173f226de2b.png)

cc @marcellamaki

[2021-12-08 17:31] rtibbles commented on #8838
Fixed in #8862

[2021-12-08 17:31] #8838 closed, assigned to sairina

[2021-12-08 17:49] radinamatic commented on #8867
And apparently this has something to do with having the Android device USB-connected and **inspected** for debugging... 😒

As soon as the Dev tools inspect window is closed, modal becomes scrollable, go figure 🤷🏽‍♀️

[2021-12-08 17:49] #8867 closed, assigned to nobody

[2021-12-08 18:14] radinamatic commented on #8866
Nope, still extant when installing the [most recent assets](https://buildkite.com/learningequality/kolibri-python-package/builds/4505) from the 0.15 branch just now. Same Windows/Android devices, same error again 😞

1 | 2
--- | ---
![DevTools - localhost:8080-en-learn---topics-c-fa98fe1787ac494dbe882bbe0944fbea?lessonId=8503220b0ea56e24bc79d12db2a17e91 classId=f5d83f321d06e190a45e567bce1facb4 last

[2021-12-08 18:20] jredrejo commented on #8866
@radinamatic is the windows test done in the same vm you shared with me last week?
Any help you can provide to reproduce it is very welcome

[2021-12-08 18:23] radinamatic commented on #8866
We exchanged Ubuntu VMs last week, for `kolibri-server`, right?
I can upload the full appliance for this Windows VM, so you can try it on your side...

[2021-12-08 18:23] rtibbles commented on #8866
Can you try getting the logs again? Definitely a 500 error there, so would be good to see what the logs say on that.

[2021-12-08 18:32] radinamatic commented on #8866
DB and logs for this latest install:
[db-and-logs.zip](https://github.com/learningequality/kolibri/files/7678119/db-and-logs.zip)

[2021-12-08 18:44] jredrejo commented on #8866
For the first screenshot I bet it the same that was fixed in #8858
For the rest, as @rtibbles said, it's a 500 error. In the `debug.txt `file I see a lot of
[code]

errors when `logging` is used, I haven't seen these errors before, but I don't use Windows, some quick googling says it could be due to a wrong `stdin` configuration

[2021-12-08 18:44] jredrejo commented on #8866
ah, yes, it was the Ubuntu VM. It would be great if you can share the windows vm too, so we can replicate in your same environment

[2021-12-08 18:44] radinamatic commented on #8866
Hm, got a new one for you, same setup:

![DevTools - localhost:8080-en-learn---topics-c-a1f54495517144ed9cbd4635e7e2c03c?lessonId=17ea5db4461bb5dd4590c74d0d702677 classId=f5d83f321d06e190a45e567bce1facb4 last=LESSON_PLAYLIST_001](https://user-images.githubusercontent.com/1457929/145265812-2b68a687-8efa-4d46-91f7-d77a93095c30.png)

[2021-12-08 18:49] rtibbles commented on #8866
Yeah, there's definitely an issue with logging on windows.

[2021-12-08 19:07] jredrejo commented on #8848
@jtamiace can you lend me a hand to reproduce this problem?
OS, browser and an example of resources that're causing it?
I have tried several combinations without success, the  '`Move on'` button always worked fine

[2021-12-08 19:20] jtamiace commented on #8848
Yes I'll try. It happened a few times but not consistent

[2021-12-08 21:28] marcellamaki commented on #8874
Closing as these issues are covered in #8827

[2021-12-08 21:28] #8874 closed, assigned to nobody

[2021-12-08 23:27] jtamiace commented on #8848
I was able to reproduce this in a different way but it gave me the same error as "move on"
1. Click into a video
2. Refresh the page while on the video
3. While the video is playing, open the "Also in this" panel
4. Click a resource in that list

![ezgif-7-b6ee0ed0476f](https://user-images.githubusercontent.com/6668144/145307156-9f756aa4-cd3f-4d7c-a006-0d259da2723b.gif)

For comparison, here is th

[2021-12-08 23:52] rtibbles commented on #8848
I think this is a consequence of the global logging state. Because it's not encapsulated on a per resource page basis, it is possible for logging for the old session to interact with logging for the new session.

I have some WIP work that may help address this by encapsulating the logging state into a composable helper, meaning it should no longer be shared. I can take this on.

As such, I think t

[2021-12-09 02:59] #8852 closed, assigned to jamalex

[2021-12-09 06:24] nucleogenesis opened #8882 "H5P kind has no icon & is not handled in constants.js"
## Observed behavior

When viewing a coach reports here: https://github.com/learningequality/kolibri/blob/a062fc6bf358d5f3d89e09053e24310351b49e48/kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue#L30-L32

If the content kind is "h5p" then you get the error "KIcon no icon for 'h5p'" and it applies the left padding like:

![image](https://user-images.githubuser

[2021-12-09 07:13] akash5100 commented on #8872
Hello @indirectlylit, I think the "Title Case" issue is already solved.
please check [here](https://github.com/learningequality/kolibri/pull/8793/commits/7c7efafd19e56f0af93bddc3ad570fb73c0d9102#diff-be519ac938881b9857a564e6f29554f4ae630c17161865022783f023e4de10ceL266) and [latest](https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/learn/assets/src/views/EmbeddedSideP

[2021-12-09 14:19] #8846 closed, assigned to sairina

[2021-12-09 15:43] #8840 closed, assigned to jredrejo

[2021-12-09 17:27] jredrejo commented on #5733
Moving this to kolibri-installer-windows as it's an error happening only when the windows launcher is used. Launching kolibri in Windows with `C:\Python36\Scripts\kolibri.exe start --foreground` does not produce these errors

[2021-12-09 17:38] indirectlylit commented on #4859
most of this is now in KDS. Can revisit there in the future if necessary.

[2021-12-09 17:38] #4859 closed, assigned to nobody

[2021-12-09 17:56] indirectlylit commented on #8494
this has already been addressed in https://github.com/learningequality/kolibri/pull/8575

[2021-12-09 17:56] #8494 closed, assigned to nobody

[2021-12-09 17:58] jredrejo commented on #8851
Closing it as it seems the remaining problem is being managed in #8853

[2021-12-09 17:58] #8851 closed, assigned to nobody

[2021-12-09 18:44] indirectlylit commented on #8872
Thanks – I've updated the issue to reflect that. We still need to decide what the final string should be.

Once decided, this work should be done in `develop` for 0.16 and involve removing this:

https://github.com/learningequality/kolibri/blob/4bff6ab93b642a6665812dacfb42e915d30e07f1/kolibri/core/assets/src/mixins/commonCoreStrings.js#L1048-L1053

[2021-12-09 18:45] indirectlylit commented on #8872
Please coordinate with @rtibbles on that

[2021-12-09 19:50] rtibbles commented on #8835
Note: I looked into this ^ slightly, and it seems that the big red error that bothers everyone in the console is generated by Chrome anyway, so the best we could do is add some conciliatory messages (which it seems that people ignore).

[2021-12-09 20:25] rtibbles commented on #8866
This seems to be caused by a bug in the DatabaseLocked handling middleware I had implemented:
[code]

[2021-12-09 20:53] #8853 closed, assigned to rtibbles

[2021-12-09 20:53] rtibbles commented on #8841
Should be fixed by #8883

[2021-12-09 20:53] #8841 closed, assigned to nobody

[2021-12-09 21:30] #8882 closed, assigned to jredrejo

[2021-12-09 23:16] rtibbles commented on #8521
Fixed in #8521

[2021-12-09 23:16] #8521 closed, assigned to sairina

[2021-12-09 23:16] rtibbles commented on #8516
Fixed in #8521

[2021-12-09 23:16] #8516 closed, assigned to marcellamaki

[2021-12-09 23:16] rtibbles commented on #8518
Fixed in #8521

[2021-12-09 23:16] #8518 closed, assigned to sairina

[2021-12-09 23:16] rtibbles commented on #8517
Fixed in #8521

[2021-12-09 23:16] #8517 closed, assigned to nobody

[2021-12-09 23:17] rtibbles commented on #8813
Fixed in #8521

[2021-12-09 23:17] #8813 closed, assigned to nobody

[2021-12-09 23:52] sairina commented on #8868
Additional issues noted with the PDF resource completion:
- The PDF renderer is not registering the first page of the PDF as being visited (unless a user stops scrolling at some point on the first page)
- The content card does not register immediately (or sometimes too quickly) that the PDF has been completed. The progress bar is still there even when the user has completed the PDF in the renderer

[2021-12-10 00:36] #8866 closed, assigned to jredrejo, rtibbles

[2021-12-10 00:38] #8849 closed, assigned to nucleogenesis

[2021-12-10 01:24] #8834 closed, assigned to nucleogenesis

[2021-12-10 01:26] rtibbles opened #8888 "On small breakpoints attempt log list loses icon based information"
## Observed behavior
After work in https://github.com/learningequality/kolibri/pull/8802 icon based information display such as coach content and correct/incorrect information is not displayed with attempts as it is displayed as a plain KSelect.

## Expected behavior
Recycle the `<ul>` element as the body of the KSelect in order to preserve as similar styling as possible in both views.

## User-fa

[2021-12-10 04:45] akash5100 commented on #8871
Can you help me, which files are needed to modify?
------------------------------------------
In the case of the `all` filter, selecting the `all` filter will set the filters to default and the `clear all` button is doing the same thing, right?
So we are going to remove the `all`, `All categories` option completely and rename `None of the above` to something like `clear filter`/`clear` etc.

[2021-12-10 14:54] #8833 closed, assigned to MisRob

[2021-12-10 15:49] pcenov commented on #8869
Retested today using the most recent [0.15 build](https://buildkite.com/learningequality/kolibri-python-package/builds/4548) and this issues is still extant.

[2021-12-10 16:03] radinamatic commented on #8869
cc @rtibbles @marcellamaki

[2021-12-10 16:18] rtibbles commented on #8869
Hrm a key to thing I notice here is that the URL is incorrect, so I think there's a frontend issue here. I can look at replicating locally with the supplied DB.

[2021-12-10 18:56] indirectlylit commented on #8871
That's correct.  the 'clear all' button has the same effect as setting the filters to default, which is "unfiltered"

Alternatively, the user can achieve the same result by deselecting any active filters one at a time.

Not quite. "None of the above" has a different meaning and should remain as-is. It basically means "items that do not have any category".

[2021-12-10 18:58] indirectlylit commented on #8871
FYI my understanding is that we may want to target this at the `0.15.x` branch, but note that we are getting very close to release this week so this is contingent on the change being relatively straightforward and not risky. @rtibbles and @marcellamaki will make that decision.

[2021-12-10 19:33] marcellamaki commented on #8630
KDS issue for breadcrumb alignment here: https://github.com/learningequality/kolibri-design-system/issues/284

[2021-12-10 20:21] radinamatic opened #8893 "Completion modal after the practice quiz in a lesson is too short"
## Observed behavior
Currently flashes for just a fraction of the second before the practice quiz report appears. Tested on learn-only Android app, while server is on Ubuntu 18.04.

![completion-modal-flash](https://user-images.githubusercontent.com/1457929/145635425-4b441cec-8c7d-42f0-a5af-252f52018ba7.gif)

## Errors and logs
…

## Expected behavior
Completion modal should remain opened, until l

[2021-12-10 21:01] radinamatic commented on #8827
cc @rtibbles and @sairina as #8874 is extant on 0.16 too, and should be fixed for the practice quiz release.

Should I reopen #8874 and add the 0.16 milestone?

![DevTools - localhost:8080-en-learn---topics-c-a1b7e748daa34232b12022017fbb9b59?lessonId=4f1a41ccfc7fb400eb3b0e86cab29c5c classId=c1863477e405753f9e208c8ddd7f3644 last=LESSON_PLAYLIST_001](https://user-images.githubusercontent.com/1457929

[2021-12-10 21:02] rtibbles commented on #8827
No, I think we can assume any bugs extant on 0.15 are extant on 0.16 as well, no need to double track.

[2021-12-10 21:15] rtibbles commented on #8869
Replicated locally with your DB.

[2021-12-10 21:25] rtibbles commented on #8767
Full spec for how this will be encoded in content node options is here: https://github.com/learningequality/studio/issues/3281

[2021-12-10 21:32] radinamatic opened #8896 "Disappearing timer in practice quizzes on learn-only device"
## Observed behavior
Practice quiz inside lessons have the timer icon in the top bar that briefly appears on the learn-only Android app, but stays and counts when learner connects through the browser.

app | browser
--- | ---
![time-counter2](https://user-images.githubusercontent.com/1457929/145643382-697c1d42-e6b2-4e41-9b4b-9472bc952f73.gif) | ![time-counter-browser](https://user-images.githubuse

[2021-12-10 22:23] indirectlylit commented on #8630
removed from issue description

[2021-12-11 12:45] akash5100 commented on #8871
Please point out the files which are need to modified.

[2021-12-11 18:13] indirectlylit commented on #8871
I believe this main components are the files in this directory:

https://github.com/learningequality/kolibri/tree/release-v0.15.x/kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel

This might be as simple as deleting the 'all' buttons. However there is always a chance that some JS state or other files might need some cleanup after.

[2021-12-11 22:29] indirectlylit opened #8899 "some UI elements are not themed correctly and have hardcoded colors"
## Observed behavior

Some non-theme colors are hard-coded into the styling which prevents them from being overwritten by the theme system.

![image](https://user-images.githubusercontent.com/2367265/145693480-19bdc021-7d54-4e02-b2b5-865759945270.png)

### Brand colors (most important)

I've found the following instances of hard-coded brand colors which will look bad under themes. Items below shou

[2021-12-12 08:14] akash5100 commented on #8871
Before | After
---------|--------
![Screenshot from 2021-12-12 13-35-26](https://user-images.githubusercontent.com/53405133/145705209-09f3488d-d8a6-42ee-8973-11156f80404b.png) | ![Screenshot from 2021-12-12 13-37-02](https://user-images.githubusercontent.com/53405133/145705216-05c028f3-5c52-43a4-9b38-7691366507e5.png)

Does this result look good?
If this is correct, should I comment the button (ma

[2021-12-12 08:27] pranay101 commented on #8899
I am new to open-source. and I would like to work on this issue.

[2021-12-12 16:08] indirectlylit commented on #8871
Thank you!

Yes, the UI looks as I would expect. You can delete the code rather than commenting it out.

The main thing will be to make sure nothing strange happens in actual usage: it should still be possible to clear filters by using 'clear all' or clearing any toggles that are currently active.

[2021-12-12 16:11] akash5100 commented on #8871
Thank you @indirectlylit for your answer, I will soon submit a PR.

[2021-12-13 05:27] nucleogenesis opened #8901 "Refactoring CoreBase, Routing, and the API Resource Layer"
# Overview & Motivation

This Epic involves disentangling, improving, and then reassembling Kolibri's deeply coupled API Resource layer and it's impact on how we handling routing. CoreBase is a necessary victim in this project as it serves as a wrapper.

CoreBase is a monolithic component doing a lot by itself. The amount of responsibilities in this component makes it difficult to make changes to

[2021-12-13 06:50] indirectlylit opened #8903 "standardize validator functions to all `Object` props"
## Observed behavior

Following up from: https://github.com/learningequality/kolibri/issues/8640, https://github.com/learningequality/kolibri/pull/8878, and https://github.com/learningequality/kolibri/pull/8902 which added validation functions.

There are a large number of `Object`-type props with no validator function. (Search the codebase using a multi-line regex to help find them: `{[^}]*type:

[2021-12-13 11:51] danigm opened #8905 "Perseus drag & drop offset in release-v0.15.x"
## Observed behavior

Practice content with drag & drop, like the ones in Khan Academy, for example, "Count with small numbers" is not being rendered correctly when dragging. The drag object is not positioned in the right place, it's always positioned at (top: 0, left: 13) relative to the `#perseus` div.

![kolibri](https://user-images.githubusercontent.com/50350/145807277-1b0cf13a-e827-4bba-9fbd-

[2021-12-13 13:19] marcellamaki commented on #8896
@radinamatic -- on the android app view you have screenshot, you're in the report, not actively taking the quiz. Do you experience the same problem if you hit the "try again" button and re-start the quiz?

[2021-12-13 15:28] rtibbles commented on #8905
Hrm, I am wondering if this is a regression caused by wrapping the perseus renderer in our KGrid component.

[2021-12-13 16:44] radinamatic commented on #8896
Argh, you are correct... 🤦🏽‍♀️

What got me confused is that a brief flash of the counter is seen on the quiz report, **but only on the real device**, not if I record the Chrome dev tools inspect window. Here's what I see IRL:

https://user-images.githubusercontent.com/1457929/145853121-d07ddb63-4031-4479-9808-3abd46bf3b60.mp4

[2021-12-13 17:15] marcellamaki commented on #8896
Thanks for clarifying @radinamatic -- that's helpful. I can take a look at this, although I'm not sure given the new context that it's a P0 (but I defer to @sairina 😄). I can prioritize if there's nothing more critical that needs to be finished or reviewed before the release today!

[2021-12-13 17:25] indirectlylit opened #8907 "switch vue template compiler to condense whitespace"
## Overview

Switch the Vue template compiler option from the deprecated `preserveWhitespace: false` to `whitespace: 'condense'` in the webpack configuration. This removes whitespace-only text nodes between elements (instead of collapsing them to a single space), eliminating a class of Prettier-induced whitespace bugs and aligning with the Vue 3 default behavior.

**Complexity:** Low
**Target bran

[2021-12-13 17:45] radinamatic commented on #8896
Yeah, not sure if it warrants the P0 status either...

[2021-12-13 18:35] radinamatic opened #8908 "Generate JSON file with strings in English"
## Observed behavior
Long overdue reminder, I'm so sorry!!! 😞

We need those EN strings as fallback, let's get them in.

## Errors and logs
…

## Expected behavior
…

## User-facing consequences
…

## Steps to reproduce
…

## Context
…

cc @rtibbles

[2021-12-13 20:38] indirectlylit opened #8910 "remove unnecessary uses of $computedClass"
## Observed behavior

`$computedClass` is available for specifying colors in pseudo-elements such as `:hover` or `:focus`. For example, this is a necessary use:

[code]

## Expected behavior

For most styles it is not necessary to use `$computedClass` and elements can be styled directly:

[code]

In situations where the style gets complex, computed props can be used:

[code]

[code]

## User-facin

[2021-12-13 22:11] #8827 closed, assigned to nucleogenesis

[2021-12-13 22:51] rtibbles opened #8913 "HybridLearningContentCard is missing handling for copies"
## Observed behavior
Both [ResourceCard](https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/learn/assets/src/views/cards/ResourceCard/index.vue#L33) and [HybridLearningCardListView](https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue#L62) have handling for the `copies` attribute

[2021-12-13 22:56] #8776 closed, assigned to nobody

[2021-12-13 22:56] #8848 closed, assigned to jredrejo

[2021-12-13 23:37] radinamatic opened #8915 "Investigate non-idempotency of the 'make i18n' command"
## Observed behavior
Encountered in #8911  and #8804 (relevant [Slack conversation](https://learningequality.slack.com/archives/CB37UM23A/p1639435993381500)).

## Errors and logs
…

## Expected behavior
…

## User-facing consequences
…

## Steps to reproduce
…

## Context
…

[2021-12-14 01:19] #8908 closed, assigned to rtibbles

[2021-12-14 03:06] indirectlylit commented on #8787
Hi @StarTrooper08 and @sharifmaryam – we've just added a new 'codebase contributions' section of our community forum!

https://community.learningequality.org/c/connections-contributions/kolibri-codebase-contributions/31

if you'd like some help understanding how the code base works, feel free to post your questions there, and thank you in advance for your contributions!

[2021-12-14 03:32] indirectlylit commented on #8899
Thank you @pranay101! If you work on this, please target the [`theme-updates`](https://github.com/learningequality/kolibri/tree/theme-updates) branch which will be released in the 0.15.1 patch.

[2021-12-14 05:09] nucleogenesis opened #8919 "LearningActivityChip background contrast fails a11y check"
## Observed behavior

The light gray used as the background on LearningActivityChip is too light and can be barely visible in some cases. I suspected this while testing on Chrome, but for some reason it became glaringly obvious when I couldn't see the background at all while testing on BrowserStack IE11. I can barely see it on one of my screens and almost cannot see it at all on the other.

![imag

[2021-12-14 14:59] pcenov opened #8921 "Kolibri Android App - 'Webpage not available' message is displayed after launching the app"
## Observed behavior
I'm seeing a 'Webpage not available' message after launching the Android app which disappears after 15-20 seconds and then I can interact normally with the app.

## Steps to reproduce the issue
1. Install the following Android build: https://buildkite.com/learningequality/kolibri-android-installer/builds/3613
2. Launch the app
3. Observe that an error screen is displayed and o

[2021-12-14 14:59] pcenov commented on #8921
@radinamatic

[2021-12-14 15:02] rtibbles commented on #8921
Unfortunately this is currently expected behaviour due to an Android API upgrade we had to do. I will transfer this issue to the android installer repository, but note that we won't fix this prior to releasing 0.15.

[2021-12-14 15:29] pcenov opened #8922 "Kolibri Android App - Incorrect quiz completion messages"
## Observed behavior
While testing the Android app today I noticed a weird behavior after completing a quiz which I was subsequently unable to replicate. Filing an issue in case the logs/screenshots will have some info for the devs.

## Steps to reproduce the issue
1. Install the following Android build: https://buildkite.com/learningequality/kolibri-android-installer/builds/3613
2. Launch the app

[2021-12-14 15:29] pcenov commented on #8922
@radinamatic

[2021-12-14 15:32] pcenov commented on #8868
Just adding a note here that I'm managing to 'hack' the pdf completion by first decreasing the size of the pdf pages and then increasing it up to  about 150% percent and slowly scrolling down. Not sure why that works but it sure does so adding it here as an additional clue...

[2021-12-14 15:33] radinamatic commented on #8922
Encountered the same last week 🙂

![DevTools - localhost 8080-en-learn---topics-c-9f121944a93942fc999c96fa21ba6281 lessonId=63c71d9c40d80d82921104dda1785898 classId=dd2541e39fa77dbf5f39a3ffc346149f last=LESSON_PLAYLIST_001](https://user-images.githubusercontent.com/1457929/146028615-11db2b74-43dd-40be-b05a-5b5c26c0b217.png)

@rtibbles , given that neither @pcenov nor I were able to replicate it co

[2021-12-14 16:10] rtibbles commented on #8922
I can backport the fix I had worked up for practice quizzes in develop to address this as well.

[2021-12-14 18:14] #8630 closed, assigned to marcellamaki

[2021-12-14 19:21] #7785 closed, assigned to jredrejo

[2021-12-14 19:35] #8869 closed, assigned to rtibbles

[2021-12-14 20:41] rtibbles commented on #8842
So far not reproducible, downgrading severity, but may close if not replicable.

[2021-12-14 20:48] radinamatic commented on #8842
Talked about this with @pcenov today, we both use the playback speed feature extensively during testing (I'd use 10x if it were there 😛), and we never experienced completion issues because of it.

[2021-12-14 20:48] rtibbles commented on #8847
Also on large views when there are no folders, the 'Folders' header still appears and is still selectable:

![uselessheaders](https://user-images.githubusercontent.com/1680573/146077056-9ca2ead0-7cb8-4d91-8ac9-7018950b785d.gif)

[2021-12-14 20:52] rtibbles opened #8927 "Finalize H5P integration"
- [ ] Disable time based progress tracking for H5P files in the HTML5 viewer
- [ ] Log all logged xAPI statements even when they fail validation, but mark them as such
- [ ] Add logic in the score calculation logic to handle invalid statements

[2021-12-14 21:04] rtibbles commented on #8905
Removing KGrid does not resolve this, so that does not seem to be the cause here.

[2021-12-14 23:18] sairina commented on #8893
Can confirm that this bug also exists for the browser. But, not sure if the completion modal is too short, or if the "Submit" modal is persisting too long?

![2021-12-14 12 54 06](https://user-images.githubusercontent.com/13563002/146094613-dda7c085-0ad1-450f-af60-0923273af649.gif)

[2021-12-14 23:40] rtibbles commented on #8893
I think this might be caused by optimistic updating of `complete` to `true` - if we rolled that back, then it would show the submit modal until submission had completed, then pop up the completion modal.

[2021-12-14 23:40] rtibbles commented on #8893
But we might want to add some loading state to the submission modal to indicate when it is being submitted?

[2021-12-15 00:54] #8922 closed, assigned to rtibbles

[2021-12-15 17:12] pcenov opened #8934 "Android App - App stops syncing with the server"
## Observed behavior
After installing the app and importing learners it gets synced with the server but then after completing some of the assigned lessons/quizzes I have to manually restart the app to get it synced. This worked for some period of time and then it completely stopped syncing and restarting the app or the server is not solving the issue.
I do see a `django.db.utils.OperationalError:

[2021-12-15 17:12] pcenov commented on #8934
@radinamatic

[2021-12-15 17:14] rtibbles commented on #8934
Hrm, it does seem to continue syncing after the database is locked error though - so we seem to have succeeded in making it robust to that.

[2021-12-15 17:26] pcenov commented on #8934
Interesting... Adding that so far I've been able to 'fix' any syncing issues which I've been experiencing with simply restarting either the app or the server but no luck in this case so hoping that the logs and databases would give you some insight into what might be the root cause.

[2021-12-15 19:07] rtibbles commented on #8842
Further details for replication from @jtamiace:

combinations of these things consistently are making it happen:

- changing the speed
- pause video, then leave the page or refresh
- or refresh while it’s still playing. for this case, sometimes it doesn’t save the progress and jumps the video progress back a little)
- change speed again after refreshing/returning to video
- repeat

[2021-12-16 00:18] rtibbles commented on #8842
I was able to replicate slightly premature completion appearing given some of the foregoing, but it flashed up a few seconds early at most.

[2021-12-16 00:29] #8809 closed, assigned to sairina

[2021-12-16 00:29] rtibbles commented on #8809
Fixed in #8856

[2021-12-16 00:34] radinamatic commented on #8934
I'm not able to reproduce this with the latest [assets APK](https://buildkite.com/learningequality/kolibri-android-installer/builds/3633) and DEB on Ubuntu 18.04: syncing continues without problems for 2 hours after the installation while I was interacting with the resources, and there was no need to restart the app... 🤔

1 | 2
--- | ---
![Selection_032](https://user-images.githubusercontent.com/1

[2021-12-16 06:41] radinamatic commented on #8915
A bit of history 🔍 :
* During the recent string freeze I have run `make i18n-download...` several times until beginning of November without issues, adding the new locales [`ha`](https://github.com/learningequality/kolibri/pull/8352), [`id` and `ka`](https://github.com/learningequality/kolibri/pull/8408), and translations that had been added on Crowdin.
* Problems started when I tried to add the [`

[2021-12-16 10:04] pcenov commented on #6242
@rtibbles and @radinamatic the issue reported here in my last comment is still present in the [latest 0.15 build](https://buildkite.com/learningequality/kolibri-macos/builds/4939#000fe592-3efd-41fa-ac48-836d9320259b). The videos are not playing neither in the app nor in Safari (14.1.2). Videos are playing fine in Chrome browser though so it must be a specific setting that Safari requires in order

[2021-12-16 14:17] indirectlylit commented on #8915
I'll be taking a look at this in the afternoon

[2021-12-16 14:45] #8829 closed, assigned to MisRob

[2021-12-16 17:03] #8847 closed, assigned to marcellamaki

[2021-12-16 17:12] rtibbles commented on #8934
Just to clarify @pcenov - the symptom of it 'stopping' syncing, is indications of syncing on the server UI stopping, or data actually no longer showing up in the server for recent activity, or both?

[2021-12-16 17:18] radinamatic commented on #8934
@pcenov shared during our sync-up today that he was not able to replicate the syncing problem with the latest APK asset from the 0.15 branch, same as me.

We'll keep syncing under close observation until the release and 🤞🏽 stays healthy!

[2021-12-16 18:27] rtibbles commented on #7884
This issue is complete.

[2021-12-16 18:27] #7884 closed, assigned to jtamiace, jonboiser

[2021-12-16 18:28] rtibbles commented on #7885
This issue is complete.

[2021-12-16 18:28] #7885 closed, assigned to jtamiace, jonboiser

[2021-12-16 20:41] #8913 closed, assigned to marcellamaki

[2021-12-16 20:57] radinamatic commented on #8380
1 & 2 are still extant in the setup wizard when installing from APK on Android @marcellamaki, and you should  be able to replicate if you start without the home folder even on desktop, to trigger the setup wizard.

Android | Firefox on Ubuntu
--- | ---
![setup-wizard](https://user-images.githubusercontent.com/1457929/146447327-0379fdd8-9b75-4f23-9201-d3bbfd123c10.gif) | ![setup-wizard-browser](htt

[2021-12-16 21:01] radinamatic commented on #8380
Note that the **Select network address** modal is nice and responsive in the step to select the server device for channel import towards the end of the workflow: it should be that way even when selecting the device to import the learner account at the beginning.

[2021-12-16 21:13] #8823 closed, assigned to rtibbles

[2021-12-16 21:53] indirectlylit commented on #8380
note to watch out for tab order, and try to ensure that the primary button comes first.

For example:

![image](https://user-images.githubusercontent.com/2367265/146454598-e6c6c497-16b4-4217-a895-77173dd8456e.png)

This looks backwards.

Modals are supposed to actually have special logic so that 'cancel' displays on the left but comes second in tab order.

[2021-12-16 22:38] #8905 closed, assigned to rtibbles

[2021-12-16 23:32] #8915 closed, assigned to indirectlylit

[2021-12-16 23:36] rtibbles commented on #8210
This is complete.

[2021-12-16 23:36] #8210 closed, assigned to nobody

[2021-12-16 23:37] rtibbles commented on #4972
This has now been resolved.

[2021-12-16 23:37] #4972 closed, assigned to nobody

[2021-12-16 23:38] rtibbles commented on #7863
Complete.

[2021-12-16 23:38] #7863 closed, assigned to khangmach

[2021-12-16 23:39] rtibbles commented on #7857
Primary goals achieved here. Closing this epic.

[2021-12-16 23:39] #7857 closed, assigned to nobody

[2021-12-16 23:44] rtibbles commented on #2007
Wontfix.

[2021-12-16 23:44] #2007 closed

[2021-12-17 01:53] rtibbles commented on #8615
Fixed in #8939

[2021-12-17 01:53] #8615 closed, assigned to radinamatic

[2021-12-17 15:28] indirectlylit commented on #7650
can be addressed with updates to KDS linked above

[2021-12-17 15:42] #8551 closed, assigned to nucleogenesis

[2021-12-17 15:52] #8801 closed, assigned to rtibbles

[2021-12-17 16:01] rtibbles commented on #3726
This has been resolved by ongoing work for the 0.15 milestone, thumbnails have never looked so good!

[2021-12-17 16:01] #3726 closed, assigned to nobody

[2021-12-17 16:30] MisRob commented on #8627
This was related to issues caused by certain layout of elements within one breakpoint. The layout seems to haven been updated recently and I can't find conditions to reproduce this particular issue anymore. I made some improvements in #8947 that were meant as a fix for this issue originally, but even without them things seems to work pretty well now to me, so closing.

[2021-12-17 16:30] #8627 closed, assigned to MisRob

[2021-12-17 16:33] #8888 closed, assigned to rtibbles

[2021-12-17 16:38] #8767 closed, assigned to rtibbles

[2021-12-17 17:02] vkWeb commented on #8899
@pranay101 how's the progress on this? if you need any help feel free to ping me brother.

[2021-12-17 17:03] pcenov commented on #8934
Yup, also no issues with syncing while testing on [this build](https://buildkite.com/learningequality/kolibri-python-package/builds/4673) today with 3 learners imported to the same device.
To answer @rtibbles question: the symptom of stopping syncing was that data was actually no longer showing up in the server and newly assigned lessons not showing on the learner's device.

[2021-12-17 17:11] pcenov opened #8948 "Edit Permissions - German text issues"
## Observed behavior
While testing https://github.com/learningequality/kolibri/pull/8946 I noticed that when viewing the content in German at the Edit Permissions page the name of the learner is getting to close to the label. Note that in IE 11 the labels are not left aligned.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-python-pac

[2021-12-17 17:11] pcenov commented on #8948
@radinamatic

[2021-12-17 17:46] radinamatic commented on #8934
Closing this as not extant anymore on the latest assets from the 0.15 branch.

[2021-12-17 17:46] #8934 closed, assigned to nobody

[2021-12-17 19:00] #6712 closed, assigned to rtibbles

[2021-12-17 20:29] #8844 closed, assigned to sairina

[2021-12-17 21:54] #8927 closed, assigned to rtibbles

[2021-12-17 22:15] #7337 closed, assigned to nobody

[2021-12-17 22:29] socketbox commented on #5721
See https://www.notion.so/learningequality/Move-a-SQLite-database-to-PostgreSQL-Using-PGLoader-8807b6515d8d4dc0a08b78934a6aebfa

[2021-12-18 00:08] #8380 closed, assigned to marcellamaki

[2021-12-19 14:36] pranay101 commented on #8899
@vkWeb yeah brother, it seems Kolibri is getting way too heavy for my system. any idea on how to run it in a light mode or something.

[2021-12-20 05:45] rtibbles opened #8960 "Build error did not break the build."
## Observed behavior
Frontend build for a plugin broke, but the build still exited with a 0 error code.

## Errors and logs
[code]

And yet still showed:
[code]

## Expected behavior
Build failure should result in non-zero exit code.

[2021-12-20 18:37] holta opened #8963 "Why is the new release tagged v.0.15.0 instead of v0.15.0 ?"
Was the additional dot (period, to the right of the letter 'v') added by accident...or for a reason?

https://github.com/learningequality/kolibri/releases/tag/v.0.15.0

[2021-12-20 18:45] nucleogenesis commented on #8963
Ah that was a mistake - thanks for catching that

[2021-12-20 18:51] radinamatic commented on #8963
Thank you @holta, it's a privilege to have such an attentive community! 🥇 💯

[2021-12-20 18:51] #8963 closed, assigned to nobody

[2021-12-21 08:19] MisRob commented on #8899
@pranay101

You can run `yarn run build` to build all plugins once and then only rebuild those plugins that your work is affecting like `yarn exec kolibri-tools build dev -- --plugins kolibri.core,kolibri.plugins.learn` together with `yarn run python-devserver`

[2021-12-31 10:15] Lewiscowles1986 commented on #6831
Upstream only merged the changes to KeenUI today. Not sure if this was ever fixed locally, but now the upstream patches too 👍

[2022-01-04 16:04] #8910 closed, assigned to MisRob

[2022-01-04 16:04] MisRob commented on #8910
Resolved in #8965

[2022-01-04 16:07] MisRob commented on #8899
@pranay101 Are you still planning to work on this?

[2022-01-04 16:36] pranay101 commented on #8899
@MisRob I tried running it on my system and it had me force shutdown my PC. I don't think I could work on this UI part of Kolibri. looking for some backend issue where I can put my contribution.

[2022-01-04 17:18] #7864 closed, assigned to khangmach

[2022-01-05 06:03] MisRob commented on #8899
Thank you for the information, I'll assign myself to this one then

[2022-01-05 14:09] marcellamaki commented on #8800
Fixed in #8945

[2022-01-05 14:09] #8800 closed, assigned to nobody

[2022-01-07 15:51] marcellamaki opened #8977 "Hybrid Learning Front End Refactoring"
### Context: concerns that make this work necessary

- Library, Topics, and Bookmarks page are large and hard to read
- There are lots of similarities/redundancies between pages, but there are enough differences that things have not been abstracted, just duplicated and tweaked
- cards have many variations which can be hard to make sense of
- new card grid used on these pages is rather brittle, esp

[2022-01-07 15:56] marcellamaki opened #8978 "Refactor library page using a reusable/props-driven component for main content/content grid(s)"
These sections can be turned into a "main view" component. This component could either be used twice within the page (one for the default view and once for results) or could be used once and have the contents changed based on whether or not search results are displayed. As a follow up issue, the same changes can be applied in the Topics Page.

**Writing unit tests for this new component is part of

[2022-01-07 16:47] marcellamaki opened #8979 "Refactor topic page using a reusable/props-driven component for main card/content grid(s)"
Apply refactor from Library page to topics page. **Updating the new component unit tests if needed is part of this issue being done**

![Screen Shot 2022-01-07 at 11.47.42 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/9496bd29-7f34-476c-80e1-bb7f49847e0d)

![Screen Shot 2022-01-07 at 11.48.08 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/e5952bf1-3fc

[2022-01-07 16:54] marcellamaki opened #8980 "Write unit tests for library page"

[2022-01-07 16:54] marcellamaki opened #8981 "Write unit tests for topic page"

[2022-01-07 16:55] marcellamaki opened #8982 "write unit tests for EmbeddedSidePanel"

[2022-01-07 16:55] marcellamaki opened #8983 "Write unit tests for HybridLearningCardGrid"

[2022-01-07 18:34] lauradanforth opened #8984 "Forms not working in HTML5 content on v15 (but had worked in 0.14)"
[Reported from the community forum](https://community.learningequality.org/t/forms-not-working-in-html5-content-on-v15/2274):

[2022-01-07 21:55] indirectlylit commented on #7650
@rtibbles FYI this can be addressed now

[2022-01-09 09:43] abhimnc commented on #8978
hi @marcellamaki. I would like to contribute to this issue. I have contributed to #8782 and #8720 till now. Can you give me some heads up for this issue which might be useful ?
I have also interacted with you over mail regarding contribution. Hope you  remember me :).

[2022-01-10 16:10] jredrejo commented on #8984
Forms and any other external HTML loaded by kolibri do work.
It's just the `HTML5` section does not exist any more because it's not needed.

Any HTML5 content loaded by kolibri is now server under a different TCP port to allow both full functionality and avoid security risks to kolibri itself.
If a server is used to receive these external forms data they have to be aware of their different TCP set

[2022-01-10 16:10] #8984 closed, assigned to nobody

[2022-01-11 22:55] sairina opened #8988 "Library's category search modal's options' `KFixedGrid` requires `numCols` to be greater than 1"
## Observed behavior
In the mobile view, when a learner clicks on Filter button to open the side panel overlay, if they click on a category like "School," there is an error message on the console related to `KFixedGrid` and the `numCols` prop passed from `CategorySearchModal` to `CategorySearchModalOptions`.

The validator for `KFixedGrid` requires a number between 2 and 12, but the `numCols` pass

[2022-01-12 22:36] sairina opened #8989 "Refactor: adding optional/required props in `FullScreenSidePanel`"
## Observed behavior
Currently, there are two places where the `close` button that appears in mobile can be rendered from: `FullScreenSidePanel` and `LibraryPage`. As it currently stands in the code, the `close` button in `FullScreenSidePanel` is always hidden when a user is in the Library page and in a Topic page, and that button is rendered instead by the `LibraryPage` and `TopicsPage` parent co

[2022-01-13 18:15] sairina opened #8992 "Side panel should gain focus when opened w/keyboard"
The side panel does not have focus when a user using a keyboard as input modality opens it via the "Filter" button on the Library page (or the "Folders" button on the Topics page). The keyboard focus is still on the main content underneath the side panel.

Impact:
User is unable to use the filters in the side panel in "Filter"
User is unable to access folders in the side panel in "Folders" (on the

[2022-01-13 18:28] jtamiace opened #8993 "The content in filter panels should extend to the full width of the panel"
## Observed behavior

Noticed while reviewing https://github.com/learningequality/kolibri/pull/8986

On the right side of the panel, there is extra white space.

<img width="574" alt="Screen Shot 2022-01-13 at 10 26 26 AM" src="https://user-images.githubusercontent.com/6668144/149387934-fe9a6ca4-560c-41e7-a96b-0f4f586047ab.png">

## Expected behavior

The content should extend to the full width of

[2022-01-13 19:49] rtibbles opened #8994 "REMOTE_CONTENT option does not affect required storage at content import"
## Observed behavior
When using the `REMOTE_CONTENT` option, the device plugin is not aware that this means that no local storage space is required in order to import content.

This means that on devices using this option, the amount of content that can be imported at one time will be artificially restricted.

## Expected behavior
Should be able to import any amount of content when `REMOTE_CONTENT

[2022-01-14 17:10] yeffrimic opened #8997 "ERROR adding new facility"
Im trying to import a new facility from internet using the v0.15 with the web and command line this is the output from command line

kolibri manage registerfacility --facility 10.116.0.2 da9f
INFO     Option DEBUG in section [Server] being overridden by environment variable KOLIBRI_DEBUG
INFO     Option DEBUG_LOG_DATABASE in section [Server] being overridden by environment variable KOLIBRI_DEBUG_L

[2022-01-18 17:19] nucleogenesis opened #9003 "Identify and write test scenarios for the various concerns handled by CoreBase"
Create a breakdown of CoreBase and its various concerns and present some kind of documentation thereof.

Deliverable:
- [ ] Write a set of test spec files which are not implemented (no `expect` calls) which encapsulate the various aspects of CoreBase.
- [x] Document one or more ways in which those concerns might best be separated and a strategy for how this can be done within Learn

[2022-01-18 20:08] marcellamaki opened #9004 "Refactor HybridLearningCardGrid to make less brittle and improve readability"
The HybridLearningCardGrid component handles a variety of different card displays and manages mobile responsiveness. The code is also inconsistent in places, especially around the conditions that determine the card style that is rendered in the grid.

The following problems should be solved by the refactor:
- [ ] update all places that check which page is the current page to consistently use `Page

[2022-01-18 21:13] rtibbles commented on #7960
This Epic was resolved with the release of 0.15.0.

[2022-01-18 21:13] #7960 closed, assigned to nobody

[2022-01-18 21:21] rtibbles opened #9005 "Upgrade Webpack to version 5"
Upgrade Webpack to version 5, and update all associated dependencies.

[2022-01-18 21:22] rtibbles opened #9006 "Upgrade kolibri-tools to use NodeJS 16"
Upgrade to latest LTS.

[2022-01-18 21:26] rtibbles opened #9007 "Simplify webpack dev server"
Use a single dev server instance to serve all bundles by using a multi-configuration setup instead of multiple independent devservers.

We did this due to a historic limitation in webpack dev server that now seems to have been resolved. More details here: https://github.com/webpack/webpack-dev-server/issues/641#issuecomment-444055379

The basic approach involves serving each configuration from a s

[2022-01-18 21:31] rtibbles opened #9008 "Resolve hot reloading issues for external plugin development with kolibri-tools"
Currently Hot Module Reloading breaks when developing external plugins - ensure that this no longer happens.

[2022-01-18 21:58] nucleogenesis opened #9009 "Add tests for 5 KDS components"

[2022-01-19 15:43] pcenov opened #9010 "Browse channel - The Folders and Search section are not fully displayed when there are 0 results"
## Observed behavior
When I go to Learn>Library and apply a filter for which there are 0 results and navigate to the Browse channel page I see the Folders and Search section shrunk.
See the attached screenshot

## Steps to reproduce the issue
1. Install the official 0.15 build of Kolibri
2. Import the QA Channel (nakav-mafak) and go to Learn>Library
3. Filter by language - Espanol - and click the

[2022-01-19 15:43] pcenov commented on #9010
@radinamatic

[2022-01-19 18:09] radinamatic commented on #9010
Replicated in Firefox on Windows 7.

![filter-0-results](https://user-images.githubusercontent.com/1457929/150188584-44c8b318-f6bb-4490-9067-273865cb2270.gif)

[2022-01-20 17:26] rtibbles opened #9013 "API endpoints with primary keys that use Morango's UUID field return 500s for invalid IDs rather than a 4xx code"
## Observed behavior
Navigating to a URL such as `/api/content/contentnode/invalid/` will result in 500 errors due to the badly formed UUID.

## Errors and logs

[code]

## Expected behavior
Badly formed UUIDs should be properly handled and result in either a 404 or a 400. 404 would be preferable.

Unclear whether this should be fixed in the UUID field implementation in Morango, or just where it i

[2022-01-20 19:35] rtibbles opened #9015 "Create a reusable Github Action workflow for creating the PEX file"
Creating a [reusable workflow](https://docs.github.com/en/actions/using-workflows/reusing-workflows) will allow an action from this repository to be used by the main build action to build the PEX file and separate our PEX file builds from our WHL builds.

[2022-01-20 19:36] rtibbles opened #9016 "Create a Github Action that builds Kolibri WHL files and then passes them off to other reusable workflows"
Creating a Github Action to build the WHL file will allow us to reduce the load on our Buildkite servers, and allow us to iterate more quickly.

However, to maintain parity with our current build system, we need to be able to pass the assets to other builds to create installers.

[2022-01-20 22:28] sairina opened #9017 "Focus is not leaving the main content in multiple dropdown menus"
## Observed behavior
In most (if not, all) parts of Kolibri outside of the navbar and appbar, if a user is navigating with a keyboard, when they tab into anything with a dropdown menu, the focus is not gained by the menu component, but instead, stays in the main content, and the user cannot use any keys to navigate within the menu.

Some examples include:

|Facility > Users|
|--|
|![2022-01-20 14

[2022-01-21 13:17] MisRob opened #9019 "Theme links in top navigation bars"
Due to technical limitations, we couldn't utilize theme colors fully for links in top navigation bars in the past, e.g. Home, Library, and Bookmarks links in Learn:

![links](https://user-images.githubusercontent.com/13509191/150531284-f3ddd52a-16f4-4989-b8e7-6cebaa6afdf5.png)

When a link is active, we use hardcoded `white` colors

https://github.com/learningequality/kolibri/blob/9048d77029e622b5

[2022-01-21 13:37] MisRob commented on #8983
I'd suggest rather focusing on moving towards working on KDS `KGrid` so that we can use it instead and if not possible, at least revisiting all grids in Kolibri at first. So that we don't end up maintaining many grid components when not necessary.

[2022-01-21 13:38] MisRob commented on #8919
Just a note that the background color won't be hardcoded anymore after we merge https://github.com/learningequality/kolibri/pull/9011, however, we still need to resolve the insufficient contrast issue.

[2022-01-21 14:27] pcenov opened #9020 "Survey modality - Answer history is displayed in reverse order"
## Observed behavior
The answer history is displayed in reverse order with the last question being displayed on top of the list.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-python-package/builds/4813
2. Import the Colors of Kindness (gutuf-potuv) channel and go to Learn>Library
3.  Complete any of the available surveys

## Additio

[2022-01-21 14:30] pcenov opened #9021 "Survey modality - Getting 500 points for a completed survey in both desktop and mobile view"
## Observed behavior
Currently I'm getting 500 points for a completed survey while there should be no points awarded for a survey.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-python-package/builds/4813
2. Import the Colors of Kindness (gutuf-potuv) channel and go to Learn>Library
3.  Complete any of the available surveys

## Addit

[2022-01-21 14:40] pcenov opened #9022 "Survey modality - Coach cannot assign a survey to a learner"
## Observed behavior
If I attempt to assign a survey to a learner when I sign in as a learner I see the survey as a regular quiz. Also the coach is able to see a report with the correct/incorrect answers.
Expected: Coach should be able to assign surveys to learners and when looking at reports, they should not display any correct/incorrect information, any scores, or completion criteria.

## Steps

[2022-01-21 14:47] pcenov opened #9023 "Survey modality - Cannot see the report for a survey submitted without any answered questions"
## Observed behavior
If I submit a survey without answering any of the questions and then go ahead and check the report I see only a spinner icon and an error in the console: TypeError: Cannot read properties of undefined (reading 'item')

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-python-package/builds/4813
2. Import the Colors o

[2022-01-21 16:09] rtibbles commented on #9022
Is this assigning it within a lesson, or assigning it within a quiz? If the latter, this is intended behaviour at the moment.

[2022-01-21 16:09] rtibbles commented on #9021
Why should no points be awarded for a survey? This is intended behaviour at the moment.

[2022-01-21 16:09] #9021 closed, assigned to nobody

[2022-01-21 16:22] pcenov commented on #9021
I might have got carried away here 😅 - indeed there is no requirement against getting reward points for just completing a survey.

[2022-01-21 16:26] pcenov commented on #9022
Assigning within a quiz. Assigning within a lesson is functioning correctly. It just seemed logical to me that it should be possible to assign it as a quiz though...

[2022-01-21 16:35] rtibbles commented on #9022
Right - 'assigning within a quiz' is 'creating a quiz from the survey' so it is expected that it makes a quiz.

[2022-01-21 16:35] #9022 closed, assigned to nobody

[2022-01-21 16:56] nucleogenesis commented on #9023
@jtamiace @radinamatic

Should the expected behavior here be that the user is not permitted to submit an empty survey or that they see an empty report?

I can add some placeholder strings that I think fit unless y'all have some suggestions for how best to handle this UX.

[2022-01-21 17:07] radinamatic commented on #9023
Wouldn't the easiest solution be to **not** introduce any new strings? If the user submits a survey without any answers, the report should display exactly that, no answers.

Not liking the idea that we keep pushing in new strings on the fly and in the rush... 😕

[2022-01-21 17:49] MisRob opened #9025 "Explore ways that would allow us using theme colors when styling 3rd party components via CSS classes"
In the slideshow renderer, we use the 3rd party component, [hooper](https://www.npmjs.com/package/hooper), for the carousel:

![carousel](https://user-images.githubusercontent.com/13509191/150574628-b14c5445-bdc2-4624-8c88-e5c1bf5c060c.png)

We customize its styling in [custom-hooper.css](https://github.com/learningequality/kolibri/blob/2f93cb01fe9de910843bbaf462ae82c5b7a088ea/kolibri/plugins/slid

[2022-01-21 18:00] MisRob commented on #9025
One idea would be to add support for sub-classes selectors to `$computedClass`:

[code]

which might be handy for other use-cases, as mentioned here:

(just a note that the following issue can be also solved in another way and there's already [an issue open](https://github.com/learningequality/kolibri/issues/9019), mentioning it only to demonstrate other ways this could be useful)
https://github.c

[2022-01-21 18:05] bjester opened #9027 "Browser's back button behaves differently in setup flow than on-page back button"
## Observed behavior

If you use the browser's back button in the setup flow, the experience is different than using the on-page back button which behaves properly.

## Errors and logs

No errors / logs

## Expected behavior

The browser's back button should behave the same as the in-page back button

## User-facing consequences

- A broken setup flow experience and user confusion

## Steps to rep

[2022-01-21 21:29] nucleogenesis commented on #9023
The only difference then should be that the loader isn't shown?

For the purposes of getting this done by deadline, that seems fine, but after the fact (for 0.16) we should develop a better UX - at least some microcopy that says "you submitted no answers, you can submit the survey again if this was a mistake" or something?

[2022-01-21 21:36] rtibbles commented on #18
This has been resolved with recent additional metadata work!

[2022-01-21 21:43] sairina opened #9028 "Search box in embedded side panel is not highlighted when navigating from keyboard"
## Observed behavior
When a user uses a keyboard to navigate through the embedded side panel, when the navigation reaches the search box, there is no visual indication to the user that they are in the search box aside from the cursor blinking.

![2022-01-21 13 20 58](https://user-images.githubusercontent.com/13563002/150603362-473c589c-f08e-4858-b135-357c95661df0.gif)

## Errors and logs
No errors

[2022-01-21 21:51] radinamatic commented on #9023
Agreed that we should improve the UX, and since this feature is a last minute addition, I'd be very eager to hear some feedback from users first, before we dive into that.

As of now users can re-submit the survey weather they answered some, all, or none of the questions inside, so we might want to consider that too, when thinking about the microcopy improvements.

[2022-01-21 21:55] radinamatic commented on #18
Fishing in the deep pond I see, but 5 years old issue closed still feels like a milestone... 👏🏽

[2022-01-24 12:22] MisRob commented on #9004
Regarding

I'd rather suggest removing these "current page" dependencies

https://github.com/learningequality/kolibri/blob/2f93cb01fe9de910843bbaf462ae82c5b7a088ea/kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue#L20

and all others completely from `HybridLearningCardGrid` and its sub-components.

Generally speaking, a component that's responsible for grid layout and cards renderi

[2022-01-24 15:37] MisRob commented on #8786
Re-opened since this will be fixed after we install the new version of KDS which hasn't happened yet

[2022-01-24 15:50] marcellamaki commented on #9004
That's a great suggestion @MisRob -- I definitely think this could be a better approach, and it would also allow us to make use of the regular KGrid or KFixedGrid in many places, rather than trying to fit everything into one complex component. I'm going to get started on this today, and would love your review later this week :)

[2022-01-24 16:21] MisRob commented on #9004
Of course, thank you @marcellamaki

[2022-01-24 16:25] jredrejo opened #9032 "Importing users in facility using a csv file doesn't work if there are errors"
## Observed behavior
In Facility -> Data -> Import users, when the csv file is correct, everything works fine. However, if the csv file has errors, the errors notification is completely broken after the changes in the task system done in 0.15.
This problems have been seen when the kolibri/core/auth/management/commands/bulkimportusers.py command is used:
- `self.job.extra_metadata["overall_error"]

[2022-01-24 16:26] rtibbles opened #9033 "Set SECURE_CONTENT_TYPE_NOSNIFF setting to True"
## Observed behavior
Currently clients can MIME sniff content rather than deferring to the declared MIME type.

## Expected behavior
Clients should not be able to MIME sniff content, can set this response header with this setting: https://docs.djangoproject.com/en/1.11/ref/settings/#std:setting-SECURE_CONTENT_TYPE_NOSNIFF

[2022-01-24 16:37] jredrejo opened #9034 "CSV headers validation should consider non translated headers"
## Observed behavior
The kolibri/core/auth/management/commands/bulkimportusers.py command allows translation of the header columns, using parenthesis to identify the real field name.
Example:
`(UUID),Usuario (USERNAME), Contraseña (PASSWORD)....`

However, when no translation is used for the columns, the parenthesis are still needed for the headers validation to work correctly.
We should either:
*

[2022-01-24 16:54] MisRob commented on #6918
Re-opening since this will be fixed after we install the new version of KDS which hasn't happened yet

[2022-01-25 14:18] MisRob opened #9037 "Remove all instances of the `crossComponentTranslator` before the next string freeze"
## Observed behavior

After the string freeze for the `0.15` release, we couldn't modify strings and their namespaces anymore. That also means that we couldn't move strings between components. We have the `crossComponentTranslator` utility which allowed us to access translation strings in a component from another component so that we could temporarily work around this. Before the next string freez

[2022-01-25 23:59] bjester opened #9041 "Videos initially fail to play in Safari on MacOS and any iOS browser with 0.15.0"
## Observed behavior

- Videos often fail to play initially on Apple devices
- Refreshing the page sometimes resolves the issue
![Screenshot from 2022-01-25 15-40-18](https://user-images.githubusercontent.com/819838/151078078-336b3197-f43a-4bc4-83f9-81b08ee828df.png)

## Errors and logs

[code]
![Screenshot from 2022-01-25 16-09-53](https://user-images.githubusercontent.com/819838/151080908-832971

[2022-01-26 07:59] MisRob opened #9042 "Slideshow resource cards don't indicate a learning activity in title and thumbnail areas"
## Observed behavior

There is no "Read" learning activity label and icon in the card title area and the generic thumbnail (displayed when a resource has no thumbnail) is empty instead of showing a dimmed "Read" learning activity icon. This was first observed on cards in the library (compare with other cards):

![slideshow](https://user-images.githubusercontent.com/13509191/151121446-fed01495-09eb

[2022-01-26 08:00] MisRob commented on #9042
@jtamiace What learning activity should be associated with slideshow resources? "Read" I assume?

[2022-01-26 08:04] pcenov commented on #9041
Looks like a duplicate of https://github.com/learningequality/kolibri/issues/6242

[2022-01-26 08:46] MisRob opened #9043 "Missing visual separation between the last sub-folder of a topic and resources that are direct children of the topic"
## Observed behavior

This is the structure of the HTML5 topic in the Kolibri QA Channel. Notice "Slides Slides Slides!" and "Document with links" resources listed below all sub-folders of the topic.

![structure](https://user-images.githubusercontent.com/13509191/151130263-649433e1-4331-4520-83c2-8f669aa01a39.png)

These two resources are direct children of the HTML5 topic. However, in the librar

[2022-01-26 08:48] MisRob commented on #9043
@jtamiace Do you have any suggestions on how to solve this?

[2022-01-26 10:51] MisRob opened #9044 "The top bar on a slideshow resource page doesn't indicate a learning activity"
## Observed behavior

"Read" learning activity icon is missing at the top bar on a slideshow resource page

![slide](https://user-images.githubusercontent.com/13509191/151149987-40a43077-8dc9-41db-a93c-de650585aac9.png)

This is likely related to the invalid property Vue warning showing in the browser console `[Vue warn]: Invalid prop: custom validator check failed for prop "learningActivities".`

[2022-01-26 10:52] MisRob commented on #9042
Most likely related to #9044

[2022-01-26 10:52] MisRob commented on #9044
Most likely related to #9042

[2022-01-26 10:54] MisRob commented on #9044
Regarding the "needs decisions" label, see this comment https://github.com/learningequality/kolibri/issues/9042#issuecomment-1021952515

[2022-01-26 15:50] #6918 closed, assigned to MisRob

[2022-01-26 15:50] #8786 closed, assigned to MisRob

[2022-01-26 16:45] rtibbles commented on #9041
I think it's the same as your last report there, @pcenov - although I think some of the previous reports in that issue are not the same as this one.

[2022-01-26 17:26] jtamiace commented on #9042
Yes, original intent for slides was to have Read as the default activity

[2022-01-26 17:41] radinamatic commented on #9042
For the context, the `slideshow` type of resource was a prototype developed by @nucleogenesis a few years ago, but it did not go further from that _prototype_ stage. As far as I know, slideshow resource can only be made with Ricecooker, and that item in the QA channel is the only instance of a slideshow resource that exists on Studio.

[2022-01-26 20:09] jtamiace commented on #9043
I think another related problem is that the order of folders and resources set on Studio is not preserved when they are both in the same folder level. My suggestion is to use dividers like in 1a here, maybe 24px of space above and below, but can experiment to see what feels best. Or, to simply increase the amount of space used as in 1b, but I don't think that will be clear enough.

If there's any

[2022-01-27 08:56] #8899 closed, assigned to MisRob

[2022-01-27 08:58] MisRob commented on #9042
@jtamiace Thank you, I'm updating the issue description with this information
@radinamatic Thank you, I think it'd make sense to lower priority then

[2022-01-27 09:04] MisRob commented on #9044
Lowering priority https://github.com/learningequality/kolibri/issues/9042#issuecomment-1022435536 and updating the expected behavior - we should show "Read" learning activity https://github.com/learningequality/kolibri/issues/9042#issuecomment-1022422745

[2022-01-27 09:09] MisRob commented on #9042
@radinamatic I also added your comment to "User-facing consequences" sections of this issue as well as to #9044

[2022-01-27 09:14] MisRob commented on #9043
Thank you, @jtamiace, I appreciate dividers (1a). Without them, it's not very clear to me even with larger spaces.

Regarding preserving the order of folders/resources, I'm not familiar if there were some related discussions or technical limitations perhaps, so would be good to discuss with the team.

[2022-01-27 12:18] MisRob opened #9050 "A question preview area is cut off for some resolutions when taking a quiz as a learner"
## Observed behavior

For some resolutions, a question preview area is cut off even though there is enough space on the page when taking a quiz as a learner:

![quiz](https://user-images.githubusercontent.com/13509191/151354880-3e5142f9-db7a-49d1-818e-e2e058b96d62.png)

## Expected behavior

Question preview uses space that is available

## User-facing consequences

Although it's still possible to

[2022-01-27 16:20] MisRob opened #9051 "There is not enough space for the focus ring at the EPUB viewer toolbar"
## Observed behavior

When navigating an EPUB resource toolbar with the keyboard, the focus ring is clipped:

![focus-1](https://user-images.githubusercontent.com/13509191/151398487-4631df8d-7645-4372-ae42-4f979094e666.png)
![focus-2](https://user-images.githubusercontent.com/13509191/151398490-db64660a-0008-4467-a373-975309d46bff.png)

## Expected behavior

There is enough space for the whole foc

[2022-01-27 16:47] nucleogenesis commented on #9023
Closed by #9000

[2022-01-27 16:47] #9023 closed, assigned to nucleogenesis

[2022-01-27 16:59] MisRob opened #9052 "Previous/Next buttons are misaligned on smaller screens when taking a quiz as a learner"
## Observed behavior

Previous/Next buttons at the bottom toolbar are misaligned, and the toolbar has a vertical scrollbar on smaller screens, for both buttons with labels and icon buttons:

| | |
| --------------- | -------- |
| ![500px](https://user-images.githubusercontent.com/13509191/151404392-ca6ada41-99a7-4f13-acd8-bddd044ec1bb.png) | ![340px](https://user-images.githubusercontent.com/13509

[2022-01-27 17:00] #6242 closed, assigned to nobody

[2022-01-27 17:00] #9041 closed, assigned to rtibbles

[2022-01-27 17:17] MisRob opened #9053 "Previous/Next icon buttons are hard to notice on small screens when taking a quiz as a learner"
## Observed behavior

Although Previous/Next icon buttons pass contrast checks, on one of my screens, I had difficulties noticing them when taking a quiz as a learner since they're pretty small and thin.

![340px](https://user-images.githubusercontent.com/13509191/151408107-a9e8d1d5-cfd0-43f0-974f-bdc6d6d86eb6.png)

(note that the issue with buttons being misaligned is already reported in #9052)

[2022-01-27 17:19] MisRob commented on #9053
@jtamiace I think we could use buttons from [this design](https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=3861%3A92031) to improve buttons visibility, is that right?

![Screenshot from 2022-01-27 18-18-49](https://user-images.githubusercontent.com/13509191/151410202-44be92dd-c3fa-4a64-b775-ebd0f497b571.png)

[2022-01-27 17:42] radinamatic commented on #9053
Yes X 💯 !!!

I love this suggestion, let's please implement! 🙏🏽

[2022-01-28 07:48] MisRob commented on #7906
Closing since we addressed this during 0.15 hybrid learning work - e.g some new cards can be found here https://github.com/learningequality/kolibri/tree/release-v0.15.x/kolibri/plugins/learn/assets/src/views/cards

[2022-01-28 07:48] #7906 closed, assigned to nobody

[2022-01-28 09:54] MisRob opened #9057 "Signed-out user can access the bookmarks page when users are allowed to explore resources without signing in"
## Observed behavior

With this device settings:

![device](https://user-images.githubusercontent.com/13509191/151524503-0ef21110-de1e-48de-a135-444bd77dc59c.png)

I can access the bookmarks page as a signed-out user via URL `/en/learn/#/bookmarks`

![bookmarks-page](https://user-images.githubusercontent.com/13509191/151523293-ef672aa6-a8af-4938-815e-ed8dc82a7d65.png)

## Expected behavior

Even t

[2022-01-28 11:58] MisRob opened #9058 "Some resources cards are not optimized for very small screens"
## Observed behavior

For very small screens, there are several problems on resource cards on the Library and Bookmarks pages:

| | | |
| --- | --- | --- |
| Library | ![library-card](https://user-images.githubusercontent.com/13509191/151541151-2565efca-b3ab-4918-813c-b9976eb355bc.png) | - unnecessary white space on the left side of the thumbnail<br>- the thumbnail overlaps with the learning activ

[2022-01-28 12:02] MisRob commented on #9058
Many of these issues could be solved by more robust CSS allowing for auto-wrapping on very small screens. This would automatically prevent issues similar to
![Screenshot from 2022-01-28 13-03-10](https://user-images.githubusercontent.com/13509191/151543896-d64a3c45-2dc2-4fc0-b470-6516140214ac.png)
without much extra effort needed.

It may be helpful to merge and clean up our many card components i

[2022-01-28 15:21] pcenov opened #9060 "Windows only CSV import issue for non-Latin languages"
## Observed behavior
When I change the UI language to a non-Latin one such as Greek or Bulgarian, export a CSV file and immediately attempt to import the exported file without modifying it in any way I see a Loading... screen and the import never finishes. There's no indication what is the problem and no error in the console. Restarting Kolibri doesn't solve the issue and it keeps saying Loading..

[2022-01-28 15:22] pcenov commented on #9060
@radinamatic

[2022-01-28 15:47] rtibbles opened #9061 "Create multiple bundles for production"

[2022-01-28 15:51] rtibbles commented on #9061
Allow modern browsers to benefit from ES2015+ code natively, reduce bundle size, and enhance performance.

Following advice in this article:
https://philipwalton.com/articles/deploying-es2015-code-in-production-today/

Will require updating the kolibri-tools build pipeline, to produce multiple bundles in production.

It would also require updates to the webpack script tag bootstrapping in order to

[2022-01-28 16:02] rtibbles opened #9062 "Move bootstrapping of __webpack_public_path__ into automatically inserted code rather than relying on an import"
Currently the webpack variable `__webpack_public_path__` is setup in default frontend and `kolibri_module.js` by importing a special module and executing a function.

It would be better if this were automatically inserted by the webpack build process to properly set this variable for all code (at the moment non-`kolibri_module` bundles like the side nav items don't get this set).

One caveat is th

[2022-01-28 16:32] jredrejo commented on #9060
@pcenov could you:

- run `kolibri manage bulkimportusers  file.csv` with one of the csv that are failing and paste the output here?
- set your windows in one of the non-latin languages and check if it fails too? (I'm not sure if that's possible, if not , forget about it)
Thanks

[2022-01-28 19:01] radinamatic commented on #9060
Our Windows testing VMs come preloaded with ~20 language packs of those used in Kolibri (some of our languages are not even available on Windows 😉 ), so changing the UI display language to test something is doable.

[2022-01-31 07:39] MisRob opened #9067 "Signed-out user can access a resource URL containing class and lesson ids when users are allowed to explore resources without signing in"
## Observed behavior

With this device settings

![device](https://user-images.githubusercontent.com/13509191/151528236-9bb3cc02-a27a-4d15-b30c-62940645c330.png)

I can access a lesson resource page as a signed-out user when I know its URL via pasting it to the address bar, e.g. _/en/learn/#/topics/c/69b6ce4071fd54fd82fab705fc89797f?lessonId=ca87af39b5a025cd51d8b87ff2ce95db&classId=68fdf5eca4d9e18

[2022-01-31 09:34] pcenov commented on #9060
Hi @jredrejo here's the output when I run the `kolibri manage bulkimportusers file.csv` command:
[code]
As suggested by you I tested this on a Windows VM with Bulgarian interface , exported the csv in Bulgarian, didn't modify anything in the CSV file and when I attempted to import it it still fails.

[2022-01-31 10:59] MisRob opened #9068 "RTL problems on the edit lesson details page in coach"
## Observed behavior

When I edit details of a lesson in coach, there are the following problems for RTL languages:

1. "Entire class" radio button not  right-aligned in the recipients section
2. "Entire class" and "Individual learners" icons are not right-aligned and overlap with labels in the recipients section
2. Missing space between a resource label and its icon in the resources section

| RT

[2022-01-31 11:11] MisRob commented on #8125
Resolved in https://github.com/learningequality/kolibri/pull/8973

[2022-01-31 11:11] #8125 closed, assigned to nobody

[2022-01-31 11:43] MisRob opened #9069 "Wrong focus behavior in the main side navigation panel"
## Observed behavior

When I navigate the main side navigation with the TAB key, there are the following problems:

- The close button gets focused first
- As I circle between focusable elements over and over, the close button never gets focused again
- When I arrive to "Usage and privacy" link and press TAB, the focus ring disappears. I need to click TAB one more time to see the focus ring move t

[2022-01-31 12:08] jredrejo commented on #9060
Thanks you both (and thanks to the vm machine Radina sent me some weeks ago) I think I have fixed the problem.
I've added the fix to #9039 to try to have it in 0.15.x asap.
@pcenov please, check it with the latest changes in #9039 if you have a chance

[2022-01-31 15:27] marcellamaki opened #9070 "Investigate focusOutline inconsistencies in Safari and Firefox"
## Observed behavior

While doing manual QA for #9038, @radinamatic and I both encountered some inconsistencies with the `focusOutline()` around

## Expected behavior
`focusOutline()` should be applied (relatively) consistently and surround the entire selected element

## User-facing consequences
- no focus outline present would be a major blocker for keyboard users navigating in browsers other th

[2022-01-31 20:58] #8392 closed, assigned to nobody

[2022-01-31 20:59] #7647 closed, assigned to jtamiace

[2022-01-31 20:59] #8893 closed, assigned to rtibbles

[2022-01-31 21:00] #8808 closed, assigned to nobody

[2022-01-31 21:06] marcellamaki commented on #8640
Closed with #8902
https://app.zenhub.com/workspaces/kolibri-ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8878

[2022-01-31 21:06] #8640 closed, assigned to hamzamunaf

[2022-01-31 21:39] marcellamaki commented on #8255
Closed in error -- only partially fixed

[2022-01-31 21:40] marcellamaki commented on #8273
Closed in error

[2022-01-31 21:52] marcellamaki commented on #8808
Moved to: https://github.com/learningequality/kolibri-design-system/issues/302 since this is a changed that needs to be discussed and implemented in KDS

[2022-01-31 22:45] jtamiace opened #9071 "Android app designs"
This project will be updated with more detail as the quarter goes on

## Background, documentation, resources
https://www.notion.so/learningequality/Scope-the-technical-and-design-foundations-to-publicly-release-a-great-first-time-experience-on-the--df8f88d17af743b098c4bf93f46c3a8e

## Figma
https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=0%3A1

[2022-01-31 22:51] jtamiace opened #9072 "Enhanced onboarding and device configuration"
## User stories

Full list: https://www.notion.so/learningequality/Android-app-user-stories-4d1d27356de04d6095226903001bdcbb

### As an admin, I want to...

- Allow students to join the facility without losing their progress and data
- Automatically install all content associated with a learner’s account to their device
- Make sure the devices I’m setting up don’t use metered data

### As a learne

[2022-02-01 13:06] MisRob opened #9074 "Uncaught errors in the content modal in a channel with custom navigation"
## Observed behavior

There is a Vue warning and uncaught errors in the browser console after opening the content modal in a channel with custom navigation:

![custom-content-modal](https://user-images.githubusercontent.com/13509191/151972657-a545f8f1-2d1e-4a12-80df-b48e60dbb370.png)

## Errors and logs

[code]

[code]

Wait a couple of seconds to see:

[code]

## Expected behavior

There are no V

[2022-02-01 13:19] MisRob opened #9075 "Vue warnings on the library page"
## Observed behavior

There are many Vue warnings on the library page:

![library](https://user-images.githubusercontent.com/13509191/151974751-8e3c1e2f-673a-4558-b464-8ab8c0d71151.png)

## Errors and logs

[code]

[code]

## Expected behavior

There are no  Vue warnings in the browser console

## User-facing consequences

I haven't noticed any user-facing issues, however, setting high priority to

[2022-02-01 14:40] intelliant01 commented on #7495
@jredrejo Did you try with `kolibri manage provisiondevice` ?

This is my experience even now with 0.15 -
[code]

Authentication fails with Incorrect Password response when trying to login after the above steps.

[2022-02-01 15:40] marcellamaki commented on #9075
@MisRob -- this is interesting, I haven't seen these either. Is this on the latest 0.15.x?

[2022-02-01 15:54] MisRob commented on #9075
Yes

[2022-02-01 16:55] MisRob commented on #9068
This might not be a problem, I forgot to check on it without hot reloading on. I will try it tomorrow again with hot reload off.

[2022-02-01 17:26] nucleogenesis commented on #8989
I think that a feature of the FullScreenSidePanel  (FSSP) should be that it always provides a way to close itself. It puts an absolutely positioned button in place, and should be top-aligned with the `header` slot's contents - or just above it perhaps?

It is then incumbent on LibraryPage / TopicsPage to handle the `closePanel` event, which is emitted whenever the close button is clicked only - si

[2022-02-01 18:28] #9032 closed, assigned to jredrejo

[2022-02-01 18:28] #9060 closed, assigned to jredrejo

[2022-02-01 18:28] #9034 closed, assigned to jredrejo

[2022-02-01 22:25] nucleogenesis commented on #9003
[This Notion page](https://www.notion.so/learningequality/CoreBase-Refactor-0fdda820d1f549c9b587c381f91855e0) is the outcome of this issue. I hacked out some of those tests, but they don't seem like they'd be helpful as we hack and slash CoreBase moving forward.

[2022-02-01 22:25] #9003 closed, assigned to nucleogenesis

[2022-02-02 13:46] MisRob commented on #9068
Yes, the problem was on my side, I'm sorry @pcenov and @radinamatic.

It's fine with the dev server hot reload turned off indeed:
![Screenshot from 2022-02-02 14-45-07](https://user-images.githubusercontent.com/13509191/152165720-e406f9c7-ef5d-4ca6-827b-0725e5ef1983.png)

[2022-02-02 13:46] #9068 closed, assigned to nobody

[2022-02-02 17:55] sairina opened #9077 "Two inputs are focused at the same time"
## Observed behavior
In the user profile, when a user navigates to the "Edit" button with a keyboard and enters it, they are immediately greeted with the focus on both the "Full name" and "User name" inputs.

![2022-02-02 09 13 19](https://user-images.githubusercontent.com/13563002/152210082-6fbebe19-ec38-4f8e-84fe-29205e490a98.gif)

## Errors and logs
No visible errors

## Expected behavior
The f

[2022-02-04 22:05] jtamiace commented on #9053
Yes! Let's go with this.

[2022-02-06 22:23] iprasandeep commented on #9077
Hey, @sairina I would like to contribute to this issue. Thanks :)

[2022-02-06 22:31] iprasandeep commented on #9058
Hey, @MisRob I would like to work on this issue. thanks :)

[2022-02-07 05:32] sairina commented on #9077
Hi @prsndp, would love your help. Thank you so much for offering! I've added some more details in the issue that should help you figure out where you want to start investigating. Feel free to reach out if you have additional questions.

You may want to also look at our [design system repo](https://github.com/learningequality/kolibri-design-system/), as the components that are affected are built on

[2022-02-07 08:24] MisRob commented on #9058
Hi @prsndp, thank you, you're welcome to take this on

[2022-02-07 08:30] MisRob commented on #9058
@prsndp Please assign yourself as soon as you start working on it (even though I'm not going to work on it, I'm assigning myself now too only so we know that it's been taken already so that we don't assign it to someone else accidentally during our work planning)

[2022-02-07 12:43] iprasandeep commented on #9058
@MisRob Yeah, but for discussion where can we discuss it, I need a mentor for working on these types of issues, I have also seen yesterday there are more issue-based on the frontend. So, let me know please, thanks:)

[2022-02-07 12:47] iprasandeep commented on #9077
@sairina Thanks:) Yeah, Sure!

[2022-02-08 07:47] MisRob commented on #9058
Hello @prsndp,

You may want to check our [Kolibri developer documentation](https://kolibri-dev.readthedocs.io/en/develop/index.html), where you can also find [how to run Kolibri for development locally](https://kolibri-dev.readthedocs.io/en/develop/getting_started.html). As soon as Kolibri is working on your machine, please try to find the right place in the application and reproduce this bug as

[2022-02-09 01:07] jamalex commented on #7325
In 0.15.1b0, I observed the following in the coach notifications when the respective channel (and hence metadata) wasn't loaded onto the device:
![image](https://user-images.githubusercontent.com/618416/153102226-5ced82a0-6403-4d13-a671-0108b9b264b4.png)

(this usage data was generated on another device, and synced in here)

From @jtamiace:

[2022-02-09 01:12] jamalex opened #9088 "Error when clicking on an exercise in the coach notifications feed when the user didn't generate any attempts"
## Observed behavior

In the coach dashboard, I clicked on the purple text in this notification, but nothing happened:
<img width="337" alt="image" src="https://user-images.githubusercontent.com/618416/153102509-b067a320-db11-4b98-9a3f-57d56bc918a5.png">

## Errors and logs

In the console, I got this traceback:
<img width="435" alt="image" src="https://user-images.githubusercontent.com/618416/153

[2022-02-09 15:49] #9010 closed, assigned to MisRob

[2022-02-09 16:28] pcenov opened #9090 "Sync facility data - Sync and Register buttons UX issues"
## Observed behavior
Currently there's a mini scrollbar displayed in the Sync facility section of the Data tab and when I click the Options button I see a Sync button. If I've previously registered the facility in KDP then there's a Register button displayed to the right of it.

## Expected behavior
Previously both Register and Sync buttons were displayed and the Register button would get disabled

[2022-02-09 16:28] pcenov commented on #9090
@radinamatic

[2022-02-09 16:35] pcenov opened #9091 "Sync facility data - Constantly seeing 'Most recent sync failed' message"
## Observed behavior
Whenever I attempt to sync my facility to KDP I'm seeing a 'Most recent sync failed' message but if I manually refresh the page I can see that the sync has been successful.

## Expected behavior
The user should be shown the correct status of the sync procedure.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-windo

[2022-02-09 16:36] pcenov commented on #9091
@radinamatic

[2022-02-09 18:47] radinamatic commented on #9090
There is no scrollbar in Firefox on Linux, but the there is this weird interplay between buttons...

Why is the second button _hidden_ at all in this situation? There is enough space for both 😕
cc @jtamiace

![kdp2](https://user-images.githubusercontent.com/1457929/153263225-cbda6e66-1cca-4105-b584-d2ec3cf6f983.gif)

[2022-02-09 18:49] radinamatic commented on #9090
@marcellamaki I'd say it's impacting the UX, but it's not broken per-se, so I've put P1. Not sure if we can address for 0.15.1.

[2022-02-09 19:02] marcellamaki commented on #9090
@radinamatic -- so this was an intentional change I made in #8753, per feedback from @jamalex, that came out of the syncing work and was updated in #7672. But, it's veryyy possible I either didn't accurately implement what he was thinking, or that there could be some design improvements (@jtamiace). I think tagging a change on 0.15.2 would be better, just so we have time get that design feedback o

[2022-02-09 20:50] radinamatic commented on #9091
I'm also able to replicate this with 0.15.1b0 on Windows 10, sync is reported as failed in the UI until the page is reloaded.

![kdp3](https://user-images.githubusercontent.com/1457929/153287639-8e206b9a-e376-4f50-9ad6-5c1376b2e02f.gif)

[2022-02-09 20:54] radinamatic commented on #9091
@marcellamaki Again, impacts the UX, but syncing is still working: not broken, just user facing incorrectly reported until the reload. Priority to be confirmed.

[2022-02-09 20:56] marcellamaki commented on #9091
@radinamatic and @pcenov  --- thank you! and this maybe be more important than the buttons, since it seems to the user like an _error_

[2022-02-10 06:37] sairina opened #9095 "Main page scrolls when Learner opens info side panel in Bookmark page by keyboard navigation"
## Observed behavior
When a learner has bookmarked resources, if they use the keyboard to go to the Bookmark tab and open up the info side panel, they will see that as they navigate through the info side panel, the background from the main page scrolls.

## Errors and logs
![2022-02-09 22 34 38](https://user-images.githubusercontent.com/13563002/153351395-3a51f86e-564d-4958-8b1e-57696b3617d0.gif)

[2022-02-10 07:08] sairina opened #9096 "Focus is not working when Learner opens info side panel while in an activity"
## Observed behavior
When a learner opens up an activity from the Library and uses the keyboard to navigate to the "view information" icon to open the side panel, they are unable to use the keyboard to navigate the opened side panel.

Additional notes:
- in the code, these are the `FullScreenSidePanel` components in `LearnImmersiveLayout`
- there is an existing pattern with `FullScreenSidePanel` a

[2022-02-10 07:10] #8948 closed, assigned to marcellamaki

[2022-02-10 07:11] #9052 closed, assigned to MisRob

[2022-02-10 07:11] #9053 closed, assigned to MisRob

[2022-02-10 12:55] #9075 closed, assigned to MisRob

[2022-02-10 15:13] MisRob opened #9097 "Improve user experience when selecting lesson recipients in Coach"
## Observed behavior

The relationship between the "Entire class" radio button and the "Individual learners" checkbox when selecting lesson recipients in Coach is not very clear at a first glance. When I select "Individual learners", "Entire class" radio button stays selected until I select at least one learner (makes sense in a way but still feels pretty confusing):

![lesson-recipients](https://

[2022-02-10 22:17] #8992 closed, assigned to sairina

[2022-02-10 22:58] nucleogenesis opened #9099 "Create useScrollPosition module"
# Context

Currently, there is some code in CoreBase that handles mapping the user's scrollPosition to unique router history state hashes. This provides us with everything we need to ensure the user's scrollPosition remains consistent while navigating between pages and views within the app.

For example, a Learner may scroll down a dozen or more resources, select and view a resource, then hit the

[2022-02-11 11:33] MisRob commented on #9091
@radinamatic To clarify "syncing is still working", did you mean that
(1) it appeared to work after the page reload because the success message was displayed
(2) data has been synced to KDP

?

[2022-02-11 11:39] pcenov commented on #9091
@MisRob, yes, both of the above - the syncing is working because after a page reload we see the success message and also the data has been synced to KDP.

[2022-02-11 14:45] pcenov opened #9100 "Internet Explorer - The info side panel is not displayed"
## Observed behavior
The info side panel of a resource is not displayed when I click the info icon of a card at the Library page or at the Bookmarks page while using IE browser.
This issue was initially reported here: https://github.com/learningequality/kolibri/pull/9063

## Expected behavior
Fully functional side panel in IE browser.

## Steps to reproduce the issue
1. Install the following build

[2022-02-11 14:45] pcenov commented on #9100
@radinamatic

[2022-02-12 19:45] nucleogenesis opened #9101 "Use useScrollPosition in Vue Router init"
# Context

The useScrollPosition module provides everything we need to provide the default expected behavior of saving the user's scroll position between navigations within the same plugin. It also provides a tool for ensuring that it isn't saved for pages on an ad hoc basis when wanted for any reason.

Previously this behavior lived in and was managed by CoreBase. This behavior, however, seems mu

[2022-02-13 03:47] nucleogenesis opened #9102 "New CoreBase"
# Context

EDIT: No more borrowing PageRoot - let's make a new component altogether.

In order to begin updating Kolibri's many plugins and uses of CoreBase, we must establish a new component built to our new ideals that we can start implementing without regressions.

My suggestion is to take create a new component for this purpose. This will give us a component that accommodates the following sug

[2022-02-14 05:20] radinamatic commented on #9100
I'm able to replicate this in IE11, and apparently the same error happens when user clicks on the *View folder resources* or *View information* buttons.

On top of it, after that error occurs, which has no user-facing notification (just the console), the _Go back_ button (top left arrow) does not work, and the user is effectively stuck there with no way to go anywhere, a part from manually editing

[2022-02-14 05:23] radinamatic commented on #9100
@marcellamaki This looks like P0 (blocker) to me.

[2022-02-14 05:30] radinamatic commented on #9091
As @pcenov noted, the answer is **yes** to both, although there is no _success message_ as such, user just sees the green ✔️ alongside the facility name after reload (instead of _Sync failed_ error), and the data can be seen as synced on KDP.

1 | 2
--- | ---
![Selection_144](https://user-images.githubusercontent.com/1457929/153805583-b1145961-28e5-4043-b717-302087a07d72.png) | ![Selection_143](ht

[2022-02-14 09:08] MisRob commented on #9102
@nucleogenesis @rtibbles

Regarding this requirement

I'm afraid that placing `<router-view>` into `PageRoot` itself is the same pattern we're trying to move away from and would soon cause us to be adding dependencies on pages into `PageRoot`, eventually ending with exactly the same issues we currently have with complicated conditions checking what page we're on to render this or that.

That's why

[2022-02-14 09:54] MisRob commented on #9102
Not sure yet if this would help or complicate things but alternatively, if the `PageRoot` is not supposed to contain any layout information and its purpose will be only and only things that we're sure we need on every page (errors, snackbars, ..) maybe it could be also used from plugin index pages so that there's no need to re-render its content from each page when navigating within one plugin.

I

[2022-02-14 11:00] MisRob commented on #9100
Seems to be more important than what I've been working on so I'll check if I can find out something before our US friends get up :)

[2022-02-14 13:45] MisRob commented on #9100
Made some progress but am not done yet, see https://github.com/learningequality/kolibri/pull/9103. I'm unassigning myself now in case someone would like to pick this up. If I don't see anyone working on this tomorrow morning, I'll finish it.

[2022-02-14 16:36] indirectlylit opened #9104 "current state of github 'releases' page is hard to scan"
## Observed behavior

Hi folks, hope you're all well!

I'd gone to look for the most recent releases and what's changed, and found the page a bit hard to use:

* there are many alpha and beta pre-releases shown which are no longer relevant, and make it hard to find "what's latest?"
* the release notes are not in sync with what's in the [changelog](https://github.com/learningequality/kolibri/blob/r

[2022-02-14 17:55] indirectlylit opened #9105 "missing padding on channel import screen"
## Observed behavior

The 'select resources' buttons touch the adjacent text at medium screen sizes:

## Expected behavior

padding should probably be equal to the space between the thumbnail and text

## User-facing consequences

slightly harder to read text

## Steps to reproduce

http://localhost:8080/en/device/#/content/channels

## Context

0.15.0

[2022-02-14 18:00] indirectlylit opened #9106 "handling of small thumbnails in channel import screen"
## Observed behavior

The current layout allows the thumbnail column to shrink in width, which causes inconsistency across cards:

## Expected behavior

I would expect the thumbnail area to to have a minimum width so all text areas are horizontally aligned.

## User-facing consequences

Slightly harder to scan text due to misalignment

## Steps to reproduce

http://localhost:8080/en/device/#/conte

[2022-02-14 18:43] iprasandeep commented on #9058
@MisRob Hi, I am getting errors during the Kolibri setup on my local machine. can I share errors screenshots with you? I don't have any resources to contact you. So please add me in the developer forum/chat or add me on LinkedIn it helps me to discuss with you issues/errors you can also share your mail-id. here is my mail id: prasandeepp@gmail.com

[2022-02-14 21:36] #9050 closed, assigned to nucleogenesis

[2022-02-14 22:53] sairina opened #9107 "Release final past papers installer"

[2022-02-14 22:54] sairina opened #9108 "QA: finish critical workflows for `develop` (0.16)"

[2022-02-14 22:54] sairina opened #9109 "QA: finish critical workflows for after 0.15.1 is merged into `develop`"

[2022-02-14 22:55] sairina opened #9110 "Merge 0.15.1 into `develop`"

[2022-02-14 22:55] sairina opened #9111 "Release installer"

[2022-02-15 00:16] socketbox commented on #8994
Just to clarify, does this issue also encompass or affect the "Free disk space" label show here?
![image](https://user-images.githubusercontent.com/1593835/153968525-244e0d80-99e8-40b7-96bb-9817d746a1b6.png)

[2022-02-15 01:17] #8988 closed, assigned to marcellamaki

[2022-02-15 04:41] nucleogenesis commented on #9102
Noted. I misunderstood and that all makes sense. Will make a new issue.

[2022-02-15 08:53] MisRob commented on #9102
@nucleogenesis Although the reasoning behind touches on more aspects of the high-level architecture, in terms of this particular issue it was basically all related to the last requirement only, so if that makes sense, I think it'd be also fine to just remove

and maybe mention a bit about how we will use this component from other components instead. Whatever will work for you, just wanted to note

[2022-02-15 09:08] MisRob commented on #9100
Should be fixed by https://github.com/learningequality/kolibri/pull/9080

cc @marcellamaki @pcenov @radinamatic

[2022-02-15 09:08] #9100 closed, assigned to nobody

[2022-02-15 09:14] MisRob commented on #9058
Hello dear @prsndp,

Yes, of course, you're welcome to share errors screenshots. Any additional information like what operating system you use to run Kolibri would be helpful too. Please use the comments section of this GH issue for now.

[2022-02-15 16:47] radinamatic opened #9116 "Answer history section for a practice quiz is not displayed correctly"
## Observed behavior
[Reported by @pcenov](https://learningequality.slack.com/archives/C02JTHE8EV9/p1644857494478009?thread_ts=1643744227.404699&cid=C02JTHE8EV9) while doing the critical workflows testing on the [EXE and DEB assets](https://buildkite.com/learningequality/kolibri-python-package/builds/4892) from #9078 (0.16.x branch).

![2022-02-14_18-34-04](https://user-images.githubusercontent.co

[2022-02-15 20:22] #7650 closed, assigned to rtibbles

[2022-02-15 21:29] sairina commented on #9108
Completed. A new issue was opened as a result of this QA: https://github.com/learningequality/kolibri/issues/9116

[2022-02-15 21:29] #9108 closed, assigned to radinamatic

[2022-02-16 15:27] pcenov opened #9118 "Create new quiz - Misaligned 'Previous step' and 'Finish' buttons"
## Observed behavior
The 'Previous step' and 'Finish' buttons are slightly misaligned in Chrome and Firefox browsers and much more so in IE11

## Steps to reproduce the issue
1. Install the latest [0.15.1 build](https://github.com/learningequality/kolibri/releases/tag/v0.15.1-beta1)
2. As a Coach go to Class>Plan>Quizzes
3. Click the 'New quiz' > 'Create new quiz' option
4. Enter a quiz title, sel

[2022-02-16 15:27] pcenov commented on #9118
@radinamatic

[2022-02-16 18:01] sentry[bot] opened #9120 "Errors during interaction with a Perseus graphing question"
Sentry Issue: [KOLIBRI-FRONTEND-1265](https://sentry.io/organizations/learningequality/issues/3020807311/?referrer=github_integration)

[code]

[2022-02-16 18:31] jamalex commented on #8868
I'm still seeing some version of this on 0.15.1 -- pages that I spend time on and scroll back and forth past still often don't get marked as completed. Context: https://kolibri-demo.learningequality.org/en/learn/#/topics/c/57bc2d771781589fb353abc14964ad91?lessonId=461fd0c27110982efc30768d55a0ff84&classId=4d3ff8ff23e47585c6cee4d7460aa48b&last=LESSON_PLAYLIST

[2022-02-16 19:32] lauradanforth opened #9121 "Delayed appearance of completion icon on Lesson"
## Observed behavior
Identified on the demo site: After completing the resources in a Lesson, the completion icon did not appear on the "Home" page until 10 or so minutes later. However, clicking into the Lesson showed a completion icon on each of the resources.

…
## Context

Tell us about your environment, including:
 * Kolibri version: 0.15.1b0.dev0+git.43.ge0d85dac
 * Operating system: Kolibri

[2022-02-16 21:09] nucleogenesis commented on #9102
Thanks Misha - I closed the issue mostly because I didn't want to have it assigned to someone during the sprint planning before I fully grokked your comments.

I will update the `router-view` requirement to instead suggest a default slot.

In follow-up issues, then, such as "remove CoreBase from LearnIndex" the requirements will have the router-view put into that slot.

[2022-02-16 21:15] nucleogenesis commented on #9020
Fixed in #9000

[2022-02-16 21:15] #9020 closed, assigned to nucleogenesis

[2022-02-16 23:16] rtibbles commented on #9116
Fixed in #9122

[2022-02-16 23:16] #9116 closed, assigned to rtibbles

[2022-02-17 04:03] #9110 closed, assigned to rtibbles

[2022-02-17 13:19] MisRob commented on #9091
I was able to reproduce this only once (most likely when KDP wasn't fully functional due to some work in progress) when I got `morango.errors.MorangoError: Stage 'cleanup' failed` in my server terminal when syncing to KDP.

@jamalex  mentioned

Looking at frontend code [here](https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/device/assets/src/views/FacilitiesPage/ind

[2022-02-17 13:20] MisRob commented on #9091
^ Attaching a link to [the related Slack thread](https://learningequality.slack.com/archives/CB37UM23A/p1644578438287169) for reference

[2022-02-17 14:11] pcenov opened #9123 "Misaligned Previous and Next button in Practice quizzes and Surveys"
## Observed behavior
This issue is similar to https://github.com/learningequality/kolibri/pull/9085 which was fixed by @MisRob but in this case applies to Practice quizzes and Surveys

## Expected behavior
Same as https://github.com/learningequality/kolibri/pull/9085

## Steps to reproduce the issue
1. Install the following [0.16 build](https://buildkite.com/learningequality/kolibri-debian/builds/

[2022-02-17 14:11] pcenov commented on #9123
@radinamatic

[2022-02-17 14:29] pcenov opened #9124 "Lesson - Incorrectly positioned resource type labels in Greek"
## Observed behavior
See the attached screenshots. Note that I am able to replicate this every time I switch to Greek or Bulgarian while it's hardly noticeable in the other supported languages. Valid in both desktop and mobile view.

## Expected behavior
Correctly positioned labels.

## Steps to reproduce the issue
1. Install the following [0.16 build](https://buildkite.com/learningequality/kolibr

[2022-02-17 14:30] pcenov commented on #9124
@radinamatic

[2022-02-17 16:18] radinamatic commented on #9124
@marcellamaki @sairina Visually this looks unappealing, but it's not a blocker.
If fixing it requires more time, feel free to retarget to a future patch.

[2022-02-17 16:21] radinamatic commented on #9123
@marcellamaki @sairina I'd say this has higher impact, not just visually, but again - not a blocker or regression.
Would it be possible to apply the same fix as @MisRob previously?

[2022-02-17 16:29] radinamatic commented on #9109
Done & done! 💥

[2022-02-17 16:29] #9109 closed, assigned to radinamatic

[2022-02-17 21:36] #9123 closed, assigned to nobody

[2022-02-17 21:37] #9124 closed, assigned to nobody

[2022-02-17 21:45] sairina opened #9127 "Horizontal scrollbar visible in small screen view for practice quizzes"
## Observed behavior
_Originally posted by @radinamatic in https://github.com/learningequality/kolibri/issues/9126#issuecomment-1043454554_

When the screen size is reduced/user is in mobile, a horizontal scrollbar appears at the bottom.

![mobile-arrow-buttons](https://user-images.githubusercontent.com/1457929/154571513-206ed593-bd04-4958-8b87-6f7e0e0bdab3.gif)

## Expected behavior
There should

[2022-02-17 22:23] bjester commented on #9091
If the sync fails for any reason, I think our code should assume the worst case scenario, that no data has been actually synced.

So seems as though we should be persisting the "Most recent sync failed" in this case.

[2022-02-18 10:55] MisRob commented on #9091
@bjester Thank you, that sounds like the safest option (the worst case scenario is that someone could be pleasantly surprised that data has been synced :relaxed: )

Right now, when fetching facility data, it seems that we only have the information about time of the last sync, whether it's been successful or not (that frontend mistakenly assumes to be successful) saved in `last_synced` field on the

[2022-02-18 16:50] #9111 closed, assigned to marcellamaki

[2022-02-22 00:28] rtibbles commented on #8960
Fixed in #9014

[2022-02-22 00:28] #8960 closed, assigned to rtibbles

[2022-02-22 00:28] rtibbles commented on #9005
Fixed in #9014

[2022-02-22 00:28] #9005 closed, assigned to rtibbles

[2022-02-22 00:29] rtibbles commented on #9006
Fixed in #9014

[2022-02-22 00:29] #9006 closed, assigned to rtibbles

[2022-02-22 00:29] rtibbles commented on #9007
Fixed in #9014

[2022-02-22 00:29] #9007 closed, assigned to rtibbles

[2022-02-22 01:24] lauradanforth commented on #8825
Flagging that I just experienced this as well....

1. I added captions to existing videos. Studio didn't recognize that changes had been made to the channel so I made a tweak to the title of the resource and that triggered the "Publish" button
2. After the channel was published, I tried to update the channel on Kolibri. It recognized that there was a new version, but showed that 0 resources had ch

[2022-02-22 13:18] pcenov opened #9131 "Regression - Switching to a RTL language breaks the entire UI"
## Observed behavior
Switching to a RTL language breaks the entire UI in all supported browsers. This issue is probably a result of the changes made in https://github.com/learningequality/kolibri/pull/9014

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-python-package/builds/5005
2. Change the language to Arabic, Farsi or Urdu

## Scr

[2022-02-22 13:18] pcenov commented on #9131
@radinamatic

[2022-02-22 14:32] radinamatic commented on #9131
@pcenov also tested the asset from the PR that was merged immediately before the https://github.com/learningequality/kolibri/pull/9014, and there were no issues with the UI in RTL languages.

[2022-02-22 15:40] pcenov opened #9132 "Regression - Kolibri won't start in IE11"
## Observed behavior
When I attempt to launch Kolibri in a real IE11 browser I  see a bunch of errors in the console and Kolibri won't start. Again, this seems caused by the changes made in https://github.com/learningequality/kolibri/pull/9014

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-python-package/builds/5005
2. Attempt to loa

[2022-02-22 15:40] pcenov commented on #9132
@radinamatic

[2022-02-22 16:50] rtibbles commented on #9131
Sigh... I did test this, but apparently something else went awry.

[2022-02-23 12:16] pcenov opened #9133 "Mac app - Cannot import channels"
## Observed behavior
I'm getting an error each time I attempt to import a channel

## Steps to reproduce the issue
1. Install the following build: https://github.com/learningequality/kolibri-app/actions/runs/1884728835
2. Attempt to import a channel by any of the available options such as Kolibri Studio (Online), Local network or internet, Attached drive or memory card

## Screenshots
![2022-02-23

[2022-02-23 15:30] radinamatic commented on #9132
I was also able to replicate this on IE11 on Windows 10, [with this build](https://buildkite.com/learningequality/kolibri-windows/builds/3211).
Probably connected to changes that are also causing #9131.

![Win10 (start)  Running  - Oracle VM VirtualBox_001](https://user-images.githubusercontent.com/1457929/155351161-1ec1c9f6-2d6f-45be-87a4-fd8140d36346.png)

[2022-02-23 16:10] rtibbles commented on #9133
Transferring this to the app repo as I think it is specific to that!

[2022-02-23 19:09] nucleogenesis opened #9134 "Remove CoreBase from FacilityIndex"
# Context

We can begin removing CoreBase from what appears to be a _relatively_ simple component before diving into the more complex and OKR-specific Learn plugin.

_Relatively_ is a keyword there, however. This process will require sweeping changes across the Facility plugin and many of its components.

I will outline a plan of action and some expectations, but there may be some complications th

[2022-02-23 19:17] nucleogenesis opened #9135 "AppBar Tests, SideBar & LanguageSwitcherModal ownership"
# Context

CoreBase previously would be a mediary in a prop drilling situation where it would just pass to AppBar/ImmersiveToolbar the things it was told to.

Additionally, CoreBase previously housed the logic around displaying the SideNav or the LanguageSwitcherModal. However, those two things are only ever used within the AppBar component, so this display logic reasonably can live within the App

[2022-02-23 19:21] nucleogenesis opened #9136 "ImmersiveToolbar unit tests"
# Context

CoreBase previously would be a mediary in a prop drilling situation where it would just pass to AppBar/ImmersiveToolbar the things it was told to.

There are no major changes needed to ImmersiveToolbar at this point, however it would be a good idea to establish unit tests to support us in our imminent changes to our AppBars as there are designs coming down the pike and behavior coverage

[2022-02-23 19:23] nucleogenesis opened #9137 "Remove CoreBase from Learn"
# Context

I think that we will look to our experience with #9134 before I flesh this out, however, the context there is largely the same. We will remove immersivePageProps and apply the new architecture described there in Learn.

This issue will be blocked by #9134 until we've had more experience in the process so this issue can be as insightful as possible to whoever takes it on.

[2022-02-24 06:28] intelliant01 opened #9139 "NotNullViolation when trying to import a learner account"
## Observed behavior

When trying to sync a learner account from a Kolibri 0.15.1 server with a Postgres backend, to the learner's app (Android or Windows) 0.15.1, it fails.
Last 2 things I see in the Android app are -
`Remotely preparing data` followed by `2 of 7: Failed`

No facility imports are working when using this upgraded server as the source. They were working at least prior to upgrade to

[2022-02-24 18:27] rtibbles commented on #6692
This was fixed in #9014

[2022-02-24 18:27] #6692 closed, assigned to rtibbles

[2022-02-25 00:34] rtibbles commented on #9015
Fixed in #8279

[2022-02-25 00:34] #9015 closed, assigned to rtibbles

[2022-02-25 00:34] rtibbles commented on #9016
Fixed in #8279

[2022-02-25 00:34] #9016 closed, assigned to rtibbles

[2022-02-25 04:43] sairina commented on #8453
@radinamatic @indirectlylit I'm trying to reproduce this issue in the title, but am unsure that I'm doing this correctly. I'm in Learn and in a class, and I don't see this issue with the misalignment of icons in the title Is this still an issue after the release of Kolibri 0.15? (Looking at Chrome, Surface Pro Android tablet)

<img width="950" alt="Screen Shot 2022-02-24 at 8 40 20 PM" src="https:

[2022-02-25 13:15] pcenov commented on #8453
I think we can close this one as it's no longer extant in 0.15.1:

| Issue| Screenshot |
:-------------------------:|:-------------------------:
| Desktop |  ![2022-02-25_15-08-04](https://user-images.githubusercontent.com/79847249/155721117-837049dd-eef4-48e6-acf5-9d42e796e6f1.png) |
| Mobile |  ![2022-02-25_15-11-34](https://user-images.githubusercontent.com/79847249/155721165-9c157fa8-2932-405b

[2022-02-25 13:45] radinamatic commented on #8453
Thank you for re-testing, @pcenov 👍🏽

@sairina The original issue seems to have been resolved, and the only doubt remains why the _In progress_ icon is not appearing any more alongside the lesson name, as it was present in my first screenshot from last year... 🤔

As I can infer from the latest @pcenov screenshot, some of the resources are completed and others are in progress, but the lesson is sti

[2022-02-25 17:16] jtamiace commented on #8453
There should be an in progress icon & label for lessons. Design reference here https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/Hybrid-Learning?node-id=1915%3A82995

[2022-02-26 05:08] sairina commented on #8453
It looks like the screenshots match the 0.15 designs in Figma, so I'll close out this issue. Thanks for investigating this, everyone!

[2022-02-26 05:08] #8453 closed, assigned to sairina

[2022-02-28 07:37] radinamatic commented on #8453
Ok, so the lesson progress/completed icon is present on the Class home page, but not inside the lesson itself anymore, so there was a change since this issue is reported initially.

[2022-03-01 15:55] #9004 closed, assigned to marcellamaki

[2022-03-01 15:55] #8983 closed, assigned to marcellamaki

[2022-03-01 16:36] jtamiace commented on #8148
Here are the existing designs for this. This hasn't been reviewed yet, so I'm looking for feedback. I'm not sure what behaviors should happen when someone clicks "privacy policy" and whether we have copy for that.

![cookie.jpg](https://images.zenhubusercontent.com/6047f63852483ffd3d7d34a1/60f812cd-e1a8-4bfe-848e-c6200254e563)

Also see this related thread about tracking who and how many people ar

[2022-03-01 16:42] bjester commented on #9139
@intelliant01 Thank you for submitting this issue. The Kolibri logs you've shared are from the server, correct?

[2022-03-01 16:45] #9107 closed, assigned to nobody

[2022-03-01 16:56] intelliant01 commented on #9139
@bjester yes.

Is there a way to rollback this change to the postgres database or a query to fix this, because unfortunately I did not take a backup prior to the upgrade?

[2022-03-01 17:04] bjester commented on #9139
@intelliant01 From the logs, it seems that the database migrations didn't occur during the upgrade. Would you mind stopping Kolibri and running `kolibri manage migrate`? Please share the output, and of course start the server again afterwards.

[2022-03-01 20:23] marcellamaki commented on #7325
Moving this to 0.16, as it seems like the design fix suggested will require new strings, and I do not see the referenced string

in Kolibri

[2022-03-01 21:04] rtibbles opened #9154 "build-perseus command no longer works due to webpack 5"
Building the dist/ folder for the perseus viewer plugin is currently broken, as it was not updated alongside the webpack 5 upgrade.

This will mostly involve updating the `perseusBuildConfig.js` file to have a webpack 5 compatible configuration.

[2022-03-01 21:08] rtibbles opened #9155 "Remove Python 3.4 and 3.5 support"
We should remove support for Python 3.4 and 3.5.

This should involve removing the explicit annotation from the `setup.py` and removing any testing requirements for these Python versions from CI.

Lastly, we should also add specific Python versions using the `python_requires` keyword argument in `setup.py`.

https://packaging.python.org/en/latest/guides/dropping-older-python-versions/#defining-the

[2022-03-01 21:20] rtibbles opened #9157 "Create a standard zip file reading utility wrapper using fflate"
Currently we use JSZip in the perseus viewer library to read zip files on the client side.

In the hashi package, we use the fflate library for the same purpose.

In benchmarking, fflate seems to be much more performant that JSZip. We should make a standard utility wrapper for the fflate layer, and then utilize it in both places.

Seems simplest to create another package under `packages/` to conta

[2022-03-02 01:11] intelliant01 commented on #9139
~~My bad. The logs from the upgrade run are attached herein now which indicate that the migrations did run.~~

~~[kolibri-2022-02-24.txt](https://github.com/learningequality/kolibri/files/8165778/kolibri-2022-02-24.txt)~~

The output of `kolibri manage migrate` is -
[code]

An attempt to sync thereafter results in the same error as reported earlier.

[2022-03-02 16:26] bjester commented on #9139
@intelliant01 Prior to installing 0.15.0, did you install any 0.15.0 alpha/beta release? We should be able to correct this with some manual commands which I'm determining at the moment.

[2022-03-02 16:36] bjester commented on #9139
Alright, these commands should resolve your issue, but if not, please provide the output. I recommend stopping Kolibri first.
[code]

[2022-03-02 17:05] jredrejo opened #9158 "Kolibri is incompatible with a database cache"
## Observed behavior
Whenever a `kolibri manage...` command is executed migrations happen unless `--skip-update` is used

`kolibri manage createcachetable` does fail because migrations are run and when they are running they need the table that this command creates.

## Errors and logs
From GitHub console:

[code]

## Expected behavior
Creating a cache table in the db should be possible just using

[2022-03-02 17:10] intelliant01 commented on #9139
No.

I shall be able to try the manual commands 8-9 hours from now. Shall revert with the result thereafter.

[2022-03-02 22:15] socketbox opened #9159 "Blank screen after transfer fails"
## Observed behavior
Blank screen after transfer fails and user presses "Start Over" and "Continue"
![2022-03-02_17-06](https://user-images.githubusercontent.com/1593835/156459342-caf9509c-d520-46d3-a7a9-97e8ac0b2710.png)

## Errors and logs
See attached
[console_logs.tar.gz](https://github.com/learningequality/kolibri/files/8173295/console_logs.tar.gz)

## Expected behavior
I'm shown a screen tha

[2022-03-03 00:32] intelliant01 commented on #9139
Stopped Kolibri. Executed the above 2 commands.
Seems the migration did apply successfully -
[code]

Started Kolibri. Attempted a facility sync.
But the facility sync attempt still fails -

[code]

[2022-03-03 13:54] akash5100 commented on #8868
Hey @radinamatic, I have worked in the past with pdf rendering. So I feel I could help with some pdf-related issues. Any pointers on how to get started?

[2022-03-03 17:14] bjester commented on #9139
I'm not seeing that PostgreSQL 12 is available with Ubuntu 18.04. Could you share more about your configuration? You've configured Kolibri to access the database through the `options.ini`?

[2022-03-03 18:34] bjester commented on #9139
Even though the migration says it was applied, it didn't apply the migration's changes, clearly seen in the error raised during syncing. I've shared some SQL queries below that should correct this issue manually. I need additional information regarding your setup to ensure I attempt to reproduce this correctly

[code]

[2022-03-03 19:45] #8981 closed, assigned to nucleogenesis

[2022-03-03 19:46] #8980 closed, assigned to nucleogenesis

[2022-03-03 20:56] andersan commented on #9097
Hey Michaela! This issue is really detailed, is it still necessary to fix?

Looking for a good first issue on the project

[2022-03-03 22:01] bjester commented on #9097
Hi @andersan,

Thank you for interest in contributing! This issue is still valid.

Before addressing it, please follow the [Getting Started](https://kolibri-dev.readthedocs.io/en/develop/getting_started.html) documentation for Kolibri development. Please note, there's currently an error in the documentation where it says `Install Node.js (version 10 is required)`; version 16.x is required and the

[2022-03-03 22:40] sairina commented on #8868
Hi @akash5100 , would love it if you could take a look at this issue. Some of the original glitches seemed to have been fixed, but as you can see, there seems to still be bugginess in trying to track completion. In [this PR](https://github.com/learningequality/kolibri/pull/8937), you'll find some of the files that are relevant to this issue, particularly in the `useProgressTracking` composable.

[2022-03-04 00:49] intelliant01 commented on #9139
[code]

[code]

Sync working after executing the queries. Thank you.

[2022-03-04 02:49] intelliant01 commented on #9139
For postgresql-12, I may have used an installation procedure such as [this](https://computingforgeeks.com/install-postgresql-12-on-ubuntu/).

[2022-03-04 05:52] ConConRob commented on #9051
Hello, I'd like to take a crack at this.
 I've had a dig into this and it appears the icons are not centered vertically in the toolbar and the icons on the sides need some  horizontal positioning. The main issue with just putting in a couple px of padding is that there are popups that are positioned absolutely that expect these buttons to be positioned  at top: 0.

I'm new to this code base so ple

[2022-03-04 16:54] bjester commented on #9091
@MisRob Sorry for the delay. Yeah I think the general approach of modifications to the viewset that you laid out should work well. I think for simplicity, like you noted, having fields like `last_successful_sync` and `last_failed_sync` should give the frontend everything you need to display this correctly. Here are some filtering recommendations:
[code]
You can use the [morango constants](https://

[2022-03-04 16:58] bjester commented on #9139
@intelliant01 Thank you for this additional context. Out of curiosity, is there a particular reason you used the PGDG repo to install postgres instead of version 10 available from the Ubuntu repos?

[2022-03-04 17:55] bjester commented on #9139
@intelliant01 Also, what method did you use to install `psycopg2`?

I've successfully reproduced your issue, but I'm not yet sure of the cause. I suspect an interaction with Django and Postgres 12 might be the cause

[2022-03-04 21:23] #9102 closed, assigned to sairina

[2022-03-04 21:24] #9057 closed, assigned to sairina

[2022-03-04 21:55] #8993 closed, assigned to nucleogenesis

[2022-03-05 01:29] DXCanas opened #9161 "File-Based Logging During Upgrade Ignores Kolibri Setting"
## Observed behavior

Despite the `KOLIBRI_NO_FILE_BASED_LOGGING` envar being set, Kolibri tries to write to logs during upgrade.

## Errors and logs

[code]

## Expected behavior

Would assume that it Kolibri does not try to log to file when the `NO_FILE_BASED_LOGGING` setting is set to `True`

## Steps to reproduce

1. Set the `KOLIBRI_NO_FILE_BASED_LOGGING` envar to true
2. Run any command that

[2022-03-05 01:29] DXCanas commented on #9161
Discovered by myself, mentioned to @rtibbles

[2022-03-05 01:36] DXCanas opened #9162 "Kolibri Logs Are Always Classified as ERROR in Google Cloud Logging"
## Observed behavior

[Discussed on Slack.
](https://learningequality.slack.com/archives/C02AW6J5ZNC/p1641952761041900?thread_ts=1641657482.030500&cid=C02AW6J5ZNC)
The [GCloud Logging docs indicate](https://cloud.google.com/stackdriver/docs/solutions/gke/managing-logs#best_practices
) that this is happening because the application write to STDERR instead of STDOUT:

Some maybe-helpful notes from t

[2022-03-05 01:42] intelliant01 commented on #9139
I had just followed the sqlite to postgres migration instructions constructed by @lyw07 and shared by @jredrejo which had the following lines -

bash history shows this  -
[code]

[code]

[code]

May be I/we tried both methods to eventually get the package inside `/usr/lib/python3/dist-packages/kolibri/dist/` .

[code]
This was almost 8 months ago, so can't say for sure why this was done this way.

[2022-03-05 04:14] rtibbles commented on #9162
Yes, the stream defaults to stderr. We would need to have two different console handlers, one that outputs to stdout, one to stderr.

[2022-03-05 08:24] socketbox opened #9164 "Conflict between developer docs and packages.json"
## Observed behavior
Following instructions here: https://kolibri-dev.readthedocs.io/en/develop/getting_started.html#install-node-js-yarn-and-other-dependencies

[code]

## Errors and logs

[code]

## Expected behavior
Following docs leads to yarn installing JS dependencies without error.

## User-facing consequences
Contributing developer discouraged from contributing.

## Steps to reproduce
Foll

[2022-03-05 11:15] akash5100 commented on #8868
Hi, @sairina thank you for the reply. With the help of that I went through the issue, and it's a bit confusing :)

When I tried to read pdf's in the development server I found that on the top the icon "in progress" doesn't change to "complete", which happens in your [PR](https://user-images.githubusercontent.com/13563002/146285425-765612c1-a52d-4c5c-87ee-2fdebbcbb34a.gif) (when you finished readin

[2022-03-07 23:35] sairina commented on #8868
Oof, that's so unfortunate!

I just pulled that branch and it seemed to be that I was able to get the icon to change, so that is strange 🤔 . However, a lot has changed in the code since then (I think including dependencies), so it's possible that this is no longer working OR that my original fix was not the right fix - also highly possible.

To run tests, we use `yarn run test-jest [file_name]`. I

[2022-03-07 23:51] sairina commented on #8868
@akash5100 I did a quick run-through of the typical user workflow for reading a PDF on the `release-v0.15.x` branch, and this is what I found to be the current problem:
- If a user clicks on a PDF resource and starts reading, progress is being tracked, but there is no longer any visual indication in the component (the icon - `ProgressIcon` - in the bar at the top of the page -`LearningActivityBar`

[2022-03-08 04:49] jamalex opened #9167 "Updates needed to auth system developer documentation"
1. We still refer to the old `DeviceOwner` model:
https://kolibri-dev.readthedocs.io/en/develop/backend_architecture/uap/models.html
2. And I think @rtibbles recently made changes that affect how permissions interact with the Collection hierarchy, which may or may not merit updates to: https://kolibri-dev.readthedocs.io/en/develop/backend_architecture/uap/concepts_and_definitions.html

[2022-03-08 04:57] rtibbles commented on #9167
For 2) documentation was updated in the original PR: https://github.com/learningequality/kolibri/pull/7928, and was updated in review also, so I think that's up to date.

[2022-03-08 05:09] akash5100 commented on #8868
Thanks, @sairina that's a lot of help. I start my research on this issue and open a PR soon. 😄

[2022-03-08 11:23] MisRob commented on #9051
Hello @ConConRob,

thank you for looking into this. Since you've already opened a PR, I think it'd make sense to check the code and discuss questions raised here in the PR. Thank you for your contribution :)

[2022-03-08 11:30] MisRob commented on #9164
@socketbox Did this happen on `develop` branch? I saw something similar locally but only on the `release-v0.15.x` branch.

[2022-03-08 14:40] #9131 closed, assigned to rtibbles

[2022-03-08 17:40] socketbox commented on #9162
This is incredibly annoying because it produces logs in GCP Log Explorer that look like this (minus the pixelation):

![image](https://user-images.githubusercontent.com/1593835/157296071-51fc760e-c546-4ed3-b845-e59605ae247e.png)

These are responses to simple `/status/` calls that result in an HTTP 200, yet they're flagged as errors in the UI because they come over `stderr` and not `stdout`.

[2022-03-08 17:52] danigm commented on #5566
I can reproduce this problem in the current release v0.15.1, just in chrome. In firefox this doesn't happens to me.

We've a workaround fix for the Endless Key, just reemiting the resize event after fullscreen: https://github.com/endlessm/kolibri-explore-plugin/commit/98b809ea346bb63476fae8d2cc54f727f1bced37

[2022-03-08 17:54] jamalex commented on #5566
Reopening so we can see if we can replicate this

[2022-03-08 17:57] radinamatic commented on #5566
@pcenov Could you try to replicate this tomorrow? Thank you!

[2022-03-08 18:17] socketbox commented on #9164
Good catch. Sorry for the bother.

[2022-03-08 18:17] #9164 closed, assigned to nobody

[2022-03-09 04:08] MisRob commented on #9051
Resolved in https://github.com/learningequality/kolibri/pull/9165

[2022-03-09 04:08] #9051 closed, assigned to nobody

[2022-03-09 08:06] akash5100 commented on #8868
Just a small question, When we fork kolibri the default branch is `release-v0.15.x` whereas in here the default branch is `develop`, so if I make any changes should I work on `develop` or `release-v0.15.x`, and while making a PR I should target `develop` branch is that right?

[2022-03-09 15:23] pcenov commented on #5566
@radinamatic yes I confirm that this issue is still extant in release v0.15.1 in Chrome only - works fine in Safari and the Mac app.

[2022-03-10 01:41] socketbox opened #9172 "All logging should have a timestamp"
https://github.com/learningequality/kolibri/blob/d6d9f654bfd96f6f832c9a0e6f0b3c661689f9d9/kolibri/utils/logger.py

Here's the default handler:

[code]
Here's the formatter for console (one of two formatters that omit the timestamp, the other being `simple`):

[code]

[2022-03-10 11:31] pcenov commented on #4119
@radinamatic I'm not able to replicate this issue in 0.15.1 - no errors observed after attempting to master a Perseus exercise for a second time.

[2022-03-10 12:10] pcenov commented on #5351
@radinamatic I'm not able to replicate this issue in 0.15.1

[2022-03-10 12:49] pcenov commented on #5650
@radinamatic this issue is no longer extant in Kolibri 0.15.1
Tested on iPad4 on iOS 14.4 Simulator
Browser: Safari 14.4
![2022-03-10_14-35-00](https://user-images.githubusercontent.com/79847249/157665070-cb1e2750-e4f0-4ee8-8c2e-5bc83aa968f6.png)

[2022-03-10 13:18] pcenov commented on #5377
@radinamatic I'm not able to replicate this issue in 0.15.1 - left the device untouched for ~50 minutes.

[2022-03-10 13:33] pcenov commented on #5655
@radinamatic This issue is still extant in 0.15.1 whit the main difference being that the HTML5 slider is now showing in IE11 but sliding it to the right or to the left doesn't do anything:

https://user-images.githubusercontent.com/79847249/157672124-c6ef90b9-db10-4d13-8ece-343d12f3d7ad.mp4

[2022-03-10 15:07] pcenov commented on #5656
@radinamatic this issue is no longer extant in Kolibri 0.15.1
Tested on iPad4 on iOS 14.4 Simulator
Browser: Safari 14.4
![2022-03-10_16-32-51](https://user-images.githubusercontent.com/79847249/157690788-c23d2b54-c5eb-480b-b124-3620889e1816.png)

[2022-03-10 15:12] pcenov commented on #5934
@radinamatic I'm not able to see the above specified exercise at the current version of kolibri-demo now, perhaps this was a content issue?

[2022-03-10 16:12] pcenov commented on #6039
@radinamatic this one is still valid in 0.15.1. It can be tested by importing the following channel: `patid-potif`
![2022-03-10_18-02-41](https://user-images.githubusercontent.com/79847249/157706089-00686258-3a4f-4043-ae6e-b6f8e6dd1ff5.png)
![2022-03-10_18-10-27](https://user-images.githubusercontent.com/79847249/157706112-b0372c63-00c2-44d5-85aa-2467af27ba6f.png)

[2022-03-10 16:57] rtibbles commented on #6039
In some ways this is expected behaviour - as our exercise renderer has never support MathML - I think it might be best to transfer this issue to our Perseus repository as that's the only place this could be fixed.

[2022-03-10 18:27] rtibbles commented on #5566
I think this may also be related to the issues we have seen when trying to update epubjs to a newer version.

[2022-03-11 10:33] pcenov commented on #6035
@radinamatic this is still extant in 0.15.1

[2022-03-11 13:00] pcenov commented on #6179
@radinamatic I was not able to replicate the above described issue and specifically the 5 minute wait before the progress bar starts showing the progress. At the same time it does take several seconds for one of the channels to start importing and then this is followed by the rest so it seems that there's room for improvements on that front. Attaching a video for illustration:

https://user-images

[2022-03-11 14:23] pcenov commented on #6272
@radinamatic as far as I can see this is no longer extant in 0.15.1 in iOS.

[2022-03-11 19:52] andersan commented on #9097
@bjester thanks for the info, appreciate it. today I got it up and running and the project seems really useful, so I'll be happy to contribute to it.

https://github.com/learningequality/kolibri/pull/9173 BTW I added a pull request with two minor edits to that getting started doc, as a first contribution and to learn the process for making PRs in this project.

Is there a designated person or peop

[2022-03-11 20:33] bjester commented on #9097
@andersan Thanks for updating the documentation! I approved and merged your PR.

As far as designating a reviewer, the Learning Equality dev team tries to stay on top of these, but you can mention me in a comment to tag a reviewer

[2022-03-11 20:48] andersan commented on #9097
Thank you for being so quick on this! Will go after this issue sometime in the next couple of weeks. Just want to play around with the tool and explore installing it on a Raspberry Pi at a school I volunteer at first to get a feel for how it all works.

[2022-03-12 00:17] sairina opened #9174 "Keyboard navigation and focus ring does not work in videos from Learn and Coach"
## Observed behavior
If a Learner is using the keyboard to navigate to a video, they are unable to see a focus ring appear when they enter the `LearnImmersiveLayout` to view the video - as well as when a Coach is previewing a video in `PlanLessonSelectionContentPreview`:
|Issue in Learn|Issue in Coach|
|--|--|
|<img width="860" alt="Screen Shot 2022-03-11 at 4 13 34 PM" src="https://user-images.gi

[2022-03-12 00:23] rtibbles commented on #9174
Does the same thing happen if you are previewing a video in the Coach plugin, during the lesson creation flow? Would help to show if this is a universal issue with the media player plugin, or a specific interaction in the Learn plugin.

[2022-03-12 00:32] sairina opened #9175 "Cannot use keyboard to navigate through the info side panel for videos in Learn"
## Observed behavior
When the informational side panel is open for videos, a learner cannot navigate through the opened side panel.

|Informational side panel in video in Learn|
|--|
|<img width="860" alt="Screen Shot 2022-03-11 at 4 30 53 PM" src="https://user-images.githubusercontent.com/13563002/157995502-f1e0317f-664d-4db8-b844-e41b8531a661.png">|

## Errors and logs
None

## Expected behavior

[2022-03-12 00:33] sairina commented on #9174
Ah, yes, it is also in Coach. I'll update that.

[2022-03-12 00:41] sairina commented on #9174
(But note that the problem in coach seems to be slightly different)

[2022-03-14 15:26] sairina opened #9177 "Left side of focus ring around `KButton` in Device permissions is cut off"
## Observed behavior
Left side of focus ring around `KButton` in Device permissions is cut off
![Screen Shot 2022-03-14 at 8 22 47 AM](https://user-images.githubusercontent.com/13563002/158204268-e952fe82-b004-477b-b23a-e1078a76a395.png)

## Errors and logs
None

## Expected behavior
The full focus ring around the button should be visible

## User-facing consequences
It does not match the other in

[2022-03-14 15:55] sairina opened #9178 "Focus is still in main content when folder resources panel opens in an exercise in Learn"
## Observed behavior
Focus ring does not immediate jump to the side panel (`FullScreenSidePanel`) when the side panel is opened by keyboard navigation.
![2022-03-14 08 50 39](https://user-images.githubusercontent.com/13563002/158210204-b0056c77-20eb-402e-85d0-7adeaf5ca6da.gif)

## Errors and logs
None

## Expected behavior
Whenever a side panel opens by keyboard navigation, the focus should immedi