[2018-05-16 16:42] aronasorman commented on #3675
I just like pinned versions :D feel free to upgrade.

[2018-05-16 16:43] aronasorman commented on #3675
I just think that we shouldn't leave this unpinned, as I remember pex had some breaking changes before, regarding their options. I think I've fixed that in a previous upgrade, but then that's why I pinned it.

[2018-05-16 17:18] benjaoming commented on #3675
It's not actually pinned, it was a pre-cautious `<1.3` :)

But yes, I remember the same as @aronasorman -- we had problems IIRC with a namespaced dependencies in Pex which broke our way of bundling dependencies. But as long as this issue isn't fixed, we're good: https://github.com/cherrypy/cherrypy/issues/1673

I think we can bump it to `<1.5` and have PyUp alert us further minor version updates,

[2018-05-16 17:20] benjaoming commented on #3675
Oh yeah, btw there is an actual assertion that no packages are namespaced in our `make test-namespaced-packages` target which is run through `make staticdeps`, so our whole build chain fails if it happens again.

[2018-05-16 18:26] jonboiser commented on #3641
Now, I just tried it again, and it's assuming the `channelmetadata` table has a `root_pk` column. Not sure why it shifts like this.

[2018-05-16 18:33] rtibbles commented on #2616
@swapnil106111 is this with an updated version of the content also? This is a content issue, not a Kolibri issue.

[2018-05-16 18:35] rtibbles commented on #3653
Well, we currently run the frontend tests in Chrome Headless, so we should already be able to use async functions, no?

[2018-05-16 18:45] jonboiser commented on #3653
Actually, I'm not sure anymore, since the tests files are compiled via webpack (hence buble) before sent to the browser.

I tried rewriting one of the tests with an async function and got a webpack error to that effect.

[2018-05-16 18:48] rtibbles commented on #3653
Ah, yeah - so we can't use it because buble can't transpile async, I think, so even though the browser would support it, our transpiler doesn't.

We can add:
[code]
to the buble config just for tests, and it seems like that might stop it from failing at least? https://gitlab.com/Rich-Harris/buble/issues/71

[2018-05-16 18:49] rtibbles commented on #3653
We can track potential integration of async into buble here too: https://github.com/Rich-Harris/buble/pull/125

[2018-05-16 18:57] rtibbles commented on #3100
This is a content issue, the associated vtt file is flagged as in English, but is not.

[2018-05-17 04:25] indirectlylit opened #3678 "versioning logic is preventing legitimate build from running"
### Observed behavior

Builds produced by #3670 won't run

### Expected behavior

* Builds should run
* version.py should log warnings but not raise assertion errors

### User-facing consequences

cannot deploy a demo server with contents of PR

### Errors and logs

[code]

### Steps to reproduce

* Create a build of 9f3e2634791b768f79944de568c802717995a0cd or download [this pex](https://www.googl

[2018-05-17 07:37] nobicycle commented on #3620
Another example.

Resources:
http://ka-perseus-graphie.s3.amazonaws.com/89bf5860fc0d42994c875e18dddf4f8cdc96d219-data.json

[kolibri-console.txt](https://github.com/learningequality/kolibri/files/2012079/kolibri-console.txt)
![kolibri-console2](https://user-images.githubusercontent.com/1372447/40162954-15cfc290-59e8-11e8-8796-e65ead2e3487.jpg)

[2018-05-17 07:43] nobicycle opened #3679 "Lost Channel Listings"
### Description
Channel listings do not persist. Worse, with a big provider like Khan Academy it takes so long to generate the channel listing that Kolibri logs the user out due to inactivity - so the user can never download and generate Khan Academy listings.

Start with a fresh install (pip)
Select some channel in Devices.
Wait for _Generating channel listing. This could take a few minutes…_
Obs

[2018-05-17 14:46] rtibbles commented on #3679
This is fixed in 0.9.2.

[2018-05-17 18:47] lyw07 commented on #3602
Hi @swapnil106111 , thank you for the log file! Unfortunately I think I need additional information to further investigate on this issue. Do you mind sending me the kolibri database file `~/.kolibri/db.sqlite3` to my email address lingyi@learningequality.org? Also, is this a fresh install or upgraded from a previous kolibri version? Thank you!

[2018-05-17 19:20] lyw07 commented on #3641
I guess it's because it's reading from source data, which contains the `root_pk` as a table column. It doesn't go through schema mapping, so it's `root_pk` instead of `root_id`?

[2018-05-17 20:03] lyw07 commented on #3274
Hi @nobicycle ,

If you can inspect the web page, please then go to `network` section. After that, click the `export` button. You should be able to find a row that calls something like `http://localhost:8080/api/tasks/localdrive/?1526587026929=1526587026929` right after you click the button. What is the result in the `preview` or `response` section inside the `network` section? Thank you!

Example

[2018-05-17 22:15] jtamiace opened #3681 "Card display is buggy on Safari"
<img width="1490" alt="screen shot 2018-05-17 at 3 12 23 pm" src="https://user-images.githubusercontent.com/6668144/40206486-1d72d1e8-59e5-11e8-9516-a039d8da833c.png">

### Steps to reproduce

CASE 1
Open Safari
Search something on http://kolibribeta.learningequality.org/user/
Cards in search results should not be aligned.

CASE 2
Open Safari
Navigate to Channels tab
Click through topic cards
Disp

[2018-05-17 22:17] jonboiser commented on #3681
Looks like this issue https://github.com/learningequality/kolibri/issues/3539

Where we note that it's the cards with titles spanning more than one line.

[2018-05-17 22:18] indirectlylit opened #3682 "add multi-language stop-word de-prioritization to search"
### Observed behavior

searches such as "what is an LED" can produce unhelpful results because of the commonality of some words in the phrase

### Expected behavior

common [stop words](https://en.wikipedia.org/wiki/Stop_words) should be filtered out of our searches. see for example https://github.com/6/stopwords-json

### User-facing consequences

see some [results of testing search queries](http

[2018-05-17 22:23] indirectlylit commented on #3682
open question: filter by all languages, or adjust based on current UI language?

cc @rtibbles

[2018-05-17 22:31] ralphiee22 commented on #3682
Could we do, say UI language and english? I just imagine that english content would be prevalent in several use cases. Again, I could be wrong in this assumption.

[2018-05-17 22:32] kollivier commented on #3682
I'd say restrict results to the current UI language, as I think that will be the common case, but maybe at some point add an advanced search that lets you set the language.

[2018-05-17 23:14] indirectlylit commented on #3682
As a first pass, it might be easier and nearly as effective to just filter by all words, all the time.

My guess from a quick look at the [full list](https://raw.githubusercontent.com/6/stopwords-json/master/stopwords-all.json) is that the negative consequences would be very small

(Performance is the primary concern. Could [build up a trie](https://en.wikipedia.org/wiki/Trie) for lookups)

[2018-05-17 23:20] rtibbles commented on #3682
From a cursory analysis, there is a lot of overlap between the stop words of different languages.

[2018-05-17 23:26] indirectlylit opened #3683 "split search query words on more punctuation"
### Observed behavior

In #3670, the query "add and subtract?" returns poor results, whereas "add and subtract" returns good results

### Expected behavior

the naive split logic (spaces only) should also split on other punctuation marks

This could look something like:

[code]

for here: https://github.com/learningequality/kolibri/pull/3670/files#diff-7def35e64d458ec55c3b953c13824d05R115

### Use

[2018-05-17 23:30] indirectlylit opened #3684 "consider adding fuzzed results back in as a last pass"
### Observed behavior

suggestion here: https://github.com/learningequality/kolibri/pull/3670#discussion_r189108344

![image](https://user-images.githubusercontent.com/2367265/40208581-59029860-59ef-11e8-9936-500678ad3516.png)

### Expected behavior

* If someone mis-spells a word, we should still try to find results
* If results are unlikely to be accurate, user should be aware that they are "gue

[2018-05-17 23:38] benjaoming commented on #3678
This is dangerous, why is it expecting `0.10.0.dev3` ?

[2018-05-17 23:58] indirectlylit commented on #3682
Looking at [just the English](https://raw.githubusercontent.com/6/stopwords-json/master/dist/en.json), it's too aggressive to filter them out completely.

Some examples:

* `example`
* `greetings`
* `second`
*  `x`, `y`, and `z`

Instead, we can split the query up into `all_words`, `critical_words`, and `stop_words`. Then the ranked queries might look something like:

1. exact match in title
2. al

[2018-05-18 00:24] indirectlylit opened #3685 "channel filter has all items disabled when it shoudn't"
### Observed behavior

reported by @jonboiser

![image](https://user-images.githubusercontent.com/2367265/40209917-ff223910-59f6-11e8-90e2-18b9d61fcbcd.png)

might be addressed by recent changes by @christianmemije

### Expected behavior

all filter items should be enabled

### User-facing consequences

can't filter

### Steps to reproduce

…

### Context

…

[2018-05-18 01:02] #3644 closed

[2018-05-18 01:12] indirectlylit commented on #3678
I assume because the nearest parent tag it found was alpha3

[2018-05-18 01:22] rtibbles commented on #3251
We've tried reaping this for 3 months now, and it continues to be an incredibly frustrating process with multiple merge conflicts, builds that are broken for no good reason, and continual busy work to keep version tuples and git tags aligned.

Final releases should be embedded in the code. Everything else can come from the git tag. Anything interim can be versioned with a git hash, because finding

[2018-05-18 05:20] indirectlylit commented on #3678
Chronology of what happened:

* The feature branch was based off of `develop`. Builds were working. The most recent tag was `v0.10.0-alpha3`
* I merged the latest `develop` into the feature branch, which cause the builds to start failing.  One of the commits that got merged was tagged with `v0.10.0-alpha4`
* I tried rebasing on `develop` and force-pushing to the feature branch. This caused the bui

[2018-05-18 05:26] indirectlylit commented on #3678
Note: In the process of rebasing and re-writing the branch history, I deleted commit cc2c3d82d1d288b922f9145976c4c1f8b86db795 which is where I had switched from assertions to warning logs. However, I believe that logging warnings is more appropriate than raising assertions in application code. We should not kill the application at runtime because of versioning logic.

[2018-05-18 05:51] indirectlylit commented on #3251
This sounds correct to me

[2018-05-18 06:44] swapnil106111 commented on #3458
@rtibbles Tested in Kolibri 0.9.2. It is checking existing username while renaming.

[2018-05-18 07:02] swapnil106111 commented on #3475
@rtibbles Tested in Kolibri 0.9.2. Working as expected.

[2018-05-18 07:11] swapnil106111 commented on #3477
@rtibbles Tested in Kolibri 0.9.2 but facing same issue.

For existing username case, it showing error.
![2](https://user-images.githubusercontent.com/12776071/40220972-9d611104-5a98-11e8-9126-67e12e534382.png)

For existing username with different case, it is not showing error.
![1](https://user-images.githubusercontent.com/12776071/40221005-bf70f91c-5a98-11e8-87bd-c0a60420570a.png)

[2018-05-18 07:18] swapnil106111 commented on #3580
@rtibbles Tested in Kolibri 0.9.2. Working as expected.
![1](https://user-images.githubusercontent.com/12776071/40221285-a76ac3ce-5a99-11e8-949c-ff0b17cfd282.png)

[2018-05-18 09:33] swapnil106111 opened #3690 "Not showing whole error message"
### Observed behavior
When we edit existing user with existing username, it is showing only 'A' message.
Refer attached screenshot for more information.

### Expected behavior
It must show user already exist.

### Steps to reproduce
1. login with admin account.
2. Click on facility.
3. Click on user tab.
4. click on manage tab of any user and try to change username with existing username. It will

[2018-05-18 10:10] benjaoming commented on #3678
Thanks for elaborating!

It wrongly swaps in `dev` for `alpha` (maybe because `alpha0` should normally be `dev`, whilst `alpha1` should remain unaltered).

The correct version for this release is `0.10.0a3.dev+git-26-g9f3e263`.

[2018-05-18 11:45] swapnil106111 opened #3691 "Learner password is not masked in profile"
### Observed behavior
When learner wants to change the password, he/she is seeing the newly typed password.

### Expected behavior
It must hide the password.

### Steps to reproduce
1. Login with Learner.
2. Click on Profile.
3. Click on Change password.
4. Try to change the password.

### Context

 * Kolibri version :  Kolibri 0.9.2
 * Operating system : Ubuntu 14.04
 * Browser : Chrome

### Scre

[2018-05-18 14:23] benjaoming commented on #3251
Hi @rtibbles @indirectlylit !

It sounds like it's time to find out where the versioning process can be relaxed.

I'm sorry that this is causing issues. I would like to point out the nature of CI and builds: They break, and for various reasons. Waiting for something to fail for a "meta" reason and then rebuilding is not nice of course, but the version string is really important, more than just as

[2018-05-18 18:26] rtibbles commented on #3477
Ah yes, apologies. I mislabelled this. Due to string changes, this was not added to 0.9.2.

[2018-05-18 18:32] rtibbles commented on #3477
(note that this should still be disallowed once you press the 'Create Account' button due to server side changes that were included).

[2018-05-18 18:40] jonboiser opened #3692 "Setup 'Open in Editor' functionality for vue devtools"
Configure webpack according to these docs so developers can open the source code for a vue component from within Vue Devtools

https://github.com/vuejs/vue-devtools/blob/master/docs/open-in-editor.md

[2018-05-18 19:17] rtibbles commented on #3482
I think this was fixed by #3542, which stops the webpack process from invoking the Django stack, so this should be resolved now. Let me know if you see it recur.

[2018-05-18 19:17] #3482 closed

[2018-05-18 19:21] rtibbles opened #3693 "Remove deprecated logic in devserver management command"
We now use `npm-run-all` to run parallel processes for development. We can therefore get rid of the logic for handling this inside the devserver command (and potentially get rid of it completely).

[2018-05-18 19:48] indirectlylit commented on #3678
Note that I was able to work around this issue, so it is not critical to fix

[2018-05-18 21:47] jonboiser opened #3695 "Make it easier to cancel Tasks safely"
### Observed behavior

If you try to GET a non-existent task you get a 500 error:
<details>
[code]
</details>

Same if you try to cancel it.

### Expected behavior

Make GETing and canceling non-existent Tasks safer:

1. GET -> 404
1. POST task/cancel -> 200 probably, since canceling a non-existent task doesn't change anything

[2018-05-21 04:50] nobicycle commented on #3695
When Importing Generating New Listings can take a very long time. It would be nice to have a cancel button.

[2018-05-21 04:59] nobicycle commented on #3274
Update for Kolibri 0.9.2
![450a1079-82e4-4339-8d14-00bc43528906](https://user-images.githubusercontent.com/1372447/40291255-7da1687c-5cf6-11e8-833c-0ddd8446e107.png)
[mounts.txt](https://github.com/learningequality/kolibri/files/2021279/mounts.txt)

Of the mounts shown, I exported successfully to the SYSTEM disk.
But
sdc      8:32   1     30G  0 disk /run/media/me/36d659da-7460-46d3-ba13-6762fb434

[2018-05-21 05:03] nobicycle commented on #3274
@lyw07
If I look at network ... is seems to be in a loop ...
![43e4680e-0432-4530-ab07-45ffbb7ccccc](https://user-images.githubusercontent.com/1372447/40291383-481cb6b0-5cf7-11e8-9004-da5660c15664.png)
, rapidly filling up the screen.

Here is a typical record :
http://127.0.0.1:8087/api/tasks/?1526879031536=1526879031536

[2018-05-21 05:11] nobicycle opened #3696 "Lost Channel Listings #3679 Not Fixed."
Hi, please delete this after reading.
3679 is not fixed on 0.9.2
I just tested - I had 3 channels with some content.
I downloaded listings for about 10 other channels.
Then logged off and restarted Kolibri.
On returning to Kolibri, I tested 3 of the newly generated channels - all of then started generating listings again.

[2018-05-21 11:34] swapnil106111 commented on #3602
@lyw07  Kolibri server is upgraded from kolibri version 0.9.0. Mailed you a database file on your mail which you mentioned.

[2018-05-21 12:20] JasonTame opened #3697 "Content marked as visible to coaches is still visible to learners."
### Observed behavior
The lessons in this screenshot should only be visible to coaches and administrators:

![coach_only_lessons](https://user-images.githubusercontent.com/15672948/40306931-d6f4e106-5d00-11e8-9f59-42e27fb81149.png)

They are still visible and accessible when logged in as a learner:

![viewing_lessons_as_learner](https://user-images.githubusercontent.com/15672948/40307009-25e6835a-

[2018-05-21 17:44] jonboiser commented on #3697
@JasonTame This feature should be available in the next release 0.10.

* Learners will not be able to see Resources visible only to Coaches
* Superuser, Admins, Class Coaches, and Facility Coaches will be able to see these Resources.

[2018-05-21 20:41] khangmach commented on #3671
@indirectlylit This is a good idea if I'm reading this right. Just to clarify, are you imagining the titles of the search result cards to be highlighted? Or the search suggestions to be partly highlighted? (would require live suggestions?)

[2018-05-23 17:13] #2123 closed

[2018-05-23 17:13] #2413 closed

[2018-05-23 17:18] indirectlylit opened #3703 "class coach column is difficult to translate"
### Observed behavior

Translating the coach column is proving difficult because of the complex "N others" pluralization:

![image](https://user-images.githubusercontent.com/2367265/40440151-1093a038-5e72-11e8-8dca-2b658217a544.png)

see https://crowdin.com/translate/kolibri/452/en-ar#32837

### Expected behavior

It would be best to simplify the string to make it easier to translate. One option m

[2018-05-23 19:53] christianmemije commented on #3514
All renderers except the epub renderer, have loaders.

[2018-05-23 20:07] christianmemije commented on #3685
Actually if you zoom in, you can tell there is another channel below the dropdown fold. You just can't see the dropdown's scrollbar. Anyhow, in #3687, we will no longer display disabled options.

[2018-05-23 20:07] #3685 closed, assigned to christianmemije

[2018-05-23 20:34] christianmemije commented on #3668
There are 2 options.
1. Use a text area.
  * Pros:
    * People want long descriptions?
  * Cons:
    * Enter would not submit the form since we do not want to prevent a textarea's default behavior or inserting a newline on enter.
    * We would have to display newlines in the lesson details page which might result in inconsistent layouts between lessons.

2. Use a textbox
  * Cons: People want lo

[2018-05-24 17:03] jtamiace commented on #3703
+1 on the `+2`

If you hover on the `2 others` right now, does it show via tooltip who else is there? Feel like there's enough context that the user would know what +N is referring to, but wondering if there's value in adding a tooltip which contains the names of all who aren't showing

[2018-05-24 17:05] khangmach commented on #3703
+X sounds good. No tooltip on hover currently. Would probably be an easy add...

[2018-05-24 17:59] lyw07 commented on #3602
@swapnil106111 thank you so much for the database file! It shows that you have the two facilities with the same name. This issue seems to be rare because kolibri should have only one facility user. Do you remember if you went through setup wizard twice? Was the database malformed when you upgraded from 0.9.0? Have you run any commands (e.g. `sqlite3` related) to recover the corrupted database? If

[2018-05-24 21:38] radinamatic commented on #3703
Agreed that `+N` sounds like a better solution. :+1:

[2018-05-25 06:32] swapnil106111 commented on #3602
@lyw07 This is generated because of two facilities in kolibri.
We followed following steps to solve this issue:
1. Delete entry from kolibriauth_collection;
2. Delete same entry which is deleted in kolibriauth_collection table from kolibriauth_facilitydataset.

Deleted the entry of facility which is not used in kolibri system.

[2018-05-25 18:30] aronasorman opened #3709 "Momentum scrolling on PDF renderer"
On a mobile device, it feels weird not to have momentum scrolling, compared to the rest of the app.

Version: v0.9.2
Browser: Firefox

[2018-05-25 21:39] indirectlylit commented on #3691
@christianmemije mind addressing this on the 0.9.x branch?

[2018-05-25 21:55] indirectlylit opened #3710 "PDF zoom gestures broken on mobile"
### Observed behavior

When trying to zoom in and out of a PDF on mobile using gestures, unexpected behaviors happen. For example, it's possible to zoom in the whole window such that the text becomes pixelated.

This behavior happens in both full-screen and embedded modes, but is more disconcerting in full-screen mode.

### Expected behavior

Zoom gestures should either work as expected (preferred

[2018-05-25 21:56] indirectlylit commented on #3710
(cc @christianmemije)

[2018-05-25 22:44] christianmemije commented on #3710
Does this issue exist in latest Develop?

[2018-05-28 07:06] mrpau-julius commented on #3690
This error message is not reproduce in latest version Kolibri 0.10.0a1.

## Screenshot
![screen shot 2018-05-28 at 3 25 29 pm](https://user-images.githubusercontent.com/38421180/40602571-a5424a46-628b-11e8-8b13-f12feba65658.png)

[2018-05-28 07:28] nobicycle commented on #3274
Further, I just exported to /home on Linux. A /home/KOLIBRI_DATA directory was created by kolibri  and the exports displayed complete/success.

But when I now try Import, Kolibri says:

"No drives with Kolibri content are connected to the server"

[2018-05-28 11:11] swapnil106111 commented on #3579
@rtibbles Tested this issue on Kolibri 0.9.2. Still it requires time to load the device tab. We have upto 1.5GB size content in our Kolibri Server.

[2018-05-28 22:02] benjaoming commented on #3437
Have tried to follow previous recipes in an Ubuntu 16.04 VM, and have been unsuccessful with all previously documented approaches.

At this stage, I give up because I have spent far too much time trying to isolate and reproduce this.

[2018-05-28 22:02] benjaoming commented on #3437
I think we need to open up a clean issue if the problem re-occurs. We can use this information to look for OTHER reasons why the DB might be malformed :)

[2018-05-28 22:02] #3437 closed

[2018-05-29 00:44] indirectlylit opened #3714 "device tab can be slow to open"
### Observed behavior

When large amounts of content are on a server, device tab can be slow to open. See e.g. https://github.com/learningequality/kolibri/issues/3579#issuecomment-392496875

### Expected behavior

Page should feel snappy

### User-facing consequences

Wait time, and potential perception that things are broken

### Context

0.9.2

[2018-05-29 00:44] indirectlylit commented on #3579
thanks @swapnil106111 - created a new issue to continue to track performance of the device tab

[2018-05-29 04:19] indirectlylit commented on #3274
Those are expected - it's polling for updates

[2018-05-29 04:21] indirectlylit commented on #3690
@mrpau-julius would you mind seeing if you can reproduce using 0.9.2?

[2018-05-29 04:22] indirectlylit commented on #3602
thanks - I'm going to close this issue. Please re-open if you feel it needs further attention

[2018-05-29 04:25] indirectlylit commented on #3668
Can we should use the existing text area but prevent the default behavior of inserting newlines on enter?

[2018-05-29 04:26] #3514 closed

[2018-05-29 04:29] indirectlylit commented on #3671
something like this:

![image](https://user-images.githubusercontent.com/2367265/40638126-2fc62142-62be-11e8-90c2-8ed21a4ea0ae.png)

[2018-05-29 04:30] #3697 closed, assigned to nobody

[2018-05-29 04:32] indirectlylit commented on #3679
@nobicycle [reports](https://github.com/learningequality/kolibri/issues/3696) that this issue persists in 0.9.2:

[2018-05-29 04:33] indirectlylit commented on #3696
re-opened #3679

[2018-05-29 04:33] #3696 closed, assigned to nobody

[2018-05-29 16:15] indirectlylit commented on #3371
@christianmemije this change will require string updates, so let's either make it a priority or punt to 0.11.0

[2018-05-29 16:21] ralphiee22 commented on #3620
Hey @nobicycle, this issue should be fixed.
Can you please test and verify the issue has been resolved.

[2018-05-29 16:58] khangmach commented on #3671
that would be a useful addition for sure.

[2018-05-29 17:09] khangmach commented on #3371
Just a heads up that due to recent lessons usability testing, I'm thinking heavily about removing this "add to lesson" functionality currently on this preview page. I believe doing so might partly alleviate the trending "double confirmation" confusion (I added via the preview already, why do I have to add/save again?) by guiding the user to add this specific resource in the actual navigation UI (c

[2018-05-29 17:12] indirectlylit commented on #3371
okay thanks - removing milestone

[2018-05-29 17:47] christianmemije commented on #3668
I'd say no because it goes against a basic textarea convention.

[2018-05-29 18:23] christianmemije commented on #3681
I tweaked the card sizing logic in https://github.com/learningequality/kolibri/pull/3687. So let's check if this issue still exists after that PR gets merged in.

[2018-05-29 18:29] christianmemije commented on #3671
In this case it might be helpful to also show descriptions? Another library we might also be able to leverage: https://github.com/TonPC64/vue-highlight-text

[2018-05-29 19:15] benjaoming opened #3720 "Optimize CherryPy settings (thread_pool)"
### Observed behavior

In performance testing, @bonidjukic and @jredrejo found that `server.thread_pool=30` was the worst possible setting. Incidentally that's the current setting :tada:

 - [ ] Urgently lower `server.thread_pool` (5? 10?) - Urgent for 0.10.0?
 - [ ] React to further optimization recommendations

### Expected behavior

We use the settings that are optimal for a lower scale device

[2018-05-29 20:05] indirectlylit commented on #3668
I'm not entirely convinced end-users would notice or care...

here's [some discussion](https://stackoverflow.com/questions/5286663/wrapping-text-inside-input-type-text-element-html-css) on the idea of a textbox with line wrapping, though granted it doesn't touch on the UX aspects - just the technical

[2018-05-29 20:15] christianmemije commented on #3691
Fixed in #3719

[2018-05-29 20:15] #3691 closed, assigned to christianmemije

[2018-05-29 20:23] christianmemije commented on #3668
If they are used to using textareas in forms/text messaging, then they might accidentally submit before they intended.

[2018-05-29 21:44] indirectlylit commented on #3668
That's certainly true. In this cases the consequences are not super high - they can easily re-edit.

Assuming we don't use a textarea with blocked newlines, seems like we need to go with regular textbox? Otherwise we need to start worrying about displaying the newlines.

[2018-05-29 21:56] christianmemije commented on #3668
A regular text input seems reasonable.

[2018-05-29 23:17] nobicycle commented on #3620
I got a mailing list message:
_Can you please test and verify the issue has been resolved._
To update, can I use pip  or do I have to pull kolibri's git repo?

[2018-05-30 17:28] christianmemije opened #3723 "Replace title attributes with accessible tooltips"
### Observed behavior

We use the title attribute in a various places to create a 'tooltip'. However these are not accessible. Instead we should be using something like the keen tooltip.

https://developer.paciellogroup.com/blog/2012/01/html5-accessibility-chops-title-attribute-use-and-abuse/

### Expected behavior

Accessible in all devices.

### User-facing consequences

Not accessible in all de

[2018-05-30 18:11] #3539 closed

[2018-05-30 18:11] #3681 closed, assigned to christianmemije

[2018-05-30 18:54] indirectlylit commented on #3723
Good to know - didn't realize there were accessibility issues.

I've been using `title` whenever the length is long because `ui-tooltip` doesn't handle these strings nicely. This was true in #3715, #3713, and https://github.com/learningequality/kolibri/pull/3278#issuecomment-370037251

[2018-05-30 19:41] DXCanas opened #3726 "Account for Varying Widths in Content Cards"
### Observed behavior

Thumbnails, and logos in particular, aren't always a 1:1 or 16:9 ratio. Apart from this, the way we display cards (and the associated thumbnails) evolves over time.

Thumbnails are getting stretched or distorted if they don't perfectly fit the card's thumbnail space.

### Expected behavior

You should be able to see the thumbnail in its entirety regardless of the space alloc

[2018-05-30 20:39] indirectlylit commented on #3726
At one point, we decided to standardize on 16:9 aspect ratio, and Kolibri content cards have stuck to this fairly rigidly (see e.g. [this change](https://github.com/learningequality/kolibri/pull/3713/files#diff-1fde6f0bdfefc5265e92d9904e8e960e) which fixed a slight bug there.)

It put the onus on content creators to add thumbnails which conform. It looks like some of our sushi chefs are not confor

[2018-05-30 22:17] christianmemije commented on #3726
We use a 1:1 ratio in some places like channel import lesson creation. We could also use `contain` instead of `cover` in the various places so the entire thumbnail is visible.

[2018-05-30 23:32] indirectlylit opened #3727 "define conventions for kolibri commands"
### Observed behavior

Let's decide on conventions for manage commands.

Two recent examples:

* https://github.com/learningequality/kolibri/pull/3594#issuecomment-388210709
* https://github.com/learningequality/kolibri/pull/3619#pullrequestreview-119193589

Other inconsistencies:

* shell
* plugin
* some older commands

### Expected behavior

commands are consistent

### User-facing consequences

[2018-05-31 00:30] ralphiee22 commented on #3620
Apologies, you only have to update the KA English channel on your kolibri instance. It should only update the necessary files to have the issue fixed.

[2018-05-31 00:59] indirectlylit opened #3728 "links in new search UI are broken"
### Observed behavior

observed during testing of #3687

Navigating to one of the other search links results in an error:

![broken-link](https://user-images.githubusercontent.com/2367265/40755061-7e6c37ae-6431-11e8-8016-e725c37ce182.gif)

### Expected behavior

All links should work

### User-facing consequences

sadness

### Errors and logs

![image](https://user-images.githubusercontent.com/236

[2018-05-31 01:04] #3703 closed, assigned to indirectlylit

[2018-05-31 01:05] #3668 closed

[2018-05-31 01:39] indirectlylit opened #3729 "clicking through items during import should cause a 'loading' state"
### Observed behavior

there is currently no user feedback when clicking items in the import UI, and we allow the user to click other things while a request is pending. Note that the URL is changing, but the visible UI is not:

![click](https://user-images.githubusercontent.com/2367265/40756535-fc19a374-6438-11e8-8364-438711fd6c57.gif)

### Expected behavior

* When the user clicks an item, we sho

[2018-05-31 02:05] indirectlylit opened #3730 "unhandled errors when shutdown occurs during import"
### Observed behavior

I encountered some errors during import.

### Expected behavior

No errors.

### User-facing consequences

None observed.

### Errors and logs

[code]

### Steps to reproduce

unknown

### Context

* kolibri dev server, 0.10.0
* python 3.6
* macos

----

cc @aronasorman @jonboiser any ideas?

[2018-05-31 02:10] indirectlylit commented on #3726
I wasn't aware we'd done this - recommend we reconsider that decision (cc @khangmach)

[2018-05-31 03:25] indirectlylit opened #3733 "allow command-line import to take a token as a parameter"
### Observed behavior

Currently `importchannel` only takes channel IDs

### Expected behavior

Should also take tokens

### User-facing consequences

confusion and failure to properly import

### Errors and logs

[code]

### Context

0.10.0

[2018-05-31 04:06] mrpau-julius opened #3734 "Save button was accidentally press and it's disabled when editing a username"
### Observed behavior
When we edit existing username and accidentally click the save, the save button will disabled.
Refer attached screenshot for more information.

### Expected behavior

We can edit again and save it.

### Steps to reproduce

1. login with admin account.
2. Click on facility.
3. Click on user tab.
4. Click on manage tab of any user.
5. Point the cursor in username text box then

[2018-05-31 05:32] aronasorman commented on #3730
Did you just kill your server, or was the import process finished? Various objects and variables getting a `None` value is symptomatic of the interpreter shutting down.

[2018-05-31 17:06] christianmemije commented on #3728
![](http://i0.kym-cdn.com/entries/icons/facebook/000/020/001/krabs.jpg)

[2018-05-31 18:39] christianmemije commented on #3654
Fixed in #3717

[2018-05-31 18:39] #3654 closed

[2018-05-31 19:51] indirectlylit opened #3738 "remove translations for user kinds on backend"
### Observed behavior

In role kinds we use the string "Classroom Assignable Coach": https://github.com/learningequality/kolibri/blob/develop/kolibri/auth/constants/role_kinds.py#L15

This string is not something that should be user-facing

### Expected behavior

implementation details hidden from user

### User-facing consequences

confusing, inconsistent terminology

### Context

https://crowdin

[2018-05-31 20:20] indirectlylit opened #3739 "assignment summary cannot be properly translated"
### Observed behavior

The assignment summary is not currently translatable because it concatenates a list of words into a single string separated by commas: https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/coach/assets/src/views/assignments/AssignmentSummary.vue#L188

See [this thread](https://learningequality.slack.com/archives/C59J8FEPN/p1527708853000731) for info on why

[2018-05-31 20:33] jonboiser commented on #3738
What does the crowdin comment say? I don't think 'classroom assignable coach' appears anywhere on the UI.

In the server-side code, the 'assignable' piece is important because it signals that the user with that role can be assigned (or not) to a classroom, but is not attached to any Classroom by default.

[2018-05-31 21:14] indirectlylit commented on #3730
Yes, it was the last thing in my logs _after_ I shut down, so that makes sense.

Should we be at all concerned about cleaner shutdown?

[2018-05-31 21:27] indirectlylit commented on #3738
![image](https://user-images.githubusercontent.com/2367265/40809174-63c0edca-64de-11e8-8a28-01222ef1b6e7.png)

My understanding was that "class coach" was equivalent? If not I don't quite understand what the roles are...

[2018-05-31 21:39] khangmach commented on #3739
Is this referring to the recipients section, specifically if a lesson is assigned to 1+ groups?

[2018-05-31 21:52] jonboiser commented on #3738
I'm not sure. I think 'class coach' is probably higher-level concept meaning something like

"Class Coach for Class A = User with 'classroom assignable coach' Role in Facility +
 'coach 'Role in Classroom A"

But a User with only the 'classroom assignable coach' role but no Memberships is ???.

Maybe if we had put in a dash---classroom-assignable coach---the phrase would have been easier to interp

[2018-05-31 21:53] khangmach commented on #3726
So lesson thumbnails using the 16:9 dimensions found in the learn page would look something like this:
<img width="1148" alt="screen shot 2018-05-31 at 2 50 51 pm" src="https://user-images.githubusercontent.com/25045166/40810239-180b3ea4-64e2-11e8-985b-ce8890fd079a.png">

I also adjusted the 24px to a 18px card padding

Is merely changing the dimensions of lesson cards to 16:9 a guarantee that the

[2018-05-31 21:56] khangmach commented on #3726
Also, Jonathan just mentioned to me that he had to change the thumbnail dimensions to accommodate coach contents icon. So the cards David pasted above aren't exactly 16:9

so maybe the thumbnail is like 16:9.5

[2018-05-31 22:09] jonboiser commented on #3739
@khangmach Yeah, like "Group A, Group B, Group C"

[2018-05-31 22:12] jonboiser commented on #3739
RTL comma-separated lists technically do not need to be "translated", especially since the items are user-generated. E.g. for some LTR languages, you just need to change

`abc, def, ghi`

to

`ghi، def، abc`

(i.e. replace the ',')

but the decision on whether to do this would rely on knowing the locale.

Similarly for other languages that are LTR, but use a different mark than ','

[2018-05-31 23:36] khangmach commented on #3739
If we really need a comma-less strategy, maybe this could be handled by bullets or line breaks. Not the most space saving or elegant strat...but gets the job done until we can have some custom components in the future or maybe even incorporate a table into this page

Recipients:
Coach Khang
Coach Devon
Coach Jonathan

**or**
- Coach Khang
- Coach Devon
- Coach Jonathan

[2018-06-01 00:13] jonboiser commented on #2022
One thing we can start doing now that won't break anything is move functions in `options.vuex.getters` to `options.computed` and `options.vuex.actions` to `options.methods`, like in this [diff](https://github.com/jonboiser/kolibri/commit/9206d77f789dbae23e517b7fbee605f915b6c8d8)

[2018-06-01 00:14] rtibbles commented on #2022
Do we want to have mapGetters as a universal helper function that we can then swap out for the vuex mapGetters function?

[2018-06-01 00:18] jonboiser commented on #2022
Yeah, that's why I named them so similarly. It wouldn't be an exact swap though.

pre vuex3
[code]

vuex 3 (assuming these getters are defined on your store/module
[code]
[code]

[2018-06-01 00:30] indirectlylit commented on #3739
that sounds like the easiest first step

longer-term, we can consider something like the "pills" used in gmail, but I don't think we should do something like that unless we're using it holistically thoughout the app:

![image](https://user-images.githubusercontent.com/2367265/40814972-485f7f14-64f8-11e8-88fe-f95aec007cae.png)

[2018-06-01 01:02] indirectlylit commented on #3726
No they are - I fixed that here - https://github.com/learningequality/kolibri/pull/3713/files#diff-1fde6f0bdfefc5265e92d9904e8e960e

[2018-06-01 17:12] lyw07 commented on #3641
this issue should be fixed by https://github.com/learningequality/kolibri/pull/3658 and https://github.com/learningequality/kolibri/pull/3724, so closing it now.

[2018-06-01 17:12] #3641 closed

[2018-06-01 17:52] aronasorman commented on #3730
This is hard, and I don't think there's any good way to avoid this -- even Django can't handle this for us, erroring out with `socket is None` or similar errors! Most of these aren't Iceqube errors I believe anyway, since they're from the `wsgiserver`. So the errors are likely raised from the Django side.

[2018-06-01 17:55] indirectlylit opened #3744 "update dev docs related to deviceowner"
### Observed behavior

developer docs currently reference a deviceowner, which no longer exists: https://kolibri-dev.readthedocs.io/en/develop/architecture/uap/concepts_and_definitions.html

### Expected behavior

docs should reflect new 'superuser' flag instead

### User-facing consequences

confused developers

### Context

0.10.0

----

cc @rtibbles @ralphiee22

[2018-06-01 18:34] indirectlylit commented on #3738
~Hmm... I don't actually see the `ASSIGNABLE_COACH` role used anywhere in the code.~ [edit: I do see it used on the front-end - just not on the backend]

My understanding was that...

![types](https://user-images.githubusercontent.com/2367265/40857294-9375add8-658f-11e8-8b52-bdea266b8360.png)

[2018-06-01 18:37] indirectlylit commented on #3641
thanks!

[2018-06-01 18:48] rtibbles commented on #3738
A classroom assignable coach is a role for a user who can be assigned to a coach role. It is *not* a class coach, because they are not assigned to coach a class.

[2018-06-01 19:24] radinamatic commented on #3738
If I understand correctly, any user role can be assigned to coach a class as a `class coach`, right? So why is this `classroom assignable coach` even a role for itself? 😕

I included the [link towards the docs](https://kolibri.readthedocs.io/en/latest/manage.html#coach-type) where the distinction `facility coach` vs. `class coach` is explained, to further the context to translators. If the `class

[2018-06-01 19:26] rtibbles commented on #3738
This role exists because it simplifies the UI flow. At the time of account creation, the admin has the option of making a coach user either a 'facility coach' or a 'class coach' (in the frontend), in the backend this maps either to having the role 'coach' wrt to the facility, or having the 'class assignable coach' role that is not associated with any particular class.

This was done in order to si

[2018-06-01 20:07] indirectlylit commented on #3738
Naming things is [hard](http://hilton.org.uk/blog/why-naming-things-is-hard), but I feel like we might be making this harder than it needs to be. Or, I could be completely misunderstanding still...

For sake of argument, let's say that we forget previous names and definitions, and use these instead:

* **Class coach:** a coach who (by default) has no access to classes. Can be assigned to a class t

[2018-06-01 20:12] jonboiser commented on #3738
I think me and @ralphiee22 talked about using better names for these roles like in the PR when implementing this, but weren't sure what the implications would be for backwards compatibility and syncing.

[2018-06-01 20:23] rtibbles commented on #3738
I think the main issue is that in the backend we are using a role based permission model to determine what data particular users have access to.

These 'roles' are with respect to particular collections (facilities, classrooms, and groups).

That's why in the backend there is no distinction between a 'facility coach' and a 'class coach' because that is not defined by the kind of the role object, i

[2018-06-01 20:36] benjaoming commented on #3228
@indirectlylit In case support questions appear from users, lets add a "known issues" chapter in the docs? Something where the work-around for a "malformed" database can appear?

Apart from that, I suggest closing this now. I will definitely recall this issue if I see a post about malformed dbs, it's a trauma :)

[2018-06-01 20:41] benjaoming commented on #17
#3607

[2018-06-01 20:45] rtibbles commented on #17
Shall we close this now, or maybe migrate kolibri_settings.json to an ini file?

[2018-06-01 20:52] benjaoming commented on #17
@rtibbles for non-human readable settings it still serves a purpose.. but I guess we don't have any of such? :tada:

I have changed the title of the issue, reduce, reuse, recycle :green_heart:

[2018-06-01 20:56] rtibbles commented on #17
Alas poor kolibri_settings.json, I knew him, Horatio!

[2018-06-01 22:03] radinamatic commented on #3738
Grateful to all for insightful details I was previously very much unaware of! 👍

Getting back to the Crowdin issue that sparked this exchange, are we envisioning the future deeper role "multiplication" that would render the current naming as simple `Class coach` problematic? Granted this is not high risk, as the `Classroom assignable coach` does not appear in UI, but I would like to simplify the w

[2018-06-01 22:05] rtibbles commented on #3738
I think the simple resolution of the specific crowdin issue is to remove these strings from what we translate, as they do not need to be translated.

[2018-06-01 22:05] rtibbles commented on #3738
(precisely because they are dev facing backend constants)

[2018-06-01 22:10] radinamatic commented on #3738
Leave it to you to take 30 seconds to solve the issue I was formulating a solution for much, much longer... 🙂

Jokes aside, I'd be perfectly fine with this!

[2018-06-01 22:46] indirectlylit commented on #3738
It wasn't clear to me why they are translated on the backend?

[2018-06-01 22:49] indirectlylit commented on #3738
Updated description and title.

I find the naming confusing ("classroom assignable coach" doesn't sound like a role that connects a user with a collection) but if we can decouple this from the end-user then that's good enough for me

[2018-06-02 00:12] indirectlylit commented on #3228
okay, created an issue for that: https://github.com/learningequality/kolibri-docs/issues/29

[2018-06-02 00:12] #3228 closed

[2018-06-02 20:27] #3683 closed, assigned to ralphiee22

[2018-06-02 20:27] #3682 closed, assigned to ralphiee22

[2018-06-02 20:29] #3513 closed

[2018-06-02 21:14] indirectlylit opened #3747 "refactor (or at least rename) custom-ui-menu"
### Observed behavior

Once upon a time, we needed a quick way of changing the default behavior of keen's `ui-menu`, and thus was born `custom-ui-menu`.

Currently, we use `custom-ui-menu` in two very different places: the side nav and the language selection drop-down. We still use keen's `ui-menu` in `k-dropdown-menu`.

`custom-ui-menu` has been getting more complex over time, including [recently

[2018-06-03 00:54] nobicycle commented on #3620
Unless I am getting dementia, those two examples above have disappeared from KA V10 - so I can't test them.
Actually, I can't reproduce either of  those breadcrumb paths above.
Math|Early math|Counting|Numbers 0 to 120 only contains videos - no exercises. Is this a bug?

If anyone else is able to find the paths then perhaps the explanation is an incomplete download. My update to KA V10 got to 99.8

[2018-06-03 04:06] indirectlylit opened #3749 "add another decimal point to import progress"
### Observed behavior

With very large imports on very slow connections, it's sometimes hard to tell if progress is being made.

### Expected behavior

Instead of one decimal point, we should show two.

### User-facing consequences

Users might think that progress has totally stalled, even if it hasn't.

This was observed by @jamalex

Also relevant because of work to auto-resume imports: #3510

[2018-06-03 04:13] indirectlylit commented on #3734
I can reproduce this. Nice catch, thanks!

[2018-06-03 04:29] indirectlylit commented on #3734
From what I can tell, the problem is with this line: https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/facility_management/assets/src/state/actions/user.js#L86

We're referencing an attribute `role` which is `undefined`. Instead, the facility user has a `roles` array which can contain multiple roles - e.g. both coach and admin.

[2018-06-03 04:30] indirectlylit commented on #3734
cc @jonboiser would you mind taking a look at this

[2018-06-03 21:58] needlestack opened #3750 "KOLIBRI_LISTEN_PORT in /etc/kolibri/daemon.conf not working"
### Observed behavior

After setting `KOLIBRI_LISTEN_PORT=9090` in `/etc/kolibri/daemon.conf`, then starting via `service kolibri start` the server still tried to start on port 8080 (which is occupied on my system).

### Expected behavior

Kolibri should start on the port defined by `KOLIBRI_LISTEN_PORT` in `/etc/kolibri/daemon.conf`

### User-facing consequences

Can't start the server on an alte

[2018-06-04 00:24] indirectlylit commented on #3750
thanks @needlestack

In 0.10.0 (to be released in approx 2 weeks) you'll be able to set the port using an `options.ini` file. Documentation for how to do that is is forthcoming.

@benjaoming could you confirm that the port config will work as expected when Kolibri is daemonized?

[2018-06-04 00:25] indirectlylit commented on #3750
if you need this config earlier, perhaps @benjaoming can give advice

[2018-06-04 16:13] benjaoming commented on #3750
Thanks for reporting this @needlestack - the error is indeed a mis-spelling.

Because the fix is in a file that's maintained by the .deb, you can fix it by upgrading to 0.9.2-0-ubuntu4, released here in the testing PPA: https://launchpad.net/~learningequality/+archive/ubuntu/kolibri-proposed

If you can confirm that it works, I'll proceed to releasing the package in the stable PPA...

[2018-06-04 17:07] khangmach commented on #3671
Developing something to show descriptions sounds like a stretch need and would be a bit tricky right now. I imagine title highlight would be the most upfront and useful change we could first pass. Descriptions get waaaay too long on items. If some topic/content titles are highlighted and some aren't, I think that's fine. Something's better than nothing :-)

[2018-06-04 17:08] khangmach commented on #3726
Working with Jonathan on this! We're gonna try to incorporate the same 16:9 dimensions on lesson cards and see how things look.

[2018-06-04 17:11] ivanistheone commented on #3726
@khangmach  If possible please check out the content import views as well (those are the other ones that show with square aspect ratio.

[2018-06-04 17:37] khangmach commented on #3726
@ivanistheone I've checked it out and I think that even though we could implement 16:9 there, it's a bit lower priority, as we aren't using cards there, only channel thumbnails in lists. I'll discuss this with Jonathan when he gets back. (Tagging @jonboiser for convo reference)

[2018-06-04 18:20] #3750 closed, assigned to nobody

[2018-06-04 20:52] #3511 closed

[2018-06-04 21:19] rtibbles commented on #3728
Should be fixed by #3737

[2018-06-04 21:19] #3728 closed, assigned to christianmemije

[2018-06-05 02:54] indirectlylit commented on #3671
Yes I agree that descriptions would be too much for now.

Granted it might be a little confusing because some results show up because of matches in the description, but now that title matches are ranked above description matches I think that's acceptable.

[2018-06-05 03:16] indirectlylit commented on #3727
In #3594 we decided to use the command

[code]

At the risk of bike-shedding that decision, I wanted to propose one convention update before committing to it:

In this case, the command would become `kolibri manage content move_directory`

Mashing multiple words together without any clear separator makes them hard to read, which is especially problematic because we won't be internationalizing the

[2018-06-05 03:28] lyw07 commented on #3727
I agree that `move_directory` sounds more clear. I will make changes to the command name.

[2018-06-05 03:42] indirectlylit opened #3761 "vuex3"
### Observed behavior

…

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2018-06-05 03:42] #3761 closed, assigned to nobody

[2018-06-05 15:27] benjaoming commented on #3727
Where is the quote from @indirectlylit ? IIRC, most django management commands are without underscores or dashes, like `makemigrations`.

[2018-06-05 15:29] rtibbles commented on #3727
Yeah, it is definitely more djangoic to not underscore.

[2018-06-05 15:30] rtibbles commented on #3727
I believe that the quote is from himself, @benjaoming.

[2018-06-05 15:50] indirectlylit commented on #3727
Yes, it wasn't a quote - it was a proposal .. Note that I also updated the issue title from "kolibri manage commands" to "kolibri commands".

Agreed that we should not violate conventions if possible. However we should also give Kolibri users the best possible experience, irrespective of Django conventions they likely won't be aware of.

Perhaps we need to treat the `manage` subcommands as an adva

[2018-06-05 15:56] #3692 closed, assigned to jonboiser

[2018-06-05 18:51] christianmemije commented on #3635
Addressed in #3760

[2018-06-05 18:51] #3635 closed

[2018-06-05 20:15] rtibbles opened #3763 "Past attempts on the mastery log is always 10, regardless of how many might be needed for the mastery criterion"
### Observed behavior
We currently always return the last 10 attempts as part of the MasteryLog serializer:
https://github.com/learningequality/kolibri/blob/develop/kolibri/logger/serializers.py#L51

This means that for an exercise that requires, e.g. 10 out of 14 correct answers, then a learner who had previously engaged with the exercise could end up having to answer more questions than demanded

[2018-06-05 21:17] benjaoming commented on #3727
Sorry, I can't chime in with any bias or intuition or preference here. I like `kolibri content move_directory` or `kolibri content move-directory` for readability. I like Django-ish conventions, too.

I'm +0 for both :)

[2018-06-05 21:18] benjaoming commented on #3727
...but I don't like the proxy or alias'ing stuff, it will have to end up in documentation, and that will make it cluttered.

[2018-06-05 21:19] benjaoming commented on #3727
Maybe I slightly prefer the Django-way, because I know that in 6 months, I won't be wondering if it had an underscore or not :)

[2018-06-05 21:20] benjaoming commented on #3727
But only very very very slightly

[2018-06-05 22:06] christianmemije commented on #2084
Cannot reproduce this in latest 0.10.

[2018-06-06 00:39] indirectlylit commented on #2084
reproducing this has been super challenging, even in 0.4.x :/ Maybe google might implicate some _possible_ reason that we could at least take a stab at?

[2018-06-06 01:32] indirectlylit commented on #3514
@aronasorman this is a test!

[2018-06-07 22:15] #3695 closed, assigned to rtibbles

[2018-06-08 00:04] lyw07 commented on #3274
Hi @nobicycle ,
`/run/media/me/` will not be shown in the current kolibri 0.9.2 because we have /run in our PATH_PREFIX_BLACKLIST. We are going to remove /run in the blacklist in 0.10 so that you will be able to see it in the export drive list when you upgrade to 0.10 (after we release it though).
Regarding `/home/KOLIBRI_DATA`, can you show me the result of `http://127.0.0.1:8087/api/tasks/locald

[2018-06-08 02:53] #3747 closed, assigned to christianmemije

[2018-06-08 02:54] #3720 closed, assigned to jredrejo

[2018-06-08 02:54] #3663 closed

[2018-06-08 02:56] indirectlylit commented on #3652
@christianmemije  mind taking a look at this?

[2018-06-08 02:57] indirectlylit commented on #3646
@ralphiee22  mind taking a look at this?

[2018-06-08 02:58] indirectlylit commented on #3609
updating my recommendation to https://github.com/ambv/black

[2018-06-08 03:05] #3568 closed

[2018-06-08 03:07] indirectlylit commented on #3544
cc @rtibbles

[2018-06-08 03:08] indirectlylit commented on #3544
at the least we should have a user-facing error

[2018-06-08 03:13] indirectlylit commented on #3481
migrated to studio issue above

[2018-06-08 03:13] #3481 closed

[2018-06-08 03:27] #2933 closed

[2018-06-08 03:30] indirectlylit opened #3773 "add support for arbitrarily-sized topics"
### Observed behavior

Especially when generated from sushi chefs, it's feasible that topics can have an arbitrary number of resources in them. Kolibri currently assumes that the number is something that can be returned in a single API call and displayed all at once on a single page.

Browsing topics with thousands of items in Kolibri brings the app to a halt

### Expected behavior

We should have

[2018-06-08 03:33] indirectlylit commented on #2781
mobile is somewhat better now:

![image](https://user-images.githubusercontent.com/2367265/41137814-15d79582-6a92-11e8-89c2-f4f9ff22f7c6.png)

[2018-06-08 03:33] #2781 closed

[2018-06-08 03:34] indirectlylit commented on #2724
fixed in #3717

[2018-06-08 03:34] #2724 closed

[2018-06-08 03:41] indirectlylit commented on #2523
dupe of #3659

closing newer one because it has a bit more info

[2018-06-08 03:41] #2523 closed

[2018-06-08 03:42] #2463 closed

[2018-06-08 03:51] indirectlylit commented on #1971
@jtamiace @khangmach would be great to add this functionality and in the process design a slightly more responsive, mobile-friendly set of buttons

[2018-06-08 03:52] indirectlylit commented on #1957
not the right place to track this

[2018-06-08 03:52] #1957 closed

[2018-06-08 03:53] #1713 closed

[2018-06-08 03:54] indirectlylit commented on #1652
#3311

[2018-06-08 03:54] #1652 closed

[2018-06-08 03:56] indirectlylit commented on #1468
sidenav is being addressed here: #3559

many other instances have been fixed. Let's open individual issues for any others we find

[2018-06-08 03:56] #1468 closed

[2018-06-08 04:01] indirectlylit commented on #3384
would be great to speed things up a bit

[2018-06-08 04:01] ivanistheone commented on #3773
I don't have anything with lots of nodes per folder (since we explicity try to avoid this), but if you want a channel for stress testing, nothing beats the PBS Media channel: https://studio.learningequality.org/channels/bc016b653d145d479ff3fe31b9ebd05d/edit

<img width="439" alt="screen shot 2018-06-08 at 12 00 49 am" src="https://user-images.githubusercontent.com/163966/41138409-111bc3c0-6aaf-11e

[2018-06-08 04:04] #2675 closed

[2018-06-08 08:58] nobicycle commented on #3274
http://192.168.1.100:8087/facility/#/classes
This works after logging in as admin

http://127.0.0.1:8087/api/tasks/localdrive/ and
http://192.168.1.100:8087/api/tasks/localdrive/
Generates:
Server Error (500)

ls -l /home/KOLIBRI_DATA
total 4
drwxr-xr-x 4 root root 4096 May 28 15:21 content

$ sudo chown kolibri:kolibri  /home/KOLIBRI_DATA -R
[sudo] password for me:
[me@tower ~]$ ls -l /home/KOLIB

[2018-06-08 16:55] benjaoming commented on #3384
Sorry, I didn't see the new milestone, just went and fixed it immediately :)

[2018-06-08 21:14] jonboiser commented on #3073
Here's a spreadsheet with some the components with inconsistent names

https://docs.google.com/spreadsheets/d/15zsNM9U7UDcJzPx7QLSdtrm8j0ngJVmvYbbVQIk5Ynw/edit?usp=sharing

[2018-06-08 22:02] indirectlylit opened #3780 "confusing message shown to admins on empty coach page"
### Observed behavior

When there are no classes, an admin sees this message:

![image](https://user-images.githubusercontent.com/2367265/41182808-26a3f398-6b2c-11e8-82cf-f20d133e37b5.png)

This is confusing for two reasons:

1. admins and facility coaches can see all classes, regardless of whether or not they've been assigned
2. the message instructs admin users to contact themselves

### Expecte

[2018-06-08 22:45] indirectlylit opened #3781 "audit alignment of displayed user data and content"
### Observed behavior

Sometimes we use `text-align` on user data and content. This over-rides `dir="auto"`, which results in content and text not being properly localized.

### Expected behavior

* No displayed user data or content should have `right` or `left` set for the `text-align` property (`center` is OK).
* All displayed user data and content should have `dir="auto"`
* `dir="auto"` should

[2018-06-09 00:25] indirectlylit commented on #3073
Can we add a prettier-type process to set component names based on filenames? That would fix this forevermore...

[2018-06-09 01:50] #2771 closed

[2018-06-09 01:51] #2768 closed

[2018-06-11 16:40] lyw07 commented on #3068
should be fixed by #3770, so closing this issue now.

[2018-06-11 17:29] indirectlylit commented on #2868
de-prioritizing since performance benefits are negligible

[2018-06-11 21:37] khangmach commented on #3739
![screen shot 2018-06-11 at 2 36 23 pm](https://user-images.githubusercontent.com/25045166/41258416-e6648c92-6d84-11e8-9f4a-6ce8f7f49d41.png)
Doesn't look like the most space saving implementation, but at least a row won't expand past three lines.

[2018-06-11 21:48] khangmach commented on #1971
In addition to adding a fit to width button (whatever that may look like), maybe fit to width should also be the default view when opening PDFs. I imagine that'll satisfy more reading demands than an on-load pdf that's too far zoomed in/zoomed out.

Adobe reader does this nicely

[2018-06-11 21:58] khangmach commented on #1971
I think the icon buttons work nicely for now. Some icons we can use for fit to width:
https://www.materialui.co/icon/settings-overscan
https://www.materialui.co/icon/code
https://www.materialui.co/icon/aspect-ratio

Personally I prefer code or aspect ratio

[2018-06-12 05:59] indirectlylit commented on #1971
The main challenge here is a proper mobile experience. When you load the PDF currently, the buttons obscure a big fraction of the screen, and they never disappear.

I'd recommend looking at existing mobile PDF viewers to get a sense for how they deal with the situation. Many of them toggle the buttons on and off when you tap the screen, for example.

[2018-06-12 06:04] indirectlylit commented on #3739
recommend vertically top-aligning cell data and adding a slightly different typographic treatment to "N other(s)" so it can't be confused with a name

[2018-06-12 17:09] jtamiace commented on #1971
Not sure how true this is of PDF renderers or the feasibility of it, but on scrolling down, another common pattern is to make buttons and other nav elements disappear, and reappear on scrolling up. I like the idea of hiding them on click or tapping the screen, too.

Fit to width as the default view also makes sense too.

[2018-06-12 17:25] jtamiace commented on #1971
Just throwing out another suggestion for mobile maybe unrelated to fitting to width/page -- pinching to zoom in & out. Could even eliminate the need for buttons on mobile, although i'm not sure of the a11y implications of doing that

[2018-06-12 19:58] jonboiser opened #3788 "Remove 'sinon' dependencies in favor of jest mocks"
Use the jest mocking functions instead of sinon.

[2018-06-12 20:21] rtibbles commented on #3788
Thanks - I removed what I could, but there's still a lot of cleanup to do here!

[2018-06-12 20:43] khangmach commented on #1971
Looking at a ton of PDF renderers (dropbox, slack, gdrive, acrobat, xero, chrome, ios files, whatsapp...here are some common patterns across the board:
- All of them fit to width upon PDF load
- None of them show zoom in/out buttons and opt for pinch behaviors
- Acrobat has a bottom bar for complex actions since it's has editing capabilities
- For all of these platforms, the action bar/screen opti

[2018-06-12 21:59] #3520 closed

[2018-06-12 22:00] #3749 closed, assigned to indirectlylit

[2018-06-12 22:00] #3738 closed, assigned to rtibbles

[2018-06-12 22:01] #3521 closed

[2018-06-12 22:01] #3575 closed

[2018-06-12 22:01] #3729 closed, assigned to jonboiser

[2018-06-12 22:27] christianmemije opened #3790 "Disable submit buttons when busy"
### Observed behavior

In most places, we do not disable save/submit buttons, which can result in multi-submission. Ideally we would disable these buttons. This is very common in modals but also exists elsewhere.

### Expected behavior

Notify the user that the request is in progress + prevent accidental multi submission. Use a loader?

### User-facing consequences

Unsure if the request was succe

[2018-06-13 00:06] indirectlylit opened #3791 "print 'time spent' at the end of each makefile command"
### Observed behavior

In #3776 we're trying to speed up `make dist`, but it's a little hard to measure the time the command takes.

### Expected behavior

In general, it would be nice to print out time spent in commands so we can easily check whether certain changes speed them up.

### User-facing consequences

None for users, but developers would have a better sense of how their changes affect t

[2018-06-13 00:10] indirectlylit commented on #1971
Do any of them show buttons when you tap the screen?

[2018-06-13 00:59] navakk9 opened #3792 "Cannot see all questions in my learner report for a particular exercise"
### Observed behavior

I logged in as a learner to do an exercise. I then logged in as a coach to see the learner report view of that particular exercise, what I noticed was that only one question was showing up in the report view instead of all the questions attempted. Screenshot is attached. This was on kolibri-beta.learningequality.org because we are using that site for demo videos.

![screen s

[2018-06-13 02:11] khangmach commented on #1971
@indirectlylit nope!

[2018-06-13 04:04] indirectlylit opened #3793 "scroll bar should be on edge of screen, not within margin"
### Observed behavior

regression caused by #3782 - scroll bar has margin to its right:

![screen shot 2018-06-13 at 11 09 01 am](https://user-images.githubusercontent.com/38421180/41328684-fc8d2d08-6efb-11e8-9f6c-c3c3ccef9300.png)

reported here: https://github.com/learningequality/kolibri/pull/3778#issuecomment-396801750

### Expected behavior

scroll bar should be on page edge

### User-facing

[2018-06-13 10:26] benjaoming commented on #3791
@indirectlylit

Use the `time` command.

For instance `time make dist`.

It's important to measure resources the right way for benchmarking. Measuring real time won't give you the right data.

[2018-06-13 10:27] benjaoming commented on #3791
Suggesting to close, tools are available on default POSIX systems, no need to beef up our code base :)

[2018-06-13 10:28] benjaoming commented on #3791
This is already somewhat evident from Travis and Buildkite. I think it's more about boosting the sense of importance and encouraging each other to *not* merge a PR until that "nice to have performance" issue is ironed out :)

[2018-06-13 15:52] #3791 closed, assigned to nobody

[2018-06-13 16:24] indirectlylit commented on #3791
thanks - wasn't aware of the `time` command!

[2018-06-13 16:44] khangmach commented on #3792
more specifically, the question list is missing
![missing](https://user-images.githubusercontent.com/25045166/41365477-53a56a1e-6eee-11e8-8477-00c6bd427006.png)

[2018-06-13 16:54] khangmach commented on #3792
see correct implementation on kolibridemo
<img width="642" alt="screen shot 2018-06-13 at 9 53 48 am" src="https://user-images.githubusercontent.com/25045166/41365994-be1e7bfa-6eef-11e8-91bf-bc1054e7e7e1.png">

[2018-06-13 18:20] navakk9 commented on #3792
![screen shot 2018-06-13 at 11 19 38 am](https://user-images.githubusercontent.com/26124065/41370164-b7e78284-6efb-11e8-9fb9-4fffa8d41679.png)

[2018-06-13 18:26] navakk9 commented on #3792
![screen shot 2018-06-13 at 11 26 37 am](https://user-images.githubusercontent.com/26124065/41370498-ac46ae22-6efc-11e8-8631-f0eb76a38ca5.png)

[2018-06-14 03:51] mrpau-richard opened #3803 "Remove the existing Kolibri installed files at the Python2.7 during upgrade."
### Observed behavior
When upgrading Kolibri from 0.9.2 to 0.10.0b2. The existing Kolibri installation files at the Python2.7 will still exist.
### Expected behavior
Remove the existing Kolibri installed files at the Python2.7 during upgrade

### Steps to reproduce
Install the kolibri 0.9.2 Windows installer.
Then upgrade it using the 0.10.0b2 Windows installer.
Navigate at the `Python2.7/Scripts`

[2018-06-14 03:53] mrpau-richard commented on #3803
Move at the [Kolibri Windows Installer](https://github.com/learningequality/kolibri-installer-windows/issues/75) repo

[2018-06-14 03:53] #3803 closed, assigned to nobody

[2018-06-14 07:55] mrpau-richard opened #3804 "User list not showing at the IE11 and Microsoft Edge 42.17"
### Observed behavior
User list is not showing at the  IE11 and Microsoft Edge 42.17 browsers.

### Errors and logs
![screen shot 2018-06-14 at 3 32 37 pm](https://user-images.githubusercontent.com/8663934/41398047-a4d97f2e-6fe8-11e8-8eea-0993f0cdd7f9.png)
![screen shot 2018-06-14 at 3 33 04 pm](https://user-images.githubusercontent.com/8663934/41398062-ad1c8b2c-6fe8-11e8-8611-d4354f6ad1aa.png)

A

[2018-06-14 17:41] rtibbles commented on #3792
This should have been fixed in #3799 - @navakk9 please confirm on next beta release.

[2018-06-14 17:42] khangmach commented on #3739
@indirectlylit With td top alignment & italic/smaller font size for 'n others'. Table looks wonky without vertically centering table data. Specifically, paddings look off and table ultimately would look out of place with other vertically centered tables across the app

<img width="805" alt="screen shot 2018-06-14 at 10 41 01 am" src="https://user-images.githubusercontent.com/25045166/41428609-78e1

[2018-06-14 17:46] khangmach commented on #3773
Have we considered the convention of loading more items the further the user scrolls downward? There have been talks of pagination to accommodate this large resource size issue. Was there leaning towards this as opposed to "loading more" strat because the system still has a high chance of freezing when the page loads more than the current max? (~25?)

[2018-06-14 17:53] ivanistheone commented on #3773
@khangmach I don't think Kolibri frontend will have a problem handling longer lists (at least not in the 100-500 items range). I believe the bottlenecks is more the backend issue preparing and shipping all the metadata in one shot.

The frontend could be a load-more-when-near-bottom interface, and the "pagination" could be just a backend implementation detail needed to get results piecemeal (e.g.

[2018-06-14 17:59] khangmach commented on #3671
Is this still slated for 0.11? I don't think this needs design work as far as I can tell...

[2018-06-14 18:24] jtamiace commented on #3773
Yes, a couple dev meetings ago, there was talk about using the "infinite scroll" pattern.

If that still sounds feasible, then on the design end, we'd just need sufficient loading state messages and UI transitions as more items are displayed.

If these topics are going to be getting that huge also, I'm wondering if a "back to top" button and/or _something_ like in-page text filters would be favora

[2018-06-14 19:22] indirectlylit commented on #3792
latest is available here - http://kolibribeta.learningequality.org/

@navakk9 would you mind confirming the fix?

[2018-06-14 19:32] indirectlylit commented on #3804
thank you!

[2018-06-14 19:37] indirectlylit commented on #3773
My understanding is that very large topics are discouraged during channel creation, so this will not be a common scenario to users.

If that's accurate, simply providing a paginated API on the backend and dynamic loading of new items infinite-scroll-style on the front-end should be sufficient.

However if we anticipate very large topics to be a common scenario, then we should explore ways of impro

[2018-06-14 19:43] indirectlylit commented on #3671
It's not currently targeted to any milestone, no. At this point, I don't believe it's worth the development effort given some of the higher-priority upgrades on our plate.

Let's definitely plan on coming back to it eventually.

Design-wise, I think we should revisit the highlight styling a bit: be intentional about the color, and probably add a 2px radius to the highlight corners.

[2018-06-14 19:59] indirectlylit commented on #3739
part of the reason it looks wonky is the single line rows are incorrect:

![image](https://user-images.githubusercontent.com/2367265/41434497-cd65a67e-6fd0-11e8-86b1-e215faf07704.png)

(If something is vertically top-aligned, that doesn't mean a single-line row should have different top- and bottom-padding)

----

That said, I'm fine keeping it centered. If we didn't have those horizontal rules, I

[2018-06-14 20:20] jtamiace commented on #3793
Not sure if this is an issue on other devices, but if my mouse on mac is hovered outside of the container, it doesn't scroll at all

[2018-06-14 21:46] khangmach commented on #3792
looks good on my end

[2018-06-14 23:47] #3792 closed, assigned to nobody

[2018-06-14 23:48] indirectlylit commented on #3793
yeah, that's a consequence of the same issue

[2018-06-15 00:34] #31 closed

[2018-06-15 08:23] mrpau-richard opened #3805 "0.7.2 Upgrade to 0.10.0"
### Observed behavior
Login as admin at the log in page after the upgrade from 0.7.2 to 0.10.0b2 will have a javascript errors and the login page freeze. After I reload the page I logged in as admin and redirected at the profile page.

### Expected behavior
Log in page should work properly when I log in.

### Errors and logs
![screen shot 2018-06-15 at 4 07 09 pm](https://user-images.githubusercon

[2018-06-15 08:41] mrpau-richard opened #3806 "Device and Facility pages crash after upgrade"
### Observed behavior
Device page crashed after the upgrade from 0.7.2 to 0.10.0b2

### Errors and logs
![screen shot 2018-06-15 at 4 37 14 pm](https://user-images.githubusercontent.com/8663934/41458915-84e195d0-70ba-11e8-84ee-e6e722b741dd.png)

### Steps to reproduce
* Install the 0.7.2
* Copy the [0.7.2 Kolibri sample data](https://drive.google.com/open?id=1HAJcFr7Yhqj2C8gE88-4gMR7sNJtQiuh) at t

[2018-06-15 08:49] mrpau-richard opened #3807 "Facility page crashed after the upgrade"
### Observed behavior
After the upgrade from 0.7.2 to 0.10.0b2 the facility page crashed.

### Errors and logs
![screen shot 2018-06-15 at 4 48 07 pm](https://user-images.githubusercontent.com/8663934/41459349-f28e92a8-70bb-11e8-810c-f7e1ee3af40b.png)

### Steps to reproduce
* Install the 0.7.2
* Copy the [0.7.2 Kolibri sample data](https://drive.google.com/open?id=1HAJcFr7Yhqj2C8gE88-4gMR7sNJtQiu

[2018-06-15 14:33] indirectlylit commented on #3805
see also #3806, #3807

[2018-06-15 14:40] indirectlylit commented on #3807
duplicate of #3806

[2018-06-15 14:40] #3807 closed, assigned to nobody

[2018-06-15 19:28] #3788 closed, assigned to jonboiser

[2018-06-15 20:37] jtamiace commented on #3773
I'm worried that a sub-optimal finding experience due to large topics will discourage use entirely of a content source, but maybe we just need to get feedback first and see for ourselves what the experience would be like.

If filtering enhancements do need to be made, other areas to consider are the import/export and lessons/exams UI's

[2018-06-15 21:01] jtamiace commented on #3780
I've started a google doc linked to this trello card that explores alternative wording according to role and whether classes exist or not in a Facility

https://trello.com/c/q2NmPFjl/189-empty-state-empty-coach-for-coaches-and-admins

[2018-06-15 21:17] jtamiace commented on #3739
https://material.io/design/components/data-tables.html#specs

At the bottom, material design put an example of a third-party table with center-aligned data in a row, but doesn't explain why it should be so

[2018-06-18 17:49] indirectlylit opened #3812 "shadow should fade to transparent, not gray"
### Observed behavior

shadow obscures content under it completely, and has a hard edge:

![image](https://user-images.githubusercontent.com/2367265/41552899-04a8223a-72e5-11e8-9e55-1a3ad3c6f5be.png)

### Expected behavior

shadow should look smoother

### User-facing consequences

looks a little janky

### Steps to reproduce

scroll down on an exercise

### Context

0.10.0

----

cc @christianmem

[2018-06-18 17:52] indirectlylit opened #3813 "when modal content scrolls, make clear that content is scrollable"
### Observed behavior

In the new modals from #3786, it's not obvious that they can be scrolled:

| No scroll | Scroll |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/41551737-a2a1eb50-72e1-11e8-89d8-12c81ecb0467.png) | ![image](https://user-images.githubusercontent.com/2367265/41551711-90b7b488-72e1-11e8-972e-47655f03b655.png) |

### Expected behavior

Should be clear that

[2018-06-18 19:18] jtamiace commented on #3813
Linking existing mocks from all the 2017 style guide work, inspired by material design's modals.

Can revisit if an alternative design is needed

https://drive.google.com/file/d/0B3sjMmpdLvk4Tzk4ZnJpUV9nSkE/view

<img width="697" alt="screen shot 2018-06-18 at 12 18 41 pm" src="https://user-images.githubusercontent.com/6668144/41557218-c9050dc6-72f1-11e8-9a0e-465eba514dca.png">

[2018-06-18 19:42] indirectlylit commented on #3813
thanks didn't know they were in the original mocks.

those lines are only shown when the content doesn't fit, right?

[2018-06-18 19:46] jtamiace commented on #3813
Yes I think so. There are various mockups and gifs on their component page

https://material.io/design/components/dialogs.html#anatomy

[2018-06-18 19:51] jtamiace commented on #3813
I'm seeing initially more work needing to be done on defining max-heights before these lines appear on mobile vs desktop (the change language modal is the first thing that comes to mind)

[2018-06-19 00:11] #3311 closed

[2018-06-19 17:23] rtibbles opened #3818 "Add developer documentation for creating sidenav items"
#3559 introduced a new way of adding items to the side navigation bar and the app bar dropdown menu.

Currently this is undocumented. It should be documented in the developer docs, particularly as it would eventually be an API that 3rd party plugin developers might want to engage with.

[2018-06-19 17:27] rtibbles opened #3819 "Add validation for roles, priority, and section properties of side nav components"
#3559 introduced side nav components that can plug into the side nav. While all of the above properties are optional on these components, we currently do no validation on them to ensure that when the properties are set, they are set appropriately.

[2018-06-19 18:52] indirectlylit opened #3821 "channel thumbnail doesn't update after republishing and re-importing"
### Observed behavior

Reported by @bonidjukic and @laurenlichtman -

I believe the channel initially had no thumbnail (or the 'default'), and then one was added.

### Expected behavior

Thumbnail should appear correctly

### User-facing consequences

Mismatch between studio channel and kolibri channel

### Steps to reproduce

* create a channel in studio with no thumbnail
* publish
* import
* add

[2018-06-19 18:58] indirectlylit opened #3822 "descriptions in Learn sometimes don't appear"
### Observed behavior

reported by @bonidjukic - sometimes descriptions don't appear until the page is re-visited:

![descriptions](https://user-images.githubusercontent.com/2367265/41618393-e855ec6a-73b7-11e8-960e-36e24022fd82.gif)

### Expected behavior

descriptions should always show up

### User-facing consequences

users lose a lot of context while browsing and experience inconsistency

###

[2018-06-19 20:03] bonidukic commented on #3822
I would just amend this part:

with: descriptions are never displayed on the first node visit

[2018-06-19 20:47] christianmemije commented on #3813
Addressed in #3786

[2018-06-19 20:47] #3813 closed, assigned to nobody

[2018-06-19 20:48] christianmemije commented on #3548
Addressed in #3560

[2018-06-19 20:48] #3548 closed

[2018-06-20 06:40] mrpau-julius opened #3824 "No cursor appear in password field, both user's add and edit password."
### Observed behavior

I use the <a href="https://docs.google.com/spreadsheets/d/1FhA5qIDB2DfNJW7bCPZ8lweVI-ZfDUchwY8mJwqdMWE/edit#gid=1279941688">Kolibri integration testing spreadsheet</a> as a guide to test the Kolibri 0.8.0 upgrade to 0.10.0b3 in Ubuntu 18.04. From the Superuser there's a instruction to Create a facility administrator account.

 In users tab, I click add new, then fill-up the

[2018-06-20 08:34] mrpau-richard opened #3825 "Database disk image is malformed"
### Observed behavior
Upgrading kolibri from 0.7.2 to 0.10.0b3 will have this `Database disk image is malformed` error when running the `kolibri start` command.

### Errors and logs
[code]

### Steps to reproduce
* Install the 0.7.2
* Copy the [0.7.2 Kolibri sample data](https://drive.google.com/open?id=1HAJcFr7Yhqj2C8gE88-4gMR7sNJtQiuh) at the `.kolibri`
* Upgrade to 0.10.0b3
* Run the `Kolibri s

[2018-06-20 09:55] bonidukic opened #3826 "Triple scrollbar appearing on certain content types"
### Observed behavior
Triple scrollbar appears when accessing Flexbook or PLIX content.
It seems that the first scrollbar comes from the inner `iframe`, and the second from the wrapping `div`.

- Possibly regression caused by PR #3782 - add max-width to pages and update some text-alignment
- Also might be relevant: issue #3793 - scroll bar should be on edge of screen, not within margin

### Expect

[2018-06-20 20:16] khangmach opened #3828 "Lesson label/text margin too big"
### Observed behavior
(in-lesson page) Margin between label text and paragraph text too far apart, making vertical readability difficult

**Current, with margin bottom = 16px:**
![screen shot 2018-06-20 at 1 12 13 pm](https://user-images.githubusercontent.com/25045166/41682238-092bd7a4-748c-11e8-9f72-2be22e9d3e9d.png)

**Proposed, with margin bottom = 8px:**
![screen shot 2018-06-20 at 1 11 56 pm]

[2018-06-20 22:40] indirectlylit commented on #3652
Beyond the obvious layout issues, the typography in this bottom section is all over the place:

![image](https://user-images.githubusercontent.com/2367265/41688113-96e22f18-749f-11e8-8171-fe51400ea338.png)

![image](https://user-images.githubusercontent.com/2367265/41688112-92c28ef0-749f-11e8-9f40-b237069cbeb7.png)

Multiple weights, colors, baselines, and underline styles.

[2018-06-20 23:53] indirectlylit commented on #3652
cc @khangmach @jtamiace see notes above on typography

[2018-06-21 01:53] indirectlylit opened #3832 "radio buttons in group modal are borked"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/41693639-1de45d90-74bb-11e8-89ec-a1b1916ecbaa.png)

### Expected behavior

should be good lookin'

### User-facing consequences

things look a little broken

### Steps to reproduce

move a learner into a group

### Context

0.10.x

[2018-06-21 02:15] #3530 closed

[2018-06-21 02:22] indirectlylit commented on #3824
Hi @mrpau-julius  -

Could you provide more detail on what this means? What exactly happens when you try typing?

FYI sometimes recording a short animated gif screencast is a good way to demonstrate a subtle interaction problem without needing to explain verbosely.

[2018-06-21 02:23] indirectlylit commented on #3825
cc @benjaoming looks like we have one in the wild! Would you mind checking into this with @mrpau-richard and seeing if your dbrestore command helps?

[2018-06-21 02:40] indirectlylit commented on #2084
@swapnil106111 unfortunately we still can't repro :(

[2018-06-21 02:41] #3734 closed, assigned to jonboiser

[2018-06-21 02:43] indirectlylit commented on #3804
@jonboiser would you mind taking a look at this?

[2018-06-21 02:44] #3793 closed, assigned to indirectlylit

[2018-06-21 03:14] mrpau-julius commented on #3824
Hi @indirectlylit

sorry for short detail that I wrote. I will edit now to explain more in details.

[2018-06-21 04:02] indirectlylit commented on #3824
thank you!

[2018-06-21 08:19] mrpau-julius opened #3834 "No compatible source was found for this media"
### Observed behavior

during my test in <a href="https://docs.google.com/spreadsheets/d/1FhA5qIDB2DfNJW7bCPZ8lweVI-ZfDUchwY8mJwqdMWE/edit#gid=934550639">kolibri integration testing </a> for Ububtu 18.04, I installed the kolibri 0.10.0b3.
Base on the kolibri scenarios "Engage with but do not complete individual content items" and follow the instruction. when I select a video and open it. theirs a

[2018-06-21 09:59] benjaoming commented on #3825
@indirectlylit indeed - and it seems that I might have to go back to 0.7.2 to reproduce malformed databases.

Thanks @mrpau-richard for reproducing this :tada:

I have two favors to ask from you @mrpau-richard :)

1. The technique for restoring the database as described [here](https://github.com/learningequality/kolibri-docs/pull/28/commits/88e4599a02894ff3286a75ce141978c6dd8d17e3#diff-5f783e99ad4

[2018-06-21 10:00] benjaoming commented on #3825
Refs: #3228

[2018-06-21 16:13] indirectlylit commented on #3739
yeah, definitely the presence or absence of divider lines I think plays a big role here

[2018-06-21 16:33] indirectlylit opened #3835 "update developer docs with info about github label conventions"
### Observed behavior

Our use of github labels is not documented as pointed out here: https://github.com/learningequality/kolibri/pull/3827#issuecomment-399035053

### Expected behavior

Should add this info to this page: http://kolibri-dev.readthedocs.io/en/develop/references/development_workflow.html

We can roughly use this info:

* _changelog_ - used on PRs or issues to generate 'more details

[2018-06-21 20:38] cpauya commented on #3824
+1 on the .gif - @mrpau-richard knows how to do it @mrpau-julius :)

[2018-06-21 20:57] jamalex opened #3836 ""Progress can't be null" error when navigating quickly away from content page while it's first loading"
### Observed behavior

![image](https://user-images.githubusercontent.com/618416/41744629-39a0479e-7559-11e8-8321-dffc2fbaaf59.png)

### Expected behavior

No error? I didn't do anything wrong! :(

### User-facing consequences

Slap to the face!

### Steps to reproduce

1. Clicked down a few levels in the topic tree, and got to a content node.
1. Immediately clicked on a breadcrumb halfway up the

[2018-06-21 21:04] jtamiace opened #3838 "'Edit class name' icon button should be a text link"
<img width="333" alt="screen shot 2018-06-21 at 1 49 10 pm" src="https://user-images.githubusercontent.com/6668144/41745505-ff9f6662-755b-11e8-96e0-9e51344c9f38.png">

### Context

0.10 bug bash

[2018-06-21 21:22] indirectlylit opened #3839 "License and author metadata missing from content pages"
### Observed behavior

metadata missing:

![image](https://user-images.githubusercontent.com/2367265/41746209-63a30ac2-755e-11e8-84ae-3d99fe20fe7a.png)

### Expected behavior

author, license, etc should be shown

### User-facing consequences

content creators won't be pleased

### Steps to reproduce

view any content

### Context

0.10.0

[2018-06-21 21:50] indirectlylit opened #3841 "copyright date should follow current year and be set at build-time"
### Observed behavior

copyright is hard-coded, which makes it likely that we'll forget to update it

### Expected behavior

The copyright date should be set at built time

### User-facing consequences

copyright might be out-of-date

### Context

0.10.0

[2018-06-21 21:56] indirectlylit opened #3843 "incorrectly logged out due to inactivity"
### Observed behavior

reported by @carinediaz during bug bash

![image](https://user-images.githubusercontent.com/2367265/41747518-2081ff3c-7563-11e8-881c-ac88e81322b2.png)

### Expected behavior

user's shouldn't get logged out

### User-facing consequences

annoyance

### Steps to reproduce

unknown

### Context

k0.10.0

[2018-06-21 22:02] indirectlylit opened #3844 "error and log-out after clicking completed exam"
### Observed behavior

reported by @lauradanforth during bug bash:

### Expected behavior

no errors and no log-out

### User-facing consequences

annoyance

### Errors and logs

[code]

### Steps to reproduce

unknown

### Context

k0.10.0

[2018-06-21 22:09] khangmach opened #3845 "Autoplay doesn't work on specific videos"
### Observed behavior
No autoplay on certain videos. Example: http://kolibribeta.learningequality.org/learn/#/topics/c/5807bb0295cf552f8abb719cca59a178

### Expected behavior
Autoplay

### User-facing consequences
Inconsistent behavior

### Context

Tell us about your environment, including:
 * Kolibri version: 0.10.0b4
 * Operating system: MacOS
 * Browser: Chrome

[2018-06-21 22:17] indirectlylit opened #3846 "dropdown for facility selection is confusing"
### Observed behavior

reported by Azeez during the bug bash:

![image](https://user-images.githubusercontent.com/2367265/41748256-ee8ea1e4-7565-11e8-8b02-de5bda54e795.png)

### Expected behavior

If switching facility is not an option, it should be disabled or rendered as a simple text with label.

One reason for not hiding it is that if someone creates an account and then a second facility is ad

[2018-06-21 22:25] jtamiace opened #3847 "If a topic appears in "Next Steps," it takes the user to a content renderer page"
<img width="1072" alt="screen shot 2018-06-21 at 3 24 05 pm" src="https://user-images.githubusercontent.com/6668144/41748545-3960b922-7567-11e8-94d9-7f7ded283015.png">
<img width="1083" alt="screen shot 2018-06-21 at 3 24 13 pm" src="https://user-images.githubusercontent.com/6668144/41748546-397feb1c-7567-11e8-814c-1296d1011d2a.png">

### Expected behavior

User should be taken to the topic and no

[2018-06-21 22:36] indirectlylit commented on #3838
I think the edit button is actually a pre-style-guide hold-over: I think it's the only place in the app we use this pattern.

Maybe it would be more idiomatic to do something like

![image](https://user-images.githubusercontent.com/2367265/41748935-d2216426-7568-11e8-92fe-f4bb93765eb3.png)

[2018-06-21 22:45] jtamiace opened #3848 "Progress bar on topics in Learn not reflecting actual progress"
### Observed behavior

Even if all items within a topic are completed, it will sometimes display as incomplete
<img width="1027" alt="screen shot 2018-06-21 at 3 07 55 pm" src="https://user-images.githubusercontent.com/6668144/41749211-0ac6d940-756a-11e8-942b-4232d335fb97.png">

### Expected behavior

The topic should have a full yellow bar with a complete icon

### User-facing consequences

Learn

[2018-06-21 23:41] jeepurs commented on #3068
When installating 0.10 beta4 to Raspian, Kolibri couldn't find the USB mounted and content import did not occur.  The USB was mounted on Port 3: Dev 7. Does it make sense to take it off the blacklist?  @lyw07 @indirectlylit

![img_20180621_161745](https://user-images.githubusercontent.com/5150483/41750635-dd0debee-7571-11e8-948c-8f7be2527167.jpg)
![img_20180621_163719](https://user-images.githubus

[2018-06-21 23:48] jeepurs commented on #3068
![img_20180621_164157](https://user-images.githubusercontent.com/5150483/41750835-e8b841b4-7572-11e8-9bcd-4d1336be14ea.jpg)

[2018-06-21 23:53] lyw07 commented on #3068
the folder is not in the blacklist, so I think the issue is more related to https://github.com/learningequality/kolibri/issues/3274. I think it's possibly because the kolibri user is not able to access the folder: https://learningequality.slack.com/archives/CB37UM23A/p1528926956000142

[2018-06-21 23:58] indirectlylit opened #3851 "language list seems randomly sorted"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/41751032-02d3dca6-7574-11e8-8dbf-ce5e4cabafba.png)

### Expected behavior

Languages should be sorted "alphabetically", or whatever that means when multiple character sets are being compared.

### User-facing consequences

users might have some difficulty finding their language

### Context

0.10.0

[2018-06-22 01:09] indirectlylit commented on #3068
might be a small regex tweak - want to sync with @jamalex ?

[2018-06-22 02:52] mrpau-julius opened #3852 "Can't create a superuser on windows 7 using kolibri 0.10.0beta5"
### Observed behavior
I install the Kolibri 0.10.0beta 5 in windows 7 and it was successfully install, while I 'm load in Firefox browser to setup or create a superuser and facility and fill-up all the fields. the setting was appeared and has a error messages.

### Expected behavior
The superuser must create and auto login.

### Errors and logs

[code]

### Context

Kolibri version: 0.10.0b5
Opera

[2018-06-22 06:02] mrpau-richard commented on #3825
@benjaoming after I ran this command `sqlite3 /home/<your_username>/.kolibri/db.sqlite3 .dump | sqlite3 fixed.db `, The error database malformed still exist.
[code]

I can't reproduce the issue @benjaoming if I'm not using the 0.7.2 sample data. When I install the 0.7.2 then manually create some data there then upgrade to 0.10.x the malformed database can't reproduce.

[2018-06-22 08:10] mrpau-richard opened #3853 "Exam error message showing in all exercises."
### Observed behavior
When I input a wrong character in the exam exercise it will show the error in all exercises.

### Expected behavior
The error message should show only in the specific exercise.

### Errors and logs
![gif-temp](https://user-images.githubusercontent.com/8663934/41765417-998c3216-7636-11e8-8d54-33614a03db2c.gif)

### Context

 * Kolibri version: 0.10.0b5
 * Operating system: Ubu

[2018-06-22 13:59] lauradanforth commented on #3844
For steps to reproduce, I logged in as admin and cilcked Learn then clicked on a class and onto an Exam that had been completed.

[2018-06-22 16:13] radinamatic commented on #3834
This is issue only on Ubuntu/Debian with Firefox combo, as some of the media codecs are not included by default in the installation because of the copyright. It is solved by installing [Ubuntu restricted extras package](https://help.ubuntu.com/community/RestrictedFormats).

Added the [warning in the docs](https://github.com/learningequality/kolibri-docs/pull/28/commits/a5f18149caaa06fa8e4dda17b4d5

[2018-06-22 17:46] christianmemije opened #3855 "Lesson resource preview layout is broken"
### Observed behavior

Lesson resource preview is broken The wrapper needs a defined height.

![localhost_8000_coach_ nexus 7](https://user-images.githubusercontent.com/7193975/41791046-5ca6c6f4-7609-11e8-9c89-0261caf486d6.png)

### Context

0.10

[2018-06-22 17:49] jtamiace commented on #3102
Using this doc to explore solutions for this issue and also implications for syncing https://docs.google.com/document/d/1ruraw_a4gJ7zI9B1qaJ4lroBgo2RO3qyxYrwRkBOz4s/edit#

[2018-06-22 20:49] christianmemije commented on #3652
Fixed in #3829

[2018-06-22 20:49] #3652 closed

[2018-06-22 20:49] christianmemije commented on #3851
Fixed in #3829

[2018-06-22 20:49] #3851 closed, assigned to nobody

[2018-06-22 20:57] khangmach opened #3856 "Exam list order doesn't match lessons"
### Observed behavior
Exam list order is in alphabetical order. See my most recent exam, "Highlight 1"

<img width="1039" alt="screen shot 2018-06-22 at 1 54 40 pm" src="https://user-images.githubusercontent.com/25045166/41798853-127837b4-7624-11e8-9d19-64f2fec63586.png">

### Expected behavior
Exam list order was initially specced out to be listed in order of recency, in the order of most recent

[2018-06-22 21:00] christianmemije commented on #3824
Issue has to do with with focus event listener with the core-modal.

[2018-06-22 21:53] #2025 closed

[2018-06-22 21:53] #2423 closed

[2018-06-22 21:53] #3819 closed, assigned to rtibbles

[2018-06-22 22:32] navakk9 opened #3858 "Answer images do not pop up in the exercise"
### Observed behavior

I want to do my exercise on shapes, because it is SO MUCH FUN. But then I see that the correct answer is the only option which is showing up. The images for the other options did not show up. This is not fun anymore.

### Expected behavior

I except all the images to load on my exercise options.

### User-facing consequences

Learners will not take this exercise seriously an

[2018-06-22 23:02] indirectlylit opened #3861 "Deduplication of 'Resume' and 'Most popular' happens on client side"
### Observed behavior

these sections may not have as many items as they ought to:

![image](https://user-images.githubusercontent.com/2367265/41802395-4608b4ee-7635-11e8-928a-d85784f5c8d2.png)

### Expected behavior

de-duping should occur server-side so more items are shown

### User-facing consequences

less useful landing page

### Steps to reproduce

…

### Context

0.10.0

[2018-06-22 23:14] indirectlylit opened #3864 "fix use of dir=auto in card"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/41802637-174e8b0e-7637-11e8-8d9d-b0aebd028a6e.png)

### Expected behavior

![image](https://user-images.githubusercontent.com/2367265/41802658-36d5bee8-7637-11e8-9adb-06645fc30cd1.png)

### User-facing consequences

incorrect language alignment

### Context

0.10.0

[2018-06-22 23:25] indirectlylit commented on #3834
thanks!

[2018-06-22 23:25] #3834 closed, assigned to radinamatic

[2018-06-22 23:30] indirectlylit commented on #3848
@jonboiser mind looking at this?

[2018-06-22 23:40] indirectlylit commented on #3852
thanks @mrpau-julius - remember to wrap your error strings in triple backticks

[2018-06-22 23:41] indirectlylit commented on #3852
Is this reproducible every time you try to install kolibri? or was this something that just happened once?

@radinamatic any idea what may have happened here?

[2018-06-22 23:48] #3822 closed, assigned to christianmemije

[2018-06-22 23:52] indirectlylit commented on #3844
unfortunately I'm having trouble reproducing this

[2018-06-22 23:55] indirectlylit opened #3866 "improve speed of loading the device 'channel list' page"
### Observed behavior

Currently, loading the 'channel list' page can take a very long time when large channels are installed. This is exacerbated on slow devices like the Pi, and is especially bad because it's the default page and shown before import begins.

### Expected behavior

Channel listing page should load more quickly.

### User-facing consequences

May think the app is broken and lose p

[2018-06-22 23:59] indirectlylit opened #3867 "hide single breadcrumb in lesson resource management"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/41803423-879e85de-763d-11e8-995a-67d0845d7e2f.png)

### Expected behavior

![image](https://user-images.githubusercontent.com/2367265/41803427-935897c0-763d-11e8-9be4-6ff28d220f04.png)

### User-facing consequences

minor UX improvement

### Context

k0.10.0

[2018-06-23 00:08] indirectlylit opened #3868 "500 error after clicking recommended content"
### Observed behavior

reported by @cpauya during a bug bash:

### Expected behavior

no error

### User-facing consequences

broken UX

### Errors and logs

…

### Steps to reproduce

### Context

Platform: macOS 10.13.5 - Chrome version 67.0.3396.87 (Official Build) (64-bit)

0.10.0

[2018-06-23 00:12] indirectlylit opened #3869 "exam attempt shows incorrect response indicator but correct answer in preview pane"
### Observed behavior

observed by @jeepurs - see below that '3' is the correct answer, but currently '2nd answer' is selected and shows incorrect.

It could be that the correct answer didn't update properly in the perseus renderer?

![image](https://user-images.githubusercontent.com/2367265/41803578-345f6594-763f-11e8-92ad-7a7eb9f14f34.png)

### Expected behavior

answer matches indicator

### Us

[2018-06-23 00:14] indirectlylit opened #3870 "empty answer marked as 'wrong'"
### Observed behavior

observed by @jeepurs

note that the answer is empty, but the attempt is marked as 'wrong':

![image](https://user-images.githubusercontent.com/2367265/41803622-9d3ea1ba-763f-11e8-9c42-7dbeb9f8ca63.png)

### Expected behavior

empty answers should not count as an attempt by the learner

### User-facing consequences

makes students look like they're doing worse than they reall

[2018-06-23 00:16] radinamatic commented on #3852
Confusing... 😕

On a fresh install I was able to replicate the error, as the last step of the setup wizard displayed the same:

![screenshot - 23-jun-18 2_01_47 am](https://user-images.githubusercontent.com/1457929/41803588-b7aebaf8-768a-11e8-87f6-fe52c0f6abf0.png)

![screenshot - 23-jun-18 2_03_19 am](https://user-images.githubusercontent.com/1457929/41803592-c42526be-768a-11e8-97c6-e4c7ffcc5517.

[2018-06-23 00:19] indirectlylit opened #3871 "in-progress edits results are counted as attempts"
### Observed behavior

observed by @jeepurs

it seems we count attempts for every blur event, which causes intermediary results to be incorrectly counted as 'attempts'

![image](https://user-images.githubusercontent.com/2367265/41803669-265590bc-7640-11e8-80db-3bd0d795cfe5.png)

### Expected behavior

Unclear. We made a decision to log intermediary edits, so it's not clear what the correct behavio

[2018-06-23 00:20] indirectlylit commented on #3870
potentially related:

* https://github.com/learningequality/kolibri/issues/3871
* https://github.com/learningequality/kolibri/issues/3869

[2018-06-23 00:22] indirectlylit commented on #3870
this may be the same behavior that @navakk9 observed here:

![image](https://user-images.githubusercontent.com/2367265/41803722-ceb8c184-7640-11e8-8eae-e6f11ab1843f.png)

[2018-06-23 00:43] indirectlylit opened #3872 "typography in exam reports could be improved"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/41803941-96b0f0ec-7643-11e8-9921-16bdc260358b.png)

### Expected behavior

* face icon next to header should probably be removed? Or at least given 16px right margin
* elapsed time should be right-aligned and baseline-aligned with 'overall score'

### User-facing consequences

not much

### Context

k0.10.0

[2018-06-23 00:47] radinamatic commented on #3852
Still repeating the above scenario: at first post-install run setup wizard fails, even if I reload, stop server and restart it from the desktop shortcut, or change the language.

Only when I stop the server and start it from the command prompt, it finishes successfully.

[kolibri.log](https://github.com/learningequality/kolibri/files/2129479/kolibri.log)
[server.log](https://github.com/learningequ

[2018-06-23 00:57] #3839 closed, assigned to nobody

[2018-06-23 01:02] indirectlylit opened #3873 "unhandled exception - global name 'ContentNode' is not defined"
### Observed behavior

observed in logs of beta server:

[code]

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2018-06-23 01:13] indirectlylit commented on #3852
strange .. lots of `sqlite3.OperationalError: database is locked` errors. Wouldn't have expected that

[2018-06-23 01:32] indirectlylit opened #3874 "AssertionError: 'img' is not a valid content storage filename"
### Observed behavior

These errors appeared over a hundred times on the beta server

### Expected behavior

no unhandled errors

### User-facing consequences

unknown

### Errors and logs

[code]

### Steps to reproduce

unknown

### Context

0.10.0

[2018-06-23 01:34] indirectlylit opened #3875 "OperationalError: only a single result allowed for a SELECT that is part of an expression"
### Observed behavior

unhandled error observed on beta server

### Expected behavior

no unhandled error

### User-facing consequences

unknown

### Errors and logs

[code]

### Steps to reproduce

unknown

### Context

0.10.0

[2018-06-23 01:43] indirectlylit opened #3876 "'profile' link in user menu goes nowhere when viewing profile"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/41804473-f74180e0-764b-11e8-98a7-ee085d6392a5.png)

### Expected behavior

profile link should be hidden or disabled

### User-facing consequences

slight confusion

### Steps to reproduce

view profile

### Context

0.10.0

[2018-06-23 01:46] indirectlylit commented on #2162
this is still being reported. Recently by Azeez:

[2018-06-23 02:01] indirectlylit opened #3877 "update status help tooltip in Lesson assignment"
### Observed behavior

Reported by @khangmach

![image](https://user-images.githubusercontent.com/2367265/41804606-823c7388-764e-11e8-80ea-c8b8ed06611a.png)

### Expected behavior

The tooltip should say: "Learners can only see active lessons"

### User-facing consequences

slightly confusing tooltip

### Context

0.10.0

[2018-06-23 02:05] indirectlylit opened #3878 "'resource added' shown, but lesson resource list not updated"
### Observed behavior

Reported by Azeez Gupta:

### Expected behavior

Lesson resource list should be properly updated

### User-facing consequences

Confusion/frustration

### Errors and logs

…

### Steps to reproduce

…

### Context

0.10.0

[2018-06-23 02:09] indirectlylit opened #3879 "broken layout during lesson resource preview"
### Observed behavior

Reported by @khangmach

buggy layout:

![image](https://user-images.githubusercontent.com/2367265/41804680-a0bd8f76-764f-11e8-8678-e2c358a1c24d.png)

### Expected behavior

Layout should flow correctly

### User-facing consequences

App feels a bit broken

### Steps to reproduce

…

### Context

k0.10.0 on beta server

[2018-06-23 02:11] indirectlylit opened #3880 "clicking resources can sometimes lead to the 'content unavailable' page"
### Observed behavior

Reported by @jtamiace

Clicking on the first exam leads to the “content unavailable page (logged in as admin on Learn page)

![image](https://user-images.githubusercontent.com/2367265/41804698-fe25d7a4-764f-11e8-93aa-11793eec9587.png)

![image](https://user-images.githubusercontent.com/2367265/41804699-0105fad0-7650-11e8-86c1-70161fb6ba35.png)

### Expected behavior

All dis

[2018-06-23 02:47] ralphiee22 commented on #3875
oh me and @jamalex were messing with the beta server. This was a product of our changing some code in the pex.

[2018-06-23 02:47] #3875 closed, assigned to nobody

[2018-06-23 02:50] ralphiee22 commented on #3873
Again this was due to me and jamie messing with the beta server.

[2018-06-23 02:50] #3873 closed, assigned to nobody

[2018-06-23 13:38] rtibbles commented on #3871
This is not the on blur, but on perseus registering a user interaction event. The other alternative is to add a submit button for the question.

[2018-06-23 13:58] benjaoming commented on #3825
@mrpau-richard thanks for elaborating - okay so fixing malformed db's in 18.04 is definitely not working.

Where did you get the 0.7.2 sample data from?

[2018-06-23 21:15] cpauya commented on #3868
Thanks for posting this @indirectlylit - was out and about yesterday.

As mentioned, it's not consistent but one way to reproduce it was:

1. Click on the `Recommended` tab as a `Guest` user at http://kolibribeta.learningequality.org/learn/#/recommended
1. Click on any of the `Featured...` sections.  E.g. `Featured in Khan Academy (English)`.
1. Then click on an item, after the page has loaded, th

[2018-06-24 00:37] indirectlylit opened #3881 "warn when kolibri is not run as the `kolibri` user and we expect it to be"
### Observed behavior

(Kolibri repo work for https://github.com/learningequality/kolibri-installer-debian/issues/41)

When installed using the .deb package, a new `kolibri` user is created and its this user which runs the Kolibri process when the system service is started.

However we [run into problems](https://github.com/learningequality/kolibri/issues/3274) when users run kolibri commands via

[2018-06-24 00:42] indirectlylit commented on #3871
does that mean every key-press? If so, this would be a more significant issue

[2018-06-24 00:44] indirectlylit commented on #3868
thanks for the details!

[2018-06-24 01:05] #3824 closed, assigned to christianmemije

[2018-06-24 03:08] radinamatic opened #3882 "Insufficient options for correct i18n in AssignmentChangeStatusModal"
### Observed behavior
When observed in UI language with gendered adjectives as Spanish, option labels in the status change modal for Lessons and Exams will always display incorrectly in one of those two.

At first I thought it was my error while translating, but after digging deeper, it seems to be more than that. If I'm interpreting the code correctly, the `AssignmentChangeStatusModal.vue` compon

[2018-06-24 16:12] ivanistheone opened #3883 "Incorrect calculation of disk usage and availability during import"
### Observed behavior

This issue reports possibly two related bugs:

1/ Incorrect calculation of disk available:

<img width="1049" alt="bug_screensho_00" src="https://user-images.githubusercontent.com/163966/41820699-d2620c8c-77a3-11e8-9c67-951a14a2c029.png">

Actual: 0
Expected: 33G

2/ Misleading calculation when computing file size already on disk

![file_size_calculation_bug](https://user-im

[2018-06-24 18:30] rtibbles commented on #3871
It depends on the perseus widget type.

[2018-06-24 18:32] laurenlichtman commented on #3883
As Ivan said, I tried importing the channel, and then closed my computer when moving locations. I noticed later on that the transfer had failed (see screenshot below). When I tried to re-import, I ran into the issue Ivan flagged above.
<img width="1098" alt="transferfailed" src="https://user-images.githubusercontent.com/25990164/41822282-5de6c39e-77bb-11e8-83ba-dfa29da98642.png">

[2018-06-24 18:33] rtibbles commented on #3871
Because the behaviour differs wildly between widgets is why we are not attempting to inspect it ourselves. I think the best fix would be to greatly increase the debounce interval for capturing these events.

[2018-06-25 01:03] mrpau-richard commented on #3825
I created the 0.7.2 sample data at the Windows 7 @benjaoming.

[2018-06-25 12:13] benjaoming commented on #3852
Can we quickly confirm that this is a Windows-only issue?

_If_ it's Windows-only, I recommend trying to install a newer Python after finishing the normal Kolibri installation, thus overwriting the bundled Python version. This is because Kolibri bundles Python and Python bundles SQLite, and we changed the Python version in this installer. So wondering if the problem could originate from there? (si

[2018-06-25 16:38] radinamatic commented on #3852
Confirming the issue on Windows version 10:

![2018-06-25_18-25-40](https://user-images.githubusercontent.com/1457929/41863227-6c07de72-78a6-11e8-8fda-662f3489a08a.png)

[kolibri.log](https://github.com/learningequality/kolibri/files/2133919/kolibri.log)
[server.log](https://github.com/learningequality/kolibri/files/2133920/server.log)

The issue, from all the tests performed these last days, appa

[2018-06-25 16:48] radinamatic commented on #3852
Unfortunately, no change after the upgrade to Python 3.6.5:

![2018-06-25_18-45-22](https://user-images.githubusercontent.com/1457929/41863812-33f961de-78a8-11e8-9a8e-bb278d85a25c.png)

[kolibri.log](https://github.com/learningequality/kolibri/files/2133955/kolibri.log)
[server.log](https://github.com/learningequality/kolibri/files/2133956/server.log)

[2018-06-25 16:58] jonboiser commented on #3848
I think the problem is that the percentage used on the "Early Math > Counting >Counting" topic card is

2 (mastered resources) / 5 (total resources)

Whereas, based on this installation it should be

2 (mastered resources) / 2 (available resources)

[2018-06-25 17:01] rtibbles commented on #3848
We should probably be excluding unavailable content when getting these leaf_ids here: https://github.com/learningequality/kolibri/blob/release-v0.10.x/kolibri/content/serializers.py#L177

[2018-06-25 17:02] rtibbles commented on #3848
(this will also stop us from counting completed, but unavailable content from being included in progress calculations - the inverse of this)

[2018-06-25 17:22] khangmach commented on #3871
It sounds to me that increasing the debounce interval greatly wouldn't guarantee this issue would go away, but would rather make them appear far and few between. Are we able to capture the final event for every question upon exam submission?

[2018-06-25 17:23] jonboiser commented on #3804
Hard to tell on the live site because no source maps, but I think the problem is coming from this line:

https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/facility_management/assets/src/userSearchUtils.js#L12

Other pages where this utility is used:

* Class List Page - OK
* Class Edit (aka Class Enroll Form) - Same Error
* Manage Permissions Page - Same Error
* Coach Report

[2018-06-25 17:29] jtamiace commented on #3838
Yeah I remember we just waved it off as an outlier. I don't have any qualms with using text instead. Would suggest a capital 'E' though

[2018-06-25 17:30] jtamiace commented on #3838
It seems like we're introducing this pattern anyway especially with "change status" in lessons

[2018-06-25 17:32] jonboiser commented on #3804
It appears IE11 and Edge might not support the `locale` argument used in `String::localeCompare`. Here's a hack to get around it https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/localeCompare#Check_browser_support_for_extended_arguments

[2018-06-25 18:01] DXCanas commented on #3847
@jtamiace Looking over this, one of the reasons it routes to a content page _only_ is because there's a dedicated "recommended" content page with key differentiators being the tab and breadcrumbs highlighted
![image](https://user-images.githubusercontent.com/9877852/41867101-ff5d8ac2-7866-11e8-80d3-c48cc53c3b1b.png)
Should we do anything special for "recommended" topics?

[2018-06-25 18:29] jtamiace commented on #3847
Hmm... it goes against the original design to keep content that appears in Recommended scoped to Recommended only, but feel like it would make sense to jump the user to that topic in Channels. Would there be huge issues to make that link across tabs?

[2018-06-25 18:37] DXCanas commented on #3847
Huh, I didn't know that was the case. I we can probably make it so that they all go their place in the topic tree? I

[2018-06-25 18:41] jtamiace commented on #3847
Yeah at this point, that would make sense to me.

[2018-06-25 19:06] jtamiace commented on #3780
Wow the table from google docs copied over quite nicely.

After feedback from @carinediaz , here is a possible solution for the different users and scenarios

  | Classes exist in facility but coach/admin is unassigned | No classes in facility
-- | -- | --
Class coach | **You aren’t assigned to any classes** Please consult your Kolibri administrator to be assigned to a class | **You aren’t assigne

[2018-06-25 19:21] indirectlylit commented on #3881
If there is no `~/.kolibri` folder in the current user's home dir, and the current user does not match the debconf-set user, then display a warning that:

* Kolibri was previously installed as a system service under a different user
* If you want to run kolibri commands using the system service's data, run using `sudo -u {} kolibri ...` where the user is picked up from teh `KOLIBRI_USER` environme

[2018-06-25 20:39] indirectlylit commented on #3871
Yes, agreed that increasing the debounce to something like 5 or 10 seconds would help this issue.

Right it's important that when you submit the exam it should take what ever the current value is, correct, even if the debounce time has not yet elapsed

[2018-06-25 20:51] rtibbles commented on #3804
Fixed in #3887

[2018-06-25 20:51] #3804 closed, assigned to jonboiser

[2018-06-25 21:04] jtamiace commented on #3871
Debounce sounds good for now until we can find a better way to represent meaningful intermediary steps either now in a later version, since there still does seem to be pedagogical use for that?

[2018-06-25 22:02] indirectlylit opened #3888 "cleanup of localeCompare"
### Observed behavior

In #3887 we added a new `localeCompare` wrapper

let's make sure that:

* we use it everywhere
* we pass in the correct locale, such that sorting occurs according to the user's currently-selected language
* we choose the correct `usage` parameter (`sort` vs `search`)

### Expected behavior

proper sorting throughout the app, for all locales

### User-facing consequences

per

[2018-06-25 22:03] rtibbles commented on #3888
Additional info here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/localeCompare

One thing of note, is that we should:
[code]

It also seems likely that our existing language codes should be able to be used as the `locale` argument.

[2018-06-25 22:35] indirectlylit commented on #3780
looks good. I would just recommend removing the phrase "to add classes" from Facility Coach messaging. (it's not necessarily the outcome  so better to say nothing?)

[2018-06-25 23:23] jonboiser commented on #3883
@ivanistheone For "1/ Incorrect calculation of disk available", the UI looks correct because you have selected (at most, since it doesn't count for resources shared amongst topics) 78 GB for import, which would exceed your 33 GB. In your second screenshot, where you have 0 B selected, the "your remaining space" does say 32 GB.

For "2/ Misleading calculation when computing file size already on dis

[2018-06-25 23:40] indirectlylit commented on #3882
Yeah the simplest change at this point would be to make two new props, `activeOptionText` and `inactiveOptionText`. Then the specific strings can be passed in the same way as `modalTitle` and `modalDescription`.

It's quite possible that the current implementation is "too DRY" because the abstract component is only used twice, violating the ["rule of three"](https://en.wikipedia.org/wiki/Rule_of_t

[2018-06-25 23:42] #3861 closed, assigned to ralphiee22

[2018-06-25 23:55] jonboiser commented on #3880
This is because of some old logic that has never gone away.

Exams have a `channel_id` field, but if that Channel is not found on the server, the `showExam` action has the app redirect to the COntent Unavailable page.

https://github.com/learningequality/kolibri/blob/26073dda2569bb38bfe1e08ba486e96f650d10ce/kolibri/plugins/learn/assets/src/state/actions/main.js#L439-L441

[2018-06-26 00:07] radinamatic commented on #3882
I agree with the consolidation strategy, but as long as the same components that involve noun or adjective strings are going to be used to refer to different concepts (Lessons/Exams in this case) that might require gender differentiation, I don't see an alternative to the "duplication".

If we can consolidate on using verbs that risk is reduced, hence the interim solution I proposed.

[2018-06-26 02:02] indirectlylit opened #3892 "small layout regression"
### Observed behavior

Just going based on the screenshots in #3890 in the first row:

![image](https://user-images.githubusercontent.com/2367265/41884856-2a358932-78aa-11e8-8ec0-73b79637a77c.png)

### Expected behavior

![image](https://user-images.githubusercontent.com/2367265/41884860-31d63b00-78aa-11e8-9e93-633be6ef80b4.png)

### Context

0.10.0

[2018-06-26 02:08] indirectlylit commented on #3880
Since exams are now cross-channel, I assume they shouldn't have a channel ID field anymore?

Relatedly, I'm curious what happens when you delete a channel that has content used in a lesson or exam...?

[2018-06-26 02:47] mrpau-richard commented on #3852
I reproduced this issue at the Windows 10. if I set my VM base memory into 4gb and the processor into 2. Adding more than 5gb memory and 4 processor fixes this issue in the Windows 10 VM.

[2018-06-26 04:05] indirectlylit commented on #3852
Interesting.

Would it be possible to prove that the issue is related to either the amount of ram or processing power? If that's the case, I'd imagine you should be able to run the task manager while Kolibri is throwing the error, and see either the memory or CPU maxed out.

[2018-06-26 05:30] christianmemije commented on #3892
Was fixed in https://github.com/learningequality/kolibri/pull/3890/commits/14ba7333fcfc01352d6b1709723c26b79db2c2a0

[2018-06-26 05:30] #3892 closed, assigned to christianmemije

[2018-06-26 06:30] mrpau-richard commented on #3852
@indirectlylit I think it is, the cpu maxed out. When the error came out.
![temp](https://user-images.githubusercontent.com/8663934/41893093-22ea3774-794d-11e8-8b52-7042699d4910.gif)

[2018-06-26 06:39] christianmemije commented on #3879
Fixed in #3890

[2018-06-26 06:39] #3879 closed, assigned to nobody

[2018-06-26 06:41] christianmemije commented on #3855
Fixed in #3890

[2018-06-26 06:41] #3855 closed, assigned to christianmemije

[2018-06-26 07:47] jredrejo commented on #3868
I have tried to reproduce it in my local machine, using v0.10.0-beta7.
The error does not exist (Previously I have downloaded from studio exactly the same exercises that are causing problems:
http://kolibribeta.learningequality.org/learn/#/recommended/b6dba89558b252f2bfb64f61542458e0
http://kolibribeta.learningequality.org/learn/#/recommended/572fab3eccfb50d0b4cfa2f95a2c3918
http://kolibribeta.lea

[2018-06-26 07:52] bonidukic commented on #3868
@jredrejo: @rtibbles has been working on this yesterday and he is aware of the source of the problem.

[2018-06-26 15:59] ralphiee22 commented on #3858
Hi @navakk9, would it be possible to give me the channel id and breadcrumb to reach this exercise?

[2018-06-26 16:36] navakk9 commented on #3858
@ralphiee22 - Channels> Khan Academy (English)> Math> Early math> Geometry> Basic shapes>  Name shapes 3

[2018-06-26 16:45] ralphiee22 commented on #3858
I think this issue has been fixed, but I will wait until KA English has been pushed to confirm.

[2018-06-26 16:54] jtamiace commented on #3880
For lessons at least, I'm seeing that if you

1. import channel 1
2. put some of channel 1 into a lesson
3. delete channel 1

The resources in the lesson from channel 1 disappear without error. When I imported channel 1 back in, they appeared in the lesson again, with progress intact (i had completed one item)

[2018-06-26 17:24] jtamiace opened #3896 "Inconsistent progress labels on exams"
### Observed behavior

If a learner completes all questions in an exam but does not submit it, the coach can still see that learner's progress on questions, which is intentional by design.

However, the label for the learner's status on the exam is inconsistent:

<img width="1198" alt="screen shot 2018-06-26 at 10 20 32 am" src="https://user-images.githubusercontent.com/6668144/41928618-a63712d2-7

[2018-06-26 17:56] indirectlylit commented on #3896
Until the exam is either closed by the coach or submitted by the learner, I believe it should be considered in-progress.

[2018-06-26 18:12] jtamiace commented on #3896
Agreed

[2018-06-26 18:15] khangmach commented on #3896
+1 on the above(s).

[2018-06-26 18:48] christianmemije opened #3899 "User inputted text and content text should have dir attribute"
### Observed behavior

All user inputted text and content text should have dir attribute.
This includes user names, class names, etc.
Coach report columns, titles in exam cards, etc.
Related to #3864
Semi-related: https://github.com/learningequality/kolibri/issues/2395
Examples

![localhost_8000_coach_ nexus 7 19](https://user-images.githubusercontent.com/7193975/41932786-d83bc3c0-7936-11e8-96c4-5

[2018-06-26 18:53] khangmach commented on #3846
During the account creation process there isn't any text really clarifying to a new user what a facility is exactly. Even if we changed the dropdown into simple label text, the information still wouldn't be relevant without a second facility added later. Would consider thinking about just dropping this component from the page until the information becomes actionable/relevant.

As a compromise, Pro

[2018-06-26 19:09] christianmemije commented on #3870
Issue:  #3871

[2018-06-26 19:59] radinamatic commented on #3852
Just tried the 0.10 beta7 on the new Win 7 VM I built this morning, and could not replicate the error (setup wizard finished without issues). VM had 8gb of RAM and 2 CPUs, the same as the above Win 10 scenario with beta5 where the error did appear.

[2018-06-26 21:01] indirectlylit commented on #2989
This issue is mostly brainstorming, and that process has now [been moved here](https://docs.google.com/document/d/1JjGkQZWGEa6rvNYvw8SVW61L9VbAV6CnKNKU7YHGI30/edit#).

Closing, and we can open targeted & concrete issues for plans after the decisions have been made.

[2018-06-26 21:01] #2989 closed

[2018-06-26 21:51] indirectlylit opened #3901 "setup wizard is missing margin on smaller screens"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/41941336-838ee310-7950-11e8-8cf5-3ee464ef7c6b.png)

### Expected behavior

![image](https://user-images.githubusercontent.com/2367265/41941262-4f74b2e4-7950-11e8-8792-a76259c97a8b.png)

### User-facing consequences

Initial pages look a bit ugly on mobile

### Context

0.10.0

[2018-06-26 21:58] indirectlylit opened #3902 "deprovision 'server running' check doesn't work on devserver"
### Observed behavior

I was able to deprovision while the devserver was running, bypassing this check: https://github.com/learningequality/kolibri/pull/3893/files#diff-65222f81f076190d58d35032f009b818R62

Then when refreshing, you get the flapping bird of death:

![image](https://user-images.githubusercontent.com/2367265/41941022-933f48f0-794f-11e8-985f-a62726811650.png)

### Expected behavior

d

[2018-06-26 22:17] indirectlylit opened #3903 "clean up API of HeartBeat class"
### Observed behavior

In #3900 we added a new `stop` method alongside the `start` method. However there's already `setActive`,  `setConnected`, `setInactive`, and `wait` methods, all of which sound somewhat related but different.

### Expected behavior

Recommend clarifying what's being started/stopped/set etc. E.g. `setUserActiveFlag`, `stopHeartbeatPoll`?

Also, recommend clarifying which of th

[2018-06-26 22:46] lyw07 commented on #3881
@benjaoming I saw the comment above, I'm wondering why do we need to check if there's a `~/.kolibri` folder in the current user's home directory. I'm thinking that whether the folder exists in the current user's home directory or not, we always need to ask the user if they want to continue to run kolibri as this current user or kolibri user. Or am I missing some cases here? Thank you!

[2018-06-26 22:50] benjaoming commented on #3881
@lyw07 - no, if the folder exists, it means that they have already been running `kolibri` as that user. We should not prompt users every time, only the first time!

[2018-06-26 22:54] #3868 closed, assigned to rtibbles

[2018-06-26 22:56] benjaoming commented on #2989
Agree, let's open up PRs/issues once we identify the concrete steps and have the task measured and divided into iterative steps.

[2018-06-26 22:59] lyw07 commented on #3881
@benjaoming I see. Then what if the user installs kolibri through pip/pex before debian installer, so they have already had a `~/.kolibri` in current user's home directory before having the KOLIBRI_HOME directory in the KOLIBRI_USER's home directory. In this case, the prompt will not show up for the first time the user starts kolibri from the debian installer. Thanks for the explanation!

[2018-06-26 23:04] benjaoming commented on #3881
That is okay, we won't stand a chance to fix edge cases like this :) But I'm fairly confident that the .pex and the .deb won't be installed on the same system for future releases, since the .deb will be the go-to option on the Download pages for anyone on Debian systems.

We are doing changes in the .deb that _will_ in fact run the system service as the desktop user, so there won't even be a mixup

[2018-06-26 23:05] lyw07 commented on #3881
thank you! it totally makes sense to me now

[2018-06-26 23:07] #3832 closed, assigned to christianmemije

[2018-06-26 23:08] #3847 closed, assigned to DXCanas

[2018-06-26 23:09] #3848 closed, assigned to jonboiser

[2018-06-26 23:12] indirectlylit commented on #3870
thanks - yes it seems like all these issues are inter-related. I think we should attempt to implement the debounce proposal in #3871

[2018-06-26 23:56] christianmemije commented on #3870
We were accidentally logging empty attempts. Should be fixed in #3904

[2018-06-27 00:02] indirectlylit commented on #3068
closing again - this will be addressed in https://github.com/learningequality/kolibri-installer-debian/issues/40

[2018-06-27 00:02] #3068 closed

[2018-06-27 02:28] mrpau-julius commented on #3852
I test the 0.10 beta 7 on windows 7 VM, had 2gb RAM and 2 CPUs. In the first fill-in a superuser and click finish it has an error and I retry it again, there no error or issues. Even I change the RAM into 5gb and reinstall again, same result that I get.

[2018-06-27 02:41] mrpau-richard opened #3908 "Learner reports table labels overlap."
### Observed behavior
Learner reports table labels overlap at the IE 11 and MSedge.
The same behavior with `Groups` and `Recent` tab, the table labels overlap.

### Errors and logs
![screen shot 2018-06-27 at 10 26 07 am](https://user-images.githubusercontent.com/8663934/41949777-734c096a-79f5-11e8-8854-dc68bdcb8b12.png)
![screen shot 2018-06-27 at 10 27 15 am](https://user-images.githubuserconten

[2018-06-27 03:04] mrpau-richard opened #3909 "Exam title maximum character validation."
### Observed behavior
I'm getting an error message when I input more than 150 characters at the exam tittle.

### Expected behavior
We should add maximum character limitation at the exam title.

### Errors and logs
![screen shot 2018-06-27 at 10 52 11 am](https://user-images.githubusercontent.com/8663934/41950646-8a131068-79f9-11e8-83cb-95c8c5c5f072.png)

### Context

 * Kolibri version: 0.10.0b7

[2018-06-27 03:25] mrpau-richard opened #3910 "Can't submit a learner exam."
### Observed behavior
I'm a getting a javascript errors when I submit an exam.
I reported this issue at this [PR](https://github.com/learningequality/kolibri/pull/3890#issuecomment-400210654)

### Errors and logs
![screen shot 2018-06-26 at 3 34 19 pm](https://user-images.githubusercontent.com/8663934/41951222-55cd7b24-79fc-11e8-9c6c-c4d8edc6a906.png)

### Context

 * Kolibri version: kolibri 0.10

[2018-06-27 11:53] pzduniak opened #3911 "Allow importing content by file uploads"
### Observed behavior
It's only possible to either download the content from an online server or from a USB plugged into the server.

### Expected behavior
It might be worth it to introduce a 3rd option, where users would be able to upload an archive with the content from the client devices. This way Kolibri will be way more usable on devices that don't have a USB port available for a drive.

###

[2018-06-27 17:12] indirectlylit commented on #3911
Thanks for the feedback! I'll add your use case to our internal tracker and we'll consider it for the roadmap.

The main challenge is that the content is stored as many files in a directory structure, which makes it difficult to do through the browser. We also can't necessarily zip everything into a single file because some channels are many GB. However for smaller channels this could be an option

[2018-06-27 17:16] indirectlylit commented on #3911
Would you mind sharing a bit more about your setup and deployment process? We may have other solutions in the pipeline that could be adapted to your case. Feel free to share here or email me devon at learningequality.org

thanks!

[2018-06-27 18:24] indirectlylit commented on #3910
thanks!

should be addressed by https://github.com/learningequality/kolibri/pull/3894 and will be in the next beta

[2018-06-27 18:24] #3910 closed, assigned to nobody

[2018-06-27 18:36] christianmemije commented on #3870
Fixed in #3904

[2018-06-27 18:36] #3870 closed, assigned to christianmemije

[2018-06-27 19:21] christianmemije opened #3913 "Save answer when users click on the back to exam list."
### Observed behavior

Answer is not saved unless 5 seconds passed, or user clicks on submit exam button.
Follow up of https://github.com/learningequality/kolibri/pull/3912

### Expected behavior

Save answer when user clicks on the link.

### User-facing consequences

Lost answer.

### Steps to reproduce

Input answer and click on back to exam list link. Return to exam, answer will not have saved

[2018-06-27 19:37] christianmemije commented on #3908
Only affects empty tables. It's an issue with how it handles overflow.

[2018-06-27 23:15] indirectlylit commented on #3852
lowering priority because of the inconsistent nature of the problem. Tomorrow we can test on a resource-constrained physical computer instead of a VM to see if that affects anything

[2018-06-27 23:30] indirectlylit commented on #2685
fixed in #3885

[2018-06-27 23:31] #2685 closed

[2018-06-27 23:38] indirectlylit opened #3914 "double-clicking or -tapping on content cards causes unexpected navigation"
### Observed behavior

We've observed learners who believe that they need to double-click on content cards. When the pages are already cached, this causes the learner to navigate _two_ levels deep through the topic tree because the page loads so fast.

### Expected behavior

We should try to prevent clicks to the page that are made within the first 750ms or so, since these are most likely to be in

[2018-06-28 01:20] jamalex commented on #3852
The meeting box has 4GB of RAM. But @DXCanas is doing upgrades on it, and space is limited, so check with him

[2018-06-28 04:17] jamalex commented on #3866
Let's leave this open for my upcoming caching PR?

[2018-06-28 05:49] mrpau-julius commented on #3826
Same issue I encounter, when I change the language to Arabic and go to recommended page.
The videos' item overlap the scrollbar in bottom.

### Screenshot
Windows 10 pro
Kolibri 0.10.0b8
Firefox 61.0 (64-bit)

![arabic recommended page](https://user-images.githubusercontent.com/38421180/42015370-ab32d3ba-7ad9-11e8-9dff-0f8f2e615d58.png)

Windows 7
Kolibri 0.10.0b8
Firefox 60.0.2 (64-bit)

![maps](

[2018-06-28 08:53] mrpau-richard opened #3916 "Incomplete exercise content at the learner exam."
### Observed behavior
I saw exercises at the learner exam page that missing question and choices.
Those exercises are from Khan academy (English) math

### Expected behavior
Filter those exercises that has incomplete content.

### Errors and logs
![screen shot 2018-06-28 at 3 28 33 pm](https://user-images.githubusercontent.com/8663934/42023539-acd04d10-7af2-11e8-9a1f-84e05bdfdda4.png)
![screen sho

[2018-06-28 11:25] pzduniak commented on #3911
Our platform is a custom OS deployed on lightweight servers (think embedded low-TDP Celerons with batteries). So far we've been using KA Lite to provide our users with Khan Academy content, but more recently some users have been asking us to implement sneakernet functionality - thus our interest in Kolibri.

The app itself is sandboxed using Docker - downloaded from an app store that we created an

[2018-06-28 17:17] bonidukic opened #3918 "card box-shadow is clipped"
### Observed behavior
Box shadows of the leftmost cards in the carousels on the _Recommended_ page are cut. As far as I can see, this happens because of the lack of left margin or padding on the carousel container element.

Screenshots:

![selection_353](https://user-images.githubusercontent.com/2150991/42049848-906c9768-7b07-11e8-8b28-ac294928f305.png)

![selection_352](https://user-images.github

[2018-06-28 17:23] khangmach commented on #3918
Note that this also happens in carousels on content pages.

[2018-06-28 17:37] kollivier opened #3921 "Kolibri should explicitly set cookie name"
### Observed behavior

When running Kolibri and Studio at the same time in the same browser, Kolibri will immediately sign the user out and require them to sign in again. This process will repeat for as long as both apps are running.

This happens because Kolibri and Studio both currently use the Django default cookie name, 'sessionid'. This causes Kolibri and Studio to set each other's sessionid

[2018-06-28 19:05] christianmemije commented on #3279
Fixed in #3890
![localhost_8000_coach_ ipad](https://user-images.githubusercontent.com/7193975/42055307-94a48d86-7acb-11e8-9c88-2ce4815d246c.png)

[2018-06-28 19:05] #3279 closed

[2018-06-28 19:31] #3901 closed, assigned to nobody

[2018-06-28 21:11] jonboiser opened #3925 "Disable 'select all' at topics with zero importable contents (importing from USB)"
### Observed behavior

(1) During import (more) from external drive workflow, topics that have zero available leaf nodes still show a clickable 'select all' checkbox. If a user were to click it, the 'resources selected' estimate gets increased, even though in practice nothing will get imported.

![screen shot 2018-06-28 at 2 06 22 pm](https://user-images.githubusercontent.com/10248067/42060731-a93

[2018-06-28 21:32] mrpau-richard opened #3926 "Imported channel not showing at the channel list."
### Observed behavior
After I imported the channel that I created at the studio, the channel doesn't showing at the channel list.
It will show only if I navigate at the channel `import more` option.
### Expected behavior
Channel should show at the channel list after the channel imported.

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/42061511-0cdb9844-7b5d-11e8-91ac

[2018-06-28 21:48] jonboiser commented on #3926
@mrpau-richard I just tried this out and your custom channel does appear in the list. Could you try checking the 'Channels List' again?

If it doesn't show up. Could you look at any network calls to `/api/remotechannel/d4ac57040400486db3ce12c35f7a8c8c `? The channel might not show up if the Studio API request fails.

[2018-06-28 21:57] mrpau-richard commented on #3926
@jonboiser It show up at the network call. But the channel still not showing at the `content channels` page.
![screen shot 2018-06-29 at 5 52 26 am](https://user-images.githubusercontent.com/8663934/42062702-f4f45618-7b60-11e8-99f3-41370bbb5da4.png)

[2018-06-28 22:01] jonboiser commented on #3926
@mrpau-richard could you copy the response to this endpoint?

http://localhost:8000/api/channel/d4ac57040400486db3ce12c35f7a8c8c/?file_sizes=true

here's mine. `on_device_resources` should be greater than zero.

[code]

[2018-06-28 22:05] mrpau-richard commented on #3926
Here's mine @jonboiser

[code]

[2018-06-28 22:06] mrpau-richard commented on #3926
It says at the device content that I have 52 MB at my channel.
![screen shot 2018-06-29 at 6 05 36 am](https://user-images.githubusercontent.com/8663934/42063062-91b81114-7b62-11e8-946f-541cf3ce9eaf.png)

[2018-06-28 22:19] jonboiser opened #3927 "Resolved value for ContentNodeResource.getCollection turns progress_fraction to Promise"
### Observed behavior

Here's how I observed this

As a Learner,

1. View a Lesson Playlist (no problem here)
1. View a Lesson Resources
1. Exit back to the Lesson Playlist
1. Observe this error:

Also observed in normal Learn Browse Pages going from Topic -> Some Video -> Topic.

[code]

At this line

https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/learn/assets/src/state/

[2018-06-28 22:37] mrpau-richard opened #3928 "Exam report and exam page not working at the IE11"
### Observed behavior
Exam exercises not showing its content at the exam page and report page.

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/42063851-46e3bf72-7b66-11e8-9f3d-19b537f04d72.gif)
![screen shot 2018-06-29 at 6 27 49 am](https://user-images.githubusercontent.com/8663934/42063927-b07ad164-7b66-11e8-8d48-ac2a21692da0.png)

### Context

Tell us about your e

[2018-06-29 00:53] indirectlylit commented on #3916
@mrpau-richard do you know if the same behavior happens when you view the item in Learn? Any errors?

thanks

[2018-06-29 11:39] swapnil106111 opened #3933 "Showing KA site hindi content in English"
### Observed behavior
Rajasthan channel contains KA content which are in Hindi but after importing those in Kolibri, it shows content in English instead of Hindi.

Channel ID : e890b1acbcad44939688dbb1b7dde2e5
Path : गणित - कक्षा 6 - 3 पूर्णं संख्याएँ - पूर्णं संख्याएँ - पूर्ण संख्याओं के गुणधर्म - गुणन का क्रमविनिमेय गुणधर्म

### Expected behavior
After importing content into Kolibri, it should b

[2018-06-29 17:55] #3908 closed, assigned to nobody

[2018-06-29 17:56] #3914 closed, assigned to nobody

[2018-06-29 17:57] #3871 closed, assigned to nobody

[2018-06-29 18:20] indirectlylit commented on #3928
Hi - could you please provide a bit more information? For example:

* what content is this?
* any errors in the browser or server?
* does it _only_ happen on IE or is it broken on all browsers?

thanks!

[2018-06-29 18:50] indirectlylit opened #3937 "topics with no content visible to learner are accessible"
### Observed behavior

http://kolibribeta.learningequality.org/learn/#/topics/t/d744f75a620742b293e44f070e5ba5cb

| viewed as learner | viewer as admin |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/42109422-6e6f5c96-7b92-11e8-82c9-c099b7c4ff68.png) | ![image](https://user-images.githubusercontent.com/2367265/42109429-773bdb60-7b92-11e8-9450-30cbe5a3653a.png) |

### Expecte

[2018-06-29 19:05] indirectlylit opened #3938 "handling of exercises with no questions"
### Observed behavior

It's possible to create an exercise on Studio with no questions.

* Coaches can create an exam which includes question-less exercises
* Learners who encounter the exercise see infinite loading:
    ![image](https://user-images.githubusercontent.com/2367265/42110005-76e1e734-7b94-11e8-8bb4-244582063cf5.png)

### Expected behavior

We should probably hide empty exercises from

[2018-06-29 19:06] indirectlylit commented on #3938
Reported by @jtamiace. @jayoshih we might also consider trying to prevent this on the studio side?

[2018-06-29 19:20] indirectlylit opened #3939 "coach-content flag does not seem to be updated after re-publishing and updating"
### Observed behavior

reported by @radinamatic:

* Imported a channel with coach content (token `nakav-mafak`, channel name "CK 12 Testing"), I can see it as admin or coach, but not as learner.
* Updated the channel on Studio, received the email, correctly updated it on http://kolibribeta.learningequality.org/ and I still cannot see it as the learner

### Expected behavior

Coach content should u

[2018-06-29 19:35] jonboiser commented on #3937
Could we require when these kinds of topics are curated that the topic itself be flagged as coach content if 100% of its descendants are coach content?

[2018-06-29 19:38] indirectlylit commented on #3869
this seems to have been addressed in #3904

[2018-06-29 19:38] #3869 closed, assigned to christianmemije

[2018-06-29 19:39] rtibbles commented on #3937
The coach content annotation is meant to be doing this already. Was this content reimported after the upgrade to beta 8?

[2018-06-29 19:45] jonboiser commented on #3937
It could be possible that it was not. I just  installed this channel on beta8 and I don't even see the channel as a learner.

And going directly to the topic with the URL, the 2/2 coach content topic doesn't appear.

[2018-06-29 19:46] indirectlylit opened #3940 "hide topics and channels with no exercises during exam creation"
### Observed behavior

reported by @khangmach

Channels and topics with no exercises available are still showing and are disabled

### Expected behavior

They should be taken out of the UI list completely

### User-facing consequences

extra visual noise

### Steps to reproduce

Create new exam, look at channel list, see disabled channel names. Navigate to available channel, see disabled topics

#

[2018-06-29 19:48] indirectlylit commented on #3937
Great. This issue can be closed, as no users will be affected

[2018-06-29 19:48] #3937 closed, assigned to jonboiser

[2018-06-29 19:52] christianmemije opened #3941 "Some KA content is missing assets"
### Observed behavior

Visit http://kolibribeta.learningequality.org/learn/#/topics/c/e7350f4cd75a58f7bda6b5f51b8f468e

[2018-06-29 20:21] jamalex commented on #3874
This is because there's an HTML5 zip file that hasn't had its internal paths properly adjusted. It likely has a path like `../img/more_gold_24px.svg` in it. Not a Kolibri issue (though it would be nice if we could force the iframe sandbox to not allow paths above a certain level, but don't think we can, easily.

[2018-06-29 21:49] #3864 closed, assigned to indirectlylit

[2018-06-29 23:45] indirectlylit commented on #3941
I believe this is a content issue?

[2018-06-29 23:59] #3852 closed, assigned to rtibbles

[2018-06-30 00:31] #3881 closed, assigned to lyw07

[2018-06-30 01:36] indirectlylit opened #3947 "Exams break if you delete a channel that had questions in that exam"
### Observed behavior

reported by @jtamiace

Exams break if you delete a channel that had questions in that exam

### Expected behavior

They shouldn't break, but what is the desired UX?

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

* Create an exam with exercises from Channel A and Channel B
* Set exam active
* Delete Channel A
* Go to exam in Learn or Coach"

[2018-07-01 00:02] ivanistheone opened #3948 "PDF rendering problem in PraDigi content"
### Observed behavior

Weird `$` appear in middle of text in PDF on K: http://pradigi-demo.learningequality.org/learn/#/topics/c/ea0eeab6f91d5bcc8147b03c594afd1f
Original PDF seems OK: http://www.prathamopenschool.org/CourseContent/PDF/Reading_Cards_6_H.pdf

<img width="316" alt="dolla dolla signs yo" src="https://user-images.githubusercontent.com/163966/42129878-66bc9928-7ca0-11e8-9aec-ee747fa72b

[2018-07-02 01:11] radinamatic commented on #3939
Replicated similar state on an upgrade scenario from 0.8 to the tagged 0.10 release. `CK 12 testing channel` has been updated on Studio, I can see it as admin, still not as learner, but if I build an exam or a lesson with its resources, they do appear visible to learners.

Still not sure if this is a Studio or Kolibri issue or both... 😕

![2018-07-02_2-59-43](https://user-images.githubusercontent.

[2018-07-02 02:00] radinamatic commented on #3939
Another detail from the fresh install of 0.10 on Windows 10, that I don't remember noticing before, content is visible under Recommended for learners, by not under Channels:

![2018-07-02_3-55-57](https://user-images.githubusercontent.com/1457929/42141866-4ec88536-7dac-11e8-93ee-d930fc931824.png)

[2018-07-02 02:11] mrpau-richard opened #3949 "Import from Kolibri studio disabled"
### Observed behavior
I can't import a channel from kolibri studio, it will automatically disabled after I clicked the import button.

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/42142081-0370ca24-7de0-11e8-990a-e0e1cc2272c0.gif)

### Context

 * Kolibri version. v0.10.0
 * Operating system Windows 10
 * Browser firefox 61.0

[2018-07-02 02:15] mrpau-richard commented on #3949
This happened only during the fresh installation. but after I restart the Kolibri server,  the Kolibri studio is enabled and I can now import a channel from the Kolbiri studio.

[2018-07-02 09:02] benjaoming commented on #3805
Is it because assets are cached from the previous release? (can be tested by refreshing SHIFT+F5 or similar, depending on your platform)

[2018-07-02 09:12] benjaoming commented on #3825
Also interesting: It seems to be breaking during migrations:

[code]

[2018-07-02 16:36] indirectlylit commented on #3806
filed issue https://github.com/learningequality/kolibri-installer-windows/issues/78 as possible culprit

[2018-07-02 16:37] indirectlylit commented on #3949
Does this happen after every fresh installation, or is it something that you only observed once?

[2018-07-02 16:37] indirectlylit commented on #3949
Are there any relevant server logs?

[2018-07-02 16:54] ralphiee22 commented on #3941
This exercise no longer shows up on the demo server so I will be closing this issue. If one can give a breadcrumb that leads to missing content then we can reopen.

[2018-07-02 16:54] #3941 closed, assigned to ralphiee22

[2018-07-02 17:48] indirectlylit commented on #3948
this is likely a problem with pdf.js

Can it be reproduced using their demo? https://mozilla.github.io/pdf.js/web/viewer.html

[2018-07-02 17:49] indirectlylit commented on #3948
answer: no

[2018-07-02 18:44] ralphiee22 commented on #3941
Demo site has been updated and content is confirmed as showing.

[2018-07-02 18:46] ralphiee22 commented on #3858
Confirmed that images are now showing up in exercises.

[2018-07-02 18:46] #3858 closed, assigned to ralphiee22

[2018-07-02 18:55] ralphiee22 commented on #3620
Hello @nobicycle, apologies on the super late reply. We wanted to ensure that all issues related to content were fixed before moving forward on this issue. What I recommend is deleting the channel and then re import it. This doesn't actually delete files in `content/storage` so you won't have to re-download all the content. It will just download any new content you don't already have.

[2018-07-02 19:11] ralphiee22 commented on #3620
Disregard my last comment. It WILL delete the content.

[2018-07-02 19:30] ralphiee22 commented on #3620
We are planning to release kolibri 0.10 this week. What I will advise is to wait until we release, where you can then update kolibri. And then to update the KA channel from V10 to V11.
I will post here once we release kolibri v0.10.

[2018-07-02 19:41] jonboiser commented on #3947
I found that is

1. Exam Preview
1. Exam User Report (ExamReportDetailsPage)

that break when content is deleted. The Exam Report Page still seems to work.

[2018-07-02 20:40] indirectlylit opened #3956 "exam ordering is ambiguous"
### Observed behavior

In #3954 we rely on the default behavior of the API to order the exams reverse-chronologically. However there is no guarantee in the API that this will remain the behavior.

### Expected behavior

We should add 'created' (or 'modified'?) timestamps to the exams so that they can be sorted predictably.

Or, we should also add tests to verify proper sorting

### User-facing con

[2018-07-03 00:14] ralphiee22 commented on #3933
Hi @swapnil106111, I believe this is an issue with having old outdated content. Since the channel was curated from the KA hindi channel, and there have been several updates to KA Hindi for things such as excluding non translated content. I have manually synced the channel to bring it in line with the latest KA hindi channel. I also published the Rajasthan channel so this should no longer be an iss

[2018-07-03 02:40] #3939 closed, assigned to nobody

[2018-07-03 02:43] #3928 closed, assigned to christianmemije

[2018-07-03 02:48] #3856 closed, assigned to nobody

[2018-07-03 19:49] indirectlylit commented on #3678
another case... --^

[2018-07-04 03:07] nobicycle commented on #3620
Understood and thanks

[2018-07-04 04:03] nobicycle commented on #3620
Hi. I noticed v0.10 was out and did a clean install, deleting the old kolibri directory.
I selected Khan Academy for import. "Generating channel listing. This could take a few minutes…" took so long I looked in the logs, attached. Seems like there are various issues.
[server.log](https://github.com/learningequality/kolibri/files/2161816/server.log)
[kolibri.log](https://github.com/learningequality

[2018-07-04 04:12] nobicycle opened #3963 "Version 0.10 Server SSL Errors"
Hi. I noticed v0.10 was out and did a clean install, deleting the old kolibri directory.
I selected Khan Academy for import. "Generating channel listing. This could take a few minutes…" took so long I looked in the logs, attached. Seems like there are various issues.

[server.log](https://github.com/learningequality/kolibri/files/2161824/server.log)
[kolibri.log](https://github.com/learningequalit

[2018-07-04 06:13] mrpau-richard commented on #3949
Can't reproduce this issue at the new 0.10.0 released. @radinamatic told me that the reason, why the kolibri studio import is disabled it's because there is no internet connection on the device that Kolibri is running. I think that's cause on this issue. Closing this.

[2018-07-04 06:13] #3949 closed, assigned to nobody

[2018-07-04 10:53] ivanistheone commented on #3948
So is this related to way we use pdf.js, or maybe a bug in the specific version we're using? (I'm assuming the online demo is using the latest version of pdf.js)

[2018-07-04 17:36] indirectlylit commented on #3620
thanks for the heads-up!

[2018-07-04 17:39] indirectlylit commented on #3963
@nobicycle thanks for the report!

Could you please provide:

* install method (pex, pypi, etc)
* OS and version of OS

[2018-07-05 11:15] benjaoming commented on #3678
@indirectlylit but this is more a case that raising AssertionError *is* the way to go :)

[2018-07-05 11:25] nobicycle commented on #3963
Sorry.
Arch( Manjaro) Linux
$ uname -a
Linux tower 4.14.52-1-MANJARO #1 SMP PREEMPT Tue Jun 26 15:24:31 UTC 2018 x86_64 GNU/Linux

Method: pip install in a vitualenv

[2018-07-05 12:47] benjaoming commented on #3963
It seems that the error occurs in the middle of downloading of channel id 1ceff53605e55bef987d88e0908658c5

@nobicycle thanks a lot for filing this. I suspect this is related to some kind of missing error-retry. So probably a sub task failed, and there is no user feedback in the UI unfortunately. You could potentially retry this, it doesn't seem like something that would persist.

[code]

[2018-07-05 12:48] benjaoming commented on #3963
I think this issue has 3 levels:

1. Investigating and fixing the immediate SSL problem
1. Adding proper user feedback for this exception, since it seems that the job has failed and the user isn't informed
1. #3494

[2018-07-05 17:18] indirectlylit commented on #3678
definitely debatable, but we'll save that for another day. This is why I consider #3251 so important

[2018-07-05 17:52] indirectlylit opened #3970 "number of coach resources is not internationalized"
### Observed behavior

On topics in Learn, the number shows as a 'latin'-style numeral:

![image](https://user-images.githubusercontent.com/2367265/42339250-507e99aa-8041-11e8-8490-355a70d1995d.png)

### Expected behavior

Number should be properly internationalized

### User-facing consequences

users will not be able to read the text

### Steps to reproduce

Log in as a coach and view a topic in

[2018-07-05 18:38] indirectlylit opened #3972 "errors in VideoRenderer component"
### Observed behavior

[code]

![image](https://user-images.githubusercontent.com/2367265/42341317-890f3526-8047-11e8-9506-d4152d1aeb56.png)

### Expected behavior

no errors

### User-facing consequences

unknown

### Errors and logs

[code]

[code]

### Steps to reproduce

navigate to content item `245f0f2f45c446168a1c9fbf34ffcab1` in the Kolibri Demo channel `bcd99d8aeef04ce6b9e25a88d87eedb7`1

[2018-07-05 18:39] indirectlylit opened #3973 "import modal layout is broken"
### Observed behavior

note extra spacing

![image](https://user-images.githubusercontent.com/2367265/42341469-054d7328-8048-11e8-85cd-d7d134abbdcc.png)

### Expected behavior

standard layout

### User-facing consequences

inconsistent/ugly layout

### Steps to reproduce

go to import content

### Context

0.11.0

[2018-07-05 18:41] indirectlylit opened #3974 "setup wizard layout is broken"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/42341536-3da0ec28-8048-11e8-8710-be5806653892.png)

### Expected behavior

not broken

### User-facing consequences

inconsistency/ugliness

### Steps to reproduce

set up Kolibri fresh

### Context

0.11.0

[2018-07-05 18:55] indirectlylit commented on #3963
yes, @nobicycle I'm very curious whether this recurs after restarting Kolibri?

Assuming that it does not, I think our short-term fix is simply to make sure we're catching this and any other unhandled errors correctly and flagging the outstanding iceqube transfer as 'failed' when they happen happens.

[2018-07-05 19:03] christianmemije commented on #3974
Whitespace issue

[2018-07-05 19:23] christianmemije commented on #3613
Fixed in #3953

[2018-07-05 19:23] #3613 closed

[2018-07-05 20:20] indirectlylit commented on #3613
nice

[2018-07-05 20:54] #3921 closed, assigned to nobody

[2018-07-05 21:33] christianmemije commented on #3826
Page scrollbar fixed in #3808. :heavy_check_mark:
HTML5 app extra scrollbar fixed in #3890  :heavy_check_mark:
FF horizontal scrollbar should be fixed in #3977 :heavy_check_mark:

[2018-07-05 21:33] christianmemije commented on #3909
Fixed in #3958

[2018-07-05 21:33] #3909 closed, assigned to christianmemije

[2018-07-05 21:46] christianmemije commented on #3557
Fixed in #3924

[2018-07-05 21:46] #3557 closed

[2018-07-05 21:53] christianmemije commented on #3828
Fixed in #3957

[2018-07-05 21:53] #3828 closed, assigned to indirectlylit

[2018-07-05 21:56] christianmemije commented on #3913
Was fixes in #3912 by @rtibbles

[2018-07-05 21:56] #3913 closed, assigned to nobody

[2018-07-05 22:36] christianmemije commented on #3948
Encoding issue cannot be replicated in latest 0.10, which uses "pdfjs-dist": "^1.9.426". Version was last bumped in https://github.com/learningequality/kolibri/commit/ca34626d7fa39203e6a3aa396a7d9927d48d5ca1#diff-e7a8de5cd277eb87eb1384eaeeb1cd6f

![image](https://user-images.githubusercontent.com/7193975/42351277-f4847610-8068-11e8-8ad6-0f92ed27c4c3.png)

[2018-07-05 23:48] indirectlylit commented on #3826
nice

[2018-07-05 23:48] #3826 closed, assigned to christianmemije

[2018-07-06 01:31] mrpau-julius opened #3981 "Observe the size is not same. I try to import using flash drive."
### Observed behavior
Take a look at the screenshot, the size is not the same on flash drive.

comment by @jamalex
This one is a known issue; we don't know based on the content database which content node files are actually available on the USB drive, and haven't looked into an efficient way to scan real-time.

### Expected behavior
Must be same amount in flash drive.

### Steps to reproduce
1. lo

[2018-07-06 02:26] mrpau-richard opened #3982 "Class coach option layout broken."
### Observed behavior
Class coach option layout is broken.

### Errors and logs
![screen shot 2018-07-06 at 10 19 33 am](https://user-images.githubusercontent.com/8663934/42356748-cf039364-8106-11e8-882b-a278041594e9.png)

### Context

 * Kolibri version: 0.11.0-alpha3
 * Operating system: Windows 10
 * Browser: firefox 61.0.1

[2018-07-06 03:41] mrpau-richard opened #3983 "Browser freeze after selecting all exercises."
### Observed behavior
Browser freeze after selecting all exercises.

### Errors and logs
![screen shot 2018-07-06 at 11 25 54 am](https://user-images.githubusercontent.com/8663934/42358586-e77b5bb2-810f-11e8-972f-6b1cbcb00783.png)

### Steps to reproduce
* Download contents from CK-12 channel with more than 876 exercises.
* Create an exam then select all CK-12 content exercises.
### Context

 * Ko

[2018-07-06 06:17] mrpau-richard opened #3984 "Exam exercises not working on IE11 only"
### Observed behavior
Can't load exam exercises on IE11 only.
I can load this Exam exercises on other browsers.
related to #3928

### Errors and logs
![screen shot 2018-07-06 at 2 15 17 pm](https://user-images.githubusercontent.com/8663934/42362720-21f4fb10-8127-11e8-8ea1-8cf0c96fec50.png)

### Context

 * Kolibri version: 0.11
 * Operating system: Windows 10
 * Browser: IE!!

[2018-07-06 06:46] mrpau-julius opened #3985 "The pdf viewer does not return to normal size"
### Observed behavior
In recommended page, I view the document file name "Decimal". first I download the file, then click the Right arrow(next) in recommended area at the bottom, and click full screen then exit the full screen and the pdf viewer will not return to normal size.

### Expected behavior
The PDF viewer must back to normal size.

### Errors and logs
[code]

### Steps to reproduce
1. log

[2018-07-06 07:24] mrpau-julius opened #3986 "In Khan Academy (fr) the exercise is Empty at channel page."
### Observed behavior
I observe exercise file is empty when I select the "Test de connaissances : Introduction à la biologie".

### Expected behavior
Must view the exercise.

### Errors and logs
[code]

### Steps to reproduce
1. Login with admin account
2. go to device and import this token "Khan Academy (fr)"
3. go to channels page and select Khan academy (fr)
4. choose [science/biologie/Introduc

[2018-07-06 08:01] mrpau-julius opened #3987 "The new learners and coachs account, can't view the kolibri 0.11.0a3 at first login"
### Observed behavior
When I create a learners account and test to login, the page show like this "The requested URL / was not found on this server."

### Expected behavior
Must login to kolibri page.

### Errors and logs
[code]

…

### Steps to reproduce
1. login with admin account
2. go to facility and user tab
3. create new learner account
4. try to login the new learner account and see the err

[2018-07-06 08:36] mrpau-julius opened #3988 "Change the language in login page, the background color is white"
### Observed behavior
I observe that the background of change language in login page was white. I think its must be transparent.

### Expected behavior
the background of change language must be transparent.

### Context
windows 7
kolibri 0.11.0a3
firefox 61.0.1(640bit)

### Screenshot
![musttransparent](https://user-images.githubusercontent.com/38421180/42368781-d638b1a4-80bc-11e8-8c93-68b48c6d7a3

[2018-07-06 08:47] ivanistheone commented on #3948
Confirm fixed by updating demo site to 0.10: http://pradigi-demo.learningequality.org/learn/#/topics/c/ea0eeab6f91d5bcc8147b03c594afd1f

[2018-07-06 08:47] #3948 closed, assigned to christianmemije

[2018-07-06 08:52] mrpau-julius opened #3989 "add new group have a small scroll bar"
### Observed behavior
I see a small scroll bar on add new group

### Expected behavior
no scroll will show up.

### Context
windows 7
kolibri 0.11.0a3
firefox 61.0.1 (64-bit)

### Screenshot
![small scroll bar](https://user-images.githubusercontent.com/38421180/42369526-143ce946-80bf-11e8-9be9-8d6f552d7529.png)

[2018-07-06 12:15] benjaoming opened #3990 "Merge upwards starting from 0.6.x"
### Observed behavior

In tried going from 0.6.x to 0.7.x, and there are merge conflicts in `yarn.lock` and `package.json` that I can't resolve.

If someone can merge 0.6.x into 0.7.x, I can do the rest.

 * [ ] 0.6.x into 0.7.x: Merge conflicts
 * [ ] 0.7.x into 0.8.x: Almost works! (just the cherrypy fix left) :+1:
 * [ ] 0.8.x into 0.9.x: Almost works! (just the cherrypy fix + version numbers l

[2018-07-06 15:35] christianmemije commented on #3974
Fixed in #3980

[2018-07-06 15:35] #3974 closed, assigned to nobody

[2018-07-06 17:33] jonboiser commented on #3989
The character counter might have added to the vertical height of the form, causing that overflow.

[2018-07-06 20:07] jonboiser commented on #3947
For the Exam User Report, the reason things break is that it requires the actual Exercise/Perseus File + the ContentNode model to render the report fully (with attempts displayed as a filled-in exercise).

The quick fix for now might be to filter out deleted Exercises from the reports, but it may still be possible to render a text-only version of the log if the Exercise cannot be fully rendered.

[2018-07-06 20:53] indirectlylit commented on #3989
we just committed a change that might have resolved a few of these layout issues: #3980

mind retesting with the new beta? https://github.com/learningequality/kolibri/releases/tag/v0.11.0-alpha4

[2018-07-06 20:59] indirectlylit commented on #3947
I've logged a clearinghouse issue to address the larger questions. For now, let's just try and do something reasonable - either filtering completely or (if straightforward) showing a text-only version.

[2018-07-06 21:00] indirectlylit commented on #3982
should be addressed by #3980 - please let me know if it's still there in alpha4

[2018-07-06 21:00] #3982 closed, assigned to nobody

[2018-07-06 21:02] indirectlylit commented on #3985
@mrpau-julius would you mind checking if this issue exists in 0.10.0 also?

[2018-07-06 21:04] indirectlylit commented on #3987
Is there any chance that multiple Kolibri or Python processes are running simultaneously?

[2018-07-06 21:27] indirectlylit commented on #3981
* When you "select all", does it calculate at that point which items are actually available?
* When you navigate down the tree, does it indicate availability there?

[2018-07-06 21:28] indirectlylit commented on #3983
cc @jonboiser any chance this is a regression from vuex work?

[2018-07-06 21:30] indirectlylit commented on #3984
@christianmemije mind looking into this? As far as I know, this page should have your new layout

[2018-07-06 21:31] jonboiser commented on #3983
Selecting exercises for exams has always been resource intensive since clicking an entire channel actually execute a function for every node in the subtree that is an exercise, and 876 nodes is a relatively large number. It's possible that the reason the browser is still locked is that the request for those nodes is still pending.

[2018-07-06 21:34] indirectlylit commented on #3983
@mrpau-richard mind checking if the same issue happens in 0.10.0 when you have the same content?

[2018-07-06 21:37] christianmemije commented on #3984
Duplicate of https://github.com/learningequality/kolibri/issues/3928. Was fixed in 0.10. Need to publish a new version of perseus for Develop.

[2018-07-06 22:17] lyw07 commented on #3963
Hi @nobicycle ,
I tried to reproduce the error on a Manjaro Linux 17.1.6 but failed to do so. Do you mind telling us what is the version of your `openssl` by entering `openssl version` in your terminal? Thank you!

[2018-07-06 22:53] jonboiser commented on #3853
The warning text appears in the perseus plugin. How it appears probably is managed there?

[2018-07-06 23:02] rtibbles commented on #3853
Joy... @christianmemije fancy taking a look at this?

[2018-07-07 07:41] benjaoming commented on #3963
@lyw07 it's okay if the problem cannot be reproduced, I think the logs show enough traceback to simulate it and create the necessary error handling.

The problem looks like a network connection error occurred.

[2018-07-07 10:43] nobicycle commented on #3963
$ openssl version
OpenSSL 1.1.0h  27 Mar 2018

Here are the fresh logs (after truncation) following the same procedure.

[kolibri.log.txt](https://github.com/learningequality/kolibri/files/2172666/kolibri.log.txt)
[server.log.txt](https://github.com/learningequality/kolibri/files/2172667/server.log.txt)

[2018-07-07 10:52] nobicycle commented on #3963
$ openssl version
OpenSSL 1.1.0h  27 Mar 2018

Fresh logs attached following the same procedure.
[kolibri.log](https://github.com/learningequality/kolibri/files/2172678/kolibri.log)
[server.log](https://github.com/learningequality/kolibri/files/2172679/server.log)

[2018-07-07 12:20] benjaoming commented on #3963
Thanks, @nobicycle, pretty convincing that it's a more common issue, since it's now happening already after 1% progress.

[2018-07-08 04:37] nobicycle commented on #3963
Hi,

I believe it is a an external package (openssl) problem, since I am getting similar issues building packages:

[2018-07-08 12:46] benjaoming commented on #3963
Seems your network connections might be interrupted from a local or intermediate issue? Try downloading big files w/o SSL connections?

Here's a big file, no SSL: http://pantry.learningequality.org/downloads/ka-lite/0.17/content/contentpacks/en.zip

Also, try downloading big files on another device, on the same network? Do you have IP conflicts on the network? Weird stuff like that could cause it.

[2018-07-09 01:02] mrpau-julius commented on #3985
@indirectlylit yes, its also exists after I download the file.

[2018-07-09 06:25] nobicycle commented on #3963
@benjaoming
Thanks.
Compiling an opensmtpd package today I obtained:

Give the error has not been reproduced given the external ssl issues raised shall I close?

[2018-07-09 08:50] benjaoming commented on #3825
A note from @mrpau-richard testing on Windows: It seems that the malformed database works in 0.7.2. So while it's interesting to investigate if a malformed DB in 0.10.0 can actually run in 0.7.2.

[2018-07-09 10:37] benjaoming commented on #3963
@nobicycle that does sound as the likely cause!

I will create another issue about the missing user feedback.

[2018-07-09 10:38] nobicycle commented on #3963
I tested downloading the smaller channels.

Global Digital Library - Book Catalog
Open Stax
Osmosis.org
PhET Interactive Simulations (en)
Pratham Books' StoryWeaver
Touchable Earth (en)
Sikana

These were all OK. There were no errors in the server.log

Then I tried a "bigger" channel, CK12. There were errors.

So the problem seems to be only the bigger channels such as Khan, MIT Blossoms and CK12

[2018-07-09 10:45] benjaoming opened #3997 "Missing user feedback and error messages during channel listing and import"
### Observed behavior

Missing user feedback has caused problems, also before 0.10, and result in unclear information for troubleshooting and issue reports.

Either we quickly implement error handling in the most critical progress tracking parts (channel listing and import/export), or we wait for a proper Activity Manager to be implemented #3494

Related issues:

 * #3963
 * #3620
 * #3494

### Ex

[2018-07-09 10:47] benjaoming commented on #3997
This likely means that the issue is easier to fix than I initially thought, because the frontend already knows that something has error'ed. However, the current feedback does not guide the user to stop waiting or indicate that the process has halted. Or why (for troubleshooting).

[2018-07-09 10:47] benjaoming commented on #3963
Will add this info to the other issue. Thanks!

[2018-07-09 10:51] benjaoming commented on #3963
The larger the file, the longer the download, the more likely that a randomly occurring error pattern is reproduced!

Could you try downloading the large file that I linked w/o SSL and see if that's successful? It seems that you have general system-wide SSL library issues?

Am not sure of their size!

If you are a very curious person, you could install [Wireshark](https://www.wireshark.org/) on th

[2018-07-09 11:24] nobicycle commented on #3963
I downgraded openssl
# openssl version
OpenSSL 1.1.0e  16 Feb 2017

And MIT Blossom channel was imported without error.

However Khan did not

[code]

BTW there is a github issue referenced in the log:

[code]

Anything to do with the problem?

[2018-07-09 12:19] benjaoming commented on #3963
No that seems unrelated, the problem must be due to SSL or network issues.

How does this command run? (it downloads a large file w/o SSL)

[code]

[2018-07-09 17:47] jonboiser opened #3998 "In Exam Creation, all breadcrumbs go back to the "top level""
### Observed behavior

When navigating through topics in the Exam Creation workflow, clicking a breadcrumb will take you to the top level (all channels), even if the breadcrumb's title was for a different sub-topic.

### Expected behavior

Clicking the breadcrumb will take you the correct topic.

### Steps to reproduce

1. Enter an Exam Creation Workflow
1. Navigate to a non-channel topic several

[2018-07-09 20:46] christianmemije opened #4000 "Prettier not running on devserver"
### Observed behavior

Prettier not running on devserver

### Expected behavior

Is this a joke?

### User-facing consequences

Dev rage.

### Context

Develop.

[2018-07-09 22:15] indirectlylit commented on #3985
cc @christianmemije

[2018-07-09 22:21] #3841 closed, assigned to jonboiser

[2018-07-09 22:24] indirectlylit opened #4003 "broken formatting on import page data warning"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/42479016-ca0fb568-838b-11e8-9070-693ffe39895c.png)

### Expected behavior

Layout should be better handled

### User-facing consequences

app looks a bit broken

### Steps to reproduce

trigger the error by selecting more content than you have disk space for

### Context

0.10.0

[2018-07-09 23:34] indirectlylit opened #4005 "previous content disappears if import of new content is canceled"
### Observed behavior

* was working on a Pi, which already had some KA content loaded on it
* updated the content DB, which was out-of-date
* selected some new content to import, and started the import
* waited a while; then canceled the import

at this point, I could no longer see the KA channel in either Learn or Device

However, when I went to reimport, it seemed to still know about it:

![ima

[2018-07-10 02:06] nobicycle commented on #3963
Hi benjaoming, I don't want to download nearly 1GB - we're' on very limited quota here. I download ISO's as big as that when necessary, but as you are suggesting, there may be some intermittent network issue at play.

Today SSL was updated to $ openssl version
OpenSSL 1.1.0h  27 Mar 2018

and ...

all channel indexes are imported except Khan, but even then, it reached 96%

BTW is there a manual wa

[2018-07-10 02:30] nobicycle commented on #3963
Just poking around for similar issues ... here they say  OpenSSL.SSL.WantReadError  connectivity interruptions are inevitable and recommend a wrapper to trap the error:

https://stackoverflow.com/questions/49530034/tweepy-openssl-ssl-wantreaderror

We know the issue is core SSL. Here is is again merely installing a package on Arch:

**> curl: (56) OpenSSL SSL_read: error:1408F119:SSL routines:ssl3

[2018-07-10 06:34] mrpau-richard opened #4006 "sqlite3-wal got too big file size."
### Observed behavior
After I import the Khan Academy(English) channel and browse its downloadable contents the `sqlite3-wal` changed the file size to almost 1gb. This happened without downloading any contents from Khan Academy(English).

### Errors and logs
![screen shot 2018-07-10 at 2 24 37 pm](https://user-images.githubusercontent.com/8663934/42493017-cd59d98e-844d-11e8-9430-df5a847ce10f.png)

[2018-07-10 07:16] mrpau-richard commented on #3983
@indirectlylit I confirmed that it's the same behavior in 0.10.

[2018-07-10 16:51] benjaoming opened #4007 "Import not blocked when disk space is insufficent"
### Observed behavior

I have set `KOLIBRI_HOME` to point to the path of a different drive. Kolibri reports that "18 GB" are available, and I have no immediate idea of where that figure is from. One guess would be that it is reporting the disk space *after* importing.

There are 2 issues:

1. The estimate is wrong, displaying "0 B" is wrong, and the figure below is confusing
1. If the estimate was

[2018-07-10 16:53] benjaoming commented on #4007
Clarification for the heavily contextualized reader: "Your remaining disk space" does NOT say whether it's the remaining disk space *now* or *after* the import :)

[2018-07-10 16:55] ralphiee22 commented on #3986
Hey @mrpau-julius, thanks for filing the issue. I have updated the French channel and it appears the path to reach that exercise no longer exists. Also it seems that this may be an exam, which we don't currently support in Kolibri. The update should have resolved this issue as well. I am closing this for now, but we can reopen if the issue arises again.

[2018-07-10 16:55] #3986 closed, assigned to nobody

[2018-07-10 17:56] jonboiser commented on #3880
Probably will have to wait until #3991 is merged in. The solution to this particular issue will need to use some of the how-to-handle-deleted-exercises logic implemented in that PR.

[2018-07-10 20:48] #3693 closed, assigned to jonboiser

[2018-07-10 21:57] nobicycle commented on #3963
The solution - install trickle bandwidth throttling. I limited 50 KB/s download and used the cli:

[code]
There are a ton of references on the subject of SSL link failures. Here is one that lists 6 experiments to debug the problem: https://bbs.archlinux.org/viewtopic.php?id=201625

[2018-07-10 22:06] nobicycle commented on #3963
Actually I spoke too soon. Now I have a /opt/kolibri/content/databases
$ ls
[code]
and a folder /opt/kolibri/.kolibri/content/databases/

[code]
Can I just move the latter sqlite3 into the former directory?

[2018-07-10 22:55] #3940 closed, assigned to jonboiser

[2018-07-10 23:01] jeepurs opened #4014 "Content import progress bar not reaching 100%"
### Observed behavior

The progress bar for importing a content channel via USB stopped at a % below 100% even though it was finished.

### Expected behavior

For cases where the import process has to skip files or import incomplete files, force 100% at the end of import.

### User-facing consequences

Confusion about the finished or unfinished status of content import

### Errors and logs

…

###

[2018-07-10 23:07] jeepurs commented on #3926
I also observed this issue while testing v0.10 on a Raspberry Pi.  I tried to import a channel that was only partially exported to USB. When importing the channel, the option to select all folders was available, thereby misleading me to think I could import a part of the channel that was never there in the first place. There was no error message, but the import finished and the channel doesn't app

[2018-07-10 23:13] indirectlylit commented on #3983
I just reproduced this while testing on the raspberry pi. Seemed to peg CPU super high on the client and eventually the browser died:

![image](https://user-images.githubusercontent.com/2367265/42542534-1cda8f5e-845c-11e8-8ff7-e0423e2ad545.png)

This was while trying to 'select all' on a large chunk of KA math.

[2018-07-10 23:14] indirectlylit commented on #3983
Note that the initial page load was also very slow, but eventually ended. However selection never ended.

[2018-07-10 23:19] christianmemije opened #4015 "Remove material icon font from main.scss"
### Observed behavior

The material icon font was removed in #3708. It probably got re-added somewhere in a merge. Develop.

[2018-07-10 23:21] jamalex commented on #4014
Would likely also happen if you export just a subset (not just if you interrupt).

[2018-07-10 23:38] jonboiser commented on #3926
This is partly expected behavior: We cannot tell which topics are (not) empty on an external device, so we allow users to "select" and navigate into topics which may in fact be empty. But if they were to actually navigate into the topic all the way to leaf nodes, those leaf nodes will not appear (we _do_ know when a leaf node is not available on the drive, by seeing if its corresponding Files exis

[2018-07-10 23:49] lyw07 commented on #4014
Hi! I tried to import an entire channel from Studio to Kolibri, and then export only a subset of the channel to USB. After that, I deleted the entire channel in Kolibri and tried to import the entire channel from USB. I can see from the logs that some number of files are skipped, but the progress bar reached 100%. I'm not sure which step I didn't follow correctly. Do you mind giving me more instru

[2018-07-11 00:45] mrpau-julius opened #4016 "Add new account has bug when selecting a user type."
### Observed behavior
Observe when I add new account and selecting the user type, the scroll bar will show. I think this is a bug.

![add new account have bug](https://user-images.githubusercontent.com/38421180/42544656-9fb3536e-84e5-11e8-9fdf-c59207cf467a.png)

### Expected behavior
no scroll bar and user type show in full list of details.

### Steps to reproduce
1. login with admin account
2. go

[2018-07-11 01:23] jeepurs commented on #4014
I would try importing on a completely different server if you want to replicate what i did exactly.

[2018-07-11 12:29] benjaoming commented on #3963
Hi @nobicycle - I just hit the same issues on a Raspberry Pi. It also has a very fast connection, so I think your idea of throttling is interesting.

[2018-07-11 17:00] lyw07 commented on #4014
I tried again to import to a different server but still couldn't reproduce the issue... Here are my steps:
1. import the entire channel from Studio to Kolibri
2. export only a subset of the channel to USB
3. create a virtual machine, and set the USB's KOLIBRI_DATA folder to be a shared folder of the virtual machine (this should work as an external drive to the virtual machine)
4. try to import the

[2018-07-11 17:48] jredrejo commented on #4006
This is quite easy to reproduce, using a clean database (time on the left)
(**Note**: done using Kolibri from develop, in a powerful computer and a nice Internet fiber connection)
19:21 wal file size= 3 Kb
19:21 Manage Content - Import - Khan Akademy
19:23 choose Math
wal file size = 1.3 Gb
Select Early Math - Counting
Select Numbers 0 to 120 => 6 resources (4MB)
19:25 Import
Finished in less than

[2018-07-11 19:00] #3970 closed, assigned to jonboiser

[2018-07-11 19:06] #3973 closed, assigned to jonboiser

[2018-07-12 04:12] nobicycle commented on #3963
Hi benjaoming
But also a wrapper to trap the error (see two messages up in the thread) - then 96% downloads can resume. :-)

[2018-07-12 09:25] bonidukic commented on #3309
Re-flagging this as it is still an issue for Perseus Exercises.

[2018-07-12 11:02] benjaoming commented on #3963
@nobicycle - yes, I think that @lyw07 is revisiting the retry logic and will have a fix ready for 0.10.1, thanks a lot for guiding through the cause of this error!

[2018-07-12 18:12] jtamiace commented on #3102
Sharing a first pass solution and can continue iterating on here

https://www.figma.com/file/KxjIhoBljRKy71SARf1h7dO0/superuser-clarity

[2018-07-12 20:18] lyw07 commented on #3825
I reproduced this error under the circumstances:
1. the download speed is 0.5 Mbit/s
2. import KA channel (not the content)

The error I got is:
[code]

[2018-07-13 00:31] indirectlylit commented on #4014
I wonder if this is the same issue as #614, which was closed as not reproducible?

[2018-07-13 03:07] mrpau-julius opened #4021 "device and facility not shown, when upgrading kolibri 0.7.2 to 0.11.0a4"
### Observed behaviour
Observe when I upgrade the kolibri 0.7.2 to 0.11.0a4, the device and facility not shown up.

![admin-role](https://user-images.githubusercontent.com/38421180/42670191-f160a50c-868b-11e8-857b-cedb9ceafda2.png)
![device and facility are not availble](https://user-images.githubusercontent.com/38421180/42670195-f5bb4cf6-868b-11e8-9f7a-835997efbc3c.png)

### Expected behaviour
Mu

[2018-07-13 07:20] JasonTame opened #4022 "User taken out of channel navigation when accessing next step activity"
### Observed behaviour

After completing an activity, Kolibri recommends a next step.

<img width="1224" alt="next_step_modal_topic" src="https://user-images.githubusercontent.com/15672948/42677717-e5f95290-867c-11e8-9516-518a7bcb1e81.png">

If that next step is a topic folder, then the breadcrumbs correctly displays the breadcrumbs navigation.

![correct_navigation](https://user-images.githubuser

[2018-07-13 17:14] indirectlylit opened #4023 "add facility setting to disable 'guest' browsing"
### Observed behavior

Some organizations prefer that their users always be logged in

### Expected behavior

A facility setting can be added, e.g. "Disable guest access".

When this setting is active:

* "Access as guest" is hidden on the log-in page
* When a user visits a page without an active session, they are redirected to the log-in page

### User-facing consequences

Sometimes students are

[2018-07-13 17:41] jtamiace commented on #4023
Seems reasonable to me. The setup wizard would be a touchpoint for this change, so will think about how this new setting should fit in

[2018-07-13 17:42] jonboiser opened #4024 "Add a new 'make test' command that cleans before and after tests"
To run pytest tests successfully, I usually need to

1. Delete the `KOLIBRI_HOME/backups` folder
1. Run the tests as usual
1. Delete the `project_folder/.pytest_cache` folder that appears after the tests run

We should have a new 'make' command that does all of these automatically.

[2018-07-13 18:00] jonboiser commented on #3983
Yeah, it's the client-side logic that is slow. It is actually O(n^2) when batch-adding a bunch of exercises because here's the logic:

In the `addExercise` action

1. For each exercise E chosen to be added
1. For each exercise {F} already chosen
1. If E is in {F}, then add, else don't

Because {F} is growing at every time a new E is added, the loop in `addExercise` gets longer with each new E.

Ma

[2018-07-13 18:33] jonboiser commented on #3983
The issue with the slow initial load might be a longer term fix. The reason it's slow on the demo server is that in the `gotoTopLevel` action, it requests every Exercise in every Channel, which could potentially be a large request.

[2018-07-14 00:22] rtibbles opened #4028 "Duplicated questions in exams"
### Observed behavior
When adding exercises to an exam from a topic that has repeated content nodes within it (like the top level KA channel when some of the elementary maths exercises have been imported). Each copy of the exercise will be rendered distinctly in the exam. This can lead to the same question being repeated in the exam.

### Expected behavior
Dedupe exercise nodes by content_id on ex

[2018-07-16 08:55] nobicycle opened #4029 "Public Channel Listing"
Hi, I was given this url to obtain a list of current public channels.

https://community.learningequality.org/t/command-line-network-import-where-to-find-the-channel-ids/529

But it no longer works.

For those who use Kolibri CLI, would it be possible to supply a fixed url to obtain such a listing. ?

Regards

[2018-07-16 12:22] nobicycle commented on #3963
Note: throttling is not a panacea:

[2018-07-16 16:37] arky opened #4031 "Kolibri ImportError: No module named functools_lru_cache"
Kolibri throws errors about missing 'functools_lru_cache' module.

kolibri --version
Traceback (most recent call last):
  File "/usr/local/bin/kolibri", line 7, in <module>
    from kolibri.utils.cli import main
  File "/usr/local/lib/python2.7/dist-packages/kolibri/utils/cli.py", line 24, in <module>
    from . import server  # noqa
  File "/usr/local/lib/python2.7/dist-packages/kolibri/utils/ser

[2018-07-16 16:40] arky opened #4032 "Kolibri Telemetry (ping) Error"
Few days ago I noticed these errors in the kolibri (0.10.0) on my testing server in Phnom Penh, Cambodia.

"WARNING 2018-07-15 03:13:59,954 ping Ping failed (403 Client Error: Forbidden for url: https://telemetry.learningequality.org/api/v1/pingback)! Trying again in 15.0 minutes."

Full logs: https://paste.ubuntu.com/p/pbnmxgTNdv/

[2018-07-16 17:00] #4003 closed, assigned to jonboiser

[2018-07-16 17:16] indirectlylit opened #4033 "prop validation errors when watching videos"
### Observed behavior

observed when previewing (as a coach) and also viewing in a lesson (as a learner):

* `Invalid prop: custom validator check failed for prop "supplementaryFiles".`
* `Invalid prop: type check failed for prop "appBarTitle". Expected String, got Undefined.`

### Expected behavior

no errors

### User-facing consequences

unknown

### Errors and logs

[code]

and

[code]

### St

[2018-07-16 18:22] indirectlylit commented on #4029
Hi - the URL loads for me. Are you still getting errors?

[2018-07-16 18:27] indirectlylit commented on #4022
cc @jtamiace @DXCanas I think you two were looking at this or something similar recently?

[2018-07-16 19:02] jtamiace commented on #4022
Only similar in the confusing navigation, but this appears to be a different issue. The other issue led a user who clicked on a topic folder in "Recommended" on the home page to a breadcrumb with "Recommended >" instead of the topic tree breadcrumb

The intended design in this reported issue was definitely to have the breadcrumb represent the spot in the topic tree, not "Recommended > [Title]"

[2018-07-16 21:29] jtamiace commented on #4023
It might make sense for this to be the third step in the setup wizard

<img width="1163" alt="screen shot 2018-07-16 at 2 27 39 pm" src="https://user-images.githubusercontent.com/6668144/42784564-7737c794-8904-11e8-93ff-7c8e0d8ef37f.png">

Here's the rest of the onboarding prototype for review
https://www.figma.com/file/CiaGXfI6OMOjBF9e8hr1c1Ap/Onboarding-0.11-updates

[2018-07-17 00:47] kollivier opened #4035 "Kolibri should report supported Hashi features to HTML5 apps"
In order to ensure proper operation over multiple versions of Kolibri, it's important that the Hashi library does not try to send messages that a particular version of Kolibri doesn't support, or depend on receiving a response to those messages to initialize.

To avoid this, we need to pass a GET parameter to HTML5 apps on load that tells them what Hashi features the Kolibri they're running in sup

[2018-07-17 04:01] nobicycle commented on #4029
It works now. Maybe a quirk. (Maybe this end :-)

[2018-07-17 04:01] #4029 closed, assigned to nobody

[2018-07-17 04:11] nobicycle opened #4038 "Import - Does not present contents of Export."
### Observed behavior
When performing import, the select tree should present the contents of the exported file. Instead, it presents the contents of the whole channel.

Storage contains 109 MB

![storage](https://user-images.githubusercontent.com/1372447/42795948-91da0e1c-89b9-11e8-8ed5-555603f32a09.png)

The Global Digital Library, for which the English subtree  was completely exported, shows the

[2018-07-17 05:41] arky commented on #4032
Wondering such telemetry errors block kolibri server from working? I hope not!

"WARNING  Ping failed (403 Client Error: Forbidden for url: https://telemetry.learningequality.org/api/v1/pingback)! Trying again in 15.0 minutes."

[2018-07-17 16:50] arky opened #4040 "On Raspberry Pi, use ''--no-cache-dir" pip option to install Kolibri"
Installing kolibri using pip on Raspbian (Raspberry Pi) fails with "MemoryError".  The workaround for this problem is to use "-no-cache-dir".

$ pip install kolibri

Full log: https://pastebin.mozilla.org/9089809

$ pip install --no-cache-dir kolibri

### Context
 * Kolibri version 0.10.0
 * Operating system:  Raspbian Lite on Raspberry Pi B+

Downstream bug in IIAB https://github.com/iiab/iiab/is

[2018-07-17 16:55] lyw07 commented on #4031
This error is caused by the cheroot version > 6.1.2, since we didn't pin the version of it in 0.10.0. We have had the fix in the current 0.10.x branch and will include the fix in 0.10.1 release.

[2018-07-17 16:59] arky commented on #4031
Thanks @lyw07 for shedding light on this issue.  For now I'll implement a check for correct version cheroot in Internet in a box installation script.

[2018-07-17 17:00] lyw07 commented on #4031
@arky thank you for reporting this issue! Please let me know if it still doesn't work.

[2018-07-17 17:23] indirectlylit commented on #4032
nope!

[2018-07-17 17:26] indirectlylit commented on #4040
thanks - noted in our docs repo

[2018-07-17 17:33] arky commented on #4040
@indirectlylit Thanks for adding this to Kolibri docs.

Meanwhile @iiab/community is investigating how to solve this pip problem on low-powered devices like Raspberry Pi.

[2018-07-17 17:36] arky commented on #4032
@indirectlylit  Thanks for clearing that up. Is there a way to turn off logging these failures to $KOLIBRI_HOME/*.log files.

It is quite possible that Internet in a box users might think these ping failures as a problem.

[2018-07-17 17:49] kollivier opened #4041 "Attempt to preload Hashi state and then inject the actual page content into a root div to minimize manipulation of content."

[2018-07-17 18:49] JasonTame commented on #4022
I can work on a fix for this issue, if no one else is working on it already?

[2018-07-17 18:50] rtibbles commented on #4022
Which version of Kolibri is this on, for context?

[2018-07-17 18:51] JasonTame commented on #4022
I tested on the kolibri demo channel, so 0.10.0

[2018-07-17 19:45] DXCanas commented on #4022
@indirectlylit - iirc, the conclusion we arrived at during that meeting was that topic tree should be the only place we view content, meaning we kill the "Recommended" URL and corresponding views? If that ends up being the case, I think this would be resolved?

[2018-07-17 21:09] #3998 closed, assigned to jonboiser

[2018-07-17 21:18] indirectlylit commented on #3926
this is a known and unfortunate limitation of the current implementation

This sounds unexpected. If even one item from the channel was imported, the channel should show up in the list

[2018-07-17 21:47] indirectlylit commented on #4022
@DXCanas yes, that sounds right to me - but just for links coming from anywhere in 'Recommended'. (There are other contexts with their own content views, e.g. inside a lesson.)

@JasonTame you're welcome to work on a fix, and it would be appreciated! I'd recommend quickly reviewing our [dev workflow docs](http://kolibri-dev.readthedocs.io/en/develop/references/development_workflow.html).

If the c

[2018-07-17 21:59] indirectlylit opened #4042 "issue viewing detail exercise coach report that current learner hasn't engaged with"
### Observed behavior

Reported by @jamalex that when viewing detail exercise coach report that current learner hasn't engaged with, the coach sees:

![image](https://user-images.githubusercontent.com/2367265/42901903-b2d541fe-8a81-11e8-9516-6d16f8ab9e23.png)

### Expected behavior

This whole section should be hidden:

![image](https://user-images.githubusercontent.com/2367265/42901987-ec66e878-8

[2018-07-17 23:59] indirectlylit commented on #4016
thanks @mrpau-julius -

would you mind checking if this happens on 0.10?

[2018-07-18 00:01] indirectlylit commented on #4038
thanks @nobicycle - this is unfortunately a known limitation of the current implementation. We are exploring ways of improving the user experience.

You can navigate down the tree and when you get to a topic level you'll see that the content is not there. However obviously that's not a very effective work-around.

[2018-07-18 00:06] indirectlylit commented on #4038
cc @jonboiser @rtibbles we should do an audit of issues related to availability and file sizes

[2018-07-18 00:14] indirectlylit commented on #4021
does this mean that you got logged out?

[2018-07-18 00:38] mrpau-julius commented on #4016
@indirectlylit  it's not exists on 0.10 only in 0.11.x

[2018-07-18 00:58] mrpau-julius commented on #4021
@indirectlylit no, when I login as a superuser/admin, I didn't seen the device and facility.

[2018-07-18 06:56] dhanam4 opened #4044 "Upload File Failed < h1>Server Error (500)</h1> "
### Observed behavior

**I am trying to Upload PDF file or any supported file in the Channel. getting
< h1>Server Error (500)</h1> clear**
…

### Expected behavior

The File should be attached and Showed as list for access
…

### User-facing consequences

…

### Errors and logs

![error](https://user-images.githubusercontent.com/30687998/42864843-6b5a9eb0-8a85-11e8-8404-bb50aff8a831.jpg)
![error](

[2018-07-18 11:45] JasonTame commented on #4022
@indirectlylit Cool, thanks for the guidance! I've changed the link in content-page.vue, recommended-page.vue and recommended-subpage.vue.

[2018-07-18 13:56] benjaoming commented on #4040
Thanks for reporting @arky

Could this perhaps be an upstream Pip issue? Ie. that installation of large .whl files are causing the issue?

[2018-07-18 14:21] arky commented on #4040
@benjaoming I shall do that. Trying to investigate this common problem [@iiab/#920](https://github.com/iiab/iiab/issues/920) further before reporting it pip upstream repo. Please feel free to close this bug.
Reported  here for documentary purposes.

[2018-07-18 17:21] benjaoming commented on #4040
Could triage this by generating a huge .whl file and afterwards adding that to PyPi...

[2018-07-18 17:39] benjaoming commented on #4040
Alright, I've made this release of a bogus package for you:

[code]

[2018-07-18 17:39] #4040 closed, assigned to nobody

[2018-07-18 18:43] benjaoming commented on #4040
*) The above package is 59 MB, because the PyPi limit is 60 MB

[2018-07-18 22:00] DXCanas commented on #3200
Where's the asset shown in the mock located?

[2018-07-19 00:07] indirectlylit commented on #4044
thanks for the report @dhanam4 - I've migrated your issue to the Studio repo: https://github.com/learningequality/studio/issues/790

[2018-07-19 00:07] #4044 closed, assigned to nobody

[2018-07-19 00:17] indirectlylit commented on #3200
These were low-fidelity mockups, so

1. Just use a placeholder image
2. Don't try to match the exact layout/spacing. In particular, stick default font sizes and spacing as much as possible.

[2018-07-19 18:22] jredrejo opened #4049 "Lack of access logs to Kolibri server"
### Observed behavior
When running Kolibri using the production build, i.e.
`kolibri --foreground start`
I would like to be able to see the server requests.

### Expected behavior
Server requests should be visible/logged somewhere to have a better view of what's happening under kolibri.
Logs files store information provided by Python logger and code errors. I would like to see also the requests to

[2018-07-19 18:58] khangmach commented on #3200
@DXCanas Updated the drive folder with image asset: https://drive.google.com/drive/folders/1Nk5B6MAYDND6rRYgCwOuZue5RSgf-emw

[2018-07-19 20:55] indirectlylit opened #4050 "deprecate htmlhint in favor of eslint for template linting"
### Observed behavior

`htmlhint` has a few issues:

* poor error reporting
* hacky support for vue files
* poor performance
* not maintained

However, it does enforce a number of important rules.

### Expected behavior

If possible, we should migrate all linting to `eslint`.

### User-facing consequences

None

### Context

0.10.0

[2018-07-20 00:31] #3983 closed, assigned to nobody

[2018-07-20 04:49] mrpau-richard opened #4055 "Preview exam page display not working properly."
### Observed behavior
When I preview the exam I created with 50 exercises, All exercises detail from the bottom is overlap at the top when I scroll down.
Also the close button overlap when I scroll down the page.

### Expected behavior
Exercise detail and close button display should not overlap at the top.

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/42983671-871c

[2018-07-20 18:24] benjaoming opened #4057 "Clean up logging patterns"
### Observed behavior

There are some inconsistent patterns in the wild, so wanna ensure that our logging is done consistently!

 * Because logging has to be configurable
 * Because the origin of log messages is super critical

[code]

### Expected behavior

Not sure

### User-facing consequences

Unknown

### Errors and logs

n/a

### Steps to reproduce

n/a

### Context

`develop` branch

[2018-07-20 22:06] lyw07 opened #4058 "module 'lib' has no attribute 'Cryptography_HAS_SSL_ST'"
### Observed behavior

This is an error reported by our user:
Getting a cryptography/OpenSSL related error when running any kolibri command on Odroid c2, with Ubuntu 16.04.
The error traceback is in the `Errors and logs` section.

### Expected behavior

Users should be able to run any kolibri command successfully.

### User-facing consequences

Users cannot use kolibri

### Errors and logs

[code]

[2018-07-23 05:43] indirectlylit commented on #2022
@jonboiser please close this issue once your final introduction of modules for page state has been merged

[2018-07-23 05:44] indirectlylit commented on #2037
fixed in #3993

[2018-07-23 05:44] #2037 closed

[2018-07-23 05:45] indirectlylit commented on #3073
fixed in #4034

[2018-07-23 05:45] #3073 closed

[2018-07-23 05:47] indirectlylit commented on #3324
fixed in #4039

[2018-07-23 05:47] #3324 closed

[2018-07-23 05:51] #1959 closed

[2018-07-23 05:56] indirectlylit commented on #3846
Okay - so the outcome if I understand correctly is:

1. when there is only one facility, make it a read-only label
2. add the same label to the profile page.

@khangmach is that correct?

[2018-07-23 05:59] indirectlylit commented on #3646
@ralphiee22 this may have been addressed?

[2018-07-23 16:20] indirectlylit opened #4063 "add mechanism to track and report method of installation in 'server info' page and error reports"
### Observed behavior

Currently we can report the kolibri version number and operating system, but not mechanism of installation (pex vs pip vs deb vs exe)

### Expected behavior

We should have the mechanism of installation available to the app for use in e.g. the server info page and error reports

### User-facing consequences

When users submit error reports, it's more complicated for us to as

[2018-07-23 16:50] #4006 closed, assigned to jredrejo

[2018-07-23 17:31] khangmach commented on #3846
@indirectlylit sounds good!

[2018-07-23 17:47] indirectlylit opened #4067 "reduce frequency of vacuum"
### Observed behavior

in #4019 we made vacuum run every 10 minutes for testing purposes (to try to expose any issues that might exist)

### Expected behavior

10 minutes might be a bit aggressive; let's reduce it to once every few hours

### User-facing consequences

unknown