[2019-12-09 18:16] indirectlylit commented on #6252
If we went this route, it would end up saying

whereas what I think we want is probably just

I agree it would be possible to improve on the current behavior, but I'm also about to start triaging out P2 issues :)

[2019-12-09 18:17] rtibbles commented on #6140
Correct - currently the task scheduler gets cleared at every restart.

[2019-12-09 18:19] indirectlylit opened #6255 "persist content task list across server restarts"
### Observed behavior

Restarting the server clears the list of completed tasks

### Expected behavior

Completed task list should persist across restarts. Any tasks that were ongoing when the server restarted should show as either canceled or failed.

### User-facing consequences

users lose access to important historical information

### Steps to reproduce

* let a few tasks run to completion
*

[2019-12-09 18:20] indirectlylit commented on #6140
opened a new issue for that here: https://github.com/learningequality/kolibri/issues/6255

[2019-12-09 18:27] radinamatic commented on #6252
Right, I my head I was leaving **Kolibri Studio** untranslated and just pasting the **Import from...** in front, but I see your point!

[2019-12-09 18:40] #6048 closed, assigned to nobody

[2019-12-09 19:25] benjaoming commented on #6247
We also have seen an issue with `dbbackup` during an upgrade in 0.12.8: #6201

As Richard notes: This was produced in a development, any chance that virtualenvs have switched between Python 2.7 and 3.x on the same `.kolibri` data?

[2019-12-09 19:53] jonboiser commented on #6250
Were you doing any other testing of the delete functionality before you noticed this?

About the "1 GB deleted" (instead of 400 MB deleted), i'm noticing that the code will actually to do some garbage collection of files from other channels. It's possible that the extra 600 MB came from other channels that were being garbage collected.

As for the "cancel" button not being active, the code for Tas

[2019-12-09 19:59] jonboiser commented on #6251
@rtibbles Added a new piece of metadata to handle canceled 'importcontent' tasks here (the `transferred_resources` field) and is supposed to be used to show how much was actually transferred in case of a cancelation or failure.

https://github.com/learningequality/kolibri/blob/05e6f190aadc30afc6a041318e87ef25bfe9aebf/kolibri/core/content/management/commands/importcontent.py#L311-L313

I'm noticing

[2019-12-09 20:21] indirectlylit commented on #6247
yes, it is possible

[2019-12-09 20:47] indirectlylit opened #6258 "hide info icon and tooltip when no resources will be deleted"
### Observed behavior

Shows warning when there are no resources that will be deleted:

![image](https://user-images.githubusercontent.com/2367265/70471420-f9118600-1a81-11ea-96b2-64ed6f40e827.png)

### Expected behavior

No warning if there is nothing to warn about

### User-facing consequences

consternation

### Context

0.13.0 beta 3

[2019-12-09 20:50] indirectlylit opened #6259 "hide '+' and '-' when value is 0"
### Observed behavior

Shows '+' and '-' even when value is 0

![image](https://user-images.githubusercontent.com/2367265/70471635-6fae8380-1a82-11ea-81ee-dfb5fe0bcc39.png)

### Expected behavior

just show 0

### User-facing consequences

slight confusion

### Context

0.13.0 beta 3

[2019-12-09 20:59] indirectlylit opened #6260 ""Individual learners" looks like it's one of the group names"
### Observed behavior

We don't distinguish between group names and the category of individual learners

![image](https://user-images.githubusercontent.com/2367265/70472229-9f11c000-1a83-11ea-8171-64be620ee3f7.png)

### Expected behavior

should be more clear what the categories are

### User-facing consequences

possible confusion

### Steps to reproduce

create and assign to groups and individua

[2019-12-09 21:04] indirectlylit opened #6261 "CSV export score empty when score is 0%"
### Observed behavior

When the score is 0, the CSV output is empty:

![image](https://user-images.githubusercontent.com/2367265/70472637-4bec3d00-1a84-11ea-8c13-8efa801a53e0.png)

### Expected behavior

score should be 0

### User-facing consequences

incorrect/confusing output

### Steps to reproduce

get a 0 and output a report

### Context

0.13.0 beta 3

[2019-12-09 21:24] indirectlylit commented on #6247
Similarly reported by @jamalex during the bug bash:

https://www.notion.so/learningequality/Database-disk-image-is-malformed-when-importing-channel-created-and-recently-published-on-Studio-e668a9dfd5f24ab693295a06311a1cc1

error:

[code]

[2019-12-09 21:33] indirectlylit opened #6262 "Updating a channel when no nodes have changed will download whole channel"
### Observed behavior

ref: https://www.notion.so/learningequality/0-13-0-bug-bash-2-775cb90a4bda4c59afe29a21b0153b59?p=0e50134d6a3349d4a078523406f40752

from @jonboiser

### Context

0.13.0 beta 3

[2019-12-09 21:37] #6131 closed, assigned to jonboiser

[2019-12-09 21:37] #6144 closed, assigned to bjester

[2019-12-09 21:42] indirectlylit commented on #5529
closing because much of import/export has been refactored in 0.13. If this is observed again, let's re-open

[2019-12-09 21:42] #5529 closed, assigned to nobody

[2019-12-09 21:46] indirectlylit commented on #6248
there are a few other places that aren't responsive

[2019-12-09 21:47] #4948 closed, assigned to ralphiee22

[2019-12-10 01:25] indirectlylit commented on #6196
thanks for the info!

In fact, some of what you describe will be present in the upcoming 0.13.0 release, specifically the ability to view information about how a channel update compares to the current version.

Please feel free to test out the beta and give feedback. More info here: https://github.com/learningequality/kolibri/wiki/0.13.0-beta-testing

[2019-12-10 01:36] #6145 closed, assigned to bjester

[2019-12-10 01:40] indirectlylit commented on #5952
@benjaoming would you mind retesting using 0.13.0 beta?

[2019-12-10 05:21] #6185 closed, assigned to jonboiser

[2019-12-10 05:21] #6189 closed, assigned to jonboiser

[2019-12-10 05:22] #6175 closed, assigned to jonboiser

[2019-12-10 05:22] #6099 closed, assigned to jonboiser

[2019-12-10 05:57] indirectlylit commented on #6212
@jonboiser I've played around with this for a bit and don't see an obvious fix. I assume this is what used to work:

https://github.com/learningequality/kolibri/blob/ae47e83cc8f9c2a31d95f5915bb2e8edaed3cd3e/packages/kolibri-components/src/KModal.vue#L283-L285

 Any ideas? I imagine this is related to the scrolling refactor we did.

[2019-12-10 13:09] benjaoming opened #6265 "module 'le_utils.constants.format_presets' has no attribute 'SLIDESHOW_MANIFEST'"
### Observed behavior

Latest `release-v0.13.x` running on a 0.12.8 `.kolibri`, have run `pip install -r requirements.txt`.

I have `le-utils==0.1.20`.

### Errors and logs

[code]

Content of plugins.json:

[code]

`pip freeze`

[code]

### Steps to reproduce

n/a

[2019-12-10 13:12] benjaoming opened #6266 "Package `enum` not built for Python 3.6"
### Observed behavior

`kolibri-server` failing to start, see: https://github.com/learningequality/kolibri-server/issues/43

As I gather, this happens if `enum34` is installed into the environment or if for some other reason the wrong `enum` library is active.

I can see that `enum` is built for many platforms but not `cp36/Linux` ?

CC: @lyw07

### Expected behavior

An `enum` package for the mat

[2019-12-10 13:21] intelliant01 commented on #6266
Confirmed that I have `enum34` installed.

[2019-12-10 13:53] nobicycle commented on #6196
I will.
Is there a list for beta testers? If so please add my email, if you know it from github.

[2019-12-10 14:15] nobicycle commented on #6196
Wow what a major release with so many really good additions.
Thank you team Kolibri.

I can't test the update yet because all channels are up to date.

[2019-12-10 14:52] lauradanforth opened #6267 "Import from Studio is repeatedly failing"
### Observed behavior
Part 1: While trying to Import a channel, the channel reached about 70% and then failed. Subsequent attempts produced immediate failure.
![image](https://user-images.githubusercontent.com/22602993/70539998-772d6580-1b32-11ea-87f0-a244acc5b633.png)

Part 2: Switching to a different channel also resulted in immediate failure, while not recognizing channel name
![image](https://

[2019-12-10 16:49] indirectlylit commented on #6196
One strategy for testing would be to self-publish a channel in studio and experiment with updating it

Not yet - we're still experimenting with ways to manage the beta testing process. However this is something we're considering for future releases

[2019-12-10 16:52] radinamatic commented on #6267
I'm running the b4 PEX **on Ubuntu**, but importing channels work a-OK for now.

I did see the `(Channel name unavailable)` during our hack session last week, but it was for the KA Fulfulde channel @ralphiee22 was actively trying to update, and I thought it was a fluke 😞

[2019-12-10 16:54] rtibbles commented on #6251
I didn't add this for the export task, because in that case, cancellation triggers disk cleanup (i.e. no files will have been exported after the task has been cancelled) - but this means there is differential behaviour that either the frontend or the backend needs to handle.

[2019-12-10 16:57] indirectlylit commented on #6265
@nucleogenesis curious that we haven't seen this before. I don't actually see `SLIDESHOW_MANIFEST` in `format_presets`. thoughts?

[2019-12-10 16:58] rtibbles commented on #6265
https://github.com/learningequality/le-utils/blob/master/le_utils/constants/format_presets.py#L66

[2019-12-10 16:59] indirectlylit commented on #6251
canceling a deletion seems like unnecessary and confusing functionality. Would it help to intentionally hide 'cancel' button during deletion?

[2019-12-10 16:59] indirectlylit commented on #6265
search failed me

[2019-12-10 17:01] rtibbles commented on #6265
It is present in version `0.1.20` of le-utils also, this is most likely caused by out of date pyc files.

[2019-12-10 17:04] radinamatic commented on #6251
This issue is about cancelling en **Export** task 🙂

[2019-12-10 17:07] radinamatic commented on #6251
And why would canceling a deletion be confusing or unnecessary, users can realize an error or change their minds about what to do all the time. I'd say cancelling a delete operation is valuable (Gmail gives you several seconds to undo a delete).

[2019-12-10 17:48] nucleogenesis commented on #6122
@indirectlylit This is targeted for 0.13 - but we need this for the Vodafone build so I'll be working on it in 0.12 and will need another beta cut for that when it is resolved.

[2019-12-10 17:55] radinamatic commented on #6250
@jonboiser Yes, prior to this I tried twice to cancel a delete task with smaller amount of selected resources, but it always seemed to finish deleting before I could even see the `Cancel` button. Anyways, no way those 600MB came from prior delete tasks, all in all it was 100MB tops (my connection here sux big time, so I'm very conservative when downloading)

Then I selected 400 MB from that KA-BG

[2019-12-10 17:57] indirectlylit commented on #6242
lowering priority because the results seem to be intermittent

[2019-12-10 17:58] #6178 closed, assigned to rtibbles

[2019-12-10 18:00] radinamatic commented on #6242
Agreed, apparently only my Mojave VM has issue with this.

[2019-12-10 18:18] indirectlylit commented on #6122
sounds good! I'll adjust the milestone

[2019-12-10 18:34] lauradanforth commented on #6267
[code]

[2019-12-10 18:50] jredrejo commented on #6266
Solved with #6269

[2019-12-10 18:50] #6266 closed, assigned to nobody

[2019-12-10 18:53] indirectlylit commented on #6180
deprioritizing for 0.13 because we don't have many slideshows in the wild

[2019-12-10 18:57] indirectlylit opened #6272 "issues scrolling HTML5 apps in iOS"
### Observed behavior

@richard reported that the scrollbar is not visible in iOS for html5 apps

### Expected behavior

scrolling inner scrolling should work

### User-facing consequences

cannot currently scrol html5 on iOS

### Steps to reproduce

@rtibbles  would you mind linking to some specific content that exhibits this on the demo server?

### Context

0.13.0 beta 4

[2019-12-10 19:21] benjaoming commented on #6265
Ay this was caused by artifacts in the `dist/` folder. Sorries.

[2019-12-10 19:21] #6265 closed, assigned to nobody

[2019-12-10 20:17] benjaoming commented on #3129
Since we now have an improved, separate handling of plugins in `~/.kolibri/plugins.json`, I'm going to close this.

If there are future issues, I should be opening issues targeting better exception messages, _rather than_ poking around at a structure designed to be optimized for other things - not per say some developer swapping around environments and eventually building developer docs with sphin

[2019-12-10 20:17] #3129 closed

[2019-12-10 22:10] jonboiser commented on #6229
I wonder if it's because there were many concurrent connections during the bug bush. I.e. me triggering many channeldiffstats task on my computer by going back in forth is the same as multiple users trigger channeldiffstats on the server (esp. if they are checking the same channel).

[2019-12-10 22:49] larryyoung1200 commented on #6213
Hi,

I tried following the instructions from the Support Forum but nothing helps.  Here are the results of the Import.

Here’s what happens when I follow the instructions from the forum.

And there is no Log In button.

I don’t want to copy ALL of the channels from the 4 TB USB disk because I don’t have enough room on my local drive.  I need to be able to select specific channels.

I am running th

[2019-12-10 22:54] rtibbles opened #6276 "Deleting channel metadata with null order breaks the signal handler"
### Observed behavior
When deleting a channel with a null order value it throws an error.

### Expected behavior
Can delete channels regardless of if they have an order.

### User-facing consequences
Failure to delete channel metadata

### Errors and logs
[code]

### Steps to reproduce
Import a channel using `importchannel` then delete it with `deletechannel`.

### Context
Tell us about your envir

[2019-12-10 22:59] jonboiser commented on #6213
Hi Larry, your screenshots aren't appearing on the issue. It might have something to do with commenting on issues through email. If you're getting this by email, could you log on to GitHub and upload the screenshots again?

[2019-12-10 23:22] radinamatic opened #6277 "Same channel listed twice for import when using token"
### Observed behavior
After switching to import full channels, *and* inserting the token, if the user inserts token again, the channel will be listed two times in the list of channels. Stemmed from [this convo after the last week  bugbash](https://www.notion.so/learningequality/After-switching-to-import-full-channels-and-inserting-the-token-user-is-still-seeing-a-long-list-5caed6f604a34bb98395e794

[2019-12-11 00:32] larryyoung1200 commented on #6213
Hi,

I tried following the instructions from the Support Forum but nothing helps.  Here are the results of the Import.
![Picture1](https://user-images.githubusercontent.com/58528849/70580242-082b2d80-1b81-11ea-8d9a-ad7dfb4e740a.jpg)

Here’s what happens when I follow the instructions from the forum.

![picture0](https://user-images.githubusercontent.com/58528849/70580676-9eac1e80-1b82-11ea-82b3-36

[2019-12-11 00:34] jonboiser commented on #6212
I'm not sure that 'preventScroll' method was ever working, but we were getting the effect we wanted through some other coincidence. Based on some stuff I've read online, it seems like you can't put this handler on the 'scroll' event, but rather need to `.preventDefault()` higher-level events like mouse wheel scrolls, mobile touches, keyboard arrows etc. This [Stackoverflow article](https://stackov

[2019-12-11 00:48] bjester commented on #6239
@radinamatic I remember talking with you about RTL with respect to the transcript. This issue arose because of some refactor after code review, but I think otherwise it should be doing what we expect. The thing I wanted to double check on was whether the transcript cues themselves should be RTL as well? If I remember correctly, we decided that within the transcript box, it should obey the directio

[2019-12-11 00:49] jonboiser commented on #6251
@rtibbles Since cancelled exports clean up after themselves, would it be more accurate to say "0 of X resources exported" if an export is canceled? Should we literally show that message in that situation?

[2019-12-11 01:05] rtibbles commented on #6251
I feel like just saying "cancelled" or some such is probably simpler, and just skipping the summary completely.

[2019-12-11 01:13] jonboiser commented on #6251
That works for me. We already have a 'canceled' label on the top of the card, so it could be like this

[code]

[2019-12-11 01:13] indirectlylit commented on #6039
Hi @miyer03 - unfortunately we haven't had an opportunity to look into this further yet. I'll let you know as soon as we do

[2019-12-11 01:17] jonboiser commented on #6188
Fixed in #6264

[2019-12-11 01:17] #6188 closed, assigned to nobody

[2019-12-11 01:17] jonboiser commented on #6259
Fixed in #6263

[2019-12-11 01:17] #6259 closed, assigned to nobody

[2019-12-11 01:19] jonboiser commented on #6168
I've tried in the edit profile page to avoid this by adding enough extra space below the bottom of the form so that the dropdown could fall into it if it were ever opened. Must have forgot to implement something similar in the setup wizard.

[2019-12-11 01:47] larryyoung1200 commented on #6213
The exact same problem occurred with beta 5.

[2019-12-11 02:13] jonboiser commented on #6213
@larryyoung1200 Thanks for the screenshots.

Something looks wrong in the section that says

[code]

If there are channels on those drives, there should be data inside the `[]`.

Would you mind sending us a screenshot of what the hard drive looks like in Windows Explorer so we can see the directory structure of the files. For reference, here's what it should look like (screenshot from my Mac compu

[2019-12-11 06:19] mrpau-richard commented on #6277
I reproduced this issue on Kolibri mac app b4
![Screen Shot 2019-12-11 at 2 18 10 PM](https://user-images.githubusercontent.com/8663934/70596578-3bbd9480-1c21-11ea-84dc-2936f7d108a5.png)

[2019-12-11 13:29] larryyoung1200 commented on #6213
Your screen shots help a lot.  The file structure of my USB drive is different than yours.  As you can see below, under Kolibri_Data I have 3 sub-directories; content; databases; storage.  You have one subdirectory; content.  Your sub-directories of content are databases & storage.

![Picture6](https://user-images.githubusercontent.com/58528849/70625160-d56c4e00-1bef-11ea-9da8-7bf53589dd5b.jpg)

A

[2019-12-11 18:14] jonboiser commented on #6213
Could you try copying the files inside of `F:/KOLIBRI_DATA/databases` folder to `F:/KOLIBRI_DATA/content/databases` so it matches my directory structure?

The end result should be that `F:/KOLIBRI_DATA/content/databases` will have the .sqlite3 files.

Also, move the `F:/KOLIBRI_DATA/storage` folder to `F:/KOLIBRI_DATA/content/storage` so it matches the directory structure in my screenshot.

I thin

[2019-12-11 18:37] radinamatic opened #6280 "Update channel feature and annotation questions"
### Observed behavior
Long story, please bear with me... 🙂

All in all the walk through the feature was relatively seamless, I just need some clarity on reported resources during the update process, to help me with writing Gherkin scenarios and the documentation.

1. I first imported an old version of my testing channel that I had on an external drive.

   ![import-v9](https://user-images.githubus

[2019-12-11 18:58] jonboiser commented on #6277
To fix this for now, we can just treat the "new" unlisted channel from the modal as if it were added to the Available Channels List, by moving it to the top and giving it the green "New" badge, but not adding duplicates of that channel's row.

In the future, maybe we could put that "already installed" notification inside the modal or somewhere else.

[2019-12-11 23:10] radinamatic commented on #6280
Tried repeating the steps with another older channel from the same external drive, and now we are entering the _bug_ zone and unmet expectations regarding the channel update process 😞

1. Imported v13 of the PhET channel on the drive, reported only 8 resources and 17 MB selected/imported.

   ![import-PhET-v13-drive](https://user-images.githubusercontent.com/1457929/70667528-66cfd480-1c71-11ea-97d

[2019-12-11 23:23] jonboiser commented on #6280
For at least one of the questions, there might be an explanation

This issue #6262 shows this can happen when the "Resources to be updated" value is 0. What you saw is unusual because 15 resources were to be updated, so the default behavior of downloading the whole channel shouldn't happen...

[2019-12-11 23:37] radinamatic commented on #6280
Glad to have added another breadcrumb to the debugging information 😹
(even thought it brings more questions than answers)

[2019-12-12 00:09] jonboiser opened #6282 "Occasional errors when running the CHANNELDIFFSTATS command"
### Observed behavior

Here are some errors that appear in the Task `exception` field when trying to overwhelm the CHANNELDIFFSTATS command by repeatedly going to the New Version/Upgrade page. These failures cause issue #6229 to happen.

Type 1: "No matching schema found for this database"

[code]

Type 2: "No such file or directory" (and no explicit step on UI was made to delete a sqlite3 file).

[2019-12-12 01:15] jamalex opened #6284 "Calling sys.exit in registerfacility kills parent process if invoked via call_command"
### Observed behavior

The kolibri-un-women-common-plugin has a management command that calls registerfacility repeatedly. It was exiting after the first time around the loop because of the `sys.exit` in https://github.com/learningequality/kolibri/blob/release-v0.12.x/kolibri/core/auth/management/commands/registerfacility.py#L30

### Expected behavior

Command should complete and return without ca

[2019-12-12 01:52] radinamatic commented on #6239
I'm too late, but it doesn't matter!

Awesome job, both directions look great to me! 👍

![rtl-transcript-en](https://user-images.githubusercontent.com/1457929/70675342-3136e580-1c89-11ea-91bb-e8fac3b7ea18.png)

![rtl-transcript-ar2](https://user-images.githubusercontent.com/1457929/70675560-c508b180-1c89-11ea-9cce-c060b810dfc9.png)

[2019-12-12 01:54] radinamatic commented on #6239
Hrm, spoke too soon 😂

Not a blocker, but wasn't the transcript below making use of the full video width?

![rtl-transcript-below](https://user-images.githubusercontent.com/1457929/70675845-a0610980-1c8a-11ea-93d4-256ca3983392.png)

[2019-12-12 02:23] mrpau-richard opened #6285 "Preview quiz buttons not aligned"
### Observed behavior
Buttons are not aligned at the preview quiz page

### Expected behavior

aligned buttons

### User-facing consequences
![Screen Shot 2019-12-12 at 10 12 23 AM](https://user-images.githubusercontent.com/8663934/70677048-feacdd00-1cc8-11ea-83d0-38a2778cc110.png)

### Errors and logs

…

### Steps to reproduce

…

### Context

Tell us about your environment, including:
 * Kolibr

[2019-12-12 07:47] mrpau-richard opened #6288 "Coach can't finish a quiz creation"
### Observed behavior
Coach can't finish a quiz creation at the preview exam page

### Expected behavior
Coach can create and finish a quiz

### Errors and logs
![gif-temp](https://user-images.githubusercontent.com/8663934/70692164-b952d480-1cf5-11ea-98da-48501417825f.gif)

Please wrap errors in triple backticks for clean formatting like this:
[code]
-->

…

### Steps to reproduce

…

### Context

[2019-12-12 08:19] mrpau-richard commented on #6288
Fixed in 0.13.0b4, closing this.

[2019-12-12 08:19] #6288 closed, assigned to nobody

[2019-12-12 17:25] bjester commented on #6239
@radinamatic Good catch. I think that's likely a consequence of fixing this issue. I'll fix it.

[2019-12-12 20:28] rtibbles commented on #6272
https://kolibridemo.learningequality.org/en/learn/#/topics/c/c1b7e1b7d832522bb74a0326723e7afe

[2019-12-12 23:00] jtamiace commented on #6238
Scenario: P2P channel import from Devon

A short story:
<img width="605" alt="Screen Shot 2019-12-12 at 2 58 05 PM" src="https://user-images.githubusercontent.com/6668144/70755930-0c298d80-1cf0-11ea-94f3-ea03024aaecc.png">
<img width="1227" alt="Screen Shot 2019-12-12 at 2 58 12 PM" src="https://user-images.githubusercontent.com/6668144/70755931-0c298d80-1cf0-11ea-9c5c-fb0e5029215d.png">
<img widt

[2019-12-12 23:01] rtibbles commented on #6238
Were you running the pex or the app?

[2019-12-12 23:01] jtamiace commented on #6238
pex

[2019-12-12 23:04] rtibbles commented on #6238
Had you previously run the app?

[2019-12-12 23:09] jtamiace commented on #6238
Yeah I have the mac app installed, also have installed other pex files before, and have run the dev server locally

[2019-12-12 23:16] indirectlylit opened #6294 "report P2P exports as well as imports in task manager"
### Observed behavior

When another Kolibri instance imports content from my device, I have no indication or record of that

### Expected behavior

I would expect P2P transfers from my device to show up as exports in the task manager.

### User-facing consequences

Lack of transparency about activity of their Kolibri device on their network

### Steps to reproduce

* Set up two Kolibri instances o

[2019-12-13 01:08] rtibbles commented on #6238
OK - my suspicion is that a task has been created by the mac app, which uses Python 3.7, and then the pex file has picked up that task and tried to run it. We could guard against this by trying to force the task scheduler to only use pickle version 2. Thoughts @indirectlylit ?

[2019-12-13 03:44] #6246 closed, assigned to indirectlylit

[2019-12-13 03:46] #6248 closed, assigned to indirectlylit

[2019-12-13 03:46] #6231 closed, assigned to indirectlylit

[2019-12-13 03:46] #6183 closed, assigned to indirectlylit

[2019-12-13 03:46] #6079 closed, assigned to indirectlylit

[2019-12-13 03:49] indirectlylit commented on #6069
After some investigation with @jonboiser, we've seen that there are some deep complexities with tooltips inside table rows.

refs:

* https://github.com/learningequality/kolibri/issues/5106
* https://github.com/learningequality/kolibri/pull/5134
* https://github.com/learningequality/kolibri/issues/6336

We should _not_ try to fix this by setting `overflow-x` to `visible` on the cell.

[2019-12-13 03:56] indirectlylit commented on #6176
cc @rtibbles is this the same zombie issue?

[2019-12-13 03:57] indirectlylit commented on #6238
That sounds fine.

I don't quite understand what is meant by "the pex file has picked up that task and tried to run it" though:

* Is a "task" in this case an entry in the jobs DB?
* Should all tasks have been cleared when the mac app quit? If they didn't, would it been due to the zombie issue?
* Perhaps there's some way to more forcefully prevent multiple instances of Kolibri from accessing the s

[2019-12-13 04:00] indirectlylit commented on #6285
@mrpau-richard please make sure you're always testing with the latest beta.

~I believe this was addressed in https://github.com/learningequality/kolibri/pull/6271~

Edit: actually, that PR related to import/export, not quiz creation. This may well be a real issue still - thank you

[2019-12-13 04:02] #6239 closed, assigned to bjester

[2019-12-13 04:03] #6205 closed, assigned to nucleogenesis

[2019-12-13 04:03] indirectlylit commented on #4641
fixed!

[2019-12-13 04:03] #4641 closed, assigned to nobody

[2019-12-13 04:04] #6261 closed, assigned to bjester

[2019-12-13 04:05] #5782 closed, assigned to lyw07

[2019-12-13 04:06] indirectlylit commented on #6220
hooray!

[2019-12-13 04:06] #6220 closed, assigned to nucleogenesis

[2019-12-13 04:09] #6162 closed, assigned to bjester

[2019-12-13 04:09] #6167 closed, assigned to bjester

[2019-12-13 04:10] indirectlylit commented on #5355
@arky this has been added to the latest beta. Feel free to test it out, along with the other new 0.13.0 features:

https://github.com/learningequality/kolibri/wiki/0.13.0-beta-testing

[2019-12-13 04:10] #5355 closed, assigned to bjester

[2019-12-13 04:11] #4927 closed, assigned to bjester

[2019-12-13 05:47] mrpau-richard commented on #6285
Yeah, I used the old beta4 mac installer to test it and I did not notice that there is a new beta. But I tested this again on beta5 and the issue still exist.

[2019-12-13 05:48] rtibbles commented on #6176
Almost certainly.

[2019-12-13 16:10] ivanistheone commented on #6211
`le-utils` PR for introducing new `h5p` content kind is here: https://github.com/learningequality/le-utils/pull/71

Studio changes needed to change h5p export to be of content kind `h5p` so that they can be ignored by 0.12.s Kolibris.

Note Kolibri "can I render H5P" logic changed in  https://github.com/learningequality/kolibri/pull/6268
0.13 now uses format preset check: https://github.com/learni

[2019-12-13 16:32] indirectlylit commented on #6285
okay - note that we're up to beta6 now though! :)

But I am sure the issue still exists there, too

[2019-12-13 17:35] bjester opened #6296 "Content imported from CLI isn't visible within Kolibri"
### Observed behavior

Channels imported from the CLI are invisible and unavailable in the Kolibri UI.

### Expected behavior

Channels imported from the CLI should be visible and available within the Kolibri UI.

### User-facing consequences

It's a regression, so users accustomed to importing content from the CLI will run into this blocker.

### Errors and logs

Slack convo: https://learningequa

[2019-12-13 17:51] radinamatic opened #6298 "UnicodeEncodeError on Windows"
### Observed behavior
[Reported by @laurenlichtman](https://learningequality.slack.com/archives/C4HNGQJGH/p1576206775009700) after running the `kolibri manage listchannels` in Command Prompt on a Windows 10 device with a lot of Arabic channels.

@indirectlylit suggests this could be straightforward to fix in Kolibri code given the #3769.
Unsure about the milestone or the priority, given our curren

[2019-12-13 19:01] jonboiser opened #6301 "Max call stack errors when closing a modal whilst the disconnected screen is on"
### Observed behavior

1. Open any modal in Kolibri
1. Stop the server
1. The disconnected overlay will show up
1. Close the modal you opened in first step
1. See errors in console

This might be because the KModal is using some part of the DOM that the disconnected overlay is using and might be causing some bottomless recursion

This also makes forms in the modal unusable when disconnected overla

[2019-12-13 23:24] jonboiser commented on #6301
This seems to happen because both CoreSnackbar and KModal create an event listener for the 'focus' event that seem to cause them to go back and forth between one another's handler.

[2019-12-13 23:31] jonboiser opened #6303 "Remove async handling methods from pluginMediator.js"
Remove async handling stuff from pluginMediator.js since it's dead code @rtibbles

Kolibri v0.13 beta6

[2019-12-13 23:56] ivanistheone opened #6304 "enabling a plugin does not run collectstatic"
### Observed behavior

Missing static assets folder `.kolibrihome/static/kolibri.plugins.h5p_viewer.main`

### Expected behavior

Static asserts folder with js/css files needed for the `h5p_viewer` plugin.

### User-facing consequences

Users will have difficulty enableing the h5p plugin

### Steps to reproduce

First download and run Kolibri for the first time

[code]
Kolibri will start and run t

[2019-12-14 00:55] lyw07 commented on #6262
how do I reproduce this case to have no nodes have changed while publishing a new version of the channel on studio? thank you!

[2019-12-14 01:00] jonboiser commented on #6262
@lyw07 You can simply rename a a topic or other node and re-publish, then you should get the same situation where zero nodes will be updated.

The third row on the Upgrade Channel Page should say something like `Resources to be updated: 0`

[2019-12-14 01:27] #6277 closed, assigned to jonboiser

[2019-12-14 01:30] indirectlylit commented on #6282
P2 because retry logic is implemented

[2019-12-14 02:15] indirectlylit commented on #6176
closing as duplicate

[2019-12-14 02:15] #6176 closed, assigned to nobody

[2019-12-14 02:20] indirectlylit commented on #6301
should the the disconnected overlay be over the modal?

[2019-12-14 03:52] lyw07 opened #6307 "Unable to stop server on mac"
### Observed behavior

When running on mac, I started to randomly get logging messages
[code]
Sometimes, the program is able to continue running; sometimes, it isn't.
But every time after this error shows up, I am not able to stop the server using Ctrl+C.
The program hangs at this step for more than 10 minutes before I use Ctrl+Z to kill it:
[code]
This does not happen when I ran Kolibri on Ubuntu

[2019-12-14 05:36] rtibbles commented on #6307
Hrm - it seems like the async task terminating is triggering the `SIGTERM` handler in the parent process.

[2019-12-15 01:24] indirectlylit commented on #6245
Here's a recent stack trace after hitting `^C`. It includes a concerning error, but I don't actually see any running Python processes and running `lsof -i -P | grep 8080` produces no results.

* devserver beta 7
* macos 10.14.6
* Python 2.7.16

[code]

[2019-12-15 01:28] indirectlylit commented on #6304
interestingly, when I run `kolibri plugin enable kolibri.plugins.h5p_viewer` I get

[code]

Is this supposed to be enabled by default?

[2019-12-15 01:45] indirectlylit commented on #6307
@lyw07 this is the beta7 pex?

[2019-12-15 02:08] indirectlylit opened #6312 "h5p woff static files are not ignored by git"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/70856989-8a766300-1e9b-11ea-8e13-6419f9f81f56.png)

### Expected behavior

I think this file should be ignored? I did see this in `.gitignore` but unsure what the expected behavior is:

[code]

### User-facing consequences

I was noticing these files changing unexpectedly and getting added to git?

Might be interacti

[2019-12-15 02:23] rtibbles commented on #6304
It is in development, but is not in production.

[2019-12-15 02:27] rtibbles commented on #6245
Interesting - I think the price of no zombies may, at least in the short term, be slightly unclean shutdowns. More concerning on MacOS is the issue reported here #6307

[2019-12-15 02:28] rtibbles commented on #6245
I also wonder if we might just want to vendor zeroconf in the near future to iterate on this kind of issue more rapidly.

[2019-12-15 02:31] rtibbles commented on #6312
Odd - I think previously we only had the ttf for h5p, so perhaps I should add exceptions for these too?

[2019-12-15 02:41] indirectlylit opened #6314 "newly-imported channels do not show without refresh and are not labeled"
### Observed behavior

This issue is a combination of:

* a regression from https://github.com/learningequality/kolibri/issues/2030
* new functionality not-yet implemented

| step | screenshot |
|--|--|
| original channel listing |![image](https://user-images.githubusercontent.com/2367265/70857178-a0d1ee00-1e9e-11ea-8aa4-41f5accac722.png)|
| start a content import, and click "Back to channels" bef

[2019-12-15 03:15] lyw07 commented on #6307
@indirectlylit no, it's beta7 whl

[2019-12-15 03:16] indirectlylit commented on #6238
also reported here by @lauradanforth https://github.com/learningequality/kolibri/issues/6267

[2019-12-15 03:16] indirectlylit commented on #6267
closing as duplicate of https://github.com/learningequality/kolibri/issues/6238

[2019-12-15 03:16] #6267 closed, assigned to nobody

[2019-12-15 03:18] indirectlylit commented on #6247
probably same underlying issue as https://github.com/learningequality/kolibri/issues/6238

[2019-12-15 03:26] indirectlylit opened #6316 "migrate from pickle to a generic serialization protocol"
### Observed behavior

Currently we persist information about tasks using pickle, but this has caused us some issues when python versions get mixed. This should not actually happen, but could cause issues in the future...

* important for https://github.com/learningequality/kolibri/issues/6255
* potentially a security risk
* slow performance
* may be problematic for multiprocessing

From @rtibbles

[2019-12-15 03:28] indirectlylit opened #6317 "pin pickle protocol to version 2"
### Observed behavior

occasionally we encounter mixed versions of python using the tasks DB simultaneously. this shouldn't happen, but in case it does let's at least make sure they speak the same language

ref: https://github.com/learningequality/kolibri/issues/6238

### Expected behavior

always use pickle version 2 for compatibility with python 2.7

### User-facing consequences

errors that mig

[2019-12-15 03:29] indirectlylit commented on #6238
closing in favor of these three issues:

* https://github.com/learningequality/kolibri/issues/6247 (prevent zombies)
* https://github.com/learningequality/kolibri/issues/6317 (pin pickle protocol)
* https://github.com/learningequality/kolibri/issues/6316 (eventually, stop using pickle)

[2019-12-15 03:29] #6238 closed, assigned to nobody

[2019-12-15 03:32] #6212 closed, assigned to jonboiser

[2019-12-15 03:40] indirectlylit commented on #6157
@ralphiee22 anything else needed on this issue?

[2019-12-15 03:40] #6109 closed, assigned to nobody

[2019-12-15 03:41] #6058 closed, assigned to nucleogenesis

[2019-12-15 03:41] #6138 closed, assigned to nobody

[2019-12-15 03:42] indirectlylit commented on #6077
@micahscopes were you ever able to reproduce this?

[2019-12-15 03:42] indirectlylit commented on #6037
removing from milestone. we'll need to document this for users of our custom installers

[2019-12-15 06:55] rtibbles commented on #6157
I think we just need to do a quick audit for these and then replace with the helper above where relevant.

[2019-12-15 21:22] indirectlylit opened #6322 "immersive toolbar router-link has nested button and two keyboard focus states"
### Observed behavior

Two states appear when tabbing backwards, but only one when tabbing forwards:

![2019-12-15 13 19 52](https://user-images.githubusercontent.com/2367265/70869247-d548b700-1f3d-11ea-892a-5a0c0ae62c84.gif)

### Expected behavior

only one focus state in both directions

### User-facing consequences

confusing focus states

### Steps to reproduce

take a quiz and tab backwards t

[2019-12-15 22:19] indirectlylit opened #6323 "after refreshing a quiz, app bar title disappears"
### Observed behavior

quiz title disappears on refresh or direct navigation to URL:

![2019-12-15 14 16 01](https://user-images.githubusercontent.com/2367265/70870242-9dde0880-1f45-11ea-8226-0ba349049740.gif)

### Expected behavior

quiz title should always be visible

### User-facing consequences

important context missing from page

### Steps to reproduce

* as a learner, start taking a quiz
*

[2019-12-15 23:24] indirectlylit commented on #6140
There are three places I see in the code where `deleteFinishedTasks` is being inappropriately called:

[code]

[2019-12-15 23:40] gianpaj commented on #6024
This doesn't seem to be an issue any more (current develop branch ae47e83cc )

![127 0 0 1_8000_en_coach_](https://user-images.githubusercontent.com/899175/70871176-41eea080-1f94-11ea-8da2-593ce602ecb4.png)

[2019-12-16 01:35] indirectlylit opened #6326 "allow display of custom licenses in Kolibri"
### Observed behavior

from @kollivier

### Expected behavior

kolibri users should see actual license text

### User-facing consequences

unclear license

### Context

0.13.0

[2019-12-16 01:39] indirectlylit opened #6327 "Perseus exercises appear above the BottomBar widget"
### Observed behavior

reported by @jonboiser that exercises are over the bottom bar:

![image](https://user-images.githubusercontent.com/2367265/70873212-8a409b00-1f61-11ea-8424-3cebdb92d22d.png)

### Expected behavior

exercise below bottom bar

### User-facing consequences

broken UI

### Steps to reproduce

create or take a quiz with "place value when multiplying and dividing by 10"

### Conte

[2019-12-16 01:43] indirectlylit opened #6328 "Transcript controls aren't dismissed when you select another control"
### Observed behavior

reported by @khangmach

### Expected behavior

selecting another control should dismiss the transcript control

### User-facing consequences

overlapping menus

### Context

0.13.0 beta 4

not tested in recent betas

[2019-12-16 01:59] indirectlylit commented on #6024
I believe you are correct - thanks for testing!

[2019-12-16 01:59] #6024 closed, assigned to nobody

[2019-12-16 02:15] indirectlylit opened #6330 "disable 'select all' checkbox if all learners' checkboxes are also disabled"
### Observed behavior

reported by @jtamiace regarding learner selection in assignment of quizzes and lessons:

![image](https://user-images.githubusercontent.com/2367265/70874357-a135bc00-1f66-11ea-8953-f24f427ace48.png)

### Expected behavior

### User-facing consequences

UI element that doesn't do anything

### Steps to reproduce

* put all learners in a group
* assign to the group
* also assi

[2019-12-16 02:19] indirectlylit opened #6331 "Quiz recipients only lists Groups and not the Individual learners"
### Observed behavior

reported by @lauradanforth during bug bash 2:

https://www.notion.so/learningequality/0-13-0-bug-bash-2-775cb90a4bda4c59afe29a21b0153b59?p=24358cef941f4042b777aec8b9d8a612

recipients shown:

![image](https://user-images.githubusercontent.com/2367265/70874493-36d14b80-1f67-11ea-9727-cf7be81f9b54.png)

### Expected behavior

The recipients who should be shown:

![image](https

[2019-12-16 04:19] indirectlylit commented on #6077
also reported here: https://www.notion.so/learningequality/0-13-0-bug-bash-3-7eeb57a21dd14aaa8f672dca9981f3f9?p=97dfe058774c461981e65e526ff499c3

[2019-12-16 04:44] indirectlylit opened #6334 "database locking during use of the mac app"
### Observed behavior

reported by @jtamiace during bug bash 3 (beta 5).

Unsure if the issue is still persisting. cc @micahscopes  @rtibbles

### Expected behavior

no DB locks

### User-facing consequences

Cannot load

* Reports —> Quizzes
* Plan —> Quizzes
* Reports —> Learners

### Errors and logs

snippet

[code]

full logs:

[kolibri.txt](https://github.com/learningequality/kolibri/files/39

[2019-12-16 04:46] mrpau-richard opened #6335 "User counts label are not in the same position"
### Observed behavior
The user counts label are not in the same position in two different browsers

### Expected behavior
User counts label should be in the same position

### User-facing consequences

…

### Errors and logs
![Screen Shot 2019-12-16 at 12 34 08 PM](https://user-images.githubusercontent.com/8663934/70879868-e22ede80-2001-11ea-8c59-037a4b22346d.png)

### Steps to reproduce

…

### C

[2019-12-16 04:54] mrpau-richard opened #6336 "User identifier tooltip broken on IE11"
### Observed behavior
User identifier tooltip not showing the full text message on IE11

### Expected behavior
Should display the text message properly

### User-facing consequences

…

### Errors and logs
![Screen Shot 2019-12-16 at 12 47 52 PM](https://user-images.githubusercontent.com/8663934/70880173-f9ba9700-2002-11ea-86cb-6aa85f2a7990.png)

Please wrap errors in triple backticks for clean fo

[2019-12-16 05:07] indirectlylit opened #6338 "keyboard navigation is broken in safari and mac app on some pages"
### Observed behavior

focus never escapes from the app bar on some pages:

![2019-12-15 21 05 41](https://user-images.githubusercontent.com/2367265/70880687-bf0f1b00-1f7e-11ea-817e-5b4bbe4366d4.gif)

### Expected behavior

focus can reach entire page, and 'skip to content' works as expected

### User-facing consequences

limited keyboard accessibility for mac users

### Steps to reproduce

open l

[2019-12-16 05:13] indirectlylit commented on #6336
refs:

* https://github.com/learningequality/kolibri/issues/5106
* https://github.com/learningequality/kolibri/issues/6069

[2019-12-16 05:18] indirectlylit opened #6339 "saving server settings uses inline alert instead of pop-up notification"
### Observed behavior

Server settings use the old-style alert:

![image](https://user-images.githubusercontent.com/2367265/70881076-45782c80-1f80-11ea-91cd-b40a035ae038.png)

### Expected behavior

we should use the new-style snackbar:

![image](https://user-images.githubusercontent.com/2367265/70881113-650f5500-1f80-11ea-97ad-ddd947f5a77b.png)

### User-facing consequences

inconsistent UI

###

[2019-12-16 05:22] indirectlylit opened #6340 "no notification when a class is created"
### Observed behavior

no notification when a class is created:

![2019-12-15 21 21 11](https://user-images.githubusercontent.com/2367265/70881299-e535ba80-1f80-11ea-856f-863596b3e7d1.gif)

### Expected behavior

notification of class creation using snackbar like:

![image](https://user-images.githubusercontent.com/2367265/70881311-f2eb4000-1f80-11ea-96c2-ebcc816f4a20.png)

### User-facing consequ

[2019-12-16 05:23] indirectlylit commented on #6339
see also https://github.com/learningequality/kolibri/issues/6340

[2019-12-16 05:26] indirectlylit opened #6341 "progress for individually-assigned learners not showing on coach reports"
### Observed behavior

observed by @jonboiser

### Expected behavior

all progress shows

### User-facing consequences

coaches miss critical information

### Steps to reproduce

see link above

### Context

0.13.0 beta 6

[2019-12-16 05:28] indirectlylit opened #6342 "lesson reports showing up for learners to whom it was not assigned"
### Observed behavior

observed by @jamalex

### Expected behavior

reports are only shown for assigned learners

### User-facing consequences

noise in coach reports

### Context

0.13.0 beta 6

[2019-12-16 05:31] indirectlylit opened #6343 "first 'individual learners' checkbox click is ignored"
### Observed behavior

observed by @radinamatic

### Expected behavior

checkbox behaves as expected

### User-facing consequences

confusion

### Steps to reproduce

see gif

### Context

0.13.0 beta 6

[2019-12-16 05:33] indirectlylit commented on #6342
This might also be related to notes from @jonboiser and @jtamiace:

----

### recipients don't match on Report vs. Learners Tab

[http://kolibribeta.learningequality.org/en/coach/#/612355f5712f26fb842aecf17fb2c376/reports/lessons/f10ae0ca4dc9f5a73bbe1469b1db3ffd/learners](http://kolibribeta.learningequality.org/en/coach/#/612355f5712f26fb842aecf17fb2c376/reports/lessons/f10ae0ca4dc9f5a73bbe1469b1d

[2019-12-16 05:36] mrpau-richard opened #6344 "Created new classes not automatically showing up when created in another window"
### Observed behavior
I need to refresh the page to show the new created class on Firefox
### Expected behavior
New created class must show automatically on the Classes without a browser refresh

### Errors and logs
![Screen Shot 2019-12-16 at 1 26 02 PM](https://user-images.githubusercontent.com/8663934/70881768-9cc1df80-2008-11ea-8516-e1478a0d6860.png)

### Steps to reproduce

…

Tell us about y

[2019-12-16 05:36] indirectlylit opened #6345 "copying lessons and quizzes shows wrong list"
### Observed behavior

reported by @jtamiace

### Expected behavior

### User-facing consequences

incorrect copy behavior

### Context

0.13.0 beta 6

[2019-12-16 06:01] indirectlylit commented on #6229
Here's a video which shows the behavior I sometimes see. From what I can tell, the diffstats API call doesn't fail - it's actually never triggered:

https://drive.google.com/file/d/1n1E0VgFDyB1GrfYGOycL_VD6XwuiZP2s/view?usp=sharing

[2019-12-16 06:29] mrpau-julius opened #6346 "Same user identification number or student ID number"
### Observed behavior

Allow to create the same user identification number or student ID number.

### Expected behavior

Identification number must be unique.

### User-facing consequences

…

### Errors and logs

![identifier](https://user-images.githubusercontent.com/38421180/70884085-df3aea80-200f-11ea-9721-fc7bbcdc19cf.png)

### Steps to reproduce

…

### Context

Tell us about your environmen

[2019-12-16 08:29] nucleogenesis commented on #6341
@indirectlylit @rtibbles

An error is occurring when progress is being saved.

For example, when I have a certain FacilityUser `user` and I call `user.memberships.all()`

I am getting:

[code]

I got that because I found that it is choking here:
https://github.com/learningequality/kolibri/blob/ae47e83cc8f9c2a31d95f5915bb2e8edaed3cd3e/kolibri/core/notifications/api.py#L25

The strange thing is that

[2019-12-16 10:01] jredrejo commented on #6077
From Zeroconf code:
[code]
Looking at Kolibri code:
[code]

So this error is logical when the network information does not appear after 3 seconds, what can happen in some circumstances. Kolibri code should either increase the timeout or deal with this possibility.

[2019-12-16 11:51] radinamatic commented on #6343
GIF became PNG for some reason, original here:

![copy-lesson-individual-learners](https://user-images.githubusercontent.com/1457929/70904747-6a14e880-2002-11ea-88f8-fc1e9b6b83c5.gif)

The list of individual learners was actually appearing when **unchecking** the checkbox.

https://www.notion.so/learningequality/Takes-2-clicks-to-select-individual-learners-when-copying-the-lesson-1342befcae5e43f68

[2019-12-16 16:32] rtibbles commented on #6140
Seems like these should be corrected to only ever delete the task in question.

[2019-12-16 16:35] rtibbles commented on #6341
I am fairly sure it's an internal field used by Django to cache related table lookups.

Does it consistently happen for the user in question?

[2019-12-16 16:57] bjester commented on #6328
@indirectlylit This is essentially the same as https://github.com/learningequality/kolibri/issues/6036

[2019-12-16 18:40] indirectlylit commented on #6140
agreed

[2019-12-16 18:42] indirectlylit commented on #6328
thanks - closing as duplicate

[2019-12-16 18:42] #6328 closed, assigned to bjester

[2019-12-16 19:03] jonboiser commented on #6229
My suspicion now is on this line

https://github.com/learningequality/kolibri/blob/fa38d6ddfb34115d2a7e24c681876a97955af213/kolibri/plugins/device/assets/src/views/ManageContentPage/api.js#L101

The filter for `find` isn't specific enough since IMPORT and EXPORT tasks also have the same `method` and `channel_id` fields. Need to also filter for the `type = CHANNELDIFFSTATS`

[2019-12-16 20:26] khangmach commented on #6227
**Updated flow:**
1. go to a channel
2. trigger an update, which introduces “additional items available”
3. stay in ‘import more’ screen
4. queue additional items from current channel for import
5. go to task manager
6. exit task manager, and queue items from anywhere

We can do something like this where we take the progress display from the task manager and expose it as a high level update indica

[2019-12-16 20:57] indirectlylit opened #6349 "remove resource counts in content import tree view"
# Observed behavior

For performance reasons, we cannot calculate precise counts. This leads to inconsistencies, where the counts don't add up to the total reported. For example:

![image](https://user-images.githubusercontent.com/2367265/70942382-69c91d00-2003-11ea-8660-0aefa1bfbac6.png)

### Expected behavior

Rather than reporting precise counts, we should use these more nebulous strings:

http

[2019-12-16 21:00] jonboiser opened #6350 "Occasional REMOTEIMPORTCHANNEL errors before viewing topics/resources to import"
# Observed behavior

When starting REMOTECHANNELIMPORT tasks from Studio, they will occasionally fail, showing an error page before getting to the topics list. ~This seems to happen after the first time you check out the channel (meaning that the sqlite3 file for the channel has been downloaded already)~ Seems to happen more reliably if you don't already have the sqlite file, based on recent exper

[2019-12-16 21:03] indirectlylit opened #6351 ""resources to be updated" diff count does not match reported import behavior and final count"
### Observed behavior

observed by @radinamatic in https://github.com/learningequality/kolibri/issues/6280

* 23 resources initially imported
* diff reports 6 resources to be updated and 17 deleted
* task manager reports 10 resources updated
* final count reported on device is 12

|initial import| diff page | task page | on device summary |
|--|--|--|--|
| ![image](https://user-images.githubuserco

[2019-12-16 21:49] indirectlylit opened #6353 "task manager does not report deletions during an update"
### Observed behavior

The task manager reports updates but not deletions.

relates to the accounting in https://github.com/learningequality/kolibri/issues/6351

### Expected behavior

Expect to see both updates and deletions so numbers add up

### User-facing consequences

task manager does not truly reflect history of what happened

### Steps to reproduce

update a channel that includes deletion

[2019-12-16 21:52] indirectlylit opened #6354 "import page shows inconsistent channel names after renaming the channel on studio"
### Observed behavior

observed by @radinamatic that the channel name is incorrect here:

![image](https://user-images.githubusercontent.com/2367265/70945975-22468f00-200b-11ea-9f44-e641f6b5d671.png)

### Expected behavior

correct channel name

### User-facing consequences

possible confusion

### Steps to reproduce

@radinamatic could you clarify please?

### Context

0.13.0 beta 5

[2019-12-16 21:54] indirectlylit commented on #6280
@radinamatic I've tried to break this apart into its constituent parts. Please feel free to add details to these, or open additional ones if it seems that I missed anything:

* https://github.com/learningequality/kolibri/issues/6349
* https://github.com/learningequality/kolibri/issues/6351
* https://github.com/learningequality/kolibri/issues/6353
* https://github.com/learningequality/kolibri/issue

[2019-12-16 21:54] #6280 closed, assigned to nobody

[2019-12-16 22:02] indirectlylit opened #6357 "broken points icon layout on small screens"
### Observed behavior

| safari | ios |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/70946706-84ec5a80-200c-11ea-9f6e-65a73670e7d9.png) |![image](https://user-images.githubusercontent.com/2367265/70946729-903f8600-200c-11ea-83ca-aeb65f2b592d.png)|

### Expected behavior

points icon should either be hidden or render correctly

### User-facing consequences

broken-looking la

[2019-12-16 22:03] radinamatic commented on #6354
`CK-12 testing` was the channel name on version 9 that was first imported on the device from the local drive.
Subsequently the channel was updated to version 55 from Studio. Somewhere in between the versions 9 and 55, the channel got the new name `Radina Testing Channel`.

The above screenshot is after the channel has been fully updated, but I still tried to _import more_ from the same local drive

[2019-12-16 22:05] indirectlylit opened #6358 "overlapping buttons on quiz mobile view in some languages"
### Observed behavior

When the buttons have a lot of text, they overlap:

![image](https://user-images.githubusercontent.com/2367265/70946911-e7ddf180-200c-11ea-898f-6d0c7619508f.png)

### Expected behavior

The buttons should become just arrows when the full text doesn't fit

### User-facing consequences

difficult-to-use buttons

### Context

0.13.0 beta 7

[2019-12-16 22:06] radinamatic commented on #6280
Fair enough, I should have done it myself!
Storyteller :stuck_out_tongue:

[2019-12-16 22:06] indirectlylit opened #6359 "info icons for demographics input fields are not handled well on mobile"
### Observed behavior

| UI elements are obscured |
|--|
| ![image](https://user-images.githubusercontent.com/2367265/70947066-37bcb880-200d-11ea-868f-4eced4486e78.png) |

| tooltips are also off-screen| also happens including facility and profile pages |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/82477048-b8cc2000-9a83-11ea-9410-7b64f716ab7d.png) | ![image](https://user-

[2019-12-16 22:07] indirectlylit commented on #6171
broke this apart into its constituent issues:

* https://github.com/learningequality/kolibri/issues/6357
* https://github.com/learningequality/kolibri/issues/6358
* https://github.com/learningequality/kolibri/issues/6359

[2019-12-16 22:07] #6171 closed, assigned to nobody

[2019-12-16 22:07] radinamatic commented on #6357
That's not only on Safari, It's on all small sized displays

[2019-12-16 22:08] radinamatic commented on #6357
Right there :joy:

[2019-12-16 22:14] #6258 closed, assigned to indirectlylit

[2019-12-16 22:53] ralphiee22 commented on #6341
After some digging we found that the `Collection` the `Membership` model is trying to reference does not actually exist, hence the errors above. When deleting a `Collection` model, it should cascade delete the `Membership` model. Either the DB somehow got in a bad state or there is a bug in the code. Being able to reproduce the error above most likely means it's the latter.

[2019-12-16 22:57] bjester opened #6361 "Quiz bottom bar element ordering reversed in MS browsers"
### Observed behavior

The ordering for elements in the quiz bottom bar is reversed for IE 11 and Edge browsers.
![screenshot-live browserstack com-2019 12](https://user-images.githubusercontent.com/819838/70949929-009dd580-2014-11ea-97b6-3c95a560a4d1.png)

### Expected behavior

For the elements to be in the proper order.

### User-facing consequences

The biggest issue is with the quiz status be

[2019-12-16 23:28] rtibbles commented on #6251
Fixed in #6300

[2019-12-16 23:28] #6251 closed, assigned to jonboiser

[2019-12-16 23:37] rtibbles commented on #6296
Fixed in #6333

[2019-12-16 23:37] #6296 closed, assigned to rtibbles

[2019-12-17 00:33] indirectlylit opened #6363 "add ability to name device"
### Observed behavior

Devices appear to each other in P2P scenarios such as content import, and will eventually appear in KDP.

from @rtibbles

Currently, other devices appear as random strings.

### Expected behavior

* Device owners should be able to name their device, both in device settings and during setup
* By default, we might use the OS's network name

### User-facing consequences

Hard t

[2019-12-17 00:35] indirectlylit commented on #6036
decision made with @bjester:

Treat these menus like other pop-up menus, and only allow one open at a time.

* The menus should listen for any click events that occur outside of their bounds, and close themselves when that occurs
* The menus should toggle closed when their main button is clicked and the menu is currently open

[2019-12-17 00:49] DXCanas commented on #6344
Can't replicate this behavior on latest dev build `Kolibri 0.13.0b7.dev0+git.18.gfa38d6dd` on Windows 10 with FF 71

[2019-12-17 01:05] #4834 closed, assigned to indirectlylit

[2019-12-17 01:23] indirectlylit commented on #6304
closing because #6306 is merged. @ivanistheone please re-open if you still encounter issues

[2019-12-17 01:23] #6304 closed, assigned to rtibbles

[2019-12-17 02:12] indirectlylit opened #6364 "facility CSV logs sometimes will not become available without refresh"
### Observed behavior

Not sure what the pattern here is, but sometimes log file that have been generated for a while will not show up without refresh:

![2019-12-16 18 07 30](https://user-images.githubusercontent.com/2367265/70958833-474cf900-202f-11ea-8c93-c92d6e705de7.gif)

### Expected behavior

logs should show up very soon after they're completely generated

### User-facing consequences

mig

[2019-12-17 02:22] indirectlylit opened #6365 "unlisted channel indicator should be shown on main channel list page"
### Observed behavior

'unlisted channel' indicator is not shown on the main channel list, but is shown on 'import' page:

| main channel list| import channel list|
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/70959239-83348e00-2030-11ea-8a4e-1c50a0a08a5c.png)|![image](https://user-images.githubusercontent.com/2367265/70959215-73b54500-2030-11ea-9858-aa049723e85f.png)|

###

[2019-12-17 02:30] indirectlylit opened #6366 "maintain order of channels across lists"
### Observed behavior

Switching between channel list and import views is a bit confusing because orders are similar but slightly different.

| channel list | import channel list |
|--|--|
| ![localhost_8000_en_device_ (1)](https://user-images.githubusercontent.com/2367265/70959750-e2df6900-2031-11ea-81ca-d07fbc8b7136.png)|![localhost_8000_en_device_](https://user-images.githubusercontent.com/2367

[2019-12-17 03:41] mrpau-julius commented on #6344
I reproduce this issue on Windows 10. When I create a new class in Firefox, the Edge browser need to refresh to see the new class.
![classes](https://user-images.githubusercontent.com/38421180/70962876-980d3200-20c1-11ea-9295-a3707d7a9fd0.gif)

[2019-12-17 06:39] miyer03 opened #6368 "Lesson completed even before attempting"
### Observed behavior
Sometimes in a class when a students open a new lesson, it automatically shows a star mark and completed whereas the student has not even started the exercise.

### Expected behavior
The exercise should show star mark and completed once the student has completed the exercise and attained mastery.

### User-facing consequences
Students are confused as to how could they get sta

[2019-12-17 07:20] miyer03 opened #6369 "Star mark shows inside the topic but outside it doesn't"
### Observed behavior
When a student completes a lesson, the star mark appears inside the topic, but on existing the topic its doesn't show.

Inside the topic screen shot
![IMG_20191214_122812](https://user-images.githubusercontent.com/8583367/70973430-a8c2a580-20cb-11ea-8a11-97a2bb3ee093.jpg)

Outside the topic screen shot
![IMG_20191214_122823](https://user-images.githubusercontent.com/8583367/7

[2019-12-17 09:35] DXCanas commented on #6344
Is auto update across sessions expected behavior? @indirectlylit @jtamiace ?

[2019-12-17 10:25] jredrejo commented on #5877
@lyw07 I have just checked in develop the problem has disappeared, but in release0-13.x it persists,
i.e.
[code]
gives even more problems, not only the content is not provisioned, the db is not correctly created either.

[code]

`kolibri start `works fine in release-0.13 though

[2019-12-17 16:23] nucleogenesis commented on #6341
@rtibbles @ralphiee22

The issue I was running into was due to my own local DB being screwed up. Likely related to my own poking around.

I've not been able to replicate _that specific_ error on a fresh DB after a lot of trying to break things with normal use. Basically - I had some extra memberships lying around in the DB pointing at a nonexistent collection.

I'm pretty sure I deleted some `adho

[2019-12-17 17:30] indirectlylit opened #6372 "integrate final translations"
update with the latest translation

[2019-12-17 17:39] lyw07 commented on #5877
thank you so much for checking!

[2019-12-17 18:10] rtibbles commented on #6357
Fixed in #6367

[2019-12-17 18:10] #6357 closed, assigned to DXCanas

[2019-12-17 18:11] lyw07 commented on #5877
actually this happens to me in develop branch too.
for 0.13.x branch, the issue is here: https://github.com/learningequality/kolibri/blob/release-v0.13.x/kolibri/utils/server.py#L106
for develop branch, the issue is here: https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/server.py#L126

both are actually the same issue - in peer to peer import, we are trying to access the data

[2019-12-17 18:27] rtibbles commented on #5877
By the time it gets to this point, the migrations should have been run - so the issue is rather that we are sometimes not running the migrations. We should perhaps have an extra sanity check after Django initialization that the database has been migrated, and to run migration in case that it hasn't.

This would also deal with the issue that occurs when someone switches to Postgres and errors out w

[2019-12-17 18:34] rtibbles commented on #6140
Fixed in #6355

[2019-12-17 18:34] #6140 closed, assigned to jonboiser

[2019-12-17 18:35] rtibbles commented on #6314
Fixed in #6355

[2019-12-17 18:35] #6314 closed, assigned to jonboiser

[2019-12-17 19:19] lyw07 commented on #5877
ah I see. Thank you for the explanation! Then I think it's also an issue with developer doc: https://kolibri-dev.readthedocs.io/en/develop/getting_started.html#development-server

[2019-12-17 19:23] lyw07 opened #6374 "background tasks continue to run after server shutdown"
### Observed behavior

when I shut down the program with ctrl+c during content import, the server would be shut down, but content import would still continue in the background until it finished

### Expected behavior

content import should be canceled if server has been shut down

### User-facing consequences

users get unexpected content imported to their kolibri

### Errors and logs

…

### Step

[2019-12-17 19:28] jonboiser commented on #6218
`RESOURCE_USER_SUMMARY` is the route name given to the "<-" button on the lesson resource preview it seems

https://github.com/learningequality/kolibri/blob/a304fd56330db03596717484a8801f905b26be97/kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js#L159-L170

I don't think this was ever a real route, based on the history of the router modules.

We need to change the code above to

[2019-12-17 19:48] jonboiser opened #6375 "RemoteChannel Viewset throws 500 error when server is not connected to internet"
### Observed behavior

For example, when clicking "Manage" on a Channel on Device > Channels when offline, we make a request to studio via the RemoteChannelViewset channel detail view, the server returns an HTML Django Error page, with this

[code]

And there is a larger error that gets logged.

The client code knows to just ignore this, so nothing happens with the end user.

### Expected behavior

[2019-12-17 19:49] rtibbles commented on #6307
Fixed in #6360

[2019-12-17 19:49] #6307 closed, assigned to rtibbles

[2019-12-17 20:26] rtibbles commented on #6331
Fixed in #6347

[2019-12-17 20:26] #6331 closed, assigned to nucleogenesis

[2019-12-17 20:28] rtibbles commented on #6342
Fixed in #6347

[2019-12-17 20:28] #6342 closed, assigned to nucleogenesis

[2019-12-17 21:46] indirectlylit commented on #6374
after chatting with @rtibbles we decided to go with an approach like:

* attempt a clean cancel
* if things are still canceling after maybe 10s or so, force kill

[2019-12-17 22:53] jonboiser opened #6376 "Importing more content (or deleting resources) to a channel undoes its original position in channel list"
### Observed behavior

~Similar to #5292, if you import more content to a channel, it will always be moved to the bottom of the Device > Channel page even if you had given it a different order (or didn't reorder it but just imported it in the past at some point). Because a lot of places in the app use the same order, we also see #5292~

Edit: This has been resolved for Kolibri when using Sqlite, b

[2019-12-18 00:23] ivanistheone opened #6379 "h5p content with multiple libraries versions doesn't load"
### Observed behavior

This h5p node doesn't load `Server Error (500)`
http://35.185.120.102/en/learn/#/topics/c/6b46831376bf51e5a64f5033e2b07f96

[code]

So presumably some H5P library is "requiring" FontAwesome version `4.5`

however,  The h5p file contians only version `4.3` :

[code]

so we get the error when trying to access.

### Expected behavior

  - The presentation to load using by using

[2019-12-18 00:50] jonboiser opened #6381 "Improve mouse user ergonomics by reducing the amount of traveling needed"
### Observed behavior

A lot of form-heavy workflows require moving from the very edges of the screen to an opposite edge or other faraway screen location. Here's an example of creating a class and enrolling learners:

![Kapture 2019-12-17 at 16 49 14](https://user-images.githubusercontent.com/10248067/71046485-437fac00-20ed-11ea-869a-064971f7043d.gif)

Here's another with assigning a quiz and sta

[2019-12-18 00:58] nucleogenesis commented on #6312
I encountered this while rebasing:

[code]

Note that I couldn't revert the changes or stash them or anything. In order to checkout a new branch I resorted to committing the file to the branch I was on.

[2019-12-18 01:07] jonboiser commented on #6285
Don't know why I didn't see this the first time around (I thought it was a Christmas miracle), but we've seen problems with the fix in #6315 working for Safari/Webkit, but not working for Chrome. Here's what the buttons look like in Chrome.

![Screen Shot 2019-12-17 at 4 58 38 PM](https://user-images.githubusercontent.com/10248067/71047138-80e53900-20ef-11ea-93fc-8bc61b9a63ed.png)

The issue is wh

[2019-12-18 01:28] #6372 closed, assigned to indirectlylit

[2019-12-18 02:03] indirectlylit opened #6383 "update perseus plugin with latest translations"
ref: https://github.com/learningequality/kolibri-exercise-perseus-plugin/pull/211

[2019-12-18 02:27] jonboiser commented on #6338
Can you check if your Mac is set to access elements with a keyboard?

Check out this article

https://a11yproject.com/posts/macos-browser-keyboard-navigation/

Go to "Browser settings to enable full keyboard navigation"

The problem is that Safari doesn't let anchor tags be keyboard-focusable by default, which explains why the Skip Nav LInk doesn't work on Learn > Classes (it's only anchor tags in

[2019-12-18 02:31] indirectlylit commented on #6285
Maybe we need to simply wrap the `<a>` with an `inline-block` `span`?

[2019-12-18 02:37] indirectlylit commented on #6344
Ah, I misunderstood the issue.

No, auto-update is not currently implemented.

[2019-12-18 02:45] indirectlylit opened #6384 "regression in modal"
### Observed behavior

![2019-12-17 18 43 04](https://user-images.githubusercontent.com/2367265/71051478-4e423d00-20fd-11ea-83e0-21ac4c2a4267.gif)

### Context

caused by #6278

[2019-12-18 06:39] nucleogenesis opened #6387 "Create Quiz BottomBar button alignment is off"
### Observed behavior

The "Continue" button is offset lower than the "Cancel" button.

![bottom-bar-messed-up](https://user-images.githubusercontent.com/6356129/71061539-1f3bc380-211d-11ea-8d16-0243fd2eeeab.png)

Possibly related to this: https://github.com/learningequality/kolibri/pull/6315

Reverting this change: https://github.com/learningequality/kolibri/commit/4b3038ac6af16cd3bc1df56c2b1119b

[2019-12-18 06:53] miyer03 commented on #6368
@indirectlylit Please let me know what more clarification is needed to help resolve this. Like I said its not always replicable. And one scenario observered is after completing the first lesson with mastery, when the student goes to the next lesson, the green ticks for the correct answers from the first lesson is carried to the 2nd lesson, which is not started yet and to shows completed with star

[2019-12-18 07:04] miyer03 opened #6388 "13.0 beta 7, problem while installing"
### Observed behavior
After complete installation the kolibri page 127.0.0.1:8080 is not opening.
![Screenshot from 2019-12-18 12-05-48](https://user-images.githubusercontent.com/8583367/71062960-bfcbcb00-2191-11ea-9799-1abb0139f22d.png)
![Screenshot from 2019-12-18 12-19-44](https://user-images.githubusercontent.com/8583367/71062962-bfcbcb00-2191-11ea-9e22-f6fb21274feb.png)
![Screenshot from 2019

[2019-12-18 07:05] miyer03 commented on #6388
This was done after complete uninstall of the previous version 12.9

[2019-12-18 07:24] miyer03 commented on #5377
@indirectlylit this is again observed in 12.8. Attached is the screen shot where sometimes the kids are logged out. The kids are not inactive but sometimes if the page loading is slow the kid keeps waiting. But in all they should not be logged out at least for 45 to 60 mins.

OS :- Xubuntu 18.04
Kolibri :- 12.8
Browser :- Chrome

![IMG_20191214_121157](https://user-images.githubusercontent.com/858

[2019-12-18 11:15] radinamatic commented on #6338
One of the great world mysteries why Apple leaves that option seriously limited by default 😒
Just wondering what is the business logic behind that...

[2019-12-18 18:29] indirectlylit commented on #5377
okay, thanks for the report

[2019-12-18 18:37] nucleogenesis commented on #5538
I'm not seeing this anymore tested in Chrome / IE11 (Windows 10) or Chromium / Firefox (Debian)

[2019-12-18 18:37] lyw07 commented on #6388
I installed the unsigned kolibri 0.13.0 beta 7 Debian installer on a Linux Mint 19.2 VM but was unable to reproduce this issue

[2019-12-18 18:59] #6036 closed, assigned to bjester

[2019-12-18 19:03] #5781 closed, assigned to lyw07

[2019-12-18 19:14] jonboiser commented on #6338
@kollivier Can you configure the Kolibri Mac App to have these accessibility settings turned on?

[2019-12-18 19:18] radinamatic commented on #6338
I don't think you can configure **any** Mac app for this **separately** -  it's a general setting for the whole OS, and user must enable it by themselves.

@indirectlylit should just check if by setting that properly, he has the proper, _normal_ keyboard navigation in the Kolibri macApp.

[2019-12-18 19:21] jonboiser commented on #6338
That might have changed. When I just fixed it for my new computer, the setting was in the Preference menu of Safari itself.

There's also an OS-wide setting that lets users keyboard control modals that appear like the empty trash can confirmation modals, etc, but that actually didn't help with Safari.

[2019-12-18 19:24] radinamatic commented on #6338
Gah, they are making it even worse and more complicated than it was before 😡

[2019-12-18 19:24] kollivier commented on #6338
It looks like there's a way (a "tab to links" setting), but wx (the GUI toolkit we're using right now) doesn't provide access to it. I'm thinking of switching to PyObjC for the next version so we have direct access to the WebView and full control over the GUI on Mac. This also would allow us to try some things to fix the Mac app scrolling problems.

[2019-12-18 19:33] #6343 closed, assigned to nucleogenesis

[2019-12-18 19:33] #6345 closed, assigned to nucleogenesis

[2019-12-18 19:35] jonboiser commented on #6365
This should be fixed in #6355. It works for channels downloaded directly from studio. Still haven't checked if it will work if the channel goes from Studio -> Server -> Other Server (via USB or P2p).

[2019-12-18 19:35] #6365 closed, assigned to jonboiser

[2019-12-18 19:43] #6387 closed, assigned to nobody

[2019-12-18 19:44] jonboiser commented on #6229
The fix in #6300 tries to mitigate one source of this by retrying the CHANNELDIFFSTATS command in case it fails.

There's another fix in #6355 that fixes an oversight when filtering for these tasks to implement some short-circuit logic.

I think between these two, fixes, all the causes I'm aware of for this bug are fixed. 🤞

[2019-12-18 19:44] #6229 closed, assigned to jonboiser

[2019-12-18 19:45] jonboiser commented on #6262
Should be fixed in #6300

[2019-12-18 19:45] #6262 closed, assigned to jonboiser

[2019-12-18 19:49] indirectlylit commented on #6368
Hi @miyer03 -

* This issue refers to opening and mastering a lesson, but the screenshot is of an exercise. Is this an exercise within a lesson?
* A short video showing the complete interaction would be helpful
* You could possibly send us a copy of the database or exported interaction logs and indicate the username, lesson name, and exercise name that exhibited the behavior

[2019-12-18 19:49] jonboiser commented on #6388
In the logs I'm seeing this error that might explain why there's a blank screen on the browser. I think these are very recent, since they appear at the bottom of daemon.txt.

I'm guessing the JS bundle isn't being built.

[code]

In the code the main export of this module is called "WebpackBundleHook". But there is an export `WebpackInclusionMixin`? Is there code in the debian packager that's outd

[2019-12-18 20:02] #6364 closed, assigned to bjester

[2019-12-18 20:03] radinamatic commented on #6262
I don't have the same setup as in #6280, but tested something similar in the latest dev build from this morning on Ubuntu, and it seemed not to be happening 👍
Will confirm with the upcoming test with the next beta!

[2019-12-18 20:04] jonboiser commented on #6388
@lyw07 Do you think it's relevant that this was done after uninstalling 0.12.9? That branch does have a `kolibri.core.webpack.hooks.WebpackInclusionHook`, but this was renamed or deleted in the 0.13 branch.

https://github.com/learningequality/kolibri/blob/release-v0.12.x/kolibri/core/webpack/hooks.py#L444

https://github.com/learningequality/kolibri/blob/release-v0.13.x/kolibri/core/webpack/hooks

[2019-12-18 20:12] indirectlylit commented on #5538
great, thanks

[2019-12-18 20:12] #5538 closed, assigned to nobody

[2019-12-18 20:12] #6317 closed, assigned to rtibbles

[2019-12-18 20:16] indirectlylit commented on #6338
off-topic, but...

a couple other options:

* Qt
* Electron

[2019-12-18 20:17] indirectlylit commented on #6338
we might want to consider adding this to docs

[2019-12-18 20:17] #6338 closed, assigned to nobody

[2019-12-18 20:19] radinamatic commented on #6338
It's in the queue! 👍

[2019-12-18 20:22] lyw07 commented on #6388
ah yeah it could be. I will test this on my VM. Thank you for the info!

[2019-12-18 20:44] indirectlylit commented on #6177
thanks for renaming

[2019-12-18 20:47] jonboiser commented on #6177
@indirectlylit @jtamiace Should we count Completed + Canceled + Failed tasks as "Complete" for the purposes of this task bar? There's a utility function in the code that groups these together as "clearable" that we can use to count them.

All "clearable" tasks will contribute 1 whole unit to the progress bar. Any queued or running Tasks will contribute their percentage value to the progress bar an

[2019-12-18 20:58] #6322 closed, assigned to indirectlylit

[2019-12-18 21:00] lyw07 commented on #6388
I tried to install and uninstall 0.12.9 before installing 0.13.0beta7, but the file `/usr/lib/python3/dist-packages/kolibri/plugins/learn/hooks.py` that is causing the error doesn't exist after uninstalling 0.12.9.
I checked both the unsigned debian installer from github and the signed installer from PPA for 0.13.0beta7, but both of them don't contain this file.

[2019-12-18 21:02] rtibbles commented on #6374
Fixed in #6380

[2019-12-18 21:02] #6374 closed, assigned to rtibbles

[2019-12-18 21:05] rtibbles commented on #6388
@miyer03 was this server running just Kolibri or also the Kolibri server package? I wonder if uwsgi was still initialized and nginx not properly restarted, and hence looking for non existent python modules from the previous version.

[2019-12-18 21:08] indirectlylit opened #6390 "unhandled zeroconf exception on shutdown"
### Observed behavior

when shutting down Kolibri, I see unhandled errors from zeroconf processes.

[code]

### Expected behavior

no unhandled errors

### User-facing consequences

unknown

### Steps to reproduce

* Start Kolibri
* Shut it down

### Context

0.13.0 beta, after #6380 was merged

[2019-12-18 21:42] lyw07 commented on #6349
fixed in #6377

[2019-12-18 21:42] #6349 closed, assigned to jonboiser

[2019-12-18 22:15] jonboiser commented on #6120
I don't see contents being available after Canceling. In #6391 , I posted this screenshot where I cancel "Touchable Earth", but on the database and UI the channel is still flagged as unavailable, as are all of its contentnodes. I also feel like I canceled it pretty quickly, before 3 GB could have been transferred over the network. So the issue might be that the Task message is over-counting how mu

[2019-12-18 22:22] jtamiace commented on #6177
I think counting completed, canceled, and failed as "complete" would solve the confusion.

[2019-12-18 22:39] radinamatic commented on #6120
Once there is a consensus, let me know what to change (leave, add or delete the current wording) in the user docs! 🙏

[2019-12-18 22:41] radinamatic commented on #6177
I fail to see _failed_ as _completed_, but it might be nitpicking in the current crunch... 😛

[2019-12-18 22:47] nucleogenesis commented on #6341
Fixed with merge of #6370

[2019-12-18 22:47] #6341 closed, assigned to nucleogenesis

[2019-12-18 22:50] jonboiser commented on #6177
There was some feedback from a bug bash that we could both make the message more specific about succeeded vs failed, and also divide the progress bar into different colored sections like we do on coach reports. (e.g. completed vs. canceled vs. failed).

[2019-12-18 22:58] radinamatic commented on #6177
I agree that would be preferable as more specific and correct info for the user. I could maybe also see _cancelled_ as _completed_ because the _cancel_ action was instigated by the user (and it was, presumably successfully concluded), but _failed_ should fall in a separate category.

The question remains if we can implement this **now**, or leave it for the patch release...?

[2019-12-18 23:09] jonboiser commented on #6350
People are having trouble reproducing this, so moving the milestone while I figure out what's specific about my environment that might be causing this.

[2019-12-18 23:10] jonboiser commented on #6383
@rtibbles Does merging learningequality/kolibri-exercise-perseus-plugin#211 resolve this issue? Do we need to bump the version on requirements.txt and release a new version of the perseus plugin?

[2019-12-18 23:39] jonboiser commented on #6368
@miyer03 Do the Lessons share Resources? For example if you have Lesson A which is the same as Lesson B (they have the same exercises, videos, and so on), then mastering Lesson A also means mastering Lesson B. A video in Lesson A is not considered different from the same video in Lesson B with regard to learner progress.

[2019-12-18 23:41] nucleogenesis commented on #6327
I tried to replicate this without luck on the Kolibri beta server (beta7).

![perseus-does-not-overlay](https://user-images.githubusercontent.com/6356129/71132555-b308a080-21ac-11ea-8dc9-775165562e76.gif)

Try it out logging in as learner `queencreens` and taking the quiz in SUPER LE CLASS called "divide"

[2019-12-18 23:47] jonboiser opened #6395 "Exercise preview panel is not inside a KPageContainer"
### Observed behavior
Just noticed this on kolibribeta: The quiz preview section should have the KPageContainer surrounding it to match the Lesson Creation workflow.

![Screen Shot 2019-12-18 at 3 45 29 PM](https://user-images.githubusercontent.com/10248067/71132887-a2a4f580-21ad-11ea-8ba7-49b3d21d107d.png)

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Ste

[2019-12-18 23:52] nucleogenesis commented on #6327
Just kidding about the last comment - it appears this way in the Quiz Preview page.

It is fixed by making the z-index on the bottom bar 1062. Will make a PR.

[2019-12-19 00:13] rtibbles commented on #6383
I am finalizing the new plugin version now!

[2019-12-19 00:18] jonboiser opened #6397 "In many KA Videos, the transcript will flash text in a different language before the default one"
### Observed behavior
Here's a video: transcripts flash in a different language (looks like a Chinese language to me, but I've seen it flash in Cyrillic, Thai, Hebrew, etc.) before settling on English. Video comes from http://kolibribeta.learningequality.org/en/coach/#/30520f6b451e2a0ab7a56a3a9896a97f/plan/lessons/f428348d9ad203099ec983e443e4f47d/selection/preview/b34d1597055b5022a44714c11b7d29be

[2019-12-19 00:57] bjester opened #6400 "Error when double saving Coach change"
### Observed behavior

I accidentally clicked <kbd>Save</kbd> twice after changing a user to coach, and received an error.

### Expected behavior

No error observed.

### User-facing consequences

Could be confusing to end-users as it's not clear what went wrong, which in reality it doesn't appear anything went wrong.

### Errors and logs

[code]

### Steps to reproduce

1) Create a new coach user

[2019-12-19 01:10] jonboiser commented on #6400
Did the "submit" button on the UserEditPage/form disable when you clicked save? That's usually how we try to avoid double-saves on the front-end.

Aside from that, the roles-related API should be made to be idempotent when making the same request multiple times. Esp. since there's edge cases like having two tabs on the same page, then pressing save on both one after the other.

[2019-12-19 01:15] bjester commented on #6400
@jonboiser No the button does not disable.

[2019-12-19 01:36] jonboiser commented on #6400
The problem is that this check in the code here isn't working correctly. When you click the second time the condition should be false, but it ends up being true because `userCopy` isn't updated after the first save.

For example, if you open this page as a class coach, change to facility coach, then save... then on the second save `userCopy.kind = class coach` still, and `newUserKind = facility co

[2019-12-19 01:40] rtibbles commented on #6390
Seems like this is Python 2.7 only.

[2019-12-19 02:18] rtibbles commented on #5877
Bumped the milestone as this is mostly a dev only issue.

[2019-12-19 02:23] rtibbles commented on #5493
Is this still valid/needed?

[2019-12-19 02:26] rtibbles commented on #4463
I think my experience above may have been caused by my setting the root node of a channel as unavailable but nothing else to unavailable. A fairly extreme case of a slightly borked DB.

I think this probably needs a little design for how we help users recover from a slightly broken state.

[2019-12-19 02:28] rtibbles commented on #6221
Seems like the worker process that should have been executing this died - and/or the job database got corrupted.

[2019-12-19 02:34] rtibbles commented on #6327
Fixed in #6396

[2019-12-19 02:34] #6327 closed, assigned to nucleogenesis

[2019-12-19 02:37] radinamatic commented on #5493
Let's not close it just yet - I suggest re-targeting to `upcoming patch`. Availability annotation and importing has changed very much, with so many moving parts (especially in the final stretch), that I doubt the current scenarios cover all the necessary and recommended angles.

[2019-12-19 02:51] rtibbles commented on #6177
Fixed in #6391

[2019-12-19 02:51] #6177 closed, assigned to jonboiser

[2019-12-19 02:52] rtibbles commented on #6276
Fixed in #6394

[2019-12-19 02:52] #6276 closed, assigned to ralphiee22

[2019-12-19 02:56] rtibbles commented on #6250
One fairly important detail is that the background task itself is not able to be cancelled, so no matter what the user does, the background task will not be interrupted.

[2019-12-19 02:58] rtibbles commented on #6384
Fixed in #6393

[2019-12-19 02:58] #6384 closed, assigned to ralphiee22

[2019-12-19 03:03] radinamatic commented on #6250
Well, if there is no way user can cancel the task, then there should be a much more prominent alert (**This cannot be cancelled or undone...!**, not just _Are you sure...?_), and no <kbd>Cancel</kbd> button, since it's going to be useless.

cc @khangmach @jtamiace

[2019-12-19 03:04] radinamatic commented on #6250
Can we remove just the button for now?

[2019-12-19 03:21] indirectlylit commented on #6120
For 0.13.0, let's just document what ever the current actual behavior is. If the current behavior is inconsistent for some reason, we can caution something like "Content from canceled imports might not be available. Please check the state of the channel after canceling an import"

Side question:

Is 'channel name unavailable' still occurring? If so, would you mind opening an issue for it?

[2019-12-19 03:28] indirectlylit commented on #6395
ref https://github.com/learningequality/kolibri/pull/6391#discussion_r359636505

[2019-12-19 03:28] #6395 closed, assigned to jonboiser

[2019-12-19 03:29] rtibbles commented on #6383
Fixed in #6399

[2019-12-19 03:29] #6383 closed, assigned to rtibbles

[2019-12-19 03:31] radinamatic commented on #6120
I did not see the `channel name unavailable` during the testing today, but I did encounter the `...for Undetermined` again. There should be and issue somewhere already, will open if not:

![2019-12-18_16-02-06](https://user-images.githubusercontent.com/1457929/71142570-0b28bc80-2218-11ea-8469-0bbff2104051.png)

[2019-12-19 03:49] indirectlylit commented on #6221
closing because this occurred before lots of recent changes

[2019-12-19 03:49] #6221 closed, assigned to nobody

[2019-12-19 04:14] indirectlylit commented on #6177
...

I'll open this as a clearinghouse issue

[2019-12-19 04:16] indirectlylit commented on #6250
agreed that we should hide the 'cancel' button for deletion tasks

[2019-12-19 04:21] indirectlylit opened #6404 "prevent Perseus z-indexes from interacting with app styling"
### Observed behavior

ref: https://github.com/learningequality/kolibri/pull/6396

we had to set a very high, arbitrary z-index value

### Expected behavior

z-indexes should map to Material elevations - https://material.io/design/environment/elevation.html#default-elevations

to achieve this we can either put perseus in an iframe, or update the styling to conform with Material conventions

### Us

[2019-12-19 04:22] indirectlylit commented on #6120
thanks - I am not aware of an issue for this

[2019-12-19 04:25] rtibbles commented on #6250
Note that this is probably a regression in the transition to the new task manager - there is a `cancellable` property on the task metadata that indicates whether a task can be cancelled, I have just verified that the deletion task does not have this set to `True`. The UI just needs to conditionalize the availability of the cancel button based on this property - looking at the code for the UI it do

[2019-12-19 04:28] radinamatic commented on #6250
Dealer's choice!
If making the UI _conditionalize its availability_ is not that much more work than just hiding the button, I'd say go for it!

[2019-12-19 04:32] rtibbles commented on #6250
Well conditionalizing it based on the `cancellable` property of the task is the most efficient way to hide it when it should be hidden!

[2019-12-19 04:37] radinamatic opened #6405 "Fulfulde language should not be 'Undetermined'"
### Observed behavior

I'm guessing there must be an improper language code or similar somewhere that makes Fulfulde appear as `Undetermined` when channel is imported. I don't recall seeing this on any other KA channel:

![2019-12-18_16-02-06](https://user-images.githubusercontent.com/1457929/71144295-d28be180-221d-11ea-89d7-00b16bbc3110.png)

Since it's appearing on channel description, I'm doubt

[2019-12-19 04:39] radinamatic commented on #6120
Yeah, it was in context of another occurrence.
Proper issue filed now in #6405, although I was not sure about the labeling, check that out, pls!.

[2019-12-19 04:59] indirectlylit commented on #6312
also observed by @radinamatic

[2019-12-19 05:03] indirectlylit opened #6407 "no bash prompt after Kolibri exits"
### Observed behavior

hang on 'Waiting for child threads to terminate...'

I waited for a few minutes. However then I pressed 'enter' and the process actually seemed like it had finished.

Looks sort of like the behavior described here: https://stackoverflow.com/questions/23125527/how-to-return-to-bash-prompt-after-printing-output-from-backgrounded-function

### Expected behavior

prompt shown af

[2019-12-19 05:04] radinamatic commented on #6405
On this version 2 of the channel that I have on my dev env VM, language is rendered properly... 🤔

![2019-12-19_5-58-52](https://user-images.githubusercontent.com/1457929/71146372-509fb680-2225-11ea-9827-1f4e7f99020d.png)

[2019-12-19 05:05] indirectlylit commented on #6405
I'm guessing this is an upstream content issue

[2019-12-19 05:07] indirectlylit commented on #6247
closing as "probably fixed". let's keep an eye out for zombies...

[2019-12-19 05:07] #6247 closed, assigned to rtibbles

[2019-12-19 05:12] indirectlylit opened #6408 "multiple instances of Kolibri can access the same DB at the same time"
### Observed behavior

I am able to run both a pex and an app on MacOS simultaneously

### Expected behavior

The second Kolibri instance should fail to start with an error that another instance appears to already be running.

One way to achieve this would be for Kolibri to periodically write timestamps to a file like `$KOLIBRI_HOME/heartbeat.txt`. Whenever a new instance of Kolibri starts, it wou

[2019-12-19 05:21] indirectlylit opened #6409 "pin mac app"
### Observed behavior

builds currently track the HEAD of the mac repo

ref: https://github.com/learningequality/kolibri-installer-mac/issues/42

### Expected behavior

0.13.0 final should be pinned to a specific version of the mac app, creating predictable builds

### User-facing consequences

unpredictable builds

### Context

0.13.0

[2019-12-19 05:27] radinamatic commented on #6405
Filed an issue on the KA sushi chef repo: https://github.com/learningequality/sushi-chef-khan-academy/issues/16

[2019-12-19 05:58] miyer03 commented on #6368
@jonboiser They are different levels of difficulty under the same topic. For example for grade 7 Ratios.. will have an exercise with Level1 which is kind of easy, Level2 which is kind of intermediate and Challenge set which is kind of difficult. After the student attains Mastery in Level 1, he goes to Level2. This is not about the video lesson. But you can consider them as 2 different sets of exer

[2019-12-19 06:06] miyer03 commented on #6388
@rtibbles I had kolibri-server running in the system. I tried to uninstall completey by running sudo apt-get remove kolibri-server , sudo apt-get remove kolibri, pip uninstall kolibri and pip uninstall kolibri-server. Please let me know if anything else needed to be done. Since, most of the classroom currently are on 12.8 or 0.9.5b3 any specific steps need to be followed to uninstall the previous

[2019-12-19 07:56] jredrejo commented on #6388
hi @miyer03 , don't do `pip uninstall kolibri-server` as kolibri-server is not a pip package.
In any case, in order to try to reproduce it, let me know if I understood correctly the steps you did:

1. You had kolibri-server + kolibri 0.12.9 installed (using deb packages, not pip)
2. You did `apt-get remove kolibri-server kolibri`
3. You installed the kolibri 0.13.0 beta 7 deb package

and then, th

[2019-12-19 08:05] miyer03 commented on #6388
@jredrejo You are correct. I don't think nginx is there in my system now. 12.9 was not completely uninstalled hence tried pip uninstall. I could be wrong there. If you are available now. I can try giving remote access if that works for you to understand better.

Its still showing blank page

[2019-12-19 10:46] jredrejo commented on #6388
I don't think I will have a chance to connect before 15:30 pm GMT. Having a remote access would make it much easier,  would it be possible to access at that time?

[2019-12-19 14:56] benjaoming commented on #6316
There's also some SQLalchemy schema dumping/loading for Kolibri channel import/export that might be of interest. It was already using protocol 2, so not of imminent concern.

* https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/utils/sqlalchemybridge.py
* https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/management/commands/generate_schema.py

[2019-12-19 16:02] indirectlylit commented on #6390
I believe this has been addressed

[2019-12-19 16:02] #6390 closed, assigned to rtibbles

[2019-12-19 16:03] indirectlylit commented on #6334
migrating to #6408

[2019-12-19 16:03] #6334 closed, assigned to nobody

[2019-12-19 16:04] #6285 closed, assigned to indirectlylit

[2019-12-19 16:04] #6250 closed, assigned to rtibbles

[2019-12-19 16:05] indirectlylit commented on #6245
hooray!

[2019-12-19 16:05] #6245 closed, assigned to rtibbles

[2019-12-19 16:05] #6211 closed, assigned to rtibbles

[2019-12-19 16:05] #6077 closed, assigned to rtibbles

[2019-12-19 16:10] #6218 closed, assigned to jonboiser

[2019-12-19 16:19] indirectlylit commented on #6139
also ref: https://github.com/learningequality/kolibri-installer-windows/issues/145

[2019-12-19 16:33] jamalex commented on #6245
I'd recommend avoiding this if possible, as after forking the older py2-compatible release version, I was careful to cherry-pick as much as possible from their ongoing development, and maintain a history that can still be reconciled with updates they make upstream, as desired.

Did we actually end up needing to make any zeroconf changes for this release, or was it all in Kolibri?

[2019-12-19 18:26] rtibbles commented on #6408
Our current sanity check only checks same port, it would be relatively straightforward to extend this to check for Kolibri running on any port (without having to add anything new).

[2019-12-19 20:46] nucleogenesis opened #6417 "IndividualLearnersSelector strings were not pushed to Crowdin"
### Observed behavior

The CSV for the coach module that was uploaded to Crowdin did not include the IndividualLearnersSelector component's new strings.

This PR was made to ensure they'd be included: https://github.com/learningequality/kolibri/pull/6055

But they are not currently on Crowdin.

If I run `yarn makemessages` now the strings are included in the CSV - so the extraction appears to work

[2019-12-19 20:49] jonboiser commented on #6168
Re-opening this so we can apply a similar fix to the User Profile version of this form

![Screen Shot 2019-12-19 at 12 48 29 PM](https://user-images.githubusercontent.com/10248067/71208498-f2db9080-225d-11ea-972e-f82fcf190bf3.png)

[2019-12-19 20:53] bjester commented on #6417
Is it possible that it wasn't included because in that PR your component wasn't being used by anything?

[2019-12-19 21:00] nucleogenesis commented on #6417
That's what it is @bjester

I created a new component and extracted messages and it didn't show up.

Once I imported it into another component and ran the message extraction, the messages showed up.

[2019-12-19 21:01] bjester commented on #6417
Dang. I should have tested that before approving that PR. I had no idea.

[2019-12-19 22:51] rtibbles commented on #6316
I don't count this as serialization - so I was not intending to imply we should changes these - just in task serialization etc.

[2019-12-19 22:52] rtibbles commented on #6245
The only update we had to make was vendoring the enum compatibility code into zeroconf, hopefully should be able to avoid touching it in future.

[2019-12-20 00:12] rtibbles commented on #6408
Fixed in #6412

[2019-12-20 00:12] #6408 closed, assigned to nobody

[2019-12-20 04:06] radinamatic commented on #4560
@indirectlylit @benjaoming Remind me what exactly should be mentioned in the user docs...?

[2019-12-20 06:34] lyw07 commented on #6361
fixed in #6415

[2019-12-20 06:34] #6361 closed, assigned to indirectlylit

[2019-12-20 09:45] miyer03 commented on #6388
@jredrejo @indirectlylit not sure if this is a bug or installation issue. To make sure this doesn't happen could be please highlight the steps if the current server is either using a older version of pex or deb file and also, if it uses the kolibri-server. This is because once we roll out in school, the upgradation happens smoothly and we also don't end up loosing any data.

[2019-12-20 10:46] benjaoming commented on #4560
@radinamatic I don't think we need to address this currently. Modifying the path environment is "business as usual" for all applications of Kolibri except .pex - but I don't think there is a strong use cases for running the PEX inside a customized environment... might as well just use a conventional .whl. If a use case (maybe some plugin stuff) would arrive, I think there will be documentation wri

[2019-12-20 12:47] radinamatic commented on #4560
Ok, thanks, removing the `user docs` label (it's messing with my issue cleanup 😛)

Please add it again, if it becomes necessary in the future.

[2019-12-20 15:10] indirectlylit commented on #4419
closing in favor of https://github.com/learningequality/kolibri/issues/5468

[2019-12-20 15:10] #4419 closed, assigned to nobody

[2019-12-20 15:10] indirectlylit commented on #5468
reported by @jtamiace in an 0.13 bug bash:

![image](https://user-images.githubusercontent.com/2367265/71263931-d2601480-22f7-11ea-9020-042bd95fb175.png)

[2019-12-20 15:18] indirectlylit opened #6419 "icon alignment issue in mac app"
### Observed behavior

super admin icon not aligned:

![image](https://user-images.githubusercontent.com/2367265/71264379-d5a7d000-22f8-11ea-80c6-b43a33f0300f.png)

### Expected behavior

properly aligned icon

### Steps to reproduce

edit super admin permissions on mac app

### Context

0.13.0 beta 7

[2019-12-20 16:16] indirectlylit commented on #6409
It is not pinned, but v0.1.0 was tagged here: https://github.com/learningequality/kolibri-installer-mac/releases/tag/v0.1.0

We just need to be careful because the kolibri app still tracks the head of that repo

[2019-12-20 16:17] #6139 closed, assigned to mrpau-richard

[2019-12-20 16:19] indirectlylit opened #6420 "builds are not being automatically uploaded"
Before releasing, we need to make sure that the build and upload process is working

[2019-12-20 16:52] indirectlylit commented on #6388
Thanks @miyer03

Yes we've been testing various upgrade paths to make things smooth, but so far we haven't been able to reproduce this. I'll talk with the team and see if there are any "best practices" we can advise on for upgrading

[2019-12-20 17:05] indirectlylit opened #6516 "when we document `kolibri plugin enable | disable`, ensure that PEX has special note"
(original issue was transfered from Kolibri User Docs)

In order to install and use externally-built plugins with PEX, the environment variable `PEX_INHERIT_PATH=1` must be set

[2019-12-20 17:06] indirectlylit commented on #4560
setting the variable `PEX_INHERIT_PATH=1` is necessary for any situation where a user has installed using the `pex` and tries to enable an external plugin.

We don't publicly document plugin enable/disable functionality because it's not stable yet, but when we do we'll need to add this as a note. Opened a tracker issue here: https://github.com/learningequality/kolibri-docs/issues/149

[2019-12-20 17:18] lyw07 opened #6421 "Android builds should be re-enabled"
### Observed behavior

Currently, the Android builds in the build pipeline have been disabled in #6411. It is because there is an issue in the Android builds, which also blocks the `upload artifacts` step.
We would like to re-enable the Android builds and thus have the .apk file ready for releases.

### Expected behavior

apk should be available for 0.13.1 releases

### User-facing consequences

u

[2019-12-20 17:38] indirectlylit opened #6422 "finalize 0.13.0 changelog"

[2019-12-21 01:17] #6422 closed, assigned to indirectlylit

[2019-12-21 01:23] indirectlylit opened #6426 "required .mo files are not being added"
### Observed behavior

we had a critical last-minute issue because some languages were not showing up. This was because the .mo files were not being added, which is an error-prone process:

https://kolibri-dev.readthedocs.io/en/develop/i18n.html#adding-a-newly-supported-language

### Expected behavior

Let's figure out a system that will add mo files and complain loudly if they are not there

###

[2019-12-21 01:25] indirectlylit opened #6427 "Yoruba not always displaying using Noto fonts"
### Observed behavior

observed by @jonboiser  that Yoruba displays in a mix of Helvetica and Noto:

![image](https://user-images.githubusercontent.com/2367265/71300849-a2dbf700-234d-11ea-93a6-156ecb54a446.png)

![image](https://user-images.githubusercontent.com/2367265/71300843-98216200-234d-11ea-858e-21a54e2534e0.png)

![image](https://user-images.githubusercontent.com/2367265/71300845-9ce61600-

[2019-12-21 01:45] indirectlylit opened #6428 "sign-out button is incorrectly aligned in RTL langs"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/71301121-62ca4380-2350-11ea-9091-f16749150632.png)

![image](https://user-images.githubusercontent.com/2367265/71301123-665dca80-2350-11ea-8582-e0903413ddcb.png)

### Expected behavior

correct alignment

### Context

0.13.0

[2019-12-21 02:03] lyw07 commented on #6420
the build pipeline is working, so closing this now

[2019-12-21 02:03] #6420 closed, assigned to DXCanas

[2019-12-30 20:36] jonboiser commented on #6426
@rtibbles @ralphiee22 Can we add a unit test to check for the `mo` file for the relevant languages?

[2020-01-02 19:06] dylanmccall opened #6434 "Port availability check fails when using socket activation"
It is possible to run Kolibri as a socket-activated system service on Linux, using configuration such as this:

https://github.com/endlessm/eos-kolibri/tree/master/data/system

The way socket activation works here is systemd creates a socket with a certain port number, then passes the socket to Kolibri when it receives a connection. CherryPy knows how to use that socket, instead of trying to creat

[2020-01-02 19:22] indirectlylit commented on #5877
another recent issue re: sanity checks: https://github.com/learningequality/kolibri/issues/6434

[2020-01-02 19:22] indirectlylit commented on #6434
thanks for the report

[2020-01-06 06:38] miyer03 commented on #6388
I am not able to install new kolibri in my system. This is a test server and hence not worried on any previous DB. Is there any way to do a clean install or do I need to reformat the system.

[daemon.txt](https://github.com/learningequality/kolibri/files/4024958/daemon.txt)
[kolibri.txt](https://github.com/learningequality/kolibri/files/4024959/kolibri.txt)

[2020-01-06 15:09] jredrejo commented on #6388
Hello @miyer03  about your latest message, looking at the logs I see two problems:
1. Permissions problems in the` /home/kolibri/.kolibri` folder
2. The installation is upgrading the configs from a previous beta to the stable release, and it can't, likely due to the permission problems

If you're not worried for a previous db, can you delete the ` /home/kolibri/.kolibri` and restart the daemon or

[2020-01-07 18:10] lyw07 commented on #6407
I'm not able to reproduce this with 0.13.0 pex file. Does this still happen on your machine? Thank you!

[2020-01-07 21:38] rtibbles commented on #6426
I think so - would just need to check the ones listed in EXTRA_LANGS info.

[2020-01-07 22:50] lyw07 opened #6439 "ping happens every second instead of every 15 minutes"
### Observed behavior

When the internet is not available and ping fails, kolibri keeps pinging every second.

### Expected behavior

as stated in the error message, kolibri should ping every 15 minutes

### User-facing consequences

users who have constant unstable network connections would see a lot of warning messages in the log file.

### Errors and logs

[code]

### Steps to reproduce

1. tur

[2020-01-07 22:56] rtibbles commented on #6439
Hrm - that's troubling - what does your `job_storage` sqlite3 file look like in the scheduled jobs table?

[2020-01-07 23:00] lyw07 commented on #6439
the table is this:

<img width="693" alt="Screen Shot 2020-01-07 at 2 58 48 PM" src="https://user-images.githubusercontent.com/19424916/71936474-5d496780-315e-11ea-8503-83503d3013dd.png">

[2020-01-07 23:26] rtibbles commented on #6439
Was Kolibri running when you looked at this? If so, what time did you look at it?

[2020-01-07 23:28] lyw07 commented on #6439
yes, kolibri was running when I looked at this. it was a fresh install of kolibri 0.13. the time I looked at it was around the scheduled time of the first job I believe.

[2020-01-07 23:32] rtibbles commented on #6439
Had the ping already failed at that time?

[2020-01-07 23:33] rtibbles commented on #6439
The only thing I can think of is that somehow this line is setting a date in the past: https://github.com/learningequality/kolibri/blob/release-v0.13.x/kolibri/core/analytics/utils.py#L437

[2020-01-07 23:48] lyw07 commented on #6439
yes the ping failed multiple times. I tried to log out some debug messages and got these:
[code]
the date and time looks correct to me...
my guess is that after we change the scheduled time of the job, it doesn't get updated correctly in `change_execution_time`

[2020-01-07 23:54] lyw07 commented on #6439
sorry for the message I posted above:

it should be around 15 minutes before the scheduled time indicated in the picture. I didn't check the time correctly.
so the database value is correct.

[2020-01-08 00:04] rtibbles commented on #6439
My other guess is that the scheduler thread is picking up the same job repeatedly and putting it into the queue.

[2020-01-08 00:05] rtibbles commented on #6439
But, I feel like that shouldn't be happening as it's a single thread....

[2020-01-08 00:07] lyw07 commented on #6439
the issue is from here: https://github.com/learningequality/kolibri/blob/release-v0.13.x/kolibri/core/tasks/scheduler.py#L240

[2020-01-08 00:08] lyw07 commented on #6439
since it's running on my local machine, it's comparing a utc now with pacific time now, so the scheduled time is always in the past of "now"

[2020-01-08 00:18] rtibbles commented on #6439
Ah - can you submit a fix to make sure the scheduler only uses UTC time throughout?

[2020-01-08 00:19] lyw07 commented on #6439
sure I will do that!

[2020-01-08 03:47] mrpau-richard opened #6442 "Device page buttons alignment issue on IE11"
### Observed behavior
Buttons are not aligned at the `device channel` page, using IE11 browser.

### Expected behavior

…

### User-facing consequences

…

### Errors and logs
Observe that the options and import buttons are not aligned in the channels label
![Screen Shot 2020-01-08 at 11 23 57 AM](https://user-images.githubusercontent.com/8663934/71948598-78be7c00-320b-11ea-8bbb-ac9533763856.png)

[2020-01-08 08:19] mrpau-richard opened #6443 "Select resources text broken on IE11"
### Observed behavior
Select resources text did not display the full length on IE11 browser.

### Expected behavior

…

### User-facing consequences

…

### Errors and logs
![Screen Shot 2020-01-08 at 11 59 20 AM](https://user-images.githubusercontent.com/8663934/71949583-0780c800-320f-11ea-95c0-beb016b5d95a.png)

### Steps to reproduce

…

### Context

Tell us about your environment, including:

[2020-01-08 08:31] mrpau-richard opened #6444 "Setup wizard step bug on IE11"
### Observed behavior
Setup wizard automatically proceed from step 6 to 7 when I open and close the `Usage and privacy` Modal

### Expected behavior
Setup wizard must stay on step 6 when I open and close the `Usage and privacy` Modal

### User-facing consequences

…

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/71962254-09a94d80-3234-11ea-9f51-608c190f57e8.gif)

##

[2020-01-08 19:28] jonboiser commented on #6444
Was able to reproduce this in Browserstack.

An important detail is that the form needs to be completely filled in. This bug won't occur if the form is blank.

My hunch is that this is caused by propagating "submit" events (not the Vue event, but the default "submit" event forms implement in HTML) from the form inside of the PrivacyModal down to the form in the Setup Wizard.

[2020-01-09 05:12] miyer03 commented on #6388
I dropped kolibri, deleted the folder and started kolibri but still the same issue.  I tried to restart both kolibri and kolibri-server.
![Screenshot from 2020-01-09 10-53-14](https://user-images.githubusercontent.com/8583367/72040345-49bd0e80-32ce-11ea-9cf0-8a95a43784db.png)

[daemon.txt](https://github.com/learningequality/kolibri/files/4038692/daemon.txt)
[kolibri.txt](https://github.com/learni

[2020-01-09 06:07] lyw07 commented on #6388
thank you so much @miyer03 for checking and helping us debug the issue!
In the log file, I see this:
[code]
The issue still comes from the file `./kolibri/plugins/learn/hooks.py`, which existed in 0.12.x versions but has been deleted in 0.13.0. but the version in the log file did indicate that you installed 0.13.0.

Do you mind checking the result of the following command?
[code]
Also what is the

[2020-01-09 07:48] mrpau-richard opened #6447 "Import percentage alignment issue on IE11"
### Observed behavior
Channel import percentage label not aligned properly on IE11

### Expected behavior

…

### User-facing consequences

…

### Errors and logs
![Screen Shot 2020-01-09 at 3 01 10 PM](https://user-images.githubusercontent.com/8663934/72048110-05923400-32f7-11ea-9d58-1e07c0a855fd.png)

### Steps to reproduce

…

### Context

Tell us about your environment, including:
 * Kolibri v

[2020-01-09 17:36] laurenlichtman opened #6448 "Database locking issues for main and job database"
### Observed behavior

I am having issues importing new content after a channel has been republished on Studio. The first time I load the content item, I get the Kolibri error message, but then it works after refreshing.

### Expected behavior
Being able to access the content without error.

### User-facing consequences
Confusing to the user.

### Errors and logs
[kolibri.txt](https://github.com/l

[2020-01-09 17:41] ivanistheone commented on #6448
Some more context on what I observed:

1. Starting from a Kolibri Device with v3 of the channel b4101b8a47714987bf661d3892ed0bfd

2. PUBLISHed version 4 on Studio ([DB file](http://studio.learningequality.org/content/databases/b4101b8a47714987bf661d3892ed0bfd.sqlite3) shows v4)

3. Going through the IMPORT MORE steps to get new materials

4. Shows new version available so click UPDATE (the v4 of t

[2020-01-09 19:23] jonboiser commented on #6417
Uploaded the new strings by running Kolibri with #6449. They appear to be up on the 'release-v0.13.x' Crowdin version

<img width="697" alt="Screen Shot 2020-01-09 at 11 21 24 AM" src="https://user-images.githubusercontent.com/10248067/72097948-56dbfc80-32d2-11ea-9422-a5aa2a39b54b.png">

But it also seems to add new namespaces of strings for the H5P plugin, and completely renames the Perseus plugi

[2020-01-09 20:27] jonboiser opened #6451 "Filters get cleared from tables when returning to the page/refreshing"
### Observed behavior

Example scenario:

1. On the Facility > Users Page, filter down the users to a smaller set
1. Edit one of the users
1. Go backwards
1. The Facility > Users Page doesn't have the filter (or pagination) any more. i.e. the table is completely full and on page 1.

This applies to a lot of other pages that use PaginatedListContainer.

### Expected behavior

For convenience, when

[2020-01-10 04:43] lyw07 commented on #6158
I reproduced this issue on my machine and fixed it by downgrading my sqlite version to 3.25.3. I think any sqlite version greater than 3.25.3 would lead to the error.

[2020-01-10 05:44] miyer03 commented on #6388
Hi @lyw07 attached the screen shot with the output. Have tried to install kolibri server

![image](https://user-images.githubusercontent.com/8583367/72128865-4abb7200-339a-11ea-8937-c77469df00fb.png)

[2020-01-10 06:13] lyw07 commented on #6388
thank you! with this, we can confirm that although the version says 0.13.0, somehow part of the code is still 0.12.9.
I tried with installing kolibri 0.13.0 directly on top of 0.12.9, but still unable to reproduce the error.

do you mind trying uninstall kolibri and install it again with the following steps?
[code]
please let us know if you continue to see the issue. thank you so much for your pat

[2020-01-10 06:19] miyer03 commented on #6388
@lyw07 for the last step I need to download the package from the website, correct ? Also will the steps remove kolibri-server as well

[2020-01-10 06:26] lyw07 commented on #6388
@miyer03 I'm sorry I forgot that you also have kolibri-server installed. Then step one would remove kolibri as well as kolibri-server at the same time. Do you have any configurations on kolibri-server that you need to save?
in this case, the last step would be `sudo apt-get install kolibri-server`.
sorry for the confusion

[2020-01-10 06:27] miyer03 commented on #6388
Screenshots after the first 2 steps
![Screenshot from 2020-01-10 11-51-58](https://user-images.githubusercontent.com/8583367/72130740-645fb800-33a0-11ea-9bfa-f2bcbfcbc0b1.png)
![Screenshot from 2020-01-10 11-55-47](https://user-images.githubusercontent.com/8583367/72130741-645fb800-33a0-11ea-9209-f73d36dee342.png)

[2020-01-10 06:32] lyw07 commented on #6388
could you try
[code]
or if that doesn't work
[code]
does either of these command remove that folder?

[2020-01-10 06:34] miyer03 commented on #6388
Attached the screenshot. Would you be comfortable with remote access. I can try giving you that now if that works.
![image](https://user-images.githubusercontent.com/8583367/72131138-69713700-33a1-11ea-8395-487cdb3c7494.png)

[2020-01-10 06:35] lyw07 commented on #6388
sure that works for me :)

[2020-01-10 06:39] miyer03 commented on #6388
@lyw07 could you help me with the steps and the your email id. my email is manoj.iyer@motivationforexcellence.org

[2020-01-10 06:41] lyw07 commented on #6388
@miyer03 oh I'm sorry I can't recall the steps using things such as teamviewer right out of my mind currently.
instead of letting me access to your server remotely, do you mind trying one last thing `sudo rm -rf /usr/lib/python3/dist-packages/kolibri` and check if you can successfully remove the folder? since we have uninstalled kolibri entirely, it should be safe to remove it.

[2020-01-10 06:45] miyer03 commented on #6388
Here is the screen shot
![image](https://user-images.githubusercontent.com/8583367/72131669-efda4880-33a2-11ea-8962-d5ccab4d85d5.png)

[2020-01-10 06:50] lyw07 commented on #6388
thank you! I have sent you an email with steps to allow me to access your server remotely. My email is lingyi@learningequality.org

[2020-01-10 08:51] miyer03 commented on #6388
thanks @lyw07 for helping install kolibri

[2020-01-10 21:55] indirectlylit commented on #6407
yes, I still reproduce, but I'll de-prioritize if not everyone sees it

[2020-01-11 00:01] lyw07 opened #6452 "Iceqube job error does not show full traceback"
### Observed behavior

When an error occurs from an iceqube job, it does not show the full error traceback.

### Expected behavior

Full error traceback should show up

### User-facing consequences

It is hard for users/developers to identify where the error is originally from when such an error occurs

### Errors and logs

[code]

### Steps to reproduce

1. raise a random exception in file `trans

[2020-01-11 05:25] rtibbles commented on #6158
Oh.. that's odd. Looking at the changelog for 3.26.0 the only thing that seems remotely relevant is the new PRAGMA: https://www.sqlite.org/releaselog/3_26_0.html that maintains previous ALTER TABLE behaviour, @lyw07 if you can reliably reproduce this, could you try adding that PRAGMA

[2020-01-12 05:26] #6388 closed, assigned to nobody

[2020-01-13 07:45] mrpau-richard opened #6453 "Channel scrollbar issue on IE11"
### Observed behavior
Channel scrollbar not showing on IE11 until I refresh the page.

### Expected behavior
Scrollbar should show automatically without a page refresh.

### User-facing consequences

…

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/72239327-a0eb1800-361b-11ea-9a7f-246da7d72a79.gif)

### Steps to reproduce

…

### Context

 * Kolibri version: 0.13.0

[2020-01-13 07:59] mrpau-julius opened #6454 "Disabled arrows button can click on Microsoft edge browser"
### Observed behavior

In Facility > users page, I tried to click the disabled arrow button and its goes to next.
![arrow_button2](https://user-images.githubusercontent.com/38421180/72239477-2373d780-361c-11ea-930a-3390042b33fc.gif)

### Expected behavior

The disabled arrow button must be not click.
### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

1. Sign as super

[2020-01-13 08:05] mrpau-richard opened #6455 "Edit channel order display issue on IE11"
### Observed behavior
Channel name padding display half when I drag and rearrange the channel list.

### Expected behavior

…

### User-facing consequences

…

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/72240177-47d0b380-361e-11ea-96c0-f679ce0d2810.gif)

### Steps to reproduce

…

### Context

Tell us about your environment, including:
 * Kolibri version: 0.13.0

[2020-01-13 21:31] benjaoming opened #6457 "kolibri stuck if STATUS_FAILED_TO_START"
### Observed behavior

CC: @jredrejo

One of the scenarios I ran into with some startup issues on a Raspberry Pi was a start lock without a PID file. This creates a status `STATUS_FAILED_TO_START`.

I will open a PR for this.

Here is an example of a traceback where `service kolibri-server restart` stops working because it cannot stop the Kolibri.

[code]

### Expected behavior

We should not try

[2020-01-13 21:50] benjaoming commented on #6457
Okay, I was fixing the issue on an old release-v0.13.x and there is some new behavior that I didn't anticipate in https://github.com/learningequality/kolibri/pull/6286

[2020-01-13 21:50] #6457 closed, assigned to benjaoming

[2020-01-13 21:52] jonboiser commented on #6454
@mrpau-julius Are you able to reproduce this bug on any versions of IE11?

I don't have access to a version of Edge this old, and it doesn't reproduce on the latest versions.

There is a similar bug where if type in filter in the search box and there are no results, the arrow buttons will be not be disabled and you can click them. I will try and see if fixing that bug will also fix this one.

[2020-01-13 22:36] benjaoming opened #6459 "Eager task polling on Device=>Channels (every second)"
### Observed behavior

On an idle system, the task API is polled every second per browser login session.

This generates large log files on the server.

### Expected behavior

Throttle this? Decrease polling interval?

### User-facing consequences

None

### Errors and logs

Here is a uwsgi.log:

[code]

### Steps to reproduce

Log in as admin

### Context

n/a

[2020-01-13 22:50] benjaoming opened #6460 "disk I/O error and sqlite3.OperationalError: cannot rollback - no transaction is active"
# Observed behavior

Running into this with kolibri-server on a Raspberry Pi when accessing Import listing for a channel.

NB! The issue was fixed / not reproducible after restarting the kolibri background service (i.e. kolibri w/o CherryPy HTTP service)

Channel: Tried Sikana English and Tessa, both failing with the same issue. I have plenty of disk space and checked that everything was writable.

[2020-01-13 23:10] benjaoming commented on #6459
Maybe this is mitigated by automatically logging the user out?

[2020-01-14 00:21] frankarl opened #6461 "KaLite vs Kolibi Data Size"
why Kalite folder takes 81 GB and Kolibri only 17 GB ??

Maybe obvious but I am new user.

Thanks
…

[2020-01-14 00:22] frankarl commented on #6461
in spanish versions

[2020-01-14 04:03] indirectlylit commented on #6459
The polling is expected behavior. What size log files are you seeing? Are they rotated?

[2020-01-14 04:10] indirectlylit commented on #6461
Hi @frankarl – thanks for taking the time to sign up for github!

In the future, I'd recommend [posting in our community forums](http://community.learningequality.org/) to ask these sorts of general questions.

A lot has changed between KA Lite and Kolibri, so it's hard to make direct comparisons without more information. Are you referring to the size of the Khan Academy channel? Which specific di

[2020-01-14 04:27] frankarl commented on #6461
Hi Devon,

Yes I am kinf of a novice with Kolibri and did not make myself very clear. Mi Content folder in Kalite is 81 GB and the Content Folder in Kolibri in both cases both for Spanish Khan is only 17 GB.

Thanks a lot. I also notice a great difference between the content directories in Kolibri between the Spanish and English versions.

We have been retained to install Khan with Kolibri in 150

[2020-01-14 04:53] indirectlylit commented on #6461
Yes, I'm showing the following sizes:

| Spanish | English |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/72315090-5337d500-3646-11ea-80d4-2d9632db5a06.png) |![image](https://user-images.githubusercontent.com/2367265/72315098-5af77980-3646-11ea-8523-d5727f119801.png)|

Some of our size calculations have been updated in 0.13.0, so I would recommend actually exporting the con

[2020-01-14 04:53] #6461 closed, assigned to nobody

[2020-01-14 06:42] mrpau-julius commented on #6454
@jonboiser  On my IE11 2015, the Kolibri cannot run. I think it's another issues on Window 10 pro 2015.
![cant_IE11_2015_on_windows10](https://user-images.githubusercontent.com/38421180/72319993-a7d95f80-36db-11ea-9b4b-73efd5b9fd31.png)

[2020-01-14 07:21] mrpau-richard opened #6462 "Display the Python version where Kolibri server is running"
### Observed behavior
During the testing it's good to know on what Python version i'm running on the Kolibri server, This also helpful when it comes on reporting and debugging an issue.

Some operating Systems had a multiple pre installed Python version, and it's difficult to pinpoint on what version that Kolibri use to run.

### Expected behavior
I expect to display the Python version at the Devi

[2020-01-14 09:22] benjaoming commented on #6459
uwsgi.log is not rotated AFAIK, but there could be a mechanism that I'm not aware of. IIRC, servers use a logrotate.d configuration for this, and our command is outside.

Perhaps log rotation is a better, more fundamental answer, but it's also worth being aware of the footprint of the log archive.

Just learned that UWSGI has built-in log rotation, so we could use that? https://uwsgi-docs.readthed

[2020-01-14 13:43] radinamatic commented on #6462
cc @jredrejo as the `benchmark` command is his baby :wink:

[2020-01-14 15:21] frankarl commented on #6461
Hello Devo,

We do agree completely on the sizes and my main question is “why” of such a major discrepancies not only between Kalite and Kolibri which ia astronomical, from 17 to 81 GB but between Spanish and English in Kolibri when the size differential for both languages in Kalite was minimal. I do not know if there is a compression difference, but if the number of videos is the same a 5:1 ratio

[2020-01-14 18:12] rtibbles commented on #6461
Hi @frankarl - I think the main explanation for this difference is that over the years, Khan Academy has added a huge amount of new video content in English, most of which we now distribute over Kolibri (but we have not been updating the content packs for KA Lite for some time now).

In contrast, the amount of new Spanish content in that same period is not that big, so our compression has reduced

[2020-01-14 18:35] frankarl commented on #6461
Hello Richard,

If there are more videos in Kolibri than KaLite, then the 81 GB KALite vs 17 GB Kolibri is still more perplexing.

Thanks

[2020-01-14 18:44] jredrejo commented on #6462
Thanks, I will take care of adding it

[2020-01-14 19:23] jonboiser commented on #6168
This issue should be fixed for the other User Profile forms in #6431

[2020-01-14 19:23] #6168 closed, assigned to jonboiser

[2020-01-14 19:24] jonboiser commented on #6428
Should be fixed in #6431

[2020-01-14 19:24] #6428 closed, assigned to jonboiser

[2020-01-14 19:27] jonboiser commented on #6447
@mrpau-richard Do you remember if the percentage looks correct if it's only in the single digits (e.g. 5%)? I'm noticing on newer browsers that the progress bar will actually shorten to make more room when the progress goes from e.g 9% to 10%. That must not be happening with IE11, so maybe we'll need to add a hack like adding a non-breaking space between the number and the percentage, or give the

[2020-01-14 19:33] jonboiser commented on #6301
The two backdrops (GlobalSnackbar and KModal) actually have the same z-index of 24 (and I'm guessing the modal itself must be a little higher). So one way to mitigate this might be to put the GlobalSnackbar's backdrop higher than KModal's.

[2020-01-14 19:56] rtibbles commented on #6461
The Spanish content is smaller in Kolibri because we have done a lot more video compression to reduce the size. The number of videos in Spanish has probably not changed that much.

It is only in English that the number of videos has increased, but we have stopped it ballooning by compressing them more.

[2020-01-14 20:20] frankarl commented on #6461
Thanks a lot Richard, mystery solved !!!!!

[2020-01-14 21:29] lyw07 commented on #6158
@rtibbles sorry for the late reply.
I realize that I had this issue earlier last year and searched it on Slack - the issue could be due to sqlite 3.26.0's integration with django: https://code.djangoproject.com/ticket/29182
The fix from Django goes into Django 2.1.5 and got backported to 2.0: https://github.com/django/django/pull/10733 but never 1.11.x

[2020-01-14 22:10] jonboiser opened #6464 "KModal forms are not fully keyboard accessible because focus is not trapped"
### Observed behavior

Similar to #6043, when (shift)-tabbing through a KModal form, keyboard focus will be lost when going out of bounds:

1. If at first focusable element, Shift-Tab will take you to top of the element (but tabbing once will bring you back to the form)
1. At the last focusable element, Tab will take you to the browser chrome (in Chrome, at least).

### Expected behavior

A more c

[2020-01-14 22:35] rtibbles commented on #6158
Looks like the fix is precisely what I suggested doing: https://github.com/django/django/pull/11986/files (this is the closed PR to the 1.11 backport that was rejected as it was not a security fix).

Could you try to apply this fix by adding this pragma here: https://github.com/learningequality/kolibri/blob/release-v0.13.x/kolibri/core/sqlite/pragmas.py#L1, the `CONNECTION_PRAGMAS` are executed wh

[2020-01-14 22:35] rtibbles commented on #6158
As this might be a live issue for users with more advanced SQLite versions, I've set it to a 0.13.1 milestone, if you have capacity to do the test and fix @lyw07 please self assign.

[2020-01-14 22:37] lyw07 commented on #6158
ah I see! Thank you for the explanation! And yes, I will work on this

[2020-01-15 10:08] miyer03 opened #6466 "Tablet getting disconnected on clicking Recommended tab"
### Observed behavior
On clicking the recommended tab, the tablet gets disconnected from the server. This also occurs when you watch a video / do some activity and click the back button on the recommended tab

### Expected behavior
The tablet should not get disconnected from the server.

### User-facing consequences
Frequent disconnections lead to a lot of chaos and disengagement in the classroom

[2020-01-15 23:44] jonboiser opened #6468 "Add a simpler method to handle non-linear navigation in Immersive Pages (e.g. exiting and going "back")"
### Observed behavior

Because Kolibri uses the navigation-scarce UI variant (often called "Immersive Pages") in a lot of places, we often need to append parameters like `?last`, `?last_id`, `?searchTerm` into the URL to maintain the previous location, so that the one or two navigational elements on the page (usually an "X", "<-" button on the top navigation or "Exit..." link on the bottom) mimics

[2020-01-16 02:55] mrpau-richard opened #6469 "Coach resources items display issue"
### Observed behavior
Coach resources items display issue on exam reports page. The icon did not align to the exam item.

### Expected behavior

…

### User-facing consequences

…

### Errors and logs
![Screen Shot 2020-01-16 at 10 32 09 AM](https://user-images.githubusercontent.com/8663934/72489265-80ef6a80-384e-11ea-8467-b138a54a0619.png)
![Screen Shot 2020-01-16 at 10 33 28 AM 1](https://user-i

[2020-01-16 05:31] miyer03 commented on #6466
Attached are the nginx logs

[access.log](https://github.com/learningequality/kolibri/files/4069475/access.log)
[kolibri_uwsgi.log](https://github.com/learningequality/kolibri/files/4069476/kolibri_uwsgi.log)
[error.log](https://github.com/learningequality/kolibri/files/4069477/error.log)

[2020-01-16 06:56] mrpau-julius commented on #6455
I think it's similar issue on Windows 10 pro 2015. In the Firefox v72.0.1, the channel list are not arrange.
![cant_in_order](https://user-images.githubusercontent.com/38421180/72500457-798c8900-386f-11ea-9cd7-290f25938515.png)

[2020-01-16 14:03] KevinTripp commented on #6008
@indirectlylit We installed .13 on our server this morning and the fix looks good.  Thank you for the help!

[2020-01-16 19:48] jonboiser commented on #6454
This might be similar to #6444 , where events are being emitted even when the emitting element is "disabled" (or in the setup wizard case, a completely different element is emitting the event). We'll need to be more defensive about this.

#6458 should fix this by adding a guard against going outside of the allowable page range even if a disabled arrow button is emitting "click" events.

[2020-01-16 19:48] #6454 closed, assigned to jonboiser

[2020-01-16 19:53] jonboiser commented on #6407
@lyw07 This seems to happen more consistently when using the devserver `yarn run devserver-hot`. When running the server from the PEX, like you said, the shell prompt is restored after the `ENGINE Waiting for child threads to terminate...` log.

[2020-01-16 19:53] lyw07 commented on #6407
thank you for the information!

[2020-01-16 19:57] jonboiser commented on #6335
Should be fixed in #6458, by replacing the experimental `text-align: end` rule with `text-align: right`. Positioning of the controls is correct in RTL, but haven't look closely at the localized text to see if direction is correct without the `end` rule (e.g. in Arabic).

[2020-01-16 19:57] #6335 closed, assigned to jonboiser

[2020-01-16 20:05] jonboiser commented on #6260
In #6441, I added a "Persons" icon to make the "Individual learners" checkbox stand out a little more.

[2020-01-16 20:14] jonboiser commented on #6366
Should be fixed in #6446. Thanks @bransgithub!

[2020-01-16 20:14] #6366 closed, assigned to nobody

[2020-01-16 20:47] jonboiser commented on #6029
Should be fixed in #6465. Thanks @bransgithub! I looked around, and didn't see any other cases like this.

[2020-01-16 20:47] #6029 closed, assigned to nobody

[2020-01-16 23:51] jonboiser commented on #6466
@miyer03 In `kolibri.txt`, the only errors I see are from trying to import content from the "Balbharati Maths G3 to G10" channel. Was the server trying to download content while the class was happening?

Aside from, that, what I see in the `access.log` is this pattern:

[code]

Basically, these are the network calls for the recommended page, followed by this very long URL to `/contentnodeprogress`

[2020-01-17 05:14] mrpau-richard commented on #6447
Still the same display with a single digit percentage @jonboiser and that is the alignment of the  progress bar at the first it show up.
![Screen Shot 2020-01-17 at 1 07 24 PM](https://user-images.githubusercontent.com/8663934/72585869-9c2fa800-392a-11ea-8a50-e4c840cc4389.png)

[2020-01-17 06:19] mrpau-richard opened #6475 "Maximize full name character display issue on Firefox and IE11"
### Observed behavior
Full name text overlap to the username column when adding 120 characters without space.

### Expected behavior
The text must display properly without an overlap to the next column

### User-facing consequences

…

### Errors and logs
Observe that the text is overlap to the next column
![Screen Shot 2020-01-17 at 1 46 50 PM](https://user-images.githubusercontent.com/8663934/72

[2020-01-17 06:50] mrpau-julius commented on #6475
Similar issue on Ubuntu 18.04 Firefox 72.0.1.
![Screenshot from 2020-01-17 22-47-53](https://user-images.githubusercontent.com/38421180/72590444-a22c8580-3938-11ea-8136-684b4c001d46.png)

[2020-01-17 22:40] jonboiser opened #6477 "In TextTruncator, allow an option to apply the "shave" only if the amount of text that will be hidden is substantial"
### Observed behavior

In the implementation of TextTruncator, we always truncate the text if the text will exceed a certain max height prop.

In some cases, this leads to a situation where 75% of a paragraph is shown and the last 25% is hidden. It might have been better just to show the whole paragraph and spare the user from clicking a button to see the rest.

Example: (3 lines shown, 1 line hid

[2020-01-18 00:57] jonboiser commented on #6397
Fixed in #6476. Thanks @bransgithub!

[2020-01-18 00:57] #6397 closed, assigned to nobody

[2020-01-18 03:24] #6340 closed, assigned to jonboiser

[2020-01-18 03:26] #6452 closed, assigned to lyw07

[2020-01-20 09:52] benjaoming opened #6480 "Migration using ALTER and CREATE/UPDATE in one transaction"
### Observed behavior

Upgrades are failing for Postgres in case data is updated after schema alterations in this migration:

https://github.com/learningequality/kolibri/blob/30dcfe13713c21c582cfbb8e91fb375f9f13737a/kolibri/core/device/migrations/0005_auto_20191203_0951.py

Failure is `Cannot ALTER TABLE device_devicesettings because it has pending trigger events`

More info: https://stackoverflow

[2020-01-20 13:29] benjaoming opened #6482 "Automatically recover from Malformed Database on disposable SQLite dbs"
# Observed behavior

A report has come on a Malformed Database exception for `~/.kolibri/process_cache/cache.db`. This should of course not happen, but it seems inevitable that it occurs in multi-process environments and/or because of unclean shutdowns.

## Manual work-around

The manual fix is to delete the database files, since they are disposable:

* `~/.kolibri/process_cache/cache.db`
* `~/.ko

[2020-01-20 13:35] benjaoming opened #6483 "get_device_setting may return None"
### Observed behavior

We received a traceback in a log file (see below).

@rtibbles notes:

### Expected behavior

API works

### User-facing consequences

Not sure

### Errors and logs

[code]

### Steps to reproduce

n/a

### Context

A complicated upgrade with migration issues affecting the `device_devicesettings` table

[2020-01-20 14:03] benjaoming opened #6484 "Login screen redirect loop"
### Observed behavior

Browser view area reported to flicker - maybe 4 times per second.

It seems to be cycling between 2 login URLs:

    http://10.8.0.42/kolibri/en/user/
    http://10.8.0.42/kolibri/en/user/#/

Ref: https://github.com/iiab/iiab/issues/1532

### Expected behavior

No redirect loop

### User-facing consequences

Cannot login

### Errors and logs

No known error messages from log

[2020-01-20 16:48] jredrejo commented on #6482
I think that before using this approach we should discover why the malformed problem appears. In recent versions of kolibri we have been able to get rid of it in db.sqlite3. If now we have the problem in other dbs it's a sympthon of a problem in the code, with several threads trying to write to a database that has been left incorrectly open.

[2020-01-20 16:50] rtibbles commented on #6482
I think we should do both :)

[2020-01-20 16:56] benjaoming commented on #6482
Agreeing with @jredrejo - such exceptions should never be caught in complete silence, but logged loudly. Perhaps a setting can be added to switch off this behavior such that automated stress testing can catch it. I am also wondering if this can be related to recently reported zombie processes.

[2020-01-20 17:38] rtibbles commented on #6482
My main guess for why this is happening is because the db in question is being used inside worker threads to prevent synchronous access to the main database (to try to avoid database write errors in asynchronous tasks), I would have to check the code of the library precisely, but I would assume it is using a context manager to open the database, and so should cleanup on sigint.

My assumption then

[2020-01-20 20:19] #6312 closed, assigned to indirectlylit

[2020-01-20 21:02] indirectlylit commented on #6482
Does this mean we're just pushing the concurrent access issue from one DB to another?

[2020-01-20 21:05] indirectlylit commented on #6388
@lyw07 would you mind posting a short summary of what the problem was

[2020-01-20 21:10] indirectlylit commented on #6122
@nucleogenesis tried for a couple days trying to reproduce this and was unable to. There seemed to be something slightly different between running it in production through google cloud versus in production locally.

[2020-01-20 21:40] lyw07 commented on #6388
@indirectlylit I'm sorry I'm not too sure what caused the problem, but the issue was that when 0.13.0 was installed, the old version of 0.12.9 was uninstalled uncleanly with `sudo apt-get purge kolibri`. To resolve this issue, I uninstalled 0.13.0, removed the remaining kolibri files for 0.12.9 in `/usr/lib/python3/dist-packages/kolibri` and reinstalled kolibri 0.13.0.

I'm not able to reproduce t

[2020-01-20 23:43] indirectlylit commented on #6434
@dylanmccall this should be addressed by the change @lyw07 made in #6436, and will be included in 0.13.1

Feel free to give it a try!

[2020-01-20 23:43] #6434 closed, assigned to lyw07

[2020-01-21 00:40] #6439 closed, assigned to lyw07

[2020-01-21 00:46] indirectlylit commented on #6462
thanks for the recommendation @mrpau-richard - good idea.

[2020-01-21 00:46] #6462 closed, assigned to jredrejo

[2020-01-21 01:03] #6043 closed, assigned to jonboiser

[2020-01-21 01:05] indirectlylit commented on #6008
very glad to hear - thanks for the heads up!

FYI, we'll be releasing a 0.13.1 patch in a week or two with some follow-up fixes

[2020-01-21 01:08] indirectlylit commented on #6335
should be fine using `right` because our RTL CSS transformation will flip it the other way

[2020-01-21 01:24] indirectlylit commented on #6475
should be adding a scrollbar: https://github.com/learningequality/kolibri/pull/5134

[2020-01-21 01:25] indirectlylit commented on #5316
@khangmach would you mind checking if this behavior is still reproducible? I think it may have been addressed with @jonboiser 's recent refactor of the app bar.

[2020-01-21 01:28] indirectlylit commented on #6397
@bransgithub feel free to submit a PR adding yourself to https://github.com/learningequality/kolibri/blob/develop/AUTHORS.md

[2020-01-21 01:33] indirectlylit commented on #6397
whoops, I see you already did that - nice!
https://github.com/learningequality/kolibri/pull/6476/files#diff-a8b2df7fd69554249528b6ce108f533bR66

[2020-01-21 01:38] indirectlylit commented on #6284
@jamalex would you mind reviewing #6432

[2020-01-21 01:38] indirectlylit commented on #6388
thank you!

[2020-01-21 07:25] miyer03 commented on #6466
@jonboiser screen shot of the recommended tab. When we click on the arrow on the right it shows more content. Otherwise on the page it shows less. Notable thing is its happening only for one ID a3 out of the other ids I created. It tested with 2 to 3 ids.

![Screenshot_20160119-052837](https://user-images.githubusercontent.com/8583367/72783800-453d1200-3c4d-11ea-99cd-4c21efab3557.png)

[2020-01-21 16:36] indirectlylit commented on #6466
Videos from @miyer03:

* https://drive.google.com/file/d/1pWF28qODtZ5S7Dw8cytPLJjS5D4EQBe2/view
* https://drive.google.com/file/d/1yyTIDWq0U3SzoN9b-CE0G7IBNeAx8aPq/view

[2020-01-21 19:30] indirectlylit commented on #6358
also reported by @rtibbles

[2020-01-21 21:40] jayoshih opened #6487 "Some transcripts don't get highlighted based on where the video is"
### Observed behavior
When I open the transcript for some videos (not all, but some), the transcript doesn't get highlighted based on where the video is at
![transcript](https://user-images.githubusercontent.com/7447496/72845469-89cbac00-3c53-11ea-9c9c-180cf878933c.gif)

### Expected behavior

I expected to get the left border when the video started playing

### User-facing consequences

Nothing t

[2020-01-21 21:47] khangmach commented on #5316
Yup I'm not getting this behavior anymore.

[2020-01-21 22:20] #5316 closed, assigned to nobody

[2020-01-21 22:48] ralphiee22 commented on #6480
My PR fixes the issue, but still leaves open the question how to catch these types of errors in the future. A non-automated solution could be gherkins as suggested by @benjaoming, but we should flag them for "risky" migrations. Another one could be more stringent review of PRs that add migrations. As we learn about these types of migration issues and learn how to deal with them, we could create a

[2020-01-22 00:04] ralphiee22 commented on #6483
After looking at the code, I am wondering how did the cached value get set to None, as it appears there are safeguards https://github.com/learningequality/kolibri/blob/release-v0.13.x/kolibri/core/device/models.py#L36.
Other than that, `getattr` should have not been called with a `None` object.

[2020-01-22 05:16] rtibbles commented on #6480
I think the simplest automated solution would be to make a custom linting rule that ensures that `RunPython` operations never occur anywhere but as the last element of migrations (in the case where there are operations other than `RunPython`)? That should catch the majority of cases, I think.

[2020-01-22 05:27] rtibbles commented on #6482
To some extent - although the chance of synchronous writes is significantly lower on this DB, and the corruption issue means that non-essential data is being corrupted, rather than the default database.

[2020-01-22 13:32] benjaoming commented on #6483
»If something can be assigned None, it will at some point be assigned None«
- benjaoming, January 22 2020 :)

But yeah, that's also a good question. I think it's okay to just say "it's complicated" since it followed from a series of broken upgrade attempts.. processes killed, migrations half run etc.

[2020-01-22 13:36] benjaoming commented on #6480
Yes, I have often fantasized about adding linting on migrations, as I don't like when they're called `0123_auto_some_timestamp` - names should be verbose etc.

Data migrations and schema migrations should not be mixed, would be great to catch this in linting as well, really good idea @rtibbles ! :+1:

[2020-01-22 14:32] indirectlylit commented on #6483
There are others who would argue that if a bug hasn't been correctly explained, it hasn't actually been addressed.

The real truth is somewhere in the middle and usually has to do with deadlines and priorities.

[2020-01-22 16:30] jredrejo commented on #6466
@jonboiser  your comment reminded me of this PR I did almost a year ago: #5404

Also,  looking at his kolibril.txt log I see this error happening a couple of times aprox at the same hours @miyer03 had the problems.:
[code]
This should not be related as I can't think of kolibri accessing to remotechannel to get the Recommended tab, unless it was done by another user and caused some problems to the

[2020-01-22 19:58] #6158 closed, assigned to lyw07

[2020-01-22 20:10] indirectlylit commented on #6466
@miyer03 the error posted above (`Temporary failure in name resolution`) implies a network configuration issue, as though the router thinks it might be online and is trying to resolve a DNS request.

[See google search](https://www.google.com/search?ei=pqkoXs2dA4n3-gSpq5_IAg&q=%22Temporary+failure+in+name+resolution%22&oq=%22Temporary+failure+in+name+resolution%22&gs_l=psy-ab.3..0i67l9j0.3821.4495

[2020-01-24 21:50] jonboiser opened #6496 "On Firefox, username on CoreMenu has a blank space to its right"
### Observed behavior

There's an extra blank space next to the user name (or covering it completely). Might be related to the overflow-x rule, since removing it will also remove the space.

https://github.com/learningequality/kolibri/blob/a1e53e541bfd8f0b4c55ef2d8faf2222039a6ab6/kolibri/core/assets/src/views/AppBar.vue#L221

Some screenshots:

username : 'jb'
<img width="233" alt="Screen Shot 202

[2020-01-30 10:06] intelliant01 opened #6502 "Tasks don't complete in Device - Channels module"
### Observed behavior

Tasks are no longer completing after an abrupt shutdown (power to the server unplugged) while an update task was ongoing.
The tasks were completing and had even cleared them prior to the abrupt shutdown.

### Expected behavior

Tasks should complete.

### User-facing consequences

Can't accomplish any task in the Device -> Channels module.

### Errors and logs

Herein are at

[2020-01-30 18:08] indirectlylit commented on #6417
this is done

[2020-01-30 18:08] #6417 closed, assigned to indirectlylit

[2020-01-30 18:10] #6157 closed, assigned to rtibbles

[2020-01-30 18:12] indirectlylit commented on #6282
@jonboiser is this issue still relevant?

[2020-01-30 18:44] lyw07 commented on #6448
I'm not able to reproduce this issue and wondering if I can get some more information on this.
I tried:
1. import a channel with a PDF file and an exercise on Kolibri
2. add a new exercise on Studio and publish the channel
3. on Kolibri, click Manage --> Import More --> Kolibri Studio --> View Changes --> Update Channel

I also tried:
1. import a channel with a PDF file and two exercises (after th

[2020-01-30 19:56] #6284 closed, assigned to ralphiee22

[2020-01-30 20:17] indirectlylit commented on #6502
Thanks for the report @intelliant01!

I'm a bit confused though. I believe the expected behavior for both 0.12.x and 0.13.0 is that any transfers that are outstanding during a hard shutdown will "fail" and need to be manually re-initiated.

Would you mind clarifying a couple things?

Are you saying that in 0.12.x, content transfers would resume after a hard shutdown of Kolibri? I just tested on 0.

[2020-01-31 01:25] intelliant01 commented on #6502
No. They don't resume. They disappear.

Yes, they stop working i.e. all content tasks can be re-initiated but they never complete.

If there is still any doubt then shall create a gif and share.

[2020-01-31 16:20] indirectlylit commented on #6502
Thank you! Yes, a gif would definitely be helpful. It also sounds somewhat similar but slightly different to a problem reported in the forums here: https://community.learningequality.org/t/import-export-issues/1396

[2020-01-31 16:54] indirectlylit opened #6508 "FacilityStatisticsTestCase intermittently failing in 0.13"
### Observed behavior

We're seeing intermittent test failures in PRs that do not affect this code.

For example, [this test run](https://travis-ci.org/learningequality/kolibri/jobs/644067096?utm_medium=notification&utm_source=github_status) failed in https://github.com/learningequality/kolibri/pull/6503. [Re-ran the tests](https://travis-ci.org/learningequality/kolibri/jobs/644067096?utm_medium=n

[2020-01-31 17:05] #6447 closed, assigned to nucleogenesis

[2020-01-31 21:26] indirectlylit opened #6509 "incorrect counting of resources when importing duplicates"
### Observed behavior

reported by @jamalex

### Expected behavior

The intended behavior here is that it would show 46 of 46 because we are now treating duplicates as distinct resources from the end-user’s perspective.

However, the total file size should represent only the newly transferred stuff. For example if you imported 5 resources, all dupes, it should say “5 of 5 resources (0 MB of 0 MB)

[2020-01-31 22:23] jeepurs commented on #6443
I may have seen a related bug, in the form of the button hanging off the border of the expected square.

UN Women country server (Mexico): https://mexico-kolibri.mylearningpathway.org
Browser: Chrome 77.0.3865.75
Version: v0.12

I see this bug when I open developer tools and the window is reduced:

![image](https://user-images.githubusercontent.com/5150483/73578756-47655480-4435-11ea-8204-1e937c06

[2020-02-01 02:06] intelliant01 commented on #6502
My experience is similar to point 1 therein, though I have not tried the uninstall and reinstall step -

However I do remember being able to start and complete multiple imports. They did execute sequentially but they did get enlisted in the tasks list simultaneously and did complete. It was only after a hard shutdown that I experienced the problem.

Shall try to provide a gif soon as I may be away

[2020-02-02 00:59] indirectlylit opened #6512 "kolibri-tools 0.13.0-dev.10 is not available"
### Observed behavior

Adding `"kolibri-tools": "0.13.0-dev.10"` to a package file results in:

[code]

The previous version (`dev9`) is pinned to `eslint-plugin-vue "^5.2.2"`

### Expected behavior

`kolibri-tools` should have the latest code published

### User-facing consequences

I'm cannot currently override the `vue/max-len` rule in the design system because it was introduced in `eslint-plug

[2020-02-02 01:12] indirectlylit commented on #6512
see also https://github.com/learningequality/kolibri/pull/6510

[2020-02-03 08:37] mrpau-richard opened #6513 "kolibri start command errors with options.ini incorrect values"
### Observed behavior
This issue was reported at the [community](https://community.learningequality.org/t/kolibri-failed-to-start-additional-information-can-be-found/1394) and I was able to reproduced it on Windows 7.

The errors will display only when you run the `kolibri start` command at the command prompt.

### Expected behavior
Maybe we can handle these errors and append it on the log files.

[2020-02-03 10:33] mrpau-richard commented on #6513
We tackle this issue during the euro-asia sync-up and  came up with a solution to create a placeholder for the `options.ini` format.

[2020-02-03 17:48] radinamatic commented on #6516
From the [original issue](https://github.com/learningequality/kolibri/issues/4560#issuecomment-568003217):

@indirectlylit 2 questions:

1. We never covered anything related to using _externally-built plugins_ in the user documentation. Which plugin would be a good example to add?
2. Is this already stable enough to be added to the docs?

[2020-02-03 22:40] indirectlylit opened #6514 "create linting rule or unit test to ensure that RunPython is always the last element of a migration"
### Observed behavior

Follow-up from #6480

It is possible to write migrations that work in sqlite but not in postgresql

### Expected behavior

We should create a linting rule or unit test to ensure that `RunPython` is always the last element of a migration, which will help protect against the behavior described there

### User-facing consequences

extra time spent finding and fixing bugs

### E

[2020-02-03 22:44] indirectlylit opened #6515 "create linting rule to ensure that migrations are given meaningful names"
### Observed behavior

We have many migrations with auto-generated names such as `/0005_auto_20191203_0951.py`

### Expected behavior

* We should force developers to name new migrations meaningfully with a linting rule
* Existing migrations should either be meaningfully renamed, or ignored from the linting rule

### User-facing consequences

developers have a harder time scanning the history of m

[2020-02-03 22:45] indirectlylit commented on #6480
created follow-up issues related to linting:

* https://github.com/learningequality/kolibri/issues/6514 (`RunPython` behavior)
* https://github.com/learningequality/kolibri/issues/6515 (migration naming)

[2020-02-03 22:53] indirectlylit commented on #6513
@mrpau-richard are you saying that both the users in that thread created the same invalid `options.ini` files?

[2020-02-03 22:57] indirectlylit commented on #6516
that's a good point. I'll transfer this to Kolibri internal dev docs

[2020-02-04 06:36] mrpau-richard commented on #6513
In addition to [this](https://github.com/learningequality/kolibri/issues/6513#issuecomment-581345844)
The `options.ini` file with a placeholder format inside, similar to [this sample](https://github.com/postgres/postgres/blob/master/src/backend/utils/misc/postgresql.conf.sample) will be automatically added at the kolibri home folder after the `Kolibri` installation

I'm not sure with the other use

[2020-02-04 14:16] benjaoming commented on #6515
This would fit really well as a pre-commit hook, disqualifying a new migration file if it contains `_auto_` in the name.

[2020-02-04 22:53] indirectlylit commented on #6515
we'll need something that breaks the build because pre-commit hooks can be bypassed or not installed

[2020-02-04 23:22] indirectlylit opened #6518 "Import/export issues"
### Observed behavior

Observed by a [user in the forums](https://community.learningequality.org/t/import-export-issues/1396):

### Expected behavior

import runs correctly

### User-facing consequences

cannot get content

### Errors and logs

[code]

### Steps to reproduce

Unknown

### Context

Kolibri 0.13.0
Windows 10 Home
Windows Explorer

[2020-02-04 23:23] indirectlylit commented on #6518
might be related to https://github.com/learningequality/kolibri/issues/6157 and https://github.com/learningequality/kolibri/pull/6378

[2020-02-05 07:52] mrpau-richard opened #6519 "Check that Kolibri does not fail to start when deleting the home folder contents"
### Observed behavior
During the testing of Kolibri mac installer I found this issue when deleting the home folder contents will cause an error and kolibri can't start the server. here's the [issue](https://github.com/learningequality/kolibri-installer-mac/issues/51#issuecomment-581786009) I reported on mac installer repo

@kollivier has a comment about this issue here https://github.com/learninge

[2020-02-05 18:22] ivanistheone opened #6521 "Content selection checkboxes do not show content in updated version"
### Observed behavior

Using the IMPORT MORE function in Kolibri shows two videos in the testing folder:
![Screen Shot 2020-02-05 at 1 06 15 PM](https://user-images.githubusercontent.com/163966/73869511-5b83ca00-4818-11ea-8463-65af90721070.png)

### Expected behavior
There should be three videos in that folder, two alrady on device and one new
![Screen Shot 2020-02-05 at 1 06 15 PM](https://user-i

[2020-02-05 18:42] ivanistheone commented on #6521
@jonboiser said: The ‘coral reefs’ node, if you look at the contentnode_granular network call has a ‘importable: false’ flag, which is why it’s not being shown on the UI.

@rtibbles said: Ah, this is probably an issue with the importability annotation not being refreshed on version change then. Because they are expensive, they are cached for an hour.

[2020-02-05 18:44] rtibbles commented on #6521
@ivanistheone said: the simplest solution is to clear these caches after a channel is updated.

[2020-02-05 18:52] ivanistheone commented on #6448
Currently impossible to reproduce the DB locking issue.

Tracking the does-not-show-content-available-in-new-version-due-to-caching issue here:
https://github.com/learningequality/kolibri/issues/6521

[2020-02-06 18:49] jonboiser commented on #6455
The issue with the weird element height while a channel name is being dragged should be fixed in #6506

@mrpau-julius Could you investigate the issue in your comment and write a more detailed issue. What stands out to me is that the browser on the right is that the channels are in the reverse order as the first two.

[2020-02-06 18:49] #6455 closed, assigned to jonboiser

[2020-02-06 18:49] jonboiser commented on #6496
Should be fixed in #6506, by adding an extra overflow rule, which I'm guessing removes the scrollbar (prob what the grey space was).

[2020-02-06 18:49] #6496 closed, assigned to jonboiser

[2020-02-06 18:51] jonboiser commented on #6444
Fixed in #6506 by replacing the "primary" button in the privacy modal with a plain-old button without the `type=submit` attribute, as this appears to be interpreted by IE11 as the submit button for the higher-level form inside the setup wizard. 🤷‍♂

[2020-02-06 18:51] #6444 closed, assigned to jonboiser

[2020-02-06 18:52] jonboiser commented on #6443
Fixed in #6506 by giving the "select resource" button more room in the card, so it can grow into the card instead of into the right overflow area.

[2020-02-06 22:52] nucleogenesis opened #6525 "Videos with subtitles not working occasionally"
### Observed behavior

I was testing 0.12.10-beta3 and imported Touchable Earth - the videos would not learn. After some debugging with help from @rtibbles we noted that it was related to the loading order between the video library and the i18n initialization.

If the language was set as `null` by the video lib because the global i18n data isn't loaded yet, then the whole media player does not loa

[2020-02-06 23:16] rtibbles commented on #6480
Fixed in #6488

[2020-02-06 23:16] #6480 closed, assigned to ralphiee22

[2020-02-06 23:19] rtibbles commented on #6483
Fixed in #6517

[2020-02-06 23:19] #6483 closed, assigned to ralphiee22

[2020-02-07 09:09] cpauya commented on #6480
I confirm that #6488 fixed the issue: **specifically the exception during upgrade from v0.12.2 to v0.13.0 using PostgreSQL-9.5**.

Here are the steps to reproduce it, I suggest to use a Virtual Machine so you can take snapshots:

**Environment**
* [Ubuntu 16.04.6 Server 64-bit](http://releases.ubuntu.com/16.04.6/)
* PostgreSQL-9.5 -- Install these via Apt:
    * `postgresql-9.5` and;
    * `postgr

[2020-02-07 17:30] rtibbles commented on #5877
Fixed in #6403

[2020-02-07 17:30] #5877 closed, assigned to rtibbles, lyw07

[2020-02-08 06:28] lyw07 commented on #6513
Is this a windows 7 specific issue?
I'm on Windows 10 and using the options.ini file provided in this issue. I'm seeing the warning described by the user
`WARNING Ignoring unknown section in options file C:\Users\IEUser\.kolibri\options.ini under top level: Debug.`, which does not stop kolibri from running.
but I'm not seeing this error described in this issue: `configobj.DuplicateError: Duplicate

[2020-02-08 09:43] benjaoming commented on #6480
@radinamatic note the steps that @cpauya has found for Postgres above.

A little extra note for Postgres stuff: It's possible to assign access to a Postgres user without setting a password for the role, if we use the Peer authentication mechanism for local connections. This will also use a Unix socket which is faster. I mean, it's for when we want to simplify instructions in a tutorial or automate

[2020-02-10 10:38] mrpau-richard commented on #6513
I think it is @lyw07 I tested it on Windows 10 and I can't reproduce this `configobj.DuplicateError: Duplicate section name at line 8.` error. But when I tried to modify the options.ini with invalid drive path (sample ` K:\KolibriContent`) there is another error saying the path does not exist and the Kolibri Windows alert message shows up.

[2020-02-10 14:45] radinamatic opened #6528 "Cannot import a second channel from Studio in IE11"
### Observed behavior
Noticed while testing the 0.13.1b1.

When using IE11 it seems to be possible to import resources only from one public channel on Studio, as when you make a second attempt and press the `Select resources` button for any other  channel, nothing happens (user would expect to see the channel topic tree loading at this point).

- It is still possible to import unlisted channels us

[2020-02-10 15:01] radinamatic commented on #6443
Apparently the cards in other languages are more greedy, and the above wasn't _enough_ room.

![Win7 (new start)  Running  - Oracle VM VirtualBox_303](https://user-images.githubusercontent.com/1457929/74160994-9160ee00-4c1e-11ea-8701-ce57b68bcd4b.png)

[2020-02-10 18:53] radinamatic commented on #6528
Not able to replicate in Edge on Windows 10, so might be an IE11-only issue.

[2020-02-10 19:19] jonboiser commented on #6443
@nucleogenesis I think maybe using the flex-grow for that cell approach might be best for this button if there's no optimal width for this element.

[2020-02-10 20:05] jonboiser commented on #6528
Based on how the problem manifests, this might be due to #5343, but that's not specific to a channel being _second_, but simply that it's a channel that has never been viewed by the Kolibri server (and doesn't have its metadata DB downloaded yet).

If that's the case, there is a workaround for now which is to refresh the page after the metadata DB has been successfully downloaded.

[2020-02-10 20:11] radinamatic commented on #6528
So refresh **before** pressing the `Select resources` button?
Isn't the metadata DB downloaded after that button is pressed?

[2020-02-10 20:14] jonboiser commented on #6528
Refresh after pressing "select resources" and getting the blank page with the header saying "Loading channel..." . Is that what you see too when you get this issue?

[2020-02-10 20:33] radinamatic commented on #6528
I don't get the blank page (or any _new_ page for that matter), after pressing `Select resources` button.
That action simply has no effect at all, and refreshing the page afterwards just brings the `Kolibri Studio channels` again.

![IE11-refresh](https://user-images.githubusercontent.com/1457929/74187431-cf750680-4c4c-11ea-9dbd-18e1030db38a.gif)

[2020-02-10 20:54] jonboiser commented on #6528
I'm not able to reproduce this on Browserstack (Win 7, IE11, devserver). Could you try to see if it works when clicking the button with the keyboard?

[2020-02-10 21:00] radinamatic commented on #6528
Hm, more issues... None of the `Select resources` buttons are focusable when navigating by keyboard using the TAB key:

![IE11-keyboard](https://user-images.githubusercontent.com/1457929/74189451-b2423700-4c50-11ea-8353-c376612714c9.gif)

[2020-02-10 21:04] jonboiser commented on #6528
Not seeing the keyboard issue that on my browserstack setup either. I'm guessing the problems you're seeing have to do with a general "unclickability" of those "select resources links".

Do you at least see URLs appear in the bottom status bar when you hover over them?

Do direct links like this: http://localhost:8000/fr-fr/device/#/content/channels/0705df55d9745fefa08b20f8bf4cc5bf still work?

[2020-02-10 21:15] laurenlichtman commented on #6521
I shared a video with @lyw07 demonstrating what occurred when I did this with 0.13.1b1.

[2020-02-10 21:21] radinamatic commented on #6528
Yes to both, I can right click and open the link all right...

On another hand, is it intentional that those links appear `disabled` when inspected? :confused:

![a-button-disabled](https://user-images.githubusercontent.com/1457929/74191316-ac9a2080-4c53-11ea-8524-08081b4e79f7.gif)

[2020-02-10 21:29] lyw07 opened #6529 "suggested number for questions is empty when no exercises are selected in quiz"
### Observed behavior

The suggested number for questions is empty when no exercises are selected during creating a quiz.

### Expected behavior

The suggested number should be 0 if no exercises are selected

[code]
### User-facing consequences

…

### Errors and logs

<img width="1001" alt="Screen Shot 2020-02-10 at 1 24 11 PM" src="https://user-images.githubusercontent.com/19424916/74191694-f1e5

[2020-02-10 21:38] jonboiser commented on #6528
That might be it: the buttons are disabled. There's logic that says to disable this button if there are any "active" tasks (tasks not completed or canceled) in the queue. Are there any tasks running?

I feel like this blocking is something we wanted to remove in 0.13, but only when it's "safe", of which "safeness" hasn't been fully worked out yet. At the same time this code doesn't look like it wa

[2020-02-10 21:42] radinamatic commented on #6528
No tasks running, previous import has finished and labeled as completed, but I did not clear the task.
Let me see if something changes when I clear the task.

[2020-02-10 21:43] jonboiser commented on #6528
Actually "active" will include "completed" tasks as well, based on the filter's implementation

https://github.com/learningequality/kolibri/blob/698a013e793d0b0697a57973466a4f560b9dbe72/kolibri/plugins/device/assets/src/modules/manageContent/index.js#L105-L108

[2020-02-10 21:48] radinamatic commented on #6528
Is that really the best way to label tasks? It means that the user has to manually clear all completed tasks for the queue to be considered empty and the new import able to begin...? It does not sound very user-friendly to me.

[2020-02-10 21:52] rtibbles commented on #6528
Also worth noting that the metadata import task now runs in a separate queue from the other tasks, so that it gets fast tracked past long running download tasks.

[2020-02-10 21:59] jonboiser commented on #6528
yeah, since activetasklist is only used on this page, it makes sense to me to unblock the buttons when there are no canceled OR completed tasks to resolve part of this issue.

[2020-02-10 22:01] radinamatic commented on #6528
Confirmed that I'm able to import a _second_ channel (and more after) if I manually clear the previous completed task.

This happens only in IE11, in FF & Chrome is possible to import resources from new public channels without clearing the completed tasks.

[2020-02-10 22:48] jonboiser commented on #6528
That's really odd. Now it seems like there's a bug with FF and Chrome, since the buttons should be disable according to the code 🤷‍♂

[2020-02-10 22:50] rtibbles commented on #6528
But aren't we meant to be letting people import more while something else is already importing? The priority queue allows the metadata task to go ahead regardless of current imports, so they can just keep queueing up.

[2020-02-10 22:53] jonboiser commented on #6528
Yeah, the "Import more" menu option is not disabled on "Device > Channels" unless a channel is being deleted.

It's possible that we disabled the "Select resources" button b/c of the original issue with the metadata download step effectively blocking up the queue, and just forgot to remove that disabling logic?

[2020-02-10 23:05] jonboiser commented on #6443
@radinamatic Do you think french is has the longest message for this particular button? We can just keep allocating more space in the min-width rule for the button to accommodate french.

[2020-02-10 23:11] rtibbles commented on #6528
That sounds well within the realms of plausibility!

[2020-02-11 00:22] jonboiser commented on #6528
To resolve this issue, let's just remove the disabling on the "Select Resource" button altogether.

[2020-02-11 01:39] jonboiser commented on #6469
Fixed in #6505

[2020-02-11 01:39] #6469 closed, assigned to nucleogenesis

[2020-02-11 01:51] jonboiser commented on #6521
@ivanistheone Is there a workaround you know for this? If this is indeed a cache issue, then usually restarting the server would fix it.

[2020-02-11 01:56] rtibbles commented on #6521
Note that in this case the cache used for the import availability is persisted to disk for it to be shared across processes, so restarting will not clear this particular cache. Clearing it on channel upgrade seems like the simplest. Will do a quick PR for this tomorrow.

[2020-02-11 15:47] rtibbles commented on #6521
As a least resistance fix, I am only going to clear the cache for Studio annotation, as that is the most likely to change in this scenario - and also the simplest to clear.

[2020-02-11 15:48] rtibbles commented on #6521
Peer and disk import will rely on the cache timeout instead - which seems reasonable, as they will tend to update on much longer timescales.

[2020-02-11 17:15] radinamatic commented on #6443
I checked all the languages, @jonboiser, and French and Brazilian Portuguese are the only ones that are cut out.

![Win7 (new start)  Running  - Oracle VM VirtualBox_308](https://user-images.githubusercontent.com/1457929/74260748-5e8c2800-4cfa-11ea-9c45-664759ac1642.png)

[2020-02-11 18:10] ivanistheone commented on #6521
That seems reasonable indeed.

The only scenario I can think of where this could be an issue is someone trying to do a device-to-device transfer of a large channel (e.g. 32G) using an external disk that doesn't fit the whole channel (e.g. 16G), using an approach like:
 - export chunk 1
 - import chunk 1
 - rm -rf on disk
 - export chunk 2
 - import chunk 2

It's a prettttty rare scenario though, a

[2020-02-11 18:12] rtibbles commented on #6521
I changed my mind and just implemented the full thing just for consistency.

[2020-02-11 18:12] rtibbles commented on #6521
See PR above!

[2020-02-11 18:14] rtibbles commented on #6521
Oh, actually read through your scenario - yeah, nothing here would fix that, because that wouldn't be counted as an upgrade, and we have no other way of knowing that any change has taken place.

[2020-02-11 18:36] indirectlylit commented on #6528
sounds good

[2020-02-11 19:10] jredrejo opened #6534 "Database is open while the server is idle"
### Observed behavior
After kolibri starts, the db is kept open, with the journal file created, even if the server is idle, not receiving any query. This has produced corruptions in the db in the past.

### Expected behavior
Once the server starts, the db should be closed and not journal should appear while there are not requests  nor jobs happening.

### User-facing consequences

Possible corrupt

[2020-02-11 19:11] jeepurs commented on #4641
Update: today when I was registering @rtibbles a couple new accounts on the http://jordan-kolibri.mylearningpathway.org

Same browser and machine I've used as always so the specs should be available above ^^

Might it do with the fact that I view at 200%?

[2020-02-11 19:37] rtibbles commented on #6521
Fixed in #6533

[2020-02-11 19:37] #6521 closed, assigned to rtibbles

[2020-02-11 19:48] jonboiser commented on #6443
@radinamatic Thanks for going through all the languages. I think the initial solution was the least invasive, but I'm going to have to make a bigger change to the layout so it works for all languages.

[2020-02-11 23:06] lyw07 commented on #6513
@mrpau-richard thank you for testing! I got a windows 7 VM and tested today but was unable to reproduce this issue there. This is what I got with the options.ini provided in the issue:

![VirtualBox_WINDOWS7_11_02_2020_15_04_16](https://user-images.githubusercontent.com/19424916/74287861-d0a34380-4cdf-11ea-8e86-42e1af75a2f9.png)

Do you recall if the error message occurred before or after the serv

[2020-02-12 18:16] indirectlylit commented on #6513
removing from 0.13.1 milestone because there are still open questions. There might be multiple issues at play here. Seems like clarification is necessary?

[2020-02-12 18:23] #6122 closed, assigned to nucleogenesis

[2020-02-12 18:38] lyw07 opened #6541 "unable to see channel tree and import content from disk with postgresql"
### Observed behavior

When I'm trying to import channel from studio/disk, I'm not able to see the detailed channel tree, although I'm still able to import the entire channel by clicking `Select all`.

<img width="1211" alt="Screen Shot 2020-02-12 at 10 32 20 AM" src="https://user-images.githubusercontent.com/19424916/74365661-5fb56780-4d83-11ea-97e6-8161e5f7dae0.png">

I can confirm that this is

[2020-02-12 20:31] jamalex opened #6543 "Migrating from 0.6 to 0.13 breaks"
### Observed behavior

Using a 0.6 database, trying to run migrations using the 0.13 codebase threw an exception, seemingly because there's no "default facility".

### Expected behavior

Successful upgrade migration.

### User-facing consequences

Inability to upgrade, being left in an intermediate state.

### Errors and logs
[code]

…

### Steps to reproduce

(private) database example can be pro

[2020-02-12 20:32] jamalex commented on #6543
Flagging for @bjester since it looks like he may be familiar with the migration.

[2020-02-12 21:45] jonboiser opened #6545 "Add instructions for running with postgresql locally (and production?) in dev docs"
I don't think there are instructions on how to set up Kolibri to use Postgres as an alternative DB. Here's what @lyw07 shared with me on how to do it:

1. Install postgresql (`brew install postgresql` if you have mac + homebrew)
1. install psycopg2-binary from pip (`pip install psycog2-binary`)
1. set env var `KOLIBRI_DATABASE_ENGINE` to postgres
1. set other env vars `KOLIBRI_DATABASE_NAME`, `KOL

[2020-02-12 23:14] indirectlylit commented on #6545
Thanks, yes. This was [discussed](https://www.notion.so/learningequality/Add-Using-PostgreSQL-with-Kolibri-tutorial-to-user-docs-6c5cd78133d648df9147bc0cc74052d5) in the [last dev meeting](https://www.notion.so/learningequality/2020-02-10-Dev-Meeting-d854cc0bf3194ecdade3ab047a9103d1)

@cpauya made a good initial start of instructions here: https://github.com/learningequality/kolibri/issues/6480#is

[2020-02-12 23:39] jonboiser commented on #6376
Unforunately, this unwanted re-ordering issue is still happening when using Postgresql, except that the channel goes to the top of the list.

[2020-02-12 23:48] lyw07 commented on #6534
fixed in #6535

[2020-02-12 23:48] #6534 closed, assigned to jredrejo

[2020-02-12 23:50] lyw07 commented on #6518
fixed in #6527

[2020-02-12 23:50] #6518 closed, assigned to jredrejo

[2020-02-12 23:57] #6443 closed, assigned to jonboiser

[2020-02-12 23:57] #6528 closed, assigned to jonboiser

[2020-02-13 09:20] mrpau-richard commented on #6513
@lyw07 I think the cause of this error is that I have existing `Deployment` value when I copy the user `.ini` config.

![Screen Shot 2020-02-13 at 5 32 12 PM](https://user-images.githubusercontent.com/8663934/74420704-d8511c80-4e86-11ea-9b2a-f94f97fbd36e.png)

[2020-02-13 15:38] radinamatic opened #6551 "Select drive for export modal has unnecessary scrollbar"
### Observed behavior
Select drive to export resources or channels seems to be limited in height, displays a scrollbar and effectively hides the other drives available for export.

![select-unit-modal](https://user-images.githubusercontent.com/1457929/74449968-a6878800-4e7d-11ea-9dd4-c51067e69818.gif)

On smaller displays (responsive mode in Chrome) the scrollbar is much thinner and even harder to

[2020-02-13 16:54] radinamatic commented on #6513
Seems the issue with `configobj.DuplicateError: Duplicate section name at line 8.` error is clarified.

It's unclear how the user from the forums got to have this `options.ini` file... :thinking:
When we first started documenting it on our docs (v0.11), the only 2 sections mentioned were `[Deployment]` and `[Server]`, so the rest must have came from their own experimentation.

My guess is that thi

[2020-02-13 17:16] lyw07 commented on #6482
fixed in #6511 and #6523

[2020-02-13 17:16] #6482 closed, assigned to jredrejo

[2020-02-13 17:16] lyw07 commented on #6541
fixed in #6544

[2020-02-13 17:16] #6541 closed, assigned to lyw07

[2020-02-13 17:21] lyw07 commented on #6513
Hi @mrpau-richard , thank you for testing! I notice that there are two sections `[Deployment]` in the options.ini file. Do you mind combining them into one and trying it again? Thank you so much!

Again, thank you both for looking into this. I agree that documentation and the default options.ini file would help a lot for users who haven't set up their customized options.ini file. We now just need

[2020-02-13 19:31] jtamiace opened #6552 "Unable to access Learners tab in Coach > Reports"
### Observed behavior

When in Coach > Reports, and after clicking the "Learners" subtab, the page goes blank

![learners](https://user-images.githubusercontent.com/6668144/74470984-4fb98880-4e54-11ea-8866-a866f85211fd.gif)

### Errors and logs

<img width="547" alt="Screen Shot 2020-02-13 at 11 28 33 AM" src="https://user-images.githubusercontent.com/6668144/74470787-01a48500-4e54-11ea-95c5-58eac

[2020-02-13 19:40] jonboiser commented on #6552
@jtamiace Can you see if this happens on other classrooms? Based on the error, I think this might be caused by a channel deletion, or something like that.

[2020-02-13 19:49] jonboiser commented on #6552
@indirectlylit I think we need to make filter callback safer in case `this.contentMap[ID]` is undefined, like use `lodash/get(this.contentMap, [status.content_id, 'kind'])`.

[code]

[2020-02-13 20:05] jtamiace commented on #6552
I am not able to reproduce in other classes

[2020-02-13 20:05] jonboiser commented on #6552
This might be the offending lesson

http://kolibribeta.learningequality.org/en/coach/#/f6e7f562bb0ea654340c726e1f81bbe9/reports/lessons/558cb953562ebd5da0693a15332de8e2/resources

Get this stack trace

[code]

And the contentnode in this lesson is 404

http://kolibribeta.learningequality.org/en/learn/#/topics/c/55fd78bc460f43508497beef797bf2f6.

[2020-02-13 20:11] jonboiser commented on #6552
I wonder if the "clean out lessons" after deleting content logic (#5140) doesn't work for granular deletion.

[2020-02-13 20:17] jonboiser commented on #6552
Just tested that possibility, and it does seem like granular deletion does cause lessons to be cleaned of deleted nodes... So not sure how this one contentnode got left behind in this lesson.

[2020-02-13 22:39] indirectlylit commented on #6376
we could open a new issue for the postgres case and tackle it in the next patch if desired

[2020-02-13 23:05] indirectlylit opened #6557 "cannot change device language to 'browser default'"
### Observed behavior

Trying to set the default device language as 'Browser default' does not work:

![image](https://user-images.githubusercontent.com/2367265/74486514-f1030780-4e71-11ea-8538-d71dd1d2e20c.png)

### Expected behavior

Setting should work or be removed

### User-facing consequences

broken behavior in device settings

### Errors and logs

* Request URL: `http://localhost:8000/api/

[2020-02-13 23:07] rtibbles commented on #6557
My guess would be that we need to mark this field as nullable on the serializer.

[2020-02-13 23:28] jonboiser commented on #6557
It's actually failing at the validation from language_id validation here https://github.com/learningequality/kolibri/blob/73ae3e3066128bda2297ea00cf5be32bb4af7928/kolibri/core/device/serializers.py#L36-L44

When language_id is null, it's not passing the `check_for_language`, but I don't see that custom validation error in the logs or response.

If I add a branch to pass through `language_id = None

[2020-02-13 23:41] jonboiser commented on #6557
Yeah, this is how the old DeviceLanguageSettingViewset worked (pass through None values). https://github.com/learningequality/kolibri/commit/c256321225d7231fcbeaad13b3f66063055873ac#diff-5c2a74fbedf7ad859adad5b2f40bf5a2L133

[2020-02-13 23:45] indirectlylit opened #6558 "disable 'edit channel order' when there's only one channel"
### Observed behavior

| main page | reorder page |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/74488589-8359da00-4e77-11ea-9f11-801520341fc2.png) | ![2020-02-13 15 43 33](https://user-images.githubusercontent.com/2367265/74488643-b7cd9600-4e77-11ea-9359-0888306cf336.gif)|

### Expected behavior

option to reorder should be disabled

### User-facing consequences

slightly

[2020-02-14 00:01] indirectlylit opened #6560 "In postgres, importing changing channel content moves channel to top of list"
### Observed behavior

postgres-specific follow-up from https://github.com/learningequality/kolibri/issues/6376

From @jonboiser

### Expected behavior

Updating a channel doesn't change its position

### User-facing consequences

* Users will need to move the channel again
* Users might not immediately realize the channel moved

### Steps to reproduce

* run with postgres
* import, adjust positio

[2020-02-14 00:01] indirectlylit commented on #6376
migrating additional work to https://github.com/learningequality/kolibri/issues/6560 and re-closing this

[2020-02-14 00:01] #6376 closed, assigned to nobody

[2020-02-14 00:12] indirectlylit opened #6561 "Loader animation uses a lot of processing"
### Observed behavior

Seems like a log of CPU and GPU for the animation

![2020-02-13 16 07 33](https://user-images.githubusercontent.com/2367265/74489856-8060e880-4e7b-11ea-9d92-14b2b51eafe9.gif)

### Expected behavior

Light-weight animations

### User-facing consequences

decreased battery life and spinning fans

### Context

0.13.0

[2020-02-14 00:18] indirectlylit opened #6562 "did not see progress importing a large channel, and then could not cancel it (maybe devserver?)"
### Observed behavior

* Tried to import KA Bulgarian. It was downloading from the network, but I didn't see any progress changing. (stayed on 0%)
* Tried to cancel it, and it got stuck in this state:

![image](https://user-images.githubusercontent.com/2367265/74490016-0ed56a00-4e7c-11ea-8274-fa9fd8597e30.png)

### Expected behavior

both importing and canceling work as expected

### User-facing c

[2020-02-14 00:37] indirectlylit commented on #6502
Hi @intelliant01 -

We've tried unsuccessfully to reproduce. Are you still seeing this?

Pasting the main error I saw in the logs provided below:

[code]

[2020-02-14 00:38] jonboiser commented on #6562
The task might have gotten hung up for various reasons, but I'm noting that not every task-creating function in `core.tasks.api` has handlers for `UserCancelledError` (`_localexport` does).

Maybe we need to add handlers for this error for _all_ tasks

[2020-02-14 00:52] radinamatic commented on #6562
Tried to import the full KA Bulgarian channel on Windows 10 with beta2 EXE asset installed. Import started correctly and arrived to 4%, when I decided to cancel. It took full 5 minutes for the cancel task to finish.

![cancel-import](https://user-images.githubusercontent.com/1457929/74491675-9a76e700-4ecc-11ea-95ff-88adcf3b83fa.gif)

[2020-02-14 01:47] #6552 closed, assigned to nobody

[2020-02-14 01:52] jonboiser opened #6563 "Make accessing classSummary/contentMap (and other maps) safer in Coach page"
### Observed behavior

#6552 was caused by a runtime error where we tried to access a property from an undefined object since the `classSummary/contentMap` getter did not have an associated value for a content ID, because the content item was possibly deleted and the lessons using that content were not properly cleaned up.

We should make sure that we don't get runtime errors like this that make p

[2020-02-14 01:56] #6557 closed, assigned to jonboiser

[2020-02-14 02:04] indirectlylit commented on #6563
Flagging for 0.14.0 as part of the data and content syncing process:

https://www.notion.so/learningequality/0-14-Kolibri-must-gracefully-support-missing-content-b7cf0277ac184cd7a4dd6656158e1f9c

- Administrators and coaches should be given an indicator that information is missing when viewing data that references unavailable content. This includes for example exporting CSV data and viewing coach

[2020-02-14 02:51] radinamatic opened #6564 "Mastery model change on Studio is not registering as a resource to be updated on Kolibri"
### Observed behavior
Changing the mastery model for exercises on Studio and then republishing, leads to a new version of the channel being registered on Kolibri, but does not allow to re-import anything: if the exercises were already present on the device, the change in mastery model is not registered (checkboxes are disabled and not actionable).

### Expected behavior
Ability to update exercise

[2020-02-14 03:26] radinamatic opened #6565 "Missing images in Perseus exercises when the mastery model is changed on Studio"
### Observed behavior
(continues after #6564)

Since it was impossible to update the channel with the exercises whose mastery model I changed on Studio, when I deleted it and imported again from scratch, I got various 404 errors and missing images in the affected exercises.

Issue is confirmed by testing this workflow on two different Windows VMs, so not a fluke.

![Win10 (start)  Running  - Oracl

[2020-02-14 03:42] rtibbles commented on #6564
I am confused - what is the error here? The exercise files have not updated, so why would we need to redownload them?

After updating the channel, is the new mastery model not in place as expected?

[2020-02-14 08:06] mrpau-richard commented on #6513
When I combined those two sections the error will gone and I confirmed that's the cause of `configobj.DuplicateError: Duplicate section name at line 8.`. I did not notice it during filling this issue, that I have these two `[Deployment]` sections on my `options.ini` 😟

[2020-02-14 10:56] intelliant01 commented on #6502
Hi @indirectlylit,

Yes am facing this issue even after updating to Kolibri 0.13.1rc1 . Rest of the environment is the same.

Herein are 2 gifs (Had hit pause in the middle of recording to avoid nagging wait time) -

![tasks_not_completing](https://user-images.githubusercontent.com/2577060/74525079-4b6d9800-4f46-11ea-8a53-8d07dd0915e6.gif)

![tasks_not_completing-1](https://user-images.githubuserc

[2020-02-14 16:27] radinamatic commented on #6564
I was sure that the first time I tested this scenario the mastery model did not change locally, but just retried it again with a second change, and it does appear to be updated locally. :confused: too now...

Another thing is that the user who reported this initially (mastery model does not update locally after being changed on Studio) is working with Kolibri 0.12, so I'll have to install their ve

[2020-02-14 18:54] jredrejo commented on #6502
After some live debugging with the @intelliant01 installation, the problem was on this line https://github.com/learningequality/kolibri/blob/release-v0.13.x/kolibri/core/content/management/commands/importchannel.py#L179

`importchannel` tries to acquire a lock to do the importation and could not do it because the database said a lock was acquired by another process with a different `pid`. Diskcach

[2020-02-14 19:42] jonboiser commented on #6551
I think this was possibly caused by changes in learningequality/kolibri#6278. This particular modal is special in that the size of its contents updates after it gets loaded, maybe throwing off the calculations of how large the interior of the modal should be.

[2020-02-14 21:02] rtibbles commented on #6502
Yes - I think regenerating it when Kolibri starts seems wise.

[2020-02-14 21:18] lyw07 commented on #6502
Hi @intelliant01, @jredrejo has a fix in #6567, which will be included in release 0.13.1.
I'm going to close this issue now, but please let us know if you still see the error after upgrading to 0.13.1. Thank you!

[2020-02-14 21:18] #6502 closed, assigned to jredrejo

[2020-02-14 21:41] lyw07 opened #6569 "Some group-scoped report activity looks missing (when filters are applied)"
### Observed behavior

reported by @jeepurs during 0.13.1 beta bug bash, described here: https://www.notion.so/learningequality/Missing-group-scoped-report-activity-7ff4bc2193834221a0092d11e2944c9a

The activity `lizdemo started 'Copy of Test` is missing:
![Screenshot_from_2020-02-14_101616](https://user-images.githubusercontent.com/19424916/74569440-43eec480-4f2f-11ea-9087-11f0d18b7ba2.png)

###

[2020-02-14 21:45] lyw07 opened #6570 "Focus ring on Lesson planning resource re-ordering disappears unexpectedly"
### Observed behavior

reported by @jeepurs during 0.13.1 beta bug bash:

![2020-02-18 14 58 44](https://user-images.githubusercontent.com/2367265/74785562-6cdcc580-525f-11ea-8ad9-0c4d5b110fb1.gif)

### Expected behavior

users should be able to see the focus ring when reordering resources

### User-facing consequences

slightly confusing what will happen next when using keyboard

### Steps to rep

[2020-02-14 21:48] jonboiser commented on #6569
I think the missing notification "lizdemo started..." is on the page now ([link](http://kolibribeta.learningequality.org/en/coach/#/f6e7f562bb0ea654340c726e1f81bbe9/reports/groups/78a969766fb21c3574e517672fe8ee3b/activity)), but it's hidden until I click "Show more". Not sure why it's filtered out when it's only the fourth notification.

[2020-02-14 21:53] lyw07 commented on #6569
I can (somewhat) reproduce this issue on my local machine with 0.13.1rc1, while none of the activities show up in the group's activity feed, although I see them in other places.

[2020-02-14 21:59] jonboiser commented on #6569
Ah, this is actually intended behavior, since there is a "Resource type: quizzes" filter active. In that case, we hide the "show more" button, since the behavior is kind of weird (could potentially load 10 more notifications, but none match the filter --> nothing gets added to the list --> confusion).

If you remove the quizzes filter, _then_ click "show more", the 4th notification will show up an

[2020-02-14 22:02] lyw07 commented on #6569
ah so we disable `show more` when there's a filter, so only some latest notifications are shown. Since this is intended behavior, do you think if it would be safe for me to close this issue now? thank you!

[2020-02-14 22:03] jonboiser commented on #6569
Let's just keep it open for now, since this seems like a legitimate UX issue.

[2020-02-14 22:10] jonboiser commented on #6569
Also, what confused me about why there are only 3 notifications shown upfront is that we actually have a lot more extra "QuizAnswered" notifications that come from the server, but only the first QuizAnswered event for a user+quiz combination is actually shown on the table.

So for the page we're looking at we actually have 10 notifications that get filtered down to 3 shown (2 for Jessica, 1 for Li

[2020-02-14 23:43] jonboiser opened #6571 "On Facility > Users page, need a more specific empty state when only user type filter is used"
### Observed behavior
In this screenshot, the empty state message makes it seem like I was searching for a username `""`, but I was actually filtering by user kind and got no results.

<img width="1071" alt="Screen Shot 2020-02-14 at 3 40 07 PM" src="https://user-images.githubusercontent.com/10248067/74576614-7228d000-4f40-11ea-8b94-693cde51debc.png">

### Expected behavior

1. More specific empty

[2020-02-15 00:01] radinamatic commented on #4747
I'm actually seeing this welcome message on Kolibri restart for the _original_ super-admin user :confused:

![Win7 (new start)  Running  - Oracle VM VirtualBox_356](https://user-images.githubusercontent.com/1457929/74577134-fce3ec00-4f8d-11ea-9e0f-03bf870465d0.png)

Will open a new issue, since it's different than what described here.

[2020-02-15 10:17] intelliant01 opened #6573 "Deleted content shows as 'Already on Device'"
### Observed behavior

Deleted content still showing as 'Already on Device'

![unable_to_import](https://user-images.githubusercontent.com/2577060/74585995-e5961480-5008-11ea-9322-8b7c517718c1.gif)

See [this video with subtitles](https://drive.google.com/file/d/1Q4TMfZ0asvxmsfWZJzbCbCbZQRM6lEpM/view?usp=sharing) till 2:40 for quicker understanding.

…

### Expected behavior

Deleted content shoul

[2020-02-15 10:32] intelliant01 opened #6574 "Wrong resource deletion count in Tasks detail view"
### Observed behavior

Deleted 6 files + 1 topic folder from an imported channel (`zapok-dofil`) and it shows a very high and unrelated number of resources deleted.

Tried it twice on one server (Linux + Kolibri 0.13.1rc1) and in each case it gave an absurd count.

![wrong_delete_count](https://user-images.githubusercontent.com/2577060/74586253-c8167a00-500b-11ea-8468-f73c58a6c592.gif)

After seco

[2020-02-15 11:27] intelliant01 commented on #4948
@indirectlylit Issue still persists with 0.13.0 and 0.13.1rc1. Thumbnails are not being synced upon version upgrade. They do so only upon _specific_ content deletion and re-import. Am experiencing this with multiple channels.

![thumbnails_not_updating](https://user-images.githubusercontent.com/2577060/74587359-66f4a380-5017-11ea-9e54-2251192143c7.gif)

[2020-02-15 11:28] intelliant01 opened #6575 "Coach content not flagged even after re-import"
### Observed behavior

Firstly, it is unknown why coach content was not already flagged in the initial import (done months ago).
When I noticed the issue, tried to re-import from a recently updated (thumbnails only) and published channel. But it would not. Hence deleted some content from the channel and reimported.
Yet the coach content is not flagged.

![unable_to_import](https://user-images.gith

[2020-02-15 15:35] ivanistheone commented on #6575
I updated  (`zapok-dofil`) on the demo server and the coach content is correctly tagged now:
http://35.196.115.213/en/learn/#/topics/t/ec45d46fc1bd462abb01aa0d8c8a8e25

I believe the behaviour you saw is due to seeing a mix of content from the old version of the channel and the new. Currently the Kolibri UPDATE logic doesn't handle cases where files have stayed the same, and only node metadata has

[2020-02-15 15:38] ivanistheone commented on #6574
Related issue: https://github.com/learningequality/kolibri/issues/6351

[2020-02-15 16:06] ivanistheone commented on #6351
There appears to be a whole cluster of issues around the channel update tasks, related to what has changed between channel versions (metadata diff between two DBs) and also counts of files that are available on device or have been removed. I propose we linked all the cluster of related issues to this one to make them easier to track.

Here is another issue related to counts of new items available:

[2020-02-15 16:29] ivanistheone commented on #6351
One aspect of the "what has changed" logic I run into on a weekly basis, is that content nodes for which the files have not changed are not marked as updatable (checkbox is checked, presumably because file is already `available` on device).

This makes it impossible to use the UPDATE feature for certain types of changes (metadata-only changes like fixes to titles, descriptions, and thumbnails).

[2020-02-16 07:28] intelliant01 commented on #6502
@jredrejo @lyw07  thanks for the update. Have removed the problem cache.db as of now. However, will keep an eye for recurrence of this issue.

[2020-02-16 13:59] intelliant01 commented on #6575
@ivanistheone I see a few other issues but am not sure if they too can all be merged into #6351 .

I tried updating even just now and yet I don't see a notification to update to v5.

Please do note that an entire topic node with all its containing resource nodes had been deleted. Shouldn't the related local metadata (cached or otherwise) had been cleaned up as well?

I tried the workaround of Insp

[2020-02-17 00:41] indirectlylit opened #6576 "Thumbnails not updated during channel update"
### Observed behavior

Reported by @intelliant01 in https://github.com/learningequality/kolibri/issues/4948#issuecomment-586580702

### Expected behavior

Updating a channel should update thumbnails and any other supplementary files (e.g. subtitles) for any currently-imported resources

### User-facing consequences

incomplete update

### Steps to reproduce

* Publish a channel in Studio
* Import

[2020-02-17 00:43] indirectlylit commented on #4948
thanks for the report. I've opened a new issue at https://github.com/learningequality/kolibri/issues/6576 because the thread has grown a bit long

[2020-02-17 23:19] Tlazypanda opened #6577 "Incorrect link in getting_started.html"
### Observed behavior
While setting up the project I noticed that currently the [loaded with Pipenv](https://docs.pipenv.org/en/latest/advanced/#automatic-loading-of-env) is incorrect in getting_started.html file since the domain has expired and it needs to be updated.

### Expected behavior
The link should be directed to https://pipenv.kennethreitz.org/en/latest/advanced/#automatic-loading-of-env

[2020-02-17 23:21] Tlazypanda commented on #6577
@kollivier @divad12  Hey there can you approve this issue and can i work on this? I am interested in rgsoc and would love to contribute to this project :heart:

[2020-02-18 01:09] rtibbles commented on #6577
Please do! I have assigned you to the issue, I would recommend making the PR to the develop branch to fix this.

[2020-02-18 06:45] Tlazypanda commented on #6558
@indirectlylit @kollivier @radinamatic can I work on this? Thanks :v:

[2020-02-18 07:07] priyanka-choubey commented on #5846
@indirectlylit @kollivier @radinamatic  I would like to work on this :smile:

[2020-02-18 20:42] indirectlylit opened #6582 "generating logs in the UI failed but gave no indication of failure"
### Observed behavior

Reported in the [forums](https://community.learningequality.org/t/0-13-generating-data-on-session-logs-takes-so-long-doesnt-seem-to-finish/1387/2)

The user was able to successfully export the logs from the command line using:

[code]

### Expected behavior

Logs should be generated and the UI should be updated

### User-facing consequences

Cannot export logs

### Errors an