[2019-05-30 16:56] jtamiace commented on #5564
Another non-standard styling thing: I think it would be good to either remove this current animation entirely, or change it to a sliding motion, from the left side for table of contents, from the right side for the filters and search panels.

Hopefully the gif captures it well enough, but it's zooming in and out of the center of the panel, which looks strange and unnatural for a side panel

![epub

[2019-05-30 19:00] jonboiser commented on #5594
This looks familiar to #5547, I'll see if I can reproduce it the same way I did there (with a difference between the local devserver and PEX).

[2019-05-30 19:37] jonboiser commented on #5594
Yeah, same thing is happening. Running with the devserver, refreshing the App does cause the new settings to be reflected. With the PEX, the settings are not reflected after refreshing.

[2019-05-30 19:40] rtibbles commented on #5594
I think it is because of the bootstrapping here: https://github.com/learningequality/kolibri/blob/release-v0.12.y/kolibri/plugins/user/templates/user/user.html#L6 (we had previously removed the caching on this, due to a similar issue, but now the entire page is cached, so we should just remove the bootstrapping).

[2019-05-30 20:28] khangmach commented on #5564
woah they almost look like two separate animations. We could just apply the hamburger drawer animation to these two sides

[2019-05-30 23:34] nucleogenesis commented on #5543
Should we set this issue's milestone to 0.13.0?

[2019-05-30 23:46] indirectlylit commented on #5543
good call, thanks

[2019-05-30 23:47] indirectlylit commented on #5585
Shifting milestone for follow-up.

See extensive thread here: https://learningequality.slack.com/archives/C0LKG14NL/p1559188069004200

High level goal:
![image](https://user-images.githubusercontent.com/2367265/58672215-a8fb7f00-82fa-11e9-98c1-fef8869b5e8d.png)

[2019-05-31 00:12] jonboiser commented on #5590
This should be fixed by #5544

[2019-05-31 00:17] nucleogenesis commented on #5556
I checked and I'm running it with the user that I see listed when I `cat /etc/kolibri/username`. The journal also says things like, "Successful su for $USER by root" and "A new session with ID ... created for the user $USER". I'm just not sure why it wouldn't then be using the exported KOLIBRI_RUN_MODE from the .bashrc for $USER.

@indirectlylit

[2019-05-31 00:54] jonboiser commented on #5594
Yeah, that looks like the cause. So to fix this issue, just remove that line 6?

[2019-05-31 03:25] mrpau-richard opened #5597 "File exist error after the upgrade from 0.10 to 0.12.4-beta6"
### Observed behavior
I can't start the Kolibri server in Windows 7 it has an file exist error after I upgrade from `0.10` to `0.12.4-beta6`

### Expected behavior
I should be able to start the Kolibri server after the upgrade.

### User-facing consequences
The user might not able to start the Kolibri server after the upgrade.

### Errors and logs
![Screen Shot 2019-05-31 at 10 52 33 AM](https://u

[2019-05-31 03:56] rtibbles commented on #5594
Yes, should do it.

[2019-05-31 04:43] mrpau-julius commented on #5597
Same error on windows 10, cannot start the Kolibri server after the upgrade.
![sameErrorwin10](https://user-images.githubusercontent.com/38421180/58682037-97b97d80-83a1-11e9-9662-2a350a7b8aef.png)

[2019-05-31 16:41] #5534 closed, assigned to indirectlylit

[2019-05-31 16:46] #5583 closed, assigned to indirectlylit

[2019-05-31 16:49] indirectlylit commented on #5547
@jonboiser assigning this to you along with #5594

[2019-05-31 16:52] #5590 closed, assigned to jonboiser

[2019-05-31 16:54] indirectlylit opened #5600 "finish implementing plugin-based theming mechanism"
https://www.notion.so/learningequality/Parameterized-Kolibri-themes-MVP-fc38e9f215924ed1abf42e1b063b9333

[2019-05-31 17:11] bjester commented on #5586
Related? https://github.com/videojs/video.js/issues/2945

[2019-05-31 17:41] indirectlylit commented on #5535
* start running a job
* have worker start
* ... restart server?
* thing might still be running background
* profit

possible work-around: restart server

[2019-05-31 17:42] indirectlylit commented on #5535
ref @rtibbles and cancel PRs

[2019-05-31 21:34] bjester commented on #5562
On latest pull of `release-0.12.y` branch, I can no longer reproduce this exactly, but there's a new issue. After running the update, the update isn't reflected on the front-end; I still see the old version of the channel. After refreshing the page, I see the updated channel. In the intermediary state where it's updated but not showing the updated content, I can click "Update" again and it will ge

[2019-05-31 22:05] indirectlylit commented on #4782
Hi @intelliant01 - just a heads-up that we are in the beta-testing phase of 0.12.4, which includes this fix.

If you'd like to help us test this release, any feedback is welcome!
https://github.com/learningequality/kolibri/releases

Thank you!

[2019-05-31 22:07] indirectlylit commented on #5414
Hi @swiftugandan - just a heads-up that we are in the beta-testing phase of 0.12.4, which includes this fix.

If you'd like to help us test this release, any feedback would be welcome!
https://github.com/learningequality/kolibri/releases

Thank you!

[2019-05-31 22:59] indirectlylit commented on #4119
is this issue still extant, or would it have been addressed by the PR referenced above?

[2019-05-31 23:23] jonboiser commented on #5567
This is fixed in #5571. The coach-content icon (a blue person reading a book) is only shown on cards if the `session` indicates that the viewer is authenticated and not a learner (meaning they are at least a coach or higher).

[2019-05-31 23:23] #5567 closed, assigned to nucleogenesis

[2019-06-03 01:15] radinamatic commented on #5597
Confirmed that this is the issue only on Windows. Upgrading to 0.12.4b6, either on Ubuntu where 0.10 was running as PEX, or when it was installed from DEB, creates no issues regarding the path of the log files.

[2019-06-03 03:53] mrpau-richard opened #5604 "Quiz not automatically showing at the learner classes"
### Observed behavior
After I activated the quiz as a coach user, that quiz doesn't show at the learner classes. Unless I manually refresh the browser page.

### Expected behavior
The quiz should show at the learner page without refreshing the browser page.

### User-facing consequences

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/58774405-e2cacf00-85f3-11e9-8b00-

[2019-06-03 05:43] mrpau-richard opened #5605 "Learner can still access the inactive lesson"
### Observed behavior
When I set the lesson to inactive using a coach user, and navigate to the learner page I can still access that lesson contents without refreshing the page.

But If I manually refresh the page after the coach set it to inactive the lesson will not available on learner class.

### Expected behavior
After the lesson set to inactive it must not accessible to the learner classes.

[2019-06-03 07:01] mrpau-richard opened #5606 "anchor-tag buttons are not aligned on Safari"
### Observed behavior
Error page buttons are not aligned on Safari 12.11

### Expected behavior
It should be aligned in all browsers.

### Errors and logs
![Screen Shot 2019-06-03 at 2 50 16 PM](https://user-images.githubusercontent.com/8663934/58781953-d94f6000-860f-11e9-9981-b65643f8a7d2.png)

### Context

Tell us about your environment, including:
 * Kolibri version: v0.12.4b4
 * Operating syst

[2019-06-03 11:18] radinamatic commented on #5576
Warning not to do other system maintenance operations while the import is in progress, and to do it when no learner is using the platform, is already included in the docs.

![2019-06-03_14-09-07](https://user-images.githubusercontent.com/1457929/58798098-6bed0080-860a-11e9-92df-6a303ea62329.png)

[2019-06-03 12:33] radinamatic commented on #5604
Replicated on update from 0.10.3 to 0.12.4b6 on Ubuntu 16.04, so not just an issue on Windows.
Seems related to #5547 and #5594.

[2019-06-03 12:55] radinamatic commented on #5605
Also potentially related to #5547, #5594 and #5604?

[2019-06-03 17:11] lyw07 commented on #5597
thank you for testing! I will have a fix soon

[2019-06-03 17:15] jonboiser commented on #5605
This isn't related to those caching issues, I don't think. The code for the Lesson Playlist does not distinguish if the lesson is (in)active. If we want to show some kind of access control page for when learners try to view an inactive lesson (and its resources), this will need some design.

[2019-06-03 20:14] nucleogenesis commented on #5535
@mrpau-richard

I have tried to replicate this error on Windows 7 several times with a few variations on when I start/stop the server during imports on both versions before and after upgrading. I have not been able to replicate the issue at all.

Based on discussion with @indirectlylit and @rtibbles - it would seem that this should be a one-off error that is resolved after restarting the server. @

[2019-06-03 20:26] jonboiser commented on #5604
I don't think this is a caching issue like #5547 and #5594 . This is expected behavior.

There is a New Feature issue (#5047) to the effect that learners be able to see new Assignments without having to refresh their browser.

[2019-06-03 21:25] radinamatic commented on #5548
Just replicated this while testing the upgrade scenario from 0.10 to 0.12.4b6 on Ubuntu 16.04, with the Funza games channel (`gosim-bajih`):

![2019-06-04_0-06-36](https://user-images.githubusercontent.com/1457929/58835151-d713f280-865d-11e9-8741-f5e5eac284b4.png)

Steps to replicate:

1. Import one of the games from Studio
2. Export the game to local drive
3. Import 2 more games from Studio
4. Ex

[2019-06-03 21:53] rtibbles commented on #5535
I think if the job does not exist, it sounds rather like it has been cancelled, so I think that's a nice quick fix!

[2019-06-03 22:57] lyw07 commented on #5556
~~How do I trigger a pingback notification?
I'm not able to trigger one on OSX either. I tested on a 0.12.3 pex file, started kolibri and went through setup wizard to successfully log in, but nothing showed up in the analytics_pingbacknotification table.
I also tried `KOLIBRI_RUN_MODE=<mode> python kolibri.pex manage ping --once`, but still nothing showed up.~~

I forgot the `msg` prefix. 😂

[2019-06-03 23:56] indirectlylit commented on #5605
@mrpau-richard please only add OS labels if it's OS-specific

[2019-06-03 23:58] indirectlylit commented on #5535
yup, sounds reasonable to me

[2019-06-03 23:59] indirectlylit commented on #5604
indeed - closing as dupe of #5047

[2019-06-03 23:59] #5604 closed, assigned to nobody

[2019-06-04 00:01] indirectlylit commented on #5597
nicely done!

[2019-06-04 01:29] mrpau-richard commented on #5535
Yeah, I confirmed that will fix the issue. Let's just handle the `KeyError`  exception.

[2019-06-04 03:51] mrpau-richard opened #5611 "Learner reports inconsistent last activity records"
### Observed behavior
I have a `49 years` record of a learner last activity.

### Expected behavior
Should have an consistent learner last activity records.

### User-facing consequences

### Errors and logs
[db.sqlite3.zip](https://github.com/learningequality/kolibri/files/3250445/db.sqlite3.zip)

![Screen Shot 2019-06-04 at 11 48 07 AM](https://user-images.githubusercontent.com/8663934/58849872-

[2019-06-04 05:02] mrpau-julius commented on #5611
I think this is a similar issue on windows 10. I got an invalid date on Microsoft Edge.
![invalid date](https://user-images.githubusercontent.com/38421180/58852358-d9f7fd00-86c8-11e9-82c9-82795f44889c.png)

[2019-06-04 09:39] mrpau-richard opened #5612 "Exercise next button over size"
### Observed behavior
Exercise next button over size.

### Expected behavior
The button size should be in standard.

### User-facing consequences

### Errors and logs
![Screen Shot 2019-06-04 at 5 29 15 PM](https://user-images.githubusercontent.com/8663934/58868325-a9c35500-86ee-11e9-9692-a40833b7e021.png)

### Steps to reproduce
* Import this `gizaf-karaz` from the studio
* Find the exercise  `Th

[2019-06-04 16:27] bjester commented on #5562
From my investigation, the reload of the page route isn't triggering the `SET_CHANNEL_LIST` on the state in Safari and therefore it is reusing the old state.

[2019-06-04 16:45] rtibbles commented on #5562
Hrm - any ideas why Safari is doing this? Are we missing a polyfill that it needs?

[2019-06-04 16:54] indirectlylit commented on #5612
this does appear to be a regression since 0.12.3:

* http://kolibribeta.learningequality.org/en/learn/#/topics/c/ccff6ad0bf0b56a6b6e5fa53327d18e0?searchTerm=flying%20birds
* https://kolibridemo.learningequality.org/learn/#/topics/c/ccff6ad0bf0b56a6b6e5fa53327d18e0

[2019-06-04 16:55] rtibbles commented on #5612
This is also content specific, so should probably be tracked on the CK-12 sushi chef repo?

[2019-06-04 16:58] indirectlylit commented on #5612
ah, I assumed the channel versions were the same, but that doesn't seem to be the case.

[2019-06-04 17:39] bjester commented on #5562
It appears that state isn't reset which probably relates to how Safari is handling the route change specifically. [This line](https://github.com/learningequality/kolibri/blob/release-v0.12.y/kolibri/plugins/device_management/assets/src/routes/wizardTransitionRoutes.js#L34) is stopping it from reloading the page, but even if that was bypassed, also within `showSelectContentPage`, [here](https://git

[2019-06-04 18:28] bjester commented on #5562
Would it be terrible to do `window.location.reload()` instead of `this.$router.go()`?

[2019-06-04 18:54] #5094 closed, assigned to nobody

[2019-06-04 19:00] rtibbles commented on #5562
The main difference is that it would do a full page refresh (rerequest the page from the server), rather than just re-trigger the navigation route.

However, as we are caching the server pages now (as per #5613 and previous work), it should be relatively painless.

[2019-06-04 19:06] bjester commented on #5562
Yep, it would do the full page refresh, but the user experience shouldn't be terribly reduced.

For additional context, I forgot I had made a change which I now believe fixed the original issue, which was to not send any arguments go `$router.go()` since it's supposed to take a numerical argument that specifies how many steps in history to go forward or backward. It was sending the current route o

[2019-06-04 19:20] rtibbles commented on #5562
Would it work to just do a router navigate to the current page, rather than traversing page history?

[2019-06-04 20:03] bjester commented on #5562
@rtibbles You mean something like `$router.replace($router.currentRoute)`?

[2019-06-04 20:07] rtibbles commented on #5562
Yeah

[2019-06-04 20:08] bjester commented on #5562
Yeah I had tried that. That actually reproduces the original issue in all browsers. I think more work to manually "refresh" the page would be required to get that to work as expected

[2019-06-04 20:36] rtibbles commented on #5562
Similarly if you do `router.push`?

[2019-06-04 20:41] bjester commented on #5562
Yep

[2019-06-04 21:46] rtibbles commented on #5597
This should be fixed in #5609 but will wait for confirmation before closing.

[2019-06-04 21:51] ivanistheone commented on #8360
@indirectlylit  This is a `kolibri-exercise-perseus` issue, see
https://github.com/learningequality/kolibri-exercise-perseus-plugin/blob/e65b05e37f068c9d90dd57c0b6f8127193c5ce8f/kolibri_exercise_perseus_plugin/assets/src/translator.js#L134
Check [next line](https://github.com/learningequality/kolibri-exercise-perseus-plugin/blob/e65b05e37f068c9d90dd57c0b6f8127193c5ce8f/kolibri_exercise_perseus_plu

[2019-06-04 22:01] rtibbles commented on #5548
Should be fixed in #5572

[2019-06-04 22:01] #5548 closed, assigned to jonboiser

[2019-06-04 22:08] ivanistheone commented on #8360
For reference to whoever is looking into this, these special strings are displayed when the `answerForms` options are set on numeric inputs in the Perseus json question format.

Here is a screenshots that shows the authoring side:
<img width="484" alt="info about answerForms in perseus json format" src="https://user-images.githubusercontent.com/163966/58916985-2c4e1380-86f3-11e9-8237-3eef805893fc.

[2019-06-04 22:30] indirectlylit opened #5617 "upgrade perseus"
### Observed behavior

need to update translations and bump to latest version

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-06-04 23:09] indirectlylit commented on #5151
@ralphiee22 mind flagging this issue in the PR which addressed it?

[2019-06-04 23:09] #5151 closed, assigned to ralphiee22

[2019-06-04 23:09] indirectlylit commented on #5152
@ralphiee22 mind flagging this issue in the PR which addressed it?

[2019-06-04 23:09] #5152 closed, assigned to ralphiee22

[2019-06-04 23:24] rtibbles commented on #5519
Fixed in #5614

[2019-06-04 23:24] #5519 closed, assigned to rtibbles

[2019-06-04 23:52] rtibbles commented on #5562
Fixed in #5615

[2019-06-04 23:52] #5562 closed, assigned to bjester

[2019-06-05 00:04] swapnil106111 opened #5618 "perseus exercise message is incorrectly rendered"
### Observed behavior
Kolibri is not showing "Your answer is close" suggestion in proper manner. See attached screenshot.

Channel ID : 5d132ba360b54b2ba9df169ffaa43ccb (test2)
Import above channel for replicating this issue.

### Expected behavior
It must pop up with suggestion.

### Steps to reproduce
1. Try to solve question on fraction.

### Context

* Kolibri version: kolibri 0.4.9
* Operatin

[2019-06-05 00:06] indirectlylit opened #5619 "CK12 HTML5 app 'next' button styling is broken"
(originally reported by @mrpau-richard in https://github.com/learningequality/sushi-chef-ck12/issues/8 but can't transfer back to kolibri for some reason)

### Observed behavior

Exercise next button over size.

### Expected behavior
The button size should be in standard.

### User-facing consequences

### Errors and logs
![Screen Shot 2019-06-04 at 5 29 15 PM](https://user-images.githubuserconten

[2019-06-05 00:10] indirectlylit commented on #5619
see thread here - https://learningequality.slack.com/archives/CB37UM23A/p1559667319000400

links:

* beta server: http://kolibribeta.learningequality.org/en/learn/#/topics/c/ccff6ad0bf0b56a6b6e5fa53327d18e0
* demo server: https://kolibridemo.learningequality.org/learn/#/topics/c/ccff6ad0bf0b56a6b6e5fa53327d18e0

@kollivier:

 @rtibbles:

[2019-06-05 00:24] lyw07 opened #5620 ""Content selected" field shows wrong value during export"
### Observed behavior

When I tried to export a channel to USB drive and selected the topic I would like to export, the value for "Content selected" field showed 0.
However, after I refreshed the page, then the correct number showed up.

It also happens in the import logic.

### Expected behavior

the size of the content selected should be shown correctly

### User-facing consequences

users will

[2019-06-05 00:29] lyw07 commented on #5620
~~sorry just find out that this has been resolved from the latest 0.12.y release branch.~~

[2019-06-05 00:35] lyw07 opened #5621 "page stays the same after exporting content to USB drive"
### Observed behavior

After clicking exporting content to USB drive, the page got refreshed but stayed at the export content page.

### Expected behavior

Users should be directed to the channel list page after the content gets successfully exported.

### User-facing consequences

Users would think that the content hasn't been exported

### Errors and logs

nothing wrong from the log file.
[code]

[2019-06-05 04:17] mrpau-richard opened #5622 "On Lesson Summary Page, Channel titles can be outside of draggable cards in IE11"
### Observed behavior
Channel title overlap on it's container when dragging a resources on lesson.

### Expected behavior
The channel tittle must display inside on it's container.

### User-facing consequences

…

### Errors and logs
This is on IE11 that's overlap the channel tittle
![Screen Shot 2019-06-05 at 11 22 44 AM](https://user-images.githubusercontent.com/8663934/58929107-09217380-8788-11

[2019-06-05 05:06] mrpau-julius opened #5623 "Error in difficult questions tab after I upgrade the Kolibri 0.10.3 to 0.12.4 beta 6"
### Observed behavior

When I click the question link in the difficult question tab there was error message appeared `Sorry Something went wrong!`. When I click the `Help us by reporting the error` there was no `Error details`  shown.

When I open the console on my browser I got an error message that `exam.question_sources.find(...) is undefined`, `this.text.split is not a function` and `this.$ref

[2019-06-05 15:08] lyw07 commented on #5621
or is this expected?

[2019-06-05 15:52] radinamatic opened #5626 "Unattempted answers in a quiz should not show up as difficult questions?"
### Observed behavior
Unattempted answers in a quiz show up as _difficult questions_  immediately upon learner opening the quiz.

![unattempted-diffque](https://user-images.githubusercontent.com/1457929/58970422-b2349200-87b9-11e9-9231-e55c60880406.gif)

In the above example all 5 questions are categorized as difficult even though the second learner has just started the quiz, and haven't even view

[2019-06-05 16:44] rtibbles commented on #5619
Having investigated further, and looking at the diffs in what Chrome actually renders from the new endpoint, compared to the previous endpoint, the HTML end tags are identical (i.e. the backend HTML parser is just pre-emptively doing what Chrome would be doing later, so I don't see this as an issue).

I also just tried copy pasting the rendered DOM elements from a broken version into a page that w

[2019-06-05 17:36] rtibbles opened #5628 "Investigate if we should switch from pytz to dateutil"
We currently use the python pytz library for all of our timezone needs. However, this article suggests that something may be rotten in the state of pytz: https://typesandtimes.net/2019/05/royal-astronomical-society-python and that dateutil might be a better replacement.

I don't know if this is the case, but I think it is worth investigating.

[2019-06-05 17:39] bjester commented on #5611
@indirectlylit Do you think the exam's `completion_timestamp` for the learner should be included in `last_activity`? The learner has no attempt logs for the exams, so `last_activity` becomes `null`, but on the front-end we're not being defensive so that becomes the Unix Epoch. I've resolved the null issue but the table now shows blank in that instance. I think coalescing the completion date seems

[2019-06-05 17:40] rtibbles commented on #5611
Makes sense to me too :2-cents:

[2019-06-05 18:37] bjester commented on #5611
The other `Invalid Date` issue is that the timestamp isn't being formatted in the API as a `DateTimeField` but instead a `CharField`. It looks like by default, `DateTimeField` will format it as ISO 8601 which should guarantee proper parsing by JS (`new Date(...)`) for our supported browsers.

[2019-06-05 18:37] #5535 closed, assigned to nucleogenesis

[2019-06-05 20:10] rtibbles commented on #4119
I think we should close this unless it recurs.

[2019-06-05 20:27] indirectlylit commented on #5556
FYI, this is the handling logic on the nutritionfacts side:

https://github.com/learningequality/nutritionfacts/blob/07d043cbb31f894ce1aa7cc81044666acc63c16c/nutritionfacts/views.py#L110-L123

[2019-06-05 20:59] indirectlylit commented on #5556
closing in lieu of https://github.com/learningequality/kolibri-docs/issues/98

[2019-06-05 21:01] nucleogenesis opened #5629 "Cannot set KOLIBRI_RUN_MODE in options.ini"
### Observed behavior

When running Kolibri as a system service in Debian/Ubuntu - I cannot set `KOLIBRI_RUN_MODE` or `RUN_MODE` and have it picked up to override the default value when the server is started.

If I set the `HTTP_PORT=9090` - the server used the new value for `HTTP_PORT` but never took any kind of value for `KOLIBRI_RUN_MODE=msg-[string]`.

Also note - this doesn't work when using

[2019-06-05 21:02] #5556 closed, assigned to nobody

[2019-06-05 21:03] rtibbles commented on #5629
Do you have an ENV VAR set (you should) for KOLIBRI_RUN_MODE, when you are doing this? If so, the ENV VAR will always override the options.ini, and this is intended behaviour.

[2019-06-05 21:09] indirectlylit commented on #5628
it's actually already a dependency

https://github.com/learningequality/kolibri/blob/96648d239da3b60fc90352a2e9d01d96d55a4e7d/requirements/base.txt#L28

(I don't see it in use)

[2019-06-05 21:10] rtibbles commented on #5628
Oh right... curious.

[2019-06-05 21:15] rtibbles commented on #5628
Looks like we added it because Android doesn't come with it, for use alongside iceqube https://github.com/learningequality/kolibri/pull/1610 - but not clear that we need it for that even.

[2019-06-05 21:31] nucleogenesis commented on #5629
@rtibbles I did not have one set. I was trying to find out why ENV VARs in `~/.bashrc` weren't being used by the daemonized system service and figured I should try to put it into the options.ini file, which didn't work.

I could only get the daemonized service to pickup, specifically, the `KOLIBRI_RUN_MODE` override when I put it into a conf file in `/etc/kolibri`. Also when it was only set in opt

[2019-06-05 21:36] rtibbles commented on #5629
The override notice is only shown when an option is being overridden by an env var, so that's why it wouldn't show up there - but the fact that it's failing to be picked up at all from the options.ini is definitely a worry!

[2019-06-05 21:36] jamalex commented on #5556
Note that inside options.ini, you don't include the `KOLIBRI_` prefix. See: https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/options.py#L47

[2019-06-06 16:29] nucleogenesis commented on #5556
I tried both without any luck, unfortunately. My options.ini file on my VM is:

[code]

The port changes as expected, but I don't see the modal pop-up. However, when I `sudo systemctl edit kolibri` and add the following to the systemd override.conf file:

[code]

I see the modal pop-up `msg-jacob-service` after restarting the server.

Thanks for pointing that out, though - I've updated the issue I

[2019-06-06 17:07] #5511 closed, assigned to rtibbles

[2019-06-06 17:15] indirectlylit commented on #5611
Would a completion timestamp be set if the learner had not made any attempts on an exam, and then the coach closes it? In that case it might actually make more sense to show the 'empty' placeholder instead of a date:

![image](https://user-images.githubusercontent.com/2367265/59052444-f8cece80-8843-11e9-99ae-a962f89d9e52.png)

The current fix is still an improvement, but my sense is that the coach

[2019-06-06 17:27] radinamatic commented on #5623
Managed to replicate this on the same upgrade scenario but on Ubuntu 16.04:

![quiz-diffque](https://user-images.githubusercontent.com/1457929/59052852-57ba3500-8890-11e9-8140-815e45a809b1.gif)

![Ub1604-0 12 4b6  Running  - Oracle VM VirtualBox_075](https://user-images.githubusercontent.com/1457929/59051818-07da6e80-888e-11e9-8d87-4892a5975bad.png)

The quiz in question was created as `exam` on 0

[2019-06-06 18:01] jamalex commented on #5629
Hmm, so for me it _does_ get picked up from options.ini:

[code]

Have you been able to directly verify that it's not picked up, or are you just inferring based on the message not appearing? Another possible explanation for that could be that the message with that ID was already "dismissed", and hence doesn't show anymore. Try changing the value to "msg-somethingelse".

[2019-06-06 18:19] rtibbles commented on #5629
Is it possible that the `-` is being parsed weirdly inside the options.ini? That's the only difference I am seeing here (aside from the possible message dismissal).

[2019-06-06 18:54] bjester commented on #5611
Hmm yeah it appears that `completion_timestamp` is set when the exam is marked inactive, which means we don't have enough information to distinguish `completion_date` originating from a learner interaction and a coach action. I believe that's a separate data model issue so I'll remove the coalesce.

[2019-06-06 22:08] lyw07 commented on #5597
confirmed by @radinamatic that this has been fixed.

[2019-06-06 22:08] #5597 closed, assigned to lyw07

[2019-06-06 22:49] lyw07 commented on #5621
fixed in #5542

[2019-06-06 22:49] #5621 closed, assigned to rtibbles

[2019-06-06 22:50] lyw07 commented on #5513
fixed in #5542

[2019-06-06 22:50] #5513 closed, assigned to rtibbles

[2019-06-06 23:27] indirectlylit opened #5633 "add 'disabled' list of plugins alongside 'enabled' in kolibri_settings.json"
### Observed behavior

Currently we have no way of distinguishing disabled plugins from newly created plugins.

### Expected behavior

* disabled plugins should remain disabled across upgrades
* newly created default plugins should automatically become enabled on upgrade

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-06-06 23:37] nucleogenesis commented on #5629
@jamalex @rtibbles

I'm not sure if this is an issue specifically with the Debian package, but this is on a fresh Ubuntu VM, installed using the 0.12.3-0ubuntu1_all.deb package.

My options.ini:

[code]

I removed the dash in the `msg-` bit in case Richard's thoughts on the dash were correct.

When I start the server, either using `sudo systemctl start kolibri` or just running `kolibri start` - th

[2019-06-06 23:48] rtibbles commented on #5629
I assume this should only be forwarding any existing env vars, not setting them to blank? https://github.com/learningequality/kolibri-installer-debian/blob/23e2ae064c17c1af7f7729d7dcbbcc5f7f6e6d30/debian/startup/kolibri.default#L75

[2019-06-06 23:55] lyw07 commented on #5620
fixed in #5632

[2019-06-06 23:56] #5620 closed, assigned to nobody

[2019-06-07 01:08] radinamatic opened #5634 "Page titles not rendered properly in Telugu"
### Observed behavior
Browser page title in Telugu is not properly rendered, all other languages display correctly.

![Ub1604-0 12 4b6  Running  - Oracle VM VirtualBox_081](https://user-images.githubusercontent.com/1457929/59075472-f8c8e000-88d0-11e9-948b-3f26c871139c.png)

### Expected behavior
Legible page title in Telugu.

### User-facing consequences
User uncertainlty about position.

### Erro

[2019-06-07 02:44] rtibbles commented on #5600
Fixed in #5616

[2019-06-07 02:44] #5600 closed, assigned to indirectlylit

[2019-06-07 02:44] rtibbles commented on #5617
Fixed in #5616

[2019-06-07 02:44] #5617 closed, assigned to indirectlylit

[2019-06-07 02:45] rtibbles commented on #5611
Fixed in #5630

[2019-06-07 02:45] #5611 closed, assigned to bjester

[2019-06-07 02:45] rtibbles commented on #5594
Fixed in #5601

[2019-06-07 02:45] #5594 closed, assigned to jonboiser

[2019-06-07 02:45] rtibbles commented on #5547
Fixed in #5601

[2019-06-07 02:45] #5547 closed, assigned to jonboiser

[2019-06-07 02:47] rtibbles commented on #5634
My guess is that this may be outside of our control - we load fonts for use inside the web page, but we have no control over the title. It would be resolved by the user doing this: https://askubuntu.com/questions/971757/install-telugu-language-pack/971759#971759

[2019-06-07 02:51] radinamatic commented on #5634
Right, I'll recheck on Windows, that should confirm that it's Ubuntu-specific.

[2019-06-07 02:58] nucleogenesis commented on #5563
After some more work trying to figure out a way to render everything efficiently, I'm feeling confident in saying that Vue cannot handle rendering this many rows. Note that I'm using ~1000 rows in my testing right now.

1. I'm running on a mid-high end computer and in Chrome's task manager, when I reload the page, I'm seeing CPU > 100% and almost 1G of memory in use while it is rendering before it

[2019-06-07 14:29] radinamatic commented on #5634
Confirmed that issue is not extant on Windows:

![Win10 (0 11 1 signed)  Running  - Oracle VM VirtualBox_084](https://user-images.githubusercontent.com/1457929/59110575-b7234e00-893f-11e9-890d-57a410ca23dd.png)

On the other hand, installing Telugu language pack on Ubuntu fixes the issue on Firefox, while in Chrome there's this curious situation where the page title is displayed correctly in the b

[2019-06-07 14:32] radinamatic commented on #5634
Confirmed that it's not something that we can fix on our side, closing!
(I may add a note in the docs)

[2019-06-07 14:32] #5634 closed, assigned to nobody

[2019-06-07 14:56] radinamatic opened #5636 "Preview button for exercises in the lessons does not work in the Difficult questions subtab"
### Observed behavior
<kbd>Preview</kbd> button for exercises in the lessons does not work when pressed from the `Difficult questions` subtab, but works properly when pressed from the `Report` subtab.

![preview-lesson-diffque](https://user-images.githubusercontent.com/1457929/59112180-c9eb5200-8942-11e9-9c0c-8b88bdfe1322.gif)

### Expected behavior
Button must be functional and open the exercise

[2019-06-07 19:33] radinamatic opened #5639 "Content Import - `Content selected` count incorrectly reported"
### Observed behavior

Replicating [these steps exactly](https://github.com/learningequality/kolibri/issues/5548#issuecomment-498432475), when selecting resources one by one in step 6, `Content selected` is reported correctly as **165 MB (3 resources)**, but if the **Select all** checkbox is used, it is reported incorrectly as **220 MB (4 resources)**. `KOLIBRI_DATA` folder on the external drive i

[2019-06-07 19:34] radinamatic commented on #5548
So the original issue is solved, yey! :+1:

However, found a new one, filed as #5639.

[2019-06-07 20:37] jonboiser commented on #5639
This overestimation has always happened because we are not able to check an external drive's file system to see how much of an entire topic (sub)tree is actually available to import.

So, by clicking "Select All" at a given topic, the estimate of number of resources is an upper bound, since we use the "number of resources" annotation for that topic, which includes not only direct children leaf nod

[2019-06-07 21:06] rtibbles commented on #5639
Seems like this is not a regression then, and will be best addressed by the content import annotation.

[2019-06-07 21:06] rtibbles commented on #5639
Changed milestone accordingly.

[2019-06-08 19:38] rtibbles commented on #5636
Fixed in #5640

[2019-06-08 19:38] #5636 closed, assigned to nobody

[2019-06-10 05:36] radinamatic commented on #5639
Right, should have remembered that I already filed the issue for this in the past... :woman_facepalming:

Ok, looking forward to the content import annotation to fix this! Unless I forget again and file the issue for the third time... :blush:

[2019-06-10 09:42] radinamatic commented on #5485
Now that I think of it, I'm really unsure how should I document this...? :confused:

Is the recommendation _**not**_ to update the channel even if the notification is on? Delete the old version of channel and download again? I don't see users being thrilled about that...

[2019-06-10 16:02] indirectlylit commented on #5563
Okay, let's go with this strategy for now. I do still believe that our pagination behaviors leave something to be desired, but this will be a straightforward improvement at least.

[2019-06-10 16:26] radinamatic opened #5643 "Perseus image not displaying correctly"
### Observed behavior

Regression observed while testing the DEB build from #5640, but happens on my dev repo on the `0.12.y` branch:

1. I first installed it on top of the previous 0.12.4b7 install where exercise was displayed correctly
2. Then I tried on top of a previous install of Kolibri 0.10.3 (where the Perseus image was also correct)
3. Last on a fresh VM with no previous Kolibri installed

[2019-06-10 21:15] #5643 closed, assigned to nobody

[2019-06-10 21:27] indirectlylit opened #5646 "sentry issue on ubuntu 14.04"
### Observed behavior

Observed:

![image](https://user-images.githubusercontent.com/2367265/59227959-97409400-8ba4-11e9-96f7-49c9c674624c.png)

See also:

* https://learningequality.slack.com/archives/CB37UM23A/p1560165318063600
* https://github.com/learningequality/kolibri/issues/4775
* https://github.com/learningequality/kolibri/pull/5346
* https://github.com/learningequality/kolibri-installer-

[2019-06-10 21:27] indirectlylit commented on #5646
cc @mrpau-dev @radinamatic

[2019-06-10 21:28] indirectlylit commented on #5646
14.04 is not currently part of our test suite, but we have users using it, so perhaps it should be?

[2019-06-10 22:00] radinamatic commented on #5646
I understand that this is on a case basis, but do we have a plan/strategy until when we are willing to support the OSes that are EOL?

[2019-06-11 04:09] mrpau-richard opened #5648 "Invisible answer on the exercise"
### Observed behavior
Answer on the exercise is showing invisible

### Expected behavior
The answer of the user must visible to them

### User-facing consequences
Can't see the user answer because it's invisible

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/59243144-184d6900-8c41-11e9-9ff8-3890487b1236.gif)

### Steps to reproduce
* Import the exercises on this cha

[2019-06-11 07:46] mrpau-richard opened #5649 "Some channel contents are not showing on the guest user"
### Observed behavior
Some channel contents are not showing on the guest user.

### Expected behavior
Channel contents must show the same on guest and not guest users.

### User-facing consequences
Some contents might no accessible to the guest user.

### Errors and logs
On the guest user there are only 4 contents on CK-12 testing channel
![Screen Shot 2019-06-11 at 3 18 25 PM](https://user-images

[2019-06-11 08:55] cpauya opened #5650 "Cannot scroll HTML5 Flexbooks with finger drag on iOS devices"
### Observed behavior
When viewing a Flexbook content in iPad2, there is no scrollbar so that the user can view the rest of the content.  User also cannot scroll down.

Clicking on the "full-screen" button at the upper right portion blows the content to occupy the whole browser page BUT the content still cannot be scrolled-down.  Refer to screenshot below where the right-side Safari 12.1 browser s

[2019-06-11 09:43] cpauya opened #5651 "Flexbook content crashes on iPad2."
### Observed behavior
Loading the Flexbook content on iPad2 crashes the web page.  Refer to attached screenshot.

### Expected behavior
Flexbook content should be loaded properly on iPad2 if we are to support the device.

### User-facing consequences
User cannot view Flexbook contents.

### Errors and logs
See attached screenshot.

### Steps to reproduce
Import the `CK-12 Testing` channel using th

[2019-06-11 13:59] benjaoming commented on #5646
Nah, I don't think so.. there should be advantages of dropping support of something? :) But detecting such failure of compiling into Python bytecode is interesting. Added tests for that above.

[2019-06-11 14:00] benjaoming commented on #5646
We also continue to slightly support 14.04 by supporting Python 3.4.

[2019-06-11 14:01] radinamatic commented on #5649
@mrpau-richard The difference you observe is because all the resources in the `ePUB` topic are annotated as **coach resources**, and that's the reason  you do not see them as guest.

[2019-06-11 14:30] indirectlylit commented on #5646
In practice, we have a large number users currently on 14.04 so our dropped support was preemptive. We'll need to keep testing it until we are sure that they are mostly migrated away, or we'll end up simply paying the price later.

[2019-06-11 15:24] indirectlylit commented on #5648
should be fixed by https://github.com/learningequality/kolibri/pull/5644

[2019-06-11 15:29] indirectlylit commented on #5650
do we know if this exists in 0.12.3?

[2019-06-11 15:29] indirectlylit commented on #5651
do we know if this exists in 0.12.3?

[2019-06-11 15:29] #5648 closed, assigned to nobody

[2019-06-11 15:32] rtibbles commented on #5650
Seems to be extant there too:
![image](https://user-images.githubusercontent.com/1680573/59285799-694e6480-8c23-11e9-9132-b4bba68edbc5.png)

[2019-06-11 15:46] indirectlylit commented on #5650
pushing to 0.12.5 because this is not a regression

![image](https://user-images.githubusercontent.com/2367265/59286952-ac6a0100-8c3e-11e9-9072-ca04bfe219d4.png)

[2019-06-11 18:18] #5646 closed, assigned to nobody

[2019-06-11 18:34] jonboiser commented on #5575
I originally added that "can be written to" detail, since it seemed that you could have peripheral drives connected to the server, but would not be recognized as exportable for whatever reason. In other words, at the time, "connected" did not always mean "exportable" or "writable".

[2019-06-11 22:39] benjaoming commented on #5646
Supporting people using an EOL operating system.. let's talk about this Monday next week :)

[2019-06-12 00:46] mrpau-richard commented on #5649
Okay, @radinamatic closing this.

[2019-06-12 00:46] #5649 closed, assigned to nobody

[2019-06-12 01:51] cpauya commented on #5651
Yes this also exists in 0.12.3.

[2019-06-12 02:07] mrpau-richard opened #5655 "HTML5 and EPUB reading range not showing on IE11"
### Observed behavior
HTML5 reading range not showing on IE11. It only shows on Chrome and Firefox

### Expected behavior
It should also show in IE11

### User-facing consequences

…

### Errors and logs
This is from IE11, that the reading range is not showing at the bottom side.
![Screen Shot 2019-06-12 at 9 57 33 AM](https://user-images.githubusercontent.com/8663934/59318155-9fa9e380-8cf8-11e9-9

[2019-06-12 07:41] cpauya commented on #5650
This issue exists on PLIX contents too.

Right: iPad2 on iOS 9.3 Simulator
Left: Safari 12.1.1 on macOS Mojave

<img width="1752" alt="Screenshot 2019-06-12 15 39 00" src="https://user-images.githubusercontent.com/175580/59332263-65f0d100-8d28-11e9-9219-d4a89066762f.png">

[2019-06-12 08:02] cpauya opened #5656 "Zoom-out issue with PhET content on iPad2"
### Observed behavior
On iPad2, when trying to zoom-out of a PhET simulation, the whole content is still shown in their zoomed sizes instead of the showing the whole simulation.  See attached `.gif`.

### Expected behavior
The whole PhET contents should be shown when zooming-out under iPad2.

### User-facing consequences
User cannot continue with the simulation.  The only recourse is to navigate o

[2019-06-12 08:06] cpauya commented on #5656
This exists on v0.12.3 too.

[2019-06-12 19:13] jonboiser commented on #5485
Just found that deleting a channel does mess up your quiz, leading to bad links on the Coach Pages (reports and plan pages).

(Just realized this isn't the same as an upgrade, but _think_ that upgrading without re-downloading nodes could mess things up in the same way).

[2019-06-12 19:32] jonboiser commented on #5351
As for the Uncaught Promise rejections, I think this is because there is no catch branch in the implementation of `ContentPage.initSession` and `ContentPage.updateProgress` (which make calls to those logging endpoints). We can just do the usual thing with

[code]
to shore this up.

[2019-06-12 21:08] lyw07 opened #5661 "unable to generate signed APK on buildkite"
### Observed behavior

For 0.12.4 release, we are not able to generate a signed APK because of this step: https://github.com/learningequality/kolibri/blob/v0.12.4/.buildkite/pipeline.yml#L50 (added after 0.12.3 release, so we didn't have this issue before)

The details of the error: https://buildkite.com/learningequality/kolibri/builds/11235#ac94c825-7cf2-49b8-b9da-396cba9422c9

We've uploaded the

[2019-06-13 04:31] mrpau-richard commented on #5655
This also happened on EPUB exercise

The reading range on the Chrome browser display properly
![Screen Shot 2019-06-13 at 11 52 15 AM](https://user-images.githubusercontent.com/8663934/59403825-e837ce80-8dd6-11e9-8cf8-fa4f95a08cbf.png)

On the IE11 browser the reading range broken
![Screen Shot 2019-06-13 at 11 51 35 AM](https://user-images.githubusercontent.com/8663934/59403831-f259cd00-8dd6-11e9

[2019-06-13 16:35] indirectlylit opened #5662 "RTL layout and alignment issues related to exercise renderer"
### Observed behavior

| LTR | RTL |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/59450323-f7b71780-8dd6-11e9-9743-28107f19d70b.png) | ![image](https://user-images.githubusercontent.com/2367265/59450324-fa197180-8dd6-11e9-9d1c-9e8d79b990d8.png) |

### Expected behavior

RTL alignment should be the correct inverse of LTR:

* the title should be right-aligned with the exercis

[2019-06-13 17:24] indirectlylit opened #5663 "exercise mastery indicator alignment issue"
### Observed behavior

vertical alignment is off:

![image](https://user-images.githubusercontent.com/2367265/59453659-59c74b00-8dde-11e9-8825-01398eefab76.png)

### Expected behavior

we should use the 'labeled icon' component to ensure correct/consistent alignment

### User-facing consequences

slightly jarring visually

### Steps to reproduce

view an exercise

### Context

0.12.4

[2019-06-13 18:36] indirectlylit commented on #5575
perhaps leave it more ambiguous then? e.g.

see also https://github.com/learningequality/clearinghouse/issues/389

[2019-06-13 19:11] jonboiser commented on #5575
I'm not sure if this has ever been confusing, but I wonder if people will connect a USB drive to a client laptop (as opposed to a server laptop or tower) or something and expect the import dialogue to recognize their USB drive. (Hence the added detailed about it being "connected to the server")

[2019-06-13 20:10] holta opened #5664 "Used to work prior to 0.12.4: kolibri systemd service fails on Internet-in-a-Box"
Whereas pip install of 0.12.x used to work, this no longer works with 0.12.4

The key error would seem to be:
[code]

_Plz see the bug report at https://github.com/iiab/iiab/issues/1675#issuecomment-501853558_

Noting that Kolibri runs out of virtual environment `/usr/local/kolibri/bin/kolibri` not `/home/kolibri` on Internet-in-a-Box, as is reconfirmed by:

[code]

[2019-06-13 20:19] lyw07 commented on #5664
I assume the directory `/home/kolibri` doesn't exist?

[2019-06-13 20:23] holta commented on #5664
Correct.

/home/kolibri does not exist and never has existed in past Kolibri installs on Internet-in-a-Box, over the past year anyway.

[2019-06-13 20:23] rtibbles commented on #5664
We can fix this by upgrading morango to 0.4.6 for 0.12.5

[2019-06-13 20:27] lyw07 commented on #5664
@rtibbles I notice that we put the file to the home directory of the user: https://github.com/learningequality/morango/blob/master/morango/constants/file.py#L4

We can change the location of the file to KOLIBRI_HOME directory in morango 0.4.6 to prevent this issue, but are there any concerns about this? Is there a specific reason that we put the file in home directory of the user?

[2019-06-13 20:30] rtibbles commented on #5664
Note that 0.4.6 has been released pre-emptively, but the change is here in PR: https://github.com/learningequality/morango/pull/73

[2019-06-13 20:30] rtibbles commented on #5664
(it removes the need to write it to disk at all)

[2019-06-13 20:31] lyw07 commented on #5664
ah thank you for the link! I didn't see the PR previously

[2019-06-13 20:33] lyw07 commented on #5664
also I think a temporary workaround to make kolibri start successfully before we release 0.12.5 is to create the `/home/kolibri` so that the file can be written there.

[2019-06-13 20:49] holta commented on #5664
That does not work.  Unfortunately.

If other possible workarounds arise, please LMK, as this issue is affecting almost every IIAB install :-/

[2019-06-13 21:00] lyw07 commented on #5664
Hi @holta , do you mean that creating `/home/kolibri` failed? or after creating `/home/kolibri`, the error `IOError: [Errno 2] No such file or directory: '/home/kolibri/SQLITE_MAX_VARIABLE_NUMBER.cache'` still exists?

[2019-06-13 21:01] indirectlylit commented on #5575
yes, that's a good point. Okay well... maybe keep it much closer to the original, but try to tighten up the language?

[2019-06-13 21:02] holta commented on #5664
Correct.

When root creates /home/kolibri (which I'd hoped would be a temporary workaround) this does not help anything &mdash; the exact same failures occur.

[2019-06-13 21:32] khangmach commented on #5605
this is not intended behavior. The lesson should be inaccessible to recipients if the coach has switched the status to 'inactive'. If the learner didn't manually refresh the page, any attempts to reach the inactive lesson should trigger the 404 not found behavior we talked about @jonboiser

[2019-06-13 21:41] lyw07 commented on #5664
Do you mind trying another command `sudo chown -R kolibri /home/kolibri` so that the user `kolibri` will have access to the directory? Thank you!

[2019-06-13 21:56] holta commented on #5664
At first that partially but not completely worked &mdash; see the failure ~4 lines down here:
[code]
Then after I reran `cd /opt/iiab/iiab; ./runrole kolibri` the output of `systemctl status kolibri` became clean as it should be, without any failures at all.

Finally, IIAB has also just now implemented its own temporary workaround, pinning all IIAB installs to 0.12.3 for now, as an emergency patch

[2019-06-13 22:01] jonboiser opened #5666 "Replace 'AppError' page with 'Page not found' when receiving a 404 response on a detail page"
### Observed behavior

This issue is extracted from #5305. And is focused on this one case:

Examples:

1. Viewing a User Permissions Page when the FacilityUser has been deleted
1. Viewing a Lesson Plan or Report page when the Lesson or Lesson Resource has been deleted
1. Visiting a Coach link for a class that has been deleted (it's handled like a 403 error)
1. Viewing ContentNode that has been de

[2019-06-13 22:17] jonboiser commented on #5605
In this case, the Lesson still exists (and so trying to access from the REST API will not return a 404 without modifying the backend).

In my opinion, the better UX is to only show a 404 only if the lesson has been deleted and show a more accurate "you can't access this because it's been inactivated" access control page if it has merely been inactivated (or maybe just the usual Lesson Playlist wit

[2019-06-13 22:25] jonboiser commented on #5047
Should this also auto-update the title of the lesson or quiz if that changes?

[2019-06-13 22:50] lyw07 commented on #5661
@rtibbles @radinamatic I was removing the step of uploading the artifacts again after signing windows installer, but I saw [this issue](https://github.com/learningequality/kolibri-installer-windows/issues/84), which mentioned that we would like to have the signed windows installer on the github release page.

If that's the case, then I feel that we shouldn't go with the way of removing the duplica

[2019-06-13 22:52] lyw07 commented on #5664
Hi @holta thank you for trying the command and testing!

For 0.12.5, we are planning to release it some time next week. But we can give you a beta to test prior to the final release, as soon as we have the fix in.

[2019-06-14 00:11] jonboiser commented on #5623
Looked into this quickly, and when I do this, the `question_id` UUIDs used in the Difficult Question links don't match any of the IDs recorded in the old exam's (data model V0) `question_sources`, which causes this `.find` to return undefined, and the problems.

https://github.com/learningequality/kolibri/blob/9eac2944934d24e4a631d1a8c673047662965b66/kolibri/plugins/coach/assets/src/modules/questi

[2019-06-14 06:27] cpauya commented on #4819
Videos are working with audio when I tested this in iPad2 Simulator.  I tried the ones under `Khan Academy (English) > Math > Early math > Counting > Counting`.

Maybe we can close this for now @radinamatic and just re-open if we can reproduce it?

Environment:
* Kolibri: 0.12.4 server on Ubuntu 14.04
* Browser: Safari under iOS 9.3 in iPad2 Simulator v10.2.1
* OS: macOS Mojave 10.14.5

[2019-06-14 07:39] cpauya opened #5667 "FUNZA HTML5 Games do not work on iPad2 under v0.12.4"
### Observed behavior
The Funza Uganda HTML5 Games do not work properly on iPad2 under Kolibri v0.12.4.  It will load the page but the rendering is not correct and the user cannot click the <kbd>Get Started</kbd> button.  See attached image.

### Expected behavior
It should work on iPad2 if we are to support this device.

### User-facing consequences
User cannot interact with the Funza page.

###

[2019-06-14 09:22] cpauya commented on #5667
This issue also exists in v0.12.3.

[2019-06-14 20:36] jonboiser commented on #5623
This issue might be related to #5626, as I think the problem in that issue and his one might be that the incorrect data is being set in the `SET_ITEMSTATS` mutation:

https://github.com/learningequality/kolibri/blob/554b27f3c457504dc86398543b8bdbafcc5af11c/kolibri/plugins/coach/assets/src/modules/questionList/actions.js#L45-L83

Which may be related to the error one gets when going to the difficul

[2019-06-14 22:33] jonboiser commented on #5623
And the reason for this mismatch seems to be that the `classSummary.quizMap` `quiz` objects are missing a `seed` field, so the converter must be shuffling the exercises differently between the two pages.

[2019-06-14 23:45] jonboiser commented on #5626
The current implementation of `showQuestionListView` and the `setItemStats` action intentionally shows all of the exam questions, even if no attempts have been logged for some questions.

So, is the fix here is to change that implementation to show a link to a question only if it has been flagged as "difficult" via some logged activity?

[2019-06-17 13:18] indirectlylit opened #5669 "create `kolibri setup` CLI command that just runs `initialize`"
### Observed behavior

During setup of cloud-kolibri, @aronasorman got [this error](https://sentry.io/organizations/learningequality/issues/1071646588/?project=1378215&query=is%3Aunresolved).

It turned out that the home folder was missing, and no `kolibri_settings.json` file was available

### Expected behavior

Probably, Kolibri should exit with a helpful error message if there is no home folder

[2019-06-17 15:37] indirectlylit commented on #5667
thank you!

FYI for non-regressions, we generally don't automatically put it into the upcoming release

[2019-06-17 16:18] rtibbles commented on #5626
I think the fix is that the backend should only calculate the statistics for this based on user's attempts on quizzes for which the quiz is closed or the examlog is marked as completed.

[2019-06-17 17:23] aronasorman commented on #5669
Cloud Kolibri is in a slightly-uncommon setup where the kolibri home directory changes at least twice -- once during build time and once during runtime. In this case, we changed our kolibri home dir during runtime, but forgot to initialize it.

The normal kolibri initialization process would normally fix that, but we also run uwsgi+nginx in cloud kolibri, which makes startup faster but also doesn'

[2019-06-17 17:24] rtibbles commented on #5669
Our initialization is too heavily wedded to our CLI currently, so I can see unpicking this in general helping with this specific issue.

[2019-06-17 17:28] aronasorman commented on #5669
@rtibbles i was expecting a `kolibri setup` command, but didn't find it. If you can make a convenience command like that, that would be great! But otherwise, running `kolibri manage migrate `did the trick too.

[2019-06-17 17:29] rtibbles commented on #5669
Yeah - there's also the django initialization logic which only gets run when invoking from the CLI (but isn't an issue for uwsgi).

[2019-06-17 17:46] jonboiser commented on #5626
@rtibbles Is this how to change the backend query to match your description of the new requirement:

From

https://github.com/learningequality/kolibri/blob/554b27f3c457504dc86398543b8bdbafcc5af11c/kolibri/plugins/coach/api.py#L331

[code]

[2019-06-17 17:54] rtibbles commented on #5626
Yeah, looks exactly right to me.

[2019-06-17 19:17] jonboiser commented on #5626
There's also some extra front-end code that will fill in gaps from the Difficulties ExamAttemptLogs. I think this should be removed as well. So a link to a difficult question should only appear if it is returned from the QuizDifficultiesViewset.

So in the snippet below, we will not add a `stat` array element for a quiz question if it's not returned from the backend.

https://github.com/learningeq

[2019-06-17 19:22] rtibbles commented on #5626
Hrm - would still be good to keep those though - if there are questions that were completely unattempted by everyone who took a quiz, then we should flag that because it is a problematic question for some reason.

[2019-06-17 19:26] jonboiser commented on #5626
That's a good point. I think this front-end code needs to implement a similar rule as the backend then:

(By definition, these Questions will still not be returned from the backend because they have no ExamAttemptLogs, so they will also not appear while the quiz is still active/being taken by learners)

[2019-06-17 19:39] indirectlylit opened #5671 "device info page server link is not colored"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/59630075-6ddab780-9112-11e9-9303-7767364a8419.png)

### Expected behavior

should use standard colors

### User-facing consequences

slight inconsistency

### Context

0.12.4

[2019-06-17 21:09] rtibbles commented on #5626
Does the current code not achieve that - if there are no users who have finished the quiz, then:
`total: (stats[0] || {}).total || 0,`
will evaluate to zero - and I think we exclude questions with total of zero (and if we don't,we should!)

[2019-06-17 21:20] jonboiser commented on #5626
I don’t think that’s how it works currently. As soon as a single learner starts a quiz, and either skips or gets questions wrong, all of the questions will be listed as “difficult”.

The stats appear because “total” will be non-zero as soon as a single difficulty is logged and, with the modified queryset, the exam is completed by a least one person.

I think I'm confusing myself as to what the bar

[2019-06-17 22:16] jonboiser commented on #5626
Here's how I think it should work in different scenarios:

1. Nobody has started the quiz -> No difficult questions
1. Everybody has completed the quiz and got everything right -> No difficult questions
1. N quiz-takers got a question wrong/skipped question, but none of them finished quiz, and quiz is still active -> No difficult questions
1. N quiz-takers got a question wrong/skipped question, su

[2019-06-17 22:20] rtibbles commented on #5626
That accords with my understanding also.

To add - the current threshold for showing a difficult question is that fewer than 80% of got it correct/completed it. This is completely arbitrary, but does give the slightly weird result that if only one user has finished a quiz, a question is considered difficult if that user got it wrong.

[2019-06-17 22:21] rtibbles commented on #5626
Also - I meant was that with the change to the backend, then the frontend logic should work as is, because people who have not completed the quiz (either by submitting or having it closed on them) will not be counted in the total.

[2019-06-17 23:18] jonboiser commented on #5626
Okay, I think I'm considering more nuanced scenarios, where `total` should vary depending on the specific question and whether the quiz is active or not and other factors. But it seems that the one-line change to the query set should fix the original issue

Since a question will only appear on the "Difficult Questions" tab only when at least one user has submitted a quiz, or the quiz has been de-a

[2019-06-17 23:51] rtibbles commented on #5626
Oh yes - sorry, we should also change the backend calculation of total too.

[code]

[2019-06-17 23:54] jonboiser commented on #5626
Okay, so that change will make `total` equal to

1. If Quiz is active: The number of people who submitted the Quiz
1. If Quiz is inactive: The number of people who started the Quiz (regardless of whether they submitted it).

[2019-06-17 23:57] rtibbles commented on #5626
Yes - and I think that will then make the stats match the scenarios you outlined above.

[2019-06-18 00:17] aronasorman opened #5672 "Add a "Done" message on successful DB imports"
Kolibri with Postgres currently takes about 52 minutes to import the entire KA content database. Unfortunately Kolibri doesn't have a "done" message, making it a slight inconvenience to track the exact time the DB import has finished. I believe my logging is at INFO level.

The fix is to add a simple "Done!" message after the entire DB import is done, on the INFO level.

[2019-06-18 00:20] aronasorman opened #5673 "Kolibri on Postgres takes more than 30 minutes to import a DB"
I'm using a Kolibri instance with Postgres, and it took around 52 minutes to import the entire Kolibri DB. This is with Kolibri with a Postgres DB and a mounted network drive as its home directory.

The goal to close this issue is to bring it down to 20 minutes or less.

[2019-06-18 00:28] rtibbles commented on #5673
Let's go big or go home. 5 minutes or less!

[2019-06-18 07:15] radinamatic commented on #4819
Agreed @cpauya, closing this for now!

[2019-06-18 07:15] #4819 closed, assigned to nobody

[2019-06-18 17:06] #5664 closed, assigned to lyw07

[2019-06-18 17:48] jonboiser commented on #5662
Fixing the alignment of the "Use a hint" button would need to be done in the perseus-renderer-plugin.

[2019-06-18 21:08] lyw07 opened #5675 "Unable to start kolibri after upgrading to 0.12.4"
### Observed behavior

Reported by a user:
cannot start kolibri after upgrading it from 0.12.3 to 0.12.4. The file `.data_version` in the kolibri home directory does not contain the version 0.12.3 but has some empty spaces.
backup_path here was something like `db-v       _<dtm>.dump`
<img width="662" alt="Screen Shot 2019-06-18 at 11 39 35 AM" src="https://user-images.githubusercontent.com/1942491

[2019-06-18 21:24] rtibbles commented on #5675
I modified this behaviour in my open PR, like this: https://github.com/learningequality/kolibri/pull/5494/files#diff-8f9ca278df35a8b43572c4b10dafe306R84 - so that instead of just checking that there is a version file, we check if there is actually a version and return an empty string if not.

I think borrowing this change would fix this issue.

[2019-06-18 21:26] lyw07 commented on #5675
Thank you! That should fix the issue.

[2019-06-18 23:25] khangmach commented on #5551
@indirectlylit this looks like a good enhancement to me and is a good use of the bottom bar. Maybe we can lump in multiple channel import queueing using this bottom bar as well?

[2019-06-19 00:55] rtibbles opened #5677 "Username autocomplete does not trigger"
### Observed behavior
Autocomplete does not display for simplified login

### Expected behavior
Autocomplete should display for simplified login

### User-facing consequences
Difficulty logging in.

### Context
 * Kolibri version: 0.12.4
 * Operating system: Android
 * Browser: Chrome

![IMG_20190617_154636527](https://user-images.githubusercontent.com/1680573/59729213-3cd1b400-91f2-11e9-86a2-1982

[2019-06-19 01:07] rtibbles opened #5678 "Super admin label makes user CoreTable get internal vertical scroll"
### Observed behavior
Unnecessary vertical scrollbar

![image](https://user-images.githubusercontent.com/1680573/59729561-c6ce4c80-91f3-11e9-96e5-70420d25fc19.png)

### Expected behavior
Don't show a scroll bar unless you have to.

### User-facing consequences
Ugly

### Context
 * Kolibri version: 0.12.4
 * Operating system: Ubuntu
 * Browser: Chrome

[2019-06-19 02:06] rtibbles commented on #5677
Fixed in #5679

[2019-06-19 02:06] #5677 closed, assigned to rtibbles

[2019-06-19 14:16] indirectlylit commented on #5662
would you like that I split that component into a second issue under that repo?

[2019-06-19 14:57] indirectlylit opened #5680 "unhandled exceptions related to video playback"
### Observed behavior

We are seeing a number of errors that seem to relate to playback being aborted before the play promise is resolved.

Examples in Sentry:

* https://sentry.io/organizations/learningequality/issues/1068867989/
* https://sentry.io/organizations/learningequality/issues/1077495361/
* https://sentry.io/organizations/learningequality/issues/864199268/
* https://sentry.io/organizati

[2019-06-19 15:08] indirectlylit commented on #5305
Unhandled 404 errors are also flooding Sentry with spurious errors

[2019-06-19 15:38] indirectlylit commented on #5551
yes, absolutely

[2019-06-19 19:20] indirectlylit opened #5682 "Question text is sometimes not visible"
### Observed behavior

We had a user report:

### Expected behavior

Question text should always be visible

### User-facing consequences

Learners will not be able to answer questions

### Errors and logs

unknown

### Steps to reproduce

unknown

### Context

* Operating system used: Windows 10 Pro
* Browser: Version 74.0.3729.169
* Kolibri Beta Version 0.12.4b7

[2019-06-19 19:26] indirectlylit opened #5683 "keyboard focus outline obscures text in perseus question"
### Observed behavior

Reported by a user:

(note that the 'c' in 'chicks' is partially obscured)

### Expected behavior

smaller inner padding for focus outline, or larger outer margins on input

### User-facing consequences

difficulty reading question

### Steps to reproduce

tab to an input box in basic math counting

### Context

* Operating system used: Windows 10 Pro
* Browser: Version 74.0

[2019-06-19 19:38] lyw07 commented on #5664
Hi @holta, we just released a [beta version of 0.12.5](https://github.com/learningequality/kolibri/releases/tag/v0.12.5-beta1) that contains the fix to the issue. Are you interested in testing if it fixes your issue? You are able to install it through `pip install kolibri --pre`. Please feel free to let me know if you have any questions! Thank you!

[2019-06-19 19:51] holta commented on #5664
@lyw07 is the `--pre` flag absolutely necessary?

Note that IIAB uses Ansible to do pip installs (I don't see any obvious was to include a `--pre` flag within https://docs.ansible.com/ansible/latest/modules/pip_module.html) so it's a very important question, as you can see from this essential stanza here:

https://github.com/iiab/iiab/blob/master/roles/kolibri/tasks/main.yml#L23-L30

[2019-06-19 19:55] lyw07 commented on #5664
@holta yes `--pre` flag is necessary because not including it will download the stable release 0.12.4 for you.
Could you try adding it to `extra_args` field so that it will be
[code]

[2019-06-19 20:12] lyw07 opened #5684 "Kolibri PyPi page description is not formatted correctly"
### Observed behavior

Since 0.12.4, after we changed README.rst to README.md, our PyPi page description has not been formatted correctly.
<img width="400" alt="Screen Shot 2019-06-19 at 1 10 35 PM" src="https://user-images.githubusercontent.com/19424916/59797081-b5d51800-9293-11e9-8fa9-ac1bbd361a41.png">

### Expected behavior

correct PyPi page description

### User-facing consequences

hard to

[2019-06-19 20:12] holta commented on #5664
This works, as later confirmed by:
[code]
And then by running http://box/kolibri to reconfirm, which shows 0.12.5b1 down below.

Of course if you know how to guarantee http://box/kolibri logins work every time you get 10 Million Dollars cash (as Kolibri logins break for us regularly, for no apparent reason, as documented @ iiab/iiab#1532 !)

[2019-06-19 20:15] lyw07 commented on #5664
@holta Thank you so much for testing and confirming that the beta fixes this specific issue! We will release the stable version 0.12.5 soon, by the end of this week.

[2019-06-19 22:58] jonboiser commented on #5662
Yup, let's do that.

[2019-06-19 23:06] jonboiser commented on #5606
The reason for this is that Safari seems to interpret the `display: inline-table` differently.

My current hack is to use Safari 10+ media query to override the `display:` rule for Safari only.

A less hacky solution would be to replace the `<a>` used for the "Back to home" with a normal button whose click handler would be to redirect to `/` using JavaScript.

[2019-06-20 17:42] khangmach commented on #5485
Based on the referenced issues, it sounds like we should be fixing/mitigating the following instead of adding new explanations/strings:

(upgrading isn't always an additive process and we should be making sure that when upgrading channel versions, resources that aren't existing in the new version of the channel remain deleted off your device). Kind of like github, we should only be showing the lat

[2019-06-20 17:49] jonboiser commented on #5485
We should implement these two fixes anyway, but fixing the technical problem of broken coach links doesn't really address the issue that people might want to be informed that upgrading channels can mess things up (and decide _not_ to upgrade, before doing some extra checks).

For example, even if we implemented #5666 Page Not Found pages, for Lessons, etc., it still seems like a problem if a lesso

[2019-06-20 18:29] khangmach commented on #5485
Right, we kind of already do that via the string you mention, but could add a bit more detail.

Possible implementation:
<img width="1024" alt="notif" src="https://user-images.githubusercontent.com/25045166/59872457-a070f400-934e-11e9-9004-d230ee7307b9.png">

[2019-06-20 19:22] khangmach commented on #5485
I'm actually working on speccing out a banner component at the moment so we can use that to replace the UInotification in this case.

[2019-06-20 20:20] indirectlylit opened #5689 "add theme validation logic to front-end and provide defaults for tests"
### Observed behavior

Having validation only on the backend means that the theme "API" isn't well defined.

### Expected behavior
It would be better for the front-end to clearly define it, and possibly to provide internal defaults so that unit testing is easier

see thread: https://github.com/learningequality/kolibri/pull/5688#pullrequestreview-252487272

### User-facing consequences

themes and

[2019-06-20 20:29] lyw07 opened #5690 "upgrade pex to latest version would break kolibri"
### Observed behavior

In #5685, I tried to upgrade pex to latest version 1.6.7. The pex file was built successfully. However, when I run `python kolibri.pex start`, I got the error that stopped me from starting kolibri.
My guess is that pex now vendors setuptools and wheel, and thus somehow `pkg_resources` cannot be imported from `<pex_location>/.bootstrap`.
If we run `pip install kolibri.whl`, `

[2019-06-20 22:05] lyw07 commented on #4038
seems to be a duplicate of https://github.com/learningequality/kolibri/issues/3269

[2019-06-20 22:09] benjaoming opened #5692 "0.13.dev: Missing new default plugin kolibri.plugins.default_theme when upgrading"
### Observed behavior

When running the current develop branch on a 0.12 `.kolibri`, the new `kolibri.plugins.default_theme` won't be automatically enabled.

### Expected behavior

New default plugin is added automatically.

### User-facing consequences

~crash~ None - dev only

### Errors and logs

[code]
-->

### Steps to reproduce

n/a

### Context

Kolibri 0.13.dev

[2019-06-21 16:24] rtibbles commented on #5623
Fixed in #5674

[2019-06-21 16:24] #5623 closed, assigned to jonboiser

[2019-06-21 16:25] rtibbles commented on #5626
Fixed in #5674

[2019-06-21 16:25] #5626 closed, assigned to jonboiser

[2019-06-21 17:44] jonboiser commented on #5684
The project description is formatted correctly as of 0.12.5 👍

[2019-06-21 17:44] #5684 closed, assigned to indirectlylit

[2019-06-21 17:46] lyw07 commented on #5661
confirmed that this has been fixed with the 0.12.5 release

[2019-06-21 17:46] #5661 closed, assigned to lyw07

[2019-06-21 18:12] aronasorman opened #5698 "Port content operations to use Django's Storage class"
One of the difficulties in managing Kolibri in a cloud setting is its hard requirement for a filesystem. That's because we hard code file `open`, `write` and `read` calls. That requires us to have a shared filesystem among different replicas.

We should port Kolibri to use the [Django Storage class](https://docs.djangoproject.com/en/2.2/ref/files/storage/) for content storage interaction. Django c

[2019-06-21 21:12] indirectlylit opened #8363 "issue with 'get a hint' function in RTL"
The 'use a hint' link should be left-aligned. If possible it should use the `KLabeledIcon` component:

![image](https://user-images.githubusercontent.com/2367265/59951658-9aab0980-9447-11e9-8b4b-3b3c46b1c02f.png)

[2019-06-21 21:12] indirectlylit commented on #5662
new issue for Perseus created here: https://github.com/learningequality/kolibri-exercise-perseus-plugin/issues/193

[2019-06-21 21:17] indirectlylit opened #5700 "add linting and avoid shadowing python builtins"
### Observed behavior

As observed by @benjaoming in #5695, we overwrite python builtins on a fairly regular basis:

[code]

### Expected behavior

As much as possible, we should avoid overwriting python builtins. This should break the build with a linter unless explicitly ignored.

We should allow this particularly for Django models, where we want to avoid database schema churn.

### User-facing

[2019-06-21 22:05] indirectlylit commented on #5661
milestone should be 0.12.5, correct?

[2019-06-21 22:05] lyw07 commented on #5661
yes it’s 0.12.5

[2019-06-24 10:48] amit3107 opened #5702 "Question image/text is sometimes not visible on server and tablets"
### Observed behavior

**a.**

Some questions of MagoGenie (mostly questions with images) are visible on the server in the lesson and quiz created but they are incomplete or the image is missing when viewed through the tablet.

Named the error screenshots (taken for the same question) as  MG_lesson_error#_server or MG_lesson_error#_tablet.

**b.**

Some questions of Khan Academy (mostly questions

[2019-06-24 11:25] amit3107 commented on #5702
@rtibbles

[2019-06-24 12:09] amit3107 commented on #5702
@Miyer03

[2019-06-24 18:47] jonboiser commented on #5651
I was able to reproduce this on Kolibribeta running (0.12.5). Unfortunately, you can't view the Safari devtools with iOS 9 emulation, but ran it with iOS 10 and got these errors in the console:

The HTML5 app doesn't crash like it does on iOS9, but it does have problems, like it doesn't load an image and I'm unable to scroll on the content.

[code]

[2019-06-24 19:06] jonboiser commented on #5651
Something similar seems to be happening on all platforms (tried on newest Safari and Chrome for IOS). Even on Desktop Chrome, I can scroll the HTML5 app for about 5 lines, and then it crashes and becomes unresponsive with these console errors:

[code]

[2019-06-24 21:45] jonboiser commented on #5702
I'm able to reproduce this with certain questions from this channel. For example,
 with "Angle relationships with parallel lines" (b0e38d49db804a19a3ac4a0d03f3a4ca), I get these errors

[code]

And a 404 trying to get this image

[code]

[2019-06-24 23:11] kollivier commented on #5651
The URL http://kolibribeta.learningequality.org/zipcontent/8021c34324a60bcf0efe94fc6007af58.zip/mathjax/jax/output/HTML-CSS/autoload/menclose.js?rev=2.6.0
is not having the CORS headers set on it. Oddly enough another JS file in the same folder has the CORS headers set just fine, so no idea why this URL is special.

The iOS 10 errors seem really strange. Can you see the network request / response

[2019-06-25 00:21] jonboiser commented on #5651
@kollivier In the iOS 10 simulator, I don't see any Content-Security-Policy headers for either request or response for 'menclose.js' or 'fontdata.js' (another file that also seems to consistently give a 404 on some CK-12 resources).

[2019-06-25 14:28] radinamatic opened #5704 "Change default device language not working"
### Observed behavior
This new device setting was [introduced recently](https://github.com/learningequality/kolibri/pull/5251), but when I set to [document it](https://github.com/learningequality/kolibri-docs/issues/100), I realized that it doesn't have the desired effects.

### Expected behavior
Gherkin scenario previews the following behavior:
[code]

From the above I presume that to test this i

[2019-06-25 17:38] jonboiser commented on #5704
Looked into the code in #5251, and I see that the this `DEVICE_LANGUAGE_CACHE_KEY` value gets cached for about 10 minutes.

https://github.com/learningequality/kolibri/blob/a618e8740909f30de65e2e0d8aa484ce07a189f0/kolibri/core/device/translation.py#L27-L40

In #5251, I notice that I don't clear out the cache when changing languages. But you should be able to skip the 10 minute wait if you restart

[2019-06-25 17:45] rtibbles commented on #5704
Hrm - I wonder if we should move this logic onto the DeviceSetting model, and consolidate any updates to the language setting there? Happy to take this on.

[2019-06-25 17:47] jonboiser commented on #5704
That sounds like a good refactor to me :+1:

[2019-06-25 17:54] jonboiser opened #5706 "The size of the channel thumbnail placeholder is different from real thumbnails"
### Observed behavior

In the Device > Channels page, channels without thumbnails have a grid icon in a gray rectangle. We tried to get it looking square with CSS, but things might have changed, so it it is more rectangular now.

![Screen Shot 2019-06-25 at 10 49 49 AM](https://user-images.githubusercontent.com/10248067/60121094-2d44f480-9737-11e9-8a55-db5537d50464.png)

### Expected behavior

Thu

[2019-06-25 18:00] kollivier commented on #5651
@jonboiser Okay, I think the next step would be to figure out why those headers aren't being added. I don't know when I'll have time to dig into this myself, but the way to test would probably be to download the Testing CK-12 channel locally and then add debugging to the `add_security_headers` decorator in `kolibri/core/content/decorators.py`. Particularly it would be worth checking if and why res

[2019-06-25 18:49] rtibbles commented on #5651
Request is always the first argument passed to a view, but if you don't use args/kwargs in the decorator, then if the view takes other arguments, the decorator may blow up, so this is the safest way to define a decorator for a Django view.

[2019-06-25 18:50] jonboiser commented on #5683
This happens with focusing in general (keyboard and mouse).

It's also not consistent. In the screenshot, we're seeing the global `:focus` style being applied. But I think some perseus questions have a higher-specifity `:focus` rule so you get the browser-stylesheet blue outline sometimes.

To fix this, we need to make sure a perseus-specific `:focus` rule is being applied and not the global one.

[2019-06-25 18:51] rtibbles commented on #5651
My guess for what is going wrong here is that it is something about the way that Mathjax is loading the files, that is failing to properly account for the crossorigin nature of the request.

Either it is loading it from a script tag, and not adding `crossorigin` property to the tag, or it is loading using something like an XHR request, but is not using XMLHTTPRequest (which we monkey patch in Hash

[2019-06-25 18:59] radinamatic commented on #5485
On the documentation side I'm [adding this warning](https://github.com/learningequality/kolibri-docs/pull/106) (basically, **don't update channels while there are active quizzes and lessons**):

![Selection_129](https://user-images.githubusercontent.com/1457929/60125357-eb926900-978b-11e9-927d-563112fd5f61.png)

Does this seem sufficient for now?

[2019-06-25 19:23] khangmach commented on #5485
some suggested string change to the first two sentences as they confuse me:

**To prevent loading issues and learners seeing unavailable content, we recommend making any active quizzes and lessons inactive before updating a channel. The location of resources inside of a channel may be changed in an updated version.** It is recommended to schedule and perform...

[2019-06-25 20:40] kollivier commented on #5651
Ah, good point, I had expected there to be a lot more errors if the problem was content-related, but if they're loading these specially then that makes sense. Sounds like more fun content hacking to do...!

[2019-06-25 21:31] Marshall-B opened #5708 "Missing Graphics for Khan Academy"
### Observed behavior

From one of my workers...

To whom it may concern:
After extensive use of the Kolibri educational materials I have found the following problems.
Khan Academy (English)
Math 2nd Grade
Picture Graphs: None of the graphs show up.
Math 3rd Grade
Picture Graphs. Create Picture Graphs: You cannot create picture graphs.
Read Picture Graphs: The visual aid is incomplete; no names.
M

[2019-06-25 21:49] jonboiser commented on #5708
This looks similar to #5702. Is the Maharashtra channel using the same nodes as the latest Khan Academy channel?

[2019-06-25 21:56] indirectlylit commented on #5702
looks like a duplicate of #5094, which was identified to be an upstream content issue

[2019-06-25 21:57] indirectlylit commented on #5708
looks like a duplicate of #5094, which was identified to be an upstream content issue

[2019-06-25 22:00] indirectlylit commented on #5094
@amit3107 the issues you were seeing in #5702 are likely the same as these, and will have to be addressed by who ever published the channel

[2019-06-25 22:00] indirectlylit commented on #5708
@Marshall-B is this from channel `8fc515793aad4e52b490b03c48ad21de`?

[2019-06-25 22:02] indirectlylit commented on #5094
@Marshall-B the issues you were seeing in #5708 are likely the same as these

[2019-06-26 05:21] mrpau-richard opened #5711 "unhandled error: "content_assessmentmetadata" already exists"
### Observed behavior
Can someone knows what's the cause of having this `content_assessmentmetadata file exist` error

I did not reproduce this issue during upgrade installation. And this showing on Windows command prompt

This is reported at this [issue](https://github.com/learningequality/kolibri-installer-windows/issues/78#issuecomment-502683072)

![image](https://user-images.githubusercontent.

[2019-06-26 06:49] mrpau-richard opened #5712 "show message when Kolibri is not on a network"
### Observed behavior
This error happened when a device is not connected to a network.

This is also reported on this [issue](https://github.com/learningequality/kolibri-installer-windows/issues/78#issuecomment-502683072).

### Expected behavior
I think it should have some notification message on the frontend that this device is not connected to a network and can't be use as a server for the other

[2019-06-26 18:43] nucleogenesis opened #5713 "UiIconButton does not play well with KIcon"
### Observed behavior

When using a `<KIcon/>` inside of a `<UiIconButton />` component, the `<KIcon />` does not display as expected.

Example:

[code]
In this instance, the arrow icon is not vertically centered. The `<KIcon />` requires some CSS to adjust it properly.

`<KIcon back style="position: relative; top: -1px;" />` - in this case fixes the display.

### Expected behavior

Icons ought to

[2019-06-26 18:51] indirectlylit opened #5714 "change KIcon API"
### Observed behavior

see poll: https://learningequality.slack.com/archives/CB37UM23A/p1556059923121200

The current `KIcon` API looks like

[code]

### Expected behavior

This should be updated to

[code]

### User-facing consequences

None

### Context

0.12.4

[2019-06-26 18:54] indirectlylit commented on #5713
`UiIconButton` is a hold-over from Keen. We should fork it and re-implement it as `KIconButton`

In order to reduce boilerplate for the most common use case, we can add a prop which takes an icon name as an alternative passing in the icon through a slot. This would automatically instantiate a `KIcon` internally.

For example,

[code]

would be equivalent to

[code]

See also #5714 regarding changi

[2019-06-26 20:22] indirectlylit opened #5715 "Kolibri demo banner visible on non-login pages"
### Observed behavior

The demo banner is visible on all `/user` pages:

| page | image |
|--|--|
| sign-in | ![image](https://user-images.githubusercontent.com/2367265/60211988-1ffe3780-9815-11e9-99be-9989285d0ddf.png) |
| create account | ![image](https://user-images.githubusercontent.com/2367265/60212027-30161700-9815-11e9-9f31-67d2d283d7a6.png) |
| profile |  ![image](https://user-images.githu

[2019-06-26 20:39] jonboiser commented on #5715
In the F12 developer tools while viewing an EPUB, I get an endless stream of these "Permission denied" errors ([sentry link](https://sentry.io/organizations/learningequality/issues/1087623753/?project=1379172&query=is%3Aunresolved&statsPeriod=14d)). They have no traceback and I'm not sure if it's coming from app code or the sentry SDK.

[2019-06-26 21:55] jonboiser commented on #5655
In the F12 developer tools while viewing an EPUB, I get an endless stream of these "Permission denied" errors ([sentry link](https://sentry.io/organizations/learningequality/issues/1087623753/?project=1379172&query=is%3Aunresolved&statsPeriod=14d)). They have no traceback and I'm not sure if it's coming from app code or the sentry SDK.

[2019-06-26 22:00] rtibbles commented on #5655
Looks like this might be caused by this? https://support.microsoft.com/en-us/help/3191336/permission-denied-script-error-in-internet-explorer-11

(the epub is running inside an iframe)

[2019-06-26 22:06] jonboiser commented on #5563
#5647 adds a more efficient way to filter larger (~5000 items) lists of FacilityUsers.

[2019-06-26 22:06] #5563 closed, assigned to nucleogenesis

[2019-06-26 23:19] kollivier commented on #5651
Actually, I've tried searching for this content in the public CK-12 channel but I can't find it. Is this content only being used for testing? Does anyone know if this content exists in the CK-12 official channel, perhaps under another name? (CC @jamalex) Main issue I'm wondering about is if these issues may be related to this being a testing version of the channel that had outstanding bugs that we

[2019-06-27 00:03] jonboiser commented on #5651
There might be something to that. I've been browsing different HTML5 apps on the main CK-12 channel in IOS9, and I'm not seeing the same kind of crashes.

[2019-06-27 00:07] jonboiser opened #5717 "Exiting from a Content Page to Search results does not save channel or type filters"
### Observed behavior

1. Search for a resource using a search term, then filter it down by a channel and/or content type.
1. In the search results, click a card for a resource (not a topic)
1. From the Content Page for that resource, click the "X" on the top-left corner to exit
1. You are taken to the search results page for the original search term, but the channel and/or content filters are not

[2019-06-27 02:18] indirectlylit commented on #5683
At one point we also considered sandboxing Perseus in Hashi, which would also address this. (cc @rtibbles)

That said, I don't think this issue is particularly egregious, unless we come across an instance which makes things unusuable.

[2019-06-27 14:57] indirectlylit opened #5719 "refactor User Auth, Learn, Device, and Facility apps to use new Coach-style page indexes"
### Observed behavior

In Kolibri, we use a thin wrapper around the Vue router which allows routes to be associated with handler functions in addition to components. For some context on the motivations of this design decision, see https://github.com/vuejs/vue-router/issues/958

The typical pattern we originally used for routing in an app was roughly that all routes have a `name` (taken from a list

[2019-06-27 17:43] miyer03 commented on #5702
The channel was republished and tested the same kind of issues are re-appearing.

1. Images of KA- grade 8, 7, are not appearing on the server as well as the tablets.

2. The images of MG questions are appearing in the server but not on the tablets in the quiz feature. It is appearing in the lessons.

![Screenshot_20190626-232817](https://user-images.githubusercontent.com/8583367/60288049-03572200

[2019-06-27 17:48] miyer03 commented on #5702
We tried installing 0.12.4 deb and tried testing the same and it seems to have existed in it as well.

[2019-06-27 20:10] jonboiser commented on #5650
This happens on other iOS devices as well. Experienced this on my personal iPhone X as well as newer iOS devices on Browserstack.

[2019-06-27 22:13] indirectlylit commented on #5702
this sounds like a potential Kolibri issue

[2019-06-27 22:37] jamalex commented on #5702
Trying to look into this on Studio, but the following question has *3561 different copies* on Studio (likely from being imported all over the place, scraped by scripts from Magogenie multiple times in multiple ways, etc):

![](https://user-images.githubusercontent.com/38091824/60014547-de4b8080-969e-11e9-80e9-7e5096a6f98e.png)

This makes diagnosing the issues (most of which are likely caused by i

[2019-06-28 00:43] lyw07 opened #5721 "kolibri cannot start after switching from sqlite to postgresql database"
### Observed behavior

Kolibri cannot start when the database switches from sqlite to postgresql because there are no migrations applied to the postgresql database.
Running `kolibri manage migrate` doesn't help because the command errors out before actually running migrations.
I had to delete the `.data_version` file to force running migrations on postgresql database.

### Expected behavior

users

[2019-06-28 06:20] jamalex commented on #5702
I have run "Sync" to update the nodes from their source channels, and then republished. This seems to have resolved the issue at least for the KA exercise I checked. Magogenie can be more problematic because it was badly scripted for import, and then cloned from many different source channels that may not themselves have been updated. Please try re-downloading into Kolibri and see if you're still

[2019-06-28 14:55] indirectlylit commented on #5721
What is the expected behavior? Should data that was previously in one database be transferred to the other?

[2019-06-28 14:57] lyw07 commented on #5721
I think the expected behavior should be something like ‘kolibri manage migrate’ works for applying the migrations to postgresql database.

[2019-06-28 15:19] indirectlylit commented on #5721
So to clarify, that would initialize the new postgresql database and allow the app to run, but existing data in sqlite would not be migrated?

[2019-06-28 15:26] lyw07 commented on #5721
Ah I forgot about the existing data in sqlite database, sorry. I don’t think running migrate command will migrate the existing data from sqlite to postgresql database (Please correct me if I’m wrong @rtibbles thank you!). So we will need some other operations to do that I think?

[2019-06-28 15:35] rtibbles commented on #5721
Yes, there is no expectation that the data should transfer.

If we want to implement that, it would be an additional feature - probably most easily done by doing a django fixture dump and restore, but it would be very slow.

[2019-06-28 16:51] lyw07 commented on #5721
Do we have documentation about how to change to use postgresql database? I don't find it in our user doc. Maybe for now, we can add additional guidance about how to migrate the data from sqlite to postgresql in the user documentation.

[2019-06-28 17:11] radinamatic commented on #5721
Nope, this is the first case I hear of somebody attempting it.

It would certainly need to be placed among the advanced management topics, but if there's consensus that we need to cover it, I'm all for it! 👍

[2019-06-28 17:47] jonboiser commented on #5574
This link is in the Nutrition Facts code as a set of defaults.

When a real update notification is created in the NutritionFacts admin panel, we're supposed to provide a proper link to the Kolibri download page.

Maybe in Nutrition Facts, we should set the default message to be something benign and encourage people to report it as a bug (since they shouldn't be seeing the default message).

[2019-06-29 00:39] #5663 closed, assigned to jonboiser

[2019-06-29 00:39] #5717 closed, assigned to jonboiser

[2019-06-29 00:40] indirectlylit commented on #5706
note that channel thumbnails should be 16:9, but we'll standardize on that in 0.13.0

[2019-06-29 00:40] #5706 closed, assigned to jonboiser

[2019-06-29 00:40] #5575 closed, assigned to jonboiser

[2019-06-29 00:44] indirectlylit commented on #5606
I don't actually understand why our buttons have `display: inline-table` on them. Looks like I added that and left the comment "helps with vertical layout" but unfortunately that is not helpful enough...

[2019-06-29 00:45] #5671 closed, assigned to jonboiser

[2019-06-29 00:45] #5662 closed, assigned to jonboiser

[2019-06-29 01:43] indirectlylit commented on #5721
It sounds from [this thread](https://community.learningequality.org/t/implications-of-large-db-sqlite3-file-for-kolibri-performance/1218) that data transfer would be a need, unless there were some other way to achieve it (e.g. using sync functionality)

Agreed.

Just flagging that `migrate` from an end-user's perspective will carry the connotation of "data migration", even though in this context i

[2019-06-29 01:56] indirectlylit commented on #5047
If feasible, certainly!

[2019-06-29 01:58] indirectlylit commented on #4038
Yes, I believe so. @nobicycle if these are different, please let us know.

[2019-06-29 01:58] #4038 closed, assigned to rtibbles

[2019-06-29 02:05] indirectlylit opened #5727 "user language settings are not persisted"
### Observed behavior

When a user selects a language, that setting is not persisted across sessions.

### Expected behavior

User language settings should be persisted across sessions

### User-facing consequences

Users need to set their language every time they log in

### Steps to reproduce

* Set the default language of a server to English
* Log in as a different user
* Set your language to F

[2019-06-29 02:06] indirectlylit commented on #5704
see related issue: https://github.com/learningequality/kolibri/issues/5727

[2019-06-29 02:17] indirectlylit opened #5728 "upgrade notification link should open in a new tab"
### Observed behavior

Currently, upgrade notification links open in the same tab

### Expected behavior

they should open in a new tab

### User-facing consequences

non-typical behavior when opening a link pointing outside of our app

### Steps to reproduce

Follow the upgrade notification gherkin story, and click the link at the end:
https://github.com/learningequality/kolibri/blob/develop/inte

[2019-06-29 02:20] indirectlylit commented on #5538
this seems to have regressed. Observed in 0.13.0 alpha 0:

![image](https://user-images.githubusercontent.com/2367265/60378608-a3688600-99d9-11e9-82db-82985644bbe8.png)

However, doesn't seem to exist in 0.12.5:

![image](https://user-images.githubusercontent.com/2367265/60378615-c2ffae80-99d9-11e9-9ef5-0f1ba5b64e06.png)

[2019-06-30 23:37] indirectlylit opened #5729 "Migrate codebase to Vue 3 unified named and scoped slot syntax"
### Observed behavior

From https://vuejs.org/v2/guide/components-slots.html#Deprecated-Syntax

Furthermore, from https://vuejs.org/v2/guide/components-slots.html#Named-Slots-Shorthand

### Expected behavior

We should replace all instances of `slot` and `slot-scope` attributes in our codebase with the new syntax

### User-facing consequences

None

### Context

0.12.5

[2019-07-01 17:17] jonboiser commented on #5715
Fixed in #5716, by fixing the Vuex getter that determines whether that banner should be shown or not.

[2019-07-01 17:17] #5715 closed, assigned to jonboiser

[2019-07-01 21:49] indirectlylit commented on #5651
closing as upstream content bug.

Please re-open if we see it in a production channel

[2019-07-01 21:49] #5651 closed, assigned to nobody

[2019-07-02 09:32] mrpau-richard opened #5733 "Kolibri errors under Windows Python 3.6 and 3.7"
### Observed behavior
#### Kolibri installation on Windows Python 3.6.
The Kolibri server can start and run but it has an `OSError: [WinError 6] The handle is invalid` error on the [daemon.txt](https://github.com/learningequality/kolibri/files/3349274/daemon.txt) file log

This was also reported by @mrpau-julius [here](https://github.com/learningequality/kolibri-installer-windows/issues/76#issueco

[2019-07-02 17:14] lyw07 commented on #5733
For the python 3.7 issue, what do you get when you run the following command? Thank you!
[code]

I feel that the issue may be because the libraries are not added to PYTHONPATH.

[2019-07-02 17:44] jonboiser commented on #5727
In the logout_view, the reverse lookup of `redirect_user` always returns the english URL `/en/redirectuser`. I tried changing my Device Settings, and it doesn't change it. Maybe calling `logout` the line above defaults everything to English?

https://github.com/learningequality/kolibri/blob/a618e8740909f30de65e2e0d8aa484ce07a189f0/kolibri/core/views.py#L94-L97

[2019-07-02 17:52] rtibbles commented on #5727
Yes - I think the issue here is that once the session is logged out, the currently active translation context switches. Can dig into this.

[2019-07-02 20:47] jamalex opened #5736 "track versions of each activated plugin"
### Observed behavior

Activating, deactivating, or upgrading plugin does not trigger Kolibri's `update` logic, and hence doesn't trigger `collectstatic`, `migrate`, etc even at times when they may be needed.

### Expected behavior

We should keep track of what version of each plugin is installed, as an entry in the .data_version file (or perhaps a new file).

MVP: changing a plugin could just who

[2019-07-02 20:50] indirectlylit commented on #5736
updated the title because I believe this info would probably end up being stored in `kolibri_settings.json`

[2019-07-02 23:51] jonboiser commented on #4119
Just saw this again on the kolibribeta server (version 0.13.0). I don't think #5393 would have fixed it, since it doesn't address what I described in the OP: that we're attempting to PATCH the log with and incomplete payload. The unique ID constraint thing seems like it was different.

[2019-07-03 22:16] jonboiser opened #5741 "Add Pagination to Device > Manage Permissions Page"
### Observed behavior

The Device > Managed Permissions Page lists every Facility User in one big list. So similar to the Facility > Users page, applying the filter can be slow when there are thousands of users.

### Expected behavior

Following #5647, add a similar pagination UI, so applying the filter isn't slowed down by re-rendering the large list.

### Context

Kolibri 0.13

[2019-07-04 01:59] mrpau-richard commented on #5733
These are the outputs when I run the commands in Python 3.7

[code]

[2019-07-05 18:45] #5728 closed, assigned to jonboiser

[2019-07-05 19:04] jonboiser commented on #5564
This was fixed in #5730. The internal panels of the EPUB renderer were made flatter, the side panel animations were removed, and various box shadows were removed.

[2019-07-05 19:04] #5564 closed, assigned to jonboiser

[2019-07-05 19:47] jamalex commented on #5708
It likely wouldn't be from that channel (as it's not public), but might be from a channel that was curated a long time ago (when there were KA issues) and never updated. Steps to resolve:

A. If it's directly imported into Kolibri from the "Khan Academy (English)" channel (1ceff...), try re-importing from Studio.

B. If it was curated into another channel on Studio and then imported:
1. Go into th

[2019-07-05 19:48] jamalex commented on #5702
Bump. Please let us know what is happening.

[2019-07-08 19:23] #5714 closed, assigned to jonboiser

[2019-07-09 00:46] jonboiser opened #5752 "lint-frontend yarn command exits without showing a report for some errors sometimes missing changed files"
### Observed behavior

See [this Travis build](https://travis-ci.org/learningequality/kolibri/jobs/556056997#L886)

It exited with an error but did not actually print out the ESLint report explaining what the error was. It turned out, that it was an import-order error (which was discovered because my text editor pointed it out).

### Expected behavior

ESLint error reports are shown for all lint e

[2019-07-09 13:42] laurenlichtman commented on #4549
@rtibbles let me know if you need more examples of this. I had started writing out this issue at one point but I never added it to GH...

[2019-07-09 17:43] miyer03 opened #5753 "Kolibri might be busy - wait a few moments and then reload this page"
### Observed behavior

On installing Kolibri 0.12.5 and then starting it, its shows Kolibri Busy , Nginx 502 bad gateway. One pattern observed is that, after switching on the server if we wait for few minutues, this error doesn't seem to occur. If we do a Kolibri stop on terminal, it shows

[code]
It works if we do
[code]

### Expected behavior
It should not show Kolibri Busy but should open the K

[2019-07-09 17:44] rtibbles commented on #5753
For context from our conversations off github - it seems like the Kolibri server does eventually start, but that it is taking a very long time for the server to be available on its port.

[2019-07-09 17:56] rtibbles commented on #4549
I think the issue is well described at this point, and the important shift in behaviour seems to be making the display of content entirely up to the user's volition, and not just based on the availability of files.

[2019-07-09 18:30] indirectlylit opened #5754 "auto-generate consistent environment variables for options"
### Observed behavior

* We allow configuration to be set in both `options.ini` and as environment variables
* Environment variables usually follow the pattern `KOLIBRI_[option_name]`
* We've had a couple recent deviations from this pattern, e.g. SENTRY and OIDC
* The main reason we allowed vars to be specified separately from options was so that we could still handle some legacy envvars

https://

[2019-07-09 18:35] rtibbles commented on #5754
Sounds good to me.

[2019-07-09 19:02] jonboiser opened #5755 "On Learn Resource Cards, progress bar is too low"
### Observed behavior

On the resource cards, the progress bar is too low, resulting in the wrong visual appearance for square shaped and rectangular cards

![Screen Shot 2019-07-09 at 12 00 25 PM](https://user-images.githubusercontent.com/10248067/60915701-58ecd200-a241-11e9-9ff1-e421f41ff0c7.png)
![Screen Shot 2019-07-09 at 12 00 10 PM](https://user-images.githubusercontent.com/10248067/60915702

[2019-07-09 22:19] indirectlylit commented on #5753
Is this using the `kolibri-server` package or a custom Nginx config?

[2019-07-09 22:27] #4806 closed, assigned to jonboiser

[2019-07-09 22:27] #5543 closed, assigned to jonboiser

[2019-07-09 22:31] indirectlylit opened #5757 "investigate a lighter-weight API for polling learner classroom status"
### Observed behavior

In https://github.com/learningequality/kolibri/pull/5737 we added polling to refresh learners' classes.

### Expected behavior

We should investigate performance impact of this polling, and if necessary create a dedicated, lighter-weight API for the polling endpoint, or find ways to optimize the existing endpoint.

### User-facing consequences

potentially degraded performan

[2019-07-09 22:33] #5047 closed, assigned to jonboiser

[2019-07-09 22:53] nucleogenesis commented on #5629
After some more testing on fresh Ubuntu VMs, it seems that this is no longer an issue in the latest deb release.

When I use the 0.12.3 deb installer from I do not get the message that I expect to get. When I load the kolibri shell - the RUN_MODE is indeed in the options, but for some reason it wouldn't give the pop-up.

However - when I use the 0.12.5 deb installer, everything works as expected w

[2019-07-09 22:53] #5629 closed, assigned to nucleogenesis

[2019-07-09 22:58] indirectlylit commented on #5629
okay, great

[2019-07-09 23:51] rtibbles commented on #5704
Ah, this is not a cache clearing problem - the cache does get cleared in the `DeviceSetting` save method.

This will be fixed by #5746

[2019-07-09 23:55] rtibbles commented on #5753
This is a custom nginx configuration. (but one that the kolibri-server nginx configuration is based on)

[2019-07-09 23:58] rtibbles commented on #5757
One possibility would be to add an etag or last modified to the endpoint if we could calculate this efficiently.

[2019-07-10 00:13] indirectlylit commented on #5753
there are two things we might want to look into then:

1. Is Kolibri taking longer than normal to start up, or is it just the standard amount of time?
2. Are there improvements we can make to the nginx "please wait" screen? I've created an issue for this here: https://github.com/learningequality/kolibri-server/issues/17  once that's done we can help port those changes back to this config

[2019-07-10 01:47] intelliant01 commented on #5753
From my experience with the same while working with the kolibri-server
package, I can confirm that Kolibri is taking the "normal" time to startup
and the 502 error is shown while nginx waits upon it (basically vaccumming
of a large db.sqlite3 file).

My suggestion would be to improve the messaging by either displaying a more
clear message along with the last few lines of the kolibri.txt log.

The

[2019-07-10 01:50] intelliant01 commented on #5753
The experience is the same even with the default kolibri-server installation with a large db albeit on port 8080.

[2019-07-10 02:23] rtibbles commented on #5704
Fixed in #5746

[2019-07-10 02:23] #5704 closed, assigned to nucleogenesis

[2019-07-10 02:23] rtibbles commented on #5727
Fixed in #5746

[2019-07-10 02:23] #5727 closed, assigned to nucleogenesis

[2019-07-10 16:54] jamalex commented on #5702
Any word? We want to make sure this has been resolved.

[2019-07-10 17:15] indirectlylit opened #5759 "Brief flash of incorrect app bar label in import/export"
### Observed behavior

Reported by @jonboiser in https://github.com/learningequality/kolibri/pull/5653#issuecomment-509757634

### Expected behavior

No unexpected flashes of app bar labels

### User-facing consequences

slightly disorienting state changes

### Steps to reproduce

Begin process of export

### Context

0.12.5

[2019-07-10 17:55] miyer03 commented on #5702
Sorry for the delay in update as we are busy deploying and testing 12.5. This has been definitely observed for Magogenie questions. Will share the update tomorrow.

[2019-07-10 20:47] jamalex commented on #5702
Thanks. When reporting issues you're seeing on content, please include:
1. The channel _version_ (e.g. "37") as can be seen on the local device at: http://127.0.0.1:8080/en/device/#/content
2. The full URL of the content item you're seeing issues on.

[2019-07-10 22:09] indirectlylit commented on #2279
from https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/

[code]

[2019-07-10 22:29] nucleogenesis commented on #5759
Removing this watcher here: https://github.com/learningequality/kolibri/blob/3743ee85ba10e26d672b14420ba3de2a8bd20b05/kolibri/plugins/device_management/assets/src/views/SelectContentPage/index.vue#L212-L216 fixes this issue - I haven't noticed any side effects in testing.

[2019-07-11 09:08] miyer03 commented on #4623
This was observed in the class yesterday for students as well as when logged in as coach through a tab.
Attached are the error message.

Kolibri 0.12.5
Ubuntu 18.04

[Coach Error Msg.txt](https://github.com/learningequality/kolibri/files/3381174/Coach.Error.Msg.txt)
[Learner Error Msg.txt](https://github.com/learningequality/kolibri/files/3381176/Learner.Error.Msg.txt)

[2019-07-11 11:08] miyer03 commented on #5702
I tried creating a quiz and observed that the all the content is visible on the laptop but some of the images/ content missing on the tab.

The channel Version 39.

The URLs

http://127.0.0.1:8008/en/coach/#/286e4b88b0cea28d11fc576217712d7e/reports/quizzes/d74ed6a46e05372e290f182ba4725b1f/learners/07348dbede8ea4065dc249f7788df7d4/questions/1/interactions/0

http://127.0.0.1:8008/en/coach/#/286e4b8

[2019-07-11 13:11] miyer03 commented on #5702
http://127.0.0.1:8008/en/coach/#/286e4b88b0cea28d11fc576217712d7e/plan/quizzes/a896854f941dd475f96dc2cd1160ca96

![Screenshot from 2019-07-11 18-28-56](https://user-images.githubusercontent.com/8583367/61053556-681f7b80-a40b-11e9-85f2-c17dc95c86bf.png)
![Screenshot from 2019-07-11 18-30-02](https://user-images.githubusercontent.com/8583367/61053557-681f7b80-a40b-11e9-99e0-730e85155a2e.png)
![Scree

[2019-07-11 15:38] indirectlylit opened #5763 "400 Bad request in Coach"
### Observed behavior

[Reported by](https://github.com/learningequality/kolibri/issues/4623#issuecomment-510401314) @miyer03:

### Expected behavior

no errors

### User-facing consequences

cannot use feature

### Errors and logs

learner error

[code]

coach error

[code]

### Steps to reproduce

…

### Context

Kolibri 0.12.5
Ubuntu 18.04

[2019-07-11 15:39] indirectlylit commented on #4623
@miyer03 this is unlikely to be the same issue, so I filed a new one here: #5763

If you could provide concrete steps to reproduce that would help us.

[2019-07-11 18:39] jamalex commented on #5702
Does this only happen in quizzes? Can you replicate on the tablets by navigating to the exercises directly, too?

[2019-07-11 18:50] jonboiser commented on #5763
The coach error looks like the user was trying to add a learner to a classroom or learner group (i.e. a Collection), when that learner was already in that Collection. This is probably another scenario to include in #5305

[2019-07-11 19:14] jonboiser opened #5764 "two false-negative cases for vue-no-unused-data rule"
### Observed behavior
(These probably happen for the other unused-X rules, but I haven't tested them)

**When a data object is in an arrow function**

Here, `foo` will not be flagged as unused data.
[code]

**When a a property is shadowed by a v-slot scope**

Here, `data.foo` is not actually used.

[code]
### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps

[2019-07-12 13:29] miyer03 commented on #5702
This happens in lessons as well.

Question in studio
https://studio.learningequality.org/channels/8fc515793aad4e52b490b03c48ad21de/edit/dac7eeb/03b1b41

http://localhost:8008/en/learn/#/topics/c/03b1b41aa4004d5c8d909e6bf10b571c
![Screenshot from 2019-07-12 18:57:57](https://user-images.githubusercontent.com/8583367/61131532-1ba17200-a4d7-11e9-91ff-c2dc078a1bc4.png)
![Screenshot from 2019-07-12 18:

[2019-07-12 13:49] miyer03 commented on #5702
Seems to be prevalent in quizzes.

Question in Studio :- https://studio.learningequality.org/channels/8fc515793aad4e52b490b03c48ad21de/edit/dac7eeb/03b1b41

![Screenshot from 2019-07-12 19:17:35](https://user-images.githubusercontent.com/8583367/61132803-bbf89600-a4d9-11e9-9bde-bc8de1802573.png)

In Laptop server

![Laptop](https://user-images.githubusercontent.com/8583367/61132837-d03c9300-a4d9-1

[2019-07-12 21:01] indirectlylit commented on #5764
Perhaps we could write a custom rule that enforces

**good:**

[code]

**bad:**

[code]

[2019-07-13 02:37] luna215 commented on #5755
I can't seem to reproduce the low bar issue for the square cards. what browser and operating system were you using?

[2019-07-15 18:04] indirectlylit opened #5767 "add 'powered by kolibri' option to theme"
### Observed behavior

in support of UN Women

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-07-15 18:04] indirectlylit opened #5768 "update privacy modal with SSO-related material"
### Observed behavior

In support of UN Women integration

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-07-15 18:20] #5755 closed, assigned to nobody

[2019-07-15 21:03] lyw07 opened #5769 "pass buildkite env vars prefixed with KOLIBRI_BUILD_ into docker"
### Observed behavior

Currently for UNW custom installers, we have an env var `BACKGROUND_IMAGE` that is defined in buildkite and gets passed into docker through `env.list`.
As we will probably add more related env vars later for the custom installers, it will be better if we have a script that autogenrate the `env.list` to include all the env vars prefixed with `KOLIBRI_BUILD_` in the current en

[2019-07-15 23:12] jamalex commented on #5702
From your screenshots, it looks as if it's happening both in quizzes and in exercises.

The common factor for the issue seems to be the tablet browser. Is that Chrome? If so, can you use [remote Chrome debugging](https://medium.com/anantha-krishnan-k-g/how-to-debug-your-website-in-android-chrome-29ee031b24e3) to see what errors might be showing up in the Console or Network tab, or if it's not, can

[2019-07-15 23:44] indirectlylit opened #5771 "unexpected language behavior in shared-domain environment"
### Observed behavior

reported by @aronasorman

### Expected behavior

If in fact this is a cookie-related issue, we should ensure that cookies from subdomains are kept independent of one another.

### User-facing consequences

Unexpected behavior when navigating between multiple Kolibri instances

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-07-15 23:51] aronasorman commented on #5771
Hmm I'm unsure if it's a cookie-related issue now. Cookie-sharing across hosts is done by the `Set-Cookie` response header, but it looks like we don't set that in the main request at least.

[2019-07-15 23:52] aronasorman commented on #5771
Ah nvm, we do have some set-cookie headers, sent through `/api/auth/session/current`

[2019-07-16 22:34] indirectlylit opened #5779 "links in coach dashboard have a leading underlined space"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/61334370-ff574b00-a7de-11e9-8a9c-475f5f5ff495.png)

### Expected behavior

underline should begin at start of text

### User-facing consequences

things look a little bit broken

### Steps to reproduce

view activity in coach dashboard

### Context

0.12.5

[2019-07-16 23:34] jonboiser commented on #5779
Probably need to do something similar to this https://github.com/learningequality/kolibri/commit/589b2cefa223a4455ad7269dfd70af93f81f1a96#diff-20e5ff25899fd87d56630a24f741f914: wrap the text in a span to get rid of extra whitespace

[2019-07-17 00:13] indirectlylit opened #5781 "improve release notification instructions"
### Observed behavior

see https://kolibri-dev.readthedocs.io/en/develop/release_process.html#send-upgrade-notifications

### Expected behavior

Based on the form for creating a new message in Django Admin, the order can be changed to:

* Log in to the telemetry server using your Learning Equality Google Apps account
* Create a new Message object by clicking the "+ Add" button
* In the "Version ra

[2019-07-17 00:18] indirectlylit opened #5782 "nutritionfacts_i18n script doesn't output English strings"
### Observed behavior

currently outputs something like

[code]

### Expected behavior

should output something like

[code]

### User-facing consequences

devs have to do manual work copying over old strings

### Steps to reproduce

run:

[code]

### Context

0.12.5

[2019-07-17 00:34] indirectlylit commented on #5779
Yeah. I've noticed that Prettier will sometimes cause breakage like this by re-formatting and wrapping across multiple lines even when the whitespace is significant.

We might want to check our options and make sure we're being as strict as possible with respect to significant whitespace:

https://prettier.io/blog/2018/11/07/1.15.0.html#whitespace-sensitive-formatting

[2019-07-17 00:54] radinamatic opened #5783 "user string not localized - 'x of y' (pages) on Facility > Users"
### Observed behavior
`of` in 'x of y' (pages) on **Facility > Users** does not seem properly localized.

![Selection_154](https://user-images.githubusercontent.com/1457929/61339403-f053b580-a83d-11e9-8eae-99aacdf6e713.png)

![Selection_155](https://user-images.githubusercontent.com/1457929/61339410-f77ac380-a83d-11e9-98db-239e63a56d57.png)

### Expected behavior
Fully localized phrase.

### User-

[2019-07-17 03:03] jamalex opened #5786 "check_debian_user is run unconditionally, even when running CLI via pip or PEX"
### Observed behavior

Trying to run a kolibri command inside a virtualenv using a pip-installed kolibri version.

Because I separately also have the DEB installed, when [`check_debian_user`](https://github.com/learningequality/kolibri/pull/3934/files#diff-8f9ca278df35a8b43572c4b10dafe306R22) is called, it displays the ["You are running this command as the user" message](https://github.com/learnin

[2019-07-17 03:17] lyw07 commented on #5786
Thanks for reporting this issue! If we would like to display this image only when running the deb installer, I assume we will move the sanity check out of the kolibri source code but putting it into kolibri-installer-Debian source code?

[2019-07-17 11:01] miyer03 commented on #5702
I tried in a swipe tablets and seems to be an issue but when I tried in a different LG tablets the images seems to be rendering. Not sure if this is device specific. All the tab have google chrome as the browser in the latest version. Tried in firefox as well and seems to be a problem for swipe tablets there as well.

[2019-07-17 19:08] jamalex commented on #5786
Or perhaps it could live in Kolibri, but we could add in better mechanisms to detect what method is being used to call the CLI (or run the server). So the Debian CLI entry point (and system service) could set an envvar, as could the PEX CLI entry point, etc, before passing to the Kolibri CLI code. This would also be useful for our tracking of what methods people are using to install/run Kolibri, a

[2019-07-17 21:27] jamalex commented on #5702
Ok, it sounds like it may be something particular to that tablet (did you try on other "swipe tablets" also, or just the one device?). We don't have any of those tablets here, so we can't replicate on our side, and rely on your debugging. Could you still try the suggestion below, to see if there are any errors in the Network or Console tabs? It could provide a good indication of where the problem

[2019-07-18 00:58] lyw07 opened #5788 "user warnings about plugins are shown every time when kolibri starts"
### Observed behavior

When I started kolibri from a fresh install, I got this warning:
[code]
After I created the facility and got navigated to the device page, I got another warning:
[code]

### Expected behavior

we should try to eliminate the warnings if possible

### User-facing consequences

users/developers who check the logs might be confused by these warnings

### Errors and logs

[code]

[2019-07-18 01:08] lyw07 commented on #5786
yes that sounds better than putting the logic back to kolibri-installer-debian. I will try to see if there's a way for us to figure out how users install/run kolibri.

[2019-07-18 10:56] Divya-Sodha commented on #5702
As for now, found out the following-
For some cases where the images are not rendered,  the image is accessible through IP address but localhost is being passed in the response. Attaching the screenshot for the same.

We are able to access same question with images in local machine but images are not loading on remote machine.
Hope this helps in finding out the actual problem. Will try out remote

[2019-07-18 16:13] rtibbles commented on #5786
First thing would be to check if this function solves the issue: https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/server.py#L491

If not, would be good to fix the behaviour for this function if possible, and then use it to conditionally trigger the check debian user function.

[2019-07-18 17:22] lyw07 commented on #5786
thank you! I didn't realize that we have that function now. I will try using the function to see if it works in this case :)

[2019-07-18 18:15] rtibbles commented on #5753
Sounds like for a large database that this can take up to 30 minutes to complete, which is challenging for users.

[2019-07-18 22:12] rtibbles commented on #5702
Thanks @Divya-Sodha - I think the attempt to access the images from the localhost is the key thing here.

My hypothesis is that this is a caching issue.

When the exercises are first accessed from the browser of the server itself, then the page is initially rendered with a URL that is from localhost for the image.

This is then cached by Kolibri and/or Nginx.

When a tablet user accesses via the I

[2019-07-18 23:18] rtibbles commented on #5788
Looking at this, I think this error is completely erroneous. If the initialization was going to cause a problem, it would be raising an error elsewhere, so this is just noise. Going to remove.

[2019-07-19 00:18] rtibbles commented on #5769
Fixed in #5778

[2019-07-19 00:18] #5769 closed, assigned to lyw07

[2019-07-19 00:21] lyw07 commented on #5788
fixed in #5792

[2019-07-19 00:21] #5788 closed, assigned to rtibbles

[2019-07-19 00:37] rtibbles commented on #5753
@miyer03 if you run the following command:
`kolibri manage vacuumsqlite` before starting the server, does that cause any improvement?

[2019-07-19 11:02] miyer03 commented on #5702
Tried remote debugging and attached are the screen shots. Please let me know if these screen shots help
![Screenshot from 2019-07-19 16-30-51](https://user-images.githubusercontent.com/8583367/61530828-cddeb980-aa42-11e9-90a6-e9dce32f4b8c.png)
![Screenshot from 2019-07-19 16-31-01](https://user-images.githubusercontent.com/8583367/61530829-cddeb980-aa42-11e9-97f2-093f5e8c9391.png)

[2019-07-19 11:09] Divya-Sodha commented on #5702
Tried clearing the nginx cache from .kolibri folder and restarting the nginx server as suggested by @rtibbles . Images are able to be loaded on tablets now after doing this. Hope this helps in figuring out the solution.

[2019-07-19 11:11] Divya-Sodha commented on #5702
Tried clearing the nginx cache from .kolibri folder and restarting the nginx server as suggested by @rtibbles . Images are able to be loaded on tablets now after doing this. Hope this helps in figuring out the solution.

[2019-07-19 17:09] rtibbles commented on #5702
Thanks @Divya-Sodha - it seems that this is an issue caused by caching, I will submit a fix to prevent this issue arising, targeted for 0.12.6.

[2019-07-20 08:06] miyer03 commented on #5702
@rtibbles I cleared the cache and its seems to be working, but still could find the issue in few places. Attached is a screen shot.

Quiz link on the laptop

http://127.0.0.1:8008/en/coach/#/63a33cb55e7e35672032b4fd8ebd6d62/plan/quizzes/b26b4e058735ae7f5e64096503abfc30
![Screenshot from 2019-07-20 13-33-54](https://user-images.githubusercontent.com/8583367/61576125-62a0f000-aaf3-11e9-8b6c-5d44734a

[2019-07-22 03:28] radinamatic commented on #5741
Yes, please! :pray:

![devices-permissions](https://user-images.githubusercontent.com/1457929/61604349-75c1d600-ac41-11e9-8099-b556d42cdf89.png)

[2019-07-22 03:32] radinamatic commented on #4747
This seems to have slipped our milestones... Still extant on 0.12.6.b1:

![Ubuntu16 04 (0 12 6b1)  Running  - Oracle VM VirtualBox_170](https://user-images.githubusercontent.com/1457929/61604445-d2bd8c00-ac41-11e9-9859-17f7970ab1c7.png)
![Ubuntu16 04 (0 12 6b1)  Running  - Oracle VM VirtualBox_168](https://user-images.githubusercontent.com/1457929/61604447-d2bd8c00-ac41-11e9-84a9-c10e68d7d7f5.png)

[2019-07-22 15:27] rtibbles commented on #5702
Thanks @miyer03 - this may be persisting due to client side caching, but I still see the `localhost` in the address, so I think we are still on the right track here.

[2019-07-22 20:11] Marshall-B commented on #5708
Thanks Jamie,
    The notifications had been getting caught by the SPAM filter – I’ll have to take a look tonight when I can visit github for the other updates.  I will attempt to get KA again tomorrow when I have most of the day to get it.

-Marshall

DO NOT read, copy, or disseminate this communication unless you are the intended addressee. This e-mail communication contains confidential and/or

[2019-07-22 21:00] indirectlylit commented on #4747
thanks, good catch

[2019-07-22 22:45] nucleogenesis opened #5794 "Django language cookie persistently overrides device language setting"
### Observed behavior

When a super admin sets the device language - for example, to Spanish - and a user later uses the language selection modal to personalize to different language, for example, French - then the browser that the user used to select French will not automatically revert to using the device language.

The translation logic prioritizes the language code in the URL first, then sessi

[2019-07-22 23:13] rtibbles commented on #5794
Can probably resolve this by explicitly setting https://docs.djangoproject.com/en/1.11/ref/settings/#language-cookie-age to a specific/somewhat low value.

[2019-07-23 16:40] nucleogenesis commented on #5794
I added `LANGUAGE_COOKIE_AGE = 60` to the base.py conf file and the cookie expires as expected.

Now that I'm working with it, I'm thinking that we might not need the Django language cookie at all.

If we don't set any cookie at all - the language code is still stored on the user's session. So, if you select a language different than the device language, you will continuously see Kolibri in that l

[2019-07-23 21:56] indirectlylit opened #5798 "adjust facility data download layout"
### Observed behavior

There is space for the "Generated 3 months ago" timestamp text alongside the download button, but instead it displays below:

### Expected behavior

The <kbd>Download</kbd> button, the timestamp text, and the 'generate' link should each individually be inline block elements in a single line. This will allow them to wrap like so:

ref: https://learningequality.slack.com/archi

[2019-07-23 22:04] indirectlylit opened #5799 "add support for OIDC in account creation flow"
### Observed behavior

currently SSO works for sign in but not account creation

### Expected behavior

the 'next' parameter needs to be passed from the sign in page to the account creation page and handled there

### User-facing consequences

The following flow is not supported:

### Context

0.12.5

[2019-07-23 22:12] indirectlylit commented on #5794
That seems right to me.

The other thing to consider though is that the user's language selection should really be retained across sessions, so it ought to be stored as an attribute on the user model.

[2019-07-24 05:31] miyer03 opened #5801 ""Something Went Wrong" page appeared on a tab"
### Observed behavior

During class some of the students got a "Something Went wrong page " which stopped their activity. On Refresh this page goes away.

### Expected behavior

This page should not appear and there should be no disruption during class.

### User-facing consequences

Interrupts the flow of work in the classroom for both the students and the teachers.

### Errors and logs

[code]

[2019-07-24 17:30] ralphiee22 opened #5802 "Can't add fields to Collection model"
### Observed behavior

A field was added to the Collection model, and the custom migration where the DeviceOwner is removed (`0004`) is broken because the field they added has not been migrated at the time of accessing the most up to date "Real" `Facility` model (https://github.com/learningequality/kolibri/blob/develop/kolibri/core/auth/migrations/0004_auto_20170816_1607.py#L21).
Thus, Kolibri is

[2019-07-24 18:36] rtibbles commented on #5794
It think it would be reasonable not to use the Django language cookie - however, I think, as @indirectlylit suggests, we should store it as extra information about the user, so maybe we can do both things in tandem?

[2019-07-24 19:38] indirectlylit commented on #5801
@miyer03 thank you for the report. On a meta-note, please try to verify the markdown formatting when submitting to make it easier to read the issue. concretely:

| | markdown | rendered |
|--|--|--|
| **before** |  ![image](https://user-images.githubusercontent.com/2367265/61822945-a9eaf180-ae0f-11e9-8303-658387146516.png) |![image](https://user-images.githubusercontent.com/2367265/61822948-ad7e78

[2019-07-24 19:40] indirectlylit commented on #5305
another instance: https://github.com/learningequality/kolibri/issues/5801

[2019-07-25 00:03] #5767 closed, assigned to indirectlylit

[2019-07-25 00:04] #5768 closed, assigned to indirectlylit

[2019-07-25 00:04] #5799 closed, assigned to indirectlylit

[2019-07-25 01:28] luna215 commented on #5779
I think this was a styling issue within the class `link`. I made a PR that can fix this issue.
https://github.com/learningequality/kolibri/pull/5808

[2019-07-25 14:25] benjaoming opened #5810 "Verify checksum of bundled Python installer"
### Observed behavior

Remaining work from https://github.com/learningequality/kolibri-installer-windows/issues/71

We need to hard-code the expected checksum of the Python.exe that is downloaded and bundled in `.buildkite/pipeline.yml`.

An alternative approach would be to move both `curl`, checksum and Version definition to the Makefile of kolibri-installer-windows, so not maintaining this logic

[2019-07-25 18:29] khangmach opened #5811 "channels briefly become selectable in quiz creation"
### Observed behavior
- Channel nodes briefly become selectable when user clicks on the node.

![select bug](https://user-images.githubusercontent.com/25045166/61899047-7d96aa00-aecf-11e9-8f0a-2385bf068085.gif)

### Expected behavior

- Channels should be selectable

### User-facing consequences
Looks like broken UI

### Steps to reproduce
- Create a new quiz
- Click on a topic node to drill deepe

[2019-07-25 20:43] indirectlylit commented on #5811
Good catch

Previously we blocked channels primarily as a performance hack. This performance issue has now been mitigated.

Rather than maintaining the inconsistency with topics, let's simply update the UI to allow selection of full channels.

[2019-07-25 21:25] khangmach commented on #5811
Nicee

[2019-07-25 22:15] indirectlylit opened #5812 "facility selection on sign-in page is not persisted for account creation"
### Observed behavior

| When a server has multiple facilities, a user sees this |  However, this is ignored by the account creation |
|--|--|
|![image](https://user-images.githubusercontent.com/2367265/61909552-54821380-aee7-11e9-98eb-5bd2e9414b05.png) | ![image](https://user-images.githubusercontent.com/2367265/61912433-f5280180-aeee-11e9-82eb-6bbc91941be6.png) |

### Expected behavior

Facility

[2019-07-25 23:08] indirectlylit opened #5813 "windows installer shows corrupted text in Spanish"
### Observed behavior

see https://github.com/learningequality/kolibri-installer-windows/issues/122

### Expected behavior

Text shows correctly

### User-facing consequences

corrupted text for spanish speakers

### Errors and logs

…

### Steps to reproduce

…

### Context

latest 0.12.x branch

[2019-07-26 01:37] indirectlylit commented on #5702
@miyer03 @Divya-Sodha @amit3107  we will have an attempted fix in the upcoming 0.12.6 release. Once you have a chance to test that, please report back here if you're still encountering the issue.

[2019-07-26 01:43] #5779 closed, assigned to nobody

[2019-07-26 06:10] miyer03 commented on #5702
@indirectlylit please note, when we clear the nginx cache the situation improves, but still seems to be occuring. Once we try clearing the browsing history in the tabs and laptop, the images appear but, the something went wrong issue starts coming.

https://github.com/learningequality/kolibri/issues/5801

[2019-07-26 12:00] sarveshwaranj opened #5815 "How does you connect the js and backend"
you use sqlite for db and rest api for getting contents but I don't know how the js and backend is connected and how we receive the data from backend
And where is the assets files and vue.js files
I installed through pip command

[2019-07-26 13:54] rtibbles commented on #5815
Hi @sarveshwaranj - thanks for your interest in Kolibri! We detail how data is passed between the backend and the frontend in the developer docs: https://kolibri-dev.readthedocs.io/en/develop/dataflow/index.html

Hope this helps your understanding! I am going to close this issue, as it is not describing an issue with Kolibri, and is more of a question.

[2019-07-26 13:54] #5815 closed, assigned to nobody

[2019-07-26 17:17] indirectlylit opened #5816 "add gherkin stories for testing internationalized windows install/uninstall"
### Observed behavior

Follow-up from #5814 and #5813.

Currently not part of our integration testing stories

### Expected behavior

Let's update the gherkin stories to ensure that we do a check of the Windows install/uninstall process in all supported languages.

### User-facing consequences

possibility of letting missing/corrupt languages through

### Context

0.12.5

[2019-07-26 18:03] #5813 closed, assigned to cpauya

[2019-07-26 21:18] indirectlylit commented on #5702
@miyer03 we have not released 0.12.6 yet. I'd appreciate your testing with that early next week after it's been released. Thank you!

[2019-07-26 23:54] jonboiser commented on #5812
So if I select "Sync Hack Session School" on the modal, then the facility in the Sign Up Page will have that facility selected in the dropdown?

Do we still want to give people the option to create an account for other facilities in the Sign up Page? Or should it be set to the facility and disabled (like it is when there is only one facility)

[2019-07-27 00:30] indirectlylit commented on #5702
re-opening because the fix caused another issue

[2019-07-27 11:49] intelliant01 opened #5825 "Unable to update a channel and continuous warnings in log"
### Observed behavior

Such warning is flooding the kolibri.txt log when any attempt is made to update any channel after upgrade to 0.12.7 from 0.12.6a2 -

```WARNING 2019-07-27 15:53:59,877 utils Got an exception running <bound method Worker.check_jobs of <iceqube.worker.Worker object at 0x7f5709dccdd0>>: unsupported pickle protocol: 4```

Channel update process gets stuck at ``` Generating chann

[2019-07-27 23:06] jeepurs opened #5826 "Shaky window and double scroll in model when adjusting window sizes"
### Observed behavior

Upon testing UN Women's deb installer based on 0.12.7, and creating a coach account the popup became shaky and there was a double scroll. See more in video attached. Pressing on "Save" was fine.

### Expected behavior

No shakiness at any window size.

### User-facing consequences

Unexpected behavior and annoyance, but does not critically break any critical functionality of

[2019-07-29 07:31] miyer03 commented on #5801
Sharing more error codes and kolibri logs for reference.  This occurred when we were testing it internally.

[code]

[code]

[code]

[kolibri.txt](https://github.com/learningequality/kolibri/files/3440727/kolibri.txt)
[kolibri (3).txt](https://github.com/learningequality/kolibri/files/3440734/kolibri.3.txt)
[kolibri (4).txt](https://github.com/learningequality/kolibri/files/3440738/kolibri.4.txt)

[2019-07-29 07:37] miyer03 commented on #5702
[kolibri (5).txt](https://github.com/learningequality/kolibri/files/3440763/kolibri.5.txt)

Attached Kolibri log for reference.

[2019-07-29 08:06] miyer03 commented on #5801
Sometimes the server itself shows disconnected as per the screenshot below.
![IMG_20190715_122740](https://user-images.githubusercontent.com/8583367/62031585-5ad50000-b205-11e9-9761-f55eb17f1f09.jpg)

[2019-07-29 08:25] miyer03 opened #5827 "There was an error showing this item"
### Observed behavior

While solving a lesson, students sometimes get this error message instead of the question being displayed.

### Expected behavior

Instead of the above message, the question should get rendered correctly.

### User-facing consequences

Students not able to answer the questions.

### Errors and logs

![Screenshot_2019-07-26-11-11-42 (1)](https://user-images.githubusercontent.

[2019-07-29 08:46] miyer03 opened #5828 "Kolibri loading takes time in 12.5"
**### Observed behavior**
Its observed that the kolibri takes time to load and the students need to wait for minutes before the page loads or the question comes up.

…

**### Expected behavior**
Loading should not takes minutes.

…

**### User-facing consequences**
This leads in disinvestments of teachers and students.

…

### Errors and logs
Relevant logs from:
[kolibri (7).txt](https://github.co

[2019-07-29 09:54] intelliant01 commented on #5825
Updated to kolibri-server 0.3.0 but problem remains same.

[2019-07-29 10:24] intelliant01 commented on #5825
Does Kolibri now need Python 3+ on Linux as pickle 4 is supported by Python 3.6?
The [documentation ](https://kolibri.readthedocs.io/en/latest/install.html?highlight=python#other-linux-macos) doesn't say so.

[2019-07-29 17:20] rtibbles commented on #5825
This could happen if the new Kolibri version is being run with Python 3.6, but the worker process is still running in the background with an older Python version. Are there any extant processes that could be running an old Python version?

This seems to accord with what I see in the log where the Worker process is getting database locked errors, presumably because there are now two worker processe

[2019-07-29 17:39] indirectlylit opened #5829 "cannot close privacy modal"
### Observed behavior

* when launched from the side-bar and account creation screen, cannot close the privacy info modal
* when launched from the sign-in page, it works
* likely a regression from #5797

### Expected behavior

The privacy modal should be closable using the button, 'enter', and 'escape' key in all situations

### User-facing consequences

user might get stuck in privacy modal

###

[2019-07-29 18:04] indirectlylit commented on #5826
thanks - yeah this issue seems to affect a small number of browsers, mainly @jeepurs from what I can tell :)

dupe of #4641 - I'll bump up the priority on that

[2019-07-29 18:04] #5826 closed, assigned to nobody

[2019-07-29 19:18] jonboiser commented on #5811
Do we want to allow "Select All" for all channels?

[2019-07-29 19:20] indirectlylit commented on #5811
Let's test whether there are performance issues on the beta server (lots of content). If it works, we can allow it...

[2019-07-29 19:25] jonboiser commented on #5811
I don't think that would be a very good quiz.

[2019-07-29 19:26] jonboiser commented on #5811
I'm wondering if that's a good idea, pedagogically speaking. Even being able to select a whole channel, the quiz is not going to be very focused.

[2019-07-29 19:34] indirectlylit commented on #5811
Correct, it's generally not a good idea. However, consider:

1. there might be situations where a user has created some custom channels which are more focused
2. we allow selection of top-level topics, which are also quite unfocused for some channels

Since we know so little about the case-by-case usage details, I think the safest thing to do is impose fewer constraints and trust the end user to u

[2019-07-29 19:44] jonboiser commented on #5811
Implementing being to select Whole Channels or the entire Topic Tree is going to be way more complicated than just fixing the flashing checkbox, since it relies on having the entire set exercises pre-loaded. This is actually how it was implemented many versions back and there were performance issues with that approach.

If we want to bring it back, we might need to look at doing things differently

[2019-07-29 19:47] khangmach commented on #5811
We made a user stories doc a while back which suggests that when teachers create quizzes, they spend time in selection granularly choosing particular topics. And I haven't seen any channels that are so well structured/focused, the teacher can select just the highest channel level node.

https://docs.google.com/document/d/1wADsJZZ2wIjrZZ7mY-dI_myGINfz_Zy31mxCZYSU6lY/edit

Optimization of channel se

[2019-07-29 20:20] #5829 closed, assigned to jonboiser

[2019-07-29 21:05] jeepurs commented on #4641
If it helps to convince it's not only my computer, @jredrejo 's machine also showed this behavior during our UN Women training today (when we were demonstrating it on a screenshare..).

[2019-07-29 21:27] radinamatic opened #5832 "Open setup wizard in the OS language"
### Observed behavior
I thought we already had this issue filed at some point, but I'm unable to find it.

Post-install Kolibri setup wizard opens in English irregardless of the user's OS language. Since we advanced the work on the Kolibri default language setup, maybe this could be a good addition. Namely, the **setup wizard should open in the default language user has on their OS**, and default

[2019-07-29 22:23] jonboiser commented on #4747
Looking into this, it seems more complicated to handle both these situations:

Show a notification when...

1. (Easier) Admin user created, then made superuser, then logs in
1. (Harder) Admin user created, logs in, made superuser, then logs in (for at least second time)

[2019-07-29 22:48] jonboiser commented on #4747
We also need separate messages for these situations:

1. Super user first logs in from Setup Wizard -> Current Message
1. New super admin user logs in for first time -> ???
1. Pre-existing admin user is promoted and logs in for nth time -> "Your role has changed..."

[2019-07-30 11:04] intelliant01 commented on #5825
Thanks @rtibbles.

Yes, the problem was due to an old pex instance also firing up while I was making the switch to kolibri-server.

Now with pex completely removed, I am facing another issue. Shall create that anew.

[2019-07-30 11:04] #5825 closed, assigned to nobody

[2019-07-30 16:09] intelliant01 opened #5833 "Unable to cleanly start kolibri with deb package"
### Observed behavior

Kolibri doesn't start completely and in browser only Kolibri icon animation is visible. Database lock errors are visible in daemon.txt (shared below).

This is true of .deb package. It works fine with .pex.

### Expected behavior

Kolibri should start and login screen should be accessible.

### User-facing consequences

Unable to use Kolibri on Ubuntu with the deb package on

[2019-07-30 18:23] lyw07 commented on #5786
I started to work on this but have some questions regarding the `--noinput` flag, and it would be great if anyone can clarify this:

Since the `check_debian_user` is a function called in `cli.py`, having a `--noinput` flag means that we will need to add it to the top-level kolibri commands, so that users can run something like `kolibri start --noinput` to override the message in `check_debian_user

[2019-07-30 19:07] jonboiser opened #5837 "Landing page after Sign In might not be predictable for different roles"
### Observed behavior

The landing page (the page you go to after signing in) might not be predictable for some (probably rare) cases. Mainly, when non-admins are promoted to superuser, as well as the Class coach

Here's how the current landing pages go by role

* (Super) Learner -> Learn
* (Super) Class Coach -> Learn
* (Super) Facility Coach -> Coach
* Super Admin (any role, first login) -> Devi

[2019-07-30 23:05] jonboiser commented on #5752
This is also happening for some stylelint rules. [This build](https://travis-ci.org/learningequality/kolibri/jobs/565708533) failed without an informative error for what seems like a CSS attribute order error.

[2019-07-30 23:33] indirectlylit commented on #3226
Let's review and either implement or close as 'wontfix' in 0.13.0

started thread here: https://learningequality.slack.com/archives/C0LFYF7SA/p1564529555025700

[2019-07-31 00:09] jonboiser commented on #2526
This seems to be resolved for passwords:

https://github.com/learningequality/kolibri/blob/f774c6743ed72331fbf93108354f6cb1d8781763/kolibri/plugins/user/assets/src/views/ProfilePage/index.vue#L227-L230

But for user name/ full name, the issue is still there.
https://github.com/learningequality/kolibri/blob/f774c6743ed72331fbf93108354f6cb1d8781763/kolibri/plugins/user/assets/src/views/ProfilePage/i

[2019-07-31 07:15] mrpau-richard opened #5838 ""Close" button on "Usage and privacy" modal does not work"
### Observed behavior
More information close button not working during the Kolibri setup.

### Expected behavior
Close button should work properly.

### User-facing consequences
User can't close the modal during the Kolibri setup.

### Errors and logs
![Screen Shot 2019-07-31 at 2 39 04 PM](https://user-images.githubusercontent.com/8663934/62191135-7ecf4780-b3a5-11e9-82b7-638efebef362.png)

### St

[2019-07-31 18:37] khangmach commented on #4747
Does this mean a new super admin was promoted? Or just a newly created super admin? (no promotion?)

When an admin or any base user has their role promoted to super admin, it's safe to say that it's because they've been deemed eligible to take on the tasks of adjusting permissions or conducting content management via import/export. After all these are really the only things you can do in the devic

[2019-07-31 18:37] khangmach commented on #5837
People make super admins for various reasons so instead of writing specific guidance, it could be in the user's best interest if there was predictability of where users land. The landing could be determined not by their base role or any transformations in their role, but what their current role is.

(Super) Learner -> Learn
(Super) Class Coach -> ~~Learn~~ **Coach**
(Super) Facility Coach -> Coach

[2019-07-31 20:49] jonboiser commented on #5837
So, for example, Super Admin Learners still go to "Learn" upon second login?

[2019-07-31 20:52] jonboiser commented on #4747
If we remove "now" from "you can now", it think it would generalize to both scenarios (brand new user as well as active user that was promoted).

In my original implementation, I also kept that first line for brand new users saying something like 'Your new account has the Super Admin role.'

[2019-07-31 21:04] khangmach commented on #4747
I am all for these changes. If we can keep it generalizable and not point to/hint at any specific role based changes that happened on the backend.

[2019-07-31 21:05] khangmach commented on #5837
what's a super admin learner? a Super admin that has been demoted to a basic learner role via another super admin?

[2019-07-31 21:09] jonboiser commented on #5837
You can create a Learner Account with Super Admin permissions by:

1. Create a basic learner account in Facility > User page
1. In the Device > Permissions, you can then give that learner Super Admin permissions. (so the learner is actually "promoted")

The landing page logic is driven by that Step 1, but the "Super Admin Learner" will have access to every other page.

[2019-07-31 21:16] khangmach commented on #5837
So:
- landing page is dictated by current role
- Any assigned super admin permissions after-the-fact just allows them to see the Device tab

So in this case, yeah they'd be landing on Learn. They're still a learner, just with access to device tab for whatever reasons

[2019-07-31 21:23] jonboiser commented on #5837
Okay, this makes implementation of #4747 a little more complicated, because we'll need to put extra logic for re-directing to Device page and showing the "Welcome..." or "Permissions Changed" modal in each of Facility, Coach, and Learn plugins, depending on whether the promoted or new superuser has a "current role" of Admin, Facility/Class Coach, or Learner, respectively.

Alternatively, we can sh

[2019-07-31 21:42] khangmach commented on #5837
this would be a great use of a global banner component. So no matter where you are or landed post-login, you would see the new information. I imagine the logic for that would be easier?

[2019-08-01 02:05] #5802 closed, assigned to nobody

[2019-08-01 14:52] #5811 closed, assigned to jonboiser

[2019-08-01 18:31] indirectlylit commented on #5802
fixed in 0.13

[2019-08-01 19:02] jonboiser commented on #5837
So to fix this specific issue, should we just enforce the "always go to the same page" policy described in "Expected Behavior" above?

For #4747, we can narrow the scope of that issue to be for only Provisioning Admins and New Admins (created as an Admin, then given Super Admin permissions) since they will always go to the "Device" page under the new policy.

Newly promoted Learners and Coaches wi

[2019-08-01 19:12] jonboiser commented on #5838
This should be fixed in #5830 for all of these modals.

Here are some workarounds for now:

1. Refresh the page
1. The Privacy Modal should still respond to pressing "Escape" on the keyboard, if the pop-up is in focus.

[2019-08-01 21:14] khangmach commented on #5837
for which user types is this referring to?

So if their base role is a learner and they're promoted to learner with perms
1st login == land on device
2nd & beyond == land on device?

[2019-08-01 21:16] jonboiser commented on #5837
No, I actually just crossed out that second item, since we were saying that, e.g. Learners with Super Admin permissions should always land on the Learn page.

Currently, they land on Device page if they've never logged in before, then Learn page afterwards.

[2019-08-01 21:36] khangmach commented on #5837
I'm gonna make a table or something. Really confused about what's feasible technically.
Edit:
https://docs.google.com/document/d/1U5EdiGhtial2Kjr1Acr28cQtzq_VmVvGZrBQ1dkm3m8/edit#

[2019-08-02 00:13] #5741 closed, assigned to jonboiser

[2019-08-02 00:13] #5783 closed, assigned to jonboiser

[2019-08-02 08:12] indirectlylit commented on #4508
I'm going to close this as complete. I don't think renaming is necessary or consistent, given that the rest of the CSS is also defined in terms of "left" and "right", with the expectation that things will automagically flip for RTL.

[2019-08-02 08:12] #4508 closed, assigned to indirectlylit

[2019-08-02 23:54] radinamatic opened #5845 "User menu button has no visual in-focus indicator"
### Observed behavior
[Discovered](https://github.com/learningequality/kolibri/pull/5839#issuecomment-517759637) while testing #5839:

### Expected behavior
Consistent styling for buttons when in focus.

### User-facing consequences
Not knowing where the current focus is.

### Errors and logs
…

### Steps to reproduce
Use the <kbd>Tab</kbd> key to focus user menu button.

### Context
 * Kolibri ve

[2019-08-03 10:17] miyer03 commented on #5801
[code]

[2019-08-03 22:07] indirectlylit opened #5846 "options should be in line with item title, not 'back' link"
### Observed behavior

Observed during an audit of our responsive grids and page layouts (cc @jtamiace)

The 'options' button is currently associated with (next to or directly below) the 'back' link:

| large | small |
|--|--|
|  ![image](https://user-images.githubusercontent.com/2367265/62417183-86d5f400-b5fe-11e9-89e3-4fbc76f9bdef.png) | ![image](https://user-images.githubusercontent.com/2367265

[2019-08-05 18:49] indirectlylit commented on #5845
Let's use the same default `$coreOutline` as other components, and remove any special styling like changing the background color.

[2019-08-05 19:45] indirectlylit opened #5849 "implement common grid functionality using mixins rather than nesting"
### Observed behavior

In #5843 we distinguished `KGrid` from `KFixedGrid` and `KGridItem` from `KFixedGridItem`.

@jonboiser commented

### Expected behavior

We should move common functionality to mixins like we do with `KButton` to improve the developer experience

### User-facing consequences

none

### Context

0.12.7

[2019-08-05 20:56] jonboiser commented on #5569
The current localizations of the CC licenses seem to be copied from the website and only cover a subset the languages.

To fix this issue, do we need to change the English version to the content-consumer-focused version, and then have it localized to all supported languages?

[2019-08-05 23:30] indirectlylit commented on #3451
@nucleogenesis just noticed that this issue exists

[2019-08-06 06:50] indirectlylit commented on #5569
Correct. This was done as a stop-gap solution post-string-freeze in #5205

Yes, I think so - that's basically what #2371 is about.

Once we've enumerated all the English strings, we can work in a google doc to make sure we have both a content creator's perspective and the content consumer's perspective. Then we can get all both versions translated in crowdin for all languages and all licenses.

[2019-08-06 09:51] mrpau-richard opened #5851 "Some Khan Academy (en) exercises are not properly load on Ubuntu"
### Observed behavior
Some Khan Academy exercises did not properly load on Ubuntu 18.04 & 16.04 using Firefox and Chrome this was reported by @radinamatic and @mrpau-julius on [Slack](https://learningequality.slack.com/archives/CAVFL3J67/p1565038754002000)

At Ubuntu 14.04 I did not reproduce this issue.

### Expected behavior
All Khan Academy exercises should load properly on Firefox and Chrome

[2019-08-06 22:46] #5675 closed, assigned to rtibbles

[2019-08-06 22:57] indirectlylit commented on #4641
@radinamatic mind opening a separate issue for that one?

[2019-08-06 23:07] indirectlylit commented on #5837
FYI there has been some previous in-depth conversation on this topic. See e.g.:

* https://github.com/learningequality/kolibri/issues/1684
* https://github.com/learningequality/clearinghouse/issues/85

Recommend reviewing those threads

[2019-08-06 23:13] indirectlylit commented on #4747
In most situations where someone has been granted extra permissions, we can expect that there has been some communication happening outside of Kolibri between the granter and grantee - it would have happened for a specific reason.

Let's make the notification as simple and general as possible. We haven't heard any feedback from users that the current behavior is actually causing issues, so we shou

[2019-08-06 23:14] indirectlylit commented on #4747
I'm actually inclined to pull this out of the 0.13.0 milestone given the complexity we're seeing in #5837

thoughts?

[2019-08-06 23:19] khangmach commented on #4747
I had some discussion with @jonboiser and @jtamiace about what a simple user experience could be to address this.

Agreed on a few points:

- After getting super admin perms, have the user (regardless of role) land on device tab to get intro'd to the new features they can use
- The above applies even if you got one permission out of the available 2. Like only being able to manage perms and not bri

[2019-08-06 23:20] indirectlylit commented on #5812
Let's do this for consistency.

I think we'll need to revamp this whole experience soon anyway.

[2019-08-07 00:18] khangmach opened #5857 "Appbar active tab loses its active state when user clicks into a subtab"
### Observed behavior
Appbar active tab loses its active state when a user clicks in a subtab that is *not* in the first position.

![losing active state](https://user-images.githubusercontent.com/25045166/62585479-e128bc00-b86d-11e9-8831-f11fbb776030.gif)

### Expected behavior
Appbar active tab does not lose its active state

### User-facing consequences
- Inconsistent behavior
- Bad indication

[2019-08-07 00:31] jonboiser commented on #5857
Maybe caused by the recent router changes in #5774, as this was meant to fix router problems within the Coach plugin.

I can't reproduce it inside of the Learn plugin, when doing similar navigation ("Channels" tab stays active even at the channel list level, or when at a topic).

[2019-08-07 01:04] khangmach commented on #5857
Yeah this seems to be only happening in the coach plugin as far as my eyes can see

[2019-08-07 04:45] mrpau-julius commented on #5851
The same issue on CK-12 testing channel failed to load the resources of HTML5, Exercises and Funza.
![image](https://user-images.githubusercontent.com/38421180/62595143-bb53f380-b90f-11e9-86ba-108d2ca12b87.png)

[2019-08-08 17:24] indirectlylit opened #5860 "new accounts are seemingly created in the wrong facility"
### Observed behavior

Accounts created in one facility seem to actually get created in another facility.

### Expected behavior

Facility should be correct. Might be related to #5812, so we should address that issue at the same time.

### User-facing consequences

Users cannot log in

### Errors and logs

…

### Steps to reproduce

* Navigate to https://mexico.unwomendemo.learningequality.org
* S

[2019-08-08 18:02] jonboiser commented on #5860
I think it's because the passed-in facility ID is being ignored. The `create` method for the SignUpSerializer just ignores the facility ID that's passed into the payload.

https://github.com/learningequality/kolibri/blob/f22b5a7b084de69110d8ee42aafe38b876acd89e/kolibri/core/auth/api.py#L294-L301

@ralphiee22 Just change that one line to actually use what's in `request.data`?

[2019-08-08 18:24] rtibbles commented on #5860
That certainly seems like the issue - I imagine it is set to the default facility for safety, maybe change it to:
`"facility": request.data.get("facility", Facility.get_default_facility().id),`

[2019-08-09 18:24] indirectlylit opened #5862 "truncated item list needs language direction set correctly"
### Observed behavior

| english | arabic |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/62799469-b9b43800-ba95-11e9-9151-45590eecfc2a.png) | ![image](https://user-images.githubusercontent.com/2367265/62799477-bd47bf00-ba95-11e9-8211-fe8e74e5f421.png) |

### Expected behavior
RTL should display correctly

### User-facing consequences

broken formatting

### Steps to reprodu

[2019-08-09 19:42] jonboiser commented on #5812
This should be fixed in #5861. What happens now is that when a server has more than one facility, the Facility pop-up will appear on both the Sign In and Sign Up pages and the user _must_ select a facility. Whichever facility is chosen will be assumed for both flows.

Specifically for the Sign Up flow, the user cannot pick a different Facility after choosing one from the pop-up. If they want to pi

[2019-08-09 19:42] #5812 closed, assigned to jonboiser

[2019-08-09 19:43] jonboiser commented on #5860
This should be fixed in #5861. When a user picks a facility from the Facility pop-up, that facility's ID will be sent to the server when a new account is created, and the new user will be added to that facility.

[2019-08-09 19:43] #5860 closed, assigned to jonboiser

[2019-08-09 22:15] jonboiser commented on #5666
Could we use a different phrase? "we can't seem to find" seems kind of misleading for most of the cases, even if some other websites use it to strike a certain tone.

A generic explanation about the item being deleted (which probably explains the reality 90% of the time) might be more helpful.

[2019-08-10 22:33] indirectlylit opened #5865 "update perseus to use new build config scheme"
### Observed behavior

follow-up from #5864, need to update perseus to use new buildconfig.  Currently builds but does not run.

### Errors and logs

Currently getting:

[code]

### Context

current 0.13.0 develop branch

[2019-08-11 07:46] rationality6 opened #5866 "Webpack build file missing, front-end assets cannot be loaded Error"
Instructions:

Hello, I followed the instruction in Kolibri developer documentation.
And after run server with the command "yarn run devserver" with Pipenv set, I got this error below. I tried several times set env and unset, but couldn't find a way to fix. Did I miss to type some Webpack bundle command?

server side
[code]

client side

[code]

Tell us about your environment, including:
 * Kolibr

[2019-08-12 01:59] indirectlylit opened #5867 "hot reload is enabled even when not requested"
### Observed behavior

When running `yarn run devserver`, hot reload is enabled:

[code]

### Expected behavior

hot reload only enabled for `yarn run devserver-hot`

### User-facing consequences

none. might annoy some devs?

### Steps to reproduce

`yarn run devserver`

### Context

current 0.13.x develop

[2019-08-12 17:31] rtibbles commented on #5866
Thanks for the report - this is a duplicate of #5865, so I am closing this in favour of that issue. Please track the progress there!

In the meantime, you can still run the devserver by running `kolibri plugin kolibri_exercise_perseus_plugin disable` first.

[2019-08-12 17:31] #5866 closed, assigned to nobody

[2019-08-12 20:02] jonboiser opened #5868 "No vertical spacing between Channel Cards in Device > Channels page"
### Observed behavior
![Screen Shot 2019-08-12 at 1 01 02 PM](https://user-images.githubusercontent.com/10248067/62894298-52022500-bd01-11e9-97ab-93593d9fc4ae.png)

This is caused by removal of the `windowGutter` property in this [change](https://github.com/learningequality/kolibri/pull/5843/files#diff-192738a96c7af0b0f187e844255a82c1R79)

### Expected behavior

There is some spacing between the c

[2019-08-12 20:46] #5838 closed, assigned to jonboiser

[2019-08-12 20:48] indirectlylit commented on #5868
thanks

[2019-08-12 20:49] #5816 closed, assigned to cpauya

[2019-08-13 21:55] jonboiser commented on #5300
I found that these controls are not accessible by keyboard (but work fine with mouse on Kolibri beta)

Video starts with cursor clicking the play button

![Kapture 2019-08-13 at 14 50 36](https://user-images.githubusercontent.com/10248067/62979981-2606a280-bdda-11e9-90c3-7a1a7e9cb2f2.gif)

1. ❌ 	At the volume control, I can mute by hitting "Enter" or "Space", but arrow buttons do not change anythi

[2019-08-14 06:10] miyer03 commented on #5702
@indirectlylit since this issue is now closed are we tracking it through #5841 or the fix coming out with 12.8

[2019-08-14 12:35] intelliant01 commented on #5851
This may be related - https://github.com/learningequality/kolibri-server/issues/24.

[2019-08-14 12:40] intelliant01 commented on #5437
@bjester Sorry, had missed your request. Have invited you now.

[2019-08-14 17:51] indirectlylit opened #5875 "validation message is shown immediately on auto-focus of multi-facility account creation page"
### Observed behavior

minor issue with auto-focus after showing facility selection modal:

* on the sign in page, no validation is initially displayed (correct)
* on create account page, validation is immediately displayed

| sign in | create account |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/63043409-08404880-be81-11e9-9bc9-db7d42468c06.png) | ![image](https://user-im

[2019-08-14 18:39] indirectlylit commented on #5702
Hi @miyer03 we're expecting this to be fixed in 0.12.8 due to #5841, which has been merged. 0.12.8 is being released today, so please let us know if it works for you

[2019-08-14 21:22] jonboiser commented on #5606
There are more cases like this in the code. Here's the bottom panel on the quiz creation page:

![IMG_0922](https://user-images.githubusercontent.com/10248067/63057363-e48bfb00-be9e-11e9-9320-19247bed0a60.PNG)

[2019-08-14 22:28] #5865 closed, assigned to rtibbles

[2019-08-15 04:35] rationality6 commented on #5866
Thank you! After disabling the plugin, works very well.

[2019-08-15 11:41] radinamatic opened #5876 "Super admin cannot access the second facility they created"
### Observed behavior
Discovered while [testing the 0.12.8 RC1](https://learningequality.slack.com/archives/C920Q1LNS/p1565819521070600?thread_ts=1565819521.070600&cid=C920Q1LNS).

Super admin creates the first facility upon installation, and then the second one through the `/api/auth/facility/`, but they are _not_ a registered user on the second one and can't sign in.

@rtibbles noted:

### Expec

[2019-08-15 17:21] jredrejo opened #5877 "Sanity checks are not passed when running kolibri in a development env"
### Observed behavior
When running kolibri in develop mode (and in the develop git branch), using npm or yarn commands, sanity checks are not applied when starting the webserver.
If a fresh installation is made , the `content`folder is not created inside the KOLIBRI_HOME directory

### Expected behavior
Using `yarn devserver` or `npm run django-devserver` should provision correctly the KOLIBRI_HOM

[2019-08-15 17:45] rtibbles commented on #5786
Should be fixed in #5859 - if not, please reopen.

[2019-08-15 17:45] #5786 closed, assigned to lyw07

[2019-08-15 19:54] indirectlylit commented on #5867
note that this issue does not exist in the `0.12.x` branch

[2019-08-15 21:58] #5867 closed, assigned to indirectlylit

[2019-08-16 15:09] radinamatic opened #5881 "*Needs help* status is not preserved after Class home refresh"
### Observed behavior

*Needs help* (red icon and progress bar portion) status appears for the lesson when a learner inputs incorrect answers, but disappears as soon as the coach navigates away.

*Needs help* status is still reported in the **Class activity** panel, it's just not there in the **Lessons** panel anymore.

![no-needs-help](https://user-images.githubusercontent.com/1457929/63186685-60

[2019-08-16 16:30] jredrejo commented on #5876
I am not sure of the right approach here. If one user sets kolibri up and creates one facility, he's technically the superuser. If another facility is created, shouldn't it have a different superuser to administrate it?
Do we really want one superuser having the power over all the users, classrooms, etc. in all the facilities?  ( throwing the stone and running away)

[2019-08-16 16:37] radinamatic commented on #5876
I don't recall that we made a conscious decision either way...

In my head a super user is the **master** of the **device** and all the facilities that may be hosted on it, but there might be a reasoning to support a different setup. We do have a *Facility admin* users too, right?

[2019-08-16 16:46] rtibbles commented on #5876
The superuser *is* intended to be able to administrate all facility data on the device, whether it is their facility or not. We might want to change this, but it is part of the implied trust in the syncing model, whereby you should only sync your data to 'trusted devices'.

It's also a recognition of the simple fact that someone who has super admin access to the device can probably do what they wa

[2019-08-16 19:06] jonboiser commented on #5875
This might be happening since, on the Sign Up Page, the "Full name" field has "autofocus=true". So the field is focused on the first load, then blurred when the modal pops up and focus is given to the modal.

If this is what's happening, we might be able unblur that field immediately before the modal shows up. IDK if that will get be fast enough, though.

[2019-08-16 19:24] jredrejo commented on #5876
if with all the data we mean channels and device setup, it's clear and that's fine so far. If we include also classes, lessons, groups, users... then the superadmin does not have access to this when syncing. Every facility has its own admin who access this "other" data.

If we want the superuser to access to everything, this issue is obviously a bug and must be fixed, but I still don't see clearly

[2019-08-16 19:54] indirectlylit commented on #5875
this would also be addressed more generally by implementing https://github.com/learningequality/kolibri/issues/2184

I'm sort of inclined to do that for 0.13.x - would you be interested in taking it on?

[2019-08-16 22:43] indirectlylit commented on #5827
@miyer03 the next time this happens, is it possible to access debugging logs from the console?

[2019-08-16 23:02] indirectlylit commented on #5801
@miyer03 thanks for the additional info. In the future, please format errors and messages using code blocks:

https://help.github.com/en/articles/creating-and-highlighting-code-blocks

[2019-08-16 23:06] indirectlylit commented on #5801
@jonboiser @rtibbles there's a real assortment of errors in here. I see status codes `404`, `403`, `504`, and even a `0` somehow...

[2019-08-16 23:10] rtibbles commented on #5801
`0` is the error that gets reported when there is a network failure.

[2019-08-16 23:24] indirectlylit commented on #5666
Created a [string audit doc](https://docs.google.com/document/d/1B7E9RrxLatDF8R9a8JG8W8tEez6KrjrwPQPbE1biKsg/edit#)

[2019-08-16 23:37] indirectlylit commented on #5851
I think that's correct if this can only be reproduced in `kolibri-server`. Closing as a duplicate of learningequality/kolibri-server#24

[2019-08-16 23:37] #5851 closed, assigned to nobody

[2019-08-19 17:54] radinamatic opened #5882 "Unable to reset filters in Manage resources for Lessons & Quizzes"
### Observed behavior

When filtering search results in **Manage resources** page while building lessons and quizzes, resetting the filter to *All* does not bring back all search results - it still seems stuck with just the current filter.

It is also not possible to reset the search by clicking the **Reset** `X` button - it does nothing.

![filter-reset](https://user-images.githubusercontent.com/

[2019-08-19 18:07] radinamatic commented on #5882
@mrpau-dev We also need to add a *Reset search* scenario to **Create quizzes** feature file, and include all the search scenarios into **Create lessons** one, since they seem to be missing:

https://github.com/learningequality/kolibri/blob/release-v0.12.x/integration_testing/features/coach/coach-create-quiz.feature
https://github.com/learningequality/kolibri/blob/release-v0.12.x/integration_testin

[2019-08-19 20:15] jonboiser opened #5884 "Focused buttons, links, etc. do not have an outline"
### Observed behavior

In keyboard modality, focused buttons, links, and form elements, do not have an outline (light green in default theme)

### Expected behavior
In keyboard modality, focused buttons, links, and form elements, have an outline (light green in default theme)

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

Kolibri develop

[2019-08-19 20:34] indirectlylit opened #5885 "remove stemmed_metaphone field from content nodes"
### Observed behavior

The stemmed metaphone field is causing errors, and is not used. Reported from @jeepurs and @rtibbles

![image](https://user-images.githubusercontent.com/2367265/63297178-a10e0400-c285-11e9-8e27-2041f8ca7942.png)

* this field was added here: https://github.com/learningequality/kolibri/pull/461
* we stopped using it here: https://github.com/learningequality/kolibri/pull/3599

[2019-08-19 20:38] rtibbles commented on #5885
https://sentry.io/organizations/learningequality/issues/1170519046/
https://sentry.io/organizations/learningequality/issues/1170519041/
https://sentry.io/organizations/learningequality/issues/1170456873/
https://sentry.io/organizations/learningequality/issues/1170456872/

[2019-08-20 17:44] jonboiser commented on #5884
The Observed Behavior is actually not consistent. I'm seeing a mix of outlined and non-outlined buttons in the Setup Wizard.

Focused:

* The Icon button <- on the top
* Radio buttons for Yes No forms
* All buttons on the language selector

Not focused:

* Other buttons on different steps (e.g. "Continue")

[2019-08-20 21:08] bjester commented on #5437
@intelliant01 Thank you for getting back to me. We're able to reproduce this issue with links that have a `target` attribute defined. Those links' behavior is disabled in the sandboxed HTML5 resource.

[2019-08-20 21:19] indirectlylit commented on #5882
set milestone to 'upcoming patch'

[2019-08-20 23:00] jonboiser commented on #5881
The navigation behavior also looks wrong (I thought we had fixed all of these, but there must still be gaps in there).

1. ~At the beginning of the GIF, you click the Activity Feed for "Greg P and others", which should took you to a Greg P report (it should take you to the report for the lesson resource).~ It actually _does_ go to the ReportsGroupReportLessonExerciseLearnerPage, which does show yo

[2019-08-21 00:14] jonboiser opened #5889 "Some immersive pages have the wrong exit link, esp. if coming from a notification"
### Observed behavior

Some immersive-style coach pages like 'ReportsLessonLearnerExercisePage' can be linked to by certain notifications on the Class home page activity feed and activity page, and should go back to _those_ pages when exiting via the "X" button on the top of the page. Some of these pages, however, have their exit linked hardcoded to a specific page:

https://github.com/learningequ

[2019-08-21 00:32] radinamatic commented on #5881
@jonboiser I did not even notice the navigation behavior issues that you mention, my main beef was that the *Needs help* notification is not reported in the **Lessons** pane on **Class home** after refresh or navigating away, but is present in the **Class activity**.

[2019-08-21 00:39] jonboiser commented on #5881
In the video, you scroll down to the card for "Sumar 1" after navigating around, and the "Needs help" stuff is not there.

Before you clicked the links and so on, were there "Needs help" statuses on the "Sumar 1" card? (that part is missing from the beginning of the video).

[2019-08-21 03:27] intelliant01 commented on #5437
@bjester Sorry, it is not clear to me if this behaviour related to `target` attribute in the sandboxed resource will be changed or is this a `wontfix` case?

[2019-08-21 07:59] radinamatic opened #5890 "'Manage resources' window cannot be closed when the session has ended"
### Observed behavior
When coach closes the browser and turns off the device while on the (full screen) `Manage resources` page for lessons, it is not possible to close that page with the `X` close button in the upper left corner. Since the session is closed on a full screen window that does not have the user menu, there is no way to access the `Sign in` link. Refreshing the page does not change a

[2019-08-21 13:50] rtibbles commented on #5437
Hi @intelliant01 - we are looking at how to handle links that have a target attribute, so this will be fixed in the future, but not in the scope of 0.12.x.

[2019-08-21 17:42] indirectlylit opened #5891 "vacuum does not work properly for large DBs in 0.12.x"
### Observed behavior

ref: https://github.com/learningequality/kolibri-server/issues/20#issuecomment-523139707 from @jredrejo :

### Expected behavior

vacuum works as expected

### User-facing consequences

from @intelliant01:

### Errors and logs

…

### Steps to reproduce
Start kolibri with
`kolibri start --foreground`
Stop kolibri with
`kolibri stop`
sqlite journal files keep there and journa

[2019-08-21 18:06] jonboiser commented on #5890
Similar behavior happens in a lot of different places, where your session has ended, but you'll see an immersive toolbar for item on the top and the "did you forget to sign in" message below.

Maybe we should figure out a consistent behavior for going to arbitrary URLs that require authorization (but you have not logged in yet). It may not make sense to show the immersive toolbar and have the "X"

[2019-08-21 18:34] indirectlylit opened #5892 "update AuthMessage to include a link to sign in, and redirect back to previous page"
### Observed behavior

Currently when a session is lost, the user signs in but loses their place

### Expected behavior

The user should have a link to sign in and then be redirected back to the page they were on previously.

![image](https://user-images.githubusercontent.com/2367265/63458091-fde4f800-c406-11e9-926c-3842618c2a09.png)

Note that we already have some redirect behavior that can be le

[2019-08-21 18:35] indirectlylit commented on #5890
I think we should do two things:

1. When the `AuthMessage` is being shown inside a full-screen modal, the 'X' button should redirect people to the sign-in page. That will address this issue.
2. Add a new sign-in link and post-sign-in redirect behavior:  https://github.com/learningequality/kolibri/issues/5892

[2019-08-21 18:36] rtibbles commented on #5892
Note to allow for cases where the user plugin is disabled, this link should attempt to get the user page link and fall back to the base redirect link if not present.

[2019-08-21 18:38] jonboiser commented on #5890
Sometimes the label next to the "X" is missing because the API to fetch that data requires authorization also (e.g. class names, user names, etc.). So maybe just show the normal toolbar for the plugin (no immersive toolbar), because it's hard to know ahead of time which pages this might happen to to code in a placeholder.

[2019-08-21 18:40] indirectlylit commented on #5890
that sounds good to me

[2019-08-21 23:08] jonboiser commented on #5892
If, say an already signed-in Learner sees this message, should we change the messages? Like "Sign out and go to Sign In Page", or something like that?

Similarly with the header "Did you forget to sign in?", should it be different since the user actually is signed-in, but maybe with the wrong account.

[2019-08-21 23:47] nucleogenesis commented on #5678
@rtibbles I'm not able to replicate this on Debian w/ Chromium or Chrome. I've looked at every table where users are listed that I can think of but perhaps I'm not looking in the right place?

[2019-08-22 00:11] rtibbles commented on #5678
Hrm - let me see if I can still replicate on current release.

[2019-08-22 00:12] rtibbles commented on #5678
I also can no longer replicate. Let's close this and reopen if it recurs!

[2019-08-22 03:06] radinamatic commented on #5892
`Sign out and go to Sign In Page` sounds a bit convoluted and potentially confusing. And why would they need to sign in again, shouldn't it be enough to direct them to **Learn** again?

Maybe `Access to this page is restricted` as a header and `Go to Learn` link at the bottom...?

[2019-08-22 17:54] benjaoming commented on #5891
Just to understand this right: We want to backport the fixes to 0.12 because it's an LTS, right?

[2019-08-22 17:58] jonboiser commented on #5892
Going to Learn isn't general enough, I don't think. It could be a coach who has content management permissions trying to go to Device > Users, as well.

So the assumption I'm making here is that if the browser has a session and some user tries to go to a page that would not be authorized under that session, then the user might mistakenly be using the wrong credentials.

I've decided that in this c

[2019-08-22 21:25] jonboiser commented on #5892
In practice, a user cannot access a Coach, Facility, or Device Page without logging in (via the User Plugin's Sign In Page).

However, there is the one case where a user might try to access select pages in the Learn plugin (e.g. Class Assignments), so we will just send them back to the root of the Learn Page.

[2019-08-22 21:30] indirectlylit commented on #5891
We want to backport the fixes because 0.13.0 won't be released for a few months. (we don't have an official concept of "LTS" with regard to Kolibri releases)

[2019-08-22 21:33] indirectlylit commented on #5892
In those cases, let's simply not show the link

[2019-08-22 22:43] nucleogenesis commented on #5619
I've done a little bit of digging into this issue and the several other PLIX exercises have the same problem. http://kolibribeta.learningequality.org/en/learn/#/search?searchTerm=plix

Is it possible (or reasonable/reliable) to modify the `/build/themes/plix/css/plix.css` file during cheffing of all PLIX resources to remove the `height: 100%` defined on the several button classes that are ultimate

[2019-08-23 06:30] miyer03 commented on #4623
@indirectlylit I am not sure if you have fixed this with 12.8 release. One way where we observed it to occur or reproduce is when you clear the cache of all the tablets that the students are using. Once that is done this used to occur quite frequently.

[2019-08-23 07:00] intelliant01 commented on #5437
@rtibbles the clarity is much appreciated. Thanks.

[2019-08-23 07:13] miyer03 commented on #5753
This seems to be showing up in 12.8 as well. If we wait for a couple of minutes before starting kolibri it goes away or once the page is refreshed after few minutes. It seemed not to occur using kolibri manage vacuumsqlite

[2019-08-23 07:19] miyer03 commented on #5753
This seems to be showing up in 12.8 as well. If we wait or a couple of mins before starting kolibri it goes away or once the page is refreshed after a few mins. It seemed not to occur o using kolibri manage vacuumsqlite before starting kolibri. Config of the server

[2019-08-23 07:23] miyer03 commented on #5753
This seems to be showing up in 12.8 as well. If we wait or a couple of mins before starting kolibri it goes away or once the page is refreshed after a few mins. It seemed not to occur o using kolibri manage vacuumsqlite before starting kolibri. Config of the server

Intel Celeron CPU N2840 @ 2.16 GHz x 2 Ubuntu 16.04 LTS

[2019-08-23 09:00] mrpau-richard opened #5899 "Channel exercise hint number overlap"
### Observed behavior
Channel exercise number label overlap.

### Expected behavior
Number label should not overlap outside the container

### User-facing consequences

![Screen Shot 2019-08-23 at 4 51 40 PM](https://user-images.githubusercontent.com/8663934/63580194-dc326f00-c5c6-11e9-86e7-1e46a464d474.png)

### Steps to reproduce

…

### Context

 * Kolibri version: 0.12.8
 * Operating system: U

[2019-08-23 17:56] indirectlylit commented on #2526
@jonboiser is there still more information or a decision necessary here? Or is it as simple as adding `this.isSuperuser` to the other `canEdit*` functions?

[2019-08-23 21:26] indirectlylit opened #5900 "create new KButtonGroup component and remove margins on KButton"
### Observed behavior

KButtons have built-in margins that are intended to keep adjacent buttons a consistent distance apart:

https://github.com/learningequality/kolibri/blob/d321e3a793b40feea023d838ef7339210a0dd99d/packages/kolibri-components/src/buttons-and-links/buttons.scss#L13

However, these need to be reset often when buttons are used on their own. See for example:

https://github.com/lear

[2019-08-23 21:27] indirectlylit commented on #5606
this should be addressed in #5900

[2019-08-23 21:29] kollivier commented on #5619
@nucleogenesis It is something we can try, but CK-12 chef is really old and is currently in a broken state, so we need to get that fixed up first before we can test this. Also, it's possible that changes made to fix the 0.12 rendering could break rendering under previous versions, so I'd like to avoid having to patch specific content to fix it in 0.12 if possible.

[2019-08-23 21:40] indirectlylit commented on #5619
any chance this has been addressed by recent changes to hashi?

[2019-08-23 22:04] indirectlylit commented on #5832
cc @kollivier created a task related to this for the new MacOS app:
https://www.notion.so/learningequality/Set-up-internationalization-pipeline-32fe1c1084d14b4d8c3786ea0c69844a

[2019-08-23 22:08] indirectlylit commented on #5692
I don't believe this is an issue anymore? Please re-open with steps to reproduce if it is

[2019-08-23 22:08] #5692 closed, assigned to nobody

[2019-08-23 22:10] indirectlylit commented on #5672
@aronasorman this is referring to command-line imports I assume?

[2019-08-23 22:19] indirectlylit commented on #5263
@maxwellfundi would you mind providing a bit more information about the types of situations in which it would have been useful to have had 'pause' functionality?

[2019-08-23 22:25] indirectlylit commented on #4927
cc @khangmach  something to factor in to the ongoing content management work

[2019-08-23 22:27] indirectlylit commented on #4859
note, this file is now `trackInputModality.js` in `kolibri-components`

[2019-08-23 22:35] #4832 closed, assigned to nobody

[2019-08-23 22:41] #4499 closed, assigned to nobody

[2019-08-23 22:41] indirectlylit commented on #4499
wontfix

[2019-08-23 22:42] indirectlylit commented on #4448
master is gone!

[2019-08-23 22:42] #4448 closed, assigned to nobody

[2019-08-23 22:49] indirectlylit commented on #2184
@jtamiace  says

@indirectlylit  responds

[2019-08-23 22:54] indirectlylit commented on #4112
I believe this was addressed in #5494

please re-open if not

[2019-08-23 22:54] #4112 closed, assigned to nobody

[2019-08-23 22:57] indirectlylit commented on #3723
fixed in #4453

[2019-08-23 22:57] #3723 closed, assigned to nobody

[2019-08-23 23:03] indirectlylit commented on #5736
see also https://github.com/learningequality/kolibri/issues/2510

[2019-08-23 23:03] #2416 closed

[2019-08-23 23:06] indirectlylit commented on #2210
fixed in https://github.com/learningequality/kolibri/pull/5653

[2019-08-23 23:06] #2210 closed

[2019-08-23 23:08] indirectlylit commented on #2019
fixed in https://github.com/learningequality/kolibri/pull/5637

[2019-08-23 23:08] #2019 closed

[2019-08-23 23:10] #1685 closed

[2019-08-23 23:10] #1686 closed

[2019-08-23 23:16] indirectlylit commented on #5885
causing issues with UN Women online deployments

[2019-08-23 23:25] indirectlylit commented on #5268
see also #4592

[2019-08-23 23:27] indirectlylit commented on #3226
Have not heard of any outstanding need for this functionality. Please re-open if that's not the case

[2019-08-23 23:27] #3226 closed

[2019-08-23 23:29] indirectlylit commented on #2279
this also relates to #2722 and #5326

My sense is that we'll want to try and address all three at once by refactoring how scrolling and the app bar are handled more generally

[2019-08-24 00:08] indirectlylit commented on #4623
@miyer03 see #5763

[2019-08-24 00:08] indirectlylit commented on #5763
from @miyer03:

[2019-08-24 04:27] radinamatic commented on #5899
That should be the **hint** number (1 of 1). Maybe change the issue title for clarity @mrpau-richard?

[2019-08-25 20:50] radinamatic commented on #5881
@jonboiser I re-recorded the full scenario, hope this is makes it easier to debug:

![no-needs-disappears](https://user-images.githubusercontent.com/1457929/63655591-9c8e9300-c73e-11e9-8e59-354418067e13.gif)

[2019-08-27 06:26] miyer03 opened #5904 "Percentage completion while importing channel keeps fluctuating"
### Observed behavior

The percentage completion shown while importing channel, is inconsistent. It fluctuates and even goes beyond 100.

### Expected behavior

Ideally it should keep increasing instead of fluctuating and also should not exceed beyond 100%.

### User-facing consequences

Doesn't impact the classroom. Coaches unsure, on how much importing is left as the percentage exceeds 100.

###

[2019-08-27 12:48] benjaoming commented on #4112
Confirmed that #5494 removed the call to from `kolibri status`. Also of interest to this: https://github.com/learningequality/kolibri-server/issues/23

[2019-08-27 12:53] benjaoming commented on #4448
`release-v0.10.x` is also in sync with newer release branches and develop :tada:

[2019-08-27 13:01] benjaoming opened #5906 "Migrations / Initialization happens without checking if another instance is running"
### Observed behavior

Kolibri 0.13.0.dev runs migrations even though another instance is running, which can potentially lead to database corruption.

CC: @rtibbles

### Expected behavior

Kolibri should immediately quit.

### User-facing consequences

Almost certainly bad.

### Errors and logs

[code]

### Steps to reproduce

Run Kolibri 0.12, so it shares directory with current `develop`. Then r

[2019-08-27 13:08] benjaoming commented on #5832
I think we can try having the installer define a locale, and then Kolibri could choose this locale in the Setup Wizard if it's a supported language. Should be case insensitive and replace `_` with `-` when matching.

CC: @rtibbles - I think you've already had a look at the ways that language is chosen from HTTP request vs. `settings.LANGUAGE_CODE` etc..

[2019-08-27 15:56] rtibbles commented on #5906
Sounds good - just need to run the sanity check before we do the update logic, yes?

[2019-08-27 17:54] benjaoming commented on #5906
Agreed, but aren't sanity checks already run when `kolibri start` is run?

[2019-08-28 07:01] amit3107 opened #5908 "'needs help' message shown even after completion"
### Error

In the reports of a lesson- for few students, the report shows the students need help even if they have cleared the mastery criteria.

### Observed behavior

In the reports of a lesson- for few students, the report shows the students need help even if they have cleared the mastery criteria.
It shows completed in the tab though.
![Screenshot_20190828-101926](https://user-images.githubuse

[2019-08-28 07:02] amit3107 commented on #5908
@rtibbles @Miyer03
@indirectlylit

[2019-08-29 06:37] radinamatic opened #5909 "Briefly broken responsivenes on Device > Channels"
### Observed behavior

Brief break in responsiveness when the window is manually resized causes the channel thumbnails to loose margin/padding. First noticed with UI in Arabic, but reproduced arain when changed to English.

![2019-08-28_22-50-39](https://user-images.githubusercontent.com/1457929/63916141-a0474180-c9ec-11e9-9426-5d25e806df04.png)

![broken-responsive](https://user-images.githubuser

[2019-08-30 06:47] radinamatic commented on #5884
Weird thing is that on the first setup wizard step no elements seem to have focus outline, but when one uses the mouse to advance to the Step 2, suddenly focus outline is there.

[2019-08-30 16:22] indirectlylit opened #5911 "create gherkin story to exercise new Windows startup error reporting"
### Observed behavior

In https://github.com/learningequality/kolibri-installer-windows/pull/135  and https://github.com/learningequality/kolibri/pull/5905 we added functionality to detect and report when and why the server fails to start

### Expected behavior

We should add gherkin stories to exercise this new functionality

### Context

0.12.7

[2019-08-31 05:21] miyer03 commented on #5908
This seems to be a bit random. Sometimes when the kid has attained Mastery by answering consecutive 4 questions correct, it shows needs help, and at time, when he has not obtained 4 correct question in a row it shows completed. The Mastery is 4 questions correct.

![IMG_20190829_122747](https://user-images.githubusercontent.com/8583367/64059575-101c1e80-cbdd-11e9-9b3a-3107cf3f87af.jpg)
![IMG_20190

[2019-08-31 08:20] miyer03 commented on #5801
Below was seen in one of the tabs using 12.8
[code]

[2019-08-31 12:52] benjaoming opened #5912 "Use the "official" language switching icon"
### Observed behavior

We are currently using a globe.

Related: #2742

### Expected behavior

We could use the much recommended language icon from http://www.languageicon.org/

![image](https://user-images.githubusercontent.com/374612/64064197-a6147100-cbfe-11e9-8bba-6b9c73f86eac.png)

### User-facing consequences

Better visualization of RTL interface switching.

### Errors and logs

n/a

### St

[2019-09-02 03:30] rationality6 opened #5913 "On Usage and privacy modal When clicking the button close, The model doesn't close."
I found a bug. is this issue opened? I'm not sure.

### Observed behavior
On Usage and privacy modal When clicking the button close, The model doesn't close.

<img width="1135" alt="Screen Shot 2019-09-02 at 12 24 27" src="https://user-images.githubusercontent.com/3889468/64088579-11844d00-cd7d-11e9-894a-6cea7a31c161.png">

…

### Expected behavior

As what you expect.

…

[2019-09-03 08:02] miyer03 commented on #5702
@indirectlylit  The problem still persists. We found it in one classroom where the following images had issues. Channel token xxxx-xxxx. Remix channel- G8-11 statistics- Sub-divided bar graph-assessments

In the last image its exceeding the screen size.

![WhatsApp Image 2019-08-29 at 5 53 02 PM](https://user-images.githubusercontent.com/8583367/64154806-2f21e700-ce4f-11e9-9c3f-b1e70a9f625a.jpeg)

[2019-09-03 17:09] rtibbles commented on #5832
We could currently do this by opening with the language code in the URL - I think this is unlikely to change, so might be a quick and stable way to move forward with this.

[2019-09-03 17:12] jonboiser commented on #5913
Could you check which version of Kolibri you are using? This should have been fixed in version 0.12.8, as well as the latest 'develop' branch.

[2019-09-03 17:15] rtibbles commented on #5906
Yes - but the update is run before the sanity checks currently.

[2019-09-03 17:18] jonboiser commented on #5881
This looks like what I expected:

1. The "Lessons" and "Class Activity" areas on the Home Page are getting live-updated from data coming from the Notifications API.
1. However, the Class Summary API, or wherever the "Needs Help" notifications is out of sync with what is coming out of the Notifications API.

This looks similar to this issue #5025, but is different in that the "Needs Help" status do

[2019-09-03 19:05] lyw07 commented on #5904
Hi @miyer03, thank you for reporting this issue.

Could you provide the log files for us to further debug the issue? You can find the log files through these [steps](https://kolibri.readthedocs.io/en/latest/manage.html#locate-kolibri-log-files). Since you posted this issue eight days ago, I assume the corresponding log file could be located inside the `logs/archive` directory.

Thanks!

[2019-09-03 19:20] jonboiser commented on #5881
@indirectlylit 	Could you take a look at this code?

https://github.com/learningequality/kolibri/blob/d321e3a793b40feea023d838ef7339210a0dd99d/kolibri/plugins/coach/class_summary_api.py#L91-L110

The `needs_help` map appears to use `<facilityuser_id>-<contentnode_id>` as a key, but the `get_status` appears to check for the presence of keys in `needs_help` using the `content_id`, e.g. `<facilityuse

[2019-09-03 19:22] bjester opened #5915 "Dash character `-` causing unexpected increase in computed text height"
### Observed behavior
While reviewing https://github.com/learningequality/kolibri/pull/5806, I noticed that the placeholder text for the password repeat field in the create account form had additional whitespace around it. It appears that the dash character, `-`, in the placeholder text `Re-enter password` is causing an increased computed height and therefore visually producing additional whitespa

[2019-09-03 22:49] benjaoming commented on #5832
@rtibbles we would need a way to verify that Kolibri supports `<lang>` before opening up such a page... or to have the installer match up the platform language for the installer with a list of supported languages.

[2019-09-03 22:52] benjaoming commented on #5906
Oh interesting: Not having run updates isn't sane, but system should be sane before running them... this is a Catch 22 :)

Should we split something up here or will it be safe to run sanity checks before migrations/upgrading?

[2019-09-04 00:43] rationality6 commented on #5913
It's on 'develop' branch channel.

[2019-09-04 00:58] jonboiser commented on #5913
Which page did you open the Privacy modal? In the screenshot, are you on the sign up page?

[2019-09-04 01:00] rationality6 commented on #5913
Yes! on the sign up page. http://localhost:8000/en/user/#/create_account

[2019-09-04 01:08] jonboiser commented on #5913
Since you have access to the code, could you see if SignUpPage.vue matches what you have? The current code _should_ be responding to clicking the "close" button (PrivacyInfoModal has a `@submit` handler)

https://github.com/learningequality/kolibri/blob/d321e3a793b40feea023d838ef7339210a0dd99d/kolibri/plugins/user/assets/src/views/SignUpPage.vue#L97-L104

[2019-09-04 01:21] rationality6 commented on #5913
No, not matched. This is code I can see.

    <PrivacyInfoModal
      v-if="privacyModalVisible"
      hideOwnersSection
      @cancel="privacyModalVisible = false"
    />

After add "@submit="privacyModalVisible = false"" It' works find

<img width="181" alt="Screen Shot 2019-09-04 at 10 17 34" src="https://user-images.githubusercontent.com/3889468/64218643-85e5fa00-cefd-11e9-83e1-af169fa77823.pn

[2019-09-04 01:24] jonboiser commented on #5913
Yeah, we might have fixed it since you last checked it out. Could you try updating with `git pull origin develop`?

[2019-09-04 06:34] #5913 closed, assigned to nobody

[2019-09-04 06:45] miyer03 commented on #5904
I had taken the screen shot on 23rd. Sharing the log of the same day.
[kolibri-2019-08-23.txt](https://github.com/learningequality/kolibri/files/3573052/kolibri-2019-08-23.txt)

[2019-09-04 13:29] ivanistheone opened #5917 "PDF renderer shows wrong page size"
### Observed behavior

<img width="974" alt="Screen Shot 2019-09-04 at 9 19 54 AM" src="https://user-images.githubusercontent.com/163966/64258871-fd179000-cef5-11e9-8bf6-e112d7d609b1.png">

http://35.227.71.104/learn/#/topics/c/c1b42abb8ee45d2596e79197c46cd4c6

### Expected behavior

<img width="1040" alt="expected" src="https://user-images.githubusercontent.com/163966/64258883-00ab1700-cef6-11e9-

[2019-09-04 15:43] rtibbles commented on #5906
I think it's fine to run them before - they used to be run at module import, so it's just a matter of reinstating that order (but not having to run them at module import).

[2019-09-04 15:45] rtibbles commented on #5832
Good point - can check that the URL doesn't return a 404 (which is what it does for unrecognized lang codes).

[2019-09-04 16:42] bjester commented on #5678
I can replicate this whenever a user doesn't have name. The fix is fairly straightforward, so I'll throw it in.

[2019-09-04 18:31] jonboiser commented on #5917
The PDF renderer appears to be reserving 2x the space for the right-side pages (with binding on the left). The renderer must be inferring this page width from something in the PDF file.

Is there anything different about these right-side pages when they're being cheffed? It's as if they are still using the same dual-page-width dimensions from the original PDF.

[2019-09-04 18:42] ivanistheone commented on #5917
@jonboiser Yes, the original PDF is 2x sized, so the chef code performs a "crop" operation by setting the `cropBox` and `trimBox` to half size, see
https://github.com/learningequality/sushi-chef-pointb-21csguide/blob/master/sushichef.py#L51-L54  (and `mediaBox` too but not show in this code)

The PDF rendering in any other PDF reader is fine (shows half-page), but somehow PDF.js doesn't seem to re

[2019-09-04 18:51] bjester commented on #5678
Reopening for fix: https://github.com/learningequality/kolibri/pull/5919

[2019-09-04 21:03] indirectlylit commented on #5915
possibly related? https://github.com/learningequality/kolibri/pull/5776#issuecomment-512013016

[2019-09-04 21:18] bjester commented on #5915
@indirectlylit I'm guessing it's probably related.

[2019-09-05 01:42] rrobinson-SIUMEDICINE commented on #5531
First time contributing to a project on GitHub.

Modified the bottom padding to be 24 pixels.

'<template>

  <KPageContainer>

    <PageHeader
      :title="content.title"
      :progress="progress"
      dir="auto"
      :contentType="content.kind"
    />
    <CoachContentLabel
      class="coach-content-label"
      :value="content.coach_content ? 1 : 0"
      :isTopic="isTopic"
    />

    <Co

[2019-09-05 01:56] cpauya commented on #5917
We can also use the PDF.js demo site here to validate the .pdf rendering: https://mozilla.github.io/pdf.js/web/viewer.html - just open the .pdf file you want to test.

<img width="1266" alt="Screenshot 2019-09-05 09 54 46" src="https://user-images.githubusercontent.com/175580/64305866-5ac5de00-cfc3-11e9-89ec-9b54b2ab7d9f.png">

[2019-09-05 03:52] ivanistheone commented on #5917
Thx @cpauya ; the above screenshot confirm that a more recent version of PDF.js would fix this issue.

The Kolibri `document_pdf_render` is pinned to 1.9.x:
https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/document_pdf_render/package.json#L7  which is 2 years old according to npm https://www.npmjs.com/package/pdfjs-dist

I will let the Kolibri team investigate further—there

[2019-09-05 15:41] rtibbles commented on #5917
I tried to upgrade PDF.js at one point and everything broke. We should do it, but it will not be straight forward.