[2021-07-29 18:05] sairina opened #8244 "Design of learner-facing channel-based quizzes retry behavior"

[2021-07-29 18:34] #7709 closed, assigned to rtibbles, nucleogenesis

[2021-07-29 18:34] #8218 closed, assigned to rtibbles

[2021-07-29 21:16] #8237 closed, assigned to nobody

[2021-07-29 22:10] rtibbles commented on #8227
This will hopefully be fixed by #8231 - we have merged, but would be good to confirm the fix still on release-v0.15.x

[2021-07-29 22:31] radinamatic opened #8245 "Backend strings not in the expected folder when running 'make i18n-upload' command"
## Observed behavior

Branch: `release-v0.15.x`
Running `make i18n-upload...` command extracts all front- and back-end strings, but the `django.po` file is not being uploaded to Crowdin.
cc @rtibbles

## Errors and logs
…

## Expected behavior
`django.po` should be available on Crowdin for translation

## User-facing consequences
…

## Steps to reproduce
…

## Context
 * Kolibri version `release-v

[2021-07-29 22:36] radinamatic opened #8246 "Describe proper workflow for uploading and updating Perseus translations files"
## Observed behavior
Extracting Perseus translatable strings is a murk-ish _affaire_, as the desired workflow is not completely obvious. We should document it properly.

## Errors and logs
…

## Expected behavior
…

## User-facing consequences
…

## Steps to reproduce
…

## Context
…

[2021-07-30 08:40] MisRob commented on #8234
Yes, the question was meant to be about the secondary master bar.

Thanks for adding the draft. I am going to open another issue for implementing the bar for quizzes and quizzes reports because we don't have that one yet.

[2021-07-30 08:44] MisRob commented on #8234
Yes, the question was meant to be about the secondary master bar.

Thanks for adding the draft. ~I am going to open another issue for implementing the bar for quizzes and quizzes reports because we don't have that one yet.~ I realized that we don't have any issues open yet for updates to quiz renderer and that there is usually some planning happening before opening them. So for now, I will remove

[2021-07-30 08:49] MisRob commented on #8234
The description has been updated and should be precise now

[2021-08-01 18:55] indirectlylit opened #8249 "Kolibri should subset and bundle italic and italic-bold variants of Noto"
## Observed behavior

As an optimization, the current font-handling code bundles normal and bold variants of Noto:

https://github.com/learningequality/kolibri/blob/release-v0.15.x/packages/kolibri-tools/lib/i18n/fonts.py

Within [our design system](https://design-system.learningequality.org/), we only use normal and bold variants so this has worked fine for application text.

## Expected behavior

[2021-08-02 10:34] pcenov opened #8250 "Setup wizard - Error if Enable passwords on learner accounts is set to 'No'"
## Observed behavior
I am getting a 500 Server Error after completing the Setup Wizard when the option for 'Enable passwords on learner accounts' is set to 'No'. If the option is left to the default 'Yes' I'm able to finish the Setup Wizard without problems.

## Expected behavior
I should be able to finalize the Setup Wizard without any errors.

## Steps to reproduce the issue
1. Install the follo

[2021-08-02 10:34] pcenov commented on #8250
https://learningequality.testquality.com defect [D3](https://learningequality.testquality.com/project/12317/result/2456348/defect/8029).

[2021-08-02 12:30] pcenov opened #8251 "Cannot export channels to a flash drive"
## Observed behavior
I can't export channels to a flash drive as I'm constantly getting the following message: Could not find a writable drive connected to the server

## Expected behavior
It should be possible to export my channels.

## Steps to reproduce the issue
1. Install the following 0.15 alfa 2 build: https://buildkite.com/organizations/learningequality/pipelines/kolibri-windows/builds/152

[2021-08-02 12:30] pcenov commented on #8251
https://learningequality.testquality.com defect [D4](https://learningequality.testquality.com/project/12317/result/2456386/defect/8033).

[2021-08-02 15:34] rtibbles opened #8255 "Flaky Python tests"
## Observed behavior
target branch: release-v0.19.x

This is a tracking issue to keep track of a few different Python tests that occasionally fail:
* In `kolibri/core/tasks/test/taskrunner/test_job_running.py` `test_can_cancel_a_job`
* In `kolibri/core/tasks/test/taskrunner/test_worker.py` `test_high_tasks_dont_wait_when_regular_workers_busy` can sometimes fail with the fetched job being None - th

[2021-08-02 16:15] vkWeb commented on #8255
Will look into the first one!

[2021-08-02 16:16] rtibbles commented on #8255
I suspect, but am not certain, that it is happening during the multiprocessing run of the tests.

[2021-08-02 16:17] vkWeb commented on #8255
Will need to look into why that's the case.

[2021-08-02 16:47] vkWeb opened #8256 "[Security] Tighten permissions for APIs that return files"
## Observed behavior

The current behavior of `downloadcsvfile` API allows anonymous users to download the csv file. For example: https://kolibri-demo.learningequality.org/facility/api/downloadcsvfile/tmp11wsss.download/a3f606630690237bbe94fe2a1a850af4.

After discussing this issue with @rtibbles we came to the conclusion that we should be tightening these specific API endpoints permissions.

## E

[2021-08-02 20:09] indirectlylit commented on #6697
That looks good! There are a couple other things I would consider factoring in:

1. Some indicator of available disk space that's visible even if you aren't hitting the limit could be useful. This can help people plan for the future.
2. There's an edge-case where the user may have had sufficient disk space when starting the import, but due to external factors the disk space still runs out while do

[2021-08-02 20:36] jamalex commented on #6697
@rtibbles has noted that a message like that _should_ already appear when clicking import and space is insufficient:
https://github.com/learningequality/kolibri/blob/02fc882b827a1c822d9d5863d37c0a9e1cd5ab61/kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue#L449

So it seems like either some glue broke and it isn't showing for some reason, or maybe the space estimation is off

[2021-08-03 13:12] rtibbles opened #8257 "Timer that tracks elapsed time for content does not actually pause when a user is idle"
## Observed behavior
The elapsed time timer does not pause when a user is idle, thus causing discrepancies in the logged time elapsed for content if someone is idle but does not get logged out.

## Expected behavior
If a user is flagged as idle, the timer should no longer be accumulating time spent.

## User-facing consequences
Unexpectedly long time spent from backgrounded tabs with content open

[2021-08-03 16:38] #8245 closed, assigned to nobody

[2021-08-03 17:28] #7934 closed, assigned to khangmach

[2021-08-04 09:08] jredrejo commented on #8236
@rtibbles I have looked at the specs and I haven't been able to find any decission related to this issue. i.e. how often a new sync should happen.
If there are not algorithm involved and just a time interval to be decided it could be as simple as adding a new
`scheduler.enqueue_in(dt, job)` being job a new `request_soud_sync` and dt the interval we decide: 10 minutes?, a random interval between 10

[2021-08-04 14:45] rtibbles commented on #8236
I don't think we made a decision - but I think if we are trying to achieve a near real time flow of data, we might want to reduce it further to 30 seconds? We are then relying on the server to queue us and let us know when to come back and ask.

[2021-08-04 15:05] indirectlylit commented on #8236
In the coach reports, @jredrejo you implemented a dynamic polling interval that was proportional to the number of active coach users. It's great because it is nearly real-time when demand is low, but doesn't overload things when demand is high. Would be great if there was a way to do something similar here.

[2021-08-04 15:06] rtibbles commented on #8236
The queueing mechanism already does that to some extent, as it serializes the syncs rather than letting them run in parallel. The question here is just about how often to requeue.

[2021-08-04 15:08] indirectlylit commented on #8236
what's the cost of re-queuing? if low, down to 5s would be great

[2021-08-04 15:11] jredrejo commented on #8236
@indirectlylit  the cost to re-queueing should be short, just one query in the server to check if there's a sync in progress.
As @rtibbles mentioned, if the queue in the server is long, the polling interval will be automatically increased. I think it should work but that's one of the cases I'd like to see it in practice :)

[2021-08-04 15:20] indirectlylit commented on #8236
Note for future readers: discussion moved to slack https://learningequality.slack.com/archives/CB37UM23A/p1628089247046100

[2021-08-04 22:24] rtibbles commented on #7504
I think the issue here was actually one related to caching. The deprovisioning did not remove the default facility id from the cache.

This was resolved by this PR: #8213

[2021-08-04 22:24] #7504 closed, assigned to nobody

[2021-08-05 14:54] marcellamaki opened #8263 "Add limited device messaging"
**Overview:**

Devices that have been affected by single user syncing need to have an indicator that denotes the device is in a “learn-only” mode, meaning coach and admin features are not available on that device.

[Figma designs](https://www.figma.com/file/MkIaNq2w3sx4Sh2uVOd35K/Single-user-syncing?node-id=11%3A643):
<img width="822" alt="Screen Shot 2021-08-05 at 10 50 49 AM" src="https://user-i

[2021-08-05 14:59] marcellamaki opened #8264 "Make learner polling indicator conditional for only SoUD"
For the new polling indicator on the dropdown menu, this should be updated to appear and poll only when the user is a learner who is logged in on a subset of users device.

<img width="270" alt="Screen Shot 2021-08-05 at 10 58 50 AM" src="https://user-images.githubusercontent.com/17235236/128372343-da85c951-2258-4d5e-ade3-a15b753e6806.png">

[2021-08-06 04:17] radinamatic commented on #8251
I can replicate this on both Windows 10 and on my Ubuntu dev VM on branch 0.15.x.

It gives 500 error on `/api/tasks/tasks/localdrive/` with `AttributeError: 'dict' object has no attribute 'id'`

Windows 10 | Ubuntu dev VM
--- | ---
![Win10 (start)  Running  - Oracle VM VirtualBox_019](https://user-images.githubusercontent.com/1457929/128454940-c7b4bf16-9523-4491-a0a8-311ac5894ef7.png) | ![LEDev21

[2021-08-06 06:21] rtibbles commented on #8251
Could you attach log files for this so we can see the full traceback?

[2021-08-06 07:36] radinamatic commented on #8251
This is from my dev VM, let me know if you need the logs from the Win 10 one too.

[debug.txt](https://github.com/learningequality/kolibri/files/6943939/debug.txt) (full debug.txt was huge, I copied only the relevant day)
[kolibri.txt](https://github.com/learningequality/kolibri/files/6943940/kolibri.txt)

[2021-08-06 16:44] jredrejo commented on #8170
The first two points of this issue have been implemented in in  #8185 in this commit: https://github.com/learningequality/kolibri/pull/8185/commits/47b486067fc25bf0748c326f9f07e1dd4e0c9b0a

As BasicAuth does not allow to add the facility and two users might have the same username & password in different facilities, this has be modified to include the facility_id as a realm when authenticating usin

[2021-08-06 18:00] indirectlylit opened #8265 "Comments about Coach Reports API design"
## Observed behavior

This was reported by @jonboiser in early 2018. Transferring from https://github.com/learningequality/clearinghouse/issues/93

## Context

Reported Jan 10, 2018

[2021-08-06 18:39] rtibbles opened #8266 "Use lazy loading for images (when available) to reduce bandwidth requirements on small screens"
## Observed behavior
On small screens, we may attempt to load many more thumbnail images than might be immediately needed.
This can cause slowness and use excessive bandwidth.

## Expected behavior
Use lazy load for images to reduce load on mobile devices that support it.

## User-facing consequences
Slower loading, higher bandwidth.

[2021-08-09 17:32] marcellamaki commented on #8110
Since the `LearningActivityBar` component work is not yet integrated, in order to develop and test this interaction, please follow [the code diff in this commit](https://github.com/MisRob/kolibri/commit/1e9a411e2cdc109005fed5793dbf2b3311a7a3d2) that Misha used for testing the component to hack `CoreBase` locally.

Note: since this work is still pending, it's possible there might need to be some re

[2021-08-10 00:21] indirectlylit opened #8270 "finalize copy for 0.15 update notification strings"
## Observed behavior

current copy is a placeholder:

https://github.com/learningequality/kolibri/blob/98bb185b73b247c0e774b229dd507fa6e74c4eaf/kolibri/core/assets/src/views/UpdateNotification.vue#L115-L116

## Expected behavior

string should provide information about highlights of new features

## User-facing consequences

Unhelpful upgrade notification

## Context

0.15

[2021-08-10 17:07] nucleogenesis opened #8271 "Brand new Setup Wizard infinitely redirects"
## Observed behavior

On 0.15 branch, with a fresh KOLIBRI_HOME folder, going to the server causes infinite redirects and does not allow the user to proceed with the Setup Wizard (it doesn't load at all - tries to request the page like 10 times and then gives up).

## Context

Kolibri: release-v0.15.x branch
OS: Fedora
Browser: Chrome

[2021-08-11 18:38] dylanmccall opened #8273 "Feature request: make LISTEN_ADDRESS an option"
At the moment, Kolibri's server always listens on all network interfaces, with the following code in [utils/server.py](https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/utils/server.py#L64-L65):

[code]

On Windows, listening on all interfaces requires a firewall exception, meaning a user is greeted with a scary firewall dialog when they first run Kolibri. This makes sense u

[2021-08-12 10:02] pcenov opened #8274 "Single User Syncing - A self created user's device status is always "Not connected to server""
## Observed behavior
After importing a learn-only device I can create an account for another learner user which is never synced.

## Expected behavior
The expected behavior should be further discussed as either the option to create accounts for learn-only devices should be disabled or there should be an option to sync such users.

## Steps to reproduce the issue
1. Install this [build](https://bui

[2021-08-12 12:24] pcenov opened #8275 "Single user syncing - Quiz results are not getting synced"
## Observed behavior
I have imported a learn-only device and have completed a couple of quizzes assigned to the learner user which never get synced to the admin device even after repeated restarts of the Kolibri instances. At the same time syncing is fully operational for lessons.

### Background
Exam related models `ExamLog` and `ExamAttemptLog` are only synced when syncing a full facility. This

[2021-08-12 12:34] radinamatic commented on #8275
I also noticed this: progress on lessons and resources in them are synced from the learn-only device to the class server (granted, you need to restart the server to achieve the sync), but quizzes never seem to register as `In progress` or `Completed` on the server.

[2021-08-12 13:52] pcenov opened #8276 "Single user syncing - Getting a 403 error when attempting to Sync with a learner-only device as a Super admin"
## Observed behavior
As a super admin I have the ability to manually sync facilities. However when I attempt to sync with a learner-only device I'm getting a 403 error without any explicit information what is going on.

## Expected behavior
The expected behavior is not clear and should be further discussed.

## Steps to reproduce the issue
1. Install this [build](https://buildkite.com/learningequa

[2021-08-12 14:50] rtibbles commented on #8275
Thanks both - we're aware of this issue since the hack session. The current plan is to fix it in the scope of 0.15.x, but not for any prerelease. Good to have it tracked!

[2021-08-12 14:50] rtibbles commented on #8276
Seems like we should filter out learner only devices from this list to prevent an admin even trying to do a full facility sync.

[2021-08-12 14:51] rtibbles commented on #8274
I think the simplest short term fix here is to hide account sign up on learner only devices.

[2021-08-12 14:53] rtibbles commented on #8271
@radinamatic have you seen this on testing of current release-v0.15.x (without https://github.com/learningequality/kolibri/pull/8185)?

[2021-08-12 15:31] radinamatic commented on #8271
Can't say that I have @rtibbles 🤔

I just started the server on my dev VM from the `release-v0.15.x` branch without the `.kolibri` folder, and the setup wizard loads without issues.

![LEDev2104 (start)  Running  - Oracle VM VirtualBox_019](https://user-images.githubusercontent.com/1457929/129224775-39305f7d-664c-4a15-b737-85490c0efeca.png)

[2021-08-12 15:33] radinamatic commented on #8271
Both @pcenov and I have been doing periodic critical workflows tests on the assets built from the 0.15 branch, and we never had issues with the setup wizard.

[2021-08-12 15:40] rtibbles commented on #8271
@nucleogenesis anything specific about your dev setup that might be making this appear for you?

[2021-08-12 18:30] #7888 closed, assigned to rtibbles, riddhiavlani

[2021-08-12 20:42] #8109 closed, assigned to MisRob

[2021-08-13 19:40] #8236 closed, assigned to jredrejo

[2021-08-16 17:43] rtibbles commented on #8273
@jamalex pointed out that having this be configurable as a list of interfaces (as opposed to just a single value) would also be helpful.

It may be that we would need to run separate WSGI servers to do this more specific binding (which would then also open the possibility for the port and zip_port options to be lists as well).

[2021-08-17 14:03] marcellamaki opened #8304 "Create "Explore/Library" Sidepanel Form for new channel and category browsing"
**Overview:**
The new category browse and search is a way for users to find content that is relevant to their needs and interests. The side panel presents a variety of filter options that allow users to search by our metadata like the activity type, the category, level, etc.

Design context/User stories:
- Find something at my level that's extracurricular or supplementary
- Find something new and

[2021-08-17 14:19] marcellamaki opened #8305 "Update search results front end with new cards, responsiveness, layout, and "see more" feature"
**Overview:**
Richard is working on updating the search and "see more" feature on the backend

The main goal here is to ensure that is working successfully in connection with the updated design work. **Working cards, responsive design and layout are the critical elements**

**Done when:**
- Search/filter results are successfully displayed with new cards
- Cards contain/display all of the available

[2021-08-17 14:41] marcellamaki opened #8306 "Update frontend for a channel's Topic and Category browse experience"
**Overview:**
Using similar patterns to the new cross-channel search and home page, update the browse experience to feature the new card design, updated layout, and responsiveness. The filter/search sidebar will also be used in this page as an embedded side panel. The side panel will also toggle to a topics list that the user can select from.

**Done when:**
- The channel's "browse" page displays

[2021-08-17 14:52] marcellamaki opened #8307 "Implement Side Informational Panel throughout new Learn experience"
**Overview:**
While the container component is handled in #8107, the implementation of the component, and connection to relevant cards, toolbars, etc. still needs to be completed.

The sidepanel can be accessed 3 ways:
- from the content renderer (as a resource informational panel)
- from the content renderer (as a topic/lesson informational panel)
- from a single card by the (i) icon (as a resour

[2021-08-17 14:53] #7872 closed, assigned to nucleogenesis, khangmach

[2021-08-17 14:54] #7871 closed, assigned to nucleogenesis, khangmach

[2021-08-17 15:00] rtibbles opened #8308 "Clean up modal appearance and text in single user sync setup wizard flow"
I'm not sure if the implementation in this PR is using the same components as the task manager in `Device > Channels`, but we can remove almost all the lines except `Finished` and `'learner' from 'ZukVillage' successfully loaded to this device` to be consistent with both the designs and the current 0.14 implementation of facility import. I'd argue all those other details aren't that useful to know

[2021-08-17 15:02] marcellamaki opened #8309 "Investigate potential bug with progress/completion"
There may be a bug in develop with progress/completion. It seems like there are mismatches between the progress that is displayed in the UI and the progress that is calculated, and that some resources cannot be successfully "completed". So far, it seems to be occurring in the epub content renderer, and possibly with videos.

The purpose of this issue is to investigate and see if the issue is repro

[2021-08-17 15:03] #8166 closed, assigned to jredrejo

[2021-08-17 16:30] rtibbles opened #8311 "Content Metadata for Categorical search"
Ability to store new categorical metadata fields in the database, for filtering, and search.

[2021-08-17 16:54] rtibbles opened #8312 "Update ContentNode API for categorical search metadata"
Update ContentNode API to return relevant categorical search metadata

[2021-08-17 16:55] rtibbles opened #8313 "Update search backend for categorical metadata"
Need to be able to leverage new fields for search.

[2021-08-17 16:59] jredrejo commented on #8308
@jtamiace  by accident I commited this into the release-v0.15.x branch so there's no PR to fix this issue.
This is the current behaviour:
![Peek 17-08-2021 18-57](https://user-images.githubusercontent.com/1008178/129768772-5669d83c-5dac-4d30-81cf-81f96d31043e.gif)

For the learn page, beware in a LOD the user can import content from the server, it does not have to be an admin.
Also, as you can see

[2021-08-17 17:19] bjester opened #8315 "Automated cleanup of completed sync records"
## Observed behavior

With single-user syncing triggering multiple syncs repeatedly, the client and server databases can accumulate Morango sync records that won't be needed long term if the sync completed successfully.

## Expected behavior

We should establish an automated process of deleting these records, while keeping the most recent records for sync status reporting, perhaps the most recent

[2021-08-17 18:04] bjester opened #8316 "Syncing with filtered subset does not queue exam related models"
## Observed behavior

Exam related models `ExamLog` and `ExamAttemptLog` are only synced when syncing a full facility. This restriction was implemented as originally intended by customizing the [partition](https://github.com/learningequality/kolibri/pull/1712/files#diff-b867682c06c75c9355c277b585d1da401af2801a7a4d67ee6f7a6d968fd7f4e8R259) for the models.

## Expected behavior

The behavior is curr

[2021-08-17 21:26] rtibbles commented on #6181
I think @indirectlylit describes the simplest fix here. If the 'back to home' button link is equal to the current path, then we should not display the button.

[2021-08-17 21:28] #6693 closed, assigned to nobody

[2021-08-17 21:34] rtibbles commented on #6906
I think the issue as originally described does not appear to be extant, so I am going to close this.

[2021-08-17 21:34] #6906 closed, assigned to nobody

[2021-08-17 21:45] rtibbles commented on #7346
The exported Kolibri channel has no knowledge of tokens, so this would require that we include the channel token in the published metadata.

[2021-08-17 21:57] rtibbles commented on #7495
@intelliant01 what special characters are problematic here? All Unicode or more specific than that?

[2021-08-17 22:37] rtibbles commented on #877
During development, we serve all of our static assets from a multiple separate origins, so this middleware would block all webpack bundled static assets. I think this is something we should still be aware of, but implementing this middleware is going to hinder more than help.

[2021-08-17 22:37] #877 closed

[2021-08-17 22:41] rtibbles commented on #2321
I think the concrete fix here is to add `yarn licenses list` into our `test_licenses.sh`.

[2021-08-17 22:45] rtibbles commented on #3492
We are tracking this internally, but closing this for now as wontfix.

[2021-08-17 22:45] #3492 closed

[2021-08-17 22:50] rtibbles commented on #3733
This is will open up more confusion as currently only Studio can interpret channel tokens. I think it is safer not fix this, than to deal with inevitable edge cases.

[2021-08-17 22:57] rtibbles commented on #3744
Fixed in https://github.com/learningequality/kolibri/pull/7928

[2021-08-17 22:57] #3744 closed, assigned to nobody

[2021-08-17 23:01] rtibbles commented on #4215
I don't think we can actually fix this - we just need to be aware that we can't run arbitrary builds on 14.04.

[2021-08-17 23:01] #4215 closed, assigned to nobody

[2021-08-17 23:02] rtibbles commented on #4463
We should detect when the root node of a channel is unavailable and let a user mark it as available in the content import screen.

[2021-08-17 23:03] rtibbles commented on #4463
This might be as simple as something that says "make available".

[2021-08-17 23:05] rtibbles commented on #4552
Closing as stale.

[2021-08-17 23:05] #4552 closed, assigned to nobody

[2021-08-17 23:07] rtibbles commented on #4585
The only time we trigger a database backup is when we upgrade, so it's not unreasonable to only maintain the most recent backup.

Once backup has completed successfully here: https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/utils/main.py#L77

We should then cleanup database backups that are not the most recent backup.

Can add tests for the behaviour in main in the tests fo

[2021-08-17 23:10] rtibbles commented on #4578
Closing this issue - the database file does not seem to be an unreasonable size, given that it has a Khan Academy size channel equivalent imported into it.

[2021-08-17 23:10] #4578 closed, assigned to nobody

[2021-08-17 23:18] rtibbles commented on #5083
Closing this as stale, please reopen if it recurs.

[2021-08-17 23:18] #5083 closed, assigned to nobody

[2021-08-17 23:19] rtibbles commented on #5150
Closing this as wontfix.

[2021-08-17 23:19] #5150 closed, assigned to nobody

[2021-08-17 23:22] rtibbles commented on #5324
Not clear what the cause here is or the resolution - closing. Please feel free to reopen with more info.

[2021-08-17 23:22] #5324 closed, assigned to nobody

[2021-08-17 23:24] rtibbles commented on #5336
This has begun to be addressed here: https://github.com/learningequality/kolibri/pull/8159 but needs the JS browser support code to use this also.

[2021-08-17 23:25] rtibbles commented on #5348
Is this still extant after optimizations introduced in 0.13 and 0.14?

If not, more are coming in 0.15 too!

[2021-08-17 23:41] rtibbles commented on #5493
Is this still extant?

[2021-08-17 23:53] rtibbles commented on #5539
Looking at https://github.com/learningequality/kolibri-design-system/blob/main/lib/KTextbox/index.vue this appears to have been resolved.

[2021-08-17 23:53] #5539 closed, assigned to nobody

[2021-08-17 23:54] rtibbles commented on #5667
@radinamatic can we confirm if this is resolved on 0.15?

[2021-08-17 23:58] rtibbles commented on #5682
Not clear what the circumstances for replication are. Closing.

[2021-08-17 23:58] #5682 closed, assigned to nobody

[2021-08-17 23:59] rtibbles commented on #5683
I think the simpler resolution would just be to wrap perseus in an iframe, rather than sandboxing completely.

[2021-08-18 00:11] rtibbles commented on #5700
I think we can only resolve this if we exempt "id" from this linting.

[2021-08-18 00:12] #5712 closed, assigned to nobody

[2021-08-18 00:14] rtibbles commented on #5733
This specifically seems to be an issue when the Windows language is set to something other than English.

[2021-08-18 00:37] rtibbles commented on #6242
Is this still extant?

[2021-08-18 00:38] rtibbles commented on #6344
Closing this as wontfix.

[2021-08-18 00:38] #6344 closed, assigned to nobody

[2021-08-18 00:39] rtibbles commented on #6379
This was fixed with special fallback handling in #7989

[2021-08-18 00:39] #6379 closed, assigned to nobody

[2021-08-18 00:41] intelliant01 commented on #7495
@rtibbles it's been a long time since. If I remember correctly, I had tried with the generally allowed special characters in a password like one or two of these along with a few alphabets - `%$^&!`.

[2021-08-18 00:41] rtibbles commented on #6368
I believe this may actually be a disguised occurrence of this issue: https://github.com/learningequality/studio/issues/1055

This is not a Kolibri issue, so closing with this back ref.

[2021-08-18 00:41] #6368 closed, assigned to nobody

[2021-08-18 00:42] rtibbles commented on #6404
Best fixed by putting Perseus in an iframe.

[2021-08-18 00:44] #6519 closed, assigned to nobody

[2021-08-18 00:49] rtibbles commented on #6692
Have done some prototyping with Webpack 5 that does exactly this, but it's not quite ready for prime time yet.

[2021-08-18 00:52] rtibbles commented on #6613
@kill9zombie flagging that this will be fixed by #8198 above, which we hope to be in the 0.15.0 release.

[2021-08-18 00:54] rtibbles commented on #6699
Easiest thing to do would be to change the order of commands in the build command.

[2021-08-18 00:54] rtibbles commented on #6813
Fixed in #7989 will be released in 0.15.0

[2021-08-18 00:54] #6813 closed, assigned to nobody

[2021-08-18 01:02] rtibbles commented on #7036
This was addressed by automatic serializer generation here: #8138 to help with this.

[2021-08-18 01:02] #7036 closed, assigned to rtibbles

[2021-08-18 01:04] rtibbles commented on #7088
This was fixed by #8224

[2021-08-18 01:04] #7088 closed, assigned to nobody

[2021-08-18 01:05] rtibbles commented on #7384
This was fixed by #8023 - static files no longer need to be copied.

[2021-08-18 01:05] #7384 closed, assigned to nobody

[2021-08-18 01:07] rtibbles opened #8320 "Add upgrade task to delete the static folder upon upgrade to 0.15"
In 0.15 we removed the need to have a static folder in KOLIBRI_HOME.
Let's clean up an existing static folder to be mindful of user storage.

[2021-08-18 01:07] rtibbles commented on #7460
No replication, closing as stale.

[2021-08-18 01:07] #7460 closed, assigned to nobody

[2021-08-18 01:09] rtibbles commented on #7529
I think this is best resolved by using uwsgi in a cloud environment, no change needed on Kolibri.

[2021-08-18 01:09] #7529 closed, assigned to rtibbles

[2021-08-18 01:15] radinamatic commented on #5493
Two major versions and almost 2 years worth of testing after, I'd say it should be good to close.

[2021-08-18 01:15] #5493 closed, assigned to rtibbles

[2021-08-18 02:54] radinamatic commented on #6242
@pcenov Could you test this on the latest Mac app? Thank you!

[2021-08-18 03:14] rtibbles commented on #5505
Fixed in #8318

[2021-08-18 03:14] #5505 closed, assigned to rtibbles

[2021-08-18 05:32] arky commented on #5348
@rtibbles Since the schools are closed I haven't been able to test the new Kolibri.

Is there any changelog of these proposed performance improvements on low-end devices?

[2021-08-18 13:08] rtibbles commented on #5348
Sorry it seems our CHANGELOG has omitted more detail of this.

In 0.13 there were quite a few changes to optimize the loading times for a range of API endpoints, with a particular focus on endpoints used in the coach interface. The PR that did most of this work is here: https://github.com/learningequality/kolibri/pull/6074

In 0.14 there were further optimizations to the ContentNode API, which sho

[2021-08-18 13:44] nucleogenesis commented on #8110
Note that #8324 being merged might close this (I can try to un-hook the automatic connection) - the follow up of making the component created in #8324 available in the resource LearningActivityBar will be needed.

[2021-08-18 14:05] rtibbles commented on #6699
Fixed in #8322

[2021-08-18 14:05] #6699 closed, assigned to rtibbles

[2021-08-18 14:06] rtibbles commented on #5372
Fixed in #8317

[2021-08-18 14:06] #5372 closed, assigned to rtibbles

[2021-08-18 15:15] pcenov commented on #6242
Hi @rtibbles and @radinamatic, I had the latest Mac app (v0.14.7) already installed on my Mac mini (macOS Catalina 10.15.7) and when this morning I checked the videos all were playing correctly. Then I decided to check what will be the case with a 0.15 build of the app which I downloaded from [here](https://buildkite.com/learningequality/kolibri-macos/builds/3744) and which I was able to install o

[2021-08-18 16:29] jtamiace commented on #8308
Thanks @jredrejo, I think that addresses it.

One last minor thing - after clicking `FINISH`, the user should be directed to the Channels page, then be shown the "Welcome" modal, instead of seeing it while still in the wizard

<img width="1647" alt="Screen Shot 2021-08-18 at 9 26 55 AM" src="https://user-images.githubusercontent.com/6668144/129936077-d5d0e19b-ba35-4705-8ccb-ab29d6f75dc0.png">

[2021-08-18 16:50] indirectlylit commented on #3733
Not sure I understand this statement. The Kolibri GUI takes channel tokens, and this issue was to simply make the command-line UI consistent.

[2021-08-18 17:15] jredrejo opened #8325 "Setup wizard does not work properly when syncing users without password"
## Observed behavior
When trying to sync an individual user with a server without password needed, syncing does not happen if the password is not provided
If a password is provided afterwards, the user will appear twice in the list of synced users

## Errors and logs
[code]

## Expected behavior
Syncing should be possible in this case

## User-facing consequences
Users would need a password to syn

[2021-08-18 17:18] jredrejo opened #8326 "Setup wizard does not allow importing users when using admin credentials"
## Observed behavior
When trying to sync an individual user with a server using admin credentials , the list of users to sync appear but `Import` is disabled, so importing them is not possible

## Expected behavior
Syncing should be possible in this case

## User-facing consequences
Admin can't sync users

## Context
 * Kolibri version kolibri-0.15.0a2.dev0+git.174.g366b49c4-
 * Operating system L

[2021-08-18 17:32] rtibbles commented on #3733
My point was that it isn't simple, because the Kolibri GUI isn't just calling the the command, but making a request to Kolibri Studio to get the channel associated with the token.

If importing from non-Studio sources, no such request can be made, so we would have to make a separate 'studio' import command to nest this option under.

[2021-08-18 18:07] arky commented on #5348
Thank you @rtibbles

[2021-08-18 23:52] radinamatic commented on #5667
I am **so NOT** looking forward to testing this on Browserstack, but I see no other choice... 😒

[2021-08-18 23:55] rtibbles commented on #5667
Bringing joy everywhere I go, as usual!

[2021-08-19 00:03] radinamatic commented on #5733
Today during the syncing hack session I tested the 0.15 build on Windows 10 previously set to have the Spanish UI, and I encountered no errors during the installation and running of Kolibri with Python 3.6 that comes bundled.
That Windows 10 VM did not have previously installed Python.

@pcenov Could you try to replicate this with:
* Windows switched to another locale (non-Latin one if possible)
*

[2021-08-19 00:57] rtibbles commented on #5733
I think we observed this in a log recently on @jredrejo's machine while doing some testing on Windows too, specifically the error that can be seen in the attached daemon.txt in the issue:
[code]

[2021-08-19 00:58] rtibbles commented on #5733
If you could check the `daemon.txt` specifically to see if it gives errors in another locale - for context the locale was Spanish in the recent example.

[2021-08-19 14:42] indirectlylit commented on #3733
Alternatively, we can do what you said in https://github.com/learningequality/kolibri/issues/7346#issuecomment-900652647 – embed token information in the Channel DB metadata.

A while back I recall we made a decision that tokens would be the standard way end-users identify channels. My sense is we started but never quite finished that process.

[2021-08-19 14:48] rtibbles commented on #3733
My inconsistency here did occur to me. My main concern is just adding additional bloat to already quite sprawling management commands, whereas for the GUI case we can always put that logic somewhere that isn't the command.

I think if we did this alongside a refactor and a breakdown of the commands into more discrete utilities, I would feel more comfortable.

[2021-08-19 15:26] indirectlylit commented on #3733
Yeah, agreed that the the management command UX needs cleanup. We have a related issue from long ago here: https://github.com/learningequality/kolibri/issues/3727

[2021-08-19 15:46] indirectlylit opened #8330 "`kolibri --version` can fail based on value of `KOLIBRI_HOME`"
## Observed behavior

My `KOLIBRI_HOME` env var was set to a directory that no longer existed:

[code]

Running `kolibri --version` caused an unhandled exception:

[code]

## Expected behavior

At a minimum, this should be a handled error with a cleaner message, and no stack trace.

Nice-to-have: outputting the version should not depend on loading `KOLIBRI_HOME`.

## User-facing consequences

Unpl

[2021-08-19 15:56] aronasorman opened #8332 "Running `kolibri services --foreground` results in TypeError"
## Observed behavior

Running `kolibri --services --foreground` results in this error, and not starting up:

[code]

This is running on Linux, inside a docker image.

[2021-08-19 15:56] aronasorman commented on #8332
It seems like we always pass in `None` when running services independently:

[code]

[2021-08-19 15:58] rtibbles commented on #8332
Ah, sorry @aronasorman - we no longer use the `services` command during development, so this is probably getting a lot less day to day testing than it used to. Can fix.

[2021-08-19 16:04] aronasorman commented on #8332
No worries, happy to be a QA tester here 👓

[2021-08-19 16:10] rtibbles commented on #5669
Fixed in #8321

[2021-08-19 16:10] #5669 closed, assigned to nobody

[2021-08-19 16:57] #8325 closed, assigned to jredrejo

[2021-08-19 22:52] #8326 closed, assigned to jredrejo

[2021-08-20 17:24] rtibbles commented on #8330
Fixed in #8334

[2021-08-20 17:24] #8330 closed, assigned to nobody

[2021-08-20 17:24] rtibbles commented on #8332
Fixed in #8334

[2021-08-20 17:24] #8332 closed, assigned to nobody

[2021-08-20 18:42] rtibbles commented on #8309
For additional context here, I can imagine that EPUBs specifically may be more problematic, but there are circumstances under which PDFs may also pose apparent issues to the user.

For both EPUBs and PDFs we implemented an 'all pages visited' criterion. For EPUBs the specific implementation may cause problems because EPUBs are reflowable, and so what constitutes a page can change over time. We may

[2021-08-20 20:39] #8263 closed, assigned to nucleogenesis

[2021-08-20 20:39] #8264 closed, assigned to nucleogenesis

[2021-08-23 12:19] pcenov opened #8338 "Kolibri fails to start after installing the latest Buildkite builds"
## Observed behavior
After installing the Windows or Debrian build from:
https://buildkite.com/learningequality/kolibri-python-package/builds/3459 and https://buildkite.com/learningequality/kolibri-python-package/builds/3457 the app seems to be getting in an infinite boot loop with the following notification being displayed repeatedly: 'Kolibri is starting... Please wait'

## Steps to reproduce th

[2021-08-23 17:38] rtibbles commented on #8338
Looking at the logs, the same pattern emerges. Kolibri starts, and then as soon as it has started, Kolibri stops.

This text in the logs "Stopping server." is indicative that the `stop` command has been issued somehow, or at the very least that the `process_control.flag` file has `stop` in it.

[2021-08-23 18:37] jredrejo opened #8340 "After syncing failing because of a server error, the user does not try to sync ever again"
## Observed behavior
While trying to sync a server error happened.
After that the user didn't try to sync again

## Errors and logs

[code]

## Expected behavior
After a server error, sync should be tried again

## User-facing consequences
Needs to restart the server to sync again

[2021-08-23 19:48] rtibbles commented on #8338
On further investigation it seems likely that this is a manifestation of this: https://github.com/learningequality/kolibri/issues/8271

[2021-08-23 20:37] #8271 closed, assigned to nobody

[2021-08-23 20:37] #8338 closed, assigned to nobody

[2021-08-24 20:10] bjester opened #8344 "Provisioning learn-only device in setup wizard doesn't resync until restart"
## Observed behavior

1. Start a fresh instance of Kolibri
2. Go through the Advanced setup wizard, selecting "learn-only" device
3. Authenticate with the remote server using the learner credentials
4. Finish setup
5. Observe the Kolibri instance does not resync with the server
6. Restart Kolibri
7. Observe the Kolibri instance does resync with the server

## Errors and logs

N/A

## Expected beha

[2021-08-24 20:21] radinamatic commented on #8344
Odd, I don't recall having to restart the learn-only VM yesterday when I was testing the #8341... 🤔

[2021-08-25 11:09] pcenov commented on #6242
Hi @rtibbles, had a chance to have a look at this one today with the [latest 0.15 build](https://buildkite.com/learningequality/kolibri-macos/builds/3804) and I can confirm that the issue is extant there - the videos are not playing neither in the app nor in Safari (14.1.2):
![safari](https://user-images.githubusercontent.com/79847249/130780082-82046620-6809-42dd-8395-600c6ac32b1a.jpg)

[2021-08-25 23:42] rtibbles opened #8350 "Add integration test gherkin story for automatic device provisioning"
https://github.com/learningequality/kolibri/pull/8198 added automatic device provisioning.

When a JSON file is present at the file location determined by the option `Paths` -> `AUTOMATIC_PROVISION_FILE`.

The JSON file should have the format:
[code]

And this should then provision the device in the same way that the setup wizard would.

[2021-08-25 23:59] rtibbles commented on #6613
Fixed in #8198

[2021-08-25 23:59] #6613 closed, assigned to rtibbles

[2021-08-25 23:59] rtibbles commented on #7803
Fixed in #8198

[2021-08-25 23:59] #7803 closed, assigned to rtibbles

[2021-08-26 10:30] pcenov commented on #8251
@radinamatic and @rtibbles the channel export functionality is now working correctly in this [build](https://buildkite.com/learningequality/kolibri-windows/builds/1751) - - drives are displayed correctly and I am able to select one and export channels.

[2021-08-26 13:59] radinamatic commented on #8251
A bug that fixed itself...? 😛

[2021-08-26 14:27] rtibbles commented on #8251
There was another issue opened at one point that seemed to be non-reproducible where an external drive suddenly became unfindable during export, I wonder if this is another manifestation of that?

[2021-08-26 15:03] pcenov commented on #8251
I guess I was too happy to see it working but now I have to report that both channel export and import to a flash drive are not working and I'm getting the 500 errors in the console while I can still see that the flash drive is correctly attached to the device and is accessible. Tried restarting Kolibri and tried with different channels. Here are the logs:
[logs.zip](https://github.com/learningequ

[2021-08-26 20:50] bjester commented on #8344
@rtibbles @jredrejo I believe the issue is that the hooks in the Zeroconf listeners that trigger the recurring sync requests are not triggered when a fresh Kolibri is setup as a SoUD because at the time they're invoked, the device isn't a SoUD yet. So it won't trigger requests for syncing because that detection logic needs re-run with the new SoUD status after completing the setup wizard.

[2021-08-26 21:59] rtibbles commented on #8344
Ahh - right. So when provisioning has finished for a SoUD/Learner only device, we should look at the `DynamicNetworkLocation` table, and run `begin_soud_sync` for every user!

[2021-08-27 00:37] rtibbles opened #8354 "Audit yarn.lock file to consolidate files with multiple patch version differences"
Our yarn.lock file seems to have lots of versions of packages that only differs in the patch version. If at all possible, we should try to consolidate all these versions and avoid the confusion and complexity this can cause.

[2021-08-27 15:04] jredrejo commented on #8344
yes, that's something the wizard could do, or restarting zeroconf would automatically do the same things, if that's possible from the python code. I'm speaking blindly (I haven't looked at the zereoconf code to see if that's possible yet)

[2021-08-30 11:03] radinamatic commented on #5667
Currently Funza games hashi is giving 404 on Kolibri Beta server, but that seems to be the case for [all HTML resources on `kolibri-beta.learningequality.org`](https://github.com/learningequality/kolibri/issues/8356)... 😕

![Dashboard - Google Chrome_004](https://user-images.githubusercontent.com/1457929/131329018-f943a994-58c7-4a6a-8d09-4f5353a4ddff.png)

![Funza Chemistry - Kolibri QA Channel -

[2021-08-30 13:50] pcenov opened #8356 "Kolibri-beta - 404 Not Found error shown for all HTML5 resources"
## Observed behavior
I'm getting a 404 Not Found error for each HTML5 resource from the Kolibri QA Channel at kolibri-beta. The resources are working correctly in any of the Kolibri 0.15.0a2 builds that I have installed locally.

## Expected behavior
The HTML5 resources should be displayed correctly.

## Steps to reproduce the issue
1. Go to https://kolibri-beta.learningequality.org/en/learn/#/top

[2021-08-30 15:34] jredrejo commented on #8340
Fixed in #8342

[2021-08-30 15:34] #8340 closed, assigned to jredrejo

[2021-08-30 18:33] #7919 closed, assigned to nobody

[2021-08-30 20:48] rtibbles commented on #8356
Note that this is a deployment issue with the kolibri demo server specifically, so is more of a dev ops issue.

[2021-08-30 21:14] radinamatic commented on #8356
**Kolibri Beta**, not Kolibri Demo, where HTML resources on 0.14.7 are displayed correctly. 🙂

[2021-08-30 21:17] rtibbles commented on #8356
Kolibri Demo will have the same issue once upgraded to 0.15 though, unless the appropriate devops steps are taken!

[2021-08-30 21:43] rtibbles commented on #8361
One caveat here is that there may be dependencies on the ids in either perseus JS code or CSS.

[2021-08-30 21:47] rtibbles commented on #8365
This was already fixed here: https://github.com/learningequality/kolibri-exercise-perseus-plugin/pull/220

[2021-08-30 21:47] #8365 closed, assigned to rtibbles

[2021-08-31 15:58] bjester commented on #8227
I have observed this as fixed

[2021-08-31 15:58] #8227 closed, assigned to nobody

[2021-08-31 16:24] rtibbles commented on #8358
This has now been fixed in #8366 and will be released in the 0.15.0 release.

[2021-08-31 16:24] #8358 closed, assigned to nobody

[2021-08-31 16:38] rtibbles commented on #7961
Fixed in #8200

[2021-08-31 16:38] #7961 closed, assigned to rtibbles

[2021-08-31 17:11] rtibbles commented on #8171
Done!

[2021-08-31 17:11] #8171 closed, assigned to nobody

[2021-08-31 17:11] rtibbles commented on #8170
Done!

[2021-08-31 17:11] #8170 closed, assigned to nobody

[2021-08-31 18:11] rtibbles commented on #8320
Fixed in #8323

[2021-08-31 18:11] #8320 closed, assigned to rtibbles

[2021-08-31 18:44] rtibbles commented on #8344
I recently added this logic for reinitializing zeroconf if the recorded network addresses changed: https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/core/discovery/utils/network/search.py#L281 we could definitely do something similar because its status has changed.

[2021-08-31 18:49] rtibbles commented on #7944
Quite acceptable works for me!

[2021-08-31 18:49] #7944 closed, assigned to nobody

[2021-08-31 18:50] rtibbles commented on #3773
Fixed in #8302

[2021-08-31 18:50] #3773 closed, assigned to rtibbles

[2021-08-31 18:50] rtibbles commented on #7525
Fixed in #8302

[2021-08-31 18:50] #7525 closed, assigned to nobody

[2021-08-31 21:00] rtibbles commented on #2321
Fixed in #8355

[2021-08-31 21:00] #2321 closed

[2021-08-31 22:32] rtibbles commented on #8234
Fixed in #8314

[2021-08-31 22:32] #8234 closed, assigned to marcellamaki

[2021-08-31 22:41] rtibbles commented on #8246
Closed by #8254 - no need to have separate documentation, as it is now the same as the regular workflow.

[2021-08-31 22:41] #8246 closed, assigned to nobody

[2021-08-31 22:56] rtibbles commented on #8203
This is now prevented by not running upgrade tasks when going from 'no version', which was implemented in #8351

[2021-08-31 22:56] #8203 closed, assigned to nobody

[2021-08-31 23:09] rtibbles commented on #8148
I don't think this is true - our `visitor_id` cookie is a tracking cookie.

[2021-08-31 23:15] #7971 closed, assigned to khangmach

[2021-08-31 23:17] rtibbles commented on #7925
This issue should be redundant with changes upcoming in 0.15, where content kind will no longer be a primary thing displayed to end users. Learning Activities will be used instead.

[2021-08-31 23:17] #7925 closed, assigned to nobody

[2021-08-31 23:20] rtibbles commented on #7790
This should have been resolved by #7989

[2021-08-31 23:20] #7790 closed, assigned to nucleogenesis

[2021-08-31 23:28] radinamatic commented on #7659
@pcenov Could you please try to replicate and confirm if this is still extant? Thank you!

[2021-08-31 23:30] rtibbles commented on #7634
Closing this as wontfix, as the risk of security breach is low, and the reset flows are arduous in an offline environment.

[2021-08-31 23:30] #7634 closed, assigned to nobody

[2021-08-31 23:31] rtibbles commented on #7624
The username field provides autocomplete, so the 'lookup' functionality is there already.

There is no secure way to reset the password without another factor available. Closing as wontfix.

[2021-08-31 23:31] #7624 closed, assigned to nobody

[2021-08-31 23:32] rtibbles commented on #7593
Note, most of the behaviour described here is intentional, due to difficulties with users changing the language, and the server language not having priority.

[2021-08-31 23:32] #7593 closed, assigned to nobody

[2021-09-01 02:13] rtibbles commented on #7294
From investigation of similar reports in DRF:
* https://github.com/encode/django-rest-framework/issues/3982
* https://github.com/encode/django-rest-framework/issues/3736

And reading the Django source code where the errors are being generated: https://github.com/django/django/blob/stable/1.11.x/django/template/base.py#L882

It is clear to me that this is intended behaviour by Django. The answer he

[2021-09-01 04:31] rtibbles commented on #5837
Not clear that we need to change this behaviour, closing this issue for now.

[2021-09-01 04:31] #5837 closed, assigned to nobody

[2021-09-01 04:48] rtibbles commented on #4483
I think this is unnecessary - either the language names in the selector should be localized, or we should just use native language names. We only added the English names for QA purposes, it seems like feature creep to localize the tooltips.

Most sites simply use native language names and we are already following this practice.

[2021-09-01 04:48] #4483 closed, assigned to nobody

[2021-09-01 04:52] rtibbles commented on #1124
This was fixed in #8355

[2021-09-01 04:52] #1124 closed

[2021-09-01 09:55] pcenov commented on #7659
Hi @radinamatic, after importing the Thoughtful Learning channel I can confirm that the resources are not visible in the MacOS Kolibri app. For some reason it attempts to open a URL in the default browser pointing to: http://localhost:65503/content/static/hashi/hashi-5266606b03050de071fee9c2a743e322.html

![2021-09-01_12-06-39](https://user-images.githubusercontent.com/79847249/131650894-2560c607-

[2021-09-01 13:43] indirectlylit opened #8376 "`RuntimeError: reentrant call` logging errors during shutdown of devserver on mac"
## Observed behavior

On shutdown, observing many errors like:

[code]

See attached logs for full context:

[logs.txt](https://github.com/learningequality/kolibri/files/7091511/logs.txt)

Note that after this, in fact Kolibri did not appear to be fully shut down. Trying to run production server`yarn run build` and then `kolibri start`:

[code]

## Expected behavior

clean shutdown with no errors

[2021-09-01 14:08] indirectlylit opened #8377 "No option to go 'back' on setup wizard individual user account import"
## Observed behavior

After reaching this screen, I wanted to go 'back':

![image](https://user-images.githubusercontent.com/2367265/131685897-62dcda8e-1332-489f-a242-1e6bf4dcc4ed.png)

There is no option so I had to refresh and start over

## Expected behavior

all screens should have back buttons if possible

## User-facing consequences

makes it harder for user to experiment and explore various

[2021-09-01 14:15] indirectlylit opened #8378 "confusing flow during individual user import"
## Observed behavior

| | |
|--|--|
| Initially there's a disabled 'finish' button | ![image](https://user-images.githubusercontent.com/2367265/131686780-3b88721f-8417-405b-8c28-fd2b4d106048.png) |
| Afterward, 'finish' is the only option even though there are no users to import | ![image](https://user-images.githubusercontent.com/2367265/131686804-039d8114-74d9-4caf-831b-fa3ca8d32bbf.png) |
| Aft

[2021-09-01 14:22] indirectlylit opened #8379 "logged out of single-user device within minutes"
## Observed behavior

Just minutes after logging in with single-user devices, I was logged out again

![image](https://user-images.githubusercontent.com/2367265/131688099-964005fc-c3d4-48a1-91a7-4d229365a249.png)

## Errors and logs

[code]

## Expected behavior

Session keep-alive should work as long as the browser is open

## User-facing consequences

Serious frustration

## Context and steps to

[2021-09-01 15:19] rtibbles commented on #7659
In the latter case, The console errors are due to issues in the content itself, so not a result of what Kolibri is doing.

In the first case, it seems like it is trying to open the URL for the iframe in an external window, rather than opening it in the iframe - this definitely needs more debugging.

[2021-09-01 15:20] rtibbles commented on #7659
Does the same error occur in Safari outside of the app context?

[2021-09-01 15:23] pcenov opened #8380 "Android App - Responsive design issues"
## Observed behavior
There are many screens with text or button layout issues when the app is viewed in a mobile phone.

## Expected behavior
All pages should be optimized for mobile devices.

## Steps to reproduce the issue
1. Install the Android [build](https://buildkite.com/learningequality/kolibri-android-installer/builds/2548#7d02075f-02ab-40ea-8f21-aa8bd75782f2) on a mobile device.
2. Intera

[2021-09-01 15:25] rtibbles commented on #8379
Do you know what initiated the call to the logout endpoint here? This seems to be the cause of your being logged out.

[2021-09-01 15:33] pcenov opened #8381 "Android App - Constantly getting a "Disconnected from server error" in an Android 5.1 device"
## Observed behavior
I'm constantly getting a "Disconnected from server error" in an old Android 5.1 device. When I stop and then start again the app it gets stuck at the starting screen and I have to restart the device.

## Errors and logs
[logs.zip](https://github.com/learningequality/kolibri/files/7092456/logs.zip)

## Steps to reproduce
1. Install the Android build on an Android 5.1 mobile dev

[2021-09-01 15:35] rtibbles commented on #8381
Hrm, this looks very much like the server is shutting down for some reason. Unfortunately getting good logs off the app is almost impossible at the moment.

[2021-09-01 16:06] jredrejo commented on #8379
@indirectlylit  did it happen right after using the setup wizard with an admin account?

[2021-09-01 16:49] indirectlylit commented on #8379
I do not – I had switched to a different app and then back

Yes, and then logging in with the newly-imported user

[2021-09-01 16:59] jredrejo commented on #8379
The point in the logs indicates it's the setup wizard logging out from the admin session.
But after that the logs are showing a new session that is initiated (actually logging out from the admin is what redirects the user to the sign in screen) so I don't understand how that logout can affect again after some minutes.

[2021-09-01 18:02] indirectlylit commented on #8379
I can try to reproduce again tomorrow

[2021-09-01 18:33] jredrejo commented on #8344
https://github.com/learningequality/kolibri/pull/8370/files#diff-35a619d54c106b0ec05d18ca338eaa77909ba1641f516826c54938dee1fa5017 is what #8370 does, so it seems we are in tune

[2021-09-01 18:35] jredrejo commented on #8250
Fixed in #8331

[2021-09-01 18:36] rtibbles commented on #6574
There seem to be two possible issues here. The first is that the unused files may not be being counted in a way that ensures they are distinct: https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/core/content/management/commands/deletecontent.py#L131 - this means that files might be double counted and the size of content being deleted is being overcounted.

The other issue is

[2021-09-01 23:03] #8308 closed, assigned to jredrejo

[2021-09-02 11:29] pcenov commented on #5733
Hi @radinamatic, I'm always able to replicate the `OSError: [WinError 6] The handle is invalid` using the kolibri-0.15.0a3-unsigned Windows build. I see this error in the daemon.txt log file regardless of the Windows locale (tried both English and Bulgarian) with clean installs of Kolibri.
Here are the logs:
[logs.zip](https://github.com/learningequality/kolibri/files/7098440/logs.zip)
I can't get

[2021-09-02 15:00] pcenov commented on #7659
No that error doesn't occur is safari outside of the app context:

![2021-09-02_17-58-26](https://user-images.githubusercontent.com/79847249/131867623-52e88e49-5f4c-49fb-9429-833ea9862b3a.png)

[2021-09-02 15:44] rtibbles commented on #7659
OK, in that case I think this specific issue is fixed, but we should file a follow up issue that's more generally about HTML5 apps not working as expected in the Mac app context!

[2021-09-02 15:44] #7659 closed, assigned to nobody

[2021-09-02 15:49] rtibbles commented on #8251
Fixed in #8369

[2021-09-02 18:28] nucleogenesis opened #8384 "Coach Bookmarks Follow-Up"
We will need to do some follow-up work to complete the Coach's Bookmarks work done in #8272

In summary, the following will need to be decided upon and then implemented.

### Routing During Quiz/Lesson Creation

Will need to discuss with @jtamiace for decisions around how best to approach this.

An illustration of the flow:

1. Quiz / lesson creation
2. [Full-screen modal] -> Select resources for

[2021-09-03 15:33] #8276 closed, assigned to jredrejo

[2021-09-03 16:40] rtibbles commented on #7294
Fixed in #8372

[2021-09-03 16:40] #7294 closed, assigned to rtibbles

[2021-09-03 16:43] indirectlylit opened #8388 "redirect error: Reverse for 'facility_management' not found."
## Observed behavior

After logging in I get this error:

[code]

## Steps to reproduce

Log in as a super user

## Context

latest state of `develop`

[2021-09-03 16:46] indirectlylit commented on #8388
Confusingly, it appears I set this up as a learn-only device, which I was under the impression wouldn't have a super user.

![image](https://user-images.githubusercontent.com/2367265/132040370-1fc2cc7d-c00e-460f-a3af-708b31de8449.png)

the user I logged in with was (I think) the super user from the _other_ device I originally imported from

[2021-09-03 16:54] indirectlylit opened #8389 "content/utils/transfer.py and 'No matching schema found for this database' errors"
## Observed behavior

When trying to import content from Studio on an individual-user device, got this error before the list of channels from Studio was shown:

[code]

## Steps to reproduce

This was a single-user device created by importing one user from another instance of Kolibri

## Context

latest `develop`

[2021-09-03 17:05] indirectlylit commented on #8389
tried with a fresh kolibri home folder and did not reproduce again. Saved the old one in case debugging is necessary

[2021-09-03 17:10] #6375 closed, assigned to rtibbles

[2021-09-03 17:13] indirectlylit commented on #8376
Another permutation of this:

[code]

At this point the server will continue running in the background and I need to manually kill the process

[2021-09-03 17:22] indirectlylit opened #8390 "password field is always shown during user import"
## Observed behavior

The password field is always shown:

![image](https://user-images.githubusercontent.com/2367265/132043887-11bc34e9-b6d4-4558-b947-d09c1f26b4dd.png)

## Expected behavior

User should only be prompted to enter a password when necessary

## User-facing consequences

Unclear how to import learners from a device that has password-free login enabled. Leaving it blank seems to work

[2021-09-03 17:25] indirectlylit commented on #8377
this is actually a critical issue. If you click 'import another user' and decide you don't actually want to import another user, you're stuck here with no recourse

[2021-09-03 17:56] #8344 closed, assigned to jredrejo

[2021-09-03 18:06] indirectlylit opened #8391 "'Device can not sync with itself' and 'too many open files' errors"
## Observed behavior

"Target" SOUD device running as `devserver` on port 8000 with its own `KOLIBRI_HOME`:

[code]

"Source" device running as production server on port 9999 with its own `KOLIBRI_HOME`.

Saw lots of these:

[code]

followed by lots of stuff like this:

[code]

Full logs:

* [target-logs.txt](https://github.com/learningequality/kolibri/files/7107772/target-logs.txt)
* [source-logs

[2021-09-03 18:12] indirectlylit opened #8392 "incorrect message shown to learner with import permission"
## Observed behavior

"As an administrator..." shown to learner

![image](https://user-images.githubusercontent.com/2367265/132049377-3da6b257-8233-45d4-8e6f-59f83cde3a2e.png)

## Expected behavior

messaging appropriate for any user with content management permission

## User-facing consequences

confusing messaging

## Steps to reproduce

import a single learner on a SOUD

## Context

latest `de

[2021-09-03 18:15] indirectlylit opened #8393 "sync tasks are affecting channel import UI"
## Observed behavior

background syncing is causing the channel UI to display incorrect information:

![2021-09-03 14 13 38](https://user-images.githubusercontent.com/2367265/132049636-5bd91d55-a3a2-4488-a632-3136c528dcab.gif)

## Expected behavior

sync tasks should not affect channel UI

## User-facing consequences

confusing / incorrect behavior

## Context

latest `develop`

[2021-09-03 18:21] indirectlylit opened #8394 "noisy syncing logs"
## Observed behavior

when devices are auto-syncing, both the source and target device get a lot of repetitive information written to the logs:

![image](https://user-images.githubusercontent.com/2367265/132049933-3a3897c5-e783-4699-95be-25c09ca04f5e.png)

## Expected behavior

If possible, these should be made quieter - maybe one line for each attempted sync?

## User-facing consequences

This co

[2021-09-03 18:23] radinamatic commented on #8392
This has been reported previously (after our first SoD hack session), should have been fixed in 0.15...?

https://github.com/learningequality/kolibri/issues/8308#issue-972785185

[2021-09-03 18:34] indirectlylit commented on #8392
it's possible that the changes haven't been merged from 0.15 to develop yet, but I don't see the updated string in the PR that closed that issue: https://github.com/learningequality/kolibri/pull/8367/files

[2021-09-03 22:15] nucleogenesis commented on #8111
@jtamiace

![image](https://user-images.githubusercontent.com/6356129/132069927-824387f5-1b00-41fc-ad35-979de9f97cd1.png)

As it was implemented, there is no left-right padding for resources. I hadn't noticed this in the design when reviewing the PR that implemented this. So in order to align the estimated time with the content, it is flush with the side.

Should the resource have padding around i

[2021-09-03 22:31] nucleogenesis commented on #8110
@marcellamaki do you know how we will know whether a resource is allowed to be marked complete manually?

[2021-09-03 22:37] rtibbles commented on #8110
I had failed to make issues to cover the encoding of this in metadata, but @bjester is taking this on. We decided to encode it in the `options` JSON blob.

[2021-09-03 23:40] rtibbles commented on #8388
If you set it up with a super user, then the super user is imported as well, and granted super user privileges (this was not originally planned, but it ended up being significantly harder not to do this).

[2021-09-03 23:40] rtibbles commented on #8388
Looks like this specific error is an unintended consequence of our blocking of facility URLs.

[2021-09-03 23:41] rtibbles commented on #8388
Correct fix will be to make the redirect hook conditional on SoUD too.

[2021-09-03 23:47] indirectlylit commented on #8388
I wonder if the app messaging could be tweaked to reflect this?

![image](https://user-images.githubusercontent.com/2367265/132074862-648d2f29-686f-4736-99d8-74f8d5dad8fd.png)

[2021-09-03 23:53] rtibbles commented on #8391
I am guessing `device cannot sync with itself` is a result of both the devices having the same device ID by virtue of them running on the same hardware and hence having the same MAC address.

[2021-09-03 23:54] rtibbles commented on #8392
I think there had been a string edit, but it seems to have gone walkabout.

[2021-09-03 23:54] indirectlylit commented on #8391
possibly. It was a bit weird because the system ran for quite some time before throwing that error though (see target logs)

[2021-09-03 23:56] rtibbles commented on #8389
It looks like it was trying to move the downloading 'transfer' file to the actual file name, and then things went wrong... then it tried to open the non-existent database file after the failed move?

[2021-09-03 23:57] rtibbles commented on #8393
@vkWeb this is where better filtering of tasks would be very helpful, to just return the content related tasks here!

[2021-09-03 23:57] indirectlylit commented on #8391
(also if running two Kolibri instances on separate ports is not supported for testing syncing, I could use some guidance on recommended test setup)

[2021-09-03 23:57] rtibbles commented on #8394
I think it would make sense to move a lot of the intermediary stages to debugging logs?

[2021-09-04 04:25] rtibbles opened #8400 "Allow learners to sign up for new accounts on Learner only devices when the facility allows it"
Because of the extra technical complexity of allowing learners to sign up on a learner only device, it is currently disabled.

To allow the most flexibility for learner sign up, we should let learners sign up on learner only devices, then let that learner be signed up and properly attached to the facility when an appropriate full facility device is discovered.

This would probably need to use simi

[2021-09-04 04:26] #8274 closed, assigned to jredrejo

[2021-09-04 12:40] jredrejo commented on #8392
Nope, the mentioned PR ensures the user is sent to the device screen, where he's told to import channels, after the setup finishes, but he's free to move to the Learn page and nothing was changed there.

[2021-09-04 16:31] jredrejo commented on #8377
mmm, finish should be available but going back is not an option if you have already imported an user. It's not possible to change to a different setup.

[2021-09-04 16:35] indirectlylit commented on #8377
That makes sense.

In the original issue I hadn't yet imported a user and wanted to go back. I guess it was not clear to me as a user at what point I enter a "point of no return"

[2021-09-04 16:35] indirectlylit commented on #8377
cc @jtamiace

[2021-09-04 17:20] #8388 closed, assigned to rtibbles

[2021-09-06 12:10] vkWeb commented on #8393
Yesss! I love when our work solves issues like these :tada:

@rtibbles You can assign this issue to me. Will be resolved after shifting tasks to their respective django apps and updating the client. I'll handle both the work - shifting as well as the frontend.

[2021-09-06 20:56] radinamatic commented on #8392
Is the `kolibri/plugins/learn/assets/src/views/ContentUnavailablePage.vue` page different depending on the device type (Full vs. SOUD)? I assumed that just changing these 2 strings would be enough, but if I do that, go through the setup wizard for full device but NOT import anything, and visit as a learner afterwards, admin side looks good, but on learner side, the phrase would look better as just

[2021-09-07 14:22] pcenov commented on #8251
@radinamatic today I retested this as part of the daily regression test run on the following [build](https://buildkite.com/learningequality/kolibri-python-package/builds/3559) and strangely enough the export/import is not functioning again:
![2021-09-07_13-21-32](https://user-images.githubusercontent.com/79847249/132361046-8cc5f72d-db30-4061-88d0-4be7bf67ae26.png)
Tested in Win 10, Ubuntu and Andr

[2021-09-07 14:28] radinamatic commented on #8251
Thank you @pcenov!

Reopening as the issue has raised it's ugly head again 😒

[2021-09-07 16:25] jtamiace commented on #8377
Yeah the back arrow should show and hide conditionally based on whether it's the first time importing a user during setup or not

Full flow:
https://www.figma.com/file/w3raYcGRUhhaVm1Of8Dcvo/0.15-Device-setup?node-id=142%3A247

![setup](https://user-images.githubusercontent.com/6668144/132378947-418ac363-2e02-419b-bb01-c26217024d4c.jpg)

[2021-09-07 23:19] jtamiace commented on #8111
Sorry @nucleogenesis, I overlooked that time element when I made the suggestion for the content renderer to maximize use of the available screen space. For videos, EPUBs, and exercises, I agree it would be good to add padding as specced here. Also, the time can be inserted underneath those renderers.

HTML5 and PDF can take up the width and height of the screen, and we can use a smaller fixed bott

[2021-09-07 23:26] rtibbles commented on #8111
Note that the HTML5 renderer in this mockup is missing the toolbar that the 'fullscreen' button is found in, and the epub renderer here is similarly missing its top toolbar.

I think the renderers can implement their preferred spacing internally, so as to avoid making the content page have hard coded logic about the different renderers and their behaviours, but I am a little surprised that we are

[2021-09-07 23:28] rtibbles commented on #8111
(apologies for not bringing this up sooner, but I had either completely failed to notice this placement, or had not previously considered the implications for content that might extent below the fold).

[2021-09-07 23:40] jtamiace commented on #8111
Yeah, it's good to revisit the value to the learner in having the time estimate visible for different learning activities.

We've done it intentionally for the updated quiz renderer, and could see the value for practice resources ("Am I completing this in a good amount of time, compared to how I'd do so with a real quiz/exam in class?"), but even then, time doesn't seem as important if they're jus

[2021-09-07 23:48] jtamiace commented on #8111
The specs for the info side panel already have time included, so here's padding for the different types

![renderer](https://user-images.githubusercontent.com/6668144/132423984-9fe42aed-08af-44a3-a0fd-0a01fbebcdbb.jpg)

[2021-09-08 15:21] pcenov opened #8409 "Develop branch - All lesson resources are not displayed when viewed as a Learner"
## Observed behavior
While regression testing the following builds: [3600](https://buildkite.com/learningequality/kolibri-python-package/builds/3600) and [3587](https://buildkite.com/learningequality/kolibri-python-package/builds/3587)
I noticed that when I'm signed in as a learner all lesson resources are not displayed and there are multiple errors in the console.

## Expected behavior
All lesson

[2021-09-08 22:05] EliKlein commented on #6316
I think I'd like to start looking at this, but I'm also pretty new with Kolibri, so I want to make sure I'm looking in the right place. It should just be the Job class that needs to be serialized right? And then the ORMJob and ScheduledJob classes can have their "obj" column type changed and stuff, to finish it off, basically?

I'll check where else these are all used too, but I just wanna be sure

[2021-09-08 22:12] rtibbles commented on #6316
Hi @EliKlein - apologies, I hadn't realized that @vkWeb was not assigned to this issue. He was planning to take this on - but if you want to take a stab at it, he is currently busy with some other tasks, so I'd welcome your contribution.

You seem to have the right idea yes - the main complexity in serialization comes from the fact that we are currently pickling the `result` object and any `except

[2021-09-08 22:59] EliKlein commented on #6316
Hm... Yeah, this does seem complicated, but I'm going to give it a go, at least for now.

[2021-09-09 06:19] vkWeb commented on #6316
@EliKlein I've a firm grasp of everything Task backend related so if you need any help / have questions, feel free to ask here, I'll be happy to help. Excited to see your work!

[2021-09-09 12:07] pcenov commented on #8250
Hi @jredrejo I've just retested this using the following [build](https://buildkite.com/learningequality/kolibri-windows/builds/1869) and it's still not fixed - in fact it's exactly as described above. Could you have a look again?

[2021-09-09 15:17] jredrejo commented on #8250
hi @pcenov  Could you give more details on your server? Probably the problem is due to something unrelated to the password.  Because I'm using that feature everyday without any issue.

[2021-09-09 15:48] pcenov commented on #8250
Hi @jredrejo this error is observed in both Windows 10 and Ubuntu while going through the setup wizard and selecting Yes to the following options 'Enable guest access/Allow anyone to create their own learner account'. Then at 'Enable passwords on learner accounts' I select No, I fill in the super admin account data and when I click Continue and then Finish I see the error message.
Here are the log

[2021-09-09 20:29] vahidmas opened #8414 "Kolibri update for channel not working as expected"
## Observed behavior

I am trying to update the Kamkalima channel [holoh-gisoz], a channel that needed significant structural changes (including a full Ricecooker update) to work appropriately. **The resources that are used, however, have suffered no change**: the pictures, texts, and MP3s have stayed identical for the past 4 publications versions of the channel on Studio.

I update from Kolibri,

[2021-09-10 00:13] jamalex commented on #8391
As long as you're running with different databases (not just a copy-paste of the DB file), you are fine running multiple instances on the same computer on different ports. the "database_id", which is generated fresh for each new database, is one of the inputs into calculating the instance_id.

[2021-09-10 00:16] jamalex commented on #8391
Is it actually connecting to itself for some reason?

[2021-09-10 00:17] jamalex commented on #8391
The INFO line above the first error says "Requeueing" for port 9999, but it's possible the sync that's shown with the error there was it trying to sync with itself for some reason?

[2021-09-10 01:53] radinamatic opened #8417 "Remove strings with only variable placeholders and occasional punctuation signs from the translatable strings on Crowdin"
## Observed behavior
[Prior discussion on Slack](https://learningequality.slack.com/archives/C59J8FEPN/p1631207348030200)

[Full list of the strings in question](https://github.com/user-attachments/files/23565298/Strings.with.variables.only.7eec5676bcd84d1a92318f1ca70e812c.csv)
(thank you, @dufcrule!)

[original document](https://www.notion.so/learningequality/7eec5676bcd84d1a92318f1ca70e812c?v=7f

[2021-09-10 02:31] radinamatic commented on #8417
@rtibbles suggested:

[2021-09-10 16:44] radinamatic opened #8420 "Remove the obsolete user strings with 'active/inactive'"
## Observed behavior
[Prior discussion on Slack](https://learningequality.slack.com/archives/CB37UM23A/p1631222446061300)
We currently use naming strategy of **Open/Closed** exam and **Visible to learners** for lessons.

[Full list of the strings in question](https://www.notion.so/learningequality/833e2a916545468295b2b2933a8f0290?v=3e22809b9b374830a9ad5505c1b81021)

## Errors and logs
…

## Expect

[2021-09-10 23:31] EliKlein commented on #6316
@vkWeb Thanks! I've gone through more, and I think I have a good idea of what's what now, but I do have a few questions still.

First, where are the results of the task actually being used? I see a couple functions that are run as Jobs but all of them return None. Seems like you'd only need to know whether the job is complete or not at that point.

Second, I'm not _super_ up on SQLAlchemy, so I'm

[2021-09-10 23:57] rtibbles commented on #6316
@EliKlein one slight advantage you have in doing this now, is that we will be wiping the jobs database and recreating it from scratch when people upgrade to the version this will be in, so you don't need to worry about pre-existing state.

You can just remove the old column and add the new serialization column in its place.

[2021-09-13 15:04] MBKayro commented on #8380
for a tablet 10' it look great with the latest 0.15.x git
video and html5 are great

[2021-09-13 15:35] rtibbles commented on #7510
Fixed in #8371

[2021-09-13 15:35] #7510 closed, assigned to rtibbles

[2021-09-13 19:10] nucleogenesis commented on #8111
@jtamiace what are your thoughts on changing how we label the estimated time? [Radina noted a11y concerns with tooltips ](https://github.com/learningequality/kolibri/pull/8395#issuecomment-913896554) and I was thinking that given the space, we could just put the label directly.

Thank you for the updated specs!

@rtibbles agreed that the renderers should handle their own spacing.

[2021-09-13 22:42] jamalex commented on #8148
Ah yes, still not 3rd party, but as the site would function (from the end-user's perspective) without that cookie, it's not necessary indeed! So I guess we at least need one checkbox for disabling that one as desired.

[2021-09-13 22:43] rtibbles commented on #8148
Right, and it needs to be persistently available in some form, as people need to be able to revoke their consent in the future as well. Do you have a sense of how obtrusive the persistent availability has to be?

[2021-09-13 22:46] jamalex commented on #8148
I believe CookieBot recommended putting the opt-out within the cookie notice/policy page. That's what we do here, for instance:
https://learningequality.org/cookies/ (linked from the footer)

[2021-09-13 22:49] EliKlein commented on #6316
That's good to know, though I'm still wondering about some things.

- I don't see the results currently being used anywhere. Are they actually necessary to have in the first place?
- It's not easy to totally avoid the risk of unpickling untrusted data. The current security problem is just as much in using pickle as it is in using `import_stringified_func`. How much of this issue overall is about s

[2021-09-13 22:55] rtibbles commented on #6316
None of this is really about security - it's only application code that access this layer, and it's insulated from injection attacks via validation and the fact that code has to have been written to be executed in the first place.

It's more that pickle is kind of bloated, and not really necessary (as you note, we're not really using the pickled results anywhere anyway) - also, because we are tryi

[2021-09-14 13:53] indirectlylit commented on #6316
With regard to performance, it might be doing some quick timing measurements of before & after behaviors, and also making some estimates of how often these code paths will be executed for a typical classroom server.

If this is a particularly hot code path we might want to consider an alternative json library. For example, [ujson](https://github.com/ultrajson/ultrajson) is much faster, but it's al

[2021-09-14 14:03] rtibbles commented on #6316
I think any json encoding decoding is likely to be swamped by our json encoding decoding in our API endpoints, and that has not been a performance bottleneck so far. I think this would be a distraction from the simpler goal of just removing pickle.

[2021-09-14 14:13] indirectlylit opened #8427 "investigate whether JSON serialization is a bottleneck, and optimize if so"
## Observed behavior

DRF APIs and (after #6316 is fixed) our task serialization use the built-in JSON serialization libraries. This is safe and works everywhere, but there are also libraries that allow faster c-based implementations to be used:

* https://github.com/ultrajson/ultrajson
* https://github.com/Amertz08/drf_ujson2

## Expected behavior

Some performance tests could help determine if u

[2021-09-14 14:13] indirectlylit commented on #6316
good point. There is a [DRF ujson layer](https://github.com/Amertz08/drf_ujson2) we could look at but this is indeed a distraction. Opened https://github.com/learningequality/kolibri/issues/8427

[2021-09-14 17:42] rtibbles commented on #8275
See also https://github.com/learningequality/kolibri/issues/8316

[2021-09-14 18:40] jredrejo commented on #7759
@rtibbles I can confirm the issue persists, it's easy to reproduce it following the steps in the description of the issue

[2021-09-14 18:43] rtibbles commented on #7759
I think the most systematic way to handle many of our PDFJS related issues might be to do a fuller port of their default viewer code into Kolibri - but that would be a lot of work.

[2021-09-14 19:27] rtibbles commented on #4585
Fixed in #8402

[2021-09-14 19:27] #4585 closed, assigned to AtKristijan

[2021-09-14 21:44] rtibbles commented on #8251
This issue was so good, I fixed it twice!

[2021-09-14 21:44] #8251 closed, assigned to rtibbles

[2021-09-14 21:44] rtibbles commented on #8251
Fixed in #8425

[2021-09-15 09:40] MisRob commented on #8309
I've been encountering the following issue with video completion:

**Steps to reproduce (tested on release-v0.15.x)**
1. I'm signed in and in one of my classes in "Learn" start watching a 60 seconds long video I've never seen before
2. When I've seen the first 30 seconds, I pause the video and rewind it back **_around 20 seconds_** (so I'm at 10 seconds of the video length)
3. I hit the play butto

[2021-09-15 15:17] MBKayro commented on #8381
the only way i test to keep sync is to change the port from 8080 to 8086.

many time it stop syncing to server at first, then it disconnect completely.

tested in the latest git 0.15.x

[2021-09-15 19:17] #8209 closed, assigned to rtibbles

[2021-09-15 19:25] marcellamaki commented on #8305
Still to be done:
- making sure all responsiveness matches Figma new designs (especially mobile toggling and overlays)
- overall code cleanup/refactoring

Frontend only - follow up issue to connect the backend. For now, we will stub out a backend to continue this work with

[2021-09-15 19:26] marcellamaki commented on #8306
See #8305 for details of what is remaining

[2021-09-15 19:32] marcellamaki commented on #8107
Still to do:
- make sure that all of the design use cases are covered by existing components and updated as necessary
- responsiveness

[2021-09-15 19:46] marcellamaki commented on #8114
WIP code from Sairina has been started #8158

[2021-09-15 20:49] rtibbles opened #8435 "If the device settings cache gets stale with a non-existent facility, Kolibri does not recover"
## Observed behavior
If the Facility that is stored in the device settings cache as the default facility has been deleted, multiple places that attempt to access this information can fall into unrecoverable error states.

## Errors and logs

[code]

## Expected behavior

Kolibri should catch this error, clear the stale cache, and recover.

## User-facing consequences
Seemingly permanent breakage o

[2021-09-16 01:55] EliKlein commented on #6316
This is not going super well. I have the serialization set up properly for simple cases, but it looks like there's trouble with some tasks already using arguments which aren't (normally) serializable to JSON-- Namely, the EventProxy in test_job_running.

I had an idea on how to make it a much smaller problem (or even not a problem at all) but if it's possible, I can't figure it out.

Not sure if I

[2021-09-16 02:15] rtibbles commented on #6316
The only important data from the EventProxy is the internal event_id property.

I would suggest updating the tests so that we just pass in the `event_id` of the `EventProxy` as the argument, then update `EventProxy` so that it can take an optional `event_id` argument on initialization.

Within the jobs that are using the EventProxy, you would then initialize an EventProxy with the passed in event_

[2021-09-16 10:11] pcenov opened #8439 "Single user syncing - Lesson completion is not restored after second setup of the same learner account"
## Observed behavior
I have setup a learner-only device and have completed a lesson assigned to the learner user which is then synced correctly to the server. After that I've deleted the android app storage and cache and repeated the setup for the same user expecting the lesson progress to be restored while in reality it does not get restored and the learner has to start over.

## Expected behavio

[2021-09-16 10:31] pcenov opened #8440 "Android app - No notification for lack of network connection"
## Observed behavior
Currently there's no clear indication to an android user that the network connection connection has been lost. This can cause confusion for the user.

## Expected behavior
Detect lost network connection and notify the user.

## Steps to reproduce the issue
1. Install this Windows [build](https://buildkite.com/learningequality/kolibri-windows/builds/1930) and this Android [buil

[2021-09-16 11:20] pcenov commented on #8439
Update: After revisiting the same case an hour later it appears to be functioning correctly and the lesson progress is displayed correctly. @rtibbles is there a time interval for fully restoring the progress made on the learner's device?

[2021-09-16 14:52] rtibbles commented on #7963
This is now feature complete!

[2021-09-16 14:52] #7963 closed, assigned to nobody

[2021-09-16 16:06] pcenov commented on #8439
Just mentioning that I currently have reproduced the initially reported issue and the learner user's lesson progress is not synced correctly after several hours during which I even changed that user's password while the user was signed out and this change was synced correctly. So no idea what's going on here.

[2021-09-16 16:09] marcellamaki commented on #8270
Closed with updates for string freeze

[2021-09-16 16:09] #8270 closed, assigned to marcellamaki

[2021-09-16 17:37] jamalex commented on #8439
@pcenov Thanks -- would it be possible to share the database file (db.sqlite3) from both sides of the sync, to help with diagnosing?

[2021-09-16 18:21] pcenov commented on #8439
Sure, @jamalex - I've now added a link to the Ubuntu and Android logs and DB files in the description.

[2021-09-16 20:34] indirectlylit commented on #8270
mind referencing the PR?

[2021-09-16 20:50] radinamatic commented on #8270
#8433

https://github.com/learningequality/kolibri/pull/8433/files#diff-3f5af7e3909e8a37e99d748407fe63e6db962b7a174899761d64a815c0cf276bR115

[2021-09-17 01:01] EliKlein commented on #6316
OK that was pretty helpful. I've gotten through as much of getting tests to pass as I can, but there's some odd problems with my computer running pytest (I mentioned this before). I just can't run all of the tests at once for some reason, and I'm sure if I tried to find the tests that it's not getting to, I'd miss something.

I'm going to go touch up what I've changed a little bit, for now... and

[2021-09-17 22:20] EliKlein commented on #8427
I believe the ORM is not doing amazingly well with keeping track of Job objects. I'm pretty sure that (in my local code where #6316 is pretty much fixed) they're being serialized/deserialized a lot more than they theoretically would have to be. It seems like this setup is the most manageable and easiest way to handle it as things stand, but I thought I should mention it, as it's relevant to this i

[2021-09-17 22:23] rtibbles commented on #8427
I think that seems fairly likely - we have a fairly blunt hammer approach to this at the moment. One possibility would be to put more of the Job attributes directly into the ORMJob as distinct columns, rather than trying to serialize all Job attributes into a single column.

[2021-09-17 22:49] EliKlein commented on #6316
Decided to do a pull request anyways.

[2021-09-17 22:52] rtibbles commented on #6316
Thank you! We can review and give feedback in case there's anything else that needs updating. Your contribution is very much appreciated!

[2021-09-18 20:34] jamalex commented on #8439
This issue has uncovered a really important edge case in how Morango handles "filter specific instance counters" for cases (like single-user syncing) with multiple filters being applied at once. @pcenov It's fantastic that you discovered this before we rolled out 0.15 any more widely!

I have a fix in progress that I think should address this, and will hopefully be able to push it (to Morango, at

[2021-09-20 21:42] marcellamaki opened #8451 "Ensure data returned from ContentNodeAPI endpoint is in the structure that the frontend wants to use it"
There are some data transformations that happen in various utils.js. For example, content thumbnails are currently added through the functions in `/coreLearn/utils.js`. So that the data is consistent (and we do not have mysteriously missing pieces of data when new pages are added), we should standardize how the data is returned to the frontend.

[2021-09-21 13:15] indirectlylit commented on #8124
For some context on the original motivations – `TextTruncator` was added in https://github.com/learningequality/kolibri/pull/3508 to satisfy a few goals:

* Set a fixed maximum height on a block of arbitrary-length text, with width responsive
* Maximize use of allocated screen real estate by filling in bottom line of text completely
* Only segment between full words
* Use a real ellipsis character

[2021-09-21 14:40] indirectlylit opened #8453 "misalignment of icons in titles"
## Observed behavior

Observed in screenshots @radinamatic posted in https://github.com/learningequality/kolibri/pull/8449#issuecomment-923611087

![image](https://user-images.githubusercontent.com/2367265/134192029-e8db028f-b5b4-4bd4-8125-09f3ee6f8aab.png)

## Expected behavior

Icons should (roughly) align with text baseline:

![image](https://user-images.githubusercontent.com/2367265/134191848-

[2021-09-21 14:48] indirectlylit commented on #8439
Agreed and thank you @jamalex for the rapid response. Between our QA and trial by fire with S2S, syncing is getting an excellent workout. Well done.

[2021-09-21 15:29] radinamatic commented on #8453
Mediapad T5, Android version 8.0.0

Visible on Firefox 92 and Chrome 93 on Windows 10, too.

Firefox | Chrome
--- | ---
![Win10 (start)  Running  - Oracle VM VirtualBox_038](https://user-images.githubusercontent.com/1457929/134200801-52e8a897-de00-4f5c-84f5-af59c94f9fcb.png) | ![Win10 (start)  Running  - Oracle VM VirtualBox_039](https://user-images.githubusercontent.com/1457929/134200830-0b363096

[2021-09-21 21:00] #8439 closed, assigned to nobody

[2021-09-21 21:30] indirectlylit opened #8454 "updates to naming and versioning of internal packages and tools"
# Status

This issue is currently a draft and open for feedback.

# Current state

The Kolibri product ecosystem has a number of "internal" Node packages. These are currently tracked monorepo-style in the Kolibri repo, and some are used by other products. For example, [Studio](https://github.com/learningequality/studio/blob/92ef5585d9dd4f61d060c01437e233674258cad6/package.json#L84) and [KDS](https

[2021-09-21 21:35] rtibbles commented on #8454
It's not a blocker, but one slight complexity in separating the linting and building code, is our use of a custom module resolver that stops the linter complaining about our Kolibri API spec imports.

What this would mean is that the linting configuration for the `kolibri-plugin-tools` would have to enhance the configuration provided by `kolibri-formatting-tools` in order to substitute in the cust

[2021-09-22 20:24] nucleogenesis commented on #8111
#8458 does not close this issue but is a response to the above comment by Jessica.

This issue still exists but sounds like there is a plan to put it into the Side Panel - per #8307  so that will depend on this issue.

[2021-09-23 18:45] rtibbles commented on #6316
Fixed in #8447

[2021-09-23 18:45] #6316 closed, assigned to vkWeb

[2021-09-24 14:43] radinamatic commented on #7969
Fixed in #8233 and #8300

[2021-09-24 14:45] #7969 closed, assigned to radinamatic

[2021-09-24 15:15] marcellamaki commented on #8092
Evgeni is starting on this issue, and I'm wondering if @jtamiace or anyone else -- @indirectlylit @nucleogenesis @rtibbles -- might have some context on the setup of this error message? It does seem like having an error message would be helpful, and my guess is it was added to manage edge cases, but having to remove a resource that doesn't exist seems like it could be confusing from a user point o

[2021-09-24 15:24] rtibbles commented on #8092
We want to preserve this error message (rather than hiding non-existent resources), so as to be transparent to users when they have facility data (like lessons) that does not have all associated content data. This is important, because otherwise when syncing happens, if we just hide things people might think that data loss has occurred.

So, the fix here is to allow the `remove` button to work in

[2021-09-24 17:48] indirectlylit opened #8465 "consistent incomplete shutdown of devserver on mac"
## Observed behavior

The devserver does not shut down using ctrl-c for me on mac:

![2021-09-24 13 17 07](https://user-images.githubusercontent.com/2367265/134718690-10c9cacc-4224-43eb-8ebe-0a54d3c3383b.gif)

Originally I reported this in https://github.com/learningequality/kolibri/issues/8376 but moved it to its own issue as the more reproducible scenario.

## Errors and logs

![image](https://u

[2021-09-24 18:11] rtibbles commented on #8465
Duplicate of https://github.com/learningequality/kolibri/issues/7955

Note that this is an issue with yarn swallowing keyboard interrupts, so the workaround is to spawn the Python devserver separately.

[2021-09-25 02:59] radinamatic opened #8469 "Categories and activities in Learn > Library are transformed to title case caps"
## Observed behavior
Goes against our [writing guidelines](https://kolibri-design-system.netlify.app/writing/#punctuation), and is incorrect for other languages.

Spanish | Bulgarian
--- | ---
![LEDev2104 (start)  Running  - Oracle VM VirtualBox_043](https://user-images.githubusercontent.com/1457929/134755559-bfe6784f-58ce-46cb-b58f-ebcae5907e36.png) | ![LEDev2104 (start)  Running  - Oracle VM Vir

[2021-09-25 17:06] indirectlylit commented on #7955
Flagging as a regression because `yarn run devserver` previously shut down cleanly

[2021-09-28 17:54] jamalex commented on #7960
@rtibbles Another piece of this is presumably including some aggregate stats about browsers, which we now track via the session endpoint? I'm not sure where we're tracking that.

[2021-09-28 17:56] bjester commented on #8316
Collapsed into https://github.com/learningequality/kolibri/issues/8275

[2021-09-28 17:56] #8316 closed, assigned to jamalex, bjester

[2021-09-28 19:15] indirectlylit opened #8472 "inline noto-subset font load failed in Firefox"
## Observed behavior

In Firefox on Mac, only the full and common fonts appear to be loading. The base64-encoded css-inlined subset font is not.

Probably related to https://github.com/khaledhosny/ots/issues/52

## Errors and logs

Normal weight:

[code]

Bold weight:

[code]

## Expected behavior

The inline font is intended to prevent a flash of unstyled text and improve render performance.

##

[2021-09-29 15:44] indirectlylit commented on #8465
re-opening because in #7955 the python process did eventually shut down, but in this case it does not

[2021-09-29 15:44] indirectlylit commented on #7955
update: re-opening #8465 and removing regression label because they seem to be different issues

[2021-09-30 17:09] indirectlylit opened #8474 "cannot install dependencies under python 3.9"
## Observed behavior

Our dependency `diskcache==4.1.0` is not available for Python 3.9

## Errors and logs

[code]

## Expected behavior

Kolibri should be able to run on the latest Python version(s)

## Context

latest develop and 0.15

[2021-09-30 18:37] radinamatic opened #8475 "'View learner devices' link present only on 'Reports > Quizzes'"
## Observed behavior
Probably just an oversight, see the [Slack convo](https://learningequality.slack.com/archives/CB37UM23A/p1633023528287000).

![view-learner-devices](https://user-images.githubusercontent.com/1457929/135510600-81117b8d-8f99-4d2d-8821-461fb82691a3.gif)

## Errors and logs
…

## Expected behavior
Coaches able to access the list of learner devices from all 4 subtabs in Reports: Le

[2021-09-30 19:18] indirectlylit commented on #8474
Note: I assumed it was a py3.9 issue because when I switched to py3.8 it worked. However @rtibbles informs me we run tests on py3.9 so there's a chance it was a transient issue.

Closing until we can demonstrate otherwise.

[2021-09-30 19:18] #8474 closed, assigned to nobody

[2021-10-04 16:57] rtibbles opened #8477 "Write utility function to convert quiz progress logged with ExamLog and ExamAttemptLog to MasteryLog and AttemptLog"
[code]

[2021-10-04 20:23] rtibbles opened #8479 "Convert quiz progress to ExamLog and ExamAttemptLog records in a pre-sync hook, only when syncing with older versions of Kolibri"

[2021-10-04 20:25] rtibbles opened #8480 "Create an upgrade step when upgrading from versions older than 0.15 to run the utility function to convert ExamLog and ExamAttemptLog to MasteryLog and AttemptLog"

[2021-10-04 20:27] rtibbles opened #8481 "On post-sync from older Kolibri versions, run the utility function to convert ExamLog and ExamAttemptLog to MasteryLog and AttemptLog"

[2021-10-04 20:32] rtibbles opened #8482 "Update Kolibri to use MasteryLog and AttemptLog for generating bulk notifications about quiz progress"

[2021-10-04 20:32] rtibbles opened #8483 "Update Kolibri to use MasteryLog and AttemptLog for reading quiz progress in coach reports"

[2021-10-04 20:34] rtibbles opened #8484 "Update the learner quiz engagement to log attempts and progress via MasteryLog and AttemptLog"

[2021-10-04 20:34] rtibbles opened #8485 "Update stat pingbacks to use AttemptLogs and MasteryLogs filtered by 'quiz' or not"
https://github.com/learningequality/kolibri/blob/b87f9da274a6a9218419cf9f858be695aa04304a/kolibri/core/analytics/utils.py#L282

These stats pingbacks need to be filtered to either exclude quizzes logged as content, or include only quizzes logged as content, depending on whether they are currently using 'ExamLog' and 'ExamAttemptLog'.

[2021-10-04 20:39] rtibbles opened #8486 "Update data exports for content session and summary logs to exclude the 'quiz' kind"

[2021-10-04 20:40] rtibbles opened #8487 "Reinstate the IndividualSyncableExamModel and hooks"

[2021-10-04 20:42] rtibbles commented on #8487
This is blocked by every other issue in https://github.com/learningequality/kolibri/issues/8275 and should only be resolved once they all have been.

[2021-10-06 19:27] #8390 closed, assigned to jredrejo

[2021-10-08 20:47] marcellamaki commented on #8451
`:channelThumbnail="content.channel_thumbnail"`
`:channelTitle="content.channel_title"`

[2021-10-11 15:57] pcenov opened #8489 "Import individual user accounts - Wizard is stuck on the 'Loading user' step"
## Observed behavior
The setup wizard gets stuck at the 'Loading user' screen when I attempt to import a learner user.
I then have to go back to http://127.0.0.1:8080/en/auth/#/signin to sign in as the imported learner user.

## Expected behavior
It should be possible to import one or several learners and automatically get logged in with the last one.

## Steps to reproduce the issue
1. Install th

[2021-10-11 16:51] nucleogenesis commented on #8107
Much of this is covered in #8466 but the metadata is not available, so this won't be finished until metadata is available.

[2021-10-11 17:11] indirectlylit opened #8490 "category filter text is Title Case"
## Observed behavior

Category filter text Title Case:

## Expected behavior

Sentence-style caps: https://design-system.learningequality.org/writing/#punctuation

## User-facing consequences

Phrases like "For Teachers" and "None Of The Above" look a bit strange when written using Title Case.

## Context

0.15

[2021-10-11 17:24] indirectlylit opened #8491 "learner home page layout might not fully use available screen real estate"
## Observed behavior

It's hard to see multiple sections "at a glance" even when there is space available:

![image](https://user-images.githubusercontent.com/2367265/136829724-0a537661-debe-4a1d-bff9-9daf1158e35a.png)

## Expected behavior

The coach home page seems to make slightly better use of screen real estate on larger screens using two columns

## User-facing consequences

More scrolling t

[2021-10-12 12:40] pcenov opened #8493 "Keyword search - Searching by a single letter causes a 500 error"
## Observed behavior
Searching by a single letter causes a 500 error

## Expected behavior
The search should function correctly and return results.

## Steps to reproduce the issue
1. Install the following [build](https://buildkite.com/learningequality/kolibri-python-package/builds/3846)
2. Go to Learn>Library
3. Enter a search term consisting of a single character

## Screenshot
![2021-10-12_15-1

[2021-10-12 15:18] marcellamaki commented on #8092
Fixed with https://github.com/learningequality/kolibri/pull/8471

[2021-10-12 15:18] #8092 closed, assigned to nobody

[2021-10-12 15:19] marcellamaki commented on #5890
Fixed with https://github.com/learningequality/kolibri/pull/8450

[2021-10-12 15:19] #5890 closed, assigned to nobody

[2021-10-12 15:31] indirectlylit opened #8494 "remove references to `learn` plugin from `user_profile` plugin"
## Observed behavior

Logic in the profile editor page has some hard-coded references to Learn plugin:

https://github.com/learningequality/kolibri/blob/2f12791e9d974b3c7dc417f2aefb1c0a041ab20a/kolibri/plugins/user/assets/src/views/ProfileEditPage.vue#L158-L164

## Expected behavior

Plugins should be as independent of one another as possible. In this case, can probably just redirect to the 'next'

[2021-10-12 15:53] rtibbles commented on #8216
Fixed in #8443

[2021-10-12 15:53] #8216 closed, assigned to indirectlylit

[2021-10-12 16:34] AbhijithGanesh commented on #8494
Is this issue relevant? Is there something I can do?

[2021-10-12 16:37] AbhijithGanesh commented on #8490
@rtibbles can I be assigned this issue? I would like to contribute to this repo and it'd be my first contribution

[2021-10-13 14:21] pcenov opened #8497 "Bookmarks - Error when removing a bookmarked resource"
## Observed behavior
When I have several bookmarked resources and I attempt to remove the first one I get an error in the console and the bookmarked resource remains visible until I manually refresh the page.

## Expected behavior
The bookmarked resource should be removed.

## Steps to reproduce the issue
1. Install the following [build](https://buildkite.com/learningequality/kolibri-python-packag

[2021-10-13 16:27] rtibbles opened #8498 "Better handling of duplicate search results"
## Observed behavior
Previously our search backend worked overtime to deduplicate search results, in the interest of performance #8488 decided not to pursue this, but this can result in slightly counter intuitive results like this:

![image (3)](https://user-images.githubusercontent.com/1680573/137174543-548a3019-4d7b-481f-a3f7-0f1f9033a17b.png)

## Expected behavior
We should retain some of the p

[2021-10-13 18:17] #8311 closed, assigned to rtibbles

[2021-10-13 18:17] #8312 closed, assigned to rtibbles

[2021-10-13 18:17] #8313 closed, assigned to rtibbles

[2021-10-13 18:17] #8493 closed, assigned to nobody

[2021-10-14 15:46] rtibbles commented on #6574
Fixed in #8441

[2021-10-14 15:46] #6574 closed, assigned to AtKristijan

[2021-10-14 16:12] rtibbles opened #8499 "Use SWC instead of Babel for faster ES5 transpilation"
One of the bottlenecks for our build pipeline is the use of Babel for transpilation. [SWC](https://swc.rs/) is reported to be significantly faster than Babel, and to do functionally equivalent transpilation and polyfilling.

Looking at the configuration it seems to aim to be as similar to babel in configuration as possible, down to the inclusion of a `preset-env` option.

It also has a loader for

[2021-10-14 21:38] indirectlylit commented on #8379
have not reproduced lately

[2021-10-14 21:38] #8379 closed, assigned to nobody

[2021-10-14 21:38] indirectlylit commented on #8391
have not reproduced lately

[2021-10-14 21:38] #8391 closed, assigned to nobody

[2021-10-19 18:16] bjester commented on #7453
@rtibbles @jamalex Finally taking a look at this, it appears the dataset inference has already been updated in https://github.com/learningequality/kolibri/pull/7887. I can move ahead with nulling out creator fields in this scenario, but it appears that we also have the same problem for `LessonAssignment` and `ExamAssignment` which do not allow those fields to be nullable.

[2021-10-19 18:29] rtibbles commented on #7453
Yeah, that seems like the best path forward - it should be an edge case mostly. Maybe it's safer when we set those values on the model to do the check pre-emptively, but that might be overkill if we just ensure it doesn't block syncing.

[2021-10-20 17:10] sairina opened #8507 "Admin view: independent practice quizzes can be imported, managed, and deleted from the device"
### User stories for this issue:
| User story | Design |
| -- | -- |
|1. As an **admin user**, I want to be able to see all the available independent practice quizzes show up along with all the other resources in the topic folders of channels that contain independent practice quizzes so that I can **select them for import**. | ![Screen Shot 2021-10-20 at 12 15 24 PM](https://user-images.githubuser

[2021-10-21 03:49] sairina opened #8508 "Learner view: in a lesson, independent practice quizzes can be taken, submitted, and the report can be seen"
### User stories for this issue:

|Frame|Explanation|
|--|--|
|![Screen Shot 2021-10-20 at 8 23 57 PM](https://user-images.githubusercontent.com/13563002/138207611-12724656-27fb-496b-af77-09d0df256a86.png)|(a) Independent practice quiz can be found in a lesson|
|![Screen Shot 2021-10-25 at 10.00.43 PM.png](https://images.zenhubusercontent.com/6050ea86e1747f15de7d8759/2577c84b-d96f-4d64-bf08-e66162

[2021-10-21 04:00] sairina opened #8509 "Learner view: in a channel, independent practice quizzes can be taken, submitted, and the report can be seen"
### User stories for this issue:

|Frame|Explanation|
|--|--|
|![Screen Shot 2021-10-20 at 8 53 50 PM](https://user-images.githubusercontent.com/13563002/138208943-7656359f-1d54-4605-9bcc-2fb03dbe83d2.png)|From channels tab, learner will go into a folder (see Figma link below for details)|
|![Screen Shot 2021-10-20 at 8 54 17 PM](https://user-images.githubusercontent.com/13563002/138208947-fe4542a

[2021-10-21 04:27] sairina opened #8510 "Learner view: retry functionality for independent practice quiz is implemented"
### User stories for this issue:

(Please note this issue is for both retrying a practice quiz from a channel and lesson)

|Frame|Explanation|
|--|--|
|![Screen Shot 2021-10-20 at 8 25 03 PM](https://user-images.githubusercontent.com/13563002/138210913-302a26eb-973d-4273-a97d-07ec17e74e41.png)|Learner navigates to independent practice quiz report from lesson or channel and clicks on "Practice agai

[2021-10-21 04:34] sairina opened #8511 "Learner view: searching for independent practice quiz"
### User stories for this issue:

|Frame|Explanation|
|--|--|
|![Screen Shot 2021-10-20 at 9 32 43 PM](https://user-images.githubusercontent.com/13563002/138212023-7115c128-7989-467d-8e24-3369cf75f411.png)|Filtering by "Practice" activity returns both quizzes and exercises|
|![Screen Shot 2021-10-25 at 10.27.30 PM.png](https://images.zenhubusercontent.com/6050ea86e1747f15de7d8759/34d3ad84-f413-48d

[2021-10-21 13:29] marcellamaki opened #8512 "Back button in LearnImmersiveLayout is Broken"
The back button in the learn immersive layout page is not working as expected

When the previous page is the library page, the back button returns to the topics browser page

From other pages, the back button either does nothing or results in an `Avoided redundant navigation to current location` error

[2021-10-21 18:58] sairina opened #8514 "Coach view: ability to add independent practice quizzes to a lesson"
### User stories for this issue:

|Frame|Explanation|
|--|--|
|![Screen Shot 2021-10-21 at 11 38 35 AM](https://user-images.githubusercontent.com/13563002/138338320-dcd2349c-c813-445a-8990-7440ec89cb27.png)|Independent practice quizzes appear in channel content as card|
|![Screen Shot 2021-10-21 at 11 38 47 AM](https://user-images.githubusercontent.com/13563002/138337750-ff2580a5-7385-4edc-814a-0b

[2021-10-21 18:59] sairina opened #8515 "Coach view: update ability to view independent practice quiz reports"
### User stories for this issue:

1. As a coach, I want to see independent practice quizzes in the lesson resource list of a lesson under the tab "Reports", so that I can access the report for those independent practice quizzes.
2. As a coach, I want to see progress in the table updated next to an independent practice quiz's learner list inside of a lesson, so that I can get an overview of how man

[2021-10-21 20:21] sairina opened #8516 "Coach and Learner views: update `<ReportsPracticeQuizLearnerPage>`"
### User stories for this issue:

1. As a coach, I want to see a summary of a learner across all quiz attempts for this independent practice quiz in the header, so that I can see their best score and best score time.
2. As a coach, I want to see the correct metadata (score, questions correct, time spent, attempted) about the current attempt I select from the dropdown, so that I can get an overview

[2021-10-21 21:07] sairina opened #8517 "Coach view: update `<ReportsPracticeQuizQuestionPage>` ("difficult questions" report)"
### User stories for this issue:

1. As a coach, when I select an attempt, I want to see more detailed information when I click into a difficult question so that I can see information for each learner for how they did this time compared to other times.

**From Coach > Reports > Lessons (click on lesson title) > Report > Channel quiz (click on channel quiz title) > Difficult questions > Question (c

[2021-10-21 21:08] #8515 closed

[2021-10-21 21:10] sairina opened #8518 "Coach view: update ability to view independent practice quiz reports"
### User stories for this issue:

1. As a coach, I want to see independent practice quizzes in the lesson resource list of a lesson under the tab "Reports", so that I can access the report for those independent practice quizzes.
2. As a coach, I want to see progress in the table updated next to an independent practice quiz's learner list inside of a lesson, so that I can get an overview of how man

[2021-10-21 21:41] sairina opened #8519 "Coach view: update Gherkin stories for independent practice quizzes as normal quizzes"
## Observed behavior

We have to update the Gherkin story that checks that the workflow for when a coach assigns an independent practice quiz as a regular quiz is the same as when a coach assigns an exercise as a regular quiz. It is currently in `coach-create-quiz.feature` as a `channel-based quiz`

See [link to `coach-create-quiz.feature` for current stories](https://github.com/learningequality/k

[2021-10-21 21:49] sairina opened #8520 "Learner view new component: `<PracticeQuizRenderer>`"
### Summary
Currently, we have a normal quiz rendering experience. This is from `KContentRenderer`, `AssessmentWrapper`, and in the workflow, is primarily found in two components, `<ExamPage>` and `<ContentPage>`.

- We will want to include the new `<PracticeQuizTimer>`.
- [In `<ContentPage>`](https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/learn/assets/src/views/C

[2021-10-21 21:51] sairina opened #8521 "Coach view: Create routes for independent practice quiz workflows"
Creating routes creates a skeleton for other devs to implement their component and state work within, so this should smooth the path for further development on the overall feature.

This will comprise of the four main routes for a coach:
- [x] Checking the route for putting a practice quiz inside a lesson
- [x] Checking the route for making a practice quiz a quiz
- [x] Checking the route for displ

[2021-10-21 22:02] sairina opened #8522 "Create beta installer"

[2021-10-21 23:04] indirectlylit commented on #8454
in a thread @rtibbles mentioned that

This would be very helpful for the `kolibri-plugin-tools`/`kolibri-tools`/`kolibri-core-for-export` package.

Whether it makes sense for the other packages is an open question we should discuss. One issue is that it would make it harder to resolve the circular dependency between KDS and Kolibri if `kolibri-formatting-tools` upgrades in lock-step with Kolibri v

[2021-10-22 15:22] #8019 closed, assigned to bjester

[2021-10-22 15:36] #7453 closed, assigned to bjester

[2021-10-22 17:54] bjester commented on #8479
We're not performing backwards migration at this time

[2021-10-22 17:54] #8479 closed, assigned to bjester

[2021-10-22 18:52] #8477 closed, assigned to rtibbles

[2021-10-23 04:37] sairina opened #8528 "Add all strings from design into `commonCoreStrings`, `commonCoachStrings`, `commonLearnStrings`"
Add all strings from Figma into our common strings files to decouple the strings from their components.

Potential steps:
1. Use Ditto to determine which strings need to be added.
2. Add strings into correct file with `message` and `context` - note if there are duplicates, determine if context is different and whether that string needs to be moved into `commonCoreStrings`
3. If any strings are mov

[2021-10-24 16:49] sairina opened #8530 "Coach view: naming - change current instances of "channel quiz" to "practice quiz""
## Observed behavior
Currently in the codebase, we use "channel quiz" to describe the functionality we want for "independent practice quiz." We want to make sure we are using the same name to refer to the functionality we want, so we need to update all mentions of a "channel quiz" into "practice quiz" or "independent practice quiz."

Additionally, we will need to make sure the report for practice

[2021-10-25 15:07] MisRob opened #8532 "Replace TextTruncator by TextTruncatorCss"
## Observed behavior

In #8464, where a new text truncator component based on CSS, `TextTuncatorCss`, was introduced to the codebase as an alternative to JS-based `TextTruncator` to prevent introducing more performance issues similar to ones reported in  #8124, it seemed that we agreed on replacing `TextTruncator` by `TextTruncatorCss` completely. Alternatively, we could discuss creating `KTextTru

[2021-10-25 15:20] MisRob opened #8533 "Audit and cleanup components introduced for hybrid learning features"
To avoid regressions, we often introduced new components for hybrid learning features (e.g. thumbnails and cards used on the home page). This issue is to check the original before hybrid-learning components and merge them with the new components whenever appropriate. Also, it'd be good to check if we have some duplicate hybrid learning components since we were often developing features with simila

[2021-10-25 15:51] rtibbles opened #8534 "Investigate and potentially integrate PDFVuer into Kolibri to replace our PDF js wrapper"
## Observed behavior
Our current PDFjs wrapper does a very good job of providing effortless scrolling through documents while limiting memory usage. However, it does not currently support text highlighting/copy paste or any annotation (https://github.com/learningequality/kolibri/issues/7547) - this also has accessibility implications, as it renders PDFs unreadable by screen readers, regardless of

[2021-10-25 19:52] jamalex opened #8536 "Incorrect frontend state management for collection-based content import flows"
## Observed behavior

Two related issues when importing content through Kolibri Studio Collection tokens:
1. When you add a collection token through "IMPORT WITH TOKEN", it filters the list down to just the channels from that collection. But if you then toggle the view with "Select entire channels instead", the token seems to be getting cleared and it shows the full list of channels again.
2. When

[2021-10-25 21:01] marcellamaki commented on #8112
Closing as designs have changed and status bar no longer part of spec; other elements included already

[2021-10-25 21:01] #8112 closed, assigned to marcellamaki

[2021-10-26 03:05] radinamatic opened #8537 "Broken Perseus exercises"
## Observed behavior
Some Perseus exercises (with more intensely mathematical operations?) are broken on the current 0.15 branch, maybe as the result of the recent vendoring.

 ## Errors and logs

![LEDev2110 (start)  Running  - Oracle VM VirtualBox_001](https://user-images.githubusercontent.com/1457929/138801508-00c1cae8-e59c-4f9f-8d7c-c5eca3a4623b.png)

## Expected behavior
Working Perseus exerc

[2021-10-26 05:36] sairina opened #8538 "Learner view: independent practice quizzes can be found from a completion modal"
### User stories for this issue:

|Frame|Explanation|
|--|--|
|![Screen Shot 2021-10-25 at 10 32 36 PM](https://user-images.githubusercontent.com/13563002/138814795-67c8484c-86b5-4b0a-ba24-e31305c3a423.png)|When a learner sees the modal, they should be able to go from the modal to the practice quiz|
|![Screen Shot 2021-10-25 at 10 32 52 PM](https://user-images.githubusercontent.com/13563002/138814

[2021-10-26 05:40] sairina opened #8539 "Learner view: create Gherkin story for practice quizzes to be accessible from completion modal"
## Observed behavior
We have to create the Gherkin story for the workflow for when a learner finds a quiz from the completion modal.

## Expected behavior

- The[ FIgma design for this is here](https://www.figma.com/file/TfaSTT9gs6fPKhGdNUjffU/Channel-quizzes?node-id=1315%3A12505)
- The user story for this is: As a learner, I want to be able to access an independent practice quiz from the completi

[2021-10-26 06:31] sairina opened #8540 "Learner view new component: `<PracticeQuizTimer>`"
### Summary
A new timer component will be added on top of the answer log component in independent practice quizzes.

**Why?** Practice quizzes are for learners to practice with content in a "test-like" condition with regards to time, so this component will provide much-needed functionality for the independent practice quiz feature in our past papers project.

#### Background (optional information)

[2021-10-26 11:15] MisRob commented on #8533
For cards, we may even consider having a base KDS component, see https://github.com/learningequality/kolibri-design-system/issues/263

[2021-10-26 12:34] #8189 closed, assigned to MisRob

[2021-10-26 16:57] sairina opened #8542 "Add Storybook to Kolibri dev environment"
## Observed behavior
Currently in our dev environment, creating small, props-based components can be challenging, as it requires a view in order to be tested and created. We would like to introduce Storybook to help make the process of developing new components easier.

## Expected behavior
We would like Storybook to be accessible in the dev environment for Kolibri.

## User-facing consequences
Th

[2021-10-26 17:03] bjester commented on #8507
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8507?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8508
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8508?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8509
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8509?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8510
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8510?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8511
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8511?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8514
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8514?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8516
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8516?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8517
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8517?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8518
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8518?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8520
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8520?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8521
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8521?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8530
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8530?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:03] bjester commented on #8538
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8538?planning-poker) with ZenHub @jredrejo @marcellamaki @sairina @rtibbles @MisRob @nucleogenesis @jamalex

[2021-10-26 17:41] bjester commented on #8244
Done!

[2021-10-26 17:41] #8244 closed, assigned to jtamiace

[2021-10-26 17:52] rtibbles commented on #8520
May require additional testing of existing coach assigned workflows in order to ensure that no regressions have occurred.

[2021-10-26 18:01] rtibbles commented on #8516
Updates needed for ExamReport utility to provide data for multiple retries.

[2021-10-26 18:01] bjester opened #8543 "Provide API for practice quiz report"
Due to the updates in the examlogging API, we will need new functionality to take advantage of the exam attempts to return the following data for use in the components below:

### Component: `PracticeQuizReport`
**Summary information in header:**
- Status (in progress or completed, though, tbh, it would never _not_ be completed, right?)
- Best score out of all attempts
- For the best attempt (the

[2021-10-26 18:06] rtibbles commented on #8517
May be able to leverage either existing Quiz or Exercise Difficult Question endpoints - main difference between the two is that Quiz counts skipped questions as difficult, whereas if a user has not engaged with an exercise question, that fact is not taken into account.

[2021-10-26 18:09] bjester commented on #8542
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8542?planning-poker) with ZenHub @jamalex @jredrejo @marcellamaki @MisRob @nucleogenesis @rtibbles @sairina

[2021-10-26 18:13] bjester commented on #8540
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8540?planning-poker) with ZenHub @jamalex @jredrejo @marcellamaki @MisRob @nucleogenesis @rtibbles @sairina

[2021-10-26 18:45] #8191 closed, assigned to nobody

[2021-10-26 18:45] rtibbles commented on #8191
Fixed in #8419 - further work will be resolved in #6582.

[2021-10-28 00:50] rtibbles opened #8549 "Optimize lookups for MasteryLog and AttemptLog queries in coach assigned quiz flows"
## Observed behavior
* #8525 replaced the use of ExamLog and ExamAttemptLog with MasteryLog and AttemptLog to track user engagement with coach assigned quizzes.
* This resulted in an increased use of multi-table lookups that may inhibit performance, files affected include:
  * kolibri/core/exams/api.py
  * kolibri/core/exams/permissions.py
  * kolibri/plugins/coach/api.py
  * kolibri/plugins/coach

[2021-10-28 14:38] marcellamaki commented on #8533
Part of the card work should include considering the `HybridLearningCardGrid` and the various card designs within it see, [HybridLearningCardGrid.vue](https://github.com/learningequality/kolibri/blob/181a2e7d19b5da4a50523d16a5fe3ebffdac9eda/kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue)

Points to consider should include: simplifying conditional logic (such as more sustainable/

[2021-10-28 16:27] #8257 closed, assigned to rtibbles

[2021-10-28 16:27] #8480 closed, assigned to rtibbles

[2021-10-28 16:27] #8483 closed, assigned to rtibbles

[2021-10-28 16:27] #8484 closed, assigned to rtibbles

[2021-10-28 16:27] #8485 closed, assigned to rtibbles

[2021-10-28 16:27] #8486 closed, assigned to rtibbles

[2021-10-28 17:35] sairina opened #8550 "Update API request for `contentnode` for practice quizzes"
## Observed behavior

When I’m a coach selecting practice quizzes to assign as quizzes, it’s supposed to only return practice quizzes, but some non-practice quizzes (exercises) are coming through.

[See screenshot here](https://slack-files.com/T0KT5DC58-F02K7V7PSNR-fcf92575ef) - the only folder that should be there is "Exercises", as it is the only folder that contains practice quizzes.

## Errors

[2021-10-28 21:04] rtibbles opened #8551 "Implement fixed header for side panel to contain learning activities chip and close button"
## Observed behavior
Slightly odd look for the close button as it scrolls down with the side panel to maintain the good user experience of quickly closing it out.

![Screenshot from 2021-10-28 13-42-35](https://user-images.githubusercontent.com/1680573/139335164-0170ebdd-3b72-4541-b7fb-8e54182f81ed.png)

## Expected behavior
Add a fixed header that remains in place containing the learning activity

[2021-10-28 21:18] nucleogenesis opened #8553 "Hybrid Learning Home Page - Follow up issues"
## Observed behavior

- [ ] As referenced in #8504 by @pcenov - [Progress indicators on cards missing](https://github.com/learningequality/kolibri/pull/8504#issuecomment-953026340)

- [ ] In the comment below that linked above, I noted that there are labels under the iconed activity type.

![image](https://user-images.githubusercontent.com/6356129/139336845-97a66a43-69b4-4432-aaa6-419d36dbf3f1.png

[2021-10-28 21:27] #8137 closed, assigned to MisRob

[2021-10-28 21:27] indirectlylit commented on #8465
@rtibbles asked:

Just tried it and the result is the same. Snippet from _package.json_:

[code]

[2021-10-29 00:41] jamalex commented on #7960
I have copied and updated the table in the original issue description into this spreadsheet, and bolded the places where I am proposing something different than what was laid out there:
https://docs.google.com/spreadsheets/d/1EpN4yIO9H0qkP0pY6jiEtfQIdyrEPChs3aDZwOMupcI/edit#gid=0
(important notes have been added to the last column)

We're folding the "app" info into the installer field, as they're

[2021-10-29 04:40] sairina opened #8554 "Update API for difficult questions in practice quizzes"
## Observed behavior
Currently, to access a difficult questions report, there are only two options for viewsets - one for an exercise and one for a quiz. However, for practice quizzes, we need some new functionality that is not present in either viewset.

|Frame|Notes|
|--|--|
|![Screen Shot 2021-10-28 at 9 29 13 PM](https://user-images.githubusercontent.com/13563002/139375806-e9814259-7fea-4650-b

[2021-10-29 14:44] rtibbles opened #8555 "Finalize metadata label string translations"
https://github.com/learningequality/kolibri/pull/8545 consolidated logic for translating metadata labels.

To complete this we need to:
- [ ] Update kolibri-constants JS library to the latest version
- [ ] Tweak the translation for the BASIC_SKILLS subject category as it has been renamed to FOUNDATIONS to avoid name collision
- [ ] Tweak the translation for FOUNDATIONS_LOGIC_AND_CRITICAL_THINKING

[2021-10-29 14:49] rtibbles opened #8556 "Bootstrap the complete representation of all available channels into the learn page using plugin data"
https://github.com/learningequality/kolibri/pull/8548 bootstraps the channel thumbnail into the page to make it available for use by any contentnode within the channel.

To avoid an additional request, we should bootstrap all available channels into learn's plugin_data and use that instead of an API request.

These can then be bootstrapped into this composable: https://github.com/learningequality/

[2021-10-29 14:54] rtibbles opened #8557 "Turn search functionality used in LibraryPage and TopicsPage into a composition helper"
https://github.com/learningequality/kolibri/pull/8548 duplicates the search code used in LibraryPage for TopicsPage to provide channel scoped search.

We can abstract this into a composition helper in order to ensure consistent behaviour (as the underlying code has some complexity).

[2021-10-29 15:22] jredrejo commented on #7960
I miss here installations done with `pex` and with `pip`.

[2021-10-29 18:01] marcellamaki opened #8560 "Replace all placeholder or missing icons with new hybrid learning icons"
There are several places throughout the new hybrid learning work where there are placeholder or missing icons. Since @indirectlylit has updated KDS and kolibri is pointing at the latest version, these can now be added.

[2021-10-29 18:14] bjester opened #8561 "Learner-only setup wizard broken at importing a user"
## Observed behavior

When importing a single user while setting up a device as a learner-only device, the setup wizard appears to get stuck at the task processing screen even though the task response is completed. No other errors or API requests are observed after task endpoints responds with completion

![Screenshot from 2021-10-29 11-11-17](https://user-images.githubusercontent.com/819838/13948

[2021-10-29 18:47] marcellamaki opened #8563 "Hybrid Learning Library, Topics pages -- design alignment follow up to-dos"
Topics Page
- [x] Header - title alignment, better truncation, and overall spacing.
- [x] Header - add text truncation for description
- [x] Remove "channels" breadcrumb
- [x] Add "active" styles for folders and search tab
- [x] Add "show more" option below trimmed channel resources
- [x] Add "end folder view"
- [x] Add header for folder topic above topic links
- [x] update footer: add progress, r

[2021-10-29 18:52] marcellamaki opened #8564 "Refactor hybrid learning cards to use just content object prop"
Pass content object in `HybridLearningCardGrid` and then use computed properties within child components.

Create a `validateContentNode` to ensure the object has all necessary attributes, and use as a validator on the object in props

[2021-10-29 18:55] marcellamaki opened #8565 "Fix searchTermChipList reference to query params"
Reference `searchTerms` instead
Account for 'keyword' special case

This would need to be updated on both the Library page and Topic page

- [x] Add comments to convoluted code in CategorySearchModal https://github.com/learningequality/kolibri/pull/8548/files#r738834556

[2021-10-29 19:53] marcellamaki opened #8566 "Pull code from `ContentCard` into `ChannelsCard` and code cleanup"
Since the content card has been almost entirely replaced in the hybrid learning work, we can remove the file. However, since ChannelCard is dependent on it, this will require updating the Channel card first.

The recommended subpage, and other various ContentCard wrappers including the Carousel and the group grid can also be removed.

[2021-10-29 22:00] #8481 closed, assigned to bjester

[2021-10-29 22:00] #8487 closed, assigned to bjester

[2021-10-29 22:03] jamalex commented on #7960
The table that was in the initial issue description was not the latest -- I updated the table (including adding pex/pip) in the spreadsheet linked in my last comment:
https://docs.google.com/spreadsheets/d/1EpN4yIO9H0qkP0pY6jiEtfQIdyrEPChs3aDZwOMupcI/edit#gid=0
(so that should be considered the canonical values)

[2021-10-29 23:37] jamalex opened #8568 "Send soud_hash value to telemetry"
A new field `soud_hash` is set to be picked up by telemetry as of this PR: https://github.com/learningequality/nutritionfacts/pull/35

This field is to support distinguishing full-facility pingbacks from subset-of-user-device pingbacks, and differentiate between SoUDs based on the set of users on them.

The value is a 10 digit hash of the joint set of user IDs for the facility, assuming it's an So

[2021-10-30 22:50] indirectlylit commented on #8560
new icons reference: https://github.com/learningequality/kolibri-design-system/pull/270

[2021-11-01 07:57] pcenov commented on #8561
This one is reported here as well: https://github.com/learningequality/kolibri/issues/8489

[2021-11-01 15:19] #8561 closed, assigned to jredrejo

[2021-11-01 15:19] rtibbles commented on #8489
Fixed in #8569

[2021-11-01 15:19] #8489 closed, assigned to jredrejo

[2021-11-01 19:36] rtibbles opened #8571 "Reinstate loading of additional resources in the topics page"
## Observed behavior
Currently we display at most 4 items within a topic in the topics page - but have no option on how to show any more.

## Expected behavior
If there are 4 more results available locally, then it should immediately display them.
If not, it should load more from the backend and show a loading state until the request is completed.

## User-facing consequences
Confusion as only 4 i

[2021-11-02 10:11] MisRob commented on #8566
It might make sense to consider this issue in the broader context of #8533

[2021-11-02 10:11] MisRob commented on #8564
It might make sense to consider this issue in the broader context of #8533

[2021-11-02 10:12] MisRob commented on #8533
Related: #8564, #8566

[2021-11-02 10:27] MisRob opened #8573 "Content node progress API responses mismatch"
## Observed behavior

When I request the resumable content nodes endpoint (1) **api/content/contentnode/f619f064eb38793c83965f6ab923484e/resume/?contentCacheKey=1634663527**, I get the following response:

[code]

and when I subsequently request progress data for these four content nodes from the content nodes progress API endpoint  (2) **/api/content/contentnodeprogress/?ids=e5ae6da3e6015e969b584

[2021-11-02 16:15] pcenov commented on #8563
Hi @marcellamaki, posting here some additional issues spotted after testing [this 0.15 build](https://buildkite.com/learningequality/kolibri-python-package/builds/4003) so that you can sift through them and maybe disregard or create follow up to-dos:

Major issues:
1. Library - Clear all is not functioning now - clicking on it results in a TypeError: Cannot convert undefined or null to object

![2

[2021-11-02 18:25] #8553 closed, assigned to MisRob

[2021-11-02 20:47] rtibbles commented on #8482
Implemented across #8525 and #8527

[2021-11-02 20:47] #8482 closed, assigned to rtibbles

[2021-11-02 21:09] rtibbles opened #8577 "Add lesson_id context when initializing logging session in ContentPage"
## Expected behavior
* The progress tracking API allows setting a `lesson_id` in addition to the `node_id` in order to set a more detailed context for the session
* This should be set within the ContentPage, possibly in conjunction with setting the appropriate `back` arrow behaviour as described in https://github.com/learningequality/kolibri/issues/8512
* If the lesson_id is encoded in a query par

[2021-11-02 21:14] rtibbles opened #8578 "Load content node progress for search results, and content node display in topics pages"
## Observed behavior
We are currently not loading any content node progress data for content nodes displayed from search results, or from topic tree loading

## Expected behavior
Regardless of the provenance of ContentNodes we should load progress data for them.

## User-facing consequences
Inconsistent experience. Assumption that they have not engaged with certain content when they really have!

[2021-11-02 22:11] #8555 closed, assigned to rtibbles

[2021-11-02 22:11] #8556 closed, assigned to rtibbles

[2021-11-02 22:11] #8565 closed, assigned to rtibbles

[2021-11-02 22:11] #8557 closed, assigned to rtibbles

[2021-11-02 23:02] rtibbles commented on #8578
Note that for topics display, we are loading progress data currently, but only for the content nodes that are the direct children of the currently displayed topic (which for the most part, are topics, and hence we are not displaying cards for them, so it's a waste).

[2021-11-03 05:09] sairina opened #8583 "Regression: cannot get to difficult question detail page from exercise assigned in a lesson"
## Observed behavior
Seen in `develop` and `release-v0.15.x`. When a coach is looking for the difficult questions in an exercise in a lesson, they are not able to click on each difficult question and get more details about which students got the question wrong.

## Errors and logs
[code]

## Expected behavior
Coach should be able to click into a "difficult question" from the "Difficult Questions"

[2021-11-03 13:45] indirectlylit opened #8584 "inconsistent behaviors for going to auth-protected apps when not logged in"
## Observed behavior

Apps exhibit slight different behaviors and styling:

| Profile | Coach and Facility | Device |
|--|--|--|
| redirects to sign-in page immediately |   ![image](https://user-images.githubusercontent.com/2367265/140070295-e310259b-71b2-47bc-a7f7-46fdbd1a7201.png)   ![image](https://user-images.githubusercontent.com/2367265/140070462-712dc728-85e2-42eb-b74c-fa9d7b047435.png)|  !

[2021-11-03 18:52] sairina commented on #8583
Closed with #8585

[2021-11-03 18:52] #8583 closed, assigned to nobody

[2021-11-03 21:46] marcellamaki opened #8589 "Fix KGrid numCols prop for columns < 2"
Since KGrid/KFixedGrid has a validator that the number of columns should be at least 1, and a grid is not used for single column cards, conditionalize this to that numCols doesn't pass a < 2 value

[2021-11-04 16:33] pcenov opened #8593 "Hybrid Learning -RTL issues on the Library and Bookmarks"
## Observed behavior
Noticed several RTL issues at the Library and Bookmarks page such as:
- the search section is overlapping the cards
- the text in the search field should be right aligned
- when viewing the info for a resource the sidebar should be displayed to the left
- same search overlapping issue in the folder view

## Expected behavior
Both pages should fully support RTL languages.

## S

[2021-11-04 16:34] pcenov commented on #8593
@radinamatic

[2021-11-04 16:47] pcenov opened #8594 "Bookmarks - The info sidebar is not being displayed"
## Observed behavior
The info sidebar is not being displayed

## Expected behavior
The info sidebar should be displayed correctly after clicking the 'i' icon.

## Steps to reproduce the issue
1. Install the following [build.](https://buildkite.com/learningequality/kolibri-python-package/builds/4031)
2. Bookmark some items and go to: http://127.0.0.1:8080/en/learn/#/bookmarks
3. Click the 'i' icon.

[2021-11-04 17:53] #8394 closed, assigned to nobody

[2021-11-04 22:31] #8537 closed, assigned to rtibbles

[2021-11-04 23:55] jtamiace commented on #8563
In a channel, within the level 3 breakpoint, probably better to display 3 cards per row instead of 4

<img width="959" alt="Screen Shot 2021-11-04 at 3 00 44 PM" src="https://user-images.githubusercontent.com/6668144/140433447-b9434474-a5c4-47cf-9113-608dd3b14eb8.png">

---

The number of cards that show per row in "Recent" and the cross-channel search results should be consistent with the cards w

[2021-11-05 00:14] #8550 closed, assigned to rtibbles

[2021-11-05 00:56] #8571 closed, assigned to rtibbles

[2021-11-05 04:03] #8250 closed, assigned to jredrejo

[2021-11-05 04:05] #8512 closed, assigned to marcellamaki

[2021-11-05 04:07] #8560 closed, assigned to marcellamaki

[2021-11-05 08:30] MisRob opened #8600 "Some questions don't render when creating/previewing a quiz as a coach and when taking a quiz as a learner"
## Observed behavior

When I try to create a new quiz as a coach (_/en/coach/#/bcf15ca308f231e4a8309bcd601254bb/plan/quizzes/new/finalize_), some questions don't load

![quiz-preview-bug](https://user-images.githubusercontent.com/13509191/140479613-503380a9-2b35-4471-ad28-a8d3bf1a3dfa.gif)

I see the same problem when previewing the quiz as a coach (_/en/coach/#/bcf15ca308f231e4a8309bcd601254bb/pl

[2021-11-05 15:15] rtibbles opened #8603 "When running the Python devserver, watch the plugins.json to autorestart when plugins are updated"
## Observed behavior
Currently the Python devserver watches source files to autorestart - if we also watched plugins.json, we could autorestart when enabling or disabling plugins during development

[2021-11-05 15:32] #8600 closed, assigned to nobody

[2021-11-05 15:53] rtibbles commented on #8577
Fixed in #8588

[2021-11-05 15:53] #8577 closed, assigned to marcellamaki

[2021-11-05 16:06] #8573 closed, assigned to rtibbles

[2021-11-05 16:06] #8578 closed, assigned to rtibbles

[2021-11-05 18:37] rtibbles opened #8604 "Make a dedicated endpoint for hydrating the learn page, that will include all recent items in lessons"
## Observed behavior
Currently we load the resume endpoint and cross reference with the loaded lessons to find recent content. The resume endpoint only loads 10 nodes, so it is easy for content to get missed.

## Expected behavior
All resumable content in lessons should display.

We should also refresh this whenever a use navigates back to the home page or classes page to ensure we have up to date

[2021-11-05 18:50] rtibbles opened #8605 "Ensure all recent nodes can be displayed on the LibraryPage"
## Observed behavior
Currently nodes that have been recently engaged with may not show up on the Recent section of the library page
This may either be because we are doing a non-forced fetch to the backend, or the new node is not in the ten that get returned, or both!

## Expected behavior
Resume should return a paginated list and the frontend should force the fetch.
We should also allow the user

[2021-11-05 18:55] rtibbles opened #8606 "Never indicate that a response is 'correct' when it is 'corrected'"
## Observed behavior
When engaging with an exercise, if a response has previously been incorrect, updating to a new response makes it correct not 'corrected'

## Expected behavior
Correcting a response should show the 'corrected' indicator, not the 'correct' indicator.

There should be consistent display of the attempt history even if saving has not yet happened to the backend.

[2021-11-05 18:59] rtibbles opened #8607 "Loading ContentNodeProgress data when loading more topics causes errors"
## Observed behavior
When clicking 'view more' for loading additional topics, a TypeError occurs from the call to fetch ContentNodeProgress.

In addition, this call seems to happen even if not logged in.

## Expected behavior
No errors. Don't make the call if not logged in.

[2021-11-05 19:01] rtibbles opened #8608 "Conditionally exclude coach content from search"
## Observed behavior
Searching does not leverage the 'exclude_coach_content' flag conditionalized on whether the searching user is a coach or a learner.

## Expected behavior
It should do this.

[2021-11-05 19:06] marcellamaki opened #8609 "Conditionalize "Classes""
Classes tab and "your classes" section on home page should only appear when learner is enrolled in classes

[2021-11-05 19:07] rtibbles opened #8610 "Make sure we can continue to use direct attachment SQLite channel import"
## Observed behavior
* Because the content schema version that is being used on Kolibri is now in advance of the version being published on Studio, Kolibri is falling back to a very slow import

## Expected behavior
We should find a way to still leverage the direct attachment import while still allowing for this backwards compatible import

Options include:
Trying to insert the migration behaviour

[2021-11-05 19:15] marcellamaki opened #8611 "Fix issue with info panel freezing, not closing"
Reported by @bjester and @jtamiace during bug bash

[2021-11-05 19:28] marcellamaki opened #8612 "Persist "search state" when navigating back from the content renderer to a search page"
For example, after searching for some content on the library or topics page, and opening that content in the renderer, the back button should lead to the _filtered_ state in the previous page, not just the general library/topic page

[2021-11-05 19:44] rtibbles opened #8613 "Set max width on progress bar in HybridLearningContentCardListView"
## Observed behavior
Currently the progress bar overlaps footer action buttons in this component:
![image](https://user-images.githubusercontent.com/1680573/140569418-116c6761-660a-422b-8ba3-0c22e67a8b6f.png)

## Expected behavior
The progress bar should restrict its width to the available space in the same way that the main HybridContentCard does: https://github.com/learningequality/kolibri/blob/

[2021-11-05 19:46] rtibbles opened #8614 "When referred from the topics page, make sure to generate the back link using the parent of the content item"
## Observed behavior
When navigating to the content page from the topics page, the generated backlink to the topics page uses the id of the node being displayed on the content page, and not the id of its parent.

Because it is not a topic, this causes navigation to appear to fail.

## Expected behavior
Back navigation should work.

[2021-11-05 19:48] rtibbles commented on #8309
Follow up here is that this seems to definitely be the case for EPUBs, but we've not had clear reports for any other content type at this time.

[2021-11-05 19:50] rtibbles opened #8615 "Update all translations before release."
## Observed behavior
Some untranslated strings appear on the login page after the separation of the user_auth and user_profile plugins

## Expected behavior
All strings should be translated

We should ensure that all translations are updated again prior to release

[2021-11-05 19:54] marcellamaki opened #8616 "Optimize media player to use more of the screen by default"
From @jamalex at the bug bash (Pex (Ubuntu), Chrome)
![image](https://user-images.githubusercontent.com/17235236/140570402-9b49ee7e-439f-471e-aa6a-c34bb9c82911.png)

Note: Marcella see this at full screen, also Pex, Chrome on a Macbook
<img width="1433" alt="Screen Shot 2021-11-05 at 3 53 16 PM" src="https://user-images.githubusercontent.com/17235236/140570562-5cc074c2-bb89-4458-98f3-308c587d4e5a.

[2021-11-05 19:55] rtibbles opened #8617 "Bookmarks added during a session appear out of order"
## Observed behavior
Bookmarks added since a page refresh will display out of order on the bookmarks page:
![image](https://user-images.githubusercontent.com/1680573/140570707-50b48294-2aab-410b-99b4-6f969619d346.png)

## Expected behavior
They should always be in the desired order.

This seems likely to be caused by the overeager Resource layer caching mechanisms.

Can either resolve by delving i

[2021-11-05 19:59] rtibbles opened #8618 "Process cache can cause 'too many open files'"
## Observed behavior
500 errors caused by having too many open file handles at once!

## Errors and logs
[code]

## Expected behavior
We should not have so many files open that it causes an issue for any OS.

## Context
Version 0.15.0b1
OS: MacOS

[2021-11-05 20:57] marcellamaki opened #8620 "Accessibility follow up issues"
- [x] improve tab focus on dropdowns
 <img width="344" alt="Screen Shot 2021-11-05 at 4 50 20 PM" src="https://user-images.githubusercontent.com/17235236/140576845-8f2c5ff0-149f-4469-9e42-e5c0fdebe0ed.png">

- [x] fix card focus bug on hybrid learning content cards on lessons page, library page (channel cards working)
- [ ] Mac App: there is no way to use a keyboard to tab to "check" my answers in

[2021-11-05 22:00] rtibbles opened #8622 "Use negative mastery_level for independent practice quizzes"
## Observed behavior
Currently the progress tracking endpoint uses negative mastery_levels for MasteryLogs for coach assigned quizzes (ones encoded with Exam models in the database).

We had originally devised this strategy in order to prevent these MasteryLogs syncing to older Kolibri versions and causing breakage.

However, in the case of independent practice quizzes, the `content_id` that ident

[2021-11-05 22:57] lauradanforth opened #8623 "Server disconnects when creating a Lesson"
## Observed behavior
After clicking on New Lesson, the server disconnected and wasn't able to reconnect.

…

## Errors and logs

From the console:
[code]
-->

…

## Expected behavior

…

## User-facing consequences

…

## Steps to reproduce
While logged in as coach or admin, attempt to create a Lesson

…

## Context

Tell us about your environment, including:
 * 0.15
 * Mac OS (.pex file)
 * Chrom

[2021-11-05 23:11] lauradanforth commented on #8623
Update, this is also happening later in the lesson creation process. While searching for resources:

[code]

[2021-11-05 23:16] lauradanforth commented on #8623
Also happening when creating a Quiz:
[code]

[2021-11-07 17:50] indirectlylit opened #8625 "unhandled client-side router error in Learn when no resources are loaded"
## Observed behavior

When viewing `/en/learn/` when there are no resources loaded, the router throws an unhandled error.

This might be because `next` is called multiple times. [According to the docs](https://router.vuejs.org/guide/advanced/navigation-guards.html#global-before-guards):

## Errors and logs

[code]

## Expected behavior

There should be no unhandled errors.

One possible fix: rathe

[2021-11-07 20:27] indirectlylit opened #8626 "Learn breadcrumbs seem to show up on wrong page"
## Observed behavior

(this may be tracked in https://github.com/learningequality/kolibri/issues/8563 - if so feel free to close as a duplicate)

It appears that the breadcrumb is showing up on the Home page (where it probably shouldn't) and not on the Library page (where it probably should):

| Home |  Library |
|--|--|
|<img width="445" alt="image" src="https://user-images.githubusercontent.com/

[2021-11-07 22:24] indirectlylit opened #8627 "channel navigation header tears away from side nav"
## Observed behavior

at some browser sizes the header tears away from the side-nav:

![2021-11-07 15 29 26](https://user-images.githubusercontent.com/2367265/140663929-35b051cc-81b4-498d-92ce-f6d5b95a58d0.gif)

## Expected behavior

I would expect the side nav to continue scrolling up to the top when the header disappears

## User-facing consequences

slightly broken-looking layout

## Steps to r

[2021-11-07 23:05] indirectlylit opened #8628 "browser 'back' does not work for a single class in 'coach'"
## Observed behavior

When there is a single class, users are automatically redirected to the class upon viewing 'coach'. However, this is currently breaking the 'back' button:

![2021-11-07 18 00 52](https://user-images.githubusercontent.com/2367265/140665461-e2d8972e-5fdf-4811-8d76-fd7ef479dd4d.gif)

## Expected behavior

we should 'replace' the current URL rather than using 'push' to the browse

[2021-11-07 23:12] indirectlylit opened #8629 "'view learners' button in Coach has incorrect styling"
## Observed behavior

The 'view learners' button is styled as a raised secondary button:

<img width="589" alt="image" src="https://user-images.githubusercontent.com/2367265/140665374-4f98571f-a758-4819-a2dc-521e1a366354.png">

## Expected behavior

Button should probable be a 'basic link' and inline with number, not on next line

## User-facing consequences

* button has more prominence on the pa

[2021-11-07 23:37] indirectlylit opened #8630 "issues with library top-nav"
## Observed behavior

The top-nav of the library is not styled consistently with existing analogous navigation in Coach. In particular:

* purple bottom-bar styling has rounded radius
* 'UPPER CASE' vs 'Sentence case'
* non-enabled text color
* hover states
* spacing

| coach | learn |
|--|--|
| ![2021-11-07 18 16 10](https://user-images.githubusercontent.com/2367265/140665711-2163a204-bfa3-4aaa-b

[2021-11-08 00:22] indirectlylit opened #8631 "library side-nav items don't look like clickable folder nav items"
## Observed behavior

The side-nav folders in Learn Library aren't as easily identifiable or clickable as other menu and nav items:

| Learn | Main side-nav | User menu |
|--|--|--|
| ![2021-11-07 19 17 37](https://user-images.githubusercontent.com/2367265/140667672-61f3fc94-91f5-4a85-8d1a-72f89693fac6.gif) | ![2021-11-07 19 16 16](https://user-images.githubusercontent.com/2367265/140667678-0a2fc7

[2021-11-08 14:33] marcellamaki commented on #8304
Closed with #8548

[2021-11-08 14:33] #8304 closed, assigned to marcellamaki

[2021-11-08 14:33] marcellamaki commented on #8305
Closed with #8548

[2021-11-08 14:33] #8305 closed, assigned to marcellamaki

[2021-11-08 14:33] marcellamaki commented on #8306
Closed with #8548

[2021-11-08 14:33] #8306 closed, assigned to marcellamaki

[2021-11-08 16:06] marcellamaki opened #8632 "Do not allow users to navigate to channel quiz selection page when there are none on their device"
<img width="1421" alt="Screen Shot 2021-11-04 at 8 09 55 PM" src="https://user-images.githubusercontent.com/17235236/140776228-8d071b23-6a14-45ec-a16a-6bcf8b8daa54.png">

This screen should not appear, so need to conditionalize the option to "Select channel quiz" from dropdown

[2021-11-08 21:27] rtibbles commented on #8540
Noting that three of the action items should be handled outside the scope of this component:

These three should all be handled by using the `startTrackingProgress` action and `stopTrackingProgress` action from the core actions. https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/core/assets/src/state/modules/core/actions.js#L563

[2021-11-08 22:31] radinamatic opened #8636 "Widen the language modal to avoid truncation"
## Observed behavior
The new `Portuguese (Mozambique)` locale name gets truncated in the **Change language** modal, we should widen it to avoid truncation.

![2021-11-08_23-10-54](https://user-images.githubusercontent.com/1457929/140828293-e80c7f6a-8b6c-4b32-b453-c6560c33acea.png)

## Errors and logs
…

## Expected behavior
Locale names not truncated in the **Change language** modal.

## User-faci

[2021-11-08 23:45] #8114 closed, assigned to marcellamaki

[2021-11-09 00:01] #7879 closed, assigned to jtamiace, jonboiser

[2021-11-09 00:08] lauradanforth commented on #8618
From the Activity Monitor log:
[code]

[2021-11-09 00:23] sairina commented on #7436
The design is complete, and that design is listed under the first bullet point under **Core exercise (now 'practice') exclusive changes** [here](https://app.zenhub.com/workspaces/kolibri-ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/7873), which is also linked as having github issues created.

[2021-11-09 00:23] #7436 closed, assigned to khangmach

[2021-11-09 13:05] indirectlylit commented on #8636
Noting that this will require an update to KDS because the current `KModal` has a limited set of pre-defined items

[2021-11-09 14:40] radinamatic commented on #8636
Should I open a corresponding issue on KDS repo?

[2021-11-09 15:05] marcellamaki commented on #8611
See also https://github.com/learningequality/kolibri/issues/8594

[2021-11-09 15:18] bjester opened #8639 "Forward migration of exam logs broken for full-facility import"
I imported a full 0.14 facility to a 0.15 one and synced it. When I go to check the scores of a learner as a Coach the page with the quiz scores is not displayed and there's an error in the console: `Uncaught (in promise) TypeError: currentAttempt.interaction_history.filter is not a function`:

![2021-11-05_16-53-55](https://user-images.githubusercontent.com/79847249/140533200-e59c7bc3-e95e-4a60-a

[2021-11-09 15:26] bjester commented on #8275
Follow up issues added for bugs, but single-user syncing of quiz and results is working

[2021-11-09 15:26] #8275 closed, assigned to bjester, rtibbles

[2021-11-09 15:31] indirectlylit opened #8640 "add core validator generator for Object-type props"
## Observed behavior

There are a large number of `Object`-type props with no validator function. (Search the codebase using a multi-line regex to help find them: `{[^}]*type: Object[^}]*}`)

Normal component props are well-documented using `type`, `required`, and sometimes `validator`. The keys of `Object` props are as much a part of the component API as the other ones, but they are often under-d

[2021-11-09 15:44] indirectlylit commented on #8636
that's okay – I can do that

[2021-11-09 17:21] #8528 closed, assigned to sairina

[2021-11-09 17:38] rtibbles commented on #8618
I think the reason this has occurred now is because of this commit: https://github.com/learningequality/kolibri/commit/7e71861d0845f92386deff0b13bffe13e3ec6548#diff-cb6c0f86a32632cac86043c281d79adf4f2d8ac10ad41b75c733a8b57d1e6988 the removal of the built files cache has resulted in additional disk access.

I think we shouldn't revert this commit, but might be good to add memory caching of the stat

[2021-11-09 17:43] #8564 closed, assigned to marcellamaki

[2021-11-09 17:43] #8589 closed, assigned to marcellamaki

[2021-11-09 17:58] #7968 closed, assigned to radinamatic

[2021-11-09 18:17] bjester commented on #8519
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8519?planning-poker) with ZenHub @marcellamaki @sairina @jredrejo @rtibbles

[2021-11-09 18:17] bjester commented on #8539
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8539?planning-poker) with ZenHub @marcellamaki @sairina @jredrejo @rtibbles

[2021-11-09 18:17] bjester commented on #8543
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8543?planning-poker) with ZenHub @marcellamaki @sairina @jredrejo @rtibbles

[2021-11-09 18:17] bjester commented on #8554
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8554?planning-poker) with ZenHub @marcellamaki @sairina @jredrejo @rtibbles

[2021-11-09 18:17] bjester commented on #8622
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8622?planning-poker) with ZenHub @marcellamaki @sairina @jredrejo @rtibbles

[2021-11-09 18:17] bjester commented on #8632
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Kolibri-Ecosystem-6047e525b8b9d900182e2d6f/issues/learningequality/kolibri/8632?planning-poker) with ZenHub @marcellamaki @sairina @jredrejo @rtibbles

[2021-11-09 18:34] bjester commented on #8511
We will need to change how completion data is fetched for completed items to include the actual score

[2021-11-09 18:36] bjester commented on #8511
Separated out "Score: %%%" portion of feature into separate issue since it will require significant effort

[2021-11-09 18:52] bjester commented on #8632
We should hide the dropdown option if there are no channel quizzes available

[2021-11-09 18:52] rtibbles commented on #8622
We should also update mastery log filtering in the progress tracking endpoint to only look for negative mastery_level mastery logs when accessing a practice quiz.

[2021-11-09 18:54] bjester commented on #8632
Query for detecting availability of practice quizzes could be complicated and expensive

[2021-11-09 18:55] bjester commented on #8554
Intersects a bit with API for reporting on practice quizzes which also has question diff

[2021-11-09 20:20] #8639 closed, assigned to bjester

[2021-11-09 22:13] sairina opened #8643 "Update score on content card for practice quizzes"
## Observed behavior
The content cards currently do not have the ability to show the score. We will need to connect to the backend to pull information for the most recent score for a practice quiz from the learner to populate on the cards.

## Expected behavior
[See the Figma here for the practice quiz cards.](https://www.figma.com/file/TfaSTT9gs6fPKhGdNUjffU/Past-papers-project?node-id=911%3A5165

[2021-11-09 22:22] sairina commented on #8510
From the sprint planning meeting, want to note that this issue, from the frontend perspective, will require the use of sending the `repeated` flag to the backend.

[2021-11-09 23:20] #8608 closed, assigned to rtibbles

[2021-11-09 23:46] jamalex commented on #7732
Handled in https://github.com/learningequality/kolibri/issues/7960

[2021-11-09 23:46] #7732 closed, assigned to rtibbles

[2021-11-10 01:03] #8568 closed, assigned to bjester

[2021-11-10 02:14] rtibbles commented on #8623
I think this is probably the same underlying cause as #8618

[2021-11-10 03:55] rtibbles commented on #8605
Have removed this from the issue, as that was not previously the case, so is not a regression.

[2021-11-10 03:57] rtibbles opened #8649 "Order resume content node requests by last interaction"
## Observed behavior
The resume fetches for contentnodes are not ordered by the interaction.

## Expected behavior
The most recently interacted content node should be returned first!

[2021-11-10 07:02] nucleogenesis commented on #8611
@jtamiace @bjester

What channels/contents were you viewing when you encountered the error?

Would you be able to replicate and try to salvage a screenshot of any console errors that might be coming up? I've tried to replicate with many types of contents in several channels but not once have I had any issue with either of:

- 100% CPU infinite loop / memory leak situation
- Being unable to close t

[2021-11-10 11:35] pcenov commented on #8611
Hi @nucleogenesis, I can replicate this issue in the [latest 0.15 build](https://buildkite.com/learningequality/kolibri-python-package/builds/4103) by going to the Library page, selecting any of the available channels such as Sikana and then clicking the View Information icon on any of the resources displayed within the Browse channel view:

![2021-11-10_13-28-09](https://user-images.githubusercon

[2021-11-10 14:20] radinamatic commented on #8620
@marcellamaki

No idea why on Earth this is the default setting, but check if this helps:
https://www.a11yproject.com/posts/2017-12-29-macos-browser-keyboard-navigation/

[2021-11-10 14:29] #8607 closed, assigned to rtibbles

[2021-11-10 14:38] #8606 closed, assigned to rtibbles

[2021-11-10 16:07] bjester commented on #8611
@nucleogenesis It appears this happens specifically when browsing a channel. Here are steps to reproduce:
1. Open Chrome's task manager
1. Sign in as a learner
2. Click the Library tab
3. Browse a channel on the device
4. Click the info icon on a resource
5. See the tab consuming 100% of CPU once open
6. Cannot close the info side panel

I ran profiling when this happened. It seems it's stuck in a

[2021-11-10 16:40] bjester commented on #8618
It appears that with every new request, it opens new file descriptors:
[code]

[2021-11-10 18:08] bjester commented on #8618
This occurs on 0.14.7 as well, but the caching that was removed mitigated the quantity of fds.

[2021-11-10 18:49] #8605 closed, assigned to rtibbles

[2021-11-10 18:49] #8609 closed, assigned to rtibbles

[2021-11-10 18:49] #8626 closed, assigned to rtibbles

[2021-11-10 18:49] #8068 closed, assigned to rtibbles

[2021-11-10 18:49] #8604 closed, assigned to rtibbles

[2021-11-10 19:06] #8594 closed, assigned to nucleogenesis

[2021-11-10 19:28] bjester commented on #8618
Okay so putting some debugging logs into the diskcache lib, it appears that the approach it uses to manage the connection isn't working correctly. So it's constantly re-opening connections but not actually closing the connection. I should have also seen `Successfully closed cache connection` if it actually closed an existing connection
[code]

[2021-11-10 19:40] indirectlylit commented on #8618
@bjester this isn't something I have much experience with but let me know if I can help with testing or debugging

[2021-11-10 19:44] bjester commented on #8618
@indirectlylit Since this is no longer specific to Macs, I will unassign you from the issue. Thanks!

[2021-11-11 19:51] indirectlylit opened #8662 "add redirect from '/user' to '/auth'"
## Observed behavior

I had http://kolibri-beta.learningequality.org in my browser history and went there. However it turned out that the page was `/en/user/#/` which returns a `404` now.

## Expected behavior

`/user` should redirect to `/auth` using a `301` (permanently moved) code.

## User-facing consequences

Existing bookmarks and browser history will break.

## Steps to reproduce

Navigate

[2021-11-11 21:14] lauradanforth opened #8663 "When inside a resource, clicking on "View folder resources" button did not result in anything"
## Observed behavior
When inside a resource (tested with a couple videos and HTML5 app), clicking on "View folder resources" did not result in anything
http://127.0.0.1:8080/en/learn/#/topics/c/796f48a715685ecca8513954b6be06ac?last=TOPICS_TOPIC_SEARCH
…

## Errors and logs

From console:
[code]

…

## Context

Tell us about your environment, including:
 * Kolibri version 0.15
 * Operating system -

[2021-11-11 22:15] #8611 closed, assigned to nucleogenesis

[2021-11-11 22:26] #8610 closed, assigned to rtibbles

[2021-11-11 22:39] #8309 closed, assigned to rtibbles

[2021-11-11 23:04] indirectlylit commented on #8491
cc @jtamiace

[2021-11-11 23:06] marcellamaki opened #8666 "Update 'mark as complete' before 0.15 release"
Update the following

[code]

[2021-11-11 23:06] indirectlylit commented on #8627
@marcellamaki FYI this behavior is improved in your PR https://github.com/learningequality/kolibri/pull/8637

![2021-11-11 18 05 54](https://user-images.githubusercontent.com/2367265/141381658-56005516-3ba3-4088-b106-6fc171fc2bc1.gif)

[2021-11-11 23:09] indirectlylit commented on #8631
cc @jtamiace if you have thoughts

[2021-11-11 23:09] #8618 closed, assigned to bjester

[2021-11-11 23:14] #8593 closed, assigned to marcellamaki

[2021-11-11 23:14] indirectlylit opened #8667 "text does not wrap in cards"
## Observed behavior

Text in content cards is not wrapping. For example:

![image](https://user-images.githubusercontent.com/2367265/141382080-c9b6d0da-4e86-424a-b3d1-580f9b56f075.png)

## Expected behavior

Text should wrap and fill all available vertical space and only truncate at the end if there still isn't room.

## User-facing consequences

Cannot read titles even when space is available

#

[2021-11-11 23:19] indirectlylit opened #8668 "search filter chips are too closely spaced"
## Observed behavior

The chips are very cramped with each other and their surrounding elements:

![image](https://user-images.githubusercontent.com/2367265/141382515-2daff77d-5642-4d5a-8004-4b987a14ce1a.png)

## Expected behavior

The [design system specifies](https://design-system.learningequality.org/layout/#spacing) an 8px baseline grid

## User-facing consequences

Search interface becomes sl

[2021-11-11 23:20] marcellamaki commented on #8667
This is addressed (to wrap up to 5 lines of text) in #8637

[2021-11-11 23:26] indirectlylit opened #8669 "view-as-grid and -as-list buttons do not convey currently active state"
## Observed behavior

Both buttons are enabled, regardless of which display mode is currently active, resulting in one button doing nothing:

![2021-11-11 18 23 36](https://user-images.githubusercontent.com/2367265/141383145-04fb18d4-2cf2-4aae-a42e-b2f6d56b539e.gif)

## Expected behavior

The button corresponding to the currently active state should be disabled

## User-facing consequences

The UI

[2021-11-11 23:31] indirectlylit opened #8670 "string is missing for 'all categories' search filter chip"
## Observed behavior

when selecting 'all categories', the chip does not display correctly:

![image](https://user-images.githubusercontent.com/2367265/141383401-96dd0f65-d50e-4864-9e74-d55f7690f774.png)

## Errors and logs

[code]

## Context

0.15.0-beta1

[2021-11-11 23:38] rtibbles commented on #8670
Needs to be added to the `nonConformingKeys` object here: https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/core/assets/src/mixins/commonCoreStrings.js#L1048

Using the constant here: https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/core/assets/src/constants.js#L56

Possible `NoCategories` needs to be done similarly?

[2021-11-11 23:38] #8614 closed, assigned to marcellamaki

[2021-11-11 23:41] indirectlylit commented on #8667
hm I checked that branch and I'm still seeing this behavior

[2021-11-12 00:15] marcellamaki commented on #8667
Thanks -- I'll double check it!!

[2021-11-12 00:18] #8110 closed, assigned to nucleogenesis

[2021-11-12 01:02] rtibbles commented on #7589
This has been resolved in #8590

[2021-11-12 01:03] rtibbles commented on #7590
This is no longer extant with the revamping of search.

[2021-11-12 01:46] #8107 closed, assigned to nucleogenesis, marcellamaki

[2021-11-12 01:46] #8307 closed, assigned to nucleogenesis

[2021-11-12 01:48] rtibbles commented on #8670
The string for this only exists in the `EmbeddedSidePanel` component, so it needs to be imported using a crossComponentTranslator.

Special casing for `NoCategories` has already been implemented.

[2021-11-12 03:54] nucleogenesis commented on #8663
This is fixed in #8651 (just merged a bit ago)

[2021-11-12 03:54] #8663 closed, assigned to nobody

[2021-11-12 07:18] akash5100 commented on #8669
I would like to contribute

[2021-11-12 09:57] ozer550 commented on #8662
I would like to work on this.

[2021-11-12 12:07] ozer550 commented on #8662
Can you guide me how should I solve this issue :)

[2021-11-12 13:57] indirectlylit commented on #8662
Hi @ozer619 –

I believe this will be added as the second-to-last item in the `lang_prefixed_patterns` array in the core urls.py file:

https://github.com/learningequality/kolibri/blob/d63bb74b99b744541d86a01db90d3f90b476213d/kolibri/core/urls.py#L52-L59

The easiest solution would probably be to use `RootURLRedirectView`:

[code]

However `RootURLRedirectView` uses a `302` rather than a `301` whi

[2021-11-12 14:13] indirectlylit opened #8675 "shifting UI elements cause a 'missed click'"
## Observed behavior

When the username field loses keyboard focus it causes a shift in UI elements.

If the user is trying to click a UI element such as the 'guest' link, it can causes an annoying 'missed click' where the UI element moves at just the wrong time:

![2021-11-12 09 15 22](https://user-images.githubusercontent.com/2367265/141481020-2a682481-35f9-43da-ac0f-635ebb045162.gif)

## Expect

[2021-11-12 14:18] #8670 closed, assigned to rtibbles

[2021-11-12 14:20] indirectlylit commented on #8669
Thanks @akash5100 – these buttons are here:

https://github.com/learningequality/kolibri/blob/d9b4864a8e93205923c388b4387efc539ae82ec1/kolibri/plugins/learn/assets/src/views/LibraryPage.vue#L26-L39

[2021-11-12 16:10] #8666 closed, assigned to rtibbles

[2021-11-12 16:28] rtibbles commented on #5729
I think this is as fixed as possible - the only caveat being we will have to replace Hooper if we do a Vue3 upgrade.

[2021-11-12 16:28] #5729 closed, assigned to nobody

[2021-11-12 16:34] pcenov commented on #8497
Closing this one as it's already fixed.

[2021-11-12 16:34] #8497 closed, assigned to nobody

[2021-11-12 16:39] pcenov opened #8676 "Bookmarks - The 'Completed' label is displayed over the 'Bookmarked N minutes ago' text"
## Observed behavior
When a bookmarked item has been completed by the Learner the 'Completed' label is displayed over the 'Bookmarked N minutes ago' text.

## Expected behavior
The labels should not overlap.

## Steps to reproduce the issue
1. Install the following [build.](https://github.com/learningequality/kolibri/releases/tag/v0.15.0-beta2)
2. Bookmark several completed resources and go to htt

[2021-11-12 16:40] pcenov commented on #8676
@radinamatic

[2021-11-12 16:46] pcenov opened #8678 "IE11 - Truncated and misaligned resource title"
## Observed behavior
When viewing a resource in IE11 the title of the resource is truncated and misaligned.

## Expected behavior
The labels should not overlap.

## Steps to reproduce the issue
1. Install the following [build.](https://github.com/learningequality/kolibri/releases/tag/v0.15.0-beta2)
2. Click on a resource and observe the title area.

## Additional information
IE11:
![2021-11-12_18-

[2021-11-12 16:47] pcenov commented on #8678
@radinamatic

[2021-11-12 16:53] rtibbles commented on #7964
This is now complete.

[2021-11-12 16:53] #7964 closed, assigned to nobody

[2021-11-12 17:00] rtibbles commented on #8420
Fixed in #8421

[2021-11-12 17:00] #8420 closed, assigned to nobody

[2021-11-12 17:15] #7541 closed, assigned to nobody

[2021-11-12 23:29] radinamatic opened #8685 "Build the new Windows installer to include the translated strings for new locales"
## Observed behavior
Windows installer strings on Crowdin have been translated in new locales for 0.15, so we must pull them and release a new installer to before the final 0.15 version is released.

## Errors and logs
…

## Expected behavior
…

## User-facing consequences
…

## Steps to reproduce
…

## Context
…

cc @marcellamaki

[2021-11-13 02:01] akash5100 commented on #8669
Thank you @indirectlylit , I will open a PR give me sometime.

[2021-11-13 05:34] akash5100 commented on #8669
@indirectlylit I run `yarn run devserver` and tried to look issue before solving and I found this

![Screenshot from 2021-11-13 11-01-57](https://user-images.githubusercontent.com/53405133/141607060-471f3a92-cb03-4a9d-824e-da0945e382cb.png)

![Screenshot from 2021-11-13 11-02-10](https://user-images.githubusercontent.com/53405133/141607061-cb4e49e9-27e5-44c5-bf1f-62b90e40660e.png)
 can you help me

[2021-11-13 16:33] indirectlylit commented on #8669
Sorry, I don't quite understand your question.

To disable the buttons, you can probably do something like

[code]

and

[code]

for the list and grid views, respectively.

[2021-11-13 17:18] akash5100 commented on #8669
No this is not, what I asked, leaving that aside
can you explain, what are `$tr`, `$themeTokens` and `toggleCardView` ?

[2021-11-13 19:56] indirectlylit commented on #8669
* `$tr` - see https://kolibri-dev.readthedocs.io/en/develop/i18n.html
* `$themeTokens` - see https://design-system.learningequality.org/colors/

`toggleCardView` is defined below in the same file:

https://github.com/learningequality/kolibri/blob/d9b4864a8e93205923c388b4387efc539ae82ec1/kolibri/plugins/learn/assets/src/views/LibraryPage.vue#L350-L352

[2021-11-14 06:39] akash5100 commented on #8669
Thank You for helping me @indirectlylit

![screenrecording](https://user-images.githubusercontent.com/53405133/141670414-7d378251-8f8b-46ad-8a39-80b79f931e90.gif)
[code]
does this seem correct?

[2021-11-14 23:22] qrossCS commented on #8643
Hi, I would like to contribute! Could you please point me in the direction of the code that deals with displaying the quiz cards.

[2021-11-14 23:26] sharifmaryam commented on #8668
I would like to contribute but I am unsure where these chips are in the codebase.

[2021-11-14 23:32] sharifmaryam commented on #8629
Hi, I would like to contribute but I am unsure on how to reproduce this.

[2021-11-14 23:36] qrossCS commented on #8649
I would like to contribute! Do you mind pointing me in a good starting direction?

[2021-11-15 13:05] ozer550 commented on #8662
Hi, any updates on this?

[2021-11-15 13:10] ozer550 commented on #8435
Hi, I would like to work on this can you guide me on how to proceed.

[2021-11-15 13:13] akash5100 commented on #8643
I would like to work on this issue.

[2021-11-15 16:22] indirectlylit commented on #8668
One way to find code is to search the codebase for user-facing strings. Here for example if you search for `Clear all`, case-sensitive, in *.vue files you'll find:

* https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/learn/assets/src/views/LibraryPage.vue
* https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/learn/assets/src/views/SearchC

[2021-11-15 16:31] pcenov opened #8687 "Learner - Cannot set a password for a learner created without a password"
## Observed behavior
When I attempt to sign in as a Learner created without a password I cannot set just a password instead I see an option to create a new account. (Note that I'm not able to use the existing username)

## Expected behavior
It should be possible to create a new password as specified in the following feature file: https://github.com/learningequality/kolibri/blob/release-v0.15.x/int

[2021-11-15 16:32] rtibbles commented on #8643
There are two aspects to this issue - one is the frontend, which would require editing both the frontend state management for progress tracking (found here: https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/learn/assets/src/composables/useContentNodeProgress.js#L13), and the ProgressBar component that is used across multiple cards https://github.com/learningequality/

[2021-11-15 16:32] pcenov commented on #8687
@radinamatic

[2021-11-15 16:44] pcenov opened #8688 "Learner - Cannot change username and full name"
## Observed behavior
The fields for editing a learner's username and full name are disabled and I cannot change them.

## Expected behavior
It should be possible for a learner to edit their username and full name if the options are enabled in Facility settings

## Steps to reproduce the issue
1. Install the following [build.](https://github.com/learningequality/kolibri/releases/tag/v0.15.0-beta2)

[2021-11-15 16:45] pcenov commented on #8688
@radinamatic

[2021-11-15 16:56] pcenov opened #8689 "Learner - Cannot edit password"
## Observed behavior
The fields for editing a learner's password are not displayed despite the fact that the option is enabled in the Facility settings.

## Expected behavior
It should be possible for a learner to edit their password if the option is enabled in Facility settings

## Steps to reproduce the issue
1. Install the following [build.](https://github.com/learningequality/kolibri/releases/

[2021-11-15 16:56] pcenov commented on #8689
@radinamatic

[2021-11-15 17:00] indirectlylit commented on #8662
hi @ozer619 –

I spoke with @rtibbles today and he pointed out that the solutions I proposed above would cause conflicts for users who have a custom `user` plugin.

Instead, we'll need to update the [`user_auth` plugin](https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/user_auth/kolibri_plugin.py) to modify the root-level URLs with a new lang_prefixed URL. This way,

[2021-11-15 17:05] indirectlylit opened #8690 "'not enough space' message is not next to the 'import' button"
## Observed behavior

Messaging is not next to import button. The message will often be scrolled offscreen, making it unclear why the 'import' button is disabled:

| top | scrolled |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/141823234-e4fbdd00-574b-4105-8acf-dc2a889e5410.png) | ![2021-11-15 11 44 19](https://user-images.githubusercontent.com/2367265/141823703-cf64d159-63

[2021-11-15 18:53] indirectlylit opened #8692 "KA burmese channel description is causing horizontal scrolling in page container"
## Observed behavior

On the main channel import page, the channel list improperly scrolls horizontally:

![2021-11-15 13 49 46](https://user-images.githubusercontent.com/2367265/141838030-48dd2137-d013-47f5-b99c-6b219a47bd3a.gif)

## Expected behavior

The text should either wrap or be truncated to prevent horizontal scrolling

## User-facing consequences

users might accidentally scroll right wh

[2021-11-15 19:26] indirectlylit opened #8693 "'incorrect username' reported for 'username not found'"
## Observed behavior

when trying to log in on a server with a username that doesn't exist, kolibri reports "incorrect username":

![image](https://user-images.githubusercontent.com/2367265/141841390-bc4c90c9-0962-4aab-8e98-777732da18ab.png)

## Expected behavior

Kolibri should report "username not found"

## User-facing consequences

Error may be misleading. For example, it could have been that

[2021-11-15 19:36] indirectlylit opened #8694 "'categories' filter should probably not have the highest prominence for 0.15"
## Observed behavior

The 'categories' filter has the most prime real estate:

![image](https://user-images.githubusercontent.com/2367265/141842344-5c4e9c22-ce7d-449a-aaa2-018c0e8b577c.png)

However, it is also currently the least useful filter because so little content has been categorized yet.

## Suggested behavior

Recommend moving the categories filter lower and giving more prominence to filt

[2021-11-15 19:39] rtibbles commented on #8694
This will not display until there are categories available - this is shown currently only in development mode for developer convenience.

[2021-11-15 19:39] #8694 closed, assigned to nobody

[2021-11-15 19:41] indirectlylit opened #8695 "category filters are active even when no resources apply"
## Observed behavior

Selecting a category takes two clicks and leads to 0 results:

![2021-11-15 14 37 33](https://user-images.githubusercontent.com/2367265/141843349-18f879fd-dc47-469e-a4a3-1402abb95fa8.gif)

## Expected behavior

categories should be hidden or disabled when no content applies

## User-facing consequences

user would need to slowly click through every possible category to see if

[2021-11-15 19:42] rtibbles commented on #8695
This is specifically enabled in development mode but does not happen in production.

[2021-11-15 19:42] #8695 closed, assigned to nobody

[2021-11-15 20:08] indirectlylit opened #8697 "missing string in categories"
## Observed behavior

`foundationsLogicAndCriticalThinking` is missing under 'basic skills':

![image](https://user-images.githubusercontent.com/2367265/141846805-e8455365-8ecb-4db7-96eb-f34ac9e2b96e.png)

## Context

0.15.0-beta2

[2021-11-15 20:30] indirectlylit opened #8698 "sub-category chooser does not have hover states or keyboard nav"
## Observed behavior

The sub-category chooser has no keyboard navigation or hover states:

![2021-11-15 15 21 04](https://user-images.githubusercontent.com/2367265/141848943-6c6a19ca-abc6-4a0d-8cd6-b893d66e1371.gif)

In some cases there is a pointer cursor, but the item isn't actually clickable:

![2021-11-15 15 28 48](https://user-images.githubusercontent.com/2367265/141849409-bba5fb37-8f11-4fc8

[2021-11-15 23:06] jtamiace commented on #8631
Making the entire row clickable + hover states would be a good update for consistency. I don't know if adding the folder icon to every single item would be that meaningful to distinguish different items since only folders show up in that list. Would rather find a way to show it once, which can possibly be in the 'Folders' subtab. Was this your first impression when looking at that list? Hoped that

[2021-11-16 00:55] radinamatic commented on #8687
Issue confirmed on Windows 7.

1 | 2
--- | ---
![Win7 (0 15b2)  Running  - Oracle VM VirtualBox_002](https://user-images.githubusercontent.com/1457929/141875827-abf8b948-567a-40e0-baf1-802cb4d9b669.png) | ![Win7 (0 15b2)  Running  - Oracle VM VirtualBox_003](https://user-images.githubusercontent.com/1457929/141875837-d45daf45-11f3-4387-a072-bd8c67b2a933.png)

If I understand correctly this scenari

[2021-11-16 00:56] rtibbles commented on #8687
Yes - it seems that there was an error when this was separated out into a separate page. Fixing now.

[2021-11-16 03:30] radinamatic opened #8700 "Home page Learn and 'Library > Recent' are displaying duplicates of the same resources in different languages (KA channels)"
## Observed behavior
When device has, for example, various KA channels available, the homepage and  **Library > Recent** section are displaying the same resource in all the languages, and not just the one the learner has engaged with.

Learner engaged with videos only on the Kolibri QA channel, but since device has KA EN, KA ES and KA BG channels imported, the same resource in all those languages

[2021-11-16 03:42] radinamatic commented on #8678
Not only IE11, Chrome too...

![Win7 (0 15b2)  Running  - Oracle VM VirtualBox_006](https://user-images.githubusercontent.com/1457929/141891774-48276d49-a231-4eaa-9d3c-b210a601763c.png)

(Chrome on top, Firefox on bottom, Windows 7)

[2021-11-16 03:57] radinamatic opened #8701 "'View more' link under 'Folders' in channel with no folders"
## Observed behavior
Superfluous 'View more' link under 'Folders' when channel has no folders: clicking seems to have no effect, and when clicked the third time, it disappears... 😕

![view-more](https://user-images.githubusercontent.com/1457929/141892543-a1e1c22d-8c7f-49e1-9ffb-a919b27457cb.gif)

## Errors and logs
…

## Expected behavior
No 'View more' link if it serves no purpose...?

## User-fa

[2021-11-16 13:41] abhimnc commented on #8629
hi @indirectlylit , first time user, like to contribute. I am not able to get what you want to convey. Here is screenshot I am getting. What changes do you want to make?
![image](https://user-images.githubusercontent.com/10187395/141995858-dfb5b57e-5f68-4d27-b333-18c927b4ec8c.png)

[2021-11-16 16:04] #8697 closed, assigned to marcellamaki

[2021-11-16 16:07] indirectlylit commented on #8629
Hello, thanks for offering to contribute!

The design system defines terminology related to button styling that's used in the description:

https://design-system.learningequality.org/buttons/#visualstyles

Take a look at that and let us know if you still have questions

[2021-11-16 16:35] indirectlylit commented on #8631
When I first looked at the list, I definitely did not realize that they were folders. This might be partly because the demo channel has folder names which look like filter options.

However we often (usually?) use labeled icons even when items in a list are homogeneous because it aids learnability and visual scanning of the page holistically. Examples:

* Classes and Users tables in Facility
* All

[2021-11-16 17:37] rtibbles commented on #8632
Fixed in #8684

[2021-11-16 17:37] #8632 closed, assigned to sairina

[2021-11-16 18:05] abhimnc commented on #8629
is this change you want to make? (Just want to confirm I am going in right direction.)
![image](https://user-images.githubusercontent.com/10187395/142040805-eefa683c-9a16-4f9b-8188-ba7a5f32797f.png)

what do you mean by "inline with number, not on next line"?

[2021-11-16 18:18] rtibbles commented on #8700
Note that we can't actually tell which one that user most recently engaged with - so without a radical change to our data structures we cannot fix this as stated.

What we can do is deduplicated these things in the same way that we should be doing for search results as in here (https://github.com/learningequality/kolibri/issues/8498)

[2021-11-16 18:34] indirectlylit commented on #8629
Yes, that's right.

Something like this:

Would you mind also double-checking that if we have a 'View coaches' button we apply the same styling? I don't know offhand if we have that implemented.

thank you!

[2021-11-16 18:45] indirectlylit opened #8707 "missing back button string on Learn filter mobile view"
## Observed behavior

the tooltip for the back button is missing:

![image](https://user-images.githubusercontent.com/2367265/142046362-aeaf24e4-90ed-4c1e-a6e4-a7516dcba444.png)

## Steps to reproduce

1. Learn
2. Library
3. Search
4. Select category

## Context

0.15.0-beta2

[2021-11-16 19:36] #8688 closed, assigned to rtibbles

[2021-11-16 19:36] #8689 closed, assigned to rtibbles

[2021-11-16 19:36] #6697 closed, assigned to rtibbles

[2021-11-16 21:02] #8393 closed, assigned to vkWeb

[2021-11-16 23:19] rtibbles commented on #8676
This is a duplicate of #8613 - closing to consolidate reports.

[2021-11-16 23:19] #8676 closed, assigned to nucleogenesis

[2021-11-17 00:51] #8701 closed, assigned to nucleogenesis

[2021-11-17 01:39] rtibbles commented on #8475
Fixed in #8715

[2021-11-17 01:39] #8475 closed, assigned to sairina

[2021-11-17 05:02] #8707 closed, assigned to rtibbles

[2021-11-17 05:06] #8687 closed, assigned to rtibbles

[2021-11-17 06:38] abhimnc commented on #8629
Thanks for clarification.
Finally I got this. Here is the screenshot.
![image](https://user-images.githubusercontent.com/10187395/142147185-a0ae30f1-6f7e-406c-8545-5105712cdd42.png)

I checked 'View coaches' button but I haven't found it. Would you like to create one? I would happy to work on it also.
Also, should I create pull request for the issue I am working on currently.

[2021-11-17 12:36] abhimnc commented on #8629
hi @indirectlylit . i have created a pull request.Let me know the feedback.
it is #8720

[2021-11-17 15:10] rtibbles opened #8721 "Also In This side panel shows lesson information when vuex state is dirty"
If you click on a resource from the Bookmarks tab, and that resource was bookmarked from a Channel, the 'Also in this' panel shows a random lesson that the bookmarked resource is not a part of.

I realize this happens in a specific sequence:
1. Go to a resource in a lesson
2. Exit the lesson
3. Go to the bookmarks tab
4. Go to a bookmarked resource
5. Open in the 'Also in this' panel

It should be

[2021-11-17 15:15] #8698 closed, assigned to marcellamaki

[2021-11-17 16:38] pcenov opened #8722 "Android App - Learn UI responsive design issues"
## Observed behavior
When I am using the android app in a mobile phone with a smaller screen size I'm observing a number of Learn UI responsive design issues. Note that when the search filters are opened in a smaller mobile device the user has no way of closing the filter view as there's no outside area to tap on.

## Expected behavior
All pages should be optimized for mobile devices.

## Steps to

[2021-11-17 16:39] pcenov commented on #8722
@radinamatic

[2021-11-17 16:52] pcenov opened #8723 "The Select all button in Create new quiz is not functioning (when selecting from bookmarked items)"
## Observed behavior
The Select all button in Create new quiz is not functioning.

## Expected behavior
The Select all option should be fully functional and identical to the same option when selecting from non-bookmarked channels.

## Steps to reproduce the issue
1. Install the following [build.](https://github.com/learningequality/kolibri/releases/tag/v0.15.0-beta2)
2. As a Coach with bookmarked

[2021-11-17 16:52] pcenov commented on #8723
@radinamatic

[2021-11-17 17:01] pcenov opened #8724 "Cannot close the Manage lesson resource modal window when adding bookmarked resources to a lesson"
## Observed behavior
I cannot close the Manage lesson resources modal when trying to add bookmarked resources to a lesson.

## Expected behavior
Both the Close button and the close icon should be fully functional.

## Steps to reproduce the issue
1. Install the following [build.](https://github.com/learningequality/kolibri/releases/tag/v0.15.0-beta2)
2. As a Coach with bookmarked items go to Class

[2021-11-17 17:01] pcenov commented on #8724
@radinamatic

[2021-11-17 18:25] nucleogenesis commented on #8111
Closed by #8545

[2021-11-17 18:25] #8111 closed, assigned to nobody

[2021-11-17 19:04] nucleogenesis opened #8725 "Bookmark Card - Metadata misalignments"
## Observed behavior

These likely have some padding/margin applied that makes sense at larger sizes but not when reflowed for a smaller screen.

Follows up from #8708

![image](https://user-images.githubusercontent.com/6356129/142264913-ea34f45f-4602-47ba-b9b9-03b4e47927b9.png)

## Expected behavior

Text aligns on the left.

## User-facing consequences

It looks off.

[2021-11-17 22:06] #7506 closed, assigned to rtibbles

[2021-11-17 22:07] #8139 closed, assigned to rtibbles

[2021-11-17 22:32] #8700 closed, assigned to rtibbles

[2021-11-17 22:32] #8498 closed, assigned to rtibbles

[2021-11-17 22:51] #8613 closed, assigned to rtibbles

[2021-11-18 06:27] radinamatic commented on #8722
To recap and add more examples, excluding Perseus issues, tracked in #8714:

nº | Screenshot | Comment |
--- | --- | ---
1 | ![card-height](https://user-images.githubusercontent.com/1457929/142362585-9e4801a9-a9d7-4178-b425-f7ade4d8a066.png) | Card height misuses space
2 | ![crowded-topbar](https://user-images.githubusercontent.com/1457929/142362677-067221f5-c742-465b-8eac-64488f7703d5.png) | Crow

[2021-11-18 06:37] radinamatic opened #8727 "Unstuck bottom bar in the Perseus renderer on small mobile screens"
## Observed behavior
Bottom bar in the Perseus renderer (where the <kbd>Check</kbd> button is located) is supposed to be sticky, and not scroll up and down with the exercise when the height of the resource is bigger than the available screen space

(disregard the icons of the screencasting apps)

### Android app
https://user-images.githubusercontent.com/1457929/142364399-72aaa4b3-fc1d-4d0f-9c7b-af

[2021-11-18 13:35] #8409 closed, assigned to nobody

[2021-11-18 13:50] indirectlylit opened #8728 "update caniuse-lite dependency"
## Observed behavior

Developer logs give repeated warnings:

[code]

## Expected behavior

No warnings.

I believe this dependency should be set in the kolibri build tools project?

## User-facing consequences

This causes unnecessary confusion when contributors see the warnings.

For example, contributors might think they are responsible for updating the dependency, or even think it's related to

[2021-11-18 13:55] pcenov opened #8729 "Home page - Missing 'Your classes' section"
## Observed behavior
If I sign in as a Learner who is not enrolled in any classes and the option 'Signed-in learners should only see resources assigned to them in classes' is selected then I am at the Home page and there is no message informing me that I'm not enrolled in any classes.

## Expected behavior
I should see You are not enrolled in any classes under Your classes section
The sections Con

[2021-11-18 13:56] pcenov commented on #8729
@radinamatic

[2021-11-18 14:03] pcenov opened #8730 "Cannot view any assigned resources if 'Signed-in learners should only see resources assigned to them in classes' is enabled"
## Observed behavior
As a learner enrolled in a class with assigned lesson resources I can't view any assigned resources if 'Signed-in learners should only see resources assigned to them in classes' is enabled. Instead I'm redirected to the Classes page and there is an error in the browser console.

## Expected behavior
I should be able to view the resources.

## Steps to reproduce the issue
1. In

[2021-11-18 14:03] pcenov commented on #8730
@radinamatic

[2021-11-18 15:19] pcenov opened #8732 "Home page - The 'Continue learning on your own' section is not displayed"
## Observed behavior
The 'Continue learning on your own' section is not displayed at the Home page even though I have completed all assigned class resources and have some non-class resources in progress.

## Expected behavior
The 'Continue learning on your own' section should be displayed as specified in [Notion](https://www.notion.so/Home-Page-QA-8ffb1011fa034e21bc1f52a2aad585ac).

## Steps to re

[2021-11-18 15:19] pcenov commented on #8732
@radinamatic

[2021-11-18 15:31] #8612 closed, assigned to rtibbles

[2021-11-18 16:33] #8728 closed, assigned to nobody

[2021-11-18 16:33] #8669 closed, assigned to nobody

[2021-11-18 18:02] pcenov opened #8737 "Search - Getting a 500 error after having applied too many filters"
## Observed behavior
When searching I'm getting a 500 error after having applied too many filters. The issue could be caused by the fake data used but should be further investigated.

## Expected behavior
Fully functional search functionality.

## Steps to reproduce the issue
1. Install the following [build.](https://github.com/learningequality/kolibri/releases/tag/v0.15.0-beta2)
2. Import some ch