[2022-08-04 18:53] #6468 closed, assigned to nobody

[2022-08-04 19:02] nucleogenesis commented on #7346
@rtibbles is this something that is would be worth slating for 0.16?

[2022-08-04 19:03] nucleogenesis commented on #5752
I have not run into this in the last couple years

[2022-08-04 19:03] #5752 closed, assigned to nobody

[2022-08-04 19:05] rtibbles commented on #7346
We'd need to do some work on Studio as well to include tokens in the published channels.

The other slight complication that would not make it completely parallel is that tokens can also refer to collections, not just to channels - but we currently have no mechanism for importing 'collections' into Kolibri, only the individual channels within the collection.

So it might be feasible to do this jus

[2022-08-04 19:06] nucleogenesis commented on #9101
Closing this as the scroll position business seems to be working with the implementation as is without complaints. Can revisit if/when issues arise but my experience so far is that Kolibri's scroll position stuff works as expected in places where CoreBase has been removed.

[2022-08-04 19:06] #9101 closed, assigned to nucleogenesis

[2022-08-04 20:57] nucleogenesis opened #9589 "Research benefits & LOE of moving common code to package"
## Observed behavior

[Follow-up on this comment](https://github.com/learningequality/kolibri/pull/9534#discussion_r908967139) - overall, it may be worthwhile to consider moving some common (although not core) code out of our default front-end bundle.

The idea being that if we expose this code in a package, then when a plugin uses common code, it will be bundled with that plugin's bundle. Convers

[2022-08-05 18:26] dbnicholson opened #9590 "importcontent --fail-on-error does not capture all failures"
## Observed behavior

For #9258, a `--fail-on-error` option was added to `importcontent` so that it would fail the command if there were issues importing content. However, it currently only covers a missing network file.

## Errors and logs

[code]

At this point, the command should fail when run with `--fail-on-error`, but it carried on. While looking at this code again, I noticed that the `--fai

[2022-08-06 15:45] Akash-Kumar-Sen commented on #9563
Hi @marcellamaki is this issue still active? Then I want to give it a go.

[2022-08-07 16:47] Akash-Kumar-Sen commented on #9095
Hi @sairina is this issue still open? Then I can give it a go.

[2022-08-08 08:58] MisRob commented on #9095
Hello @Akash-Kumar-Sen, thank you for your interest. This issue is open, and you're welcome to try to reproduce it and fix it. Please see [our developer's documentation ](https://kolibri-dev.readthedocs.io/en/develop/getting_started.html) if you haven't done so already. You should find everything needed to get started there.

Just note that on the `develop` branch, which is the branch mentioned in

[2022-08-08 08:59] MisRob commented on #9095
@Akash-Kumar-Sen If you could let me know as soon as you start working, it'd be great. I would assign you so that we know that the issue has been taken.

[2022-08-08 10:21] Akash-Kumar-Sen commented on #9095
Sure @MisRob you can assign this to me now.

[2022-08-08 10:24] Akash-Kumar-Sen commented on #9095
I have also showed interest in this issue : https://github.com/learningequality/kolibri/issues/9563 you can also assign that to me if it is still open.

[2022-08-08 10:27] MisRob commented on #9563
Assigning @Akash-Kumar-Sen in reply to https://github.com/learningequality/kolibri/issues/9095#issuecomment-1207940725

@Akash-Kumar-Sen The same instruction for the development environment should apply to this issue too. Thank you.

[2022-08-08 10:28] MisRob commented on #9563
@Akash-Kumar-Sen Adding myself as an assignee too just to keep an eye on comments

[2022-08-08 10:28] MisRob commented on #9095
@Akash-Kumar-Sen Adding myself as an assignee too just to keep an eye on comments

[2022-08-08 10:30] MisRob commented on #9095
@Akash-Kumar-Sen Okay, you're also assigned to the other issue. Thank you.

[2022-08-08 10:59] Akash-Kumar-Sen commented on #9095
@MisRob Getting this error while running the step `yarn install` can you suggest what to do?
[code]

[2022-08-08 11:03] MisRob commented on #9095
@Akash-Kumar-Sen

This asks you to use Node v10 (we haven't upgraded it to v16 on the current release branch)

[code]

[2022-08-09 13:30] Absoft002 opened #9594 "Importing and syncing facilities in Kolibri is not working across my devices even if we are both connected on the same network"
## Observed behavior
 If I try to import a facility, it does not work. This is what it shows me on the screenshot below.
![image](https://user-images.githubusercontent.com/91900905/183657108-189cb541-e068-42fa-af0a-c09cc18f4b7e.png)

…

## Errors and logs

…

## Expected behavior
That is should have imported the facilities and also sync the facility on the server with other facilities

…

## User-

[2022-08-09 13:38] Absoft002 commented on #9594
Sorry I forgot to add that I also use the Raspberry Pi with the internet-in-a-box to provide local network

[2022-08-09 13:51] holta commented on #9594
Some Context:

- @Absoft002 is trying to "IMPORT FACILITY" into Kolibri 0.15.6 running on [Internet-in-a-Box](https://internet-in-a-box.org) (that's a Raspberry Pi 4, running Raspberry Pi OS).
- The Kolibri facility (that he's trying to import) is on a Windows laptop (that is also running Kolibri 0.15.6).
- He suspects "IMPORT CHANNEL" might work.  But he wants "IMPORT FACILITY" to also work, in p

[2022-08-09 14:12] holta commented on #9594
I've tried to clarify the [above troubleshooting context](https://github.com/learningequality/kolibri/issues/9594#issuecomment-1209410801) with a bit more detail.

Thanks also to @Absoft002 who tightened up the subject line (he meant "Kolibri" not "Kolibri Studio" !)

[2022-08-09 14:31] holta commented on #9594
Question:

Is it possible that "IMPORT FACILITY" functionality might need additional work, similar to but above-and-beyond the recent improvements[*] below?

- #9455
- PR #9533

[*] The above recent improvement is now part of Kolibri 0.15.6

[2022-08-09 14:35] #9234 closed, assigned to nucleogenesis

[2022-08-09 14:50] bjester commented on #9594
Is the device with IP address 192.168.137.87 shown in the screenshot the Windows laptop?

[2022-08-09 14:58] Absoft002 commented on #9594
Yes Sir, it is.

[2022-08-09 15:09] rtibbles commented on #9594
It would be useful to confirm or disprove this suspicion - when we made the fixes in #9533 we did not restrict ourselves to content import flows only, so it was meant to fix all peer to peer interactions when servers are prefixed, however, it's possible that this flow might have slipped through.

One thing is that it seems that the addresses have been manually added, so if they are grayed out it m

[2022-08-09 15:31] holta commented on #9594
@rtibbles (and @bjester) thanks for explaining!

@Absoft002 please respond to @rtibbles's question above &mdash; fully verifying that "CHANNEL IMPORT" does-or-does-not work (importing any channel into Internet-in-a-Box, from your Windows laptop).

No.  Addresses were not manually added.  Kolibri scans for these addresses, but they remain forever grayed out.

Could this be a firewall issue of some

[2022-08-09 15:44] holta commented on #9594
I connected remotely to his Internet-in-a-Box, and the "Gray Spinning Forever" syndrome applies to all my attempts to import a CHANNEL _as well as_ all attempts to import a FACILTY.

@Absoft002 will hopefully reconfirm.  So it appears that a local/LAN import of a Kolibri Channel is also not working.

Regardless whether the Windows laptop is connected to the Internet-in-a-Box over Ethernet, or even

[2022-08-09 15:45] Absoft002 commented on #9594
"IMPORT CHANNELS" work well with 'Kolibri Studio (Online)' and 'Attached drive or memory Card'. But does not work well with 'Local Network or internet'.

[2022-08-09 15:45] rtibbles commented on #9594
It's a possibility - we use PyZeroConf to detect other Kolibri devices on the network, and then verify that we can create a network connection to them by connecting to the `api/public/info/` endpoint on the Kolibri device - this is why previously there were issues with prefixed servers, because we were failing to properly include the prefix in the information broadcast over PyZeroConf, and then in

[2022-08-09 15:46] holta commented on #9594
Yes.  All machines (Internet-in-a-Box on Raspberry Pi OS, and also the Windows laptop) are running Kolibri 0.15.6

[2022-08-09 16:03] bjester commented on #9594
To rule out firewall issues on the Windows laptop side, testing the connection from the Raspberry Pi to the Windows laptop would be great. Since we already determined the IP of the Windows laptop, running this on the Pi should return some JSON:
[code]

[2022-08-09 16:11] holta commented on #9594
The above command hangs.

This command also hangs:

[code]

I tried both IP addresses, as it appears @Absoft002 changed to a different DHCP in his building in Cameroon.  Screenshot to confirm the "Gray Spinning Forever" problem is identical, no matter the networking cables or WiFi connection direct to Internet-in-a-Box:

![image](https://user-images.githubusercontent.com/2458907/183703092-fc3fb7b1

[2022-08-09 16:16] bjester commented on #9594
Okay! So that sounds like a firewall issue on the Windows laptop to me. I'm not a Windows expert, but Windows itself and some anti-virus programs have firewalls. Our Kolibri documentation has a [few comments](https://kolibri.readthedocs.io/en/latest/manage/get_support.html?highlight=firewall#firewalls) regarding firewalls

[2022-08-09 19:04] holta commented on #9594
Bingo, Thank you!

QUESTION:

Several people spent many hours (days might be most honest ;) getting to the bottom of this.

Would Kolibri consider improving its user interface below perhaps &mdash; so that in future people don't again waste hours/days every time &mdash; fighting this same battle?

![image](https://user-images.githubusercontent.com/2458907/183738670-4a78f005-4f3b-4441-99e6-634e76ea

[2022-08-10 16:33] bjester opened #9598 "Select network address: distinguish between discovered instances and contactable instances"
## Observed behavior

Kolibri instances on the same network discover each other using a Zeroconf mDNS broadcast. We use this functionality to surface the network addresses of these instances when selecting an address for syncing a facility (one example). In the event the network instance has a typical firewall setup, where incoming packets are dropped on most if not all ports, we may have discover

[2022-08-10 16:34] bjester commented on #9594
Thank you @holta, I added a [followup issue](https://github.com/learningequality/kolibri/issues/9598). I definitely think we can add more visibility in that address selection modal.

[2022-08-10 16:34] #9594 closed, assigned to nobody

[2022-08-10 17:08] holta commented on #9594
Many Thanks Blaine & Richard for all your help!

If peer sync'ing becomes practical + understandable for regular people (not just networking/firewall gurus like yourselves!) that would be *incredible* as part of Kolibri 0.16+ ✅

[2022-08-10 17:44] holta commented on #9598
Thank you @bjester for writing this up, to help out regular everyday citizens trying to establish Sneakernet-of-Alexandria civic/learning networks — w/o drowning in complexity !!

💯

[2022-08-11 11:26] MisRob opened #9600 "Use translated string for user kind in the user table"
## Observed behavior

In the user table component, we render visually hidden user kind for assistive technologies:

https://github.com/learningequality/kolibri/blob/82ae0b3997943d6d349080b0df80c10c8bb8c1fe/kolibri/plugins/facility/assets/src/views/UserTable.vue#L89-L91

It is supposed to convey the same information as `aria-hidden` badge (e.g. _Super admin_):

![Screenshot from 2022-08-11 13-04-47

[2022-08-11 16:17] hani647 opened #9601 "Channel Name & Content Title is null in content_summary_logs.csv"
## Observed behavior

Channel Name & Content title seems to be missing in kolibri v15.6 in content_summary_logs.csv report. For previous version
it seems to be there but not sure what happened with newer version?

## Errors and logs

## Expected behavior

content_summary_logs.csv must have "Content title" so that admin can see the time spent by the user on any specific item.
…

## User-facing cons

[2022-08-11 16:27] rtibbles commented on #9601
Hi @hani647 - thanks for reporting this. We've had a similar report from a user on our community forums: https://community.learningequality.org/t/kolibri-session-log-files-empty-system-glitches/2513/8 but have so far been unable to replicate the error in our local testing.

I am wondering if there's anything specific to your context that we might be missing? What language are the Channel titles an

[2022-08-11 16:29] rtibbles commented on #9601
Also - do you happen to know what Python version is being used to run Kolibri?

[2022-08-11 16:37] hani647 commented on #9601
Hey @rtibbles ,
Thanks for the prompt response, I'm using Python 2.7.18.

[2022-08-11 16:40] hani647 commented on #9601
Content title & Channel name are in English. We're using below endpoint to generate content_summary_logs.csv on Kolibri server and that causing the issue that's mentioned in your forum issue too.

/api/tasks/tasks/startexportlogcsv/

[2022-08-11 16:47] hani647 commented on #9601
@rtibbles its worth to mention here that same code works well with kolibri v13.x and that column empty issue only exist in v15.x.

[2022-08-11 21:03] rtibbles commented on #9601
Thanks for the detailed feedback here - we think we've isolated the issue to a regression that occurred in the 0.15.5 release. In an effort to generate CSV files that were not vulnerable to injection attacks when opened in Microsoft Excel, it seems that these columns ended up getting removed instead of just santized.

[2022-08-11 23:47] rtibbles commented on #9601
This has now been fixed in #9602 - we are planning to make our next patch release by the end of August which will include this fix. Thanks for reporting!

[2022-08-11 23:47] #9601 closed, assigned to rtibbles

[2022-08-12 14:33] holta commented on #9594
@bjester & @rtibbles

FYI this ongoing work in Cameroon appears to be really going places — though people don't yet understand this rural/indigenous linguistics survey that Internet-in-a-Box is helping them to make happen — more about that later if you or Learning Equality are interested:

https://twitter.com/internet_in_box/status/1558055160273944576

[2022-08-12 22:23] rtibbles opened #9613 "Add sanity check to ensure that Job Storage tables are ready"
## Observed behavior
In 0.15 the deletion and recreation of Job Storage tables at every restart was removed. This means that there are some possible scenarios where Kolibri could attempt to start, but the storage tables do not exist.

## Errors and logs
[code]

## Expected behavior
Kolibri should check that these tables are accessible and recreate them if not.

[2022-08-14 09:49] camperjett commented on #9574
@MisRob PTAL

[2022-08-14 10:48] MisRob commented on #9574
@camperjett Great, thanks, I will review it next week.

[2022-08-14 13:09] Akash-Kumar-Sen commented on #9563
Hi @MisRob  the focus ring is not available for any of the components in my development setup...

[2022-08-15 08:03] MisRob commented on #9563
Hello @Akash-Kumar-Sen, could you elaborate?

I've just tried on the latest `develop` branch, and I can see the focus ring around the username when logging in and using my keyboard (Tab/Shift + Tab)

![username](https://user-images.githubusercontent.com/13509191/184598151-e954bc01-47d2-448a-a749-86631506ea76.png)

whereas I can't see it around the password where it should be

![pw](https://user-im

[2022-08-15 08:14] Akash-Kumar-Sen commented on #9563
I was using the `release-v0.15.x` branch as you suggested in Issue : https://github.com/learningequality/kolibri/issues/9095#issuecomment-1207853846

[2022-08-15 08:19] radinamatic commented on #9600
Thank you @MisRob, great catch and a good reminder for me to turn NVDA on while I do i18n testing! 😅

[2022-08-15 08:34] MisRob commented on #9563
You're right, this issue has been reported for the v15 branch. I can confirm I could just reproduce it on the `release-v0.15.x` too, the same way I reported one comment above for the `develop`. So please continue using the `release-v0.15.x` for this issue.

[2022-08-15 08:37] MisRob commented on #9563
(Not related to this issue, just FYI: now that you have setup successfully your device, if you need to do so for some other issues, you could also switch to `develop`. The problem was that on `develop` it's not possible to set up a new device, that's why we needed to go through it on the v15 branch. From now on though, you could use it since your setup is done. You would just need to switch node v

[2022-08-15 21:56] #9310 closed, assigned to nucleogenesis

[2022-08-15 22:37] rtibbles opened #9622 "Immersive back button does not return to search results"
## Observed behavior
After filtering resources down using a search, if you click into a specific resource, then exit using the 'Go back' button in the immersive toolbar, it returns you to main Library page, rather than back to the context of your search.

This appears to be because the link to the resource itself is not encoding the search parameters.

## Expected behavior
Navigation should preser

[2022-08-16 03:57] radinamatic opened #9623 "Landmarks on the Learn page"
_Follow up issues to be opened to cover Coach, Facility and Device pages._

## Observed behavior
We need to improve the landmarks on the **Learn** page to provide more accessible page navigation options. The _main_ 🙂 issue is the position of the ``main`` element, or the **div** with the ``role="main"`` which is used for skipping to main content of the page. Ideally, this element should not include

[2022-08-16 03:57] radinamatic commented on #9623
cc @marcellamaki

[2022-08-16 05:22] camperjett commented on #9505
Hi @socketbox! I would like to work on this. Could you please point me towards the necessary files :smiley:.

[2022-08-16 09:22] pcenov opened #9624 "Mobile view - Not truncated texts and missing header section"
## Observed behavior
See the attached screenshots. Tested in real devices as well as using Chrome's dev tools emulator.

## Steps to reproduce the issue
1. Install the latest develop (0.16) build
2. Go to the Library > Browse channel

## Screenshots
Longer resource titles are not truncated:

![2022-08-15_15-08-42](https://user-images.githubusercontent.com/79847249/184643196-bc246d80-9f86-4fdb-8b1e

[2022-08-16 09:22] pcenov commented on #9624
@radinamatic

[2022-08-16 12:22] marcellamaki opened #9625 "Add guard to /library when no resources are added."
## Observed behavior
Currently on a partner instance, there are no loaded resources, but `/library` does not redirect correctly, although `/home` does.

## Errors and logs
Perpetual loader

## Expected behavior
When there are no resources added to a Kolibri instance, redirect to "No resources available page" (see home page guard for reference).

## User-facing consequences
Confusion, concern that

[2022-08-16 16:10] rtibbles commented on #9505
Hi @camperjett - this involves impacting the logging configuration, which gets used before any other parts of the app are started. Because of this, we have used environment variables to affect this in the past. I would suggest adding another environment variable to disable request logging. This will be slightly easier to implement than the original suggestion in the issue, and should also meet the

[2022-08-16 16:54] #9574 closed, assigned to MisRob, camperjett

[2022-08-16 19:02] radinamatic opened #9626 "Check 0.16 onboarding strings"
Follow up issue from https://github.com/learningequality/kolibri/pull/9534.

## Observed behavior
In the 0.16 setup wizard we changed almost all the instances of the word ``facility`` into ``learning facility`` to give better context for localization, but [there may be some that were not changed in #9534](https://github.com/learningequality/kolibri/pull/9534#issuecomment-1211322082). This change i

[2022-08-16 20:21] nucleogenesis commented on #9600
Just checked and this is the case in 0.15 - so I've added it to the planned patch 6 milestone

[2022-08-16 20:23] nucleogenesis commented on #9598
I think that this might require some new strings to indicate the error state or issue to the user (ie, is the source bad, should they try again, etc) so I'll put this in the pipeline for 0.16

[2022-08-16 20:29] nucleogenesis commented on #9590
Thank you for the thorough issue report! Hope we can get this resolved soon - if you've dug into the code a bit and feel so inclined, we'd welcome a PR if you have a bead on fixing it. Otherwise, it'll be in the pipeline for an upcoming patch release

[2022-08-16 20:45] dbnicholson commented on #9590
#9591 fixes it.

[2022-08-16 20:47] rtibbles commented on #9590
Noting that your PR has a test failure, which seems to be a result of using Python 2.7 incompatible code.

[2022-08-16 20:54] dbnicholson commented on #9590
Ah, let me fix that `IOError` vs `OSError` vs ...

[2022-08-16 21:58] rtibbles commented on #9590
Fixed in #9591

[2022-08-16 21:58] #9590 closed, assigned to nobody

[2022-08-17 08:58] pcenov opened #9631 "Facility > Users - The Options drop-down is not functioning correctly when there are multiple users"
## Observed behavior
See the video. If there are a lot of users so that there is a scrollbar being displayed and you scroll down when you click the Options drop-down the scrollbar is pushed back up the page and you need to scroll down again to click the Options.

## Steps to reproduce the issue
1. Install the latest 0.16 develop build
2. Go to the Facility > Users
3. Scroll down the Users table an

[2022-08-17 08:58] pcenov commented on #9631
@radinamatic

[2022-08-17 09:48] pcenov opened #9632 "Select all users - Incorrect value for the number of selected users"
## Observed behavior
Selecting and deselecting the 'Select all' button after selecting or deselecting a specific user results in incorrect number of users displayed as selected. This is valid for both Facility > Class > Enroll learners and Facility > Class > Assign coaches
This results in minor confusion.

## Steps to reproduce the issue
1. Install the latest 0.16 develop build
2. Go to Facility >

[2022-08-17 09:48] pcenov commented on #9632
@radinamatic

[2022-08-18 12:52] holta opened #9634 "Just FYI Kolibri 0.15.6 does not install on Ubuntu 22.10 ETA 2022-10-20 -- also /etc/apt/trusted.gpg DEPRECATED (!)"
Here's the error message just in case someone wants to keep an eye on Ubuntu 22.10's Oct 20th upcoming release:

fatal: [127.0.0.1]: FAILED! => {"changed": true, "cmd": "export KOLIBRI_HOME=\"/library/kolibri\" && \"/usr/bin/kolibri\" manage provisiondevice --facility \"Kolibri-in-a-Box\" --superusername \"Admin\" --superuserpassword \"changeme\" --preset \"formal\" --language_id \"en\" #--preset

[2022-08-18 13:00] holta commented on #9634
Also FYI Kolibri is storing its apt signing key in a way that Debian and Ubuntu no longer support &mdash; see this `apt update` output which explains:

[2022-08-18 13:08] holta commented on #9634
ASIDE &mdash; To recover the Ubuntu 22.10 machine to a more pristine state (so as to remove the above-mentioned `apt update` warning) I did the following: (just FYI)

[code]

[2022-08-18 15:39] rtibbles commented on #9634
Note that this is the same issue as this error: https://github.com/learningequality/kolibri/issues/9583

It seems that the Python `markdown` library has changed how it encodes its version information which breaks certain versions of Django REST Framework.

Is the Python `markdown` package installed by default on Ubuntu 22.10, or has this been installed from somewhere else?

[2022-08-18 17:43] holta commented on #9634
Apparently not.  Regardless whether apt package `markdown` and/or `python3-markdown` is/are relevant?

FWIW `python3-markdown` appears to have been installed by samba apt packages on this particular Ubuntu 22.10 ("everything-but-the-kitchen-sink") [Internet-in-a-Box](https://internet-in-a-box.org) testing machine:

[code]

@rtibbles does that help?

(Do you need anything else before this machine i

[2022-08-18 17:48] jredrejo commented on #9634
How does samba depend on python3-markdown? that's ridiculous.
I see at https://packages.ubuntu.com/kinetic/samba that's a recommendation, so it can be uninstalled. We'll set a conflict between kolibri package and python3-markdown >= 3.4 to avoid this problem. Thanks for the report!

[2022-08-18 17:51] holta commented on #9634
No idea why samba packages drag in `python3-markdown`

Curious indeed (-:

[2022-08-18 18:26] #9634 closed, assigned to jredrejo

[2022-08-18 18:26] jredrejo commented on #9634
Issue moved to [learningequality/kolibri-installer-debian #112](https://github.com/learningequality/kolibri-installer-debian/issues/112) via [**ZenHub**](https://www.zenhub.com/)

[2022-08-19 17:02] bjester opened #9641 "In Kolibri deployments, multiple frontend instances cause duplicate processing of tasks"
## Observed behavior

In Kolibri cloud deployments, such as Kolibri Data Portal (KDP), we start multiple instances of Kolibri, each within an individual Kubernetes pod. Starting several instances of Kolibri means we also start up separate task workers within each pod. Doing so creates the opportunity for the duplication of task processing, since Kolibri's task processing does not protect against t

[2022-08-19 17:03] bjester commented on #9641
@rtibbles

[2022-08-19 20:54] rtibbles commented on #9625
Fixed in #9635

[2022-08-19 20:54] #9625 closed, assigned to marcellamaki, thanksameeelian

[2022-08-19 21:17] radinamatic commented on #9412
@rtibbles nailed it:

![Win10 (start)  Running  - Oracle VM VirtualBox_003](https://user-images.githubusercontent.com/1457929/185708403-ca07bed9-8820-4201-8bb2-9d4d9e1d561a.png)

[2022-08-19 23:35] holta opened #9647 "Three Kolibri install glitches on Linux Mint 21 "Vanessa""
@jredrejo can you clarify if these 3 are serious concerns or not?

Ideally with your recommendation on how http://internet-in-a-box.org should install Kolibri 0.15.6+ onto Linux Mint 21[*] in a suitably safe way for everyone worldwide :heavy_check_mark:

[*] OS happens to be _very popular_ in _many_ African schools!

1) Ansible unfortunately fails to install Kolibri's PPA on Mint 21, with this err

[2022-08-20 00:02] holta commented on #9647
@jredrejo for now I implemented the special casing of (Kolibri installs onto) Linux Mint 20 and Mint 21 as follows:

- PR iiab/iiab#3347

(But please let me know if you have a better way, Thank You!)

[2022-08-22 13:02] marcellamaki commented on #9412
Thanks @radinamatic - I've removed you as the assignee and updated the title to better describe the bug so we can assign this in the next iteration 🎉

[2022-08-22 18:48] #7680 closed, assigned to rtibbles

[2022-08-22 18:53] nucleogenesis commented on #9506
@thanksameeelian and I walked through this and tried to replicate on 0.15.x but could not. We tried downloading a channel and deleting it but that did not cause the reported error. Closing unless replicated.

[2022-08-22 18:53] #9506 closed, assigned to nucleogenesis, thanksameeelian

[2022-08-23 15:48] nucleogenesis commented on #9088
@akolson and I made some progress on this but were not able to replicate it without artificially forcing the app to think there are no attempt logs.

We cannot get the notification to pop up at all without actually interacting with the lesson exercise.

In any case, we will return to this next week to wrap it up by trying to add a condition that will not link to a broken Report page.

[2022-08-23 15:54] rtibbles commented on #7537
This has been fixed in the 0.15.6 release of the Android App.

[2022-08-23 15:54] #7537 closed, assigned to rtibbles

[2022-08-23 18:29] marcellamaki opened #9653 "Create a themed test branch for branding work"
Using our theming, apply branding to a test branch/project for designers to test.

[2022-08-23 21:28] sentry[bot] opened #9656 "Return 404 rather than 500 when facility does not exist in download CSV endpoints"
Sentry Issue: [KOLIBRI-BACKEND-29Q](https://sentry.io/organizations/learningequality/issues/3305340239/?referrer=github_integration)

[code]

[2022-08-24 15:55] nucleogenesis commented on #8901
Closed, moved to [Notion](https://www.notion.so/learningequality/Finish-Applying-new-Page-based-architecture-to-front-end-plugins-in-Kolibri-aka-CoreBase-3c5912565c0747c98ffde07ae2730a41)

[2022-08-24 15:55] #8901 closed, assigned to nucleogenesis

[2022-08-27 09:02] camperjett commented on #9626
@radinamatic I would like to take up this issue

[2022-08-27 09:08] camperjett commented on #9632
Hi @pcenov! Can I take up this issue 😃

[2022-08-29 15:39] jredrejo commented on #9330
This screen has been removed after the changes done in the design in the discussion of #9328

[2022-08-29 15:39] #9330 closed, assigned to jredrejo

[2022-08-29 19:32] jredrejo opened #9671 "Create "Change Facility" screen if username exists"
# Overview

Adds a confirmation page to flows when a username in the current facility exists in the targe favility

## Figma

![image](https://user-images.githubusercontent.com/1008178/187282696-af6ca24f-018e-4cbd-b744-40d1fedd563f.png)

[2022-08-29 22:22] rtibbles commented on #9632
This issue is also extant on 0.15.x so should be fixed there.

@camperjett if you would like to take this issue on, you are welcome to. The relevant code is found in the facility plugin in the `UserTable` component: https://github.com/learningequality/kolibri/blob/release-v0.15.x/kolibri/plugins/facility/assets/src/views/UserTable.vue#L208

The issue seems to be caused by not ensuring that the sel

[2022-08-29 22:29] rtibbles commented on #9626
Hi @camperjett - you are welcome to take a look at this - this would be on the develop branch, confirming that we have not missed any instances of this. Please search for all instances of `facility` in user facing strings *in the setup wizard* and ensure that we have updated to `learning facility`.

[2022-08-29 22:38] rtibbles commented on #4500
Closing - it seems preferable to have some sort of class invitation flow for enrollment without an admin.

[2022-08-29 22:38] #4500 closed, assigned to nobody

[2022-08-29 22:48] rtibbles commented on #5700
Closing this as a won't fix - the vast majority of the collisions here are for `id` fields on Django models, this is idiomatic for Django, and would be an enormous pain to change.

Many of the other instances are also a result of using standard method names for different frameworks.

[2022-08-29 22:48] #5700 closed, assigned to nobody

[2022-08-29 22:49] rtibbles commented on #5763
Going to defer this specific issue to #5305 and close this as a duplicate.

[2022-08-29 22:49] #5763 closed, assigned to nobody

[2022-08-29 23:03] rtibbles commented on #5917
It seems that even with an upgrade of PDFJS, this has not been resolved.

[2022-08-29 23:09] rtibbles commented on #6067
This has begun to be addressed in #9460 and will be fixed by #9467.

[2022-08-29 23:15] rtibbles commented on #6545
This PR by @bjester https://github.com/learningequality/kolibri/pull/9556 added some make commands to make this easier, but instructions would finalize this issue!

[2022-08-30 08:02] 10kartik commented on #9626
Hello @camperjett, are you working on this issue? else I'm interested to contribute for the same.

[2022-08-30 15:23] bjester opened #9677 "Decrease syncing chunk size to reduce memory load in Morango's buffer API"
## Observed behavior

@nucleogenesis's testing on migrating a large database to our cloud Kolibri infrastructure (BCK) encountered increased memory usage when transferring data. This occurred on the server side of a push sync, where Morango POSTs buffers to the API. It resulted in Kolibri getting OOM killed and a 502 error on the client side.

## Expected behavior

Reducing the chunk size a little

[2022-08-30 15:23] nucleogenesis opened #9678 "Update Crowdin API v1->v2"

[2022-08-30 15:35] bjester commented on #9550
@radinamatic Could you and/or @pcenov reproduce this?

[2022-08-30 15:53] bjester commented on #9677
I will also integrate https://github.com/learningequality/morango/pull/174 with this change

[2022-08-31 11:21] pcenov commented on #9550
@bjester I'm not able to replicate the issue following the steps provided above. Tested in Kolibri 0.15.7.
Here's a screenshot showing the original Channel A and the subsequently created Channel B using content from Channel A and containing both a modified thumbnail and an unchanged resource with the original thumbnail from Channel A:

![2022-08-31_14-14-48](https://user-images.githubusercontent.c

[2022-08-31 13:54] bjester commented on #9550
Thanks @pcenov! With your confirmation this is working on standalone installations, we believe this must be isolated to BCK deployments, and will help us further investigate the cause.

[2022-08-31 14:33] nucleogenesis opened #9680 "Clicking "Take me to new question" link on broken exercise shouldn't count as an attempt"
## Observed behavior

While testing an issue with Coach notifications, the content I tried to test as a learner was broken - so I clicked the link it gave me to try a new question and it counted those questions against me as attempted, but failed, so the Coach sees that the user "Needs help" (which admittedly they might if the content is broken).

In any case - we should find an alternative way of

[2022-08-31 16:24] rtibbles commented on #9172
Fixed in #9659

[2022-08-31 16:24] #9172 closed, assigned to nucleogenesis, AllanOXDi

[2022-08-31 16:25] rtibbles commented on #8256
Fixed in #9657

[2022-08-31 16:25] #8256 closed, assigned to rtibbles

[2022-08-31 16:25] rtibbles commented on #9656
Fixed in #9657

[2022-08-31 16:25] #9656 closed, assigned to rtibbles

[2022-08-31 16:27] rtibbles commented on #9600
Fixed in #9664

[2022-08-31 16:27] #9600 closed, assigned to akolson, MisRob

[2022-08-31 17:26] nucleogenesis commented on #8797
I think that this issue has been resolved by https://github.com/learningequality/kolibri/pull/9461 (and maybe others) where the entire deletion workflow was moved to the task workflow, so it is no longer a blocking UI at all cc @rtibbles

[2022-08-31 17:28] rtibbles commented on #8797
This was always a backend task - so there's no change here. This is just about giving more meaningful status messages while the backend task is in progress.

One thing to note is that I think we have made the very long stage that was not being reported on a bit less long - would still be good to add this messaging though.

[2022-08-31 17:50] nucleogenesis commented on #8797
That's good to know - I think that guidance on precisely where that messaging should go would be helpful to get this unblocked.

Additionally, does this issue also affect any other tasks? Do we need messages for all tasks, a generic message for all of them or just one for the deletion task?

Once we know where the messages should go and what they should be this should be good to go I think

[2022-08-31 17:57] rtibbles commented on #8797
I don't think we've had any reports of other tasks where this is an issue - for some tasks (like syncing and facility/single user import) we even have distinct messaging for different stages of the task being in progress, which seems to match up with the desired behaviour here.

[2022-09-01 07:37] MisRob commented on #9563
@Akash-Kumar-Sen I'm unassigning you, in case this is in progress, please post a comment here and I will re-assign you

[2022-09-01 18:20] rtibbles commented on #9088
Fixed in #9682

[2022-09-01 18:20] #9088 closed, assigned to akolson, nucleogenesis

[2022-09-01 20:05] rtibbles commented on #9641
Noting that in the fix above, I have not added the process annotation. I think that's feasible, but would be better done in 0.16, as it will require schema changes to add the column, so when the above is reviewed and merged, I'll make a follow up issue for that.

[2022-09-04 14:30] MisRob commented on #9329
Closing as "Create Account" has been already implemented and "Edit account" doesn't need to be implemented because we removed this step from the flow.

[2022-09-04 14:30] #9329 closed, assigned to jredrejo, MisRob

[2022-09-05 18:17] jredrejo opened #9692 "Create select username screen"
# Overview

After selecting a target facility where the user wishes to merge, this screen allows to select the username he wants to merge with.

## Figma

![image.png](https://images.zenhubusercontent.com/602bf8d8a2838a600ff21ee4/f912e20f-0ed7-41b7-af94-e8e75bdda019)

[2022-09-05 21:22] manuq opened #9693 "develop: Kolibri fails to initialize after registering a custom plugin"
## Observed behavior
On the Android app using the develop branch: trying to register a custom plugin makes the `initialize()` fail with:

## Errors and logs
[code]

## Expected behavior
Using Kolibri v0.15 we were able to do something like the following to replace the Learn plugin by another custom plugin:
[code]

[2022-09-06 09:16] #9328 closed, assigned to jredrejo

[2022-09-06 16:00] rtibbles commented on #9693
This is intended behaviour - you are prematurely initializing the plugin registry with the call to `registered_plugins.register_plugins` - this is also unnecessary for what you are trying to achieve.

[2022-09-06 16:00] #9693 closed, assigned to nobody

[2022-09-06 16:09] rtibbles commented on #8649
Fixed in #9666

[2022-09-06 16:09] #8649 closed, assigned to AllanOXDi

[2022-09-07 19:12] manuq opened #9696 "Kolibri develop: Disabled plugins are still being considered in redirects"
Disabling the Learn plugin doesn't unregister the LearnRedirect hook. Which results in the traceback below. Note that we have a similar plugin with aredirect hook for the same roles, however it's URL is not being returned by the `get_url_by_role()` function in `kolibri.core.views`.

## Errors and logs
[code]

[2022-09-07 20:18] nucleogenesis opened #9697 "Scope & Design: Handling of missing resources in Lessons in the Syncing Era of Kolibri"
## Observed behavior

While @akolson and I investigated #9412 we found a quick solution on the front-end but then considered how we may resolve the issue that caused it on the back-end.

The issue there being that a Lesson is on the device, but it points to a resource that is no longer on the device. This broke the side panel in one instance, but Samson and I discussed how the fact that we were ge

[2022-09-08 06:05] MisRob commented on #9626
Hi @10kartik, thank you for your interest. As we haven't heard from @camperjett for some time, and we will need to have this ready before the next major release, if you're interested, you're welcome to tackle this issue. If you could let me know as soon as you start working, that'd be helpful so we know that it's in progress. Otherwise, we will assign this to one of the core team members in the ne

[2022-09-08 21:07] #6067 closed, assigned to nobody

[2022-09-09 07:05] 10kartik commented on #9626
Yeah @MisRob, I'd like to give it a try! I'll try to explore more around and fix this issue. Thanks!

[2022-09-09 07:50] MisRob commented on #9626
Great, thanks

[2022-09-09 15:09] rtibbles commented on #7683
Fixed in #9695

[2022-09-09 15:09] #7683 closed, assigned to AllanOXDi

[2022-09-09 17:13] bjester opened #9704 "Implement new design for "Export usage data""
## Observed behavior

The existing design:
![Screenshot from 2022-09-09 10-04-03](https://user-images.githubusercontent.com/819838/189404814-9ad72886-7cdc-4259-925a-7e1a3f8c8e16.png)

## Expected behavior

In the new design:
- The notes should be relocated to appear in modals on click of a "Learn more" link
- The new design should be responsive to varying viewport sizes down to mobile
  - the <kbd

[2022-09-09 17:31] bjester opened #9705 "Implement new `KDateRange` component in log export"
Depends on https://github.com/learningequality/kolibri/issues/9704 and https://github.com/learningequality/kolibri-design-system/issues/360

## Observed behavior

- Current behavior generates a log for all-time when <kbd>Generate log</kbd> is clicked
- The current file names follow the pattern:
  - `{facility_name}_{last 4 digits of facility ID}_{log export type}.csv`
  - Example:

## Expected beh

[2022-09-12 15:16] #9331 closed, assigned to jredrejo

[2022-09-12 15:17] #9671 closed, assigned to jredrejo

[2022-09-12 18:55] rtibbles commented on #9412
Fixed in #9700

[2022-09-12 18:55] #9412 closed, assigned to akolson, nucleogenesis

[2022-09-12 19:01] rtibbles opened #9710 "Store worker hostname and process id when jobs are picked up for execution by workers"
Requirements:

* Add a nullable field to the jobs table (to allow for alternate task runner implementations that do not add this information, e.g. the WorkManager API in the Android app context) to store the hostname and process id of the worker process that picked up a task for execution.
* Make the worker implementation annotate this data if available onto the job object when it picks up the job

[2022-09-12 19:01] rtibbles commented on #9641
Fixed in #9684 - follow up added in #9710.

[2022-09-12 19:01] #9641 closed, assigned to rtibbles

[2022-09-12 20:48] rtibbles commented on #9696
Flagging that I am unable to replicate this when the disabling is done from the command line. @manuq can you paste the script you currently have for when the disabling is happening?

[2022-09-12 21:00] rtibbles commented on #9550
It would be good to check this behaviour on a BCK server, as I cannot currently see why there would be any difference in behaviour.

It's possible that this was accidentally fixed by https://github.com/learningequality/kolibri/pull/9338 (which went into 0.15.3, while this issue was reported on 0.15.2).

[2022-09-12 21:05] rtibbles commented on #9444
I believe we removed the debounce on the input because it was too long, but seems like we may need something in the 250ms range?

[2022-09-13 06:44] MisRob commented on #9626
@10kartik We realized that this might be hard to test and preview due to some work in progress on `develop` and also because of design access. It's not that it would be impossible, though if you haven't started working on this yet, I'd recommend choosing another issue.

[2022-09-13 06:46] 10kartik commented on #9626
Cool @MisRob, I'll search for another issue.. Thanks!

[2022-09-13 13:11] pcenov commented on #9550
@rtibbles I checked the behavior on the following BCK server: https://content-demo.learningequality.org/ and was again not able to replicate the issue - all thumbnails are displayed correctly.

[2022-09-13 13:34] rtibbles commented on #9550
OK, I believe this was indeed fixed by #9338 then, and I'll close this.

[2022-09-13 13:34] #9550 closed, assigned to rtibbles

[2022-09-14 15:24] rtibbles commented on #9345
Fixed in #9699.

[2022-09-14 15:24] #9345 closed, assigned to LianaHarris360

[2022-09-14 16:49] powrsurg opened #9718 "Allow some configuration option to prevent offsite links"
## Observed behavior

Users can click on links in places like the Usage and Privacy section and get access to the outside internet.

This can be problematic for organizations such as correctional facilities that want to lock down access as a security measure. In an ideal world for them there would not even be links to an outside system.

This is a feature request I do not know how to label things

[2022-09-15 00:41] rtibbles commented on #9718
Hi @powrsurg - thanks for the issue. We've been considering this issue for other links that we sometimes expose, and definitely think that migrating as much as possible to be encapsulated is ideal. We'll take a look into this and see what makes the most sense!

[2022-09-15 18:50] rtibbles commented on #9677
Fixed in #9714

[2022-09-15 18:50] #9677 closed, assigned to bjester

[2022-09-16 12:38] MisRob opened #9725 "Change facility: Set a new super admin"
In https://github.com/learningequality/kolibri/pull/9715, _Choose a new super admin_ page and related state machine updates have been implemented. When a user chooses a new super admin on that page, we decided that we will only save the new super admin's ID to the machine's context `newSuperAdminId` attribute but won't actually set the new super admin yet on the source facility. That should rather

[2022-09-16 15:46] marcellamaki opened #9726 "Regressions on Learn UI"
After a full regression test of the latest build, @pcenov found the following issues:

| Issue| Screenshot |
:-------------------------:|:-------------------------:
| Library > Recent - The ‘View as list’ view is broken in all supported browsers | ![2022-09-15_16-16-37](https://user-images.githubusercontent.com/79847249/190432273-ea449d0f-689f-4a84-91d3-3603437ce4e5.png)|
:------------------------

[2022-09-16 16:30] #9326 closed, assigned to MisRob

[2022-09-16 21:54] andersan commented on #9097
Just getting to this now 😅

Is there an example of where the indeterminate checkboxes are used elsewhere in the app? I can't get this to work consistently and it'd help to compare to a completed implementation.

[2022-09-16 22:18] andersan commented on #9563
Not sure how to fix this one yet, but when I remove the "type="password"" from the PasswordTextbox.vue file, the outline works. It shows the password typed by the user on the screen then, though.

![Screenshot from 2022-09-16 17-15-49](https://user-images.githubusercontent.com/12814577/190815125-519134c8-8ff4-43d0-b755-bc51387cdc39.png)

[2022-09-19 16:30] andersan commented on #9563
This seems like this is a bug in the kolibri-design-system library rather than the kolibri repo.

https://github.com/learningequality/kolibri-design-system/blob/185f5ffd04a1cfa3d04c44093c61accbdf1424fe/lib/styles/generateGlobalStyles.js#L39

The above code assigns the outline style to inputs. I wonder we'll need to add a fix to the `themeOutlineStyle()` function in order to get it to assign the ou

[2022-09-20 09:14] MisRob commented on #9097
Hi @andersan,

I was able to locate some places in code where indeterminate checkboxes are used, however, as a user, I can't really see the desired output as those checkboxes that should be indeterminate are rather empty. I will check on this with the team to find out whether this was an intentional UI change and the code related to the indeterminate state is obsolete or if I should report those o

[2022-09-20 09:41] MisRob commented on #9563
Hi @andersan, thank you for looking into this. I think it may be a bug either in Kolibri or in Kolibri Design System, yes.

From https://github.com/learningequality/kolibri-design-system/blob/7324ffa818e3d356c768a63397a66626fb1a00fd/lib/styles/theme.js#L61-L69 and https://github.com/learningequality/kolibri-design-system/blob/7324ffa818e3d356c768a63397a66626fb1a00fd/lib/styles/generateGlobalStyles

[2022-09-20 09:44] MisRob commented on #9563
@andersan And regarding

This issue seems to be more important than the other one. Accessibility is important for us so I have no doubt that fixing this would be much appreciated :) At the same time, we're grateful for any contribution, and you're welcome to choose what to work on.

[2022-09-20 09:47] MisRob commented on #9563
@andersan I'll assign you now so that we know there may be some work. If you're not going to work on it, it'd be helpful if you could let us know or unassign yourself. Thank you.

[2022-09-20 14:02] Ndace-hash commented on #9058
Hello @MisRob
I don't know if this issue has been handled already. If it is still open, I'd like to work on fixing it

[2022-09-20 14:08] MisRob commented on #9058
Hi @Ndace-hash, thank you for your interest. It is still open, yes. Perhaps UI may change in some areas since we reported this issue, but I don't know about any fixes targeting this particular area, so you're welcome to try to reproduce it and eventually resolve it.

[2022-09-20 21:17] #9274 closed, assigned to marcellamaki

[2022-09-20 21:23] rtibbles commented on #7667
Fixed in #9728

[2022-09-20 21:23] #7667 closed, assigned to rtibbles

[2022-09-20 21:24] rtibbles commented on #9255
Fixed in #9721 - thanks for the report @abdelrahman725 !

[2022-09-20 21:24] #9255 closed, assigned to rtibbles, thanksameeelian

[2022-09-20 22:08] andersan commented on #9563
@MisRob Thanks for the additional context and direction! That was super helpful.

It looks like the bug is likely in the trackInputModality.js file in the kolibri-design-system repo. The "hadKeyboardEvent" condition is evaluating to false on the PW inputs but not on the username/full name inputs. I'll look into this further and send a PR when fixed.

[2022-09-20 22:13] marcellamaki commented on #9563
@andersan - feel free to @ me in a comment here if you have any questions as you're working on this! @MisRob will be out of office starting early next week, I was making some updates to that file to improve our focus outlines not too long ago, so I'm happy to help you out if I can. (Or accept blame if the git history indicates that this is my fault 😃)

[2022-09-21 09:10] MisRob commented on #9563
Thank you, both. @marcellamaki As far as my memory goes, nearly every person who touched that file broke something unexpectedly. So perhaps that says something and we could eventually consider replacing that logic with something simpler in the future (`:focus-visible`, perhaps) or at least think about ways how to make it more reliable. That's not a suggestion for this particular bug though, I thin

[2022-09-21 11:17] MisRob commented on #9097
@andersan So we were able to locate a place we can provide as an example after all, even though the use-case is a bit different. If that's helpful, you can find indeterminate checkboxes in action in _Device_ when managing channel resources - for example. select just one resource in a child folder and then navigate one level higher:

![indeterminate](https://user-images.githubusercontent.com/135091

[2022-09-21 12:55] andersan commented on #9563
Turned out to be a lot simpler than I thought yesterday - just needed to add "input[type=password]" to the [list of elements targeted by the keyboard modality](https://github.com/learningequality/kolibri-design-system/blob/7324ffa818e3d356c768a63397a66626fb1a00fd/lib/styles/trackInputModality.js#L21).

Submitted a PR in the kolibri-design-system repo.

[2022-09-21 13:00] MisRob commented on #9563
Great, thanks

[2022-09-21 13:00] MisRob commented on #9563
Linking the PR and this issue https://github.com/learningequality/kolibri-design-system/pull/364

[2022-09-21 16:28] bjester opened #9731 "Previewing resource shows Level metadata as alphanumeric IDs instead of their string names"
Extracted from https://github.com/learningequality/studio/issues/3664

## Observed behavior
Incorrectly displayed metadata names for Levels in Kolibri-- alphanumeric metadata IDs are shown instead:

![2022-09-21_17-06-35](https://user-images.githubusercontent.com/79847249/191549491-875bcae3-9e8d-4292-8c63-46354b55da09.png)

## Steps to reproduce the issue
1. Go to https://hotfixes.studio.learninge

[2022-09-21 19:38] rtibbles commented on #8536
Fixed in #9729

[2022-09-21 19:38] #8536 closed, assigned to rtibbles

[2022-09-21 21:05] rtibbles commented on #9444
Fixed in #9723

[2022-09-21 21:14] #9623 closed, assigned to marcellamaki

[2022-09-21 21:33] rtibbles commented on #7751
Fixed in #9658

[2022-09-21 21:33] #7751 closed, assigned to nucleogenesis

[2022-09-22 14:35] bjester commented on #9705
Thinking through the logic for the 2 export date selection states, if I selected Sept 2022 as the last end date for my export, during that same month (like we are currently), would it make sense to default the next export's start date to Sept 2022 since the last export contained the incomplete month of Sept 2022? I think this is where mention of the inclusive nature of the dates might make sense.

[2022-09-22 14:40] rtibbles commented on #9705
One other caveat to be aware of here, is to make sure to use the `serverClock` utilities, to ensure that we are using date and time as reckoned by the server device, and not the client (as they can sometimes be fairly different if there have been power issues on either side!):

[code]

See examples in the codebase here: https://github.com/learningequality/kolibri/search?q=serverclock

[2022-09-22 17:14] rtibbles commented on #9613
Fixed in #9722

[2022-09-22 17:14] #9613 closed, assigned to rtibbles, AllanOXDi

[2022-09-23 13:07] #9276 closed, assigned to marcellamaki

[2022-09-23 13:07] #9277 closed, assigned to marcellamaki, arishmaurya

[2022-09-23 14:32] manuq commented on #9696
@rtibbles sorry for the delayed answer. I just tried and I also can't replicate it through the command line.

Our current script is hard to follow, but it basically disables the Learn plugin [here](https://github.com/endlessm/kolibri-installer-android/blob/7c8a5172729765f0fb12f1a723e88f5b717a4527/src/main.py#L219-L220) and later in execution (after some user intervention) Kolibri starts [here](htt

[2022-09-23 14:44] rtibbles commented on #9696
The only thing I can think of is if one of the imports from kolibri is somehow setting off the hook registration - but then that should only be happening when the plugins are also registered, which would then give you the runtime error you had seen before.

The link to the script may help with replication though, thanks!

[2022-09-23 14:52] rtibbles commented on #9696
So, the issue appears to be that disabling a plugin also has the unintended side effect of registering its hooks. This doesn't have any effect from the CLI, as it's only registered in memory, but is appearing here. I think I know how to fix this.

[2022-09-23 15:53] andersan commented on #9097
Thanks for the example of a place where the indeterminate checkbox is used. I can also see one in the "Create new quiz" UI in the coach area.

I'd like to outline some changes to the behavior in this view (selecting lesson recipients, the focus of this issue thread). That way, we can all be on the same page of what the UX should be.

1. If a group is selected and nothing else is selected, the indi

[2022-09-23 20:24] rtibbles commented on #9731
Fixed in #9736

[2022-09-23 20:24] #9731 closed, assigned to marcellamaki

[2022-09-23 20:48] Ndace-hash commented on #9058
Hello @MisRob, I am trying to setup Kolibri on windows and I'm facing a lot of difficulties.
I have tried following the online developers documentation. I tried to install pyenv and I'm getting some errors

[code]

[2022-09-23 20:50] rtibbles commented on #9058
It seems like you might be facing the issues described in this thread: https://github.com/pyenv/pyenv/issues/332

I see you are working on Windows - please be aware that we do not routinely develop on Windows machines, so there may be other unexpected issues during dev setup.

[2022-09-23 23:20] manuq commented on #9696
@rtibbles thanks so much. I have confirmed that the PR above fixes the issue.

[2022-09-26 15:59] rtibbles commented on #9211
Noting that I believe the complexity here was the dynamic resizing after render. If you exit and reenter the exercise at the new screen resolution, I think the issue does not persist.

[2022-09-27 16:50] AllanOXDi opened #9745 "Completed EPUBs should not be shown on the most recent"
## Observed behavior
Completed content is still being filtered and returned in the recent filter.
The progress bar does not correlate with the consumed content progress. This might be the reason for the bug

## Errors and logs
Video of behaviour:

https://user-images.githubusercontent.com/1680573/192615285-b04348e7-ca04-499c-a114-47de3294114a.mp4

## Expected behavior

When a learner(User) finishe

[2022-09-28 20:05] #9696 closed, assigned to rtibbles

[2022-09-29 14:33] marcellamaki opened #9754 "Dropdowns not working on `develop`"
## Observed behavior
Recent updates to KDropdownMenu are not fully working on develop. On clicking a dropdown button, no menu appears.

## Expected behavior
Dropdown menu should open.

## User-facing consequences
Selections not available

## Steps to reproduce
Navigate to a page with a dropdown menu (i.e. device content page) and see that the dropdown (i.e. "Options") does not work

## Context
`de

[2022-09-29 14:54] marcellamaki commented on #9097
Sorry for the delay @andersan and thanks for following up on this.

In regards to your questions:

3. If all learners from a group are selected (e.g. by pressing the top "Entire class" checkbox, or by selecting all individual learners from that group), then that checkbox will become checked. - **Correct**
4. If some learners from a group are selected via the individual learner selector interface,

[2022-09-30 09:16] #9692 closed, assigned to jredrejo

[2022-10-01 12:23] camperjett commented on #9505
Hi @socketbox. Sorry for replying after more than a month. I understood that adding a new environment variable will help checking if we want to log requests or not, so the variable `KOLIBRI_DISABLE_REQUEST_LOGGING` should be set to disable the same. But I do not quite fully understand what the logging configuration does. Could you please help me on that? Like what does the ```"handlers": DEFAULT_H

[2022-10-01 14:28] rtibbles commented on #9505
For complete details of what the different elements of the logging configuration mean, see the Python documentation here! https://docs.python.org/3/library/logging.config.html#dictionary-schema-details

`handlers` describes which of the handlers specified in the top level `handlers` entry this particular logging entry should use - generally we use the same handlers for everything, so no need to ed

[2022-10-02 08:28] camperjett commented on #9505
I added just one more entry in `loggers` as
[code]
But now the cherry.access module does not logs any where, neither in console nor in kolibri.txt contrary to my expectation which were that the logging would continue to be the same a before. If I set `"propagate": False` in this entry, it works as expected. Could you help me on that?

[2022-10-02 11:17] camperjett commented on #9505
Hi @socketbox! I have done the changes. I was wondering how to add a custom flag like `--disable-request` in the command `kolibri start`?

[2022-10-04 17:38] jtamiace commented on #8871
An updated spec based on the discussion in [this thread](https://learningequality.slack.com/archives/C0LKG14NL/p1664832450091809) that includes decisions above:

Removing the "All" options from the Category and Activity filters and introducing a "Clear" action in filter panel when the filter is active

<img width="1821" alt="Screen Shot 2022-10-04 at 10 37 46 AM" src="https://user-images.githubuse

[2022-10-04 18:36] radinamatic commented on #8871
@jtamiace Could you also review the Gherkin scenarios in [this folder](https://github.com/learningequality/kolibri/tree/develop/integration_testing/016-features/learner/library-page) and suggest the steps that need to be added and/or amended? Mention @pcenov and me so we're ready to support when the change is introduced in the code.

[2022-10-04 21:43] jtamiace commented on #8871
@radinamatic @pcenov it looks like these changes are applicable to two files there.

/search-with-category-filters.feature
Remove the entire scenario: Select "All categories" from the Category filter"

/search-results.feature
Add new scenarios for clearing category and activity. Steps (given you're viewing search results):
Scenario: "Clear filter from Categories"
When I click the "Clear" button ne

[2022-10-05 16:15] rtibbles opened #9761 "Read media files more efficiently from zipped files"
Currently in our implementation of H5P, we load the entire H5P file into the frontend and then extract all its constituent files into `Blob` objects and create URLs for them.

This has the distinct advantage of being very robust and being very predictable. It has the slight downside of causing incredibly long loading times for H5P files that contain large bundled media files such as video or audio

[2022-10-06 15:31] #9505 closed, assigned to nobody

[2022-10-06 15:32] AllanOXDi commented on #9253
Hey @nucleogenesis ! I have tried to recreate this issue you raised. I imported something that does not exist on the api_url and when I run the Kolibri, it seems to be pointing me to the right thing. in other words, we are trying to catch the error before and the Django error message is useful.

`WARNING  2022-10-06 17:58:52,817 Tried to import module api_urls from kolibri.plugins.learn but an err

[2022-10-06 15:37] AllanOXDi commented on #9253
I am wondering if you could give me more details

[2022-10-11 12:46] marcellamaki commented on #9563
Closed with https://github.com/learningequality/kolibri-design-system/pull/364

[2022-10-11 12:46] #9563 closed, assigned to andersan

[2022-10-11 15:45] nucleogenesis commented on #9745
I dug into the EPub renderer a while back and I think the issue I was looking at is related here.

If I am recalling correctly, the logic around tracking progress as a user goes through pages is busted where the epubjs instance is not consistently sharing the total number of pages. Epubs reflow (change their amount of pages altogether) as the space available changes (or font size, etc) so how the

[2022-10-11 16:01] rtibbles commented on #9745
From what I recall, the issue was that we were using a mechanism that should be robust to reflow, but that there was another issue happening in terms of the generation of the page ids that was causing the issue.

[2022-10-14 13:15] pcenov commented on #8176
Hi @radinamatic I'm able to replicate the above described behavior in Kolibri 0.15.8.

Steps to reproduce:
1. Setup 2 devices as a learn only devices for one and the same user.
2. Assign a quiz to the user and wait until both devices are synced with the server and the quiz is available.
3. Stop the server
4. Complete the first question of the quiz on one of the learn only devices and submit it.
5.

[2022-10-14 14:45] radinamatic commented on #8176
@rtibbles @jtamiace Still extant, needs UX decisions too probably.

[2022-10-14 15:40] marcellamaki opened #9772 "Create "Sync Schedules" Page"
### Overview

Add a new page, "Sync Schedules", that lists all scheduled syncs and their corresponding devices, and provides a way to add, edit or delete these syncs. The table should also display the sync status. It should also add the dropdown menu option on the Facility and Device pages, to add "manage sync schedules"

_Note_: This page will be shared between the facility and device plugins

##

[2022-10-14 16:56] eapdso commented on #9519
We are seeing this issue happening again in 15.7 version. Can this be reopened as a regression?

[2022-10-14 17:07] radinamatic commented on #9519
@eapdso The current release is 0.15.8 where the issue is not extant anymore. Please [update your Kolibri](https://learningequality.org/download/) instance.

![Win10 (0 15 8)  Running  - Oracle VM VirtualBox_001](https://user-images.githubusercontent.com/1457929/195903055-39d65f68-5eac-4773-b3c6-bf9674570ee7.png)

[2022-10-17 18:32] rtibbles commented on #9348
To follow up here - once completion has achieved, we will then wait for the `finished` event to trigger the modal.

[2022-10-17 22:28] #9553 closed, assigned to marcellamaki

[2022-10-17 22:31] #9726 closed, assigned to marcellamaki

[2022-10-18 14:02] marcellamaki opened #9779 "Device Settings Updates: Download on a metered connection"
## Overview

This issue is a full-stack issue that updates the Device Settings page to include a setting where the user can determine whether or not to download data on metered connections. **The default behavior is to _not_ download on metered connection.** The setting should be set to false by default, and then the user can change it.

To avoid having to create a new migration for each field, we

[2022-10-18 14:04] marcellamaki opened #9780 "Device Settings Updates: Primary and Additional Storage Location(s)"
## Overview

This issue is a full-stack issue that updates the Device Settings page to include a setting where the user can determine the primary storage path. It also implements the full CRUD functionality, so a storage path can be added, deleted, and read, and the storage location which is the primary can be changed.

To avoid having to create a new migration for each field, we will be using a f

[2022-10-18 14:05] marcellamaki opened #9781 "Device Settings Updates: Auto Download"
## Overview

This issue is a full-stack issue that updates the Device Settings page to include a setting where the user can determine whether or not to automatically download new materials such as lessons and quizzes. **The default behavior is to download automatically**. The setting should be set to true by default, and then the user can change it. There is an additional setting which determines

[2022-10-18 14:05] marcellamaki opened #9782 "Device Settings Updates: Native App Layout Updates"
## Overview

This issue is a front-end issue that updates the native app layout view of the Device Settings page.

## Specifications
### Figma

[Complete figma spec](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1384%3A16773).
<img width="466" alt="Screen Shot 2022-10-21 at 11 31 47 AM" src="https://user-images.githubusercontent.com/17235236/197238987-a9d1c1f8-afcf

[2022-10-18 14:06] marcellamaki opened #9783 "Device Settings Updates: Feature Disabled"
## Overview

This issue is a full-stack, but read-only issue that updates the Device Settings page to have disabled sections based on particular Kolibri configurations.

This should be completed _after_ the other issues for adding the UI for these settings is complete. It should add a `disabled` attribute to each of these settings, and set conditions to check it. It should also add the banner to t

[2022-10-18 17:07] rtibbles opened #9784 "When the root folders of channels appear in search results, they appear as unadorned folder cards rather than channels"
## Observed behavior
Search can result in folders being displayed in search results. When a folder is the root folder of a channel, it does correctly link to the channel root in Kolibri, but does not display the additional channel metadata that is already available in the client side.

See the first folder here, when clicked, links to the root of the channel

![image](https://user-images.githubuse

[2022-10-18 17:09] nucleogenesis commented on #8919
Per Radina - background on background is less an a11y concern as long as the text contrast is accessible. Less an a11y issue but perhaps a design concern?

Tomiwa notes that we could play with border or darker gray -- but also that it works alright as-is.

[2022-10-18 17:09] #8919 closed, assigned to nobody

[2022-10-18 17:19] nucleogenesis commented on #6222
- Tomiwa: not easy to see potential edge cases before we start - so may make the work a bit harder.

- Radina & Petar perhaps could audit during integration tests

Next steps? Target?

- Marcella: Could be good to prioritize in 0.16 as it would improve mobile experience

-- will assign to Radina, QA team will identify places where this change can be made

Jacob: Perhaps this can be patch release-f

[2022-10-18 17:31] rtibbles commented on #3251
Fixed in #9740

[2022-10-18 17:31] #3251 closed

[2022-10-18 17:35] rtibbles commented on #8868
Fixed in #9776

[2022-10-18 17:35] #8868 closed, assigned to rtibbles, AllanOXDi

[2022-10-18 17:36] rtibbles commented on #9498
Fixed in #9774

[2022-10-18 17:36] #9498 closed, assigned to marcellamaki

[2022-10-19 12:36] AllanOXDi commented on #9745
Update! From what I have seen so far. This issue is affecting not only EPUBs but some video content as well. This gives us a little bit more clue on what to look for.

[2022-10-20 19:27] jtamiace commented on #8176
Initial thought is that there should be different behaviors for quizzes created locally in Kolibri VS practice quizzes

Since locally created quizzes can only be taken once, is it reasonable to assume that the most recently attempted quiz is what would be more reflective of the learners' current understanding, and more relevant for both the coach and learner to reflect on? So for this quiz type, o

[2022-10-20 19:31] jtamiace commented on #8176
I guess there can be a scenario where the actual more recent quiz attempt was done on a device where the date is set in 1970 or something... but the result of using just the relatively older attempt scores still seems better than combining the attempt scores.

[2022-10-21 16:51] kmapds opened #9788 "15.8 Kolibri"
Hello! I noticed the following issues below after Kolibri was updated to 15.8 :

1- The search bar has disappeared under Classes. This occurs when clicking into a classroom trying to search for a user.

2-When logged into Kolibri as an admin and then trying to create a quiz/lesson, the following error message appears and the user is unable to proceed: "You must be signed in as an admin or coach in

[2022-10-21 18:14] marcellamaki opened #9789 "Facility Settings Updates: PIN setup"
## Overview

This issue is a full-stack issue that updates the Facility Settings page to include a setting where the user can set a PIN for accessing admin-level settings on a learner-only device. It also implements the full CRUD functionality, so a PIN can be added, deleted, viewed, or edited.

To avoid having to create a new migration for each field, we will be using a feature branch for this pr

[2022-10-24 13:32] radinamatic opened #9795 "'Allow learner to mark as complete' not working in Kolibri"
## Observed behavior
Scratch all below, my longer-term memory must be off today... 🤦🏽‍♀️

Not sure if it's a Studio or Kolibri issue: marking a resource as available to check as completed by learner is not working in Kolibri (tested on 0.15 and 0.16), with ``Error in v-on handler: "TypeError: this.$store.dispatch`` in the console.

0.15 | 0.16
-- | --
![make-completed](https://user-images.githubus

[2022-10-24 14:58] pcenov opened #9790 "Merge accounts - Incorrect message and behavior when changing facility"
## Observed behavior
When I attempt to change my facility as a learner I see an incorrect message that my user exists in the target facility and I am prompted to choose a different username.

## Expected behavior
The learner should be able to change the facility.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/organizations/learningequality/pipelines/kolibri-

[2022-10-24 14:58] pcenov commented on #9790
@jredrejo @radinamatic

[2022-10-24 15:40] pcenov opened #9791 "Change facility - Misleading message after an attempt to create a user with an existing username"
## Observed behavior
The message which is displayed is 'User ‘user’ already exists in ‘TARGET’ is not a learner. Please choose a different username.'

## Expected behavior
The text should be further specified and that should be reflected in Figma as I wasn't able to find it there.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/organizations/learningequality/

[2022-10-24 15:40] pcenov commented on #9791
@jredrejo @radinamatic

[2022-10-24 15:52] pcenov opened #9792 "Change facility - Missing notification that the target server is down"
## Observed behavior
Currently there is no notification that the target server is down and the user is left wondering what is going on.

## Expected behavior
The behavior and text should be further specified and that should be reflected in Figma as I wasn't able to find it there.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/organizations/learningequality/p

[2022-10-24 15:52] pcenov commented on #9792
@jredrejo @radinamatic

[2022-10-24 16:11] pcenov opened #9793 "Change facility - Use an admin account - The username of the learner should not be auto inserted in the Username field"
## Observed behavior
After selecting the 'Use an admin account' option the username of the user gets auto inserted in the Username field which is incorrect as I am supposed to enter the super admin or admin credentials there.

## Expected behavior
The Username field should be empty

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/organizations/learningequality

[2022-10-24 16:11] pcenov commented on #9793
@jredrejo @radinamatic

[2022-10-24 16:14] marcellamaki opened #9794 "Facility Settings Updates: Native App Layout Updates"
## Overview

This issue is a front-end issue that updates the native app layout view of the Facility Settings page.

## Specifications
### Figma

<img width="488" alt="Screen Shot 2022-10-24 at 12 11 42 PM" src="https://user-images.githubusercontent.com/17235236/197574500-40336d7f-08fd-48a2-8e54-961b0cf7d653.png">

## Acceptance Criteria
- [ ]  Frontend is updated with correct position in the app

[2022-10-24 18:49] marcellamaki opened #9796 "Facility Settings Updates: PIN usage on Learn-only Devices"
## Overview

This issue is a full-stack issue that updates allows the Device page to be accessed on learn-only devices by entering a PIN.

We will be using a feature branch for this project `update-facility-settings`. Please make PRs to this branch, which will later be merged into develop when the feature is complete.

## Specifications
### Figma

When the user picks "Device" on the menu, the moda

[2022-10-24 20:29] marcellamaki commented on #9788
Hi @kmapds! Thank you for opening an issue detailing what you have noticed with the recent release. We will get to work reproducing these findings and troubleshooting and will let you know when we have updates.

[2022-10-25 10:34] pcenov commented on #9788
Hi @marcellamaki I'm not able to replicate any of the above mentioned issues in 0.15.8
1. As far as I know there has never been a search bar next to the 'Enroll learners' button. All other search bars are displayed and are functioning correctly.
2. No problems accessing Kolibri as an Admin and creating lessons/quizzes.
3. No slowness observed.

[2022-10-25 13:22] marcellamaki commented on #8871
Fixed with https://github.com/learningequality/kolibri/pull/9797

[2022-10-25 13:22] #8871 closed, assigned to jredrejo

[2022-10-25 17:16] nucleogenesis commented on #8384
@jtamiace has some new designs relevant to this in [Figma](https://www.figma.com/file/N9nfriAlR3LoMWNuasaljA/Coach-report-metadata?node-id=0%3A1) - I will keep this issue open to avoid letting it fall through the cracks but may end up closing it if "revising the coach reports" becomes a separate project as I'm sure it will.

[2022-10-26 16:53] #9321 closed, assigned to jredrejo

[2022-10-27 12:56] AllanOXDi opened #9804 "Add edit sync schedule and "add device" model to manage sync schedule page"
## Overview

Add edit "Sync Schedules", which allow the users to edit or add the devices that have been scheduled for syncing.  The manage sync schedule table/ page table should be able to reflect these changes.

Ref #9772

Note: This page will be shared between the facility and device plugins

## Figma

 [here](https://www.figma.com/file/XHO5zXznOD3WXcxcA6d6Zv/Scheduled-sync-2022?node-id=84%3A179

[2022-10-28 16:11] marcellamaki commented on #9788
Hello @kmapds,

As you can see above, we had our QA team investigate, and we were not able to reproduce any of these issue. I also tested each issue you reported myself, and was not able to replicate them either.

For number one, once you click the 'Enroll Learners' button, the next screen which has the list of learners to be enrolled has a search bar. Perhaps this is what you were thinking of?

[2022-10-31 16:13] powrsurg commented on #9718
I want to say thank you for at least considering this.

Just to be clear, the most obvious spot we had found that had an offsite link was in the Privacy Policy linking to https://learningequality.org/ -- that is something I understand why it's being done, but is problematic for organizations as described previously. I can assume it is done in other scenarios as well.

[2022-11-03 19:09] jredrejo commented on #9780
@marcellamaki while working on this with @LianaHarris360 we have thought that we should hide this part of the UI to the user if the user is running the browser in a machine different than the server. It does not make too much sense to show a standard file picker in a machine other than the server to select the paths for the locations, as you would not see the server disk.
Hope this sounds ok, if n

[2022-11-03 20:57] marcellamaki commented on #9780
Yes @jredrejo that makes complete sense to me -- good thinking!

[2022-11-03 23:42] rtibbles commented on #9761
A recent issue arose that showed the usefulness of this - when the H5P contains particularly large media files (whether because they are very long or have not been adequately compressed), this can cause excessive memory usage on memory constrained client devices, which will cause fflate to return undefined from its unzip command.

Avoiding the loading and unzipping of large media files until they

[2022-11-04 06:09] libinfaby commented on #9058
Hi @Ndace-hash,
Hope you didn't leave this amazing community because of this issue. Setting up an Open Source project (Kolibri too), on a windows machine, is a hideous task.  I've tried setting up this project on both Windows and Linux. In fact, this was the reason I switched to Linux.  On Linux, I succeeded on the first try itself. So if you are planning to contribute more to Open Source projects

[2022-11-04 16:59] rtibbles commented on #9795
Fixed in #9808

[2022-11-04 16:59] #9795 closed, assigned to nucleogenesis

[2022-11-06 07:21] libinfaby commented on #9058
Looks like this issue can be closed

![Screenshot from 2022-11-06 12-43-19](https://user-images.githubusercontent.com/97769902/200158884-c3de7eaf-729a-4ad4-928f-abc215756be9.png)

[2022-11-07 23:02] marcellamaki opened #9815 "Offset header text regression on 0.15 app bar"
## Observed behavior
KDS changes that are now in 0.15 have updated the spacing of the App bar titles to be misaligned

## Errors and logs

<img width="1423" alt="Screen Shot 2022-11-07 at 6 02 05 PM" src="https://user-images.githubusercontent.com/17235236/200433794-5fb1897b-bd02-4c59-bb18-3b4d7e56d836.png">

## Expected behavior
Should be centered in space and aligned with icon

## Context
0.15.x

[2022-11-08 08:28] jredrejo commented on #9780
@marcellamaki @jtamiace I'm afraid the Figma specs can't be done as they are for this issue.
Due to security reasons, browsers don't allow selecting a folder path using the native file picker  as stated in Figma.
There's a [recent browser api ](https://caniuse.com/?search=showdirectorypicker)to do it, but a) it only works in Chrome and b)It only works on https connections what discarded if utility

[2022-11-08 13:43] marcellamaki commented on #9780
Hi @jredrejo! Thanks for the details about this issue. I will be happy to hear from @jtamiace, but from my first read through, it seems like option 2 might be the best option. I think getting rid of the path feature, unless absolutely necessary, would not be ideal, and option 3 of implementing a web file picker seems more complicated than it is worth. In your opinion, do you find the second option

[2022-11-08 16:11] rtibbles commented on #9780
I think we should show a file picker in app mode, but otherwise do the path based system you suggest.

The paths should be updating the options.ini and initiating a Kolibri restart, we should not be coding these separately from the options.ini - apologies if I ever gave that impression.

In the case where the options.ini settings are being overridden by environment variables, we should probably di

[2022-11-08 16:56] jredrejo commented on #9780
After reading these comments I think the best approach would be:
1. Use option 2 (Instead of the file picker, show input boxes where the user can write down the path. An api will check if that's a valid folder in the server and if it's read-only or not)
2. As @rtibbles suggested, doing the needed changes in the backend to communicate to the frontend these options are being handled by env variables

[2022-11-08 16:57] rtibbles commented on #9780
Let's open a follow up issue for adding a path picker on Android - I think it's the most needed use case, but is too much for the implementation for now.

[2022-11-08 19:20] rtibbles commented on #9348
Fixed in #9814 - should be released in Kolibri 0.15.9.

[2022-11-08 19:20] #9348 closed, assigned to rtibbles

[2022-11-09 16:23] pcenov opened #9820 "Library page - An empty category modal is displayed for a category without child nodes"
## Observed behavior
If I have imported a channel from Studio in which for the Category field of a resource I have selected only the main node of a certain category e.g. 'For teachers' then in Kolibri that results in seeing an empty modal window when attempting to filter by the mentioned category.

## Expected behavior
My guess is that in that case it should be possible to filter directly by the s

[2022-11-09 16:24] pcenov commented on #9820
@radinamatic @marcellamaki

[2022-11-09 19:43] marcellamaki commented on #9815
Fixed in https://github.com/learningequality/kolibri/pull/9817

[2022-11-09 19:43] #9815 closed, assigned to marcellamaki

[2022-11-09 21:43] marcellamaki opened #9823 "On *Recent* cards in the library, but only on Chrome"
Empty thumbnail renders almost like a checkbox - which is quite confusing.

If no thumbnail, don't render as an empty image tag.

(https://learningequality.slack.com/archives/D01EN47D7KQ/p1668029697886529?thread_ts=1668029697.886529&cid=D01EN47D7KQ)

[2022-11-10 12:15] pcenov opened #9824 "The completion modal keeps reappearing when viewing already completed resources"
## Observed behavior
While testing https://github.com/learningequality/kolibri/pull/9814 I noticed that the completion modal keeps reappearing when viewing already completed resources. for some resources such as PDF once the completion is displayed it seemingly cannot be closed as hitting the x icon or 'Stay here' results in the modal being immediately displayed again. Valid in all supported brows

[2022-11-10 12:16] pcenov commented on #9824
@radinamatic @marcellamaki

[2022-11-10 12:58] pcenov opened #9825 "The completion modal doesn't appear when I mark a resource as complete"
## Observed behavior
The completion modal doesn't appear in the latest [beta build ](https://github.com/learningequality/kolibri/releases/tag/v0.15.9-beta1)  with the KDS updates after I mark a resource as complete. This is functioning correctly in the 0.15.9-beta build without the KDS updates.

## Expected behavior
The completion modal should be displayed.

## Steps to reproduce the issue
1. Inst

[2022-11-10 12:59] pcenov commented on #9825
@radinamatic @marcellamaki

[2022-11-10 15:53] pcenov opened #9826 "Home > Lesson - Incorrectly displayed duration labels"
## Observed behavior
The duration labels are almost entirely covering the thumbnails of the resources and are also displayed to the right side of the cards.
The issue is valid for both v0.15.9-beta and v0.15.9-beta1

## Expected behavior
To be further specified.

## Steps to reproduce the issue
1. Install the the latest [beta build ](https://github.com/learningequality/kolibri/releases/tag/v0.15.9

[2022-11-10 15:54] pcenov commented on #9826
@marcellamaki @radinamatic

[2022-11-11 00:47] rtibbles opened #9829 "Make channel metadata operations robust to deadlocks"
## Observed behavior
It is possible for two channels to share LocalFile, Language, and other metadata in common. When this happens, deadlocks could occur when tasks are running in parallel.

## Expected behavior
Long running content metadata workloads like channel metadata import and annotation should throw meaningful errors when they run into a deadlock, allowing the code calling them to retry.

[2022-11-15 17:31] marcellamaki commented on #6570
@pcenov @radinamatic - not time sensitive given other Kolibri QA for the patch release, but Amelia and I were looking at this together, and have not been able to reproduce on 15.x on Chrome. @pcenov - can you retest when you have a moment, and if you are able to still replicate it, is it on Chrome, or another browser? Thank you!!

[2022-11-15 18:13] vkWeb opened #9834 "Enhance the tasks API endpoints to allow scheduling tasks and retreival of scheduled tasks"
Implement:

- Tasks Create API endpoint allows scheduling tasks.
- Tasks List API endpoint allows retreival of only scheduled tasks.

These use cases came up when discussing with Allan about https://github.com/learningequality/kolibri/issues/9804.

cc @rtibbles @AllanOXDi

[2022-11-16 13:53] pcenov commented on #6570
@marcellamaki I'm also not able to replicate this in the latest Kolibri build 0.15.9 so it must have been fixed alongside the other improvements. Thank you as well! :)

[2022-11-16 14:00] marcellamaki commented on #6570
Closing as no longer replicable

[2022-11-16 14:00] #6570 closed, assigned to marcellamaki, thanksameeelian

[2022-11-18 14:52] pcenov opened #9840 "Class > Lesson - Icons return to their default state after having selected 'Mark as complete'"
## Observed behavior
While testing https://github.com/learningequality/kolibri/pull/9830 I noticed that if I click the 'Mark as complete' option while interacting with an assigned resource in Class > Lesson and after that I click the 'Next steps' button, then after closing the modal the icons return to their default state.
The issue can be replicated also by clicking the 'View lesson resources' ic

[2022-11-18 14:52] pcenov commented on #9840
@radinamatic

[2022-11-18 19:55] marcellamaki opened #9842 "Content card layout overlaps"
## Observed behavior
Narrower content cards in the grid (in in-between display sizes) show overlapping content.

## Errors and logs

**Card with overlap**
<img width="200" alt="Screen Shot 2022-11-18 at 2 54 46 PM" src="https://user-images.githubusercontent.com/17235236/202791039-4075f83c-01b1-44a9-af72-5aa38a7dc1b5.png">

**Slightly wider card, title only takes up 2 lines, not 3 - no overlap**
<i

[2022-11-18 21:48] marcellamaki opened #9843 "Automatic Syncing Updates: Learners using the Android App should receive native app notifications for library syncing updates"
## Overview

This issue is a full-stack issue that updates the Android app for learn only devices to include a native app notifications about library sync status. **Notifications for: updates in progress, updates completed, and update errors**.

This syncing state is already reflected in the learner's sidebar and in other places throughout the app. The data and how it is accessed should be able to

[2022-11-18 21:58] marcellamaki opened #9844 "Automatic Syncing Updates: Create Learner-facing notifications for insufficient storage"
## Overview

This issue is a full-stack issue that creates a banner-style in-Kolibri notification if a learner has run out of storage but their library is trying to sync, or when they are choosing to download more content. **Notifications are present across user permission levels (as some learners will be by-default super admins of their own device)**.

The notifications change slightly based on h

[2022-11-21 14:38] marcellamaki opened #9845 "Automatic Syncing Updates: Metered Connection Notification"
## Overview

This issue is a full-stack issue that sends a notification if a learner needs to set metered connection permissions on first time use, and allows them to configure their preference. It then allows or disallows download accordingly. This issue should reuse the device settings configured for metered connections: https://github.com/learningequality/kolibri/issues/9779

## Specifications

[2022-11-21 14:48] marcellamaki opened #9846 "Automatic Syncing Updates: Coach Sync Notification for Insufficient Learner Storage"
## Overview

This issue is a full-stack issue that creates a banner-style in-Kolibri notification in the Coach Plugin if one or more learners has run out of storage but their library is trying to sync assigned lessons, quizzes, or resources.

## Specifications
### Figma

Please see [complete figma spec ](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1040%3A20712&t=

[2022-11-21 19:55] marcellamaki opened #9848 "Automatic Syncing Updates: Resource size is displayed for content in Reports and Plan tabs"
## Overview

This issue is a full-stack issue that updates the Coach Plugin's Reports and Plan tabs to include information about resource size, both within the resource and in the main table.

## Specifications
### Figma

Please see [complete figma spec](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=960%3A16822&t=yKUs0H8sJ8FrRN6r-0) for all relevant screens and det

[2022-11-21 20:28] marcellamaki opened #9849 "Automatic Syncing Updates: Accessibility Remediations in Coach page"
## Overview

This issue is a frontend issue that updates the report and plan tabs in the Coach plugin with improved accessibility features. The pages should:
* Include the new [TabGroup](https://github.com/learningequality/kolibri-design-system/issues/385) component created in KDS
* Have new visually hidden `h2` tags that will use semantic HTML to group the information architecture of the page tha

[2022-11-21 21:30] marcellamaki opened #9850 "Automatic Syncing Updates: Add modal into Coach workflow when toggling resource visibility to on-network learn-only devices"
## Overview

This issue is a front-end issue that updates the Coach notifications when assigning and un-assigning resources to learners who are using learn-only devices. The additional modal that is added when changing the state of "visible to learners," learners who are learner-only devices will have their libraries synced automatically, to add or remove the visible resource(s).

## Specification

[2022-11-21 21:35] marcellamaki opened #9851 "Enable multiple attempts for exercises, in the same style as practice quizzes"
### Updated Issue

As [reported in the community forum](https://community.learningequality.org/t/reporting-scenario-issue-or-how-it-is-designed-to-work/2621), exercise completion is not always clear to a coach.

Based on a conversation in slack with Design, @rtibbles and @lauradanforth, we will be implementing "multiple attempts" for exercises, similar to how we have implemented them for practice

[2022-11-21 21:37] marcellamaki commented on #9851
@radinamatic could this go into the QA queue to be replicated, hopefully with a bit more detail 🤞, after we get the current Kolibri patch release out? Thank you!

[2022-11-21 22:04] bjester commented on #9851
There appears to be a possibility of a bug in the answer history, which should be ordered chronologically. See the screenshots, where the most recent and third question is shown second in the report-- in addition the 2nd question is shown 1st, and the 1st is shown 3rd. Initially with 2 questions answered, the order was correct.

| Learner exercise side | Coach report side |
| --- | --- |
| ![Scree

[2022-11-21 22:41] marcellamaki opened #9852 "Remote Content Browsing: Update Library Page to display other available libraries"
## Overview

This issue is a front-end issue to update the library page to display additional network libraries. The backend for this work was set up by Richard in https://github.com/learningequality/kolibri/pull/9474. Please refer to this PR for context and instructions for testing to better understand the functionality that is in place.

## Specifications
### Figma

Please see [complete figma sp

[2022-11-21 22:41] marcellamaki opened #9853 "Remote Content Browsing: Create "Explore Libraries" page"
## Overview

This issue is a front-end issue to add an intermediary page that will display all network libraries. The backend for this remote content browsing work was set up by Richard in https://github.com/learningequality/kolibri/pull/9474. Please refer to this PR for context and instructions for testing to better understand the functionality that is in place.

Only superadmins should be able t

[2022-11-21 22:42] marcellamaki opened #9854 "Remote Content Browsing: Explore a library"
## Overview

This issue is a front-end issue to ensure that viewing an external library's channels works. The backend for this remote content browsing work was set up by Richard in https://github.com/learningequality/kolibri/pull/9474. Please refer to this PR for context and instructions for testing to better understand the functionality that is in place.

Theoretically, adding the `baseUrl` param

[2022-11-21 22:43] marcellamaki opened #9855 "Remote Content Browsing: Explore a channel within an external library"
## Overview

This issue is a front-end issue to ensure that viewing a channel within an external library works. The backend for this remote content browsing work was set up by Richard in https://github.com/learningequality/kolibri/pull/9474. Please refer to this PR for context and instructions for testing to better understand the functionality that is in place.

Theoretically, adding the `baseUrl`

[2022-11-21 22:44] marcellamaki opened #9856 "Remote Content Browsing: Update Content Renderer for downloading and streaming"
## Overview

This issue is a front-end issue to ensure that the content renderer correctly manages download and streaming states. The backend for this remote content browsing work is managed separately.

This implementation depends on both the `DownloadRequests` model, which indicates the downloads on the user's device as well as the `useDevices` composable which supports remote content browsing.

[2022-11-21 22:45] marcellamaki opened #9857 "Remote Content Browsing: Add resource's downloadable/removable state to content card"
## Overview

This issue is a front-end and API resource layer issue to ensure that content cards correctly display the state of content that can be downloaded to or removed from a device.

This implementation depends on both the `DownloadRequests` model, which indicates the downloads on the user's device as well as the `useDevices` composable which supports remote content browsing.

## Specificati

[2022-11-21 22:45] marcellamaki opened #9858 "Remote Content Browsing: Add ability to pin library, while displaying its device type"
## Overview

This issue is a full-stack issue to ensure that a user can pin a library and see their pinned libraries (which are currently on the network) displayed in their main page.

## Specifications
### Figma

<img width="666" alt="Screenshot 2023-02-13 at 5 57 30 PM" src="https://user-images.githubusercontent.com/17235236/218593322-4f2fb790-2508-4402-8a94-fc558a971d4f.png">

<img width="377"

[2022-11-21 22:46] marcellamaki opened #9859 "Remote Content Browsing: Update UI to display connection errors"
## Overview

This issue is a full-stack issue to ensure that the connection states are properly displayed in the content renderer and throughout the experience of browsing other remote content libraries

This implementation depends on the `useDevices` composable which supports remote content browsing.

## Specifications
### Figma

<img width="825" alt="Screenshot 2023-02-13 at 5 32 48 PM" src="htt

[2022-11-21 22:47] marcellamaki opened #9860 "Remote Content Browsing: Update Channel and Library UI to use new shortened file path criteria"
Implementing the skip logic described here:
![Frame 873](https://user-images.githubusercontent.com/1680573/207744700-0c17cc43-64a9-4157-b1e3-0c6de37cc0bb.png)

In addition, if the top level topic has only a single child, then it should instead display the first descendant with more than one folder child or a child that is a resource.

[2022-11-21 22:47] marcellamaki opened #9861 "Remote Content Browsing: Create 'My Downloads' Page"
## Overview

This issue is a front-end issue to add an "My Downloads" page that will display all content that has been downloaded to the device's Kolibri.

## Specifications
### Figma

Please see [complete figma spec ](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=194%3A2922&t=yAtcmSpF4FxfLCXa-0) for full specs.

<img width="462" alt="Screenshot 2023-01-31 at 9 10

[2022-11-21 22:49] marcellamaki opened #9862 "'Profile' page UI updates: use KComponents and add 'Preferred Language'"
## Observed behavior

…

## Errors and logs

…

## Expected behavior

…

## User-facing consequences

…

## Steps to reproduce

…

## Context

…

[2022-11-22 08:55] #9233 closed, assigned to akolson

[2022-11-22 13:49] marcellamaki commented on #9825
Resolved with https://github.com/learningequality/kolibri/pull/9830

[2022-11-22 13:49] #9825 closed, assigned to rtibbles

[2022-11-22 13:49] marcellamaki commented on #9824
Resolved with https://github.com/learningequality/kolibri/pull/9830

[2022-11-22 13:49] #9824 closed, assigned to rtibbles

[2022-11-22 13:49] marcellamaki commented on #9823
Fixed in https://github.com/learningequality/kolibri/pull/9838

[2022-11-22 13:49] #9823 closed, assigned to marcellamaki

[2022-11-22 13:57] marcellamaki commented on #9826
Resolve in https://github.com/learningequality/kolibri/pull/9838

[2022-11-22 13:57] #9826 closed, assigned to marcellamaki

[2022-11-22 13:57] marcellamaki commented on #9840
Resolved in https://github.com/learningequality/kolibri/pull/9830

[2022-11-22 13:57] #9840 closed, assigned to nobody

[2022-11-22 14:00] marcellamaki commented on #9788
Hi @kmapds - please let us know if you are still able to replicate these issues or if you have any further details so we can investigate more and try to resolve them. Otherwise we will close this out. Thank you!

[2022-11-22 14:15] pcenov opened #9864 "Class > Lesson - The 'Save to bookmarks' option gets temporary disabled"
## Observed behavior
The 'Save to bookmarks' option gets disabled after viewing an assigned resource. Valid in all supported browser. After refreshing the page the option gets enabled again.

## Expected behavior
The 'Save to bookmarks' option should not get disabled.

## Steps to reproduce the issue
1. Install the the following [build ](https://buildkite.com/learningequality/kolibri-python-packag

[2022-11-22 14:15] pcenov commented on #9864
@radinamatic @marcellamaki

[2022-11-22 14:18] marcellamaki commented on #9864
Thanks @pcenov! We'll take a look at this!

[2022-11-22 16:22] rtibbles commented on #9028
Fixed in #9806

[2022-11-22 16:22] #9028 closed, assigned to thanksameeelian

[2022-11-22 16:35] bjester commented on #9598
@jredrejo @AllanOXDi Mentioned that I should be keep an eye out on how changes to this will touch work made by them with respect to the Vue composables on the frontend.

[2022-11-22 17:57] kmapds commented on #9788
Hi @marcellamaki -- thank you for following up. please feel free to close out this ticket :) I think i am all set

[2022-11-22 17:59] marcellamaki commented on #9788
@kmapds - happy to hear that! Thanks for opening an issue on Github, and please feel free to open any again in the future should you run into any new bugs!

[2022-11-22 17:59] #9788 closed, assigned to nobody

[2022-11-23 15:12] pcenov commented on #9851
Hi @marcellamaki, here are the steps to replicate this.
1. As a coach assign an exercise to a learner (for example Make 10 (grids and number bonds) from the QA channel.
2. As a learner answer all the questions correctly until you see the completion modal.
3. Close the completion modal and proceed entering incorrect answers.
4. As a coach go to Reports > Lesson > <exercise> > Learner report and obs

[2022-11-23 21:46] rtibbles opened #9867 "Add prefer-const linting rule to kolibri-tools"
## Observed behavior
I quite frequently see uses of `let` in cases where the variable will never be reassigned. In this case `const` should be preferred for the variable declaration.

ESLint has a `prefer-const` rule https://eslint.org/docs/latest/rules/prefer-const that has some autofixing capability, so this could be added and any existing usages fixed.

Note it would be best to wait until #9698

[2022-11-23 23:13] rtibbles commented on #9864
Fixed in #9865

[2022-11-23 23:13] #9864 closed, assigned to rtibbles

[2022-11-24 16:01] pcenov opened #9869 "Class > Lesson - Resources get displayed as bookmarked while they are not"
## Observed behavior
After I bookmark a resource and I click on another resource in the lesson and then go back and forth then eventually the other resource is also displayed incorrectly as bookmarked.

## Expected behavior
The 'Save to bookmarks' option should not get incorrectly enabled.

## Steps to reproduce the issue
1. Install the the following [build ](https://github.com/learningequality/ko

[2022-11-24 16:01] pcenov commented on #9869
@marcellamaki @radinamatic

[2022-11-28 15:51] pcenov opened #9872 "Library > Channel > Folder - Categories returning 0 results should not be available as filtering options"
## Observed behavior
When I open a specific folder and then I apply a filter by Category I am seeing 0 results returned for the applied filter.

## Expected behavior
Categories returning 0 results should not be available as filtering options

## Steps to reproduce the issue
1. Install the the following [build ](https://github.com/learningequality/kolibri/releases/tag/v0.15.9-beta3)
2. Import the f

[2022-11-28 15:52] pcenov commented on #9872
@marcellamaki this one was noticed last week by @radinamatic and I was able to reliably replicate it today.

[2022-11-28 16:28] nucleogenesis commented on #9235
This includes updating Documentation

[2022-11-28 17:09] bjester opened #9873 "Channel import generates update query that affects the entire contentnode table"
## Observed behavior

On Kolibri Data Portal (KDP), we've observed lengthy database update queries that set learning activities based on the kind of a content node. On KDP, there are many channels, and those along with new channels are imported automatically, which causes recurring and lengthy query times (on average 7 minutes, but upwards of 30 minutes has been observed)

![Screenshot from 2022-1

[2022-11-29 00:11] marcellamaki commented on #9872
@radinamatic @pcenov corresponding PR is ready for testing: https://github.com/learningequality/kolibri/pull/9875

[2022-11-29 15:12] marcellamaki commented on #9869
Closed with https://github.com/learningequality/kolibri/pull/9874

[2022-11-29 15:12] #9869 closed, assigned to rtibbles

[2022-11-29 16:30] rtibbles commented on #9873
Fixed in #9876

[2022-11-29 16:30] #9873 closed, assigned to bjester

[2022-11-29 17:08] rtibbles commented on #9872
Fixed in #9875

[2022-11-29 17:08] #9872 closed, assigned to nobody

[2022-11-30 09:36] pcenov opened #9880 "Device settings updates - The server doesn't auto restart after changing the primary storage location in Windows"
## Observed behavior
The server doesn't auto restart after changing the primary storage location in Windows
Observed while testing: https://github.com/learningequality/kolibri/pull/9833

## Steps to reproduce the issue
1. Install the following [Windows build](https://buildkite.com/learningequality/kolibri-windows/builds/4724#0184a54b-339c-4724-b632-f7d278f4f27b)
2. Go to Device > Settings
3. Chang

[2022-11-30 09:36] pcenov commented on #9880
@radinamatic