[2020-02-18 22:52] indirectlylit commented on #6565
do you happen to know if this is a regression?

[2020-02-18 22:54] #6513 closed, assigned to mrpau-richard

[2020-02-18 23:01] indirectlylit commented on #6570
@jeepurs could you please share your OS & browser for this issue?

[2020-02-19 00:13] indirectlylit commented on #5846
Thanks for the interest!

I just checked and it looks like this issue was actually addressed already. Here's what it currently looks like:

![image](https://user-images.githubusercontent.com/2367265/74789396-7d923900-5269-11ea-9585-880823f08786.png)

Feel free to take a look through other [beginner-friendly issues](https://github.com/learningequality/kolibri/labels/TAG%3A%20beginner%20friendly)

[2020-02-19 00:13] #5846 closed, assigned to nobody

[2020-02-19 00:16] #6577 closed, assigned to Tlazypanda

[2020-02-19 23:51] indirectlylit commented on #6571
moving to 0.14 because it requires string updates

[2020-02-19 23:55] indirectlylit commented on #6575
One option would be to make a complete backup of your `~/.kolibri` folder. This should be sufficient to reproduce the scenario at a future time.

[2020-02-20 00:43] indirectlylit opened #6589 "add minimum disk space threshold for importing resources"
### Observed behavior

Users sometimes import content until the disk is completely full, which can cause the computer to malfunction

### Expected behavior

Set a "minimum free space", and then when an import hits that threshold of remaining space on the target, it would fail

### User-facing consequences

avoid having it go all the way until the drive fills up completely, which can lead to system

[2020-02-20 18:28] indirectlylit opened #6590 "Add check for open database connections"
### Observed behavior

@jredrejo reported that a large percentage of our recent DB issues during the 0.13.0 release were caused in part by DB connections that had been left open

### Expected behavior

We should have checks built-in to Kolibri that check for connections left open, and log loud warnings about this.

Preferably these checks would also fail the Travis builds

### User-facing conseque

[2020-02-20 19:35] #6558 closed, assigned to nobody

[2020-02-21 10:49] riddhiavlani opened #6593 "Error ("A lesson with this name...") message while naming a new lesson"
### Observed behavior

Each time I create a new lesson, I get this message 'A lesson with this name already exists' below the 'Title' text field. It disappears immediately though- within a couple of seconds
![image (5)](https://user-images.githubusercontent.com/44633158/75027793-2b4d5400-54c5-11ea-93d4-dbb53742a1a7.png)

### Expected behavior

The message shouldn't have appeared since there are no

[2020-02-21 12:22] Tlazypanda commented on #5531
@indirectlylit can I work on this?

[2020-02-21 12:49] Tlazypanda commented on #5875
@indirectlylit is this issue still available?

[2020-02-21 18:15] indirectlylit commented on #5531
@Tlazypanda  sure thing

[2020-02-21 18:39] indirectlylit commented on #5875
@Tlazypanda it may have been addressed by the work on https://github.com/learningequality/kolibri/issues/2184 during 0.13

However – if you're interested – it would be super helpful to confirm whether or not this is true.  You can generate multiple facilities by running:

[code]

[2020-02-21 18:51] jonboiser commented on #6593
Here's an explanation with some code references, hopefully this helps with the fix.

1. When a new Lesson is created, the `createLesson` handler gets called when the `AssignmentDetailsModal` (which used to be a modal but is now more of a form ) emits a `submit` event

https://github.com/learningequality/kolibri/blob/532bae5b69981e05dd5bcfce027d2cea745815e7/kolibri/plugins/coach/assets/src/views/pl

[2020-02-21 23:01] benjaoming commented on #5409
I expanded the `exclude` pattern in #6583 - `pre-commit` only runs on files that are changed in commits, but I'm wondering if this is a pattern that should be expanded gradually in the same manner to achieve the speed perceived as lacking.

[2020-02-22 01:29] indirectlylit opened #6597 "error during command line import on large channels"
### Observed behavior

Reported from a user:

[code]

This method works great on small channels (< say ~2GB give or take).  Anything too much larger get a Python error:  "OverflowError: Python int too large to convert to C long".

This works via the GUI

### Expected behavior

Command-line import works for all channel sizes

### User-facing consequences

complications with automated provisioning

[2020-02-22 01:31] jamalex commented on #6597
It looks likely this is related to 32bit Python; if this is confirmed, then we should also make sure to add 32bit to the automated test suite envs, if possible.

[2020-02-25 23:44] indirectlylit opened #6602 "content import stuck at 100%"
### Observed behavior

possibly related: https://github.com/learningequality/kolibri/issues/6502

We have reports of this behavior from the forums:

* [Thread 1443](https://community.learningequality.org/t/import-via-online-error-100-downloaded-but-still-incomplete-error/1443) and [thread 1400](https://community.learningequality.org/t/downloading-task-is-not-completing-its-stuck-at-100/1400)
* [Th

[2020-02-26 00:17] jamalex commented on #6602
Getting a 500 on basic endpoints like login and deviceinfo suggests to me a locked or otherwise problematic database. It would be a huge help to get a copy of the log files (to see a traceback underlying the 500's), and maybe also of the databases, especially if the issue persists across a server restart (should we suggest a confidential channel for sharing them?)

Otherwise, the only thing that I

[2020-02-26 00:44] indirectlylit commented on #6602
It's possibly a locking issue similar to that described here:

https://github.com/learningequality/kolibri/issues/6502#issuecomment-586422052

[2020-02-26 02:26] lyw07 commented on #6602
I think [Thread 1443](https://community.learningequality.org/t/import-via-online-error-100-downloaded-but-still-incomplete-error/1443) and [Thread 1400](https://community.learningequality.org/t/downloading-task-is-not-completing-its-stuck-at-100/1400 ) are the same issue. The user reported 1400 first, and I suggested an upgrade to 0.13.1. The user then reported 1443 after upgrading to 0.13.1 and c

[2020-02-26 11:07] adamchainz commented on #6515
Run `pre-commit run --all-files` in your CI!

[2020-02-26 13:35] benjaoming commented on #6515
@indirectlylit @adamchainz that is already presented in #6583

[2020-02-26 13:38] benjaoming commented on #6515
@adamchainz just tested this, and your solution from  #6603 works with `--all-files`, as it also complains about existing (previously) committed files in the repo.

Some times testing something is much easier than trying to find documentation :)

[code]

[2020-02-26 17:41] indirectlylit commented on #6602
logs from thread 1456, with database locking:

[kolibri.txt](https://github.com/learningequality/kolibri/files/4257287/kolibri.txt)

[2020-02-26 17:46] indirectlylit commented on #6602
thanks @lyw07 I've edited the description and your comment to update links to threads

[2020-02-26 19:41] jamalex commented on #6602
There are several places the `db_task_write_lock` is used -- it shouldn't directly relate to a sqlite "database is locked" issue (different sort of lock, I believe -- especially given the error is being raised on changes to the primary database, not the task database), but... maybe there's a lockfile-induced deadlock that happens in the midst of a write transaction on the main DB, so that when ano

[2020-02-26 21:42] indirectlylit commented on #4442
might be addressed by pulling in the latest version of Keen's select, or transitioning to vuetify

[2020-02-26 23:23] #6515 closed, assigned to nobody

[2020-02-26 23:51] jtamiace commented on #4747
Some solutions which integrate scenarios & suggestions from above. This is alongside the current peer syncing work

![welcome](https://user-images.githubusercontent.com/6668144/75398900-beb0cb80-58af-11ea-96e1-462fb71efcbe.png)

Original design available here https://www.figma.com/file/LM0YUkbWAOIerZ3EEg0FN6bS/P2P-Sync?node-id=679%3A6106

[2020-02-27 01:53] indirectlylit commented on #5409
closing given work in #6583.

Let's re-open a new issue if necessary

[2020-02-27 01:53] #5409 closed, assigned to bjester

[2020-02-27 11:18] benjaoming commented on #5409
Yes, if there are further issues, please separate out the feedback like this:

* Speed: Report speed issues on a per-hook basis so it's possible to understand if a particular hook has issues
* Dev tools: Please report exactly the GUIs that are causing issues so it can be investigated
* In-commit workflow: Pre-commit hooks are designed to interfere with developer's workflows when they try to commit

[2020-02-27 18:14] Tlazypanda commented on #6069
@indirectlylit @kollivier @radinamatic can I work on this?

[2020-02-27 18:15] priyanka-choubey commented on #5515
I would like to work on this.. thank you

[2020-02-27 20:38] lyw07 opened #6605 "unrecognized text on kolibri translations server"
### Observed behavior

On the Kolibri translations server with 0.13.1, all the in-context strings are shown as `Unrecognized text`. The server was deployed in a regular way so not sure if this is related to some missing translations files in Kolibri code.

### Expected behavior

Translators should be able to translate the string through the server

### User-facing consequences

translators are una

[2020-02-27 22:39] indirectlylit opened #6607 "pre-commit hooks interfere with in-progress commit dev workflows"
### Observed behavior

When working locally, git is a powerful tool for storing in-progress work. It's often desirable to commit changes that are not yet complete, even if there are bugs or formatting issues.

Pre-commit hooks impede a developer's ability to use git as a way to save in-progress work.

It's possible to do with `git commit --no-verify`, but this is a hard command to remember and aga

[2020-02-27 22:42] indirectlylit commented on #5409
This is not an urgent issue, but  I migrated the last point here: https://github.com/learningequality/kolibri/issues/6607

In other words, pre-commit is flawed by design :)

[2020-02-27 23:46] indirectlylit commented on #5515
thank you!

[2020-02-27 23:50] indirectlylit commented on #6069
Sure! See my message above though - it might be a bit more challenging than just a simple CSS fix

[2020-02-27 23:51] indirectlylit commented on #6605
@radinamatic have you ever encountered this before?

[2020-02-28 00:15] radinamatic commented on #6605
@indirectlylit Yes, it [does happen occasionally](https://learningequality.slack.com/archives/C59J8FEPN/p1562545968037100), not sure what the actual cause is.

[2020-02-28 09:41] benjaoming commented on #5409
@indirectlylit what do you mean? There is `git commit --no-verify` if you want to (somehow) create a commit that doesn't pass through git hooks?

[2020-02-28 09:46] benjaoming commented on #6607
If `git commit --no-verify` is too hard to remember, one can always create an alias.

To fix this GUI issue or feel motivated to fix it, I think the kind of dev workflow has to be explained.. and then scrutinized :)

[2020-02-28 18:06] indirectlylit commented on #6602
Some information that I believe to be factual based on a conversation with @rtibbles:

1. Any concurrent attempts to write to the DB (e.g. from multiple processes or threads) will fail with a `sqlite3.OperationalError: database is locked` error. When triggered by an HTTP request, this gives `500` error like those seen above
2. Prior to 0.13, we saw these errors in some edge cases but for the most

[2020-02-28 18:10] rtibbles commented on #6602
Given the reports in 0.13.0 - I think it's also quite possible that it is the query itself that is problematic, rather than how we generate it (so the fact that we changed how we generate it to avoid too many SQL Variables errors might be a red herring). The query might simply be too complex, and hence taking a very long time, resulting in the seemingly never ending write lock on the DB.

[2020-02-28 21:17] #6323 closed, assigned to nobody

[2020-02-28 21:19] indirectlylit commented on #6605
I wonder if we maybe need to regenerate the dummy language (`ach_UG`)

[2020-02-28 21:22] indirectlylit commented on #6607
Please don't assert your own preferences for development workflows and say that others ought to be scrutinized and explained.

People should be able to use their favorite dev tools, and also store in-progress commits in git. Pre-commit impedes both of these workflows.

The basic solution is to recommend disabling pre-commit, which is what I do.

In my case, I use [GitUp](https://gitup.co/), an inc

[2020-02-29 01:31] indirectlylit commented on #6605
submitted a PR - @lyw07 want to review/merge and see if that helps?

[2020-02-29 01:33] lyw07 commented on #6605
Thank you! I will review the PR :)

On Fri, Feb 28, 2020 at 5:32 PM Devon Rueckner <notifications@github.com>
wrote:

[2020-02-29 10:01] benjaoming commented on #6607
I'm not.

[2020-02-29 10:46] benjaoming commented on #6607
If we want to work around pre-commit hooks, then we are asking for something that most other open source projects wouldn't do. I think the general assumption out there is that pre-commit is a good convention and that the git hooks just work.

I haven't heard of projects that have done special things for clients that cannot accommodate pre-commit, but if there is inspiration to share from similar i

[2020-02-29 11:06] benjaoming commented on #6607
I also agree with this. So maybe that's the solution and someone can add additional support for pre-commit in GitUp if they find the benefit?

[2020-02-29 16:56] priyanka-choubey commented on #5515
Currently, the padding is of 16px . Should I make it 24. @indirectlylit
![Screenshot from 2020-02-29 22-22-51](https://user-images.githubusercontent.com/33806116/75611668-8bd23600-5b42-11ea-859e-157cfc8c9083.png)

[2020-03-01 10:52] benjaoming opened #6610 "Logged zeroconf ERROR on exit (edge case?)"
### Observed behavior

When exiting with `CTRL+C` from `kolibri start --foreground`, an error is logged in rare cases.

CC: @micahscopes - you might understand this quicker than me?

Ref: https://github.com/learningequality/kolibri/pull/6113

### Expected behavior

Exits cleanly

### User-facing consequences

None, currently we log this edge case. So either it's anticipated and should be silenced,

[2020-03-02 03:26] indirectlylit commented on #6607
[Best practice in git](https://sethrobertson.github.io/GitBestPractices/) is to commit early and often and pre-commit inherently works against this. Coding standards are better enforced by other tools including:

* server-side checks
* editor tooling
* dev server tooling

I agree with your PR above and might even suggest we modify it to recommend only installing `pre-commit` if you find the three

[2020-03-02 09:52] benjaoming commented on #6607
You can install it as pre-push or whichever local hook of your preference.

https://pre-commit.com/#pre-commit-install

I don't do that? I use stashing quite a lot, though.

[2020-03-02 13:55] dtirkey opened #6612 "Unable to download log reports"
### Observed behavior
session log says generating report

…

### Expected behavior
should give option for downloading the report

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2020-03-02 17:57] radinamatic commented on #6612
@dtirkey Please try exporting from the command line:

https://kolibri.readthedocs.io/en/latest/manage/command_line.html#export-data-logs

If you are not used to working with the command line, scroll up and [read from the beginning of the section](https://kolibri.readthedocs.io/en/latest/manage/command_line.htm).

[2020-03-02 18:07] kill9zombie opened #6613 "Automated setup of Kolibri"
Hello

The setup wizard is great if you've got a couple of instances to do.  As we have more  instances, we're trying to automate the setup:

- [x] Language
- [x] Facility Name
- [ ] No guest access
- [x] Admins have to create the accounts
- [ ] Require passwords on learner accounts
- [x] Automate setting up the super admin

So far we can set the language, facility name, learner signup/admins have

[2020-03-02 18:20] indirectlylit opened #6614 "prevent tags from being used without classes in scoped style definitions"
### Observed behavior

In some places in the codebase, we do things like

[code]

This has a few issues:

1. According to the [vue docs](https://vue-loader.vuejs.org/guide/scoped-css.html#also-keep-in-mind), using tags inside scoped style blocks "will be many times slower"
2. The DOM structure is coupled to the styling. For example, turning `h2` to `h3` would require changes on multiple lines

###

[2020-03-02 18:35] jonboiser commented on #6573
Hi @intelliant01, after you delete content, does the deleted content disappear from the Export/Delete page (where you select items that should be installed on the server)? Or are they there still there to export and delete as if they were "already on the device" (and thus consistent from the "Import more..." Page)?

@rtibbles Made a PR #6533 that fixed a similar resource-availability-mismatch afte

[2020-03-02 18:39] rtibbles commented on #6573
Yeah, we should probably clear the cache on deletion as well.

[2020-03-02 21:37] indirectlylit opened #6615 "network discovery error on Windows 10: JSON object must be str, not 'bytes'"
### Observed behavior

On startup, observed unhandled JSON errors when running Kolibri in foreground in Windows

### Expected behavior

No unhandled error

### User-facing consequences

* Might prevent network discovery?
* Unhandled exceptions will cause confusion while debugging

### Errors and logs

[code]

### Steps to reproduce

* Installed Kolibri on a win10 VM
* Shut it down via the GUI
* Op

[2020-03-02 21:37] indirectlylit commented on #6615
cc @micahscopes curious if you've encountered something like this before?

[2020-03-02 22:04] indirectlylit opened #6616 ""Channel name unavailable" after bulk import"
### Observed behavior

This appears to be a regression of https://github.com/learningequality/kolibri/issues/6175

Noticed that when an import actually completes, the channel shows up.

![2020-03-02 14 00 08](https://user-images.githubusercontent.com/2367265/75722351-e5e01200-5c8e-11ea-8487-e9839c721b74.gif)

### Expected behavior

All channel names should show after initiating a bulk import.

Add

[2020-03-02 22:21] indirectlylit opened #6617 "sqlite3.OperationalError from tasks.worker.Worker"
### Observed behavior

Observed an exception in the logs from the task worker

### Expected behavior

no exceptions

### User-facing consequences

no observed user-facing issue

### Errors and logs

[code]

### Steps to reproduce

unclear. Observed while bouncing around in content import doing a combination of deletions, granular, and bulk imports

### Context

* 0.13.1
* Windows 10

[2020-03-02 22:36] indirectlylit commented on #5515
looks good!

[2020-03-02 22:41] indirectlylit commented on #6607
If that works for you then that's fine, but there are [more effective strategies](https://softwareengineering.stackexchange.com/questions/255165/is-using-git-stash-as-a-workflow-an-antipattern) for saving in-progress work using git

[2020-03-02 23:56] jonboiser commented on #6066
I think this has been fixed in 0.13. But in the v0.12 branch, I think the problem is that the "page" does not get reset to page 1 when changing the role filter, only the "name" filter. So I think what's happening in the video is that we're staying on page 2 after changing the role filter, but the hidden coach is on page 1.

So to fix this, I think just add a similar watch handler for the kind role

[2020-03-03 00:08] jonboiser commented on #4363
This seems to be a Chrome-specific issue; on Firefox and Safari, the TotalPoints component localizes the big number and the tooltip "correctly" (i.e. with arabic numerals instead of latin).

In Chrome's implementation of `Intl.NumberFormat`, it doesn't seem to like just `ar` as a locale; it wants a more specific code:

[code]

According to [this article](https://generatedcontent.org/post/604008389

[2020-03-03 02:23] indirectlylit commented on #4363
Thank you for investigating!

I suppose in that case, localization is working "as designed" on a per-browser basis. I opened a chromium issue here to let them decide if it's correct or not:

https://bugs.chromium.org/p/chromium/issues/detail?id=1057881

[2020-03-03 02:23] #4363 closed, assigned to nobody

[2020-03-03 17:12] indirectlylit commented on #5531
no longer reproducible

[2020-03-03 17:12] #5531 closed, assigned to nobody

[2020-03-03 20:20] jonboiser commented on #6616
I don't think this is a regression unless the channel name _never_ appears (even after the import starts) which is what was fixed originally.

When the Tasks are queued, we don't have the name available instantly, but rather have to wait until we have completed downloading the channel metadata DB from the remote source. Until that point all we have is the Channel ID.

[2020-03-03 21:43] jonboiser commented on #6613
Hi @kill9zombie , unfortunately the `provisiondevice` command is limited to just setting one of the three presets.

I think it might be possible to customize your presets on the command line by entering the `kolibri shell` and modifying the `kolibri.core.auth.models.FacilityDataset` model directly to get the two settings customized the way you want:

https://github.com/learningequality/kolibri/blo

[2020-03-03 22:30] indirectlylit commented on #6613
Thanks @jonboiser - that's a good idea as a work-around.

@kill9zombie as we discussed, we'd also be happy to accept a PR which updates the [`provisiondevice`](https://github.com/learningequality/kolibri/blob/develop/kolibri/core/device/management/commands/provisiondevice.py) command to take additional options:

https://github.com/learningequality/kolibri/blob/7634c69dd178349c881da60e514b811dc100a

[2020-03-04 10:02] priyanka-choubey commented on #5515
I think there was a misunderstanding my comment. The attached screenshot is of the current padding ie 16px. If it looks okay then the issue can be closed.

[2020-03-04 10:28] Tlazypanda commented on #4761
@indirectlylit is this issue available?

[2020-03-04 11:08] Tlazypanda commented on #4150
@indirectlylit can I take this up? Thanks :v:

[2020-03-04 11:55] Tlazypanda commented on #4532
@indirectlylit can I take this up? Also can you guide me as to what should be the error message (couldn't find anything in the docs)? Thanks :v:

[2020-03-04 19:36] #4150 closed, assigned to Tlazypanda

[2020-03-04 19:41] indirectlylit commented on #6616
thanks for the clarification

[2020-03-04 19:52] jtamiace commented on #4761
Adding that user to the filter makes sense to me.

Note to self in thinking forward to the multi-facility experience - we'll need to decide how to display super admins who are not technically a member of that facility, but can still see it

[2020-03-04 20:05] jonboiser commented on #4761
@Tlazypanda Let's go ahead and add that "Super admins" filter, but keep the current behavior where the "Admin" filter shows both "Admins" and "Super admins". Thanks!

[2020-03-04 20:38] indirectlylit commented on #5515
Ah, I see. Yes, it looks like the current behavior is different from (and better than) the "After" screenshot posted in the description of this issue.

thank you

[2020-03-04 20:38] #5515 closed, assigned to priyanka-choubey

[2020-03-04 20:39] indirectlylit commented on #4761
thanks all

I think the label should be "Super admins", plural

[2020-03-04 21:07] indirectlylit commented on #4532
let's hold off on this for a couple days while we figure out the best behavior

[2020-03-05 09:00] jredrejo opened #6624 "African Storybook on the iPad2s does not work anymore"
### Observed behavior
When using kolibri in iPad2s (limited to iOS 9.3.5)
The maximize button no longer works, nor does the page turn feature, the back arrow to on the page to return to the folders does not work and the page reloads following an error with Safari reporting “A problem occurred with this webpage so it was reloaded.” Following the reload, there is not improvement in behavior of the p

[2020-03-05 19:21] jonboiser opened #6625 "Improve keyboard-accessibility of the "Undo-remove" action for managing lessons"
### Observed behavior

When you remove a resource from a lesson, your only opportunity to undo that action is to click the "Undo" button on the snackbar that appears temporarily. As discussed in #6618, this is not that great for a11y, since it's really hard to get to that "undo" button with the keyboard before the snackbar disappears.

There is an especially weird and bad case using the PEX server

[2020-03-05 19:39] #6301 closed, assigned to jonboiser

[2020-03-05 23:36] nucleogenesis opened #6628 "Character validation on FacilityUser username"
### Observed behavior

I made a test database in the `kolibri shell` using a CSV of downloaded random names.

One name on there ended up being Alie L'estrange and I created the username by joining the names with underscores and lower-casing them.

So the username that I successfully saved to the database with `FacilityUser.objects.create()` was `alie_l'estrange`.

However, when I go to log in with

[2020-03-05 23:41] #6260 closed, assigned to jonboiser

[2020-03-05 23:41] #6330 closed, assigned to jonboiser

[2020-03-06 00:47] indirectlylit commented on #6597
Traceback here:

[code]

Click progress bars were reinstated in https://github.com/learningequality/kolibri/pull/5927

[2020-03-06 01:04] indirectlylit commented on #6597
I believe this is an issue with `xrange` in Python 2. The easiest solution is likely to disable progress bars in Py2

[2020-03-06 01:16] jonboiser commented on #6628
Yeah, this validator will flag `'` as invalid punctuation, which will prevent creating a a user like `alie_l'estrange` on the UI, but there is absolutely no such validation on the actual FacilityUser model

https://github.com/learningequality/kolibri/blob/7634c69dd178349c881da60e514b811dc100a1d3/kolibri/core/assets/src/validators.js#L16

[2020-03-06 18:26] jamalex commented on #6602
I think that description actually matches the [`SQLITE_BUSY`](https://www.sqlite.org/rescode.html#busy) response, which is the one that is "avoided" by setting a a long timeout. [`SQLITE_LOCKED`](https://www.sqlite.org/rescode.html#locked) seems to be a different beast, and is about incompatible operations happening over a _single connection_, in the _same_ process or thread.

So it's not just a s

[2020-03-06 18:41] jamalex commented on #6602
Hmm, yeah, the Django docs say something different than the sqlite docs, though:

https://docs.djangoproject.com/en/3.0/ref/databases/#database-is-locked-errors

[2020-03-06 21:06] jonboiser commented on #6151
Changes to be made:

* For assignments, `Recipients (1)` will become `Recipient type`, `Recipients (2)` will be `Recipients`. If an assignment has both individuals and group assignees, the recipient type will be `Groups and individuals`, other wise `Groups` or `Class`. If the recipient is the (Entire) class, `Recipients` cell will have the classroom name

[2020-03-06 22:28] #4761 closed, assigned to Tlazypanda

[2020-03-06 22:33] jonboiser commented on #6571
New empty states:

1. No users of a given kind: `No (Learners|Admins|Super admins|Coaches) exist`
1. No users matching filter (show same message even if user type filter is applied): `There no users that match the filter: ''`

[2020-03-06 23:45] indirectlylit commented on #6597
hopefully fixed by  #6630

[2020-03-06 23:45] #6597 closed, assigned to nobody

[2020-03-06 23:53] indirectlylit commented on #6151
Sounds good. We should make sure to mention these in the changelog in case anyone is scripting against the exports (unlikely but possible)

[2020-03-06 23:58] indirectlylit commented on #6628
I'm not sure what the "right" answer here is.

I'm not a fan of arbitrary restrictions, but for usernames there's a slight benefit to restriction because it makes them easier to transcribe. Therefore my inclination is to make the server validation stricter to match client-side validation.

[2020-03-07 00:30] indirectlylit opened #6633 "progress remains at 0% until completion when using bulk import"
### Observed behavior

For each individual channel, the progress jumps from 0 to 100% when importing using the whole-channel bulk import function.

### Expected behavior

Progress is shown for each channel

### User-facing consequences

It looks like the import is frozen, even though it's actually working fine

### Errors and logs

None

### Steps to reproduce

Use bulk import and look at progress

[2020-03-07 01:15] indirectlylit commented on #6633
@jonboiser would you mind taking a look at this?

[2020-03-07 16:31] dtirkey commented on #6612
![UNADJUSTEDNONRAW_thumb_49c2](https://user-images.githubusercontent.com/61696687/76147114-fb09d600-60be-11ea-810b-080310a9c352.jpg)
![5cc3fccb-e4d2-44d4-b545-5ca60b5fe904](https://user-images.githubusercontent.com/61696687/76147136-21c80c80-60bf-11ea-87ba-d76b35e78d09.jpg)
We tried, this is the screen shot of the message we are getting now.

[2020-03-08 12:47] priyanka-choubey commented on #5947
@jonboiser @indirectlylit @kollivier I want to work on this. How do you suggest I approach this issue? Thank you

[2020-03-08 12:55] priyanka-choubey commented on #6240
Can I take this up?

[2020-03-08 13:12] priyanka-choubey commented on #5889
@indirectlylit  Can I work on this?

[2020-03-09 17:50] indirectlylit commented on #6612
@dtirkey could you please post your log files [as described here](https://kolibri.readthedocs.io/en/latest/manage/get_support.html#locate-kolibri-log-files)

FYI, technical support is available through our [community forums](https://community.learningequality.org/)

[2020-03-09 17:55] lyw07 commented on #6612
Hi @dtirkey, if you installed kolibri through our windows installer, please try the following in the command prompt to run the kolibri commands:
[code]

The errors shown in the screenshot indicate that Python is not in the system path.
Thank you!

[2020-03-09 18:16] indirectlylit opened #6640 "Languages in device settings are not sorted"
### Observed behavior

languages are not sorted:

![image](https://user-images.githubusercontent.com/2367265/76244133-b6815600-61f6-11ea-8dd8-ad25b7c46f64.png)

### Expected behavior

sort order should be the same as the language switcher:

![image](https://user-images.githubusercontent.com/2367265/76244288-019b6900-61f7-11ea-9328-326a9bdf3322.png)

### User-facing consequences

harder to select a

[2020-03-09 18:17] indirectlylit commented on #6240
no longer an issue - see https://github.com/learningequality/kolibri/pull/6635#issuecomment-596695527

[2020-03-09 18:17] #6240 closed, assigned to nobody

[2020-03-09 21:37] carinediaz opened #6641 "need ability to display photo credit for Kolibri home screen image"
Thanks to @laurenlichtman who flagged this oversight on my part:

The image in the Kolibri home screen is missing the photographer's credit. His name is Thomas Van Den Driessche and we must credit him in order to be able to use the image.

@jamalex suggestion: to have it along the version indicator, right after "usage and privacy"
<img width="712" alt="Screen Shot 2020-03-09 at 2 05 51 PM" src="ht

[2020-03-09 22:03] #5016 closed, assigned to jonboiser

[2020-03-09 22:03] #6192 closed, assigned to jonboiser

[2020-03-09 22:03] #6571 closed, assigned to jonboiser

[2020-03-09 22:09] #6605 closed, assigned to nobody

[2020-03-09 22:11] #6602 closed, assigned to nobody

[2020-03-09 22:11] #6616 closed, assigned to jonboiser

[2020-03-09 22:35] indirectlylit commented on #6641
This will require string updates (e.g. "Photo credit: {photographer_name}" and some nuanced changes to the management commands, so if the photographer is okay with leaving things as-is for another month or two, this would be much easier in 0.14. Let me know if there is more urgency

[2020-03-09 22:43] jonboiser commented on #6573
Should be fixed by #6626

[2020-03-09 22:54] carinediaz commented on #6641
@indirectlylit No worries, we can punt it for v0.14. Let's just make it happen. Thank you!

[2020-03-09 23:09] jonboiser opened #6642 "Mismatch between coach Reports and generated CSV"
### Observed behavior

1. On ReportsLessonExerciseLearnerListPage, if "view by groups" checkbox is toggled, ungrouped learners aren't in the report. The report should be the same regardless of view (ungrouped learners appear in the report even if "view by groups is checked")

Screenshot
![Screen Shot 2020-03-09 at 4 05 45 PM](https://user-images.githubusercontent.com/10248067/76264826-17715400-622

[2020-03-10 16:13] kollivier commented on #5947
@priyanka-choubey I would suggest waiting on this issue until we decide what the expected behavior should be.

[2020-03-10 16:38] indirectlylit commented on #5947
Agreed, the expected behavior is not currently defined.

That said @priyanka-choubey if you'd like to experiment and propose a solution, we can review the proposal. Some guidance:

* We should not try to modify the text itself (e.g. by inserting newlines)
* The solution might use max-widths and text wrapping on the tooltip
* However this is actually an inappropriate use of tool tips because the te

[2020-03-11 06:46] indirectlylit commented on #6628
@jredrejo would you mind addressing this in the course of your PF work?

[2020-03-11 07:12] indirectlylit opened #6650 "non-superadmins with "can manage content" permission should only see the Device > Channels tab (and not Info, Settings)"
### Observed behavior

As a learner with permission to manage content, I can still see the device info and settings tabs:

![image](https://user-images.githubusercontent.com/2367265/76391300-758b5d80-632c-11ea-8cc5-27d16d3c66f6.png)

### Expected behavior

* Non-super-admins should only see the content tab
* the API that returns device info should also be protected by super admin permission

### U

[2020-03-11 07:51] jredrejo commented on #6628
@indirectlylit  `"^[A-Za-z0-9-_ ]*$"` is the validator I was using:, only letters, digits , `_` and `-` allowed.
Actually, this is the complete code of the validator I have coded (it has some options to be used too when validating classes/groups names):
[code]

[2020-03-11 08:17] rtibbles commented on #6628
Note that this validation is too strict as it prevents Unicode usernames, which are important for users in languages with non-Latin character sets.

[2020-03-11 08:24] rtibbles commented on #6628
Should use the regex here instead to allow Unicode usernames and be consistent with the frontend https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/validators.js#L16

[2020-03-11 08:51] jredrejo commented on #6628
Validator to be used with usernames and class names:
[code]

[2020-03-11 15:23] benjaoming commented on #5700
Previous PR is the recipe to adding flake8-builtins

However, it cannot go in until the occurrences are fixed. Here is the new list:

[code]

[2020-03-11 15:23] benjaoming commented on #5700
List grew from 49 to 70 occurrences.

[2020-03-11 15:54] indirectlylit commented on #6628
Sounds good to me to use the same validation for class names as for user names

[2020-03-11 16:15] rtibbles commented on #6628
Any reason to exclude punctuation from class names? If people want to call a class `Wow! Science? A journey into the heart of Learning;` who are we to stop them?

[2020-03-11 16:19] indirectlylit commented on #6628
true

[2020-03-11 16:50] jredrejo commented on #6628
I agree. Then, for class  names , should we set any limitation (appart from the maximum of 100 chars that's defined in the model) ?
@indirectlylit  at least, comma should be banned if we need to import a list of classrooms in a csv field, unless we set a different separator.

[2020-03-11 22:06] lyw07 commented on #6573
Hi @intelliant01 ,

We just released `0.13.2 beta1` which includes a fix to your issue. If you are interested in testing out the beta, please feel free to download the Windows installer here: https://drive.google.com/file/d/1IPRB09x-MP43fglHpXImJuKdA5Q9QuDu/view?usp=sharing

For Linux systems, you are able to find the latest beta installers through `kolibri-proposed` PPA: https://launchpad.net/~le

[2020-03-11 23:11] indirectlylit commented on #6628
I see what you're saying, but I feel like it should be the responsibility of the CSV importing to handle that edge case as opposed to pushing the responsibility to the validation.

Another option: we document a "known limitation" that CSV import does not support class names with commas?

[2020-03-12 00:07] indirectlylit opened #6653 "newly imported channels don't show up in Learn without restart"
### Observed behavior

Observed on a few occasions:

* Import a channel, and let it complete
* Navigate to Learn
* The channel is not visible

### Expected behavior

Channels visibility should be consistent between Device and Learn

### User-facing consequences

Confusion and frustration. I tried reloading many times to no avail.

Eventually restarted the server and then the channel was visible.

[2020-03-12 07:44] jredrejo commented on #6628
Either that or limit to one classroom per person in CSV import, whatever is more practical for the case.

[2020-03-12 09:59] rtibbles commented on #6628
I don't think I've used it in any of the logic so far, but the Python csv module does define a `Sniffer` class (https://docs.python.org/3/library/csv.html#csv.Sniffer) that allows for determining the format of the CSV file - which would give us more flexibility in allowed delimiters, but it may be more trouble than it is worth.

[2020-03-12 11:21] rtibbles opened #6655 "Uncaught errors in zeronconf handling"
### Observed behavior
From a log file:
[code]

### Expected behavior
Should not throw errors when handling zeroconf events.

### User-facing consequences
Zeroconf will not run properly.

### Errors and logs
See above

[2020-03-12 18:01] jamalex commented on #6655
What version was this?

[2020-03-12 18:02] rtibbles commented on #6655
0.13.1 on Windows 10

[2020-03-12 18:05] jonboiser commented on #6653
@rtibbles I've noticed this when you "import more", because of the `channel_stats` caching (the only thing we haven't done in #6533 and #6626). For a brand new channel, it may be because of caching on the `/api/contentnode` endpoint?

[2020-03-12 18:22] rtibbles commented on #6653
The channel stats doesn't get used for visibility on learn though - it seems more likely that this is an issue with the etag generation or not being updated.

What browser is it this happening in?

[2020-03-12 18:28] rtibbles commented on #6653
Another possibility is that there has been a regression due to the updates, which is causing the content cache key not to get regenerated. Or it is being regenerated somewhere but the cache not being updated.

[2020-03-12 20:21] nucleogenesis opened #6656 "Unused Component Answer.vue in Coach"
### Observed behavior

I'm working through Kolibri and found that `kolibri/plugins/coach/assets/src/views/common/Answer.vue` doesn't appear to be imported and used anywhere. I'm updating `mat-svg` to use `KIcon` directly and wanted to make the change in that file and see where I can verify that it works properly but I cannot find anywhere it is used.

I'm not sure if I'm just missing something but

[2020-03-12 22:38] indirectlylit commented on #6656
Nope, I don't see any indication of it. Feel free to delete

[2020-03-12 22:39] indirectlylit commented on #6655
(duplicate of https://github.com/learningequality/kolibri/issues/6615)

[2020-03-12 22:39] #6655 closed, assigned to nobody

[2020-03-12 23:08] indirectlylit commented on #6628
It's definitely more important that we allow multiple classes, than that we allow single classes with commas.

Even if we switched delimiters, that doesn't address the case being discussed here where commas are used to separate a list of classes _within_ a single column of the CSV, not to separate columns of the CSV. For example:

[code]

[2020-03-13 01:32] indirectlylit opened #6657 "'new user' full-screen modal is implemented as an "end state" page"
### Observed behavior

The "New User" modal has a black titlebar and a "Back" button:

![image](https://user-images.githubusercontent.com/2367265/76581139-9c15d980-648f-11ea-837e-017e43db2c7c.png)

### Expected behavior

This is a modal, so it should be ~a purple header and~ [EDIT: this was incorrect] a "Close" button

### User-facing consequences

inconsistenct UI

### Context

0.13.2

[2020-03-13 06:36] nucleogenesis opened #6658 "Uninformative big X for no attempt in Coach Reports"
### Observed behavior

In `kolibri/plugins/coach/assets/src/views/common/LearnerQuizReport.vue` (Coach > Reports > Quizzes > Quiz Reports > Learner Quiz Report Details) - there is a `v-if` directive where if there are no attempts on the exam, we just show a big X.

![image](https://user-images.githubusercontent.com/6356129/76595625-5b32ba80-64b9-11ea-8142-43d7030058a2.png)

To see this - set line

[2020-03-13 16:28] indirectlylit commented on #6658
thanks - this was a last minute fix due to string freeze in 0.13 I believe

let's fix for 0.14

[2020-03-13 22:32] #6633 closed, assigned to jonboiser

[2020-03-15 15:45] priyanka-choubey commented on #5798
@jonboiser I would like to work on this. thanks

[2020-03-16 18:00] kollivier commented on #5619
**Update!**

Looks like this is caused by the doctype stripping bug. The content does have <!doctype html> specified, and with the doctype restored, the content renders as expected:

![image](https://user-images.githubusercontent.com/29585/76786926-4bdf9580-6775-11ea-880c-9689ed9ad24b.png)

[2020-03-17 05:46] nucleogenesis commented on #6656
Bah! I found it used in `kolibri/plugins/coach/assets/src/views/common.js` - gotta take that `*.vue* filter off my global search :100:

[2020-03-17 05:46] #6656 closed, assigned to nobody

[2020-03-17 18:42] #5889 closed, assigned to nobody

[2020-03-18 17:15] indirectlylit commented on #5619
awesome! glad to hear.

Once https://github.com/learningequality/kolibri/pull/6646 makes its way into the mainline we can close this

[2020-03-18 17:23] #6151 closed, assigned to bjester, jonboiser

[2020-03-18 19:15] jonboiser opened #6666 "Ordering of `/api/channels` does not match `/device/api/device_channels`"
### Observed behavior

In the community forums, a user reported that on RACHEL devices (via [this extension](http://oer2go.org/viewmod/en-kolibri-index)), the channel order on the RACHEL home screen doesn't match the ordering inside of Kolibri itself.

I believe that this because of a [mismatch](https://community.learningequality.org/t/no-drives-with-kolibri-resources-are-connected-to-the-server/1

[2020-03-18 22:48] indirectlylit commented on #6459
Closing this issue as "works as intended". We aren't going to change the frequency of polling unless we migrate to something like websockets (see for example https://github.com/learningequality/kolibri/pull/6638) because this would negatively impact the user experience.

If the amount of logging is an issue, lets either address that in log rotations (as in the PRs referenced above) or find a way t

[2020-03-18 22:48] #6459 closed, assigned to nobody

[2020-03-18 22:50] indirectlylit commented on #6459
It should be noted though that we've had no users complain about log sizes so this is not a priority

[2020-03-19 00:40] DXCanas opened #6668 "0.11 JS Dependency Errors during build"
### Observed behavior

`yarn install` seems to fail when attempting to install packages listed in plugins' `package.json`, leading to errors like this:

[code]

### Steps to reproduce

1. Submit a PR to 0.11
2. Watch the buildkite pipeline fail

[2020-03-19 07:51] benjaoming commented on #6459
That's because logging isn't working, i.e. doesn't log (API) views :)

I agree with the conclusion.

[2020-03-19 18:03] rtibbles commented on #6653
Chain of events that should be happening:

New content gets imported
ContentCacheKey gets updated
Cached value of ContentCacheKey also gets updated
etag for all HTML pages gets recalculated
HTML page reloads with new ContentCacheKey value bootstrapped in
Content API calls have this new ContentCacheKey as a GET PARAM, so hit the server rather than browser  cache, and update

[2020-03-19 18:16] indirectlylit opened #6673 "user edit page should exit after saving"
### Observed behavior

Saving data leaves the user on the current page and switches 'cancel' to 'close' which is unconventional in our app:

![2020-03-19 11 00 09](https://user-images.githubusercontent.com/2367265/77100279-9c9ffa00-69d2-11ea-86a0-8da57513d958.gif)

The same is true for editing user permissions in device. Here, there's an additional little "Saving..."  message that shouldn't be the

[2020-03-19 19:17] indirectlylit opened #6676 "when creating a lesson, incorrect validation briefly shows"
### Observed behavior

When creating a lesson, there is very briefly a message that says that the name is already used:

![2020-03-19 12 15 40](https://user-images.githubusercontent.com/2367265/77105877-7c286d80-69db-11ea-8331-77b9e0b9fcc1.gif)

### Expected behavior

No validation message should be shown in this case

### User-facing consequences

Slight confusion

### Steps to reproduce

create

[2020-03-19 19:17] #5798 closed, assigned to priyanka-choubey

[2020-03-19 19:19] jonboiser commented on #6676
This is a duplicate of #6593

[2020-03-19 22:44] indirectlylit commented on #6624
likely a regression from https://github.com/learningequality/kolibri/pull/6268

[2020-03-20 01:57] indirectlylit opened #6681 "CSV headers headers for session and summary logs are not internationalized"
### Observed behavior

Headers of the CSV data in session logs and summary logs are not internationalized:

![image](https://user-images.githubusercontent.com/2367265/77129874-dd1f6800-6a12-11ea-8397-1e0f28fcfd57.png)

![image](https://user-images.githubusercontent.com/2367265/77129903-f88a7300-6a12-11ea-9f1b-b7455eea8164.png)

### Expected behavior

Headers should be in the current language of th

[2020-03-20 16:23] benjaoming commented on #6653
I read through the implemented behavior and didn't spot anything, looking at HTTP response headers now.

The response of `/learn/` correctly states max-age=0, which means:

This means that a re-validation with `If-Not-Modified` is desired.

Observation: The expiration date of endpoints such as `/api/content/channel/` and `/api/content/contentnode_slim/` is set to a year in the future.  I'm not sur

[2020-03-20 16:27] benjaoming commented on #6653
I can see that API requests do not provide `If-Not-Modified`, so I assume that's why we use a URL parameter -- I'm not sure if there is a case where the previous content cache key prevails as a URL parameter for the API views?

![image](https://user-images.githubusercontent.com/374612/77184250-d60a5f80-6acf-11ea-80be-652eff741f03.png)

[2020-03-20 16:42] rtibbles commented on #6653
This is intentional, to provide long term in browser caching of these resources. The ContentCacheKey is meant to be invalidating this cache when things change.

[2020-03-20 16:44] rtibbles commented on #6653
The content cache key is set in Javascript - drawing from the value that is bootstrapped into the HTML page served by Django. Is the content cache key GET param updating? If not, then that is the cause of the issue.

[2020-03-20 16:50] benjaoming commented on #6653
I cannot reproduce the issue, so I'm approaching it purely theoretical -- I'm guessing we could close this issue if we could fix one or more theoretical gaps in how the content cache key is updated and transmitted.

[2020-03-20 17:08] rtibbles commented on #6653
I am wondering if it might be a specific browser caching issue, as both @jonboiser and @indirectlylit have reported it.

[2020-03-20 17:19] benjaoming commented on #6653
Any chance that this behavior is confined to kolibri-server? Am wondering this in case different instances of the Django cache backend results in the wrong `contentCacheKey` being handed out.

[2020-03-20 18:18] indirectlylit commented on #6653
no this is reproducible locally with the dev server - see the context in the description

[2020-03-20 19:24] benjaoming commented on #6653
Sorry @indirectlylit - I had already deleted the comment, was a glitch in a thought train.

I'm adding the following notes:

* I still cannot reproduce this. Tried a dev server with Firefox+Chromium on Ubuntu and Google Chrome on Mac.
* #6682 changes the cache key and the cached cache key to both be integers. Before, they were int and float, and that does not match and creates a theoretical 1 seco

[2020-03-20 19:59] indirectlylit commented on #6653
This is an issue with how caches work in different contexts:

* dev server uses separate processes and non-shared memory so reproduces bug
* production server uses threads and shared memory so bug wouldn't reproduce
* cloud kolibri and kolibri server use redis which works cross-process

removing from milestone and reducing severity, but we should still fix eventually

recommended fix: use `CrossPr

[2020-03-20 20:58] ivanistheone opened #8364 "Three small styling bugs in exercise renderer"
### 1/
Font and styling text inside `<pre>` tag changes drastically between responsive breakpoints
![Screenshot_2020-03-17 Preguntas de Evaluación - Option 2 - CommonLit Test - Kolibri](https://user-images.githubusercontent.com/163966/77205750-def93200-6acb-11ea-8e8e-e24c3026310f.png)

----

### 2/
Horizontal line separators between answers stick out too far on smallest responsive brekpoint
![Scr

[2020-03-21 17:52] benjaoming commented on #6666
@jonboiser I was looking at [the Rachel module](http://oer2go.org/viewmod/en-kolibri-index) and it calls this endpoint:

[code]

Which makes me confused, as it's a 404 - should be `/api/content/channel/`. [The oer2go preview page for Kolibri](http://oer2go.org/cgi/sample_wrap.php?moddir=en-kolibri-index) currently doesn't work so having a hard time understanding whether there's some trick to this

[2020-03-22 14:03] tim-moody opened #6684 "Khan Academy (English) Import Metrics"
## Observed behavior

Download is quite slow and gets slower over time

2% - 10 min
10% - 80 min
30% - 6 3/4 hours
60% - 17 3/4 hours

still downloading

Anecdotally cpu has steadily increased from 60 or 70% to 90 - 100% (I take it total could be 400% with 4 cores) as reported by htop. Memory usage has grown from around 580M to 630M. Both are variable.

### Steps to reproduce

Navigate to Import a

[2020-03-22 17:08] benjaoming commented on #6666
To fix this, should we suppose that RACHEL calls the correct `/api/content/channel` in some other version of the module?

* PHP's `file_get_contents` does not use the HTTP cache headers (otherwise set via the `@cache_forever` decorator in the API endpoint) -- so that doesn't seem to be the source. Although if a later module does use a cache-enabled XHR, it might be relevant to look into.
* Both en

[2020-03-22 20:22] tim-moody commented on #6684
At 24 hours just short of 75% complete.

[2020-03-22 22:12] tim-moody commented on #6684
From 0 to 10% took 80 minutes.
From 70 to 80% took 250.

[2020-03-23 13:49] benjaoming commented on #5810
Vouching to close this -- there hasn't been a single occurrence of this in a fair amount of automated builds that went through testing.

In case it's possible that the curl command silently writes a corrupt file: A corrupt Python installer should be quite evident, so not an error that would propagate very far without getting caught.

[2020-03-23 13:49] #5810 closed, assigned to nobody

[2020-03-23 17:20] tim-moody commented on #6684
It completed in just short of 36 hours for an average speed of 18 MB per minute.

By way of comparison, the Spanish Khan Academy (17G) subsequently completed in 90 minutes on the same machine for an average speed of 190 MB per minute.

[2020-03-23 17:38] holta commented on #6684
Depressing, but an essential data point: that's 2.4 mbit/sec, similar to late 1990s Internet speeds.

Is anybody at Learning Equality able to explain a bit more what download protocol and URL's are causing this, for investigation?

[2020-03-23 18:53] tim-moody opened #6685 "Question: workflow for content export"
If I supply a linux formatted drive owned by root I get an error that no writable drive is found. Am I supposed to format or chown such as drive? do you expect fat32 or a format with no permissions?

[2020-03-23 21:31] indirectlylit commented on #6685
You can see the logic for drive discovery here: https://github.com/learningequality/kolibri/tree/develop/kolibri/core/discovery/utils/filesystem

By following that logic, maybe you can come up with a clue as to why a drive is being filtered out?

Sometimes there are issues with which user the drive is being mounted by versus which user is running Kolibri, for example.

[2020-03-23 22:20] indirectlylit commented on #6684
Thanks for the info. It's super curious that KA (ES) completed so much quicker than KA (EN).

We did recently have an import performance regression (https://github.com/learningequality/kolibri/issues/6602), and have a fix for it coming out in 0.13.2, but the behavior sounds different from what you're describing.

That said, perhaps you'd be able to test our 0.13.2 beta to help ascertain if any per

[2020-03-23 22:35] indirectlylit commented on #2722
this appears to be addressed

[2020-03-23 22:35] #2722 closed

[2020-03-23 22:37] indirectlylit commented on #90
Closing as stale. We haven't had any regressions in this functionality

[2020-03-23 22:37] #90 closed

[2020-03-23 22:38] indirectlylit commented on #84
Closing as stale. Hooks have changed a lot since this was filed, and new tests have been written

[2020-03-23 22:38] #84 closed

[2020-03-23 22:43] indirectlylit commented on #30
Closing because performing the audit would not solve a specific unmet need for our users or our developers. We can open follow-ups for more specific issues if and when they arise.

[2020-03-23 22:43] #30 closed

[2020-03-23 22:55] indirectlylit commented on #3187
cc @nucleogenesis relevant to some work you're doing?

[2020-03-23 22:56] indirectlylit commented on #2923
closing as stale. If there are specific tests that need to exist, let's open issues for those

[2020-03-23 22:56] #2923 closed

[2020-03-23 22:57] indirectlylit commented on #6684
Another issue related to memory usage: https://github.com/learningequality/kolibri/issues/2879

[2020-03-23 23:02] indirectlylit commented on #2868
closing because current behavior doesn't impact users or developers

[2020-03-23 23:02] #2868 closed

[2020-03-23 23:03] indirectlylit commented on #4050
closing because #5410 has more information

[2020-03-23 23:03] #4050 closed, assigned to nobody

[2020-03-23 23:05] indirectlylit commented on #4049
I believe this would be addressed by https://github.com/learningequality/kolibri/pull/6619

[2020-03-23 23:07] indirectlylit commented on #3872
closing because the originally reported issue is addressed.

We still have a lot of work to do getting immersive modals and end states consistent, but it's outside the scope of this issue

[2020-03-23 23:07] #3872 closed, assigned to nobody

[2020-03-23 23:08] indirectlylit commented on #3836
closing - I don't think anyone has seen this in a while

[2020-03-23 23:08] #3836 closed, assigned to nobody

[2020-03-23 23:11] indirectlylit commented on #3684
closing as stale

[2020-03-23 23:11] #3684 closed, assigned to nobody

[2020-03-23 23:11] kollivier commented on #6684
How often during the KA import process did you see the high CPU? Download of content should not be CPU intensive, so it suggests that there is some post-processing of the downloaded data that is getting exponentially slower over time. Does the high CPU happen right from the start, or creep upwards over time, or is it really variable? (Sorry, know the process has already finished, so whatever you c

[2020-03-23 23:12] indirectlylit commented on #4436
release process checklists are now tracked in https://github.com/learningequality/kolibri-release-process

[2020-03-23 23:12] #4436 closed, assigned to benjaoming

[2020-03-23 23:14] indirectlylit commented on #4375
closing as stale. When Khmer has been translated in Crowdin, let's open a new issue to track integration into Kolibri

[2020-03-23 23:14] #4375 closed, assigned to nobody

[2020-03-23 23:15] indirectlylit commented on #4398
closing as stale. If we see this again, let's re-open

[2020-03-23 23:15] #4398 closed, assigned to nobody

[2020-03-23 23:17] indirectlylit commented on #4364
closing as stale

[2020-03-23 23:17] #4364 closed, assigned to nobody

[2020-03-23 23:17] indirectlylit commented on #4367
closing as stale

[2020-03-23 23:17] #4367 closed, assigned to nobody

[2020-03-23 23:18] indirectlylit commented on #4361
closing as stale

[2020-03-23 23:18] #4361 closed, assigned to nobody

[2020-03-23 23:20] indirectlylit commented on #4263
closing as stale

[2020-03-23 23:20] #4263 closed, assigned to nobody

[2020-03-23 23:20] indirectlylit commented on #4262
closing as stale

[2020-03-23 23:20] #4262 closed, assigned to nobody

[2020-03-23 23:20] indirectlylit commented on #4258
closing as stale

[2020-03-23 23:20] #4258 closed, assigned to nobody

[2020-03-23 23:29] indirectlylit commented on #4539
closing as stale

[2020-03-23 23:29] #4539 closed, assigned to nobody

[2020-03-23 23:32] indirectlylit commented on #4532
Hi - I've updated this issue to reflect a decision that the message should be turned into an `info`-level log entry

[2020-03-23 23:34] indirectlylit commented on #4442
cc @nucleogenesis  another KSelect issue

[2020-03-23 23:37] indirectlylit commented on #4836
this is now addressed

[2020-03-23 23:37] #4836 closed, assigned to nobody

[2020-03-23 23:38] #4775 closed, assigned to nobody

[2020-03-23 23:41] indirectlylit commented on #5292
this now only happens in postgres. remaining work to happen under https://github.com/learningequality/kolibri/issues/6560

[2020-03-23 23:41] #5292 closed, assigned to nobody

[2020-03-23 23:50] indirectlylit commented on #5698
what kinds of content operations are being referred to here?

[2020-03-23 23:51] indirectlylit commented on #5539
@nucleogenesis another KSelect issue

[2020-03-23 23:52] indirectlylit commented on #4953
fixed by https://github.com/learningequality/kolibri/pull/5313

[2020-03-23 23:52] #4953 closed, assigned to mrpau-richard

[2020-03-23 23:59] indirectlylit commented on #5952
closing given 0.13 updates. Let's re-open if there are new issues to raise

[2020-03-23 23:59] #5952 closed, assigned to nobody

[2020-03-24 00:00] indirectlylit commented on #5932
closing as stale

[2020-03-24 00:00] #5932 closed, assigned to nobody

[2020-03-24 00:02] #6213 closed, assigned to nobody

[2020-03-24 00:05] indirectlylit commented on #6346
duplicates are allowed by design

[2020-03-24 00:05] #6346 closed, assigned to nobody

[2020-03-24 00:11] #6612 closed, assigned to nobody

[2020-03-24 01:26] indirectlylit commented on #4604
tested and this appears to have been addressed in 0.13

[2020-03-24 01:26] #4604 closed, assigned to nobody

[2020-03-24 10:33] benjaoming commented on #6684
@tim-moody do you have any logging output from the time of the import? I'm asking because I'm currently seeing a disruption between Cloudflare and our origin server, resulting in frequent 522 server errors which will show up in logs (`~/.kolibri/logs/kolibri.txt` or `~/.kolibri/logs/archive`).

Try searching logs for this:

[2020-03-24 12:41] benjaoming opened #6686 "Export to drive lacks guiding fail messages and guidance about resuming"
### Observed behavior

Previously reported in https://github.com/learningequality/kolibri/issues/5952, if an export fails -- or perhaps indeed failed tasks in general -- then there is no guidance:

1. Error messages to post in Community Forums etc. For instance tracebacks.
1. When did it fail? What was the progress?
1. Instructions to look at logs could be helpful.
1. As reported before, it would

[2020-03-24 12:43] benjaoming commented on #5952
Opened in https://github.com/learningequality/kolibri/issues/6686 -- but problems are still the same.

[2020-03-24 13:33] tim-moody commented on #6684
@kollivier I wrote down subjective notes on the cpu% which had a min, a max, and a cluster. The cluster over time, gradually and slowly, increased from 80 to 90 to 100% (this is one of 4 cores). For the Spanish download the cluster was more like 40 to 50% and didn't seem to increase.

[2020-03-24 13:40] tim-moody commented on #6684
@benjaoming here are the logs
https://paste.ubuntu.com/p/QTCWxG9h6N/
https://paste.ubuntu.com/p/K8Q9kzRkMH/
https://paste.ubuntu.com/p/8vRCp4SBbh/
https://paste.ubuntu.com/p/9N7ChythxT/
https://paste.ubuntu.com/p/ytxGkKpcqM/

[2020-03-24 14:07] benjaoming commented on #6575
I could not reproduce wrong coach item counts on a clean import of `zapok-dofil`, it's related to the missing rewrite/update of existing metadata as @ivanistheone hinted. I found other issues during test, that I'll isolate and address in other issues.

I created an isolated test channel, imported it, added coach contents and imported the new contents. Adding new coach contents did not pose issues

[2020-03-24 14:07] #6575 closed, assigned to nobody

[2020-03-24 14:10] benjaoming commented on #6575
@intelliant01 thanks very much for finding and explaining these problems, I hope that while solving the various issues related to adding/editing resources in channels, we might also stumble upon a fix for what you experience with the existing channels.

Otherwise if it persists and there's a way to get your installation data, we could also investigate it that way.

[2020-03-24 14:21] benjaoming opened #6687 "Added channel item does not show up in subtopic"
### Observed behavior

I updated a test channel twice, in both updates I added a new item. None of the 2 new items showed up after updating.

I believe this is related to https://github.com/learningequality/kolibri/issues/6575 - as some of the behavior might be explain by the full absence of new channel nodes in subtopics.

### Expected behavior

The subtopic is reload with new items

### User-fac

[2020-03-24 14:23] benjaoming commented on #6575
@ivanistheone is there a "hack" that can provoke metadata updates on topics? Am thinking if editing the title of a subtopic could propagate to rewriting metadata? What could be appropriate behavior?

[2020-03-24 14:36] tim-moody opened #6688 "Spanish KA exercise does not render"
### Observed behavior
Khan Academy (Español)Matemáticas3.er gradoSumas y restasSumar números del 1 al 1000 con reagrupación

![image](https://user-images.githubusercontent.com/5678731/77436761-40661d00-6dba-11ea-9783-19b347177e99.png)

### Expected behavior

Should load and run interactive app, but stays on this screen.

### Errors and logs

this is in the js console:

[code]

### Steps to reprodu

[2020-03-24 14:36] tim-moody opened #8358 "Spanish KA exercise does not render"
### Observed behavior
Khan Academy (Español)Matemáticas3.er gradoSumas y restasSumar números del 1 al 1000 con reagrupación

![image](https://user-images.githubusercontent.com/5678731/77436761-40661d00-6dba-11ea-9783-19b347177e99.png)

### Expected behavior

Should load and run interactive app, but stays on this screen.

### Errors and logs

this is in the js console:

[code]

### Steps to reprodu

[2020-03-24 14:46] benjaoming commented on #6684
Thanks @tim-moody - It doesn't seem like we have logged any errors, but I would rule out the "522 Server Error" then. I cannot figure out the timing of events from the logs, but channel id `1ceff53605e55bef987d88e0908658c5` is Khan Academy English -- however doesn't seem to be any logged event for finishing the download.

[code]

[2020-03-24 14:46] tim-moody commented on #8358
tried three other exercises. all have the same behavior

[2020-03-24 14:49] tim-moody commented on #6685
I recommend mentioning the permissions problem in the docs. I suppose a fat32 usb from the factory will not have the problem. btw usbs are automounted by root upon insertion.

[2020-03-24 16:42] indirectlylit commented on #6227
reported again here: https://github.com/learningequality/kolibri/issues/6687

We may want to consider also providing an option like:

[2020-03-24 16:43] indirectlylit commented on #6687
Updating a channel doesn't actually mean it will import the new content - it just means that it will become available.

However, other people (myself included) have also found the current UX very unintuitive. We have an open issue to address the UX issue here: https://github.com/learningequality/kolibri/issues/6227

[2020-03-24 16:43] #6687 closed, assigned to benjaoming

[2020-03-24 17:01] benjaoming commented on #6687
Oh yikes, thanks for explaining that - I absolutely missed that from the way it was presented -- all the nice "Update" buttons give a different impression.

[2020-03-24 17:03] benjaoming opened #6689 "Channel update diff viewer: Wrong "currently installed" version"
### Observed behavior

Assigning myself for clarification of this issue.

Observed while trying to reproduce https://github.com/learningequality/kolibri/issues/6575. Using a custom private testing channel used for clean reproduction:

Had **Version 1** installed. **Version 2** is printed some places as the currently installed version, while "Update" buttons are displayed as well.

![screenshot-202

[2020-03-24 18:10] khangmach commented on #5281
Facility > Classes

Context | String | Action label
------------ | ------------- | ----------------------
Adding a class | Class created |
Deleting a class | Class deleted |
Assigning a coach | Coach assigned | Undo
Assigning multiple coaches | Coaches assigned |
Removing a coach | Coach removed | Undo
Enrolling a learner | Learner enrolled | Undo
Enrolling multiple learners | Learners enrolled |

[2020-03-24 18:53] benjaoming commented on #6624
* Ruling out that this is a cache error
* Re: List of 404 errors: These errors are on all systems.

Found this traceback on iOS 8 Safari to investigate:

[code]

[Edit: Updated the traceback]

Because of issues on Browserstack, I cannot re-run this with a debuggable development build of our assets.

[2020-03-24 20:09] khangmach commented on #5281
@jonboiser Updated coach strings:

Coach > Plan lesson

Context | String | Action label
------------ | ------------- | ---------------
Creating a new lesson | Lesson created |
Editing lesson details | Changes saved |
Deleting a lesson | Lesson deleted |
Adding a resource | Resource added |
Adding multiple resources | N resources added |
Removing a resource | Resource removed |
Removing multiple re

[2020-03-24 20:49] indirectlylit commented on #6624
You might be running into this: https://github.com/learningequality/kolibri/issues/4826

[2020-03-24 20:51] indirectlylit commented on #6624
you might be able to use [ngrok](https://ngrok.com/) to expose your dev server in a way that browserstack can handle

[2020-03-24 21:57] benjaoming commented on #6624
@indirectlylit yes it's what I do already with localhost.run -- I think my **production** assets are available just fine to the Browserstack instances, it's a very varied experience between different iOS and Safari versions.

[Edit: production assets are available, as development assets won't work due to WDS, additional port forwarding and hard-coding of `localhost`]

I'll try to investigate furth

[2020-03-25 00:24] jonboiser commented on #6689
@benjaoming Could you take a look at the actual SQLite files to see what the versions are. When upgrading, there should be a plain `.sqlite` file for the currently installed version, then a file with the same ID but slightly different file extension for the potential upgrade version (i'm forgetting the exact extension).

I've had this problem before too, but it was because Studio was caching the `

[2020-03-25 11:22] benjaoming opened #6692 "yarn run devserver / build commands not cached"
### Observed behavior

When developing Kolibri, frontend assets make up a lot of build time. On an 8 GB system, I have 120-180 seconds with a generally unresponsive system.

This impacts every time that the dev server has to be restarted: Switching git branches etc.

An option is to build production assets with the `-s` switch to build on single-core, such that the dev laptop is responsive while b

[2020-03-25 11:28] benjaoming commented on #6624
Safari 8 on iOS 8. This time, running with development JS assets, I suppose that `hashiframe` only is included as a minified version, so it's hard to trace `TypeError: undefined is not an object (evaluating 't.content.children[0]')`.

![image](https://user-images.githubusercontent.com/374612/77524473-b08ea480-6e87-11ea-900d-6387262eddd2.png)

[2020-03-25 13:10] intelliant01 opened #6693 "Not able to create lessons, quiz or group"
### Observed behavior

In the Coach module, logged in as super admin -
When trying to create a lesson, I get the following message - ` There was a problem saving this lesson `
When trying to create a group, I get the `Something went wrong` screen but no error details.
When trying to create a quiz, I don't get any error response but the quiz also doesn't get created after having chosen the exercise

[2020-03-25 13:18] benjaoming commented on #6624
By chance, I provoked a very similar case, but on all browsers: The African Story Book item showing up fine, but the buttons are unresponsive, and there is a `$$ is undefined` error. It turns out that `hashiframe-fdf6b89fc1e09fe9faa9.js` is not found, an asset that is built but needs to be in a served location. Running `kolibri manage collectstatic` fixed the issue:

![image](https://user-images.g

[2020-03-25 13:52] benjaoming commented on #6689
Thanks @jonboiser

I think this case is the opposite: I did not do the upgrade workflow, yet I had the latest version from Studio reported -- see especially the second screenshot, where it reports that "version 2" (latest version) is installed and that I need to upgrade at the same time.

Let me have a go at seeing if this reproduces systematically or not.

[2020-03-25 14:28] benjaoming commented on #6624
Okay so here's my suggestion for reproducing the issue.

### Minimal case

* Use Browserstack's Safari on iOS 9 for iPhone 6S _or_ Safari on iOS 9 for iPhone 6S Plus
* The Dev Tools on Browserstack are very buggy, so wait around for up to several minutes before the Web Inspector panel actually shows anything.. otherwise, it'll say to reload the session (which you shouldn't). I think I had more luc

[2020-03-25 14:35] benjaoming commented on #6624
Here's data from Browserstack Dev Tools, which unfortunately wipes the Console log every few seconds when Safari 9 reloads, even with persistent logging enabled. I don't see anything useful in the traceback at this stage :(

![image](https://user-images.githubusercontent.com/374612/77547839-0118f880-6eae-11ea-9795-6002d7c09122.png)

[2020-03-25 15:29] kollivier commented on #6624
I suspect the hashiframe issue is caused by the `replaceScript` trick relying on some HTML or JS support that older versions of Safari don't have.

I'll try to look into fixing that once I'm done with current tasks, but I also think it may be a good time to introduce a way to mark content as not needing Hashi. Several of our existing content sources pre-date Hashi and don't use its features, and i

[2020-03-25 16:08] indirectlylit commented on #6693
Thanks @intelliant01

I'm seeing a lot of errors like:

[code]

We may have to work with you to understand how the DB got into the state it's in. Is there any other context you can provide about this installation? (number of classes/users, how long it's been in use for, used advanced features like data syncing, etc?)

[2020-03-25 16:18] intelliant01 commented on #6693
@indirectlylit this is the system that I use mostly for training teachers. This could be the crucial part - It has a database that was synced from data from 3-4 one year old production installations while working with the MFE Nalanda project team almost a year ago. All along since then I have been able to create lessons etc in this. Not sure when did it stop working.

Database size could be around

[2020-03-25 16:27] indirectlylit commented on #6693
thanks that would be helpful.

It would be best if we could figure out how it got in this state, but at the least we can probably add checks to bypass these errors or clean up missing references

[2020-03-25 17:43] jonboiser commented on #6689
Oh, I see. It's strange that the UI is telling you that you have "Version 2",  but still behaving like you have "Version 1" (i.e. showing you the update notifications). Have you found a way to get the UI to show "Version 1" again (resetting the server, etc.)?

When you go to the `Device > Channels` page could you inspect your Network tab and look for `/api/device_channels/` and look at the entry f

[2020-03-25 17:47] avni commented on #8358
I can replicate the behavior reported.
Have the same issue on: OSX client with Chrome and Safari. Server is RPI4. Kolibri 0.13.1.

Get a 404 on this resource: /static/mathjax/2.1/MathJax.js?config=KAthJax-730d56e87e9c926b91584f6030314815.js

[2020-03-25 21:53] benjaoming commented on #6689
Hmm, I closed this issue and commented earlier today -- seems I did that without an internet connection *sigh*

I tried to reproduce this in many ways today and gave up. I tried with a blank "Version 1" kind of channel.

I'll be sure to fetch raw data from the endpoints if I see this again. I was debugging other things, so only managed to grab the screenshots in the fly-by.

[2020-03-25 21:53] #6689 closed, assigned to benjaoming

[2020-03-26 04:29] cpauya opened #6697 "Kolibri does not report to the user that disk is full during channel import."
### Observed behavior
When importing a channel from Kolibri Studio (online)/Internet (example: Khan Academy English), Kolibri does not report to the user if the disk is full.  This causes the import to "freeze", which eventually makes Kolibri unresponsive.

On a similar note, Kolibri also does not prompt the user that the size of the channel to import is larger than the available disk space.

####

[2020-03-26 07:14] indirectlylit commented on #6697
A more specific example of the more general note in https://github.com/learningequality/kolibri/issues/6686

[2020-03-26 09:12] benjaoming opened #6699 "Build options propagate wrongly"
### Observed behavior

Example: The build switch `-s` isn't propagated to `kolibri-tools` but only appended to the final command.

[code]

Work-around:

[code]

Might be a regression from #6268

### Expected behavior

Ability to run single-core compiles.

### User-facing consequences

None

### Errors and logs

Nay

### Steps to reproduce

Run command

### Context

0.13.2.dev

[2020-03-26 10:15] intelliant01 commented on #6693
@indirectlylit Database available herein - https://drive.google.com/open?id=1t24Y7gg5-9wkIrHO3xEVd7AX_3qbVpAh

[2020-03-26 19:13] holta commented on #8358
@jamalex & all:

- Internet-in-a-Box communities are accustomed to exercises accompanying KA Lite, but these apparently aren't working within Kolibri, so KA Lite appears to be a better solution than Kolibri overall at this time.

- Can you help us shed light on the situation and/or recommend any short-term workarounds until this is fixed?

Thanks!

[2020-03-26 19:30] ivanistheone commented on #8358
I just tried and I can't reproduce on a linux server.

Direct link to exercise in Kolibri 0.13.1 in an online demo server: https://kolibridemo.learningequality.org/en/learn/#/topics/c/6815f2269a9e5bbd8f2a48ee317c49d1

@tim-moody Am-I looking at the right exercise?

Also can you confirm you have version 10  of the KA (Espanol) channel imported, you can see the version from the device/content page:

[2020-03-26 19:31] radinamatic commented on #8358
Not able to replicate this on Ubuntu 18.04, exercises in Spanish render correctly in both Chrome and Firefox.

![2020-03-26_19-36-24](https://user-images.githubusercontent.com/1457929/77688669-c2179f80-6fa0-11ea-98d6-2f29f3fa2d1e.png)

I'll fire up a Windows VM and retry.

[2020-03-26 21:08] tim-moody commented on #8358
My server is raspbian-lite of feb 13 on rpi 4 as said.

I don't see any version number for ES KA

![image](https://user-images.githubusercontent.com/5678731/77696993-63dcc380-6f84-11ea-8ad9-2b01bd305ca6.png)

[2020-03-26 21:10] tim-moody commented on #8358
Also, it occurs to me that I only have the math portion of ES KA, and I imported it rather than downloaded it if that makes any difference. Did I not get mathjax as a result?

[2020-03-26 21:27] tim-moody commented on #8358
The link to Mathjax.js is http://rpi-devel/static/mathjax/2.1/MathJax.js?config=KAthJax-730d56e87e9c926b91584f6030314815.js

but it should be http://rpi-devel/kolibri/static/mathjax/2.1/MathJax.js?config=KAthJax-730d56e87e9c926b91584f6030314815.js (the static directory is there and contains Mathjax.js)

this could be an nginx config problem, so to my chagrin this could indeed be related to iiab/ii

[2020-03-26 21:32] tim-moody commented on #8358
actually we had the same problem with kiwix. you get to a page with the prefix (/kolibri/), but the links on the page (or via ajax) do not have the prefix in them.

[2020-03-26 21:32] tim-moody commented on #8358
[code]

[2020-03-26 21:36] ivanistheone commented on #8358
@tim-moody No I don't think it's an nginx or kolibri problem. The missing Katex reference looks very much like an issue in an older version of the KA channels we faced and fixes.

Please navigate to the content admin page at  http://rpi-devel/kolibri/en/device/#/content

From where you will be able to UPDATE the channel (to pull in the latest version) (choose the Kolibri Studio option). More info

[2020-03-26 21:39] ivanistheone commented on #8358
By the end of this you should have v10 of the channel on your device (which has the fix for the exercise rendering issue).

After that you can then do use the [Export to local drive](https://kolibri.readthedocs.io/en/latest/manage/resources.html#export-from-kolibri-to-local-drive) steps so you'll have a up-to-date local copy of the channel for faster imports in the future and other tests.

[2020-03-26 21:44] tim-moody commented on #8358
How recent is v10? I only installed a couple of days ago.

[2020-03-26 21:48] tim-moody commented on #8358
![image](https://user-images.githubusercontent.com/5678731/77700107-ee73f180-6f89-11ea-8f48-c0fdb65e72cd.png)

there I see version 10

[2020-03-26 21:53] ivanistheone commented on #8358
Yep ok you have v10, so it's definitely not a content issue. Sorry for the false direction.

Like you said earlier, this is the problem:

let me dig a bit to look for solution --- either config settings or otherwise...

[2020-03-26 21:56] tim-moody commented on #8358
same problem on 64 bit ubuntu19.10.1 on rpi4 if it matters

[2020-03-26 22:15] indirectlylit opened #6700 "upgrade windows installer to 1.3.6"
ref: https://github.com/learningequality/kolibri-installer-windows/milestone/12

cc @cpauya  @mrpau-richard  @lyw07  @jonboiser

[2020-03-26 22:16] ivanistheone commented on #8358
@tim-moody I believe setting the env-var `KOLIBRI_URL_PATH_PREFIX` to `/kolibri` should fix the issue (or setting the key URL_PATH_PREFIX in options.ini ).
via https://github.com/learningequality/kolibri/blob/release-v0.13.x/kolibri/utils/options.py#L163-L167

I see this config is already being set in this iiab template:
https://github.com/iiab/iiab/blob/9639f36ba01e4beeed9b47776a6d18f4da7a98d7/ro

[2020-03-26 22:46] tim-moody commented on #8358
sorry. not finding options.ini

[2020-03-26 22:52] tim-moody commented on #8358
Is this what you're looking for?

[Service]
Type=forking
RemainAfterExit=yes
Environment=KOLIBRI_USER=kolibri
Environment=KOLIBRI_HOME=/library/kolibri
Environment=KOLIBRI_HTTP_PORT=8009
Environment=KOLIBRI_URL_PATH_PREFIX=/kolibri/

[2020-03-26 23:06] ivanistheone commented on #8358
That's OK. The options.ini is another way of passing in config (an alternative to using env vars and command-line args).

Yes. It seems it's set correctly on your side and the issue is an edge case in the exercise rendered frontend code that doesn't take into account the `URL_PATH_PREFIX` setting. I'm working on one a local Kolibri instance to confirm this is the root cause and if this is the case

[2020-03-26 23:10] tim-moody commented on #8358
sounds like we're narrowing in on it

[2020-03-27 00:06] ivanistheone commented on #8358
I've managed to reproduce the issue here:
http://35.196.82.154/kolibri/en/learn/#/topics/c/6815f2269a9e5bbd8f2a48ee317c49d1
This server is running with `export KOLIBRI_URL_PATH_PREFIX="/kolibri"` and everything functions correctly if you visit http://35.196.82.154/kolibri/ since the Kolibri app knows to expect the prefix `/kolibri` and works fine.

However the Kolibir exercise plugin loads [certai

[2020-03-27 00:33] ivanistheone commented on #8364
To add another instance of weird stuff happening on different responsive breakpoint (subissue 1/), check out this equation that starts to "stick out" on the left for narrow viewpoints:

<img width="321" alt="Screen Shot 2020-03-26 at 8 29 53 PM" src="https://user-images.githubusercontent.com/163966/77709329-0efb7600-6fa1-11ea-8773-40d8ea50b4dd.png">

open https://kolibridemo.learningequality.org/e

[2020-03-27 03:25] mrpau-richard opened #6703 "Kolibri database is locked error"
### Observed behavior
This happened when I import more than 20GB of KA channel contents and using multiple browsers for Kolibri testing.

I'm using Windows 7 VM with 512MB of memory 1 CPU 27MB Video memory

### Expected behavior

…

### User-facing consequences

…

### Errors and logs
[code]
[deamon.txt](https://github.com/learningequality/kolibri/files/4391303/deamon.txt)
[kolibri.txt](https://gi

[2020-03-27 13:43] benjaoming commented on #877
A supplemental approach can be Zulip's test suite that prohibits remote connections during tests:

https://zulip.readthedocs.io/en/latest/testing/testing.html#internet-access-inside-test-suites

[2020-03-27 22:12] andyhaskell opened #6707 "yarn install erroring on aphrodite, Keen-UI when using git with SSH"
### Observed behavior

Following the instructions [here](https://kolibri-dev.readthedocs.io/en/develop/getting_started.html#setting-up-kolibri-for-development) for setting up Kolibri, I ended up getting an error when running `yarn install` for aphrodite and Keen-UI:

`fatal: Could not read from remote repository.`

After further investigation, I found that I get this error running:

`git ls-remote

[2020-03-28 10:57] benjaoming commented on #6610
Potentially related odd exit behaviors reported here: https://community.learningequality.org/t/stop-job-on-raspberry-pi-when-shutting-down/1482/9?

CC: @jamalex

[2020-03-29 08:10] #6607 closed, assigned to nobody

[2020-03-29 18:02] ivanistheone opened #6712 "Wrong progress on channel update"
### Observed behavior

While trying to update ASB channel on kolibridemo, I went through the wizard that showed me the version "changelog" then when I started update task I saw it jump to 100% progress right away:

<img width="786" alt="shows as 100pct right away" src="https://user-images.githubusercontent.com/163966/77856401-d20fc900-71c4-11ea-8cd1-c27d6fd72a66.png">

### Expected behavior

Progr

[2020-03-30 03:17] radinamatic commented on #6703
@mrpau-richard It would be good if you could specify the steps that lead to this error in a bit more detail, and provide the `kolibri.txt` log file too.

Does the error resolve if you restart the server, and/or limit to using just one browser?

[2020-03-30 08:51] benjaoming commented on #6684
Ping @mrpau-richard - you are reproducing a database issue that happens after importing 20 gigs of Khan Academy, can you notice during the next test if it also slows down during import as described here?

[2020-03-30 08:51] benjaoming commented on #6684
Ref: https://github.com/learningequality/kolibri/issues/6703

[2020-03-30 14:24] mrpau-richard commented on #6703
The Kolibri server cannot start unless I manually delete the database that causing this error.

[2020-03-30 15:45] radinamatic opened #6714 "Granular import on Windows"
### Observed behavior
Windows 10 VM was set up to import a large amount (10GB) of resources from a local network peer (0.13.2 instance running on Ubuntu VM on another physical device). Since Windows VMs have a limitation that they auto shut down after 60 minutes, I expected that this process will require several restarts. The first 2 restarts were uneventful, and the import apparently proceeded we

[2020-03-30 16:22] rtibbles commented on #90
Who knew ignoring this could make it go away? :)

[2020-03-30 16:33] cpauya opened #6715 "Import from a virtual disk in an external SSD is slow at roughly 5-9MBps inside a VM."
### Observed behavior
Inside an Ubuntu 16.04.6 VM - Importing channel content (Khan Academy English about 19GB) from a local virtual disk is slow at roughly 5-9MBps whereas copying a folder of the same size yields >100MBps inside the same VM.

This local disk is a "virtual disk" that is saved in an [external Seagate Fast SSD 500GB](https://www.techradar.com/reviews/seagate-fast-ssd-500gb) that's s

[2020-03-30 16:57] rtibbles commented on #6715
Similar issues arise for downloads - downloading content also fails to get anywhere near to maxing out available bandwidth.

Could you compare running the same process from the command line using the management command? My intuition is that it is to do with context switching because we are using threads exclusively for our task management atm.

[2020-03-30 18:37] jonboiser opened #6717 "CoreTable doesn't accept slots using the new `v-slot` syntax"
### Observed behavior

Using CoreTable this way like this doesn't work at the moment:

[code]

You get this stack trace. It might have to do with incompatible use of low-level APIs in the `render` function.

[code]
### Expected behavior

That CoreTable works with the new v-slot syntax because the old `slot=...` syntax might not be usable in Vue 3.

The fix doesn't need to work with the old syntax,

[2020-03-30 20:03] jonboiser opened #6718 "On Available Channels, Public Studio Channels do not get the "new version" notification"
### Observed behavior
https://github.com/learningequality/kolibri/blob/6d9456778c0ccb528d6528a89a80614f01389daa/kolibri/plugins/device/assets/src/modules/wizard/actions/availableChannelsActions.js#L14-L35

This function does not add the `installed_version`/`latest_version` metadata to `publicChannels`, so the UI doesn't nkow when there is a new version

### Expected behavior

This notification sho

[2020-03-30 20:06] #6673 closed, assigned to nobody

[2020-03-30 20:52] jonboiser commented on #6718
Even unlisted channels don't show the notification anymore because of some changes to AvailableChannelsPage.vue. We're not using the `availableChannels` array in vuex directly, which contains the installed/latest version numbers.

[2020-03-31 01:43] indirectlylit commented on #6717
I'm also interested in redesigning the CoreTable so that it doesn't rely on "magic" classes and deep selectors. Might be a good thing to do in the context of the shared component library.

[2020-03-31 02:43] mrpau-richard commented on #6703
I re-encounter this issue again when I cancel the import of more than 20GB KA channel content. The Kolibri server still running but I can't sign in and the message "Sorry! Something went wrong" will show up.

I uploaded the log files below:
[kolibri.txt](https://github.com/learningequality/kolibri/files/4406444/kolibri.txt)
[daemon.txt](https://github.com/learningequality/kolibri/files/4406447/dae

[2020-03-31 04:02] cpauya commented on #6703
@mrpau-richard Are you using a VM for this?  If so, please edit and put the VM details in your first post (ram, disk size, # of processors, graphics ram) - they'll be helpful.  If not, please ignore this. 😺

[2020-03-31 06:54] cpauya commented on #6715
I tried it by running `kolibri start` in the Terminal.

Progress:
* 6 minutes = 12%, 18% CPU; write speeds up to 16MBps
* 10 minutes = 15%; 28% CPU; 232MB RAM; write speeds up to 16MBps
* 22 minutes = 25%; 38% CPU; 239MB RAM; write speeds up to 17MBps
* 32 minutes = 30%; 40% CPU; 241MB RAM; write speeds up to 7MBps
* 35 minutes = 32%; 39% CPU; 241MB RAM; write speeds up to 10MBps
* 50 minutes = 40

[2020-03-31 10:57] cpauya commented on #6703
Here's the [Kolibri Hardware requirements](https://kolibri.readthedocs.io/en/latest/install/system_requirements.html) - it needs at least 2GB RAM for Windows.

As discussed, can you can increase the 512MB RAM in your VM @mrpau-richard and see if you still encounter the issue?

[2020-03-31 11:36] cpauya opened #6724 "No auto-discovery of Kolibri peers in Ubuntu 16.04.6"
### Observed behavior

Installed Kolibri v0.13.2-beta1 in two Ubuntu 16.04.6 VMs and when trying to import content from "Local network or internet" each other.  The auto-discovery of Kolibri peers did not work.

Setup:
* I have 2 VMs running both with channel contents for importing.
* Both VMs have `gufw` (graphical firewall in Ubuntu) installed and have allowed incoming/outgoing network traffic .

[2020-03-31 11:45] radinamatic commented on #6724
Agreed that auto-discovery of peers seems very sensitive to network setup, especially if servers are running on different OSes...

In my testing it works well between two Ubuntu 18.04 peers; Windows 10 cannot auto-detect Ubuntu peer, but can import from it when the IP is saved manually; Ubuntu 18.04 can neither auto-detect a Windows 10 peer, nor it can find/access it when you try to save the IP ma

[2020-03-31 11:55] radinamatic commented on #6724
Ping from Ubuntu to Windows works, but Kolibri is still unable to add/save the local address:

![2020-03-31_13-48-05](https://user-images.githubusercontent.com/1457929/78023623-40849080-7357-11ea-98e6-f8e5345e7703.png)

[2020-03-31 12:39] mrpau-richard opened #6725 "Edit channel order not reflected when 'New' badge is present"
### Observed behavior
Edit channel order does not appear to work when one of the channels is shown as 'new' because it will always display on top.

### Expected behavior

Editing channel order should clear the 'new' badge so that the user sees the actual order

### User-facing consequences

User believes that 'edit order' functionality is broken

### Errors and logs
![temp](https://user-images.git

[2020-03-31 12:42] cpauya commented on #6700
Fixed in #6704

[2020-03-31 12:42] #6700 closed, assigned to cpauya

[2020-03-31 12:50] radinamatic opened #6726 "Windows import woes: django.db.utils.OperationalError: database is locked"
### Observed behavior
Experienced a similar error as in  #6703, but on Windows 10 with 8GBs of RAM, so that's probably not the issue.

1. In the first round Kolibri on Windows imported successfully 4GBs of content from a local Ubuntu peer, but toward the end lingered a **long** time at 100% and reported this error:

   ![Win10C (start)  Running  - Oracle VM VirtualBox_404](https://user-images.gith

[2020-03-31 12:52] benjaoming commented on #6610
Here's another error, on 0.13.2.dev

[code]

[2020-03-31 13:20] cpauya opened #6727 "Users should be warned that resource deletion tasks cannot be canceled"
### Observed behavior
Cannot cancel a delete task in Kolibri v0.13.2-beta1 under a Ubuntu 16.04.6.

### Expected behavior
User should know in advance that they are not able to cancel a delete task.

![kolibri-v0 13 2-b1--cannot cancel delete task 2](https://user-images.githubusercontent.com/175580/78030519-cd017400-7394-11ea-864b-df311a69960d.gif)

### User-facing consequences
User cannot cancel a

[2020-03-31 13:30] cpauya commented on #6574
I have encountered this similar issue of (wrong size reported) while testing [Kolibri v0.13.2-beta1](https://github.com/learningequality/kolibri/releases/tag/v0.13.2-beta1) in an Ubuntu 16.04.6 VM

The imported KA-English channel is only 19GB but the delete task shows 54GB:
![kolibri-v0 13 2-b1--delete size wrong](https://user-images.githubusercontent.com/175580/78031700-7a28bc00-7396-11ea-912b-bf

[2020-03-31 13:50] radinamatic commented on #6724
Did some more digging, and on Windows 10 you need to explicitly allow both Python and `kolibri.exe` through the firewall, to be able to add a peer for import. Auto-discovery  will still not work, but at least you can add the peer IP manually, it will be saved and import enabled.

[2020-03-31 13:58] radinamatic commented on #6727
Yeah, we had several discussions around it prior to releasing 0.13, see #6250 and #6251.

It needs additional UX, and user strings, so not possible at this time.
@indirectlylit Maybe retarget to 0.14?

[2020-03-31 14:06] rtibbles commented on #6715
Oh, I meant invoking the import by doing
[code]

[2020-03-31 14:09] cpauya commented on #6715
Yikes, I misunderstood!  I will try that next. 😸

[2020-03-31 14:14] astroanax opened #6728 "Kolibri server won't start"
### Observed behavior

So when I was unable to use Kolibri on my browser, I decided to check the status of kolibri. This is what the terminal returned -

[code]

### Expected behavior

I expected it to start a session on http://192.168.0.113:8080/, but chrome says this site can't be reached

### User-facing consequences

…

### Errors and logs

Here is the log from daemon.txt

[code]

### Steps to

[2020-03-31 14:23] cpauya commented on #6727
Oops sorry if this was a duplicate.  I searched in the issues list before reporting but I did not include "closed" ones.  Should we close this?

[2020-03-31 14:27] radinamatic commented on #6727
The other one is closed, I suggest we keep this and re-target to 0.14.

[2020-03-31 15:06] cpauya commented on #6715
Followed guide on how to [Import Content Channels from Internet](https://kolibri.readthedocs.io/en/latest/manage/command_line.html#import-content-channels-from-internet) but encountered this on my Ubuntu VM:

This is for Khan Academy (English), tried it multiple times but only got the warning of version already exists:
[code]

I tried "How to get started with Kolibri" twice (results below) but the

[2020-03-31 15:15] rtibbles commented on #6715
In this case, you can just skip to the second step, if the database is already there.

[2020-03-31 15:25] cpauya commented on #6715
Now I have another error with the `importcontent` command:

[code]

This seems related to this already closed issue - [error during command line import on large channels](https://github.com/learningequality/kolibri/issues/6597).

[2020-03-31 15:38] cpauya opened #6729 "Reordering of channels do not work in Firefox v74.0"
### Observed behavior
Reordering of channels do not work in Firefox v74.0 under Ubuntu 16.04.6

The order of channels in the Learn page is okay.  The issue is only in the channel order in the Device channels page.

Observed the issue while testing these [Gherkin scenarios](https://github.com/learningequality/kolibri/blob/release-v0.13.x/integration_testing/features/super-admin/super-admin-edit-cha

[2020-03-31 16:13] cpauya opened #6730 "New icon is shown in channel when a resource was deleted."
### Observed behavior
When a resource is deleted, there is a New icon shown in the channel name.

This "New" icon is removed when the `Clear completed` link is clicked.

![kolibri-v0 13 2-b1--deleting a resource puts a New icon in a channel](https://user-images.githubusercontent.com/175580/78048735-bff07f00-73ac-11ea-9a68-402f9db52a15.gif)

### Expected behaviour
Show a different icon when a resou

[2020-03-31 16:14] jonboiser commented on #6725
@mrpau-richard That might be because the "TESSA" channel has the "New" badge. If you press "clear completed", will the channels go to the correct order?

[2020-03-31 16:17] rtibbles commented on #6715
It's related, but a little different - seems like we should be coercing the `total` value to an int as well. Could you open a separate issue for this error, as I don't think we should release with it.

[2020-03-31 16:36] cpauya opened #6731 "Crash when trying to run importcontent in command line."
### Observed behavior
A crash happens when running this management command in the Command Line/Terminal:
* `kolibri manage importcontent network 1ceff53605e55bef987d88e0908658c5`

This sample content is for the Khan Academy (English).  Here's the user guide for reference: [Import Content from Internet](https://kolibri.readthedocs.io/en/latest/manage/command_line.html#import-content-channels-from-i

[2020-03-31 17:12] rtibbles commented on #6731
This is a regression introduced by a bug fix in the 0.13.2 milestone, so we should fix this before release.

[2020-03-31 22:00] jonboiser commented on #6714
When you restart the server on the windows VM, is there a task in the task manager for the interrupted transfer?

It seems that ending the transfer abruptly has put the whole Task queue in a bad state, which leads to you also getting stuck trying to view the channel contents ( which can also depend on creating and completing a task).

[2020-03-31 22:31] radinamatic commented on #6714
IIRC I don't think there was anything incomplete in the task queue after the third restart.

This limitation of Windows VMs provoking errors of this nature might seem over the top, but when you think of devices that are housed in places with inconsistent power supply, where blackouts are frequent, it might not be a bad idea to think of strategies how to make the import/export task queuing less bri

[2020-04-02 11:15] mrpau-richard commented on #6725
@jonboiser this will fix the issue when I press "clear completed" link button

[2020-04-03 01:09] indirectlylit opened #6749 "birth year is a required field"
### Observed behavior

When importing users without a birth year specified, I see

[code]

### Expected behavior

`BIRTH_YEAR` should be optional

### User-facing consequences

Some users will not be imported

### Steps to reproduce

* Export users without birth year
* import them

### Context

profuturo branch

[2020-04-03 01:16] indirectlylit opened #6750 "cannot upload using production server"
### Observed behavior

cannot upload using production server, however I can using the devserver. This was observed when running the pex:

![2020-04-02 18 12 25](https://user-images.githubusercontent.com/2367265/78314091-be8a9800-750d-11ea-81fb-c433a22402bc.gif)

A similar thing is happening when trying to do granular import of content

### Expected behavior

upload and import works in both version

[2020-04-03 02:51] ivanistheone opened #6751 "Cannot update thumbnails in new channel version"
### Observed behavior

The ASB channel (f9d3e0e46ea25789bbed672ff6a399ed) v25 is roughly the same as v24 except that topic thumbnails were regenerated.

Going through the channel UPDATE procedure left me in this state:

![Screen Shot 2020-04-02 at 10 32 04 PM](https://user-images.githubusercontent.com/163966/78318532-ffe16e80-7532-11ea-9a55-5a5c584e0521.png)

clearly Kolibri understands the .zip f

[2020-04-03 03:35] ivanistheone commented on #6751
Deleting the channel and re-importing pulled in the new thumbnails:

![Screen Shot 2020-04-02 at 11 35 01 PM](https://user-images.githubusercontent.com/163966/78321674-a7ae6a80-753a-11ea-8f03-4c2e5b5e1e97.png)

[2020-04-03 10:43] mrpau-richard commented on #6703
I re-tested this issue again and I can't reproduce this when I upgraded the VM hardware into Kolibri requirements. and I used IE11 browser to import  21gb KA contents without doing integration testing in it.

[2020-04-03 16:33] lyw07 opened #6754 "display issue on p2p modal when static address name is too long"
### Observed behavior

We allow 40 characters for the name of static address that users can define in the p2p import/export modal. However, when a user defines a name with 40 characters, the name would partially cover the "Forget" text after it.

### Expected behavior

Users should be able to clearly see both the name and "Forget" text when defining a long name.

If the name is too long, it should

[2020-04-05 21:30] tim-moody commented on #6684
Starting a new run on Intel NUC running Ubuntu 18.04.4 LTS. Kolibri 0.13.1
Pace is slower than before. at 12 minutes still not to 2%.
CPU < 20%

[2020-04-05 21:37] tim-moody commented on #6684
make that 20 min and still at 1%

[2020-04-06 08:28] benjaoming commented on #6684
@tim-moody -- thanks for this, any other kinds of profiling are helpful to know the symptoms. As you can see from https://github.com/learningequality/kolibri/issues/6715, it is quite likely that the slowness isn't caused by downloading but rather by the import process itself.

* ~Have you tried installing something to measure I/O on network? Is the bandwidth jumpy or constant? `iftop` does the tri

[2020-04-06 14:28] indirectlylit commented on #6750
this change to `client.js` caused a regression with importing:

https://github.com/learningequality/kolibri/pull/6674/files#diff-1c2488e6a8447b7998fecb3ea0ba1af4

[2020-04-06 17:10] tim-moody opened #6766 "Question: Channel IDs"
Will

`KOLIBRI_HOME=<my location> kolibri manage listchannels `

return the same set of ids for channels whenever and wherever run? That is do channels always have the same id?

At present I get:

INFO     Running Kolibri with the following settings: kolibri.deployment.default.settings.base
INFO     Invoking command listchannels
Pos       ID                                      Name
---       --

[2020-04-06 20:33] #6729 closed, assigned to jonboiser

[2020-04-06 21:19] tim-moody commented on #6684
85% at 24 hours

[2020-04-07 00:47] #6749 closed, assigned to jredrejo

[2020-04-07 01:40] #6731 closed, assigned to rtibbles

[2020-04-07 17:19] #6718 closed, assigned to jonboiser

[2020-04-07 17:22] indirectlylit commented on #6724
Are these issues with Kolibri, or are these things we should address in documentation?

[2020-04-07 17:26] indirectlylit commented on #6730
thanks, agreed

[2020-04-07 17:31] indirectlylit commented on #6725
thanks, I've updated the issue to reflect the expected behaviors

[2020-04-07 17:34] jonboiser commented on #6725
I think this is expected behavior. We want the "new" channels to appear at the top until we clear out the import Task tied to that channel.

[2020-04-07 17:34] indirectlylit commented on #6751
Is this a variation on the behavior you reported here? https://github.com/learningequality/kolibri/issues/6351#issuecomment-586615902

[2020-04-07 17:37] indirectlylit commented on #6703
Closing because it sounds like the issue can be attributed to running Kolibri in a VM with less resources than the hardware requirements

Please re-open if I've mis-understood

[2020-04-07 17:37] #6703 closed, assigned to nobody

[2020-04-07 18:41] indirectlylit commented on #6766
Yes, the IDs of public channels will remain constant across Kolibri installations that have the same channels installed.

Just a caution that, the output of the `listchannels` command might change in a future version to use "channel tokens" instead of or in addition to channel IDs. These are the shorter, more human-readable strings that are provided by Studio.

[2020-04-07 18:41] #6766 closed, assigned to nobody

[2020-04-07 18:56] indirectlylit commented on #6728
Hi @Rehan-Phantom - unfortunately running Kolibri under Termux is not supported. For context, on the specific error you're getting see [this thread](https://github.com/termux/termux-app/issues/299).

That said, we are actively working on support for Kolibri in Android, and hope to have something ready to share publicly later this year.

[2020-04-07 18:56] #6728 closed, assigned to nobody

[2020-04-07 19:02] indirectlylit commented on #6715
see also: https://github.com/learningequality/kolibri/issues/6684

[2020-04-07 19:10] indirectlylit commented on #6725
Updating channel order should at least override the "channels with a 'new' label bubble to the top" behavior, otherwise we run into the very confusing situation shown above.

I think a reasonable way of doing that would be to simply clear the 'new' label, but I understand that now we have it coupled to the "clear tasks" behavior so that might be difficult or undersirable.

[2020-04-08 01:32] indirectlylit opened #6772 "upgrade perseus to the latest version"
Ensure we have Italian translations - ref: https://github.com/learningequality/kolibri-exercise-perseus-plugin/pull/214

[2020-04-08 09:24] cpauya commented on #6724
I Agree.  Based on @radinamatic's findings, I think we can close this and address it in our documentation instead.

[2020-04-08 09:24] #6724 closed, assigned to nobody

[2020-04-08 12:01] benjaoming opened #6773 "Document viewer left/right page change iOS issues"
### Observed behavior

The left/right buttons have issues registering click events, both on Browserstack and on real devices.

In some cases the behavior seemed persistent, in other cases it seemed that some click events would pass through.

Tested on iPhone 6 where the Right button persistently doesn't work and the Left button appears to activate text selection.

![iphone-arrows](https://user-ima

[2020-04-08 16:14] #6640 closed, assigned to nobody

[2020-04-08 16:20] radinamatic commented on #6724
Agreed, these Windows details will be added in the next docs update!

[2020-04-08 16:21] indirectlylit opened #6774 "inconsistent test failures related to Python FacilityStatisticsTestCase"
### Observed behavior

See for example: https://travis-ci.org/github/learningequality/kolibri/jobs/672326015

Sporadic test failures for `FacilityStatisticsTestCase.test_extract_facility_statistics`

### Expected behavior

Tests should predictably fail or succeed

### User-facing consequences

Frustration by developers with test failures unrelated to their PRs

### Errors and logs

[code]

### Ste

[2020-04-08 16:25] #6624 closed, assigned to rtibbles

[2020-04-08 17:08] ivanistheone commented on #6751
@indirectlylit Yes, this issue is a duplicated of the limitation reported in  https://github.com/learningequality/kolibri/issues/6351#issuecomment-586615902. The "Workaround 1" documented in that comment doesn't work anymore since the UPDATE workflow is different.

[2020-04-08 18:40] kollivier commented on #6774
Just from looking at the trace, I think the issue is that the actual gender list doesn't contain any gender with 0 entries (in this case `NOT_SPECIFIED`), but the expected does have genders with 0 entries.

[2020-04-08 22:47] #6657 closed, assigned to nobody

[2020-04-08 23:08] indirectlylit commented on #6751
thanks - we'll leave this open as a top-level issue and hopefully resolve them together

[2020-04-09 23:40] radinamatic commented on #6726
Apparently I made an error and run this scenario with **0.13.1b2**, instead of **0.13.2b1** :woman_facepalming: :disappointed:

Just rerun several permutations of this workflow (from/to Ubuntu/Windows peer and from Studio; with the Windows VM auto-shutdown, or directly powering the VM down, etc.), on the correct 0.13.2b1 version, and each time I was able to resume the import operations without iss

[2020-04-09 23:40] radinamatic commented on #6714
Apparently I made an error and run this scenario with **0.13.1b2**, instead of **0.13.2b1** :woman_facepalming: :disappointed:

Just rerun several permutations of this workflow (from/to Ubuntu/Windows peer and from Studio; with the Windows VM auto-shutdown, or directly powering the VM down, etc.), on the correct 0.13.2b1 version, and each time I was able to resume the import operations without iss

[2020-04-09 23:42] lyw07 commented on #6714
🎉yay! thank you for testing, Radina! yes I agree that we can close this now :)

[2020-04-10 18:04] tim-moody opened #6778 "Idle Kolibri uses CPU and has disk activity"
### Observed behavior

With no clients attached or consuming content I see a consistent 4% CPU used by kolibri.
I also see continuous writes to disk.

### Expected behavior

No use of resources

### Context
 * Kolibri version 0.13.1
 * Operating system Ubuntu 18.04.4
 * HW Intel NUC

[2020-04-10 19:56] tim-moody opened #6779 "Question: Kolibri urls"
A kolibr content url looks to be formed as
<KOLIBRI_URL_PATH_PREFIX>/<default lang>/learn/#/topics/<content id>

In my install <default lang> is en so urls contain en even for Spanish Khan Academy. I take it this is because the topics page labels are in English even though the content is in Spanish once I navigate there. Would the reverse also be the case, that if I set default language to ES I wo

[2020-04-10 20:59] tim-moody commented on #6779
@ivanistheone advice that /kolibri/learn/#/topics/1ceff53605e55bef987d88e0908658c5 will do a redirect to the url including lang seems to be correct.

[2020-04-10 23:24] indirectlylit commented on #6726
thank you for your thorough investigation!

[2020-04-10 23:24] #6726 closed, assigned to nobody

[2020-04-10 23:24] indirectlylit commented on #6714
thank you!

[2020-04-10 23:24] #6714 closed, assigned to lyw07

[2020-04-10 23:27] indirectlylit commented on #6779
that is correct

[2020-04-10 23:27] #6779 closed, assigned to nobody

[2020-04-12 11:20] benjaoming commented on #3137
Cannot reproduce on a system with a system-wide Kolibri installed.

[code]

[2020-04-12 11:20] #3137 closed

[2020-04-14 00:40] nucleogenesis opened #6784 "Longer `yarn devserver` startup in develop compared to 0.12.x"
### Observed behavior

Starting the devserver takes longer than it used to. I did some work on 0.12 after having worked exclusively on develop for a while and it was immediately noticeable.

I measured once and got the following from `yarn devserver` to `Initial build complete...`

0.12.x: 0m 52s
0.14.x 1m 08s

I know a 16s difference isn't all that much - but it would be pretty cool if we got the

[2020-04-14 00:59] nucleogenesis opened #6785 "etag not accounting for plugin_data"
### Observed behavior

When we generate etags we are not accounting for plugin_data that is bootstrapped in `kolibri_plugin.py` files.

etag generation happens here: https://github.com/learningequality/kolibri/blob/3a6bdb2aeeb6c7360558cee4ecd93ff93dab8274/kolibri/core/decorators.py#L319

### Expected behavior

When data necessary to front end rendering (ie, plugin_data) changes, then the etag for

[2020-04-14 16:31] rtibbles commented on #6784
@indirectlylit did we merge the tree-shaking? Possible that doing this in develop might be causing the slowdown.

[2020-04-14 17:08] indirectlylit commented on #6784
No, decided it wasn't worth it: https://github.com/learningequality/kolibri/pull/6241

[2020-04-14 17:19] rtibbles commented on #6784
Hrm - my assumption is that it might be just more building going on. Plus, I am jealous that @nucleogenesis builds in half the time mine does!

[2020-04-14 20:25] indirectlylit opened #6786 "creating/updating a user clears class assignment for other users"
### Observed behavior

Reported by PF:

They clarified that the users who were removed from classes were _not_ in the uploaded CSV.

### Expected behavior

Assigning users to classes should have no impact on existing users, unless those users are in the CSV and have had their assignment altered there

### User-facing consequences

Unexpected loss of data

### Errors and logs

unknown

### Steps to

[2020-04-14 20:32] indirectlylit opened #6787 "unable to import/update users, and blank error page"
### Observed behavior

Observed while trying to reproduce https://github.com/learningequality/kolibri/issues/6786

Importing the attached CSV file resulted in this behavior:

[users_20200414_203029.csv.zip](https://github.com/learningequality/kolibri/files/4477604/users_20200414_203029.csv.zip)

![image](https://user-images.githubusercontent.com/2367265/79270745-83645f00-7e53-11ea-9a0c-f975dba27b6

[2020-04-15 00:22] #6772 closed, assigned to nobody

[2020-04-15 11:31] jredrejo commented on #6787
I think https://profuturo-demo.learningequality.org/ has not the latest  `pf-mvp` applied and it's using code that was not finished. I have tried it in the pf-mvp branch and importing this file works:
![deferred](https://user-images.githubusercontent.com/1008178/79332414-161d0080-7f1d-11ea-9455-4c4feb99f8fe.png)
This is the output. The first line of the csv has errors (`DEFERRED` was not allowed)

[2020-04-15 16:42] indirectlylit opened #6792 "remove randomized behaviors that might result in non-deterministic results from unit tests"
### Observed behavior

In https://github.com/learningequality/kolibri/issues/6774 we had non-deterministic test failures due to a random sampling behavior here:

https://github.com/learningequality/kolibri/blob/06ff2872cbb04587552adb19083f9585ccc960ac/kolibri/core/analytics/test/test_utils.py#L105

### Expected behavior

Normal unit tests should run with the exact same inputs and outputs every sin

[2020-04-15 22:54] jamalex opened #6794 "When only one language option is hiding "below the fold", maybe just show directly?"
### Observed behavior

See the list at the bottom of the screenshot:
![image](https://user-images.githubusercontent.com/618416/79396636-35be2400-7f31-11ea-9aa4-4b07a04c27ac.png)

### Expected behavior

It would take the same amount of space to show the hidden language directly as it does to show the button to unveil it.

[2020-04-16 00:25] jonboiser opened #6796 "Some issues with `make i18n` commands encountered while releasing 0.13.2 + 0.13.3"
### Observed behavior

Some issues that came up when trying build 0.13.2 with Italian

1. During `make i18n-update`, `django.mo` files for extra languages will be deleted. They are needed to support a subset of locales.
1. This might be user error, but `noto-full` and `noto-subset` CSS files for Italian were not automatically generated during the process of generating the i18n-related assets, and

[2020-04-16 06:03] intelliant01 commented on #6693
@indirectlylit Some additional information.
The above error is applicable to all pre-existing coaches, admin, superadmin.
If I create any new user with any of these roles then they are able to create lessons, quizes and groups.

The sequence of events for the syncing of data from multiple facilities as well as related issues and bugs is recorded in this email thread - [facilitydatasync-emails.pdf]

[2020-04-16 07:51] intelliant01 commented on #6573
@jonboiser Sorry for the late response. Guess you could reproduce it and got the answer.

Yes.

@lyw07 Updated and tested with 0.13.2-rc3 on Windows. Partially fixed now as is evident in the gif below.

![deleted_content_reimport](https://user-images.githubusercontent.com/2577060/79429040-a6724880-7fe4-11ea-9d47-1ce1d6b4e12e.gif)

Note that I had deleted content for grade 3 prior to upgrading from

[2020-04-16 07:55] intelliant01 commented on #6575
@benjaoming Yes, deleting and reimporting the entire channel imports the latest version 5 of the channel with the correct coach content tagging. Prior to complete deletion it would even refuse to recognise the availability of a new channel.
Will keep a backup of the .kolibri folder for another month in case anything else needs to be tested for this.

[2020-04-16 14:40] benjaoming commented on #6575
Thanks so much, @intelliant01 - let's re-open if it is reported again, much appreciate that you keep the `.kolibri` folder for a month :pray:

[2020-04-16 18:04] lyw07 commented on #6573
Thank you @intelliant01 for testing the new installer and providing detailed information about the issue!
I'm going to reopen this issue so we can further investigate it. However, since we are going to release 0.13.2 very soon (this week), we decide to address this issue in another patch release. Please let us know if you have any questions! Thanks!

[2020-04-16 19:11] indirectlylit commented on #6794
seems like this will be useful for PF MVP so will do this in 0.13.x

[2020-04-20 07:06] radinamatic opened #6799 "'More info' button on the demo site banner cuts the string when too long"
### Observed behavior
Reported by the Italian translator while checking the demo site after the upgrade to 0.13.2.
Full string in Italian is _Altre informazioni_, but happens in other languages too.

![Schermata da 2020-04-18 10-55-00](https://user-images.githubusercontent.com/1457929/79721971-89d75880-82e3-11ea-9867-535c1e2cecea.png)

### Expected behavior
Correctly and completely displayed strin

[2020-04-20 20:42] benjaoming commented on #5343
On the same endpoint `/device/api/device_channel/<id>/`, we have seen HTTP 504 Gateway Timeout on Kolibri UWSGI/proxied installations because the synchronous annotation does not always work.

Dropping this as a note here for now, in case this issue can be fixed/reworked by moving from a synchronous process to an asynchronous.

Quote @rtibbles

[2020-04-21 18:51] jredrejo commented on #6628
@indirectlylit  I think we can close this after #6674 and #6716 and their tests at #6798 are merged.

[2020-04-22 23:50] indirectlylit commented on #6628
great, thank you

[2020-04-22 23:50] #6628 closed, assigned to jredrejo

[2020-04-22 23:51] #4049 closed, assigned to nobody

[2020-04-22 23:55] indirectlylit commented on #6693
thank you - targeted to the next milestone

[2020-04-23 06:55] radinamatic commented on #6796
Adding two issues encountered while working to enable Khmer, Nepali & Chinese:

1. Linter at the end of the `make i18n-update...` command first lingers a long time over this step:

[code]
    It eventually continues but then errors out here:

[code]

2. As noted in [this PR comment](https://github.com/learningequality/kolibri/pull/6803#issuecomment-618121576), we need to change the renaming logic

[2020-04-23 13:06] sujithgnth commented on #6799
@radinamatic Can I pick this up?

[2020-04-23 16:26] radinamatic commented on #6799
@sujithnath You are welcome to take a stab at it! :+1: :slightly_smiling_face:

When you open the PR, cc @jonboiser or @indirectlylit to review!

[2020-04-24 15:25] jredrejo commented on #6750
Solved in #6768

[2020-04-24 15:25] #6750 closed, assigned to jredrejo

[2020-04-25 12:48] benjaoming opened #6808 "Error handling on login page should not trigger redirect"
### Observed behavior

There's only [one known case](https://github.com/iiab/iiab/issues/1532) causing the redirect loop outlined below. The immediate cause is fixed in #6807.

But it could still happen again: Client-side JS error handling on `/en/user/` can trigger a redirect to `/en/redirectuser/`, which then causes a loop.

Note that `/en/user/` is likely `/en/user/#/signin`, but the anchor isn

[2020-04-25 13:26] benjaoming opened #6809 "Speed up Zeroconf service thread exit"
# Observed behavior

When Kolibri shuts down, it stalls for a reported 23 seconds on Raspberry Pi waiting for Zeroconf discovery threads to exit.

The issue was reported and thoroughly investigated on the [Community Forums](https://community.learningequality.org/t/slow-system-shutdown-on-linux-systems-systemd-service/1482) by @JamesKainer.

As another means to fix this, #6710 suggested an option t

[2020-04-27 19:08] ivanistheone opened #6810 "Logger API error leads to "database is locked" error for pex running on Mac"
### Observed behavior

Sorry somethieng went wrong when trying to access an H5P node
http://127.0.0.1:8080/en/learn/#/topics/c/84703961e747568696509b98e8bdd68b

<img width="1096" alt="Screen Shot 2020-04-27 at 2 45 24 PM" src="https://user-images.githubusercontent.com/163966/80409494-faa7e300-8896-11ea-8b5e-b50244790db0.png">

Same content node worked later on.

### Expected behavior

Render the H

[2020-04-27 19:15] ivanistheone commented on #6810
I had a suspicion this was not H5P related so I tested again with another channel:

[code]

and I got the same DB locked error when the contentsessionlog API call happens

[2020-04-28 01:21] #6794 closed, assigned to indirectlylit

[2020-04-28 09:13] rationality6 commented on #6754
Can I pick this?

[2020-04-28 11:55] intelliant01 opened #6813 "'Server 500' response when trying to view any of the H5P content"
### Observed behavior

Server 500 response within the content viewport when trying to view any H5P content imported from *H5P Samples* channel.

![image](https://user-images.githubusercontent.com/2577060/80483443-b8080880-8973-11ea-8bc1-d1b82ed8fb44.png)

### Expected behavior

H5P interactive content should have loaded correctly.

### User-facing consequences

Can't use the content.

### Errors a

[2020-04-28 12:17] rationality6 opened #6814 "when clone kolibri project got git lfs font file download smudge error"
Instructions:
 * when clone kolibri project got git lfs font file download smudge error

### Observed behavior
got an error.

### Expected behavior
cloning done.

### User-facing consequences
got an error.

### Errors and logs

[code]

[code]

### Steps to reproduce
git clone kolibri
…

### Context
 * Kolibri version: develop
 * Operating system: OSX Mojave
 * Browser: Chrome

…

after type below

[2020-04-28 12:18] intelliant01 opened #6815 "Confusing events when trying to enable h5p_viewer plugin and importing sample content"
### Observed behavior

When trying to enable h5p_viewer plugin and trying to import sample contents I was unable to import immediately after enabling plugin. Kolibri needs a restart. [Dev doc](https://kolibri-dev.readthedocs.io/en/develop/backend_architecture/plugins.html?) lacks this detail.

During this trial, I updated Kolibri from 0.13.2rc3 to 0.13.2 to ensure that I was on the latest and noti

[2020-04-28 18:04] indirectlylit commented on #6814
We should not be using `--skip-smudge` because that will prevent the binary files from being downloaded. Something else must be wrong.

I cannot reproduce the problem:

[code]

Could you please verify that you have recent versions of git and git LFS, and try again?

[2020-04-28 18:06] intelliant01 commented on #6815
Realised a mistake I had done.

On Day 1 commands were executed in a cygwin terminal which assumed a different user home `/home/USERNAME/` and created a `.kolibri` folder therein instead of making modifications to the standard .kolibri folder for the user i.e. under `C:\Users\USERNAME`. The later folder would have been affected by executing the plugin enabling command in `cmd` terminal which I did

[2020-04-28 18:09] intelliant01 commented on #6813
This works fine in the following environment -
[code]

[2020-04-28 18:19] indirectlylit commented on #6754
sure, you can target a change to `develop` and use `text-overflow: ellipsis;`

[2020-04-28 18:26] rtibbles commented on #6813
Thanks for the feedback @intelliant01  - sounds like there is an issue with this on Windows, very helpful to know.

[2020-04-28 19:08] ivanistheone commented on #6815
Added a comment in the docs https://github.com/learningequality/kolibri/pull/6816

We'll also assume the SSL handshake errors in the logs were due to so-so internet connectivity.

Okay closing since all seems to be normal. Thx for following up.

[2020-04-28 19:08] #6815 closed, assigned to nobody

[2020-04-28 20:16] indirectlylit opened #6817 "Facility Class page does not have a 'back' link"
### Observed behavior

After selecting a class in a facility, there is no 'back' link to get to the class list page:

![image](https://user-images.githubusercontent.com/2367265/80532980-c80ef080-8951-11ea-8be1-790b4a7771f8.png)

### Expected behavior

Similar to the coach pages, we should include a 'back' link:

![image](https://user-images.githubusercontent.com/2367265/80533088-ee349080-8951-11ea

[2020-04-28 20:25] indirectlylit opened #6818 "Button should say 'Close' instead of 'Finish'"
### Observed behavior

When managing resources in a lesson, the button in the bottom bar says "finish" which implies that it commits the changes:

![image](https://user-images.githubusercontent.com/2367265/80533897-2d171600-8953-11ea-83a2-d3067252ad17.png)

### Expected behavior

In fact, the changes are committed in real-time and the button has the same effect as clicking the <kbd>✕</kbd> in the

[2020-04-29 02:38] indirectlylit opened #6819 "return to resource list after adding or removing an item from a lesson"
### Observed behavior

After adding or removing a resource from a lesson, the user is shown a notification and stays on the same page

![2020-04-28 19 32 32](https://user-images.githubusercontent.com/2367265/80556096-50f44f00-8987-11ea-8193-22f9ac9dc3c5.gif)

### Expected behavior

In almost every case after adding or removing a resource, the immediate next step is to return to the parent list. It

[2020-04-29 02:51] indirectlylit commented on #6508
appears to be a duplicate of #6774

[2020-04-29 02:51] #6508 closed, assigned to nobody

[2020-04-29 02:53] indirectlylit commented on #6774
I just saw this issue again!

* https://travis-ci.org/github/learningequality/kolibri/jobs/680334139
* https://github.com/learningequality/kolibri/pull/6667

Any idea why it's still happening?

[2020-04-29 02:57] lyw07 commented on #6774
sorry is there a screenshot of the error? The job got restarted, and I'm not able to see the error. Thank you!

[2020-04-29 06:04] indirectlylit commented on #6787
@jredrejo this is still an issue for me. I exported the attached file and re-imported it, and it gave the same behavior.

[users_20200428_221028.csv.zip](https://github.com/learningequality/kolibri/files/4549981/users_20200428_221028.csv.zip)

Same issue for gender.

[code]

[2020-04-29 07:22] indirectlylit commented on #6774
sorry no I didn't save it. I thought that buildkite saved logs from past runs - my bad.

However, this part looked approximately the same which is what led me to re-open this issue:

I'll add a "needs clarification" label and we can wait for another occurrence before investigating further

[2020-04-29 07:31] indirectlylit opened #6821 "PF-related CSV import updates"
## Coach identifiers

The identifiers currently used are not consistent with our user-facing terminology. In order to address this, let's update as follows:

* `COACH` -> `FACILITY_COACH`
* `ASSIGNABLE_COACH` -> `CLASS_COACH`

## Password behavior

1. Should be a required field. Empty fields should throw an error
2. On export, output an asterisk (`*`) instead of an empty field
3. On import, leave

[2020-04-29 07:47] rationality6 commented on #6814
After force lfs install. works fine.

This is a bug from git lfs

https://github.com/git-lfs/git-lfs/issues/911

Thank you @indirectlylit

Closing this

![Screen Shot 2020-04-29 at 4 44 57 PM](https://user-images.githubusercontent.com/3889468/80572307-059a7900-8a39-11ea-97a5-985e523403e9.png)

[2020-04-29 07:48] #6814 closed, assigned to nobody

[2020-04-29 08:21] indirectlylit opened #6823 "include user database IDs in facility CSV imports and exports"
### Observed behavior

It is desirable to be able to change usernames during CSV export/import, but this is currently not possible.

### Expected behavior

* UUID of user should be included during export
* If the UUID does not already exist, that user should be skipped with an error
* If the UUID is left blank, that user should be created
* Duplicate usernames are always errors

### User-facing co

[2020-04-29 08:40] cpauya opened #6824 "Editing a coach user to change the type causes a crash when Save button is clicked twice."
### Observed behavior

Issues so far:

1. When I edit a coach and change the type then click `Save` the modal does not close and clicking the `Save` button again causes an error that shows the crash dialog.  The only way to recover was to click the `Refresh` button on the crash dialog that is shown.  This is very similar to this issue: https://github.com/learningequality/kolibri/issues/6400

1. An

[2020-04-29 16:39] jredrejo commented on #6821
@indirectlylit For the COACH identifiers, technically it's a trivial change, however, it's going to break the consitency with the rest of the code in Kolibri, using https://github.com/learningequality/kolibri/blob/develop/kolibri/core/auth/constants/role_kinds.py

[2020-04-29 16:46] jredrejo commented on #6821
@indirectlylit about the password behaviour. Currently when a password value is not in the csv, it sets "kolibri" when creating an user because passwords can't be empty when creating an user. Don't you think that's better than triggering an error and skipping the user if it's empty?

If not, when creating an user, should `*` be replaced by a default password or trigger an error too?

[2020-04-29 16:51] indirectlylit commented on #6824
The second issue (modal not closing) has been addressed in `develop` so let's keep the scope of this to the first issue

[2020-04-29 16:58] indirectlylit commented on #6821
These are user-facing strings, so there is no requirement that they are consistent with Kolibri code. They must instead be consistent with user-facing documentation and UI.

[2020-04-29 17:06] indirectlylit commented on #6821
My intuition is that setting the password to the word "kolibri" seems arbitrary and unexpected.

I think we should tailor the errors to the condition to help people learn the behavior:

| scenario | condition | error message |
|--|--|--|
| New user | Asterisk or blank password field | _This user does not exist yet, so you must provide a password_ |
| Existing user | Blank password field | _The pas

[2020-04-29 21:22] lyw07 commented on #6774
thank you! I will keep an eye on this and try to fix it when it happens again

[2020-04-29 22:52] #6787 closed, assigned to jredrejo

[2020-04-29 22:52] #6786 closed, assigned to jredrejo

[2020-04-30 08:39] jredrejo commented on #1728
@jonboiser  shouldn't we close this after #6755 was merged? or is there any difference I am missing?

[2020-04-30 13:31] ivanistheone opened #6831 "Kolibri "Enter channel token" form starts with capitals"
### Observed behavior
When using Kolibri on a mobile device (Android) and going to import a channel, the Channel token form field defaults to capitalize-first keyboard.

![Enter channel token starts with capital](https://user-images.githubusercontent.com/163966/80716363-8737e880-8ac5-11ea-97d0-08541b22a0f8.jpg)

### Expected behavior

Let me start typing with lowercase letters.

### User-facing co

[2020-04-30 15:47] jredrejo commented on #6823
@indirectlylit  If we change to user uuid instead of the username as source of trust (what seems logical from a technical point of view, but less friendly for the users) why can't we allow duplicate usernames? it should not be a problem anymore. If not duplicate per facility to avoid problems with user logins, duplicate per device should not be a problem.

[2020-04-30 22:35] indirectlylit commented on #6823
The import is scoped to a single facility, and we enforce unique usernames within a facility to prevent login issues as you say.

Duplicates in different facilities would not be an error.

[2020-04-30 22:45] #1728 closed

[2020-04-30 22:54] indirectlylit commented on #6774
@lyw07  here is an example of a build that failed recently:

* https://github.com/learningequality/kolibri/pull/6833
* https://travis-ci.org/github/learningequality/kolibri/jobs/681600563

[2020-04-30 23:08] indirectlylit opened #6836 "backport disabling of BasicAuth"
### Observed behavior

back-port https://github.com/learningequality/kolibri/pull/6807 to 0.13

we originally targeted to 0.14 out of an abundance of caution but it ought to be safe enough in 0.13 with some quick sanity integration testing

### User-facing consequences

issues on IIAB

### Context

0.13.2

[2020-05-01 00:13] lyw07 commented on #6774
thank you!! sorry I didn't realize that in the issue description there was another test case that failed, which is the same as the failed test in the travis log
[code]

I will create a PR to fix this

[2020-05-01 15:54] indirectlylit opened #6839 "testing optimized static file loading and home directory"
### Observed behavior

From @jamalex - https://github.com/learningequality/kolibri/pull/6805#issuecomment-622171202

### Context

0.13.2

[2020-05-01 15:56] #6774 closed, assigned to lyw07

[2020-05-03 04:31] rationality6 commented on #6614
Can I pick this? I think I could do this.

1. add rule stylelint-selector-tag-no-without-class for prevent commit
2. change all the tags to class or id

[2020-05-03 13:04] benjaoming opened #6841 "Missing breadcrumbs navigating search results"
# Observed behavior

When navigating to an item from the search results list, it's not possible to determine which topic it originates from.

Searching "Geometry" in "Ubongo" (channel in development) shows 3 identical results (because the same video is reused 3 times in different topics). They appear to be exact duplicates because of missing topic tree information, such as breadcrumbs.

![missing

[2020-05-04 10:39] benjaoming commented on #6836
@radinamatic this is time-consuming to test as it involves simulating the behavior of another application with BasicAuth (IIAB being the only known one) and the affected case is isolated. Testing just once would be fine I think.. a recurring test scenario would not become relevant again once BasicAuth is removed?

There wasn't any positive case in which we're needing/using BasicAuth, @indirectlyli

[2020-05-04 15:18] indirectlylit commented on #6841
This behavior should already be implemented:

![image](https://user-images.githubusercontent.com/2367265/80982078-a8f3e100-8ddf-11ea-810b-0997e8e27833.png)

For example, see:

https://kolibri-demo.learningequality.org/en/learn/#/search?searchTerm=waves

[2020-05-04 15:18] #6841 closed, assigned to khangmach

[2020-05-04 15:20] indirectlylit commented on #6841
let me know if I'm misunderstanding and we'll re-open, but I think those videos need to share a common content node when they exist in multiple locations in the tree

[2020-05-04 15:31] benjaoming commented on #6841
That's super nice, going to get that implemented on Ubongo Kids

But have you tried following a search result? I still can't tell how one navigates from the search result to the topic that it's nested in.

[2020-05-04 16:48] benjaoming commented on #6351
When aligning these summaries, it would be nice to also include the figures from Studio, which also differ. These figures take duplicate file sources into account.

The inverse of #6230 also shows a quite misleading figure. This makes an informed choice very difficult in cases with metadata updates. In this example, no file references have changed, hence no downloads will be triggered -- only meta

[2020-05-04 19:25] benjaoming commented on #6841
The example with duplicate items have been fixed, thanks so much for the pointer @indirectlylit

![image](https://user-images.githubusercontent.com/374612/80999762-7bda1980-8e45-11ea-873e-8ac8949c0e09.png)

What remains now would be items that do not have multiple locations (items in 1 location).

[2020-05-04 20:41] indirectlylit opened #6843 "change 'back' behavior for navigating to content from search results"
### Observed behavior

As originally reported in https://github.com/learningequality/kolibri/issues/6841

* navigating to a topic from search takes you to a location within the channel hierarchy
* navigating to a resource from search takes you to a "sub-page" of search, without the ability to go to the channel hierarchy

![2020-05-04 09 30 18](https://user-images.githubusercontent.com/2367265/8101

[2020-05-04 20:41] indirectlylit commented on #6843
@khangmach @nucleogenesis  relates to ongoing app-bar 'back' link work. Does the proposal look correct to you?

[2020-05-04 20:41] indirectlylit commented on #6841
thanks filed a follow-up issue on the unresolved piece: https://github.com/learningequality/kolibri/issues/6843

[2020-05-04 21:33] jonboiser commented on #6589
When importing content on the UI, we do try to prevent users from going over the amount of free-space. E.g. if they select too much, they should see a warning and the "import" button should be disabled. So at the time the import is kicked off, there should be enough disk space (assuming a minimal delay between selection and clicking "import")

If the free space shrinks after an import is kicked of

[2020-05-04 21:41] jonboiser commented on #6326
@kollivier Does the wording of the special licenses just go in this same `license_description` here on the left? If a piece of content has this, we can show, but I think we actually remove it from the serializer as a general rule to reduce the data that goes over the wire and rely on the `license` enum on the right.

<img width="415" alt="Screen Shot 2020-05-04 at 2 39 45 PM" src="https://user-ima

[2020-05-04 21:44] indirectlylit commented on #6589
True, I think there are at least two components here:

1. Update the existing validation behavior to include some buffer, e.g. 50MB, to prevent people from getting too close to filling up their drive entirely. This buffer could have a default value that can be overwritten in `options.ini`
2. Display a new, internationalized error in the case of out-of-space errors

(these are important for the and

[2020-05-04 21:44] jonboiser commented on #6326
So maybe what we could do add the `license_description` to the serializer, but default it to `''` if it is a license type that Kolibri already has a reference description for.

[2020-05-04 21:44] indirectlylit commented on #6589
I would maybe talk with @jamalex and @khangmach about resolving any design details

[2020-05-04 21:45] rtibbles commented on #6326
That seems like the correct behaviour.

[2020-05-04 21:51] jonboiser commented on #6326
But because these special `license_description` are pre-written, I don't expect we will localize them like we do for the CC licenses (for some languages).

[2020-05-04 22:04] jonboiser commented on #4466
I think whatever problem pages I saw in the Facility page back in Feb look okay now.

To hopefully shore up the other cases like the coach reports, I added these generic pure-formatting messages to common strings

[code]

so we can fix up the other titles if/when we find them.

[2020-05-04 22:58] rtibbles commented on #6326
Looks like the serializer is actually returning this, but our translation machinery is always inserting the special permissions translated description. Adding a special case to the frontend to display the custom description when available.

[2020-05-05 02:17] rationality6 commented on #6614
Below is my Stylelint set

![Screen Shot 2020-05-05 at 3 56 27 PM](https://user-images.githubusercontent.com/3889468/81041699-6dddd480-8ee9-11ea-9357-8f567eaccaf1.png)

'
npx stylelint '**/*.vue'
'

and these are listing result

![Screen Shot 2020-05-05 at 3 56 38 PM](https://user-images.githubusercontent.com/3889468/81041709-73d3b580-8ee9-11ea-8a8a-aea17a15de4e.png)

Should I change them all to c

[2020-05-05 19:58] #6326 closed, assigned to rtibbles

[2020-05-05 20:58] indirectlylit commented on #6614
Hi @rationality6 thanks for this! Yes please, let's move forward with this.

In general there will be two options. You can use the following heuristic:

_Does the style have more than one property?_

* If _yes_, use a class with some simple, meaningful name (e.g. `<h1 class="header">`)
* If _no_, convert to an inline style in the template (e.g. `<h1 style="margin: 0">`)

We should never use ID-bas

[2020-05-05 21:18] indirectlylit commented on #4466
Sounds good. In coach common there are these strings:

[code]

could possibly consolidate

[2020-05-05 21:25] indirectlylit commented on #6836
Not that we're aware of - just hard to know for sure. Agreed that we should add a comment when putting this in 0.13.

I don't think it's necessary to fully reproduce the original failure and fix. More important is just to sanity check that nothing is obviously broken

[2020-05-05 22:54] indirectlylit opened #6848 "names of CSV files should be internationalized"
### Observed behavior

The names of files when exporting and downloading from the facility data page are all in English:

![image](https://user-images.githubusercontent.com/2367265/81123553-302c7c00-8ee8-11ea-8bb6-ea54ed2e376d.png)

ref: https://github.com/learningequality/kolibri/pull/6835

### Expected behavior

Names of files should be in the user's currently selected language. This is the same

[2020-05-05 23:11] indirectlylit opened #6849 "re-enable the ability to assign lessons and quizzes to individual learners"
### Observed behavior

In 0.13 we had to drop this functionality at the last minute because strings weren't translated

cc @jonboiser @radinamatic @nucleogenesis

### Expected behavior

translate the strings and enable the functionality!

### Context

0.13.x

[2020-05-05 23:21] khangmach commented on #6843
Yeah Ben has a fair point. It's hard to find a way to get to the tree context of the search result. Clicking on a location link should direct you to that location instead of the resource render.

[2020-05-05 23:21] khangmach commented on #6843
We can address this in the next Learn update

[2020-05-05 23:25] indirectlylit opened #6850 "error message does not display row number correctly"
### Observed behavior

Currently shows this:

![image](https://user-images.githubusercontent.com/2367265/81125301-9a472000-8eec-11ea-95f5-619818a4c4b2.png)

### Expected behavior

The simpler fix:

| Row number | Error column | Current value | Error |
|--|--|--|--|
| 3  | Password (PASSWORD) | `*` | The password field is required. To leave the password unchanged in existing users, insert an asteri

[2020-05-05 23:39] indirectlylit commented on #6821
looks good! opened one follow-up issue: https://github.com/learningequality/kolibri/issues/6850

[2020-05-05 23:39] #6821 closed, assigned to jredrejo

[2020-05-06 01:51] indirectlylit opened #6853 "CSV headers are not internationalized"
### Observed behavior

I still don't get internationalized headers. Added all .po files back in 0d438101d6ccfc07a85ca4e48705ff795d4c14e4

Strings appear to exist:

https://github.com/learningequality/kolibri/blob/f47428ada9e1b1e836e63e186ab05eafd78fdd94/kolibri/locale/es_419/LC_MESSAGES/django.po#L34-L68

Have both .mo and .po locally:

![image](https://user-images.githubusercontent.com/2367265/81

[2020-05-06 09:53] jredrejo commented on #6850
@indirectlylit there is a problem with this part.
Validation is done in two phases:
1- csv validation (fast), row numbers are known, and invalid rows are discarded
2- database validation (slower): row numbers might be wrong if rows have been discarded in the csv validation
For the password error message, validation is done at step 2, because at the step 1 we don't know yet if the user exists in th

[2020-05-07 00:58] #6156 closed, assigned to jonboiser

[2020-05-07 00:58] #6252 closed, assigned to jonboiser

[2020-05-07 00:58] #6817 closed, assigned to jonboiser

[2020-05-07 00:58] #6818 closed, assigned to jonboiser

[2020-05-07 00:58] #6658 closed, assigned to jonboiser

[2020-05-07 01:07] jonboiser commented on #5281
b5379a7 Adds a `showSnackbarNotification` method to the `coreCommonStrings` mixin. To completely resolve this issue, we'll need to insert calls to this method in all the relevant UIs.

[2020-05-07 09:32] cpauya commented on #5619
This also exists on Android 7.1.2 as of BuildKite build 144 -> https://buildkite.com/learningequality/kolibri-android-installer/builds/144#36249ca3-3fd8-450c-bd20-dc3efc373435

Context:

* Kolibri version: 0.13.3a0.dev0
* Channel: Radina test channel - The Flying Birds (PLIX)
* Operating system: Android 7.1.2 (based on BlueStacks)
* Browser: n/a

![2020-05-07-thu--android testing - plix issue 1](h

[2020-05-07 19:48] nucleogenesis commented on #6849
I'm pretty sure @jonboiser already did this here: https://github.com/learningequality/kolibri/pull/6441

[2020-05-08 00:21] indirectlylit commented on #6849
thanks!

[2020-05-08 00:21] #6849 closed, assigned to nucleogenesis

[2020-05-08 22:30] jonboiser commented on #6363
Fixed in #6740 and #6801

[2020-05-08 22:30] #6363 closed, assigned to jonboiser, lyw07

[2020-05-08 22:34] jonboiser commented on #5875
In 0.14, #6777 removes the "Select Facility" modal which cause the form to lose focus and show that error.

[2020-05-08 22:34] #5875 closed, assigned to nucleogenesis, jonboiser

[2020-05-09 00:20] #5281 closed, assigned to jonboiser

[2020-05-11 12:28] benjaoming opened #6866 "non-pure Python library pycryptodomex is bundled"
### Observed behavior

Kolibri bundles the dependency `django-oidc-provider` for the `oidc_provider_plugin` plugin. `django-oidc-provider` has the following dependencies:

[code]

One of the transitive dependencies [pycryptodomex](https://pypi.org/project/pycryptodome/#files) is not a pure-python library. This means that whatever system that builds the installer will decide which version is bundle

[2020-05-11 18:20] lyw07 commented on #6839
in our `kolibri-dev` server, the symlinks of static files break the server because the infrastructure of `kolibri-dev` separates Kolibri app and Nginx into two containers(servers), while the two containers have access to a shared filesystem containing KOLIBRI_HOME. In this case, other than reading from the shared filesystem, the Nginx container needs to read from the Kolibri app container's disk a

[2020-05-11 18:59] rtibbles commented on #6839
Right - might be good to allow this behaviour to be better conditionalized, and allow it to be toggled off?

[2020-05-11 19:29] khangmach commented on #5947
Related clipping issue via the container:
<img width="1032" alt="Screen Shot 2020-05-11 at 12 11 57 PM" src="https://user-images.githubusercontent.com/25045166/81603315-fabddd80-9382-11ea-8eb3-fe30e3c2e820.png">

[2020-05-11 20:37] jonboiser commented on #3938
I'm wondering if this is still possible after some recent changes.

I tried creating an exercise with no questions and I'm not able to import it since its `importable` field is false.

[2020-05-11 22:45] lyw07 commented on #6839
yes, that will be great!
so do you mean something like `kolibri start --static-symlink=true/false`?

[2020-05-11 23:07] rtibbles commented on #6839
I think probably doing it as an option and so it could get set as an envvar (rather than overloading the command line).

[2020-05-11 23:17] #6823 closed, assigned to nobody

[2020-05-11 23:54] lyw07 commented on #6839
ah makes sense to me. thank you! I can work on this later ~~this week~~ :)

[2020-05-14 07:45] rationality6 opened #6875 "The /deep/ syntax is being deprecated"
<!--
The /deep/ syntax is being deprecated

https://stackoverflow.com/questions/48032006/how-do-i-use-deep-or-in-vue-js

Do we need to replace /deep/ syntax to ::v-deep? I already tried to replace all and seem okay to me Thank you.

### Observed behavior

<img width="542" alt="Screen Shot 2020-05-14 at 4 41 44 PM" src="https://user-images.githubusercontent.com/3889468/81906850-dc194a00-9601-11ea-9

[2020-05-14 07:46] rationality6 opened #6876 "The /deep/ syntax is being deprecated"
The /deep/ syntax is being deprecated

https://stackoverflow.com/questions/48032006/how-do-i-use-deep-or-in-vue-js

Do we need to replace /deep/ syntax to ::v-deep? I already tried to replace all and seem okay to me. How do you guys think?

### Observed behavior

<img width="542" alt="Screen Shot 2020-05-14 at 4 41 44 PM" src="https://user-images.githubusercontent.com/3889468/81906850-dc194a00-960

[2020-05-14 07:47] #6875 closed, assigned to nobody

[2020-05-14 21:04] jonboiser commented on #6876
@rationality6 Do you know where this new `::v-deep` decorator is documented in the Vue Docs and when it will be deprecated (in Vue 3?) I think if this new syntax works with with our current Vue 2 code base, we can try gradually moving to it right now.

[2020-05-14 23:27] indirectlylit opened #6878 "allow coaches to edit profile even if learners cannot"
### Observed behavior

Currently we have settings that affect both learners and coaches simultaneously:

![image](https://user-images.githubusercontent.com/2367265/81995513-6ad89780-95ff-11ea-8942-6d6b932550f8.png)

### Expected behavior

* Some users would like these settings to be separated so that coaches can perform these actions but learners cannot
* This is also important for learners when p

[2020-05-15 16:19] benjaoming commented on #6484
Fixed in #6807

Follow-up in #6808

[2020-05-15 16:19] #6484 closed, assigned to nobody

[2020-05-15 23:31] nemoece opened #6882 "apt-cache not found error in other linux distribution"
### Observed behavior
Installed Kolibri 0.13.2 Using sudo pip install kolibri.
It succesfully installed. But when i run kolibri start, It shows the following error.
FileNotFoundError: [Errno 2] No such file or directory: 'apt-cache'

…

### Expected behavior
I am running Clear Linux OS which is not apt-cache based. So Can you please guide me what should i do rectify this error?

…

### User-facing

[2020-05-16 11:15] jredrejo commented on #6882
Hello  @nemoece this is the first report we have from a Clearlinux user, thanks for letting us now this problem. It has an easy fix that will be applied to future releases of Kolibri.
In the meantime, you can edit the file
/usr/lib/python3.8/site-packages/kolibri/utils/server.py
and right after these lines:
[code]
add another line:
`        return "whl"`
Be careful with the spaces, the spaces befo

[2020-05-16 14:10] nemoece commented on #6882
Thanks for the quick help @jredrejo  This solved the issue. Keep up the great work guys...

[2020-05-18 20:24] indirectlylit commented on #6227
another report here: https://learningequality.slack.com/archives/C0LKF6TRD/p1589820293000800

[2020-05-18 22:10] jonboiser commented on #6876
It's actually a feature for vue-loader ([Link](https://vue-loader.vuejs.org/guide/scoped-css.html#deep-selectors)). And it is apparently Chrome that is deprecating the selector.

Thev vue-loader docs make it seem that `::v-deep` can be globally replaced anywhere `/deep/` is.

[2020-05-19 01:22] oezh commented on #1046
@hhsnopek Where do you add those flags?

[2020-05-19 02:12] indirectlylit commented on #6878
Leaving this open for now and switching milestones, because we'll be implementing a more sophisticated version in the `app-support` branch.

[2020-05-19 15:10] ivanistheone opened #6886 "Hard-coded video preset selection logic"
Add "if files with `low_res_video` and `high_res_video` presets available for a video node, import only the file with `low_res_video`" logic to next release.

### Observed behavior

Currently if both files with both `low_res_video` and `high_res_video` presets are available, they will both be imported.

see also https://github.com/learningequality/kolibri/issues/4344

### Expected behavior

Import

[2020-05-19 16:13] kollivier commented on #6886
Actually, I don't think we can use the low_res / high_res_video approach as intended, as even if we hardcode the downloading and use of only low_res_video in 0.14, any Kolibri version before that will still download both videos, and so adding the high_res_video for every node will make the channels massive for those versions.

I think we will need to design a new solution for this in Kolibri, one

[2020-05-19 16:19] indirectlylit commented on #4533
closing as most work has been migrated to
https://github.com/learningequality/kolibri-installer-android/

please re-open there if necessary

[2020-05-19 16:19] #4533 closed, assigned to nobody

[2020-05-19 16:19] indirectlylit commented on #2531
closing as work has migrated to
https://github.com/learningequality/kolibri-installer-android/

please re-open there if necessary

[2020-05-19 16:19] #2531 closed

[2020-05-19 16:20] indirectlylit commented on #2501
closing as most work has migrated to
https://github.com/learningequality/kolibri-installer-android/

please re-open there if necessary

[2020-05-19 16:20] #2501 closed

[2020-05-19 16:21] indirectlylit commented on #3392
closing because most work has migrated to https://github.com/learningequality/kolibri-installer-android/

please re-open there if necessary

[2020-05-19 16:21] #3392 closed

[2020-05-19 16:25] ivanistheone commented on #6886
@kollivier The idea of adding to 0.14 (and 0.13.3) is so to make it possible to implement the multi-preset video nodes in the future. We'll have to monitor the usage analytics and (one year from now) when 0.13.2 and earlier versions stop being used, we can start releasing multi-preset channel.s

[2020-05-19 16:27] indirectlylit commented on #6831
In addition, we should make the the input case-insensitive and trim whitespace

[2020-05-19 16:37] indirectlylit commented on #3938
okay, closing and we can re-open if it reappears

[2020-05-19 16:37] #3938 closed, assigned to jonboiser

[2020-05-19 17:03] indirectlylit opened #6887 "crowdin-edited context for python-based strings will be lost between releases"
# Observed behavior

In https://github.com/learningequality/kolibri/pull/6867 @jredrejo added the ability to include context for Python-based strings. This means that context can be added by developers and uploaded to Crowdin, which is great.

However, often translators and non-developer LE staff (like @radinamatic) will edit and create context in Crowdin. For front-end strings, we have a mechanis

[2020-05-19 17:07] #6754 closed, assigned to rationality6

[2020-05-19 17:10] jtamiace opened #6888 "Tooltips do not respond on smaller screen sizes"
### Observed behavior

| Example 1 | Example 2 |
| -------- | -------- |
| ![Screenshot_20200507-140509_Kolibri](https://user-images.githubusercontent.com/6668144/82356358-480c0180-99b8-11ea-9008-5babfa28b430.jpg) | ![Screenshot_20200507-142548_Kolibri](https://user-images.githubusercontent.com/6668144/82356361-49d5c500-99b8-11ea-9da0-70ee292ae6d3.jpg) |

### Steps to reproduce

Long tap on any co

[2020-05-19 17:18] jtamiace opened #6889 "Page jump while navigating through topics in resource selection"
### Observed behavior

Jumping to the top of the page while navigating through resource selection is a slightly jarring experience

| Click a topic | Jump to top of page |
| ---------- | ------------------- |
| ![Screenshot_20200507-140147_Kolibri](https://user-images.githubusercontent.com/6668144/82357110-8229d300-99b9-11ea-950c-799102dddcc3.jpg) | ![Screenshot_20200507-140152_Kolibri](https://us

[2020-05-19 17:25] jtamiace opened #6890 "Clicking the volume up/down buttons on Android functions to close the app"
### Observed behavior

First click: user gets a warning:
![Screenshot_20200516-111235_Kolibri](https://user-images.githubusercontent.com/6668144/82358068-d4b7bf00-99ba-11ea-9090-33ff64a06856.jpg)

On second click, the app closes

### Expected behavior

Volume buttons should control volume

### User-facing consequences

Bad vibes

### Context

Kolibri version: 0.13.3
OS: Android

[2020-05-19 17:27] #6882 closed, assigned to jredrejo

[2020-05-19 17:32] indirectlylit commented on #1046
@oezh see https://ffmpeg.org/

[2020-05-19 17:41] jtamiace opened #6891 "Channel filter too wide on the Learn search results page on mobile"
### Observed behavior

| 1 | 2 |
| - | - |
| ![Screenshot_20200519-103623_Chrome](https://user-images.githubusercontent.com/6668144/82359597-f023c980-99bc-11ea-9d5b-f23088cc9032.jpg) | ![Screenshot_20200519-103625_Chrome](https://user-images.githubusercontent.com/6668144/82359645-003ba900-99bd-11ea-8090-6cf9856f337c.jpg) |

### Expected behavior

On small screens, the select box should fit fully w

[2020-05-19 17:46] indirectlylit commented on #6886
Hm, tough choice. Even if analytics say a majority have upgraded Kolibri, there will be a corner case of people who (a) have not upgraded Kolibri, but (b) are trying to update a channel.

[2020-05-19 22:49] indirectlylit opened #6892 "collect and report aggregate stats about client browsers through telemetry"
### Observed behavior

We do not currently collect any aggregate information about client browsers.

### Expected behavior

We should collect some anonymous stats about client browsers and operating systems.

### User-facing consequences

We don't have sufficient data to make important decisions about browser support.

### Context

0.13.3

[2020-05-20 00:31] khangmach opened #6893 "Plus symbol on question number in quiz creation undergoes weird line break"
### Observed behavior
![image](https://user-images.githubusercontent.com/25045166/82391543-67c21a80-99f6-11ea-8307-aceaf95cfe39.png)

### Expected behavior
Minus and plus sign are side by side and do not break

### User-facing consequences
Buggy look

### Steps to reproduce
Try making a new quiz

### Context
Kolibri version 0.13.3
OS: Android & Chrome browser

[2020-05-20 00:35] khangmach opened #6894 "Buggy padding on exercise progress tracker"
### Observed behavior
![image](https://user-images.githubusercontent.com/25045166/82391693-cb4c4800-99f6-11ea-8b62-faa1e44ce623.png)

Padding top and bottom need to match. Currently there is too much padding on the bottom. We should either match the top padding or reduce the bottom padding to match the top

### Expected behavior
Same top and bottom padding

### User-facing consequences
Layout issu

[2020-05-20 00:53] khangmach commented on #6891
A note: channel filter seems to be normal if there's only one result card in view

[2020-05-20 00:58] khangmach opened #6896 "channel resource selection page is very long"
### Observed behavior

The channel page is very long and can take a while to scroll through

![image](https://user-images.githubusercontent.com/25045166/82392893-d5bc1100-99f9-11ea-9d69-6037761f72c6.png)

### Expected behavior

It should be faster to navigate the long list of channels, especially on mobile

### User-facing consequences

Frequent scrolling movements and a lot of scrolling to get ba

[2020-05-20 10:59] rationality6 commented on #6876
@jonboiser, Yes, I've tried to find the documentation, but I couldn't.

Here is a summary about differences between `/deep/`, `::v-deep` and `>>>` [link](https://github.com/vuejs/vue-loader/issues/913#issuecomment-544833664)

<img width="768" alt="Screen Shot 2020-05-20 at 7 59 31 PM" src="https://user-images.githubusercontent.com/3889468/82438704-70891e00-9ad4-11ea-87ad-3873c9f6680d.png">

[2020-05-20 11:25] rationality6 commented on #6893
Hi, @khangmach
Is this problem already fixed on latest dev?
This is my screenshot with env below

<img width="489" alt="Screen Shot 2020-05-20 at 8 23 12 PM" src="https://user-images.githubusercontent.com/3889468/82440714-c6ab9080-9ad7-11ea-9cdc-b0ec8ca7e420.png">

Kolibri version latest dev
macOS Catalina 10.15.4
Chrome 81.0.4044.138 (official build) (64-bit)

[2020-05-20 15:17] indirectlylit commented on #6876
@rationality6 are you seeing the deprecation errors in production, or only in the development server?

`/deep/` should be compiled away in production, so these warnings ought to be in the dev server only and can be safely ignored. If that's not the case, we have a webpack problem.

Ref: https://github.com/vuejs/vue-loader/issues/913

[2020-05-20 17:20] indirectlylit commented on #6359
Another report from a recent Android UX audit:

![image](https://user-images.githubusercontent.com/2367265/82476651-3fccc880-9a83-11ea-8ab4-966e59becb0c.png)

This is an issue in all places where user editing happen, including facility and profile pages:

![image](https://user-images.githubusercontent.com/2367265/82476855-7acefc00-9a83-11ea-83f4-1de1cc122076.png)

[2020-05-20 20:26] indirectlylit opened #6899 "swipe from left to open side nav on mobile"
### Observed behavior

Click-to-open on mobile, reported by @jtamiace

A previous work-in-progress PR was opened some time ago here: https://github.com/learningequality/kolibri/pull/8172
- Please use this PR as reference for your starting point.
- The acceptance criteria that still needs to be met in the previous PR is that **this feature should work for both LTR and RTL language support.**

### E

[2020-05-20 20:30] indirectlylit opened #6900 "headers can take up lots of space on small screens"
### Observed behavior

| Some headers can be very large on smalls screens |
|--|
|![image](https://user-images.githubusercontent.com/2367265/82494041-d1e1ca80-9a9d-11ea-8736-afad99c3f32d.png)|

### Expected behavior

A few options:

* change font sizes globally and/or responsively (would need to be assessed globally)
* do nothing; the behavior works as intended and the user can easily scroll down

[2020-05-20 20:41] indirectlylit opened #6901 "update buttons for document viewer"
### Observed behavior

The floating buttons are distracting and can obscure content. This is exacerbated on mobile devices.

![image](https://user-images.githubusercontent.com/2367265/82494866-1c177b80-9a9f-11ea-9967-82f4ef5a7901.png)

### Expected behavior

We recently moved the full-screen button to a top header for HTML 5 apps to prevent the floating button from obscuring content (https://githu

[2020-05-20 20:56] indirectlylit opened #6902 "Fullscreen button on videos is disabled in Android"
### Observed behavior
Fullscreen is disabled
![Screenshot_20200520-135803](https://user-images.githubusercontent.com/25045166/82496746-0e172a00-9aa2-11ea-8d05-24aba52fd6ae.png)

### Expected behavior
Enabled fullscreen at all times

### User-facing consequences
Looks like a disabled feature with no explanation to user

### Steps to reproduce
Go to any video in Learn

[2020-05-20 20:59] indirectlylit opened #6903 "'Welcome' modal shows up every time app is restarted"
### Observed behavior

This is shown every time the app restarts:

![image](https://user-images.githubusercontent.com/2367265/82496727-08214900-9aa2-11ea-9fae-373d853b376a.png)

### Expected behavior

modal should only be shown once

### User-facing consequences

annoyance

### Context

0.13.2

[2020-05-20 22:11] indirectlylit commented on #6894
That space is reserved for messages, so unless we want the bottom bar shifting in height, this is working as designed:

![image](https://user-images.githubusercontent.com/2367265/82502516-22602480-9aac-11ea-9570-b18a598ab0c8.png)

[2020-05-20 22:18] indirectlylit commented on #6896
I don't quite understand this issue: are you actually using the scrollbar to scroll? I thought on mobile one just swipes up?

[2020-05-21 00:14] jamalex opened #6904 "Automated tests and gherkin stories still needed for #6865"
We didn't have time to do automated tests or gherkin stories for https://github.com/learningequality/kolibri/pull/6865 -- but if would be good to have these before this ships in 0.14, even if it's still a hidden feature at that point.

[2020-05-21 01:11] rationality6 commented on #6876
@indirectlylit, I hadn't seen the deprecation error message in the console in both side production and development. I just found that while I searched about what is `/deep/` syntax for.
If Kolibri don't have a problem, it's okay

close this.

[2020-05-21 01:11] #6876 closed, assigned to nobody

[2020-05-21 01:28] jtamiace commented on #6896
The issue is that this particular page is very long. If you're browsing through the channels and get to the very bottom, it'd be convenient to have a way to jump to the top, or have a faster way to zoom through the channels to get to the one that stood out.

Other apps allow you to tap the app bar which appears on scroll up, or the scroll bar has enough width to grab it properly with your finger,

[2020-05-21 08:39] indirectlylit commented on #6896
okay thanks for the clarification - made some updates to the title and description.

[2020-05-21 08:41] indirectlylit commented on #6876
thanks for investigating!

[2020-05-21 15:54] rtibbles opened #6905 "Questions answered seems to be out of sync in quiz"
### Observed behavior
Questions answered is 0, but on the 4th question.

![image](https://user-images.githubusercontent.com/1680573/82577735-3eada100-9b40-11ea-87ae-9d5660301545.png)

Possible that the previous 3 questions were not attempted, but needs verification.

### Expected behavior
Questions answered should match the number answered.

### User-facing consequences
Confusing learner experienc

[2020-05-21 15:56] rtibbles opened #6906 "Lesson preview of exercise doesn't display in coach lesson creation"
### Observed behavior
Preview appears to fail to render the exercise.

![image](https://user-images.githubusercontent.com/1680573/82578122-d4493080-9b40-11ea-9360-aafa578d7082.png)

![image](https://user-images.githubusercontent.com/1680573/82578139-d90de480-9b40-11ea-89c6-8cea1cae748b.png)

### Expected behavior
Preview should display in all screen sizes

### User-facing consequences
Confusion fo

[2020-05-21 16:00] rtibbles opened #6907 "Icons misaligned inside circular cutouts on mobile"
### Observed behavior
Icons placed in circular cut outs are not centrally aligned on mobile.
![image](https://user-images.githubusercontent.com/1680573/82578515-576a8680-9b41-11ea-8b25-521ccd6fc065.png)
![image](https://user-images.githubusercontent.com/1680573/82578529-5b96a400-9b41-11ea-9a22-550e6d1d9b37.png)

### Expected behavior
Icons should be properly aligned regardless of screen size.

###

[2020-05-21 16:03] rtibbles opened #6908 "Using Android native keyboard search as you type doesn't happen unless you click out of the keyboard"
### Observed behavior
In Device channel filtering, we use search as you type to filter channels.
If you are using the Android keyboard, this does not trigger anything until you close out the keyboard.

![image](https://user-images.githubusercontent.com/1680573/82578926-ebd4e900-9b41-11ea-8919-4f83a5f1a239.png)

### Expected behavior
Ideally search as you type should work regardless of the input mo

[2020-05-21 16:07] rtibbles opened #6909 "Contained scroll of content especially PDFs is confusing as no marked boundary between content and content page container"
### Observed behavior
It is confusing that in spite of the lack of a distinct boundary between e.g. a PDF and the containing content page, the PDF is doing an inner scroll within the content page.

![image](https://user-images.githubusercontent.com/1680573/82579211-5423ca80-9b42-11ea-8bd1-1b7f8e17523d.png)

### Expected behavior
Either we should scroll the whole PDF as part of the broader page, or

[2020-05-21 16:07] jtamiace opened #6910 "No search results if you type in metadata keywords as a search query"
### Observed behavior

![Screenshot_20200519-105616](https://user-images.githubusercontent.com/6668144/82579022-0c9d3e80-9b42-11ea-9145-33735d08d3ca.png)

### Expected behavior

Expected some videos to show

### User-facing consequences

User may not think there are any videos on the device

### Errors and logs

…

### Steps to reproduce

Enter a resource type as a query for search in Learn

### C

[2020-05-21 16:09] jtamiace commented on #6910
I don't think we _want_ to show videos as search results, though. Unclear whether we should handle this kind of scenario

[2020-05-21 16:14] jtamiace opened #6911 "After fresh install, clicking "view more" in search results jumps the user to the top of the page"
### Observed behavior

This issue only occurs the first time the view more button is clicked after installation.

### Expected behavior

The user's place on the page should be maintained, and should not jump to the top of the page

### User-facing consequences

Breaking of attention, increased cognitive load in finding the spot in the search results where they left off

### Steps to reproduce

1.

[2020-05-21 16:19] jtamiace opened #6912 "Android app becomes slower the more individual resources are selected in channel import"
### Observed behavior

The wait time was increasing resource by resource even though only a few had been selected

![Screenshot_20200507-142206_Kolibri](https://user-images.githubusercontent.com/6668144/82580215-b92bf000-9b43-11ea-813b-9397ab0b98f9.jpg)

### Expected behavior

A smooth selection experience

### Steps to reproduce

1. Go to import a channel from studio
2. Select individual resource

[2020-05-21 16:29] rtibbles commented on #6910
One suggestion that I have made for this sort of thing previously is for our search to pick up filter terms from the search box and offer the ability to turn them into a filter - GMail search does something similar.

[2020-05-21 19:34] indirectlylit commented on #6911
This issue may be more pervasive across the app and routing

[2020-05-21 19:37] indirectlylit commented on #6910
this is essentially a duplicate of https://github.com/learningequality/kolibri/issues/4796

[2020-05-21 19:40] indirectlylit commented on #6888
Note that one of these examples overlaps with the issue in https://github.com/learningequality/kolibri/issues/6359

That issue recommends a different placement for that particular case. This issue should be a general solution.

[2020-05-21 19:41] indirectlylit commented on #6889
related: https://github.com/learningequality/kolibri/issues/6911

[2020-05-21 20:11] #6894 closed, assigned to nobody

[2020-05-21 20:12] indirectlylit commented on #6905
were the first three questions actually answered?

[2020-05-21 21:14] bjester commented on #6908
Note: The standard Android keyboard already has a return button that essentially acts as a search button.

[2020-05-21 22:19] indirectlylit commented on #6902
@nucleogenesis reports that he cannot reproduce. @khangmach any guidance?

[2020-05-21 22:23] lyw07 opened #6916 "Copies of lessons don't reflect recent deletions or reordering of resources"
### Observed behavior

When I add 4 resources into a lesson, delete 2 resources from the lesson, and make a copy of the lesson, the copy of the lesson will end up having 4 resources instead of 2.
However, if after deleting 2 resources, I go back to the list of all lessons, and go to the specific lesson page again to make a copy of it, the copy of the lesson will contain the correct number of resou

[2020-05-22 04:43] khangmach commented on #6902
that's a shame, as I literally can't fullscreen any video in Learn. Here is my android version and kolibri version if that helps

![image](https://user-images.githubusercontent.com/25045166/82632055-09d73380-9bac-11ea-82aa-2c241ff3c219.png)
![image](https://user-images.githubusercontent.com/25045166/82632061-0e035100-9bac-11ea-9c91-37fd2f0d2fae.png)

The channels I've downloaded on device:
- Touch

[2020-05-22 15:33] rtibbles commented on #6902
Note that we have a specific exclusion for Android webview for fullscreening, coded in:
https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/CoreFullscreen.vue#L19

So this will only replicate inside an Android webview. I don't remember what the issue is with Android fullscreen inside a webview, but there definitely was one, hence the coded in exclusion.

I think

[2020-05-22 15:40] ivanistheone opened #6918 "Long channel names truncated in two UI components"
### Observed behavior

I have a feeling these are both part of the same bredcumbs component, so reporitng together.

1. During channel import, the channel name above the select content component is cutoff:
<img width="995" alt="WHY CUTOFF" src="https://user-images.githubusercontent.com/163966/82684340-68d69000-9c20-11ea-8f23-7edb629c7d39.png">

2. Also gets cut off in breadcrumbs:
![Screen Shot 20

[2020-05-22 20:52] jonboiser opened #6919 "Improve readability of multi-line Crowdin-context entries when transferred to code"
For example in `BirthYearSelect.vue`,

https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/userAccounts/BirthYearSelect.vue#L82-L86

The context for `birthyearAriaLabel` was transferred to the code as a single line, with several escaped newlines.

[code]

It would be more readable within the code if a string like this were written into the code this way with `"`s

[2020-05-22 21:49] Lewiscowles1986 commented on #6911
is this JavaScript or URL-based behaviour? If the link source could be shared as well as the URL bar state before and after, that would be great.

[2020-05-22 21:51] Lewiscowles1986 commented on #1
What is the actual issue? Is it OS integration or a joke?

[2020-05-22 21:56] Lewiscowles1986 commented on #2362
is this complete, or not? It looks like the PR merged, then #2427 happened doesn't seem to track next steps.

[2020-05-22 21:56] rtibbles commented on #1
It's a joke - but we appreciate any help in getting us closer to resolving it!

[2020-05-22 21:59] rtibbles commented on #6911
This is Javascript based URL-routing behaviour.

[2020-05-23 00:26] indirectlylit commented on #2362
Hi @Lewiscowles1986 this is not yet complete. If you'd like to tackle it, I'd recommend also doing https://github.com/learningequality/kolibri/issues/5945 at the same time.

Here are some helpful high-level links:

* [Developer docs on RTD](https://kolibri-dev.readthedocs.io/en/develop/index.html)
* [Developer docs source](https://github.com/learningequality/kolibri/tree/develop/docs)
* [Accessibi

[2020-05-23 00:30] indirectlylit commented on #6908
@kollivier would you mind reviewing this?

[2020-05-23 00:33] #6358 closed, assigned to nobody

[2020-05-23 00:43] indirectlylit commented on #6902
In my opinion, not having full-screen functionality on small Android devices would be a release blocker.

[2020-05-23 00:51] indirectlylit commented on #6911
[core/assets/src/router.js](https://github.com/learningequality/kolibri/blob/develop/kolibri/) is responsible for all client-side routing

[2020-05-23 01:52] #6853 closed, assigned to jredrejo

[2020-05-23 01:53] #6850 closed, assigned to jredrejo

[2020-05-23 01:55] indirectlylit commented on #24
This is our new standard icon:

![kolibri](https://user-images.githubusercontent.com/2367265/82719259-c2a97b00-9c5d-11ea-9d1d-740612c2f377.png)

[2020-05-23 01:55] #24 closed

[2020-05-23 02:01] indirectlylit commented on #6707
I haven't heard of anyone else running into this so I'm not sure how to explain. However we will soon be vendoring keen, which may make this issue disappear.

cc @nucleogenesis

[2020-05-23 02:02] indirectlylit commented on #6813
@mrpau-dev would you mind investigating?

[2020-05-23 06:42] Lewiscowles1986 commented on #5945
Tackling the disabling of the wiki and the movement of content should be de-coupled. Only a current internal team member can disable the wiki right? So this seems more in-line with moving the content. It allows a PR to include the text `fixes #{issuenumber}` and auto-close off the 400 issues, at-least one of which I now understand to be a joke

[2020-05-23 10:11] indirectlylit commented on #4621
closing as duplicate of https://github.com/learningequality/kolibri/issues/4620

[2020-05-23 10:11] #4621 closed, assigned to nobody

[2020-05-23 10:32] indirectlylit commented on #6222
should be addressed by work @khangmach is doing

[2020-05-23 11:22] Lewiscowles1986 commented on #2362
Questions:

1. RE: #5945 is it just the accessibility? The rest looks like scrap paper that isn't part of docs as much as "something else".
2. I sort of went a slight different way regarding structure to try to make docs as small (parts) as possible). Happy to revise on PR if needed

[2020-05-23 11:32] Lewiscowles1986 opened #6922 "Workaround: Python 3.8 error when generating documentation"
### Observed behavior

python deprecated a library in an upstream dependency. This caused `make docs` to unexpectedly fail for me on windows 10 64-bit using a python virtual environment, and `pip install -r requirements/docs.txt` followed by `make docs`

### Expected behavior

Non upstream errors (I'm fine with my docs edits needing work)

### User-facing consequences

* Inability to contribute to

[2020-05-23 11:34] Lewiscowles1986 commented on #6922
This also looks like it's fixed in sqlalchemy master, so maybe that needs a version bump?

[2020-05-23 12:31] Lewiscowles1986 commented on #6911
document state before and after would also be helpful then.

Btw, it seemed the link took me elsewhere.

https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/router.js

Seems to work.

[2020-05-23 12:35] Lewiscowles1986 commented on #6911
One thing that could be done (although it might be "jumpy") would be to add hash-based anchors to items and have /page/2 navigate to /page/2/#page2-top

The reason I use a generic named rather than an ID offset is caching. You don't want to be busting cache for linking page to navigate to a new page as would happen if using a primary key / ID offset.

I still have not observed this behaviour thoug

[2020-05-23 12:37] Lewiscowles1986 commented on #6911
https://router.vuejs.org/guide/advanced/scroll-behavior.html has some hints too

[2020-05-23 12:39] Lewiscowles1986 commented on #6911
looks like you're using a new enough vue router to fix as well

https://github.com/learningequality/kolibri/blob/develop/packages/kolibri-core-for-export/package.json#L33

[2020-05-23 18:27] indirectlylit commented on #2362
Yes, for the purpose of this PR it will just be the a11y page. Once that has a new home I can take care of the rest of the wiki cleanup

Will review next week - thanks

[2020-05-23 18:30] indirectlylit commented on #5945
thanks, I've updated the issue to have a narrower scope

[2020-05-23 18:57] indirectlylit commented on #6911
Hm right - actually we do already have some of this logic but it was moved out of router.js in b6023ca0c28904a9f4657f796ce04529b3617406:

https://github.com/learningequality/kolibri/blob/ee081d45526b6a91b5f56e3e807b0a79633c27d9/kolibri/core/assets/src/views/CoreBase/index.vue#L145-L164

That might be an option if we chose to disable hash-based routing. We originally chose not to use "modern" clien

[2020-05-26 11:52] ivanistheone commented on #6813
FYI, the command for Step 1 is

[code]

and Step 2 restart is needed for the plugin-initialization-code to run.

And the channel with H5P samples has the token `piman-fapum`

[2020-05-26 16:27] mrpau-richard commented on #6813
I reproduced this in Windows 7, Upgrading the Python version from 3.4 to 3.6 will fix the issue on Windows.

[2020-05-26 18:43] rtibbles commented on #6813
Do you have a fuller traceback @mrpau-richard - presumably we could fix the underlying code as well?

[2020-05-26 23:33] dylanmccall opened #6926 "app-support: preinstalled content can be deleted, but not added again"
This involves the Kolibri flatpak on Linux, built from the app-support branch, with a content extension installed so Kolibri has the environment variable _KOLIBRI_CONTENT_FALLBACK_DIRS_ set to include `/path/to/some/content/extension`. In this environment, it is possible for an administrator to delete content that was preinstalled, and this is presented correctly in the UI: the content is no longe

[2020-05-27 09:47] cpauya commented on #6813
For reference, here's the last few lines of the `kolibri.txt` log file attached by @intelliant01 above:

[code]

This has the same exception to this issue: https://github.com/learningequality/kolibri/issues/6615 - I'm not sure if they are related or the same @indirectlylit.

@mrpau-richard You may be right that upgrading to Python 3.6 fixes the issue.  The [Python 3.6 release notes mentions `json`

[2020-05-27 15:11] rtibbles commented on #6813
I think both sounds good to me - but mostly because 3.4 has reached EOL, so we should upgrade the windows installer anyway!

[2020-05-27 15:11] rtibbles commented on #6813
I can fix 2, if you guys can tackle 1.

[2020-05-27 15:20] rtibbles commented on #6813
Hrm, investigating further, I'm not sure why upgrading to Python 3.6 fixes this - as in both 3.4 and 3.6, the read returns a byte object, rather than a string, so I think this is more of a Py2/3 compatibility issue than anything else.

[2020-05-27 21:19] indirectlylit commented on #6839
just merged your options.ini PR. Anything else need to be done here?

[2020-05-27 21:21] #6400 closed, assigned to jonboiser

[2020-05-27 21:22] #6824 closed, assigned to jonboiser

[2020-05-27 22:03] lyw07 commented on #6839
Yes, I think we can close it. Other than my PR, I also tested the scenario described in the issue -- having Kolibri_HOME on a FAT file system, and it worked well.

[2020-05-27 22:03] #6839 closed, assigned to lyw07

[2020-05-27 22:59] #6836 closed, assigned to indirectlylit

[2020-05-28 14:06] mrpau-richard commented on #6813
@rtibbles I tested your PR for this issue and the error is still there.

[code]

[kolibri.txt](https://github.com/learningequality/kolibri/files/4696000/kolibri.txt)

I think this explain why this issue is fix on Python 3.6
https://docs.python.org/3/whatsnew/3.6.html#json

We will work on upgrading the Windows installer Python to 3.6 to fix this.

[2020-05-28 15:11] rtibbles commented on #6813
OK, this must be a windows specific thing in terms of how the zipfiles are handled then, because on Linux the issues I replicated were common to 3.4 and 3.6.

[2020-05-28 15:56] benjaoming opened #6937 "PEX designed for Python 2.7"
### Observed behavior

Python 2.7 is not installed on many recently released platforms and is end-of-life. Running the .pex on such platforms gives an error.

Having `#!/usr/bin/env python` could solve this, otherwise `#!/usr/bin/python3`. The quick gains of a .pex are reduced if one also has to install python 2.

Documentation on download page says:

This is contradicted by the current shebag `#!

[2020-05-28 19:14] khangmach opened #6941 "Content progress states don't carry over to search results"
### Observed behavior
Content progress states of in-progress and complete do not carry over into the search results.

**Screenshot 1:**
I have made some progress on "Dalton's law of partial pressures" as indicated on the exercise card

<img width="994" alt="Screen Shot 2020-05-28 at 11 55 37 AM" src="https://user-images.githubusercontent.com/25045166/83182252-eeec4e00-a0da-11ea-9d2a-df7246771d93.p

[2020-05-28 22:19] indirectlylit opened #6942 "ifcfg and ifaddr follow-up"
### Observed behavior

follow-up from https://github.com/learningequality/kolibri/pull/6764

* In #6764 we switched from depending on `ifcfg` directly to calling `zeroconf.get_all_addresses`
* The same PR pointed at [a new version of our fork of zeroconf](https://github.com/learningequality/python-zeroconf-py2compat/pull/2/files) which adds conditional logic for Android
* It was [recommended that]

[2020-05-28 22:57] jamalex commented on #6942
Sorry, I agree that this was done too hastily -- it was part of getting things working for Flatpak (which doesn't have the necessary networking tools available within the sandbox to use ifcfg). Discussion was [here](https://learningequality.slack.com/archives/CM5KYJ8MQ/p1590174742042800).

`ifaddr` is pure Python and looks to not have the same dependencies on access to command-line tools as `ifcfg

[2020-05-28 23:10] indirectlylit commented on #6942
Thanks sounds good.

Also just a reminder of this item in the PR checklist:

[2020-05-28 23:54] khangmach opened #6944 "Completed terminology on quiz cards does not read well"
### Observed behavior
When learners finish a quiz, their quiz card goes from an in-progress text indicator "N questions left" to "Completed: n%". As seen below in the screenshot, it reads like the learner has completed 50% of the quiz.

<img width="682" alt="Screen Shot 2020-05-27 at 1 22 07 PM" src="https://user-images.githubusercontent.com/25045166/83205312-148d4d80-a103-11ea-88cc-0b41305524fb.p

[2020-05-29 00:22] khangmach opened #6945 "Exercise question preview desperately needs more scrolling room"
### Observed behavior
While previewing an exercise in quiz creation or lesson resource management, there is extremely little room for scrolling through an exercise's question list.

![GIF1](https://user-images.githubusercontent.com/25045166/83206883-bfebd180-a106-11ea-89ce-ca11f653b002.gif)

This is more drastic on smaller-medium screens:

![GIF2](https://user-images.githubusercontent.com/25045166

[2020-05-29 17:28] ivanistheone opened #6954 "Capture and record users' "import intent" in IMPORT step to use later in UPDATE CHANNEL steps"
### Summary

There are ambiguities surrounding what the user wants to happen when they perform UPDATE CHANNEL actions, so we should explore ways to better capture the "import intent" during the IMPORT step (either for whole channels or for partial import based on checkboxes).

### Details

Consider the channel

- CH1 (channel_id)
  - T1 (t1_node_id)
    - V11 (v11_node_id)
    - V12 (v12_node_id)

[2020-05-29 19:48] ivanistheone commented on #6227
## Current Kolibri behavior

Recently @carinediaz and myself, with support from @rtibbles @jonboiser were looking at the UX problems with the UPDATE CHANNEL > IMPORT MORE workflow. Before suggesting workarounds and possible fixes, I wanted to document the current behavior (as of Kolibri 0.13.2).

### Initial state:
A Kolibri instance has (some subset of) the "old" channel version imported

_______

[2020-05-29 20:22] ivanistheone commented on #6227
### The current content update flow is:
1. MANAGE
2. VIEW CHANGES
3. UPDATE CHANNEL , CONTINUE
---1 to 300 minutes ---
4. MANAGE
5. IMPORT MORE, Kolibri Studio, CONTINUE
6. [x]s, IMPORT

### Problems
 - The need-to-do-IMPORT MORE-after-UPDATE CHANNEL step is not obvious
 - any UI interactions that depend both on steps 1.2.3. and 4.5.6. will be difficult to implement because they straddle a long-ru

[2020-05-29 21:12] khangmach opened #6957 "Lesson resource selection is missing topic title and description"
### Observed behavior
The lesson resource page pictured on the left is missing the topic title and description. Quiz exercise selection does this correctly, pictured on the right.

<img width="1271" alt="Screen Shot 2020-05-29 at 1 59 19 PM" src="https://user-images.githubusercontent.com/25045166/83305135-0b5cb900-a1b5-11ea-9dd9-515549e426a5.png">

### Expected behavior
Titles and descriptions sho

[2020-05-29 21:14] rtibbles commented on #6957
Feel like this could be fixed in 0.13, as it wouldn't require any strings (just the content based title and description text).

[2020-05-29 21:36] indirectlylit commented on #6796
I believe this should be addressed  by c6047559d0e39783583e73867003cbc205aa5bb5

[2020-05-29 22:19] jonboiser commented on #6903
Fixed in #6938

[2020-05-29 22:19] #6903 closed, assigned to nobody

[2020-05-31 20:34] Tlazypanda commented on #6944
@khangmach can I work on this?  :v:

[2020-05-31 20:52] Tlazypanda commented on #6957
@khangmach can I work on this?  :v:

[2020-06-01 17:20] indirectlylit commented on #6796
I believe this should be closable. If there are still issues, maybe we can make new individual issues for them because there's a lot in here

[2020-06-01 17:30] jonboiser commented on #6796
Sounds good. We can use this issue as a reference if something happens the next time a new language is added.

[2020-06-01 17:31] #6796 closed, assigned to nobody

[2020-06-01 22:39] indirectlylit opened #6970 "empty 'upgrade' message"
### Observed behavior

initially saw this

![image](https://user-images.githubusercontent.com/2367265/83461448-a3f57200-a41d-11ea-90c2-c850d8c48646.png)

strangely, after logging out and back in again, I saw the message correctly:

![image](https://user-images.githubusercontent.com/2367265/83461732-4d3c6800-a41e-11ea-971a-54f58054e742.png)

### Expected behavior

upgrade message should have conten

[2020-06-01 22:50] khangmach opened #6971 "Broken list behavior on lesson resource lists"
### Observed behavior
Resource icons are isolated on their own line and it is hard to tell which resource + title they belong to.

<img width="1178" alt="Screen Shot 2020-06-01 at 3 42 19 PM" src="https://user-images.githubusercontent.com/25045166/83462082-2a5e8380-a41f-11ea-8108-a3453c4fad53.png">

### Expected behavior
Icons are in-line and placed nicely with their appropriate resource title

##

[2020-06-02 16:55] indirectlylit opened #6972 "replace remaining strings that say 'exam' with 'quiz'"
### Observed behavior

see e.g.

https://github.com/learningequality/kolibri/blob/77a5184970072e81f81d913af7c53dae82089dd2/kolibri/plugins/coach/assets/src/views/common/LearnerQuizReport.vue#L86

possibly exists in other places?

### Expected behavior

### User-facing consequences

inconsistent nomenclature

### Context

0.14

[2020-06-03 00:12] lyw07 opened #6976 "Kolibri translate server not working in 0.13.3"
### Observed behavior

The kolibri-translate.learningequality.org server returns 500 after being upgraded to 0.13.3

### Expected behavior

server returns 200 and should be working after upgrade

### User-facing consequences

translators are not able to translate

### Errors and logs

[code]

### Steps to reproduce

Use `kolibri.deployment.default.settings.translation` as the django settings modul

[2020-06-03 04:26] rationality6 opened #6979 "Kolibri design system and Kolibri are separated"
After they are separated.

many issues moved to Kolibri design system especially UI parts

Is there a guideline to move?

[2020-06-03 05:00] rationality6 commented on #6979
I found documentations https://kolibri-design-system.netlify.app/
and these comments

`
Share ideas or concerns with Devon, Jessica, and Jacob directly
Submit a pull request  or issue  to the GitHub repo
Leave a comment in the Notion project
`

Close this

[2020-06-03 05:54] #6979 closed, assigned to nobody

[2020-06-03 07:31] Lewiscowles1986 opened #6980 "Alternative text for documentation images"
### Observed behavior

None of the documentation seems to include useful alternative text for images

### Expected behavior

Alternative text is given per-image in the documentation, so that anyone who cannot load a resource or is not loading images can understand the documentation.

### User-facing consequences

If an image file is missing, or fails to load for any reason context may be lost.

##

[2020-06-03 14:14] ivanistheone opened #6982 "Stuck on UPDATE CHANNEL task"
### Observed behavior

When updating a [large channel](http://35.198.171.164/en/learn/#/topics/09ee940e106953a2b6716e1020a0ce3f) on a 0.13.2 Kolibri demo server, after clicking UPDATE CHANNEL I saw the progress bar jump form [0 to 100 very fast](https://github.com/learningequality/kolibri/issues/6712) then go back to 0% progress and just gets stuck there. **Kolibri esta stuckiendo!**

Ina recently

[2020-06-03 14:36] rtibbles commented on #6982
We experienced a similar issue in the post-update annotation preservation - the fundamental issue is that when we have too many `node_ids` and `exclude_node_ids` the SQL queries get too big, and trigger these sorts of errors.

I am not sure the UNW issue is identical, as that is running 0.12.x where the more nuanced upgrade pathway does not exist.

[2020-06-03 14:39] ivanistheone commented on #6982
Agree. I just looked at the screenshot and it seems to have started and only stuck 20% through, so root cause must be different.

[2020-06-03 14:40] rtibbles commented on #6982
To fix this, we might have to change the API of `get_nodes_to_transfer` https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/management/commands/importcontent.py#L192
to return a chunked sequence of querysets instead.

For context, this is how we resolved this in the annotation case: https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/utils/annota

[2020-06-03 16:49] indirectlylit opened #6984 "improve a11y of video transcripts"
### Observed behavior

follow-up from https://github.com/learningequality/kolibri/pull/5631#issuecomment-551367866

when the user is navigating up and down the transcript **while video is playing**, video player bar with all the rest of controls disappears, not only visually, but from the TAB order too. This results in user being unable to navigate back and pause/stop or control the playback in an

[2020-06-03 19:37] nucleogenesis commented on #5900
Closing this because of the merges just above.

[2020-06-03 19:37] #5900 closed, assigned to nucleogenesis

[2020-06-03 20:59] kollivier opened #6986 "Facilities options button popup literally says 'hi'"
### Observed behavior

When I click on the facilities options popup, it says "hi" in big letters above the Register and Remove options. It is not clickable.

<img width="916" alt="himarc" src="https://user-images.githubusercontent.com/29585/83688410-36268300-a5a2-11ea-943c-900fb1e23945.png">

Also, looks like maybe the sync all and import facility buttons may be a little too close together?

### E

[2020-06-03 22:42] jeepurs opened #6987 "Unexpected arrows next to username list"
### Observed behavior

When navigating the Profuturo online server as an admin under the Users tab, there are unexpected arrows which appear next to each username

### Expected behavior

There are no expectations of arrows

### User-facing consequences

User may be confused by the design, but otherwise there seems to be consequence on clicking on the arrows

### Steps to reproduce

1. Navigate to

[2020-06-03 23:14] radinamatic commented on #6987
Not able to repro this on Chromium Version 83.0.4103.61 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit), no arrows anywhere from 50% all the way up to 300%. I'm also not seeing them in neither Firefox 76.0.1 or Chrome on my Ubuntu 18.04.

@jeepurs Could you try to update your Chromium to the latest version?

![chromium-zoom](https://user-images.githubusercontent.com/1457929/836

[2020-06-04 00:12] jeepurs commented on #6987
Thanks @radinamatic !  I just upgraded to Chromium Version 83.0.4103.61 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit) and I still can see the same issue.

[2020-06-04 12:19] riddhiavlani opened #6989 "Unable to scroll down and select in the 'language drop down box'"
### Observed behavior

Unable to scroll languages in the language drop down box while importing resources. The scroll bar jumps back to the top if i try to scroll down

### Expected behavior

…

### User-facing consequences

Unable to select languages at the bottom of the list

### Errors and logs

…

### Steps to reproduce

…

### Context

Kolibri version 0.13.3
OS Windows 10
Browser Chrome
![bug

[2020-06-04 12:58] MisRob commented on #6906
I've checked this issue for a couple of resources and the preview seems to be rendered though horizontal and vertical scrollbars are not visible (I suppose that on smaller screens it can look like that preview is not rendered or scroll behavior is not working at all):

For example this preview in Chrome
![preview-browser](https://user-images.githubusercontent.com/13509191/83757594-01353180-a671-11

[2020-06-04 15:01] indirectlylit commented on #6906
One option would be mirroring the learner experience of quizzes, which hides side bar on small screens and leverages ‘next’/‘previous’ buttons instead. Some design is still required though.

however given the size of this effort and the fact that coaching with a small device is uncommon, I'm removing this from the current milestone

[2020-06-04 15:29] indirectlylit commented on #6902
from @nucleogenesis:

[2020-06-04 16:38] radinamatic commented on #6989
I'm able to replicate this on Firefox 76 on Ubuntu 18.04, so it seems rather universal!

![channel-language-selector](https://user-images.githubusercontent.com/1457929/83785569-c98ab180-a691-11ea-95df-72b854a835c6.gif)

Even when using keyboard, there's no way to navigate further down than 4th language :confused:

[2020-06-04 16:52] jonboiser commented on #6989
Also reproduced it on the `kolibri-beta` site, but I am not seeing this behavior using the development server.

[2020-06-04 16:56] radinamatic commented on #6989
My recording above is made while running the server from the current `develop` branch.

[2020-06-04 16:57] jonboiser commented on #6989
@radinamatic Could you check your network tab and see if there are any tasks in the `/api/tasks` request? On kolibri-beta there was one of those "empty" Completed tasks that don't appear on the Task Manager.

On a hunch, I tried clearing out the task queue on `kolibri-beta` and it seems to have fixed it for me on the website.

[2020-06-04 17:05] jonboiser commented on #6989
on this component `AvailableChannelsPage.vue`, there is a reactive dependency to the tasks via the `channelIsBeingDeleted` getter, which might be the reason the dropdown is getting reset on every task poll.

[2020-06-04 17:07] jonboiser commented on #6989
And just replicated this on the devserver by letting a import task complete. This bug  doesn't happen when the task is in-progress, only after it is completed.

[2020-06-04 17:18] jonboiser commented on #6989
I narrowed this down to the `computed.allChannels` property

https://github.com/learningequality/kolibri/blob/92242246c9545cb59f555d5a4b61ff8c7ed4c2b0/kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue#L174-L179

It has a linkage to the `tasks` state in Vuex via this `installedChannelsWithResources` getter. It must be causing a full-re render which ends up moving focus back up

[2020-06-04 20:16] indirectlylit commented on #6227
Met with @jonboiser, @rtibbles, and @khangmach. Outcomes:

## Annotating import pages for recently-updated channels

Within the 'import' screen, if the channel was updated, and diff stats are still available because no additional imports (besides update imports) have happened yet, then annotate the import screen with:

- new row in top stats table showing "Newly available resources: #, MB"
- indiv

[2020-06-04 23:53] indirectlylit commented on #6979
thanks!  it's still a work in progress

we have a number of open issues: https://github.com/learningequality/kolibri/issues?q=is%3Aopen+is%3Aissue+label%3A%22TAG%3A+design+system%22

[2020-06-04 23:56] indirectlylit commented on #5900
huzah!

[2020-06-05 00:41] indirectlylit commented on #6987
@jeepurs would you mind testing on the LE demo server? It should use the same code for this page

[2020-06-05 00:46] #6957 closed, assigned to nobody

[2020-06-05 00:48] #6944 closed, assigned to nobody

[2020-06-05 14:38] jeepurs commented on #6987
@indirectlylit @radinamatic Of course. I just logged in as super admin and admin on the Kolibri Demo server and could not reproduce the same issues I saw on the ProFuturo site

[2020-06-05 15:42] kollivier commented on #6986
Running latest develop, I no longer see this. Leaving open for someone to check, but possibly has already been fixed!

[2020-06-05 15:46] jredrejo opened #6993 "Unexisting role is being used and created in create_dummy_facility_data test helper"
### Observed behavior
There is an useful helper called `create_dummy_facility_data`, https://github.com/learningequality/kolibri/blob/develop/kolibri/core/auth/test/helpers.py#L32 that can be used in tests that need a facility with classes and users created. The test creates users with all the roles Kolibri has and classes with them enrolled or assigned.

However, this function is using a non-exis

[2020-06-05 17:06] ivanistheone commented on #6982
Trying to update a [medium-sized KA channel](https://kolibri-demo.learningequality.org/en/device/#/content/manage_channel/09ee940e106953a2b6716e1020a0ce3f) failed silently (task just disappeared in UI). After getting back to the channels list, the channel had dissapeared. Importing from scratch worked.

The logs contain this

[code]
via kolibri@kolibri-demo-worker-5f67c84987-7wdbt:~/kolibri_home/k

[2020-06-05 17:43] rtibbles commented on #6982
Ugh - 0.13.3? With redis backend or no?