[2018-10-19 17:30] lyw07 opened #4462 "Identify possible issues about not resolving "real path" in the code base"
Would you mind doing a codebase scan for something like `os.path` just to see if you can identify other areas where issues might occur from not resolving the "real path" of a filesystem resource?

`ag --py os.path` could be your friend :)

_Originally posted by @benjaoming in https://github.com/learningequality/kolibri/pull/4444#issuecomment-430789788_

[2018-10-19 18:02] lyw07 commented on #4455
thank you for pointing this out! I remember I added https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/management/commands/importcontent.py#L195 because a failed test indicated that self.progresstrackers doesn't exist.

I should have noticed the potential error in https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/management/commands/importcont

[2018-10-19 21:57] indirectlylit commented on #4227
@benjaoming and I differ slightly on this and will discuss further

My recommendation would be to use the `movedirectory` command unless there is a specific reason that it's not working for you. If that's the case, I'd be interested to better understand what's not working, and you can use symlinks as a workaround.

One might expect symlinks inside `KOLIBRI_HOME` to be transparent to the applicatio

[2018-10-19 22:04] indirectlylit commented on #4460
thanks! This is being addressed in #4451

[2018-10-19 22:04] #4460 closed, assigned to nobody

[2018-10-20 14:02] benjaoming commented on #4182
Different fixes:

1. Create a Kolibri package without bundled imports, but specifying requirements like an ordinary PyPi package - allowing anyone with the issue to install a different patched up Django
1. Create an Arch package that uses Python 2.7 (but that forces Arch users to use 2.7, which they may not be very happy about)
1. Vouch for the introduction of Python 3.7 compatibility for Django 1

[2018-10-20 14:10] benjaoming commented on #4182
@nobicycle thanks for sharing your Python 3.6 fix and for reporting the issue!

Would you mind sharing how bad in your case it is to install an older version of Python? Just to escalate / deescalate the severity. It does seem like something that has to be fixed soonish. Ubuntu 18.10 was released with Python 3.6, so I can see the wider adoption starting maybe around the time of 19.04...

Advantages

[2018-10-20 14:45] nobicycle commented on #4182
@benjaoming

I just checked, Ubuntu and I supposed Debian have both python3.6 and python3.7 in their repos. I use Arch/manjaro. Therefore, this covers almost all distros - they all have 3.6 and 3.7 available.

The procedure is as follows:

Download the whl file somewhere and assign variable KOLIBRI_ARCHIVE_PATH pointing to it.

**Install Kolibri**

Install python 3.6 and 3.7 using the package mana

[2018-10-20 15:01] benjaoming commented on #4182
Sounds good, thanks for sharing your method @nobicycle - using a virtualenv will be easy to configure once we have a UWSGI Debian package. It will ship a `.ini` configuration, which just needs a single line customized to run inside a virtualenv. I'll add this to the above list of ways of fixing this...

[2018-10-21 14:21] benjaoming commented on #4227
Fixed in #4444 - so closing this.

@indirectlylit - symlinks are very powerful mechanisms for distributing massive amounts of contents over several partitions and devices. Also in the case that the database is desired to run on a small, fast drive, while content is stored on a larger, slower drive. Therefore, I think we should keep up the effort to support it, although I agree that now that we hav

[2018-10-21 14:21] #4227 closed, assigned to lyw07

[2018-10-22 14:57] lauradanforth opened #4463 "Channel is listed as fully imported but isn't appearing on Learn tab"
### Observed behavior

Report from user: "I loaded Kolibri from a local drive on a computer and as the Khan Academy English was loaded, and before it completed the installation (ie. the button did not say close) the power went out.  When we had power back on, I opened Kolibri and the icon for Khan English did not show up on the screen, so I tried to restart the import. The import screen says it is

[2018-10-22 17:57] #4452 closed, assigned to jonboiser

[2018-10-22 17:57] #3925 closed, assigned to jonboiser

[2018-10-22 18:30] jredrejo commented on #2200
@indirectlylit  could you give me some details on the kind of tool you have in mind to do the testing? travis? or some other tool?

[2018-10-22 18:36] #4237 closed, assigned to nobody

[2018-10-22 20:01] indirectlylit commented on #2200
I don't have strong opinions - it would depend in part on how long the tests take and what kind of sample data is necessary to get realistic assurances.

This task may also be a lower priority now that we have upgrade paths as part of our manual integration testing.

Originally I'd been worried that our data migrations and other related upgrade code might be a risky part of the code base in the pr

[2018-10-23 16:16] rtibbles commented on #4415
Fixed in #4417

[2018-10-23 16:16] #4415 closed, assigned to rtibbles

[2018-10-23 17:34] rtibbles commented on #4422
Yeah, drawing on existing designs seems like a good idea here. What happens if you navigate away from Google Drive and back again while this process is happening, do you have to restart the process?

[2018-10-23 17:34] rtibbles commented on #4422
(more generally, how transient do we want this to be?)

[2018-10-23 17:35] rtibbles commented on #4266
It's not, but we've given it a good try for starters.

[2018-10-23 18:16] christianmemije commented on #4451
Fixed in #4457

[2018-10-23 18:16] #4451 closed, assigned to jonboiser

[2018-10-23 18:16] christianmemije commented on #4445
fixed in #4457

[2018-10-23 18:16] #4445 closed, assigned to jonboiser

[2018-10-23 18:17] khangmach commented on #4422
<img width="507" alt="screen shot 2018-10-23 at 11 13 48 am" src="https://user-images.githubusercontent.com/25045166/47381410-cc02e800-d6b4-11e8-875b-0f03197db827.png">
Currently when you navigate away from gdrive through another URL or closing the tab you get this message and if you navigate away, you lose the process. When you browser back to the original gdrive page, the process doesn't restart

[2018-10-23 19:10] rtibbles commented on #3866
Is this fast enough yet?

[2018-10-23 19:12] rtibbles commented on #4159
@mrpau-julius could you take a look at the experience you get with this in the current 0.11.0-betas?

[2018-10-23 19:17] jonboiser opened #4466 "More context on page titles (e.g. the ones on the browser tab)"
### Observed behavior

Some page titles are very generic. For example, at a url `http://localhost:8000/coach/#/<classroomID>/lessons` the title is "Lessons - Kolibri" regardless of the Classroom. A potential context-providing title would be "Lessons for Classroom A - Kolibri".

### Expected behavior

Titles provide the right amount of context.

### User-facing consequences

* Bookmarked pages may

[2018-10-23 19:42] radinamatic commented on #4466
:heavy_plus_sign: :100:  for this!

* *Learner reports for Classroom 2D - Kolibri*:
http://kolibri-beta.learningequality.org/coach/#/fa4cbfeda32c0c0fbf1832fc1ddd10c3/learners
* *Learner reports for Abby L. in Classroom 2D - Kolibri* (specific learner in a classroom):
http://kolibri-beta.learningequality.org/coach/#/fa4cbfeda32c0c0fbf1832fc1ddd10c3/learners/eada3a8c2e6832383bd120fe126e630b

[2018-10-23 21:56] indirectlylit commented on #3866
probably - let's close this until we get further reports that it's still an issue

[2018-10-23 21:56] #3866 closed, assigned to jamalex, rtibbles

[2018-10-23 22:46] #4214 closed, assigned to jonboiser

[2018-10-24 00:08] radinamatic opened #4468 "Wrong title label in 'Edit exam details' modal (refers to lesson instead of exam)"
### Observed behavior
Too fast code c/p-ing, most probably...

![half term - kolibri - mozilla firefox_088](https://user-images.githubusercontent.com/1457929/47397308-fa250e00-d72e-11e8-9b58-bf8d838b240f.png)

### Expected behavior
Label should refer to the exam, not lesson.

### Steps to reproduce

1. Select any exam from the list
2. Click **Options** and select **Edit details**
3. Observe the ti

[2018-10-24 00:44] indirectlylit commented on #4422
This direction makes the process tied to browser state: it's triggered within a particular browser tab, and only that tab gets the chance to download the logs once they've been generated.

Another direction we can consider would be to treat this more like import/export, where all windows (and in fact all users) have a shared view onto a single server state, and you can leave and return to the page

[2018-10-24 01:48] #4331 closed, assigned to jonboiser

[2018-10-24 01:48] #4399 closed, assigned to jonboiser

[2018-10-24 02:03] indirectlylit opened #4470 "should the app bar scroll offscreen?"
### Observed behavior

In #4465 we moved the sub-nav bar into the app screen, which looks great.

One unfortunate downside is that even more space is taken up by the app bar now, especially on smaller screens:

![image](https://user-images.githubusercontent.com/2367265/47401383-fa54e780-d6f5-11e8-8db2-5730369cf0e0.png)

### Expected behavior

At least on mobile, we shouldn't be taking up so much s

[2018-10-24 02:36] #4270 closed, assigned to jredrejo

[2018-10-24 02:39] indirectlylit commented on #4410
fixed in #4306

[2018-10-24 02:39] #4410 closed, assigned to indirectlylit

[2018-10-24 02:41] indirectlylit commented on #4436
removing milestone so it doesn't become a release blocker

[2018-10-24 02:41] indirectlylit commented on #4443
removing milestone so it doesn't become a release blocker

[2018-10-24 02:48] indirectlylit commented on #4398
no - that should be happening in a completely different thread.

[2018-10-24 04:16] mrpau-julius commented on #4159
@rtibbles sure, I will test it today.

[2018-10-24 07:36] mrpau-julius opened #4474 "Exam performance is empty after upgrading the kolibri 0.8.0 to 0.11.0b2"
### Observed behavior

When I checked the individual exam report of learners. I found out, exam performance is empty.

![exam-report](https://user-images.githubusercontent.com/38421180/47412917-c68fb700-d721-11e8-8253-170ec1323d0b.png)

![exam-report-gone](https://user-images.githubusercontent.com/38421180/47414013-c93fdb80-d724-11e8-832e-f76f8388c6c9.png)

### Errors and logs
[kolibri.log](https:

[2018-10-24 09:28] mrpau-julius commented on #4159
@rtibbles still exists on 0.11.0b2, but different error script.
[kolibri.log](https://github.com/learningequality/kolibri/files/2509847/kolibri.log)
![lag](https://user-images.githubusercontent.com/38421180/47420903-5a6a7e80-d734-11e8-8c23-b648e536979c.png)

[2018-10-24 10:05] mrpau-richard opened #4475 "clarify device content import permissions"
### Observed behavior
A learner user can delete a channels after it was given an access to only import and export a channels.

### Expected behavior
A learner user can only import and export a channels.

Another option is to create another permission that allow the learner or user to delete channel.

### Steps to reproduce
* Grant a permission to a learner user to import and export channels.
* log

[2018-10-24 16:28] khangmach commented on #4470
That behavior was mentioned here under "scroll behavior" https://github.com/learningequality/kolibri/issues/4214

[2018-10-24 18:29] jonboiser commented on #4470
It might be simpler just to shrink the app bar. The top app-bar only shrinks 8px when going from desktop to mobile (could be more). The second bar doesn't shrink at all.

But even with the second bar (64px) gone, I still don't think that exercise in the screenshot will be fully visible (controls + prompt)

[2018-10-24 18:34] jonboiser commented on #4475
This is expected behavior. I think, in practice, permission to manage (which includes deleting channels) should only be given to specific learners.

I think the more common case is to give this permission to coaches.

[2018-10-24 21:03] lyw07 commented on #4005
I think the issue is originally because the channel was updated. After the channel was updated, all the local files of the channel were marked as unavailable. But this was fixed in 0.10.2: https://github.com/learningequality/kolibri/pull/4123

For the part: `waited a while; then canceled the import`, unfortunately I'm not able to reproduce this. After I cancelled the import of two files, I can see

[2018-10-24 21:11] jonboiser commented on #4005
@lyw07 	Could you take a look at the response from `api/devicechannel` to make sure its `on_device_files/resources` is correct?

[2018-10-24 21:14] lyw07 commented on #4005
Hi @jonboiser the endpoint `api/devicechannel` doesn't exist on my side. I'm now running the pex from the release 0.11 branch. Do you know if it's named to something else? Thanks!

[2018-10-24 21:18] jonboiser commented on #4005
It should look like this in the network tab: `device/api/device_channel/1ceff53605e55bef987d88e0908658c5/?include_fields=total_resources%2Ctotal_file_size%2Con_device_resources%2Con_device_file_size&1540415826085=1540415826085`

[2018-10-24 21:19] lyw07 commented on #4005
thank you! Here is what I get:
[code]

[2018-10-24 21:24] jonboiser commented on #4005
I wonder why `on_device_resources/file_size` is `null`. This should only happen if on the Python serializer size, this field is assigned `None`.

[2018-10-24 21:33] lyw07 commented on #4005
Yes in the device page, the channel size is shown as 0. It's weird because if it's 0, then the channel shouldn't show up.
<img width="522" alt="screen shot 2018-10-24 at 2 32 30 pm" src="https://user-images.githubusercontent.com/19424916/47462964-bddac780-d799-11e8-82fe-40ff3e208822.png">

I think this is actually back-end related. Will investigate on this more. Thank you for the help!

[2018-10-24 21:40] indirectlylit commented on #4470
both shrinking and adding the scrolling behavior would help, with scrolling behavior achieving more saving.

I don't see anything in the [material spec](https://material.io/design/components/tabs.html#spec) about shrinking though

[2018-10-24 21:56] indirectlylit commented on #4475
It's an interesting point though - the permission label might be misleading:

![image](https://user-images.githubusercontent.com/2367265/47464016-d1d3f880-d79c-11e8-907b-06d6e0463d2b.png)

Perhaps it should say "Can import, export, and delete content channels" or "Can manage content on this device"

@radinamatic we should probably clarify this in the docs

@jtamiace shall we change the permission

[2018-10-24 22:23] jonboiser commented on #4474
The Exam Log looks like it's fine (since the gold star appears on the exam report).

The logs are showing errors when trying to access `/api/content/contentnode/node_assessments/`

getting this error:

[code]

[2018-10-24 22:26] rtibbles commented on #4474
Was that the complete URL, or are there get params on the request also?

[2018-10-24 22:28] jonboiser commented on #4474
That's from the `kolibri.log` file. The full line is

`ERROR 2018-10-23 03:19:14,351 exception Internal Server Error: /api/content/contentnode/node_assessments/`

But I'm not sure how this endpoint got hit. It only looks like it should be used  during exam creation.

[2018-10-24 22:30] rtibbles commented on #4474
Yeah, that was what I thought too. Can you check that `fetchNodeAssessments` is not being called anywhere it shouldn't be?

[2018-10-24 22:36] #4455 closed, assigned to lyw07

[2018-10-24 23:16] radinamatic commented on #4475
As i understand this is not new, that is, granting "device permissions" always included the ability to delete channels, hence effectively _manage_ content, not just import/export capability.

Is there a plan to maybe separate levels of device permissions? So user can be granted import/export, but not deletion capability? If not, I would favor "Can manage content on this device" label for simplicit

[2018-10-24 23:21] indirectlylit commented on #4475
Not that I'm aware of

[2018-10-24 23:24] radinamatic commented on #4475
Actually, I kept the docs close to my own understanding (device permissions = permissions to manage content), so just a bit more explicit wording will be necessary:

https://kolibri.readthedocs.io/en/latest/manage.html#permission-to-manage-content

[2018-10-24 23:40] jonboiser commented on #4474
I can't reproduce this on Mac. I'll try this again on a windows computer.

[2018-10-24 23:53] radinamatic commented on #4474
Not able to reproduce this on Ubuntu either.
Same scenario, Kolibri updated from 0.8 to 0.11b2, performance & results of the exam taken by a learner while on Kolibri 0.8 are clearly viewable after the upgrade:

![ubuntu 16 04 3 0 8 with users content running - oracle vm virtualbox_090](https://user-images.githubusercontent.com/1457929/47467862-96ffae00-d7f8-11e8-9dd2-4dc0ee923470.png)

![ubuntu 16

[2018-10-24 23:59] jtamiace commented on #4475
I think we expected the case of a user with only a role of learner + device permissions to be rare in actual implentation in the field, and I'm not aware of any feedback from users that would suggest we should make a separate permission for deletion. Maybe someone from the imps team can speak on that?

But, couldn't hurt to change the text. Also a fan of the simpler `Can manage content on this dev

[2018-10-25 00:04] jonboiser commented on #4474
@mrpau-julius 	Could you check the data (and any logs) from this API response

`http://localhost:8080/api/logger/examattemptlog/?exam=EXAM_ID&user=USER_ID`

If the Exam Report URL on your browser is something like

http://localhost:8080/coach/#/108687d5292e2e44d40e331505ad9883/exams/149cc268bbf2f54b2b5a750df314a3d5/users/4090238f75ffe99237af05ae08acd3c0/0/0

Then `EXAM_ID` is the long string after

[2018-10-25 00:14] jonboiser commented on #4474
@mrpau-julius 	Could you also send the response from

http://localhost:8080/api/exams/exam/149cc268bbf2f54b2b5a750df314a3d5/

where you replace that last string with your EXAM_ID.

[2018-10-25 00:54] #4418 closed, assigned to indirectlylit

[2018-10-25 00:54] #4392 closed, assigned to indirectlylit

[2018-10-25 04:31] mrpau-julius commented on #4474
@jonboiser Sure, I will check that today.

[2018-10-25 06:48] mrpau-julius commented on #4474
Hi @jonboiser here are the result. The field value are blank.

![api1](https://user-images.githubusercontent.com/38421180/47480916-d2917c80-d7e6-11e8-8b09-928b74bad53b.png)

![api2](https://user-images.githubusercontent.com/38421180/47480936-df15d500-d7e6-11e8-86e3-1edf5070973e.png)

[2018-10-25 07:22] jflaflamme commented on #4375
Just to inform you that @manuthchek have started last week on Crowdin and we will update here once completed or on any blocking points :-)

[2018-10-25 13:34] radinamatic commented on #4375
@jflaflamme Thank you for the update, and for starting the translation process already!

Don't hesitate to contact us should you have any questions or concerns :slightly_smiling_face:

[2018-10-25 17:54] jonboiser commented on #4474
@mrpau-julius Could you try it again, but log in as the same user. Click the "Log in" button at the top right of the Django Rest Framework UI, sign in as the same user in your first post (or as a superuser), then check the same API responses.

The Exam Attempt Log List does look odd because it returned an empty array, but I'm not sure if that's because you are not logged in.

[2018-10-25 19:50] lauradanforth commented on #4463
The user reported that upon logging in today, the content was now appearing. No other changes were made but I've attached the log they sent in case there appears to be a difference that's identifiable.
[kolibri (1).log](https://github.com/learningequality/kolibri/files/2516487/kolibri.1.log)

[2018-10-25 23:39] #3505 closed

[2018-10-26 05:11] mrpau-julius commented on #4474
Hi @jonboiser sure, this are the result.
This is the filter from `Exam Attempt Log List`[Exam Attempt Log List.txt](https://github.com/learningequality/kolibri/files/2517764/Exam.Attempt.Log.List.txt), on the bottom the field are blank.
![exam attempt log list](https://user-images.githubusercontent.com/38421180/47545624-1d23ff00-d8a2-11e8-9367-d6db57609bc1.png)

And another filter from `Exam Views

[2018-10-26 22:30] indirectlylit opened #4483 "localize language name tooltips in language switcher"
### Observed behavior

In #4461 we added english-language tooltips.  These are helpful for both QA and to help satisfy curiosity from users about what the available languages are.

### Expected behavior

We should localize all language names so that the tooltips are displayed in the currently-selected language.

Recommend that we "over-translate" language names, rather than trying to only translat

[2018-10-26 22:53] #4005 closed, assigned to lyw07

[2018-10-26 22:57] indirectlylit commented on #4463
thanks for the update

[2018-10-29 17:03] #4446 closed, assigned to indirectlylit

[2018-10-29 17:08] indirectlylit commented on #4288
this is now addressed - there are [four strings](https://crowdin.com/translate/kolibri/582/en-te#q=statusicon):

* `StatusIcon.examActive`
* `StatusIcon.examInctive`
* `StatusIcon.lessonActive`
* `StatusIcon.lessonInactive`

[2018-10-29 17:08] #4288 closed, assigned to indirectlylit

[2018-10-29 17:09] indirectlylit commented on #4468
This is now [addressed on crowdin](https://crowdin.com/translate/kolibri/582/en-te#q=titlePlaceholder)

[2018-10-29 17:09] #4468 closed, assigned to indirectlylit

[2018-10-30 17:12] lauradanforth opened #4490 "Unable to create users or enroll Learners via admin account (RACHEL installation)"
### Observed behavior
When logged in as an admin, the buttons to create users and to enroll learners in a class have disappeared.

Note that this has also been reproduced by another user running Kolibri on a RACHEL device.

### Errors and logs
![creating users error](https://user-images.githubusercontent.com/22602993/47736537-3da6dd00-dc45-11e8-9f81-b93a46dec476.PNG)
![creating coaches error](http

[2018-10-30 17:22] lauradanforth opened #4491 "Error loading Khan Academy (en) exercises"
### Observed behavior
Reported from a KHGP implementation: Certain exercises (especially when they contain graphs or drawings) from Khan Academy are showing an error when accessed in Kolibri. The observed behavior was from a curated channel that included KA exercises.

Note from Laura: I looked at the exercise on the Studio side and the thumbnail was showing up properly.

![image 1](https://user-i

[2018-10-30 17:29] DXCanas commented on #4421
Not reproducing this is beta 2? Tested in Chrome, Chromium, and Firefox

[2018-10-30 17:29] #4421 closed, assigned to DXCanas

[2018-10-30 18:37] jonboiser commented on #4398
One thing that looks odd in the screen capture is that the "Form Autocomplete" pop-up appears on the bottom of the screen right after navigating to Coach. But there is no form submission happening.

[2018-10-30 19:05] jonboiser commented on #4490
The 'Locale "default" is not well formed' errors might be coming from the use of `localeCompare` when sorting users in the table. This `localeCompare` is not available on older version of Edge.

[2018-10-30 22:53] #3648 closed

[2018-10-30 23:27] rtibbles commented on #4470
Scrolling and shrinking would help. It has been discussed before, but using the immersive view for all content presentation would also help (and perhaps making the top bar for the immersive view also hidden on scroll).

[2018-10-30 23:29] indirectlylit commented on #4490
re: `localeCompare`, see #3887 and #3888

I'm surprised the issue is occuring in Chrome though

[2018-10-30 23:32] indirectlylit commented on #4491
Very often these issues turn out to be resolved by re-publishing and updating the channel. @ralphiee22 any thoughts if that might be the case here?

[2018-10-31 14:35] lauradanforth commented on #4490
A followup message was sent saying that it's mostly being run on Edge, so I'll re-confirm whether Chrome has been used or not.

[2018-10-31 19:20] indirectlylit commented on #4490
Thanks. I'm fairly confident this issue is the same as #3804, which was closed by #3887 in 0.10.x

If these users cannot upgrade Kolibri, let's recommend that they use Firefox or Chrome as their browser.

Closing - please re-open if we get new information indicating that the scope is different from #3804

[2018-10-31 19:20] #4490 closed, assigned to nobody

[2018-10-31 20:43] ivanistheone opened #4496 "Uncaught ChunkedEncodingError during importcontent"
### Observed behavior

importchannel/importcontent management command fails

### User-facing consequences

Users would have their import process interrupted and have to resume.

### Errors and logs

[code]

…

### Steps to reproduce

Not sure what caused this, just random network spotynesss.

### Context

Updating this demo server  sikana-demo.learningequality.org/learn/

[2018-10-31 20:57] radinamatic commented on #4474
Not having much luck with this... After replicating the scenario with the provided 0.8 `.kolibri` folder, I'm unable to restart the server when I upgrade to 0.11:

![win10 0 8 running - oracle vm virtualbox_136](https://user-images.githubusercontent.com/1457929/47818181-ce6ddd80-dd57-11e8-838b-ec89d8b1fe67.png)

[debug.log](https://github.com/learningequality/kolibri/files/2536370/debug.log)
[koli

[2018-10-31 23:51] #4462 closed, assigned to lyw07

[2018-10-31 23:51] #3675 closed, assigned to lyw07

[2018-11-01 00:16] indirectlylit opened #4499 "replace all instances of v-model with .sync?"
### Observed behavior

`.sync` and `v-model` [do the same thing](https://forum.vuejs.org/t/sync-vs-v-model/19380) but `.sync` has arguably [slightly cleaner syntax](https://medium.com/front-end-hacking/vues-v-model-directive-vs-sync-modifier-d1f83957c57c).

### Expected behavior

Should we migrate all instances of `v-model` to use `.sync` instead, and perhaps add a linter rule?

### User-facing co

[2018-11-01 00:21] rtibbles commented on #4448
I found another issue in the channels-grid spec the other day that I also fixed. I will check my commit history to see what it was.

[2018-11-01 04:50] rtibbles opened #4500 "Separate API Endpoint for Coach creation within a class"
### Observed behavior
Currently, coaches are unable to enroll new learners in classes. This is problematic in cases where learners join real world classes, and are unable to add accounts that would be associated with their class in Kolibri.

### Expected behavior
Coaches would be able to create (but not destroy or remove) learners from their class.

### Implementation Details

While the above issu

[2018-11-01 04:54] rtibbles commented on #4443
I have a fix for this.

[2018-11-01 20:57] lyw07 commented on #4496
Maybe we can add this to the content import retry logic, if it's just caused by the internet?

[2018-11-01 22:12] lyw07 commented on #3502
We are not currently able to fix this issue, because our old databases (e.g. v0.2.0) don't have fields such as `license_name` in ContentNode. To maintain backwards compatibility, we should work on fixing this after we are sure that all of the users have upgraded their kolibri to newer versions.

However, even when kolibri users are using the newer versions, this issue is still hard to fix. We also

[2018-11-01 23:38] indirectlylit commented on #3502
okay thanks for the analysis! closing as wont-fix

[2018-11-01 23:38] #3502 closed

[2018-11-01 23:39] lyw07 commented on #3502
yes also thanks @rtibbles for explaining this! We will have to fix this eventually, but just not at this point though.

[2018-11-02 00:09] indirectlylit commented on #4496
that makes sense to me. Would it make sense to retry for _all_ [requests exceptions](http://docs.python-requests.org/en/master/_modules/requests/exceptions/)? e.g. `RequestException`

[2018-11-02 00:54] lyw07 commented on #4386
not able to reproduce this issue on my Xubuntu VM. I imported 2 GB content from KA English and deleted all the content on kolibri 0.10.3-beta3.

My assumption is that kolibri process got killed because the system was out of memory. A similar issue: https://github.com/learningequality/kolibri/issues/2879. I will try to reproduce this issue again with a lower memory VM.

[2018-11-02 01:58] radinamatic commented on #4474
After several failed attempts I gave up on trying to upgrade the 0.8 installation that was running with the sample database & content handed over by @mrpau-dev. Had issues displaying content of the exam report in question even on 0.8, and was unable to build other exams from the content that was there, supposedly. Only after I downloaded more content, it was possible to build another exam. I suspe

[2018-11-02 17:17] khangmach commented on #4422
That sounds fine too. I can't distinguish user preference right now so I think as long as we have something, it'll be a start. Gonna remove the needs design tag

[2018-11-02 17:32] indirectlylit commented on #4474
thanks guys, I really appreciate the strong push trying to replicate this.

unless @jonboiser has any further ideas, propose removing it from the milestone pending additional information from the field

[2018-11-02 17:32] indirectlylit commented on #4386
thanks @lyw07

[2018-11-02 19:24] DXCanas commented on #4214
Can't find a figma board for this, but what do we think of aligning the start of the sub-tabs with the world "Learn"

[2018-11-02 22:49] jonboiser commented on #4191
This shouldn't happen any more with the current modal implementation. What should happen is that the Close button will appear in its own frame and won't be overlapped by the exercise.

[2018-11-02 22:49] #4191 closed, assigned to nobody

[2018-11-02 23:12] indirectlylit commented on #17
* this issue seems to be covered in #2019 and #2510
* added note about switching from json to ini in #2019
* also, options.ini now exists

closing to consolidate. let me know if anything wasn't captured

[2018-11-02 23:12] #17 closed

[2018-11-02 23:21] indirectlylit commented on #1697
haven't seen this in a while - re-open if it's still an issue

[2018-11-02 23:21] #1697 closed

[2018-11-02 23:22] indirectlylit commented on #1707
this has been mostly addressed. Let's open issues for specific things if we need more warnings

[2018-11-02 23:22] #1707 closed

[2018-11-02 23:24] indirectlylit commented on #1949
should work out of the box now. nice job!

[2018-11-02 23:24] indirectlylit commented on #1955
cc @christianmemije

[2018-11-02 23:30] indirectlylit commented on #2137
closing as wontfix since it's been back-burnered for so long and might not actually be necessary.

let me know if you see this as problematic

[2018-11-02 23:30] #2137 closed

[2018-11-02 23:32] indirectlylit commented on #2042
closing as stale:

* works as is
* doing this way would mix SQLAlchemy reads and Django MPTT reads

[2018-11-02 23:32] #2042 closed

[2018-11-02 23:32] indirectlylit commented on #2188
our error handling logic, particularly with permissions, has been improved recently. closing as wontfix

[2018-11-02 23:32] #2188 closed

[2018-11-02 23:34] indirectlylit commented on #2198
fixed in #4176

[2018-11-02 23:34] #2198 closed

[2018-11-02 23:39] indirectlylit commented on #2409
closing as wont-fix - there are workarounds.

at a high level: _don't call resource functionality during core app initialization_. This means specifically in `core-app/index.js` or `CoreAppConstructor`

[2018-11-02 23:39] #2409 closed

[2018-11-02 23:43] indirectlylit commented on #2587
closing - this may have been addressed by KA content updates. please re-open if it's still an issue.

[2018-11-02 23:43] #2587 closed

[2018-11-02 23:44] indirectlylit commented on #2722
began addressing aspects of this in #4472

let's apply the same logic to the drive selectors

[2018-11-02 23:45] indirectlylit commented on #2769
this has been mostly accomplished in the recent string audit

[2018-11-02 23:45] #2769 closed

[2018-11-02 23:46] indirectlylit commented on #2785
closing as wontfix

[2018-11-02 23:46] #2785 closed

[2018-11-02 23:48] rtibbles opened #4504 "Don't cache recommended endpoints forever"
### Observed behavior
Currently we are caching the ContentNodeSlimViewset endpoints for a year.

### Expected behavior
We should fix up the special case filtering in the 'cache forever' decorator to reflect the change from using filters (checking against GET params) to specific list endpoints (check against URL path).

### User-facing consequences
The same recommendations forever and ever.

[2018-11-02 23:49] indirectlylit commented on #2940
cc @benjaoming any ideas how to address this?

[2018-11-02 23:50] radinamatic commented on #17
@indirectlylit

"Exists" as in _is created by default with Kolibri installation_, or as in _you can create one yourself, if needed_? I hope the latter, or I need to amend the documentation.

[2018-11-02 23:50] rtibbles commented on #2940
Do we need to add a `NullHandler` in the `__init__.py`?

https://docs.python-guide.org/writing/logging/#logging-in-a-library

[2018-11-02 23:51] indirectlylit commented on #2943
this is possible by running the `yarn bundle-stats` command

[2018-11-02 23:51] #2943 closed

[2018-11-02 23:56] indirectlylit commented on #3139
behaves as intended

let's report any additional feedback in clearinghouse

[2018-11-02 23:56] #3139 closed

[2018-11-02 23:59] indirectlylit commented on #3392
cc @DXCanas

[2018-11-03 00:05] indirectlylit commented on #3544
this should have been resolved in an update to the KA channel.

@mattjquinn would you mind letting us know if you still see this issue after updating?

thank you!

[2018-11-03 00:05] #3544 closed

[2018-11-03 00:05] indirectlylit commented on #3556
will be addressed in upcoming 0.12 work

[2018-11-03 00:06] indirectlylit commented on #3558
haven't seen this in a while. please re-open if it re-appears

[2018-11-03 00:06] #3558 closed

[2018-11-03 00:08] indirectlylit commented on #3714
should  be fixed in #4425

[2018-11-03 00:08] #3714 closed, assigned to nobody

[2018-11-03 00:17] indirectlylit commented on #3990
we can probably forget about the 0.6 merge? We're current, so perhaps let's just make sure to stay current in the future

[2018-11-03 00:17] #3990 closed, assigned to nobody

[2018-11-03 00:18] indirectlylit commented on #4032
closing - please alert if you still see this

[2018-11-03 00:18] #4032 closed, assigned to nobody

[2018-11-03 00:27] indirectlylit commented on #4161
this should be resolved with the latest KA channel updates - please re-open if that's not the case

[2018-11-03 00:27] #4161 closed, assigned to nobody

[2018-11-03 00:30] indirectlylit commented on #4163
fixed in #4232

[2018-11-03 00:30] #4163 closed, assigned to nobody

[2018-11-03 00:33] #4293 closed, assigned to nobody

[2018-11-03 00:58] indirectlylit commented on #4214
@DXCanas mind making a new issue with screenshots?

[2018-11-03 01:01] indirectlylit commented on #17
yup - you can create one yourself, if needed :)

[2018-11-05 06:28] indirectlylit opened #4508 "make KGrid RTL-compatible"
### Observed behavior

KGrid assumes LTR language. This means alignment is incorrect for RTL:

![image](https://user-images.githubusercontent.com/2367265/47981463-d93eb000-e080-11e8-83ed-79adebfceb4b.png)

### Expected behavior

* rename alignment from "left" and "right" to "start" and "end"
* dynamically switch style based on `isRtl`

### User-facing consequences

alignment issues in RTL

### Ste

[2018-11-05 13:56] benjaoming commented on #3990
We could make it more evident which branches are "left behind", i.e. rename them. But I have to say that I don't really know which branches have become unmerge-able. But once they have, I think they're also *unsupported* given that any kind of fix committed to the branch will be difficult to propagate to newer branches.

[2018-11-05 14:23] benjaoming commented on #2137
Yeah, agreed.

Current behavior is: If we are using SQLite and the version changes, a dump of the database is automatically created. _**Before running migrations.**_

Likely, the issues here are more about cleaning up automatically created backups since they can occupy a lot of disk space.

[2018-11-05 15:55] indirectlylit opened #4511 "add cache busting for django static files not under webpack control"
### Observed behavior

Webpack currently adds hashes to ensure that stale static files don't get caught in the cache; however this doesn't currently happen for other static files such as the new fonts.

### Expected behavior

All static files should have hashes so we can safely put long cache periods on them. This should probably be done using [`ManifestStaticFilesStorage`](https://docs.djangoproj

[2018-11-05 16:06] indirectlylit commented on #4511
cc @rtibbles I tried adding this but it tries and fails to find `Symbola.otf` from perseus.

Adding 2d6404b5a03b4f41bc08f733dccf1fb6f4053bc4 as a temporary work-around for 0.11

[2018-11-05 16:36] indirectlylit opened #4512 "differentiate community languages from officially-supported languages"
### Observed behavior

We cannot always find translators for some languages, which means support varies between releases. However, all languages currently are mentioned together, which creates an expectation that they will always be supported

### Expected behavior

distinguish community-supported languages and explain that support may vary release-to-release

### User-facing consequences

better

[2018-11-05 17:43] indirectlylit commented on #4290
see also #2627

[2018-11-06 00:24] indirectlylit opened #4515 "Bengali fonts not rendering correctly on Edge under Windows 10"
### Observed behavior

@radinamatic reported:

(https://github.com/learningequality/kolibri/pull/4506#issuecomment-435792111)

### Expected behavior

Bengali renders correctly

### User-facing consequences

Some users cannot effectively use the app

### Errors and logs

![image](https://user-images.githubusercontent.com/2367265/48035117-35ecaa00-e117-11e8-9dac-6f65784cc43e.png)

### Steps to repro

[2018-11-06 01:09] indirectlylit commented on #4515
Okay I'm able to reproduce this in browserstack

[2018-11-06 06:20] indirectlylit commented on #4515
This was partly addressed by a workaround in #4516. However, the workaround is not as efficient as it could be.

[2018-11-06 19:50] #4504 closed, assigned to rtibbles

[2018-11-06 21:29] indirectlylit opened #4521 "add gherkin story for handling multiple channels in coach reports"
### Observed behavior

#4519 addressed a bug that slipped through testing

### Expected behavior

Let's add a new story to ensure that we test for scenarios with multiple channels to prevent bug from recuring

### Context

0.11

[2018-11-06 21:31] radinamatic commented on #4521
Gotcha, will add to 0.12 integration testing prep!

[2018-11-07 07:13] indirectlylit commented on #4422
All else being equal, recommend we use the version above because I expect it to be easier to implement. (Requires only server-side state, and mirrors implementation of content import/export.)

[2018-11-07 08:22] indirectlylit opened #4523 "Updates to inline lists"
### Observed behavior

* Many lists take up too much vertical space and would be better rendered as inline, comma-separated lists. However, we can't do comma-separated lists with an unknown number of elements because it can't be translated.
* The user-type labels are visually too prominent

Supersedes #3739

### Expected behavior

Implement an inline list component, and update our user type labels

[2018-11-07 08:23] indirectlylit commented on #3739
closing in lieu of #4523

[2018-11-07 08:23] #3739 closed, assigned to nobody

[2018-11-07 20:48] lyw07 opened #4525 "yarn install fails when yarn is inside a path with name npm"
### Observed behavior

yarn install fails with the following error:
[code]

The `npm_execpath` is:
`/Users/lingyiwang/.npm-global/lib/node_modules/yarn/bin/yarn.js`

### Expected behavior

yarn install should run successfully

### User-facing consequences

not able to install javascript dependencies locally

### Errors and logs

Please check the information in `Observed behavior`

### Steps to rep

[2018-11-09 11:25] AntikaChanda opened #4535 "exam answers and the options are displayed differently with different students"
## Summary
While using the exam feature, the answers and the options are displayed differently with different students.

For instance -
Child 1: found the correct answer options to the above-mentioned question while attempting the exam (subtraction of a-b); but
Child 2 <Screen Shots attached>: found incorrect answer options to the same question. Basically, the answer options (Binomial, Trinomial e

[2018-11-09 15:13] ivanistheone opened #4530 "Two document_epub_render issues"
### Observed behavior

While previewing new ePubs from GDL, see [here](http://35.196.115.213/learn/#/topics/c/1793d71957ac58e598db240cf477f0c0), I noticed some usability issues:
  - reader defaults to two-page view and shows blank page in right half of pane
  - clicking the back button on page N shows a blank page (with page number N-1), then a second click shows the actual content of page N-1

Be

[2018-11-09 18:45] christianmemije commented on #4530
So what appears to be a change from 1 page to 2 page view at initial load is actually just a delayed resize. Meaning that on initial load, epubjs incorrectly sizes the epub (part of it is offscreen), so I do a manual resize. However for some reason, there is a race condition, so I added a delay. See:

https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/document_epub_render/ass

[2018-11-12 13:41] BruceRuta commented on #4491
Thanks, I re-published the channel and all exercises worked.

[2018-11-13 03:13] #4491 closed, assigned to nobody

[2018-11-13 18:11] lyw07 commented on #4386
![virtualbox_xubuntu_09_11_2018_22_15_52](https://user-images.githubusercontent.com/19424916/48433559-3d6e0d80-e72c-11e8-99f3-ade8839cae0a.png)

A similar situation happened when I tried to import 2GB KA English content. The base memory of the VM is 512MB. The server got disconnected because the system was out of memory.

[2018-11-14 00:16] lyw07 opened #4532 "Make the warning "No C extensions available" an info-level log entry"
### Observed behavior

The warning "No C Extensions available" when running kolibri makes users confused. It would be better if we hide it from most end-users

Please see the discussion here: https://learningequality.slack.com/archives/CB37UM23A/p1542131204155300

### Expected behavior

Users should not see the warning. It should be an `info` level event instead

### User-facing consequences

User

[2018-11-15 10:57] mrpau-julius opened #4533 "Kolibri.apk cannot import a channel in Andriod 6.0"
### Observed behavior

 For this test I use smartphone cloudfone. In fresh installation, I cannot import a channel even I have 800MB left in my internal storage.

![screenshot_20181115-183849](https://user-images.githubusercontent.com/38421180/48547843-811c6f00-e906-11e8-8c24-94ba00ffa8a3.png)

![screenshot_20181115-183936](https://user-images.githubusercontent.com/38421180/48547859-88dc1380-e906-

[2018-11-20 05:53] #4525 closed, assigned to indirectlylit

[2018-11-20 17:54] indirectlylit commented on #4386
thanks - I've updated the issue description

[2018-11-20 17:59] indirectlylit commented on #4533
cc @DXCanas

[2018-11-20 18:05] DXCanas commented on #4533
Hi! Where was this apk found?

[2018-11-20 18:08] radinamatic commented on #4533
@DXCanas I believe it's the same APK we used during the mini Android bug bash a few weeks ago.
In fact it's the same issue some of us already identified that day.

[2018-11-20 18:28] indirectlylit commented on #4535
Hi @AntikaChanda thanks for your report. A couple follow-up questions:

1. Would you mind clarifying what the two images posted represent? They look like the coach and learner view of two different questions for a single child?
2. You're saying the key issue is that the learner doesn't see correct options? E.g. they should see an answer like "2b" in the question posted above?

thanks!

[2018-11-22 08:50] swapnil106111 commented on #4535
@indirectlylit
Kolibri version : kolibri-0.9.5beta3

Screenshot_1: Instead of giving correct answer of 3 questions,showing "Questions correct : 1 out of 4".
It must show "Questions correct: 3 out of 4"
![issue_2](https://user-images.githubusercontent.com/12776071/48891433-5e87da00-ee61-11e8-961a-e35ee3244c3f.jpg)

Screenshot_2: Options of the question in the exam are interchanging with other quest

[2018-11-23 02:42] nobicycle commented on #3274
Hi, on 0.11 it is not fixed.

"No drives that can be written to are connected to the server"

I have KOLIBRI_DATA directories in the root of the filesystem and on a USB attached drive. Both are owned by user kolibri that runs the service.

[server.log.txt](https://github.com/learningequality/kolibri/files/2609563/server.log.txt)
[kolibri.log.txt](https://github.com/learningequality/kolibri/files/2

[2018-11-23 02:43] nobicycle opened #4538 "3274 should be reopened"
https://github.com/learningequality/kolibri/issues/3274

[2018-11-23 02:48] nobicycle commented on #3981
Khan Academy (English) import
========================

In 0.11 I just imported overnight what was shown by Kolibri as 4GB worth of import. I know this specifically, because that is my internet quota and I am obviously watching not to exceed it.

In the morning Kolibri the download was reported as complete. I clicked the close button.

However Kolibri is reporting  2GB only in the channel.

[2018-11-23 02:54] nobicycle opened #4539 "Export Command: No such file or directory:"
### Observed behavior
Export command fails

These used to work but now they do not.

### User-facing consequences
Inability to export using CLI or GUI (see #3274)

### Errors and logs
[kolibri-export.txt](https://github.com/learningequality/kolibri/files/2609586/kolibri-export.txt)
[server.log.txt](https://github.com/learningequality/kolibri/files/2609587/server.log.txt)
[kolibri.log.txt](https://

[2018-11-23 16:43] benjaoming commented on #4538
Hi, it is now reopened. Please, there is no need to open an issue to ask for another one to be re-opened.

[2018-11-23 16:43] #4538 closed, assigned to nobody

[2018-11-23 16:43] benjaoming commented on #3274
Hi @nobicycle

Confirming the version from your log: `INFO 2018-11-23 00:09:08,028 cli Version was 0.10.3, new version: 0.11.0`

But did this work at some point or not, I mean have you been able to access the USB in 0.10? If it did work, when did you see the regression the first time and had anything changed on your setup?

This is unfortunate, but so many things can go wrong. So even though one t

[2018-11-23 16:47] benjaoming commented on #4539
Hi @nobicycle

Thanks for filing this!

I am wondering if there indeed is a file missing in the path or if the channel has been broken somehow. Of course, the `export` command might have better guidance.

[code]

Does `1ceff53605e55bef987d88e0908658c5` exist on your disk, can you find it in `/opt/kolibri/.kolibri/content/` ?

[2018-11-27 21:23] lyw07 commented on #3274
Hi @nobicycle ,

Could you please copy and paste the result of `http://127.0.0.1:8087/api/tasks/tasks/localdrive/` here? Thank you so much!

[2018-11-27 22:01] lyw07 commented on #4496
@indirectlylit I agree that if we catch `RequestException`, we don't need to worry about keeping adding exceptions into retry logic. But I'm a bit hesitated to do this because `RequestException` contains many exceptions that we haven't seen before, and the number of retries in our logic is unlimited. If, by any chance, an exception that won't be fixed by retrying occurs, users will keep waiting fo

[2018-11-27 23:14] lyw07 commented on #4194
I think both #3269 and this issue are caused by the limitation we have regarding local import. During local import from usb, we don't actually scan the KOLIBRI_DATA directory inside the usb. So in the content import page, content that is not available in the local drive will still be shown. We skip importing the content since it's not actually available in the local drive. That's why the log file

[2018-11-28 01:02] lyw07 commented on #4342
I'm not able to replicate the error on a testing channel, so I guess this is related to the KA version 13 update?

[2018-11-28 10:11] swapnil106111 opened #4542 "Not able to solve specific KA questions."
### Observed behavior
Not showing answers of the questions in proper format because of this not able to proceed.

Channel ID : jagak-sanon
Path: CBSE KA Hindi Class 6 to 9 -> कक्षा 7 (इंडिया) -> 7. त्रिभुजों की सर्वांगसमता -> रूपांतरण और सर्वांगसमता -> प्रतिचित्रण निर्धारित करना

### Expected behavior
Must show as it shows on KA site.

### Steps to reproduce
1. Import the channel.
2. Try to solve

[2018-11-28 22:36] indirectlylit commented on #4535
thank you!

Do you have a sense if these two issues are related - do they always happen concurrently?

(incorrect answer count in coach view and incorrect answers displayed in learner view)

[2018-11-29 13:47] benjaoming commented on #4342
Just noticing another issue now in @intelliant01 's post:

If this is true, then 1) alarming amounts of content are removed in the new version, is that intended? and 2) do we not free up disk space (i.e. delete old channel data) when upgrading?

[2018-11-29 13:50] benjaoming commented on #4194
@lyw07 - ah okay, I can understand that we don't scan to check availability. But perhaps we should report back to the user about the outcome of the import, when certain resources aren't found?

Should we open a new issue for this?

Tagging #3494

[2018-11-29 15:47] benjaoming opened #4543 "Developer Docs structural update for new top-level sections"
### Observed behavior

The top-level structure does not reflect the lower levels, and there are intersections and overlaps in the nested themes.

Navigating to a subsection is therefore counter-intuitive.

I think the fundamental issue has been that our technical docs are often written+structured with a bit too much immediate ease/comfort of the author :) And flaws in the structure propagated furt

[2018-11-29 17:22] benjaoming commented on #3835
Here is a nice little extra addition to the documentation of the "beginners issue" label: https://www.firsttimersonly.com/

On top of that, we can add a friendly bot... but perhaps that's a bit of a separate issue.. https://github.com/hoodiehq/first-timers-bot

[2018-11-29 18:53] lyw07 commented on #4194
@benjaoming Yes I agree. There is no enough information currently to show the users, which makes them confused.
I just searched in our github issues and noticed that there are around 4 open issues reporting this problem. I think it would be better to discuss this with the whole team about when and how are we planning to tackle this problem. I will bring it up during the dev meeting next week!

[2018-11-30 01:08] indirectlylit commented on #4543
I like the idea of being more intentional about choosing "what type of documentation am I writing?"

Pasting his overview slide for reference:

![image](https://user-images.githubusercontent.com/2367265/49261809-88f50c80-f3f8-11e8-9742-2abf6eec7f6d.png)

Also [here's some research](https://www.nngroup.com/articles/flat-vs-deep-hierarchy/) about the use of hierarchies in websites. The summary:

1.

[2018-11-30 07:15] swapnil106111 commented on #4542
@indirectlylit Not able to see behind graph on tablet.
Channel ID : kobos-hibaz
Path : CBSE English medium channel>grade 8>10.Visualising solid shapes>KA Resources > Mapping space around us > Constructing scale drawings.

Tablet Screenshot:
![2](https://user-images.githubusercontent.com/12776071/49274267-cf507700-f49d-11e8-8dbc-3421dd5febc9.jpg)

Expected screenshot:
https://www.khanacademy.org/ma

[2018-11-30 21:10] ivanistheone opened #4545 "Channel UPDATE button doesn't work when importing from Studio Develop"
### Observed behavior

We want to import the develop-version of a channel (v6), on a demosever that had v4 of a channel installed.

Using the second import option,
<img width="231" alt="screen shot 2018-11-29 at 12 24 39 pm" src="https://user-images.githubusercontent.com/163966/49314747-6119ad80-f4b9-11e8-856d-3ddcf458b87a.png">
and adding develop as a network location:
<img width="231" alt="scree

[2018-11-30 21:31] radinamatic commented on #4545
I can replicate when trying to import into my own Kolibri dev. Virtually same errors, even though the previous version I had was 16 (unable to update to version 20 from develop.studio):

[code]

Getting some font warnings and errors too (cc @indirectlylit )

[code]

[2018-11-30 21:35] radinamatic commented on #4545
Maybe related to https://github.com/learningequality/studio/issues/1112?
cc @aronasorman

[2018-11-30 22:11] indirectlylit commented on #4545
Interesting. Looks very similar to an issue I ran into months ago: #3184

At the time, it sounded like the Channel version in the sqlite3 file was 1 version behind what you get when hitting /api/public/channels on Studio

@ivanistheone  would you be able to check if there's a similar discrepancy here?

[2018-11-30 22:15] indirectlylit commented on #4545
@radinamatic the errors you saw with fonts look like they're coming from the learner content view side. Any chance those occurred before trying to import?

[2018-11-30 22:22] radinamatic commented on #4545
@indirectlylit You are correct, the errors appeared in the log when I tried to open the imported resources inside Learn, but I can't say that I noticed them before.

[2018-11-30 22:31] jamalex commented on #4545
The font errors are just because of bad HTML5 zip files with ".." references (in CSS or HTML) that point up above the top-level index.html path level. Not a Kolibri error (though we should probably just swallow that kind of error, or handle them in some way, because a lot of our ZIPs have this problem).

(Browser is requesting `/zipcontent/fonts/NotoSansEthiopic-Regular.ttf`...)

[2018-11-30 22:53] ivanistheone commented on #4545
@indirectlylit  Here are some version numbers:

  - The version in the DB file on disk is v19 (see `/kolibrihome/content/databases/f9d3e0e46ea25789bbed672ff6a399ed.sqlite3`)

  - The  version advertised by develop.studio is 20 (see [here](https://develop.studio.learningequality.org/api/public/v1/channels)

  - The version in the DB that can be downloaded from develop is 19, see [here](https://deve

[2018-11-30 22:56] ivanistheone commented on #4545
Possibly related: https://github.com/learningequality/studio/issues/1119

[2018-12-01 16:59] benjaoming commented on #4543
Totally agree about the dangers of having too many layers. Maybe we should cap them at max. 2 levels for the current restructure and only introduce a third level if justified (later on) ?

In the current draft, the two Frontend sections are sub-divided further. But maybe we should merge them. With the Sphinx/RTD structure in mind, it's not harmful to have long pages as long as the contents are rel

[2018-12-03 19:44] ivanistheone commented on #4545
This is really a studio (develop) issue, so moved here: https://github.com/learningequality/studio/issues/1124

[2018-12-03 19:44] #4545 closed, assigned to nobody

[2018-12-03 20:53] benjaoming opened #4548 "Upgrade Django 1.11.17 (adds Python 3.7 compatibility)"
### Observed behavior

We should discuss the latest Django 1.11.17 release.  In Kolibri 0.11, we are on 1.11.15.

[The release notes](https://docs.djangoproject.com/en/2.1/releases/1.11.17/) mention:

[Django 1.11.16](https://docs.djangoproject.com/en/2.1/releases/1.11.16/) also had an important bug fix:

### Expected behavior

We could remove documentation warnings about Kolibri *not* working on

[2018-12-03 22:03] benjaoming commented on #4182
Despite the wontfix, they did fix it :tada:

@nobicycle do you have a use for a 0.11 patch upgrade for Python 3.7 support or are you fine about waiting for 0.12?

#4548

[2018-12-04 00:23] indirectlylit commented on #3494
This issue has in some ways come to be catch-all for "things we don't like about the current import/export behaviors".

Since it's not feasible for us to implement everything at once, I think it would be helpful to break this apart into actionable subtasks or migrate this to clearinghouse and then write feature proposals based on it.

We should also be careful to clearly define the issues our user

[2018-12-04 00:26] benjaoming commented on #3494
This is a very good catch-all way of solving several issues. That's why it was created.

[2018-12-04 00:27] benjaoming commented on #3494
Just to point out the actionable part: To create a simple piece of UI that makes current tasks visible. Yes, we can add more things like task *management* on top of that.

[2018-12-04 05:08] lauradanforth opened #4549 "Unable to import channel when all content already exists in previously imported channels"
I created a new channel with one resource as a test and it was a resource I had already brought in via another channel. I was unable to import the new channel because it identified the resource as already being on my device. See picture

v0.11, Chrome

![img_1295](https://user-images.githubusercontent.com/22602993/49465210-0e6c2880-f80e-11e8-8690-a55306d3296a.jpg)

[2018-12-04 12:57] swapnil106111 commented on #4535
@indirectlylit No, both are appearing randomly.

[2018-12-04 17:09] indirectlylit commented on #3494
we already have a simple UI that makes current tasks visible :) that's why I'd like to break this down and get more specific about the issues people are having.

Some concrete examples:

* Currently, no way to queue up imports, which means that users need to 'babysit' the system when importing multiple channels
* Currently, no indication of what changed after an import succeeded. Users might forge

[2018-12-04 17:26] benjaoming commented on #3494
@indirectlylit - for UI, I mean one that displays tasks as a list. A queue. For introspection. I agree on all the examples. IMO, the design can be sort of technically oriented -- maybe more like an Iceqube UI :)

[2018-12-04 17:56] indirectlylit commented on #3494
Yes, the ability to queue tasks is one specific new feature to address a specific challenge our users are facing. It's self-contained and [we have a clearinghouse entry for it](https://github.com/learningequality/clearinghouse/issues/292)

However, this is relatively independent from some of the other challenges being linked to this feature request:

* better error and success reporting
* automati

[2018-12-04 18:40] lyw07 commented on #4549
@lauradanforth looks like the picture uploading failed. Could you please upload the picture again? Thank you!

[2018-12-04 18:41] benjaoming commented on #3494
I would propose this:

1) Sort out a generic activity manager UI for device administrators (this issue)
2) Use it (for scheduling channel imports etc.) (other issues)

I think the activity manager can be built and added in one release, and then subsequent releases can start using it or adapting to it. I agree that a monolithic change won't be successful. Redoing channel imports AND introducing an

[2018-12-04 18:47] lauradanforth commented on #4549
whoops, fixed the image!

[2018-12-04 18:56] lyw07 opened #4550 "Requesting ContentNode by channel id instead of node id during network import"
### Observed behavior

During network import, we are requesting the root ContentNode of the channel by the channel id instead of the root node id (possibly to show the first level of the channel content?). Although in most cases, the channel id is the same as the root id, there are some old channels having different channel id and root id. Example channel id: `7c4e1cf2664435e384b8cbefcafafb53`.
Th

[2018-12-04 22:28] indirectlylit commented on #3494
Let's chat by voice when we have an opportunity. We might be on the same page, but when I see the phrase "generic activity manager UI" I'm still not sure if we're talking about the same thing. Once we chat I can either update this issue with clarifications, or start few new fresh ones without the comments and outdated background. (A lot has changed performance-wise since this was first filed)

[2018-12-05 06:46] lauradanforth opened #4552 "Exporting content into local drive fails part way through and then Kolibri no longer recognizes the drive"
I've experienced this previously in older versions but not consistently. Exporting content onto an attached USB "failed" today at around 30%, so I dismounted and re-mounted the drive and attempted again with the same result. On the third time dismounting and re-mounting, Kolibri no longer recognized the device as being attached.

v0.11, OSX using Chrome. Mounted drive was an HP USB stick.

I have

[2018-12-05 13:41] benjaoming commented on #4548
This release will also require another Iceqube release because it had a module called `async` (which is now reserved syntax). It's possible to do a 0.0.6 release with a minimal set of changes since Iceqube didn't have any other changes, except for `extra_parameters` which is either a severe bugfix or a dead kwarg... finding out with @aronasorman

[2018-12-05 14:15] lauradanforth opened #4553 "Unable to create new Learner accounts from log-in screen"
### Observed behavior
Earlier today, 15 users were able to create new Learner accounts successfully. A few hours later, another group tried to do the same and nothing happened when clicking the 'Finish' button. It wasn't a problem with the connection because logging in and other features worked fine. I was not able to reproduce locally on my own installation (Mac OSX, also using Chrome and v0.11).

[2018-12-05 15:22] jamalex commented on #4553
Is it possible to get a copy of a database where this is happening? (That hasn't had accounts deleted)

[2018-12-05 15:33] lauradanforth commented on #4553
Yes I can ask for a copy!

[2018-12-05 20:08] indirectlylit opened #4558 "404 error during viewing of device permissions"
### Observed behavior

When viewing the permissions page for a user that has not yet been assigned any device permissions, we get an unhandled 404 error in the JS console:

![image](https://user-images.githubusercontent.com/2367265/49540929-27b0bb80-f886-11e8-8216-79656675529c.png)

### Expected behavior

* If the 404 is expected, we should handle it on the client side
* If we're not supposed to g

[2018-12-05 20:12] indirectlylit opened #4559 "very brief flash of unconventional loading message"
### Observed behavior

in #4495 we added a new style of loading message. This has two slight UX issues:

1. It's a style that's not used anywhere else in the app. We should investigate if this is a pattern that should be used elsewhere
2. The message is shown regardless of whether or not the action takes a long time, which can cause unnecessary visual noise

### Expected behavior

We should invest

[2018-12-05 21:06] #2940 closed

[2018-12-05 22:14] indirectlylit opened #4560 "allow python path to be modified with an environment variable"
### Observed behavior

Currently there is no way to use external settings files or install additional kolibri plugins with a PEX files.

### Expected behavior

We can add support for a new environment variable, e.g. `KOLIBRI_ADDITIONAL_PY`. When set, this value will be prepended to the internal python path, allowing additional packages to be referenced by the PEX.

### User-facing consequences

Wi

[2018-12-06 18:33] indirectlylit commented on #4553
Just wanted to confirm:

Were all the students using chrome on ubuntu, or were they using android tablets?

[2018-12-06 18:50] #3835 closed, assigned to indirectlylit

[2018-12-06 23:04] #950 closed

[2018-12-06 23:04] #3653 closed

[2018-12-06 23:04] #4377 closed, assigned to rtibbles

[2018-12-06 23:04] #4443 closed, assigned to rtibbles

[2018-12-06 23:57] indirectlylit opened #4562 "links have started opening in a new tab"
### Observed behavior

Links such as "Continue as a guest" have begun opening in a new tab. This is a regression.

### Expected behavior

Same tab unless explicitly made otherwise.

### User-facing consequences

App navigation is broken

### Errors and logs

None

### Steps to reproduce

Click 'continue as guest'

### Context

v0.11

[2018-12-07 00:10] indirectlylit opened #4563 "'UNIQUE constraint failed' error during class assignment"
### Observed behavior

Got a server error while trying to bulk-assign coaches to a class. The operation was not successful. However, after removing all users and re-adding them, it worked fine.

The issue does not seem to be easily reproduced.

### Expected behavior

Operation should not fail

### User-facing consequences

Users might not be able to complete the task

### Errors and logs

[code]

[2018-12-07 03:34] ivanistheone opened #4564 "ePub and PDF document node icons are the same"
### Observed behavior

…

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2018-12-07 15:05] benjaoming opened #4566 "Dockerize development workflow"
### Observed behavior

New features/benefits:

 * Development can be done without installing Node/Yarn (more secure and easier to install Docker)
 * Docker containers operate on your local repository (through a Docker VOLUME) and build+reuse assets there.
 * Documentation is simplified (leaving aside Docker installation to the user's platform)

[code]

This picks up from #4056 and #3775

TODO:

 *

[2018-12-07 16:39] indirectlylit opened #4567 "New .deb package w/ uWSGI and Nginx configurations"
### Observed behavior

High-level tracker ticket for this new feature: automated setup of an nginx configuration on linux systems.

See google doc below for ongoing design and spec iteration

### Expected behavior

see https://docs.google.com/document/d/1poW3owLd_v_1QaQiRCcDJ-Fa3KKf1CYcHNQL67jgjM0/edit#

### User-facing consequences

Currently difficult for users to set up nginx

----

cc @benjaom

[2018-12-07 18:06] indirectlylit commented on #4511
@rtibbles with my workaround above, my guess is that this is low-priority and not needed for 0.12. Do you concur?

[2018-12-07 18:20] rtibbles commented on #4511
I think it would be nice to get in, but given the issues you've faced, it is probably not worth blocking over.

[2018-12-07 18:33] indirectlylit commented on #4512
rough plan...

language switcher:

![image](https://user-images.githubusercontent.com/2367265/49665963-776cbf80-fa0b-11e8-9819-80ded654a2a4.png)

website:

![image](https://user-images.githubusercontent.com/2367265/49665988-83588180-fa0b-11e8-99ed-fd435f9e93d5.png)

[2018-12-07 19:10] #4171 closed, assigned to nobody

[2018-12-08 00:17] indirectlylit opened #4571 "upgrade notifications using pingback"
### Observed behavior

Currently users have no way of knowing when new versions are available

### Expected behavior

[See spec](https://docs.google.com/document/d/1h5hyHttxTrZpQq7j0sPCBLNlcV7PcaJ5CrtlJvVZBdM/edit)

### User-facing consequences

Currently many users who actually have internet access might not know new versions are available

### Context

0.11

[2018-12-08 00:33] indirectlylit opened #4572 "console-based management command for re-ordering channels"
### Observed behavior

Currently channels appear to learners in the order they are imported. This can be frustrating when administrators want to prioritize certain channels over others

### Expected behavior

Longer-term we'll add a UI for re-ordering channels.

For this initial pass, let's add some basic management commands to help re-order things.

One option might be something like:

[code]

##

[2018-12-08 00:39] radinamatic commented on #4572
Gah, was looking forward to putting the `needs-user-docs` label, but you were faster... 😛

This command will be greatly appreciated until there is a UI version (maybe similar to resources ordering in Lessons?)! 👍

[2018-12-08 01:19] indirectlylit opened #4573 "allow HTML 5 apps to persist state using window.localStorage"
### Observed behavior

Currently, HTML5 apps lose their state every time the user leaves and returns to the content

### Expected behavior

* On a per-user basis, HTML5 apps persist their state.
* Include a <kbd>RESET</kbd> button in the html5 content renderer which reset the state
* Nice-to-have: add `extraFields` to content nodes, and a new `allowReset` config option to allow the  <kbd>RESET</kb

[2018-12-08 02:21] indirectlylit commented on #4564
@khangmach want to find us a new icon and color?

[2018-12-08 02:58] indirectlylit commented on #4194
I've [created a proposal](https://docs.google.com/document/d/1KBLNejVu7dlhZdAodk59cEHQQYZtO7BNe5B6Xz7gi5s/edit#) for how we can address this issue in the scope of 0.12

@lyw07 would you mind adding references in that doc to any related issues you're aware of, and let me know if you think they'll be addressed by the proposal?

[2018-12-08 03:01] indirectlylit opened #4574 "allow exercises to be re-mastered within the context of a lesson"
### Observed behavior

* learner completes an exercise on their own
* coach assigns the exercise in a lesson
* learner is shown as already having completed the exercise in the lesson's progress report

### Expected behavior

learner should re-master the exercise in the context of the lesson in order to show progress

### User-facing consequences

progress through lessons is currently slightly misl

[2018-12-08 05:22] lyw07 commented on #4194
sure! I will work on that :)

[2018-12-09 16:40] benjaoming commented on #4567
Updated the description.

We could open up individual issues in the installer's repo: https://github.com/learningequality/kolibri-installer-debian

[2018-12-10 12:18] swapnil106111 opened #4575 "<Improvement> Not showing user is exist notification on UI."
### Observed behavior
We are able to create user using CREATE AN ACCOUNT option which is on login page of kolibri. But when someone uses existing username to create account, it will not show any kind of existing user notification on UI.
Not able to distinguish whether account is exist or not.
### Expected behavior
It must show existing username notification on UI if user is exist.

### Steps to re

[2018-12-10 16:23] jredrejo opened #4577 "Some images are not found"
### Observed behavior
In the current Kolibri develop branch, some images are not found after building js bundle.
I.e.
`yarn devserver`works perfectly
`yarn build & yarn django-devserver` gives a not-found error in the urls
/user/kolibri-logo.svg
/user/background.jpg
![badroutes](https://user-images.githubusercontent.com/1008178/49745603-a733f580-fc9f-11e8-841d-65598017798b.png)
It looks like a pat

[2018-12-10 17:51] benjaoming opened #4578 "Unwarranted database storage consumption: Need cleanup of database and backups?"
### Observed behavior

I have no current channels installed. And no users. Yet, the database after running `kolibri manage vacuumsqlite` is 121 MB (it was 126 MB prior to VACUUM). Total backups are 2.3 GB.

![image](https://user-images.githubusercontent.com/374612/49750291-c8e6aa00-fcaa-11e8-8855-88e68dba9bce.png)

Am opening this to:

1. Find the explanation why and how this database that I have

[2018-12-10 18:27] benjaoming commented on #4159
Feedback from community forums seem confirm the issue:

http://community.learningequality.org/t/api-requests-slow-when-creating-an-exam/857/5

[code]

[2018-12-10 18:29] benjaoming commented on #4159
Also ref'ing #4110 in case this behavior can be addressed via regression test.

[2018-12-10 18:52] lyw07 commented on #4194
@indirectlylit I think the issues are well addressed in the doc. Thank you for preparing this proposal! I also added some information and links to it.

[2018-12-10 22:24] indirectlylit opened #4579 "a few translations missing"
### Observed behavior

A few translations didn't make it into 0.11.0:

![image](https://user-images.githubusercontent.com/2367265/49765363-1a7d3d80-fc87-11e8-90e3-69876ff3cf82.png)

### Expected behavior

all translations are available

### User-facing consequences

more difficult to use in other languages

### Steps to reproduce

view the lesson assignment modal in any language besides english

#

[2018-12-10 22:38] indirectlylit commented on #4578
Agreed - but that's a separate issue, right? It's also mostly an issue for developers since the backups [occur for every version change](https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/cli.py#L147). We should probably just skip backup for non-final versions.

[2018-12-10 22:42] indirectlylit commented on #4567
thanks for adding those Qs! Since you also added them to the google doc I'll remove them from here to keep this issue high-level

[2018-12-11 01:04] indirectlylit opened #4581 "rename 'exam' to 'quiz'"
### Observed behavior

Currently we call them exams

### Expected behavior

It was decided to rename 'exams' to 'quizzes' throughout the application and documentation

For the first pass we'll just update user-facing strings. When this is complete, let's open a new issue for variable refactors. We may punt this until after the release branch is cut.

### User-facing consequences

'quiz' has a more

[2018-12-11 10:48] benjaoming opened #4583 "Add explicit ordering for .feature files"
### Observed behavior

While working on #4544, we identified a need to sort the .feature files. The discussion mentioned a lot of different ideas, but we've decided to withdraw all of that. The concern is that too much meta data will make the test scenarios hard to maintain or inaccurate.

Currently, our setup contains a directory for each role. The solution drafted:

* add an `ORDER.txt` file for

[2018-12-11 11:32] mrpau-richard commented on #4583
Thanks for explaining this @benjaoming. I'll start working on it.

[2018-12-11 11:48] swapnil106111 opened #4584 "Content import progress bar not reaching 100% when finished"
### Observed behavior
Not able to see 100% channel imported but it shows Close button in Device tab.

Channel ID : 8fc515793aad4e52b490b03c48ad21de
Channel Path(What to import) : Maharashtra State Class 3 to 9 (English) -> BalBharati -> 3 -> 1 Introduction to Geometrical Figures
Import above menioned path and see.

Please find attached screenshot for more information.

### Expected behavior
We are

[2018-12-11 14:14] benjaoming opened #4585 "After a successful backup, remove older backups"
### Observed behavior

In relation to #4578 and the growth in database storage footprint in addition to some historical problems of accumulated garbage data and redundant backup files, we should have a management command to clean up the database.

### Expected behavior

After a successful database backup, delete all other database backups bar last completed backup.

### User-facing consequences

L

[2018-12-11 14:17] benjaoming commented on #4578
Yup, just wanna track it from here.. "high-level" :)

But we haven't, so for historical reasons, we already need this: #4585

Whether we need to skip backup for non-final versions... if we can sit around a virtual table and nod our heads to never release a migration in a patch version, that's fine for me. ALTERNATIVELY: We can implement a behavior that only fires when it detects unrun database mig

[2018-12-11 18:07] rtibbles commented on #4574
The simple fix for this is simply to 'clear' the mastery. This sidesteps the more nuanced approach which might consider whether it is desirable to specifically track mastery within the lesson separately from mastery without the lesson.

I like the simplicity of the above approach because it basically means that assigning an exercise to a student within a lesson becomes a 'reset' operation that cou

[2018-12-11 18:21] indirectlylit commented on #4574
would it clear on a per-class basis, or globally?

[2018-12-11 18:25] rtibbles commented on #4574
The simple fix would be globally - aside from the 'classes' tab, there is no real scoping by class in the learn experience currently (it would also massively complicate data logging to log on a per class basis, and would also make user's learning histories strange if they move classes).

[2018-12-11 18:45] indirectlylit commented on #4574
I guess the main risk is class coaches colliding with each other, clearing each others' learners progress

[2018-12-11 18:56] indirectlylit commented on #4549
@khangmach @jtamiace any thoughts on what to do here?

[2018-12-11 18:59] indirectlylit commented on #4552
If you can reproduce this consistently, let's try inspecting the server logs?

[2018-12-11 19:00] indirectlylit commented on #4575
thanks - this might be a regression

[2018-12-11 20:25] jonboiser commented on #4559
We show the same kind "loading" messages in the immersive toolbar in the import/export workflow when going to the All Channels Page, and then to the Select Content Page.

The toolbar needs to be kept on the top of the screen for continuity, and something needs to be shown on it. It being blank or having inappropriate text looks odd to me.

[2018-12-11 20:29] indirectlylit commented on #4559
I think it depends on how long the message is shown for. If it's so short that the message is unreadable, it's preferable to be blank

Thanks for alerting about immersive toolbar - wasn't aware. This isn't a major issue - just wanted to make sure we had it flagged so that we can converge on a standard pattern.

[2018-12-11 22:09] benjaoming commented on #4584
Thanks for reporting. And sorry that you had to report it again (referencing #4350 which claimed that #4014 had fixed it)

[2018-12-11 23:44] lyw07 commented on #4584
Hi @swapnil106111

Could you please upload the `kolibri.log` file here? I'm not able to reproduce this issue on my Ubuntu 14.04 virtual machine.
I imported `Maharashtra State Class 3 to 9 (English) -> BalBharati -> 3 -> 1 Introduction to Geometrical Figures` on my local Kolibri 0.11 instance and got the 100% progress bar.
The log file `kolibri.log` would help us figure out what might go wrong in t

[2018-12-11 23:52] benjaoming commented on #4584
@lyw07  with this type of issue, it can in some cases be easier to read the code and try to understand if there are cases where it can in theory finalize in a state of non-100% progress. This could be if the frontend stops polling for progress once done. If the frontend has a statement like `if done then progress=100%`, it could be bullet proof.

Mind the pseudo-code in that sketch :)

[2018-12-12 00:03] #4475 closed, assigned to indirectlylit

[2018-12-12 00:40] #4579 closed, assigned to indirectlylit

[2018-12-12 06:47] swapnil106111 commented on #4584
@lyw07 Unfortunately, we are also not able to reproduce the same.

![123](https://user-images.githubusercontent.com/12776071/49851603-9c947000-fe07-11e8-817f-cf0a7a8c2948.png)

[2018-12-12 10:41] swapnil106111 commented on #4082
@indirectlylit Still this issue appears.
Kolibri version : Kolibri 0.11.0
OS : ubuntu 14.04

Channel ID : mizam-zoruk
Import only grade 3 and see.

Please find attached screenshot for more information:
![issue_1](https://user-images.githubusercontent.com/12776071/49863832-2acc1e80-fe27-11e8-8f0c-600927219441.png)
![issue_2](https://user-images.githubusercontent.com/12776071/49863833-2acc1e80-fe27-

[2018-12-12 15:29] rtibbles commented on #3598
I think @ralphiee22's solution is the right one, so that we can make role checks on the frontend more granular, but we should bump this to 0.12.

[2018-12-12 15:29] rtibbles commented on #4266
I think this is sufficiently complex that it is highly unlikely to happen within the scope of any 0.11 release.

[2018-12-12 15:31] rtibbles commented on #4496
Looks like this was fixed in #4541 - please reopen if not the case.

[2018-12-12 15:31] #4496 closed, assigned to lyw07

[2018-12-12 18:25] lyw07 commented on #4584
@benjaoming thank you for the suggestions! I will take a look at the code to find if there are any edge cases that lead to this error. also thank you @swapnil106111 for reporting!

[2018-12-12 19:00] khangmach commented on #4564
Since lessons already uses a book icon, for EPUBS, we could use something like:
https://material.io/tools/icons/?search=chrome&icon=chrome_reader_mode&style=baseline

RE: color
I was thinking about color bloat a while back and was thinking one way we can sort of combat this is to assign colors to various "types" of engagement. Some examples of types of engagement...
One color for Passive engagemen

[2018-12-12 19:41] jonboiser opened #4592 "Content is lost when upgrading Maharashtra Grade 3-8/9 from version 26 to latest (31)"
### Observed behavior

A Kolibri server (linux laptop) used in a Nalanda classroom had version 26 of "Maharashstra state class 3 to 9 (english)" installed on August 2018.

In December 2018, an attempt to upgrade this channel ended up "removing" (e.g. making inaccessible from Learn) some content in the Grade 6 topic, which then broke a Lesson using that content. The Nalanda program manager re-insta

[2018-12-12 19:46] khangmach commented on #4512
I'm a fan of illustrating this on the website, but I'm weirded out by putting this information in Kolibri, where I don't think the majority offline users will understand the motivations behind the feature and the distinctions between community supported vs non-supported languages (what does community supported languages mean??). The only community that matters to them is their own? This seems like

[2018-12-12 19:50] indirectlylit opened #4593 "make concepts of sign-in and guest access easier to understand"
### Observed behavior

We've observed a fair amount of confusion in the current design regarding signing in and accessing as guest. This includes:

* not understanding that 'continue as guest' allows people to use Kolibri without an account
* entering a username and password, but then clicking 'continue as guest' instead of 'sign in'

Current UI for reference:

![image](https://user-images.githubu

[2018-12-12 20:00] indirectlylit commented on #4593
notes so far...

**On language:**

* "Guest" is an abstract concept (@ivanistheone)
* "I can see how 'continue as guest' could use iteration in the language. 'Skip sign-in' seems even more ambiguous as to what that will do."  (@jtamiace)
* "Abstractness seems to be the core issue for users unfamiliar to tech. I feel like there's no way around it though..." (@jtamiace)
* "I like 'Explore without ac

[2018-12-12 20:21] indirectlylit commented on #4593
Based on the discussion above, a common theme seems to be that we should try to avoid using abstract, new concepts before they've been explained. As @jtamiace says there might not be a way around this. However, perhaps we can at least keep the number of concepts to a minimum?

Current concepts:

* guest
* account
* username, password
* sign in
* continue / use / explore

Perhaps we can whittle thi

[2018-12-12 21:06] khangmach commented on #4549
@indirectlylit

In Kolibri, there are currently instances of duplicate resources from multiple channels. How did we allow more than one copy to exist if the we don't allow them to be imported in the first place? (in Laura's original image above they're greyed out). Are duplicates treated as separate resources with distinct file sizes? Or are they copies/instances of one file?

For example, if ther

[2018-12-12 21:19] indirectlylit commented on #4512
The main implication is supposed to be that community-supported languages might not exist in every release.

cc @rtibbles this made me realize that the upgrade notifications you're working on should take into account languages available in the release. A couple options:

* add a field in the notification for supported languages
* don't show notifications if the client or server are set to a langua

[2018-12-12 21:29] khangmach commented on #4593
A few notes:
- The tooltip information is on the "sign in to personalize Kolibri" text but has nothing to do with signing in. So it should be near the "Create a user name" text instead.
- "Create a username" is inaccurate because it leads to an account creation page, not just a username creation page. Suggest keep verbiage as is and as a secondary button, as it is an appropriate secondary action w

[2018-12-12 21:34] khangmach commented on #4512
What is the user expected to do with this info? Does it add value to or aid them in their goal of fixing their current language to one they can understand? This seems like information catered to very few people, people who deal with releases, their installations/updates and need the info

[2018-12-12 21:36] rtibbles commented on #4512
No. This might be an argument for only showing this information to Admins, as they are the ones who are more likely to be motivated to contribute back upstream or be aware of upgrades, etc?

[2018-12-12 21:37] khangmach commented on #4512
Agreed it's most relevant to admin accounts

[2018-12-12 21:42] indirectlylit commented on #4593
Great idea on moving version/privacy info out - that cleans things up a lot.

With the extra help text - independent of the specifics, the goal was to introduce the concept of signing in and why it's beneficial (personalize, tracking, etc). However maybe more text is not going to help?

[2018-12-12 23:27] indirectlylit opened #4598 "selection numbers during lesson creation are incorrect"
### Observed behavior

During selection in a lesson, the count says

where `Y` would be the total number of resources available to be selected below the given topic

| selection of single child | display on parent
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/49905225-d5414300-fe21-11e8-912e-42f831da68aa.png) | ![image](https://user-images.githubusercontent.com/2367265/49905

[2018-12-12 23:27] khangmach commented on #4593
Illustrating the benefits of signing in and having an actual account is valuable for sure -- login form might just just be ill-suited to house it. I feel like the help text loses its value for returning users and can even unintentionally mess with the button hitboxes as you're inputting your credentials for the nth time. And for new users, the verbiage doesn't have enough info to make the concept

[2018-12-12 23:48] jtamiace commented on #4593
Also think the sign in form is the wrong place for that helper text - in addition to the messaging throughout the guest UI, maybe also better suited for the create account page itself?

More space and the altered guest access text as mocked up looks fine to me

[2018-12-12 23:49] jtamiace commented on #4593
@lauradanforth and @ivanistheone ^^

[2018-12-13 09:41] swapnil106111 opened #4600 "Copied database is not detected in the kolibri 0.11.0"
### Observed behavior
We have created a new facility in the server and also want same facility in other server but when we copy same database in other server, it will not detect any database and ask user to create new facility.

Please see screenshots for more information.

### Expected behavior
If we copy a database to other server and database has facility then it must not ask user to create fac

[2018-12-13 10:19] swapnil106111 opened #4601 "customize 'no content available' page depending on permissions of user"
### Observed behavior
Login with learner when platform don't have any content imported. After login, it will show you a link "You can import content from the Content page if you have the proper permissions" and after clicking on link it will take you to the Device tab.
Suggestion is that if learner has permission of content import then only learner can click on link otherwise it must show text wit

[2018-12-13 12:25] swapnil106111 opened #4602 "While watching a video on a tablet, the cc options menu will not close"
### Observed behavior
While watching video on tablet, when user click CC button then CC button options don't disappear clicking on it.

Please watch attached video.

### Expected behavior
It must appear when we click on button and must go behind on click.

### Steps to reproduce
1. Login with learner on tablet.
2. Watch video and click on CC button.

### Context
 * Kolibri version : kolibri 0.11.0

[2018-12-13 12:59] swapnil106111 opened #4603 "Resume field is missing in recommended in learn tab."
### Observed behavior
When learner login and watched some part of video. Then learner go to the recommended tab to watch remaining video but learner can not see resume field in recommended tab.

Please see attached screenshot for more information.

### Expected behavior
It must show resume field in recommended tab.

### Steps to reproduce
1. Login with learner.
2. Watch half video.
3. Then go to t

[2018-12-13 17:57] indirectlylit commented on #4082
Thank you @swapnil106111 -

We are exploring ways to address this, but it's not an easy fix because it's working "as designed" - we currently treat duplicate items as being identical, and have no way of distinguishing them.

The main workaround that I can think of is to use lessons as a way to direct learners to a subset of the content, thereby allowing them to focus on the main topics.

We have a

[2018-12-13 18:06] indirectlylit commented on #4549
Duplicate resources are currently treated as instances of a single resource. Under the hood, they share files.

From the admin's perspective, they don't care that it's a duplicate: they want their learners to see that content in _both_ channels.

Here's an interesting related issue that shows the opposite problem: #4082. In that case, an item exists multiple times in _a single channel_ (unlike thi

[2018-12-13 18:12] lauradanforth commented on #4553
Confirming on the above, they were using Chrome on the INS tablets. I e-mailed a copy of the database to @jamalex last week.

[2018-12-13 18:12] indirectlylit commented on #4342
possibly related? #4592

[2018-12-13 18:17] indirectlylit commented on #4592
possibly related? #4342

[2018-12-13 18:22] indirectlylit commented on #4512
cool - thanks for the feedback!

Closing this issue, and adding the upgrade concern to our [MVP upgrade notifications spec](https://docs.google.com/document/d/1h5hyHttxTrZpQq7j0sPCBLNlcV7PcaJ5CrtlJvVZBdM/edit#)

[2018-12-13 18:22] #4512 closed, assigned to nobody

[2018-12-13 18:50] khangmach commented on #4549
Let me know if any new user-facing design on this is needed for this. I think this just requires users to see the resource/topic as valid for import and for the interface to show a filesize value of 0?

So this behavior would only apply to:
- Duplicate topics/resources in a channel Y, even if they exist in another channel on your device, say, channel X

[2018-12-13 19:12] jredrejo opened #4604 "Generating a data log file clears the status of content imports"
### Observed behavior
After https://github.com/learningequality/kolibri/commit/ad302a5ae3 was applied, there's no way to cancel a single task using JavaScript.

One side effect that arose in #4531 is that there is unexpected interaction between different users of iceqube tasks:

![export](https://user-images.githubusercontent.com/2367265/50033335-f71b0100-ffac-11e8-9cd3-29662ea0bb7b.gif)

### Expe

[2018-12-13 20:01] indirectlylit commented on #4549
Yes, I think that's nearly right. I would clarify:

@rtibbles correct me if I'm wrong but I think that in technical terms the solution is:

[2018-12-13 21:31] lauradanforth commented on #4549
Tagging @laurenlichtman to add additional context after observing a related issue earlier this year

[2018-12-13 22:04] indirectlylit commented on #4604
Looks like this may have been a 'big hammer' solution to fix #1673

[2018-12-13 22:17] rtibbles commented on #4604
Yeah, that was it.

[2018-12-13 22:55] indirectlylit commented on #4600
thank you - we will investigate

[2018-12-13 23:00] jamalex commented on #4600
First, a small note: To stop the Kolibri server, use `kolibri stop`, not `kill`. That will ensure a cleaner shutdown.

When you transfer the database, you should ideally also transfer over the `db.sqlite-wal` and maybe also the `db.sqlite-shm` files. In some cases (especially if you hard-kill the server, rather than using `kolibri stop`, as noted above), data may not have completely been written o

[2018-12-13 23:15] indirectlylit opened #4606 "unhandled error in pingback"
### Observed behavior

comparison between `None` and `datetime.datetime`

### Expected behavior

no unhandled errors

### User-facing consequences

Spurious errors in the logs

### Errors and logs

[code]

### Steps to reproduce

This happened when I ran `kolibri manage start` on my local dev setup

### Context

latest `develop`, macos

[2018-12-14 02:47] nobicycle commented on #3274
@lyw07
Hi

[code]

The server runs under account 'kolibri'
/usr/lib/systemd/system/kolibri.service

[code]

Also note the permissions on a directory I specifically granted access to:

[code]

Access is still         "writable": false, even when I grant full permissions

[code]

[2018-12-14 07:28] jredrejo commented on #4604
If importing content needs that behaviour I suggest to make it use `clearTasks` instead of `cancelTask` , so cancelTask remains available with the functionality it should have.

[2018-12-14 09:08] swapnil106111 opened #4608 "<Improvement> Coach is able to activate the lesson without resource."
### Observed behavior
Coach user is able to activate lesson without resources. It must show message like "You can not activate lesson without resources".

### Expected behavior
It must show message if coach user trying to activate the lesson without resource.

### Steps to reproduce
1. Login with Coach user.
2. Create lesson without resource and assign to the class.

### Context
 * Kolibri version

[2018-12-14 09:20] swapnil106111 opened #4609 "Lessons and quizzes with same name are allowed"
### Observed behaviour
Coach is able to create lesson with existing name of the lesson. Each lesson must have unique name.
It creates confusion.

### Expected behavior
Each lesson must have unique name.

### Steps to reproduce
1. Login with coach.
2. create lesson with existing lesson name.

### Context
 * Kolibri version : kolibri 0.11.0
 * Operating system : Ubuntu 14.04
 * Browser : Chrome

###

[2018-12-14 14:14] swapnil106111 opened #4610 "Not able to move in the channel of coach tab."
### Observed behavior
Not able to move or click on anything in the channel of coach tab.
To understand this issue in more detail please watch attached video.

### Expected behavior
It allow user to click anywhere in the kolibri.

### Steps to reproduce
1. Solve same exercise using two/three learners.
2. Login with coach user and go to the coach tab.
3. Click on Channel tab.
4. Move to the channel

[2018-12-14 17:03] benjaoming commented on #1049
The above PR #4589 did not appear to resolve the issue. Reporter feedback:

[2018-12-14 17:29] jamalex commented on #4600
You can also try running `kolibri manage vacuumsqlite` after `kolibri stop`, which should help to flush the data out of the WAL file.

[2018-12-14 22:37] indirectlylit commented on #1049
Thread here for reference: http://community.learningequality.org/t/missing-images-graphs-questions/911/33

We've asked the user to confirm that their cache has been cleared.

[2018-12-15 06:40] nobicycle commented on #4539
@benjaoming

Yes, the channel got somehow broken. Perhaps to do with having a symbolic link as the content directory and then running the new move content command.

Anyhow I just reinstalled everything and used a content backup for import.

For future reference, is there any command we can run to check the database integrity?

[2018-12-15 10:45] benjaoming commented on #3285
Request for integrity checks: https://github.com/learningequality/kolibri/issues/4539

[2018-12-15 10:46] benjaoming commented on #4539
Oh great idea! I'll see if I can grasp a good suggestion for an issue addressing this particular problem. Meanwhile, we also had this one open: #3285

[2018-12-15 11:00] benjaoming opened #4611 "Integrity checks and sanity checks"
### Observed behavior

In #3285, we discussed some sanity checks for each time Kolibri launches. However, this sole behavior will not scale for start-up once we start adding more elaborate checks. Anyways, some integrity checks are much better suited for on-demand troubleshooting.

 * **Sanity checks**: Those that fire automatically at start-up. Example: A permission check for the file system.
 *

[2018-12-15 11:02] benjaoming commented on #4539
Thanks for the feedback @nobicycle - have opened a new issue for this. Please note that it is currently not a milestone target for the next release, since the planning phases are pretty much over.

[2018-12-17 11:41] swapnil106111 opened #4613 "Need to refresh the page to see status of the exam and lesson in the classes."
### Observed behavior
When teacher assigned a exam/lesson to the class, it will appear in the Class of learn tab.
When learner solves 2 questions out of 5 and accidently learner pressed back button of the exam then it should display 3 questions remaning but it shows nothing and after refreshing the page it shows 3 questions remaining.

Same as above is applied for lessons also. After solving two q

[2018-12-17 18:49] #4581 closed, assigned to indirectlylit

[2018-12-17 18:56] lyw07 commented on #3274
Hi @nobicycle,
thank you so much for the information! I will try to figure out what went wrong.

[2018-12-17 19:35] rtibbles commented on #4564
We base icons on the `kind` at the moment, and both PDFs and EPUBS are 'document' kinds. If the main purpose is to disambiguate the same document presented in two different format,s perhaps they should not be separate content nodes, but the same content node with two different file formats?

[2018-12-17 19:36] rtibbles commented on #4564
(in which case we would need a better user flow to support two different file formats being attached to the same content node).

[2018-12-17 20:02] ivanistheone commented on #4564
Sounds like more trouble—as there is no precedent for this (multiply `primary=True` files associated with the same content node) either on Studio or Kolibri.

@rtibbles  How hard would it be to update the choosing-the-icon logic to use kind and file format vs. just kind?

[2018-12-17 20:09] rtibbles commented on #4564
We mostly insulate the frontend from any consideration of file extensions, the point of content kinds is to have a limited set of 'user interpretable' kinds. Whereas file extensions are a more technical consideration.

What might be better is to have `epub` be a `book` type, as opposed to a document type.

[2018-12-17 20:43] DXCanas commented on #3392
Hi! Just to clarify: Did you install this using a Kolibri `.apk` file? Where/when did you get this `.apk`? It's currently under active development, so the directions for getting logs are constantly changing.

[2018-12-17 20:44] ivanistheone commented on #4564
Yeah this would make more sense. Currently the whole `epub` and `pdf` both part of `document` was fairly confusing on ricecooker + studio side. I propose we continue discussion in January when Jordan is back, but I'm sure she'll be on board with splitting the `epub` into its own content kind.

Note: doing this switch will require re-running all channels that used `epub` to switch them to the new c

[2018-12-17 20:54] #4575 closed, assigned to indirectlylit

[2018-12-17 21:31] khangmach opened #4616 "Fix demo site banner behavior"
### Observed behavior

Some issues:
- Upon page load, banner takes up a lot of space and options "Create an account" and "continue as guest" are the only immediately visible options.
- Upon closing the banner information, Kolibri logo is never visible.
- Banner position is absolute, which cuts the logo.
- Verbose text -- needs a cut

<img width="413" alt="screen shot 2018-12-17 at 1 10 36 pm" src=

[2018-12-17 21:37] rtibbles commented on #4616
Note: implementation of this would be dependent on having a core banner component.

[2018-12-17 21:50] indirectlylit commented on #4548
I noticed in #4614 that `django-filter` was upgraded to `2.0.0`.

Changelog says this added support for python 3.7, but also seems to break our builds.

I wonder if any of our other dependencies are also lacking support for 3.7?

[2018-12-17 21:53] benjaoming commented on #4548
Good catch about `django-filter`. Our test coverage is low, but at least for the problems introduced by the `async` syntax keyword, it should be caught at import time.

It would be hard to defend adding major dependency bumps in a patch upgrade... even for adding Python 3.7 compatibility, however important that might seem.

[2018-12-17 21:54] benjaoming commented on #4548
I have done this in other projects: Stated in release notes that "Python 3.x" support was added, but actually it meant that the "support" was added but nothing was changed, i.e. it just got added as a no-op to the test matrix and everything passed :) So it only was meant as an official remark to say "we don't know if previous releases supported this Python 3.x, but we intend to support it fully fr

[2018-12-17 22:04] khangmach commented on #4616
Can we cut the verbiage and use css to fix the absolute positioning of the banner in the interim while I whip up the banner proposal?

[2018-12-17 22:10] benjaoming opened #4618 "Update to pytest 4.x"
### Observed behavior

A new major release of pytest is out: https://docs.pytest.org/en/latest/changelog.html

It seems like a smaller release, judging from the release notes. However, the PyUp build also failed, possibly because of this upgrade... we'll have to investigate

### Expected behavior

:100: developer tools contemporary pleasure

### User-facing consequences

Absolutely none

### Error

[2018-12-17 23:18] indirectlylit commented on #4564
I agree with this

The curator or chef should choose one as being "better" and make it primary, while the other becomes a secondary alternative format.

I think we might eventually need to decouple our implementation details a bit from the user experience:

* Are the African Storybooks no longer 'books' because it's a HTML app?
* Are OER math textbooks no longer 'books' because it's in PDF?
* Is a

[2018-12-17 23:54] indirectlylit commented on #4604
updated description to reflect a user-facing issue

[2018-12-18 06:40] swapnil106111 opened #4620 "add sorting to coach reports"
### Observed behavior
When coach want to sort anything in the channel in coach tab.
Avg exercise progress, Avg resource progress, Last activity not able to sort using ^.
Same this is appearing in recent tab for last active and class progress.
We can say it is not working as expected.

### Expected behavior
It must sort with respective order.

### Steps to reproduce
1. Solve the exercises.
2. Login

[2018-12-18 06:50] swapnil106111 opened #4621 "Not able to sort coach reports"
### Observed behavior
When coach wants to sort based on "v" on last activity. It won't work as expected when there is combination of days and hours.

### Expected behavior
It must sort days and hours as expected.

### Steps to reproduce
1. Login with Coach and go to the coach.
2. Click on channels.
3. go to the exercise and sort when there is combination of hours and days.

Please find attached da

[2018-12-18 07:16] swapnil106111 opened #4622 "Not able to move in recent of coach tab."
### Observed behavior
Not able to move or click on anything in the recent of coach tab.

### Expected behavior
It must allow user to click anywhere in the kolibri.

### Steps to reproduce
1. Solve the exercise.
2. Login with coach.
3. go to the recent tab.
4. follow the path from which channel you solved exercise.
5. Click on exercise.
6. Check attempts.
7. click on other question and see you will

[2018-12-18 07:17] swapnil106111 commented on #4622
This issue is same as for channel tab. https://github.com/learningequality/kolibri/issues/4610

[2018-12-18 07:26] swapnil106111 opened #4623 "Shows sorry! something went wrong."
### Observed behavior
When coach is going to the recent tab to see exercise and video progress then it shows error.

### Expected behavior
It must show progress instead of error.

### Steps to reproduce
1. Login with coach.
2. go to the recent tab.
3. Go to the exercise/video and see.

### Context

 * Kolibri version : kolibri 0.11.0
 * Operating system : Ubuntu 14.04
 * Browser : chrome

### Scre

[2018-12-18 09:14] swapnil106111 opened #4624 "Not able to move in learner of coach tab."
### Observed behavior
Not able to move or click on anything in the learner of coach tab.

### Expected behavior
It must allow user to click anywhere in the kolibri.

### Steps to reproduce
1. Solve the exercise.
2. Login with coach.
3. go to the learner tab.
4. follow the path from which channel you solved exercise.
5. Click on exercise.
6. Check attempts.
7. Click on other question and see you wi

[2018-12-18 09:14] swapnil106111 commented on #4624
This issue is same as for channel tab. #4610

[2018-12-18 09:46] swapnil106111 opened #4625 "Average resource behaviour in channels of coach tab."
### Observed behavior
When coach goes to the coach tab and click on channel tab. click on channel tab and see avg resource progress.
Sometimes it shows 0%, sometimes it shows -.

Don't know whether it is issue or not?  But behaviour of the Average resource progress is untrackable.

### Steps to reproduce
1. Solve exercises.
2. Login with coach and click on channel tab.
3. and see behaviour of avg

[2018-12-18 10:14] swapnil106111 opened #4626 "duplicate lesson and quiz names are allowed"
### Observed behavior
When coach creates exam, it is allowing to create exam with same name without any error.

### Expected behavior
It must not create existing name exam.

### Steps to reproduce
1. Login with coach and click on exam.
2. Create exam with Exam1 name.
3. Again create exam with Exam1 name.

### Context
 * Kolibri version : Kolibri 0.11.0
 * Operating system : Ubuntu 14.04
 * Browser

[2018-12-18 10:23] swapnil106111 opened #4627 "Number of questions in the exam."
### Observed behavior
Coach need to enter the number of questions in the exam. When coach use ^ and v arrow to increase/decrease the number of questions. It must stop increasing the number at 50 and stop decreasing the number at 0.

### Expected behavior
It must stop increasing and decreasing the number at 50 and at 0.

### Steps to reproduce
1. Login with Coach.
2. Create the exam.
3. Use downarr

[2018-12-18 20:56] #4424 closed, assigned to indirectlylit

[2018-12-18 21:28] #4470 closed, assigned to nobody

[2018-12-18 23:55] indirectlylit commented on #4562
cc @rtibbles  caused in #4513 by 4f41ffe1d16bec010e33d80af5585d4a4a9ccdce

[2018-12-18 23:59] indirectlylit commented on #4616
see also #4562

[2018-12-19 00:09] indirectlylit opened #4629 "yarn run lint:fix stopped working"
### Observed behavior

[code]

### Expected behavior

lint the things

### User-facing consequences

none

### Context

`develop`

----

cc @rtibbles

[2018-12-19 00:15] rtibbles commented on #4629
I changed its behaviour deliberately, but I am guessing you would like something to do the equivalent. Would `yarn lint-all:fix` do? (`yarn lint-all` will run linting for all files, but will not fix them).

[2018-12-19 01:06] indirectlylit commented on #4629
yeah that'd be great.

sometimes after a manual merge I want to run a quick lint/fix on the results

[2018-12-19 01:49] indirectlylit commented on #4578
Also devs can just delete the DBs themselves :)

[2018-12-19 02:05] indirectlylit opened #4631 "UI Toolbar colors"
### Observed behavior

toolbar colors:

![image](https://user-images.githubusercontent.com/2367265/50194375-66fff300-02ef-11e9-8186-2a5452d44e7a.png)

### Expected behavior

core purple

### User-facing consequences

too much fun

### Steps to reproduce

create quiz

### Context

`develop`

[2018-12-19 06:35] indirectlylit opened #4633 "Further explanation on Kolibri what Import from 'Attached drive or memory card' means"
### Observed behavior

[It was noted](https://github.com/learningequality/clearinghouse/issues/321) that some people have trouble understanding the various import options we offer. Documentation exists, but is not always at hand.

### Expected behavior

We should provide more explanation of what the options are inline

### User-facing consequences

Users have more informed expectations about what

[2018-12-19 07:14] indirectlylit commented on #4625
Currently, we define a "resource" as any content that is not an exercise. Therefore, exercises only have exercise progress, and all other content types have 'resource progress'.

We're hoping to clarify this in 0.12

[2018-12-19 07:14] #4625 closed, assigned to nobody

[2018-12-19 11:04] swapnil106111 opened #4635 "Error is vanished for few moments"
### Observed behavior
While creating the exam, teacher entered more than 50 questions then kolibri shows error like "Enter a number between 1 and 50". Inspite of error teacher selects the content for exam that time error is going to be vanished.
Please see attached screenshot.

### Expected behavior
Error must not vanished if there is error.

### Steps to reproduce
1. Create exam with more than 50

[2018-12-19 12:50] swapnil106111 opened #4636 "Not able identify multiple choice question."
### Observed behavior
While using kolibri on tablet, learner is not able to identify whether question is single selection or multiple selection. Single selection or multiple selection shows circle to select the answer.

### Expected behavior
It must show checkbox for muliple choice question.

### Steps to reproduce
1. Try to solve multiple choice question on the tablet.

### Context
 * Kolibri ver

[2018-12-19 13:57] swapnil106111 opened #4637 "Full network address in content import."
### Observed behavior
Trying to import content from local network but it is asking for full network address. We have provided ip address and network name but shows could not connect to this address.

But we are able to ping mentioned address.
Need your help so content import from local network will work.

### Steps to reproduce
1. Try to import from local network.
2. Enter ip adress.

### Context

[2018-12-19 16:56] rtibbles commented on #4636
Hi @swapnil106111 thanks for filing this issue - this is an issue with the Khan Academy question renderer, so we cannot directly address it. However, when we implement our own question renderer, we will be sure to disambiguate these question types.

[2018-12-19 16:56] #4636 closed, assigned to nobody

[2018-12-19 16:59] rtibbles commented on #4626
I wonder if we should just flag a warning, rather than banning this outright?

[2018-12-19 17:46] rtibbles commented on #4610
When you say 'try to click on the back button' do you mean the browser back or the 'back arrow' in the interface that takes you to the previous page?

In the video you posted, when you click the browser back, it takes you to the previous question in the exercise detail view that you viewed - so the reason that clicking on the 'browser back' button does not return you to the overall view is because

[2018-12-19 17:49] rtibbles commented on #4609
As I noted in exams, this might be something that we want to warn about, rather than disallow outright.

[2018-12-19 18:28] indirectlylit commented on #4637
You may also need to specify a port, e.g. `192.168.0.169:8080` if applicable. Let me know if that works

[2018-12-19 18:57] indirectlylit commented on #4626
notes from a quick conversation with @rtibbles :

| Allow duplicates and show warnings | Don't allow duplicates |
|--|--|
| more difficult implementation | easier implementation |
| more complicated UX | simpler UX |
| more flexibility | less flexibility |

I'm in favor of banning for now, and adding the flexibility later if people complain

[2018-12-19 19:32] indirectlylit opened #4639 "trigger 'needs help' notifications even if hints are not used"
### Observed behavior

In the current implementation of 'needs help' notifications, we ignore consecutive unsuccessful attempts to solve questions within an exercise.

Instead, we look at consecutive unsuccessful `AttemptLog` objects, which don't directly map to a user's mental model of an "attempt" (mainly for DB write performance reasons). Only a single unsuccessful `AttemptLog` object is genera

[2018-12-19 19:55] lauradanforth commented on #4626
I don't see any real downsides to banning duplicates and it may also eliminate confusion in cases where there's multiple coaches making exams in one class. It would just be important to make sure this was only applied on an individual class basis (so that you could still have the same exam name in different classes).

[2018-12-19 23:49] #4593 closed, assigned to nobody

[2018-12-19 23:59] DXCanas opened #4641 "Modal Jitters at Certain Widths"
### Observed behavior

Modal jitters and constantly resizes at certain dimensions. [See this video](https://drive.google.com/file/d/1QUFyTsiIv3ftuhC7qo5WI2YIQ7SzWYzK/view?usp=sharing) (gif couldn't display the issue properly due to low framerate issues).

### Expected behavior

Modal stays in place without jitter

### User-facing consequences

Confusion. Disgust. Seizures?

### Steps to reproduce

[2018-12-20 08:05] swapnil106111 commented on #4637
@indirectlylit Tried using 192.168.0.169:8080. And it is working fine. Thank you for immediate reply.

[2018-12-20 09:30] swapnil106111 commented on #4542
Tested on Kolibri 0.11.0
Same issue appearing.

![1](https://user-images.githubusercontent.com/12776071/50276420-eadceb00-0467-11e9-9d25-1e1ae5c87f1c.png)

[2018-12-20 09:45] swapnil106111 commented on #2616
@rtibbles Able to see respective variable on keyboard which are used in the question.
![screenshot_2018-12-20-15-12-48-582_com android chrome](https://user-images.githubusercontent.com/12776071/50277368-3abcb180-046a-11e9-85c3-4885a4c8d79a.png)

[2018-12-20 10:39] swapnil106111 opened #4643 "First show wrong remaining question count, after 3-4 seconds update question count."
### Observed behavior
After solving last question in the exam, submit the exam. It will show you 1 questions remaining and after 3-4 seconds remaninng question count shows as expected.

### Expected behavior
It must show remaining question count if there is any.

### Steps to reproduce
1. Solve the exam.
2. After solving last question, click on submit exam immediately.
3. And see the behaviour.

#

[2018-12-20 18:22] rtibbles commented on #4643
Note: this is a result of our trailing edge debouncing for saving exam questions, to prevent saving the wrong answer onto the wrong question. Could possibly be resolved by doing a direct save on submitting the exam.

[2018-12-20 18:31] #4637 closed, assigned to nobody

[2018-12-20 18:43] indirectlylit commented on #4641
The typical way of addressing this is to set `overflow-y: scroll` so that the available width never changes regardless of the content height.

We don't want to do that in this case because most modals don't need the scrollbar. Instead, let's conditionally set `overflow-y: scroll` when the content is `> 80%` of the scrolling pane height using our element query mixin.

[2018-12-20 19:46] indirectlylit opened #4645 "dynamic button styles are being lost"
### Observed behavior

Sometimes buttons change from a normal background color to white:

![image](https://user-images.githubusercontent.com/2367265/50307239-af80f300-044c-11e9-9a1e-1f3ca314b106.png)

This appears to be because Aphrodite's dynamically generated classes are not defined in the page. Whether they existed at one point and were cleaned up, or never existed, isn't entirely clear yet.

#

[2018-12-20 20:10] indirectlylit opened #4646 "Error in render: "TypeError: Unparseable colour: null passed to darken function""
### Observed behavior

Exam viewer header is broken:

![image](https://user-images.githubusercontent.com/2367265/50308438-0dfba080-0450-11e9-8c8a-261450578390.png)

### Expected behavior

Exam header works

### User-facing consequences

user lacks ability to go 'back'

### Errors and logs

![image](https://user-images.githubusercontent.com/2367265/50308461-1fdd4380-0450-11e9-9e72-142068cb8d63.png)

[2018-12-20 20:19] rtibbles commented on #4646
In good news, that's a TypeError being thrown inside our own code - glad I set that up!

[2018-12-20 20:41] indirectlylit opened #4647 "add prompt for learner to ask for help if they are struggling"
### Observed behavior

In the ongoing updates to coach reports we're adding a concept of "needing help" to learner behavior. This task surfaces the same concept to the learners themselves.

### Expected behavior

**[figma mockup](https://www.figma.com/file/D5wXhmWNGyt60SpGBgFucwZU/Coach-reports-0.12?node-id=1557%3A2)**

![image](https://user-images.githubusercontent.com/2367265/50309622-5917b280-0

[2018-12-21 06:05] #4627 closed, assigned to indirectlylit

[2018-12-21 20:25] DXCanas commented on #3947
Even after #4648, Learn > Class > Exam breaks. Separate issue?

[2018-12-21 21:53] indirectlylit commented on #3947
@DXCanas would you mind opening an issue for that? All I did with #4648 was change icons to strings

[2018-12-21 23:06] #3947 closed, assigned to jonboiser

[2018-12-21 23:06] #4355 closed, assigned to nobody

[2018-12-22 16:32] benjaoming opened #4652 "Log all commands being run + arguments"
### Observed behavior

Getting logs for debugging purposes is a bit difficult, given that the logs do not capture when the user invokes other commands, `kolibri mange migrate ...` or `kolibri plugin ...` etc.

### Expected behavior

Add some `logging.info` call.

### User-facing consequences

Time-consuming explanations for support purposes.

### Errors and logs

n/a

### Steps to reproduce

Run a

[2018-12-24 07:20] swapnil106111 opened #4653 "Language selection."
### Observed behavior
When user is trying to change the language, it is changing. But for that perticular user only. If user changed language on server then changed language is appearing only on server not on connected tablets.

Need some guidence in language selection. Please let me know if we missed anything.

### Steps to reproduce
1. Login with device onwer and change the language.

### Contex

[2018-12-26 05:26] indirectlylit opened #4656 "builds failing during cext installation"
### Observed behavior

builds are currently failing with this message:

[code]

### Expected behavior

* builds pass and all necessary dependencies are found
* should these dependencies be pinned so that we aren't affected by changes to the package indexes?

### User-facing consequences

cannot currently build

### Steps to reproduce

This is the command that install_cexts.py is running:

[code]

[2018-12-27 21:34] indirectlylit opened #4660 "add 'started' learner notification type"
### Observed behavior

The current implementation of notifications includes 'completed' and 'needs help' events. However, some of the mockups also show a 'started' type, which could be very useful information for the coaches.

### Expected behavior

We should include functionality for recording and displaying 'started'-type events

### User-facing consequences

Coaches don't have a complete pictur

[2018-12-28 05:22] nobicycle opened #4661 "Create new exam - requires the Internet"
### Observed behavior
When creating an exam, if the server is not internet connected, a lag occurs whilst it tries to fetch a font.

Not sure if this issues is related: "Exam page has lag when I creating an exam #4159"

### Expected behavior

…

### User-facing consequences
Due to the lag, users may abandon the idea of using  Kolibri to create an exam if offline.

### Errors and logs

[server.log.

[2018-12-28 11:02] nobicycle commented on #4182
@benjaoming
Sorry I only just discovered  your last message, as I was revisiting the issue: Arch ARM devices do not support python 3.6, so I was checking progress to 3.7

Yes I would like to test the patch.

[2018-12-28 11:05] nobicycle commented on #4548
@benjaoming
Regarding #4182 , I commented:

How do I get the patch please?

[2018-12-28 17:11] benjaoming commented on #4548
Sorry about the prolonged wait @nobicycle - am waiting for someone with very sparse internet to add me as a maintainer of a dependency so I can publish an updated Python 3.7 compatible version.

[2018-12-29 23:25] indirectlylit commented on #4645
I believe the issue is that Perseus also uses Aphrodite, and when exercises are loaded it tramples on our styles.

I spent a little bit of time hacking on Aphrodite to make the style element data attribute (`data-aphrodite`) configurable - it's currently hard-coded. I was planning on submitting an upstream patch, putting a temporary fork of Aphrodite into our `kolibri/packages` folder. However it'

[2018-12-29 23:28] rtibbles commented on #4645
Ah that makes sense, gives me enough of a lead to follow up here!

[2018-12-31 03:30] indirectlylit commented on #4661
Do you have a way of showing that it is trying to access internet resources? If Vivaldi has the same dev tools as chrome you can look at the Network tab?

In your logs I see lots of import errors that we can look into, and above I see a font parsing error that we can also look into, but I don't see anything related to exam creation depending on the internet

[2019-01-01 17:38] indirectlylit opened #4666 "flash of unstyled text on login page load"
### Observed behavior

After the introduction of vuex-based styles, the login page briefly shows as unstyled

### Expected behavior

Page should be hidden until styles are available.

This does not seem to occur on other pages, or if it does it's less apparent.

### User-facing consequences

Especially on slow connections, page load looks a bit broken

### Steps to reproduce

* throttle network
*

[2019-01-02 18:15] ivanistheone opened #4669 "RTL support needed for ePub renderer"
### Observed behavior

Left-aligned text:
<img width="848" alt="kolibri-render-epub-ar" src="https://user-images.githubusercontent.com/163966/50605275-dcdb9100-0e8f-11e9-825d-788d0068b12f.png">

See:
http://35.196.115.213/learn/#/topics/c/e7df2f5a2bc743baacf182e8bf443aba

### Expected behavior

Right-aligned text:

<img width="1079" alt="ibooks-render-epub-ar" src="https://user-images.githubuserco

[2019-01-02 18:29] ivanistheone commented on #4669
@rtibbles If you're looking at ePub, maybe you can look into the "User should be able to choose one-page or two-page view for reading" referenced in https://github.com/learningequality/kolibri/issues/4530

[2019-01-02 18:42] ivanistheone commented on #4530
I was looking into this today and found the `spread` option that @christianmemije pointed to:
http://epubjs.org/documentation/0.3/#layoutspread
  - "auto" (current)
  -  "none" (single page)
  - "always" (two-page layout)

This might require UI + new settings option like this:

<img width="224" alt="screen shot 2019-01-02 at 1 23 17 pm" src="https://user-images.githubusercontent.com/163966/5060655

[2019-01-03 17:59] indirectlylit opened #4670 "add FV to kolibri supported languages"
### Observed behavior

translation of Fulfulde Mbororoore is complete

 https://crowdin.com/project/kolibri/fv

### Expected behavior

add to supported langs

### Context

0.11.1 and 0.12.0

[2019-01-03 17:59] kollivier commented on #1049
@indirectlylit #4589 was confirmed to be working on the community forums and merged in. Is it okay to close this ticket, or are there any other remaining issues to be addressed?

[2019-01-03 18:11] radinamatic commented on #4670
@indirectlylit Ping me when ready so I can test before we pass it on to Chris! :+1:

[2019-01-03 19:23] indirectlylit opened #4672 "test and document iOS support"
### Observed behavior

In https://github.com/learningequality/kolibri/pull/4671 we're removing the block on iOS

### Expected behavior

* Add to our integration testing matrix
* Update docs
* Add to the browserlist file - https://github.com/learningequality/kolibri/blob/develop/browserslist

### Context

0.12

----

cc @radinamatic

[2019-01-03 19:25] indirectlylit commented on #1049
let's close!

If more issues are reported we can re-open. thanks!

[2019-01-03 19:27] jredrejo commented on #4553
@jamalex can you send me the copy of the database?

[2019-01-03 20:07] lauradanforth commented on #4553
@jredrejo I just shared it with you via DropBox

[2019-01-03 20:18] lyw07 commented on #4553
@lauradanforth could you also please share it with me? Thank you!!

[2019-01-03 20:33] indirectlylit opened #4674 "some static assets no longer load"
### Observed behavior

Assets such as the Kolibri logo and login background photo no longer load:

![image](https://user-images.githubusercontent.com/2367265/50660166-b1ba7580-0f53-11e9-8070-2a282123b0f9.png)

### Errors and logs

404s:

![image](https://user-images.githubusercontent.com/2367265/50660148-a8c9a400-0f53-11e9-8cf8-de7963ff3ee2.png)

### Steps to reproduce

…

### Context

…

[2019-01-03 22:40] kollivier commented on #2158
Unable to reproduce in iOS 9+ on device or simulator in the general case, and iOS v7 was notably buggy after the huge UI rework, so I am going to close this issue.

[2019-01-03 22:40] #2158 closed

[2019-01-03 22:45] kollivier commented on #4672
PR #4676 adds iOS 9.3+ to the list of supported browsers.

[2019-01-04 01:13] rtibbles commented on #4674
Duplicate of #4577

[2019-01-04 01:13] #4674 closed, assigned to rtibbles

[2019-01-04 01:16] rtibbles commented on #4550
Fixed in #4591

[2019-01-04 01:16] #4550 closed, assigned to rtibbles

[2019-01-04 01:45] mrdavidhaag commented on #4553
We have same issue in two server scenarios

First server was in service for a few months, then upgraded to v.11 via apt-get.  Before upgrade new Learners were able to Create an account from login screen successfully.  After upgrade a new Learner was unable to get past filling out the Create an account form and pressing Finish (nothing happened)

Second server is brand new install on VM in ProxmoxV

[2019-01-04 10:10] nobicycle commented on #4661
@indirectlylit
Next time I will upload a picture showing that I was actually in the browser using Create Exam. I will also post from the Network tab instead of just the Console. The problem disappeared once the internet came back up. Perhaps leave this report on standby until this data gets supplied.

[2019-01-04 10:26] nobicycle opened #4680 "Full Screen Fails on Chromium 71 and Vivaldi"
### Observed behavior
Using Chromium 71 or  Vivaldi 2.2.1388.34, the full screen button for BOOK resources  either does nothing or distorts.
Using Firefox there is no problem. It does not affect video resources such as Sikana

### User-facing consequences
Very difficult to read books…

### Errors and logs
![1809eba4-bad0-4e8d-9011-645243368501](https://user-images.githubusercontent.com/1372447/506

[2019-01-04 17:42] jredrejo commented on #4592
@jonboiser  how did you reinstall v26? In order to reproduce this problem (similar to #4342 ) I'd like to be able to do it.

[2019-01-04 17:48] radinamatic commented on #4592
If I understood correctly they had v26 previously exported on an USB drive, and available to import from... Would be good to have it confirmed, I cannot think of another way atm.

This does not help us reproduce, as we would have to have KA EN v13 on an external drive to try... :confused:

[2019-01-04 19:19] #4577 closed, assigned to rtibbles

[2019-01-04 20:22] jredrejo commented on #4592
I can confirm the issue happens with kolibri versions up to 0.10.1
Using 0.10.2 it does not happen anymore. PR #4123 fixed it.

However, after the issue happens using <0.10.2, upgrading to an upper version of Kolibri does not solve it. It keeps the content lost.

[2019-01-04 22:23] rtibbles commented on #4562
Ah, looks like I misinterpreted how 'external' the external links are - they're external as opposed to router links, but not necessarily external to Kolibri.

[2019-01-04 23:05] radinamatic opened #4685 "Coach tab & item opening trigger the user logout (dev branch)"
### Observed behavior

When logged in as super-admin, opening Coach tab leads to logout:

![coach-logout](https://user-images.githubusercontent.com/1457929/50715293-f3930b00-107c-11e9-88b9-a7a17bf926ee.gif)

Try to login as coach user (both class and facility coaches) also leads to automatic logout after 2 seconds:

![coach-logout2](https://user-images.githubusercontent.com/1457929/50715355-348b1f

[2019-01-05 01:45] rtibbles commented on #4669
I have implemented a fix for this in #4686, but the example content above has its language set as English, so should be properly set to Arabic to work properly.

[2019-01-05 02:02] radinamatic commented on #4685
Actually, the logout also happens as soon as _any_ user opens a content item:

![learner-logout](https://user-images.githubusercontent.com/1457929/50718996-4fb65900-1096-11e9-8480-8ae8d360c1bf.gif)

[2019-01-05 02:05] rtibbles commented on #4685
Curiouser and curiouser!

[2019-01-05 02:08] radinamatic commented on #4685
Yeah, just my luck... :roll_eyes:

[2019-01-05 04:44] ivanistheone commented on #4680
I recently also observed a "can't go fullscreen in Chrome" bug for ePub renderer as well:

Here is a sample ePub on 0.11.0:
http://kolibridemo.learningequality.org/learn/#/topics/c/bb0ea84e42785c019f3be924b9d7e20b

If you click on the full screen button you get:

<img width="986" alt="screen shot 2019-01-04 at 11 43 02 pm" src="https://user-images.githubusercontent.com/163966/50720392-80889500-107

[2019-01-05 07:10] rtibbles commented on #4653
This is intended behaviour - it would be best to configure your tablets to have the language you want as the default language for the browser, then users would not need to change it.

[2019-01-05 07:10] #4653 closed, assigned to nobody

[2019-01-05 07:13] rtibbles commented on #4603
This is within a single session, presumably? We cache the recommendation responses, as they are expensive to calculate, so these will not refresh for 10 minutes.

[2019-01-05 07:38] rtibbles commented on #4602
I think this can be solved by upgrading to a newer version of videojs.

[2019-01-05 08:01] rtibbles commented on #4553
Switching this to 0.11.1 as this seems to be an active blocker for many users.

[2019-01-05 08:16] rtibbles commented on #4553
Looking at the frontend tracebacks, what appears to be happening there is that the HTML for the `/user` route is being returned in response to the sign up request. Having trouble thinking through why that might happen so far though!

[2019-01-06 08:39] rtibbles commented on #4553
This appears to only happen when the 'no guest access' facility setting is enabled, using this, I have replicated, and created a fix in #4691. We should be able to include this fix in 0.11.1.

[2019-01-06 16:43] JoseCrz opened #4692 "Exercises not working (Khan Academy Spanish) on 0.11.0"
### Observed behavior

When trying to do exercises on Khan Academy Spanish Channel the next exercise will not load, the exercise stays the same. I've notice that the exact same exercise works just fine on Khan Academy English Channel.

Khan Academy Spanish Channel:

- The exercise is accessed and solved:

<img width="1680" alt="captura de pantalla 2019-01-06 a la s 09 40 14" src="https://user-imag

[2019-01-06 18:23] radinamatic commented on #4685
And today when I restarted the devserver, the error has resolved itself... :confused:

I did not update the repo, but I did create and new virtualenv.

[2019-01-07 19:42] lyw07 commented on #4584
Hi @swapnil106111

Sorry I haven't followed up on this issue for some time. When you encountered the error on 0.11.0, do you recall if your 0.11.0 kolibri a fresh install, or an upgrade from a lower version of kolibri? Thank you!

[2019-01-07 23:36] jamalex commented on #4680
+1 for being broken on epub on Chrome 71.0.3578.80

[2019-01-08 00:16] rtibbles commented on #4600
Have any of the steps suggested above remedied this situation?

[2019-01-08 00:18] rtibbles commented on #3269
Note that this is currently 'expected behaviour' but we are working out how to better display the actually available files in the interface.

[2019-01-08 03:05] rtibbles commented on #4646
Couldn't replicate this exact error any more, but the header and back button sure were a funny colour, so I fixed that instead.

[2019-01-08 17:32] indirectlylit opened #4699 "incorrect source string"
### Observed behavior

https://crowdin.com/translate/kolibri/1002/en-bn#70512

"Learners can only see active quizzes"

`LessonDetailEditor.statusDescription`

### Expected behavior

"Learners can only see active lessons"

### User-facing consequences

confusion over meaning

### Context

0.12

[2019-01-08 17:35] radinamatic commented on #4699
Excellent catch, I missed it myself... :woman_facepalming:

[2019-01-08 18:14] #4562 closed, assigned to rtibbles

[2019-01-08 18:26] indirectlylit opened #4701 "no empty state for learners with no content"
### Observed behavior

When learners have no content, they don't see any 'empty' state. Currently we only have a message intended for admins, e.g. explaining that more content can be imported from the device tab

### Expected behavior

We should have an empty state that tells users to contact their administrator for help

### User-facing consequences

page currently looks broken

### Steps to repr

[2019-01-08 18:36] indirectlylit commented on #4592
Is there something we can do to "un-lose" the content?

[2019-01-08 18:44] indirectlylit opened #4702 "improve synchronization of content model schemas"
### Observed behavior

Currently, Kolibri Studio has a modified copy of the content models for generating backwards compatible content databases. Changes need to be propagated to that copy in order to allow for generation of databases with the changed schema.

### Expected behavior

We can instead achieve this by implementing abstract base models that are instantiated in both applications.

### Us

[2019-01-09 11:02] miyer03 commented on #4584
@lyw07 it been an upgrade and not a fresh install

[2019-01-09 11:25] swapnil106111 commented on #4600
@rtibbles By copying db.sqlite3, db.sqlite-wal and db.sqlite-shm files this issue gets solved.

[2019-01-09 13:03] jredrejo commented on #4592
@indirectlylit I think we can, after reproducing the problem I see the content is kept in .kolibri/content/storage. The problem is in the database.
I am trying to find a logical way to undelete the deleted content , not conflicting with _real_ deletions done by the user.

[2019-01-09 13:43] rtibbles commented on #4600
OK, closing then !

[2019-01-09 13:43] #4600 closed, assigned to nobody

[2019-01-09 18:38] #2616 closed

[2019-01-09 18:46] #4669 closed, assigned to rtibbles

[2019-01-09 18:48] indirectlylit commented on #4603
Maybe this is something we could do purely client-side?

[2019-01-09 18:49] #4553 closed, assigned to jredrejo, rtibbles, lyw07

[2019-01-09 18:53] indirectlylit commented on #4685
I haven't reproduced this. Closing, but please re-open if it happens again

[2019-01-09 18:53] #4685 closed, assigned to nobody

[2019-01-09 18:56] #4680 closed, assigned to rtibbles

[2019-01-09 18:59] #4699 closed, assigned to nobody

[2019-01-09 21:38] radinamatic commented on #4685
Will do, haven't seen this since the new venv!

[2019-01-09 23:11] radinamatic commented on #4603
Testing this on the asset from #4703: confirmed that a started item appears under *Resume* only after about 10 minutes during the same session, or immediately after signing out and in again.

[2019-01-09 23:27] rtibbles commented on #4603
Yeah, we can probably do some client side workaround to update in most cases without fetching from the server.

[2019-01-10 00:21] khangmach opened #4706 "Fixes to resource pages"
### Observed behavior
Some outstanding issues with the current exercises page that we need to address:
- Severe lack of screen estate affording the user to interact with the exercise. The presence of top-nav/breadcrumbs/and previously the learn tabs all push down elements and components that correspond to the exercise question (including answer input areas and answer choice selections).
- Reliance

[2019-01-10 11:18] swapnil106111 opened #4708 "swap out a single question while creating an exam"
### Observed behavior
We are not able to randomize the single question while creating the exam. It is randomizing all the questions.

### Expected behavior
It must randomize selected question.

### Steps to reproduce
1. Create the exam and click on preview and randomize.

### Context
 * Kolibri version : Kolibri 0.11.0
 * Operating system : Ubuntu 14.04
 * Browser : Chrome

[2019-01-10 11:52] swapnil106111 opened #4709 "Keypad is appearing in exam report for input type on tablet."
### Observed behavior
When learner click on "Show correct answer" checkbox in exam report, it opens keypad.

### Expected behavior
It must not open keypad.

### Steps to reproduce
1. login with learner using tablet.
2. Submit the exam which is having input type question.
3. Click on exam report on tablet and go to the input type question.
4. Click on Show correct answer.

### Context
 * Kolibri ve

[2019-01-10 14:04] jredrejo commented on #4592
@jonboiser  would it be possible to reproduce the problem to check the new command can recover the lost content after updating?

[2019-01-10 17:00] jredrejo commented on #4656
@lyw07 are you waiting for pywheels to build cffi 1.11.3 for 3.6? Unless you prefer to wait for them to get it I think we can close this bug, as builds are working skipping Python 3.6

[2019-01-10 17:04] jredrejo commented on #4342
@nobicycle , @intelliant01 I don't know if  you still keep the Kolibri database with the lost content. In case you do I would like to ask you to test a command we've done to recover it ( #4705 )
Would it be possible?

[2019-01-10 17:04] lyw07 commented on #4656
Yes I think we can close this now, since we are unsure when the pywheels build will finish. Thank you!

[2019-01-10 17:05] #4656 closed, assigned to jredrejo, lyw07

[2019-01-10 17:44] indirectlylit commented on #4708
what do you mean by 'randomize a single question'?

[2019-01-10 22:01] nobicycle commented on #4342
Hi jredrejo,
Sorry, I zapped the DB.

[2019-01-11 05:31] swapnil106111 commented on #4708
@indirectlylit Suppose teacher wants to create a exam with 5 questions. From 5 questions, 4 questions teacher wants to be in the exam but one question don't. In such case, randomize a single question is important.

[2019-01-11 06:08] swapnil106111 opened #4714 "Button name on tablet"
### Observed behavior
While using learn tab on tablet following things are happened on tablet:
1. CHECK button  shown as CHE...
2. NEXT button shown as NE.

Able to see expected names on Lenovo tab but not on swipe tab.

Lenovo tab model number : TAB3 7 ESSENTIAL
Swipe tab model number : W7

### Expected behavior
It must show whole name on every device.

### Steps to reproduce
1. Go to the learn t

[2019-01-11 07:11] swapnil106111 opened #4715 "Change language feature for learner."
### Observed behavior
While doing signout on tablet there is change language option. Requesting to remove change language feature for learner account.
If learner change the language intentionally or accidently then teacher work will be increased to select expected language everytime.

### Context
 * Kolibri version : kolibri 0.11.0
 * Operating system : Ubuntu 14.04
 * Browser : Chrome

[2019-01-11 16:00] #4692 closed

[2019-01-11 18:34] indirectlylit opened #4716 "follow-up from quiz updates"
### Observed behavior

follow-up from #4667

### Expected behavior

* [x] lots of feedback from https://docs.google.com/document/d/1QeRghWCFdJgWV627DaIWRM80pJ3IkJr_TRQjI4uJXEw/edit
* [x] add incrementing numbers to title
* [ ] ~learner and report views~ will be in another PR
* [x] make sure preview shows answer after drag
* [ ] ~improve preview layout~ moved to #4766
* [ ] ~validation of duplicate

[2019-01-11 20:20] #4646 closed, assigned to rtibbles

[2019-01-11 20:39] rtibbles commented on #4584
Removing milestone, as not able to replicate, but we can leave the issue open for further investigation.

[2019-01-11 20:40] rtibbles commented on #4670
Added!

[2019-01-11 20:40] #4670 closed, assigned to rtibbles

[2019-01-11 20:40] rtibbles commented on #4670
This has now been done!

[2019-01-11 20:43] jamalex opened #4717 "Coach-facing content should not show up under "Recommended" for non-coaches"
### Observed behavior

![image](https://user-images.githubusercontent.com/618416/51058559-0c7c4e80-159e-11e9-9b52-27cc07dd750f.png)

![peek 2019-01-11 12-41](https://user-images.githubusercontent.com/618416/51058655-5107ea00-159e-11e9-8381-780c28f0c2e2.gif)

### Expected behavior

The session above wasn't logged in, so "Recommended" shouldn't have included this coach-only content.

### User-facing

[2019-01-11 21:11] indirectlylit commented on #4717
interesting that the 'coach' icon doesn't appear on that card

[2019-01-11 21:15] #4666 closed, assigned to rtibbles

[2019-01-11 22:23] indirectlylit opened #4720 "$coreTextAnnotation is not defined"
### Observed behavior

while interacting with exercises

![image](https://user-images.githubusercontent.com/2367265/51062613-8542d100-15c5-11e9-9405-556087c2d203.png)

### Expected behavior

I still think it might be safest to define these globally

### User-facing consequences

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-01-11 22:29] rtibbles commented on #4720
Fine, you've convinced me.

[2019-01-11 22:30] indirectlylit commented on #4720
just until 0.12 - we can pull it out after

[2019-01-11 23:27] rtibbles commented on #4720
Any intuition on performance impact of adding them all as global mixins? (I assume the component only watches the reactive prop if it is referenced during render, so I am assuming it would not have an impact).

[2019-01-11 23:55] rtibbles commented on #4645
I think this should have been fixed by #4704?

[2019-01-11 23:56] rtibbles commented on #4629
Also realizing that for some reason `yarn run lint-all` is not catching things on Travis, we currently have some files on develop that are failing linting locally.

[2019-01-12 02:44] #4606 closed, assigned to jamalex

[2019-01-12 02:45] indirectlylit commented on #4645
yup, thanks!

[2019-01-12 02:45] #4645 closed, assigned to nobody

[2019-01-12 02:51] indirectlylit commented on #4720
Right - I think it only has an impact if a component defines a new reactive value which has the object as a dependency.

Perhaps a less heavy-handed strategy would be to create a `coreThemeMixin` which maps all the vuex color variables into the current component. This has the advantage of dumping all the variables in at once and perhaps avoiding some of these errors, but still being a bit more exp

[2019-01-12 03:10] rtibbles commented on #4720
Oh, except this error is caused by my missing the this, and linting not catching. Going to focus on getting our linting working properly.

[2019-01-12 17:04] indirectlylit commented on #4720
sounds good!

[2019-01-14 09:03] jredrejo commented on #4660
@indirectlylit  can you give me the link of he mockups with the started event?
The ones I have dont' contain it (from the links at the notion page on Actionable Notifications for Coaches)

I should know if the event is going to be triggered when the started object is a Lesson, an Exercise , of both. Also, I  need to know if it's an event per user or per classroom/group.

[2019-01-14 17:34] benjaoming opened #4723 "py2only packages missing in 0.11.1 source dist"
### Observed behavior

I tried to fetch the source tar.gz from Github, and it seems to be missing stuff. In the Debian package, there's a patch removing Python 2 bundled packages, and this patch no longer applies.

@lyw07 hoping it's okay to assign you directly on this, if it's a larger task, feel free to leave it. Otherwise, I'd argue it's critical that the _source_ package remains one single sou

[2019-01-14 17:52] indirectlylit commented on #4660
Hey -

* mockup - they're alluded to in the [per-learner activity feed](https://www.figma.com/file/D5wXhmWNGyt60SpGBgFucwZU/Coach-reports-0.12?node-id=1385%3A0) (see also image below)
* triggering - same as 'completed' events, so for resources, exercises, exams, lessons I believe?

Note that the 'time spent' column below shouldn't be there:

![image](https://user-images.githubusercontent.com/23672

[2019-01-14 17:56] #4720 closed, assigned to rtibbles

[2019-01-14 17:59] rtibbles commented on #4717
We don't show coach content icons to non-coach users.

[2019-01-14 18:02] rtibbles opened #4724 "Hashi no hash-y"
### Observed behavior
Currently we build hashi without a build hash. This means that in the future if we upgrade our Hashi functionality, this may not get cache busted.

### Expected behavior
New versions of Hashi should cache bust old versions!

### User-facing consequences
Weird, unpredictable Hashi behaviour, depending on previous use.

[2019-01-14 18:06] rtibbles opened #4725 "Not possible to 'complete' an HTML5 App"
### Observed behavior
In introducing Hashi, the 15s insta-points was removed from HTML5 apps. Now impossible to register any progress.

### Expected behavior
What should progress look like for an arbitrary HTML5 app?

### User-facing consequences
Confusion?

[2019-01-14 18:35] jtamiace commented on #4660
Here are some locations where a "started" message appears, although it is not on the actionable notifications page

Learner profile > Lesson
https://www.figma.com/proto/D5wXhmWNGyt60SpGBgFucwZU/Coach-reports-0.12?node-id=1278%3A6705&viewport=-63%2C168%2C0.0514209&scaling=min-zoom

To my knowledge there are not yet notification messages for "started" on the dashboard cc @khangmach

[2019-01-14 18:43] lyw07 commented on #4723
Hi @benjaoming , when you say `source tar.gz` on the github, are you referring to https://github.com/learningequality/kolibri/releases/download/v0.11.1/kolibri-0.11.1.tar.gz or https://github.com/learningequality/kolibri/archive/v0.11.1.tar.gz? Thank you!!

[2019-01-14 19:41] benjaoming commented on #4723
You are right, this was totally a pilot error!! :+1:

[2019-01-14 19:41] #4723 closed, assigned to lyw07

[2019-01-14 19:42] lyw07 commented on #4723
thank you for checking the source though!!

[2019-01-14 20:22] indirectlylit commented on #4629
linting is improved, but `yarn run lint:fix` still seems to not work

[code]

[2019-01-14 20:27] rtibbles commented on #4629
You didn't specify any files to lint `Must specify files or glob patterns to lint!`

If you want to lint and fix all files use `yarn run lint-all:fix` (see our discussion above).

[2019-01-14 20:27] #4629 closed, assigned to nobody

[2019-01-14 20:29] khangmach commented on #4660
Yeah there aren't yet notification messages for "started" interactions on the dashboard. Intentionally omitted because the reasoning was that they didn't seem to qualify as any sort of "completion" event. I don't have an issue with adding it to the dash though

[2019-01-15 02:59] JoseCrz opened #4732 "Learner exercise answer report UI not working on 0.11.0"
### Observed behavior

Under the Coach dashboard when you enter the exercise answers report of a learner and try to see the answers given the UI stops working.

![bug2](https://user-images.githubusercontent.com/26424082/51155042-c80dde80-183b-11e9-8055-788426516fcf.gif)

### Expected behavior

To be able to select and see the answers given by the learner and go back to the previous view

### User-

[2019-01-15 17:46] rtibbles commented on #4732
Hi @JoseCrz thanks for the bug report!

This has previously been reported in #4610 - and was fixed in #4688, which is now available in the 0.11.1 release!

Please try upgrading and you should find this issue fixed.

[2019-01-15 17:46] #4732 closed, assigned to nobody

[2019-01-15 17:49] #4643 closed, assigned to rtibbles

[2019-01-15 17:49] #4624 closed, assigned to rtibbles

[2019-01-15 17:50] #4623 closed, assigned to rtibbles

[2019-01-15 17:50] #4622 closed, assigned to rtibbles

[2019-01-15 17:50] #4610 closed, assigned to rtibbles

[2019-01-15 17:50] #4601 closed, assigned to rtibbles

[2019-01-15 22:42] rtibbles opened #4734 "Channel bundle compatibility"
### Observed behavior
The current Kolibri code assumes that entering a channel token will return one channel, channel bundles changes that.

### Expected behavior
Kolibri can handle channel bundles from tokens.

### User-facing consequences
Breakage, disappointment, heartbreak.

[2019-01-15 23:03] #4422 closed, assigned to jredrejo

[2019-01-15 23:09] indirectlylit commented on #4631
fixed by @rtibbles

[2019-01-15 23:09] #4631 closed, assigned to nobody

[2019-01-15 23:13] indirectlylit commented on #4660
cc @jonboiser

[2019-01-15 23:44] rtibbles commented on #4725
After extensive discussion, @khangmach @jtamiace and I fell upon 'completion after 5 minutes of total engagement'.

This will be the fallback behaviour for apps that are not able to engage with any future assessments API.

[2019-01-15 23:45] indirectlylit commented on #4725
but how many points?!??? 🍃

[2019-01-15 23:50] rtibbles commented on #4725
500 - just like everything else!

[2019-01-16 01:32] indirectlylit opened #4738 "test_dbrestore tests apparently fail when run locally"
### Observed behavior

test_dbrestore tests apparently fail when run locally:

[code]

### Expected behavior

tests pass

### User-facing consequences

confusing false failures

### Steps to reproduce

check out latest develop, run

[code]

### Context

* macos
* python 3

[2019-01-16 01:32] indirectlylit commented on #4738
cc @benjaoming any ideas?

[2019-01-16 01:53] indirectlylit commented on #4647
wontfix - https://learningequality.slack.com/archives/C0LKG14NL/p1547603498094100

[2019-01-16 01:53] #4647 closed, assigned to nobody

[2019-01-16 18:06] radinamatic opened #4739 "Language switcher vertical alignment"
### Observed behavior

Language switcher modal is half hidden under the top edge of the browser window.
Switcher modal is correctly aligned on the sign-in page.

![ubuntu 16 04 3 start running - oracle vm virtualbox_374](https://user-images.githubusercontent.com/1457929/51269016-b5bdad00-19c1-11e9-865f-75706be456be.png)

### Expected behavior

Language switcher should be fully visible.

### User-f

[2019-01-16 19:59] laurenlichtman commented on #4616
@khangmach let's definitely cut the text. I like the edit you proposed with one small change. Can you change the second to last sentence to read: "This demo has features of the latest version of Kolibri, and only contains a sample of the content that is available for offline use."  cc: @lauradanforth as FYI in case she has further edits.

I think it'd be great if we could proceed as you suggested

[2019-01-16 22:09] #2627 closed

[2019-01-16 22:09] #4290 closed, assigned to indirectlylit

[2019-01-16 22:57] benjaoming commented on #4738
Am investigating and also finding some issues about an unclean `~/.kolibri` really annoying. Figuring something about!

This was on `develop`, right?

[2019-01-16 23:08] rtibbles commented on #4738
This has been extant for a while, I was pretty sure I had opened an issue about lack of test encapsulation with the dbrestore tests previously, but I am unable to find it, but see a similarly motivated issue here: https://github.com/learningequality/kolibri/issues/4024

[2019-01-16 23:35] benjaoming commented on #4738
I *totally* agree, `KOLIBRI_HOME` should be isolated for tests, and I too cannot find an issue for it. Don't really know why, I feel like it has been mentioned several times.

_searches issues and scratches head rigorously_

[2019-01-16 23:36] benjaoming commented on #4738
_searches head and scratches issues rigorously_

[2019-01-17 06:01] mrpau-richard commented on #4739
The same issue with Safari 11.0.3

![screen shot 2019-01-17 at 2 00 36 pm](https://user-images.githubusercontent.com/8663934/51298680-6aa6a700-1a60-11e9-932d-0c6b935b6851.png)

[2019-01-17 16:28] indirectlylit opened #4740 "exam creation breaks when clicking 'select all' on a large topic"
### Observed behavior

Just filing this is a note for later to investigate further. I'm currently experiencing this in our `coach-data` working branch. Haven't tested in `develop` yet.

Clicking 'select all' on KA Math when creating an exam does two things:

* browser freezes and CPU goes to 100% for a longer period than I've been willing to wait
* server reports a 'URI string too long' type error

[2019-01-17 20:09] indirectlylit opened #4743 "inactive quizzes are not marked as 'completed'"
### Observed behavior

As a coach, I have a number of exams. The 'fixed_order' exam had previously been active, but as a coach I set it to inactive. However as a learner, I still see it, and it links to a learner report:

![image](https://user-images.githubusercontent.com/2367265/51345565-375c1c00-1a50-11e9-81f6-7bb44af25ce1.png)

![image](https://user-images.githubusercontent.com/2367265/51345731

[2019-01-17 20:19] #4639 closed, assigned to jredrejo

[2019-01-17 20:22] khangmach commented on #3222
Just a quick fix:

[2019-01-17 20:56] khangmach commented on #3222
@indirectlylit are you expecting a design of an in-app upgrade mechanism as well? Or is this just for a notification concept?

Also

a channel upgrade or for a new Kolibri version?

[2019-01-18 01:48] radinamatic opened #4747 ""Welcome to Kolibri" modal message for existing users whose permissions have been elevated (e.g. to super user)"
### Observed behavior

When super admin permissions are granted to an already existing user that _never signed in before_, they are greeted with the same modal message as a first super admin user created after the installation and the setup wizard steps:

Does not happen if the user who was granted super admin permissions had signed in before.

### Expected behavior

Something akin to `You have be

[2019-01-18 04:29] indirectlylit opened #4748 "select box is not using kolibri purple"
### Observed behavior

blue:

### Expected behavior

purple

### User-facing consequences

...

### Errors and logs

…

### Steps to reproduce

…

### Context

…

----

cc @rtibbles

[2019-01-18 06:32] indirectlylit commented on #3222
This issue was specifically about channel importing, but there is a lot of overlap with ongoing work in #4571 and [this spec](https://docs.google.com/document/d/1h5hyHttxTrZpQq7j0sPCBLNlcV7PcaJ5CrtlJvVZBdM/edit).

The original intent of #4571 focused on Kolibri app upgrade notifications, but the feature is also capable of (for example) alerting users that their current version of Khan Academy has

[2019-01-18 06:32] #3222 closed

[2019-01-18 06:34] mrpau-richard opened #4751 "Import button showing while it's in a process of importing a new channel contents"
### Observed behavior
I can access the import button while it's in process of importing a new channel contents, this happened when I switch to a Kolibri tab and switch back. The behavior is when I import another contents of the channel the first import process will be cancelled.

### Expected behavior
Disable import button when there is still a process that import a channel contents.

### Errors a

[2019-01-18 13:20] mrpau-richard opened #4752 "Update new channel version not working"
### Observed behavior
The update channel button is not working after I updated the channel title at the Kolibri Studio.

### Errors and logs
![gif-temp](https://user-images.githubusercontent.com/8663934/51389231-9d3ac780-1b66-11e9-8c08-5a78a0b3d7f5.gif)

### Context
Tell us about your environment, including:
Kolibri version: 0.12.0a3
Operating system: Darwin-17.4.0-x86_64-i386-64bit
Browser: iOS S

[2019-01-18 18:07] rtibbles commented on #4549
We calculate availability based on whether the files needed to display this content are available. They are, so we flag them as available. This has nothing to do with the content_id/node_id distinction. Even if the two nodes had different content_ids they would both be flagged as available because they rely on the same files to render.

[2019-01-18 18:16] rtibbles commented on #4549
Seems like this is probably best solved alongside other aspects of importability annotation.

[2019-01-18 22:56] jonboiser commented on #4752
I also saw this recently with a custom channel. I had installed Version 10 of it, and could not get Kolibri to download the newest  Version 12 even after pressing 'Update'

[2019-01-18 23:00] radinamatic commented on #4752
Possibly related to [this issue reported on Studio](https://github.com/learningequality/studio/issues/1112).
@jayoshih it might have been too soon for discussion about closing it... :confused:

[2019-01-19 00:50] jonboiser opened #4756 "Deleting a user from facility, causes classmates to lose their group memberships"
### Observed behavior

1. I have a class that has students divided into groups
1. I remove one user from the server through Facility > Users menu
1. I go back to Coach > Class > Groups
1. All of the remaining students are now ungrouped

**Before**
![screen shot 2019-01-18 at 4 44 53 pm](https://user-images.githubusercontent.com/10248067/51419627-f3950f80-1b40-11e9-8193-e8edea155298.png)

**After d

[2019-01-19 00:51] rtibbles commented on #4756
That's a curious cascade - magical.

[2019-01-19 00:52] indirectlylit opened #4757 "investigate language switcher modal placement issue"
### Observed behavior

see https://github.com/learningequality/kolibri/pull/4755#issuecomment-455732569

see also 2c81291

…

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-01-19 02:19] indirectlylit commented on #4542
cc @ralphiee22

[2019-01-19 02:22] indirectlylit commented on #4751
cc @ralphiee22

[2019-01-19 02:23] indirectlylit commented on #4626
cc @ralphiee22

[2019-01-21 09:13] mrpau-richard opened #4761 "No available Super admin filter at the user type dropdown list"
### Observed behavior
Currently the Super admin is not available at the user type filter.

### Expected behavior
Add Super admin at the list of user type filter.

### Errors and logs
![screen shot 2019-01-21 at 5 02 37 pm](https://user-images.githubusercontent.com/8663934/51463985-90ed7f00-1d9f-11e9-9901-4e6fdc349cf6.png)

Tell us about your environment, including:
* Kolibri version: 0.12.0a3
* Op

[2019-01-21 20:13] indirectlylit opened #4764 "make list sorting keyboard accessible"
### Observed behavior

follow-up from #4716

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-01-21 20:15] indirectlylit opened #4765 "associate current value of data_model_version with model rather than serializer"
### Observed behavior

`data_model_version` is set by the exam serializer

### Expected behavior

set in the model instead

### User-facing consequences

none

### Context

0.12

[2019-01-21 20:18] indirectlylit opened #4766 "improve exam preview layout when there are many questions in a quiz"
### Observed behavior

see comments in https://docs.google.com/document/d/1QeRghWCFdJgWV627DaIWRM80pJ3IkJr_TRQjI4uJXEw/edit#heading=h.kj33sjr8m9b5

### Expected behavior

don't scroll exercise preview offscreen

### User-facing consequences

extra scrolling when quizzes have many questions

### Steps to reproduce

create a quiz with 50 questions and then try to rearrange them

### Context

0.12

[2019-01-22 00:06] indirectlylit opened #4768 "esprima source parsing crashes node process due to spread operators"
### Observed behavior

Esprima, used by `extract_$trs`, will sometimes crash the node build process.

When this happens:

* our build tools will cease to watch and rebuild the module
* there is no indication of which file caused esprima to crash

This appears to be due to a bug in Esprima which causes spread operators to sometimes not be properly parsed. For example, this parses correctly:

[code]

[2019-01-22 00:06] indirectlylit commented on #4768
cc @rtibbles

[2019-01-22 00:39] indirectlylit commented on #4761
interesting idea - thanks

cc @jtamiace - think this is something we should do?

[2019-01-22 02:24] indirectlylit commented on #4738
edit: confirmed that the thing I previously posted in this comment was unrelated

[2019-01-22 02:28] indirectlylit commented on #4609
merging with #4626

[2019-01-22 02:28] #4609 closed, assigned to ralphiee22

[2019-01-22 02:32] indirectlylit commented on #4626
Was chatting with @ralphiee22 about this briefly on Friday.

One other complexity with warning instead of blocking is that the pattern is not compatible with our conventional validation behavior, which is:

* Do not validate as-you-type
* Validate only when the input element loses focus

If we were to follow the conventional pattern, the user would never see the warning if they were to click the '

[2019-01-22 17:07] benjaoming commented on #4548
Hi - just want to add that 0.11.1 was released with these fixes. They seemed to work fine for me, hope it works for your setup @nobicycle ?

Please feel free to open up new issues w/ Python 3.7 problems, should you encounter any.

[2019-01-22 17:07] #4548 closed, assigned to nobody

[2019-01-22 17:17] ivanistheone opened #4771 "Burmese fonts missing some characters"
### Observed behavior

<img width="792" alt="screen shot 2019-01-21 at 5 56 11 pm" src="https://user-images.githubusercontent.com/163966/51552860-8aaedf80-1e3f-11e9-99c0-fa498a88bfdb.png">

<img width="915" alt="screen shot 2019-01-22 at 12 13 12 pm" src="https://user-images.githubusercontent.com/163966/51552885-98fcfb80-1e3f-11e9-91f3-9319425055fc.png">

### Expected behavior

Show all characters

[2019-01-22 17:37] intelliant01 commented on #4082
@indirectlylit Is the "design" such that the content nodes have the meta-info about the topics they belong to embedded into them? Hence during export they carry along that same signature and recreate it during import irrespective of the user's intent?

[2019-01-22 18:54] indirectlylit commented on #4771
@ivanistheone would you mind posting the subtitles file here?

[2019-01-22 18:59] indirectlylit commented on #4082
@intelliant01 no, content is not aware of which topics they belong to. Rather, topics contain content by referencing a content ID, but topics will often 'share' a single content item so that it only needs to be downloaded once even if it appears in many places.

[2019-01-22 19:07] ivanistheone commented on #4771
It's this one: http://kolibridemo.learningequality.org/content/storage/c/d/cd48244d855a14a2f7059a3a7c585c8c.vtt

[2019-01-23 09:19] swapnil106111 commented on #4643
@rtibbles Tested in kolibri 0.11.1. It is working as expected.

![1](https://user-images.githubusercontent.com/12776071/51595982-f5cee380-1f1d-11e9-9758-1d2119a93142.png)

[2019-01-23 09:53] swapnil106111 commented on #4601
@rtibbles Tested on kolibri-0.11.1. It is working as expected.

When learner has import permission:
![2](https://user-images.githubusercontent.com/12776071/51598128-d4bcc180-1f22-11e9-993d-9ca6bfe1f2bf.png)

When learner has no permission of import:
![1](https://user-images.githubusercontent.com/12776071/51598137-d9817580-1f22-11e9-8dc1-f96cfa4a6058.png)

[2019-01-23 11:06] swapnil106111 commented on #4610
@rtibbles Tested on Kolibri-0.11.1. It is working as expected.

Able to select different question without any hang in kolibri system.
![2](https://user-images.githubusercontent.com/12776071/51602435-f1f68d80-1f2c-11e9-8380-6989693cf7b9.png)

![1](https://user-images.githubusercontent.com/12776071/51602436-f28f2400-1f2c-11e9-8b96-6d93f06b7c94.png)

[2019-01-23 11:09] swapnil106111 commented on #4622
@rtibbles Tested on Kolibri 0.11.1. It is working as expected.

[2019-01-23 11:15] swapnil106111 commented on #4624
@rtibbles Tested on Kolibri 0.11.1. It is working as expected.

[2019-01-23 11:32] swapnil106111 commented on #4623
@rtibbles Tested on Kolibri0.11.1. It is working as expected.

![1](https://user-images.githubusercontent.com/12776071/51603735-a6de7980-1f30-11e9-9727-7bee0540d921.png)

After clicking on video not showing error

![2](https://user-images.githubusercontent.com/12776071/51603745-ae058780-1f30-11e9-8aa3-819a29290dd0.png)

[2019-01-23 21:22] indirectlylit opened #4775 "move Sentry clients to an external plugin"
### Observed behavior

In #4774 we're adding Sentry clients so we can do error tracking. However, most users don't need or want these since we're using it for internal error reporting on our own servers.

We could make this into an external plugin; however this isn't currently compatible with our `pex` format, which is how we deploy our demo servers.

### Expected behavior

These should be contain

[2019-01-23 21:33] lyw07 opened #4776 "can't go to fullscreen on HTML5 Apps and videos"
### Observed behavior

A user reported:

The user is using iPad2 iOS 9.5.3, which does not support the fullscreen API we are using.
See more discussion on slack [here](https://learningequality.slack.com/archives/CB37UM23A/p1548274217334700).

### Expected behavior

Users should be able to view the content/video in fullscreen mode

### User-facing consequences

Users are not able to view the conten

[2019-01-23 21:39] indirectlylit commented on #4624
thanks for following up @swapnil106111 - that's very helpful to us

[2019-01-24 00:27] indirectlylit opened #4780 "regression - learner auto-complete dropdown is excessively wide"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/51646002-8f50c200-1f2b-11e9-915c-eb8e853bcd78.png)

### Expected behavior

dropdown should be the same width as the text field

### User-facing consequences

raised eyebrows

### Errors and logs

none

### Steps to reproduce

* make sure that learners can log in without passwords
* create a learner and try to log in

[2019-01-24 00:53] indirectlylit opened #4781 "regression - setup wizard still has a blue toolbar"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/51646884-531f6080-1f2f-11e9-92d6-a36d82cf8ab3.png)

### Expected behavior

purple

### Context

0.12

[2019-01-24 01:06] radinamatic commented on #4781
Ugh, I thought I reported this last week... Noted it in the integration testing spreadsheet, but didn't file the issue 🤦‍♀️

[2019-01-24 01:11] rtibbles commented on #4781
I also assumed that this would have been fixed by other fixes. Will fix alongside other styling issues.

[2019-01-24 04:19] intelliant01 commented on #4082
@indirectlylit then I fail to understand how is it that topics which are not being selected during the export are still being recreated during import?

[2019-01-24 05:07] indirectlylit commented on #4082
Current implementation is that there's a single indivisible database file for each published version of each channel. This database contains a fixed representation of the entire channel topic structure.

When content is imported, Kolibri copies over the content and then marks which ones are available. The import process currently only knows about channels and content nodes.

Topics are just part o

[2019-01-24 05:36] intelliant01 commented on #4082
If I have understood it correct, then during import of each content node,
it is being checked if the same exists in any of the topic nodes amongst
the channel meta data then the topic nodes gets recreated.

If the above is correct, then simply setting an additional flag on the
topics intended to be exported and additionally checking for its presence
during import should address the issue without a

[2019-01-24 09:31] intelliant01 opened #4782 "Epub render - does not split tables and font resizing issue"
### Observed behavior

1. EPUB files containing tables do not split-render the tables.
2. Font resizing does not work.

Problem can be seen in this capture -

![arryfqrrpl](https://user-images.githubusercontent.com/2577060/51668624-a43f5b00-1fe8-11e9-93ef-a70de6f46230.gif)

### Expected behavior

- Table should be split over multiple pages.
- Font resizing should work

Expected behaviour shown in

[2019-01-24 11:45] nobicycle commented on #4548
Works perfectly. Thank you.

[2019-01-24 15:34] rtibbles commented on #4740
Have replicated this. I have some ideas on how to deal with it, but won't be implemented today.

[2019-01-24 17:45] indirectlylit commented on #4082
I don't personally have a full understanding yet of any competing tensions involved, but once I have a fuller picture I'll share back here

[2019-01-24 17:50] #4602 closed, assigned to rtibbles

[2019-01-24 17:54] #4613 closed, assigned to rtibbles

[2019-01-24 21:50] #4748 closed, assigned to rtibbles

[2019-01-24 21:50] #4781 closed, assigned to rtibbles

[2019-01-24 22:17] rtibbles commented on #4768
Hrm, yeah, this is why I switched to espree for some things, it has better support for later syntax. Will see about migrating all our code to use espree instead of esprima.

[2019-01-24 22:19] rtibbles commented on #4734
Fixed in #4758

[2019-01-24 22:19] #4734 closed, assigned to ralphiee22

[2019-01-24 23:18] aronasorman commented on #4775
When you do this, can you also add support for [sentry environments](https://docs.sentry.io/enriching-error-data/environments/?platform=python)?

[2019-01-25 10:24] mrpau-richard commented on #4751
Fixed in #4772

[2019-01-25 10:24] #4751 closed, assigned to ralphiee22

[2019-01-25 12:02] intelliant01 opened #4790 "Exercises missing when importing from any other peer apart from studio"
### Observed behavior

Trying to import a channel via peer sync i.e. ```Local network or internet``` source, all other content but exercises are being imported. Importing from studio or a thumbdrive then all of the exercises copy fine.

Tried with a few other channels as well which have exercises (For e.g. ```CK-12 > Math > Elementary Math > Grade 1 > Addition and Subtraction facts to 10```). So i

[2019-01-25 16:44] rtibbles commented on #4790
Thanks for the report, this seems very problematic!

[2019-01-25 16:46] rtibbles commented on #4790
One thing I note in the log file is this line:
`ERROR 2019-01-25 16:52:06,943 importcontent An error occurred during content import: File http://192.168.4.34:8080/content/storage/7/3/735d4c10bac106a8a4196f8618207f6b.perseus is corrupted.`
Where an exercise file appears to be corrupted, wondering if this might be causing the issue (or perhaps we are wrongly flagging exercise files as corrupted).

[2019-01-25 17:40] intelliant01 commented on #4790
@rtibbles I had also noticed this. It is possible that this message is in error as I found most of the Perseus based exercises imported correctly but there is no way I can be conclusive on this.

[2019-01-25 17:43] rtibbles commented on #4790
It's possible that the files are being transferred, but because of the error we might not be then making them as imported.

[2019-01-25 20:47] indirectlylit commented on #4775
yeah, good idea.

I was thinking about hooking into the `nutritionfacts` pingback data and sending all of that, including e.g. run mode, channel lists, etc.

[2019-01-25 22:27] indirectlylit opened #4796 "including channel, topic, or content type in search makes results worse"
### Observed behavior

searching for `ck-12 addition overview` gives mostly irrelevant results from KA French, while searching for `addition overview` works fine:

| with channel | without channel |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/51776164-f8ac0e80-20ac-11e9-836b-68d83fcabc2b.png) | ![image](https://user-images.githubusercontent.com/2367265/51776225-285b1680-20

[2019-01-26 01:07] rtibbles commented on #4756
Fixed in #4773

[2019-01-26 01:07] #4756 closed, assigned to ralphiee22

[2019-01-27 04:47] #4768 closed, assigned to rtibbles

[2019-01-27 21:37] #4780 closed, assigned to rtibbles

[2019-01-27 23:53] indirectlylit opened #4803 "some events do not appear to be logged/reported"
### Observed behavior

I tried to trigger 'needs help' events by assigning myself an exercise in a lesson and then getting a number incorrect in a row. Strangely I didn't get either 'started' or 'needs help' events for the "find 1 more or less than a number" exercise on the left:

![image](https://user-images.githubusercontent.com/2367265/51808599-c46e5480-224a-11e9-881f-748114d47069.png)

Even af

[2019-01-28 00:07] radinamatic commented on #4685
Really weird, saw this on develop today, but it also resolved by stopping the server and running `yarn run devserver` again... 😕

[2019-01-28 00:48] indirectlylit opened #4804 "$computedClass warning might be too sensitive"
### Observed behavior

We added a warning:

However I think there might be some cases where it's necessary to use this even without pseudo-selectors:

* I've been having a bit of trouble with CSS specificity rules, which are different depending on whether the style is defined using `:style` vs `:class`. It has been a bit challenging to get the two to have the right precedence related to each other

[2019-01-28 02:38] ryanmavilia commented on #4701
@indirectlylit is this the page you are seeing?
![screenshot from 2019-01-27 21-36-04](https://user-images.githubusercontent.com/1221512/51811623-cb618b00-227b-11e9-97b6-a5050de8ec11.png)

[2019-01-28 10:17] mrpau-richard opened #4806 "Can't identify the subtitle language name at the download content list"
### Observed behavior
The video subtitles display the same file name at the download content list. I can't identify which one I need unless I download and open each subtitle files.

### Expected behavior
The file name of the downloadable subtitles should be the language inside in it.

### Errors and logs
![screen shot 2019-01-28 at 5 25 05 pm](https://user-images.githubusercontent.com/8663934/5182

[2019-01-28 16:55] intelliant01 commented on #4342
@jredrejo I had re-downloaded all the content from Khan Academy version 13 and I may have a copy of that. But can't say for sure if there is still content that is "lost" therein or any "diskspace not freed" as yet.

If you can guide me with the exact steps and the before and after scenarios to note and report, I may be able to help. I can think of noting these prior and after running the test comm

[2019-01-28 18:20] indirectlylit commented on #4806
looks like we need to expose the language, which should be a property of the file already.

from @ivanistheone

from @jayoshih

[2019-01-28 19:26] benjaoming opened #4809 "Code of Conduct has gone missing"
### Observed behavior

I can't find the code of conduct presently. Not sure what happened. It's usually mentioned on the right side when reporting issues, like this:

![image](https://user-images.githubusercontent.com/374612/51860722-b4ce3900-233a-11e9-8b33-4566e58c8727.png)

It also went missing in the docs:

![image](https://user-images.githubusercontent.com/374612/51860756-c6174580-233a-11e9-8e

[2019-01-28 20:31] lauradanforth opened #4810 "Kolibri won't start after importing content"
### Observed behavior
Forum post:
"I installed Kolibri version 0.11.0 on my system (windows 8) which is to serve as a server. the installation went well and Kolibri was working alright. However, I realized that after I downloaded content from a channel, Kolibri has not been able to run again on the same system. what I get is an endless “server is starting…please wait” message and the browser never

[2019-01-28 20:38] indirectlylit opened #4811 "reduce unnecessary calls in coach tools"
### Observed behavior

see for example: https://github.com/learningequality/kolibri/pull/4797#discussion_r251530072

Many of the coach tools 'plan' pages are still using older vuex actions and state. However some of that is now redundant with the `classSummary` module, which is available in every coach page.

### Expected behavior

We should remove unnecessary API calls

### User-facing consequenc

[2019-01-28 21:47] #4716 closed, assigned to indirectlylit

[2019-01-28 21:51] #4660 closed, assigned to jredrejo

[2019-01-28 21:51] #4635 closed, assigned to indirectlylit

[2019-01-28 21:52] #4626 closed, assigned to ralphiee22

[2019-01-28 21:54] #4572 closed, assigned to ralphiee22

[2019-01-28 21:56] indirectlylit commented on #4571
@ralphiee22 @mrpau-dev let's make sure that these notifications are part of our integration testing

@ralphiee22 would you be able to write gherkin stories?

[2019-01-28 21:59] indirectlylit commented on #4082
removing milestone - it wasn't supposed to be targeted to 0.12. Sorry for the confusion

[2019-01-28 22:00] #3556 closed

[2019-01-28 22:00] #3436 closed

[2019-01-28 22:06] #4776 closed, assigned to rtibbles

[2019-01-28 22:12] indirectlylit commented on #4809
removed ['critical' label](https://kolibri-dev.readthedocs.io/en/develop/development_workflow.html#priority) since it's not a blocker for release

[2019-01-29 00:32] indirectlylit opened #4817 "'help needed' is not currently being reported by the class_summary_api for content"
### Observed behavior

Haven't implemented yet:

https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/coach/class_summary_api.py#L27-L34

### Expected behavior

This query runs fairly often, so we need to be careful about performance. Currently 'needs help' would require a join with the attempt logs, which would be run for every single content item in every lesson in the class.

[2019-01-29 00:46] radinamatic opened #4818 "`not a valid content storage filename`"
### Observed behavior

No apparent user facing error, but this `not a valid content storage filename` error appears in the Terminal for both `fonts` and `img`.

Related to #3874?

### Expected behavior

No errors in Terminal.

### User-facing consequences

Nothing apparent.

### Errors and logs

![workspace 1_008](https://user-images.githubusercontent.com/1457929/51876217-c249ea00-235f-11e9-92a9-4

[2019-01-29 00:47] rtibbles commented on #4817
It was my understanding that needs help was being implemented as a notification? Not as an additional field on the summary log, so that it could be contextualized to a lesson if needed?

[2019-01-29 00:47] #4724 closed, assigned to rtibbles

[2019-01-29 00:47] #4725 closed, assigned to rtibbles, jtamiace, khangmach

[2019-01-29 00:53] rtibbles commented on #4817
Will take this on!

[2019-01-29 01:00] radinamatic opened #4819 "Videos not supported in Safari on iPad2"
### Observed behavior

We've lifted the Safari ban, but videos still seem not supported.

![workspace 1_009](https://user-images.githubusercontent.com/1457929/51876623-202b0180-2361-11e9-85e1-40997d3bccf0.jpg)

### Expected behavior

Videos playing without issues in Safari.

### User-facing consequences

Unable to view videos on iPad2.

### Errors and logs

Nothing in Terminal and console.

### St

[2019-01-29 01:10] #4740 closed, assigned to rtibbles

[2019-01-29 01:12] kollivier commented on #4819
Do no videos at all play, or is it only certain videos? In my testing, I was able to play videos on iOS 9.3 (sorry, did not write down the ones I tested, but I do think I checked at least one Sikana video). I do know that different videos use different video and audio encodings, and not all codecs are supported by all OSes and browsers. If it's a codec issue, it will probably have problems in OS X

[2019-01-29 01:18] radinamatic commented on #4819
Tried and failed several KA math videos, haven't had any Sikana to test at that time. Will import and confirm what I find!

[2019-01-29 01:24] kollivier commented on #4819
Also might be worth checking in with Chris Jackson, to see if they're having this problem as well. Could possibly be a simulator issue?

[2019-01-29 01:32] radinamatic commented on #4819
It's possible that it's a simulator issue, Chris Jackson did not report the videos not playing, but they work much more with exercises and HTML books from ASB channel.

[2019-01-29 02:51] #4764 closed, assigned to indirectlylit

[2019-01-29 03:02] #4717 closed, assigned to rtibbles

[2019-01-29 05:42] indirectlylit opened #4821 "running kolibri pex on mac in background mode causes a seg fault"
### Observed behavior

Trying to run the kolibri pex in background mode causes a hard python crash with no script-level errors:

![image](https://user-images.githubusercontent.com/2367265/51886486-e815c580-2344-11e9-8227-4576e57214f1.png)

running with `--foreground` does not have this issue

### Expected behavior

no crash

### User-facing consequences

frustration

### Errors and logs

This is t

[2019-01-29 06:48] indirectlylit opened #4822 "regression: focus outline styling displays when clicking"
### Observed behavior

the styles now appear when you click - sometimes briefly, and sometimes permanently:

![image](https://user-images.githubusercontent.com/2367265/51889336-219efe80-234e-11e9-8060-7867f058521f.png)

### Expected behavior

Outlines should only show when keyboard-tabbing. There is a mechanism in `body` like `modality="keyboard"` or something similar. I don't know offhand which l

[2019-01-29 08:17] MisRob commented on #4329
Hi!

I've been watching you for some time, I appreciate what you do :)! I checked developer docs and now I would like to pick a couple of smaller issues to get acquainted with the project and start contributing eventually when I have some free time - can I assign myself to this one and to some other free issues after this one is done ? Thanks.

[2019-01-29 10:28] mrpau-richard commented on #4810
@lauradanforth you can attach the Kolibri log file here or send it to me at richard@mrpau.com
 .

[2019-01-29 16:03] indirectlylit opened #4823 "regression: 'select all' in quiz creation no longer works"
### Observed behavior

'select all' checkbox has no effect:

![image](https://user-images.githubusercontent.com/2367265/51921334-0b1f9400-239c-11e9-9c3e-68080725b70b.png)

### Expected behavior

either:

should select all items below

### User-facing consequences

confusion

### Errors and logs

…

### Steps to reproduce

* new quiz
* navigate to a topic
* select all

### Context

0.12

[2019-01-29 16:07] indirectlylit opened #4824 "regression: copy quiz and lesson functionality is broken"
### Observed behavior

* copying to another class fails completely
* copying to current class works, but doesn't auto-refresh
* if you enter app directly at the Quiz or Lessons page, the first copy modal doesn't list any classrooms to select from.

### Expected behavior

all copy behavior should work
- [x] copying to another class, ends up with quiz being in the other class
- [x] copying to the cu

[2019-01-29 16:24] indirectlylit opened #4825 "side nav and app bar issues on iOS"
### Observed behavior

* app bar becomes detached while scrolling (see #2279, #4612)
* clicking hamburger icon doesn't work

### Expected behavior

* side nav should be accessible and app bar

### User-facing consequences

cannot use app

### Steps to reproduce

load in iOS, click and scroll

This can be reproduced in browserstack on iOS, but only using http://kolibribeta.learningequality.org (not

[2019-01-29 16:43] indirectlylit opened #4826 "Add write-to-disk watch mode for kolibri tools to allow single origin dev testing."
### Observed behavior

This appears to be due to a browserstack limitation: https://www.browserstack.com/question/758

As a workaround, http://kolibribeta.learningequality.org works fine

Browserstack reports:

We see:

### Expected behavior

Kolibri should load

### User-facing consequences

unable to use on iOS

### Errors and logs

from Browserstack console:

### Steps to reproduce

load kolibr

[2019-01-29 16:54] indirectlylit opened #4827 "make app bar wait a moment before re-appearing when scrolling up"
### Observed behavior

feedback from @khangmach:

### Expected behavior

As implemented, the app bar "hangs out" immediately offscreen when it's hidden, always available to make an appearance. Instead, it should be a bit further away

Specifically, when hidden I think `top: -1 * APP_BAR_HEIGHT`. This could be adjusted to something like `top: -1.5 * APP_BAR_HEIGHT`

### User-facing consequences

ap

[2019-01-29 17:57] jredrejo commented on #4817
@rtibbles

You are right:
https://github.com/learningequality/kolibri/blob/develop/kolibri/core/notifications/api.py#L273-L291

do you want me to add this to the summarylog or are you doing it

[2019-01-29 18:01] indirectlylit commented on #4822
some clues perhaps:

[2019-01-29 18:01] indirectlylit commented on #4822
one thing that's a little tricky is the `modality` switches based on whether the dev tools have focus or not :)

[2019-01-29 18:25] jonboiser opened #4831 "Learner exam reports not showing correct responses and question"
### Observed behavior

Submitted exams with certain content are leading to exam reports with problems:

1. Clicking buttons for other questions does not bring up the next question
1. Questions that should have at least one attempt show zero attempts.

I've seen this with KA english exercises on symmetry and fractions in the India Grade 5 topics.

![exam reports](https://user-images.githubuserconte

[2019-01-29 18:34] indirectlylit opened #4832 "regression: importing progress bar is blue"
### Observed behavior

looks like another dynamic styling issue:

![image](https://user-images.githubusercontent.com/2367265/51931292-48425100-23b1-11e9-9403-b80cd5a29b00.png)

might be easiest to just re-implement this thing

### Expected behavior

kolibri purple

### User-facing consequences

very little

### Steps to reproduce

import content

### Context

0.12

[2019-01-29 20:00] indirectlylit opened #4834 "confusing learner flow through quiz"
### Observed behavior

In this situation, there are 20 questions but only 7 are visible and there is no visible scrollbar:

from @laurenlichtman:

from @micahscopes, slightly related:

### Expected behavior

quiz-taking process should be totally fool-proof

### User-facing consequences

learners may do worse on quizzes than they would have otherwise

### Steps to reproduce

take a quiz with 15 or

[2019-01-29 20:29] indirectlylit opened #4836 "checkbox focus outlines cut off in user management pages"
### Observed behavior

exists in class management, and maybe also group management

![image](https://user-images.githubusercontent.com/2367265/51938112-25b83400-23c1-11e9-85dd-ff529fb6385a.png)

### Expected behavior

not clipped

### User-facing consequences

slight ugliness

### Steps to reproduce

enroll learners in a class using the keyboard

### Context

related:

* #4802
* #4822

[2019-01-29 20:30] indirectlylit commented on #4836
if https://github.com/learningequality/kolibri/issues/4822 is addressed, it will mitigate the effects of this

[2019-01-29 20:37] jredrejo commented on #4823
@indirectlylit  This is due to the use of slots in [CoreBase](https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/CoreBase/index.vue) to render the [ContentCardList](https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/ContentCardList.vue).
The parent component is not [CreateExamPage](htt

[2019-01-29 21:45] jonboiser commented on #4825
The bar moves to the left when the scrolling changes position from fixed to absolute during the scroll. This probably happens because the page is usually bigger than the viewport.

On the profile page, where the main area isn't wider than the viewport, I don't see it move.

[2019-01-29 21:56] jonboiser commented on #4825
As for the hamburger button not working, I think it's the 'scrolling-pane' class interfering with the Side Nav appearing. In browserstack, if you remove the 'scrolling-pane' class from the main div, side-nav appears when you click the hamburger.

[2019-01-29 22:18] indirectlylit commented on #4803
hasn't been reproduced

[2019-01-29 22:18] #4803 closed, assigned to nobody

[2019-01-29 22:47] indirectlylit commented on #4823
I don't think that `CoreBase` slots are related to the problem.

`CreateExamPage` attaches a handler to the `changeselectall` event of `ContentCardList`, and the handler (`toggleTopicInWorkingResources`) is being called as expected.

[2019-01-29 23:12] #4817 closed, assigned to rtibbles

[2019-01-29 23:17] #4824 closed, assigned to jonboiser

[2019-01-29 23:29] indirectlylit opened #4839 "test and addess handling of content that has been removed"
### Observed behavior

In the past we've had problems dealing with data that has been interacted with and then deleted from the server

### Expected behavior

We should test for and then gracefully handle these situations

### User-facing consequences

Deleting content is not an edge case, and the coach reports shouldn't crash if it happens

### Errors and logs

TBD

### Steps to reproduce

* crea

[2019-01-29 23:43] jonboiser commented on #4822
These styles are coming from the theming in `$coreOutline`. Where should these (not) be applied?

[2019-01-30 00:22] indirectlylit commented on #4822
The styling is being correctly applied everywhere.

However, when `body:not([modality=keyboard])`, they should be disabled with `outline: none` as highlighted above. This does not appear to be happening anymore.

I believe the cause might be that I've increased the specificity of the outlines (due to applying theme colors with JS), which is causing them to not be overwritten as expected. Perhaps t

[2019-01-30 00:29] #4831 closed, assigned to indirectlylit

[2019-01-30 05:09] mrpau-richard commented on #4810
Here's the [Kolibri log](https://github.com/learningequality/kolibri/files/2810869/kolibri.log) file I received from @lauradanforth

I see on the log file is that the Kolibri port `8080` is occupied at the last line. There is two options to resolve this.

Option 1: Follow the steps to run the Kolibri server from a different port. https://kolibri.readthedocs.io/en/latest/manage.html?highlight=http_

[2019-01-30 12:53] jredrejo commented on #4823
You are right, devtools debugger cheated me.
The problem was in the way Vue handles reactivity. Created PR to fix it.

[2019-01-30 16:40] jredrejo commented on #4823
Closed by #4841

[2019-01-30 16:41] rtibbles commented on #4823
Oddly, it now takes two clicks off 'select all' to unselect everything..

[2019-01-30 18:00] #4823 closed, assigned to jredrejo

[2019-01-31 19:01] indirectlylit opened #4846 "dynamically disable non-applicable filter items in notifications view"
### Observed behavior

reported by @jtamiace  during an 0.12.0 alpha hack session:

![image](https://user-images.githubusercontent.com/2367265/52078055-22e74b80-2547-11e9-83a8-1dd0a559ef7d.png)

### Expected behavior

@jtamiace correct me if I'm wrong but it sounds like the behavior you expect would be:

### User-facing consequences

extra options that don't do anything

### Steps to reproduce

fi

[2019-01-31 19:28] jtamiace commented on #4846
Yes that would solve this issue since help will never be needed for non-exercises, and will also cover the other cases where the filter would return empty

[2019-01-31 22:45] indirectlylit opened #4848 "spurious 'removed 0 resources' notification"
### Observed behavior

observed by @jtamiace during 0.12.0 alpha 7 testing:

### Expected behavior

Notifications should not be displayed until the user has made a change

### User-facing consequences

possible confusion

### Errors and logs

…

### Steps to reproduce

…

### Context

0.12.0 alpha 5

[2019-01-31 22:48] indirectlylit opened #4849 "z-order issues with exercises during quiz creation"
### Observed behavior

observed by @jtamiace during 0.12.0 alpha testing:

![image](https://user-images.githubusercontent.com/2367265/52090683-ec212d80-2566-11e9-9c8f-353fb55ddbe8.png)

### Expected behavior

Exercises should be hidden below bottom bar.

Note: the easiest way to fix this will _not_ be to play with z-orders because the perseus renderer is too unpredictable. Instead, set an appropri

[2019-01-31 22:57] indirectlylit opened #4850 "add unordered list bullets to 'randomized' version of question list"
### Observed behavior

observed by @jtamiace during hack session on 0.12.0 alpha 5:

### Expected behavior

both lists have bullets

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-01-31 23:16] indirectlylit opened #4852 "'no activity' message is misleading in the dashboard"
### Observed behavior

reported by @jtamiace during hack session:

### Expected behavior

Activity shown in the dashboard should follow these rules:

1. From the server, grab all single-user notifications in a time window that spans from the most recent class event backwards one day
2.  On the client, perform clustering logic to transform single-user notifications into multi-user notifications
3.

[2019-01-31 23:18] rtibbles commented on #4852
I think this could be addressed by using a dynamic, rather than fixed, time window.

[2019-01-31 23:24] jtamiace commented on #4852
Further context: this was when I looked at the Hack session class a day later

[2019-01-31 23:44] indirectlylit commented on #4852
that would also let us fix this without new strings

[2019-02-01 00:08] ralphiee22 opened #4854 "Handle channels that have empty exercises"
### Observed behavior

When using a channel that has empty exercises (aka no assessment items), for example, create exam page will still show the channel but when clicking through does not show the subtopics.

### Expected behavior

Don't show channel or show message that says no exercises/assessment items are available for this channel.

### User-facing consequences

Confusion

### Steps to repro

[2019-02-01 00:11] indirectlylit opened #4855 "uncaught exception related to google chrome autoplay policy changes"
### Observed behavior

We've started getting errors like:

### Expected behavior

* We should investigate the new policy changes and figure out what it means for our UX (cc @jtamiace @khangmach)
* We should ensure that there are no uncaught exceptions

### User-facing consequences

Video autoplay behaviors don't behave as designed

### Errors and logs

[code]

### Steps to reproduce

This appears

[2019-02-01 00:13] rtibbles commented on #4855
When I upgraded video-js I was seeing this a lot, but couldn't find a way to catch it, because it happens during the video js player initialization (and they seem to have designed it this way, and it doesn't seem to affect the running of video-js). Further, as soon as you do any DOM interaction, video-js then starts playing, as that is all is required to unblock Chrome's autoplay policy.

I think

[2019-02-01 00:18] indirectlylit opened #4856 "add handling for 50* errors in API calls"
### Observed behavior

We've been getting [many reports in Sentry](https://sentry.io/learningequality/kolibri-frontend/issues/861530473) like

### Expected behavior

If I'm interpreting this correctly, it appears that the API responded with a 502 - possibly from CloudFlare while the demo servers were being restarted?

Kolibri should have better handling of `50*` errors, perhaps by logging them and

[2019-02-01 00:21] indirectlylit commented on #4855
okay - if it's already been investigated, we can filter them out of sentry

[2019-02-01 00:37] rtibbles commented on #4856
We already log most 50* errors that are indicative of some sort of disconnection state and then fall into disconnection mode, see here:
https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/core-app/client.js#L54
and here for the list of error codes that we handle like this:
https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/disconnectionErr

[2019-02-01 00:42] rtibbles commented on #4856
The fix needed for this issue is to add error handling when the fetch is made. In the case for this particular API endpoint, the lack of a catch and error handling here is the issue: https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/coach/assets/src/modules/coachNotifications/index.js#L67

[2019-02-01 00:46] indirectlylit opened #4857 "users should not be able to get 1000% on an exam, unfortunately"
### Observed behavior

reported by @jtamiace re: @radinamatic's apparent good luck:

![image](https://user-images.githubusercontent.com/2367265/52095361-812c2280-2577-11e9-86d6-8f6cff4e0f5b.png)

### Expected behavior

exams are scored between 0 and 100

### User-facing consequences

????

### Errors and logs

unknown

### Steps to reproduce

see http://kolibribeta.learningequality.org/coach/#/fa4

[2019-02-01 00:49] indirectlylit commented on #4856
Alternatively, maybe it's better to leave them uncaught and continue to receive sentry notifications?

[2019-02-01 00:52] jtamiace commented on #4857
And average quiz score of 550% here
http://kolibribeta.learningequality.org/coach/#/fa4cbfeda32c0c0fbf1832fc1ddd10c3/reports/quizzes

<img width="962" alt="screen shot 2019-01-31 at 4 51 35 pm" src="https://user-images.githubusercontent.com/6668144/52095607-8178ed80-2578-11e9-8af0-9d61193acd4a.png">

[2019-02-01 00:57] indirectlylit opened #4858 "fix icons in Coach tables"
### Observed behavior

Size, spacing, and alignment in Plan:

Missing entirely in Reports:

### Expected behavior

Consistent spacing and sizing everywhere. See the new `LabeledIcon` as a reference (if not implementation), which renders like:

### User-facing consequences

visual inconsistency and missing icons

### Context

k 0.12.0 alpha 7

[2019-02-01 01:23] indirectlylit opened #4859 "follow-up from outline bug fixing work"
### Observed behavior

code could use some cleanup

### Expected behavior

follow up based on comments from @rtibbles and @indirectlylit  in #4847

### User-facing consequences

none apparent

### Context

0.12.0 alpha 7

[2019-02-01 01:23] #4822 closed, assigned to jonboiser

[2019-02-01 01:41] rtibbles opened #4860 "Quiz in indeterminate state in the UI"
### Observed behavior
When editing details from the Quiz reports page, when trying to active a previously inactive quiz, the UI seems to indicate that the quiz is now both active and inactive.

![image](https://user-images.githubusercontent.com/1680573/52097258-2dbdd280-257f-11e9-9f08-bc124599fa71.png)

### Expected behavior
Quiz should be in a determinate state, and be thus represented in the UI.

[2019-02-01 01:43] rtibbles commented on #4860
Upon clicking both of the save buttons, and then refreshing the page, the Quiz now appears to be in neither state, according to the UI:
![image](https://user-images.githubusercontent.com/1680573/52097362-a6bd2a00-257f-11e9-9467-ca5f485c6cb7.png)

[2019-02-01 01:49] rtibbles commented on #4860
Also realizing that this is a mock - the data has not been connected up yet.

[2019-02-01 09:57] jredrejo commented on #4848
@jtamiace I can't reproduce this in develop, can you guide me to try to reproduce it?
I have tried it with alpha5, alpha7 and develop.

[2019-02-01 10:20] jredrejo commented on #4860
This is fixed in #4861

[2019-02-01 10:20] #4860 closed, assigned to rtibbles

[2019-02-01 13:52] cjbamenda commented on #4819
We have not noticed a problem with videos on the iPad2s. The videos we have are from "Hello Channel" English. The grammar videos were re-rendered because they did not work. Someone in LE did this and then reimported them into Studio. I've not noticed the KA English videos not working, nor have heard a complaint. I'm away from the site where it is running this week. When I get back there, I can tes

[2019-02-01 17:38] jtamiace commented on #4848
I've reproduced this in `Plan > New lesson` and `Plan > New quiz`:

1. Go all the way to the preview of a resource
2. Click "Add":
<img width="969" alt="screen shot 2019-02-01 at 9 33 08 am" src="https://user-images.githubusercontent.com/6668144/52139235-681d8300-2604-11e9-8db5-f25de13f93f0.png">

3. Click the back arrow before the snackbar goes away
4. Continue navigating back and forth between "

[2019-02-01 17:50] indirectlylit commented on #4860
is it? I don't recall fixing it

[2019-02-01 18:09] jredrejo commented on #4860
Yep, it's fixed because the part that was causing the problem (edit quiz from a report) has been totally removed :)