[2020-07-21 19:04] jonboiser commented on #7315
My suspicion is that it might have something to do with this handler code

https://github.com/learningequality/kolibri/blob/1ab74fc5b5a907ada4592d8ab1f5897886058e19/kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js#L65-L70

I grepped `CONTENT_UNAVAILABLE` to see where in the code we might redirect to this page. Other places might be at play, but it seems plausible this is it because

[2020-07-21 19:11] rtibbles commented on #7315
Presumably we could put a break point in here in the code, and attempt to replicate to see if this line gets triggered to confirm this? Good sleuthing!

[2020-07-21 20:36] jonboiser opened #7343 "Setup Wizard needs to more strictly enforce "one-way" flow to avoid multiple Facilities being created before provisioning"
### Observed behavior
@nucleogenesis Found [some issues here](https://github.com/learningequality/kolibri/pull/7333#pullrequestreview-452754857) when you quit the Setup Wizard at the very last step of the Facility Import flow. At this point the device has imported a facility but has not been provisioned (meaning its possible to open up the Setup Wizard again in a different browser and create/impor

[2020-07-21 23:08] nucleogenesis commented on #7315
A "fix" --> https://github.com/learningequality/kolibri/commit/0baef4e644e462ed9ea65dc7227afd740d5b74f7

The issue is that whatever is being cached in the `__modelCache` on the `ContentNodeResource` includes only two of the fields `{ id, title }` but we need more than that (namely `channel_id`) to complete the `showTopicsTopic()` handler linked to by @jonboiser above.

So if we bypass the cache it

[2020-07-21 23:14] radinamatic opened #7344 "Linter errors"
### Observed behavior
Encountered when running [`make i18n-download...`](https://github.com/learningequality/kolibri/issues/6796#issuecomment-618216503) and [`make i18n-transfer-context`](https://learningequality.slack.com/archives/CB37UM23A/p1592501101286300), although it's not clear what the errors are.

### Expected behavior
Clean linter pass, or more insightful error output.

### User-facing c

[2020-07-21 23:29] indirectlylit commented on #7343
Previously, I believe we made an explicit UX decision that the _final_ step of the setup wizard would be the _first_ time that the server receives a command. This was decided so that it would be impossible for an end-user to have a "partially-provisioned" server.

[2020-07-21 23:47] radinamatic opened #7345 "Make the last used address/device pre-selected in following imports"
### Observed behavior
[Follow-up from](https://github.com/learningequality/kolibri/pull/7301#pullrequestreview-448553104) #7301

When _Select network address_ modal is opened, it by default has pre-selected the last address that was added, even if the user has used a different one from the list since that last addition.

### Desired behavior

### User-facing consequences
Better UX, less clicks esp

[2020-07-21 23:55] jonboiser opened #7346 "Content Import from a peer Kolibri server does not allow access to private channels via "token""
### Observed behavior

On the Device > Channels page, if you try to import content from a peer Kolibri server on the internet/LAN, the button to import using a "token" isn't available due to this line here

https://github.com/learningequality/kolibri/blob/ea04da8dc3a1d2646ab584d91145b08be274639a/kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue#L234-L237

This was intentional

[2020-07-22 00:02] jonboiser opened #7347 "When enrolling learners to the class, there is no visual feedback while the request is being made"
### Observed behavior

For the Learner-Enrollment and Coach-Assignment workflows, there might be some delay before the request suceeds and the user is redirected back to the Facility > Class page. Some visual feedback that something is happening might be helpful.

### Expected behavior

After clicking the "confirm" button, while waiting for a response from the server:

1. Disable the "Confirm" but

[2020-07-22 00:14] jonboiser opened #7348 ""Restarting" a Task normally means deleting it and triggering a new one with same parameters -> UI consequences"
### Observed behavior

I don't believe there's a way to simply restart a Task once it's in the CANCELED/FAILED status. So to implement the "retry" feature for failed facility syncs/imports, we actually delete the original one and start a new one with data that is tacked on to the task metadata.

Having to do things this way has a couple of consequences for the UI code and actual UX:

1. "Restartin

[2020-07-22 00:28] jonboiser opened #7349 "The wrong message ("select the facility that has...") is used on the Create Account Page"
Screen after clicking "create account". The prompt above the facilities should have a different wording like "associate with this facility..."
![image](https://user-images.githubusercontent.com/10248067/88120247-583a8b80-cb77-11ea-8ebc-23858967490c.png)

I believe it's because of something with this computed property

https://github.com/learningequality/kolibri/blob/ea04da8dc3a1d2646ab584d91145b08

[2020-07-22 13:08] nucleogenesis commented on #7314
@rtibbles unfortunately not but I think I got a solution in #7353

[2020-07-22 13:21] nucleogenesis commented on #7229
@bjester and @rtibbles made some progress figuring this out yesterday and replicating, will bump back up to P0.

[2020-07-22 15:27] rtibbles commented on #7315
Hrm, it sounds like the ancestors fetch is somehow overwriting the main ContentNodeResource cache - we probably didn't see this issue previously, because of the separation of ContentNodeSlimResource and ContentNodeResource, but since I eliminated the former, we are now seeing the issue.

[2020-07-22 15:29] rtibbles commented on #7315
At this point, we should probably remove most of the caching in the APIResource layer - content node stuff is already relying on browser caching so it wouldn't affect that, and I think in the case of most 'editable' interactions, we are already using the 'force' key because of issues like this.

[2020-07-22 17:38] indirectlylit opened #7354 "no indication of coach content during import"
### Observed behavior

channels have coach content, but there is no indicator on the main channel listing

| channel list | channel details |
|--|--|
|![image](https://user-images.githubusercontent.com/2367265/88209204-34bf2180-cc07-11ea-8ed5-0ee1e59caa00.png) | ![image](https://user-images.githubusercontent.com/2367265/88209265-4ef8ff80-cc07-11ea-8895-b29b6072f7f4.png) |

### Expected behavior

s

[2020-07-22 17:39] #7349 closed, assigned to nucleogenesis

[2020-07-22 19:01] indirectlylit opened #7355 "another regression: breadcrumbs lost their underlines"
### Observed behavior

Breadcrumbs lost their underlines:

![image](https://user-images.githubusercontent.com/2367265/88216895-98028100-cc12-11ea-87c8-f4011d2bf57c.png)

### Expected behavior

Underlined:

![image](https://user-images.githubusercontent.com/2367265/88216938-abade780-cc12-11ea-81cb-59779623a262.png)

### User-facing consequences

inconsistent styling

### Context

It appears that th

[2020-07-22 19:04] nucleogenesis commented on #7315
@rtibbles should this be a sweeping change of some kind - or should I apply this fix for the specific issue for now and create a separate issue for a future release to audit and improve our front-end caching?

[2020-07-22 19:07] #6889 closed, assigned to micahscopes

[2020-07-22 20:24] bjester commented on #7355
@indirectlylit Yep, looks like it was introduced there. I made the selector less specific, and that was overriding something removing the underline I guess.

[2020-07-22 20:24] rtibbles commented on #7315
Yes, I think your targeted fix is appropriate for now, I was just flagging future actions!

[2020-07-22 20:56] jonboiser commented on #7315
I just encountered this when clicking the "X" button on the PDF viewer, on dev but it seems stochastic/random (not sure if it always happens).

Viewing PDF from "Kolibri QA channel" in arabic

![image](https://user-images.githubusercontent.com/10248067/88227820-1109d480-cc23-11ea-9a6a-b3ef27808757.png)

[2020-07-22 21:39] #7314 closed, assigned to nucleogenesis

[2020-07-22 23:49] jonboiser opened #7361 "connection failure errors on FacilityAdminCredentialsForm are handled like auth failures"
### Observed behavior

Unable-to-connect errors (e.g. peer went offline suddenly) are displayed as "invalid credential" errors because of the catch-all error handling.

This should be an edge-case because the UI tries to disable peers that are offline, making it hard to get to this state to begin with.

### Expected behavior

1. invalid credential errors and unable to connect errors are handled di

[2020-07-22 23:57] jonboiser opened #7362 "The "Update Your Profile" onboarding would ideally end back at the Learn Page"
### Observed behavior

Currently, if you're a user whose account was created without birth year and gender info provided, you will see the `UpdateYourProfile` modal when viewing the Learn Page for the first time. If you decide to actually do it, this is the path

1. Go to profile page
1. Fill out info and click submit
1. End up on the user page

To get back where you started at the Learn Page, you

[2020-07-23 00:12] jonboiser opened #7363 "CSV user import workflow does not treat the "no change" scenario differently (it should block imports if there are no changes)"
### Observed behavior

Usually (e.g. in the content/lesson/quiz management workflows) if no changes are staged, we block the workflow from going forward. We should do something similar for the CSV user import workflow

![image](https://user-images.githubusercontent.com/10248067/88241200-47a11880-cc3e-11ea-8faa-878b0f88a981.png)

### Expected behavior

Block the user from finishing the "import" wor

[2020-07-23 00:16] jonboiser opened #7364 "Skip-to-content-link is not the first thing tab-focused on some pages (confirmed on Device page)"
### Observed behavior

Skip-to-content link is not the first thing you tab-focus on after clicking a tab link on Device Page (might happen in other places). It does work properly if you refresh the page.

*Needs clarification*: Where else does this happen in the app. It might be due to the "Index" page structure for the Device page.

### Expected behavior

Especially if doing only keyboard navigat

[2020-07-23 06:11] micahscopes commented on #6890
Okay so I just tested this and found that for me, the message pops up but if I actually click the volume button again, it doesn't really close Kolibri.  @jtamiace in your experience, it sounds like the app actually did close?

[2020-07-23 06:17] micahscopes commented on #6890
Ah, I figured out why this is happening.  There's a bug in python-for-android.  Working on it now.

[2020-07-23 15:15] indirectlylit opened #7366 "sign-in cleanup issues"
### Observed behavior

| issue | screenshot |
|--|--|
| 'back' button doesn't work here | ![2020-07-23 08 09 59](https://user-images.githubusercontent.com/2367265/88303667-267f0d00-ccbc-11ea-927c-15d054393396.gif) |
| This should say "Go to home page" using the string from _AuthMessage.vue_ | ![image](https://user-images.githubusercontent.com/2367265/88303774-40205480-ccbc-11ea-83ea-1668718dd441.p

[2020-07-23 15:29] indirectlylit commented on #7355
confirmed that https://github.com/learningequality/kolibri-design-system/pull/83 addresses this issue

I noticed a similar issue in the task manager, and it is not addressed by the PR above. Any chance they're related?

![image](https://user-images.githubusercontent.com/2367265/88304426-1ae01600-ccbd-11ea-8017-33c7614099f2.png)

[2020-07-23 15:54] indirectlylit opened #7367 "scroll follow-up"
### Observed behavior

breadcrumb links still point to the top of the page:

![2020-07-23 08 53 07](https://user-images.githubusercontent.com/2367265/88308592-1538ff00-ccc2-11ea-8c1b-96711498c749.gif)

### Expected behavior

breadcrumb links should have the same anchor target as tree links, namely themselves

we should also add a gherkin story describing the new scroll behaviors

### User-facing c

[2020-07-23 16:19] nucleogenesis commented on #7366
That arrow's spacing is fixed in https://github.com/learningequality/kolibri/pull/7360

Will include string fix and back-button fixes in same PR

[2020-07-23 16:30] bjester commented on #7355
@indirectlylit I would guess yes, as the selector change I was referencing has an `underline` style in the block https://github.com/learningequality/kolibri-design-system/pull/41/files#diff-b154ab58cb2ae36475fb0f933b130bd2

[2020-07-23 16:46] indirectlylit commented on #6227
## Follow-up from bug bashes

### Observed behavior

The user still doesn't immediately see the results of upgrading a channel, and needs to take quite a few actions to import more:

![2020-07-23 09 41 40](https://user-images.githubusercontent.com/2367265/88314084-47019400-ccc9-11ea-923c-996fbe83b894.gif)

### Expected behavior

user should go directly to the import more screen from the previously

[2020-07-23 16:58] #7303 closed, assigned to jonboiser

[2020-07-23 18:20] jonboiser opened #7369 "User should be redirected to "import more/Studio" after upgrading channel to version with new items"
## Follow-up from bug bashes

### Observed behavior

The user still doesn't immediately see the results of upgrading a channel, and needs to take quite a few actions to import more:

![2020-07-23 09 41 40](https://user-images.githubusercontent.com/2367265/88314084-47019400-ccc9-11ea-923c-996fbe83b894.gif)

### Expected behavior

user should go directly to the import more screen from the previously

[2020-07-23 18:28] jonboiser opened #7370 "Use a more specific task-description label for Facility Import (one-way sync) tasks"
### Observed behavior

On the Device > Facilities > Task page, the header on the rows for facility import tasks says `Sync 'Facility name'`

This should be fixable in `syncTaskUtils.js` in one of the Task Metadata -> UI Message utilities, as well as in the `commonTaskStrings` mixin, where a new message would need to be added.

### Expected behavior

On the Device > Facilities > Task page, the head

[2020-07-23 19:05] bjester opened #7372 "Define how to fix resumption of facility syncs to allow cancellation of sync tasks"
### Observed behavior

Morango currently doesn't have the capability to retry sync sessions. As a result, a table which holds transferred data can grow out of hand, creating issues like https://github.com/learningequality/kolibri/issues/7270. We've disabled task cancellation for sync tasks for Kolibri 0.14 release to avoid exacerbating this issue.

### Expected behavior

A device admin should be a

[2020-07-23 19:31] jonboiser opened #7374 "Emphasize "Network address" to "Device" in copy for facility sync workflows"
### Observed behavior

Some background from @jamalex : "Devices" are Kolibri peer servers that have a permanent ID (`instance_id` in Morango and other places) and might have a more transient URL/protocol.

The current UIs emphasize the _address_ as the main entity, instead of the _device_

### Expected behavior

* UI copy for p2p-facility-sync flows emphasizes "Device" over "Address"
* (Bonus) the

[2020-07-23 20:02] #7149 closed, assigned to indirectlylit

[2020-07-23 20:09] #7117 closed, assigned to jonboiser

[2020-07-23 20:09] #7153 closed, assigned to jonboiser

[2020-07-23 20:15] jonboiser opened #7376 ""Continue" button on Select Address Modal is not disabled when there are no selectable options"
### Observed behavior
From @micahscopes comment https://github.com/learningequality/kolibri/pull/7350#pullrequestreview-453915802

![88273510-e6119600-cc9f-11ea-9f46-f28af05eb646](https://user-images.githubusercontent.com/10248067/98314412-c706ed80-1f8a-11eb-9c1c-b27f9b90c8c1.gif)

In this video, the "Continue" button is enabled at the peer-discovery phase even though there are no enabled Devices/

[2020-07-23 20:39] #7320 closed, assigned to lyw07

[2020-07-23 20:43] indirectlylit opened #7377 "test preemptively merged PR"
merged https://github.com/learningequality/kolibri/pull/7371 without testing.

this is a note to test before final release

[2020-07-23 20:44] rtibbles commented on #7294
I have replicated this and it seems to be two issues, neither of which are terribly high impact for users, thankfully.

The first issue is that some of our frontend bundles (namely the nav items and our JS browser compatibility check) do not use `kolibri_module.js` or something that imports that as their base. As a consequence, the webpack public path is not properly set, and source maps are loade

[2020-07-23 20:57] jonboiser commented on #6227
I renamed this issue to make the new annotation stuff in #7274 the "closing" PR. #7369 is a simpler issue just to fix the post-upgrade navigation issue.

[2020-07-23 20:57] #6227 closed, assigned to rtibbles

[2020-07-23 21:08] indirectlylit opened #7378 "On Safari/Mac App/Webkit, `KLabeledIcon` `width: 100%` rule does not take full width of parent, causing text to wrap"
### Observed behavior
Also occurs in user drop-down menu
![image](https://user-images.githubusercontent.com/2367265/88338850-d5880c80-cced-11ea-91a5-c338e118b14d.png)

### Context

MacOS Safari and Mac app

Kolibri 0.14 b13

[2020-07-23 21:37] lyw07 opened #7379 "incompatible code between the kolibri source code and kolibri sentry plugin"
### Observed behavior

On kolibri-beta server that uses sentry plugin, the upgrade to the latest beta failed

### Expected behavior

upgrade should be successful

### User-facing consequences

can't upgrade the beta server to the latest beta

### Errors and logs

[code]

### Steps to reproduce

…

### Context

0.14.0b14

[2020-07-23 22:32] jonboiser opened #7380 "Non-superuser Facility admins can't use the p2p sync workflow on the Facility > Data Page"
### Observed behavior

Non superuser admins do not have the permissions to get NetworkAddresses → Sync Modal does not work for them. Originally this was a superuser permission since it was tied exclusively with content import/export

See in the picture that the call to the endpoint is returning a 403 code -> most likely insufficient permissions

![image](https://user-images.githubusercontent.com/1

[2020-07-23 22:37] jonboiser opened #7381 "Intermittently missing "All classes" back link on coach pages"
### Observed behavior

There's no link back to "All classes" although I'm pretty sure "Hack session school" has multiple classes

![image](https://user-images.githubusercontent.com/10248067/88345085-0e2de300-ccfa-11ea-9168-95851aa147ca.png)

Other details:

* This class was initially imported with a facility from a different server
* The full class list is still accessible, but you have to find it

[2020-07-23 22:43] jonboiser commented on #7378
Here are more examples from @jtamiace , they seem to also be related to the Labeled icon component.

![image](https://user-images.githubusercontent.com/10248067/88345629-35d17b00-ccfb-11ea-899f-a330d38bb43f.png)

[2020-07-23 23:08] rtibbles commented on #7379
The import is still there, I think the issue is from this commit:

https://github.com/learningequality/kolibri/commit/48ae5e7e2f0eaa504520cdb906c96c67da45cee0#diff-601cde52caf17fa9d77c64ca9e73e927R14

The import needs to be done inside the scope of the calling function instead, as this is resulting in circular import issues, I think.

[2020-07-23 23:54] nucleogenesis commented on #7367
I've tried a few channels and I'm not able to replicate on beta14. Tested on Firefox & Chrome on Debian.

![ezgif-7-2b1e8cf4c6ee](https://user-images.githubusercontent.com/6356129/88349491-235c3f00-cd05-11ea-9b19-74eb34ddf1c2.gif)

[2020-07-24 13:10] nucleogenesis commented on #7381
@jonboiser Do you see any console errors there?

I'm not seeing this on 0.14 with the same imported facility on any of the classes.

[2020-07-24 13:14] nucleogenesis commented on #7378
@jonboiser @indirectlylit

I don't have a Mac so I cannot be 100% sure this fix works, but it seems like it is the culprit.

I believe this will be fixed with: https://github.com/learningequality/kolibri-design-system/pull/83

To test, change your Kolibri package.json entry for KDS to: "kolibri-design-system": "github:nucleogenesis/kolibri-design-system-1#0.14-pre-release-bugs" then `yarn install

[2020-07-24 13:31] nucleogenesis commented on #7355
@bjester @indirectlylit that was just an inconsistent implementation of the same kind of thing, but not the same thing (not using `<KRouterLink>` since it's been updated.

See: https://github.com/learningequality/kolibri/pull/7383/commits/ea7154ac852e009484e0fd48b8736cd173d69e18

[2020-07-24 15:34] #7367 closed, assigned to micahscopes

[2020-07-24 16:04] jredrejo opened #7384 "Upgrading between beta versions didn't update the static folder at KOLIBRI_HOME"
### Observed behavior

After upgrading from 0.14beta13 to 0.14beta14 all the clients lost the connection and began to show the kolibri loading screen.
After checking it, the static folder at KOLIBRI_HOME didn't have an update version of the js and css bundles.

To solve it, `.data_version` file and the previous `static` folder was deleted. After restarting kolibri , everything began to work again

[2020-07-24 17:54] jonboiser commented on #7381
No console errors, but I did confirm that it's kind of random.

It's not there 100% of the time if I refresh on the Home Page.

It's not there if I go directly from All Classes > Jessica's Class on the first load, but is there a little less than 100% (90%?) of the time if I go back and forth between those two pages.

So my hunch is that it must be some kind of race condition in loading the total n

[2020-07-24 19:25] jredrejo opened #7385 "Running kolibri in dev mode, with redis cache breaks it all"
### Observed behavior
When redis is set as the cache backend,
running
`yarn django-devserver `
does not work

### Expected behavior
Dev mode should work correctly

### User-facing consequences
None, it only affects to poor developers

### Errors and logs
[code]

### Steps to reproduce
1. Edit `options.ini `to add
[code]
2. `run yarn django-devserver`

### Context
Relates to #7300

The problem reli

[2020-07-24 19:38] jonboiser commented on #7036
I'm having a hard time finding a newbie-level tutorial on this, but I think if you can somehow provide an OpenAPI schema for these endpoints (maybe in some external YML file?), Swagger will be able to show it on its API explorer.

It might also be beneficial just do the work and making really basic Serializer classes for these endpoints, instead of sending these `Response(dictionaryLiteral)` type

[2020-07-24 22:00] indirectlylit opened #7386 "create a reusable 'New' badge component"
### Observed behavior

as of https://github.com/learningequality/kolibri/pull/7368 the 'New' label is used in 3 places, with duplicated styling and strings:

### Expected behavior

badge should be be a re-usable core component

### Context

0.14.0

[2020-07-24 22:46] jonboiser commented on #7380
Pretty close: the endpoint requires the "Can manage content" permission.

https://github.com/learningequality/kolibri/blob/f9e427b564c858de8dcc75d19a283d7cce87758e/kolibri/core/discovery/api.py#L14-L20

I guess I should add an admin-specific permissions class to the disjunction here.

[2020-07-24 22:47] jonboiser commented on #7380
And unfortunately, the TaskViewset has the same permissions, so these need to be opened admins too (to access the Start KDP/Peer sync methods)

https://github.com/learningequality/kolibri/blob/f9e427b564c858de8dcc75d19a283d7cce87758e/kolibri/core/tasks/api.py#L183-L194

[2020-07-25 19:59] jamalex opened #7389 "Django REST Framework does not check CSRF token on endpoints not requiring authentication"
### Observed behavior

It appears that DRF accomplishes its CSRF-checking as part of the `SessionAuthentication` authentication class:
https://stackoverflow.com/questions/49275069/csrf-is-only-checked-when-authenticated-in-drf

This means that endpoints that allow anonymous POST requests aren't CSRF-protected. This generally isn't a _huge_ deal, since the point of CSRF protection is to prevent som

[2020-07-27 12:44] mrpau-richard opened #7390 "EPUB content not properly displayed on IE11"
### Observed behavior
EPUB content not properly display on IE11 after I upgraded from Kolibri 0.12.9 to 0.14.0-beta12

This is the EPUB display on IE11
![Screen Shot 2020-07-27 at 8 20 30 PM](https://user-images.githubusercontent.com/8663934/88541642-b4098680-d047-11ea-92c2-bc7c9db34385.png)

and this is on Chrome
![Screen Shot 2020-07-27 at 8 22 05 PM](https://user-images.githubusercontent.com/86

[2020-07-27 17:36] rtibbles commented on #7197
One replication of this has been pinpointed by @aronasorman as being due to attempting to import a channel database that had channel metadata, but no contentnodes - although this was on a PostgreSQL backed instance, whereby the attempt to import the channel metadata produced foreign key constraint violation because the contentnodes were not present.

[2020-07-27 17:37] rtibbles commented on #7197
I think the issue in the frontend is failing to handle channel metadata import failure properly.

[2020-07-27 17:51] #6971 closed, assigned to nucleogenesis

[2020-07-27 17:52] #7315 closed, assigned to nucleogenesis

[2020-07-27 19:29] lyw07 commented on #6466
I'm able to reproduce this issue by going to the `Recommended` tab on our main kolibri demo server. My guess is that the the request URL for `contentnodeprogress` endpoint is too long with the number of node ids.
The error in the console:
<img width="1180" alt="Screen Shot 2020-07-27 at 12 19 41 PM" src="https://user-images.githubusercontent.com/19424916/88583153-b26a9f00-d004-11ea-847d-e46557fad7

[2020-07-27 22:48] nucleogenesis commented on #7381
@jonboiser I've tried a bunch of different ways to get the link to stop appearing but I cannot. Perhaps I'm not understanding your replication instructions?

I've refreshed, went back and forth between pages, loaded straight to All Classes, Reports, Plan - then refreshed and/or navigated back to All Classes never seeing the reported error in Chrome or Firefox. I also slowed my network down in dev

[2020-07-27 22:55] jonboiser commented on #7381
Okay, I'm still able to reproduce this pretty reliably, but I'm sure it's specific to my machine/data. Let's move this out of the milestone until I can figure out what is going on on my end.

[2020-07-28 02:03] #7142 closed, assigned to jonboiser

[2020-07-28 07:44] cjbamenda commented on #7267
@rtibbles

Want to report that thus far with beta14, it appears this problem has been solved. I discovered as well with @jredrejo that the redis cache was filled which was causing Kolibri to hang and become unresponsive. Clearing the redis db has solved that problem.

[2020-07-28 12:03] mrpau-richard opened #7394 "App content reading rage not working on IE11"
### Observed behavior
App content reading rage not working on IE11.

![gif-temp](https://user-images.githubusercontent.com/8663934/88662394-79b5ed00-d10c-11ea-88c9-6db877d45e88.gif)

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

Tell us about your environment, including:
 * Kolibri version: 0.14.0-beta12
 * Operating syst

[2020-07-28 12:30] mrpau-richard opened #7395 "Can't play audio content on IE11"
### Observed behavior
Audio content not working on IE11. But I tested the same content on Chrome and FF the Audio file can play there properly.

This is the Audio content Display on IE11 that's not working
![Screen Shot 2020-07-28 at 8 13 11 PM](https://user-images.githubusercontent.com/8663934/88664560-d1098c80-d10f-11ea-8937-405d39d8f82c.png)

And this is on Chrome and Firefox the same Audio fil

[2020-07-28 15:15] rtibbles commented on #7267
@jredrejo do we need a follow up issue to more gracefully handle the redis cache being full, or does @bjester's work handle that case better already?

[2020-07-28 15:48] #7369 closed, assigned to jonboiser

[2020-07-28 16:16] bjester commented on #7267
@rtibbles My thoughts are that it does. I think we should greatly encourage setting the `maxmemory` and `maxmemory-policy` settings either through the Kolibri `options.ini` or through the redis configuration file, usually at `/etc/redis/redis.conf` or `/etc/redis.conf`. From an application perspective, I think errors arising from a full redis cache should be fatal in nature since the cache is only

[2020-07-28 16:18] rtibbles commented on #7267
OK, let's close this issue for now then, we can reopen if it becomes apparent we are not handling it gracefully enough!

[2020-07-28 16:18] #7267 closed, assigned to rtibbles

[2020-07-28 16:25] rtibbles commented on #7379
This is not the case - must be something else.

[2020-07-28 17:34] jonboiser opened #7397 "Exit link at Select Content Page should be different if arriving from the New Channel Version Page"
In #7387, we redirect users to the Select Content (from Studio) Page (SCP) after the user confirms they want to update a channel.

With this new navigation, the immersive toolbar's back button at the SCP (possibly unexpectedly) goes to Available Channels Page after use is redirected there.

Steps to reproduce:

1. click "update" button on new version page
1. get redirected to the "Select content p

[2020-07-28 18:17] nucleogenesis commented on #7125
Closed with above merges.

[2020-07-28 18:17] #7125 closed, assigned to bjester, rtibbles

[2020-07-28 18:20] nucleogenesis commented on #7266
Seems to be related to time limit settings - 1 min vs 1.5 mins vs 5 mins?

If we're doing time based, we could do a half-progress at half-time. Per @kollivier it's a setTimeout in JS so when it fires it reports progress.

[2020-07-28 18:22] jonboiser commented on #7327
There's a pretty good chance this does happen for Lessons because how we store lesson resources as a simple array of IDs and then replace-and-save the entire thing once the Coach begins the Manage Resources workflow.

But this would only happen if the Manage Resource workflows does some kind of immediate "cleanup" (e.g. remove IDs because they are not annotated as "available"). Otherwise, it might

[2020-07-28 18:25] nucleogenesis commented on #6890
Notes from Kolibri Tactical today:

Per @kollivier - we need to change the build process to clean out the existing build if the Android App wrapper dealy - not super familiar how to do that on the docker side. Can probably now - since it's disconnected from main Kolibri pipeline - it's probably okay to add a clean command to each build.

Per @DXCanas - can easily do this but questions about ideal

[2020-07-28 19:21] jonboiser commented on #7374
@indirectlylit

All of the copy in the "Select Network Address" modal use the "address" terminology, so there's no way we can swap them out with messages from a different component.

https://github.com/learningequality/kolibri/blob/96ff5f3d00bb79cdefad139a67f33160f751d5db/kolibri/core/assets/src/views/sync/SelectAddressModalGroup/SelectAddressForm.vue#L334-L341

I would suggest maybe making these

[2020-07-28 20:00] jonboiser opened #7399 "Several visual issues (alignment, spacing, etc.) in Coach Page"
Here are some screenshots from the Coach Page at 0.14.0b13 on Chrome. The issues are annotated within the screenshot. The "pesticide" chrome extension is active to make it easier to see the issues.

![image](https://user-images.githubusercontent.com/10248067/88714388-9e40a380-d0d1-11ea-9b06-9b7ac4b38119.png)

![image](https://user-images.githubusercontent.com/10248067/88714488-c203e980-d0d1-11ea-8

[2020-07-28 20:04] jonboiser opened #7400 "Possible mismatch between "mastery criteria" for Learner and "completion requirement" in Coach Page"
### Observed behavior

This is from a pretty standard lesson with a KA exercise. As a learner, I see that the "mastery criteria" is get 5 of 7 correct:

![image](https://user-images.githubusercontent.com/10248067/88715345-a816d680-d0d2-11ea-95df-0809da4a05c3.png)

But on the coach report for this page, I see something different in the "completion requirement"

![image](https://user-images.githubus

[2020-07-28 20:25] radinamatic commented on #7400
Ugh, confusing... :disappointed:

[2020-07-28 21:24] #7379 closed, assigned to rtibbles

[2020-07-28 23:20] jonboiser commented on #7327
@rtibbles Mentioned that some filtering of the `Lesson.resources` array might be happening whenever it is updated due to some new validations that will not permit its entries (content node IDs) to be added to the array if they do not exist in the ContentNode table.

The suggested fix was to remove this validation for now, but we need to make sure this doesn't end up breaking the frontends for less

[2020-07-28 23:23] #7355 closed, assigned to nucleogenesis

[2020-07-29 03:52] radinamatic opened #7404 "500 error when trying to edit details or copy the lesson, a.k.a. 'adhoclearnersgroup' woes"
### Observed behavior

Seems impossible to edit lesson details or copy it elsewhere. All resources are present on the facility, and the lesson is assigned to entire class.

### Expected behavior
Ability to edit & copy the lesson.

### User-facing consequences
Troubled coach.

### Errors and logs

[code]

![LEDev20 04 (start)  Running  - Oracle VM VirtualBox_894](https://user-images.githubuserconte

[2020-07-29 03:59] radinamatic commented on #7404
Can't create a group either, dev env seems not to be a good place to grab the latest screenshots :disappointed:

![Selection_896](https://user-images.githubusercontent.com/1457929/88755132-aeec2a80-d160-11ea-8073-78b93238faa7.png)

[2020-07-29 12:34] nucleogenesis commented on #7266
@rtibbles @kollivier

This is the offending code below:

https://github.com/learningequality/kolibri/blob/2c5e52bd7c64cd0a9ec4916b36865358ec624ccd/kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue#L148-L162

You'll see that we're checking `totalTime / 3,000,000 [aka 50 minutes]` so I made a PR changing that time to 300,000 [5 mins]. https://github.com/learningequality/kolibri

[2020-07-29 15:12] jredrejo commented on #7377
Tests and comments done in #7371
@bjester did you create a PR to solve the small issue we commented?

[2020-07-29 15:37] kollivier commented on #7266
Oof, good catch, thanks! That would definitely cause a problem...!

Re: progress events / completion messages, for HTML5 apps I think the way forward would be to leverage SCORM and, for content we choose is worth the effort of adding progress tracking, we should just add a JS SCORM wrapper and send progress messages using that. Of course, someone has to go into the content source and make those mo

[2020-07-29 16:35] bjester commented on #7377
@jredrejo Not yet, but it's super simple. I'm trying to wrap up something else today before I'm OOO Thursday and Friday

[2020-07-29 17:25] #7032 closed, assigned to jonboiser

[2020-07-29 17:57] nucleogenesis commented on #7366
@indirectlylit the back button issue is a bit complicated but basically, every KRouterLink is pushing to the history rather than replacing the route.

Issue in KDS: https://github.com/learningequality/kolibri-design-system/issues/85

Even when I tried it locally and played with that, the way history was stacked got really wonky going back and forth.

I'd consider it to be a bit of an edge case to

[2020-07-29 18:14] nucleogenesis commented on #7266
Fixed in #7405

[2020-07-29 18:14] #7266 closed, assigned to rtibbles, nucleogenesis

[2020-07-29 19:03] nucleogenesis commented on #7139
@indirectlylit was this addressed with your channel list layout updates?

I didn't realize I'd never responded here. For the record, a KImg type component issue is slated for upcoming major in KDS https://github.com/learningequality/kolibri-design-system/issues/23

I'll try to coordinate discussions around what such a component ought to do and ought not to do.

In the mean time, if @indirectlylit

[2020-07-29 19:40] DXCanas commented on #6890
Good news is that this was really easy to do - the distribution that p4a generates lives in a subfolder inside of `~/.local`, which is bound at runtime to a Docker volume named `p4a_cache` (suffixed with architecture, which is new).

No longer caching could be a reasonable solution, as the Android build runs much less often now. The main reason it's cached this way is that p4a downloads things and

[2020-07-29 19:58] rtibbles commented on #7404
In examining the database that produced this error, what appears to have happened is that the `tree_id` value of the Facility object in question has been set to `3`, while the `tree_id` value of all its descendant collections is set to `1`.

I am not entirely sure what would have caused this, but this database has engaged in syncing, which seems like the likeliest candidate.

[2020-07-29 23:52] jamalex commented on #7404
I played with this database a bit and then tried to replicate this with a variety of syncing scenarios, and couldn't. I think it may have been the result of an earlier beta before some additional fixes went in on top of some morango changes. In order to repair this database for further use, you should be able to do:
```echo "from kolibri.core.auth.models import Collection; Collection.objects.rebui

[2020-07-30 00:30] radinamatic commented on #7404
@jamalex This was not the DB from an installed beta, but running on my own development server. I have several VMs used in testing between which I run import & sync scenarios, and this particular facility (_DistrictSchool16_) was most probably created from scratch on my dev machine, imported to several other VM devices, and later synced several times.

Error was extant on the latest upstream from 0

[2020-07-30 02:08] #7229 closed, assigned to rtibbles

[2020-07-30 05:46] intelliant01 opened #7410 "Import facility not working through setup wizard"
### Observed behavior

Tried importing facility from an existing one using the setup wizard on a new 0.14b14 setup.

Front end shows an invalid credentials error as below but that is not correct as have reverified the credentials and have tried both of super admin as well as facility admin.

![Screenshot_2020-07-29 Setup Wizard](https://user-images.githubusercontent.com/2577060/88769956-b9c3b100-d

[2020-07-30 12:07] mrpau-richard opened #7411 "Broken no compatible source was found video window on Firefox 79"
### Observed behavior
Broken no compatible source was found video window on Firefox 79.

This is the comparison between Firefox and Chrome with the same video content.
![gif-temp](https://user-images.githubusercontent.com/8663934/88920364-4c4d7880-d29f-11ea-90a0-1c944c20ffc6.gif)

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce
* Assuming t

[2020-07-30 15:24] radinamatic commented on #7411
@mrpau-richard Did you install the [`restricted-extras`](https://help.ubuntu.com/community/RestrictedFormats) package on that Ubuntu VM?

[2020-07-30 16:31] jonboiser commented on #7410
@bjester Could you take a look at this? These lines in the logs stand out to me

[code]

[2020-07-30 17:19] jonboiser commented on #7410
I also came across this issue, but my situation might have been a little different. I think what I did was first `kolibri manage deprovision` my server and try to re-import a facility I had before i deprovisioned. I assumed that the auth failure was because I had some residual data in my server, so deleted my `KOLIBRI_HOME` folder and was able to do the Setup Wizard without problems.

I don't thin

[2020-07-30 17:30] #7380 closed, assigned to jonboiser

[2020-07-30 17:37] jamalex commented on #7404
Right, what I meant was, I think the data corruption seems likely to have happened in an older beta. The new beta won't itself fix the data that's already corrupted, but hopefully this type of corruption wouldn't newly occur within the latest beta.

[2020-07-30 17:58] nucleogenesis commented on #6982
Note by @jonboiser that we would probably want a large channel (content count, tree size) but with small content size.

Also, noting that, above,  @rtibbles has described the solution:

[2020-07-30 18:01] #7404 closed, assigned to rtibbles

[2020-07-30 18:02] #6890 closed, assigned to micahscopes

[2020-07-30 18:04] #7366 closed, assigned to nucleogenesis

[2020-07-30 18:06] jonboiser commented on #7327
Just confirmed that there is this validation on the `LessonSerializer`

https://github.com/learningequality/kolibri/blob/594f2f81cc67f1d79cc0480125b496a6265d5a2f/kolibri/core/lessons/serializers.py#L67-L88

This makes it seem like that rather than losing content, it might be impossible to save a Lesson if it is synced and some of the resources are missing.

One solution would be to remove this val

[2020-07-30 18:08] radinamatic commented on #6509
![Selection_893](https://user-images.githubusercontent.com/1457929/88958165-60de4080-d2a0-11ea-8d41-02081ea81ca6.png)

![Selection_892](https://user-images.githubusercontent.com/1457929/88958161-5fad1380-d2a0-11ea-8a11-e9bde418d19f.png)

[2020-07-30 18:21] jamalex commented on #7410
- It looks as if the `ScopeDefinition` fixtures have not yet been loaded by this point.
- There are two places the loading of them gets triggered:
    1. [When the `sync` management command is run](https://github.com/learningequality/kolibri/blob/99058836c797184086596794497814e166499c9e/kolibri/core/auth/management/commands/sync.py#L108)
    2. When the [database is auto-migrated](https://github.c

[2020-07-30 18:27] jonboiser commented on #7410
In the Setup Wizard, we do call the `sync` command via the `/api/tasks/startpeerfacilityimport` endpoint, but with an extra `--no-provision` flag to delay provisioning until the full setup is done.

https://github.com/learningequality/kolibri/blob/594f2f81cc67f1d79cc0480125b496a6265d5a2f/kolibri/core/tasks/api.py#L877-L893

[2020-07-30 18:36] jamalex commented on #7410
Ah, ok -- but the error is being raised in `validate_and_prepare_peer_sync_job`, which happens before that (but relies on the fixtures having been loaded). Perhaps, as an extra safeguard, we should run the fixture loading in `validate_and_prepare_peer_sync_job` as well.

[2020-07-30 18:39] radinamatic commented on #7404
Gotcha, thanks for clarifying! :crossed_fingers:

I'll reopen if I manage to step into this mudhole again :stuck_out_tongue:

[2020-07-30 18:40] jonboiser commented on #7410
So we do the authentication first because it a requirement for us because we wanted this endpoint to fail immediately with a 40x error instead of successfully create queue the `sync` call and wait for it to fail.

So yeah we should add whatever we need to `validate_and_prepare_peer_sync_job` to do the same preparation as we would by running `sync` on the terminal.

[2020-07-30 20:09] jamalex commented on #7410
Sounds good. Should be enough to add:
`call_command("loaddata", "scopedefinitions")`
at the start of that function, before you start calling morango APIs.

[2020-07-30 22:02] rtibbles commented on #7327
Have done some further investigation here, and the frontend does remove items that are not available if the items that are visible are reordered.

If you then try to manage resources when one is missing, a 404 fetching the resources results in breakage of the app.

[2020-07-30 22:49] rtibbles commented on #6982
I realized after the discussion above, that this was also solved by #7274 - where it explicitly uses batching to prevent these kind of errors from occurring. However, there is still an extant issue for regular content import that could still be triggered.

[2020-07-30 23:16] jonboiser commented on #7327
Could we do something simple like disable the lesson editing stuff if there is a single missing resource? e.g. disable the "Manage resources" button and the "resource reordering" controls.

[2020-07-30 23:29] #7304 closed, assigned to rtibbles

[2020-07-31 03:31] intelliant01 commented on #7410
@jamalex the client device into which the import is being attempted is a pristine Postgres db initialised using `kokibri manage migrate --skip-update`.
The source server from which the facility is being imported has a Sqlite to Postgres migrated db.

[2020-07-31 04:35] arky opened #7427 "Syntax error in Kolibri with Python 3.8"
Installing kolibri-server(0.3.6-0ubuntu1) package on Ubuntu LTS prints following errors to stdout. The installation continues after the errors.

[code]
$ python --version
Python 3.8.2

$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.1 LTS
Release:	20.04
Codename:	focal

[2020-07-31 06:56] jamalex commented on #7410
Ah, it's probably the --skip-update that prevented the fixtures from being
loaded during the run of the migrate command.

On Thu, Jul 30, 2020, 8:31 PM Shrenik Bhura <notifications@github.com>
wrote:

[2020-07-31 07:34] intelliant01 commented on #7410
Verified. `--skip-update` is the problem. Works fine when it is not used.

Apologies as was not aware of its implications. Please guide me to some documentation about the same as it is not available via `kolibri manage help migrate`.

[2020-07-31 07:56] mrpau-richard commented on #7411
I did not install the [restricted-extras](https://help.ubuntu.com/community/RestrictedFormats) when I'm having this issue @radinamatic. The issue I'm pointing is the video window is broken when that package is not installed.

The video will played properly after I installed the package.
![Screen Shot 2020-07-31 at 3 54 30 PM](https://user-images.githubusercontent.com/8663934/89013254-27601080-d346

[2020-07-31 10:38] radinamatic commented on #7411
Thank you @mrpau-richard. This is a known licensing issue ever since... well KA Lite, actually (for us at least), and the workaround is documented in our user guide.

Going to close this, as not a Kolibri issue per se.

[2020-07-31 10:38] #7411 closed, assigned to nobody

[2020-07-31 16:20] jredrejo commented on #7427
Hello @arky
I am not able to reproduce this issue at any way.
In the traceback you provided there's not any file related to kolibri, only some Python libraries that seem to have a problem with your system timezone or locale.

Could you:
a) try to install just kolibri and start it, to check if the problem is in some of the kolibri libraries?
b) try to execute `sudo tzconfig` & `sudo dpkg-reconfigur

[2020-07-31 16:35] intelliant01 commented on #7427
@jredrejo This doesn't seem to be a kolibri-server specific issue but more generic related to kolibri libraries. I have been seeing these Syntax warnings across several of my test installations on Ubuntu 20.04 when starting kolibri-server and / or executing `kolibri manage` commands -

[code]

[code]

[code]

[2020-07-31 17:26] jredrejo commented on #7427
ok, then after all the warnings, does `kolibri-server` work properly?

[2020-07-31 17:58] intelliant01 commented on #7427
For me, it does seem that this doesn't impact `kolibri-server` but this may have implications related to kolibri's functioning.

[2020-07-31 18:25] intelliant01 opened #7415 "Sync status as 'Never synced' on Linux"
### Observed behavior

The sync status is always `Never synced` on Linux systems whereas it shows the correct status on Windows.

![sync_status](https://user-images.githubusercontent.com/2577060/89064334-71b5b180-d387-11ea-9df9-75cbaa6c7775.gif)

### Expected behavior

Correct sync status should be visible as it is on Windows -

![image](https://user-images.githubusercontent.com/2577060/89064522-c

[2020-07-31 18:47] jamalex commented on #7410
This should be fixed by https://github.com/learningequality/kolibri/pull/7414 (which adds extra safeguards for handling special cases like this).

The `--skip-update` option isn't specific to `migrate`, it's a [Kolibri CLI option](https://github.com/learningequality/kolibri/blob/30885472fc35d4306791eb2ed896a08b7de73168/kolibri/utils/cli.py#L155). It's not documented because it wouldn't typically b

[2020-07-31 18:47] #7410 closed, assigned to jonboiser

[2020-07-31 19:06] arky commented on #7427
@jredrejo This error returns an non-zero exit code that causes build failure. I have patched the build script to ignore these errors for now.

These errors are seen Ubuntu LTS machine with en-us locale.

I'll investigate if they are any problems with the operation of kolibri-server and report back here. Thanks!

[2020-07-31 19:08] jonboiser commented on #7415
This is a guess, but the errors in Linux related to the `tzlocal/unix.py` library might be related to the incorrect syncing information, since the `last_synced` field on `FacilityViewset` (which underlies the data on these screenshots) depends on interpreting and sorting by DateTimes

https://github.com/learningequality/kolibri/blob/5cd3b24230c6a360e96fd0faed19f108c9faf83e/kolibri/core/auth/api.py

[2020-07-31 22:00] indirectlylit commented on #7139
sorry never replied. I did not address it, no

[2020-07-31 22:16] indirectlylit commented on #7378
thanks, will test this

[2020-08-01 00:15] indirectlylit opened #7417 "unclear how to reset channel data cache"
### Observed behavior

I tried manually editing channel title.

Now I'm getting two different values, and can't get the new title to appear on the Learn page:

![2020-07-31 17 07 18](https://user-images.githubusercontent.com/2367265/89089270-59c33b00-d351-11ea-90ba-1aa90dcb5b64.gif)

As far as I can tell, the response from the `/contentnode/?ids=` is returning the old version of the data.

* tried

[2020-08-01 01:23] intelliant01 commented on #7410
Thanks @jamalex for the clarity.

[2020-08-01 03:42] indirectlylit opened #7419 "facility user list: Cannot read property 'kind' of undefined"
### Observed behavior

facility page is stuck here:

![image](https://user-images.githubusercontent.com/2367265/89093285-cb10e700-d36d-11ea-9a2d-701439d957be.png)

### Errors and logs

[code]

### Steps to reproduce

Unknown but I can repro locally. See me for the details

### Context

0.14.0 beta 14

[2020-08-01 06:41] intelliant01 opened #7422 "Coach content counter overflows the channel description tile"
### Observed behavior

Do note the coach content counter in the "CSPathshala (English)" tile -

![image](https://user-images.githubusercontent.com/2577060/89095872-64cca880-d3ef-11ea-9a60-b31fd4491c95.png)

### Expected behavior

Given the fixed height of the tile, the description could have a `more` link. In any case, the counter should be within the tile.

### User-facing consequences

Visual in

[2020-08-01 16:22] ivanistheone opened #7424 "Suggestions for channel management actions UX improvements"
## Observed behavior

Current setup:

![current](https://user-images.githubusercontent.com/163966/89105616-94c87b80-d3f0-11ea-8e09-e71300ae1b91.png)

Problems with current setup:
 - Most common action IMPORT MORE is hidden behind an extra click
 - Less common actions EXPORT and DELETE are presented in the action bar (different place from IMPORT MORE)
 - Selecting a checkbox could has two possible

[2020-08-01 16:26] ivanistheone commented on #7424
^ @rtibbles @khangmach @jonboiser something to consider for 0.15

[2020-08-02 08:05] khangmach commented on #7424
@ivanistheone  are there any user reports you've collected that support your feedback?

[2020-08-02 14:58] ivanistheone commented on #7424
@khangmach Nothing from the field, but lots of "these steps are confusing" from internal use.

I realize dropdowns are bad UX, so maybe the suggestion ^ is not the best. Y'all probably had good reason to switch to this new flow.

@carinediaz  had suggested a general need to review the content management steps under different languages (e.g. Spanish) because certain actions don't translate well and

[2020-08-02 15:34] arky commented on #7427
These errors are related to new changes in Python 3.8. There is a full description [here](https://adamj.eu/tech/2020/01/21/why-does-python-3-8-syntaxwarning-for-is-literal/)

Now these issues are handled in upstream packages, for instance tzlocal has fixed their in their code with this [commit](https://github.com/regebro/tzlocal/commit/d4bbb4b0893c6d2129d8a82c2c15cfbde86374e5)

I'll see if I could

[2020-08-02 16:45] cjbamenda opened #7426 "Online channel content import option not available - beta15"
### Observed behavior

After upgrade to beta15, online channel content import is not longer available.

![image](https://user-images.githubusercontent.com/44643658/89127657-14387680-d4e7-11ea-88e4-6101135d6eba.png)

### Expected behavior

Online content import option should be selectable.

### User-facing consequences

Can't import new content, or update current content.

### Errors and logs
<!--

[2020-08-03 11:39] intelliant01 commented on #7426
@cjbamenda This works for me. It is only not selectable when and if the Kolibri device is not connected to the internet.

[2020-08-03 15:27] khangmach commented on #7424
@ivanistheone  I understand your concerns about the extra click and dual action bottom bar which ties in with the selection process and will keep some of these points in mind for any next iterations. I don't think this is an issue at the moment however and your suggestion was actually an early concept I tried out but decided against in the design phase haha. There are a lot of moving, complicated

[2020-08-03 16:28] indirectlylit commented on #6509
@radinamatic I think these screenshots are unrelated to this issue. Would you mind making a new issue?

[2020-08-03 16:31] rtibbles commented on #6509
I think this issue might be more relevant? https://github.com/learningequality/kolibri/issues/6351

[2020-08-03 16:54] jredrejo commented on #7426
Hello @cjbamenda I can confirm this happen when either
1. There is not Internet connectivity
2. There are more than one interface configured in the device and some of them have not Internet connectivity. If your routes are note correctly set (or your dns are failing because dnsmasq is messing them up, this is something that might happen in a RPi used as a hotspot which I think it's  your case) kol

[2020-08-03 16:54] #7426 closed, assigned to nobody

[2020-08-03 19:33] jonboiser commented on #7419
Did you import these users from somewhere via p2p-sync?

The code here makes a big assumption that if a `FacilityUser` is not a superuser or a learner, then they definitely have some kind of `Role` object for their facility (e.g. Admin or Coach role).

So it might be that the user has roles for a facility that is not the one they were created in (which should be impossible in a single-facility sit

[2020-08-03 19:37] #7377 closed, assigned to jredrejo

[2020-08-03 19:40] #7427 closed, assigned to nobody

[2020-08-03 19:41] micahscopes commented on #6890
@DXCanas thank you!

We tested it at the bug bash on Thursday and it was fixed :relieved:

[2020-08-03 19:41] rtibbles commented on #7419
This could also happen if someone was assigned a coach role for a class, but did not have a 'assignable coach' role for the facility - not possible to make this through the UI, but the backend would allow this to happen.

[2020-08-03 19:42] rtibbles commented on #7419
The backend *should* disallow this, but I'm also not entirely certain that the API would prevent it.

[2020-08-03 19:54] jredrejo commented on #7415
Solved with #7428

[2020-08-03 20:33] jonboiser commented on #7327
@rtibbles Aside from fixing the immediate front-end issues to support this scenario in the short-term, in the long term, do you think we should try to encode the resource-quiz/lesson linkage in a structured way?

Earlier I think we didn't want to have to create an actual foreign key relationship between resources and quizzes/lessons (and create more of a DB overhead), but it might be the way to go

[2020-08-03 20:46] jonboiser commented on #7419
I'm not sure, but I think the only reason this code is run is to show the role "badge" on the Facility User page. So if we can just add some handling to prevent the unhandled `.kind is undefined` error on line 12, and also specifically handle the "coach in class, but not in facility" edge case, that would be enough to fix this issue.

If there are other smaller bugs that result from this, it's at

[2020-08-03 21:09] #6888 closed, assigned to indirectlylit

[2020-08-03 23:18] rtibbles commented on #7327
Yes - I think the long term solution is to turn quizzes and lessons into a kind of content, so a lesson would just become a special kind of topic. For quizzes, I think it would be best to bundle up all the required questions and save them as a new piece of content, rather than dynamically referencing them.

[2020-08-03 23:34] jonboiser commented on #7327
Cool, is there an issue for this? I think this change should be a prerequisite for #7325  so we can prevent having to re-write the missing content features if/when we make that change.

[2020-08-03 23:55] rtibbles commented on #7327
I think the time scale over which this will happen is going to be much longer than #7325 - and even with these changes, it is likely that we will allow much more partial synchronization of content metadata in the future, so the work for #7325 will still be useful.

[2020-08-04 00:27] indirectlylit commented on #7374
sounds good - pushed to next major milestone.

Opened a PR for a related but slightly different issue here: https://github.com/learningequality/kolibri/pull/7430

[2020-08-04 00:28] #5947 closed, assigned to nobody

[2020-08-04 01:47] indirectlylit commented on #7378
This seems to be addressed in some cases but not all:

![image](https://user-images.githubusercontent.com/2367265/89243248-57164f00-d5b8-11ea-8164-c144fd1a3966.png)

![image](https://user-images.githubusercontent.com/2367265/89243265-60072080-d5b8-11ea-92af-8483cbe64d4e.png)

It appears the fundamental issue is that in Safari, the parent `<a>` element has `display: inline-block` and chooses to mak

[2020-08-04 03:13] cyberorg commented on #7325
Automatically importing associated content when syncing facility would be much cleaner than showing error messages, this will also allow teachers to create lessons with content from multiple channels without students having to sync all of those channels.

[2020-08-04 16:48] #7419 closed, assigned to jonboiser

[2020-08-04 17:40] indirectlylit commented on #7325
@cyberorg yes, we completely agree and we are definitely looking to allow content to be synced with data.

That said, there will always still be situations where we need to handle missing content so this update is required regardless.

[2020-08-04 18:03] bjester commented on #7385
The issue appears to originate from this line https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/deployment/default/settings/dev.py#L32

[2020-08-04 18:13] rtibbles commented on #6112
Note that this should be easier to do now once #7431 is merged, as all content nodes loaded into the frontend now have ancestor information associated.

[2020-08-04 20:10] nucleogenesis commented on #7378
@indirectlylit I did some Googling on this earlier today and I think the fix is to set `max-width: 0` - which allegedly acts in Safari like `max-width: auto;` does in proper web browsers - which is also the default `max-width` value that is improperly handled by Safari.

I don't think I'll have time to implement a fix and get it tested today but wanted to note it here for posterity.

[2020-08-04 20:14] jonboiser commented on #7384
Has this always been a problem when upgrading on RPi? We could document that users need to

1. Delete `.data_version`
1. Delete `/static`

From Kolibri home if they are having issues after an upgrade.

[2020-08-04 20:16] rtibbles commented on #7384
No - I think it's specific for beta versions (and not just for RPi) because we exclude beta versions from the upgrade logic.

We can probably triage this out if it still does run collectstatic if upgrading from a beta to the full version - or alternatively, we can modify the update logic to be sensitive to beta version changes too.

[2020-08-04 20:16] indirectlylit commented on #7346
this has been requested on a few occasions

[2020-08-04 20:20] indirectlylit commented on #7370
switched to 'upcoming major' because it requires new strings

[2020-08-04 20:22] jonboiser commented on #7384
Okay, let's remove it from the milestone. I think for people in the beta program installing a new beta should ideally "just work" without running extra commands so we could try to change the update logic to handle non-major version upgrades as well.

And if that's not possible, we should have some documentation to troubleshoot upgrade issues like this on the Wiki or somewhere else.

[2020-08-04 20:27] jonboiser opened #7436 "Provide an alternative design for Assessments with very "high" mastery requirements"
### Observed behavior

Here's an assessment with a pretty high mastery requirement of 31 correct answers

![image](https://user-images.githubusercontent.com/10248067/89341379-0f460500-d656-11ea-8c19-6d435812c92a.png)

This comes from the "Baseline 2017 - 18" channel

### Expected behavior

I think if the requirement is this high, we should use an alternative design because it's unlikely that all o

[2020-08-04 20:32] indirectlylit commented on #7424
very much +1 on the user feedback given by @ivanistheone. Once you go through the flow a few dozens times, it makes a lot of sense

[2020-08-04 21:20] indirectlylit opened #7437 "filters in lesson management have layout regressions"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/89346293-a793b800-d65d-11ea-8da6-533e2d007ab7.png)

![image](https://user-images.githubusercontent.com/2367265/89346756-6f40a980-d65e-11ea-828d-7259cea716b8.png)

### Context

0.14.0 beta 14

[2020-08-04 21:33] rtibbles commented on #6466
This was fixed in #7434

[2020-08-04 21:33] #6466 closed, assigned to nobody

[2020-08-04 21:34] rtibbles commented on #5041
Some of this may have been resolved by #7434 - but more likely this is a consequence of calculating aggregate progress from many descendants.

[2020-08-04 21:59] jonboiser commented on #7437
I'm not seeing the overflow with the magnifier class icon inside the SearchBox.

As for the KIcons next to the UiSelects, it should be enough to add 16px `margin-bottom` to match the margins of the UiSelect itself.

![image](https://user-images.githubusercontent.com/10248067/89349455-0e67a000-d663-11ea-8e35-0ec4520bcadc.png)

[2020-08-04 22:02] indirectlylit commented on #7437
will do

[2020-08-04 22:19] jonboiser commented on #7437
Things don't overflow for me in Chrome, but it does seem the sub-components of the searchbar are a little "cramped". The text input and "X (clear)" button actually overlap a little.

![image](https://user-images.githubusercontent.com/10248067/89350990-efb6d880-d665-11ea-953a-d28a67ea12a7.png)

[2020-08-04 22:48] indirectlylit opened #7439 "searchTerm prop is undefined in lesson management search"
### Observed behavior

Seeing an error when searching. Occasionally this also seems to prevent the page from loading, but having trouble reproducing that.

![2020-08-04 15 23 47](https://user-images.githubusercontent.com/2367265/89352762-c304c000-d669-11ea-9804-d14db482fc52.gif)

### Expected behavior

No prop validation errors

### User-facing consequences

Occasionally might break search

### Er

[2020-08-04 22:50] indirectlylit opened #7440 "ensure all dependencies are pinned and up to date with stable versions"
### Observed behavior

* [x] Windows installer (1.4)
* [x] Perseus (1.3.3)
* [x] Kolibri design system (0.2.0)
* [x] Morango (0.5.5)

### Context

0.14.0

[2020-08-05 00:10] micahscopes opened #7441 "Tooltip gets clipped, causes flickering scroll behavior"
This is a followup issue on #7431.  The relevant code is [here](https://github.com/learningequality/kolibri/pull/7431/files#diff-c2f06cb7c0ab507378457858b8085daaR15-R40).

### Observed behavior
When editing a quiz ("coach --> plan --> quizzes --> <quiz>") with missing content in a narrow window, the missing content icon appears on a new line, causing a vertical scrollbar to appear.

The tooltip so

[2020-08-05 00:27] nucleogenesis commented on #7441
The newline break may be either caused or fixed by using a KLabledIcon with the `iconAfter` prop. If the wrapping component has a width set on it, a KLabeledIcon would fill the space

https://github.com/learningequality/kolibri-design-system/blob/704fbb08002771856f64360164469267bf3405ed/lib/KLabeledIcon.vue#L21

[2020-08-05 00:47] micahscopes opened #7442 "Queries generated by `KolibriAuthPermissionsFilter` can't be used as subqueries"
This is a followup on #7431.

### Observed behavior
When logged into Kolibri as a superadmin of an imported facility, a certain API request was failing.  According to @rtibbles, this was because it tried to filter on a queryset with a query generated by `KolibriAuthPermissionsFilter`.  The workaround was to [avoid relying on using that query as a subquery](https://github.com/learningequality/kolib

[2020-08-05 00:54] #7422 closed, assigned to indirectlylit

[2020-08-05 00:54] #7437 closed, assigned to nobody

[2020-08-05 00:57] #7327 closed, assigned to rtibbles

[2020-08-05 08:10] intelliant01 commented on #7415
@jredrejo Upgraded to 0.14.0b16 but the status displayed is still 'Never sycned'.

What do I need to do different to test this reliably or what further information I may furnish to help replicate this at your end?

[2020-08-05 10:04] jredrejo commented on #7415
Can you give exact instructions to reproduce it?
i.e. what are the steps you doing in both servers and versions you have on them?

[2020-08-05 11:02] intelliant01 commented on #7415
1. Login as superuser
2. Navigate to `Devices` -> `Facilities`
3. Execute `Sync` for any facility added therein
4. Sync completes and shows when clicked on `View Task Manager` but below the facility name it always shows as `Never synced` (as given in the gif above)

[2020-08-05 13:47] intelliant01 commented on #7415
@jredrejo forgot to mention that kolibri version on both source and destination devices is now 0.14.0b16.

[2020-08-05 20:37] indirectlylit commented on #7441
the clipping and scrollbar might be addressed by adding `overflow: visible` to the container

[2020-08-05 21:10] jonboiser opened #7444 "Adjust the double-click blocking time to make it a little less noticeable"
### Observed behavior

The fix for #3914 adds a perceivable delay on the Learn page between when the page loads (for fast connections at least) and when the user can interact with things.

While it was meant to prevent double-clicking the same space held by a content card in the the Channels navigation flow, this delay applies globally, e.g. clicking the navigation tabs and other links.

### Expec

[2020-08-06 05:15] cyberorg opened #7445 "Missing lessons and activity on facility import with user activity"
### Observed behavior

Running "kolibri manage sync --baseurl (...) --username (...) --password (...) --verbosity 3" to import "Teacher Training" facility does not import lessons.

…

### Expected behavior

Lessons and activities should be imported
…

### User-facing consequences

No lessons for the learners and no activity reports for the coaches.
…

### Errors and logs

Logs on the server side:

[2020-08-06 05:37] cyberorg commented on #7445
In another facility, lessons show up, but not the activities

Source:
![another-facility-source](https://user-images.githubusercontent.com/1300602/89494972-e7c97680-d7d4-11ea-8830-5398cc1d9015.png)

After import:
![another-facility-imported](https://user-images.githubusercontent.com/1300602/89495007-f57efc00-d7d4-11ea-9ed3-fba4c3ed8d85.png)

[2020-08-06 11:11] cyberorg opened #7447 "kolibri manage sync --facility FACILITY error on 0.14 b16"
### Observed behavior

Running `kolibri manage sync --baseurl http://iadahu.intelliant.net:8080/ --username ttadmin --password ttpass --facility "Teacher Training" --verbosity 3` give error:
CommandError: Facility with ID Teacher Training does not exist on server

Have tried all of this with same error:
--facility "Teacher Training"
--facility 1
--facility '(40ce)'
--facility 'Teacher Training (40

[2020-08-06 16:06] rtibbles commented on #7447
Note that the argument needs to be the unique 32 digit hex id of the facility, not the name (which could be non-unique).

[2020-08-06 16:06] #7447 closed, assigned to nobody

[2020-08-06 17:18] indirectlylit opened #7448 "In Setup Wizard, Facility name field can move around because it is inside the label for radio buttons"
### Observed behavior

the two radio buttons have an "internal" text field that gets hidden and shown:

![2020-08-06 09 51 22](https://user-images.githubusercontent.com/2367265/89561845-f4969c00-d7cd-11ea-8e9d-6b17423baf45.gif)

### Expected behavior

Normal radio buttons, with a static facility name field

@jonboiser : Put the textbox above the radio buttons.

### User-facing consequences

confus

[2020-08-06 19:44] jonboiser commented on #7445
Hi @cyberorg I removed your username and password from your original post, but they are still visible in some of the screenshots (and are still accessible on GitHub since all edits to comments are saved). For your security, please make sure that you not share this info publicly.

This does look like a bug that the Quizzes in the "Teacher Training" Facility haven't been synced. Are there any differ

[2020-08-06 20:52] jamalex opened #7449 "Inaccurate reporting of installer when using DEB"
### Observed behavior

After installing the DEB on Ubuntu, I went to Device -> Info, and the "Installer" field showed "whl".

### Expected behavior

Should show something like "deb".

### User-facing consequences

When users report issues to us, we may make different suggestions/interpretations based on what installer was used. This could lead us astray here.

It also throws off nutritionfacts sta

[2020-08-06 21:41] indirectlylit commented on #7445
I've updated the screenshot and deleted the previous edit revisions, so the password should not be visible anymore

[2020-08-06 21:48] micahscopes commented on #7441
Thanks for the tip!  Using `KLabeledIcon` does indeed help with the wrapping issue, but there's another issue when the width of the inner label text is larger than the width of the `KLabeledIcon` component's wrapper `span`:

![image](https://user-images.githubusercontent.com/389782/89586027-8de0a500-d804-11ea-9538-857e3e79a497.png)

I will make a fix for this in `kolibri-design-system`.

[2020-08-06 23:18] #7440 closed, assigned to indirectlylit

[2020-08-06 23:28] khangmach commented on #6033
note that we'll be using the outlined version of vue's text field instead of material design. Studio has already begun to adopt this new style

https://vuetifyjs.com/en/components/text-fields/

[2020-08-07 00:46] intelliant01 commented on #7445
Hi @jonboiser , @cyberorg is my team mate and we had shared the credentials on purpose for ease and speed of replication at your end as this is a temporary test instance created only for the purpose of reporting these issues.

Do note the very first bug that the lessons in the "Teacher Training" facility do not sync despite all content being present on the destination.

We don't have any quizzes a

[2020-08-07 13:23] intelliant01 opened #7451 "Resource removal from lessons not working"
### Observed behavior

Unable to remove a resource once added to a lesson as coach or admin. Clicking on `REMOVE` button has no action.

### Expected behavior

Resource not removed from lesson.

### User-facing consequences

Broken functionality for coaches.

### Errors and logs

Browser console has this error -

[code]

### Steps to reproduce

Try to remove a resource from a lesson in `Coach` sec

[2020-08-07 16:28] indirectlylit opened #7452 "Write upgrade messages, and incorporate step into release process"
### Observed behavior

For release 0.14, we forgot to create strings advertising the 0.14 upgrade, which means we'll need to use `upgradeMessageGeneric` for most languages:

https://github.com/learningequality/kolibri/blob/0beb63c921f4568a228c03fb96f444319818016d/kolibri/core/assets/src/views/UpdateNotification.vue#L88-L101

Additionally, the [current release process checklist](https://github.com/

[2020-08-07 16:43] intelliant01 opened #7453 "Don't set user as created_by for lesson when superadmin from Facility B creates a lesson in Facility A"
### Observed behavior

This is an edge case scenario for a multi-facility setup i.e. `Facility A` and `Facility B` available on the same device. In the current implementation of 0.14 it is possible that a `Super admin B` of the device and associated with `Facility B` creates a lesson `Lesson AB` for a Class of `Facility A`.

If this happens then upon syncing `Facility A` to another device, it does

[2020-08-07 16:44] intelliant01 commented on #7445
We have done a complete re-run of tests with 0.14 and found the core cause of the problem. Filed this issue #7453

And I believe the real time `Class Activity` not syncing to destination and not showing on the `Class Home` dashboard is a known issue but am unable to spot one in github. If not present, I shall create one. Once this is confirmed, this issue may be closed.

[2020-08-07 16:59] intelliant01 opened #7454 "Removing and then re-importing a facility shows incorrect "removing facility" status"
### Observed behavior

Removing a facility and importing it again without executing `Clear completed` continues to show the incorrect status of `Removing facility` as shown herein -

![facility_readdition](https://user-images.githubusercontent.com/2577060/89669258-c368b980-d8fc-11ea-97aa-880e7f6ce76b.gif)

### Expected behavior

Correct and latest status should be shown.

### User-facing consequen

[2020-08-07 18:51] jonboiser commented on #7453
This is the expected behavior:

@bjester @jamalex Is it possible that the Lesson made for a Facility A class ends up "belonging" to `Super admin B`'s facility `Facility B` because of this of code? The `FacilityDataset` the lesson gets linked to is for the creator's facility.

https://github.com/learningequality/kolibri/blob/0beb63c921f4568a228c03fb96f444319818016d/kolibri/core/lessons/models.py#L7

[2020-08-07 18:55] jonboiser commented on #7453
Here's the same code for Quizzes (nee Exams)

https://github.com/learningequality/kolibri/blob/0beb63c921f4568a228c03fb96f444319818016d/kolibri/core/exams/models.py#L143-L145

[2020-08-07 18:59] jonboiser commented on #7445
Thanks for figuring this out @intelliant01 ! I will create a new issue specifically for the missing Class Activity and close this one out.

I am fairly confident that #7453 is the reason for the missing lessons (and quizzes have the same issue).

[2020-08-07 18:59] #7445 closed, assigned to nobody

[2020-08-07 20:47] rtibbles commented on #7453
Yes - I think that is absolutely what is happening here - I think instead of looking up the dataset by the user who created it, we should be looking up the dataset by the Collection. However, in either case we will have an additional problem where either the created field, or the collection field will have an invalid foreign key reference also. We may need to make the 'created_by' and 'creator' fi

[2020-08-07 20:50] jonboiser opened #7455 "Add navigation guard on `NewChannelVersionPage` if there is no new version of channel on Kolibri Studio"
### Observed behavior

The New Version Page is accessible if you go to this route directly

https://github.com/learningequality/kolibri/blob/0beb63c921f4568a228c03fb96f444319818016d/kolibri/plugins/device/assets/src/routes/index.js#L132-L139

If the installed channel _is_ the latest channel, this page doesn't present useful information or actions, and might display some information (e.g. diff stat

[2020-08-07 21:10] jonboiser opened #7456 "In `LearnerClassEnrollmentPage` and `CoachClassAssignmentPage`, place "Confirm" button in fixed bottom bar"
### Observed behavior

"Confirm" button in the learner/coach enrollment pages is at the bottom of the table.

![image](https://user-images.githubusercontent.com/10248067/89688503-29cae900-d8b7-11ea-9c44-167506db7d90.png)

### Expected behavior

See annotations in screenshot

To save users from having to scroll down for the confirm button, place the "Confirm" button in a fixed bottom bar. And also

[2020-08-07 21:16] jonboiser opened #7457 "App bar has no title when on Profile Edit page"
### Observed behavior

There's nothing here in the top-left corner when viewing your own profile.

![image](https://user-images.githubusercontent.com/10248067/89689087-782cb780-d8b8-11ea-9eb2-dd42fd4814d4.png)

### Expected behavior

That there's a useful label in the top-left.

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

0.14 (screenshot from k

[2020-08-07 21:22] jonboiser opened #7458 "Classroom notifications are not imported/synced with Classroom via morango"
### Observed behavior

As reported in #7445, Classroom Activity (which is stored in a separate Database for Notifications) does not get synced along with Lessons and Quizzes, etc. using the 0.14.0 facility sync functionality.

### Expected behavior

That, with caveats for missing resources, that p2p sync also replicates Classroom activity on a device after it imports Facility data.

@jamalex Says

[2020-08-07 21:25] jamalex commented on #7453
Making them nullable won't be a silver bullet -- Morango is still going to
try to set the fields and then they won't validate, and hence won't be
deserialized. Unless you mean not setting the values in this case at all,
which would be ok for syncing, but not sure what it does on terms of other
functionality.

When we discussed this previously, I recall being told we wouldn't support
having a super

[2020-08-07 21:45] radinamatic commented on #7455
Wouldn't some feedback to the user be warranted here? :thinking:
Being redirected back to **Manage** channel page _without_ as much as `You have the latest version` might be confusing and leave user thinking that they missed the step or that the feature is not working...

[2020-08-07 21:47] radinamatic commented on #7456
Yes, please! :100: :heavy_plus_sign:

[2020-08-07 21:50] jonboiser opened #7459 "Disconnection notification will initially appear without overlay, before showing overlay"
### Observed behavior

In this screen capture (from kolibri-demo site), I simulate being offline in the Network tab, then try to create a new class. Then,

1. I get a notification saying the request worked (which is its own problem since the class was not created on the backend)
1. Then a "disconnected" notification but no overlay
1. That first notification counts down
1. Get a second "disconnecte

[2020-08-08 00:19] indirectlylit opened #7460 "issue with latest windows installer v1.4.0"
### Observed behavior

observed by @jayoshih when trying to install any version from `0.14.0-beta3` onward:

The main Windows change that happened between `0.14.0-beta2` and `0.14.0-beta3` was https://github.com/learningequality/kolibri/pull/7045, where we updated the Windows version from `v1.3.6` to `v1.4.0-beta1`.

The most significant change was: https://github.com/learningequality/kolibri-inst

[2020-08-08 01:52] cyberorg commented on #7453
Possible to automatically "transfer creatorship" to admin of the facility if the user does not exist there?

Superadmins could also be automatically added as admins to all facilities.

[2020-08-08 03:12] intelliant01 commented on #7453
May be the same logic that is applicable to the scenario wherein a coach who has curated a lesson is deleted from the facility, can be applied herein. If the coach deletion case is not handled then this too needs to be addressed.

[2020-08-08 08:46] cyberorg commented on #7447
Where can we find that ID if there is only one facility on the device?

[2020-08-10 15:32] intelliant01 opened #7461 "CSV import supports email address as identifier but Users list UI doesn't render it properly"
### Observed behavior

CSV import instructions at **`Facility`** - **`DATA`** - **`Import and export users`** - **`View spreadsheet format reference`** suggests using email address as an `Identifier` -

![image](https://user-images.githubusercontent.com/2577060/89799303-ec7e8980-db4a-11ea-8eed-5f84c7e5855c.png)

But an email address overlaps with gender field even for short emails in the  **`Facil

[2020-08-10 16:50] jredrejo commented on #7461
@intelliant01 could you elaborate a bit more where is the issue? I don't quite understand it.  If you could attach a csv to test it, it would be great.

[2020-08-10 17:05] jonboiser commented on #7461
@jredrejo This isn't an issue with CSV import, it's just that the Identifier column on the 'Facility > User' field has a max-width of 120px, which isn't wide enough for long email addresses.

https://github.com/learningequality/kolibri/blob/0beb63c921f4568a228c03fb96f444319818016d/kolibri/plugins/facility/assets/src/views/UserTable.vue#L265-L268

[2020-08-10 17:07] intelliant01 commented on #7461
@jredrejo the issue is not per se with the CSV import process. Just edit a user's profile and set an average length email address and choose a gender for any user and we have the email address and gender values overlapping.

I am referring to the CSV import because it is only in those instructions that it suggests using an email id for the identifier field.

[2020-08-10 17:19] #6303 closed, assigned to nobody

[2020-08-10 18:39] laurenlichtman opened #7462 "Content channel tiles appearing as 2 across at 100% zoom"
### Observed behavior
I am using Chrome at 100% view and I see two content channel tiles across on the Learn page. It goes to 3 tiles across at 90% In talking to other colleagues similarly at 100% with what I assume to be similar size monitors, they see three or four tiles across at 100% so there seems to be an inconsistency. I am using a 12.3 inch monitor.

### Expected behavior
My assumption was

[2020-08-11 03:54] jamalex commented on #7459
Tangentially related: I noticed that the "upgrade notification" modal appear in _front_ of the disconnection overlay, also.

[2020-08-11 04:10] jamalex commented on #7453
I can only speak to the syncing side of things (not the interactions with the app logic around Lessons/Quizzes): Just changing the admin to be an admin of another facility wouldn't be possible. Syncable data in Kolibri is organized into partitions, and the primary key of a model is calculated such that it is namespaced under the partition (as a security measure, to ensure a malicious user couldn't

[2020-08-11 15:55] bjester opened #7463 "Lingering Redis locks from previous dirty shutdowns can cause locks during sign-in that result in errors or timeouts"
### Observed behavior

When using Redis, if Kolibri has an open lock while it's forced to shut down, such that the lock isn't released, then Kolibri will run into issues acquiring locks when it is restarted.

### Expected behavior

- Ensure all appropriate defensive code is in place to prevent lingering locks in Redis
- Lingering locks should TBD, options for consideration:
  1. Prevent Kolibri fr

[2020-08-11 17:57] indirectlylit commented on #7462
having trouble reproducing - screenshots or pixel resolution of the screen would be helpful

[2020-08-11 19:52] sentry[bot] opened #7465 "Deleting a lesson results in accessing properties on undefined"
Sentry Issue: [KOLIBRI-FRONTEND-7S4](https://sentry.io/organizations/learningequality/issues/1829633175/?referrer=github_integration)

[code]

[2020-08-11 20:07] sentry[bot] opened #7467 "Uninitialized interaction history fails to give current interactions of 0"
Sentry Issue: [KOLIBRI-FRONTEND-7NT](https://sentry.io/organizations/learningequality/issues/1828252815/?referrer=github_integration)

[code]

[2020-08-11 23:44] #7451 closed, assigned to rtibbles

[2020-08-11 23:44] #7465 closed, assigned to rtibbles

[2020-08-12 15:56] #7462 closed, assigned to indirectlylit

[2020-08-12 17:20] #7449 closed, assigned to jredrejo

[2020-08-12 19:47] khangmach opened #7473 "Login flow looks like it accepts any username despite the error validation"
### Observed behavior
I am able to enter any kind of special characters I want for the username and am allowed to press the "NEXT" button which makes it look like my username was acccepted

![character bug](https://user-images.githubusercontent.com/25045166/90060361-763c6d00-dc99-11ea-8f28-4ff25d85f28f.gif)

<img width="338" alt="Screen Shot 2020-08-12 at 1 01 43 PM" src="https://user-images.githu

[2020-08-12 20:54] rtibbles commented on #7447
Quickest way would be to do:
`kolibri shell`

then in the shell execute the following commands:

[code]

[2020-08-12 23:03] indirectlylit opened #7474 "AUTHORS.md cleanup"
### Observed behavior

currently the authors file is in a somewhat arbitrary order:

https://github.com/learningequality/kolibri/blob/release-v0.14.x/AUTHORS.md

### Expected behavior

* list sorted alphabetically by github username
* switch to a table view, e.g.:

| Name | Github user |
|--|--|
| ... | ... |
| Name | username |
| ... | ... |

* Finally, let's update the top section from:

[code]

[2020-08-13 02:04] jonboiser opened #7475 "Lesson Resource Preview page action button is "Add" when resource is already in Lesson"
### Observed behavior

"Pim's Mother" video is already in the Lesson:

![image](https://user-images.githubusercontent.com/10248067/90086040-570c0280-dcce-11ea-9efb-6efa2c32e194.png)

But when you look into the preview, the action button says "Add"

![image](https://user-images.githubusercontent.com/10248067/90086068-67bc7880-dcce-11ea-9aa9-0624b18f12cb.png)

And clicking the "button" seems to re-a

[2020-08-13 20:15] indirectlylit commented on #6033
Further update: we will in fact use the style with a background color as shown above, not the outlined version.

ref: https://learningequality.slack.com/archives/C0LKG14NL/p1596846651017000

[2020-08-15 17:20] intelliant01 commented on #7415
@jredrejo The status is working correctly for systems updated from 0.13.3 to 0.14.0 and now even to 0.14.1.

But it is still broken on 3 systems which had this upgrade path - 0.13.3 to 0.14.b{14,15,16,rc1} to 0.14.0 and 0.14.1.

What could we try to remove / change to get it working on the later systems?

[2020-08-17 16:54] khangmach opened #7477 "In Manage lesson resources, "Saving your changes" snackbar shows when navigating content"
### Observed behavior
"Saving your changes" snackbar appears just by navigating through the lesson topic tree

![coach-bug-1](https://user-images.githubusercontent.com/25045166/90422237-7066d300-e06f-11ea-95da-a00cbb1fb05d.gif)

![coach-bug-2](https://user-images.githubusercontent.com/25045166/90422252-7492f080-e06f-11ea-8403-964754889385.gif)

### Expected behavior
Snackbar only appears if you ad

[2020-08-17 17:54] #7467 closed, assigned to nobody

[2020-08-17 18:04] intelliant01 opened #7478 ""sqlite3.OperationalError: too many SQL variables" when trying to import large channels"
### Observed behavior

When trying to import significantly large amounts of contents have experienced this error -

[code]

"Large amount" could be resources totalling to around 100 MB+ from channels such as "Khan Academy" or "CK-12". It is mostly the number of resources that seem to matter than the size.

The imports are reported as failed in the UI.
If upon subsequent attempts we import smaller

[2020-08-17 21:09] jamalex commented on #7478
Would you be able to give it a try using the following build from #7479?

- [WHL](https://buildkite.com/organizations/learningequality/pipelines/kolibri-python-package/builds/1760/jobs/cf27997d-afdd-4a98-af5f-68e746817062/artifacts/2a12f9eb-4690-462b-b6ac-ef9873daa6b8)
- [PEX](https://buildkite.com/organizations/learningequality/pipelines/kolibri-python-package/builds/1760/jobs/cf27997d-afdd-4a98-

[2020-08-17 22:52] #7478 closed, assigned to nobody

[2020-08-18 00:46] indirectlylit opened #7480 "Links between SPA apps should not open a new tab"
### Observed behavior

| Navigate between facility and device settings pages | Explore without account |
|--|--|
| ![2020-08-17 17 45 32](https://user-images.githubusercontent.com/2367265/90458116-50a4ce80-e0b2-11ea-86d8-2aadc735e6df.gif) | ![2020-08-17 17 55 44](https://user-images.githubusercontent.com/2367265/90458321-f5271080-e0b2-11ea-9d9e-b00feec0b14e.gif) |

Related:

* https://kolibri-desi

[2020-08-18 01:57] nucleogenesis commented on #7480
Bah I thought I did this :-(

[2020-08-18 03:09] cyberorg commented on #7478
Fixed in 0.14.2

Thanks!

[2020-08-18 08:34] cyberorg commented on #7415
This has nothing to do with upgrade path. This happens on fresh install using **postgres database**. Shows correct status when sqlite is used.

[2020-08-18 13:31] nucleogenesis opened #7482 "Use of KExternalLink should never refer to Kolibri URLs, use KRouterLink"
### Observed behavior

The KDS `KExternalLink` component is supposed to be used for links outside of Kolibri. `KRouterLink` is supposed to link internally, even between SPAs.

Related to https://github.com/learningequality/kolibri/issues/7480 and the PRs/Issues that it refers to in the description.

### Expected behavior

`KExternalLink` opens in a new tab and never links within Kolibri and every

[2020-08-18 15:44] aronasorman commented on #7463
For the hosted kolibri instance use-case, is it possible to acquire the lock with a certain lease duration? I.e. the lock expires after a certain number of seconds, even if the lock hasn't been released yet.

[2020-08-18 16:05] bjester commented on #7463
@aronasorman We can definitely add an expiry. That would be a good change, and it would tie in nicely with acquiring all the locks during start up.

[2020-08-18 16:22] rtibbles commented on #7463
Presumably we'd also need to add handling for edgiest case of the lock being released after the expiry too?

[2020-08-18 17:39] aronasorman commented on #7463
Ha yeah that's definitely a case we may want to handle as well, esp. for the case where a process may still edit the cache even if the lock has expired. The general problem here is when 2 processes think they have the lock.

For that specific problem @rtibbles, I think we can just do a try-catch when the lock has already been released? I think that should be fine. Let me know if there's a better s

[2020-08-18 22:48] #7480 closed, assigned to nucleogenesis

[2020-08-19 00:02] aronasorman commented on #7463
Follow-up: we encountered this issue again today in [another incident](https://learneq.pagerduty.com/incidents/P4B4SVI).

One thing I've noticed is that the app waits for 60 seconds or more for the lock to be released before an unspecified timeout hits. So as long as the lock lease is a fraction of this, then the lock lease solution should mitigate these incidents.

[2020-08-19 13:54] intelliant01 commented on #7478
@jamalex @rtibbles I now see this when trying to import from a large channel such as Khan Academy (English - CBSE...) -

![image](https://user-images.githubusercontent.com/2577060/90643447-4240e900-e251-11ea-8660-8c589c76d3f9.png)

The browser UI reports as disconnected and reconnects in 30 seconds.

Simultaneously, I see this in the log -

[code]

This is with Kolibri 0.14.2 peers.

Does this qua

[2020-08-19 15:41] rtibbles commented on #7478
Did the import succeed? I don't see any indication that it didn't, so seems like a different issue.

[2020-08-19 16:00] intelliant01 commented on #7478
Yes the import did succeed. I shall be watchful of reappearance of this and shall file a new issue thereafter only. Have not been able to replicate this since its occurance.

[2020-08-21 22:02] indirectlylit opened #7487 "flash of unstyled text on login page"
### Observed behavior

FOUT observed in both safari and chrome on mac, specifically on the login page:

![2020-08-21 14 43 33](https://user-images.githubusercontent.com/2367265/90938768-d086ad80-e3be-11ea-8458-4fb29f589cf7.gif)

### Expected behavior

fout-free

### User-facing consequences

* slightly ugly behavior
* regression from 0.13

### Steps to reproduce

refresh

### Context

0.14.3

[2020-08-24 18:18] jonboiser opened #7488 "Users are not being redirected to desired page after authenticating"
### Observed behavior

When trying to view a page like https://kolibri-beta.learningequality.org/en/device/#/permissions without being signed-in, you will see a page with a link to the sign-in page that also has this `redirect` parameter e.g.

https://kolibri-beta.learningequality.org/en/user/?redirect=https%3A%2F%2Fkolibri-beta.learningequality.org%2Fen%2Fdevice%2F%23%2Fpermissions#/signin

That

[2020-08-24 18:22] jonboiser commented on #7488
I just noticed that the URL here is not formatted correctly:

❌ https://kolibri-beta.learningequality.org/en/user/?redirect=https%3A%2F%2Fkolibri-beta.learningequality.org%2Fen%2Fdevice%2F%23%2Fpermissions#/signin,

but this is after we land on the sign-in page. The URL provided in the AppError page is correct:

✅ https://kolibri-beta.learningequality.org/en/user/?redirect=https%3A%2F%2Fkolibri-be

[2020-08-25 17:25] #7456 closed, assigned to nobody

[2020-08-25 21:46] aronasorman commented on #7463
This happened again with the main demo site. This was last deployed on August 18th.

[2020-08-25 22:40] bjester commented on #7463
@aronasorman I see our configuration check isn't working on the demo server. I see the following in the logs:
[code]

Where are the settings for the demo server?

[2020-08-26 20:29] jonboiser opened #7491 "Sign-in page center container has unbalanced padding"
### Observed behavior

All sides of the container have 32px padding except for the bottom side which is more like 24px.

<img width="689" alt="CleanShot 2020-08-26 at 13 27 29@2x" src="https://user-images.githubusercontent.com/10248067/91353473-2a60ec00-e7a0-11ea-9d4b-21325b6a6f14.png">

### Expected behavior

To me, the unbalance is sort of noticeable, and think it would look a little better if a

[2020-08-27 08:24] intelliant01 opened #7492 "Double run when trying to Update Channel"
### Observed behavior

When a channel update is available and we try to execute `UPDATE CHANNEL`, it requires executing the entire cycle twice. See below gif capture of the update channel cycles and the task list screenshot. However, the second run seems a "blank" run though.

![double_channel_update_refresh](https://user-images.githubusercontent.com/2577060/91410667-dc61ec00-e864-11ea-83c0-6fb3be

[2020-08-27 09:30] intelliant01 opened #7493 "Change of case in facility name is not allowed"
### Observed behavior

Creating facility name from `kolibri manage provisiondevice` always results in facility name being created in lower case. (will create another issue for this)
Thereafter trying to edit it via GUI results in such a duplicate facility name error as shown in the screenshot below -

![image](https://user-images.githubusercontent.com/2577060/91422955-80ec2a00-e875-11ea-89f9-5e2f2

[2020-08-27 10:35] intelliant01 opened #7494 "Incorrect duplicate validation ("A lesson of this name already exists") of lesson name"
### Observed behavior

Whenever creating a new lesson, there is a duplicate lesson name error momentarily visible. It is a false negative and does not prevent from lesson creation.

![lesson_naming_issue](https://user-images.githubusercontent.com/2577060/91431916-a6316600-e87e-11ea-8cc2-87dad39732a9.gif)

### Expected behavior

The error should be displayed only if a duplicate lesson name exists f

[2020-08-27 10:40] intelliant01 commented on #7458
@jonboiser I don't see any great value and use of syncing real time classroom activity notifications. IMO, this may be considered for implementation only if real-world coaches express such a need in a p2p sync scenario.

[2020-08-27 11:55] intelliant01 opened #7495 "manage provisiondevice accepts password with special characters but does not set it"
### Observed behavior

`kolibri manage provisiondevice` accepts a super user password with special characters but does not set it properly i.e. when using for authentication, the password is not acceptable and reports as incorrect.

Am aware that - " The 'provisiondevice' command is experimental, and the API and behavior will change in a future release"

### Expected behavior

Password with specia

[2020-08-27 15:23] jamalex commented on #7458
Once take-home tablets are used in a classroom environment (syncing to the classroom server every few minutes), this would become more important. An alternative (that would reduce the syncing bloat) would be to generate them post-sync based on data that is synced in.

[2020-08-27 15:40] intelliant01 commented on #7458
In scenarios that we have i.e. a sync at most once a day, we don't see much utility of real time or near real time data as teachers are also not going to be online simultaneously.
But yes analytics derived from the same could be very useful.
So as @jamalex states, deriving them post-sync, if possible, should be the way to go.
Additionally this could be governed by a configurable switch, once again

[2020-08-27 18:19] #7473 closed, assigned to nobody

[2020-08-28 18:32] rtibbles commented on #4532
Fixed by #7316

[2020-08-28 18:32] #4532 closed, assigned to nobody

[2020-08-29 23:10] indirectlylit commented on #4532
thanks you!

Minor note: remember to set the appropriate milestone. Technically, the 'upcoming' milestones should never have any closed issues except for invalid ones.

[2020-08-30 00:34] indirectlylit commented on #7491
very unsightly!

[2020-08-30 00:45] indirectlylit commented on #7477
tangent: whenever I've added issues to milestones in the past, I've also given them a `P*` priority label. Conversely, I've tried to make sure that issues without a milestone never have a priority.

If we want to update this, recommend documenting in https://kolibri-dev.readthedocs.io/en/develop/development_workflow.html#priority

[2020-08-31 18:33] jonboiser commented on #7491
With the "password required" setting, the bottom padding looks more balanced, but is several pixels more than the sides.

![image](https://user-images.githubusercontent.com/10248067/91754124-c2cee600-eb7d-11ea-89ca-632572d61f17.png)

[2020-08-31 19:48] jonboiser opened #7499 "Vue Devtools does not work for learningequality.org demo servers"
### Observed behavior

When I visit https://kolibribeta.learningequality.org (as well as the other subdomains `kolibri-dev`, `kolibri-demo`), Vue devtools don't work in Chrome/Firefox/etc probably because the library is in an optimized "production" mode.

### Expected behavior

Dev tools still work in these special environments because it is easier to debug things we're seeing specifically in thes

[2020-08-31 19:59] jonboiser commented on #7488
@nucleogenesis Do you know why the post-`#` of the URL gets appended after the `?next` query parameter when one lands on the Sign In page?

[2020-08-31 20:27] MasakoOllivier opened #7500 ""Select language" page has only "English" (not clickable)"
### Observed behavior

On the "select language" page, the testing scenario says "Español" should appear and be clickable. But only "English" is there and "English" isn't clickable.

Here is the link to the testing scenario.
https://github.com/learningequality/kolibri/blob/87be1fe59cbd2dc68a735d2484237fa3be25ec44/integration_testing/features/super-admin/super-admin-quick-start-setup-wizard.feature

[2020-08-31 21:17] MasakoOllivier opened #7501 "No "Create An Account" Button on the sign-in page in Android App."
### Observed behavior

On the sign-in page, there's no "Create an account" button. Right now, it shows only 1 user name.

### Expected behavior

There should be a "Create An Account" button on the sign-in page.

### User-facing consequences

No way to switch accounts/users.

### Errors and logs

…

### Steps to reproduce

Start the app after setting up an account.

### Context

Kolibri version: 0.

[2020-08-31 21:46] jonboiser commented on #7501
Could you check the Facility settings to see if the "learner can sign up" setting is turned on or off?

The "create an account" button is shown only if that setting is on and this other `hideCreateAccount` prop is false (need to see if the App context might be affecting that).

https://github.com/learningequality/kolibri/blob/65c0d60a7b2507337f95b131492e47d0e62e2b47/kolibri/plugins/user/assets/src

[2020-08-31 21:52] MasakoOllivier commented on #7501
It WAS turned off, so I turned it on and it works now.

Thanks so much!

Masako

From: Jonathan Boiser <notifications@github.com>
Reply-To: learningequality/kolibri <reply@reply.github.com>
Date: Monday, August 31, 2020 at 2:46 PM
To: learningequality/kolibri <kolibri@noreply.github.com>
Cc: MasakoOllivier <masako@theolliviers.com>, Author <author@noreply.github.com>
Subject: Re: [learningequality

[2020-08-31 22:30] MasakoOllivier commented on #7500
Resolved - Mobile apps will only have "English" and "More Languages."

[2020-08-31 22:30] #7500 closed, assigned to radinamatic

[2020-08-31 23:10] MasakoOllivier opened #7502 "Catch ValueError during network discovery for when JSON parsing fails"
### Observed behavior

When trying to import content channels (from local network or internet), no error message is produced even though the connection isn't established. (The "trying to connect" message stays on forever) This happens when there is a typo in the address. (I used kolibri-demo.learningequality.omg)  When there's no internet, an error message DOES get produced.

### Expected behavior

[2020-08-31 23:55] indirectlylit commented on #7501
FYI @MasakoOllivier replying from email sometimes adds a lot of extra text to the response. recommend using the web UI when possible

[2020-08-31 23:58] MasakoOllivier commented on #7501
Thank you for your advice. Yes, I noticed it after I replied. ^^; Sorry for the extra stuff that came with my comment.

[2020-09-03 11:57] intelliant01 opened #7504 "Sync does not work after deprovision"
### Observed behavior

Tried a `manage sync` after `manage deprovision` and am consistently getting this error -

[code]

Seems that `deprovision` may have cleaned up more than needed. :)

Only way as of now to get working again is by using a new `KOLIBRI_HOME`.

### Expected behavior

`kolibri manage sync` should work after starting kolibri after a `kolibri manager deprovision`

### User-facing c

[2020-09-03 18:02] jonboiser commented on #7501
Kolibri will have the "learner can sign up" setting turned on only for the "non-formal" preset in the Setup Wizard (which is presented as using Kolibri in a library/ small/etc group setting).

For users seeing this issue, you will need to go into your Facility Settings and re-enable the feature to allow users to make their own accounts.

[2020-09-03 18:02] #7501 closed, assigned to nobody

[2020-09-03 18:05] kollivier commented on #7501
@jonboiser I thought we decided at the Tuesday Kolibri tactical that the "informal" / "Quick Start" facility creation should also have the "learner can sign up" turned on, and that it being off by default was likely an oversight rather than a conscious design decision? (e.g. we want to support cases like family members sharing a tablet or computer but each having their own progress)

[2020-09-03 18:07] jonboiser commented on #7502
On the kolibri-beta demo server, I do see an error when trying to _add_ the example address.

![image](https://user-images.githubusercontent.com/10248067/92151109-6e25a800-edd5-11ea-86d8-5b2beb4f1eb0.png)

@MasakoOllivier Is this the same same step you failed to see an error (under the URL address text box)?

[2020-09-03 18:09] jonboiser commented on #7501
Ah, would you mind making an issue just for that then (making `learner can sign up: true` the default for `preset: informal`)? That should be an simple change.

[2020-09-03 18:12] MasakoOllivier commented on #7502
Yes. I used Android 5 and 10, and both didn't produce any error message. (no internet did produce an error.) I'm testing something else right now, but I'll try it again to see if it was some sort of a glitch.

[2020-09-03 18:18] kollivier opened #7505 "Informal (aka "personal use") facilities should have "learners can sign up" default to true."
### Observed behavior

In the apps, the default workflow is the "Quick Setup" option (i.e. informal facility). Currently this setup has new user creation off by default, so no "Create an account" button appears unless the admin user turns it on in settings.

### Expected behavior

Since in the at-home case it may not be unusual for multiple family members to share a tablet or computer, and also it

[2020-09-03 18:19] kollivier commented on #7501
Okay, done! https://github.com/learningequality/kolibri/issues/7505

[2020-09-03 18:21] MasakoOllivier commented on #7502
The message "Trying to connect to server..." stays on forever.

(This one is Android 10, Nokia 1.3)

![Screenshot_20200903-111449](https://user-images.githubusercontent.com/70489926/92152267-40416300-edd7-11ea-975e-094fa4374d38.png)

[2020-09-03 18:25] jonboiser commented on #7502
Ah, that's good info! This _might_ be specific to the Android version then.

What should happen is that the app would timeout after failing to connect to that `.omg` address and multiple variations of it.

@kollivier Is there anyway to get the logs of this phone to see why the URL validation isn't working?

[2020-09-03 18:36] MasakoOllivier commented on #7502
Actually, it's happening on my Mac, too. (Kolibri 0.14.3)

![image](https://user-images.githubusercontent.com/70489926/92153678-84356780-edd9-11ea-9dfe-f061e939b1af.png)

It hasn't been "forever" yet, but it's been at least 2 min.

[2020-09-03 18:57] kollivier commented on #7502
@jonboiser I did find an error in the logs, and can confirm this happens in the Mac app as well. Here's the error:

[code]
Full log is attached. I'll help Masako get setup with the Android tools needed to grab these logs later today!

[kolibri.txt](https://github.com/learningequality/kolibri/files/5170651/kolibri.txt)

[2020-09-03 19:00] jonboiser commented on #7502
So it seems to raise an Internal Server Error that doesn't get sent to the client

[2020-09-04 03:02] intelliant01 commented on #7504
~~Noticed that `kolibri manage sync` worked again after a `importchannel` and `importcontent`. So whatever "inconsistency" was created due to `deprovision` seems to be fixed as part or post `import*` execution.~~

Could not consistently reproduce this behaviour that seemed to fix the problem with `deprovision` hence striking it out.

[2020-09-04 03:39] intelliant01 opened #7506 "importcontent gives a TypeError if channel metadata is not present"
### Observed behavior

Executing `kolibri manage importcontent` without having somehow fetched the channel metadata results in the following error -

[code]

### Expected behavior

`importcontent` should either terminate with an appropriate message or implicitly execute `importchannel`.

### User-facing consequences

Confusion.

### Errors and logs

[code]

### Steps to reproduce

Execute `importc

[2020-09-04 13:46] nucleogenesis commented on #7488
The URL is being improperly formatted and can be fixed like so: https://github.com/learningequality/kolibri/commit/15c2fc6323099fb2b50cccd4bacfb1e473262c3b

But that doesn't seem to fix the issue. Will need more work to test thoroughly. We also don't account for the MFD flow in that a user might be redirected to signin, but they may change facilities or something and that would lose their query pa

[2020-09-04 23:52] #7491 closed, assigned to jonboiser

[2020-09-07 18:49] MasakoOllivier commented on #7197
I see this problem on Android 5.1 (BLU). It happens consistently.

Channels > Clicked Import > Selected Local network or internet > Selected a local Kolibri > Clicked on Select Resources > Since the channel listing never shows up on this device (probably too slow), clicked the arrow at the top to go back on page > Clicked the X on the top left corner > The error message "Sorry! Something went wron

[2020-09-08 05:03] MasakoOllivier opened #7507 "Incorrect sizes reported for peer import (Android)"
### Observed behavior

I'm testing Kolibri on Android 10. I'd like to report 2 issues here together since I think they're related.

1) During the import from a peer Kolibri on Mac, the "Total size" shown is the entire KA size (54 GB) on Studio, not the actual KA size on Kolibri on Mac (16 GB).  By the way, on Android, the "On your device" shows 0 resources while the size is 148MB because there wer

[2020-09-08 17:16] MasakoOllivier commented on #7507
Something very strange happened. I'm using the same Android device I mentioned in the report above. (Nokia 1.3; Android 10)

Right after the device is connected to a local peer (Mac), it said 16 GB for "total size" (which is what's on the peer) and 0 resources and 0MB for "on your device" for the first 5-10 seconds and then the numbers changed to 54 GB and 148 MB, as shown in the screenshot. This

[2020-09-08 17:20] rtibbles commented on #7507
There are various things that can go wrong during these calculations for peer and disk import, so I imagine something like that might be at play. Any other logs you can dig up (even ones that are not error tracebacks) would be helpful in narrowing this down.

[2020-09-08 18:27] jredrejo commented on #7463
@bjester it seems it's happening without restarting the server or upgrading kolibri too
https://www.notion.so/learningequality/Frequent-Redis-Lock-errors-on-the-demo-server-bacac3f3fd1d491c86ecac75d89a2eee

[2020-09-08 18:30] aronasorman commented on #7463
Apologies for the late reply @bjester -- we don't have any special configuration, so everything in the default values here apply: https://cloud.google.com/memorystore/docs/redis/redis-configs

[2020-09-08 18:47] jonboiser commented on #7502
I think one way to fix it is to handle more general `Exceptions` at this line.

https://github.com/learningequality/kolibri/blob/65c0d60a7b2507337f95b131492e47d0e62e2b47/kolibri/core/discovery/utils/network/client.py#L56-L57

But maybe the problem here is that `.omg` isn't a real TLD? It might be something internal to the `requests` module.

[2020-09-08 23:29] #7474 closed, assigned to jonboiser

[2020-09-08 23:41] #7326 closed, assigned to jonboiser

[2020-09-08 23:47] jonboiser commented on #7505
This should be easy to fix by updating this line:

https://github.com/learningequality/kolibri/blob/6443d53eea37bcd8d33c42c592ffb93ab2074f22/kolibri/core/auth/constants/facility_configuration_presets.json#L30-L31

[2020-09-09 00:10] jonboiser commented on #2414
I just revisited this on the kolibri-beta server, and it still seems to be happening. I watched a video, got it to an "in-progress" state, but did not see it appear in the "resume" row even after refreshing.

Looking at the code, is this sorting correct?

https://github.com/learningequality/kolibri/blob/6443d53eea37bcd8d33c42c592ffb93ab2074f22/kolibri/core/content/api.py#L707-L708

Intuitively, I

[2020-09-09 00:15] jonboiser commented on #5360
This should be resolved in Kolibri 0.14. If a user is not authenticated, they should be redirected to the main content page if they try to access the `/classes/` URL:

https://github.com/learningequality/kolibri/blob/6443d53eea37bcd8d33c42c592ffb93ab2074f22/kolibri/plugins/learn/assets/src/routes/classesRoutes.js#L10-L20

[2020-09-09 00:15] #5360 closed, assigned to nobody

[2020-09-09 00:20] jonboiser commented on #5876
This should be resolved with the new superuser features we added in Kolibri 0.14. Superusers should be able to access Facility + Coach data across the entire device.

[2020-09-09 00:20] #5876 closed, assigned to nobody

[2020-09-09 00:23] jonboiser commented on #6668
Closing as probably a stale issue. 🍞

[2020-09-09 00:23] #6668 closed, assigned to nobody

[2020-09-09 00:27] jonboiser commented on #7494
Closing this as a duplicate of #6593, which also contains more detailed analysis of the root cause.

[2020-09-09 00:27] #7494 closed, assigned to nobody

[2020-09-09 00:41] #2852 closed

[2020-09-09 02:33] MasakoOllivier commented on #7507
Here is a zip file of the logs folder on the Android 10 device.

[logs-android10.zip](https://github.com/learningequality/kolibri/files/5192268/logs-android10.zip)

[2020-09-09 02:43] MasakoOllivier commented on #7507
By the way, I tried to see if the information on the device (the total size and the listing) would be the same as the ones on the peer if there is no internet. It didn't make any difference (they were the same as shown in the screenshots).

[2020-09-09 20:57] #7400 closed, assigned to jonboiser

[2020-09-10 22:40] jonboiser commented on #2395
I think these issues are generally handled by setting the attribute `dir=auto` in the template, so the browser can figure things out based on the font.

[2020-09-10 22:40] #2395 closed

[2020-09-10 23:00] jonboiser commented on #7131
There are libraries we can use to return some sort of relevance-sorted filtering of the names. But I don't believe this will work if/when we return paginated lists of Facility users (since not all the users will be in-memory).

[2020-09-11 00:34] kollivier commented on #7131
Are we doing a `contains` search? I think doing a `startswith` query instead of `contains` would work for usernames and first / last name, and then the exact match should be the first result so long as it's sorted alphabetically.

[2020-09-11 16:12] rtibbles opened #7510 "Unsupported browser template does not use theme styling"
### Observed behavior
The unsupported browser template uses static css in the template - mostly this is fine, but the colours used in there are Kolibri default theme colours, not those drawn from the currently loaded theme plugin.

### Expected behavior
Should use the themes defined by the currently active theme hook.

### User-facing consequences
Custom themes might look odd for unsupported brows

[2020-09-11 18:00] jonboiser commented on #7131
The filtering in the video is done on the front-end, probably doing a simple substring match.

If we do change things to make fetch a paginated list for this page, I think I would implement the search maybe using the technique you described, but where the `startswith` results take precedent over the `contains` result (we still want both).

But maybe in the short term, we could change the front-end

[2020-09-12 05:47] jamalex commented on #6982
Seeing this when trying to start KDP (which is on 0.13):

[code]

[2020-09-14 16:32] MasakoOllivier opened #7511 "Crashes during viewing PDF on Android 5"
### Observed behavior

Checking performance using Kolibri QA channel.

When trying to change font sides, doc orientation, etc. while viewing PDF, Kolibri crashes on Android 5 (device: BLU). (The "Sorry! Something went wrong!" message appears)  When using newer devices (Pixel C: Android 6; Nokia 1.3: Android 10), these crashes don't happen, at least I didn't see them.

![image](https://user-images.

[2020-09-14 16:36] MasakoOllivier opened #7512 "ePub on Android: 1) shows partial following page; 2) changing orientation brings back to TOC"
### Observed behavior

Devices:
Android 5.1 - BLU Advance 5.0 (cell phone)
Android 6.0.1 - Pixel C (tablet)
Android 10 - Nokia 1.3 (cell phone)

Each device acts differently from the other two. I'm using Kolibri QA Channel to check the performance.

Android 5.1 - BLU Advance 5.0 (cell phone)
On full screen mode in ePub, partial following page shows up on the right side of the screen for English co

[2020-09-14 16:46] MasakoOllivier opened #7513 "HTML 5 viewing issues on Android"
### Observed behavior

Devices:
Android 5.1 - BLU Advance 5.0 (cell phone)
Android 6.0.1 - Pixel C (tablet)
Android 10 - Nokia 1.3 (cell phone)

I'm using Kolibri QA Channel to check the performance.

Plix
Contents do not show up on Android 5 (BLU). It works fine with the other two devices.

![image](https://user-images.githubusercontent.com/70489926/93107248-2cfb8680-f666-11ea-9886-337fc731deaa.p

[2020-09-14 17:01] MasakoOllivier commented on #6697
I saw the same issue on Android devices. (I used a cell phone and a tablet.)

When I started importing 10 GB resource, Kolibri didn't warn me that I didn't have enough free space (I knew both devices had only 9GB of free space). It kept importing on both devices until they were pretty much out of free space. It seems that when a cell phone doesn't have much free space left, it can have problems se

[2020-09-15 00:56] MasakoOllivier opened #7514 "Viewing PDF: zoom in & out bar is hard to access - Android"
### Observed behavior

Devices:
Android 6.0.1 - Pixel C (tablet)
Android 10 - Nokia 1.3 (smart phone)

When viewing PDF in the full screen mode, it's sometimes hard to access the zoom in & out bar. It's not that it never appears. It just doesn't appear when you expect, so you miss the timing to zoom in & out, or exit full screen. It seems that the longer you've been running Kolibri, the harder it

[2020-09-15 07:18] indirectlylit opened #7515 "classes tab (in facility) has incorrect icon"
### Observed behavior

The classes tab uses the facility icon:

| classes tab | facility icon |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/93178222-c9ff0380-f6e8-11ea-8bb0-2f51343800b5.png) | ![image](https://user-images.githubusercontent.com/2367265/93178144-ab990800-f6e8-11ea-9bc1-efb661c8032e.png) |

### Expected behavior

The classes tab should use the class icon ![im

[2020-09-15 19:26] rtibbles commented on #2414
I think probably good to reverse the sort order. The other issue is that we cache the recommendation calls for 10 minutes and don't currently have a good cache invalidation strategy.

[2020-09-16 18:15] dylanmccall opened #7516 "Crash in setchannelorder when channel order is None"
### Observed behavior

The `setchannelorder` management command crashes when used with a newly imported channel.

### Expected behavior

Instead, the command should run as usual.

### User-facing consequences

This makes it difficult to use `setchannelorder` in a script that uses Kolibri's management commands to set up Kolibri.

### Errors and logs

This is happening because the `ChannelMetadata`

[2020-09-17 00:37] aronasorman opened #7518 "Slow /api/auth/classroom endpoint"
# Summary
We are experiencing 10+ latencies for the the `api/auth/classroom` endpoint on the Chile Kolibri Country server.

The full CURL request to emulate the slow endpoint can be found in [this slack message](https://learningequality.slack.com/archives/C920Q1LNS/p1600302430042400).

@rtibbles mentioned that the bottleneck is in our use of `HierarchicalRelationsFilter` [here](https://github.com/

[2020-09-21 16:31] #7516 closed, assigned to nobody

[2020-09-21 16:44] #7515 closed, assigned to nobody

[2020-09-22 19:36] dylanmccall opened #7523 "Topic node thumbnails are not added when importing specific content"
### Observed behavior

When importing a specific content node under a hierarchy, Kolibri retrieves files for the specified content node and its descendants. However, it does not retrieve files (such as topic node thumbnails) for its parents.

### Expected behavior

Instead, when importing a content node, Kolibri should retrieve files for the specified content node and its descendants, as usual. It

[2020-09-22 19:59] jonboiser commented on #7523
@rtibbles It seems like `calculate_files_to_transfer` might need to expand it's filtering to include all the ancestor topics of `nodes_to_include`.

https://github.com/learningequality/kolibri/blob/219e74e27820c79a11154a27b964ae22188c2de7/kolibri/core/content/utils/import_export_content.py#L102-L116

[2020-09-22 20:03] rtibbles commented on #7523
Yes that seems right.

[2020-09-22 21:37] #7132 closed, assigned to nobody

[2020-09-22 22:04] #6512 closed, assigned to rtibbles

[2020-09-22 22:20] jonboiser opened #7524 "Content Session/Summary log generation should show actual progress (esp. for servers with large datasets)"
### Observed behavior

On the Kolibri beta demo server, it takes several minutes to generate new content reports, so when you click "Generate" an indeterminate progress loader widget shows and seems to hang.

![image](https://user-images.githubusercontent.com/10248067/93943277-06cd8a80-fce7-11ea-95b0-326436a07dc2.png)

### Expected behavior

Because these tasks have percentage metadata, we could s

[2020-09-23 02:08] dylanmccall opened #7525 "Kolibri hangs loading content from Ciencia NASA (topics have thousands of child nodes)"
### Observed behavior

The Ciencia NASA Kolibri channel has a topic node with a very large number of children. Attempting to view this content in Kolibri causes it to hang for a very long time (measured in minutes), blocking the UI. The content does eventually load, but not before I have given up.

### Expected behavior

Instead, this topic should load faster. It may be that it needs a smaller num

[2020-09-23 02:45] indirectlylit commented on #7132
wow and hex digits even!

[2020-09-23 18:30] indirectlylit commented on #7525
see also: https://github.com/learningequality/kolibri/issues/3773 (add support for arbitrarily-sized topics)

[2020-09-23 20:00] jonboiser commented on #7525
Yeah, the bottleneck seems to be on the client-side. In the profiler, it already takes 30 seconds just to create what I think is the virtual DOM representation of the list (lots of calls in vue to an `insert` method), then that is followed by several minutes of forced reflows and style updates (due to our use of a responsive window + element mixin that watches for resizing events) and mysterious g

[2020-09-23 21:37] indirectlylit commented on #7525
My guess is this might be attributable mostly to the responsive element mixin, more than the responsive window mixin. If this is causing layout thrashing, we should definitely address that.

Would you mind disabling that functionality and profiling again? You should be able to simply edit this file in `./node_modules/`:

https://github.com/learningequality/kolibri-design-system/blob/e013087ed11915

[2020-09-23 22:21] jonboiser commented on #7525
If I comment out those lines, it renders a lot sooner (within 5 seconds).

[2020-09-23 22:34] rtibbles commented on #7525
Could we delay initialization of resizeSensor until after the initial page load in some way?

[2020-09-23 23:36] jonboiser opened #7528 "Django tests should probably use `setUpClassData`(run once per TestCase class) more often than `setUp` (run every unit test)"
A lot of our django tests use the `setUp()` method to run code that could should probably be only run once, e.g. for provisioning the device, making superusers, etc. As an optimization, this should be moved to a `setUpTestData(cls)` method. I tested this out on `kolibri/core/content/test/test_content_app.py::ContentNodeAPITestCase` and the whole test case took 100 seconds to run using the `setUp`

[2020-09-23 23:37] rtibbles commented on #7528
Note that even when we are mutating the data, if it is a regular DjangoTestCase, then it will roll back any changes after the test, so this should be safe in a lot of places.

[2020-09-24 00:19] jonboiser commented on #7528
I applied this refactor in a two test modules, and both took about 1/3 the time before the refactor, so we could get some good speedups if applied everywhere in the test suite.

https://github.com/learningequality/kolibri/compare/release-v0.14.x...jonboiser:faster-test-setup

[2020-09-24 18:24] #7111 closed, assigned to nobody

[2020-09-24 21:57] rtibbles opened #7529 "Not possible to run without zeroconf and other offline only ancillary services"
### Observed behavior
Kolibri Data Portal is logging errors due to running zeroconf within its deployment cluster.

We have also already had to disable the pingback task on KDP - showing that there is a need to be able to start Kolibri in a more selective manner

### Expected behavior
Online deployments of Kolibri should be able to startup without unneeded ancillary processes.

### User-facing con

[2020-09-24 22:39] indirectlylit commented on #7525
That is exactly what I was thinking - there's no reason the resize sensor start operating until the initial page load has settled. There's also a fair chance this has been causing less drastic performance issues throughout the app, so this would be a nice change everywhere

[2020-09-24 22:41] indirectlylit commented on #7525
We also may want to re-evaluate our use of the resize sensor, especially if it's being applied to every single resource card? This may be something to use more sparingly, e.g. at most a couple times on a page

[2020-09-25 21:02] #7298 closed, assigned to nobody

[2020-09-26 15:08] alexMet commented on #7283
@jonboiser This issue has been resolved and it works in the "develop" branch, but not in the "release-v0.14.x".

[2020-09-28 17:07] jonboiser commented on #7283
Oh yeah, we should have closed this out! I think I'll have to cherry-pick this one to release-v0.14.x as well so it gets in the next release.

[2020-09-28 17:22] #7283 closed, assigned to nobody

[2020-09-28 17:45] jonboiser commented on #7283
@alexMet Have you checked out some of the issues in the [0.14.4 milestone](https://github.com/learningequality/kolibri/milestone/60)? Most of them are frontend issues similar to the ones you've fixed recently.

[2020-09-28 17:54] jonboiser commented on #5283
Closing this as a probably stale issue. Testing this on the demo server (running 0.14.3 and viewing in Chrome), I can't reproduce this.

[2020-09-28 17:54] #5283 closed, assigned to nobody

[2020-09-29 18:24] #6339 closed, assigned to nobody

[2020-09-29 18:26] #7528 closed, assigned to nobody

[2020-09-29 19:23] alexMet commented on #7283
@jonboiser Oh sorry, i didn't see that you mentioned me. I was working on #7475 and i found the bug, but i don't know how to fix it. So i picked the other issues, that we are talking about.

[2020-09-30 00:36] lauradanforth opened #7536 "Clicking the check box to add exercises (or folders of exercises) to a quiz doesn't work"
### Observed behavior
When clicking the check box next to a folder, I expected it to show "## resources added" on the card but this didn't show up. When I clicked into the topic, the subtopics weren't selected, nor were any of the individual resources in those folders.

After selecting the folder of exercises and clicking 'Continue' it showed that no resources were selected (see screenshot).

![im

[2020-09-30 09:33] intelliant01 opened #7537 "Fullscreen option disabled for videos on Android"
### Observed behavior

On Android, users are unable to view a video clearly as it expands beyond the viewport or is too small. Have tried this with Khan Academy and PheT videos.

### Expected behavior

Fullscreen mode could address this issue but the fullscreen option in the video player is disabled.

### User-facing consequences

Unable to consume the content on handheld Android devices.

### Err

[2020-09-30 15:39] rtibbles commented on #7537
Note that this is deliberately disabled because the fullscreen APIs we use outside of Android do not work in the app context.

[2020-09-30 15:58] kollivier commented on #7537
The underlying issue is that, at least on some platforms, the app, not the browser, needs to be the one to handle the fullscreen request. So on each platform, we'd need to add explicit code to enable this. For WebView / Chromium on Android, we should be able to do that by handling the following callbacks:

https://stackoverflow.com/questions/38842869/how-to-fullscreen-youtube-video-in-webview

[2020-09-30 18:19] jonboiser commented on #7239
This commit in Vuex implements the warning and might provide a clue as to what's wrong in how we're using vuex in our tests https://github.com/vuejs/vuex/commit/538ee58

[2020-09-30 18:30] pateljj04 opened #7538 "Export Logs, User Import and Export missing after Facility Sync"
### Observed behavior

Under Facility Data, the option for Export usage Logs as well as Import and export users is missing once a facility has been sync.
![Screen Shot 2020-09-30 at 2 19 53 PM](https://user-images.githubusercontent.com/404871/94724387-37857380-0328-11eb-85f0-ab341415c70c.png)

### Expected behavior

Expected behavior, I think it should still show Export Usage data and Import and E

[2020-09-30 18:34] jonboiser commented on #7538
Hi @pateljj04, do you mean that the Import and Export functionality is missing from the page in the picture above?

In Kolibri, the ability to import users/export logs is not in the "Sync facility data" page, but a different part of the app, in the Facility > Data section. Here's how you would navigate to it:

![image](https://user-images.githubusercontent.com/10248067/94725534-c7b7be80-0310-11eb-

[2020-09-30 18:37] jonboiser commented on #7536
I was able to reproduce this on the kolibri beta demo server. I believe the problem might be at this line here, since `find` might be returning an `undefined`

https://github.com/learningequality/kolibri/blob/efb5425df560eb8e18004839dd761244034d148d/kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue#L424-L428

[2020-09-30 18:40] jonboiser commented on #7538
@pateljj04 Sorry for misinterpreting the screenshot above. Are you saying that the top two sections in the Facility > Data page disappear after you sync?

![image](https://user-images.githubusercontent.com/10248067/94726171-b4f1b980-0311-11eb-8494-bdc2eb253433.png)

This is unusual, because this is normal behavior for our Mac and Android versions of Kolibri, but those sections should always be sho

[2020-09-30 18:52] pateljj04 commented on #7538
Hi @jonboiser yes sorry I should clarify, it's missing from the Data screen once its syncs with a facility.

[2020-09-30 19:14] jonboiser commented on #7538
@pateljj04 Do you have any Kolibri server logs or see any console errors inside your browser's development tools?

And are these import/export sections missing permanently now? They don't return after refreshing the page?

[2020-09-30 19:18] pateljj04 commented on #7538
@jonboiser doing some more testing, it seems after the initial sync and subsequent reboots it tends to disappear. Rebooting bring it back but as soon as the sync is performed it disappears again. I will try to grab the logs.

[2020-10-01 19:17] #7134 closed, assigned to nobody

[2020-10-01 19:26] jonboiser commented on #7538
Let us know if you are able to share any server logs that are recorded right when you sync a facility, plus any messages in the browser's console. Unfortunately, what you're seeing is very very unusual based on our understanding of how the facility-sync backend code and the facility data page frontend code work.

[2020-10-02 16:06] pateljj04 commented on #7538
@jonboiser It's doing it again, what specific server logs should I pull? What I call our content server (local instance that Pi's sync with) it's running on Ubuntu 18.04.5.

[2020-10-02 17:52] jonboiser commented on #7538
In your `KOLIBRI_HOME` directory there should be a `/logs` directory with some text files (debug.txt and kolibri.txt). Could you maybe [create a gist](https://gist.github.com/) of them or email them to me at jonathan@learningequality?

I suspect this might be a frontend issue, so if you can take a screenshot or create a text file of any logs you see in, for example, the Chrome developer tools cons

[2020-10-02 17:58] jonboiser opened #7540 "Kolibri version number defined via webpack doesn't recognize `-weekly` or other novel tags (shows as `-dev0`)"
### Observed behavior

Currently, the git tag of Kolibri live on kolibri-beta.learningequality.org is `0.14.4-weekly2`, but the website shows this on the bottom of the Sign-In Page

![image](https://user-images.githubusercontent.com/10248067/94970104-c4f7cd80-04b8-11eb-9e81-3690b5f64a8f.png)

Similarly, the installers for Kolibri on the release page have the same `dev0` version in the file names.

[2020-10-02 18:00] rtibbles commented on #7540
The allowed versions are defined in the Kolibri Python version code here: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/utils/version.py#L112, so it might just be a matter of adding `weekly` as an option (but may also be more complex than that....)

[2020-10-02 18:42] pateljj04 commented on #7538
Ok sounds good, I will email the debug and Kolibri log files. As well as the screenshot of the Safari, it looks like Safari is the culprit, it's showing fine in Chrome. Very weird.

[2020-10-02 19:15] jonboiser commented on #7538
Oh, okay. Could you post the console screenshot from Safari? That seems the most likely root cause right now! We'll see if we can reproduce this.

[2020-10-02 21:20] jonboiser commented on #7540
Yeah, I'm looking at all this documentation stressing the semantic versioning, and realize `weekly` doesn't really fit into that story. But the intention is that the weekly release is a mostly internal thing and I don't plan on publishing any weekly versions anywhere.

So I think the plan will be just to add `weekly` as an allowable tag, and see if that works.

[2020-10-03 17:31] intelliant01 opened #7541 "Same "sync" user credentials across facilities cause sync to fail"
### Observed behavior

Have two facilities with the same admin credentials on a server. Was attempting to import facilities on two different devices using `kolibri manage sync...`

The `sync` was always failing on the 2nd device with this error -

`requests.exceptions.HTTPError: 403 Client Error: Forbidden for url: http://192.168.1.69:8080/api/morango/v1/certificates/`

After a lot of permutations

[2020-10-03 17:40] intelliant01 commented on #7541
Related https://github.com/learningequality/kolibri/pull/3011

[2020-10-03 18:14] alexMet commented on #7475
The is another issue because of this bug. When you reload the preview page, the correct remove button shows up and then if you go back to the list, nothing shows up.

![bug](https://user-images.githubusercontent.com/3750511/94998824-58b2c200-05bd-11eb-961d-8c960188d3ec.gif)

The above pull request fixes that also.

[2020-10-05 14:38] pateljj04 commented on #7538
Here is Chrome: <img width="1916" alt="Screen Shot 2020-10-02 at 2 42 12 PM" src="https://user-images.githubusercontent.com/404871/95093441-ca425b80-06f6-11eb-9755-05dcc3c95df1.png">
Here is Safari: <img width="1920" alt="Screen Shot 2020-10-02 at 2 41 58 PM" src="https://user-images.githubusercontent.com/404871/95093456-ce6e7900-06f6-11eb-89cd-13895d22f85f.png">

[2020-10-05 16:29] kollivier commented on #7538
@pateljj04 In Safari, could you type `navigator.userAgent` into the JS console, and paste in what it shows?

[2020-10-05 16:38] pateljj04 commented on #7538
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0 Safari/605.1.15" = $2

[2020-10-05 17:00] jonboiser commented on #7538
I was able to see this on the kolibri-beta server too with Safari. My user agent string is identical:

[code]

[2020-10-05 19:13] #7538 closed, assigned to jonboiser

[2020-10-05 19:16] jonboiser commented on #7538
@pateljj04 We just merged a patch that we think fixes this issue. Would you be interested in testing the fix with our next [Kolibri 0.14.4 weekly releases](https://github.com/learningequality/kolibri/releases)? The next release (`0.14.4-weekly3`) will have the fix and be released this Friday, October 9, around 12PM GMT-700 (California USA time). If you look in the "assets" section for our current

[2020-10-05 19:39] pateljj04 commented on #7538
@jonboiser Sure, I will check it out and let you know! Thanks!

[2020-10-05 23:12] #7448 closed, assigned to nobody

[2020-10-06 21:09] #7475 closed, assigned to nobody

[2020-10-07 17:01] #7536 closed, assigned to nobody

[2020-10-07 19:03] kollivier opened #7547 "PDF.js renders to canvas, making text unselectable"
### Observed behavior

When viewing PDFs, all content is rendered as an image, regardless of how the actual content is encoded in the PDF. This disables the ability to do things like text selection.

Here's an example PDF that contains text that is selectable in the Studio preview (which uses the original renderer):

https://studio.learningequality.org/channels/b62c5c2139a65fb2aaf68987a25b28a1/edi

[2020-10-07 19:09] kollivier opened #7548 "Add ContentNode.options option to control content downloadable setting"
### Observed behavior

Currently, download settings can only be controlled at the device / facility level. Some content either cannot, or should not be downloadable, while other content is licensed such that downloading is explicitly allowed.

We should add a flag that allows the content to specify whether or not it should be downloadable, and allow this flag to supercede the device / facility set

[2020-10-07 21:41] jonboiser commented on #7548
Does this `options` field exist on ContentNodes in Kolibri Studio?

[2020-10-07 21:46] jonboiser commented on #7541
@intelliant01 Is this only an issue when using the `importfacility` management command, or have you been able to reproduce this using the Import Facility workflow on the Device > Facilities page?

![image](https://user-images.githubusercontent.com/10248067/95391426-e50a0100-08ab-11eb-8139-673465764538.png)

[2020-10-07 21:52] jonboiser commented on #7482
So, to fix this we should look for anything like this in the code:

[code]

And replace it the `KExternalLink` with a `KRouterLink` which also supports an `href` prop.

[2020-10-07 22:56] kollivier commented on #7548
It does in the backend, but we haven't yet decided how best to expose it in the frontend. It would primarily benefit ricecooker channels for now.

[2020-10-07 23:03] jonboiser commented on #7548
Ah, okay. So to me this should probably be blocked until we know how you want to present this info on the Studio front-end so we're consistent on Kolibri.

But I think in the meantime, if there exist published channels with this field, we can get started on integrating it with the Kolibri backend (e.g. updating models and serializers, etc.)

Unless, the scope of this issue is simply to expose this

[2020-10-07 23:22] kollivier commented on #7548
How I was originally thinking of it was to scope this such that Kolibri recognizes and responds to the option when set. We would be mostly setting this via ricecooker for now. Studio frontend support would be phase 2. (e.g. we already have a coupel HTML5 app options that work like this in Kolibri.)

[2020-10-07 23:28] jonboiser commented on #7548
Is there a published channel that we can see this option on? I think the "recognizes and respond to" part might need some design, esp. since I'm not sure I think this

needs some clarification and may involve implementing yet more Facility/Device settings to set the desired policy. Like, one use case for disabling downloads is that people don't want learners to download content to a tablet and tak

[2020-10-08 16:13] intelliant01 commented on #7541
Through `Device - FACILITIES`, upon attempting the import of the 2nd facility with the duplicate username and password of an admin user, the UI shows - `Incorrect username or password` and nothing in the logs.

[2020-10-08 16:32] rtibbles commented on #7548
Note that the `options` field is already being loaded to the frontend: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/core/content/api.py#L306 (it is used in HTML5 apps to determine default iframe sizing).

I think the safest thing is for the flag to only prevent downloads for now, as that is the primary use case to prevent downloads of content from the channel level. So

[2020-10-08 17:24] jonboiser commented on #7541
Okay, so the result looks the same whether you use the management command or the UI.

[2020-10-08 19:53] kollivier opened #7551 "ePub reader appears to insert blank pages or otherwise incorrectly paginate content"
### Observed behavior

When viewing an ePub in Kolibri, for some content the two page view displays one page as blank. This is seen pretty regularly in the GDL content. Here is one example:

https://kolibri-demo.learningequality.org/en/learn/#/topics/c/164bc4da45ed5aae9f0f2f01830dcc07

If you download the ePub and open it in another ePub reader (tried with Colibre and iBooks), there are no blank p

[2020-10-08 20:44] jonboiser commented on #7551
I've been trying to compare these ASB ebooks to other examples, because I wonder if this pagination issue is due to the structure of these storybooks, where each page is its own "Chapter", where it might make sense for some renderers to insert an extra blank page at the end of a chapter.

Here's one example, where there are several top-level section (i.e. chapters).

https://kolibri-beta.learninge

[2020-10-08 20:53] jonboiser commented on #7551
We might need to look at the [epubjs documentation](http://epubjs.org/documentation/0.3/) to see if there's a way to mimick iBooks, but all of the demos on the website have the behavior from the ASB and Linear Algebra screenshots.

[2020-10-08 21:22] jonboiser commented on #7477
Currently, it seems this bug only happens when clicking from the top-level list of channels into the the next topic. I don't see it like in the original post, where it happens there _plus_ when going from a topic into a resource preview. Based on how it happens, I see a sort of full-page refresh occur right before the snackbar shows up, which is related to another sort of bug where if you refresh

[2020-10-08 21:26] #7086 closed, assigned to nucleogenesis

[2020-10-09 16:44] AdamStasiw commented on #7505
Hi! I'm an engineer who's brand-new to open source. Kolibri looks like a really exciting project, and I'd love to get involved! Is it okay if I take this issue so that I can learn the open source dev process and make my first contribution?

[2020-10-09 17:34] jonboiser commented on #7505
Hi @AdamStasiw , thanks for offering to help! I believe that the fix for this bug is a simple one-line change in the JSON file I linked, but it would be important to verify this fix by running and testing the app.

So here are some resources to help understand some of the context in the original issue, esp. since we refer to this "learners can sign up" concept in a bunch of different ways:

Screen

[2020-10-09 17:52] jonboiser commented on #7538
@pateljj04 We just released the weekly Kolibri release that hopefully fixes this issue for you on Safari. You can find the RPi image [at this link](https://github.com/learningequality/kolibri/releases/tag/v0.14.4-weekly3) under the "Assets" section on the button. Just a heads up that these are fairly large files (around 500 MB).

[2020-10-09 18:50] jonboiser commented on #7454
I believe this is happening because when the facility is re-imported, it keeps the same ID, so in the table, this function

https://github.com/learningequality/kolibri/blob/4cf820b14386aecc228fecff64c847bad407cbb1/kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue#L39

Which is implemented here

https://github.com/learningequality/kolibri/blob/4cf820b14386aecc228fecff64c847bad407cbb1

[2020-10-09 19:10] kollivier commented on #7548
Yeah, agreed, on further thought prioritizing the facility default makes more sense!

[2020-10-09 21:25] DXCanas commented on #7547
Context:

Text selection works on Studio because the pdfs are rendered using the browser's default PDF renderer.

We tried that once in Kolibri, but ran into inconsistencies across browsers, as not all of them included a PDF renderer. Sometimes, the renderer would actually be there, but be REALLY REALLY slow. Crashed a few browsers on a some tablets/phones.

So we had to roll our own and bake it i

[2020-10-09 22:14] jonboiser commented on #7482
Here are some places I think this change needs to be made. These are all usages of `KExternalLink` that point from one Kolibri plugin SPA to another.

Sign in link on AuthMessage

https://github.com/learningequality/kolibri/blob/4cf820b14386aecc228fecff64c847bad407cbb1/kolibri/core/assets/src/views/AuthMessage.vue#L13-L18

Link from Coach -> Facility if there are no classes

https://github.com/lea

[2020-10-09 22:49] pateljj04 commented on #7541
I am also having this issue, wondering what the temporary workaround is? Wouldn't remove the KOLIBRI_DATA folder remove the channel content?

[2020-10-09 23:00] jonboiser commented on #7541
I believe the current workaround is to make sure that facility admins have unique usernames and/or passwords.

I don't believe you need to remove the entire `KOLIBRI_DATA` folder, since this problem is most likely caused by specific tables in the `db.sqlite` file, namely these "morango_" tables

![image](https://user-images.githubusercontent.com/10248067/95638021-36e78e00-0a48-11eb-898d-79e85ad339

[2020-10-09 23:06] nucleogenesis commented on #7482
Closing in favor of a different approach, opening a separate issue.

[2020-10-09 23:06] #7482 closed, assigned to nobody

[2020-10-09 23:20] AdamStasiw commented on #7505
Okay, I left a few questions on the Pull Request because of my lack of knowledge around testing and around the PR process, but I think I've got this working - the documentation was _incredibly_ useful!

[2020-10-09 23:24] intelliant01 commented on #7541
@jonboiser more than the need of clearing a morango table, to me it seems a case of acknowledging the fact that the 2nd sync attemtping admin user is a unique one based on its facility id and issue a new certificate. Once a certificate is issued, the credentials (username and password) will no longer matter.

[2020-10-09 23:42] pateljj04 commented on #7541
@jonboiser That doesn't seem to work, my scenario might be a little different (Raspberry Pi), however, the behavior and the process described here is same. I have a 1st device (Pi) set up and synced with a facility. Then I deprovision the device to make copies of it, duplicating it so each Pi is different. When going thru the setup wizard on a duplicated image Importing facility fails and gives me

[2020-10-10 00:05] pateljj04 commented on #7541
I think this is replicating #7504  behavior but on the second device.

[2020-10-10 00:20] pateljj04 commented on #7541
In addition, doing some more testing, if I set up the device as a new facility after deprovision, instead of doing an import facility, when I go to import a facility it doesn't import the new facility (hope that makes sense)

[2020-10-10 01:14] pateljj04 commented on #7504
If it helps here is the error I get when trying to run the sync from cli on a device that has been deprovisioned.

[code]

[2020-10-10 13:00] alexMet commented on #7439
There is another bug, when you hit enter with the same search term. A redundant redirect happens.

![simplescreenrecorder](https://user-images.githubusercontent.com/3750511/95655664-95c50a00-0b11-11eb-9636-e73ae4b56cca.gif)

The above pull request fixes that also.

[2020-10-10 16:35] pateljj04 commented on #7504
So I have been doing consistent testing, if I setup a fresh kolibri instance, sync it with a facility, deprovision it, I can no longer import that facility.

[2020-10-12 17:25] #7439 closed, assigned to nobody

[2020-10-12 18:40] #7505 closed, assigned to nobody

[2020-10-12 19:15] jonboiser commented on #7334
Currently, the way we handle the "reset" logic is by calling this Vuex action from the page

https://github.com/learningequality/kolibri/blob/3a290e36eba43353ad58e57a783e49c21664e15b/kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue#L233-L237

This works by updating the settings on the client using this hardcoded map, then sending that map back to the frontend.

https://github

[2020-10-13 17:17] jonboiser opened #7556 "Duplicate-classroom-title error message appears when creating a new classroom"
### Observed behavior

Similar to #6593, when you create a new classroom as an admin on the Facility > Classes page, you briefly see an error message in the text field.

GIF from kolibri-demo server:

![CleanShot 2020-10-13 at 10 13 27](https://user-images.githubusercontent.com/10248067/95893813-0b60ee00-0d3d-11eb-966d-365ec118b63e.gif)

### Expected behavior

No error message shows after you clic

[2020-10-13 17:20] #6593 closed, assigned to nobody

[2020-10-13 17:29] jonboiser commented on #7504
@pateljj04 Are you using the `deprovision` management command mainly to remove facility and user data from your server? There is another command `kolibri manage deletefacility` that I think works better if you want to delete a facility and then re-import it again later on.

I do think it is a bug that `deprovision` doesn't have the same behavior, but `deletefacility` may be a workaround if you nee

[2020-10-13 18:14] pateljj04 commented on #7504
@jonboiser Yes, we need to remove facility and user data so we can make copies of the SD cards for the Pi. The workaround right now I am using is using importchannel and importconnect command to pull the content in on the main Pi image. Once the content is imported, then I can make copies of the SD card and do an import of the facility on each device. I will give deletefacility a try and see if th

[2020-10-13 22:20] jonboiser commented on #7525
I just heard that there were performance issues on the Device > Content Import/Export workflow for these big topics so checked it out with the profiler. In this workflow, each topic is represented by a pretty simple component, but the sheer number of them causes the rendering to take awhile, plus it seems like there might be some of the same forced reflow issues. I also noticed that the payload fr

[2020-10-13 22:36] jonboiser opened #7557 "`TextTruncator` component does not provide a way to read the hidden text"
### Observed behavior

I noticed this on the Channel cards and breadcrumbs, but it's probably a pretty widespread issue.

Basically, if a long piece of text is truncated, I don't think there's a way for me to _read_ the full-text without navigating somewhere else.

Screenshots of places in the app. Sighted users cannot read the text hidden by "..." without navigating elsewhere.

(The first one's n

[2020-10-13 23:18] jonboiser opened #7558 "When navigating resources for quiz/lesson-creation, unchanging elements in UI flash in and out"
### Observed behavior

Here's a GIF of what it looks like when you navigate the quiz-creation workflow

![CleanShot 2020-10-13 at 16 10 44](https://user-images.githubusercontent.com/10248067/95925650-35330880-0d6f-11eb-99ab-ed0fc04049af.gif)

Observe that the entire middle part of the page disappears and reappears at each button-click, although its only the content cards that change.

There is a s

[2020-10-14 04:55] indirectlylit commented on #7525
Is this similarly preventable by disabling the resize sensor as above?

The resize sensor is useful in some very specific situations like composable apps where the child app doesn't know about the window, only the parent component. For most other situations it's possible to use the standard responsive window mixin.

[2020-10-14 13:59] pateljj04 commented on #7504
@jonboiser Thanks!  I gave that a try, looks like I have to run both deletefacility and then deprovision otherwise, the setup wizard GUI doesn't launch after the restart. It does let me re-import the facility so that is good news for the workaround, I am guessing deprovision sets a flag to bring up the provisioning whereas deletefacility only removes the facility data, is that correct?

[2020-10-14 15:37] rtibbles commented on #7504
Yes - deprovision will additionally remove any device settings.

[2020-10-14 17:13] jonboiser commented on #7525
There are some slight differences in the profiler after commenting out the resize sensor code (for example, with the resize sensor, it claims there's some layout shift from the moment the table is created, but it still takes around the same time either way.

With resize sensor
![CleanShot 2020-10-14 at 10 10 46@2x](https://user-images.githubusercontent.com/10248067/96022556-e4222380-0e05-11eb-809a

[2020-10-14 17:32] jonboiser commented on #7504
@intelliant01 Does this workaround work for you?

1. Use `kolibri manage deletefacility` to remove the facility data + any associated syncing data (that which may have been causing the problems when re-importing the facility)
1. Use `kolibri manage deprovision` to delete the device settings and reset the server

It seems that the root cause for this issue is that `deprovision` was initially implem

[2020-10-14 17:38] intelliant01 commented on #7504
@jonboiser yes let's please go ahead with the suggestion from @rtibbles because system should be in a consistently functional state irrespective of the command having been executed.

[2020-10-15 14:05] JatinSharma12 opened #7562 "When we click on 'Cancel' button on 'Edit Profile' page, a confirmation message appears stating "Changes Saved""
**Observed behavior**

When we click on Edit button on Profile page an[d then click on cancel button on Edit Profile page, a confirmation message is displayed as "Changes saved" whereas there should not be any confirmation [message.](https://github.com/learningequality/kolibri/blob/release-v0.14.x/integration_testing/features/super-admin/super-admin-change-language.feature)

…

 **Expected behavio

[2020-10-15 16:59] jonboiser commented on #7562
Thanks @JatinSharma12. I just reproduced this on our kolibri-demo.learningequality.org demo server.

One detail that I think is relevant is that I need to first click "Save" (then see a first confirmation message). After that, I see the message every time I return to the Edit Profile page and click cancel.

If I refresh the Edit Profile page and click "cancel" before doing anything, I _don't_ see

[2020-10-15 22:06] #7556 closed, assigned to nobody

[2020-10-16 00:25] jonboiser opened #7564 "`kolibri manage provisiondevice` converts user-provided facility name to lower-case"
### Observed behavior

In #7493, it was noted that `provisiondevice` converts facility names to lower-case, which might not be desirable.

This is probably because of this line in the code

https://github.com/learningequality/kolibri/blob/bf91a09cb7ea666f013f3488ea28d8391cefa1d1/kolibri/core/device/management/commands/provisiondevice.py#L78-L82

where `get_user_response` is the code that tries to

[2020-10-16 07:09] ghost opened #7565 "It's possible to complete to the next step of creating a new facility with an empty "Facility name" field, just making a space in the field"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest
Severity; minor
Preconditions; advanced setup is selected and the device name is chosen
Steps to reproduce;

1. Tap on the "Create or import facility"
2. Select the kind of  facility
3. Tap on the facility name filed
4. Make one space in the field
5. Click "continue"
6. Pay attention that i

[2020-10-16 08:31] Sasha801 opened #7566 "[RPi] The task is labeled as "Failed" after completing the downloading the topic"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; major

Preconditions; user is logged in as super admin, the channels page is opened

Steps to reproduce;

1. Click on the "import" button
2. Select the source of importing (Kolibri studio)
3. Select at least one topic or subtopic
4. Click on the "Import button"
5. Wait for comple

[2020-10-16 09:17] ghost opened #7567 "If one topic from a channel has already been imported, the size of the selected channel is not displayed."
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; minor

Preconditions; user is logged in as super admin, the channels page is opened, one topic from the selected channel is imported

Steps to reproduce;

1. Click on the "import" button
2. Select the source of importing (Kolibri studio)
3. Click on *Select entire channels instea

[2020-10-16 09:32] ghost opened #7568 ""Coach" label displays besides user name instead of "Class coach" label"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; trivial

Preconditions; user is logged in as super admin, *Facility > Users* page is opened

Steps to reproduce;

1. Create *Class coach* user
2. Pay attention to the label beside their name

Actual result; "Coach" label displays besides user name instead of "Class coach" label

[2020-10-16 10:41] ghost opened #7569 "[RPi] The edit user page closes automatically after saving the changes"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; minor

Preconditions; user is logged in as super admin, *Facility > Users* page is opened

Steps to reproduce;

1. Click on the options button of any user
2. Click on the edit details button
3. Change the full name
4. Click on the Save button
5. Pay attention to closing the user

[2020-10-16 11:07] ghost opened #7570 "[RPi] The list of learners includes all users not only learners"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; minor

Preconditions; user is logged in as super admin, *Facility > Classes* page is opened

Steps to reproduce;

1. Click on the class
2. Click on the "enroll learners" button
3. Pay attention to the users which displayed in the list

Actual result: The list includes all users n

[2020-10-16 11:24] ghost opened #7571 "[RPi] Confirmation message that the class was deleted is displayed"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; minor

Preconditions; user is logged in as super admin, *Facility > Classes* page is opened

Steps to reproduce;

1. Click on the "delete class" button
2. Click on the "delete" button on the displayed modal
3. Pay attention to the displayed confirmation message

Actual result: Co

[2020-10-16 12:19] ghost opened #7572 "[RPi] It's possible to set the old password as a new"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; minor

Preconditions; user is logged in as super admin, *User > Profile* page is opened

Steps to reproduce;

1. Click on the "Change password" button
2. Enter the old password to the password field
3. Re-enter the password to the second field
4. Click on the "Update" button
5. P

[2020-10-16 13:00] ghost opened #7573 "[RPi] Importing is failed after importing the selected full channel"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; blocker

Preconditions; user is logged in as super admin, *Channel* page is opened

Steps to reproduce;

1. Click on the "Import" button
2. Select the source of importing
3. Click on the "Select entire channels instead" link
4. Select any channel
5. Click on the import button
6.

[2020-10-16 16:30] jonboiser commented on #7571
This is intentional behavior. Is there a reason why you expect that no notification would appear after the class is deleted, or is that a preference you have?

[2020-10-16 16:30] #7571 closed, assigned to nobody

[2020-10-16 17:56] jonboiser commented on #7572
This is expected behavior, and it is not uncommon for websites to allow setting the current password as the new one. Is there a specific concern you had why we shouldn't allow that?

[2020-10-16 17:56] #7572 closed, assigned to nobody

[2020-10-16 17:58] jonboiser commented on #7570
This is expected behavior. Users of any role (learner, coach, admin, etc.) can be enrolled as a class as a learner.

[2020-10-16 17:58] #7570 closed, assigned to nobody

[2020-10-16 18:37] jonboiser commented on #7569
This is the expected behavior of the User Editing page as of 0.14.3.

@radinamatic Is it possible the Gherkin story for this flow is outdated?

[2020-10-16 18:37] #7569 closed, assigned to nobody

[2020-10-16 18:44] #7493 closed, assigned to nobody

[2020-10-19 10:56] metodimilevqa opened #7575 ""N of resources selected" flag is missing, "All resources selected" text is visible instead"
### Observed behavior

When trying to import resources from a channel, after topics/sub-topics are selected the "N of resources selected" flag is missing or each imported resource. "All resources selected" text is visible instead (SEE IMAGE BELOW)
<img width="948" alt="2020-10-19_133337" src="https://user-images.githubusercontent.com/72492554/96440921-4c5f7380-1211-11eb-8ea6-e2c85cecd9a2.png">

##

[2020-10-19 11:56] ghost opened #7576 "[RPi] The error "a lesson with this name already exists" is displayed for a while after creating a lesson with non existed name"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; minor

Preconditions; user is logged in as a coach, *Coach - '<class>' > Plan > Lessons* page is opened

Steps to reproduce;

1. Click on the "new lesson" button
2. Enter the non existed name for a lesson to the title field
3. Click on the "Save changes" button
4. Pay attention t

[2020-10-19 12:05] JatinSharma12 opened #7577 "Search button is working when user is trying to remove the search content from Search bar and refresh the display."
### Observed behavior
When user performs search on Manage Resources page, search items load according to searched content but when user removes the searched content from search bar and click on search button, the page is not refreshing the records whereas it should display all the [records](https://github.com/learningequality/kolibri/blob/release-v0.14.x/integration_testing/features/coach/coach-as

[2020-10-19 13:37] ghost opened #7578 "(Gherkin needs update) "View all" button is missed on the "quizzes", "class activity", "lessons" blocks on the Class home page"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; major

Preconditions; user is logged in as a coach,  *Class home* page is opened; there are no created quizzes, lessons, and there has not been any learner engagement in the class

Steps to reproduce;

1. Pay attention to the "quizzes", "class activity", "Lessons" blocks

Actual

[2020-10-19 13:56] ghost opened #7579 "Long name of the lesson overlaps the other items in the "lessons" block on the *Class home* page"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; minor

Preconditions; user is logged in as a coach, *Class home* page is opened;

Steps to reproduce;
 1. Proceed to the Plan>Lessons page
 2. Create a new lesson with 50 characters in the title
 3. Come back to the *Class home* page
 4. Pay attention to displaying the created le

[2020-10-19 14:53] ghost opened #7580 ""Individual learners" item is automatically unchecked on the "edit details" page after unchecking all groups"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; minor

Preconditions; user is logged in as a coach, Class home page is opened; two groups are created and at least one lesson is created

Steps to reproduce;

1. Proceed to the Plan>Lessons page
2. Click on any lesson
3. Click on the edit details button from the "options" drop-do

[2020-10-19 15:05] ghost opened #7581 "[RPi] "Options" dropdown list overlaps the "options" button after clicking on the button"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; minor

Preconditions; user is logged in as a coach, Class home page is opened; at least one lesson is created

Steps to reproduce;

Proceed to the Plan>Lessons page

1. Click on any lesson
2. Click on the "Options" dropdown
3. Notice how the dropdown list opens

Actual result: "O

[2020-10-19 15:38] jredrejo commented on #7565
Confirmed this is an existing bug in 0.14.x
@jonboiser  #7561 didn't fix it

[2020-10-19 16:03] jonboiser commented on #7565
#7574 is the fix for this issue. I just made a reference in #7561 because something there was relevant to the fix for this issue.

[2020-10-19 16:54] ghost commented on #7573
The "Multaqaddarain K-12 (العربيّة)" channel tried to import, but import didn't even start. In attachment I added the video, you can check it

[2020-10-19 16:58] jonboiser commented on #7576
This is a duplicate of #6593, which should be fixed in the latest Kolibri 0.14.4 pre-release.

[2020-10-19 16:58] #7576 closed, assigned to nobody

[2020-10-19 17:10] jonboiser commented on #7579
Just noting that "long names" here means "long unbroken string" like the example in the video. Names with many individual words like "a b c d e f..." won't display in a single long line.

What makes fixing this issue difficult is that there is no linguistically sound way break up or hyphenate words in general to avoid this layout issue.

[2020-10-19 17:12] JatinSharma12 opened #7582 "When user tries to add a single exercise while creating a Quiz, it throws an error "No resource are selected"."
## Observed behavior
While creating a Quiz when a coach user tries to add an exercise to the quiz, application throws an error "No resource are selected" whereas it should allow to add a single exercise as well.
…

### Expected behavior
User should be able to add all exercises as well as single exercise.

…

### User-facing consequences
When user want to keep a single exercise for a Quiz, he shoul

[2020-10-19 17:13] jredrejo commented on #7568
We call this role in the code "classroom assignable coach" , I think it could make sense to call it class coach, but it might be some kind of mess for our previous users who are familiar with the term just coach, as initially we didn't have the facility/class coach difference.
what do you think @radinamatic

[2020-10-19 17:15] ghost opened #7583 "[RPi] It's impossible to come back to the list of resources from the preview page for the selected resource by clicking on the upper left button"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011) macOS Sierra v 10.12.6
Browser: Google Chrome latest

Severity; critical

Preconditions; user is logged in as a coach, *Class home* page is opened; at least one lesson is created

Steps to reproduce;

1. Proceed to the Plan>Reports>Lessons page
2. Click on any lesson
3. Click on the "Options" dropdown
4. Click on the "M

[2020-10-19 17:20] ghost opened #7584 "The resource isn't added to the lesson on the preview page after clicking on the "Add" button"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011) macOS Sierra v 10.12.6
Browser: Google Chrome latest

Severity; critical

Preconditions; user is logged in as a coach, *Class home* page is opened; at least one lesson is created

Steps to reproduce;

1. Proceed to the Reports>Lessons page
2. Click on any lesson
3. Click on the "Options" dropdown
4. Click on the "Manage

[2020-10-19 17:23] jonboiser commented on #7581
Here's where the menu currently is placed.

<img width="904" alt="CleanShot 2020-10-19 at 10 16 22@2x" src="https://user-images.githubusercontent.com/10248067/96489701-a1d95780-11f4-11eb-81bf-a35162c23944.png">

Here's where it would be placed normally

<img width="924" alt="CleanShot 2020-10-19 at 10 16 57@2x" src="https://user-images.githubusercontent.com/10248067/96489845-d77e4080-11f4-11eb-802

[2020-10-19 17:23] jredrejo commented on #7580
Confirmed, applies to 0.14.3, no matter the installer

[2020-10-19 17:32] jredrejo commented on #7583
@Sasha801 I am not able to reproduce this issue.
If you can reproduce it, Please, can you:
1. Press F12 while in the browser to open Chrome dev tools
2. CLick on the Console tab
3. Copy and paste the errors you see in the tab when reproducing this problem

Thanks.

PS. I have been able to reproduce the problem going from the Coach>Reports>Lessons>Options>Manage resources
can you confirm this is wh

[2020-10-19 17:35] jonboiser commented on #7584
I had to update the OP, because a critical detail was inaccurate. I believe that when entering into this workflow from Plan > Lessons, things have been fixed recently. However, when entering into the workflow from Reports > Lessons (as in the attached video), adding a resource from the preview fails.

See [this resource](https://kolibri-beta.learningequality.org/en/coach/#/1b21fb43599f223b4885e95b

[2020-10-19 17:39] jonboiser commented on #7583
@jredrejo I can reproduce this. The reproduction steps are a little inaccurate. The way to get here is by managing lessons resources from the reports page (not the Plan page)

See [this URL](https://kolibri-beta.learningequality.org/en/coach/#/1b21fb43599f223b4885e95b61aa2ef3/plan/lessons/1f5a2b0091d62a0b05ff32ddea3cab27/selection/preview/d948a70f76995b19978b359d8ea3f7aa?last=ReportsLessonReportPa

[2020-10-19 17:40] jredrejo commented on #7583
@jonboiser  :smile:  see the P.S section in my comment

[2020-10-19 17:42] jonboiser commented on #7578
To me, this makes sense because at the moment there are no quizzes, lessons, etc. We only show those buttons when there is at least one in each category.

Is this possibly from an inaccurate Gherkin story?

[2020-10-19 18:38] jonboiser commented on #5943
I think this might be a stale issue.

[2020-10-19 18:38] #5943 closed, assigned to nobody

[2020-10-19 19:21] jonboiser opened #7585 "`CoreInfoIcon` button is not positioned correctly within Setup Wizard `KRadioButtons`"
### Observed behavior
The icon appears below the "details" slot

<img width="753" alt="CleanShot 2020-10-19 at 12 17 30@2x" src="https://user-images.githubusercontent.com/10248067/96501599-6a26db80-1205-11eb-93de-41730385393a.png">

### Expected behavior

The icon appears inline with the "details"

### Steps to reproduce

1. Setup wizard
1. Advanced setup
1. Layout issue should appear on some of t

[2020-10-19 19:24] jonboiser commented on #7585
This might be due to a new layout for the default slot in `KRadioButton`, see here:

https://github.com/learningequality/kolibri-design-system/blob/v0.2.x/lib/KRadioButton.vue#L51

I'm not sure if the layout I want is achievable with the current API, or might require some hacks

[2020-10-19 22:08] jonboiser commented on #7585
@jtamiace Can we just move the tooltip text to the "description" and do away with the tooltip altogether? Here's what it looks like:

![image](https://user-images.githubusercontent.com/10248067/96516941-de20ae00-121c-11eb-8bb5-91ca172ea236.png)

[2020-10-19 22:27] #7565 closed, assigned to nobody

[2020-10-19 22:32] #7239 closed, assigned to jonboiser

[2020-10-19 22:35] #7523 closed, assigned to nobody

[2020-10-19 22:57] jtamiace commented on #7585
@jonboiser I think that's a great suggestion

[2020-10-20 00:29] #7585 closed, assigned to jonboiser

[2020-10-20 08:41] ghost opened #7586 "The thumbnails of the videos are missed in the search page after searching from the manage resources page"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011) macOS Sierra v 10.12.6
Browser: Google Chrome latest

Severity; minor

Preconditions; user is logged in as a coach, *Coach - '<class>' > Report > Lessons > '<lesson>'* page is opened;

Steps to reproduce;

1. Click on the "Options" dropdown
2. Click on the "Manage Resources" button
3. Enter <searchterm> in the *Search*

[2020-10-20 09:27] ghost opened #7587 "(Gherkin needs update) The list of all *Channels* doesn't open after deleting the previous search term and pressing *Enter*"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011) macOS Sierra v 10.12.6
Browser: Google Chrome latest

Severity; major

Preconditions; user is logged in as a coach, *Coach - '<class>' > Report > Lessons > '<lesson>'* page is opened;

Steps to reproduce;

1. Click on the "Options" dropdown
2. Click on the "Manage Resources" button
3. Enter in the Search field
4. Press

[2020-10-20 10:43] ghost opened #7588 "The "All" option from the filter dropdown doesn't work after selecting the channel from the filter dropdown"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011) macOS Sierra v 10.12.6
Browser: Google Chrome latest

Severity; major

Preconditions; user is logged in as a coach, *Coach - '<class>' > Report > Lessons > '<lesson>'* page is opened;

Steps to reproduce;

1. You are on the search results page
2. Enter in the Search field any character
3. Press the Submit search button

[2020-10-20 12:00] ghost opened #7589 "Search result page includes items from the other channel"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011) macOS Sierra v 10.12.6
Browser: Google Chrome latest

Severity; major

Preconditions; user is logged in as a coach; two channels are imported; *Coach - '<class>' > Report > Lessons > '<lesson>'* page is opened;

Steps to reproduce;

1. You are on the *Manage resources page*
2. Click on any Channel
3.  Enter any characte

[2020-10-20 12:36] ghost opened #7590 "The search results list updates before reloading the page"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011) macOS Sierra v 10.12.6
Browser: Google Chrome latest

Severity; major

Preconditions; user is logged in as a coach; two channels are imported; *Coach - '<class>' > Report > Lessons > '<lesson>'* page is opened;

Steps to reproduce;

1. You are on the *Manage resources page*
2. Enter any character into the search field
3

[2020-10-20 14:31] metodimilevqa opened #7591 "Create Account - Existing username error isn't displayed as expected"
### Observed behavior

Scenario: Username is already taken - I can fill the same name of already existing username (juan) (Step 1) and I don't see error message, and I can continue to the next screen with Gender and Birth Year (Step 2) and from there if I click Continue, nothing happens and if I click the browser Back button, just then the error message for already existing username is seen.

###

[2020-10-20 18:36] kollivier commented on #6684
@tim-moody We have just merged a PR (#7521) that should provide significant improvements to channel download speeds for channels like KA. These fixes will be in the upcoming 0.14.4 release.

[2020-10-20 18:36] jonboiser commented on #5729
The remaining usages of this deprecated syntax can be found by uncommenting these two lines from `.eslintrc.js` and viewing the error report from ESLint

https://github.com/learningequality/kolibri/blob/c8ff8d027ab2764df36bcc1d9671aa1f84ecb412/packages/kolibri-tools/.eslintrc.js#L186-L188

Once those cases are resolved (excepting the ones related to CoreBase, see #6717) this issue can be closed. T

[2020-10-20 18:40] jonboiser commented on #7591
@metodimilevqa , is the `juan` username the same one you made during the Setup Wizard? It's a known issue that if you try to create a new user with the superuser's name, you will not see an error message inside the form.

However, Kolibri _should_ show some kind of full-page error message, instead of nothing happening after you click Continue.

[2020-10-20 18:51] jonboiser commented on #7457
@jtamiace Any suggestions for what should go there? Maybe just "Profile"?

[2020-10-20 19:33] jonboiser commented on #7582
This is a duplicate of https://github.com/learningequality/kolibri/issues/7536, which should be fixed in Kolibri 0.14.4 (coming next November).

Unfortunately, the only way to add single exercises for now is to click the link to see the preview of the exercise, then click the "Add" button on the top-right corner.

[2020-10-20 19:36] jtamiace commented on #7457
Yeah, "Profile" seems right

[2020-10-20 22:18] jonboiser commented on #7587
I don't think this expected behavior was part of the original specification for this feature.

The default behavior if "" is provided as search term is to simply do nothing.

[2020-10-20 22:22] jonboiser commented on #7588
This issue is related to #5882 and #6173

[2020-10-20 22:23] jonboiser commented on #7589
This is expected behavior. The channel you are in when you enter a search term does not define an implicit filter on that search and the search results come from the entire content library.

Adding this behavior would be a new feature.

[2020-10-20 23:08] jonboiser commented on #7586
It looks like maybe the URL to the thumbnail is not being returned in the search endpoint payload, while it _is_ for the regular browsing `contentnode` endpoint?

[2020-10-21 04:36] MindfulQA opened #7593 "User account language reverts back to device default language after app is closed."
### Observed behavior

After the user changes the language from the user menu and exits the app, the language reverts back to the 'device default language when reopened.

The only way to retain the user chosen language VS the admin chosen one is the 'browser default' option in the device language settings. This is not very intuitive.

### Expected behavior

The language should not revert to device

[2020-10-21 07:32] ghost opened #7594 "Input field accepts the value without any errors on the *create new quiz* page after leaving the input field with a number outside the range of 1-50"
### Actual result:
Input field accepts the value without any errors on the *create new quiz* page after leaving the input field with a number outside the range of 1-50
### Expected result:
Input field has the red outline on the *create new quiz* page after leaving the input field with a number outside the range of 1-50

### Preconditions:
User is logged in as a coach;  *Coach - '<class>' > Plan >

[2020-10-21 08:20] JatinSharma12 opened #7595 "Not able to Import Facility through Advanced setup on Kolibri"
### Observed behavior
While configuring Kolibri app through Advanced setup, User is not able to import facility as the facilities available to be imported are not clickable/[selectable](https://github.com/learningequality/kolibri/blob/release-v0.14.x/integration_testing/features/super-admin/super-admin-imports-facility-in-device-setup.feature).
…

### Expected behavior
User should be able to impor

[2020-10-21 11:39] ghost opened #7596 "An input validation error doesn't appear after leaving the input field or attempt to continue or finish the quiz with an empty input field"
### Actual result:
An input validation error doesn't appear after leaving the input field or attempt to continue or finish the quiz with an empty input field
### Expected result:
An input validation error appears after leaving the input field or attempt to continue or finish the quiz with an empty input field

### Preconditions:
User is logged in as a coach;  *Coach - '<class>' > Plan > Quizzes* p

[2020-10-21 12:30] ghost opened #7597 "The number isn't cut out to 50 if entered value is >50 on the creating new quiz page"
### Actual result:
The number isn't cut out to 50 if the entered value is >50 on the creating new quiz page
### Expected result:
The number should be cut out to 50 if the entered value is >50 on the creating new quiz page
### Preconditions:
User is logged in as a coach;  *Coach - '<class>' > Plan > Quizzes* page is opened

### Steps to reproduce;
1. Click on the "New Quiz" button
2. Enter the titl

[2020-10-21 12:43] miyer03 opened #7598 "For Input_selections questions in Marathi, the keypad in android tabs show Arabic (1,2,3, etc) instead of Marathi numerals"
### Observed behavior
In the Marathi channel created, for input_selection type of questions, the keypad shows roman numeral in Android tablets.

### Expected behavior
The keypad should have the option of choosing the script or language in which the numerals should be input.

### User-facing consequences
For questions in Marathi or any local language, roman numerals need to be entered. This could b

[2020-10-21 12:45] miyer03 commented on #7598
@kollivier

[2020-10-21 12:49] ghost opened #7599 "The resource doesn't uncheck in the parent topic node after unchecking the resource from the list of resources with the selected "select all" parameter"
### Actual result:
The resource doesn't uncheck in the parent topic node after unchecking the resource from the list of resources with the selected "select all" parameter
### Expected result:
The resource should be unchecked in the parent topic node after unchecking the resource from the list of resources with the selected "select all" parameter
### Preconditions:
User is logged in as a coach;  *C

[2020-10-21 12:56] ghost opened #7600 "The *n of n selected* indicator doesn't apply the changes after adding or removing the resource from the search results page"
### Actual result:
The *n of n selected* indicator doesn't apply the changes after adding or removing the resource from the search results page

### Expected result:
The *n of n selected* indicator applies the changes after adding or removing the resource from the search results page

### Preconditions:
User is logged in as a coach;  *Coach - '<class>' > Plan > Quizzes* page is opened

### Steps t

[2020-10-21 13:58] ghost commented on #7583
@jredrejo Oh sorry,  I entered the wrong page in the description. You are exactly right, this problem reproduces from the Coach>Reports>Lessons>Options>Manage resources page

[2020-10-21 14:53] metodimilevqa opened #7601 "Lessons > Manage Resources - Filter search results by type ALL is not working if the search results are previously filtered by a specific type (exercises or topics)"
### Observed behavior

Scenario: Filter search results by type - If the search results are already filtered by Type (exercises) and then if I select All from the Type drop-down, nothing happens - I still see only exercises type listed. Same with Topics type.

### Expected behavior

If the search results are already filtered by Type (exercises) and then if I select All from the Type drop-down, all

[2020-10-21 15:38] rtibbles commented on #7598
Technically they're Western Arabic numerals!

[2020-10-21 15:54] kollivier commented on #7598
Note that this is not Android-specific, and is an issue with KA exercises providing their own keypad for entering numerals, rather than relying on the system one.

[2020-10-21 16:57] jonboiser commented on #7601
This looks related to #5882 and other similar issues.

After looking into it, it seems that the problem that changing the filter to "All" doesn't correctly updated the URL, and thus doesn't trigger a new search.

[2020-10-21 17:05] jonboiser commented on #7595
@JatinSharma12 Could you share which browser you're using, and if you see any errors in that browser's console? I'm not able to reproduce on my computer.

[2020-10-21 17:14] jonboiser commented on #7595
I was able to reproduce this on Windows 10 + IE11 on browserstack. There are no console error; the radio buttons just aren't clickable.

[2020-10-21 18:08] jonboiser commented on #7595
On IE11, the KRadioButton component does not seem to emit any events if its `currentValue` prop is an empty string. Simply changing this line here to initialize `selectedFacilityId` (which is passed to `KRadioButton.$props.currentValue` to something like `"none"` fixes the issue for me on IE11

https://github.com/learningequality/kolibri/blob/c8ff8d027ab2764df36bcc1d9671aa1f84ecb412/kolibri/plugin

[2020-10-21 18:24] jtamiace opened #7602 "Sign in page needs validation for incorrect usernames"
### Observed behavior

When password is required, there is no validation for the username field before the password is asked for

<img width="395" alt="Screen Shot 2020-10-20 at 12 36 30 PM" src="https://user-images.githubusercontent.com/6668144/96766137-79d22b80-138f-11eb-9cc2-7c9f7cafa6d0.png">

### Expected behavior

If the user enters an invalid username for the current facility, they should s

[2020-10-21 21:25] #7586 closed, assigned to jonboiser

[2020-10-21 22:12] #7582 closed, assigned to nobody

[2020-10-21 22:44] jonboiser commented on #7593
I'm not able to reproduce this on kolibri-beta nor locally. Here's my sequence of steps, using the kolibri-beta server as a reference

1. Enter https://kolibri-beta.learningequality.org/ into my browser address bar
1. Get redirected to https://kolibri-beta.learningequality.org/en/user/#/signin (English)
1. Login with account, and switch language (Steps 1-3 in OP)
1. Get redirected to https://kolib

[2020-10-21 22:48] radinamatic commented on #7593
@jonboiser Note that @MindfulQA is testing on the Mac app, not the browser.

[2020-10-21 23:02] MindfulQA commented on #7593
@jonboiser I discovered that when the admin selects 'browser default' in device settings the language does change without having to restart the app. This setting allows the user to choose their own language from the user menu and it will be retained. However, it's not very intuitive. If that 'browser default' setting is not applied, user account language will revert to whatever the admin chose for

[2020-10-21 23:17] MindfulQA commented on #7568
Able to replicate on the app.
OS: macOS Catalina version 10.15.6

[2020-10-22 00:36] #7583 closed, assigned to jonboiser

[2020-10-22 00:36] #7584 closed, assigned to jonboiser

[2020-10-22 00:37] jonboiser commented on #5882
Closing as a duplicate

[2020-10-22 00:37] #5882 closed, assigned to jonboiser

[2020-10-22 00:38] jonboiser commented on #7601
Closing as a duplicate

[2020-10-22 00:38] #7601 closed, assigned to jonboiser

[2020-10-22 00:50] jonboiser commented on #6173
Closing as a duplicate

[2020-10-22 00:50] #6173 closed, assigned to jonboiser

[2020-10-22 07:22] MindfulQA opened #7603 "Unable to reinstall Mac app after uninstalling"
We have spent quite a few hours troubleshooting this and attempting to find out if there's a leftover file, or some other clear cause of reproducibility, but have not been able to identify it.

### Observed behavior
After uninstalling the Mac app, then reinstalling, attempting to open it would result in getting stuck on the hummingbird animation screen.

### Expected behavior

Would expect to be a

[2020-10-22 07:23] MindfulQA commented on #7603
@radinamatic More detail will be added to this tomorrow - but I wanted to get a ticket in with initial details before signing off for the night. Thanks!

[2020-10-22 08:58] alexMet commented on #7584
![Screenshot_2020-10-22 Learners - First Lesson - New class - Kolibri](https://user-images.githubusercontent.com/3750511/96848491-2c23f480-145d-11eb-8f15-146da36a4d3f.png)

@jonboiser This still exists if you go from the Reports > Lessons > Learners tab and you press Manage Resources then you get `?last=ReportsLessonLearnerListPage`. I think you should add a check for that also. :)

[2020-10-22 12:53] paulbusse commented on #6916
I reproduced the issue and found that changes made to lesson resources (deletion and changing the order) are ignored when creating a copy. Using the developer tools in the browser, one can see that the information sent to the backend contains the wrong information (deleted resource, wrong order of the resources).
After _refreshing the page_, the copy behaves as expected. Imho, this is a frontend i

[2020-10-22 16:47] paulbusse commented on #6892
I've done something similar in the past. But I need more specific requirements:
- some architecture, how do want to get the info centrally?
- where do I collect the info from
- What are the stats you are looking for e.g. nr. of different browsers used per day

[2020-10-22 17:50] jonboiser commented on #7584
@alexMet Thanks for pointing that out. So I think I need to add another line to my hack in 255149d to handle that page.

[2020-10-22 18:29] jonboiser commented on #6916
Yeah, this is a frontend issue. When we copy a lesson it seems like we're actually POSTing a new lesson with stale information about the lesson. I'm not sure how the UI is holding on to the lesson resources as initially fetched, while still presenting the latest changes (deleting and reordering items).

We may be duplicating the lesson data somewhere in Vuex or somewhere and sending the wrong copy

[2020-10-22 21:53] #7564 closed, assigned to jonboiser

[2020-10-22 22:00] jonboiser commented on #7577
This looks like a duplicate #7587 .

I don't recall this behavior being part of the original implementation of resource search. Is this in a Gherkin story somewhere? (the one linked in the issue doesn't pertain to search)

[2020-10-22 22:14] radinamatic commented on #7587
Fairly sure that the Gherkin came out from some (initial) implementation that included this behavior.
And I would also argue that it is what users expect: when they clear the search term and press <kbd>Enter</kbd>, the previous search results should be cleared.

 Thoughts @jtamiace @khangmach?

[2020-10-22 22:19] radinamatic commented on #7577
Agreed that it is a duplicate of #7587, can be closed.

The correct reference for the [Gherkin search scenario](https://github.com/learningequality/kolibri/blob/release-v0.14.x/integration_testing/features/coach/coach-create-lesson.feature#L102).

[2020-10-22 22:33] khangmach commented on #7587
what @jonboiser described was part of the initial designs of the search bar. The current behavior seems fine to me, as the lack of response from the UI nudges you to put in a search term.

If we had search as you type functionality in the platform, then the action of clearing the search field (with X) to refresh your results seems expected and natural

[2020-10-22 22:34] khangmach commented on #7587
I'll make a note of this when writing search patterns in the kolibri design system. But I do not think this is something we need redesigned at the moment

[2020-10-22 22:39] radinamatic commented on #7587
Gotcha, will amend the Gherkin then! :+1:

Or it might make you think the search is not working :smiling_imp:

[2020-10-22 23:08] khangmach commented on #7587
thank you @radinamatic. Bookmarking this issue for KDS reference

[2020-10-22 23:32] #7562 closed, assigned to jonboiser

[2020-10-23 06:21] MindfulQA commented on #7603
We've continued to look into this today, and are attempting to identify further details via additional troubleshooting. (We'll reach out to Radina via email with a timeline update!)

[2020-10-23 08:14] metodimilevqa commented on #7591
No, "juan" isn't the username I used during setup. For the setup I used metodimilev :)

[2020-10-23 08:39] metodimilevqa opened #7604 "Create Quiz - Channel filter ALL option doesn't bring back all channels if a previous channel filtering is applied"
### Observed behavior

Channel filter ALL option doesn't bring back all channels if a previous channel filtering is applied.

### Expected behavior

Channel filter ALL option must bring back all channels in the list after a previous channel filtering is applied with a specific channel.

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

Preconditions: Channels importe

[2020-10-23 08:56] metodimilevqa opened #7605 "The same resource can be added twice to a lesson"
### Observed behavior

Scenario: Preview a resource from the search results and add/remove it to and from the lesson
- I am on the preview page for exercise and I click ADD button, I'm returned to the previous screen with the search results. There I see the checkbox selected for the added resource but I can again go to the preview page for the exercise I already added and I can add it one more tim

[2020-10-23 11:07] ghost opened #7606 "Validation message missed next to the username field that the name is already taken"
### Actual result:
Validation message missed next to the username field that the name is already taken
### Expected result:
Validation message shown next to the username field that the name is already taken

### Steps to reproduce;
1. I am on the Kolibri sign-in page
2. click *Create an account* button
3. Fill in all required fields except "username"
4. Fill in exists username to the "username" fi

[2020-10-23 11:54] JatinSharma12 opened #7607 "On Create lesson Page, there are two "x" icons available in the search bar for selecting Individual learners whereas there should be only one icon."
### Observed behavior
On Create lesson Page, there are two "x" icons available in the search bar for selecting Individual learners whereas there should be only one icon.

…

### Expected behavior
There should only be single "x" icon available in the Search bar.
…

### User-facing consequences
User might find it odd to have two "x" icons performing the same action.

…

### Errors and logs

[code]

[2020-10-23 12:28] JatinSharma12 opened #7608 "When a coach user copies a Quiz from one class to other and assigns it to individuals, it breaks the second Class's Plan > Quizzes page"
### Observed behavior
When a coach user copies a Quiz from one class to other, it gets copied but when we try to open the copied quiz from the other class, the page breaks and app stops [responding.
](https://github.com/learningequality/kolibri/blob/release-v0.14.x/integration_testing/features/coach/coach-copy-quiz.feature)
…

### Expected behavior
Application should not stop and user should be ab

[2020-10-23 13:05] ghost opened #7609 "The "play" button is shifted to the center of page on the lesson page while the page is loading"
### Actual result:
The "play" button is shifted to the center of the page on the lesson page while the page is loading
Expected result:
The "play" button shouldn't be shifted to the center of the page on the lesson page while the page is loading

### Steps to reproduce:

1. You are at  *Learn > Classes > '<class>' > '<lesson>'* page
2. You see <exercise1> exercise and <video> video
3. Click on <ex

[2020-10-23 13:24] ghost opened #7610 ""The page not found" page opens after opening the exercise with questions"
### Actual result:
"The page not found" page opens after opening the exercise with questions
Expected result:
The lesson page opens correctly
### Steps to reproduce:

1. You are at  *Learn > Classes > '<class>' > '<lesson>'* page
2. You see exercise with questions
3. Click on the exercise content card
4. Pay attention to the opened page
### Video:
http://e.pc.cd/6zbotalK

### Context:
Kolibri vers

[2020-10-23 14:26] JatinSharma12 opened #7611 "When we sign in with coach user, we should land on Coach display, but its landing on Learn display(only when there is no class assigned to coach)"
### Observed behavior
When we sign in with coach user, we should land on Coach display, but its landing on Learn display(only when there is no class assigned to coach)

…

### Expected behavior
When coach user sign in Kolibri, he should land on Coach display regardless of any class assigned.
…

### User-facing consequences
User might get confused if he lands on different page

…

### Errors and lo

[2020-10-23 14:49] metodimilevqa opened #7612 "Create Quiz - Number of questions field error message discrepancies"
### Observed behavior

There are discrepancies in the error message under the Number of Questions field while creating a Quiz when a value outside the 1-50 limit is input - missing and wrong values in the error message. Tested with an input of 60:
- missing value at the end of "The max number of questions based on the exercises you selected is [missing value]"
- missing value at the end of "Select

[2020-10-23 17:55] jonboiser commented on #7591
Yeah, I just reproduced this.  What should be happening is that after creating the account fails, the user gets taken back to the "Step 1" form so they can see this error under the username field:

![image](https://user-images.githubusercontent.com/10248067/97037483-2f32e980-151e-11eb-8f13-3cb56e18ad8a.png)

[2020-10-23 17:56] rtibbles commented on #6892
We have written up a specification here, let us know if there are any questions:

To capture browser data, we should add a field for device information to the UserSessionLog (https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/core/logger/models.py#L165)
This field should be a `CharField` called `device_info`.

The user agent string would then need to be passed into the update

[2020-10-23 21:12] jonboiser commented on #7604
Closing as duplicate of #5882 and others.

[2020-10-23 21:12] #7604 closed, assigned to nobody

[2020-10-23 21:22] jonboiser commented on #7606
Closing as duplicate of #7591

[2020-10-23 21:22] #7606 closed, assigned to nobody

[2020-10-23 21:38] jonboiser commented on #7599
I believe this might be a duplicate or related to #7536. Could you check to see if you can reproduce this on https://kolibri-beta.learningequality.org/? (see the message on the sign in screen on how to sign in as a coach)

[2020-10-23 21:38] #7599 closed, assigned to nobody

[2020-10-23 22:31] jonboiser commented on #7594
Closing as  a near duplicate of #7597

[2020-10-23 22:31] #7594 closed, assigned to nobody

[2020-10-23 22:35] jonboiser commented on #7596
What should happen is if there name or # of questions is missing, then when the user clicks continue, they are not taken to the quiz preview, but instead stay at the exercise selection step and see validation errors in the form.

[2020-10-23 22:48] jonboiser commented on #7608
I was able to reproduce this with 0.14.4-weekly5. A critical detail in the video is that the Quiz needs to be copied and then assigned to Individual Learners. If I pick "Entire class" I don't get this error.

When I do pick individual learners, I'm not able to see the entire Coach > Plan >Quizzes page, and I see these errors in the console

[code]

[2020-10-26 06:46] metodimilevqa opened #7616 "Quiz creation - Missing snackbar notification on resource selection/deselection"
### Observed behavior

Under Create New Quiz page the snackbar notification messages are missing on select/deselect a resource.

### Expected behavior

Under Create New Quiz page the snackbar notification messages must be shown on select/deselect a resource.

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

Preconditions: Resources imported, users created, class cre

[2020-10-26 07:19] metodimilevqa opened #7617 "Missing metadata details on search results topic cards"
### Observed behavior

On Create New Quiz/Create New Lesson pages the search results are missing some metadata details information in the topic cards:
- Missing description
- Missing N of coach exercises/topics it contains
- Missing N of how many exercises inside are added to the quiz/lesson

### Expected behavior

Scenario: View metadata on topic cards in search results

On Create New Quiz/Create

[2020-10-26 13:06] jredrejo commented on #7568
There's no need to check this. The question is deciding if "Class coach" is a correct naming here, to change the testing scenario @radinamatic

[2020-10-26 13:17] jredrejo commented on #7573
Hi @Sasha801 thanks for your report, some questions to try to clarify/reproduce it:

- does this happen only with this channel or with any other channel?
- if you try it later, did it work? (Thinking it could be a network issue)

[2020-10-26 14:53] ghost commented on #7573
Hi, @jredrejo! This happens with all channels and if I try later it doesn't work.

[2020-10-26 14:53] radinamatic commented on #7568
Thank you @jredrejo, we may explore the option to change the label/string, but only for the next major version upgrade.

For now I'll amend the Gherkin scenario :+1:

[2020-10-26 15:39] metodimilevqa opened #7618 "Delete task - Cancel button is missing"
### Observed behavior

When a user deletes a resource no Cancel button is visible next to the task in the Task manager as it is with the other tasks (Import, Export, etc.)
<img width="953" alt="2020-10-26_154849" src="https://user-images.githubusercontent.com/72492554/97193828-1cd0de00-17b2-11eb-902d-c25b49171fc8.png">

### Expected behavior

When a user deletes a resource a Cancel button must be

[2020-10-26 16:27] jonboiser commented on #7618
Closing as duplicate of #6727