[2022-03-14 18:39] sairina opened #9179 "When there is more content in an exercise's folder resources, there is a console error for a missing prop"
## Observed behavior
When in an exercise and if I click on the "View folder resources" icon, if there are resources, there is an error for the `nextContent` prop.

## Errors and logs
![Screen Shot 2022-03-14 at 9 27 08 AM](https://user-images.githubusercontent.com/13563002/158217009-e7377568-82be-4d7b-9ac1-c129473ac4d5.png)

## Expected behavior
No errors in console

## User-facing consequences
Do

[2022-03-14 18:44] sairina opened #9180 "Left part of focus ring covers up the points tally in the app bar"
## Observed behavior
The focus ring around the user profile/options button covers up part of the points.

<img width="1104" alt="Screen Shot 2022-03-11 at 1 57 28 PM" src="https://user-images.githubusercontent.com/13563002/158239375-974279af-ff4f-4833-bd93-22093a1f2385.png">

## Errors and logs
None

## Expected behavior
There should be space between the focus ring and the points tally.

## User-f

[2022-03-14 18:46] sairina opened #9181 "Focus ring around "Check" button in exercises is cut off on left side"
## Observed behavior
Focus ring is cut off:
<img width="1210" alt="Screen Shot 2022-03-11 at 3 59 51 PM" src="https://user-images.githubusercontent.com/13563002/158239940-6bc9fa2a-e2ad-4920-8af1-7d5d03ad8568.png">

## Errors and logs
None

## Expected behavior
Focus ring should not be cut off

## User-facing consequences
Stylistic issue

## Steps to reproduce
1. Login as learner
2. Go to an exerci

[2022-03-14 18:52] sairina opened #9182 "User cannot use keyboard navigation (tab button) to sign-in (Safari/Firefox)"
## Observed behavior
When a user tries to log in from Safari via keyboard navigation, they can only sign in using the `Enter` button and not through tabbing.

![2022-03-14 11 48 51](https://user-images.githubusercontent.com/13563002/158240896-056557a5-7276-45fb-8c4e-2a2c00325189.gif)

## Errors and logs
None

## Expected behavior
User should be able to use both `Enter` button as well as `Tab` to n

[2022-03-14 18:56] sairina opened #9183 "User cannot use keyboard navigation to navigate to app bar (Safari)"
## Observed behavior
Using a keyboard to attempt to navigate after signing in is not possible in Safari.

![2022-03-14 11 53 24](https://user-images.githubusercontent.com/13563002/158241436-c90a2370-a269-4328-92b7-acf2a5e3f94b.gif)

## Errors and logs
None

## Expected behavior
To be able to use keyboard navigation in Safari

## User-facing consequences
Users that need to use the keyboard and only

[2022-03-14 19:08] sairina opened #9184 "User cannot use keyboard to navigate through user settings/profile button (Firefox)"
## Observed behavior
Using a keyboard, the focus ring gets stuck on "Profile" in dropdown.

![2022-03-14 12 02 56](https://user-images.githubusercontent.com/13563002/158243024-31e6b4f9-208b-4331-a359-a194690409eb.gif)

## Errors and logs
None

## Expected behavior
User should be able to navigate through all options (unless we don't want keyboard users to ever sign out).

## User-facing consequence

[2022-03-14 19:49] marcellamaki opened #9185 "Kolibri Planned Patch Release 1: Clear The Decks"
First planned patch release

Start Date: March 15
Due Date: April 25
Release Window: April 26 - 27th

Focus on completing and merging work that has been started

[2022-03-14 19:55] marcellamaki commented on #8685
Finished with 0.15

[2022-03-14 20:15] rtibbles commented on #8685
This was not done with 0.15 due to time constraints.

[2022-03-14 21:45] sairina opened #9186 "User cannot use keyboard navigation to click on routerlinks in the navbar (Firefox)"
## Observed behavior
Using keyboard navigation in the appbar/navbar skips over the `routerlinks` (e.g. Channels, Permissions, Facilities, etc. when you are in `Device`)
![2022-03-14 14 29 00](https://user-images.githubusercontent.com/13563002/158266278-3e1d12b5-2c82-4f9e-b137-e06bdecabd2c.gif)

## Errors and logs
None

## Expected behavior
User should be able to navigate through the navigation lin

[2022-03-14 21:50] sairina opened #9187 "Keyboard navigation does not work at all in Device Info (Firefox)"
## Observed behavior
Keyboard navigation doesn't work in the Device Info page. Once a user is in `DeviceInfo`, no focus comes into place.

## Errors and logs
None

## Expected behavior
Focus ring should appear first on the server URL link, and then be looped back to the app bar.

## User-facing consequences
Keyboard users will not be able to navigate.

## Steps to reproduce
1. Sign in as admin
2.

[2022-03-14 21:55] sairina opened #9188 "Keyboard navigation in Device Settings skips the first link (Firefox)"
## Observed behavior
When in device settings, the focus passes over the first link.
![2022-03-14 14 52 09](https://user-images.githubusercontent.com/13563002/158267485-514a9840-8060-45cb-b55c-07c9419c849c.gif)

## Errors and logs
None

## Expected behavior
The link should be the first element focused on this page.

## User-facing consequences
Keyboard user is unable to click on link.

## Steps to

[2022-03-14 22:00] sairina opened #9189 "Focus in sidenav panel only goes between "Learn" and the close button (Firefox)"
## Observed behavior
When the sidenav panel is opened and keyboard navigation is used, the focus only goes between "Learn" and close button.
![2022-03-14 12 03 16](https://user-images.githubusercontent.com/13563002/158268305-b3f847fa-6ff7-4fff-9fca-29a0a22b27ac.gif)

## Errors and logs
None

## Expected behavior
User should be able to access all links via keyboard

## User-facing consequences
User

[2022-03-14 22:12] sairina opened #9190 "In Topics page, keyboard navigation skips the content cards completely (Firefox)"
## Observed behavior
In Topics page, keyboard navigation skips the content cards completely and only focuses on the info icon.
![2022-03-14 15 07 16](https://user-images.githubusercontent.com/13563002/158269228-5d281c3c-dafd-4611-a210-edf090604b7f.gif)

## Errors and logs
None

## Expected behavior
Cards should also have focus. First focusable element should be the first available content card (ty

[2022-03-14 22:15] sairina opened #9191 "Keyboard navigation does not work when browsing a channel (Firefox)"
## Observed behavior
When a user is inside a channel (within a topic), keyboard navigation does not work.

## Errors and logs
None

## Expected behavior
That keyboard navigation works

## User-facing consequences
Cannot use keyboard navigation inside a channel.

## Steps to reproduce
1. Sign in as learner
2. Use the mouse to navigate to the library, and click on a channel
3. Use the keyboard to at

[2022-03-14 22:20] sairina opened #9192 "Improve focus outline for keyboard navigation in bookmarks content card (Firefox)"
## Observed behavior
When in Bookmarks, the keyboard navigation skips over the content card and jumps to the info icon and close button on the content card.
![2022-03-14 15 16 57](https://user-images.githubusercontent.com/13563002/158270201-56139fd4-f5bd-457b-8a86-86d1ac480079.gif)

## Errors and logs
None

## Expected behavior
The first focused element should be the content card

## User-facing c

[2022-03-14 22:35] sairina opened #9193 "`FullScreenSidePanel` focus is inconsistent in Firefox"
## Observed behavior
In all side panels, there are varying behaviors for focus. Particularly with the `FullScreenSidePanel` component, for example, some of the inconsistencies are:

Exercises/HTML5 exercises
- Folder resources (only the close button, and after main content has been focused through)
- Info panel (no focus)

Browsing a channel
- Info panel (never gets to the close icon)
![2022-03-14

[2022-03-14 23:14] sairina opened #9194 "Home and Library tabs are inaccessible with keyboard navigation (Firefox)"
## Observed behavior
With the exception of the Bookmark tab, the Library and Home (access to classes) is inaccessible by keyboard navigation.

## Errors and logs
None

## Expected behavior
Users should be able to use their keyboard to navigate throughout the app

## User-facing consequences
Inaccessible to keyboard users

## Steps to reproduce
1. Log in as learner
2. Click on the "Home" tab and tr

[2022-03-14 23:25] sairina commented on #9070
### The following issues have been opened around focus issues in Safari, Firefox, and Chrome:

**Chrome**
1. ["Check" button in exercises](https://github.com/learningequality/kolibri/issues/9181)
2. [App bar - user profile focus ring covers points](https://github.com/learningequality/kolibri/issues/9180)
3. [Folder resource side panel](https://github.com/learningequality/kolibri/issues/9178)
4. [D

[2022-03-14 23:25] #9070 closed, assigned to sairina

[2022-03-15 08:17] pcenov commented on #6369
@radinamatic - this one is fixed in 0.15.1:
![2022-03-15_10-16-32](https://user-images.githubusercontent.com/79847249/158334949-6ba7c13c-e414-404e-98c8-0e660f929e36.png)

[2022-03-15 10:02] sakshampathak1508 commented on #9033
Hi i would like to work on this issue and make it my first contribution in the world of open source

[2022-03-15 11:48] pcenov commented on #6464
@radinamatic this one is still valid in 0.15.1

[2022-03-15 11:49] pcenov commented on #6525
@radinamatic this one is not extant in 0.15.1 - all the videos play fine.

[2022-03-15 11:50] pcenov commented on #6551
@radinamatic this one is still valid in 0.15.1

[2022-03-15 12:00] pcenov commented on #7390
@radinamatic this one is not extant in 0.15.1:
![2022-03-15_13-59-41](https://user-images.githubusercontent.com/79847249/158373402-b88355d4-c16c-4d1f-bdb9-35d85eab0494.png)

[2022-03-15 12:03] pcenov commented on #8745
@radinamatic this one is still valid in 0.15.1

[2022-03-15 15:37] rtibbles commented on #9033
Hi @sakshampathak1508 - we'd be happy to get your contribution. The place to make this change would be in the `base.py` module in `kolibri/deployment/default/settings`.

Please branch from the release-v0.15.x branch and target that branch with the pull request.

[2022-03-16 00:03] rtibbles commented on #9139
Fixed in #9168 - this fix should be in the next 0.15 patch release.

[2022-03-16 00:03] #9139 closed, assigned to bjester

[2022-03-16 15:33] rtibbles commented on #9033
Fixed in #9195

[2022-03-16 15:33] #9033 closed, assigned to nobody

[2022-03-16 16:40] pcenov opened #9201 "VF Installer - The phone number validation message is initially not being displayed"
## Observed behavior
When creating a new account the phone number validation message is initially not being displayed and the user has to click the 'Finish' button again in order to see it.

## Steps to reproduce the issue
1. Install the following [build](https://buildkite.com/learningequality/kolibri-vf/builds/347).
2. Go to the 'Create an account' page.
3. Fill in all required fields and use a p

[2022-03-16 16:48] pcenov opened #9202 "VF installer - Modal window buttons are glued together"
## Observed behavior
See the attached screenshots

## Steps to reproduce the issue
1. Install the following [build](https://buildkite.com/learningequality/kolibri-vf/builds/347).
2. Observe the buttons in any of the modal windows.

## Expected result
Correctly positioned buttons with enough space between them

## Screenshots
| Issue | Screenshot |
:-------------------------:|:---------------------

[2022-03-16 16:52] rskbansal commented on #9201
I think I can give this a try, will get you updated soon

[2022-03-16 16:59] pcenov opened #9203 "VF - Cannot navigate to the 'Account' page"
## Observed behavior
The 'Account' link appears to be broken and clicking it results only in page reload.

## Steps to reproduce the issue
1. Install the following [build](https://buildkite.com/learningequality/kolibri-vf/builds/347).
2. Open the sidebar and click the Account option. Alternatively open the profile menu and again click the Account option.

## Expected result
The user is able to see

[2022-03-16 17:17] radinamatic commented on #9203
Thank you @pcenov!

cc @nucleogenesis

[2022-03-17 03:41] radinamatic commented on #9201
Thank you @pcenov 👍🏽

cc @nucleogenesis

[2022-03-17 13:37] pcenov opened #9204 "Kolibri VF - Cannot import and see exercises"
## Observed behavior
When as an admin I attempt to import a channel containing exercises such as Khan Academy I don't see the exercises and cannot import them.

## Steps to reproduce the issue
1. Install the following [build](https://buildkite.com/learningequality/kolibri-vf/builds/347).
2. Sign in as an Admin an go to Channels>Import
3. Select a source e.g. Kolibri Studio (online) and proceed wit

[2022-03-17 14:20] pcenov opened #9205 "Kolibri VF - Getting constantly signed out of .kolibri when using the Server URL"
## Observed behavior
If I am accessing Kolibri through the Server URL as provided in Device>Info I am getting signed out immediately after I select a Profile.

## Steps to reproduce the issue
1. Install the following [build](https://buildkite.com/learningequality/kolibri-vf/builds/347).
2. Sign in as an Admin an go to Device>Info to see the Server URL.
3. Load the Server URL in an external device

[2022-03-17 15:39] radinamatic opened #9206 "ssss"
## Observed behavior

…

## Errors and logs

sd
…

## Expected behavior

…

## User-facing consequences

…

## Steps to reproduce

…

## Context

…

[2022-03-17 15:50] pcenov opened #9207 "Kolibri VF - Missing icons for the About and Account menu items"
## Observed behavior
See the attached screenshot.

## Steps to reproduce the issue
1. Install the following [build](https://buildkite.com/learningequality/kolibri-vf/builds/347).
2. Sign in as a Learner and open the sidebar or the user menu.

## Expected result
All menu items should have icons

## Screenshot
![ddf](https://user-images.githubusercontent.com/79847249/158839296-47d2219f-e51a-49d4-a9d

[2022-03-17 16:23] rtibbles commented on #9201
Hi @rskbansal - sorry this issue is specifically about a custom build of Kolibri, so not something you could take on! We'll try to keep these issues out of the open tracker in the future!

[2022-03-17 23:21] nucleogenesis commented on #8499
I spent some time getting SWC working in place of Babel in our Webpack config per this [LogRocket blog](https://blog.logrocket.com/migrating-swc-webpack-babel-overview/) and it was slower by ~5-10% or so.

SWC is supposed to be suited for a full-on webpack replacement, so I'll come back and see what that might look like and update here based on what I find but the simplest potential change didn't

[2022-03-17 23:23] #9099 closed, assigned to marcellamaki

[2022-03-17 23:24] rtibbles commented on #8499
Damn, I guess there's no free lunch after all!

[2022-03-17 23:46] #8499 closed, assigned to nucleogenesis

[2022-03-18 09:33] ratika-12 commented on #9207
Can I work on this issue? @nucleogenesis @pcenov ? I am new to this project and looking to start contributing :)

[2022-03-18 15:52] radinamatic commented on #9207
Hi @ratika-12, this issue is specifically about a custom build of Kolibri, and it's something we'll take on internally.

You can check out other [beginner-friendly](https://github.com/learningequality/kolibri/issues?q=is%3Aopen+is%3Aissue+label%3A%22TAG%3A+beginner+friendly%22) issues on GitHub.

[2022-03-18 18:54] sakshampathak1508 commented on #9013
Hey i would like to work on this issue.

[2022-03-18 19:39] rtibbles commented on #9013
Hi @sakshampathak1508 - that would be great!

The first thing to work out is what kind of error Django usually raises when an invalid field value is passed into a query. One quick way to check this would be to try passing a string in a query for a model type that has an integer primary key.

I don't know off the top of my head what error that should return - if it returns a `ValueError` then that

[2022-03-18 20:32] nucleogenesis commented on #9101
(cc @marcellamaki @rtibbles @MisRob @sairina)

I've dived into this further and wish I'd gotten as robust an understanding of this scrollPosition business when I initially reviewed CoreBase and hadn't assumed things worked as they suggested  - however, this didn't really work in the first place :face_with_spiral_eyes: .

The `useScrollPosition` module - and the `CoreBase` logic it is based on - ma

[2022-03-18 20:48] rtibbles commented on #9101
Note that the previously implemented scroll position work in CoreBase was only ever a workaround to handle the fact that our async loading caused VueRouter's native scroll position to not work, as the page would be much shorter immediately after navigation, so the previous scroll position could not be restored.

If you are not referencing the Vue Router functionality that the previous work was bui

[2022-03-18 20:54] rtibbles commented on #9101
I think the suggestion to use more of the state history would be helpful for our 'back arrows', although I replacing clickable links with JS fired navigation events might not be great for semantics/accessibility.

Another possibility here is to move our data loading handling into component guards, which means that the route doesn't even navigate fully until the data needed for the page has loaded.

[2022-03-18 22:29] rtibbles commented on #4119
Closing this as fixed.

[2022-03-18 22:29] #4119 closed, assigned to nobody

[2022-03-18 22:33] rtibbles commented on #4796
Going to count this as fixed with the new search filters in 0.15.x

[2022-03-18 22:33] #4796 closed, assigned to nobody

[2022-03-18 22:36] rtibbles commented on #5041
This has been resolved by updating the contentnodeprogress endpoint to use the same filtering as contentnode, in #8650.

Additionally, we no longer annotate aggregate progress on topics to avoid hierarchical queries.

[2022-03-18 22:36] #5041 closed, assigned to nobody

[2022-03-18 22:45] rtibbles commented on #5351
Closing as fixed.

[2022-03-18 22:45] #5351 closed, assigned to nobody

[2022-03-18 22:46] rtibbles commented on #5377
Closing as fixed.

[2022-03-18 22:46] #5377 closed, assigned to nobody

[2022-03-18 22:48] rtibbles commented on #5650
Closing as fixed.

[2022-03-18 22:48] #5650 closed, assigned to nobody

[2022-03-18 22:48] rtibbles commented on #5656
Closing as fixed.

[2022-03-18 22:48] #5656 closed, assigned to nobody

[2022-03-18 22:53] rtibbles commented on #5934
Closing as no longer extant.

[2022-03-18 22:53] #5934 closed, assigned to nobody

[2022-03-18 22:56] rtibbles commented on #6179
Going to close this as fixed - seems like there's potential for minor performance improvements, but the issue as described is not extant.

[2022-03-18 22:56] #6179 closed, assigned to nobody

[2022-03-18 22:56] rtibbles commented on #6272
Closing as fixed.

[2022-03-18 22:56] #6272 closed, assigned to nobody

[2022-03-18 22:58] rtibbles commented on #6409
Fixed in https://github.com/learningequality/kolibri/pull/8935

[2022-03-18 22:58] #6409 closed, assigned to nobody

[2022-03-18 23:00] rtibbles commented on #6525
Closing as fixed.

[2022-03-18 23:00] #6525 closed, assigned to nobody

[2022-03-18 23:03] rtibbles commented on #6642
@radinamatic @pcenov when reviewing this issue, could you do so on the develop branch? The latest 0.16 alpha asset would suffice.

[2022-03-18 23:10] rtibbles commented on #6666
A manual and automated inspection of the outputs of these two channels confirms that this is not the case. Closing.

[2022-03-18 23:10] #6666 closed, assigned to nobody

[2022-03-18 23:12] rtibbles commented on #6843
This has been resolved by the implementation of within topic navigation within the content page.

[2022-03-18 23:12] #6843 closed, assigned to khangmach

[2022-03-18 23:15] rtibbles commented on #6941
This is no longer extant after the release of 0.15

[2022-03-18 23:15] #6941 closed, assigned to nobody

[2022-03-18 23:19] rtibbles commented on #7014
All options and env vars are now documented.

[2022-03-18 23:19] #7014 closed, assigned to nobody

[2022-03-18 23:28] rtibbles commented on #7240
I think the preferable solution here to bootstrapping all the data into the page is probably to do some smarter data loading, and only loading what we need.

Previously we would load all classes on first page load in Learn just to see if a learner was a member in any classes.

Here, I changed that to have a special state endpoint that reported just the data needed for learn rendering: https://gith

[2022-03-18 23:31] rtibbles commented on #7390
Closing as fixed.

[2022-03-18 23:31] #7390 closed, assigned to nobody

[2022-03-18 23:32] rtibbles commented on #7458
Fixed in #8188

[2022-03-18 23:32] #7458 closed, assigned to nobody

[2022-03-18 23:41] rtibbles commented on #7889
Closing this Epic, as it has been superseded by others.

[2022-03-18 23:41] #7889 closed, assigned to nobody

[2022-03-18 23:42] rtibbles commented on #7910
Closing as stale - please update if you have more information that shows this is an issue with Kolibri.

[2022-03-18 23:42] #7910 closed, assigned to nobody

[2022-03-18 23:43] rtibbles commented on #7923
Error messages could be better, but seems like this is attempting to export from the wrong place.

[2022-03-18 23:43] #7923 closed, assigned to nobody

[2022-03-18 23:47] rtibbles commented on #8135
Going to close this as unreproduceable.

[2022-03-18 23:47] #8135 closed, assigned to nobody

[2022-03-18 23:50] rtibbles commented on #8211
Flagging that all of this has been implemented, except the ability to bookmark within the lesson creation flow.

[2022-03-18 23:53] rtibbles commented on #8745
I think the best solution for this is to just push the PDF rendering area below the toolbar.

[2022-03-19 06:12] neoshri commented on #9184
@sairina hey I want to contribute to the issue how can get started

[2022-03-19 19:52] sakshampathak1508 commented on #9013
hello @rtibbles  i think in order to check the api endpoints the path would be something like `kolibri/core/content/api.py`
if i am correct please do tell me in which function we are calling it or rather returning the serialized data

addition can't we use self.get_object_or_404 in this case or uuid has some role in it?

[2022-03-19 20:31] rtibbles commented on #9013
Sorry, I've just checked the traceback above - it seems the issue is coming from our custom implementation in `kolibri/core/api.py` that is only catching `IndexError` when trying to retrieve the object:

https://github.com/learningequality/kolibri/blob/develop/kolibri/core/api.py#L266

Instead we should ensure that we catch `ValueError` here as well, and maybe the other errors that are caught by `

[2022-03-20 03:06] sairina commented on #9184
Hi there @neoshri - to get started, after forking the repo follow the directions in our [dev documentation](https://kolibri-dev.readthedocs.io/en/develop/) to get Kolibri set up locally and the development server working.
- You'll want to work off our `release-v0.15.x` branch
- Following the "Steps to reproduce" should allow you to see the issue here

Let me know if you have any more specific ques

[2022-03-20 07:33] sakshampathak1508 commented on #9013
![invalid-path](https://user-images.githubusercontent.com/59732968/159155750-8d17b3fe-a4f5-4668-8e70-2b01865107ca.jpeg)
so i tested it by replacing the `except IndexError` to `except Exception` and it will do the trick and drf returning standard http 404 not found
should i raise a PR for that?

[2022-03-20 13:12] abdelrahman725 opened #9211 "quiz images go out of frame ( not aligend vertically with the pic frame)"
## Observed behavior

quiz images (eg. in a math counting lesson exercise/quiz from khanacademy) go out of frame in a weird  way when swtiching between minimized window  and full screen

## see Images

- minimized window ( expected images alignment )

[
![Screenshot 2022-03-20 143325](https://user-images.githubusercontent.com/64221784/159163227-dc5b329b-252c-4b82-a3ec-1fb9aac500f1.png)
](url)

- s

[2022-03-20 13:24] rtibbles commented on #9013
It's generally bad practice to catch `Exception` as that will catch _all_ errors, better to only catch the ones that we know are indicative of the object not existing: `except (IndexError, ValueError, TypeError):`

Would also be good to add a regression test for the fix within the PR.

[2022-03-20 15:21] sakshampathak1508 commented on #9013
Actually i don't really know how to add tests its a section where i need to study but for the bug i made the changes and raising a PR if that's okay

[2022-03-21 13:09] #9134 closed, assigned to nucleogenesis

[2022-03-21 14:58] pcenov commented on #6180
@radinamatic This issue is no longer extant in 0.15.1 - retested with an iPad Pro 4th generation simulator plus real android device and did not observe any issues with viewing or scrolling a slideshow.

[2022-03-21 15:14] radinamatic commented on #6180
Thank you @pcenov, closing!

[2022-03-21 15:14] #6180 closed, assigned to nobody

[2022-03-21 18:20] jredrejo opened #9214 "Impossible to run jest tests on kolibri plugins"
## Observed behavior
Trying to test a Vue component in a Kolibri plugin (KDP) it has become impossible with the current npm packaging of both `kolibri` and `kolibri-tools`.
Some of the core components used by the tested component are not found. Specifically `KSelect` is missing.

## Errors and logs
[code]

## Expected behavior
Running
`kolibri-tools test --config ./jest.conf.js`
should make jest b

[2022-03-21 21:32] nucleogenesis commented on #9101
@rtibbles

In review - there are two scroll-behavior managing systems in Kolibri right now.

1) CoreBase

This intended to map the scrollPosition of each page between route navigations to a unique history state key but fails because there is no mapping of that key value to past history states.

2) Using `$route.params.scrollTo` - [which is set in the Vue Router init scrollBehavior function](https:

[2022-03-22 12:49] pcenov commented on #8217
@radinamatic this one is still valid in 0.15.1 and is exactly as described - shows only the classes for the default facility.

[2022-03-22 12:53] pcenov commented on #7758
@radinamatic this is not extant in 0.15.1 - the videos performance is alright in IE11, tested on a real device.

[2022-03-22 12:54] pcenov commented on #7756
@radinamatic this one is still extant in 0.15.1

[2022-03-22 13:03] pcenov commented on #7755
@radinamatic this one is no longer extant in 0.15.1:

![2022-03-22_15-02-13](https://user-images.githubusercontent.com/79847249/159488085-ee1c7cc5-d6c2-4709-9a91-530670c655ef.png)

[2022-03-22 13:05] #6509 closed, assigned to AtKristijan

[2022-03-22 13:06] pcenov commented on #7751
@radinamatic - this issue is still valid in 0.15.1

[2022-03-22 13:07] #6351 closed, assigned to AtKristijan

[2022-03-22 13:20] pcenov commented on #7749
@radinamatic this is no longer valid in 0.15.1 - the Khmer text doesn't overflow both in IE11 and Firefox. Still, it's probably worth mentioning that there are some 0 like characters displayed in IE11:
![2022-03-22_15-23-13](https://user-images.githubusercontent.com/79847249/159493194-ceb1dd20-e209-469c-a826-50524c61300f.png)

[2022-03-22 13:35] pcenov commented on #7487
@radinamatic still valid in 0.15.1

[2022-03-22 14:41] pcenov commented on #7441
@radinamatic this one is not extant in 0.15.1. The tooltip is displayed correctly without causing any issues.

[2022-03-22 15:37] rtibbles commented on #9013
Fixed in #9217

[2022-03-22 15:37] #9013 closed, assigned to nobody

[2022-03-22 15:38] rtibbles commented on #7758
Closing as seems not to be extant.

[2022-03-22 15:38] #7758 closed, assigned to nobody

[2022-03-22 15:39] rtibbles commented on #7756
I strongly suspect that this is specific to the code used in Funza, but would have to dive a little deeper to be absolutely sure.

[2022-03-22 15:39] rtibbles commented on #7755
Fixed by 0.15 updates!

[2022-03-22 15:39] #7755 closed, assigned to nobody

[2022-03-22 15:40] rtibbles commented on #7749
@indirectlylit do you have any ideas about incorrect Khmer characters in IE11?

[2022-03-22 15:41] rtibbles commented on #7441
Super! Closing.

[2022-03-22 15:41] #7441 closed, assigned to nobody

[2022-03-22 16:14] radinamatic commented on #8217
Thank you @pcenov.

@marcellamaki This one looks important to me, so giving it a P1 label.

[2022-03-22 17:32] #9132 closed, assigned to rtibbles

[2022-03-23 05:51] himanshi18037 commented on #9028
Hi @sairina! This side Himanshi Mathur, I would like to work on this issue. I am able to reproduce the issue, but not able to locate the starter codebase in Kolibri repository, I am new towards the codebase, so can you guide a bit on it.

[2022-03-23 10:13] pcenov commented on #7343
@radinamatic I'm not able to replicate importing more than one facility through the advanced setup in 0.15.1
However it is still possible to import a facility through the advanced setup, abandon the process at the last step and go through the quick start wizard in which case there will be two facilities:

https://user-images.githubusercontent.com/79847249/159675876-3b7094f4-f5ea-4141-acaa-fdbbe9ff

[2022-03-23 12:41] pcenov commented on #6984
@radinamatic this is not extant in 0.15.1 where the video controls do disappear as mentioned above but reappear once tab is pressed or the user hovers the mouse over the player.

[2022-03-23 12:43] pcenov commented on #6970
@radinamatic do you have any ideas how we can replicate this?

[2022-03-23 12:52] pcenov commented on #6911
@radinamatic this is not extant in 0.15.1 - clicking the View more link always results in showing the rest of the available results. Tested in both Linux/Chrome and Android/Chrome setup.

[2022-03-23 13:40] pcenov commented on #6902
@radinamatic this one is fixed/not extant in 0.15.1 where the fullscreen button is functioning as intended.

[2022-03-23 13:42] pcenov commented on #7339
@radinamatic this issue is no longer extant in 0.15.1

[2022-03-23 14:35] pcenov commented on #7340
@radinamatic this one is fixed in 0.15.1

[2022-03-23 14:49] pcenov commented on #8364
@radinamatic I cannot replicate the above listed issues in 0.15.1

[2022-03-23 15:42] rtibbles commented on #6984
Closing as no longer extant.

[2022-03-23 15:42] #6984 closed, assigned to nobody

[2022-03-23 15:43] rtibbles commented on #6911
Closing as no longer extant. Presumably fixed by updates in 0.15.

[2022-03-23 15:43] #6911 closed, assigned to nobody

[2022-03-23 15:44] rtibbles commented on #6902
@pcenov was this using Android as a client device, or the Android app?

[2022-03-23 15:44] rtibbles commented on #7339
Closing as no longer extant.

[2022-03-23 15:44] #7339 closed, assigned to nobody

[2022-03-23 15:45] rtibbles commented on #7340
Closing as fixed.

[2022-03-23 15:45] #7340 closed, assigned to nobody

[2022-03-23 15:45] rtibbles commented on #8364
Closing - fixed by styling updates in 0.15.

[2022-03-23 15:45] #8364 closed, assigned to nobody

[2022-03-23 15:57] pcenov commented on #6902
@rtibbles actually I was using an Android phone as a client so now that you've mentioned it I checked the Android app as well and the surprising thing is that this button is indeed still being disabled there!

[2022-03-23 16:41] rtibbles commented on #6902
Yes, this is by design because of issues with making it fullscreen. This is also separately tracked on the Android repo: https://github.com/learningequality/kolibri-installer-android/issues/86

[2022-03-23 17:26] rtibbles commented on #9104
Should be cleaned up now!

[2022-03-23 17:26] #9104 closed, assigned to nobody

[2022-03-24 09:53] drunkeninja42 commented on #8549
Hi, I would like to work on this issue and make it my first contribution to open source.

[2022-03-24 12:05] pcenov commented on #6642
@rtibbles retested in the latest [0.16 build](https://buildkite.com/learningequality/kolibri-python-package/builds/5161) and the issues listed above are still valid.

Here's a screenshot for point 1:
![2022-03-24_13-51-29](https://user-images.githubusercontent.com/79847249/159911715-d9fcda5a-7a4d-44ae-a9d6-5813a4db50e3.png)
Here it should be noted also that the 'Last activity' column is empty.

Th

[2022-03-24 12:18] pcenov commented on #6570
@radinamatic this one is still extant in 0.15.1

[2022-03-24 12:30] pcenov commented on #6562
Cannot replicate the initially reported issue in 0.15.1.
As noted by @radinamatic currently the Channel import starts correctly and then when I hit the Cancel button I have to wait for about 3 minutes for the task to finish:
![2022-03-24_14-27-13](https://user-images.githubusercontent.com/79847249/159916345-2cbf7b2f-5bb0-4aa3-a97b-d1b9069edc89.png)

[2022-03-24 13:29] pcenov commented on #5759
@radinamatic this issue is no longer extant in 0.15.1

[2022-03-24 13:40] pcenov commented on #8363
Fixed in 0.15.1 - the RTL text is left aligned.
@radinamatic

[2022-03-24 14:39] pcenov commented on #5667
@radinamatic the game is working fine now in 0.15.1 on iPad Pro simulator:
![2022-03-24_16-36-53](https://user-images.githubusercontent.com/79847249/159940685-ea4875e9-19e2-4120-9792-bb1fca98c657.png)

[2022-03-24 14:48] pcenov commented on #5622
@radinamatic this one is fixed in 0.15.1:
![2022-03-24_16-47-28](https://user-images.githubusercontent.com/79847249/159942911-f60680a6-0025-4a24-b849-77e10c191e47.png)

[2022-03-24 14:57] pcenov commented on #5501
@radinamatic this one is still extant in 0.15.1 although in a slightly different way - once I hit the Export button I see the progress bar reaching 84% then goes to 9% and then proceeds to 100%:

https://user-images.githubusercontent.com/79847249/159944869-24439047-4f06-4c98-a771-d2ff09d824ec.mp4

[2022-03-24 15:19] rtibbles commented on #6562
I think the original issue as reported is fixed (and I think was actually a consequence of running the old dev server by itself, which did not also run the task runner).

I'm going to close this - @radinamatic @pcenov if you think the long time to cancel is sufficiently problematic to require further investigation, please file a follow up issue for that!

[2022-03-24 15:19] #6562 closed, assigned to nobody

[2022-03-24 15:19] rtibbles commented on #5759
Closing as no longer extant.

[2022-03-24 15:19] #5759 closed, assigned to nobody

[2022-03-24 15:19] rtibbles commented on #8363
Excellent - seems like hint and content rendering updates in 0.15 fixed this.

[2022-03-24 15:19] #8363 closed, assigned to nobody

[2022-03-24 15:20] rtibbles commented on #5622
Closing, as resolved!

[2022-03-24 15:20] #5622 closed, assigned to nobody

[2022-03-24 15:21] rtibbles commented on #5501
I am guessing this is probably due to a mismatch between progress reporting of the component jobs (exportchannel and exportcontent) that make up the overall flow here.

[2022-03-24 15:28] rtibbles commented on #8549
Hi @drunkeninja42 - great! The first thing to do when optimizing code is to profile and understand if the code is actually slow, and what is contributing to that slowness.

In order to do this, I would recommend using Django Debug Panel, which is included as a dev dependency of kolibri: https://github.com/learningequality/kolibri/blob/develop/requirements/dev.txt#L6

These can be installed in your

[2022-03-24 15:40] pcenov commented on #6181
@radinamatic I can't replicate this one in 0.15.1

[2022-03-24 15:51] pcenov commented on #5437
@radinamatic I can't replicate the original issue as it's no longer which is the resource in question but a similar issue is observed when attempting to open a link from the 'Document with links' resource in the QA Channel...

[2022-03-24 15:52] rtibbles commented on #6181
Closing as resolved.

[2022-03-24 15:52] #6181 closed, assigned to nobody

[2022-03-24 20:13] radinamatic commented on #5667
iPad Pro has a new OS than what was the issue iniatially right?

[2022-03-24 20:14] radinamatic commented on #5667
Although I'm not sure if we are aiming to support Funza content on these old iPad tablets... 🤔

[2022-03-25 11:18] pcenov commented on #5378
@radinamatic this is still valid in 0.15.1 if the resolution is less than 1040x1020

[2022-03-25 11:27] pcenov commented on #5300
@radinamatic this is no longer extant in 0.15.1:

![2022-03-25_13-26-25](https://user-images.githubusercontent.com/79847249/160112658-f04d2721-1e47-4856-9f59-c77ee2afdb09.png)

[2022-03-25 11:37] pcenov commented on #4747
@radinamatic currently no modal is being shown to a user with elevated permissions in 0.15.1 so this issue should be further discussed.

[2022-03-25 12:37] pcenov commented on #4360
@radinamatic cannot replicate in 0.15.1

[2022-03-25 12:50] pcenov commented on #8360
@radinamatic I cannot replicate this in 0.15.1

[2022-03-25 13:23] pcenov commented on #3730
@radinamatic cannot replicate in 0.15.1

[2022-03-25 15:04] pcenov commented on #4239
@radinamatic this one is still extant in 0.15.1:

![2022-03-25_17-03-23](https://user-images.githubusercontent.com/79847249/160146773-ec2ea2ee-2dde-4c34-b487-130120ecaee7.png)

[2022-03-25 15:17] radinamatic commented on #6570
@sairina Was this instance covered in the recent testing you did for keyboard navigation?

[2022-03-25 15:28] radinamatic commented on #5300
Thank you @pcenov, closing as fixed since the original report!

[2022-03-25 15:28] #5300 closed, assigned to nobody

[2022-03-25 15:30] radinamatic commented on #4360
Thank you, closing as not extant! 💯

[2022-03-25 15:30] #4360 closed, assigned to nobody

[2022-03-25 15:32] radinamatic commented on #3730
Thank you, long gone, closing! 💥

[2022-03-25 15:32] #3730 closed, assigned to nobody

[2022-03-25 15:46] pcenov commented on #2879
@radina I'm not able to replicate this in 0.15.1

[2022-03-25 15:53] radinamatic commented on #2879
Thank you @pcenov, this is a very old issue and memory usage has been optimized since. Closing!

[2022-03-25 15:53] #2879 closed

[2022-03-25 16:16] sairina commented on #6570
Ooooh, no, I didn't get that one! Add it in!

[2022-03-25 16:18] rtibbles commented on #5667
I think it's more of a data point, to see if it runs or not. My assumption is that it will run, given the original issue description.

[2022-03-25 17:13] sairina commented on #9028
Hi @himanshi18037, that would be great. Thank you for taking this on. The component that the search box (`SearchBox`) is in is called `EmbeddedSidePanel`, which is in `FullScreenSidePanel`. The component that is currently handling how the focus is implemented is called `FocusTrap`.

1. There's a PR and a discussion in there about how `FocusTrap` was updated to be implemented [here](https://github.

[2022-03-27 14:16] sakshampathak1508 commented on #6926
Hi i would like to work on this issue

[2022-03-27 14:57] nitheezkant opened #9224 "ImportError on running migrate while using Python 3.10.0"
## Observed behavior

On running  `kolibri manage migrate` command while using Python version 3.10.0, ImportError is observed.
Complete screenshot of Terminal is attached:
<img width="1343" alt="image" src="https://user-images.githubusercontent.com/85250569/160286893-58f1e248-a0e8-4d07-b60e-d5ee0db87edb.png">

## Errors and logs

[code]

## Expected behavior

Migration is successful when lower ver

[2022-03-27 15:46] rtibbles commented on #9224
Kolibri does not support Python 3.10.0 or later, and cannot until we drop Python 2.7 support and upgrade our Django version.

However, this could be better specified in our setup.py with a `python_requires` kwarg.

[2022-03-27 15:46] #9224 closed, assigned to nobody

[2022-03-28 10:20] pcenov commented on #4971
@radinamatic as discussed this one will need further clarification

[2022-03-28 13:41] marcellamaki opened #9226 "SCORM not working"
## Observed behavior
From 15.2-a0 bug bash

Tested with the PEX file. Imported from our QA-Testing channel, none of the three samples work, they all show this kind of error http://localhost:37765/zipcontent/cee209b7b03a1da1858343f5c0bdf6cf.zip/index.html 404 Not found

https://www.notion.so/learningequality/HTML5-SCORM-materials-don-t-work-2cda79443ff14b6dac0484fd0358355b

## Expected behavior
SCO

[2022-03-28 13:43] marcellamaki opened #9227 "Scrolling on Library and Topics page does not work on Firefox"
## Observed behavior
From bug bash

Scrolling the page down does not work on Library Page or Topics Page with mouse or keyboard in Firefox

https://www.notion.so/learningequality/Scrolling-the-page-down-does-not-work-on-Library-Page-or-Topics-Page-with-mouse-or-keyboard-in-Firef-f56d2d2e94294d4d8d07ecd98fa607b3

## Context
 * Kolibri version 15.x
 * Operating system MacOS
 * Browser Firefox

[2022-03-28 13:47] marcellamaki opened #9228 "Confusing sync status between KDP and Kolibri"
## Observed behavior

From bug bash

Did a sync with KDP that spent a bunch of time pulling in records from KDP, but at the end said nothing had been synced.

https://www.notion.so/learningequality/Did-a-sync-with-KDP-that-spent-a-bunch-of-time-pulling-in-records-from-KDP-but-at-the-end-said-noth-2371be78fae248198fbb3a45d9c20325

## Errors and logs

<img width="256" alt="Untitled (4)" src="https:/

[2022-03-28 13:49] marcellamaki opened #9229 "Kolibri server crashes when importing 3 channels at once"
## Observed behavior
From 0.15.2-a0 bug bash

## Context

 * Kolibri version 0.15.x (0.15.2-a0)
 * Operating system MacOs
 * Browser Chrome

[2022-03-28 13:49] marcellamaki commented on #9229
@jtamiace -- can you provide any more details about which channels you were importing? And was it full channels, or selected resources?

[2022-03-28 17:10] jtamiace commented on #9229
I started an import of the entire Khan Academy channel and while that was going, I started importing all of "HP Life - Courses (English)" and I think partial selection of Sikana.

[2022-03-28 20:15] jtamiace commented on #9229
Log files here
[kolibri-2022-03-25.txt](https://github.com/learningequality/kolibri/files/8366007/kolibri-2022-03-25.txt)

[2022-03-28 20:18] rtibbles commented on #9229
Main culprit appears to be:
[code]

Looks like our parallel download implementation is not properly sensitive to open file handler limits.

[2022-03-28 20:20] rtibbles commented on #9229
Flagging as a regression, as this is something that was introduced by parallel downloading work introduced in 0.14.x.

[2022-03-28 23:54] nucleogenesis opened #9231 "Remove CoreBase from Coach reports"
The `kolibri/plugins/coach/assets/src/views/reports` section of the Coach plugin has many pages in it. This shouldn't require too extensive of work to do.

Coach does not make use of the `immersivePageProps` pattern employed previously in other parts of the app, so each of the `*Page` components, ideally, can implement `AppBarCorePage` or `ImmersivePage` directly or by creating a wrapper component

[2022-03-28 23:56] nucleogenesis opened #9232 "Remove CoreBase from Coach - Everything but reports"
Go through Coach and remove CoreBase from everything there except those items which are in the `kolibri/plugins/coach/assets/src/views/reports` directory (that will be handled in https://github.com/learningequality/kolibri/issues/9231).

See https://github.com/learningequality/kolibri/pull/9196 or https://github.com/learningequality/kolibri/pull/9222 for examples of how this was done in Facility a

[2022-03-28 23:58] nucleogenesis opened #9233 "Remove CoreBase from User Profile and User Auth plugins"
Remove the CoreBase usage and replace with AppBarCorePage or ImmersivePage, where applicable.

See https://github.com/learningequality/kolibri/pull/9196 or https://github.com/learningequality/kolibri/pull/9222 for examples of how this was done in Facility and Learn.

[2022-03-28 23:59] nucleogenesis opened #9234 "Remove CoreBase from the Device plugin"
Remove all uses of CoreBase from the Device plugin

See https://github.com/learningequality/kolibri/pull/9196 or https://github.com/learningequality/kolibri/pull/9222 for examples of how this was done in Facility and Learn.

[2022-03-29 00:01] nucleogenesis opened #9235 "Remove CoreBase from Kolibri Tools package and then remove CoreBase from Kolibri altogether"
There is a TestComponent used for some of the i18n testing in Kolibri Tools that should be removed and replaced with something like AppBarCorePage... or perhaps even a div honestly it's just there to be converted into an AST and tested against and CoreBase has nothing to do with the testing.

Then - remove CoreBase altogether from Kolibri.

:boom:

[2022-03-29 00:05] nucleogenesis opened #9236 "Remove CoreBase from 2 Plugins in the Learning Platform"

[2022-03-29 21:17] radinamatic commented on #9226
Kolibri QA channel has been updated and SCORM resources removed for now, closing!

[2022-03-29 21:17] #9226 closed, assigned to radinamatic

[2022-03-31 18:44] DXCanas commented on #8843
Noting that the button _was_ present on the other content cards I saw. Felt like an inconsistency is all.

[2022-03-31 21:23] nucleogenesis commented on #9227
@sairina I've tested this on Firefox 88 and 98 on Linux, using scroll wheel, arrow keys and my laptop's trackpad and I can scroll without issue. Would you mind testing this through again on 0.15 to see if it remains on your end?

[2022-04-01 17:35] marcellamaki opened #9245 "Add additional metadata strings for "what learners need" and make available in search and filter"
There are missing strings associated with the following constants in “What resources learners need” in le-utils:

PEERS
PRIOR_KNOWLEDGE
SPECIAL_SOFTWARE
TEACHER
OTHER_SUPPLIES

These will be used in the studio edit modal work, and in order for this data to be displayable in Kolibri, the strings will need to be added, and we will have to confirm that once they are added, that the metadata will disp

[2022-04-01 17:47] rtibbles commented on #9245
Note that I am not entirely sure that we need a user facing string for `prior knowledge` as 'for beginners' is the user displayed label within that category.

[2022-04-01 18:31] radinamatic commented on #9245
I think that was one of the reasons why we decided to refactor these categories in the user-facing search UI: it made no sense for the learner to **search** for resources that would require ``prior knowledge`` or ``other software`` (which software...? 🤔).

These make more sense on Studio from the content curator point of view, correct?

[2022-04-01 18:37] marcellamaki commented on #9245
Hmm -- that definitely does make sense to me @radinamatic. It seems not useful, and possibly confusing, for learners.

Would there be case where a _coach_ might be using those things to search? Although, maybe more to _not_ choose a particular resource than to pick it? i.e. "I don't want to add a resource to a lesson that requires X which we don't have. And in that case... would the coach do it fr

[2022-04-01 23:25] indirectlylit commented on #7749
Is the same behavior reproduced if the app language is switched to Khmer? I'm curious if it's missing characters only when the app language is something else.

IE11 ought to be using "basic" font-loading behaviors which are less efficient (no lazy-loading) but – if memory serves me correctly – ought to still be able to render all text correctly. Relatively recently, we noticed that IE was not beha

[2022-04-01 23:31] indirectlylit commented on #9104
thanks looks cleaner!

[2022-04-01 23:33] indirectlylit commented on #6970
since I wasn't able to provide steps to repro, I'll close

[2022-04-01 23:33] #6970 closed, assigned to nobody

[2022-04-04 05:08] radinamatic commented on #6039
@rtibbles Perseus repo has been archived (!?), and it does not seem possible to transfer the issue there (at least for me 🤔).

[2022-04-04 05:17] radinamatic commented on #6369
Thank you, @pcenov, closing!

[2022-04-04 05:17] #6369 closed, assigned to nobody

[2022-04-04 05:34] radinamatic commented on #6902
Closing, as it's being tracked on the Android repo.

[2022-04-04 05:34] #6902 closed, assigned to nobody

[2022-04-04 16:17] radinamatic commented on #6039
Yep, it does not allow **me** to transfer it to that repo...

https://user-images.githubusercontent.com/1457929/161587594-a299a28f-1391-4a21-aedb-4e2e028a3d60.mp4

[2022-04-05 13:05] sairina commented on #9227
It seems to be working! Thank you for testing this again. Not sure why it wasn't working before? 😌

[2022-04-05 13:05] #9227 closed, assigned to nucleogenesis

[2022-04-05 14:55] nucleogenesis commented on #9135
AppBar has tests already... :)

[2022-04-05 14:55] #9135 closed, assigned to d0sadata

[2022-04-05 20:43] rtibbles opened #9251 "Refactor deprovision and facility deletion utilities to share code"
We currently have two sets of utilities that attempt to completely hard delete a facility and all related metadata - due to the complexity of this task, and the history of bugs we have seen in it, it would be wise to attempt to unify the functionality where possible, to ensure that there is no duplication that might lead to bugs in one utility vs another.

It does seem like there would be some roo

[2022-04-06 21:54] nucleogenesis opened #9253 "Throw informative error when KolibriPluginBase cannot import from properties"
KolibriPluginBase takes string properties pointing to module names which it then imports. However, when there are issues with this import, the Django error messages are basically worthless - pointing to an entirely different issue.

So - there should be a try/catch earlier on in the instantiation of a class inheriting KolibriPluginBase that tries to import the module and complains directly if that

[2022-04-07 11:06] aditi428 commented on #9088
How can I get help to solve this bug

[2022-04-08 02:49] abdelrahman725 opened #9255 "wrong average score in the coach reports after the first learner of a quiz submits it"
## Observed behavior

when the first quiz taker submits a quiz , the quiz score showing to the quiz taker (learner) after quiz submission is correct  but the initial average score (reports view in coach account) of that quiz for the whole class is Wrong .

### what i exactly  did is the following :

- created a quiz from the coach account with 5 quesions
- (in another session eg.Incognito mode ) t

[2022-04-08 15:39] dbnicholson opened #9258 "importcontent command should allow failure on import errors"
## Observed behavior

When running the `importcontent` management command, it succeeds with a warning when files failed to be imported.

## Errors and logs

[code]

## Expected behavior

`importcontent` fails when it can't import all files.

## User-facing consequences

If you're trying to provision a fully populated device, then you'll have to dig through the logs to find out if it really succeed

[2022-04-08 15:43] rtibbles commented on #9258
This is deliberate, as much of the download is taking place in a places with unreliable connectivity - and causing the entire import to fail because of a few files is undesirable.

A fix that would encompass the use case you are describing would be to add a `--fail-fast` or `--error-on-fail` flag to the command that could cause the command to fail when a file download fails.

[2022-04-08 15:49] dbnicholson commented on #9258
Sorry, I should have phrased that differently. I did find the old commits that made it that way. I'll make a PR with a flag.

[2022-04-08 16:05] rtibbles commented on #9162
Fixed in #9240

[2022-04-08 16:05] #9162 closed, assigned to rtibbles

[2022-04-08 18:04] rtibbles opened #9260 "Refactor the KolibriProcessBus to allow for easier subclassing and selective inclusion of different architectural features"
Currently the KolibriProcessBus is a monolith that includes a range of different functionality with conditional flags for enabling and disabling.

This means that running a slightly different architecture than the one envisaged by the core repo involves duplicating a lot of Kolibri code, rather than just piecing together the different parts that are needed.

The bus should be broken down into thre

[2022-04-08 18:24] rtibbles opened #9261 "Refactor the task API to collapse task scheduling and task enqueueing and reduce worker responsibility"
Currently, scheduled tasks are treated entirely separately from enqueued tasks, and to be executed scheduled tasks must be picked up by our task scheduler and then put into the job queue.

This design was inspired by [rq-scheduler](https://github.com/rq/rq-scheduler) which is an addon for [rq](https://python-rq.org/) and stores its own schedule of tasks and then puts them into the queue at the app

[2022-04-08 18:34] rtibbles opened #9262 "Refactor all asynchronous tasks to use the registered task decorator"
Currently there are a range of different asynchronous tasks in Kolibri, and they are defined in multiple different ways. Some use the RegisteredTask decorator, others are functions (such as those defined in `kolibri/core/tasks/api.py`) and others are Django management commands inheriting from the [AsyncCommand base class](https://github.com/learningequality/kolibri/blob/develop/kolibri/core/tasks/

[2022-04-08 18:39] rtibbles opened #9263 "Add 'Long running' metadata label to task definition"
In the Android context, it is important to know if a task is anticipated to run for a long time (> 10 minutes) or whether its execution will complete more quickly.

This allows us to flag to the user that the process is ongoing, and even more importantly, flag to the Android process manager that this task is taking a long time because it _needs to_ not because it is just hogging resources and shou

[2022-04-08 18:51] rtibbles opened #9264 "Add hooks to allow extending the task job storage class with additional callbacks when jobs are enqueued"
In order to allow an alternative task runner to fully replace our worker class, we need to allow the Storage class to take additional actions when a task is created in the job store.

This means we will essentially be engaging in some double book keeping - where the Kolibri job store simply becomes a place to update status about a task, and the actual execution is stored in this additional mechani

[2022-04-08 18:54] rtibbles opened #9265 "Add hooks to allow calling additional callbacks when job progress or metadata are updated"
To allow decoupling of job execution from reporting of status to the user, we allow a task to be executed with an additonal callback that will be called with the complete representation of the job object, so that e.g. the existing CLI task progress bars can be displayed, or that a notification in Android can be updated when the progress of a task updates.

[2022-04-08 18:55] rtibbles opened #9266 "Refactor content import management commands to use utility functions that are shared between the management command and the task implementation to allow for better testing and reusability"
Currently most of our content tasks use the old `AsyncCommand` base command to do double duty as a management command and an asynchronous task. It would be preferable to modularize our task code to allow it to be flexibly reused as needed across the management commands and asynchronous tasks.

The scope of this task is limited to, looking at this file: https://github.com/learningequality/kolibri/b

[2022-04-08 18:56] rtibbles opened #9267 "Refactor auth management command based tasks to be functions that use the registered task decorator"

[2022-04-08 19:48] rtibbles opened #9268 "Move all tasks in `kolibri/core/tasks/api.py` into `tasks.py` in their respective apps and wrap in registered task decorator"
Currently there are multiple task functions that are defined in the `api.py` file of the core tasks app. These should be separated out and moved into the `tasks.py` module of the relevant core apps, and each one wrapped with the appropriate registered task decorator.

[2022-04-09 04:54] zhihanC commented on #9019
Hi @MisRob ! I'm a new contributor looking to find a good first issue to work on. Is this issue taken?

[2022-04-09 14:56] dbnicholson opened #9269 "Allow importcontent to change download timeout"
## Observed behavior

When running the `importcontent` management command, we often get read timeouts downloading larger files.

## Errors and logs

[code]

## Expected behavior

It would be nice to tell `importcontent` to wait longer than (AFAICT) the default 20 seconds in the `Transfer` class.

## User-facing consequences

If you're on a slow network, then you might get timeouts trying to import

[2022-04-09 15:39] AlexVelezLl opened #9270 "Error setting up environment with docker"
## Observed behavior
When building the base docker image and installing python base requirements, some python dependency throws an error pointing out that the minimum version of python required is 3.5.

## Errors and logs

[code]

## Expected behavior
Docker installs the system without errors in an simple way.

## Steps to reproduce
Run `make docker-build-base` as indicated in https://kolibri-dev.

[2022-04-09 19:20] rtibbles commented on #9270
Hi @AlexVelezLl - could you include the error traceback you are seeing so that we can track this down and know when we have reproduced?

[2022-04-09 19:25] rtibbles commented on #9269
I think given that many of our end users might be running on slower or at least higher latency connections, there is probably some merit to increasing the default timeout to say, 60 seconds, and then also making it's configurable through the management command.

As this is already configurable on the transfer class https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/utils

[2022-04-09 19:52] AlexVelezLl commented on #9270
HI @rtibbles. Sure, it occurs on the step 9 of the base image docker build:
[code]

[2022-04-10 16:01] dbnicholson commented on #9269
Ok, I'll look at the default as well as the override.

For the override the only thing that I'm unsure about is the semantics. The simple way would be to duplicate the `Transfer` default as the option default. But I think more proper would be for the CLI not to pass the argument unless the option was specified. That would be a little uglier to code but not too bad.

[2022-04-10 20:16] AlexVelezLl opened #9271 "`FullScreenSidePanel` Error calculating the container height"
## Observed behavior

When I want to preview the information of a resource in `FullScreenSidePanel`, if the content in the panel is higher than the viewport, a part of the content is hidden.

![HiddenContent](https://user-images.githubusercontent.com/51239030/162635610-ab081c8c-27f8-4f4f-9609-7897dfb5d0f8.gif)

## Errors and logs

None

## Expected behavior

The FullScreenSidePanel shows all the c

[2022-04-11 03:52] zhihanC commented on #9077
Hi @prsndp! Just checking in if this issue is resolved or not. I'm a new contributor and I'm looking for a good first issue to work on.

[2022-04-11 03:58] zhihanC commented on #9028
Hi @himanshi18037, just want to check in if this issue is resolved yet. I'm a new contributor looking for a good first issue to work on. I'm happy to help with this one!

[2022-04-11 07:08] MisRob commented on #9019
Hello @zhihanC, thank you, you're welcome to assign yourself. Please note that I've updated the obsolete link to the scoped slot API documentation to https://v3.router.vuejs.org/api/#v-slot-api-3-1-0 in the issue description. I think one way to solve this could be to utilize `isActive` similarly to [this example](https://v3.router.vuejs.org/api/#example-applying-active-class-to-outer-element).

[2022-04-11 13:18] marcellamaki opened #9273 "App Bar Refresh"
## Overview
The "App Bar Refresh" is an update to our main navigation app bars, which have not been updated in several years. The purposes of this redesign are to:

1. Use space more effectively, especially on small screens
2. Improve visual hierarchy
3. Update dated elements of the design
4. Improve tab overflow and spacing on browser view
5. Add a touch-screen version of the bar for the Android

[2022-04-11 13:20] marcellamaki opened #9274 "Update layout and spacing of nav elements on browser App Bar"
This issue is part of the app bar refresh work. The scope of this issue is just updating the spacing and alignment of existing items on a browser view.

### Scope
- [ ]  Update the between-element spacing for navigation and display elements on the app bar
- [ ]  Conditionally displaying the number of points, based on screen size
- [ ]  Spacing on smaller screens, where links drop below the main he

[2022-04-11 13:21] marcellamaki opened #9275 "Remove profile dropdown menu and add details to Side Nav"
This issue is part of the app bar refresh work. The scope of this issue is removing the current dropdown menu (which will reduce the number of menus and places a user might look for information) and place the relevant profile information into the existing side nav.

### Scope
- [ ] Turn the current user profile dropdown menu should become just a text display of the username. The conditions for tru

[2022-04-11 13:24] marcellamaki opened #9276 "Remove scrolling nav links on smaller breakpoints and add overflow dropdown menu"
This issue is part of the app bar refresh work. The scope of this issue is to remove the scrolling navigation links on smaller screens, which is not user friendly, and place overflow options into a menu.

### Scope
- [ ] Add a dropdown menu to display additional menu options when all will not fit on the screen width

The implementation should be similar to that used in `LearningActivityBar`.

###

[2022-04-11 13:25] marcellamaki opened #9277 "Turn points icon into an button on small breakpoints"
This change improves the accessibility and functionality of the points display, by using a button rather than a tooltip.

### Scope
- [ ]  On small screens, as defined by `responsiveWindowMixin`, points should not be displayed
- [ ]  The existing tooltip feature for this use case should be removed, replaced with a button and popover. The string can be reused.
- [ ]  Username truncation should rema

[2022-04-11 14:54] marcellamaki opened #9278 "Add bottom bar as Android navigation bar"
This issue is part of the app bar refresh work. The scope of this issue is to begin implementation of an Android app specific navigation bar, following common design patterns of bottom navigation.

### Scope
- [ ] Create a bottom menu that will display only on the Android app
- [ ] The menu options area always the Learn plugin main pages -- home, library, and bookmarks -- and a menu option for add

[2022-04-11 14:55] marcellamaki opened #9279 "Add overlay menu for Android navigation"
This issue is part of the app bar refresh work. The scope of this issue is to add a navigation menu for the Android app for navigation to plugins and pages beyond the core Learn plugin pages that will be the main bottom navigation

### Scope
- [ ] Create an overlay navigation menu the conditionally displays navigation options based on the user type (admin, coach, etc.)
- [ ] Add the content that w

[2022-04-11 15:12] marcellamaki commented on #9278
This issue is part of the app bar refresh work. The scope of this issue is to begin implementation of an Android app specific navigation bar, following common design patterns of bottom navigation.

### Scope
- [ ] Create a bottom menu that will display only on the Android app
- [ ] The menu options area always the Learn plugin main pages -- home, library, and bookmarks -- and a menu option for add

[2022-04-11 15:38] pcenov opened #9280 "Concurrent import of several channels fails after restart of the server"
## Observed behavior
This issue was first spotted by @radinamatic at the Bugbash when the concurrent import of 4 channels seemed to go on without issues, but then the VM restarted, and the import of those channels was supposed to restart automatically but the import of the original 4 channels remained stalled and never progressed further than where is was before the restart.

I was able to replica

[2022-04-11 15:40] rtibbles commented on #9280
Note that this is not currently expected behaviour (in terms of the implementation that is currently in place), but I certainly agree that this behaviour is desirable.

[2022-04-11 17:39] manuq commented on #7512
I have observed the same in the Android beta program app. Easily reproducible by rotating the device (convertible Chromebook in my case) so it switches from landscape mode to portrait mode.

The issue doesn't happen opening  the [epubjs online example](https://futurepress.github.io/epubjs-reader/#epubcfi(/6/46[xchapter_017]!/4/2/14/1:229)) in a browser with the same device.

[2022-04-11 18:08] dbnicholson commented on #9269
#9281 increases the default to 60 seconds.

[2022-04-11 18:21] marcellamaki opened #9282 "Add sync information to Android overlay menu"
This issue is part of the app bar refresh work. The scope of this issue is to add sync status for Learn-only devices to the new overlay menu on the Android app

### Scope
- [ ] Use existing `<SyncStatusDisplay>` component for display on learn only devices
- [ ] Display "Learn only" message (can reuse existing strings/text)

### Acceptance Criteria
- [ ] Layout should be pixel-perfect match to Figm

[2022-04-12 15:08] #8994 closed, assigned to d0sadata

[2022-04-12 15:08] rtibbles commented on #8994
Fixed in #9246

[2022-04-12 16:20] rtibbles commented on #9229
This should have been fixed by #9242

[2022-04-12 16:20] #9229 closed, assigned to rtibbles

[2022-04-12 17:53] rtibbles commented on #9258
Fixed in #9259

[2022-04-12 17:53] #9258 closed, assigned to nobody

[2022-04-12 18:13] rtibbles commented on #8826
Fixed in #9252

[2022-04-12 18:13] #8826 closed, assigned to marcellamaki

[2022-04-12 20:49] marcellamaki opened #9284 "Enhanced Onboarding Flow"
## Overview

This epic is to create an enhanced user experience for the first time the user is interacting with Kolibri -- the onboarding.

The improved onboarding experience has been created to:
1. help a user understand the product's value
2. help them use the core product _successfully_ on their own
3. reduce the chances of a bad first impression, and potential abandonment of the product

An ad

[2022-04-12 23:08] rtibbles commented on #8221
Fixed in #8961

[2022-04-12 23:08] #8221 closed, assigned to nobody

[2022-04-13 04:31] zhihanC commented on #9019
Thank you @MisRob! The documentation to the API and the example were pretty helpful - I think I have a general idea of how to do it.

By the way, can you add me as a collaborator of this project or point me to someone who can do that? I tried assigning myself to the issue but I don't think I have the permissions to do so!

[2022-04-13 09:17] arishmaurya commented on #9277
hey, @marcellamaki i want to work on this issue I have done a personal project similar where button issue was quite similar so can you assign it to me and what will be your suggestions i'm new contributor in this organization

[2022-04-13 10:23] MisRob commented on #9019
@zhihanC You're welcome, I hope it goes well. Let us know if you need any support. I've just assigned you to the issue and also assigned myself so that I won't forget to keep an eye on comments. When you open a PR, you're welcome to add yourself [to the list of contributors](https://github.com/learningequality/kolibri/blob/develop/AUTHORS.md).

[2022-04-13 12:53] marcellamaki opened #9287 "Inconsistent build errors and high CPU on `develop`"
## Observed behavior
When running `develop`, I have been running into several issues -- including high CPU usage and some errors.

For both of the logs below, CPU started at around 110% right when running `devserver-hot` and consistently crept up, peaking at around 205% right as the build finished. It began to decrease steadily after that, to around 120%. When not using kolibri, but it is still ru

[2022-04-13 12:54] marcellamaki commented on #9287
@rtibbles

[2022-04-13 15:52] #9271 closed, assigned to nobody

[2022-04-13 18:56] rtibbles opened #9290 "Create API endpoint for enabling and disabling plugins"
In order to allow for plugins to be fully disabled, we need to allow the frontend to be able to initiate requests that disable plugins.

The first use case for this is to disable the Facility and Coach plugins during the Quick Start onboarding flow - as this targets a single, standalone user, the need for the Facility and Coach plugins is limited.

This same endpoint could then be reused for later

[2022-04-14 02:20] arishmaurya commented on #9274
@marcellamaki please assign this issue to me i want to work on it

[2022-04-14 15:28] rtibbles opened #9293 "Create API endpoint to initiate a restart of the Kolibri server"
This endpoint should only handle two specific HTTP verbs:
`GET`:
* In this case, the API endpoint should return either 'restarting' or 'running' - this will be based on whether a restart command has previously been issued, and whether the server has since restarted

`POST`:
* In this case, the API request requires no body, and will set the server as 'restarting' - as it is tricky to cancel a resta

[2022-04-14 17:45] rtibbles commented on #9269
Fixed in #9289

[2022-04-14 17:45] #9269 closed, assigned to nobody

[2022-04-14 23:19] jtamiace commented on #9090
Changes to make based on [this Slack thread](https://learningequality.slack.com/archives/CB37UM23A/p1648817972189329):

**Locations in the app:**
1. Facility > Data tab
2. Device > Facilities tab

**Behaviors:**
* The Sync button should always show as a raised secondary button
* The Register action should always be hidden in an options dropdown menu that appears below the icon button, not beside i

[2022-04-15 00:38] nemoece opened #9295 "Kolibri not starting"
## Observed behavior

Installed kolibri using "sudo pip install kolibri" on my new manjaro kde installation. When i started kolibri using "kolibri start", it throws the following error. I tried to decode the error. But i couldn't resolve this. Please have a look at it.

…

## Errors and logs

[code]

…

## Expected behavior

Kolibri just starts.

…

## User-facing consequences

I already have arou

[2022-04-15 00:44] rtibbles commented on #9295
Hi @nemoece - apologies, we should update this prior to the next patch release of 0.15, but Kolibri is not compatible with Python 3.10 yet. I recommend running it using Python 3.9 instead.

[2022-04-15 00:48] rtibbles commented on #9295
I've opened a pull request to make sure that from 0.15.2 onwards, Kolibri will properly show it is incompatible with Python 3.10.

[2022-04-15 00:50] nemoece commented on #9295
Thanks for the info @rtibbles . Is there any specific command i can give so that kolibri run on python 3.9
Thanks for your help.

[2022-04-15 00:51] rtibbles commented on #9295
Make sure you have Python 3.9 installed on your system, then make a Python virtual environment using that version of Python.

For more information about virtual environments, see here: https://realpython.com/python-virtual-environments-a-primer/

[2022-04-15 00:53] nemoece commented on #9295
Thanks for your help @rtibbles. I am closing this issue for now.

[2022-04-15 00:53] #9295 closed, assigned to nobody

[2022-04-15 12:30] jredrejo opened #9298 "Importing users in the setup wizard does not work in develop"
## Observed behavior
After #8303  has been merged  into develop, the setup wizard can't create a LOD importing users. Tasks don't work properly

## Expected behavior
Wizard setup should be able to import properly users when setting up a LOD

## Steps to reproduce
Create a new Learner User Device trying to import users from a v0.15

## Context
Kolibri develop branch

[2022-04-15 16:14] nucleogenesis opened #9299 "Prepare SetupWizard plugin and wizardMachine for new flow"
# Overview

The `wizardMachine.js` file defines a state machine through which the Setup Wizard flows as the user interacts with the wizard.

The state machine needs a few adjustments and a new state needs to be added to the machine. Some of the states could use an improved naming scheme given the upcoming changes to their purpose and copy.

# Acceptance Criteria

- [x] Switch the order of the `def

[2022-04-15 16:15] nucleogenesis opened #9300 "Prepare Learn Only (LOD) state machine for new flow"
# Overview

The Learn Only Device state machine will have a new flow applied to it to accommodate a user joining an existing facility and the ability to import individual users from a facility. This will involve creating two new states and dummy components for them.

# Acceptance Criteria

## Implement a new set of states & dummy components  & routes

The new flow can be described as follows:

1)

[2022-04-15 16:16] nucleogenesis opened #9301 "Create a reusable component with new common styles for Setup Wizard"
# Overview

There is a new common pattern for all of the steps of the Setup Wizard. This component should be reusable by all steps in the flow.

## The component

All steps will now wrap a `KPageContainer` that houses the main content on desktop - and on mobile will take up the full screen.

**Notes re: Desktop**

The desktop version will be a `KPageContainer` with a footer and two items on top (m

[2022-04-15 16:17] nucleogenesis opened #9302 "Design Update: Post-setup "Setting up Kolibri" interstitial page"
# Overview

The brief "Setting up..." message after the user has completed onboarding has a new design.

# Acceptance Criteria

- [ ] Apply this design from Figma ([Desktop](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1%3A453) | [Mobile](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1%3A1431))

Note that you may seek to use the CS

[2022-04-15 16:18] nucleogenesis opened #9303 "Design Update: GettingStarted "How are you using Kolibri...""
# Overview

The `GettingStartedForm` component will be have updated copywriting and styles. It will also be wrapped in the new component created in #9301.

It may help to use the [Sandbox created in this PR (if it is merged)](https://github.com/learningequality/kolibri/pull/9405/files#diff-0a65e263967e58a1605f4064c1675c3a637cb44e2f686efde015a4a50965ba51)

## New Styles

**Window is medium or large

[2022-04-15 16:18] nucleogenesis opened #9304 "Design Update: Default Language"
# Overview

The `GettingStartedForm` component will be have updated copywriting and styles. It will also be wrapped in the new component created in #9301.

It may help to use the [Sandbox created in this PR (if it is merged)](https://github.com/learningequality/kolibri/pull/9405/files#diff-0a65e263967e58a1605f4064c1675c3a637cb44e2f686efde015a4a50965ba51)

## Before Styles

![default-language-befor

[2022-04-15 16:58] #9261 closed, assigned to rtibbles

[2022-04-15 17:03] nucleogenesis opened #9305 "Design Update: Setup SuperUserAdminAccountForm"
# Overview

- The SuperUserAdminAccountForm has a new design.

# Acceptance Criteria

- [ ] Apply the new designs in Figma ([Desktop](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1810%3A18152) | [Mobile](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1810%3A18261))
- [ ] Ensure the step FULL_OR_LOD and related route point to the new

[2022-04-15 17:06] nucleogenesis opened #9306 "Design Update: DeviceName"
# Overview

- The Device name page has a new design.

# Acceptance Criteria

- [ ] Apply the new designs in Figma ([Desktop](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1%3A527) | [Mobile](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=0%3A1))

[2022-04-15 17:06] nucleogenesis opened #9307 "New Component & Onboarding Step: What kind of device is this?"
# Overview

- The "What kind of device is this" step is new in this flow, a new component will need to be made

# Acceptance Criteria

- [ ] Apply the new designs in Figma ([Desktop](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1088%3A14095) | [Mobile](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1182%3A14379))

[2022-04-15 17:09] nucleogenesis opened #9308 "Design Update: Create new or import facility"
# Overview

- The page where user selects to create new facility or import has a new design. The component has been renamed from `SetupMethod` to `FullDeviceNewOrImportFacility` - which, while more verbose is also more descriptive of its context and purpose :)

# Acceptance Criteria

- [ ] Apply the new designs in Figma ([Desktop](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2

[2022-04-15 17:11] nucleogenesis opened #9309 "Design Update: All steps in CreateNewFacility component"
# Overview

- The whole CreateNewFacility flow has a new design.

# Acceptance Criteria

- [ ] Apply the new designs in Figma
- [ ] Update the CreateFacilitySetup component as needed

## Desktop

Enable Guest Access (Figma - [Desktop](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1%3A820) | [Mobile](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-

[2022-04-15 17:23] nucleogenesis opened #9310 "Design Update: All steps in ImportFacilitySetup component"
# Overview

- The whole importFacilitySetup flow has a new design.

# Acceptance Criteria

- [ ] Apply the new designs in Figma
- [ ] Update the ImportFacilitySetup component as needed

## Desktop

Import facility (Figma - [Desktop](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1%3A672) | [Mobile](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-20

[2022-04-15 17:27] nucleogenesis opened #9311 "Design Update: All steps in Import individual users on LoD flow (existing flow)"
# Overview

The existing LoD import users flow has visual updates

# Acceptance Criteria

- [ ] Apply designs from Figma

Import individual user accounts (Figma - [Desktop](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1%3A683) | [Mobile](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=1%3A1602))
Import multiple accounts (Figma - [Des

[2022-04-15 17:27] nucleogenesis opened #9312 "New flow: All steps in Create new user for facility on LoD flow"

[2022-04-15 17:46] rtibbles commented on #6926
@dylanmccall I wasn't able to replicate this issue on the current 0.15 branch.

[2022-04-17 18:51] vkWeb opened #9313 "Use args, kwargs explicitly as a standard everywhere for task backend"
Currently we pop off `Job` attributes and then assign the remaining attributes as args & kwargs which has potential to be problematic. So to make our tasks backend robust and support future flexibility we should explicitly use args, kwargs for `Job` objects.

[2022-04-17 20:10] Abhinav-CHD commented on #9211
I just want to further add that you don't need to switch to full screen to observer this issue, just increase the width to more than 500px. I am attaching a video for further reference.

https://user-images.githubusercontent.com/65783653/163730454-88f0ba3d-3df9-49fe-96cc-66040ffb772d.mp4

Also when going from screen size less 500px to greater than 500px, image is get shifted a bit towards left (no

[2022-04-18 16:07] #9260 closed, assigned to rtibbles

[2022-04-18 16:07] #8273 closed, assigned to nobody

[2022-04-18 18:13] rtibbles commented on #6926
Have confirmed with @dylanmccall that this is no longer extant. Closing!

[2022-04-18 18:13] #6926 closed, assigned to rtibbles

[2022-04-19 19:00] marcellamaki commented on #9277
Hi @arishmaurya -- thank you for your interest in contributing to Kolibri!

Get started by reading the [developer documentation for Kolibri](https://kolibri-dev.readthedocs.io/en/develop/getting_started.html) and for the [Kolibri Design System](https://kolibri-design-system.netlify.app/). Make sure you read [the section about internationalizing strings](https://kolibri-dev.readthedocs.io/en/develo

[2022-04-19 19:02] marcellamaki commented on #9274
Hi @arishmaurya -- why don't you go ahead and get started on the other issue that you requested to contribute on. If you finish that and this hasn't been assigned to a member of our team by then, I will assign you. Thanks again for your interest in Kolibri!

[2022-04-19 19:09] marcellamaki opened #9316 "Change facility after device setup"
## Overview
The "Change Facility" page is a new feature that allows a user to switch to a new facility other than the one they joined/created when they first installed Kolibri.

This feature was created to address the problem that learners cannot transfer their existing data to another facility.

### Impact and Timeline

This feature can impact all users, but was designed with a focus on a learner

[2022-04-19 19:42] marcellamaki opened #9318 "Create new state machine for User plugin to manage facility change flow"
# Overview

The facility change workflow will be supported through an xState machine similar to the `wizardMachine.js` file in the Setup Wizard flows. The machine defines a state machine through which the Setup Wizard flows as the user interacts with the wizard. This pattern should be followed and translated into the possible flows for changing a facility.

The state machine should be created, and

[2022-04-19 19:45] marcellamaki opened #9319 "Create new routes for change facility workflow"
# Overview

This issue is to support the implementation of the state machine created in #9318. The states created in this issue will each have a route associated with them. This issue adds those routes to the `user_profile` plugin.

## Acceptance Criteria
- [ ] Add routes for each route identified in the new xState machine for facility change

[2022-04-19 19:46] marcellamaki opened #9320 "Create reusable UI component for change facility workflow"

[2022-04-19 19:49] marcellamaki opened #9321 ""Default Path" for facility change UI is implemented"
This is a final issue to ensure that after the state machine, routes, and pages have been created, that the "Default path" flow works as expected.

Any code adjustments necessary to ensure that the feature is completed is considered in scope for this issue.

[2022-04-19 19:51] marcellamaki opened #9322 "Add "Change Facility" option to profile page"
# Overview

This issue adds an option to the profile page of users _who originally installed Kolibri using the quickstart option_ for that user to change their facility.

## Figma
![Screen Shot 2022-04-20 at 11.23.34 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/464ccc24-5f3a-4c43-b6df-b73f18278bb3)

### Accessibility notes
Tab order:
1) Checkbox
2) "Continue" primary butto

[2022-04-19 19:52] marcellamaki opened #9324 "Create "Select Facility" page"
# Overview

Allows a user to select the facility they want to join.

## Figma
| If options exist |  No facilities to display |
|---|---|
| ![Screen Shot 2022-04-20 at 11.18.56 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/b859143b-f220-4500-80b0-b1d988d1c9e6) | ![Screen Shot 2022-04-20 at 11.19.05 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/f5f2a8b

[2022-04-19 19:52] marcellamaki opened #9325 "Create "Confirm Account" page"
# Overview

Adds a confirmation page when a user is changing facility, explaining that they will use their current account to join the new facility.

## Figma
![Screen Shot 2022-04-20 at 11.17.03 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/eb258084-bd5c-46ef-a1ce-791fcb0fe1d9)

### Accessibility notes
Tab order:
1) "Continue" primary button
2) "Back" secondary button
3) "

[2022-04-19 19:53] marcellamaki opened #9326 "Create "Choose Admin" page"
# Overview

Adds a page where a user can select a new admin, if the current user leaving the facility is the superadmin.

## Figma
![Screen Shot 2022-04-20 at 11.08.44 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/cca831f3-fc71-4b8f-b145-f6807782f518)

### Accessibility notes
Tab order:
1) Search for user
2) Radio buttons in read order (top to bottom)
3) "Continue" primary

[2022-04-19 19:53] marcellamaki opened #9327 "Create task status page"
# Overview

Adds a page that can be used to show the task progress of the facility change or account merge

## Figma
|  Description  |  In progress  |  Done  |
|---|---|---|
| When changing facility  |  ![Screen Shot 2022-04-20 at 11.04.35 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/8f27461d-3bdc-4e78-9b06-ccf4558cbc1c) | ![Screen Shot 2022-04-20 at 11.04.42 AM.png](https

[2022-04-19 19:54] marcellamaki opened #9328 "Create "Merge Accounts" sub-flow pages: account selection"
# Overview

Creates pages necessary for a mini sub-flow for merging two existing accounts.

## Figma
|   |   |
|---|---|
| If the user is manually adding a user name to be merged | ![Screen Shot 2022-04-20 at 9.50.36 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/70ea7d2b-7166-480b-8989-23bb06f2e841) |
| After the user name has been added OR if there are two accounts with th

[2022-04-19 19:55] marcellamaki opened #9329 "Create "Create Account" / "Edit Account" page"
# Overview

Adds a page for a learner account creation or editing an existing account. `CreateLearnerAccountForm.vue` in the Setup Wizard could be used for reference

## Figma
| No Existing Account |  Edit Existing Account |
|---|---|
| ![Screen Shot 2022-04-20 at 9.43.12 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/2940373d-2db3-433f-b4c7-12950945f875) | ![Screen Shot 202

[2022-04-19 19:56] marcellamaki opened #9330 "Create "Confirm Account Details" page"
# Overview

Adds a page to account details to flows when a user has an existing account.

## Figma
![Screen Shot 2022-04-20 at 9.35.44 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/b60e9a6e-d9c2-4445-8032-efed0b276ca3)

### Accessibility notes
Tab order:
1) Text fields (top to bottom)
2) "Continue" primary button
3) "Back" secondary button
4) "X" close out flow

### Out of

[2022-04-19 19:57] marcellamaki opened #9331 "Create "Merge Accounts" confirm merge page"
# Overview

Adds a confirmation page to flows when a user is merging existing accounts, explaining the implications of the merge.

## Figma
| Not selected  |  Selected |
|---|---|
| ![Screen Shot 2022-04-20 at 9.18.14 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/bf58db31-586a-482a-8cb6-20cdff9c8a85) | ![Screen Shot 2022-04-20 at 9.18.22 AM.png](https://images.zenhubusercon

[2022-04-19 19:57] marcellamaki opened #9332 "Create "Merge Accounts" task status page"

[2022-04-19 19:59] marcellamaki opened #9333 ""Username Exists" for facility change UI is implemented"
This is a final issue to ensure that after the state machine, routes, and pages have been created, that the "Username Exists" flow works as expected.

Any code adjustments necessary to ensure that the feature is completed is considered in scope for this issue.

[2022-04-19 19:59] marcellamaki opened #9334 ""Merge Accounts" for facility change UI is implemented"
This is a final issue to ensure that after the state machine, routes, and pages have been created, that the "Merge accounts" flow works as expected.

Any code adjustments necessary to ensure that the feature is completed is considered in scope for this issue.

[2022-04-19 20:05] #9287 closed, assigned to nobody

[2022-04-19 23:13] nucleogenesis commented on #9205
@rtibbles - can you think of why this would be the case? You just cannot log in when accessing over the server URL, but it works fine on localhost

[2022-04-19 23:14] rtibbles commented on #9205
If you've initially signed in via localhost, the session cookie is on the localhost origin, not the server origin, so you are not signed in as far as Kolibri is concerned.

[2022-04-19 23:21] nucleogenesis commented on #9205
That was what I thought at first - but I cleared my application data and just tried logging in on my 192.168.*.* IP and it won't log me in - whenever it finishes hitting the session endpoint, it just redirects me back to auth :-/

[2022-04-20 13:13] #9320 closed, assigned to nobody

[2022-04-20 13:16] #9332 closed, assigned to nobody

[2022-04-20 21:00] nucleogenesis commented on #9205
I've dug into this and somewhere around the Middleware there is never a user set, so by the time it hits the redirect view, it has no user.

Why this only happens on the network IP addresses is beyond me, but I tracked it down until it went into the guts of Django where I prodded a bit but in the end I think that, realistically, this isn't worth much more time unless it would complicate some aspec

[2022-04-20 21:30] nucleogenesis commented on #7911
I got started on some documentation here. I stopped at the "Development & Testing" section so I can test a bit on my own device before filling it out. In the end, it may involve setting the host to which the dev server serves to the local IP address of the server, then accessing that over the network via an Android device. I'll continue with this a bit, I forgot to charge my tablet before I starte

[2022-04-20 21:43] nucleogenesis opened #9342 "Library & Topic Pages: Track user preference for Card vs List views"
## Observed behavior

A user can alternate between Grid and Card views, but when they navigate, they are reverted to the default card view even if they've previously selected the list view.

## Expected behavior

When a user selects List or Grid in any given context, that should be stored as a cookie which can be used to ensure the user has a consistent experience across navigations.

## User-faci

[2022-04-20 21:50] rtibbles commented on #9342
I would suggest using localStorage for this rather than a cookie - we already have the `lockr` library being used in our code for this kind of ephemeral settings persistence. That would also avoid having to catalogue it for cookies to exempt from.

[2022-04-21 20:32] marcellamaki commented on #8182
@radinamatic -- just clarifying if this is specific to the _custom content renderer_ that we added. and @rtibbles -- do we have any idea of who might be using this so far? (trying to assess prioritization for the upcoming a11y patch)

[2022-04-21 20:39] marcellamaki opened #9344 "Planned Patch Release 2: Content and a11y!"
This release focuses on high-impact improvements to our content display across plugins, but especially in Learn, as well as accessibility.

Highest priority is keyboard navigation and focus. Additional improvements to the content page have been added to the milestone but not yet added to the epic. They may be triaged in after initial assessment of the keyboard and focus issues.

[2022-04-22 22:51] dylanmccall opened #9345 "Controls overlapping content in folder resources panel"
## Observed behavior

In the "folder resources" panel for some resources, both the close button and the arrow icon overlap with text:

![Screenshot 2022-04-22 at 15-53-19 Watch Me - TED-Ed Lessons - Kolibri](https://user-images.githubusercontent.com/132063/164814797-8db910e4-fb27-44ab-a836-6278659f7d74.png)

## User-facing consequences

This does not block interaction, but it makes text difficult

[2022-04-22 22:58] dylanmccall opened #9346 "Download Resource button is cut off with small window sizes"
## Observed behavior

In the "information" panel for some resources, the Download resource button is cut off:

![Screenshot 2022-04-22 at 15-55-52 Watch Me - TED-Ed Lessons - Kolibri](https://user-images.githubusercontent.com/132063/164814984-9693db76-0f34-4053-86e3-795c1f6ae3d2.png)

## User-facing consequences

This makes it impossible to download certain resources. Note that, if a user's screen

[2022-04-22 23:07] dylanmccall opened #9347 "View Resource button makes everything tiny"
## Observed behavior

After a particular series of steps, Kolibri's interface is constrained to a tiny frame and it becomes impossible to scroll.

## Steps to reproduce

Navigate to a channel in the Learn / Library interface, and then to a particular folder:

https://kolibri-demo.learningequality.org/en/learn/#/topics/t/ba195f33c4e65057a324b223d6b35f97/folders

For a particular resource, click the

[2022-04-22 23:41] dylanmccall opened #9348 "The resource completed dialog appears while I am still watching a video"
## Observed behavior

Kolibri understands whether a user has watched an entire video based on how much time they have spent watching it, rather than whether they have reached the end. This means if I seek backwards in a video, Kolibri will believe I have finished the video before I have actually reached the end. That is probably an okay compromise, but it leads to the "Resource completed" dialog b

[2022-04-23 15:32] #9298 closed, assigned to jredrejo

[2022-04-23 16:07] #8989 closed, assigned to d0sadata

[2022-04-23 16:09] rtibbles opened #9349 "Add optional width prop to embedded side panel component"
![image](https://user-images.githubusercontent.com/71641765/161763575-427d8c40-2e9d-4148-8b58-73a7175d0cdc.png)

In the image above, you can see the difference when EmbeddedSidePanel is implemented inside and outside FSSP
When it's a standalone side panel the **width** prop, whis is a required prop is passed.
When it's inside it has no prop and throws a prop error. My question was, should we add w

[2022-04-25 09:34] danigm opened #9351 "Background running tasks never ends if the server is killed"
## Observed behavior

When there's a running background task and the Kolibri server is killed by the operating system for some reason, the tasks will be in the RUNNING state forever.

![imagen](https://user-images.githubusercontent.com/50350/165062372-9e19279d-a016-40e1-b1ef-5ab7858b4914.png)

## Expected behavior

The RUNNING tasks are marked as "FAILED" when the Kolibri server detects that there

[2022-04-25 15:04] rtibbles commented on #9351
Closing as a duplicate of https://github.com/learningequality/kolibri/issues/9280

[2022-04-25 15:04] #9351 closed, assigned to nobody

[2022-04-25 15:10] rtibbles commented on #9346
This appears to be a duplicate of https://github.com/learningequality/kolibri/issues/9271 which has been resolved, it should be released in 0.15.3.

[2022-04-25 15:10] #9346 closed, assigned to nobody

[2022-04-25 15:11] rtibbles commented on #9345
Could you specify the Kolibri version? I assume 0.15.1, but want to double check.

[2022-04-25 15:19] rtibbles commented on #9348
This is intended behaviour - I am disinclined to change it, especially as it would require disambiguating between 'finishing' and 'finishing' a resource.

What it does perhaps point to is an issue we have faced before with this kind of modal pop-up, that in some cases not having it is highly detrimental, because learners never move on, and in other cases, it is a pain because it is interfering wit

[2022-04-25 15:43] nucleogenesis commented on #9345
I tested this on `develop` and 0.15 and see the issue in both. I figure a fix for this should probably both:

- Address the text width to avoid overlapping with the icons
- Use the TextTruncatorCSS component on the content title there to avoid overflow of longer titles

[2022-04-25 16:02] nucleogenesis opened #9353 "job_storage DB upgrading unnecessarily - fails to start devserver"
## Observed behavior

This has happened to me several times in the last week where I stop my Kolibri dev server with CTRL+C and/or `killall -9 kolibri` and go to restart it and my job_storage DB is borked. When I run `rm $KOLIBRI_HOME/job_storage.sqlite3` and start it up again, it works just fine.

## Errors and logs

[code]

## Expected behavior

I shouldn't have to delete a DB to start/restart t

[2022-04-25 16:07] rtibbles commented on #9353
Interesting - it looks like the upgrade operation that I thought shouldn't affect devs is being run too aggressively. The job storage database is actually not broken, it's just that the upgrade is trying to run without regard to whether it needs to.

[2022-04-25 17:24] dylanmccall commented on #9345
Yep, looks like you got it, but just to confirm this was with Kolibri 0.15.1.

[2022-04-25 17:30] arishmaurya commented on #9277
@marcellamaki mam i'm having problem with installation of virtual environment of python

pipenv : The term 'pipenv' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling
of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ pipenv --python 3
+ ~~~~~~
    + CategoryInfo          : ObjectNotFound:

[2022-04-25 18:45] #8978 closed, assigned to nucleogenesis

[2022-04-25 18:47] #9268 closed, assigned to vkWeb

[2022-04-25 19:44] #9290 closed, assigned to nobody

[2022-04-25 23:43] rtibbles commented on #9318
Why is this targeted for the facility plugin? Most users who will be changing facilities will not have access to the facility plugin. I think this should be targeted at the User Profile plugin instead.

[2022-04-25 23:50] rtibbles opened #9354 "Create asynchronous task to merge current user into an existing facility user on a remote server"
The task should first carry out a single user sync of the user in question - once that has completed, then the following function: https://github.com/learningequality/kolibri/blob/develop/kolibri/core/auth/utils/migrate.py#L55 should be executed on the local user and the newly synced single user.

The task requires all the parameters for a single user sync (https://github.com/learningequality/koli

[2022-04-25 23:50] rtibbles opened #9355 "Create asynchronous task to register a new user on a remote device and then merge current user into that facility user"
The implementation here should leverage the implementation in #9354 with an initial, additional step of creating the new user on the remote device.

The task can then proceed in the same way as #9354.

[2022-04-26 00:03] rtibbles opened #9356 "Create public facility signup viewset"
This should just be a public alias for the current SignUpViewset in the auth app. Need to add documentation to that viewset to clarify that it is now being used as a public interface, and so if it is updated for internal uses, updates must now be versioned.

We can either version the public viewset with a prefix, an optional version parameter to the signup payload, or with a 'Cinderella' strategy,

[2022-04-26 00:23] rtibbles opened #9357 "Allow device provision endpoint to create a special user account based on the OS user"
Add a new capability to the app interface https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/app/utils.py#L9 called `GETUSERNAME`. When called, the method registered to this capability should return the currently logged in user running the app.

When app context is active on the request (as verified by this function (https://github.com/learningequality/kolibri/blob/develop/ko

[2022-04-26 00:34] rtibbles opened #9358 "Automatically get or create system user in app context if the device has been provisioned"
Using the capabilities described in #9357, when a user accesses the App initialize URL: https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/app/api.py#L43 and is properly authenticated in the app context, if there is no current logged in user, then the capability should return the username, and then the appropriate user looked up.

If the user does not exist it should be creat

[2022-04-26 12:52] marcellamaki commented on #9277
Hi @arishmaurya -- what operating system are you using?

[2022-04-26 13:17] marcellamaki commented on #9349
To resolve this, the `width` prop in the Embedded Side Panel component should be an option prop. Any uses should be updated so that the width is still displaying correctly in all places, and the prop errors should be resolved in the console after this is implemented.

[2022-04-26 13:50] marcellamaki commented on #6551
This seems related to [an issue reported by @jredrejo that he noticed in KDP](https://github.com/learningequality/kolibri-design-system/issues/324), as an underlying problem with `KModal`. I will leave this open so we don't forget, but I think the issue should be fixed in KDS, and then we can verify it has been updated here. I will tag it in planned patch 3, as I think we will likely have a KDS re

[2022-04-26 16:00] rtibbles commented on #9072
This design work has been completed, and has been described in #9284

[2022-04-26 16:00] #9072 closed, assigned to jtamiace

[2022-04-26 18:06] arishmaurya commented on #9277
windows

[2022-04-26 19:52] marcellamaki commented on #9277
Hi @arishmaurya

As noted in the getting started section of the developer docs, unfortunately our [dev docs are not written to support developing on Windows](https://kolibri-dev.readthedocs.io/en/develop/getting_started.html#prerequisites), and you might run into some challenges.

I would suggest either using [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/about) or [Vir

[2022-04-27 20:53] #7625 closed, assigned to nobody

[2022-04-27 22:14] rtibbles commented on #6589
This has mostly been resolved, any additional user facing updates will be included in upcoming syncing work.

[2022-04-27 22:14] #6589 closed, assigned to nobody

[2022-04-27 22:18] rtibbles commented on #8835
Closing this as I don't think this is a bug at all. This is intended behaviour.

[2022-04-27 22:18] #8835 closed, assigned to nobody

[2022-04-27 22:23] rtibbles commented on #6141
I think this should be resolved by moving to non-duplicate counts everywhere - if we see a discrepancy we should open a new issue precisely describing it.

[2022-04-27 22:23] #6141 closed, assigned to nobody

[2022-04-27 22:24] rtibbles commented on #5667
Let's close this, as it does not seem to be an issue. And even if it is, it's probably Funza specific.

[2022-04-27 22:24] #5667 closed, assigned to nobody

[2022-04-27 22:25] rtibbles commented on #6039
I am going to transfer this to Studio, as we should not be rendering MathML there, as it is misleading to endusers.

[2022-04-28 16:25] jredrejo commented on #9319
@marcellamaki  I agree with the comment @rtibbles did on #9318 , and even more after looking at the Figma design. The user story starts on its Profile page and he does not need to have access to the Facility plugin at any moment. I think routes should be created in `user_profile` plugin instead of the `Facility` one.

[2022-04-28 16:27] jredrejo commented on #9318
@marcellamaki I'm adding a dependency for this issue to  be able to fulfil the latest point of the Acceptance Criterias

[2022-04-28 16:49] marcellamaki commented on #9319
Yes, thank you @jredrejo -- I should have updated that point in this issue as well. I will edit it to correctly reflect that it should be the `user_profile` plugin

[2022-04-28 17:01] marcellamaki commented on #9180
With the app bar changes and elimination of this dropdown menu, this should be no longer relevant with those updates. Adding to this epic just to track. No separate updates should be required, and this issue can be closed following the app bar updates being merged.

[2022-04-28 21:34] rtibbles commented on #1494
5 years later, we've yet to come up with a good way of estimating the time remaining - and I am not confident that the backend has significantly more information to inform this than the frontend.

[2022-04-28 21:34] #1494 closed

[2022-04-28 21:36] rtibbles commented on #1953
We still haven't done this, so I'm going to say we're not going to. Django appears to have stuck with the same sort of project structure for us up to version 4, so I'm going to say what's OK for Django is OK for us.

[2022-04-28 21:36] #1953 closed

[2022-04-28 21:37] rtibbles commented on #2024
We don't have a clear use case for this, and there are other ways to reduce bloat by intelligent code splitting.

[2022-04-28 21:37] #2024 closed

[2022-04-28 22:07] rtibbles commented on #2528
Installer specific issue covered by: https://github.com/learningequality/kolibri-installer-windows/issues/176

[2022-04-28 22:08] #8360 closed

[2022-04-29 23:13] rtibbles opened #9380 "Create a public API endpoint for ContentNode data"
Create a versioned public API endpoint for returning ContentNode data.

At the moment, it can simply return the same as the current internal ContentNode viewset.

This should be implemented as a v2 endpoint, to match the v2 public channel endpoint in #9381.

As long as fields are only added, and not removed, the viewset can remain as v2.

As soon as there is a more radical overhaul of ContentNode

[2022-04-29 23:24] rtibbles opened #9381 "Update public Channel API endpoint"
Update the public Channel API endpoint to return fields that are a superset of the existing public Channel API endpoint and the internal ChannelMetadata API endpoint.

We should implement this as the v2 spec for this endpoint, as if the v2 spec is unavailable, this will serve as a useful signal that the Kolibri instance cannot be publicly browsed for resources.

[2022-04-29 23:36] rtibbles opened #9382 "Allow internal ContentNode endpoint to handle baseurl parameter for browsing non-local libraries"
This would be similar in motivation to the RemoteChannelViewset: https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/api.py#L1447 which is used to provide a local API endpoint for browsing the public channel API of remote Kolibris and Kolibri Studio.

This should then map the data returned from the public endpoint to data that is mapped to the current internal ContentNode

[2022-04-29 23:39] rtibbles opened #9383 "Enhance non-local ContentNode viewset to allow browsing of up to date drive based libraries"
In addition to the `baseurl` GET param (e.g. https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/api.py#L1571), we should also add a `drive_id` to allow for querying and previewing metadata contained on a local drive.

This would then require using a dynamic database router in Django in order to run the appropriate queries against a database that has been exported by a ne

[2022-04-29 23:44] rtibbles opened #9384 "Update export channel and export content functionality to create a single queryable database that can be used to preview the exported library"
Currently export channel and export content just export the raw channel database and content to the drive. In addition, it should be creating a centralized record store (essentially a 'content only' Kolibri database) that has all of the exported channels, and all appropriate annotations for all of the exported resources.

This will require some careful design of migrations and the dynamic database

[2022-04-29 23:51] rtibbles opened #9385 "Enhance ChannelMetadataViewset to handle baseurl parameter to browse non-local libraries"
To allow browsing channels on remotes for learn, we need to copy behaviour from [RemoteChannelViewset](https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/api.py#L1447).

In addition, full and robust caching of requests should be implemented, to prevent too many requests from being made to remote servers.

It should better handle incomplete requests, or errors during requ

[2022-04-29 23:59] rtibbles opened #9386 "Create a /content/storage endpoint that will proxy to a remote server"
An API endpoint setup under `/remote/content/storage` that will proxy to a specific remote server using the get param `baseurl` specified. If no `baseurl` is specified, it should return a 404.

The API endpoint will then make a further request to `<baseurl>/content/storage/....` and then stream the response from that request as the response to the request being made from the client.

To intelligen

[2022-04-30 00:06] rtibbles opened #9387 "Allow /content/zipcontent endpoint to accept a baseurl GET parameter for remotely accessing zipcontent"
An API endpoint setup under /content/zipcontent that will proxy to a specific remote server using the get param baseurl specified. If no baseurl is specified, it should return a 404.

The API endpoint will then make a further request to <baseurl>/content/zipcontent/.... and then stream the response from that request as the response to the request being made from the client.

Caching these resource

[2022-04-30 00:07] rtibbles opened #9388 "Handle range requests on remote content serving"
To better support video streaming from remote servers, we should support proxying range requests, and caching the results of those range requests (where eventually with enough range requests, we'll have a whole file!).

[2022-04-30 00:09] rtibbles opened #9389 "Implement an LRU cache mechanism for cached remotely streamed content"
The last accessed time for any files imported in this way should be stored in some sort of cache record. This cache record should be wiped if the file is removed either due to an LRU eviction mechanism, deletion explicitly from Kolibri, or by explicit import by Kolibri.

It's possible that this could be achieved simply by relying on the last_accessed timestamp provided by file stats, and then just

[2022-04-30 00:15] rtibbles opened #9390 "Create public ContentNodeTreeViewset or expose publicly in some way on the public content node viewset"
To allow efficient, paginated browsing of remote channels, this viewset https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/api.py#L995 needs to be available in a publicly accessible form. The simplest mechanism would be to make a separate versioned public viewset parallel to the public ContentNode viewset described in #9380.

[2022-04-30 00:17] rtibbles opened #9391 "Handle baseurl on ContentNodeTree viewset to allow browsing of non-local topic trees"
In parallel to #9382, we should be able to browse non-local topic trees by making a request to the baseurl.

[2022-04-30 02:14] holta opened #9392 "Kolibri 0.15.2 Python 3.10 error on Ubuntu 22.04 "ImportError: cannot import name 'Iterator' from 'collections' (/usr/lib/python3.10/collections/__init__.py)""
This promising work from earlier in April seemed tailored to getting Kolibri 0.15.2 working with Python 3.10?  _[CLARIF: No, Kolibri seems to be deferring support for Python 3.10 until a later date]_

- #9295
- PR #9296

Somehow however the just-released Kolibri 0.15.2 (https://learningequality.org/r/kolibri-deb-latest) appears to install on Ubuntu Desktop 22.04 on x86_64 (as part of [Internet-in-

[2022-04-30 02:17] holta commented on #9392
Or is it the case that Ubuntu 22.04 LTS (Python 3.10) users need to wait for Kolibri 0.16.0 &mdash; around the end of 2022 possibly?

[2022-05-01 15:42] ykabusalah commented on #9044
@MisRob Can I claim and address this issue?

[2022-05-02 07:01] rtibbles commented on #9392
Seems like this should be possible within the scope of 0.15.x - the above targeted PR should be able to make 0.15.3 onwards compatible with Python 3.10.

[2022-05-02 14:34] marcellamaki commented on #9194
After some investigation, I think this is due to default MacBook settings, not a Kolibri issue. After updating my settings I am able to tab through full navigation as expect.

![firefox-main-nav.gif](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/1718b0df-70f6-4c11-adbf-0adabbada7e3)

[2022-05-02 14:39] marcellamaki commented on #9182
Like #9194, I think this is Macbook settings dependent. After updating settings, tab navigation in the login seems to work correctly in both safari and firefox

![firefox-tab-login.gif](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/9af24c1a-2253-4395-b18e-e6081b769a1a)

![safari-tab-login.gif](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/a2b6d051-163b-421b-be20-061

[2022-05-02 14:49] marcellamaki commented on #9183
Possibly Mac settings issue
![safari-tab-main-nav.gif](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/b8367a21-57fb-4c71-a64b-7f863489cb90)

[2022-05-02 14:51] marcellamaki commented on #9186
Possible Mac settings issue ![tab-click-to-page.gif](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/26be049d-d800-4a61-ac5c-9741f7c8f141)

[2022-05-02 14:52] marcellamaki commented on #9188
Possible Mac settings issue

![firefox-no-skipped-link.gif](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/607c7c32-cdef-40c5-a583-a8e551a23b33)

[2022-05-02 14:56] marcellamaki commented on #9184
Possible mac settings issue

![profile-dropdown.gif](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/d4851125-c899-4158-8467-633c21e069f9)

[2022-05-02 15:01] marcellamaki commented on #9190
Possible mac settings issues

![card-navigation-firefox.gif](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/150d724d-e8e0-4ab8-ab79-f6593c53d85a)

[2022-05-02 15:04] marcellamaki commented on #9191
Possible mac settings issue

![in-topic-nav-firefox.gif](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/7a774e3c-b1c2-4477-814e-24a6540299ba)

[2022-05-02 15:07] marcellamaki commented on #9192
I think the skipping over is another possible mac settings issue. With the settings updated, the problem becomes the actual focus outline (which, as I recall, was discussed with @radinamatic pre-0.15, as it does appear, but doesn't actually surround the entire card). I would propose rescoping this issue to improve the focus outline, if the settings can be confirmed to be the problem with the outli

[2022-05-02 15:12] marcellamaki commented on #9189
Possible mac settings issue
![main-side-nav-firefox.gif](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/4db67d62-ef5a-48cb-a1c3-4703fa8385a0)

[2022-05-02 15:50] marcellamaki commented on #9194
cc @radinamatic -- to double check before closing

[2022-05-02 15:50] marcellamaki commented on #9189
cc @radinamatic -- to double check before closing

[2022-05-02 15:50] marcellamaki commented on #9192
cc @radinamatic -- to double check before updating

[2022-05-02 15:50] marcellamaki commented on #9191
cc @radinamatic -- to double check before closing

[2022-05-02 15:50] marcellamaki commented on #9190
cc @radinamatic -- to double check before closing

[2022-05-02 15:50] marcellamaki commented on #9186
cc @radinamatic -- to double check before closing

[2022-05-02 15:51] marcellamaki commented on #9184
cc @radinamatic -- to double check before closing

[2022-05-02 15:51] marcellamaki commented on #9188
cc @radinamatic -- to double check before closing

[2022-05-02 15:51] marcellamaki commented on #9182
cc @radinamatic -- to double check before closing (firefox)

[2022-05-02 16:57] vkWeb opened #9394 "Updates required on the front end for the new Tasks backend"
## Description

https://github.com/learningequality/kolibri/pull/8269 shifted all tasks of `core/tasks/api.py` to their core django apps -- the place where they actually belong. The tasks on `core/tasks/api.py` were not removed because removing them will break kolibri. We need updates on the frontend before we remove tasks from the `core/tasks/api.py`.

So, here are the updates required for tasks:

[2022-05-02 22:00] nucleogenesis opened #9396 "Fresh Kolibri dev environment fails to install properly"
## Observed behavior

I took these steps:

- Clone Kolibri to fresh local repo
- Ensure `develop` is checked out
- `python -m venv venv`
- `source venv/bin/activate`
- `pip install -r` every file in the `requirements/` directory
- `pip install -e .`
- `yarn install`
- `yarn devserver`

Then I get the error noted below. Seems like Django isn't being installed correctly or something. I've copied the

[2022-05-03 07:06] pcenov commented on #9182
Confirmed - the Sign in page tab navigation works correctly on Safari, Firefox and Chrome on Mac. Had to enable this setting specifically for the Safari browser:
<img width="882" alt="safari-tab-to-highlight-each-item" src="https://user-images.githubusercontent.com/79847249/166415650-00520a75-ddd8-4e73-9fdc-718596be822f.png">

[2022-05-03 07:18] pcenov commented on #9188
Yeah, this is also a Mac configuration issues - works fine for me on Safari, Firefox and Chrome on Mac after enabling the correct settings.

[2022-05-03 07:21] pcenov commented on #9184
Confirmed - the navigation works correctly on Safari, Firefox and Chrome on Mac after enabling the correct settings.

[2022-05-03 07:24] pcenov commented on #9186
Confirmed - with the correct settings enabled the tab navigation works correctly on Safari, Firefox and Chrome on Mac.

[2022-05-03 07:30] pcenov commented on #9190
Confirmed - with the correct settings enabled the tab navigation works correctly on Safari, Firefox and Chrome on Mac - the cards can be tabbed through and the first focusable element is the first available content card.

[2022-05-03 07:35] pcenov commented on #9191
Confirmed - with the correct settings enabled the tab navigation works correctly on Safari, Firefox and Chrome on Mac.

[2022-05-03 07:43] pcenov commented on #9192
@marcellamaki yes, I confirm that the issue reported by @sairina was caused by the Mac settings option not being enabled. After enabling it the focus outline appears correctly only in Chrome, and as observed by you it doesn't fully surround the cards in both Firefox and Safari so you are correct to point out that this issue could be rescoped to address that problem.

[2022-05-03 08:33] pcenov commented on #9189
With the correct settings enabled the sidebar navigation works correctly on Safari, Firefox and Chrome on Mac.

[2022-05-03 08:42] pcenov commented on #9194
Confirmed - with the correct settings enabled the tab navigation works correctly on Safari, Firefox and Chrome on Mac.

[2022-05-03 08:47] pcenov commented on #9183
Confirmed - with the correct settings enabled the tab navigation works correctly on Safari, Firefox and Chrome on Mac.

[2022-05-03 12:54] #9183 closed, assigned to nobody

[2022-05-03 12:54] #9182 closed, assigned to nobody

[2022-05-03 12:55] #9186 closed, assigned to nobody

[2022-05-03 12:55] #9188 closed, assigned to nobody

[2022-05-03 12:55] #9189 closed, assigned to nobody

[2022-05-03 12:55] #9190 closed, assigned to nobody

[2022-05-03 12:56] #9191 closed, assigned to nobody

[2022-05-03 12:56] #9194 closed, assigned to nobody

[2022-05-03 12:58] #9184 closed, assigned to nobody

[2022-05-03 13:19] marcellamaki commented on #9187
Closing as Mac settings issue

[2022-05-03 13:19] #9187 closed, assigned to nobody

[2022-05-03 14:28] #9396 closed, assigned to nobody

[2022-05-03 17:04] rtibbles commented on #9392
Closing this issue - the fix (and python 3.10 support) will be released in 0.15.3.

[2022-05-03 17:04] #9392 closed, assigned to nobody

[2022-05-03 17:10] holta commented on #9392
Great news, Thanks @rtibbles & @jredrejo !

[2022-05-03 17:22] rtibbles commented on #9266
The core of this was resolved by #8269 - the only thing that remains is to remove the dependency on management commands for core functionality for better modularity and easier testing. However, that's a tech debt issue that is beyond the scope of what is needed.

Updating the task accordingly and removing from the epic.

[2022-05-04 16:00] marcellamaki opened #9402 "Update perseus renderer to better manage exam errors"
As previously reported in #3853, the perseus renderer was displaying exam errors to the user. The fix in #4365 dismisses these errors when moving between items.

Included in the update was a comment that this was a bit of a hacky work around. The perseus renderer should be updated to handle this issue properly, rather than having this in the Exam Page.

[2022-05-05 13:35] marcellamaki opened #9406 "Ensure snackbar notifications properly announce on screen readers"
## Observed behavior
As [reported in the support forum ](https://community.learningequality.org/t/nvda-screen-reader-is-not-able-the-kolibri-desktop-application/2417/3), the snackbar notifications do not have an audible notification for NVDA screen reader.

## Expected behavior

Snackbar notifications should notify screen reader users of the message content.

## User-facing consequences
Screen rea

[2022-05-05 13:38] marcellamaki opened #9407 "Update immersive page icon buttons (back, close) for screen reader usage"
## Observed behavior
As [reported in the support forum ](https://community.learningequality.org/t/nvda-screen-reader-is-not-able-the-kolibri-desktop-application/2417/3), the close and back button on (at least some, perhaps all) immersive pages in Kolibri do not have correct icon identification information.

## Expected behavior

Immsersive page icon buttons should be clearly labeled for screen rea

[2022-05-05 15:59] #9301 closed, assigned to nucleogenesis

[2022-05-05 16:12] marcellamaki commented on #9174
I think that the learn issue might be settings related, or could be related to https://github.com/learningequality/kolibri/issues/6035. After doing a little bit of testing, it would seem as though the focus defaults to the video player controls, but since the focus within the player doesn't use our focus outline, it becomes hard to track the focus. But, I am able to navigate through all of the opt

[2022-05-05 17:43] holta commented on #9392
@marcellamaki would you happen to know if 0.15.3 is expected in May, June, or July &mdash; for communities that use Ubuntu 22.04 and need Python 3.10 support?

[2022-05-05 17:59] rtibbles commented on #9392
We are currently doing planned patches on 6 week release cycles - so the patch release including this should come at the beginning of June.

[2022-05-05 18:06] holta commented on #9392
Great news, Thanks!

[2022-05-05 21:20] rtibbles commented on #9402
Fixed in #9403

[2022-05-05 21:20] #9402 closed, assigned to rtibbles

[2022-05-06 18:35] marcellamaki opened #9412 "Add availability checking that we do in the lesson display page when we pass nodes to the AlsoInThis panel"
From 0.15.3-a0 bug bash

Opening the ‘Next in lesson’ sidebar gives inconsistent results, sometimes just the green spinner is visible
Happened in a single user syncing context

**Expected behavior**
Next in lesson sidebar should always load the files, or have the blank state if none

Tested by @radinamatic
[logs.zip](https://github.com/learningequality/kolibri/files/8642943/logs.zip)
<img width="9

[2022-05-06 18:37] marcellamaki opened #9413 "Order paginated FacilityUser queryset"
## Observed behavior
The recent pagination PR for the FacilityUser did not also include an update to order the paginated results.

## Errors and logs

[code]

## Expected behavior
Users should be ordered

## User-facing consequences
Confusing UI

[2022-05-06 18:39] marcellamaki opened #9414 "Don't send unnecessary empty query parameters to the facility user endpoint"
## Observed behavior
There are instances where there are empty query params being sent to the facility user endpoint

e.g. http://127.0.0.1:8080/api/auth/facilityuser/?member_of=4839d1a0688cc1e8f01fac813f5b1da8&page_size=30&page=3&search=65&exclude_member_of=&user_type=&exclude_user_type=&1651856395778=1651856395778

## Expected behavior
Should not send empty query params

[2022-05-06 18:42] rtibbles commented on #9412
Possible that this could be related to missing content for some of these issues?

There is definitely an error in the logs about the database being locked.

Also, I see that our Windows installer is still absolutely spamming the hell out of the Kolibri server for no good reason.

[2022-05-06 18:53] marcellamaki opened #9415 "Confusing UI when importing content over a network"
## Observed behavior
When importing from someone over the network, if they have a lower version of the same channel, some items may show up with a “New” flag on resources that are actually old. This occurred an QA channel versions 95 → 90.

## Errors and logs
None

## Expected behavior
Older versions of the channel should not be flagged as "new"

## User-facing consequences
Confusion!

## Steps to

[2022-05-06 18:57] marcellamaki opened #9416 "Error when trying to import content from a peer"
From 0.15.3.a0 bug bash

## Observed behavior
Local request to:

[http://6.5.75.95:1234/api/content/remotechannel/95a52b386f2c485cb97dd60901674a98/?baseurl=http%3A%2F%2F192.168.191.113%3A8080%2F&1651855796864=1651855796864](http://6.5.75.95:1234/api/content/remotechannel/95a52b386f2c485cb97dd60901674a98/?baseurl=http%3A%2F%2F192.168.191.113%3A8080%2F&1651855796864=1651855796864)

returns a 404 wit

[2022-05-06 18:58] marcellamaki opened #9417 "“Channel not found” from 500 from Disk I/O Error"
From 0.15.3-a0 bug bash

## Observed behavior
Ran scanforcontent while server was running (as there was content marked as available I didn’t have the content files for). Then went to import content for that channel from Studio, and it said “Channel not found” as a result of the following 500 error:

## Errors and logs
[code]

## Context
Jamie	Ubuntu 20.04	Chrome

[2022-05-06 19:01] marcellamaki opened #9418 "500 error when refreshing /en/device/ due to transaction error (during single-user-syncing from this user)"
from 0.15.3-a0 bug bash

## Errors and logs

[code]
-->

…

## Expected behavior
Page should still be available while single user syncing is happening

## Context
Jamie	Ubuntu 20.04	Chrome

[2022-05-06 20:55] nucleogenesis commented on #9159
I wonder if this is due to the version discrepancy and that transfers between 0.15 and 0.15.1 are forever busted and that this state is no longer possible since it only happened during that particular failure?

[2022-05-08 12:47] arishmaurya commented on #9277
/home/rahul/Pictures/Screenshot from 2022-05-08 18-12-28.png

mam I tried <KIconButton> to make this icon a button but when i'm doing this the leaf icon disappers and then i tried <button> it is now navigable by tab bar but it is not showing points on clicking by keyboard can you help me and the screenshot that i'm sharing with you it is current situation of icon button

[2022-05-08 12:48] arishmaurya commented on #9277
![Screenshot from 2022-05-08 18-12-28](https://user-images.githubusercontent.com/75907342/167296864-80839cac-2d61-4d85-b401-2091346edb23.png)

mam I tried to make this icon a button but when i'm doing this the leaf icon disappers and then i tried it is now navigable by tab bar but it is not showing points on clicking by keyboard can you help me and the screenshot that i'm sharing with you it is cu

[2022-05-08 12:54] arishmaurya commented on #9277
![Screenshot from 2022-05-08 18-12-28](https://user-images.githubusercontent.com/75907342/167296941-d6fccc3c-9254-45aa-9015-782eb6b6cc5e.png)

 I made this  icon a button using <button> tag because when i'm using <KIconButton> tag  the leaf icon disappers  now this button is  navigable by tab bar but it is not showing points on clicking by keyboard can you help me and the screenshot that i'm shari

[2022-05-08 12:56] arishmaurya commented on #9277
![Screenshot from 2022-05-08 18-12-28](https://user-images.githubusercontent.com/75907342/167297118-3e141459-964e-4107-859b-ad83ceefb5f6.png)
@marcellamaki  mam ,I made this icon a button using html button tag because when i'm using KIconButton tag the leaf icon disappers now this button is navigable by tab bar but it is not showing points on clicking by keyboard can you help me and the screenshot

[2022-05-09 08:25] pcenov commented on #9207
Verified as fixed:
![2022-05-09_11-21-42](https://user-images.githubusercontent.com/79847249/167370120-6e7fb3bb-78f0-4578-89a9-9ed3d97e4630.png)

[2022-05-09 08:41] pcenov commented on #9203
The Account link is completely removed in the latest build - @nucleogenesis is this fixing the reported issue?

[2022-05-09 08:45] pcenov commented on #9202
Verified as fixed in the latest build. @radinamatic

[2022-05-09 08:52] pcenov commented on #9201
Tested and verified as fixed in the latest build - the validation for existing phone number is displayed correctly now.
@radinamatic

[2022-05-09 08:59] pcenov commented on #9202
After some additional testing - this issue is still valid for the Reset password form which is accessible from the sign-in page:
![2022-05-09_11-56-56](https://user-images.githubusercontent.com/79847249/167376364-7bc8f617-9772-4cc0-b6cf-4e421feb93b0.png)
@nucleogenesis

[2022-05-09 15:35] rtibbles commented on #9192
Fixed in #9409

[2022-05-09 15:35] #9192 closed, assigned to marcellamaki

[2022-05-09 15:37] #9299 closed, assigned to nucleogenesis

[2022-05-09 20:10] bjester opened #9420 "Quiz question navigation and submit button incorrectly aligned"
## Observed behavior

The quiz question navigation buttons, <kbd>Previous</kbd> and <kbd>Next</kbd>, are stacking above the <kbd>Submit</kbd> button. There's some sort of overflow scrolling happening that might be the cause

![Screenshot from 2022-05-09 13-05-16](https://user-images.githubusercontent.com/819838/167489383-fbe10dbc-fc35-4728-a55d-6d6143d7c1cf.png)

## Errors and logs

None

## Expec

[2022-05-09 20:26] bjester commented on #9416
Experienced something like this running the 0.15.3a0 pex, and attempting to import from an 0.15.2 pex that I had just imported a channel into. It said there were 0 channels on the peer instance

[2022-05-09 21:53] bjester commented on #9420
I was unable to reproduce this after restarting the kolibri instance. I'll update this if I find any more specifics.

[2022-05-10 14:09] marcellamaki commented on #9277
@arishmaurya -- it's no problem that the leaf icon disappears. There is a new icon that will be created by our design team for this new work, and it is not ready to be added to the repository. So, please use the `KIconButton` component, not the html button. You can use any icon as a placeholder, as noted in the scope of the issue, which will allow for testing. To find a placeholder icon to use, yo

[2022-05-10 16:17] #7756 closed, assigned to rtibbles

[2022-05-10 16:17] rtibbles commented on #7756
I have confirmed that this is because of Javascript code that is internal to the Funza application, it is throwing syntax errors. We cannot fix this.

[2022-05-11 15:12] pcenov commented on #4971
@radinamatic I created and completed a quiz using the questions from Khan Academy's 7th grade Geometry>Area and circumference of circles and the π letter is available in the answer options. Also all the answers containing π which I submitted were accepted as correct.

I compared the answer options to https://www.khanacademy.org/math/cc-seventh-grade-math/cc-7th-geometry/cc-7th-area-circumference/e

[2022-05-11 15:16] rtibbles commented on #4971
Excellent! I am going to consider this closed - quite possible that some updates to our perseus render in the interim had fixed this.

[2022-05-11 15:16] #4971 closed, assigned to radinamatic

[2022-05-12 16:57] #9318 closed, assigned to jredrejo

[2022-05-12 19:59] rtibbles commented on #9413
Fixed in #9422

[2022-05-12 19:59] #9413 closed, assigned to rtibbles

[2022-05-12 19:59] rtibbles commented on #9414
Fixed in #9422

[2022-05-12 19:59] #9414 closed, assigned to rtibbles

[2022-05-12 20:03] rtibbles commented on #6298
Fixed in #9401

[2022-05-12 20:03] #6298 closed, assigned to nobody

[2022-05-13 15:01] pcenov opened #9427 "Develop - Setup wizard is broken"
## Observed behavior
While routinely checking the latest develop [build](https://buildkite.com/learningequality/kolibri-python-package/builds/5470) I noticed that the Setup wizard is no longer working. I checked the previous builds and it's this [build](https://buildkite.com/learningequality/kolibri-python-package/builds/5459) that's introducing the issue.

## Expected behavior
Fully functional Se

[2022-05-13 15:01] pcenov commented on #9427
@radinamatic

[2022-05-13 16:32] jredrejo commented on #9427
@nucleogenesis I think this is caused by https://github.com/learningequality/kolibri/pull/9405 Just let me know if you prefer to take this issue or assign it to me without any problem

[2022-05-13 16:56] nucleogenesis commented on #9427
Sorry Peter - I should have noted that the setup wizard will be undergoing maintenance for a bit and may be a bit broken for a while as we make our changes. It may be worth skipping it during routine tests of develop for a few sprints.

[2022-05-13 19:29] #9353 closed, assigned to nobody

[2022-05-13 20:23] marcellamaki opened #9435 "Write documentation for URL namespacing of backend URLs"
There is a URL namespacing used throughout the code base. Implicitly inside the API resource layer, and explicitly in some parts of the frontend code, e.g.

[code]

When updating the dev docs and "how-tos" for working with API endpoints and URLs in general, more explanation should be added as part of this.

[2022-05-13 21:12] marcellamaki commented on #9178
Closed with https://github.com/learningequality/kolibri/pull/9408

[2022-05-13 21:12] #9178 closed, assigned to marcellamaki

[2022-05-13 21:12] marcellamaki commented on #9096
Closed with https://github.com/learningequality/kolibri/pull/9408

[2022-05-13 21:12] #9096 closed, assigned to marcellamaki

[2022-05-13 21:12] marcellamaki commented on #9175
Closed with https://github.com/learningequality/kolibri/pull/9408

[2022-05-13 21:12] #9175 closed, assigned to marcellamaki

[2022-05-13 21:13] marcellamaki commented on #9193
Closed with #9408

[2022-05-13 21:13] #9193 closed, assigned to marcellamaki

[2022-05-16 09:59] MisRob commented on #9044
Hi @ykabusalah, I'm sorry for the late reply, I've just returned today after taking some time off. Yes, you're welcome to assign yourself and work on this issue.

[2022-05-16 11:34] MisRob commented on #9348
I saw this too while working on the completion dialog and in some cases, it felt confusing and unpleasant disruption of user experience to me. For example, when you watch half of a video, leave, return to the same resource later and start watching it again. If my memory is correct, in such cases the completion dialog would be displayed when I was in the half of watching. I also reported an issue r

[2022-05-16 15:21] rtibbles commented on #9348
If the only concern is about when to display the completion modal, perhaps we should have a discrete 'finish' event that a renderer can emit to determine when a user has finished interacting with the resource?

I can see an advantage to this ^ as it means that the completion modal actually shows up more often, as 'completion' is a one time event for any particular user, whereas repeat engagement h

[2022-05-16 18:17] nucleogenesis commented on #9427
ETA 2-4 weeks before Setup Wizard is fully functional again - closing this issue for now

[2022-05-16 18:17] #9427 closed, assigned to nobody

[2022-05-16 20:04] marcellamaki opened #9440 "Kolibri build/complication errors in develop (issue details still being added)"
This is a still-being-drafted issue regarding some build and compilation problems on `develop`.

So far, I have encountered 3 scenarios:
1) The build works!
2) Webpack output seems fine and green, but no migrations are printed to the console, and I get a "this site can't be reached" error
3) `kolibri start --foreground` or `yarn run devserver` sometimes leads to the loading kolibri and `Uncaught R

[2022-05-16 22:43] nucleogenesis opened #9441 "Broken features in cloud instances when depending on temp or uploaded files"
## Observed behavior

On instances running in the cloud using BCK, Kolibri is unable to provide features that make use of temporary storage. Two examples were discovered by NCC testing on the Vodafone BCK pentesting instance.

1) Cannot upload a CSV to import users
2) When generating logs, the links to download the successfully generated logs returns 404

_A path toward solving this_ will need to

[2022-05-16 22:46] rtibbles commented on #9441
Note that I think the most sustainable way to do this would be to use a [DjangoStorage](https://docs.djangoproject.com/en/1.11/ref/files/storage/#the-filesystemstorage-class) class to handle any file uploads in Kolibri - then it can be swapped out for a different class that supports the appropriate backend for the environment.

This is similar to https://github.com/learningequality/kolibri/issues/

[2022-05-16 23:08] rtibbles commented on #8745
Fixed in #9439

[2022-05-16 23:08] #8745 closed, assigned to marcellamaki

[2022-05-16 23:09] rtibbles commented on #9407
Fixed in #9411

[2022-05-16 23:09] #9407 closed, assigned to nobody

[2022-05-16 23:26] #8979 closed, assigned to nucleogenesis

[2022-05-16 23:30] nucleogenesis opened #9442 "Remove SidePanelModal from core api"
The SidePanelModal is only used in Learn - not sure why I put it in the Core API spec but maybe I was a bit optimistic about how widely used this feature might be!

It should be moved to Learn, all references to it updated, and then remove it from the API spec.

[2022-05-17 07:37] MisRob commented on #9348
@rtibbles

'finish' event sounds good. However, I don't think we can separate the completion criteria of accumulated time from showing the dialog completely if that's what this solution implies? I imagine we'd need to take into account accumulated time criteria too otherwise we'd run into UX discrepancies, for example by showing the completion dialog with the completed message "Resource completed"

[2022-05-17 12:45] pcenov opened #9443 "Khan Academy exercises - Missing x-axis labels"
## Observed behavior
This issue was initially reported here: https://community.learningequality.org/t/display-issues-with-khan-academy-exercises/2425/1
Note that I am currently able to replicate only the issue with the missing x-axis labels, the numeric input is functioning correctly.

## Steps to reproduce the issue
1. Install Kolibri 0.15.2
2. Import [Khan Academy's](https://www.khanacademy.org/

[2022-05-17 12:45] pcenov commented on #9443
@radinamatic

[2022-05-17 13:01] marcellamaki commented on #9406
Closed with #9410

[2022-05-17 13:01] #9406 closed, assigned to nobody

[2022-05-17 13:34] pcenov opened #9444 "Coach>Reports>Quiz score - Incorrect number of attempts"
## Observed behavior
I see an incorrect number of attempts at 'Coach>Reports>Quiz score' whenever there's a numeric value input as the answer to a quiz question.
For example if the answer is '12' I will see one failed attempt for the first entered digit '1' and one successful attempt for '12'

## Steps to reproduce the issue
1. Install Kolibri 0.15.2
2. Import [Khan Academy's](https://www.khanacad

[2022-05-17 13:35] pcenov commented on #9444
@radinamatic

[2022-05-17 15:51] #9280 closed, assigned to nobody

[2022-05-17 21:54] #9313 closed, assigned to rtibbles, vkWeb

[2022-05-17 23:25] radinamatic opened #9448 "Learners not available to enroll in the class"
## Observed behavior
Encountered while testing #9446, according to @rtibbles most probably a regression from the recent pagination work.

Facility has 3 new learners, but none seem available to be enrolled in the class:

![enroll-issue](https://user-images.githubusercontent.com/1457929/168927631-eec829b1-abe5-4ae8-8904-f216dc979f2b.gif)

## Errors and logs
…

## Expected behavior
Visible list of l

[2022-05-18 15:17] bjester commented on #9420
It appears this occurred because the internal Kolibri version wasn't updated. Some resource file names contain the Kolibri version, so if that didn't change, the browser could have an old cached copy even though the file was changed in the alpha. In practice, this shouldn't happen under normal circumstances.
Example:
[code]

[2022-05-18 15:17] #9420 closed, assigned to bjester, marcellamaki

[2022-05-18 15:24] rtibbles commented on #9443
Fixed in #9446

[2022-05-18 15:24] #9443 closed, assigned to rtibbles

[2022-05-18 16:02] #2528 closed

[2022-05-18 16:24] jamalex commented on #9228
We just replicated this in today's sync bug bash. And this looks to be the cause. ^^ Instead of just looking at the push, it should either add together the values from the push/pull sessions, or show them separately. Probably just adding them.

[2022-05-18 17:40] #9155 closed, assigned to rtibbles

[2022-05-18 18:44] marcellamaki commented on #9347
Fixed in #9449

[2022-05-18 18:44] #9347 closed, assigned to nobody

[2022-05-18 20:35] marcellamaki commented on #8787
Icons improved with #8938

[2022-05-18 21:00] #9207 closed, assigned to nucleogenesis

[2022-05-18 21:04] nucleogenesis commented on #9203
@pcenov the account button is now called "profile" after the latest update to make it in line with the latest Kolibri

[2022-05-18 21:04] #9203 closed, assigned to nucleogenesis

[2022-05-18 22:03] nucleogenesis commented on #9204
I have not been able to replicate this issue - perhaps there was some other cause?

[2022-05-18 22:03] #9201 closed, assigned to nucleogenesis

[2022-05-18 22:05] nucleogenesis commented on #9202
This issue has been resolved here: https://github.com/learningequality/kolibri-instant-schools-plugin/pull/180

[2022-05-18 22:05] #9202 closed, assigned to nucleogenesis

[2022-05-18 22:06] nucleogenesis commented on #9205
I'm going to close this as a `wontfix` for now as it is specific to the VF IS configuartion but doesn't impact the intended use of the software

[2022-05-18 22:06] #9205 closed, assigned to nucleogenesis

[2022-05-19 18:27] eapdso opened #9451 "PhET Interactive Simulations interactive resources loading on non-standard ports"
## Observed behavior

Resources that are interactive fail to load in the PhET Interactive Simulations channels on v0.15.3-alpha0 even after reinstalling channel.

Background resources are attempting to load on various random ports, rather than using the standard https port which is likely being blocked by our load balancer / security groups.

It's possible that we could open up these ports, but th

[2022-05-20 00:28] marcellamaki commented on #9448
Fixed with #9450

[2022-05-20 00:28] #9448 closed, assigned to marcellamaki

[2022-05-20 21:16] holta opened #9455 "How do we fix Kolibri Channel Import failures with http://box/kolibri configured by KOLIBRI_URL_PATH_PREFIX=/kolibri ?"
Thanks to @shanti-bhardwa who helped spell out this longstanding issue, and also @jvonau, @tim-moody who both reconfirmed!

_The solution might not be simple (?) but let's try to find a way forward here together &mdash; as there are a quickly growing number of Internet-in-a-Box communities around the world using Kolibri:_

PROBLEM SUMMARY: If you try to import a Kolibri channel using Kolibri > Cha

[2022-05-23 12:27] shanti-bhardwa commented on #9455
How do you apply this hack and test that IMPORT works ??
_"Whereas if The Other Kolibri Machine is manually hacked to instead run Kolibri on http://box:8009/, the channel import then works"._

[2022-05-23 13:00] tim-moody commented on #9455
On the server from which you wish to import:

- manually edit /etc/systemd/system/kolibri.service, commenting out Environment=KOLIBRI_URL_PATH_PREFIX=/kolibri
- systemctl daemon-reload
- systemctl restart kolibri

With this change I was able to successfully import a channel as usual.

[2022-05-23 16:00] #9354 closed, assigned to jredrejo

[2022-05-23 16:13] rtibbles commented on #9451
Hi @eapdso - this is by design, if you would like to set a fixed port for zip content to be served over, please use the `ZIP_CONTENT_PORT` option, as described here: https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/options.py#L488

This can either be set in an `options.ini` file under the `[Deployment]` section header, or as an environment variable `KOLIBRI_ZIP_CONTENT_PORT`.

[2022-05-23 16:13] #9451 closed, assigned to nobody

[2022-05-23 16:15] rtibbles commented on #9455
This is a long standing issue with the Kolibri peer discovery not encoding the URL prefix information into the information it broadcasts to its peers. This would be best fixed by having peers broadcast their URL prefix to allow construction of the full base url for the Kolibri instance.

[2022-05-23 16:16] rtibbles commented on #9455
I have added this to the next planned patch milestone for the 0.15.x series, so hopefully we can release a fix for this by sometime in mid-July.

[2022-05-23 16:30] tim-moody commented on #9455
Please note that even if I add a custom server with the prefix in the url, that prefix is stripped out when issuing the api call.

[2022-05-23 18:39] #9293 closed, assigned to nobody

[2022-05-23 19:40] marcellamaki commented on #9440
Updated to add logs for when "This site can't be reached" happens and `Uncaught ReferenceError: kolibriCoreAppGlobal is not defined`.

The short version is:
1. Start working on a branch for the day. Builds as expected (logs 1)
2. Switch to a different working branch off of develop, doesn't build (logs 2)
3. `kill -9 $(pgrep -f kolibri)` -> `yarn run devserver` -> logs 3
4.  `kill -9 $(pgrep -f kol

[2022-05-23 21:48] shanti-bhardwa commented on #9455
I have tested the suggested fix by commenting out the line Environment=KOLIBRI_URL_PATH_PREFIX=/kolibri in  /etc/systemd/system/kolibri.service, and then
systemctl daemon-reload
systemctl restart kolibri
followed by kolibri start as well.

The fix works and I can import channels from two IIAB servers, one running IIAB 8.0 on PI400 Desktop and the second on IIAB 8.0 on Linux Mint 2.3. Both servers

[2022-05-23 21:50] rtibbles commented on #9455
Yeah, we should also address that behaviour for cases where the auto-discovery is not suitable (such as connecting to an online instance of Kolibri).

[2022-05-24 10:31] shanti-bhardwa commented on #9455
This fix is not critical as we can EXPORT & IMPORT channels via local drive. One simple work around ( not very elegant) would be do a command like iiab-kolibri-lan-import-on which applies the fix and the iiab-kolibri-lan-import-off which reverses it. This is only required for Admin purposes.

[2022-05-24 10:42] jvonau commented on #9455
That comment would seem more appropriate for IIAB's tracker as IIAB, to my knowledge is the only place where KOLIBRI_URL_PATH_PREFIX is being used and summarizes what was discussed in chat. Just need someone to do up the PR for the kluge for IIAB or wait for the real fix.

[2022-05-24 15:16] holta commented on #9455
Agreed.

@shanti-bhardwa is a rare person who can tolerate command-line interventions.  (Thankfully he now has a workaround for the coming months.)

The general public however, cannot tolerate "kludgy" command-line workarounds.  We need a more intuitive fix in the end.  (Hopefully in July or soon!)

[2022-05-24 15:38] eapdso commented on #9451
hey @rtibbles thanks, I didn't realize that change had been made!
I've tried setting the ZIP_CONTENT_PORT in the options.ini file but after reboot, regardless of the port I select, the entire site fails to load with a 502. This isn't just the content failing to load, it's the entire site, so it's like the ZIP_CONTENT_PORT is affecting general site hosting settings as well, weirdly. See attached im

[2022-05-24 18:41] #9356 closed, assigned to rtibbles

[2022-05-24 18:46] rtibbles commented on #9451
It seems like you are serving Kolibri behind nginx? If you are trying to serve on https, then you will probably need one domain serving to the main Kolibri WSGI server (defined by `HTTP_PORT`) and another domain or subdomain that serves to the ZIP_CONTENT_PORT.

If you need to define the specific origin that you are serving the zip content from, you can use the `ZIP_CONTENT_ORIGIN` option to set t

[2022-05-25 12:42] marcellamaki commented on #6035
Closed with https://github.com/learningequality/kolibri-design-system/pull/185

[2022-05-25 12:42] #6035 closed, assigned to sairina, marcellamaki

[2022-05-25 12:42] marcellamaki commented on #9174
Closed with https://github.com/learningequality/kolibri-design-system/pull/185

[2022-05-25 12:42] #9174 closed, assigned to sairina, marcellamaki

[2022-05-25 13:53] marcellamaki commented on #9319
Close with #9419

[2022-05-25 13:53] #9319 closed, assigned to jredrejo

[2022-05-25 15:22] nucleogenesis commented on #7911
I've created an initial draft in [Notion](https://www.notion.so/learningequality/Android-Development-Testing-c6b564a08b9a4bb0972ab804c27fb691) - this is relatively simple documentation, but should be helpful for onboarding and reference.

[2022-05-25 15:22] #7911 closed, assigned to nucleogenesis

[2022-05-25 15:40] #9185 closed, assigned to nobody

[2022-05-25 15:43] #8977 closed, assigned to marcellamaki

[2022-05-26 02:32] CuNO3 opened #9462 "Setup wizard was not able to find python on your system"
I am trying to install Kolibri 0.15.2 on windows system.But Setup Wizard was unable to find python3.6+.
I have python 3.10.4 on my system.
Py Version : Python 3.10.4 (tags/v3.10.4:9d38120, Mar 23 2022, 23:13:41) [MSC v.1929 64 bit (AMD64)] on win32
The Setup Log:
2022-05-26 10:26:36.365   Log opened. (Time zone: UTC+08:00)
2022-05-26 10:26:36.365   Setup version: Inno Setup version 6.0.2 (u)
2022-

[2022-05-26 02:54] CuNO3 commented on #9462
I Installed python3.6.8 , then Kolibri was successfully installed , but it was unable to startup...And I cant find the log

[2022-05-26 17:45] jredrejo commented on #9462
hi @Unili-LiZnCu that's a typical problem of an antivirus blocking kolibri installer to copy its script files. Please disable the antivirus and repeat the installation, it has been reported by some users in the past https://community.learningequality.org/t/kolibri-the-server-is-starting-please-wait-kolibri-exe/412/11

Also, for future messages if you want to get support, using https://community.le

[2022-05-26 17:45] #9462 closed, assigned to nobody

[2022-05-27 15:45] pcenov opened #9464 "Keyboard-only navigation - Tab focus outline is not fully encircling the buttons"
## Observed behavior
While testing the keyboard navigation and focus outline improvements I noticed that the buttons in the footer don't get fully encircled by the tab focus outline.

## Steps to reproduce the issue
1. Install Kolibri v0.15.3-beta1
2. Go through some workflows such as importing a channel or completing a lesson/quiz

## Screenshots
![2022-05-27_18-05-32](https://user-images.githubu

[2022-05-27 15:45] pcenov commented on #9464
@radinamatic

[2022-05-27 15:51] radinamatic commented on #9464
@marcellamaki This is a regression, but not necessarily a result of the changes in the most current patch PRs, not sure if the fix is related to the design system or can be dealt in Kolibri.

It's not a blocker not it has high impact, but would be a bonus to see if we could fix it... 😉

[2022-05-30 17:59] jredrejo commented on #9330
@marcellamaki I can't find this screen in the figma design, could it be it was removed after you created the epic?
I suppose the right design is this one:
![image](https://user-images.githubusercontent.com/1008178/171041924-7d15e2ab-3dd1-40ac-84e0-ffe9e8caf036.png)

[2022-05-31 12:37] marcellamaki commented on #9330
@jredrejo -- it is [this screen  (04d.1) in the "username exists" flow](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=611%3A10119). If it is easier to combine this with the option you refer to above, and just have different content based on the state, I think that would be fine too

[2022-05-31 16:34] jredrejo commented on #9330
ah, thanks! I hadn't seen that one previously. No, it's not something to combine. This is farther in the flow.
Sorry for the noise

[2022-06-01 13:01] marcellamaki opened #9469 "Create "Change Facility" Informational screen"
# Overview

Presents a user with information about what changing their facility means, the new facility they are joining, and what will happen to their data

## [Figma](https://www.figma.com/file/MpCG7r5PULOCJsEvnTSti8/Android-Designs-2022?node-id=473%3A6412)
![Screen Shot 2022-06-01 at 9.03.28 AM.png](https://images.zenhubusercontent.com/6047f6e691103a78d3ad0ace/41761267-e768-4c97-bf11-566368394f

[2022-06-01 15:07] marcellamaki opened #9471 "Trim whitespace during log in authentication/validation"
## Observed behavior

During the Uganda training, the team ran into the following problem with logging in to Kolibri: if the participant added a spacebar after their username, it was considered as a wrong username. For example -if the username was ‘learner2’ and if the participant typed in ‘learner2  ’ - with an extra space after 2, Kolibri wasn’t accepting it and said that the username was incorr

[2022-06-01 15:26] marcellamaki opened #9472 "Disable 'continue' button during quiz creation unless a selection is made"
## Observed behavior
During the Uganda training, while creating a quiz, many participants clicked on ‘continue’ after entering the title and the number of questions instead of clicking on the channel first

<img width="1438" alt="Screen Shot 2022-06-01 at 11 26 20 AM" src="https://user-images.githubusercontent.com/17235236/171441469-3309738f-5883-4f56-803c-f805d58fb795.png">

## Expected behavior

[2022-06-01 15:42] marcellamaki opened #9473 "Update "Manage Lesson Resources" saving actions with clearer language"
## Observed behavior
During the Uganda training, coaches reported confusion about clicking the "close" button during the Manage Lesson Resources flow. Not always super intuitive to click on "Close" after desired exercises are selected. It seemed a little intimidating to hit close instead of something like “Save” or “Next.”

<img width="1434" alt="Screen Shot 2022-06-01 at 11 39 21 AM" src="https:/

[2022-06-01 16:16] #9394 closed, assigned to rtibbles

[2022-06-01 17:45] #9386 closed, assigned to rtibbles

[2022-06-01 17:45] #9388 closed, assigned to rtibbles

[2022-06-02 15:12] pcenov opened #9479 "Channel import API issues"
## Observed behavior
@rtibbles I found a couple of more issues for the channel import/update workflows
I noticed that when attempting to import only a single resource or a folder then the entire channel will get imported instead.
Also when I attempt to import a recently updated channel I see a "Something went wrong" error page.

## Steps to reproduce the issue
1. Install the latest [build](https:/

[2022-06-02 15:23] rtibbles commented on #9479
Thanks for the follow up @pcenov - I had definitely seen issues with whole channels being imported instead of a subselection, but thought I had resolved it. It appears not.

[2022-06-02 17:57] #9380 closed, assigned to rtibbles

[2022-06-02 17:57] #9381 closed, assigned to rtibbles

[2022-06-02 17:57] #9382 closed, assigned to rtibbles

[2022-06-02 17:57] #9385 closed, assigned to rtibbles

[2022-06-02 17:57] #9390 closed, assigned to rtibbles

[2022-06-02 17:57] #9391 closed, assigned to rtibbles

[2022-06-02 19:17] #9303 closed, assigned to nucleogenesis

[2022-06-02 19:17] #9304 closed, assigned to nucleogenesis

[2022-06-02 19:17] #9305 closed, assigned to nobody

[2022-06-06 14:41] #9322 closed, assigned to jredrejo

[2022-06-06 14:50] pcenov opened #9484 "Keyboard navigation - Minor cosmetic issues with the visible focus outline"
## Observed behavior
See the attached screenshots.

## Steps to reproduce the issue
1. Install Kolibri v0.15.3-beta2
2. Observe the visible focus outline when importing a channel, changing the permissions or browsing the library

## Screenshots
Device > Permissions:
![2022-06-06_11-55-56](https://user-images.githubusercontent.com/79847249/172184079-ca9721e2-b925-4bbc-aaf8-fcd29acfbb68.png)

Device

[2022-06-06 14:50] pcenov commented on #9484
@radinamatic

[2022-06-06 15:12] radinamatic commented on #9484
This is not a blocker for the release tomorrow, can be slated to the next patch!

[2022-06-06 23:10] maxbrunet opened #9486 "Drop Python 2 support"
Python 2 has reached its end of life on January 1, 2020, meaning it does not get any more bug or security fixes:

https://www.python.org/doc/sunset-python-2/

It also increases the development burden and blocks updates of many dependencies:

- Django 2+
- pytest 5+
- pytest-django 4+
- SQLAlchemy 2+
- ...

It seems Kolibri has been supporting Python 3 from day one.
I believe all major Linux distri

[2022-06-06 23:18] rtibbles commented on #9486
Noting that the main blocker here is that according to our anonymized telemetry reports we still have a significant number of Kolibri installations using Python 2.

All of these appear to be on Linux systems, so it is possible that this is due to default `python` still being Python 2 - but we will hopefully gather more information after the release of 0.16 that will help us further clarify this.

[2022-06-07 12:16] marcellamaki commented on #9464
Closed with https://github.com/learningequality/kolibri/pull/9478

[2022-06-07 12:16] #9464 closed, assigned to nobody

[2022-06-07 14:45] rtibbles opened #9489 "Allow import of individual content nodes for automatic import and learner initiated import"
To better support App use cases, we are aiming to allow more incremental import of metadata for channels rather than having to import the metadata for an entire channel at once.

Without this support, imports for a small number of resources could easily require a large amount of time, bandwidth, and disk space that the user may not be expecting and which will seem disproportionate. In the case of

[2022-06-07 14:55] rtibbles opened #9491 "Create a public import metadata endpoint"
A new public API endpoint that exposes all the metadata required for importing a specific resource - it should be a detail endpoint where the pk is the node id to be imported.

It should return a JSON object with keys for each of the DB table names for each table used in the metadata import.

Under each of these keys there should be a JSON array of all the rows that need to be imported into the da

[2022-06-07 14:59] rtibbles opened #9492 "Enhance channel metadata import to import from a JSON object containing the metadata"
At the moment all channel metadata import is imported from a SQLite database source.

In order to allow easier import of smaller chunks of channel metadata, it would be useful to be able to import metadata from a JSON object as well.

This would involve some small updates to the channel metadata machinery.

In the case of SQLite, in order to continue to use the same underlying mechanisms, the simp

[2022-06-07 16:14] #9355 closed, assigned to jredrejo

[2022-06-07 17:01] #9344 closed, assigned to nobody

[2022-06-07 19:44] holta commented on #9392
Confirmed: Kolibri 0.15.3 now works on Ubuntu 22.04 (and Python 3.10) with https://internet-in-a-box.org

(And hopefully 0.15.3 will be posted to https://learningequality.org/download/ shortly, to mainline this for others!)

[2022-06-07 19:58] radinamatic commented on #9392
Done & done! 🙂

[2022-06-07 22:41] bjester opened #9494 "Missing facility name when importing (sync) a facility"
## Observed behavior

When you import a facility, the name is missing from the task details

![Screenshot from 2022-06-07 15-37-10](https://user-images.githubusercontent.com/819838/172494678-1a694ea5-c44b-4e4d-8775-ad801518ed51.png)

## Expected behavior

It should say `Import '<facility name>'`

## Steps to reproduce

1) Go to Device > Facilities
2) Click <kbd>Import Facility</kbd>
3) Choose a pe

[2022-06-07 22:42] jamalex opened #9495 ""Device limitations" modal when attempting to import non-learner account behaves incorrectly"
## Observed behavior

In the setup wizard, when importing individual user accounts, and entering the credentials of an admin user as the account to import, the popup modal has several issues:

<img width="474" alt="image" src="https://user-images.githubusercontent.com/618416/172494311-d6451841-304f-43ec-bd7d-a34822c8e53a.png">

- It shows the appropriate message (although "a admin" is incorrect),

[2022-06-07 22:42] rtibbles commented on #9494
Noting that this is probably an issue in the frontend not setting the name in the task payload.

[2022-06-07 22:50] rtibbles commented on #9495
The original spec for this issue intended there to be an import button here, if we have the string for it, would be great to implement this within the 0.15.x range:
![image](https://user-images.githubusercontent.com/1680573/172495955-2d2b0615-3c1f-42ba-9ffa-f0456bbf473f.png)

[2022-06-08 14:14] pcenov opened #9497 "Library page - Missing "Keywords" section"
## Observed behavior
The Keywords section of the filters on the Library page is not being displayed in all supported browsers.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-python-package/builds/5658 from https://github.com/learningequality/kolibri/pull/9222
2. Go to the Library page

## Screenshots
![2022-06-08_14-35-52](https://us

[2022-06-08 14:21] pcenov opened #9498 "Library and Browse channel - Disproportionately large cards"
## Observed behavior
When I have a few cards in the Recent section or in Browse channel the cards are being stretched too much and look disproportionately large.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-python-package/builds/5658 from https://github.com/learningequality/kolibri/pull/9222
2. Go to the Library page and/or Browser

[2022-06-08 14:27] pcenov opened #9499 "Browse channel > View resource - The video player is displayed in the left corner of the screen"
## Observed behavior
When I go to Library > Browse channel  and I click the info icon of a video resource and then click the View resource button the video player gets displayed in the left corner of the screen. When I go back to Browse channel the page is not displayed correctly as well.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibr

[2022-06-08 14:34] pcenov opened #9500 "Mobile view - Too much empty space"
## Observed behavior
See the attached screenshot. Tested in real devices as well as using Chrome's dev tools emulator.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-python-package/builds/5658 from https://github.com/learningequality/kolibri/pull/9222
2. Go to the Library > Browse channel

## Screenshots
![2022-06-08_16-48-18](https:

[2022-06-08 14:55] pcenov opened #9501 "Microsoft Edge browser - Video player is displayed with hidden header"
## Observed behavior
When I open a video resource using Microsoft Edge browser the video player is displayed so that the header is hidden (if I scroll up I can see the header but I have to do that every time) and everything looks zoomed in.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-python-package/builds/5658 from https://github.

[2022-06-08 14:55] radinamatic commented on #9498
I was trying to figure out from Figma if this was by design when there's only one card in the row, but did not find the confirmation for it... 🤔

[2022-06-08 14:58] marcellamaki commented on #9498
No, this is not by design.... although I am wondering if some of it is a regression due to the screen resolution? It looks like the proportions are more like that than a laptop. I know there are designs for wide screens, and it seems like it maybe got lost ina refactor somewhere.
@pcenov are you on a large/wide monitor for this testing? (Just so I can identify the area something is going wrong mor

[2022-06-08 15:05] pcenov commented on #9498
Yes, 2 of my monitors are 27" and it's definitely easier to spot that there. But it's definitely the first time I'm seeing it so I decided to report it. :)

[2022-06-08 15:10] marcellamaki commented on #9498
That makes sense -- it is a regression. And knowing that it's appearing there (whereas it isn't on my laptop) helps narrow down the problem. Thank you! 😊

[2022-06-08 17:46] rtibbles commented on #9262
This has now been completed!

[2022-06-08 17:46] #9262 closed, assigned to nobody

[2022-06-09 15:31] #9137 closed, assigned to marcellamaki

[2022-06-09 19:50] socketbox opened #9505 "Separate or disable request logging"
## Observed behavior
Requests are part of logging (at least, debug logging).

…

## Errors and logs
Example of `$KOLIBRI_HOME/logs/kolibri.txt` after `kolbri start --debug`
[code]

## Desired behavior
I'd like the option of a) turning off request logging, or b) with reqeust logging enabled,  writing them to a file that's distinct from the file used for application logging. Using the example above,

[2022-06-10 14:07] pcenov opened #9506 "Learn - Unnecessary top navigation when there are no channels/resources on the device"
## Observed behavior
In 0.15.3 if there are no channels on the device the user is not able to see the Home, Library and Bookmarks tabs. In the latest develop build I can see and access all 3 tabs.

## Steps to reproduce the issue
1. Install the following build: https://buildkite.com/learningequality/kolibri-python-package/builds/5692
2. Delete any channels if there are such
3. Go to Learn

## Scre

[2022-06-10 14:07] pcenov commented on #9506
@radinamatic

[2022-06-10 19:19] #9306 closed, assigned to marcellamaki

[2022-06-10 19:19] #9307 closed, assigned to marcellamaki

[2022-06-10 19:19] #9308 closed, assigned to marcellamaki

[2022-06-10 19:19] #9309 closed, assigned to marcellamaki

[2022-06-11 19:01] #9263 closed, assigned to rtibbles, vkWeb

[2022-06-11 19:01] #9264 closed, assigned to rtibbles, vkWeb

[2022-06-11 19:01] #9265 closed, assigned to rtibbles, vkWeb

[2022-06-13 16:27] rtibbles opened #9513 "Refactor JobValidator to remove inheritance from DRF Serializer class to clarify purpose"
We are currently using the validation and deserialization mechanisms from Django REST framework to process data coming from both API endpoints and internal programmatic sources.

This can cause confusion for developers about the intended role for the JobValidator - is it primarily a deserializer for Job data coming from an API endpoint, or is it primarily intended to perform validation? See e.g. h

[2022-06-14 14:47] pcenov opened #9517 "HTML viewer - Full screen mode is not covering the entire screen area"
## Observed behavior
The HTML viewer is not going in complete full zoom when using Kolibri 0.15.3 on a device with small resolution 1360x768 (16:9) and a 200%-400% zoomed browser). There's always a black portion of the screen at the bottom of the viewer.

## Steps to reproduce the issue
1. Install 0.15.3 and import the QA channel
2. Go to any HTML resource and select the "Enter fullscreen" option

[2022-06-14 14:47] pcenov commented on #9517
@radinamatic

[2022-06-14 18:10] jredrejo opened #9518 "Move KSelect to KDS"
## Observed behavior
Trying to run JS tests inside a kolibri plugin, out of the kolibri code is almost imposible on any component using `KSelect` because it's globally registered in kolibri at https://github.com/learningequality/kolibri/blob/develop/packages/kolibri-tools/jest.conf/setup.js#L16 and https://github.com/learningequality/kolibri/blob/develop/packages/kolibri-tools/jest.conf/setup.js#L

[2022-06-14 18:50] indirectlylit commented on #6551
There's a slight distinction between this and the `KSelect` case:

* radio buttons and the alert are in the flow of the page layout so it's reasonable for the `KModal` to resize to accommodate them
* a select popup is supposed to be outside of the page layout flow, and it would be awkward to resize `KModal` to accommodate

See https://github.com/learningequality/kolibri-design-system/issues/356 fo

[2022-06-14 23:07] rtibbles commented on #9472
Fixed in #9515

[2022-06-14 23:07] #9472 closed, assigned to nobody

[2022-06-15 13:34] pcenov opened #9519 "Enroll learners/Assign coaches - Missing search bar"
## Observed behavior
The search bar at Facility > Classes 'Enroll learners' and 'Assign coaches' has disappeared. It's still there in 0.15.2 so this is a regression caused by a change in 0.15.3. There are no errors in the console.

## Steps to reproduce the issue
1. Install the official 0.15.3 Kolibri build
2. Go to Facility > Classes
3. Select or create a class
4. Select 'Enroll learners' or 'Ass

[2022-06-15 13:34] pcenov commented on #9519
@radinamatic

[2022-06-15 14:02] pcenov opened #9520 "Create new quiz - The Search is not functioning"
## Observed behavior
The search bar at Coach > Plan > Create new quiz is not functioning - no results are being returned regardless of the entered search term. There are no errors in the console.

## Steps to reproduce the issue
1. Install the official 0.15.3 Kolibri build
2. Go to Coach > Plan > Create new quiz
3. Attempt to search for an exercise by typing a keyword an pressing Enter or the sear

[2022-06-15 14:02] pcenov commented on #9520
@radinamatic

[2022-06-15 14:44] radinamatic commented on #9520
One more detail: the same search while managing resources for lessons seems to be working without problems.

[2022-06-17 11:27] MisRob opened #9521 "Team is notified when a contributor posts a comment to a GitHub issue"
## Summary

Create a GitHub action that sends a Slack notification to #dev-community channel whenever someone who's not a member of the [Learning Equality Team](https://github.com/orgs/learningequality/people) comments on a GitHub issue

## Acceptance criteria

- [x] A notification is sent to #dev-community Slack channel any time (not just a first time) an external person comments on a GitHub issu

[2022-06-21 14:23] bjester opened #9524 "Initiating a sync from an instance using postgres fails due to transactional issues"
## Background
We recently made fixes to Morango that correct the database transaction handling, which was meant to perform certain operations within a transaction with higher transaction isolation when using postgres. Due to connection mismanagement, the operations weren't actually executing in a transaction.

## Observed behavior

The `sync` command initiates a sync as a client instance, and wrap

[2022-06-21 17:52] rtibbles commented on #9473
Fixed in #9516

[2022-06-21 17:52] #9473 closed, assigned to nobody

[2022-06-21 17:52] rtibbles commented on #9520
Fixed in #9522

[2022-06-21 17:52] #9520 closed, assigned to nobody

[2022-06-22 12:42] marcellamaki commented on #9471
Closed with #9514

[2022-06-22 12:42] #9471 closed, assigned to nobody

[2022-06-22 20:45] marcellamaki opened #9528 "Update defaultState in UserManagement"
## Observed behavior

In the UserManagement module, the `defaultState` only contains `facilityUsers: []`

In the ClassAssignMembers, this default state caused some problems with the page state not being updated properly. It does not seem to be an issue in UserManagement so far in causing an apparent UI bug, but the default state should be consistent across these two modules.

## User-facing conseq

[2022-06-22 22:24] holta commented on #9455
Looks like Kolibri 0.15.4 was released today:

https://github.com/learningequality/kolibri/releases/tag/v0.15.4

Hopefully Kolibri Channel Imports will work with the KOLIBRI_URL_PATH_PREFIX variable starting with 0.15.5 (-:

[2022-06-23 15:30] rtibbles commented on #9440
Examination of the network tab when this error occurs seems to show that Kolibri is completely failing to pick up that builds are either in process or have completed. Only the quick to compile head assets are attempted to be fetched:
![image](https://user-images.githubusercontent.com/1680573/175337284-87dfc14e-0951-4746-a0d0-4a8cd9d859ea.png)

[2022-06-23 15:31] rtibbles commented on #9440
This makes me suspect that this is not actually an issue with webpack, but rather with Kolibri failing to pick up the changes in the stats files.

[2022-06-23 15:45] marcellamaki opened #9531 "Update the validation to manage changes from the new themeing updates"
## Observed behavior
When starting kolibri, there are several validation errors that are a result of the changes to the theme validation. Either the default theme or the validation should be updated so there are not these errors (since, it's actually fine!)

## Errors and logs
![image](https://user-images.githubusercontent.com/17235236/175339967-b4e952d4-9955-4f1f-a330-9c78534cb51d.png)

## Expect

[2022-06-23 19:04] nucleogenesis opened #9532 "Unify inconsistent test file locations for frontend tests"
## Observed behavior

There are two patterns for where tests live relative to their related code used in Kolibri's front-end code.

Once we get into the plugin (or core) `assets` directories, we have two directories ([which is noted in our dev docs](https://kolibri-dev.readthedocs.io/en/develop/frontend_architecture/unit_testing.html)):

[code]

In this case the `test/` directory will typically mi

[2022-06-24 21:35] rtibbles commented on #9528
If the state is not reset due to the `preparePage` action the same brittleness arises. Setting some default state fixes the issue also.

[2022-06-27 15:15] #9275 closed, assigned to marcellamaki

[2022-06-27 21:48] sentry[bot] opened #9537 "IndexError: list index out of range"
Uncaught IndexError in ContentNodeTree viewset.

Sentry Issue: [KOLIBRI-BACKEND-2A6](https://sentry.io/organizations/learningequality/issues/3382915440/?referrer=github_integration)

[code]

[2022-06-27 22:51] nucleogenesis opened #9538 "Upgrade to Vue 2.7"
[Vue 2.7](https://blog.vuejs.org/posts/vue-2-7-beta.html) is in Beta right now and it brings along a substantial portion of the new Composition API, among other potential benefits to our front-end development in Kolibri.

### Acceptance Criteria

Generally speaking, this should be about a 30 minute project to do some research / planning for an imminent upgrade when Vue 2.7 is out of Beta. There is

[2022-06-28 00:35] #9324 closed, assigned to jredrejo

[2022-06-28 16:29] #9440 closed, assigned to nobody

[2022-06-28 19:38] marcellamaki commented on #9519
Closed with https://github.com/learningequality/kolibri/pull/9525

[2022-06-28 19:38] #9519 closed, assigned to marcellamaki

[2022-06-28 19:50] marcellamaki commented on #9069
This seems to have been fixed with the recent patch release. Although the outline does not initially appear right on open, the focus is not lost during tab nav, and correctly cycles through the menu options, including all items, the usage and privacy link, and the close button

[2022-06-28 19:50] #9069 closed, assigned to nobody

[2022-06-28 20:38] marcellamaki commented on #9495
we have a commonCoreString for 'importAction' that can be used, so adding this to a planned patch

[2022-06-28 20:50] marcellamaki commented on #7945
Closing as @lauradanforth says this has not been a continual issue. Can re-open as needed if it comes up again!

[2022-06-28 20:50] #7945 closed, assigned to radinamatic

[2022-06-28 21:01] marcellamaki commented on #9106
closing as duplicate of https://github.com/learningequality/kolibri/issues/7751

[2022-06-28 21:01] #9106 closed, assigned to nobody

[2022-06-30 15:56] pcenov opened #9544 "Quizzes - Cannot view quizzes as a non-admin user"
## Observed behavior
I'm seeing a "Resource not found" page each time I attempt to view a quiz as a learner or a coach. However the quiz can be viewed if it is assigned to an admin.

## Steps to reproduce the issue
1. Install 0.15.4 and import the QA channel
2. As a Coach create and assign a quiz to a class of learners, coaches and admins
3. Sign in as a learner/coach and attempt to view and compl

[2022-06-30 15:57] pcenov commented on #9544
@radinamatic

[2022-06-30 16:05] rtibbles commented on #9544
Ouch - this is a nasty regression - fairly sure this is a result of the security fixes in 0.15.4.

[2022-07-01 18:51] holta commented on #9455
Thanks @rtibbles for your ongoing efforts:

- #9533

With [Kolibri 0.15.5](https://github.com/learningequality/kolibri/releases/tag/v0.15.5) now released, are sync'ing improvements possible as part of 0.15.6 or ["Planned Patch 4"](https://github.com/learningequality/kolibri/milestone/69) in coming weeks (or in August if July's not possible?)

[2022-07-01 18:58] marcellamaki commented on #9455
Hi @holta - yes. As Richard mentioned in May, this issue is part of our planned/themed patch release schedule, which are released on a 6 week cadence. This is still our timeline - Planned Patch 4 for is scheduled for mid-July as Richard noted then, with the planned release date being July 20th, as indicated on the milestone. The PR associated with this issue will be part of that release.

[2022-07-05 15:13] jredrejo commented on #9325
Closed with #9512

[2022-07-05 15:13] #9325 closed, assigned to jredrejo

[2022-07-05 15:14] jredrejo commented on #9469
Closed with #9512

[2022-07-05 15:14] #9469 closed, assigned to jredrejo

[2022-07-05 17:51] laurenlichtman opened #9550 "Thumbnails: Not appearing when updating the channel"
## Observed behavior

I imported channel B onto Kolibri where thumbnails appeared on the files.

To create a channel, I had used the clipboard to import from channel A to channel B. In channel B, I changed the thumbnails on the the audio files.

Channel A is installed on Kolibri. I imported channel B into Kolibri, and no thumbnails appeared.

I deleted channel A and B on the server, and reimported

[2022-07-05 19:45] rtibbles commented on #9544
Fixed in #9545

[2022-07-05 19:45] #9544 closed, assigned to rtibbles

[2022-07-06 17:25] rtibbles opened #9551 "Environment variables and configuration flags for Kolibri options are persisted to the `options.ini` file by `generate_empty_options_file`"
## Observed behavior
When using either environment variables or configuration flags like `--port` or `--debug` on the first run of a Kolibri device, these will be written to the empty `options.ini` file generated by `generate_empty_options_file` - this means that settings chosen on the first run by ephemeral configuration like environment variables and runtime flags will be persisted for subsequen

[2022-07-06 19:59] marcellamaki commented on #9528
Closed with https://github.com/learningequality/kolibri/pull/9535

[2022-07-06 19:59] #9528 closed, assigned to rtibbles

[2022-07-06 22:09] marcellamaki commented on #8850
Will address in KDS, but keep open to ensure it is resolved

[2022-07-06 22:14] marcellamaki commented on #9027
Hopefully this will be resolved with the new onboarding flow, so adding there for tracking

[2022-07-07 18:18] rtibbles opened #9552 "Create async task for importing a specific resource via partial channel metadata import from JSON"
Create an async task that leverages the import metadata endpoint and partial channel metadata import via JSON to allow the import of a single resource node, and its ancestor topics.

[2022-07-07 20:20] marcellamaki opened #9553 "Fix missing "show more" in resources not in folders"
## Observed behavior
`show more` is completely missing from the top level resources in the Folder/TopicsContent view of kolibri. Therefore, a maximum of 4 resources are displayed (the "preview" amount), no matter how many there are

## Expected behavior
user should be able to access all resources

## User-facing consequences
Confusing, and users are unable to access content

## Steps to reproduce

[2022-07-07 20:56] rtibbles opened #9554 "Reporting an error in bulkimportusers triggers an error"
## Observed behavior
* When attempting to upload an incorrect filetype to bulk import users, if the file is not the correct format, then it will attempt to added an error message to report back on the task.
* When it does this, something in the reporting has a non-JSON serializable object associated with it `proxy` - which causes an error when attempting to save the serialized task to the database

[2022-07-08 15:58] rtibbles commented on #9537
Fixed in #9539

[2022-07-08 15:58] #9537 closed, assigned to rtibbles

[2022-07-09 07:18] MisRob commented on #9091
Closed by https://github.com/learningequality/kolibri/pull/9541

[2022-07-09 07:18] #9091 closed, assigned to MisRob

[2022-07-11 15:48] jredrejo commented on #9554
The problem is not the format of the file but the `gettext_lazy` and `pgettext_lazy` functions used to translate the errors that were not being converting the msg to `str` before being serialized. Not able to reproduce the problem, but I've added more guards to force the conversion and ensure there're not proxies in the serialized `job`.

[2022-07-11 18:58] rtibbles commented on #9554
Fixed in #9557

[2022-07-11 18:58] #9554 closed, assigned to jredrejo

[2022-07-11 21:16] rtibbles commented on #9553
Fixed in #9555

[2022-07-11 22:45] rtibbles commented on #9531
Fixed in #9558

[2022-07-11 22:45] #9531 closed, assigned to rtibbles, marcellamaki

[2022-07-12 14:08] marcellamaki commented on #9524
Fixed with https://github.com/learningequality/kolibri/pull/9556

[2022-07-12 14:08] #9524 closed, assigned to bjester

[2022-07-12 14:52] marcellamaki commented on #7824
@jredrejo - is this still a problem, or has this been addressed by some of the sync status and registration changes in other versions since last year?

[2022-07-12 14:55] marcellamaki commented on #7609
Addressed through changes from new 0.15 features

[2022-07-12 14:55] #7609 closed, assigned to nobody

[2022-07-12 15:28] jredrejo commented on #7824
Just tested it and it's working with current v0.15.x branch

[2022-07-12 15:28] #7824 closed, assigned to nobody

[2022-07-12 16:22] rtibbles commented on #9455
This has now been fixed in #9533 - this update will be released by July 20th in 0.15.6.

[2022-07-12 16:22] #9455 closed, assigned to rtibbles

[2022-07-18 07:35] MisRob commented on #9326
Before implementing this issue, we need to decide what happens in the change facility workflow when there's only one user and therefore there's no one to choose the new admin from. This could happen in general and at this point, we don't even allow a user to access the change facility feature if their facility has some other users. Therefore with our current assumptions, implementing this step wou

[2022-07-18 08:39] MisRob commented on #1
What's the progress on this, team?

[2022-07-18 10:22] MisRob opened #9563 "Missing focus ring around password inputs"
## Observed behavior

I can't see the focus ring around password inputs when navigating with the TAB key. This can be observed in several places in the app where we use the `PasswordTextbox` component.

One of the examples is creating a new account:

![password-focus-ring](https://user-images.githubusercontent.com/13509191/179492151-bc154f73-af9e-4d29-a298-a612fdfead34.gif)

## Expected behavior

[2022-07-18 18:25] jredrejo commented on #9326
@MisRob is this blocking the work on the following screens?
If it's blocking it I think you could do a blank screen with just a continue button so we continue working in the rest of the epic while a decission is made.

[2022-07-19 07:56] MisRob commented on #9326
I think it doesn't need to block work on other screens since we use the state machine. We can implement states quite independently on another states, and then at some point, connect the remaining pieces, I'd say?

[2022-07-19 14:27] rtibbles commented on #8534
This has been resolved by work in #9536 - no need to migrate to PDFVuer in order to get text highlighting working!

[2022-07-19 14:27] #8534 closed, assigned to nobody

[2022-07-20 16:14] rtibbles commented on #9553
Reopening for develop as merge from 0.15 into develop does not resolve this issue due to refactor.

[2022-07-20 16:17] rtibbles opened #9568 "Use `reverse_remote` utility whenever we are using `reverse` to generate a URL for a remote Kolibri"
#9533 introduced a utility for systematically reversing a URL pattern for a remote Kolibri server. There are several instances of new work in develop that are doing a similar thing but not using this new utility.

This issue will be resolved when all instances of Django's `reverse` method for inferring a URL on a remote Kolibri (best seen by later using a `urljoin` with a `baseurl`) are using this

[2022-07-21 18:55] nucleogenesis opened #9574 "ProfileEditPage route is broken"
## Observed behavior

When viewing your profile, if you click "Edit" the console shows the error that the ShowEditProfile route does not exist.

There is a route defined - I'm suspecting something is just wired up wrongly somewhere but I'm not seeing where at a quick glance.

## Expected behavior

Users should be able to edit their profile.

## User-facing consequences

User couldn't edit their pr

[2022-07-22 11:34] MisRob commented on #9326
- we decided to allow access to the change facility workflow on certain kinds of facilities even when they have more users => makes sense to implement it
- when there's only one user we'll skip this screen

[2022-07-27 04:00] camperjett commented on #9574
Hi @nucleogenesis I would like to work on this issue :innocent:

[2022-07-27 17:04] MisRob commented on #9574
Hello @camperjett, thank you for your interest, you're welcome to take this on

[2022-07-27 17:06] MisRob commented on #9574
@camperjett Please see our [developer's documentation](https://kolibri-dev.readthedocs.io/en/develop/getting_started.html) if you haven't done so already. There should be everything you need to get started.

[2022-07-27 17:07] MisRob commented on #9574
@camperjett As soon as you start working on it, please let us know and we will assign you the issue so that we know it's taken

[2022-07-27 18:26] camperjett commented on #9574
Thanks @MisRob. I have setup the environment. But while creating my first superuser on main page prompt I got this error:

[2022-07-27 18:59] MisRob commented on #9574
@camperjett Ah, thanks for reporting. Is this on the `develop` branch? We may have some work in progress with the setup wizard that could be causing this. If that's the case, could you please try to use `release-v0.15.x` branch instead, go through the setup, and after setup is complete, switch back to `develop` (where you could try if you can reproduce the bug)? I can't try it out now but I did th

[2022-07-27 19:00] MisRob commented on #9574
@camperjett Note that you will need to reinstall dependencies etc. after switching between `develop` and `release-v0.15.x`

[2022-07-27 19:04] camperjett commented on #9574
Okay 🙌 and Thanks!

[2022-07-27 21:50] #7547 closed, assigned to nobody

[2022-07-28 16:56] rtibbles commented on #9479
The first issue of the subselection of resources should have been fixed by #9567.

[2022-07-28 18:43] #9357 closed, assigned to rtibbles

[2022-07-28 18:43] #9358 closed, assigned to rtibbles

[2022-07-28 19:29] rtibbles commented on #9158
Fixed in #9543

[2022-07-28 19:29] #9158 closed, assigned to nobody

[2022-07-28 19:32] rtibbles commented on #8997
Hi @yeffrimic,

It looks like you were attempting to run the command with this: `kolibri manage registerfacility --facility 10.116.0.2 da9f` where `da9f` is indeed not a valid hexadecimal UUID string. You need to enter the complete id for the facility in question.

[2022-07-28 19:32] #8997 closed, assigned to nobody

[2022-07-28 19:36] rtibbles commented on #8777
Presumed fixed by #8699

[2022-07-28 19:36] #8777 closed, assigned to nobody

[2022-07-28 19:39] rtibbles commented on #8623
Presumed fixed in #8661

[2022-07-28 19:39] #8623 closed, assigned to nobody

[2022-07-28 19:47] rtibbles commented on #8389
Closing as not reproducible for now.

[2022-07-28 19:47] #8389 closed, assigned to nobody

[2022-07-28 19:50] rtibbles commented on #8354
This was mostly handled by #9014 - but needs to be a repeated chore to look into.

[2022-07-28 19:50] #8354 closed, assigned to nobody

[2022-07-28 19:53] rtibbles commented on #8265
The APIs in question no longer exist, so I am going to close this.

[2022-07-28 19:53] #8265 closed, assigned to nobody

[2022-07-28 19:57] rtibbles commented on #8027
This appears to have been fixed.

[2022-07-28 19:57] #8027 closed, assigned to nobody

[2022-07-28 20:21] rtibbles commented on #7579
This should be resolved by wrapping the text in our CSSTextTruncator component.

[2022-07-28 20:24] rtibbles commented on #7558
This should be resolved alongside updates to these flows to make them more consistent across quizzes and lessons and to include new metadata.

[2022-07-28 20:38] rtibbles commented on #7499
I don't think this is something we can easily fix, closing as wontfix.

[2022-07-28 20:38] #7499 closed, assigned to nobody

[2022-07-28 20:40] rtibbles commented on #7690
@radinamatic reports this is no longer replicable.

[2022-07-28 20:40] #7690 closed, assigned to nobody

[2022-07-28 20:43] rtibbles commented on #6460
We've not seen any replications of this recently, closing for now.

[2022-07-28 20:43] #6460 closed, assigned to nobody

[2022-07-28 20:46] rtibbles commented on #6404
We no longer appear to need this magic z-index, so going to close this as resolved.

[2022-07-28 20:46] #6404 closed, assigned to nobody

[2022-07-28 20:47] rtibbles commented on #6219
@pcenov could you reinvestigate this in 0.15 onwards?

[2022-07-28 20:52] rtibbles commented on #6201
Documentation was updated, and we now attempt to do automatic recovery.

[2022-07-28 20:52] #6201 closed, assigned to nobody

[2022-07-28 21:00] rtibbles commented on #4618
Going to close this as it is now fixed as stated. We can file follow up issues for newer versions of pytest.

[2022-07-28 21:00] #4618 closed, assigned to nobody

[2022-07-28 21:08] rtibbles commented on #4307
The dialog now shoes the mount path by default on Linux, so I think this is fixed.

[2022-07-28 21:08] #4307 closed, assigned to nobody

[2022-07-28 21:10] rtibbles commented on #1
Our metrics indicate that we are definitely making progress - but we are still a long way off the success criteria here.

[2022-07-28 22:32] radinamatic commented on #9255
I can replicate this with 0.15.6 on Ubuntu 18.04:

![quiz-0 15 6](https://user-images.githubusercontent.com/1457929/181648176-06461f5a-8f46-45db-8d06-b41abcf6ad4a.gif)

[2022-07-29 07:06] abdelrahman725 commented on #9255
so this behaviour is not related to the environment used.

also i referenced a function above that me be relevant

[2022-07-29 15:04] #9333 closed, assigned to jredrejo

[2022-07-29 16:49] antil0l opened #9583 "AttributeError: module 'markdown' has no attribute 'version'"
so this is the error i was getting after a full system update on arch linux, i fixed the issue with changing `~/.local/lib/python3.10/site-packages/kolibri/dist/rest_framework/compat.py`, only changed the lines 176 and 179 (if u just scroll down to see the solution)

[code]
---

this is the part i edited, basically added __ to both sides of the versions
[code]
---

apparently the folder that the f

[2022-07-29 17:05] #9568 closed, assigned to nobody

[2022-07-29 17:24] rtibbles commented on #9583
`markdown` is an optional dependency of Django REST Framework - it appears that since version 3.4, `markdown` no longer supports the `version` property, as it had previously been deprecated.

I would suggest either uninstalling the markdown library, or pinning it to a version less than 3.4.

[2022-07-29 17:33] camperjett commented on #9574
@MisRob I am not able to get past the error.

the_facility = Facility.objects.get()

In this line, it seems to query for Facility objects but they do not exist at the start and hence the error. Is there any way out?

[2022-07-29 18:52] MisRob commented on #9574
@camperjett Could you send me steps to reproduce, please? Branch, browser, browser console output, and also what you clicked during the setup (there are more options). It will help us to investigate and resolve this faster. Thank you for patience and cooperation :)

[2022-08-01 11:06] pcenov commented on #9121
@radinamatic I am not able to replicate the issue with the official 0.15.6 build. The competition icon is displayed immediately after finishing a lesson:
![2022-08-01_14-02-13](https://user-images.githubusercontent.com/79847249/182135112-bdbcb4a2-67b9-4dd7-9539-69325fe0e41f.png)

[2022-08-01 12:40] pcenov commented on #7575
@radinamatic seems that this issue is no longer valid - a 'Some resources selected' text is displayed now in that case in 0.15.6:

![2022-08-01_15-33-46](https://user-images.githubusercontent.com/79847249/182149751-b1b4457d-b4f8-441d-a1ab-013c3bb6cf6b.png)

[2022-08-01 12:52] pcenov commented on #7492
@radinamatic this one is fixed in 0.15.6:

https://user-images.githubusercontent.com/79847249/182151999-6bccfafb-4d95-4552-a282-52aa8191dc43.mp4

[2022-08-01 12:56] MisRob commented on #9574
@camperjett I checked on this with the team, and I can confirm we have some work in progress on `develop` that is causing this. As I mentioned above, you can resolve it by going through the setup on `release-v0.15.x` branch. I tried to do it earlier today (Quick Setup option), and it worked well. After the setup, when you have the facility ready, you can switch back to `develop` (most likely you'l

[2022-08-01 14:58] rtibbles commented on #7575
Great, closing!

[2022-08-01 14:58] #7575 closed, assigned to nobody

[2022-08-01 14:58] rtibbles commented on #9121
Super, let's close this - can reopen if it gets reported again.

[2022-08-01 14:58] #9121 closed, assigned to nobody

[2022-08-01 14:59] rtibbles commented on #7492
Seems like this must have been fixed at some point in 0.15.

[2022-08-01 14:59] #7492 closed, assigned to nobody

[2022-08-01 15:06] radinamatic commented on #9159
@marcellamaki Could we get some reviewer guidance or steps to try to reproduce? Thank you!

[2022-08-01 15:17] pcenov commented on #6219
@rtibbles The current design in 0.15.6 is quite different but still by looking really closely at the way the titles are displayed I was able to identify some instances where it would look better if the RTL title were right aligned:

Library page:

![2022-08-01_17-30-49](https://user-images.githubusercontent.com/79847249/182180586-a3f35947-091a-4fe3-9322-be10eb54cada.png)

Library page in responsiv

[2022-08-01 15:51] marcellamaki commented on #9017
Closed with https://github.com/learningequality/kolibri-design-system/pull/185

[2022-08-01 15:51] #9017 closed, assigned to nobody

[2022-08-01 16:15] MisRob commented on #9574
@camperjett Also, if the above doesn't help, you can try to delete `db.sqlite3` file (in Kolibri home folder which is _~/.kolibri_ by default) before trying the setup again on `release-v0.15.x` branch to make sure you get a clean start

[2022-08-01 17:11] camperjett commented on #9574
Thanks @MisRob. Will try it 😁

[2022-08-01 23:09] rtibbles commented on #7972
Closing as a won't fix.

[2022-08-01 23:09] #7972 closed, assigned to nobody

[2022-08-01 23:12] rtibbles commented on #9181
Fixed in #9478

[2022-08-01 23:12] #9181 closed, assigned to nobody

[2022-08-02 05:59] camperjett commented on #9574
I tried using `release-v0.15.x` but on running yarn install I am getting this errror:

[2022-08-02 06:00] camperjett commented on #9574
Also I tried `$ nodeenv -p --node=10.13.0` but again got error:
yarn install v1.22.19

NOTE: I am using venv for creating the environment.

[2022-08-02 06:56] MisRob commented on #9574
Yes, that's right, you need to use Node v10 on the release branch and Node v16 on `develop`.  Node version is set in `package.json` and this error gets generated from it to notify developers that there's a need to switch versions.

Regarding the second error, this seems like some network troubles to me - a problem with the registry or maybe your connection when installing packages. Have you tried

[2022-08-02 06:56] MisRob commented on #9574
@camperjett Yes, that's right, you need to use Node v10 on the release branch and Node v16 on `develop`.  Node version is set in `package.json` and this error gets generated from it to notify developers that there's a need to switch versions.

Regarding the second error, this seems like some network troubles to me - a problem with the registry or maybe your connection when installing packages. Hav

[2022-08-02 11:32] pcenov commented on #8175
@radinamatic I cannot replicate this issue in 0.15.6 - tested on 2 Android devices without experiencing data loss or difficulty syncing.

[2022-08-02 11:34] pcenov commented on #7197
@radinamatic this one is no longer being observed in 0.15.6

[2022-08-02 12:00] camperjett commented on #9574
I have finally got the local environment working!

[2022-08-02 12:07] MisRob commented on #9574
Woohoo! Thanks for your patience and for reporting all issues, that's an important contribution as well :) Seems to be quite a rare constellation related to some work in progress and discrepancy in Node versions before the next release. In any case, we'll chat with the team about how we can make sure next time that workflows that are critical to starting work on `develop` from scratch are at least

[2022-08-02 12:33] MisRob commented on #9574
@camperjett I assigned you (+myself only to keep an eye) so that we know that it's taken already

[2022-08-03 12:26] pcenov commented on #7461
@radinamatic this one seems to be resolved in 0.15.6 as a slider is displayed if the value is too long:

![2022-08-03_15-20-28](https://user-images.githubusercontent.com/79847249/182607132-2539039d-f053-4951-9d7b-96aea3811daa.png)

[2022-08-03 12:37] pcenov commented on #6336
@radinamatic this one is fixed in 0.15.6:
![2022-08-03_15-32-44](https://user-images.githubusercontent.com/79847249/182609180-27ebe66a-23ed-417e-b39e-7403616814a3.png)

[2022-08-03 13:40] pcenov commented on #5899
@radinamatic this one is fixed in 0.15.6:

![2022-08-03_16-37-47](https://user-images.githubusercontent.com/79847249/182622469-639787f7-182c-4409-a75f-0ec39084e726.png)

[2022-08-03 15:18] rtibbles commented on #7461
Closing as fixed.

[2022-08-03 15:18] rtibbles commented on #6336
Closing as fixed.

[2022-08-03 15:18] #6336 closed, assigned to nobody

[2022-08-03 15:19] rtibbles commented on #5899
Closing as fixed.

[2022-08-03 15:19] #5899 closed, assigned to nobody

[2022-08-03 15:19] rtibbles commented on #9583
Going to close this as resolved - thanks for posting!

[2022-08-03 15:19] #9583 closed, assigned to nobody

[2022-08-03 15:22] pcenov commented on #7461
@rtibbles actually we were just discussing with Radina that this one is still not fixed in Firefox and IE so it should be reopened:

IE11:
![2022-08-03_18-15-39](https://user-images.githubusercontent.com/79847249/182645905-fc5b892a-4acd-45c5-ad03-b454fe156ded.png)
Firefox:
![2022-08-03_18-19-16](https://user-images.githubusercontent.com/79847249/182646100-900a77ed-2a7b-49e4-801c-18db3cb619fa.png)

[2022-08-03 15:23] radinamatic commented on #7461
Still a few bumps remain to flatten...

[2022-08-03 15:25] rtibbles commented on #7461
Ahah.

[2022-08-03 15:34] indirectlylit commented on #6219
These look like examples of where using `dir="auto"` does not result in optimal behavior, presumably because the first characters in the titles are Latin which establishes an overall LTR base direction for that block.

Refs:

* https://design-system.learningequality.org/writing/#i18n
* https://www.w3.org/International/articles/inline-bidi-markup/uba-basics#beyond

[2022-08-03 17:02] radinamatic commented on #8350
Closing as fixed in #9587

[2022-08-03 17:02] #8350 closed, assigned to radinamatic

[2022-08-03 17:07] radinamatic commented on #8175
@rtibbles This is a rather old issue, and even though on occasion we still may have some lags while syncing facilities among devices (or with KDP - recent tests in Greece for example), we cannot replicate with in-house manual QA with limited number of devices.

[2022-08-03 17:08] radinamatic commented on #7197
Closing as not extant in the most recent release.

[2022-08-03 17:08] #7197 closed, assigned to nobody

[2022-08-03 17:08] rtibbles commented on #8175
I think this is probably also ameliorated by the introduction of learner only device setup and syncing of subsets of facility data in 0.15 as well.

[2022-08-03 17:08] #8175 closed, assigned to nobody

[2022-08-04 18:53] nucleogenesis commented on #6468
I believe that this is no longer going to be an issue with the CoreBase refactor as each page to which we navigate in an Immersive context will define its own back/close behavior as it wraps itself in an ImmersivePage