[2019-02-01 20:53] jamalex commented on #4857
I can take a look at this -- at least as far as diagnosing what's going on behind the scenes in the DB/API, to start with.

[2019-02-01 22:07] jamalex commented on #4857
It seems the backend is returning "num_correct", and the frontend is interpreting it as a percentage correct.

The second entry here is for Radina's account:

![image](https://user-images.githubusercontent.com/618416/52152155-37504480-262a-11e9-837d-a0e6ee13f970.png)

A parallel anomaly in the data is that there are actually 11 correct attemptlogs for her for that exam, but two have the same `item

[2019-02-01 22:18] jamalex commented on #4857
[code]
(so the two attemptlogs for the same question happened at the end, 5 seconds apart)

[2019-02-01 22:31] jamalex commented on #4857
From Slack discussion, we determined that the client-side needs to use `examMap[status.exam_id].question_count` instead of `examMap[status.exam_id].question_sources.length` at https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/coach/assets/src/modules/classSummary/index.js#L198

[2019-02-01 22:36] jamalex commented on #4857
Regarding the second issue (duplicate logs), there seem to be 3 cases of it in the database:
[code]

[2019-02-01 22:39] rtibbles commented on #4857
Is it possible that item ids could be duplicated across exercises? Could you perhaps double check this with `content_id` also?

[2019-02-01 22:39] rtibbles commented on #4857
Seems unlikely, but would like to be sure!

[2019-02-01 22:42] jamalex commented on #4857
It's all from Radina's interactions with that one exam:

[code]

[2019-02-01 22:42] jamalex commented on #4857
Ah, yeah, will check

[2019-02-01 22:53] jamalex commented on #4857
Another issue, unless I'm missing something, is that we seem to be anchoring to the PK (`node_id`) of an exercise, rather than the `content_id`. I remember discussing how this could be brittle, especially with cheffed channels.

[code]

[2019-02-01 22:55] jamalex commented on #4857
To @rtibbles' question above: they're all from the same exercise. The exercise has 20 assessments, all with unique ids.

[2019-02-01 22:57] rtibbles commented on #4857
Yeah, thats a misleading field name on the ExamAttemptLog. In the case of exams in particular, where the assessment content is abstracted from the metadata `content_id` _could_ work, but I am hesistant to suggest we make that shift, when, e.g. the same exercise in different languages in KA is currently published with the same content_id - I can imagine that being very confusing for a user taking a

[2019-02-01 22:57] jamalex commented on #4857
Since there's only one case of it, is it possible @radinamatic was doing something like interacting with the same exam in multiple tabs?

[2019-02-01 23:01] radinamatic commented on #4857
Can't recall offhand, but I am a tab junkie, so cannot entirely exclude the possibility 😊

[2019-02-01 23:02] radinamatic commented on #4857
I gather that's something I should steer away in future testing?

[2019-02-01 23:24] indirectlylit commented on #4860
magic :)

[2019-02-01 23:27] indirectlylit commented on #4857
never steer away from anything in testing :)

[2019-02-01 23:36] radinamatic commented on #4857
Gotta love a job where it actually pays out to be "naughty" and step out of line now and then... 😎

[2019-02-02 00:12] jonboiser opened #4898 "When starting Exams, Notifications and Attempt logs can be out of sync"
### Observed behavior

1. As a learner, start an exam, but do not do any of the questions
1. After some time, a Notification will be recorded for the exam with a status of "Started"
1. However, querying the class summary API, the 'exam learner status' for that exam will have a status of "NotStarted".

This can lead to an inconsistency, where the Notification will update the in-memory classSummary

[2019-02-02 00:18] jonboiser opened #4899 "On the Dashboard, Lessons are not ordered by most recent activity"
### Observed behavior

On the dashboard, lessons are listed in the order they come from the server.

### Expected behavior
On the dashboard, lessons are listed in descending order according to "most recent activity".

Also, When new activity for a lesson comes through a notification, that lesson is reordered accordingly.

### User-facing consequences

…

### Errors and logs

…

### Steps to reprod

[2019-02-02 00:28] jamalex commented on #4857
![image](https://user-images.githubusercontent.com/618416/52156665-712b4600-263e-11e9-8be3-fccf9a4f02d5.png)

[2019-02-02 00:34] #4850 closed, assigned to indirectlylit

[2019-02-02 00:40] indirectlylit commented on #4857
for posterity:

We identified that the issue was because older exams are represented differently, and the logic was assuming the newer representation when calculating progress.

see https://github.com/learningequality/kolibri/pull/4667

[2019-02-02 00:46] indirectlylit commented on #4898
cc @rtibbles @jredrejo

In `class_summary_api` I compute the status as

[code]

Any recommendations on how to update this to be consistent with the notification behavior?

[2019-02-02 01:13] rtibbles commented on #4898
I guess similar to the `needs_help` work I did in the same API, querying the notifications to do the `STARTED` flagging?

[2019-02-02 01:19] indirectlylit commented on #4898
Is there not information in the exam logs about whether the user has opened it or not? That's all I need here

[2019-02-02 01:28] indirectlylit opened #4902 "set relatively unique page names for every coach report page"
### Observed behavior

History is currently useless:

![image](https://user-images.githubusercontent.com/2367265/52157730-21507d00-2646-11e9-8473-6f0f7a4f6e40.png)

### Expected behavior

Every title should include at a minimum the name of the high level thing or things the page is about.

We'll want to define a consistent pattern to use so we don't need to think too hard about every single page -

[2019-02-02 01:36] jamalex commented on #4898
The first time the user opens the exam, it creates the ExamLog itself. I'll change the logic so it doesn't check for attemptlogs, just returns started if there's an ExamLog at all.

[2019-02-02 01:38] indirectlylit commented on #4898
perfect

[2019-02-02 01:41] jamalex commented on #4898
Do we have the same issue for other types of content? In `content_status_serializer`, I see we do:
[code]

Do we want it to show as "started" as soon as people open other types of content, or only once `progress > 0`?

[2019-02-02 01:50] jamalex commented on #4898
For now, just fixed it for exams in #4903.

[2019-02-02 01:57] indirectlylit commented on #4898
The current behavior is still correct for content, because it allows people to navigate around without looking like they've done a bunch of work

quizzes seem a little different because it's like "turning over the paper" and taking a look at the questions

[2019-02-02 03:08] #4898 closed, assigned to nobody

[2019-02-02 17:07] indirectlylit commented on #4573
I believe this is all merged in?

[2019-02-02 17:07] #4573 closed, assigned to rtibbles

[2019-02-02 17:07] #4598 closed, assigned to ralphiee22

[2019-02-02 17:50] indirectlylit opened #4904 "DRY up hierarchy of page components and routes"
### Observed behavior

Historically in Kolibri we've used a strategy of using a single root `Index` component with a single instance of `CoreBase` per plugin app - i.e. one for Learn, one for Coach, etc. `CoreBase`. Routes were generally associated with a route handler (usually a Vuex action) and a name constant. This had the advantage that the handler rather than Vue Router would set up any data

[2019-02-02 17:54] indirectlylit commented on #3659
aspirationally putting this in 0.12 because it has a major impact on UX in reports

[2019-02-02 18:18] indirectlylit opened #4905 "adjust front-end directory and unit test naming conventions"
### Observed behavior

Current conventions:

* Most front-end source is contained in `[plugin]/assets/src`
* Many unit tests are in `[plugin]/assets/tests`, and others are in `src`, sometimes as subdirectories called `__test__`
* Some but not all of our tests use a convention where if it's testing `file.js`, the test is called `file.spec.js`

### Expected behavior

**Recommended change:**

1. Move

[2019-02-04 01:14] radinamatic commented on #4848
Not sure if it's related, but I'm replicating a similar issue: the snackbar appears when clicking on topic cards (and even just pressing the *Manage resources* button), but only _until_ the first resource is actually added. After the first resource is in, the spurious snackbar does not appear anymore.

![removed-0](https://user-images.githubusercontent.com/1457929/52185653-99bb6780-2819-11e9-9711-

[2019-02-04 01:25] indirectlylit opened #4907 "add tests for new ANDROID_ARGUMENT environ switches"
### Observed behavior

In https://github.com/learningequality/kolibri/pull/4158/files we added handling for `ANDROID_ARGUMENT` but no tests. These new options make assumptions about the format of the data returned from `'android.os.StatFs`, but this data is generally not under our control.

### Expected behavior

We should add mocks for `android.os.StatFs` which shows the kind of data we currently

[2019-02-04 18:28] khangmach commented on #4743
- Seeing the "inactive" quiz and showing the quiz report is intended behavior if the quiz is completed.
- The learner doesn't need to know what the difference between active/inactive is, as that's coach/technical terminology. Instead they should be versed with not started/started/completed. Current implementation does this, as we see in the screenshot you provided with the metadata on the quiz car

[2019-02-04 18:31] khangmach commented on #4834
Without redesigning this entire interface (WIP/future milestone), simplest solution seems to be to just make the question list scrollbar visible upon page load.

[2019-02-04 18:33] laurenlichtman commented on #4834
@khangmach I think that sounds like a really good solution!

[2019-02-04 18:55] khangmach commented on #4608
Here are some suggestions that should live in the activation/deactivation process
![add resources validation](https://user-images.githubusercontent.com/25045166/52229884-d5cae880-286a-11e9-8e68-a7bea1a30515.png)
(left option) if coach has no resources in lesson, disable active radio option and add messaging explaining why
(right option) upon clicking "SAVE", show system error on top of the modal

[2019-02-04 20:29] indirectlylit commented on #4902
Two rules:

* for page titles: use specific -> general paths separated by dashes.
* for app bar: use class name

e.g. 'Activity - Group A - Class A'

[2019-02-04 22:01] indirectlylit commented on #4834
this works for desktop, but tablets don't show a scrollbar until you start scrolling

[2019-02-04 22:13] rtibbles commented on #4834
One thing I have implemented in the detail reports is to automatically scroll the side nav bar down as you click through (so that the item you are on will always be put as close to the middle of the side nav bar as possible). I think this would at least help to always show there are more questions to be completed.

[2019-02-04 22:16] rtibbles commented on #4834
![scroll-side-nav](https://user-images.githubusercontent.com/1680573/52240989-644d6300-2887-11e9-9d8c-627f9c7344a7.gif)

[2019-02-04 22:19] indirectlylit commented on #4834
I like that a lot

The sudden transition and the fact that all the questions are named so similarly makes it a little confusing though. It almost looks as though you clicked the bottom item, but the item two rows up got selected?

[2019-02-04 22:20] indirectlylit commented on #4834
nice clap BTW :)

[2019-02-04 22:34] rtibbles commented on #4834
Yeah - should probably update this to use the Element `scrollTo` method, and set `smooth` on the scrolling behaviour.

[2019-02-04 23:20] ralphiee22 commented on #4899
Is this under `Class Home`, `Reports` or `Plan` for the intended behavior?

[2019-02-04 23:31] indirectlylit commented on #4899
Class Home

[2019-02-04 23:56] indirectlylit opened #4917 "make dashboard links clickable"
### Observed behavior

dashboard quiz and lesson items are not clickable:

![image](https://user-images.githubusercontent.com/2367265/52245166-4686fa80-2895-11e9-85d9-e098f5c4b073.png)

### Expected behavior

should take you to report pages under

* Reports -> Lessons -> [Lesson]
* Reports -> Quizzes -> [Quiz]

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

###

[2019-02-05 00:30] khangmach commented on #4743
Update:

Behavior captured in screenshots is a bug, as there were no attempts made in the learner quiz report. Per Richard:

[2019-02-05 01:18] jonboiser opened #4918 "regression: Exiting lesson resource selection search always goes to "all channels" root page"
### Observed behavior

When you search for something during a lesson resource selection workflow, exiting the search will take you to the "all channels" list

### Expected behavior

Exiting search should take you to the topic you were viewing when you first initiated the search

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-02-05 01:25] jonboiser opened #4919 "on MacOs in RTL mode, side-bar slide-in/out animation is broken"
### Observed behavior

See GIF. Starts after 'select all'. This happens anywhere in the app.
![side bar](https://user-images.githubusercontent.com/10248067/52248138-c6b35d00-28a1-11e9-8c1f-45dcf8f268e1.gif)

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

Kolibri Develop
MacOs

Chrome and Firefox
…

[2019-02-05 01:26] jonboiser commented on #4919
Also, the user drop down appears on the right, even in RTL

![screen shot 2019-02-04 at 5 26 28 pm](https://user-images.githubusercontent.com/10248067/52248181-0b3ef880-28a2-11e9-8dc9-d5be0b335efa.png)

[2019-02-05 01:30] radinamatic commented on #4918
Yes, noticed the same thing [while pickling](https://github.com/learningequality/kolibri/pull/4801/files#diff-0d42327c581bfadf825c6230b8ae0907R35)...

[2019-02-05 02:45] indirectlylit opened #4922 "create global configurable page title generation mechanism"
### Observed behavior

In #4920 we introduced some strategies for creating default page titles that can be overridden when necessary. This involved:

* introduction of a new `route.meta.titleParts` property
* subclassing `CoreBase` as `CoachCoreBase`

This was an effective way to quickly add reasonable page titles to the coach pages. However the mechanisms don't have precedent in other parts of th

[2019-02-05 14:06] radinamatic opened #4925 "Not possible to use token to import from "Local network or internet""
### Observed behavior

I configured Studio Develop as "Local network or internet" import location, but once there, I don't see the option to use the token. Was it supposed to be there, can't remember...? 🤔

### Expected behavior

If there's a Studio clone somewhere to import content from, there should be the option to use tokens for import.

### User-facing consequences

Inability to import unlist

[2019-02-05 15:40] indirectlylit opened #4926 "improve 'kolibri status' command error reporting"
### Observed behavior

We've had some difficulty debugging some connectivity issues here: https://community.learningequality.org/t/after-upgrading-to-kolibri-v0-11-1-server-continues-to-disconnects-and-reconnects-clients/995/3

Running `kolibri status` reported

Under the hood, this is just raising `STATUS_SERVER_CONFIGURATION_ERROR` from

[code]

### Expected behavior

The `get status` should ret

[2019-02-05 17:04] indirectlylit commented on #4925
looks like this was an oversight when it was first implemented. Problem exists in 0.11.0 also

[2019-02-05 17:04] indirectlylit commented on #4925
reducing to P1 because it's not technically a regression

[2019-02-05 17:46] indirectlylit opened #4927 "add handling of unlisted, token-based peer importing"
### Observed behavior

when an unlisted channel is imported into kolibri, other instances of kolibri that import from it will see it as listed

ref: https://github.com/learningequality/kolibri/issues/4925

### Expected behavior

users should have control over whether unlisted channels are available for import by peers

### User-facing consequences

possible security issue with leaking unlisted cha

[2019-02-05 17:47] indirectlylit commented on #4925
Clarification: when a channel is imported into kolibri and made available for peer import, it becomes listed automatically and token-based imports are not supported. Created a follow-up issue here: #4927

For this issue, we're mostly just needing to support cases where studio (rather than kolibri) is the peer, which would happen for things like `staging` studio or studio mirrors.

[2019-02-05 18:19] jredrejo commented on #4926
@indirectlylit  Could this be a valid solution?
traceback module can't be used at this point as there's no error, so the traceback will be always the same.
The response message seems to be the more valuable information.

[code]

[2019-02-05 18:37] jamalex commented on #4927
It's a bit tricky, because different users/cases may want different behavior. Some channels are unlisted because there's an intention to restrict access to the content, whereas other times it's just because we haven't done QA or the channel is very narrow in scope, and we don't want to clutter up the search results for those importing from Studio.

With the latter, there are strong use cases for b

[2019-02-05 18:52] indirectlylit opened #4928 "final updates to notifications"
### Observed behavior

1. **Links to reports** aren't currently enabled when applicable
2. **Learner report 'activity' tab** not yet implemented
3. **Group report 'activity' tab** not designed or implemented
   * current design is missing the activity tab under group reports, which is inconsistent with learner reports and the class dashboard:
![image](https://user-images.githubusercontent.com/2367

[2019-02-05 18:52] #4172 closed, assigned to nobody

[2019-02-05 20:53] jtamiace commented on #4928
Notes from in-person debrief

- Hash out pros and cons of new coach for non-classroom implementations with imps at design office hours: should facility-wide notifications, as currently implemented, be released with 0.12 or a patch release
- On notifications page, style notifications as links instead of 'show' button
- Spec design for empty states and page layouts for the lesson/exam panels on Home

[2019-02-05 20:58] rtibbles opened #4930 "Shouldn't generate links to unstarted exercise detail views"
### Observed behavior
Currently all learners have links to the exercise detail view, regardless of whether there are any attempt logs for that learner. If the learner has the status of not started for this exercise, then there should be no link.

Clicking the link gives an error.

### Expected behavior
Should be no link to exercises that a learner has not started.

### User-facing consequences
Con

[2019-02-05 21:46] rtibbles commented on #4919
@indirectlylit and @jonboiser have both reproduced this, it appears to be a MacOS issue, I, on Ubuntu, cannot.

[2019-02-05 22:04] indirectlylit opened #4931 "Navigation icons on App Bar are not laid out per Material Design specification"
### Observed behavior

left- and right-margins on the hamburger are off

![image](https://user-images.githubusercontent.com/2367265/52307184-bf965880-294e-11e9-8697-c5d8ff2fe13e.png)

### Expected behavior

![image](https://user-images.githubusercontent.com/2367265/52307161-af7e7900-294e-11e9-8b8f-eb08708a7a06.png)

### User-facing consequences

minor aesthetic issue, but prominent because it's ev

[2019-02-05 22:34] indirectlylit opened #4932 "'number of questions' is allowed to be empty with no validation"
### Observed behavior

![feb-05-2019 14-28-48](https://user-images.githubusercontent.com/2367265/52308533-66c8bf00-2952-11e9-9a9f-cb0f25c38663.gif)

### Expected behavior

If the user deletes the number and then tries to create the quiz, put focus keyboard back in the number input and display the string 'Enter a number between 1 and 50' (`$tr('numQuestionsBetween')`)

### User-facing consequences

[2019-02-05 22:49] indirectlylit commented on #4926
that looks good to me

the only thing we should check is whether we're treating the output of `status` as machine-parseable text in any case. I seem to recall suggestions of that in the past, for example to communicate current port information to installers?

[2019-02-05 23:03] indirectlylit commented on #4928
cc @jonboiser

[2019-02-05 23:04] indirectlylit commented on #4928
cc  @jredrejo

[2019-02-06 02:32] ralphiee22 commented on #4917
Do we want anywhere in the `K-Grid` item to be clickable or just the name for example?
![screen shot 2019-02-05 at 6 31 41 pm](https://user-images.githubusercontent.com/6361732/52317308-5a555e00-2974-11e9-82c3-e4a55ae952eb.png)

[2019-02-06 06:47] indirectlylit opened #4939 "order dashboard quizzes and lessons by order created"
### Observed behavior

currently quizzes and lessons are ordered by last activity

### Expected behavior

ordered by creation date

### User-facing consequences

 we may get complaints that the most recent quiz or lesson created is not showing up in the dash

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-02-06 06:51] indirectlylit commented on #4917
cc @jtamiace @khangmach @jonboiser

[2019-02-06 06:54] indirectlylit opened #4940 "make sure unit test examples include all exam versions"
### Observed behavior

Our sample server responses only include v1 exams

### Expected behavior

we should have all versions represented

### Context

0.12

[2019-02-06 06:57] #4899 closed, assigned to ralphiee22

[2019-02-06 08:06] khangmach commented on #4917
progress bar should be clickable too

[2019-02-06 17:32] indirectlylit commented on #4917
more than that right? specs look like:

![image](https://user-images.githubusercontent.com/2367265/52360985-1608a300-29f2-11e9-8bfe-a93212fdc0b0.png)

[2019-02-06 17:56] jredrejo commented on #4926
No, we are not, all these constants are being translated to human language:
 in kolibri/utils/cli.py
`server.STATUS_SERVER_CONFIGURATION_ERROR: 'Kolibri server configuration error'`
but that's a different problem. It happens the same with all the `STATUS` constants.
What kind of machine-parseable text are you thinking? a code?

[2019-02-06 18:18] ralphiee22 commented on #4821
This problem seems to only exist for python2.
When running the pex with python3, server starts successfully.

[2019-02-06 18:34] ralphiee22 commented on #4821
Appears to be the call to https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/cli.py#L322
https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/system.py#L185
https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/system.py#L79
which creates the segfault cc: @benjaoming

[2019-02-06 18:49] khangmach commented on #4917
yes if possible

[2019-02-06 18:58] kollivier commented on #4821
Good catch, @ralphiee22! This change looks likely to be the culprit:

https://github.com/learningequality/kolibri/commit/16b98b6c9cee1cac47bc2def2fb9ff42e1e1a902#diff-321c4ae9ad388f68b2ca687745d0b43f

I wonder if we need to keep the hardcoding of `daemon=False` under Python 2.7, or if we need to apply additional fixes there? @rtibbles Any ideas on why this change may not work on 2.7?

[2019-02-06 19:00] indirectlylit commented on #4926
At one point [we had discussed](https://github.com/learningequality/kolibri-installer-windows/issues/65) interrogating `status` to drive the windows GUI's port selection. It was a very similar conversation to the questions about `kolibri-server` knowing about kolibri's selected port.

Looks like instead it's checking the `server.pid` file??

https://github.com/learningequality/kolibri-installer-wi

[2019-02-06 19:41] rtibbles commented on #4821
@ralphiee22 and I had a look through this together in person, and we think @kollivier's idea is the most practical solution.

There seem to be multiple reports of issues with Python and MacOS forking issues, but I can't for the life of me figure out why it is Python 2 only, and only in the pex file.

[2019-02-06 19:53] jredrejo commented on #4926
yes, and `status` does the same thing, the output is human readable but it's easily machine parseable too.

[2019-02-06 20:04] kollivier commented on #4821
Hmm, was googling and I came across this, which basically states that High Sierra was changed to improve security by immediately throwing an error when a forked process attempts to call a disallowed function:

https://blog.phusion.nl/2017/10/13/why-ruby-app-servers-break-on-macos-high-sierra-and-what-can-be-done-about-it/

Are these crashes happening under High Sierra? I wonder if this is a case w

[2019-02-06 20:10] rtibbles commented on #4821
@ralphiee22 tried running with that env var, and it didn't seem to fix the issue :/

[2019-02-06 20:50] indirectlylit commented on #4821
Mojave - MacOS 10.14.2 (18C54)

[2019-02-06 22:38] ralphiee22 commented on #3659
It appears to be these lines causing the issue
https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/CoreBase/index.vue#L362-L363
`window.pageXOffset` & `window.pageYOffset` are set to `0`, when using the overflow property.

[2019-02-06 23:03] kollivier commented on #4821
How big of an issue would it be if we were to re-introduce the `daemon=False` hardcoded value on Mac for Python 2.7? The fact that it's hitting 2.7 and not 3.x makes me think this is one of those cases where an issue was found and fixed in 3.x but they never backported the fix. I don't know if we can quickly get to the bottom of this, though, so maybe restoring the old behavior on 2.7 for Mac is t

[2019-02-06 23:17] #4918 closed, assigned to jonboiser

[2019-02-06 23:18] #4902 closed, assigned to jonboiser

[2019-02-06 23:46] radinamatic opened #4944 "TypeError: _addMultipleUsersToGroup"
### Observed behavior

Still seeing [this issue](https://github.com/learningequality/kolibri/pull/4934#issuecomment-460874204) when assigning learners to group, **but only in Firefox**, in Chrome it works OK... 😕

Enrolling learners into the newly created group throws an error, but if I use the back arrow button, the group is listed correctly with the chosen learners.

![2019-02-06_23-17-11](https

[2019-02-06 23:47] khangmach commented on #4928
Follow-ups from Design office hours
- For 0.12 release we proceed with development of coach tools/updates we're on track with releasing
- Further consideration for classless facility tools, views and notifications will be punted post release
- We have a good start of use cases and context info on how non-formal contexts can benefit from facility-wide "data" and will compile more before starting to

[2019-02-07 00:01] radinamatic opened #4945 "Pressing *Finish* button does not close the *Manage resources in...* when editing lesson"
### Observed behavior

Following up on [this issue](https://github.com/learningequality/kolibri/pull/4934#issuecomment-460874204) navigation isn't blocked as before, but once the resources are added, pressing *Finish* does nothing. When the page is closed with the *X* in the upper left corner, lesson seems OK, and added resources display correctly. **Happens both in Firefox and Chrome**.

![2019-0

[2019-02-07 00:15] radinamatic opened #4946 "Missing snackbar notification when adding and removing learners to/from groups"
### Observed behavior

Missing snackbar notification 😢

### Expected behavior

Snackbar notifying the coach that the learner(s) have been added or removed.
Consistency with the rest of the implemented pattern.

### User-facing consequences

Uncertainty if they are expecting the recognizable pattern.

### Errors and logs

--

### Steps to reproduce

Enroll or remove learners to/from groups.

### Co

[2019-02-07 00:50] jonboiser commented on #4946
This wasn't a feature in the device > enroll learners + coaches workflow. we might not have strings to use for a new snackbar.

[2019-02-07 00:53] rtibbles commented on #4946
I just looked for them, we don't, alack!

[2019-02-07 00:57] radinamatic commented on #4946
It was in the original [Gherkin scenarios](https://docs.google.com/document/d/159i0gG5nQAG_q3j1S1to0qu33xUgxnIyyhQTGQEqr80/edit#bookmark=id.hyxeysfn613l)... No prob, we'll add it in the next one! 👍

[2019-02-07 01:05] radinamatic opened #4948 "Kolibri doesn't recognize added topic thumbnails on Studio and fails to download upon publishing"
### Observed behavior

[Related issue](https://github.com/learningequality/studio/issues/1112) was originally reported on Studio repo, but it turns out to be more on Kolibri side.

As per @rtibbles' words:

Maybe also related to #3204 or #3821?

### Expected behavior

Ability to download topic thumbnails in Kolibri after they are added on Studio and the channel republished.

### User-facing conseq

[2019-02-07 01:31] radinamatic commented on #4848
Still seeing this on `release-v0.12.x` branch, seems as if #4906 did not cover all the bases... 😕

[2019-02-07 01:32] rtibbles commented on #4542
Note that I am unable to replicate the issue with the 'Scale drawing' exercise - I believe this is now fixed. The issue in the Hindi exercise is still extant, however.

[2019-02-07 04:06] indirectlylit opened #4951 "detail detail endpoint does not exist on kolibri:coach:quizdifficulties"
### Observed behavior

* `ReportsQuizQuestionListPage`
* `/:classId/reports/quizzes/:quizId/questions`

[code]

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-02-07 06:17] #4944 closed, assigned to rtibbles

[2019-02-07 06:17] #4945 closed, assigned to rtibbles

[2019-02-07 06:24] #4917 closed, assigned to ralphiee22

[2019-02-07 09:07] jredrejo commented on #4848
@radinamatic  it's likely the same problem existed in other parts of the application. That PR solved it when planning new quizzes/lessons. Where do you see it exactly? Same solution will have to be applied to the components you 're using.

[2019-02-07 09:49] jredrejo commented on #4928
Currently, the only way to get the info is adding a classroom or learnergroup id to the request. Should we add the option to get learner notifications without incuding the classroom or group id? I am not sure if it makes too much sense: One coach having learners in different classrooms seems an odd scenario.

[2019-02-07 10:31] mrpau-richard opened #4953 "Isolate the Kolibri integration testing spreadsheet build inside the docker environment"
### Observed behavior
I have this [PR](https://github.com/learningequality/kolibri/pull/4544) that's using a virtualenv to run the scripts and generate the Integration testing spreadsheet at the BuildKite.

@indirectlylit [comment](https://github.com/learningequality/kolibri/pull/4544#discussion_r254383845) to that PR to isolate the build inside the docker environment.

### Expected behavior

[2019-02-07 12:48] radinamatic commented on #4848
Thanks for the clarification @jredrejo 👍
I'm still seeing this when adding resources to lessons, as in the screenshot above ^^

[2019-02-07 18:39] jonboiser opened #4954 "Text in dropdowns use a different font family"
### Observed behavior

According to "WhatFont" chrome extension, the font family is "system-ui", which ends up being Roboto.

…
![screen shot 2019-02-07 at 10 39 07 am](https://user-images.githubusercontent.com/10248067/52434631-aa433a80-2ac4-11e9-97de-f41442680bba.png)

### Expected behavior

Drop down uses noto font family, like the rest of the app
…

### User-facing consequences

…

### Errors

[2019-02-07 19:44] indirectlylit commented on #4951
same with

![image](https://user-images.githubusercontent.com/2367265/52438243-aff14e00-2acd-11e9-850b-77cf858eb51d.png)

`ReportsGroupReportLessonExerciseQuestionListPage`

[2019-02-07 19:54] benjaoming commented on #4821
Is there a way to be Python3-only on Mac?

[2019-02-07 20:55] ralphiee22 commented on #4951
https://github.com/learningequality/kolibri/pull/4956 actually solves the `internal server error` issue.

[2019-02-07 21:03] indirectlylit opened #4958 "RTL issues with icons"
### Observed behavior

RTL follow up from https://github.com/learningequality/kolibri/pull/4952

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-02-07 21:17] indirectlylit commented on #4821
Mac system python is 2.7

[2019-02-07 21:18] indirectlylit commented on #4821
that sounds fine to me

[2019-02-07 21:52] #4951 closed, assigned to nobody

[2019-02-08 01:00] jtamiace opened #4960 "App bar title of "Create account" page should not say "Sign up""
### Observed behavior

<img width="1264" alt="screen shot 2019-02-07 at 4 58 10 pm" src="https://user-images.githubusercontent.com/6668144/52452866-b4cbf700-2af9-11e9-9e46-367c112a192b.png">

### Expected behavior

Title should say "Create an account," not "Sign up," since we do not use that term elsewhere

### User-facing consequences

Minor inconsistency

[2019-02-08 01:31] jonboiser commented on #4094
This was observed in a recent bug bash. It's especially noticeable for longer text fields like a lesson description.

[2019-02-08 06:58] intelliant01 commented on #4948
Confirmed. All other changes done *independently* except independent thumbnail updates to topic meta-data done are synced into Kolibri upon version update.
When thumbnail change is accompanied with any other change, then the thumbnail sync happens fine upon version update.

[2019-02-08 09:14] mrpau-richard opened #4964 "Kolibri setup not working on IE11"
### Observed behavior
After I installed the Kolibri-0.12-beta3 on Windows 7 and use IE11 as a browser, the Kolibri setup always loading also there's no error logs at the browser. But when I switch to Google chrome browser the Kolibri setup perfectly worked.

### Expected behavior
Kolibri setup should work on IE11.

### Errors and logs
![screen shot 2019-02-08 at 5 01 14 pm](https://user-images.git

[2019-02-08 09:40] mrpau-julius opened #4965 "Not enough space still appear even my hard disk is not full"
### Observed behavior

I try to import a channel in kolibri studio (online). When I select a channel, I see an error message appeared "Not enough space on your device"  so that I cannot import.
![not enough space](https://user-images.githubusercontent.com/38421180/52469779-5ec58500-2bc7-11e9-8eda-71bad18d819a.png)

### Expected behavior

If the hard disk is not full the error message will not appe

[2019-02-08 09:56] mrpau-richard opened #4966 "Device info page error on Windows"
### Observed behavior
Device info page has an error on WIndows 7.

### Errors and logs
[code]

### Context
Tell us about your environment, including:
 * Kolibri version: 0.12-beta3
 * Operating system: Windows 7
 * Browser: Firefox 65.0

[2019-02-08 11:21] radinamatic commented on #4948
Yes, that is the workaround that can potentially be used, but we should eliminate the need for it.

[2019-02-08 11:25] radinamatic commented on #4964
Or are we dropping the support for it, was there a chatter @rtibbles?

[2019-02-08 15:45] #4954 closed, assigned to jonboiser

[2019-02-08 15:50] indirectlylit commented on #4928
the learner activity tab would still be scoped by class

[2019-02-08 15:57] indirectlylit commented on #4960
so the titles are duplicated?

![image](https://user-images.githubusercontent.com/2367265/52489423-1bdbc100-2b77-11e9-94de-4b375d50cb49.png)

[2019-02-08 16:11] indirectlylit commented on #4965
@mrpau-julius I think you've observed similar behavior in the past. Would you mind linking to related previous issues if you know of them?

[2019-02-08 16:13] indirectlylit commented on #4964
IE11 should still be supported

[2019-02-08 16:20] #4839 closed, assigned to ralphiee22

[2019-02-08 16:21] #4849 closed, assigned to jonboiser

[2019-02-08 16:21] radinamatic commented on #4964
I'll try to replicate and confirm in my own VMs!

[2019-02-08 16:21] #4857 closed, assigned to rtibbles

[2019-02-08 16:21] #4858 closed, assigned to indirectlylit

[2019-02-08 16:22] #4930 closed, assigned to rtibbles

[2019-02-08 16:23] #4932 closed, assigned to jonboiser

[2019-02-08 16:49] radinamatic commented on #4739
Still extant on smaller screens: open the responsive view in either FF or Chrome, and the upper half of the modal cannot be accessed.

![2019-02-08_16-07-55](https://user-images.githubusercontent.com/1457929/52492583-641fd100-2bc1-11e9-80d3-7099ee45eb58.png)

![2019-02-08_16-48-06](https://user-images.githubusercontent.com/1457929/52492647-83b6f980-2bc1-11e9-9c7a-54f95682e38c.png)

[2019-02-08 17:08] radinamatic commented on #4964
I managed to replicate the issue on IE11:

![2019-02-08_17-04-46](https://user-images.githubusercontent.com/1457929/52493624-e0b3af00-2bc3-11e9-8653-088753326e3d.png)

It's such a pain debugging in IE... 🙄
![2019-02-08_17-06-16](https://user-images.githubusercontent.com/1457929/52493737-1789c500-2bc4-11e9-951d-1747a60dfaa8.png)

[2019-02-08 17:16] rtibbles commented on #4964
Note that it is the error above the one highlighted that is the issue, the second error occurred because of the first.

[2019-02-08 17:26] indirectlylit commented on #4739
see also #4757

[2019-02-08 17:27] indirectlylit opened #4969 "spinning snackbar, shaking circular loader"
### Observed behavior

![spin](https://user-images.githubusercontent.com/2367265/52494292-76c6e580-2b82-11e9-9fe8-a00cbfca62b6.gif)

we've also observed similar weird issues with the `KCircularLoader`, which shakes

### Expected behavior

no unexpected CSS animations

### User-facing consequences

huh

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-02-08 17:30] indirectlylit opened #4970 "points not given after finishing a video"
### Observed behavior

Reported by @jtamiace during a hack sesson:

![image](https://user-images.githubusercontent.com/2367265/52494961-310b1c80-2b84-11e9-95e0-e43df4605f7a.png)

### Expected behavior

points are given, and status changes to 'completed'

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-02-08 17:33] indirectlylit opened #4971 "not all possibilities for responses are available in quizzes"
### Observed behavior

reported by @laurenlichtman during a hack session:

confirmed by @shivichandra:

### Expected behavior

all necessary symbols should be available

### User-facing consequences

learners may get questions wrong, and coaches may not realize why

### Errors and logs

…

### Steps to reproduce

…

### Context

0.12

[2019-02-08 17:36] indirectlylit opened #4972 "lessons never end for learners when an exercise is the last item"
### Observed behavior

reported by @micahscopes during a hack session:

Micah mastered the lesson Nalanda 2 after getting 3 right, (and not getting any wrong).  He was notified that he had completed the lesson, but was not taken out of the lesson, so he kept being asked more and more questions.

### Expected behavior

After the learner has mastered the last exercise, presumably we should show some

[2019-02-08 17:48] radinamatic commented on #4964
@rtibbles Nope, even if setup wizard is performed in Chrome, Kolibri is still non responsive in IE11:

![2019-02-08_17-43-32](https://user-images.githubusercontent.com/1457929/52495772-9cc3a880-2bc9-11e9-9b9f-4c331d3d1e28.png)

[2019-02-08 17:49] rtibbles commented on #4964
Right, this seems like a) a polyfill we need is missing (I think for the `File` constructor API, but I am not 100% sure), and b) something has changed that now needs that polyfill - my bet is something to do with styling.

[2019-02-08 18:01] indirectlylit commented on #4852
@jonboiser @jredrejo updated issue description - let me know if this makes sense

[2019-02-08 18:09] jtamiace commented on #4970
Note: I can't reproduce this

[2019-02-08 18:10] radinamatic opened #4973 "Impossible to close the privacy modal with keyboard"
### Observed behavior

When navigating by keyboard user is prevented to close the *Usage and privacy* modal: even when the <kbd>Close</kbd> button is in focus, and the user presses the <kbd>Enter</kbd> key, the modal keeps reopening, until the user closes by mouse click (if they can).

#### Chrome
![modal-close-keyboard-chrome](https://user-images.githubusercontent.com/1457929/52496754-24aab200-2b

[2019-02-08 18:10] indirectlylit opened #4974 "too many notifications are shown on dashboard for resources in lessons"
### Observed behavior

Observed during hack session that the number of notifications shown can be overwhelming due to the way that they get duplicated. This is exacerbated when resources are assigned in multiple lessons:

For example, @jtamiace says:

It's super misleading to see multiple items that say 'started' when they all refer to the sam item.

### Expected behavior

We've built a lot of log

[2019-02-08 18:11] indirectlylit commented on #4852
see related UX issue:  https://github.com/learningequality/kolibri/issues/4974

[2019-02-08 18:15] jtamiace commented on #4960
Open to other suggestions? Just thought we wiped out the "sign up/in" lingo a while ago

[2019-02-08 18:19] indirectlylit opened #4975 "icons proportions are slightly off"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/52497296-8b0ee080-2b8a-11e9-9b6e-bb9305eccc2a.png)

### Expected behavior

SVG icons are scaled proportionally.

likely related to https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/icons/KIcon.vue#L133-L134

Setting only the width or height seemed to negatively impact our ability

[2019-02-08 18:20] indirectlylit commented on #4974
related UX note from @jonboiser

[2019-02-08 18:29] indirectlylit commented on #4970
there's a chance you fast-forwarded in the video

[2019-02-08 18:29] #4970 closed, assigned to nobody

[2019-02-08 18:34] indirectlylit commented on #4960
it's fine with me - just double checking that's what you're suggesting

[2019-02-08 18:56] indirectlylit opened #4979 "Clicking a link under the class activity page throws error"
### Observed behavior

observed by @jayoshih

### Expected behavior

no error

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context
0.12.0  beta 3

[2019-02-08 20:55] indirectlylit opened #4980 "cherrypy logging informational messages as errors"
### Observed behavior

Starting Kolibri I see

[code]

### Expected behavior

These should probably be `info` level message?

### User-facing consequences

things seem like they're going wrong when it's all good

### Errors and logs

see above

### Steps to reproduce

start kolibri

### Context

0.12.0 beta 3

[2019-02-08 20:59] #4925 closed, assigned to ralphiee22

[2019-02-08 21:02] indirectlylit commented on #4973
(removing performance tag - I think that's typically reserved for 'slowness')

[2019-02-08 21:04] radinamatic commented on #4973
Noted! 👍

[2019-02-08 21:20] #4960 closed, assigned to nobody

[2019-02-08 22:17] indirectlylit opened #4982 "updateWithNotifications error"
### Observed behavior

Observed in Sentry the `updateWithNotifications` action is sometimes trying to access an undefined value

### Expected behavior

Ensure that `updateWithNotifications` doesn't make assumptions that values exist

### User-facing consequences

potentially broken behavior

### Errors and logs

https://sentry.io/learningequality/kolibri-frontend/issues/877447533/

[code]

### Ste

[2019-02-08 23:01] #4856 closed, assigned to nobody

[2019-02-08 23:22] jonboiser commented on #4969
I've only seen this on Kolibri Beta, but never locally.

I also noticed on Kolibri Beta that the notification comes flying from the upper left corner.

[2019-02-08 23:25] jonboiser commented on #4965
The '-1' in "drive space available" indicates to me that the 'freespace' API is returning an error, see 'getAvailableSpaceOnDrive'.

[2019-02-09 01:46] radinamatic opened #4985 "ePUB reader settings issues"
### Observed behavior

1. `+ Increase` button seems cut off on the right (or is missing the `box-shadow` there?)
2. Theme buttons have lost their _theming_. They still work (clicking on them does change the fore- & background colors), they just don't represent themselves correctly.

![2019-02-09_0-30-55](https://user-images.githubusercontent.com/1457929/52513495-07450a80-2c03-11e9-8098-6aa9a58380c

[2019-02-09 02:04] radinamatic commented on #4985
And while we are at it, how difficult would it be to add a couple more of stronger contrast options? 😊
Something like yellow-on-black, or blue-on-white?

![2019-02-09_1-59-20](https://user-images.githubusercontent.com/1457929/52515038-f26e7400-2c0e-11e9-950e-1ff8ed5e0333.png)

![2019-02-09_1-58-24](https://user-images.githubusercontent.com/1457929/52515044-f8fceb80-2c0e-11e9-8e40-005d4f8394f7.png)

[2019-02-09 02:39] radinamatic opened #4987 "Snackbar appears twice when Finish button is pressed too fast"
### Observed behavior

[Originally reported here](https://github.com/learningequality/kolibri/pull/4949#issuecomment-461255802), but now I noticed another detail: notification snackbar appears twice when adding the resources to the lesson: first when added (as supposed), and then again **if the _Finish_ button is pressed immediately after**. I didn't exactly timed it, but if the user pauses a coup

[2019-02-09 02:57] indirectlylit commented on #4821
Actually I'm still encountering issues with this:

[code]

It starts but that quickly crashes

[2019-02-09 03:35] radinamatic opened #4989 "Unecessary (back)links?"
*Unless I'm missing some previous discussion...*

### Observed behavior

Back to *All classes* from *Class home* makes sense as otherwise the user would need 2 clicks to get there:
![2019-02-09_2-39-54](https://user-images.githubusercontent.com/1457929/52515772-fce13b80-2c17-11e9-844a-4c5b7969a13c.png)

Back to *All lessons* from *Reports > Lesson > Lesson detail*, also makes sense.
![2019-02-09_2

[2019-02-09 03:47] indirectlylit commented on #4989
Previously, all three of these were "<- All classes" links:

![image](https://user-images.githubusercontent.com/2367265/52516095-f03df280-2bd9-11e9-9d0d-178c4fefafe7.png)

![image](https://user-images.githubusercontent.com/2367265/52516098-f6cc6a00-2bd9-11e9-8f90-dec749fb14ed.png)

![image](https://user-images.githubusercontent.com/2367265/52516103-02b82c00-2bda-11e9-8d00-c9ce6ea40c8e.png)

* @jon

[2019-02-09 04:08] rtibbles commented on #4964
Ahah! I think this is because of a lack of the `URL` constructor.

[2019-02-09 04:14] indirectlylit commented on #4974
There are two kinds of redundant notifications shown in the screenshot above:

1. The first and last resources in a lesson paired with a lesson started/completed notification. This will happen for every lesson.
2. Multiple assigned lessons share a piece of content. This is sort of an edge case, cause in part by our hack session testing methodology

Here's an example of the common case (case 1):

!

[2019-02-09 19:03] rtibbles opened #4992 "Create linting rules to check for unused props, data, computed props, and vuex mappers"
### Observed behavior
Currently we have no way of auditing our components to see whether any of our component data is used inside of the component itself. This means that our components slowly accrue cruft over time.

### Expected behavior
Our linting should give an error when any of a prop, data, computed props, vuex mapped getters, and state are unused.

In addition, it could also warn for metho

[2019-02-09 21:43] ralphiee22 commented on #4948
After investigating this issue, should we allow topics to be selected for update within the import selection? This has some UI implications as we currently don't count topics towards the number of resources, so this may lead to some confusion. Or should we automatically download any external files for topics that are already on the device, perhaps when updating the channel metadata? Also, a bit of

[2019-02-10 02:05] rtibbles commented on #4948
The simplest way of explaining this in the UI might be thumbnail updates. And have a single selection to add these (in the case of no other updates). @khangmach @jtamiace thoughts?

[2019-02-10 17:09] jredrejo commented on #4980
Totally agree

[2019-02-10 17:13] jredrejo commented on #4852
I see two possible approaches to solve this:
1. On the backend: if the current day does not return any notification, it fetches the last 10 notifications, no matter the time period.
2. On the frontend: Change the message to say 'no activity in the current day'

I think 2 would be better, to reduce the noise notifications produce. Anyway, doing 1 in the backend is quite simple, but I'd like to know

[2019-02-10 17:21] khangmach commented on #4948
@rtibbles what do you mean by a singe selection to add thumbnails?

some of my other thoughts:
- we shouldn't need to flag and say that thumbnails are missing, as it's already self-evident to the user when they see thumbnails on some topics and not on others.
- as a user I would expect the thumbnail download to be automatic, much like any other datatype associated with content coming in via import

[2019-02-10 17:37] khangmach commented on #4989
Upon seeing this pattern implemented, it definitely seems really weird and redundant...
When JB demoed this to me the main thing we found ourselves a bit confused by was the interaction of:
- clicking into a **particular report** (lesson/quiz/notification/whatever) from CLASS HOME.
- Accidentally clicking the back link expecting to go back to CLASS HOME, but instead going back to All Lessons **(se

[2019-02-10 18:46] intelliant01 commented on #4948
@khangmach I hope you don't mind me jumping in. I think @rtibbles means something as shown in this screenshot -
![firefox_0i4bjesopj](https://user-images.githubusercontent.com/2577060/52537829-d0046400-2d90-11e9-909c-be193a357b97.png)

This seem quite unnecessary as it should be as @ralphiee22 put it -

because as you have put it -

even when simply doing a **version update** in the absence of any

[2019-02-10 18:55] rtibbles commented on #4948
@khangmach I think you may have misunderstood.

I am not suggesting that we allow adding thumbnails within Kolibri. The issue here is that when topic thumbnails have been updated Kolibri does not flag that any new files should be downloaded.

My suggestion therefore, was to expose a single checkbox when there are topic thumbnails to update, that a user can select to force import of these updated t

[2019-02-10 19:50] sentry[bot] opened #4998 "MultipleObjectsReturned: get() returned more than one Lesson -- it returned 2!"
Sentry Issue: [KOLIBRI-BACKEND-7](https://sentry.io/learningequality/kolibri-backend/issues/877453921/?referrer=github_integration)

[code]

[2019-02-10 21:35] sentry[bot] opened #5000 "ValueError: invalid literal for int() with base 10"
Sentry Issue: [KOLIBRI-BACKEND-8](https://sentry.io/learningequality/kolibri-backend/issues/877480545/?referrer=github_integration)

[code]

[2019-02-10 23:18] radinamatic commented on #4966
Confirmed on both `0.12.0.b3` (Chrome) and `0.12.0.b4` (FF v66):

![2019-02-10_22-52-34](https://user-images.githubusercontent.com/1457929/52541178-fc68b200-2d89-11e9-87d9-cd5adbcd5881.png)

![2019-02-10_23-15-03](https://user-images.githubusercontent.com/1457929/52541181-04c0ed00-2d8a-11e9-9070-f1d772a7e50e.png)

[code]

[2019-02-10 23:51] sentry[bot] opened #5002 "AssertionError: 'xxxx' is not a valid content storage filename"
Sentry Issue: [KOLIBRI-BACKEND-6](https://sentry.io/learningequality/kolibri-backend/issues/877445818/?referrer=github_integration)

[code]

[2019-02-11 03:14] rtibbles commented on #4964
Fixed in #4990

[2019-02-11 03:14] #4964 closed, assigned to rtibbles

[2019-02-11 04:32] intelliant01 commented on #4948
@rtibbles indeed I missed this important implication -

Hence, agreed that thumbnail / "supplementary files'" updates (when not accompanied by parent node updates) should be left to the user discretion.

[2019-02-11 16:46] ivanistheone opened #5007 "Progress-bar partially occludes content node thumbnails"
### Observed behavior

Content node thumbnail is partially hidden by progress bar.

![partial-occlusion](https://user-images.githubusercontent.com/163966/52578446-3a012580-2df2-11e9-8e1a-1ae65849e4a1.png)

progress bar is 5px tall so noticable

![progress-bar-5px](https://user-images.githubusercontent.com/163966/52578633-92d0be00-2df2-11e9-9b3b-26fec1117145.png)

### Expected behavior

See full th

[2019-02-11 17:29] khangmach commented on #4948
@rtibbles @intelliant01 thanks for clarifying! Makes sense. This updating is surely something we want to encourage so I would think it would be beneficial to have the "update all thumbnails" be checked by default upon page load.

This is a bigger usability conversation, but the top-left triangle banner doesn't help too much. At a glance all content cards look exactly alike and it's difficult to pa

[2019-02-11 18:30] indirectlylit commented on #4989
@jonboiser care to weigh in? that's not what I recalled you saying

[2019-02-11 18:55] jonboiser commented on #4989
I did say when you are on a top-level page like "Plan" or "Report" it felt like a back button that went back 2 levels to "All classes" feels like it goes back too far. If we revert back to "All Classes" it's going to be mistakenly used pretty often.

When you are a level down, I think the confusion might come from the lack of breadcrumbs and losing the plan or report workflow context. The links wo

[2019-02-11 20:30] jtamiace commented on #4974
This looks like a great direction to me. If there happens to be multiple lessons assigned for a single resource, they would all be linked from a single notification, and as you mentioned, it's probably going to be relatively rare.

[2019-02-11 21:00] #4998 closed, assigned to rtibbles

[2019-02-11 21:12] jtamiace commented on #4948
Here's an example to address >1 kind of supplementary content that Kolibri does not auto-detect in import. I think it should be a separate section from the resources themselves, and all-or-none selection, unless there is a use to selectively importing thumbs & subtitles?

IMO it would be simplest to show this `other content updates` (or other named) section only if there are updates that can be ma

[2019-02-11 21:29] jtamiace commented on #4989
At the very least, this is the most confusing to me... would suggest it to be Home and not Reports, because Home is higher in the IA than Reports and Plan, despite it being adjacent in the action bar.

<img width="413" alt="screen shot 2019-02-11 at 1 20 55 pm" src="https://user-images.githubusercontent.com/6668144/52594305-07f6c000-2e00-11e9-845d-4706bdfa52ce.png">

Agree with @jonboiser that "al

[2019-02-11 21:54] jonboiser commented on #4987
This behavior is actually global since we have gone to using a unique CoreBase instance for every page. This means every time we switch pages, we destroy and re-create the GlobalSnackbar child in CoreBase, which will show whatever message is in vuex.

So you can see this in other places, like if you were to activate an Exam and then quickly switch over to the "Groups" tab, you will see the "change

[2019-02-11 21:56] rtibbles commented on #4987
Do we need to clear snackbar vuex state on navigation now to solve this, or would that be insufficient?

[2019-02-11 22:01] jonboiser commented on #4987
That would work, but the experience will be slightly different from before, where snackbars would linger between pages (which might be nice) instead of disappearing.

[2019-02-11 22:18] rtibbles commented on #4987
Hrm, can't actually find what the specified behaviour for snackbars across page navigation events is in Material Design.

[2019-02-11 22:19] rtibbles commented on #4987
Seems from this Stackoverflow post: https://stackoverflow.com/questions/29989631/android-persist-a-snackbar-across-activities that the default snackbar behaviour in Android is to dismiss snackbars on page navigation, so that might be ok?

[2019-02-11 22:21] jonboiser commented on #4987
Yeah, I think that's an acceptable behavior.

[2019-02-11 22:48] jtamiace commented on #4987
Material only has a [vague reference](https://material.io/develop/android/components/snackbar/) in their dev doc to dismissal of snackbars: `disappear automatically, either after a timeout or after a user interaction elsewhere on the screen`

But snackbars disappearing on nav is something I've seen before and also seems ok to me

[2019-02-12 01:27] indirectlylit opened #5011 "flashing scrollbar in modal"
### Observed behavior

observed by @jeepurs during a bug bash:

![scroll-flash](https://user-images.githubusercontent.com/2367265/52605053-1655d380-2e22-11e9-9c8e-623453f3a383.gif)

### Expected behavior

* scrollbar should either be fixed on or off but never alternate like that
* also need to watch out for nested scrollbars, which seem to be happening in here

### User-facing consequences

seizur

[2019-02-12 01:30] khangmach commented on #4948
BIG YES^

[2019-02-12 01:48] radinamatic commented on #5011
Not sure if it's fast enough to cause seizures, but it's sure ugly...

[2019-02-12 10:14] mrpau-richard opened #5012 "Coach page javascript error"
### Observed behavior
Coach page has an javascript error when there's no class available.

### Expected behavior
Should add a message to create a class first before accessing the coach page.

### Errors and logs

![screen shot 2019-02-12 at 5 59 55 pm](https://user-images.githubusercontent.com/8663934/52627653-d9a4dd80-2ef0-11e9-9229-beb82996fbc7.png)

### Steps to reproduce
* Install the `Kolibri

[2019-02-12 12:04] mrpau-richard opened #5013 "Learner quiz score not updated"
### Observed behavior
Learner score not automatically updated after the quiz completed at the coach reports page.

### Expected behavior
Learner score should be updated after the quiz completed.

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/52634093-3f00ca80-2f01-11e9-8063-821bec6f147f.gif)

### Context

Tell us about your environment, including:
 * Kolibri version

[2019-02-12 15:38] radinamatic commented on #5012
Issue replicated on Windows 7 with Firefox:

![2019-02-12_15-33-54](https://user-images.githubusercontent.com/1457929/52647147-0b5f7980-2edc-11e9-9a81-1c655f611e23.png)

[code]

[2019-02-12 18:25] radinamatic opened #5014 "handle 403 errors across the app by redirecting to the sign-in page"
### Observed behavior

When the browser is closed mid quiz, and then reopened, Kolibri errors out:
![2019-02-12_12-57-00](https://user-images.githubusercontent.com/1457929/52657859-7ff0e300-2ef1-11e9-9e6c-c6faeed4ccd6.png)

### Expected behavior

If the session is not terminated, no reason the learner should not be able to resume where they left out.
If the session timed out, redirect to sign-in p

[2019-02-12 18:52] radinamatic opened #5016 "Superfluous mention of the class in the notification"
### Observed behavior

I was testing the class with just one learner and no groups, and I noticed that the class was referenced in the notification. Seems superfluous on the Class home since it's already clear which class the user is in

![2019-02-12_2-46-21](https://user-images.githubusercontent.com/1457929/52660181-11af1f00-2ef7-11e9-9144-a2e6ef5f4c19.png)

Is it that the group name defaults to

[2019-02-12 18:59] indirectlylit commented on #4852
fixed in #5008:

[2019-02-12 18:59] #4852 closed, assigned to jredrejo, jonboiser

[2019-02-12 19:22] #4966 closed, assigned to rtibbles

[2019-02-12 20:59] rtibbles commented on #4985
Fixed in #5005

[2019-02-12 20:59] #4985 closed, assigned to rtibbles

[2019-02-12 20:59] rtibbles commented on #4965
Fixed in #4997

[2019-02-12 20:59] #4965 closed, assigned to rtibbles

[2019-02-12 21:00] rtibbles commented on #4714
Fixed in #5004

[2019-02-12 21:00] #4714 closed, assigned to rtibbles

[2019-02-12 21:21] indirectlylit commented on #4948
Shouldn't these changes show up as a content item having an update and therefore being checkable in the existing UI?

[2019-02-12 21:24] indirectlylit commented on #5013
good catch!

[2019-02-12 21:28] indirectlylit commented on #5013
A few other strange behaviors I'm seeing here:

1. the Greg P. user's row is changing state, with the Progress and Score values flickering in and out. @mrpau-richard any chance this is an artifact from the GIF?
2. While Carol H. is 'started', her score says '0%' but it should be undefined

[2019-02-12 21:30] indirectlylit commented on #5012
@radinamatic the server errors above are related to https://github.com/learningequality/kolibri/issues/4966, not this issue

[2019-02-12 21:34] indirectlylit commented on #5016
cc @jtamiace @khangmach perhaps a tweak for the next round? Could simplify these to just 'Everyone finished...", "Everyone started..."

[2019-02-12 21:36] indirectlylit commented on #5014
Looks like you're probably getting logged out when the browser is closed.

I think we may want to respond more generally to unhandled `403` errors by redirecting to the login page?

[2019-02-12 21:47] radinamatic commented on #4848
Fixed in #5010 👍

[2019-02-12 21:47] #4848 closed, assigned to jredrejo

[2019-02-12 21:47] radinamatic commented on #4987
Fixed in #5010 👍

[2019-02-12 21:47] #4987 closed, assigned to jonboiser

[2019-02-12 21:53] khangmach commented on #5016
Yup, let's condense the phrasing as you suggested in the next round.

[2019-02-12 21:54] indirectlylit opened #5020 "avoid use of `assert` for application logic"
### Observed behavior

see https://github.com/learningequality/kolibri/pull/5003#discussion_r256111944

### Expected behavior

We should throw and catch a custom exception rather than catching a generic assertion error

### User-facing consequences

none directly, but might lead to code maintainability issues or unexpected behaviors under optimizations down the line

### Context

0.12.0 beta 4

[2019-02-12 23:01] indirectlylit opened #5022 "reports do not currently have empty states"
### Observed behavior

empty states are empty:

![image](https://user-images.githubusercontent.com/2367265/52673306-2b3f6f00-2ed5-11e9-9ed9-f1d98051f39d.png)

### Expected behavior

We should display the strings in common coach strings (https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js#L106-L116)

### User-facing consequenc

[2019-02-12 23:44] indirectlylit opened #5024 "implement 'user display' component for conveying name, username, role, and other information consistently"
### Observed behavior

In a coach report, these are two different users:

In facility users we show:

In class management we show:

related clearinghouse issues:

* https://github.com/learningequality/clearinghouse/issues/185
* https://github.com/learningequality/clearinghouse/issues/299

### Expected behavior

Recommend we come up with a consistent, single-column representation of a user that can

[2019-02-12 23:51] indirectlylit opened #5025 "notification API seems to be slightly 'ahead' of class summary API"
### Observed behavior

Observed by @jonboiser during last week's hack sessio:

* report data was updated based on an incoming notification
* refreshed the page, and data went back to previous state

### Expected behavior

Notifications and class summary API should either be in sync, or at least the summary API should contain the most recent data – not the other way around.

### User-facing consequ

[2019-02-12 23:51] indirectlylit commented on #5025
@jonboiser would you mind filling in the steps to repro and I'll take a look?

[2019-02-12 23:57] indirectlylit opened #5026 "inconsistent 'difficult question' reports between learners"
### Observed behavior

reported by @jtamiace during last week's bug bash

Clicking a “difficult question” in an exercise does not all show the same question for each learner. Number of learners for a question does not match what the overview says

Question 1 for Jamie and Laura are different:

| Page | Image |
|--|--|
| Question table | ![image](https://user-images.githubusercontent.com/2367265/52

[2019-02-13 00:11] indirectlylit opened #5029 "styling issues with channel import selection"
### Observed behavior

reported by @jtamiace and @carinediaz

![image](https://user-images.githubusercontent.com/2367265/52676943-cd188900-2ee0-11e9-8ba6-b9dbf420ba96.png)

### Expected behavior

'view' link should not be floating outside card

### User-facing consequences

things look broken

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-02-13 00:12] indirectlylit opened #5030 "coach home page needs to handle long group names better"
### Observed behavior

reported by @jtamiace

![image](https://user-images.githubusercontent.com/2367265/52676995-fc2efa80-2ee0-11e9-87fa-f60699293422.png)

### Expected behavior

should use an ellipsis

### User-facing consequences

broken formatting

### Steps to reproduce

create a lesson and assign it to a group with a long name

### Context

0.12.0 beta 4

[2019-02-13 00:16] indirectlylit opened #5031 "allocated top spacing is incorrect for lesson management"
### Observed behavior

the top spacing is allocated as a full app bar, but it's an immersive modal screen:

![image](https://user-images.githubusercontent.com/2367265/52677108-6fd10780-2ee1-11e9-8b43-6cae0af4d354.png)

### Expected behavior

proper top margin allocation

### User-facing consequences

broken layout

### Steps to reproduce

go to manage a lesson and scroll down

### Context

0.12.0

[2019-02-13 00:19] indirectlylit opened #5032 "inconsistency between status summary and time spent"
### Observed behavior

reported by @khangmach during last week's bug bash. In the screenshot below, note that 'time spent' has updated but the progress still says 'not started'

### Expected behavior

All updates should be synchronized.

possibly related to https://github.com/learningequality/kolibri/issues/5025 ?

### User-facing consequences

inconsistent reports

### Steps to reproduce

...

##

[2019-02-13 00:19] indirectlylit commented on #5025
possibly related - https://github.com/learningequality/kolibri/issues/5032

[2019-02-13 00:24] indirectlylit opened #5033 "On Lesson Resource Management page, 'show' filter label does not accurately describe its meaning"
### Observed behavior

reported by @carinediaz

The label 'show' is not helpful for describing what that filter does:

(The filter refers to coach content)

### Expected behavior

Label should indicate that this filter is for coach-only content

### User-facing consequences

users might not discover this functionality

### Steps to reproduce

coach -> plan -> lessons -> manage lesson contents

###

[2019-02-13 00:45] jonboiser commented on #5025
It's probably easiest to see this on a page like Reports > Lessons.

1. Go to Reports > Lessons and view all of the lessons
1. As a learner, start or complete one of the lessons
1. Shortly after, the relevant lesson will update in the "Progress" column. E.g. it will go from "3 of 12 completed" to "4 of 12 completed", which should happen without a refresh because of an incoming notification.
1. Go

[2019-02-13 00:54] khangmach commented on #5033
Yikes. Completely agree with Carine here.
Two options come to mind...
1. Changes to the filter component
- Replace the user icon with the coach content icon.
- label change from "Show" to "Coach resources"
- Filter options become "Show" and "Hide"

2. Place checkbox + string underneath the filters, floating left. Checked by default
- String: "Show coach content"
- Checked state: shows coach conten

[2019-02-13 00:55] khangmach commented on #5033
While messing with the filter I found this bug. I didn't have any resources in my lesson at the time. This happens when you check "Non-coach" filter option and navigate away/navigate back to the page. Should be a string change to something like:
[Updated search results]

<img width="359" alt="screen shot 2019-02-12 at 4 54 58 pm" src="https://user-images.githubusercontent.com/25045166/52678567-f63

[2019-02-13 01:30] jonboiser commented on #4973
#4981

[2019-02-13 01:30] #4973 closed, assigned to jonboiser

[2019-02-13 01:30] jonboiser commented on #4982
#4981

[2019-02-13 01:30] #4982 closed, assigned to jonboiser

[2019-02-13 01:31] jonboiser commented on #4979
#4981

[2019-02-13 01:31] #4979 closed, assigned to jonboiser

[2019-02-13 01:34] jonboiser commented on #5025
I just saw this again locally with the Quizzes page

1. I was on Reports > Quizzes> Quiz > Learner page, and it updated when I started the quiz, and it stayed that way even when I navigated away.
1. However, on Reports > Quizzes, all of the quizzes incorrectly say "0 of 0 started" (there are people in the class), and did not update when started or completed the quiz.

[2019-02-13 01:39] indirectlylit commented on #4515
closing as fixed - it's not as efficient as it could be, but it works

[2019-02-13 01:39] #4515 closed, assigned to indirectlylit

[2019-02-13 01:54] rtibbles commented on #5000
Fixed in #5001

[2019-02-13 01:54] #5000 closed, assigned to rtibbles

[2019-02-13 02:21] indirectlylit commented on #4958
turns out there were no issues - RTL simply doesn't work at the same time as hot module reloading in the dev server. (cc @jonboiser)

![image](https://user-images.githubusercontent.com/2367265/52682068-0659f480-2ef3-11e9-9c9a-e74dfb89ec1d.png)

[2019-02-13 02:21] #4958 closed, assigned to indirectlylit

[2019-02-13 02:37] intelliant01 commented on #4948
Indeed, yes.

Adding another section IMO, has these UX and implementation downsides -
1. Forcing end user to deal with technical internals.
2. When all these "other contents" are dealt as integral to the core content items then we should not spring a surprise on the users.
3. The "payload size" of updates chosen should be dynamically updated and shown in the '''Content selected:''' field.
4. Havin

[2019-02-13 07:18] swapnil106111 opened #5036 "Facing error while kolibri 0.12.0 deb file installation"
### Observed behavior
After running below command it shows error:
**sudo dpkg -i kolibri_0.12.0b4-0ubuntu1_all.deb**

File downloaded from https://github.com/learningequality/kolibri/releases.

![1](https://user-images.githubusercontent.com/12776071/52693166-f80be700-2f8b-11e9-9711-e9f9fd5e7a47.png)

### Context
Kolibri version : Kolibri 0.12.0
Operating system : Ubuntu 14.04

### Screenshots:
![3

[2019-02-13 10:20] mrpau-richard commented on #5013
@indirectlylit here's the [video file](https://drive.google.com/file/d/1Qjf--zHPYMcwFPUjxsIY6-DqmT0NPYuu/view) for the clear demonstration.

I logged in using Greg P. learner account and take a quiz, after I summited it. my score indicate 0% at the coach reports page and the quiz progress completed. But when I browse the Greg P. quiz reports it has 40% score.

[2019-02-13 15:21] rtibbles commented on #5036
Thanks @swapnil106111 - this is because we have not incremented some version data in the code to reflect that it is a beta. Not sure why it has *only* affected the debian installer though.

[2019-02-13 16:10] #5012 closed, assigned to jonboiser

[2019-02-13 16:10] #5031 closed, assigned to jonboiser

[2019-02-13 19:22] indirectlylit opened #5041 "contentnodeprogress endpoint is causing issues"
### Observed behavior

We've seen reports that the `contentnodeprogress` endpoint is timing out. It is also doing something that crashes Vue dev tools

### Expected behavior

Displaying topic-summarized learner progress should not cause performance issues.

### User-facing consequences

slowness

### Errors and logs

`
2019/02/13 14:25:07 [error] 1218#1218: *2530 recv() failed (104: Connection res

[2019-02-13 19:27] ralphiee22 opened #5042 "`--settings` is ignored when running management commands"
### Observed behavior

When running a management command such as `kolibri --debug manage runserver --settings=other_settings` for the first time on an empty KOLIBRI_HOME, it runs migrations with the base settings file. So any additional migrations that may be in `other_settings` is ignored. The server does start with the correct settings file though.
When running with `DJANGO_SETTINGS_MODULE`, eve

[2019-02-13 20:04] richsegal opened #5045 "Incorrect value of KOLIBRI_HOME in /etc/default/kolibri"
### Observed behavior
The value of the environment variable KOLIBRI_HOME is set incorrectly by the script /etc/default/kolibri.   The value is set to "~/.kolibri", which incorrectly assumes that the current user is the KOLIBRI_USER.

### Expected behavior
The script should set the KOLIBRI_HOME to the correct value of the Kolibri home directory in all cases.   This should work correctly if the KOLI

[2019-02-13 20:23] indirectlylit opened #5046 "buttons and top alignment in tables don't mix well"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/52741441-30aac100-2f8a-11e9-868c-8fd708b142f7.png)

### Expected behavior

layout could be improved a bit

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-02-13 20:27] indirectlylit opened #5047 "learn pages (Classroom Assignment Page) should auto-refresh to see newly activated/assigned content"
### Observed behavior

learner pages doesn't auto-refresh

### Expected behavior

when a coach activates a lesson or quiz, or assigns it to  a learner, or changes its name, they should see the changes without needing to refresh

### User-facing consequences

learners might have trouble seeing content assigned during a class

### Steps to reproduce

* as a learner, open a class page
* as a coach, a

[2019-02-13 21:16] rtibbles commented on #4739
Fixed in #5035

[2019-02-13 21:16] #4739 closed, assigned to indirectlylit

[2019-02-13 21:16] rtibbles commented on #4757
Fixed in #5035

[2019-02-13 21:16] #4757 closed, assigned to indirectlylit

[2019-02-13 21:21] rtibbles commented on #5002
Fixed in #5003

[2019-02-13 21:21] #5002 closed, assigned to rtibbles

[2019-02-13 21:38] indirectlylit opened #5049 "lessons and quizzes with missing resources are not handled gracefully for learners"
### Observed behavior

When trying to take a quiz or view a lesson that references exercises which have been deleted, the behavior is broken.

**Lesson:**

**quiz:**

### Expected behavior

Lessons and quizzes with missing content should be handled more elegantly

### User-facing consequences

app looks quite broken with no explanation

### Errors and logs

[code]

### Steps to reproduce

* make a

[2019-02-13 22:01] radinamatic commented on #5049
@khangmach This looks like a good candidate to add a Gherkin scenario for 🙂

[2019-02-13 23:19] jonboiser commented on #5046
I only see this in CoachExamsPage (the screenshot), because the `<tds>` don't have a vertical-align rule. Does it happen anywhere else?

[2019-02-14 02:19] indirectlylit opened #5052 "inconsistency between difficult question summary and detail reports"
### Observed behavior

| summary | detail |
|--|--|
|  "Question 1" | "Repeated addition (1)" |
| "1 of 1 needs help" | three users needing help |
| [Link to page]( http://kolibribeta.learningequality.org/coach/#/4707894249cbe44b7fd142bdb87fe90e/reports/lessons/77c3daea1dcadbdb2f1b8e0a9d278a81/exercises/52afd859b8df5bb1a6a834ddaeaf3f23/questions) | [Link to page](http://kolibribeta.learningequalit

[2019-02-14 02:24] indirectlylit opened #5053 "arrows in back links are not clickable"
### Observed behavior

the arrow in the 'back' links are not clickable:

![image](https://user-images.githubusercontent.com/2367265/52758271-87c98980-2fbc-11e9-9c80-3c9b4b59af66.png)

### Expected behavior

clicking either the arrow or the text should work

### User-facing consequences

annoyance

### Context

0.12.0 beta 4

[2019-02-14 02:27] indirectlylit opened #5054 "user show as 'not started' even though activity is shown"
### Observed behavior

In the screenshot below, David is shown as having spent 14 minutes on something 20 days ago, but shows up as 'not started' in both the table and the summary view:

### Expected behavior

Any time a learner has past activity with a resource, their status should show as 'started', 'completed', or 'needs help'

### User-facing consequences

misinformation in our reports

### St

[2019-02-14 02:36] indirectlylit opened #5055 "should not show 'Attempt 1' in detail reports when there's only one attempt"
### Observed behavior

In quizzes, only a single attempt is allowed from the learner's perspective. However in quiz reports, we label that attempt with "Attempt 1":

### Expected behavior

Reported by @lauradanforth

I believe we might track "multiple attempts" in the course of quiz if the learner changes their answer by returning to a question. This may have been intentional to help coaches have

[2019-02-14 02:41] indirectlylit opened #5056 "group lesson summary report has status incorrectly reported"
### Observed behavior

Lesson is indicated as 'active' even though it's inactive:

### Expected behavior

Active state should reflect reality

### User-facing consequences

confusion

### Steps to reproduce

on beta server:

* [group lesson report page](http://kolibribeta.learningequality.org/coach/#/307fdbe2f00b02e7cefa4eae2446fdb3/reports/groups/d6a9f8bcd68b98c59844bea3ad916716/lessons/c6d1ee116

[2019-02-14 03:03] indirectlylit opened #5057 "string cleanup and refactoring"
### Observed behavior

0.12.0 has quite a bit of string-related tech debt:

* `crossComponentTranslator` was used/abused to allow components to use translated strings from other components
* A subset of strings is now in a 'common coach strings' file
* A subset of strings now uses more precise naming conventions to distinguish different parts of speech - for example `previewLabel` (a noun) vs `pre

[2019-02-14 03:19] indirectlylit commented on #5054
duplicate of #5032

[2019-02-14 03:19] #5054 closed, assigned to nobody

[2019-02-14 04:14] #3903 closed, assigned to nobody

[2019-02-14 06:18] indirectlylit commented on #5052
might be partly a dupe of #5026?

[2019-02-14 06:19] #5026 closed, assigned to rtibbles

[2019-02-14 06:24] indirectlylit opened #5059 "redundant 'needs help' indicator in dashboard"
### Observed behavior

'needs help' is shown twice

![image](https://user-images.githubusercontent.com/2367265/52766973-d0de0580-2fdd-11e9-9cf3-d032efe34d88.png)

### Expected behavior

In the mockups, 'needs help' is separated from the rest of the status indicators. However this becomes inconsistent with how we're displaying status summaries in most other parts of reports now

### User-facing con

[2019-02-14 06:29] indirectlylit commented on #5036
should be addressed when the beta 5 debian is available – cc @benjaoming

[2019-02-14 06:29] #5036 closed, assigned to indirectlylit

[2019-02-14 06:30] indirectlylit commented on #4919
this turned out to be just because of running the devserver with HMR on.

(hot module reloading and RTL are not compatible)

[2019-02-14 06:30] #4919 closed, assigned to nobody

[2019-02-14 06:32] indirectlylit commented on #5013
should be fixed – @mrpau-richard please test in beta 5

[2019-02-14 06:32] #5013 closed, assigned to indirectlylit

[2019-02-14 10:47] mrpau-richard opened #5062 "Label of the learner and coach not pluralized"
### Observed behavior
Label of the learner and coach not pluralized at the Facility class page
![screen shot 2019-02-14 at 6 41 26 pm](https://user-images.githubusercontent.com/8663934/52781901-abf29c80-3088-11e9-99ed-6874590e8ba9.png)

### Expected behavior
The label should change to singular if the value is only one.

### Context

Tell us about your environment, including:
 * Kolibri version: 0.

[2019-02-14 18:57] khangmach commented on #5055
Exam reports are buggy for me at the moment and I can't load any pages...but this is a related issue, now closed: https://github.com/learningequality/kolibri/issues/3139

If we decided to cut out showing everything but the final submitted attempt, then we should cut out the "attempt 1" string as well.

[2019-02-14 18:58] khangmach commented on #5059
Good point. I have no qualms with cutting out the **(!) 1** indicator on the right

[2019-02-14 19:54] benjaoming commented on #5036
Yup, it's available here for you @swapnil106111

https://launchpad.net/~learningequality/+archive/ubuntu/kolibri-proposed

[2019-02-14 20:13] jonboiser commented on #5053
#5060

[2019-02-14 20:13] #5053 closed, assigned to nobody

[2019-02-14 21:04] DXCanas commented on #4907
So the idea here is to include some examples of what the text looks like, essentially for context if something ever breaks?

So we have any docs for writing tests on the Python side that I could learn from?

[2019-02-14 23:51] jonboiser commented on #5062
The headers will be understandable even when there is only one coach or learner in the class.

Also, there may be multiple classes which may have more than 1 coach/learner, so the header needs to work for both cases.

[2019-02-15 00:28] indirectlylit commented on #5055
thanks for digging that up. In the thread, @rtibbles says

The trade-off here is simplicity of the UI vs depth of the information.

Since we haven't lowered the prominence of non-final answers, and since clearly the final answer is the most important piece of information, recommend we go with the recommendation @khangmach made in #3139:

Down the line if we learn that there's a demand to see how l

[2019-02-15 00:30] indirectlylit commented on #5055
@khangmach is this the case on the beta server? if so would you mind opening an issue?

[2019-02-15 00:38] jonboiser commented on #4825
On Browserstack Chrome, clicking the search magnifying glass button doesn't work either.

[2019-02-15 00:41] jonboiser commented on #4825
Removing the `-webkit-overflow-scrolling: touch; // iOS momentum scrolling` rule from `.scrolling-pane` seems to fix it.

[2019-02-15 01:57] indirectlylit commented on #4907
search the code base for `django.test` and `pytest`

docs:

* https://docs.pytest.org/en/latest/
* https://docs.djangoproject.com/en/2.1/topics/testing/

sometimes writing a test helps hint at ways to restructure the code. In this case for example, you could make a re-usable `parseAndroidStatFs` function which returns expected metadata. Then your test just needs to try different inputs and outputs

[2019-02-15 01:59] indirectlylit commented on #4825
okay, let's do that then and re-open #2279

[2019-02-15 03:07] navakk9 commented on #5055
I somehow forgot about this and didn't realize that there can be multiple attempts on a quiz if a learner was to go back and change their answer. I concur with @rtibbles that it would be useful for a coach to have that information because it can provide opportunities to have a diagnostic approach. The main pain point I think is the prominence, because if there are no multiple attempts, it is just

[2019-02-15 05:04] mrpau-richard commented on #5062
I understand it now @jonboiser. closing this.

[2019-02-15 05:04] #5062 closed, assigned to nobody

[2019-02-15 05:47] indirectlylit commented on #5055
I suppose the simplest solution then is to only show the "Attempt 1" label if there was more than one attempt. This would apply to both quizzes and exercises.

[2019-02-15 05:50] #5059 closed, assigned to jonboiser

[2019-02-15 05:51] #5056 closed, assigned to jonboiser

[2019-02-15 05:52] #5046 closed, assigned to jonboiser

[2019-02-15 05:52] #5030 closed, assigned to jonboiser

[2019-02-15 05:52] #5022 closed, assigned to jonboiser

[2019-02-15 05:53] #5020 closed, assigned to rtibbles

[2019-02-15 05:55] #4989 closed, assigned to indirectlylit

[2019-02-15 05:56] indirectlylit commented on #4928
@jonboiser how are we looking on this task? I think a lot is complete?

[2019-02-15 05:57] #4542 closed, assigned to rtibbles

[2019-02-15 05:57] #4672 closed, assigned to mrpau-richard

[2019-02-15 05:59] indirectlylit commented on #5052
after a discussion with @rtibbles we came to the conclusion that there are at least 3 independent issues in here. I'll try to tease it apart tomorrow

[2019-02-15 06:51] swapnil106111 opened #5068 "Coach tab not opening"
### Observed behavior
When logging in with coach user and not assigned to any class. Then coach tab is not opening. Please take a look at attached screenshot for more information.

### Expected behavior
It must show something when class is not assigned to the coach.

### Steps to reproduce
1. Create a coach account.
2. login with coach and click on coach tab.
3. Then assign a class to same coach.

[2019-02-15 06:58] swapnil106111 opened #5069 "Progress report for quizzes is incorrect."
### Observed behavior
Assign a quiz to the learner and let learner complete the quiz. After completing the quiz, go to the coach tab and click on quizzes. It shows incorrect progress report.

### Expected behavior
It must show correct progress report.

### Steps to reproduce
1. Assign a quiz to the learner.
2. complete the quiz.
3. login with coach and click on quizzes tab.
4. see progress report

[2019-02-15 12:24] mrpau-richard opened #5070 "Coach lessons progress not automatically updated"
### Observed behavior
I have this [video file](https://drive.google.com/file/d/1nGhM0mNdidD2hZmNM6iH6uLVByQ0Mt33/view) showing a learner Carlo logged-in and viewing a lessons. At the coach lesson reports page Carlo progress indicated has not yet started.

### Expected behavior
The learner lessons progress should automatically updated at the coach lesson reports page.

### Errors and logs
![screen

[2019-02-15 15:07] adamchainz opened #5071 "Use Whitenoise for Django?"
### Observed behavior

On `kolibri start`, Django's `collectstatic` is run, copying all the assets into the user's home folder.

### Expected behavior

Using Whitenoise for Django would allow the assets to be served directly by Django with surprisingly little overhead.

### User-facing consequences

Files are unnecessarily duplicated on the server's hard drive on startup.

### Errors and logs

[co

[2019-02-15 16:25] rtibbles commented on #5071
Interesting - we currently use cherrypy for our static file serving in production, and have seen a few issues with it, so this would be interesting to explore.

A quick read of the documentation leads me to believe that whitenoise requires the app to be invoked via wsgi, is that accurate? If so, it might be a little tricky, as we don't currently use wsgi (although our next debian release will have

[2019-02-15 16:31] indirectlylit commented on #5068
cc @jonboiser here's the most empty state :)

[2019-02-15 16:35] navakk9 commented on #5055
@indirectlylit - Yes!

[2019-02-15 17:04] rtibbles commented on #5071
Ah, looks like I misread the docs, and we can use it just as a middleware in Django. Do you anticipate that this would be significantly faster than how we currently serve the files from CherryPy? (currently, we are willing to sacrifice a bit of startup speed in exchange for run time performance).

[2019-02-15 17:21] adamchainz commented on #5071
I don’t expect it would be faster, likely the same speed since both are
coming from python, but it would avoid the on disk duplication. White noise
makes a lot of effort to set the right caching headers too which might help
clients.

On Fri, 15 Feb 2019 at 18:04, Richard Tibbles <notifications@github.com>
wrote:

--
Adam

[2019-02-15 17:47] benjaoming commented on #5071
Thanks, it's a really interesting suggestion.

Advantage: Reduce disk duplication, faster startup (especially first launch would save a few seconds), further limit tasks delegated to CherryPy.

Disadvantage: In other setups that use Nginx for static media (and videos in `CONTENT_DIR`), we would need to re-introduce `collectstatic` at precisely the same stages (installations and upgrades) that usin

[2019-02-15 17:51] khangmach commented on #5055
sounds good

[2019-02-15 18:06] indirectlylit commented on #5070
I was not able to immediately reproduce. some questions:

1. is this specific to Safari?
2. if you refresh the report, does the progress show correctly?
3. are there any client or server errors?

[2019-02-15 18:26] jonboiser commented on #5068
This should have been fixed in #5034

[2019-02-15 18:31] indirectlylit commented on #5069
I'm not able to reproduce.

Would you mind testing again with beta6?

[2019-02-15 18:34] indirectlylit commented on #5068
@swapnil106111 mind testing in beta6?

[2019-02-15 18:34] #5068 closed, assigned to nobody

[2019-02-15 18:35] jonboiser commented on #4928
All of the bullet points in the OP should have been addressed.

[2019-02-15 18:42] indirectlylit commented on #2275
addressed in recent work

[2019-02-15 18:42] #2275 closed

[2019-02-15 18:43] indirectlylit commented on #2435
addressed in https://github.com/learningequality/kolibri/pull/3708

[2019-02-15 18:43] #2435 closed

[2019-02-15 18:44] #4329 closed, assigned to nobody

[2019-02-15 19:03] #4928 closed, assigned to jonboiser

[2019-02-15 19:20] adamchainz commented on #5071
You don't really need to use nginx for static media if you're using
whitenoise. Nginx can just proxy the django app entirely.

On Fri, 15 Feb 2019 at 18:47, Benjamin Bach <notifications@github.com>
wrote:

--
Adam

[2019-02-15 19:43] benjaoming commented on #5071
@adamchainz it's AFAIK because of video streaming.. it's not nice to entertain Python threads for this purpose.

[2019-02-15 19:44] benjaoming commented on #5071
But okay what I just said would be:

Using Whitenoise, we could stop serving our `/static` assets with Nginx and only do the videos there. Then the contemplated disadvantage would be gone.

[2019-02-15 23:57] rtibbles commented on #5014
A little confused as to why this is happening, because we already do catch any 403 errors and then redirect to the login page, but it doesn't seem to be happening right now.

[2019-02-16 00:00] rtibbles commented on #5014
Hrm, it will only redirect if it detects a change in the logged in user, which would not be the case if the browser had just been reopened, because the session would not exist at all.

[2019-02-16 01:36] indirectlylit opened #5077 "Coach tools progress bar styling follow-up"
see feedback: https://github.com/learningequality/kolibri/pull/5067#issuecomment-464258079

### Context

0.12.0 beta 6

[2019-02-16 01:49] indirectlylit opened #5078 "learner 'started' measurement is not correct on content cards when there are 0 correct answers"
### Observed behavior

correct:

incorrect:

### Expected behavior

should be started when an attempt has been made

### User-facing consequences

inconsistency

### Errors and logs

none

### Steps to reproduce

start an exercise but don't get any questions correct

### Context

0.12.0 beta 6

[2019-02-16 01:56] indirectlylit opened #5079 "'last activity' can be in the future"
### Observed behavior

Noticed that the 'last activity' column very briefly said "in 3 seconds", indicating a negative value:

![image](https://user-images.githubusercontent.com/2367265/52892752-7615ec80-314a-11e9-9cb6-bfeac5533f0b.png)

### Expected behavior

We should determine how it happened that the value went negative and prevent it.

One thing to be particularly careful of is that we're alw

[2019-02-16 07:14] nobicycle opened #5081 "Kolibri Studio - Additional Subtitle(s) Not detected."
### Expected behavior
KS subtitles show appear to be saved.

![ed1dde8c-8cee-41c4-b8a1-c4d9c284c884](https://user-images.githubusercontent.com/1372447/52896004-c77eb400-31fc-11e9-8eca-6df2ceeaf539.png)

But they don't show up after the channel is updated.

![screenshot_2019-02-16_15-14-05](https://user-images.githubusercontent.com/1372447/52896061-833fe380-31fd-11e9-8ee4-284a4a4b0979.png)
![a91dee

[2019-02-17 17:19] radinamatic opened #5082 "`Select all` checkbox label for channel (sub)topics is hidden in Chrome"
### Observed behavior

First [noticed](https://github.com/learningequality/kolibri/pull/4997#issuecomment-462197042) in #4997. (cc @rtibbles )

Label for the `Select all` checkbox for channel (sub)topics seems hidden in Chrome (displays correctly in Firefox), and it reappears when  the `overflow-x: hidden` property is unchecked.

![overflow](https://user-images.githubusercontent.com/1457929/525421

[2019-02-17 18:09] benjaoming opened #5083 "Sometimes learn tab displays "no channels""
### Observed behavior

I'm wondering if there are any issues or updates since 0.10.2 that have targeted and fixed this? I couldn't find any.

Reported issue from a user:

### Expected behavior

Should not fail like this.. either fully load the installed channels or fail with a real error, not something that says that no channels are installed?

### User-facing consequences

Users might not think K

[2019-02-18 01:36] radinamatic opened #5084 "'Ungrouped' learners when deleting groups"
### Observed behavior

Before the change of how the groups were formed, the phrase `Learners within this group will become 'Ungrouped'` during the group deletion made sense because there was a `Ungrouped` block on the groups page. However, that is not the case anymore, so this string might cause confusion.

![ubuntu 16 04 3 start running - oracle vm virtualbox_404](https://user-images.githubuserco

[2019-02-18 02:00] radinamatic opened #5085 "Missing checkbox label and alignment issue on 'Enroll learners into group'"
### Observed behavior

Vertical alignment of the `Full name` label is inconsistent with the rest of the rows.

![ubuntu 16 04 3 start running - oracle vm virtualbox_405](https://user-images.githubusercontent.com/1457929/52923355-b088b080-3327-11e9-8793-bf1c4fc46084.png)

### Expected behavior
…

### User-facing consequences
…

### Errors and logs
…

### Steps to reproduce
…

### Context
 * Kolibri

[2019-02-18 02:03] radinamatic commented on #5085
I just now realized that the `Full name` is not actually the label for the checkbox - the label should be `Select all`, and it's missing... :confused:

[2019-02-18 02:49] radinamatic opened #5086 "'Go back' from added resource to lesson could be clearer"
### Observed behavior
(back to) `Coach` is not the most precise indication, after previewing and adding resource to a lesson.
Maybe (back to) `Manage resources`...?
We already have the string, right @indirectlylit?

![ubuntu 16 04 3 start running - oracle vm virtualbox_407](https://user-images.githubusercontent.com/1457929/52924713-28f27000-332e-11e9-9af0-a6d0327c17bc.png)

### Expected behavior
C

[2019-02-18 03:37] radinamatic opened #5087 "Obsolete string in the 'Delete lesson' modal"
### Observed behavior
This one does not seem to make sense any more...?

![ubuntu 16 04 3 start running - oracle vm virtualbox_408](https://user-images.githubusercontent.com/1457929/52926535-6a871900-3336-11e9-9e54-e14ba5d3070b.png)

### Expected behavior
…

### User-facing consequences
Confusing message, no way to check _progress by Channels_ in this release.

### Errors and logs
…

### Steps to

[2019-02-18 06:11] mrpau-richard commented on #4432
Closing this, fixed in #4544

[2019-02-18 06:11] #4432 closed, assigned to mrpau-richard

[2019-02-18 09:55] mrpau-richard commented on #5070
I can also reproduced it on Firefox `62.0.3`
![screen shot 2019-02-18 at 5 51 14 pm](https://user-images.githubusercontent.com/8663934/52942399-e53b4d00-33a5-11e9-8566-77cc8e2c9ed0.png)

Yes, the learner progress will update correctly

I have these browser errors on Safari 11.0.3
![screen shot 2019-02-18 at 5 36 11 pm](https://user-images.githubusercontent.com/8663934/52942033-11a29980-33a5-11e9-9

[2019-02-18 11:25] swapnil106111 opened #5088 "Learn tab when no content."
### Observed behavior
It shows error when there is no channel imported in the kolibri

### Expected behavior
It must show there is no error kind of error.

### Steps to reproduce
1. Go to the learn tab when there is no channel imported in the system.

### Context

 * Kolibri version : Kolibri 0.12.0b4
 * Operating system : ubuntu 14.04
 * Browser : Chrome

### Screenshots
![1](https://user-images.

[2019-02-18 11:41] swapnil106111 opened #5089 "On Profile page, there is no error when trying to change username to one that already is used"
### Observed behavior
When facility Allow learners and coaches to edit their username is checked. Learner is able to change the username but when it change it with existing username, it must show a error.

### Expected behavior
It must show a error when we are changing username with existing username.

### Steps to reproduce
1. Login with learner.
2. Go to the profile.
3. Change the username with

[2019-02-18 11:44] swapnil106111 opened #5090 "Explore without login without content shows error."
### Observed behavior
It is showing error when there is no content in the system and trying to click on Explore without login.

### Expected behavior
It must show a notification like "You have no content imported".

### Steps to reproduce
1. Click on Explore without login when there is no channel imported.

### Context
 * Kolibri version : Kolibri 0.12.0b4
 * Operating system : Ubuntu 14.04
 * Bro

[2019-02-18 11:49] mrpau-richard opened #5091 "Sourcemap file paths incorrect on Safari 11.0.3"
### Observed behavior
I have these console errors on Safari 11.0.3
[code]
These errors showing on Learn, Coach and Facility pages

### Expected behavior
Should fix those Safari console errors.

### Errors and logs
![screen shot 2019-02-18 at 7 41 16 pm](https://user-images.githubusercontent.com/8663934/52948853-a01f1700-33b5-11e9-9a0f-3515d7070207.png)

### Context
 * Kolibri version: 0.12-beta7

[2019-02-18 11:53] swapnil106111 commented on #5089
Same issue arising when login with admin account and trying to change the username with existing username.

[2019-02-18 12:30] swapnil106111 commented on #5088
It is showing same error when there is channel imported in the system.
We have installed a pex of version Kolibri 0.12.0b4.

[2019-02-18 23:59] #4855 closed, assigned to nobody

[2019-02-19 00:00] indirectlylit commented on #4846
@jonboiser I think you fixed this, correct?

[2019-02-19 00:04] indirectlylit commented on #4641
reported again in #5011

[2019-02-19 00:04] indirectlylit commented on #5011
dupe: #4641

[2019-02-19 00:04] #5011 closed, assigned to nobody

[2019-02-19 00:07] indirectlylit commented on #4633
this has been addressed

[2019-02-19 00:07] #4633 closed, assigned to nobody

[2019-02-19 00:08] indirectlylit commented on #4420
@rtibbles is this still extant given your recent work?

[2019-02-19 00:11] indirectlylit commented on #3989
closing - please re-open if you see it again

[2019-02-19 00:11] #3989 closed, assigned to nobody

[2019-02-19 00:12] indirectlylit commented on #3874
@rtibbles I believe you may have worked on this recently?

[2019-02-19 00:14] indirectlylit commented on #2541
closing - let's re-open if we see it again

[2019-02-19 00:14] #2541 closed

[2019-02-19 00:28] radinamatic commented on #4641
Not sure if it's related, but encountered a similar flicker with video player while testing beta7 in Chrome on Ubuntu 16.04 (no flicker in Firefox).

![flicker-video-player](https://user-images.githubusercontent.com/1457929/52982238-46cedc00-33e5-11e9-8c4f-a4e49b57d463.gif)

[2019-02-19 05:28] swapnil106111 commented on #5090
After restarting the server, everything is working fine.

[2019-02-19 05:28] swapnil106111 commented on #5088
After restarting the server, everything is working fine.

[2019-02-19 05:43] indirectlylit commented on #4948
possibly related? https://github.com/learningequality/studio/issues/1261

[2019-02-19 05:48] indirectlylit commented on #5083
sounds like either the clients had some info cached and weren't actually hitting the server, or they've somehow got multiple installations of kolibri running concurrently?

[2019-02-19 05:56] indirectlylit commented on #5070
looks like the errors are from adding source maps - refs #4983

[2019-02-19 05:58] indirectlylit commented on #5070
(the map errors are the  same as https://github.com/learningequality/kolibri/issues/5091)

[2019-02-19 05:59] indirectlylit commented on #5091
possibly a packaging issue - source maps maybe not being bundled?

[2019-02-19 06:00] indirectlylit commented on #5087
lowered to 'important' - critical is reserved for the hopelessly broken

[2019-02-19 06:03] indirectlylit commented on #5084
agreed

[2019-02-19 06:05] radinamatic commented on #5087
Agreed, this is not _hopeless_... :slightly_smiling_face:

[2019-02-19 06:21] swapnil106111 opened #5094 "issues loading exercises and playing audio in Maharashtra State content channel"
### Observed behavior
While playing videos on kolibri, there is no sound.

Also exercises are not loading:

* Channel ID : 8fc515793aad4e52b490b03c48ad21de
* Path : Maharashtra State Class 3 to 9 (English) -> BalBharati -> 3 - >1 Introduction to Geometrical Figures ->KA Resources -> Revision ->Name shapes 1

### Expected behavior
There must be a sound for a video and exercises must load.

### Step

[2019-02-19 06:23] swapnil106111 opened #5095 "Questions not loading for KA content."
### Observed behavior
No question content is loading  for KA content but showing for magogenie.

### Expected behavior
It must show content for all content provider.

### Steps to reproduce
1. Solve KA exercise.

### Context
 * Kolibri version : Kolibri 0.12.0b4
 * Operating system : Ubuntu 14.04
 * Browser : Chrome

### Screenshot
![1](https://user-images.githubusercontent.com/12776071/52994422-7

[2019-02-19 06:45] swapnil106111 opened #5096 "proper handling of lesson with no resources"
### Observed behavior
Able to create a lesson without resources. Coach user must not able to create a lesson without resource.
When you create a lesson without resource, it will show you a completed by 2 of 2 in report.

### Steps to reproduce
1. Create lesson without resource and active the lesson.
2. and see report for the lesson.

### Context
 * Kolibri version : Kolibri 0.12.0b4
 * Operating s

[2019-02-19 06:55] khangmach commented on #5084
Let's axe the string! Also...should we think about introducing character limits? Or do you think that would hinder translations?

[2019-02-19 07:03] radinamatic commented on #5084
Actually, that was _under_ the limit... :joy:
I was testing if the field limit validation works, but I agree that 50 chars might be too long.

[2019-02-19 08:03] swapnil106111 commented on #4636
@rtibbles Same issue appearing for multiple choice questions in the Kolibri 0.12.0b4.

[2019-02-19 10:43] swapnil106111 opened #5097 "No content available after pressing back button in exam."
### Observed behavior
After submitting the exam, press back button of the chrome. You will see "No content channels available".

Please see screenshots for more info.

### Steps to reproduce
1. Create the exam.
2. Submit the exam.
3. After submitting the exam, press back button of the chrome and see the behaviour of the kolibri.

### Context
 * Kolibri version :  Kolibri 0.12.0b4
 * Operating syst

[2019-02-19 10:51] swapnil106111 opened #5098 "View button is not working while creating quiz."
### Observed behavior
While creating exam, there is a view button on resource.But it is not working.

### Expected behavior
According name of button, it must show a content of the resource.

### Steps to reproduce
1. Create quiz and click on view button of the exercise resource.

### Context
 * Kolibri version :  Kolibri 0.12.0b4
 * Operating system : Ubuntu 14.04
 * Browser : Chrome

### Screensh

[2019-02-19 11:49] mrpau-julius opened #5099 "exercise file has error in Learners report"
### Observed behavior

This error occurs when I create a lesson and have an exercise file. After that, I go to Report page at Learner report and check the individual report of learners.

![error_at_learners_report](https://user-images.githubusercontent.com/38421180/53012123-15a1ea80-347d-11e9-87e6-e887189ce150.png)

Even the learners not begin, there is already answered.
![screenshot from 2019-02-

[2019-02-19 18:23] jonboiser commented on #4846
It's partially fixed, but pretty naïve. It just looks to see what set of resources or statuses are represented in the list, but does not smartly update the filters as they are applied. E.g. if you have a completed lesson and a started video, you will get all of the filters: completed, started, lesson, and video, even if you don't have a completed video.

[2019-02-19 18:23] ralphiee22 commented on #5088
Was unable to reproduce using beta7 pex, upon going through the setup wizard. Using OSX and chrome.

[2019-02-19 18:37] jonboiser commented on #5098
@swapnil106111 	Does clicking the card still work? Clicking "view" is supposed to expand the description of the exercise if it is long, but this one does not have one (so there should be no "view" button".

[2019-02-19 18:38] jonboiser commented on #5098
To fix this issue, remove the "View" button when there is no description at all.

[2019-02-19 18:45] jonboiser commented on #5097
I think this is the line causing https://github.com/learningequality/kolibri/blob/8b380275b72f0471bef89ef0d3705fa9ea348cd7/kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js#L47-L50

What does that else-if branch mean?

I think the solution to this issue is to have a better Page explaining that you can't work on a closed exam.

[2019-02-19 18:51] jonboiser commented on #5085
Would tooltip saying "select all" over the first checkbox be acceptable? Having a displayed label would widen the first checkbox column. And we still need that "full name" header for the second column.

[2019-02-19 19:26] indirectlylit commented on #5088
@swapnil106111 if you can provide us with steps to repro we'll follow up

[2019-02-19 19:29] #4969 closed, assigned to rtibbles

[2019-02-19 19:52] indirectlylit commented on #5032
Plan is to change the definition of 'started' for exercises to mean there's been at least one attempt.

This definition should be applied to both coach and learner views

[2019-02-19 19:53] rtibbles commented on #4636
As noted above, this is an upstream issue with Khan Academy's exercise renderer.

[2019-02-19 20:06] jonboiser commented on #5085
We could remove "full name" and leave it implied (like the "topic/content" header is implied in the content import/export listing) and use that space for "select all"

[2019-02-19 20:48] rtibbles commented on #4420
I think this should now be addressed yes.

[2019-02-19 20:48] #4420 closed, assigned to nobody

[2019-02-19 20:49] rtibbles commented on #3874
This should now return a more semantic 404, yes.

[2019-02-19 20:49] #3874 closed, assigned to nobody

[2019-02-19 20:51] rtibbles commented on #5091
This appears to be a path issue - it is not fetching them from the location I would expect.

[2019-02-19 22:32] khangmach commented on #4747
Thank you for bringing up this concern, @radinamatic. I took your suggested wording and simplified it a bit. I opted to simplify due to the fact that when signed in as a new super admin, the user lands in the device tab anyways.

<img width="1179" alt="screen shot 2019-02-19 at 2 32 25 pm" src="https://user-images.githubusercontent.com/25045166/53052291-276e9800-3453-11e9-9a7e-c247cff72f6e.png">

[2019-02-19 22:46] khangmach commented on #4701
@indirectlylit One thing we can do is reuse the unknown error interface and update the messaging. A few notes I was thinking of while writing this:
- A learner isn't guaranteed to know who their Kolibri administrator is. And any authoritative figure they would seek help from would most likely be a nearby coach.
- When prompted for help, this messaging lets the coach know that this issue could be m

[2019-02-19 22:58] jonboiser commented on #5052
On 0.12 beta 5, The links to questions are unusual. In the screenshot below, "Question 1" displays attempt for the same problem (parallelogram with some arrows) for the two users who Need Help on it.

However, "Question 2" (correctly, I think) has "1 of 1" needs help, but the links shows attempts on what I thought was Questions 1, but the second user "learner"'s detail is a different question (gra

[2019-02-19 22:58] khangmach commented on #4450
@indirectlylit @rtibbles This already seems to be fixed in 0.12 beta

The strings should be updated to:
- (Lesson) A lesson with that **title** already exists
- (Quiz) A quiz with that **title** already exists

since 'title' is their official column label

[2019-02-19 23:05] radinamatic commented on #4747
Sounds like a good solution @khangmach! :+1:

[2019-02-19 23:06] khangmach opened #5101 "Quiz title validation not consistent on all stages of creation"
### Observed behavior
If I try to title a quiz the same title as another quiz that already exists, there should be consistent error validation message. This isn't the case however as it doesn't appear on step 1 of the quiz creation interface. Seen here:

<img width="748" alt="screen shot 2019-02-19 at 2 57 34 pm" src="https://user-images.githubusercontent.com/25045166/53053859-7e766c00-3457-11e9-8

[2019-02-19 23:08] khangmach commented on #4450
related: https://github.com/learningequality/kolibri/issues/5101

[2019-02-19 23:08] jonboiser commented on #5086
It's possible that it did say "Manage resources" before and might have changed in some refactoring.

[2019-02-19 23:10] radinamatic commented on #5086
Yeah, I had the same impression that was the case... Could we have it back, please? :slightly_smiling_face:

[2019-02-19 23:19] khangmach commented on #5049
Before we write any Gherkins, let's go over some resolutions to this that seem natural. Some of my thoughts on the these scenarios:

**1. Contents get deleted while user *is* taking the quiz**
Since there technically isn't a quiz anymore to take...Once contents get deleted, it makes the most sense to me if we do a redirect back to their class page (learn/#/classes/ID) either automatically (prefera

[2019-02-19 23:26] khangmach commented on #4747
UPDATE: I think "Permission update" would be more suitable than "Permission change"

[2019-02-19 23:27] khangmach commented on #4747
since the change can't be anything but an update

[2019-02-20 00:03] jonboiser commented on #5052
But when I log back in later, the difficult questions reports behave like I expected (e.g. question 2 only has details for "learner" on the "ray" question)

[2019-02-20 00:03] rtibbles commented on #5052
I think I am fixing most of the issues identified here, so assigning in lieu of the other issues being created.

[2019-02-20 00:03] rtibbles commented on #5052
@jonboiser I think there is an issue with the state persisting between different pages of the difficult question views. I am actively working on these issues, will try to open a PR tomorrow!

[2019-02-20 00:57] khangmach commented on #4972
Some initial thoughts:
- Instilling a sense of accomplishment is important, especially in the Learn tab which could use more positive reinforcement and encouragement.
- I think an option to redirect a learner to a lesson overview, rather than the class home, has it's subtle, quality of life benefits...as learners can see all their completion stars and resources finished, of course. Contrast this t

[2019-02-20 01:09] jonboiser opened #5103 "On (at least) one modal, dismissing with enter keypress causes it to come back"
### Observed behavior

This was seen with the privacy modal, and is in other places now:

1. Facility > Class Details > Rename Class
1. Privacy link on sign-in page
1. Privacy link on sign-up page
1. Profile page, change password modal
1. "Change" status button for Lessons

It seems to be for the same reasons as #4973 (privacy modal), the "Edit" button maintains focus while the modal is on, so it

[2019-02-20 01:27] jonboiser opened #5104 "Disabled buttons aren't styled with the lighter color"
### Observed behavior

Buttons that are disabled by the UI should be a little bit lighter than the purple primary that is used for enabled buttons.

Example from Select Network Address modal (there are no network locations and "Continue" is disabled)

![screen shot 2019-02-19 at 5 26 38 pm](https://user-images.githubusercontent.com/10248067/53059395-88a26580-346b-11e9-9000-703486b391e7.png)

### E

[2019-02-20 01:42] jonboiser opened #5105 "In Learn, a topic is "completed" when it is not really"
### Observed behavior

Notice that the topic has the "completed" star, but not all of it's sub topics are completed

![screen shot 2019-02-19 at 5 41 35 pm](https://user-images.githubusercontent.com/10248067/53059970-ad97d800-346d-11e9-8722-014c2c6b66fe.png)

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-02-20 01:43] jonboiser commented on #5105
I went back to the topic, and the icons are behaving as expected. Might be a state-pollution issue.

[2019-02-20 01:45] jonboiser commented on #5105
Found the converse issue. Topic should be complete. NOt sure how to reproduce this. The mismatch in this screenshot seems persistent though.

![screen shot 2019-02-19 at 5 44 52 pm](https://user-images.githubusercontent.com/10248067/53060098-167f5000-346e-11e9-93b3-70a623731100.png)

[2019-02-20 01:51] jonboiser opened #5106 "Tooltips in CoreTable headers can get cut off at box boundary"
### Observed behavior

CSS rules for CoreBase th/tds have an overflow hidden rule that cuts horizontal overflows off

![screen shot 2019-02-19 at 5 49 59 pm](https://user-images.githubusercontent.com/10248067/53060307-da98ba80-346e-11e9-8d4b-9a10e40ae39f.png)

![screen shot 2019-02-19 at 5 51 49 pm](https://user-images.githubusercontent.com/10248067/53060352-103da380-346f-11e9-8848-7b460da7e31a.pn

[2019-02-20 05:54] swapnil106111 commented on #5088
@indirectlylit After installing a pex of kolibri 0.12.0b4, we faced this issue. But after restarting the server this issue gets resolved.

We did not see such behaviour for debian installer.

[2019-02-20 06:15] swapnil106111 opened #5107 "0 of 0 have started showing in class home quiz."
### Observed behavior
There are two learner in the class but instead of submitting quiz by one learner it shows 0 of 0 have started in class home.

### Steps to reproduce
1. Assign a quiz to the class.
2. Submit the exam.
3. See the result in the class home in coach tab.

### Context
 * Kolibri version : Kolibri 0.12.0b4
 * Operating system : Ubuntu 14.04
 * Browser : Chrome

### Screenshot
![1](h

[2019-02-20 07:07] swapnil106111 opened #5108 "Activity tab in learner tab in coach report does not list activity"
### Observed behavior
Activity tab under the learners in coach report shows nothing for a learner.

### Expected behavior
It must show a activities in activity tab.

### Steps to reproduce
1. Submit quiz, lesson and go to the coach report in learner tab for perticular user and see the behaviour.

### Context
 * Kolibri version : Kolibri 0.12.0b4
 * Operating system : Ubuntu 14.04
 * Browser : Chro

[2019-02-20 09:35] mrpau-richard opened #5109 "Videos are not working on Safari 11.0.3"
### Observed behavior
I can't play videos on Safari 11.0.3

![screen shot 2019-02-20 at 5 28 16 pm](https://user-images.githubusercontent.com/8663934/53081352-a63c0180-3535-11e9-8b58-8c5aad3d67a6.png)

### Errors and logs

[code]

### Context

Tell us about your environment, including:
 * Kolibri version: 0.12-beta7
 * Operating system: macOS 11.13.3
 * Browser: Safari 11.0.3

[2019-02-20 09:52] swapnil106111 opened #5110 "Lesson report for learner"
### Observed behavior
Create a lesson and activate it. Without solving, when we go to the reports lessons tab. After clicking on lesson. click on learner tab and click on any learner and then click on lesson exercise. It will not load a page.

### Expected behavior
It must load a page.

### Steps to reproduce
1. Create lesson.
2. Go to report.
3. Click on lesson and click on learner tab.
4. Click

[2019-02-20 10:12] mrpau-julius commented on #5109
Also on Windows 10 chrome version 72.0.3636.109(official build)(64-bit), the videos are not working.
![video not working on chrome](https://user-images.githubusercontent.com/38421180/53083912-bd312280-353a-11e9-9298-18f1ce85e179.png)

[2019-02-20 10:46] swapnil106111 opened #5111 "Lesson report for group."
### Observed behavior
When we are clicking on lesson report for groups, it does not load any page.

### Expected behavior
It must load a page.

### Steps to reproduce
1. Assign a lesson.
2. go to coach report  and click on groups.
3. Click on group name and click on exercise and see behaviour.

### Context
 * Kolibri version : Kolibri 0.12.0b4
 * Operating system : Ubuntu 14.04
 * Browser : Chrome

[2019-02-20 11:05] swapnil106111 opened #5112 "Acivity tab in group report."
### Observed behavior
Activity tab in groups is not showing anything.

### Expected behavior
It must show activity in activity tab.

### Steps to reproduce
1. Create lesson.
2. Click on report.
3. Click on groups.
4. Click on group name.
5. Click on Activity tab.

### Context
 * Kolibri version : Kolibri 0.12.0b4
 * Operating system : Ubuntu 14.04
 * Browser : Chrome

### Screenshot
![1](https://u

[2019-02-20 11:27] swapnil106111 opened #5113 "Class activity shows nothing."
### Observed behavior
We have observed that class activity shows nothing in class home everytime.

### Expected behavior
It must show class activity.

### Steps to reproduce
1. Click on Class Home in coach report.

### Context:
 * Kolibri version : Kolibri 0.12.0b4
 * Operating system : Ubuntu 14.04
 * Browser : Chrome

### Screenshot
![1](https://user-images.githubusercontent.com/12776071/5308871

[2019-02-20 15:41] indirectlylit commented on #5029
see also quiz creation, e.g. in the Blended Learning channel:

[2019-02-20 15:54] indirectlylit commented on #5085
I don't think we should remove the header completely, but rather make it visually hidden so that screen readers still read it.

I'm pushing a change to also fix the layout so the checkbox label doesn't wrap to two lines:

[2019-02-20 16:02] indirectlylit commented on #4825
fixed when #5100 is merged

[2019-02-20 16:02] #4825 closed, assigned to jonboiser

[2019-02-20 16:03] indirectlylit commented on #5087
fixed when #5100 and https://github.com/jonboiser/kolibri/pull/4 are merged

[2019-02-20 16:03] indirectlylit commented on #5085
fixed when #5100 and [jonboiser#4](https://github.com/jonboiser/kolibri/pull/4) are merged

[2019-02-20 16:03] #5085 closed, assigned to jonboiser

[2019-02-20 16:03] indirectlylit commented on #5084
fixed when #5100 is merged

[2019-02-20 16:03] #5084 closed, assigned to jonboiser

[2019-02-20 16:03] indirectlylit commented on #5098
fixed when #5100 is merged

[2019-02-20 16:03] #5098 closed, assigned to jonboiser

[2019-02-20 16:07] indirectlylit commented on #5082
fixed when #5100 is merged

[2019-02-20 16:07] #5082 closed, assigned to jonboiser

[2019-02-20 16:07] indirectlylit commented on #5055
fixed when #5100 is merged

[2019-02-20 16:07] #5055 closed, assigned to jonboiser

[2019-02-20 16:07] indirectlylit commented on #5086
fixed when #5100 is merged

[2019-02-20 16:07] #5086 closed, assigned to jonboiser

[2019-02-20 16:17] indirectlylit commented on #5094
cannot reproduce.

please include any errors and the specific content you're having trouble with

[2019-02-20 16:20] indirectlylit commented on #5094
also please test with [beta 7](https://github.com/learningequality/kolibri/releases/tag/v0.12.0-beta7)

[2019-02-20 16:20] indirectlylit commented on #5095
please test with [beta 7](https://github.com/learningequality/kolibri/releases/tag/v0.12.0-beta7)

[2019-02-20 16:25] indirectlylit commented on #5096
Currently, being able to create a lesson without resources is by design because lessons use an 'auto-save' functionality. This is different from quizzes which has an explicit 'save' step. We may revisit this in the future, but that's a separate issue. (cc @khangmach @jtamiace)

However, there are two things we should do:

1. make sure that empty lessons don't show up for learners
2. either hide em

[2019-02-20 16:33] indirectlylit commented on #5099
This should be addressed by the work @ralphiee22 is doing in #5032

[2019-02-20 16:35] indirectlylit commented on #4846
okay cool – will leave this open for future improvements

[2019-02-20 16:47] indirectlylit opened #5114 "exams and quizzes with missing content are broken for learners"
### Observed behavior

Is this a regression? I thought we tested it in #4839 (cc @ralphiee22 @rtibbles)

**Lesson:**

**quiz:**

### Expected behavior

Lessons and quizzes with missing content should be handled more elegantly:

Recommendation:

* For lessons, we should hide individual content items from the lesson list that are not available, since the lesson is still potentially useful
* For quiz

[2019-02-20 16:51] indirectlylit commented on #5097
Since the report is available as soon as the exam is closed, I think we should redirect them to the report page.

Perhaps more elegantly, the report and exam could share the same URL and display differently depending on whether the learner has submitted it

[2019-02-20 16:54] indirectlylit commented on #4701
that looks good

not sure why 'log out' would be the call to action though

[2019-02-20 16:56] indirectlylit commented on #4450
ah good find. we had a dupe here #4626 and it was addressed in #4777

[2019-02-20 16:57] #4450 closed, assigned to nobody

[2019-02-20 16:58] indirectlylit commented on #5101
related: https://github.com/learningequality/kolibri/pull/4777 (cc @ralphiee22)

I don't think this is critical for 0.12 because it at least warns before you create, right?

[2019-02-20 16:59] indirectlylit commented on #5114
whoops - didn't realize I filed this last week!

https://github.com/learningequality/kolibri/issues/5049

[2019-02-20 16:59] #5114 closed, assigned to nobody

[2019-02-20 17:03] indirectlylit commented on #5049
expanded the scope of this issue to cover lessons also.

recommendations:

* For lessons, we should hide individual content items from the lesson list that are not available, since the lesson is still potentially useful
* For quizzes, we hide the quiz as @khangmach said above.

For now I don't think we need to worry about handling the case that content is deleted while a user is interacting with i

[2019-02-20 17:06] indirectlylit commented on #5091
This does not appear to have user-facing consequences.

(@mrpau-richard FYI, rather than deleting the 'user-facing consequences' section of the issue template, it's helpful to explicitly say whether or not there are any)

[2019-02-20 17:09] indirectlylit commented on #5103
iiinteresting

[2019-02-20 17:36] indirectlylit commented on #5105
cc @ralphiee22 I know you're looking at this stuff... maybe you'll be able to shed some light eventually

[2019-02-20 17:37] indirectlylit commented on #5088
okay - if you see it again, please let us know

[2019-02-20 17:37] #5088 closed, assigned to nobody

[2019-02-20 17:38] indirectlylit commented on #5107
please test again in beta 7

[2019-02-20 17:38] ralphiee22 commented on #5101
Validation only happens on submit events.
So the desired behavior is validation as you type?

[2019-02-20 17:42] indirectlylit commented on #5108
please test again in beta 7

[2019-02-20 17:44] indirectlylit commented on #5110
thanks for the report!

duplicate of #5099, and also related to #5032

[2019-02-20 17:44] #5110 closed, assigned to nobody

[2019-02-20 17:50] indirectlylit commented on #5111
I can reproduce this in the latest beta.

My guess is that it's probably happening on items with no progress, so it's sort of the 'group' version of #5099 and relates to #5032

[2019-02-20 17:51] indirectlylit commented on #5112
please test in the latest beta

[2019-02-20 17:51] indirectlylit commented on #5113
please test in the latest beta

[2019-02-20 17:52] indirectlylit commented on #5101
great point - thanks

[2019-02-20 17:52] #5101 closed, assigned to nobody

[2019-02-20 17:54] indirectlylit commented on #5109
does this happen with all videos or just some?

[2019-02-20 18:35] khangmach commented on #4701
![update](https://user-images.githubusercontent.com/25045166/53115535-4cb6e100-34fb-11e9-8d90-29731038c42d.png)
:)

[2019-02-20 18:37] khangmach commented on #4701
@radinamatic is it "doesn't seem" or "don't seem"? I'm confusing myself hahaha

[2019-02-20 18:44] khangmach commented on #5096
We can also disable the 'change' link on the lesson details page, then re-enable it when they have at least one resource

[2019-02-20 18:50] khangmach commented on #4466
this seems taken care of with the recent page title update, where we used breadcrumbs

[2019-02-20 18:56] jonboiser commented on #4466
Not on all the pages. I think the page names on the Facility page can still be improved.

[2019-02-20 19:26] radinamatic commented on #4701
You and me both, and we [don't seem to be alone](https://english.stackexchange.com/questions/137267/there-doesnt-seem-vs-there-dont-seem)... 😂

How about `There seem to be no resources on this device`?
(It also sounds easier to translate to me)

[2019-02-20 19:27] jonboiser opened #5117 "Facility name is missing on the Facility Settings page"
### Observed behavior
The name should be under the "Facility" header, and the `facilityConfig` module is not set at all in the DevTools. (Changing and saving settings still works, though)

![screen shot 2019-02-20 at 11 24 33 am](https://user-images.githubusercontent.com/10248067/53118527-2779a100-3502-11e9-8fb7-b5feee9ee6d7.png)

Devtools

![screen shot 2019-02-20 at 11 25 54 am](https://user-ima

[2019-02-20 19:31] khangmach commented on #4701
Let's do that.
Final verbiage:
**There seem to be no resources on this device**. Please contact your coach or administrator for help

[2019-02-20 19:41] jonboiser opened #5118 "Very long full names (or other strings) not truncated in fixed-width columns"
### Observed behavior

For example, in Facility > Classes > Edit Class, the full name cell for a 100+character name actually just extends into the other columns (see the blue highlight in the screenshot), but is hidden behind those columns. I'm sure other tables probably have this issue

![screen shot 2019-02-20 at 11 38 06 am](https://user-images.githubusercontent.com/10248067/53119399-3feabb00-3

[2019-02-20 20:04] jonboiser opened #5119 "Apply header-icon pairings consistently throughout pages"
### Observed behavior
On the username in Exam Reports
<img width="688" alt="Screen Shot 2019-05-13 at 2 54 52 PM" src="https://user-images.githubusercontent.com/10248067/57657091-21d6a900-758f-11e9-9d01-085bff793723.png">

On the class name in Coach Homepage

<img width="555" alt="Screen Shot 2019-05-13 at 2 53 52 PM" src="https://user-images.githubusercontent.com/10248067/57657036-f5bb2800-758e-1

[2019-02-20 20:07] jonboiser commented on #2279
We reopened this because the `-webkit-overflow-scrolling :touch` rule interacts with the "scrolling pane" CSS or code to make the App Bar unusable on iOS, so it was removed in #5100.

[2019-02-20 20:16] khangmach commented on #4426
hey @radinamatic

finally addressing this issue lol. There are a few issues with the approach of [cancel][save changes].
In a scenario where that modal pops up for the user's attention, the user is reminded of their form actions and can:
1. Decide to save their changes based on the reminder
2. Cancel, which I assume closes the modal (this is ambiguous)
3. Want to stay on the page and continue to a

[2019-02-20 20:18] khangmach commented on #4426
ux stackexchange article for reference: https://ux.stackexchange.com/questions/83535/should-an-unsaved-changes-dialog-in-a-web-app-contain-a-save-option

[2019-02-20 20:23] #5087 closed, assigned to jonboiser

[2019-02-20 22:06] khangmach commented on #4530
@indirectlylit @ivanistheone I don't think we'll need to commit to anything fancy -- the defaults and breakpoints function well to me. I like you suggestion to keep the buttons just textbuttons. We can develop some custom iconography when the time comes. Here's an example mock:

Notes:
- Epub is still defaulted to double page layout on load
- Transition to single page layout on smaller breakpoints

[2019-02-20 22:12] khangmach opened #5120 "Text-button hover state changes the epub theme colors"
### Observed behavior
Hovering or mousing over an epub theme color causes it to change color to the hover grey color. See screenshots below:

**BEFORE (beige, 2nd color)**
<img width="291" alt="screen shot 2019-02-20 at 10 56 51 am" src="https://user-images.githubusercontent.com/25045166/53128341-81399580-3519-11e9-8a97-606f40f90804.png">

**DURING HOVER**
<img width="287" alt="screen shot 2019-02

[2019-02-20 22:27] indirectlylit commented on #5117
I'm going to take this out of 0.12 since multiple facilities are still a very uncommon case

[2019-02-20 22:31] indirectlylit commented on #4701
was it the coach/learner distinction that's leading you to hedge it?

if the user is a coach or above, we could just say "There are no resources on this device". for learners it's a little less certain because there may be coach content but not learner content.

[2019-02-20 22:47] khangmach commented on #5024
I like this a lot and am on board with placing username under fullname as opposed to its own column. Helps make a clear differentiation between name and the more abstract and fluid username.

However, in your implementation above I think it's much more difficult to:
- scan for role label (super admin/admin/fac. coach/coach) which should be of high value when you're looking for people of specific r

[2019-02-20 22:52] indirectlylit commented on #4426
this is a bit subtle on both the ux and technical side...

**Technical challenge:**

there are two kinds of 'navigating away', one which keeps you within the JS app, and another which goes to a new page on the server. The distinction is meaningless to the user, but for us it means we won't be able to use a standard kolibri modal in some cases, and would need to use the [browser native alert like t

[2019-02-20 22:59] indirectlylit commented on #5024
yeah makes sense. another dimension to possibly play with is the icon... we do this in facility class management:

and we do this in device permission management:

so maybe there's some kind of consistent role-based iconography we could establish that would negate the need for an additional column

[2019-02-20 23:04] khangmach commented on #5024
example

![table](https://user-images.githubusercontent.com/25045166/53131161-ddec7e80-3520-11e9-9938-501840549685.png)

[2019-02-21 00:18] khangmach commented on #4701
hmm. I think the messaging can be the same, because learners shouldn't know coach resources really even exist, much less be expected to care about it

[2019-02-21 00:39] khangmach commented on #5024
Yeah, it's a bit of a tricky problem because we strictly use google material icons, but I don't see much issue in swapping a user icon for a key/coach icon. We still convey the concept of "what is a user, and what info is associated with a user" very clearly (albeit repetitively) through tables throughout the app anyways.

[2019-02-21 00:42] khangmach commented on #4426
I'll add a trello todo card for establishing some kind of convention for 'Unsaved changes'. Is it my correct understanding that we'd only use the browser native alert for content import/facility settings and not the others since they invoke the server in some way?

[2019-02-21 00:47] #5097 closed, assigned to jonboiser

[2019-02-21 00:50] indirectlylit commented on #4426
no it's more subtle than that. Basically it would be any time we navigate across "apps" - e.g. from Learn to Coach, or from Coach to www.google.com

[2019-02-21 00:55] indirectlylit commented on #5024
just an idea:

[2019-02-21 01:02] indirectlylit commented on #5077
another issue - overlap between red and blue:

We've also observed bars that should have been at 100% not going all the way to the end, which might be related

[2019-02-21 01:05] khangmach commented on #5024
that works to me 👀 thoughts @jtamiace ?

[2019-02-21 01:45] indirectlylit commented on #5079
let's just check for worst-case scenario

[2019-02-21 01:57] indirectlylit commented on #5078
@ralphiee22 does this touch on the work that you're doing?

[2019-02-21 02:00] indirectlylit commented on #5109
might relate to cherrypy config

[2019-02-21 05:58] mrpau-richard commented on #5109
On Safari all videos can't play.
I also tested those videos on Firefox and it play properly with no console errors.

[2019-02-21 07:42] mrpau-julius commented on #5113
Also in Kolibri latest beta version 7 & 8, class activity are empty and not automatically notify.
* Browser : Firefox 65.0(64-bit)
![screenshot from 2019-02-21 15 25 11](https://user-images.githubusercontent.com/38421180/53151292-cdeea080-35ed-11e9-9615-1298a55908fa.png)

[2019-02-21 08:03] mrpau-richard commented on #5113
Same issue on Safari 11.0.3 using Kolibri beta7
![screen shot 2019-02-21 at 4 02 19 pm](https://user-images.githubusercontent.com/8663934/53153049-2c1d8280-35f2-11e9-8b8f-bdc95d6991ee.png)

[2019-02-21 09:18] swapnil106111 commented on #5036
@benjaoming Able to install kolibri 0.12.0b8 using deb file on ubuntu 14.04.

[2019-02-21 09:23] swapnil106111 commented on #5068
@indirectlylit Tested in kolibri 0.12.0b8. This issue resolved.
![1](https://user-images.githubusercontent.com/12776071/53157849-641fc800-35e8-11e9-9730-e7834236e4ef.png)

[2019-02-21 09:30] swapnil106111 commented on #5090
Tested on Kolibri 0.12.0b8. Working as expected.

![1](https://user-images.githubusercontent.com/12776071/53158364-6898b080-35e9-11e9-9036-862a786fef54.png)

[2019-02-21 09:32] swapnil106111 commented on #5088
@indirectlylit Tested on kolibri 0.12.0b8. Working as expected.

![1](https://user-images.githubusercontent.com/12776071/53158476-af86a600-35e9-11e9-84d9-c647de17946e.png)

[2019-02-21 10:15] swapnil106111 opened #5125 "Exam report for learner when no content."
### Observed behavior
When learner gives assigned exam and then submit it. After that, we have deleted a channel on which we have created exam. When learner try to click on submitted exam after deleting the channel, it will open blank page.

### Expected behavior
It must handle such situation.

### Steps to reproduce
1. Create exam on a channel.
2. Submit the exam with learner account.
3. Then del

[2019-02-21 12:34] mrpau-richard opened #5126 "Facility coach can be a learner on its own class"
### Observed behavior
Using a super admin account I can assign and enrol a Facility coach on both coaches and Learners in the same class.

### Errors and logs
![screen shot 2019-02-21 at 8 23 25 pm](https://user-images.githubusercontent.com/8663934/53169254-af9d9a80-3617-11e9-896f-e100734838b0.png)

### Context

Tell us about your environment, including:
 * Kolibri version: kolibri-0.12.0-Beta8
 *

[2019-02-21 12:37] swapnil106111 commented on #5052
@rtibbles Same we are facing in Kolibri 0.12.0b4.

[2019-02-21 13:00] mrpau-richard opened #5128 "Lesson with no resources will marked as completed at the class home page"
### Observed behavior
Lesson with no resources will marked as completed at the class home page

### Errors and logs
![screen shot 2019-02-21 at 8 55 44 pm](https://user-images.githubusercontent.com/8663934/53170663-a31b4100-361b-11e9-91c6-bc82616b9b2c.png)
![screen shot 2019-02-21 at 8 56 06 pm](https://user-images.githubusercontent.com/8663934/53170681-add5d600-361b-11e9-82b0-6cf8afc8abd0.png)

#

[2019-02-21 16:18] indirectlylit commented on #5125
thanks @swapnil106111

cc @jonboiser - this 'report' case should be covered under #5049 also

[2019-02-21 16:18] #5125 closed, assigned to nobody

[2019-02-21 16:23] indirectlylit commented on #5126
this is currently by design, because there's no other way for the coach to interact with their own lessons and quizzes - see #3492

we may need to revisit this in the future, but for now it's not a bug

[2019-02-21 16:23] #5126 closed, assigned to nobody

[2019-02-21 16:27] indirectlylit commented on #5128
good catch! we have this one reported here: #5096

[2019-02-21 16:27] #5128 closed, assigned to nobody

[2019-02-21 16:34] indirectlylit commented on #5113
thank you!

I mis-tagged beta 8, but the beta 7 result is concerning

FYI beta 8b tagged here should be correct: https://github.com/learningequality/kolibri/releases/tag/v0.12.0-beta8b

[2019-02-21 17:06] #5090 closed, assigned to nobody

[2019-02-21 18:07] ralphiee22 commented on #5105
related https://github.com/learningequality/kolibri/issues/5078

[2019-02-21 18:35] jtamiace commented on #5024
Works for me too. We'll just need to find an icon for class coach with this approach (could be an unfilled version of the one above?), and facility admin (and class admin down the line if that's ever a thing)

[2019-02-21 18:55] indirectlylit commented on #5104
caused a regression:
![image](https://user-images.githubusercontent.com/2367265/53193954-22325a00-35c7-11e9-8035-0d3dfa84b139.png)

[2019-02-21 19:24] indirectlylit commented on #5024
We'll still need to put a little more thought into a couple things about context... e.g.:

* is it useful/necessary to show device permissions in all contexts?
* do we show icons for the user's role in a class, their user type, or both
* ... others?

[2019-02-22 01:51] #5032 closed, assigned to ralphiee22

[2019-02-22 01:51] #5111 closed, assigned to ralphiee22

[2019-02-22 01:51] #5099 closed, assigned to ralphiee22

[2019-02-22 01:55] indirectlylit opened #5132 "'started' icon in learner exercise header is shown too soon"
### Observed behavior

Shown  as soon as the learner opens the exercise

### Expected behavior

* should only be shown after first attempt
* follow-up from #5123
* see https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/ProgressIcon.vue#L61

### User-facing consequences

slight inconsistency

### Errors and logs

none

### Steps to reproduce

open an exercise but

[2019-02-22 01:58] indirectlylit opened #5133 "Error while viewing the difficult questions tab"
### Observed behavior

reported by @radinamatic :

Error while viewing the difficult questions tab:

![difq](https://user-images.githubusercontent.com/1457929/53212063-c8bc4080-3643-11e9-8654-faeabc689d09.gif)

And nothing available to c/p for the error details:

![2019-02-22_1-41-53](https://user-images.githubusercontent.com/1457929/53212117-f73a1b80-3643-11e9-8fd9-c5c697fd4367.png)

This is with

[2019-02-22 02:00] #5052 closed, assigned to rtibbles

[2019-02-22 02:15] radinamatic commented on #5133
### Steps to reproduce

1. Start with a fresh DB
2. Create a lesson and activate
3. Sign in as a learner, start the exercise and give an incorrect answer to a question
4. Sign in as a coach and go to *Coach > Reports > Lessons > '<lesson>' > *Difficult questions* subtab
5. Click on the question

[2019-02-22 04:53] #4790 closed, assigned to lyw07

[2019-02-22 04:56] #3309 closed

[2019-02-22 06:42] swapnil106111 commented on #5094
@indirectlylit Tested on Kolibri 0.12.0b9. Still facing same issue.

Channel ID : 8fc515793aad4e52b490b03c48ad21de

Path : Maharashtra State Class 3 to 9 (English) -> BalBharati -> 3 - >1 Introduction to Geometrical Figures ->KA Resources  -> Revision -> Cousin Fal's shape collection

[2019-02-22 06:45] swapnil106111 commented on #5095
@indirectlylit Still facing same issue on Kolibri 0.12.0b9.

Channel ID : 8fc515793aad4e52b490b03c48ad21de
Path :  Maharashtra State Class 3 to 9 (English) -> BalBharati -> 3 - >1 Introduction to Geometrical Figures ->KA Resources -> Revision ->Name shapes 1

### Screenshot
![1](https://user-images.githubusercontent.com/12776071/53224655-86265280-369b-11e9-9dff-1da0dfc400db.png)

[2019-02-22 06:48] swapnil106111 commented on #5112
@indirectlylit Tested on Kolibri 0.12.0b9. Still No activity available.

![1](https://user-images.githubusercontent.com/12776071/53224806-fb922300-369b-11e9-9b10-e71c6fecf368.png)

[2019-02-22 06:58] swapnil106111 commented on #5069
@indirectlylit Tested on Kolibri 0.12.0b9. It is working as expected.

[2019-02-22 07:36] indirectlylit commented on #5094
I can reproduce this, but only with that video - other videos play fine. When I view the video in the KA channel the audio also plays fine.

How were these videos curated?

[2019-02-22 07:42] indirectlylit commented on #5095
I'm seeing the same behavior as in https://github.com/learningequality/kolibri/issues/5094#issuecomment-466303213

I can reproduce from the Maharashtra State channel but not KA:

| Maharashtra | KA |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/53227150-4d05c800-3632-11e9-8850-b883cb3a4b6d.png) | ![image](https://user-images.githubusercontent.com/2367265/53227167-5a22b700-3

[2019-02-22 07:44] indirectlylit commented on #5069
thank you

[2019-02-22 07:44] #5069 closed, assigned to nobody

[2019-02-22 08:39] mrpau-richard opened #5137 "Channel options button empty"
### Observed behavior
Channel options button display empty during the content import.

### Expected behavior
Should display the text option button during content import.

![screen shot 2019-02-22 at 4 28 54 pm](https://user-images.githubusercontent.com/8663934/53229800-28583180-36c0-11e9-8abe-3910f24c41e7.png)

### Context

Tell us about your environment, including:
 * Kolibri version: kolibri-0.1

[2019-02-22 08:40] indirectlylit commented on #5105
see also #5132

[2019-02-22 08:41] indirectlylit commented on #4821
I haven't seen this in a while - closing

[2019-02-22 08:45] indirectlylit commented on #5137
thanks - this is documented in https://github.com/learningequality/kolibri/issues/5104#issuecomment-466121475

[2019-02-22 08:45] #5137 closed, assigned to nobody

[2019-02-22 08:48] indirectlylit commented on #5112
@jonboiser @jredrejo I think you two were working on this?

[2019-02-22 09:09] mrpau-julius opened #5138 "Super-admin-export-data.feature file need to update"
### Observed behavior

I see the download button is disabled.
In order to export the data, need to generate first before enable to click the download button.
https://github.com/learningequality/kolibri/blob/v0.12.0-beta9/integration_testing/features/super-admin/super-admin-export-data.feature

![super-user-export-data feature is need to update](https://user-images.githubusercontent.com/38421180/53

[2019-02-22 10:54] jredrejo commented on #5112
@indirectlylit  Yes, a couple of weeks ago I checked with jb the backend returned the right info. I could not reproduce the problem nor he could later, so I thought it was solved.

[2019-02-22 16:53] rtibbles commented on #5095
@swapnil106111 can you test this same question with the latest 0.9.5 beta that is being used in the field? This is looking like a content issue, rather than a Kolibri issue.

[2019-02-22 17:31] indirectlylit commented on #5112
okay I'll take a quick look today

[2019-02-22 17:33] indirectlylit commented on #5138
good catch! should I assign it to you?

[2019-02-22 22:37] #5104 closed, assigned to indirectlylit

[2019-02-22 23:20] indirectlylit opened #5142 "inner tabs are not responsive"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/53276662-eecdf900-36b4-11e9-874c-828645cf5728.png)

### Expected behavior

tabs should have a mobile form.

Horizontal scrolling like we do the top nav would be one option, but it's a bit awkward and an alternative would be to use a menu of some kind. _The top app bar tabs and these inner tabs should be consistent._

[2019-02-22 23:25] jtamiace commented on #5142
Immediate ideas that come to mind: replacing these subtabs with a dropdown menu, reducing margin/spacing between buttons

[2019-02-23 00:10] khangmach opened #5143 "Plan tab and Reports tab information architecture/page layout mismatch"
### Observed behavior
Lesson page and quiz pages in the PLAN tab don't match the information architecture and page layout seen on their counterparts over in the REPORTS tab and in the mocks.

**(in the plan tab)**
<img width="1086" alt="screen shot 2019-02-22 at 4 04 06 pm" src="https://user-images.githubusercontent.com/25045166/53277947-6a32a900-36bb-11e9-8c79-3aeef9caa53f.png">

**(in the report

[2019-02-24 02:33] #5133 closed, assigned to rtibbles

[2019-02-24 02:34] #5118 closed, assigned to nobody

[2019-02-24 02:51] indirectlylit opened #5146 "add dead-link checks to all .rst and .md pages in repo"
### Observed behavior

we occasionally have dead links in our docs and readme, and other files

see e.g. #5145

### Expected behavior

linting should catch these for us

### User-facing consequences

frustration for new devs

[2019-02-24 02:58] indirectlylit commented on #5109
@mrpau-richard mind verifying this fix using the build from #5141?

[2019-02-24 02:58] #5109 closed, assigned to nobody

[2019-02-24 05:45] indirectlylit commented on #5113
I'm still not reproducing. you're seeing this in beta 9 still on all browsers?

[2019-02-24 17:23] indirectlylit commented on #2371
todo: look into short-term possibilities for arabic and spanish

[2019-02-25 07:10] mrpau-julius commented on #5138
sure @indirectlylit 👍

[2019-02-25 14:32] indirectlylit commented on #5138
cc @cpauya if you could review that'd be great!

[2019-02-25 14:43] radinamatic commented on #5138
@mrpau-julius You can assign @cpauya & me as a reviewers!

[2019-02-25 15:03] indirectlylit opened #5147 "UNIQUE constraint failed: logger_masterylog.id"
### Observed behavior

getting a few of these errors on Sentry:

https://sentry.io/organizations/learningequality/issues/901657313/?project=1378215&query=is%3Aunresolved&statsPeriod=14d&utc=false

### Expected behavior

unique constraint satisfied

### User-facing consequences

unknown

### Errors and logs

[code]

### Steps to reproduce

unknown

### Context

k012 beta 7

[2019-02-25 15:36] indirectlylit opened #5148 "hard-code and conditionally display arabic translations of CC licenses"
### Observed behavior

we want to do https://github.com/learningequality/kolibri/issues/2371 but doing this through the standard crowdin flow is too time-consuming and risky this close to a release

however there is a strong need to have at least the arabic licenses translated:

### Expected behavior

see https://creativecommons.org/licenses/?lang=ar for target licenses. Contact Hiba for assistanc

[2019-02-25 15:36] indirectlylit commented on #2371
removing from 0.12 in lieu of https://github.com/learningequality/kolibri/issues/5148

[2019-02-25 15:48] indirectlylit opened #5149 "vacuuming isn't happening"
### Observed behavior

I didn't see an open issue for this, so opening one here. Please close if I missed it. (cc @jredrejo @rtibbles @lyw07)

Observed by @jredrejo that vacuums of the SQLite WAL files do not seem to be occurring, even though we have it set to run on restart and periodically at 3AM

### Expected behavior

WAL files must be occasionally vacuumed to prevent performance and file size

[2019-02-25 16:11] radinamatic commented on #5103
I can confirm that the issue is fixed for the privacy modal opened from the sidebar, but this is still extant on the privacy modal in the setup wizard in `beta9`... :confused:

Context: both Firefox 65 and Chrome 72 on Ubuntu 16.04

cc @jonboiser

[2019-02-25 18:29] radinamatic commented on #5096
Still extant on `beta9`.

[2019-02-25 18:37] jonboiser commented on #5096
@radinamatic 	The patch that should hopefully fix this is still open. You can test it by pulling #5140

[2019-02-25 18:39] radinamatic commented on #5096
Thanks, @jonboiser, missed that one :confused:

[2019-02-25 18:41] jonboiser commented on #5103
This is going to require more hacks specific to the Setup Wizard, since there is some unusual behavior with using the keyboard in the Setup Wizard.

The reason this happens is because on the privacy info page, we have some code that manually focuses the "more information" button for user convenience. since it's focused the button reacts to the enter-keypress from both the modal as well as the supe

[2019-02-25 18:48] rtibbles commented on #5103
Could we also prevent propagation of the click event, once the modal has been closed? Either by explicitly cancelling it, or using the `.stop` event modifier?

[2019-02-25 18:59] jonboiser commented on #5103
The implementation of KButton actually does use this event with modifiers `@keyup.enter.stop.prevent="handelPressEnter"`. I don't think it's an issue of propagation since I don't think the Modal "close" button and the main window "more information" button are linked that way.

One weird thing I noticed in the devtools is that if you hit enter, you get two "click" events: one with a MouseEvent in i

[2019-02-25 20:45] jonboiser commented on #5070
I'm not able to reproduce this on beta9. For me, one possible culprit of this happening in prior betas is the way notification IDs are converted from numbers to strings (they come over the wire as numbers, but might get converted to string via the resource layer or something). This matters because a lot of important logic tries to find the maximum of the IDs for the purposes of polling (getting th

[2019-02-25 20:57] jonboiser commented on #5079
I have just seen, in a single session of the same user one resource being something reasonable like "10 min ago", and then another resource (same session, same user) have something in the future like "in 15 minutes", and the videos were viewed within minutes of each other.

But then I logged out/in and the next video had an accurate-looking last activity time.

[2019-02-25 21:18] rtibbles commented on #5119
For the lesson example, this appears to be related to: #5143

[2019-02-25 21:21] rtibbles commented on #5113
Please let us know if this is still extant for you - concerning if so.

[2019-02-25 21:23] rtibbles commented on #5108
Is this still extant in the latest beta?

[2019-02-25 21:23] rtibbles commented on #5107
Is this still extant?

[2019-02-25 21:26] jonboiser commented on #5112
@swapnil106111 Do you remember when learners were assigned to "ABC" group. In theory, this timeline should work

1. Learners are enrolled in "ABC"
1. A lesson is assigned to "ABC"
1. Learners work on that Lesson.
1. Activity appears in "ABC" group activity page.

This timeline, however, does not work

1. A lesson is assigned to whole class
1. Learners work on that Lesson.
1. Learners are enrolled

[2019-02-25 21:26] radinamatic commented on #5103
@jonboiser @rtibbles  Hack seems to be working when I invoke the setup wizard on the release branch after the merge! :+1: :100:

[2019-02-25 21:30] rtibbles commented on #5014
Fixed in #5076

[2019-02-25 21:30] #5014 closed, assigned to rtibbles

[2019-02-25 21:32] rtibbles commented on #4818
Fixed in #5003

[2019-02-25 21:32] #4818 closed, assigned to nobody

[2019-02-25 21:36] rtibbles commented on #4765
This appears to already be the case.

[2019-02-25 21:40] rtibbles commented on #4661
Any updates on this @nobicycle? We have also made some improvements to exam selection that should reduce lag overall, so perhaps this can help isolate any online resources being requested.

[2019-02-25 21:49] rtibbles commented on #4535
@swapnil106111 I have been trying to replicate this locally, but so far without success. Do you have clear steps to replication for this? If so, could you also test these on the latest 0.12.0 beta and see if this is still extant?

[2019-02-25 21:50] rtibbles commented on #4508
What remains to be done for this?

[2019-02-25 21:53] rtibbles commented on #4302
Is this still extant?

[2019-02-25 21:54] rtibbles commented on #4119
Could be related to #5147

[2019-02-25 21:58] rtibbles commented on #4041
Think this is no longer extant.

[2019-02-25 21:58] #4041 closed, assigned to nobody

[2019-02-25 22:00] rtibbles commented on #4035
Hrm, we didn't build this in from the start, is this something we still want to implement, given the more laissez faire approach?

[2019-02-25 22:03] rtibbles commented on #3911
There is now an alternative to this, whereby a Kolibri instance can import content from another Kolibri instance it can reach on the network.

[2019-02-25 22:05] rtibbles commented on #3880
This should now be fixed, as this code is no longer extant in 0.12.0+

[2019-02-25 22:05] #3880 closed, assigned to jonboiser

[2019-02-25 22:05] rtibbles commented on #3872
Is this still extant?

[2019-02-25 22:07] rtibbles commented on #3844
I think this might be a performance issue, with sessions not being updated frequently enough.

[2019-02-25 22:08] rtibbles commented on #3843
I think this might be a performance issue, with sessions not being updated frequently enough.

[2019-02-25 22:11] rtibbles commented on #3645
I think we can close this as this is only happening in the 'featured in' section which has been removed.

[2019-02-25 22:11] #3645 closed

[2019-02-25 22:13] rtibbles commented on #3316
Unclear if this is desireable or extant. Reopen if needed.

[2019-02-25 22:13] #3316 closed

[2019-02-25 22:14] rtibbles commented on #3282
Is this issue still extant?

[2019-02-25 22:22] rtibbles opened #5150 "Scrollbar occluded by scrolling header on linux"
### Observed behavior
When the viewport is narrow enough for the ScrollingHeader to be hideable, The scrollbar extends the full height of the container body, which, due to the overlay of the scrolling navbar header, means that the top part of the scrollbar is covered by it.

![image](https://user-images.githubusercontent.com/1680573/53372744-837c6500-3908-11e9-8330-2023f979b407.png)

### Expected

[2019-02-25 22:24] rtibbles commented on #2787
This no longer appears to be extant.

[2019-02-25 22:24] #2787 closed

[2019-02-25 22:33] rtibbles commented on #551
Fixed in #4551

[2019-02-25 22:33] #551 closed

[2019-02-25 22:34] #547 closed

[2019-02-25 22:51] ralphiee22 opened #5151 "Update Kolibri management command to do Data Portal syncing by default (with inverse CSR)"

[2019-02-25 22:52] indirectlylit commented on #4508
just to rename the alignment inputs to 'start' and 'end'

I can have a look at this in my style guide work since I'll be touching various core component APIs

[2019-02-25 22:52] ralphiee22 opened #5152 "Management command for registering facility to data portal"

[2019-02-25 22:58] indirectlylit commented on #4765
not quite - this was based on your comment at https://github.com/learningequality/kolibri/pull/4667#discussion_r247591219

[2019-02-25 22:59] rtibbles commented on #4508
Note that I touched some of the KGrid code to allow contextual RTLing (i.e. letting the RTL be set by the direction of the elements, rather than the overall dir setting of the page).

[2019-02-25 22:59] rtibbles commented on #4765
Oh, gotcha.

[2019-02-25 23:38] benjaoming commented on #5083
The report had more indications of overload or unresponsiveness of some sort. We asked many times in regards to ghost kolibri processes but never found one, the reporter was quite confident with `ps ax | grep kolibri` :)

[2019-02-25 23:39] benjaoming commented on #5036
Thanks for the feedback @swapnil106111 :100:

[2019-02-25 23:43] jonboiser opened #5154 "Channel List has layout issues on mobile-width screens"
### Observed behavior

The layout at cell-phone width causes Options button to break out of the container

![screen shot 2019-02-25 at 3 01 25 pm](https://user-images.githubusercontent.com/10248067/53376667-fb9c5800-3913-11e9-8a31-a6b2d8a81f90.png)

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-02-25 23:45] radinamatic commented on #5154
Yep, noticed too on `beta9` testing on Ubuntu yesterday.

[2019-02-25 23:50] #5103 closed, assigned to jonboiser

[2019-02-25 23:51] rtibbles commented on #5132
Fixed in #5144

[2019-02-25 23:51] #5132 closed, assigned to ralphiee22

[2019-02-25 23:51] rtibbles commented on #5105
Fixed in #5144

[2019-02-25 23:51] #5105 closed, assigned to ralphiee22

[2019-02-25 23:51] rtibbles commented on #5078
Fixed in #5144

[2019-02-25 23:51] #5078 closed, assigned to nobody

[2019-02-25 23:55] khangmach commented on #2398
if we're mirroring the screen in RTL, then left hand seems conceptually correct. But since most people are right handed, and most digital applications place scrollbars on the right side, there is already an established convention that people are already used to.

If we decide on a permanent left placement, then we'd require a great deal of users to drag their hand across the screen in order to scr

[2019-02-26 00:26] jonboiser commented on #5120
#5153

[2019-02-26 00:26] #5120 closed, assigned to nobody

[2019-02-26 00:36] jonboiser commented on #5143
~When implementing, I think the idea is we still have the secondary tab buttons (e.g. lessons, quizzes, groups) in the Plan page, which are missing in the Expected behavior screenshot.~

To implement:

1. On the `LessonSummaryPage`: Remove the `PlanHeader` component at the top, and add a "back" link that goes to the `LessonsRootPage`
1. Next to the header with the Lesson's name, add an open book (

[2019-02-26 00:45] jonboiser commented on #5049
#5140 Sort of fixes things for lessons, by updating lessons when some of its contents are deleted.

#5140 It doesn't really fix quizzes the way it's recommended in this discussion, because this solution would probably need new strings, and the discussion doesn't address the other situation where a quiz is only partially deleted (only some of the exercises won't load). I just made a decision to lea

[2019-02-26 00:48] rtibbles commented on #5049
I think the main issue with treating quizzes and lessons the same in this regard is for historic data. If the quiz has already been taken and have user data associated, then removing this data from the quiz is more problematic, than it is for removing it from a lesson.

[2019-02-26 00:49] jonboiser commented on #5049
That's a good point, but the way attempts are displayed after an exercise is deleted is pretty basic. Just that it was right or wrong, but not the actual responses. (But this might be improvedf by providing a simple text-based rendering of the attempt, maybe)

[2019-02-26 00:53] rtibbles commented on #5049
Yeah... providing the simple text based rendering is a little tricky. I am not sure we can do much better than we are now.

[2019-02-26 01:16] khangmach commented on #5143
I edited those secondary tabs out of the expected behavior screenshot, because they're not supposed to be there. The information hierarchy and expected behavior should follow screenshot #2 in this issue

[2019-02-26 01:20] jonboiser commented on #5143
Okay, I think I understand.

What about the "Groups" section? In the mockups, the hierarchy is also different between plan and report.

[2019-02-26 01:35] khangmach commented on #5143
We can apply the changes to the Groups flow as well. Good catch

[2019-02-26 06:18] mrpau-richard opened #5156 "User menu label not automatically updated"
### Observed behavior
After I updated the username of the admin account, the user menu label still the same. But when I refresh the page, The user menu will update.
### Expected behavior
It should update automatically.

### User-facing consequences

…

### Errors and logs
![gif-temp](https://user-images.githubusercontent.com/8663934/53391331-02d56b80-39d1-11e9-918a-7da855ad2a54.gif)

### Steps to

[2019-02-26 09:13] mrpau-richard opened #5157 "Previous question button empty label"
### Observed behavior
Previous question button show empty label when answering the first item of the quiz.

### Expected behavior
Should add a label `previous question` to the button.

### User-facing consequences

…

### Errors and logs

![screen shot 2019-02-26 at 5 04 06 pm](https://user-images.githubusercontent.com/8663934/53400630-3fad5c80-39e9-11e9-8d2a-8aefb7021969.png)

### Steps to reprod

[2019-02-26 11:08] mrpau-richard opened #5158 "Learner last activity report display invalid date"
### Observed behavior
At the coach reports page I have an `invalid date` record on a learner. This might related to https://github.com/learningequality/kolibri/issues/5113#issuecomment-465900520

### Expected behavior
Display the exact date/time.

### User-facing consequences

…

### Errors and logs
![screen shot 2019-02-26 at 6 54 51 pm](https://user-images.githubusercontent.com/8663934/53408346-

[2019-02-26 17:17] indirectlylit commented on #5070
@mrpau-richard mind testing again in beta10 tomorrow?

@jonboiser @rtibbles if IDs are being inappropriately transformed to strings by the resource layer, maybe there's a systematic way to prevent it? I know we're gone back and forth on this, including some recent work @ralphiee22 did

[2019-02-26 17:19] indirectlylit commented on #5158
maybe related https://github.com/learningequality/kolibri/issues/5079

[2019-02-26 17:22] indirectlylit commented on #4302
this should be addressed in recent work

[2019-02-26 17:22] #4302 closed, assigned to nobody

[2019-02-26 17:25] rtibbles commented on #5070
We explicitly force ids to be strings: https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/api-resource.js#L249 as per #1255

This is deliberate, and by design.

[2019-02-26 17:28] indirectlylit commented on #3282
all sorting is disabled in the current version of the coach reports. I was planning on adding that in a feature release

we have a couple more related open issues so it's okay to close this

* https://github.com/learningequality/kolibri/issues/4621
* https://github.com/learningequality/kolibri/issues/4620

[2019-02-26 17:28] #3282 closed

[2019-02-26 17:31] indirectlylit commented on #5154
This should be addressed by making the header and options button grid items both take up 100% width at the smallest screen size. In this mode, the options grid item should also have alignment set to `left`

[2019-02-26 17:35] #5049 closed, assigned to jonboiser

[2019-02-26 17:37] indirectlylit commented on #5157
should be fixed by https://github.com/learningequality/kolibri/pull/5135

[2019-02-26 17:37] #5157 closed, assigned to nobody

[2019-02-26 17:38] indirectlylit commented on #5070
yeah, I guess I would have preferred having an opaque string-based ID, and then a separate integer-based counter field

[2019-02-26 17:42] indirectlylit opened #5191 "migrate existing IDs to a counter field"
### Observed behavior

By design, all our database IDs should be opaque strings: https://github.com/learningequality/kolibri/issues/1255

currently notifications uses integers with semantic information embedded in them, which breaks some assumptions we make in the client-side resource layer: https://github.com/learningequality/kolibri/issues/5070#issuecomment-467175920

### Expected behavior

Noti

[2019-02-26 17:54] rtibbles commented on #5191
I don't think this is how we should fix this. UUIDs should be used only when we intend data to be shared across database instances.

[2019-02-26 17:54] #5191 closed, assigned to nobody

[2019-02-26 20:45] rtibbles commented on #5149
This seems to have been fixed in #5159 :fireworks:

[2019-02-26 20:45] #5149 closed, assigned to jredrejo

[2019-02-26 21:20] jonboiser opened #5194 "Clicking "Try now" button on Disconnected snackbar does not do anything"
### Observed behavior
![screen shot 2019-02-26 at 1 16 43 pm](https://user-images.githubusercontent.com/10248067/53446917-df0e2780-39c8-11e9-9fca-657ffbd7faa3.png)

Getting this error when clicking it. The `actionCallback` function appears not to be set.

### Expected behavior

When the server is working again, clicking 'Try again' causes a refresh.

### Context

0.12beta9

[2019-02-26 21:24] jonboiser commented on #5156
Getting this error when trying this out

`[vuex] unknown action type: getCurrentSession`.

Can't find an implementation for getCurrentSEssion anywhere. I believe removing it caused this issue, since as a side effect of getCurrentSession, it replaces `core.session` with the latest data (including the new username).

To fix it, we need to call a mutation on the `core.session.username` using the new

[2019-02-26 21:46] jonboiser opened #5195 "In Facility > User page, "Super Admins" filtered out by "Admin" filter"
### Observed behavior

The special "Super Admin" or super user will be filtered out of the list by the "Admin" drop down filter option
### Expected behavior

The Super Admin is not filtered out
…

…

### Context
0.12beta9

[2019-02-26 22:03] rtibbles commented on #5156
I deleted it and moved all session fetching functionality to the heartbeat code. Thought I had caught every reference, but it seems not.

[2019-02-26 22:26] jonboiser opened #5196 "Use appropriate permissions for ClassSummary endpoint"
### Observed behavior

In #5209, we fixed an issue where Promise rejections from unauthenticated requests to the notifications API was being swallowed by UI code (and not showing an AuthMessage component to users). We also added the most basic Permissions to the ClassSummary endpoint so that it would also return a 400 error for unauthenticated users.

However, the Permissions for Class Summary are

[2019-02-26 22:37] indirectlylit commented on #5113
Reproduced some weird behaviors, specifically with exercises. Unsure if it's what this issue is about specifically, but perhaps related:

https://drive.google.com/file/d/1g7Wd7NDf92DnyJh64g_Ui3NddW77c_xP/view?usp=sharing

**Scenario above:**

* `[0:00]` learner on the left, coach with network tab on the right
* `[0:17]` press the 'check' button which should write an activity log and mark it as 'st

[2019-02-26 23:31] indirectlylit commented on #5113
see also:

* https://github.com/learningequality/kolibri/issues/5025
* https://github.com/learningequality/kolibri/issues/5112

[2019-02-27 00:02] indirectlylit commented on #5106
re-opening due to regression noted in #5134

Specifically, on Chrome on Linux, horizontal scrollbars can appear below table cells, even if the cell contents do not overflow.

[2019-02-27 04:29] rtibbles commented on #5156
Fixed in #5192

[2019-02-27 04:29] #5156 closed, assigned to jonboiser

[2019-02-27 04:29] rtibbles commented on #5089
Fixed in #5192

[2019-02-27 04:29] #5089 closed, assigned to jonboiser

[2019-02-27 04:29] rtibbles commented on #5143
Fixed in #5192

[2019-02-27 04:29] #5143 closed, assigned to jonboiser

[2019-02-27 05:57] indirectlylit opened #5204 "more exercise progress inconsistencies"
### Observed behavior

there was an attempt on 'Name shapes 4':

| learner content | coach activity |
|--|--|
|![image](https://user-images.githubusercontent.com/2367265/53468945-0557b580-3a11-11e9-8c82-39671d6b2883.png) | ![image](https://user-images.githubusercontent.com/2367265/53468964-0d175a00-3a11-11e9-8bca-411db66fc9b2.png) |

but it's not shown on content cards:

| channel view | lesson vi

[2019-02-27 18:18] jredrejo commented on #5079
This problem seems to have the same origin than #5113

[2019-02-27 18:36] jonboiser commented on #5029
I put in a fix for this in #5100. It gives that description paragraph a fixed height, and is scrollable if it goes over.

[2019-02-27 20:30] indirectlylit commented on #5029
thanks!

there's a future update coming to make them more responsive, but that's a new feature

[2019-02-27 20:30] #5029 closed, assigned to nobody

[2019-02-27 20:33] indirectlylit commented on #5196
might relate to work done in https://github.com/learningequality/kolibri/issues/5014 ?

[2019-02-27 20:51] rtibbles commented on #5158
This should be fixed by #5918.

[2019-02-27 20:51] #5158 closed, assigned to nobody

[2019-02-27 20:52] rtibbles commented on #5079
This may be partially resolved by #5198, but I am doing some follow up work.

[2019-02-27 20:54] rtibbles commented on #5113
The exercises aspect of this should have been fixed by #5198 - as we have not been able to replicate the other aspects, closing unless this recurs in testing.

[2019-02-27 20:54] #5113 closed, assigned to nobody

[2019-02-27 23:28] jonboiser commented on #5196
I just tried this out, and the AuthMessage is showing up on coach pages, but you can also see the class name on the app bar.

It seems that the classSummary endpoint is open to unauthenticated users (hence the class name). It is the notifications endpoint that fails with the 403 error, which ends up showing the AuthMessage.

The Classroom API returns a 200, but it is an empty array (since anonymou

[2019-02-28 00:11] rtibbles commented on #5079
This is caused by a bug in the server time setting code. To replicate this follow these steps:
1) Login.
2) Walk away for ten minutes (or more) leaving the browser tab open - perhaps have a nice soothing cup of tea?
3) Come back.
4) Do anything with any content.
5) Observe the last activity to be ~`<however long you went away for>` in the future.

[2019-02-28 00:29] rtibbles commented on #4946
Fixed in #5207

[2019-02-28 00:29] #4946 closed, assigned to jonboiser

[2019-02-28 00:40] rtibbles commented on #5106
Regression should now be fixed by #5202

[2019-02-28 00:40] #5106 closed, assigned to indirectlylit

[2019-02-28 00:42] jonboiser opened #5211 "Blue Linear Progress Bar (for page loading) appears at Sign In screen"
### Observed behavior

GIF begins at select all. Towards end, the blue progress bar shows up at the upper left corner.

In other places, the bar is placed below the purple app bar. It's `top` position is being calculated incorrectly.

![progress bar](https://user-images.githubusercontent.com/10248067/53533167-97fa6200-3aae-11e9-8457-74a1144460ab.gif)

### Expected behavior

The linear progress bar

[2019-02-28 00:44] rtibbles commented on #5211
Is this on production, or dev mode? (hot or not?)

[2019-02-28 00:46] rtibbles commented on #5194
Fixed in #5209

[2019-02-28 00:46] #5194 closed, assigned to jonboiser

[2019-02-28 00:46] jonboiser commented on #5211
devserver with HMR

[2019-02-28 00:46] rtibbles commented on #5195
Fixed in #5209

[2019-02-28 00:46] #5195 closed, assigned to jonboiser

[2019-02-28 00:46] rtibbles commented on #5196
Some fixes in #5209 - still need proper permissions on the class summary endpoint.

[2019-02-28 00:48] rtibbles commented on #5211
OK, good - the FLOUT worried me, but the linear progress loader positioning is extant on production too.

[2019-02-28 01:31] rtibbles commented on #5148
Fixed in #5205

[2019-02-28 01:31] #5148 closed, assigned to nobody

[2019-02-28 02:07] rtibbles commented on #5211
Fixed in #5212

[2019-02-28 02:07] #5211 closed, assigned to rtibbles

[2019-02-28 02:08] radinamatic opened #5213 "Errors while importing channels on `kolibri-server`"
### Observed behavior

Unable to import content from Studio:

During the first attempt to import after installation, it seemed that user got disconnected, even though the service was still active:

![ubuntu 16 04 3 start running - oracle vm virtualbox_438](https://user-images.githubusercontent.com/1457929/53535884-93609880-3b04-11e9-9a1e-d9b63efad345.png)

After restarting the system, different er

[2019-02-28 02:17] radinamatic opened #5214 "Unable to create users on `kolibri-server`"
### Observed behavior

Unable to create users:

![create-users](https://user-images.githubusercontent.com/1457929/53536526-11be3a00-3b07-11e9-952e-b96e7e978f6a.gif)

### Expected behavior

...

### User-facing consequences

…

### Errors and logs

[code]

### Steps to reproduce

…

### Context

Version:           0.12.0b10
OS:                Linux-4.4.0-142-generic-x86_64-with-Ubuntu-16.04-xenial

[2019-02-28 02:39] rtibbles commented on #5079
Fixed in #5210.

[2019-02-28 02:39] #5079 closed, assigned to rtibbles

[2019-02-28 02:41] rtibbles commented on #5112
@swapnil106111 can you double check the behaviour as outlined by @jonboiser in https://github.com/learningequality/kolibri/issues/5112#issuecomment-467189810 ?

[2019-02-28 02:42] rtibbles commented on #5070
Seems like this is not being reproduced in new betas, please reopen if it recurs.

[2019-02-28 02:42] #5070 closed, assigned to jonboiser

[2019-02-28 02:43] rtibbles commented on #5025
Have we been able to chase this down any further?

[2019-02-28 03:37] indirectlylit commented on #5025
I haven't looked into it yet - can check tomorrow

[2019-02-28 05:19] nobicycle commented on #4661
If you don't mind a little wait, I will retest after 1.12 which I believe is in the pipeline.

[2019-02-28 08:22] jredrejo commented on #5214
@radinamatic  as expected, I can't reproduce it :(
Can you attach the files `kolibri.log` and `uwsgi.log` from the .kolibri folder?
Also, can you add the options you have active in the `/facility/#/settings` page?

[2019-02-28 11:21] radinamatic commented on #5214
[uwsgi.log](https://github.com/learningequality/kolibri/files/2914701/uwsgi.log)
[kolibri.log](https://github.com/learningequality/kolibri/files/2914702/kolibri.log)

These settings were those created by the default options in the setup wizard:

![ubuntu 16 04 3 kolibri-server-beta10 running - oracle vm virtualbox_440](https://user-images.githubusercontent.com/1457929/53562956-0264de00-3b53-11e9-8

[2019-02-28 11:22] radinamatic commented on #5214
However, this morning when I restarted the same VM, I _am_ able to create users...
Let's investigate why it was not possible yesterday.

[2019-02-28 14:05] rtibbles commented on #5112
Not able to replicate this following the instructions that @jonboiser lays out. Appears to be working as intended.

[2019-02-28 15:31] rtibbles commented on #4661
Sure, 0.12.0 should be out this week - just wanted to see if there was anything we could do before then if investigation had shown further information. Thanks!

[2019-02-28 18:56] indirectlylit commented on #5025
I've tested and confirmed that this issue has been addressed between beta 7 and now:

* Behavior in beta 7 was that the `class_summary_api` incorrectly reported an in-progress content item as `NotStarted`. This caused the lesson in-progress state to revert back after navigation, which is when we currently refresh the class summary.
* Behavior in current release branch is that in-progress content i

[2019-02-28 18:56] #5025 closed, assigned to indirectlylit

[2019-02-28 19:54] radinamatic opened #5217 "Class activity is not being recorded - beta11"
### Observed behavior

![ubuntu 16 04 3 start running - oracle vm virtualbox_445](https://user-images.githubusercontent.com/1457929/53594141-7bd3ef00-3b9a-11e9-924d-162b65e8a5fa.png)

### Expected behavior
…

### User-facing consequences
…

### Errors and logs
[kolibri.log](https://github.com/learningequality/kolibri/files/2916667/kolibri.log)
[server.log](https://github.com/learningequality/kolib

[2019-02-28 19:57] #3825 closed, assigned to nobody

[2019-02-28 19:59] jonboiser opened #5219 "On touch screens, tooltip-expanded Lesson/Quiz Resource cards cannot be closed"
### Observed behavior

The fix in #5216 truncates long descriptions, and the un-truncated description can be viewed via a tooltip (when the mouse is hovering over the truncated text).

On iOS, these can be opened by tapping the description, but the tooltip cannot be closed.

### Expected behavior

Touch screen viewers have a better solution for viewing these expanded descriptions.
…

### User-faci

[2019-02-28 20:34] indirectlylit commented on #5217
Notes so far:

* the `LearnerProgressNotification` table appears to be empty
* on the surface, looks very similar to #5113
* nothing of interest in the logs

[2019-02-28 20:42] indirectlylit commented on #5219
'hover' is usually emulated by a single touch. Is that not happening?

if not, we should switch all our tooltips to be click-enabled rather than hover-enabled. (This is an easy prop to flip in the library we're using)

[2019-02-28 20:52] radinamatic commented on #5133
Extant again on `beta11`

![difq](https://user-images.githubusercontent.com/1457929/53597535-b9d51100-3ba2-11e9-8752-1c9cdadeb6fd.gif)

[server.log](https://github.com/learningequality/kolibri/files/2916836/server.log)
[kolibri.log](https://github.com/learningequality/kolibri/files/2916837/kolibri.log)

cc @rtibbles

[2019-02-28 22:58] indirectlylit commented on #5217
still can't reproduce locally. made a PR here with some extra logging: https://github.com/learningequality/kolibri/pull/5221

[2019-03-01 00:21] jonboiser commented on #3867
The design of this workflow as of 0.12 doesn't really match the Observed Behavior screenshot.

There is different copy and the "Channels" breadcrumb does not appear on the top-level with all the channels.

[2019-03-01 00:21] #3867 closed, assigned to nobody

[2019-03-01 00:35] jonboiser commented on #5057
I would add too that the amount of extraneous data in the DevTools has gone up a lot, making them harder to read for me

1. Extra `computed` items within Components coming from mixins
1. About 20-30 getters for kolibriCoreTheme, one for almost each color and some styles
1. The SET_MODALITY mutation appears in the Vuex feed on every blur (e.g. just clicking a button).

I would like to see some effo

[2019-03-01 02:21] indirectlylit commented on #5057
yeah, it's true. Do `$tr` strings show up in devtools though?

[2019-03-01 02:34] rtibbles commented on #5057
We could use the new Vue observable method to manage some of the watched state (like the modality) without having to put it in the store. Could do a similar refactor to the dynamic styles as well.

I think the issue with the strings is that the common strings are exposed as a huge computed prop, so that also inflates things.

[2019-03-01 04:46] mrpau-julius commented on #5217
same issue on kolibri-server.
![image](https://user-images.githubusercontent.com/38421180/53616953-0ad71a80-3c20-11e9-8f6e-55c70c347dde.png)

[2019-03-01 05:23] mrpau-julius opened #5225 "difficult questions are undefined on kolibri-server"
### Observed behavior

On coach quiz report at difficult questions tab, when I click the red link label with 1 0f 1 needs help. this message `Sorry! Something went wrong!` was appeared.
* similar to #5133
![image](https://user-images.githubusercontent.com/38421180/53617878-13c9eb00-3c24-11e9-858e-6bf342dc1ee1.png)

### Errors and logs

…

### Context

Version: 0.12.0b10
OS: Ubuntu-18.04
Installer:

[2019-03-01 05:38] mrpau-julius opened #5227 "Videos are failed to load on kolibri"
### Observed behavior

All videos on Kolibri-server are failed to load and have an error on console.
![image](https://user-images.githubusercontent.com/38421180/53618581-e468ad80-3c26-11e9-9c01-a73e24dc9bdd.png)

### Expected behavior

Can load the media videos.

### Context

Version: 0.12.0b10
OS: Ubuntu-18.04
Installer: kolibri(apt) with kolibri-server Version: 0.2-0beta3
Server: nginx/1.10.3 (U

[2019-03-01 05:57] lyw07 opened #5228 "Channel not found when importing from external drive"
### Observed behavior

On my OSX machine, when importing a channel from external drive, after click `SELECT` button, it shows an error saying that `Channel not found`. However, if I refresh the page, I will be able to see the channel detail page.
Note that this does not happen on Ubuntu.

### Expected behavior

Users should be able to import channels successfully from external drives.

### User-fa

[2019-03-01 06:26] rtibbles commented on #5225
Note that this is fixed in 0.12.0b11.

[2019-03-01 06:26] #5225 closed, assigned to nobody

[2019-03-01 06:59] mrpau-julius commented on #5128
same issue found on kolibri 0.12.0 beta 12
![image](https://user-images.githubusercontent.com/38421180/53621748-68318400-3bac-11e9-97be-b1384e547051.png)

[2019-03-01 07:12] mrpau-julius commented on #5096
same issue found on kolibri 0.12.0 beta 12
[kolibri.log](https://github.com/learningequality/kolibri/files/2918277/kolibri.log)
[server.log](https://github.com/learningequality/kolibri/files/2918303/server.log)
![image](https://user-images.githubusercontent.com/38421180/53621748-68318400-3bac-11e9-97be-b1384e547051.png)

[2019-03-01 07:33] jredrejo commented on #5217
Fixed on #5224

[2019-03-01 07:33] #5217 closed, assigned to nobody

[2019-03-01 07:44] mrpau-julius commented on #5227
I think its same issue on Kolibri 0.12.0 beta 12. when I play the video it will crush down.
 ### Context
OS: windows 10
Browser: Firefox
[code]

![image](https://user-images.githubusercontent.com/38421180/53623567-5c48c080-3bb2-11e9-8283-60fdf8e0498c.png)

[2019-03-01 08:16] jredrejo commented on #5227
@mrpau-julius yes, kolibri-server just adds some settings over kolibri code to improve the server performance.
Any issue existing in Kolibri will be present when using kolibri-server.

Please, for kolibri-server ,report only those issues that happen when using kolibri-server and not when using just kolibri.

[2019-03-01 08:52] swapnil106111 commented on #5089
@rtibbles Tested on Kolibri 0.12.0b12. It is working as expected.

![1](https://user-images.githubusercontent.com/12776071/53627088-7ecbef80-3c2d-11e9-9230-c0be95ccbf8b.png)

[2019-03-01 08:56] swapnil106111 commented on #5094
@rtibbles Tested on Kolibri 0.12.0b12. Not able hear audio for any KA video.

Path : Maharashtra State Class 3 to 9 (English) - BalBharati - 3 - 12 Division - KA resources - Intro to remainders

Checked with two/three videos but facing same issue.

[2019-03-01 08:57] swapnil106111 commented on #5095
@rtibbles Tested on Kolibri 0.12.0b. Facing same issue.

[2019-03-01 09:06] swapnil106111 commented on #5112
@rtibbles @jonboiser
Below are the process which we followed:
1. Created a group and enrolled users.
2. Assigned a lesson to the group.
3. Worked on lesson and went to the activity tab. Still not able to see activity.

[2019-03-01 17:57] indirectlylit commented on #5057
oh right - because it's a mixin.

I see there's a feature request to have devtools be smarter about vuex module organization so if we keep leveraging modules, things may improve on their end also ... eventually: https://github.com/vuejs/vue-devtools/issues/327

[2019-03-01 18:00] indirectlylit opened #5232 "reminder: remove debug logging code before final release"
### Observed behavior

#5223 introduced some verbose logging code

### Expected behavior

remove before release

### User-facing consequences

logs will get swamped

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2019-03-01 18:10] jonboiser commented on #5112
@swapnil106111 	Does the activity tab show data at the class home? (Click the "View All" button next to "Class Activity" at the class homepage/dashboard)

And does it show activity at the learner activity feed (CLick Reports > Learner > "Learner Name" > Activity)?

Or is this bug only happening for the Group Activity tab?

[2019-03-01 18:14] indirectlylit commented on #5227
If this is happening in Kolibri, should we not keep the issue open and just remove the reference to `kolibri-server`?

[2019-03-01 18:18] indirectlylit commented on #5094
@swapnil106111 as indicated above, this and #5095 appear to be issues with the content in channel `8fc515793aad4e52b490b03c48ad21de`

Could you please test the same content from the official KA channel and confirm that audio works there? How was the Maharashtra State channel created?

[2019-03-01 18:22] indirectlylit commented on #5095
consolidating with #5094

[2019-03-01 18:22] #5095 closed, assigned to nobody

[2019-03-01 18:22] indirectlylit commented on #5094
updated issue to also include #5095

[2019-03-01 18:28] indirectlylit commented on #5112
we've confirmed that this was not fixed, and did some follow-up work in https://github.com/learningequality/kolibri/issues/5217

hopefully this will be fixed by #5224

@jonboiser it appears that this was reproducible on ubuntu by running the pex _not_ in `--foreground` mode. In that state,  no notifications were being created whatsoever. If you're able to confirm reproduction and the fix that woul

[2019-03-01 20:04] radinamatic commented on #5225
It was still failing on b11, but fixed on b12 :slightly_smiling_face:

[2019-03-01 20:21] radinamatic commented on #5227
@mrpau-dev Not sure why it is failing on Windows, but when testing on Ubuntu, make sure to have the `ubuntu-restricted-extras` package installed. VideoJS in Firefox will report that same error if the package is not installed, but otherwise should play without issues:

![ubuntu 16 04 3 start running - oracle vm virtualbox_455](https://user-images.githubusercontent.com/1457929/53664048-af307f80-3c67

[2019-03-01 21:36] jonboiser commented on #5228
@lyw07 On Mac, do you see the "generating channel listing" progress bar after refreshing? How about when you see the "Channel not found" error?

The DeviceChannel endpoint draws on ChannelMetadata resource, so I'm guessing that you are being redirected to the channel detail page before the ChannelMetadata from the external drive is finished being downloaded and registered on Kolibri.

[2019-03-01 21:42] lyw07 commented on #5228
Hi @jonboiser, I recorded what I did, thinking that it might be easier for you to see what happened. Thanks!
![local_import_error](https://user-images.githubusercontent.com/19424916/53668123-d10a1200-3c27-11e9-8b0b-eb816df2a260.gif)

[2019-03-01 21:51] jonboiser commented on #5228
I'm able to reproduce this too. I'm noticing that the Task object looks unusual because it's "Completed" but has percentage 0. I'm wondering if there is code that is relying on percentage being 1. The tasks is also not causing a progress bar too appear on the top, so it can be cancelled and cleared out.

And to answer my own question, the "generating channel listing" progress bar does not appear i

[2019-03-01 22:29] jonboiser commented on #4821
I'm seeing it in beta 12, trying to follow the reproduction steps here https://github.com/learningequality/kolibri/issues/5112#issuecomment-468763062

I get these console messages, then the mac Crash pop up shows up

[code]

[2019-03-01 22:39] indirectlylit commented on #4821
yeah - confirmed

[2019-03-01 22:48] lyw07 commented on #5228
I think the percentage for tasks never gets to 1 actually. One thing I notice about the `Channel not found` error is that the call to `http://localhost:8080/api/content/contentnode_granular/` happened when the `DISKCHANNELIMPORT` task was still in progress or queue, before it was completed.

[2019-03-01 22:55] jonboiser commented on #5228
~I haven't seen this. I've only seen the one Task that is COMPLETED. I don't see the usual tasks that precede it. For me, the Tasks API response is `[]`, then the next second is it is the COMPLETED task.~

Things are definitely happening out of order. I'm seeing the call to DeviceChannel before there are even tasks coming back from the Tasks endpoint.

The expected behavior is that you get tasks w

[2019-03-01 23:14] lyw07 commented on #5228
one thing weird is that now it works on my mac 😂

[2019-03-01 23:19] kollivier commented on #4821
Can I ask why we are using fork here and why `--foreground` is not the default? There are ways of making processes run as daemons on pretty much every OS, so I'm wondering why we don't take advantage of those.

When a process forks, the child process does not inherit the parent process's threads, so in practice  calling fork does not always result in an exact clone of the process, and can cause so

[2019-03-01 23:19] jonboiser commented on #5228
Uh oh, this might be a probabilistic bug. I'll see if it's working for me too.

[2019-03-01 23:39] radinamatic commented on #5228
TIL the cause of so many of my rants actually has a (rather appropriate) name: _probabilistic bug_... :roll_eyes:

[2019-03-02 00:04] rtibbles commented on #4821
`--foreground` is not the default, because we started from the perspective of using the pex file as the default install method. I think you are right that we should try to use more OS specific daemonization methods from within our installers, to avoid these issues arising (but we don't have a macOS installer yet!)

Also, a recent issue with the notifications logging thread succumbed to the exact c

[2019-03-02 00:12] kollivier commented on #4821
What if we just created a `kolibri register-service` command which did the OS-specific steps to register with the system service manager as a daemon? (would probably require sudo / admin of course) I think then we could do it all from the command line without having to go through the trouble of creating an installer.

[2019-03-02 00:13] indirectlylit commented on #4159
I think this is now fixed in 0.12.x. Please re-open if it is not the case

[2019-03-02 00:13] #4159 closed, assigned to rtibbles

[2019-03-02 00:14] jonboiser commented on #5228
I think part of the problem is that the DISKCHANNELIMPORT type tasks weren't causing the vuex task list to update. I added a fix for this in #5233, which seems to mitigate the problem in this issue, although there are still some weird behaviors, like the premature DeviceChannel endpoint call.

[2019-03-02 00:18] rtibbles commented on #4821
Our strategy so far has been to do that inside installers because it has been simpler not to do the work from python land, and because the steps are normally sufficiently distinct, having them in the common repo has seemed to be more bother (incrementing Kolibri versions to support platform specific changes).

[2019-03-02 00:45] kollivier commented on #4821
Okay, so what do you think is the best way forward here? For the upcoming release, I feel like maybe a good first start is to print out a warning on the command line when running in the background saying this approach could cause issues, with a link to docs on how to register Kolibri as a system service on your platform of choice.

That would leave the installers to simplify things. On the Mac sid

[2019-03-03 08:44] jredrejo commented on #5227
Reopening this issue as it seems we didn't have an issue for kolibri to track it.

[2019-03-03 14:15] radinamatic commented on #5227
Unable to replicate this with the latest built dev asset from the 0.12 release branch. Videos play without issues in both Firefox (v62-v65) and Chrome on either Windows 7 or 10.

@mrpau-julius When you install the `restricted extras` package, are you still having issues with videos on Ubuntu?

[2019-03-03 14:30] radinamatic commented on #5227
Unable to replicate this with the latest built dev asset from the 0.12 release branch. Videos play without issues in both Firefox (v62-v65) and Chrome on either Windows 7 or 10.

@mrpau-julius When you install the `restricted extras` package, are you still having issues with videos on Ubuntu?

[2019-03-03 16:25] rtibbles commented on #5204
This was fixed by #5215

[2019-03-03 16:25] #5204 closed, assigned to rtibbles

[2019-03-03 16:33] rtibbles commented on #4821
The best way forward is probably to revert the background default for Mac until we can do a proper app wrapper that does the daemonization use MacOS specific tools.

As MacOS as a production target is low priority, I think this is the simplest way forward for now.

[2019-03-03 21:01] rtibbles commented on #3274
Fixed in #5226

[2019-03-03 21:01] #3274 closed

[2019-03-03 21:02] rtibbles commented on #5117
Fixed in #5233

[2019-03-03 21:02] #5117 closed, assigned to jonboiser

[2019-03-03 21:02] rtibbles commented on #3846
Fixed in #5233

[2019-03-03 21:02] #3846 closed, assigned to jonboiser

[2019-03-03 21:03] rtibbles commented on #5119
@jonboiser did a lot of work on this in #5233 - will leave it open until we have confirmed that all instances are covered.

[2019-03-04 00:25] radinamatic commented on #5112
@swapnil106111 Please retest with the `beta13` release, as the #5224 has fixed the group activity notifications for the scenario you are describing.

As @jonboiser noted, keep in mind that the activity of the group's members will be recorded and displayed only _if the interactions are performed within the specific group scope_ (after the group constitution, for example).

Let's say there is a grou

[2019-03-04 07:02] rtibbles commented on #5112
Closing this issue as per @radinamatic's comments above. Can reopen if it recurs on 0.12.0-beta13 or later.

[2019-03-04 07:02] #5112 closed, assigned to nobody

[2019-03-04 10:16] rtibbles commented on #4821
Also worth noting that I think this behaviour is particularly unique to MacOS because of the way it handles forked processes:

From https://developer.apple.com/library/archive/documentation/MacOSX/Conceptual/BPSystemStartup/Chapters/CreatingLaunchdJobs.html

Obviously this is from the MacOS daemonization docs, but I assume that similar monitoring of processes on MacOS could be causing issues there

[2019-03-04 16:57] rtibbles commented on #4821
Fixed in #5237.

As a follow up, we should investigate creating a MacOS installer. Although, maybe @kollivier can whip one up in an hour!

[2019-03-04 17:48] kollivier commented on #4821
@rtibbles I don't think this issue is really Mac-specific. launchd behaves like this because the default behavior is to ensure the service is constantly running. It knows nothing about the child process, that is in fact why it thinks it needs to restart the service. (I would think this would be standard behavior for system services, actually. If your httpd service died unexpectedly I'd think you'd

[2019-03-04 18:07] rtibbles commented on #4821
This particular issue is MacOS specific, because the double fork is the standard UNIX method for daemonizing - https://github.com/serverdensity/python-daemon/blob/master/daemon.py#L61 the link in this reference is broken, and I can't find an open copy of the book.

The threading issues with fork are cross-platform, hence moving all threaded code into the server start method, so that they only happ

[2019-03-04 18:07] #4821 closed, assigned to rtibbles

[2019-03-04 18:30] jonboiser commented on #5096
#5235

[2019-03-04 18:30] #5096 closed, assigned to rtibbles

[2019-03-04 18:38] jonboiser commented on #5232
#5236

[2019-03-04 18:38] #5232 closed, assigned to rtibbles

[2019-03-04 19:14] kollivier commented on #4821
Ah, thanks, I see, I was able to find this based on your explanation:

https://stackoverflow.com/questions/881388/what-is-the-reason-for-performing-a-double-fork-when-creating-a-daemon

This may indeed just have been a resurfacing of the 2.7 problem, then. Also agreed on the Mac side of things.

[2019-03-04 19:25] jonboiser commented on #4094
I think we should probably get rid of the `.trim` we us on KeenUITextbox, and just delegate this cleanup step to the forms that require it.

Arguably, this trimming/cleaning shouldn't be used in the majority of cases, maybe only on usernames. With everything else, we should allow trailing spaces

[2019-03-04 19:26] khangmach commented on #5024
![slice](https://user-images.githubusercontent.com/25045166/53845759-2ebb9880-3f5f-11e9-8f85-60e75db713f7.png)

Some solutions based on our discussions over slack.
Suggested high level improvements:
- Give key icons their own column and color coordinate them based on permission level
- Separate the role label from the username column and give the role label it's own column
- Introduce admin icon t

[2019-03-04 20:54] jonboiser commented on #2258
This will require some new additions to the code:

1. A Viewset to be able to modify the default language in the DeviceSettings model
1. An entirely new section for Device > Settings

[2019-03-04 21:40] jonboiser opened #5240 "On Profile Page, leaf SVG shows at full screen before it is cached"
### Observed behavior

GIF begins when screen goes white. The Leaf SVG flashes briefly and occupies the entire page.

![kapture 2019-03-04 at 13 38 19](https://user-images.githubusercontent.com/10248067/53764750-fe063100-3e82-11e9-9bdf-132a90ac10c9.gif)

### Expected behavior

Leaf SVG does not load too early and flash the way it does in the GIF.

### Steps to reproduce

This happens only when you

[2019-03-04 21:41] jonboiser commented on #5240
I'm actually not seeing this on Kolibribeta. Is this yet another devserver-only phenomenon?

[2019-03-04 21:43] rtibbles commented on #5240
If it was in hot mode, it could well be a flash of unstyled leaf caused by the dynamically injected styles we use for hot mode.

[2019-03-04 23:28] jonboiser commented on #4094
In the case of usernames, each form that has a username field also validates them on the client-side. So maybe .trim can be removed everywhere without a problem.

[2019-03-04 23:30] jonboiser opened #5242 "KPageContainer or panel shadows not used consistently (and nowhere in Learn page)"
### Observed behavior

The Learn page is flatter than the other coach/admin pages because the main content is not surrounded by the KPageContainer.

### Expected behavior

Learn Pages are surrounded by the KPageContainer

### Context
0.12rc1

[2019-03-05 06:02] mrpau-julius commented on #5227
@radinamatic no more issues. I can play the videos after I installed `ubuntu-restricted-extras`.

[2019-03-05 08:54] radinamatic commented on #5227
Good news @mrpau-julius, thanks! 👍

How about Windows, did you or @mrpau-richard find any more occurrences of video playback issues there?

Otherwise we could even close this issue... 😉

[2019-03-05 09:23] mrpau-richard commented on #5227
I did not encounter this issue on Windows. I think this issue can only reproduce on Ubuntu.

[2019-03-05 10:09] yogeshmhaskule commented on #5096
Checked it in 0.12.0. And work as expected.
![lesson proper result](https://user-images.githubusercontent.com/7850420/53797759-d84d5a80-3f5c-11e9-8486-97c4dfc6b00e.png)

[2019-03-05 10:26] yogeshmhaskule commented on #5097
Checked it in kolibri 0.12.0. woking as expectted
![exam_error2](https://user-images.githubusercontent.com/7850420/53798906-37ac6a00-3f5f-11e9-9454-e877a0c8ae63.png)
![exam_error_1](https://user-images.githubusercontent.com/7850420/53798907-37ac6a00-3f5f-11e9-9099-dbbd94d95a57.png)

[2019-03-05 10:31] yogeshmhaskule commented on #5098
tested on kolibri 0.12.0. worked as expected.
![exam_view_1](https://user-images.githubusercontent.com/7850420/53799197-df299c80-3f5f-11e9-9a0a-5d56e048e5d7.png)
![exam_view_2](https://user-images.githubusercontent.com/7850420/53799198-dfc23300-3f5f-11e9-85fc-ada33d222d29.png)

[2019-03-05 10:40] yogeshmhaskule commented on #5094
Tested on kolibri 0.12.0. still getting the same page. added screenshot below:-
![ka_content](https://user-images.githubusercontent.com/7850420/53799763-26645d00-3f61-11e9-85ac-a068d0094d79.png)

[2019-03-05 10:42] rtibbles commented on #5094
As noted above, this is an issue with the channel in question. Images are missing from the published exercises.

[2019-03-05 10:59] yogeshmhaskule commented on #5110
Tested on kolibri 0.12.0. And it works as expected.
![lesson_bug_1](https://user-images.githubusercontent.com/7850420/53800925-e18df580-3f63-11e9-8638-5a47b1c5afb3.png)
![lesson_bug_2](https://user-images.githubusercontent.com/7850420/53800929-e18df580-3f63-11e9-8f95-851287e8ec29.png)

[2019-03-05 17:17] indirectlylit opened #5243 "add regression/unit test for empty lessons in reports"
### Observed behavior

follow-up from #5235 - added new special case to data functions

### Expected behavior

add a unit test to handle the special case

### Context

0.12

[2019-03-05 18:16] jonboiser commented on #3664
Does this mean that when you are viewing an item in the Learn page, it looks similar to the Preview page when adding lesson resources?

If so, what should the label be for the "<-" back link?

[2019-03-05 18:24] jonboiser commented on #4094
I added a patch to remove .trim in #5241

[2019-03-05 19:42] rtibbles commented on #3664
I think more that the regular content viewing experience in Learn should be the same as the Lesson content viewing experience, which does use the immersive page, right?