[2018-07-23 20:28] indirectlylit opened #4068 "provide validation of usernames in login screen"
### Observed behavior

Currently, we permit anything to be entered in the username field. We've observed learners trying to enter in their full names (i.e., first and last name with a "space") instead of their user name.

### Expected behavior

Login field should validate usernames based on our allowed characters (e.g. spaces)

### User-facing consequences

Users will have assistance logging in an

[2018-07-23 20:36] #3984 closed, assigned to nobody

[2018-07-23 20:42] indirectlylit opened #4069 "periodically auto-refresh coach report views"
### Observed behavior

We've observed coaches needing to continually hit 'refresh' in order to update the coach reports being projected.

### Expected behavior

Coach reports should refresh on their own, perhaps every 30 seconds?

### User-facing consequences

make things more convenient for coaches wanting to watch progress live

### Context

0.10.0

[2018-07-23 20:48] indirectlylit commented on #2162
closing, as 'featured in' was the main culprit and recommended is no longer the default page

[2018-07-23 20:48] #2162 closed

[2018-07-23 20:58] jamalex opened #4070 "No indication that anything is happening during long wait for content import method selection modal"
### Observed behavior

On a slow/high-latency connection (I'm tethering at the moment), it takes a long time to check whether we're online and un-gray the options on this modal:

![image](https://user-images.githubusercontent.com/618416/43102363-c7a9af82-8e7f-11e8-8add-25e020b8bca3.png)

If I didn't know better, I'd think nothing was happening, and no options were available. But then eventually it

[2018-07-24 00:59] DXCanas commented on #3200
Do you all think it would be a good idea to consolidate this new error page and `auth-message`, making `auth-message` a specific kind of error?

I'm seeing a few instances where `auth-error` is used, not for an authentication error, but as a template for an expected error (like empty state).

[2018-07-24 15:03] #4000 closed, assigned to christianmemije

[2018-07-24 18:42] khangmach commented on #3773
![lazy loading](https://user-images.githubusercontent.com/25045166/43475526-e7c11a40-94aa-11e8-8a82-d7e303e1d61d.png)
Wrote some documentation & designed some early specs on this issue!

[2018-07-24 21:15] ralphiee22 commented on #3646
#3884 I believe it has been addressed here.

[2018-07-26 00:08] DXCanas commented on #3200
@indirectlylit @khangmach

Running into an awkward styling issue on the external link to community forums:
![modal screencap](https://user-images.githubusercontent.com/9877852/43233853-467c1fee-902d-11e8-8422-585cbf746805.png)

[2018-07-26 00:13] khangmach commented on #3200
Dangit. I was working off the assumption Christian's modal refactor would be in. Umm can we wrap the link? Another alternative would be to change the link to something like www.learningequality.org/r/forum (i think Jamie did this for release blogs...)

[2018-07-26 00:19] christianmemije commented on #3200
`word-wrap: break-word;`  should do the trick @DXCanas

[2018-07-26 00:32] DXCanas commented on #3200
@khangmach, if I wrap (the way @christianmemije noted), the link will _always_ wrap since the modal is set to `medium`. That alright?

That link doesn't look live, but I'm assuming we could set up a redirect if that's something we're interested in.

[2018-07-26 00:37] DXCanas commented on #3200
Also, do we care what the `.txt` file is named? Currently it's using a random hash generated for uniqueness. On download, the can rename the file whatever they like.

[2018-07-26 00:41] christianmemije commented on #3200
Maybe `kolibri_error_${time}.txt`?

[2018-07-26 15:51] indirectlylit opened #4075 "set Vue to 2.5.17 and use watcher-based optimizations on responsive window mixin"
In #4065 we're setting vue to a beta version for testing. It's very important that we upgrade vue to 2.5.17 final before release 0.11.0

[check version on npm page](https://www.npmjs.com/package/vue)

[2018-07-26 16:34] khangmach commented on #3200
@DXCanas that sounds good. I'm not too concerned about the text always wrapping at this point :)

lgtm

[2018-07-27 00:38] indirectlylit commented on #3200
this should also be a `size="large"` modal I assume

[2018-07-27 00:40] #3646 closed

[2018-07-27 00:44] DXCanas commented on #3200
@khangmach you think it's worthwhile to have a "copied!" confirmation when using the "copy to clipboard" button? Snackbar?

[2018-07-27 00:47] DXCanas commented on #3200
@indirectlylit large is very large, as it also doesn't have the max-width that `core-base` does

[2018-07-27 00:49] indirectlylit commented on #3200
maybe fix that and give it a max width?

[2018-07-27 02:07] #3072 closed

[2018-07-27 04:56] khangmach commented on #3200
Yup I included that as well in the string doc

[2018-07-27 11:31] rupangi11 commented on #3933
@ralphiee22 this has not been fixed yet. We still see English content in the Hindi channel. The channel does not seem to be synced since there is a difference in the number of resources as well

[2018-07-27 23:15] indirectlylit commented on #3947
this is now addressed with an icon in 0.10.1 - retargeting to 0.11 to add in translated texgt

[2018-07-27 23:16] indirectlylit commented on #4021
possibly-related issues: #3805, #3806

[2018-07-28 00:25] DXCanas commented on #3200
@indirectlylit @khangmach
![screencap](https://user-images.githubusercontent.com/9877852/43351082-c6107b0c-91c1-11e8-9af3-e90fa2b79c8f.png)

Do we want to use the kolibri image in the mocks, or the regular kolibri logo? Worried that the asset uploaded will be too low res unless we can vectorize it?

[2018-07-28 01:12] DXCanas commented on #3200
Also @indirectlylit checking if someone's "online" is a little more nuanced than expected. I could skip that part for now?

Otherwise, what do you think is a good amount of time to wait for a response to a web server? And what should I do while I wait that time out? Set `loading` to true?

[2018-07-28 16:16] khangmach commented on #3200
I intentionally made the asset low res/pixelated haha! To kinda play on like, the broken aspect...lol

[2018-07-29 08:51] indirectlylit commented on #3200
I don't think you should be checking in real-time whether connectivity is enabled. We have a ping command that runs every 15 minutes or so. Recommend using the success/failure of the most recent ping as the indicator for connectivity. This value could be passed as an attribute (e.g. `internet_available`) in the new standard error response template that @ralphiee22 and @christianmemije put together

[2018-07-29 09:00] #3763 closed, assigned to ralphiee22

[2018-07-30 11:35] swapnil106111 opened #4082 "content import doesn't distinguish between duplicate items in multiple topics"
### Observed behavior
We have exported whole channel (599cda55ed1141e58cab7ab1d97e998d) in pen drive. When we are trying to import only Class3 and Class4 in other server from that pen drive, it is also importing Class8 in the server.

### Expected behavior
It must import selected content in the server.

### Steps to reproduce
1. Import channel (599cda55ed1141e58cab7ab1d97e998d) in kolibri.
2. Expo

[2018-07-30 16:27] khangmach commented on #3200
@indirectlylit I'm cool with that. @DXCanas let's use one message for now (the one with internet connectivity detected). I've appended a [final] to the google drive file to indicate which one we're using.

[2018-07-30 18:09] #4057 closed, assigned to jredrejo

[2018-07-30 22:35] DXCanas commented on #3200
@indirectlylit

I thought our pings only checked for connectivity to the Kolibri server, not the actual web? What are we pinging?

[2018-07-30 23:56] lauradanforth opened #4084 "Text box to fill in a formulaic answer is hidden until you click where it's located"
### Observed behavior

Reported by a forum user: On some KA exercises with a formulaic text box response, the text box area is invisible until you click where it's located.

Version: 0.10

See example: http://kolibribeta.learningequality.org/learn/#/topics/c/b2a23f0837985e82aaa56f16ef511e04

See forum post: https://community.learningequality.org/t/kolibri-issue-while-entering-formula-in-question-i

[2018-07-31 02:34] indirectlylit commented on #3773
just to clarify: my understanding from @khangmach is that the empty blocks are _not_ loading states. We should imagine that they have content in them. (I was confused by this originally)

![image](https://user-images.githubusercontent.com/2367265/43434199-53b5ede8-9483-11e8-9ddb-f699964eef41.png)

[2018-07-31 02:49] indirectlylit commented on #3200
You're referring to the client heartbeat. I'm referring to the Kolibri server telemetry. See:

* https://github.com/learningequality/kolibri/blob/develop/kolibri/core/analytics/management/commands/ping.py
* https://github.com/learningequality/nutritionfacts

[2018-07-31 03:03] indirectlylit commented on #4082
@swapnil106111 is there any chance that some content in Class8 also exists in Class3 or Class4?

[2018-07-31 05:07] rtibbles commented on #3773
This should be feasible, we already do pagination for search queries, and this would be similar.

Also worth noting that after recent changes to content loading, the strain of loading huge numbers of content nodes is decreased, so we should focus here on what is desirable for the UX.

[2018-07-31 17:17] khangmach commented on #3773
Updated the mockups to remove those blank blocks

[2018-07-31 17:50] jtamiace commented on #3773
I was worried at first that loading 16 at a time was too low of a number and might create a choppy or laggy experience on scroll, but if loading a few items at a time is fast enough, the continuous scroll experience could run smoothly.

Still, wondering if we can leave number of items per page flexible to whichever dev works on this, to test the limits on how many items actually creates a lag in l

[2018-07-31 18:43] khangmach commented on #3773
Sounds good. I'll leave the number of items loaded to whatever's dev-tested as optimal

[2018-07-31 19:56] jtamiace opened #4087 "Status tooltip in Exams not correct"
### Observed behavior

Tooltip says `Learners can only see active lessons`

<img width="1073" alt="screen shot 2018-07-31 at 12 53 35 pm" src="https://user-images.githubusercontent.com/6668144/43483592-f4345e66-94c0-11e8-9be8-9e1a79b95416.png">

### Expected behavior

Should say `Learners can only see active exams`

### User-facing consequences

Confusion

### Steps to reproduce

1. Go to Exams in

[2018-07-31 20:12] jonboiser opened #4088 "Upgrade eslint-plugin-vue and Configure it to use consistent ordering for custom Vue options"
1. ~Update eslint-plugin-vue to the latest version. Some of the new rules will lead to large changes, so we can apply them gradually.~ Fixed in #5331
1. Our components have two options `metaInfo` and `$trs` that are not considered by the [order-in-components](https://github.com/vuejs/eslint-plugin-vue/blob/master/docs/rules/order-in-components.md) rule. So they appear in different places in differ

[2018-07-31 23:15] khangmach commented on #4070
One option we can do is to not show the radio options upon modal load and first use a system message component used in content export modal:

Changed text to maybe something like:
"Loading connections..."

![loader system message](https://user-images.githubusercontent.com/25045166/43492139-7610a118-94dc-11e8-8c76-4c75f53624b1.gif)

[2018-08-01 18:20] rtibbles commented on #4084
This looks familiar. @christianmemije have we recently changed text box default styling in Kolibri that might have caused what I think is a regression?

@lauradanforth can you update the issue with the Kolibri version this was observed in? (I assume 0.10)

[2018-08-01 19:07] khangmach commented on #1971
Posting latest design mock-ups here just so everyone can track latest discussions/ideas

![addressing fit to width](https://user-images.githubusercontent.com/25045166/43543002-7271b536-9583-11e8-87d1-65dfd10e5829.png)

[2018-08-01 19:10] jonboiser opened #4093 "Creating a group, then renaming it before refresh returns 403 error"
### Observed behavior

After creating a new Learner Group, then renaming it, the request will fail with a 403 error.

In terminal (but not the browser, you also see these logs)

[code]

But a user can refresh the page and then rename it. The requests are different:

**Request before refresh**

[code]

**Request after refresh**
[code]
### Expected behavior

A user can rename a group after creating

[2018-08-01 21:03] jtamiace commented on #3780
Gherkin stories here

https://docs.google.com/document/d/17TueSXwwe3TH5-v-O9YpUZi0HnQ_rri_4TgYhQ9WMkI/edit

[2018-08-01 21:04] jtamiace commented on #3102
Gherkin stories here

https://docs.google.com/document/d/1xrRq0UTVn0bum5YuPRQ4ZSNkgpdy5Ny4tzdvgS7lBfg/edit

[2018-08-01 21:48] DXCanas opened #4094 "In KTextbox, Deleting a character jumps cursor to end of text field"
String is being trimmed too aggressively, likely due to our use of `v-model.trim`.

### Observed behavior

In any `k-input`, deleting a single bookending letter automatically throws the cursor to the next word.

### Expected behavior

Deleting a single letter only deletes that letter, Not the space before or after it.

### User-facing consequences

Unexpected naming/renaming. Frustration.

### Ste

[2018-08-01 23:58] christianmemije commented on #3987
This is an issue with the way we handle `first_login`
@rtibbles
https://github.com/learningequality/kolibri/blob/e9a394ac7d31aa15bfaa3ed86c84c17ba3182040/kolibri/core/views.py#L95

[2018-08-02 04:13] rtibbles commented on #3987
Yeah, the first login flag needs to be amended slightly to fall back to the non first login if not available. Will fix.

[2018-08-02 16:42] christianmemije commented on #4084
The issue is due to the reset that is done, particularly setting border to none.

https://github.com/learningequality/kolibri-exercise-perseus-plugin/blob/3548d20a60540b2dda2f4ecd0b47e6106b50fba5/kolibri_exercise_perseus_plugin/assets/src/views/PerseusRendererIndex.vue#L606

[2018-08-02 19:29] #3606 closed

[2018-08-02 22:11] #4093 closed, assigned to nobody

[2018-08-03 12:40] benjaoming commented on #4084
So it sounds like the issue reported in Community Forums is actually related to Studio?

[2018-08-03 17:37] #2022 closed

[2018-08-03 18:34] aronasorman commented on #2450
Fixed now in https://github.com/learningequality/kolibri/pull/3702

[2018-08-03 18:34] #2450 closed

[2018-08-03 20:04] jtamiace commented on #3739
Here is a spec that can fix this issue, and locations of each UI that would need to be changed. In addition, and slightly unrelated to this issue specifically, there are updates to the appearance of pills

https://docs.google.com/document/d/1yElT9M6NkWJ04_S7uVdjnm6eZXUL-Gmdv5c3Vr-Ai-0/edit

[2018-08-03 20:10] jtamiace commented on #4070
+1 for consistency

[2018-08-03 20:51] lyw07 commented on #3883
For the first problem, I agree with @jonboiser that it's the correct behavior shown in the image, because the size of selected resources is 78GB, which is greater than 33GB.
If you could try to de-select all the resources in the channel, you should be able to see available disk space 33GB.

For the second problem, I have a fix for it now so that when an exception is raised, the files that have bee

[2018-08-06 13:14] benjaoming commented on #4058
Fixed in #4059 and released in 0.10.1

[2018-08-06 13:14] #4058 closed, assigned to lyw07

[2018-08-06 13:15] benjaoming commented on #4014
Fixed in #4059 and released in 0.10.1

[2018-08-06 13:15] #4014 closed, assigned to lyw07

[2018-08-06 13:49] benjaoming commented on #3963
Fixed in #4059 and released in 0.10.1

@nobicycle the installers for this release are here:

PEX, .whl and Windows installer: https://github.com/learningequality/kolibri/releases/tag/v0.10.1

Debian installers currently from the Kolibri proposed repository: https://launchpad.net/~learningequality/+archive/ubuntu/kolibri-proposed

[2018-08-06 13:49] #3963 closed, assigned to lyw07

[2018-08-06 13:49] benjaoming commented on #3963
@nobicycle also big thanks for doing so much work to help getting this fixed! I _hope_ that it works now, and I will try to do some testing on Raspberry Pi.

[2018-08-06 15:45] benjaoming opened #4110 "Add tests for exam creation"
### Observed behavior

### Expected behavior

To avoid regressions in areas that may be hard to reach with manual tests, we need to significantly improve this coverage.

### User-facing consequences

n/a

### Errors and logs

n/a

### Steps to reproduce

n/a

### Context

0.10.2+

[2018-08-06 15:48] benjaoming opened #4111 "Code review / systematic search for avoidable queryset traversals"
### Observed behavior

#4107 addressed a performance issue that was fixable by using normal database aggregation. It would seem reasonable to have a systematic look through the code base to see if there are similar patterns.

If anyone recalls any spurious behaviors they may have hurried into the codebase or otherwise encountered and wonder if it should be replaced by database aggregation, please

[2018-08-06 16:59] jredrejo commented on #3806
Duplicate of #4021
Both #4021 and #3806 are the same issue.

[2018-08-06 17:04] benjaoming commented on #3825
Here is another type of malformed database. Happening on a Raspberry Pi w/ Raspian and Kolibri from PPA:

1. Upgraded Kolibri 0.10.1 on top of 0.10.1-beta1, which was working fine.
1. Observation 1: There are not db schema differences between these two.
1. Observation 2: It was a very heavy db (126 MB), carrying all of Khan Academy.
1. Then got the malformed db. It seems to have happened while sto

[2018-08-06 17:10] jredrejo commented on #4021
@mrpau-julius can you confirm that the bug disappears the second time you start kolibri, after the migration?
I.E.:
- first time you run it, it migrates the data and this bug appear
- second time you run it, nothing is migrated and device and facility are shown.

[2018-08-06 17:29] #3987 closed, assigned to rtibbles

[2018-08-06 17:35] benjaoming opened #4112 "CLI: Initialization is run too early for some commands"
### Observed behavior

We should exempt some commands like `dbrestore` and `help` from creating a database. Maybe also some other commands like `status` and `stop`.

Since https://github.com/learningequality/morango/issues/48 was fixed, we should AFAIK be able to load the Django stack without any database connection. Anything else would be a regression.

Running `kolibri manage help` will bootstra

[2018-08-06 17:47] benjaoming opened #4113 "kolibri manage dbrestore broken in 0.10"
### Observed behavior

It seems that it's impossible to run `kolibri manage dbrestore` because another transaction is already running. Suspecting that a db connection is being prematurely opened during load time.

### Expected behavior

Command runs without connecting to database. This affects several commands as explained in #4112

### User-facing consequences

Users cannot restore from backups.

[2018-08-06 17:48] benjaoming commented on #4113
One possible way to troubleshoot this, would be to mock `django.db.connections` and fail if any database connections are opened while loading `kolibri.utils.cli` and calling `restore`.

[2018-08-06 17:48] #3780 closed, assigned to jonboiser

[2018-08-06 17:48] #3838 closed, assigned to jonboiser

[2018-08-06 17:48] #3877 closed, assigned to jonboiser

[2018-08-06 17:48] #4087 closed, assigned to jonboiser

[2018-08-06 21:06] #3988 closed, assigned to nobody

[2018-08-07 13:57] nobicycle commented on #3963
Much obliged. will test asap.

[2018-08-07 14:15] nobicycle commented on #3963
Just downloaded the Kahn Academy channel listings!
No error in server.log!
Great stuff.
Thanks

[2018-08-07 14:43] laurenlichtman opened #4117 "New channel added not appearing in Admin page list of content or on Learn"
### Observed behavior
It seems that when updating a channel, the channel itself gets set as unavailable, and is absent from both learn and the device channel page.

This occurred once when I was importing content locally, and another time when I was importing content from Studio. When I tried importing again, it worked in the future.

### Expected behavior
You expect for a channel to appear once i

[2018-08-07 14:46] rtibbles commented on #4117
@mrpau-julius could you see if you can replicate this bug on latest 0.10?

[2018-08-07 17:54] #3805 closed, assigned to nobody

[2018-08-07 17:54] #3806 closed, assigned to jredrejo

[2018-08-07 17:54] #4021 closed, assigned to jredrejo

[2018-08-07 18:16] rtibbles commented on #4117
Additional report from UNETE: " i'm browsing Kolibri platform and found some bug, but maybe is just a usability thing. Some days ago i downloaded Open Stax channel (partially). Today i try the feature "importar más" inside the channel and get an "Actualizar" blue button... so i click on it hoping that the contents that I had were updated.. instead they delete... if i have to re-select the partial

[2018-08-07 18:17] jonboiser opened #4119 "Error when mastering a Perseus exercise for a second time"
### Observed behavior

Get this error when mastering an exercise for the second time.

e.g. at http://localhost:8000/learn/#/topics/c/69e5e6abf479581483d441b83d7d76f4

I mastered this exercise once, then refreshing and mastering it again attempts a POST to `/api/masterylog` with an incomplete payload

[code]

Resulting in a validation error

[code]

(It does not have problems if I just continue do

[2018-08-07 20:37] jamalex opened #4120 "Channel version shown on content import page is remote version, not current local version"
### Observed behavior

I set my local ChannelMetadata version to 0 to trigger updates. It then correctly shows me that a new version (6) is available. However, it also shows that my current version is 6, which is misleading (as I then can't compare to see what version is currently loaded that I'd be upgrading from):

![image](https://user-images.githubusercontent.com/618416/43800934-8f11ef68-9a46-

[2018-08-07 21:14] benjaoming commented on #3963
I observe the same -- have been importing for 24 hours on my Raspberry Pi without error messages :)

[2018-08-08 00:59] mrpau-julius opened #4122 "When I click full screen of app file it turns background black"
### Observed behavior

I Observe the behavior of this file, I import the channel " Thoughtful Learning" and check it out. when I click full screen background it turn to black.

![observe-full-screen turn black](https://user-images.githubusercontent.com/38421180/43810043-58f9c4b2-9ae8-11e8-9c9b-58a3e387e53e.png)

@radinamatic
I was however able to replicate the "black screen" issue, although it's n

[2018-08-08 01:20] mrpau-julius commented on #4117
@laurenlichtman in what channel you import to kolibri v0.10? So that it's easily to replicate the bug.

[2018-08-08 02:45] mrpau-julius commented on #4117
Now I trace this issue, yes It's has a bug when you update your channel in kolibri studio(https://studio.learningequality.org).
step to reproduce
1. I create a channel (ex. bible study)  in kolibri studio with two .pdf and publish it.
2. I copy the channel ID and paste it to "try adding your token" (kolibri v0.10.1)
3. I imported the channel that I made and see the channel (ex. bible study)
4. I g

[2018-08-08 05:04] jamalex commented on #4117
Fixed in https://github.com/learningequality/kolibri/pull/4123

[2018-08-08 11:01] nobicycle commented on #3679
Hi, I experienced the same with version 10.1
I was testing the fix of
https://github.com/learningequality/kolibri/issues/3963
That fix was a success. I was able to download Kahn Academy channel listings.

However,  afterwards I started downloading some content from that channel. After about 8 MB I ran out of internet quota (for the day). Therefore I clicked cancel.

If I then go to Device, I am in

[2018-08-08 11:05] nobicycle opened #4125 "Lost Channel Listings V2"
Suggest to reopen https://github.com/learningequality/kolibri/issues/3679
"Lost Channel Listings"

Hi, I experienced the same problem described in issue 3679,  with version 10.1 of Kolibri.
Pip install. Browser Vivaldi.

[code]

I was testing the fix of
https://github.com/learningequality/kolibri/issues/3963
That fix was a success. I was able to download Kahn Academy channel listings.

However,  a

[2018-08-09 07:49] arky opened #4127 "Apache2 Reverse proxy subdirectory /kolibri"
I found that it was difficult to deploy Kolibri using Apache2 mod_proxy module on subdirectory "/kolibri". The issues stems from the fact that django users absolute paths internally.

Here is full Apache2 kolibri.conf configuration:

[code]
And Kolibri Systemd unit file.

[code]
And the downstream bug: https://github.com/iiab/iiab/issues/913

[2018-08-09 21:31] jeepurs opened #4150 "Error message appears green"
### Observed behavior

I purposely tried to cause an error, but instead of the expected error message, I got a green bar and got redirected quickly so I couldn't read my message

### Expected behavior

I expected an error message

### User-facing consequences

The green color indicates something went ok, but in fact something went wrong. Confusion.

### Errors and logs

### Steps to reproduce

![e

[2018-08-10 02:15] nobicycle commented on #4125
New discovery:

With Kolibri reporting "No Content", I went ahead to fetch Kahn Academy listings again. Kolibri returned very quickly - I assume it reused the already downloaded listings.

[2018-08-10 06:12] mrpau-julius opened #4151 "Can't click the next question in exam"
### Observed behavior

I Observe that exam has a bug when I click the next question button, while the exam is on-going.

Refer to the Gherkin scenario:
https://github.com/learningequality/kolibri/blob/gherkin-features/integration_testing/features/learner/learner-take-exam.feature
![can t click the next question](https://user-images.githubusercontent.com/38421180/43941507-440a771c-9c29-11e8-8204-f1

[2018-08-10 07:33] mrpau-julius opened #4152 "Update languages for 0.11.0"
### Observed behavior
Change languages not working has a bug.
refer to Gherkin scenarios
https://github.com/learningequality/kolibri/blob/gherkin-features/integration_testing/features/learner/learner-change-language.feature
![can t change languages](https://user-images.githubusercontent.com/38421180/43944646-7b847b7e-9c34-11e8-97e3-e207629d0b0a.png)

### Expected behavior
Can change languages

###

[2018-08-10 17:42] jonboiser commented on #4151
This should be fixed in #4115

[2018-08-10 17:49] jonboiser commented on #4152
This might be because all of the translated string references were renamed recently, hence all of the warnings on the right.

[2018-08-10 18:12] jonboiser commented on #4150
What was the error you were trying to cause? What are the steps?

The "Green Bar" actually indicates that you were successful in changing the Facility Settings. So this would be a bug if changing settings forces a log-out.

[2018-08-10 18:31] jeepurs commented on #4150
Steps to reproduce (also in the gif):
1. Log in as admin on one tab, go to Users tab (or anything in Facility)
2. Open Kolibri on another tab
3. Sign out on new tab
4. Log in as learner on new tab
5. On first tab, try to change Device Settings

[2018-08-10 21:58] jamalex opened #4155 "Are we using the wrong file to "glue" together core URLs?"
At the top of **kolibri/core/urls.py**:

[code]

In **kolibri/deployment/default/urls.py**:

[code]

So..... it seems we're not following the pattern we specified? Should we be moving those URLs into kolibri/core/urls.py? I'm trying to remember whether there was some sort of blocker for doing that -- I know I've added stuff into the deployment file, but I think I was just following the pattern we

[2018-08-10 22:01] jamalex commented on #4155
In the meantime, I'm going to follow the current pattern, as my PR has enough rabbitholes in it.

[2018-08-10 22:08] benjaoming commented on #4155
I agree very much, we should have URLs served by the applications that control them. The project-wide URL specification should only include application URL patterns, and not the individual patterns of applications.

[2018-08-13 20:19] benjaoming opened #4157 "CI: Change or cache yarn installation source"
### Observed behavior

Frequently, the way that yarn is installed results in:

[code]

Either we cache yarn, or we can switch to their repo, which supposedly doesn't produce this.

I have reported this upstream:

https://github.com/yarnpkg/yarn/issues/6186

### Expected behavior

That devs have fewer false negatives.

### User-facing consequences

n/a

[2018-08-14 05:42] mrpau-julius opened #4159 "Exam page has lag when I creating an exam"
### Observed behavior
I observed the exam page was lag when I click the checkbox. When I click Stop it, theirs error message in console.
Refer to Gherkin scenarios :
https://github.com/learningequality/kolibri/blob/gherkin-features/integration_testing/features/coach/coach-create-exams.feature
![lag-error](https://user-images.githubusercontent.com/38421180/44073483-f9afd3ec-9f48-11e8-9762-1e725ec91

[2018-08-14 07:38] mrpau-julius opened #4160 "Try to edit my new admin role to learner"
### Observed behavior

Observe, I try to added a new admin user, and Edit by own account role to learner account.

![error-bad-request](https://user-images.githubusercontent.com/38421180/44077867-daaee954-9f59-11e8-969b-54d39adf2ec9.gif)

### Expected behavior

It will change to learner account with no error messages.

### Context

Kolibri 0.11.0a5
windows 7
firefox 61.0.2 (64-bit)

[2018-08-14 13:31] nobicycle opened #4161 "Kolibri Interactive Exercises Not Working Properly"
Hi,

This issue appeared to be the same as   #3620; but that was because internet was down locally today.

The phenomenon is the same however - inability to use the interactive exercises.

Kolibri 10.1, pip install, Vivaldi browser.

Please see attachments below for documentation per Kolibri 10.1

![count with small numbers](https://user-images.githubusercontent.com/1372447/44094537-09e53782-a009-

[2018-08-15 13:29] arky commented on #4127
@holta Please kindly follow-up kolibri on subpath feature request here. Thanks!

[2018-08-15 16:28] arky commented on #4161
@nobicycle Thanks for reporting. Let me do some digging.

[2018-08-15 16:55] #4117 closed, assigned to nobody

[2018-08-15 16:57] benjaoming commented on #4113
I'm going to have to delay this, if we want 0.10.2 out... but I think we need a 0.10.3 milestone, anyways, given that there is a long time until 0.11!

[2018-08-15 17:02] holta commented on #4127
Another vote for @arky's Django suggestion/recommendation here, so that Kolibri can be cleanly integrated into Internet-in-a-Box 6.7 later this year.

Even if this is not possible for [IIAB 6.6](https://github.com/iiab/iiab/wiki/IIAB-6.6-Release-Notes) in August now, but still honoring teachers' and students' eternal requests for a clean/mnemonic URL like http://box/kolibri

_Profound thanks to @i

[2018-08-15 19:12] #4023 closed, assigned to ralphiee22, jonboiser

[2018-08-16 13:13] swapnil106111 opened #4162 "Out of exam when dealing with input type question"
### Observed behavior
When learner is trying to enter the answer of  input type question, exam automatically gets closed.
Cases:
1. When enter more than two digit answer.
2. When learner is trying to erase the answer(in short backspace takes user out of the exam).

Channel ID : 9ba9b274853845dba7863dd66687568a (Input type question).

Note: This is just sample channel. This issue is arising across

[2018-08-16 22:32] indirectlylit commented on #4093
ref #4086

[2018-08-16 22:40] indirectlylit commented on #4084
Perhaps @lauradanforth linked to the wrong forum post? Looks like there was also a legitimate Kolibri issue.

I've opened a new issue for the Studio forum post: https://github.com/learningequality/studio/issues/891

[2018-08-16 22:40] #4084 closed, assigned to christianmemije

[2018-08-16 22:55] indirectlylit commented on #3883
For the first problem, I wonder if it would be less confusing to say:

rather than

because 'Your remaining space' is ambiguous about whether it refers to post- or pre-import

[2018-08-16 23:18] indirectlylit opened #4163 "error details are not keyboard-navigable"
### Observed behavior

the error details are currently implemented using a `<pre>` tag instead of a `<textarea>`:

![image](https://user-images.githubusercontent.com/2367265/44239362-cac1b600-a16d-11e8-8226-98aa5f906162.png)

This means that you can't get a cursor into the text area, or use ctrl-a to select all. Instead, it selects everything on the page:

![image](https://user-images.githubuserco

[2018-08-16 23:19] indirectlylit commented on #4163
cc @DXCanas

[2018-08-16 23:49] indirectlylit commented on #4113
Do we actually need to maintain `dbrestore`? (My understanding is that it was created to address the malformed DB issues, but doesn't actually do that.) We could potentially just remove the command.

[2018-08-16 23:50] indirectlylit commented on #3780
have the gherkin stories been added to the repo? If not, should we make that part of the process in the future?

[2018-08-16 23:55] indirectlylit commented on #4075
According to the [releases page](https://github.com/vuejs/vue/releases), 2.5.17:

Looks like they had an emergency security fix, and those beta changes will come in 2.5.18?

[2018-08-16 23:58] indirectlylit commented on #4075
also, by committing 34edbc4 we are no longer testing the beta

[2018-08-17 00:11] indirectlylit commented on #4125
#3679 is still open

[2018-08-17 00:11] #4125 closed, assigned to nobody

[2018-08-17 00:12] indirectlylit commented on #3679
in #4125 @nobicycle reports:

[2018-08-17 00:44] indirectlylit commented on #4150
Yes, inside the green bar it says 'there was a problem saving your settings'

[2018-08-17 00:46] indirectlylit commented on #4151
@mrpau-julius would you mind checking whether this issue still exists now that #4115 is merged?

[2018-08-17 05:28] mrpau-julius commented on #4151
@indirectlylit I checked the #4115, this issue is not exists. it's fixed in this merged PR.

[2018-08-17 07:09] mrpau-richard opened #4164 "Can't delete exam"
### Observed behavior
I'm having a javascript errors when deleting exam.

### Errors and logs

![screen shot 2018-08-17 at 2 58 54 pm](https://user-images.githubusercontent.com/8663934/44252535-0d979280-a22f-11e8-9713-a160d0d8fc64.png)

[code]

### Steps to reproduce
* Log in as Facility coach.
* Create an exam.
* Delete the exam you created.
### Context

Tell us about your environment, including:

[2018-08-17 14:50] rtibbles commented on #4164
Looks like a typo.

[2018-08-17 17:22] khangmach opened #4165 "Exam reports will always show progress for entire class/every group, regardless of recipient assignment"
### Observed behavior
An exam assigned to 1 group, will show reports for every group
An exam assigned to 2+ groups, will show reports for every group

### Expected behavior
An exam assigned to 1 group will only show reports for that one grouop
An exam assigned to 2+ groups will only show reports designated to those number of groups
An exam assigned to "entire class" will show reports for the entir

[2018-08-17 17:35] khangmach commented on #4165
I have a hunch this is possibly due to the exam being assigned to "Entire class" by default once is leaves the curation area. Can still mitigate this by hiding/nulling progress for all groups/learners not currently in the newly assigned groups?

[2018-08-17 21:37] #4042 closed, assigned to jonboiser

[2018-08-17 21:37] #4069 closed, assigned to jonboiser

[2018-08-17 21:43] rtibbles commented on #4165
I think it's just that the exam report just shows the entire class always, regardless of the assignees, but possible I misread the code in question.

[2018-08-17 21:55] khangmach commented on #4165
@rtibbles Yup, that's the issue I was trying to frame.

[2018-08-20 13:29] swapnil106111 commented on #4082
@indirectlylit Yes. Class8 contents are present in Class3 and Class4.

[2018-08-21 00:11] indirectlylit commented on #4152
that is correct. Setting milestone and updating title

[2018-08-21 00:21] indirectlylit commented on #4159
work-arounds based on meeting today with @khangmach @rtibbles @jtamiace

* hide checkboxes at channel level
* make topics and channel text into purple links
* completely hide rows that are currently disabled

Longer-term (e.g. 0.11.0) we may want to also add validation which shows a modal warning if more than e.g. 200 exercises are selected

[2018-08-21 00:26] indirectlylit opened #4170 "uncaught error in setup wizard"
### Observed behavior

Start with a fresh Kolibri installation and load the setup wizard

![image](https://user-images.githubusercontent.com/2367265/44373440-075b1d80-a49e-11e8-913a-8ff49123145f.png)

![image](https://user-images.githubusercontent.com/2367265/44373449-13df7600-a49e-11e8-8314-12dc8b19cdfc.png)

### Expected behavior

no error

### User-facing consequences

unknown

### Errors and l

[2018-08-21 00:28] indirectlylit commented on #4160
@jtamiace @khangmach what is the expected behavior here? We should either:

1. prevent the user from lowering their user type
2. log them out after the action is taken

I believe we have precedent in similar situations to follow

[2018-08-21 00:30] rtibbles commented on #4160
Previously we had prevented this.

[2018-08-21 00:31] rtibbles commented on #4160
Or possibly logged them out, either way, I remember us handling this case previously.

[2018-08-21 00:37] indirectlylit opened #4171 "tooltips must be accessible"
### Observed behavior

For example, recently we added this tooltip in the setup wizard:

![image](https://user-images.githubusercontent.com/2367265/44373677-4473df80-a49f-11e8-8fe3-28c26384797d.png)

In other places, we've replaced tooltips with `title` attributes to make them responsive. However, `title` is [not accessible](https://developer.paciellogroup.com/blog/2012/01/html5-accessibility-chop

[2018-08-21 00:38] indirectlylit opened #4172 "setup wizard should have bottom margin"
### Observed behavior

bottom is touching:

![image](https://user-images.githubusercontent.com/2367265/44373789-ded42300-a49f-11e8-899b-332c1a1a6eb5.png)

### Expected behavior

some padding below

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2018-08-21 21:20] indirectlylit commented on #4127
Thanks for the feedback!

We've run into similar situations internally, and we have an item in our roadmap to allow Kolibri to be configured to mount urls under a subpath.

We have it tentatively scheduled for 0.11.0 but it's not currently a hard requirement. Since it looks like it'd be useful for you, I'll try to increase the priority.

[2018-08-21 21:25] indirectlylit commented on #4151
thanks @mrpau-julius and @jonboiser

[2018-08-21 21:25] #4151 closed, assigned to nobody

[2018-08-21 21:30] indirectlylit commented on #4164
### de·let

/dəˈlɛt/ _verb_: To stop renting

[2018-08-21 21:36] indirectlylit commented on #4082
@swapnil106111 unfortunately for the moment this is expected behavior, because the duplicate content within a channel is considered "the same", and we can't currently distinguish between multiple copies in different topics.

I'll log an internal report on this UX issue.

Two potential work-arounds might be:

* create a separate channel for each class, and import them independently
* use lessons to

[2018-08-21 21:38] holta commented on #4127
Many thanks @indirectlylit.

If you need testing help along the way, definitely let us know~

[2018-08-21 21:46] rtibbles commented on #4127
I am futzing with the URLs now, so I will implement this on the way.

[2018-08-21 22:23] indirectlylit opened #4175 "insufficient padding between type icons and text"
### Observed behavior

we have icons directly next to text in many places

![image](https://user-images.githubusercontent.com/2367265/44432159-c0306380-a555-11e8-81b3-7e03edaa3a04.png)

### Expected behavior

Let's do an audit and add sufficient spacing between text and icons as per [Material guidelines](https://material.io/design/layout/spacing-methods.html#spacing)

### User-facing consequences

[2018-08-22 18:17] rtibbles commented on #4162
This should have been fixed in #4174. Please confirm the fix in 0.9.4-beta4.

[2018-08-22 18:47] rtibbles commented on #4170
Note that this only happens in dev mode, and is a consequence of the schema.js endpoint being blocked by the setup wizard middleware. Can fix.

[2018-08-22 19:11] rtibbles commented on #2197
I believe this is fixed, except for the sub-section piece, which would come more under the 'plugins for plugins'?

[2018-08-22 19:12] rtibbles commented on #1952
I think this has been handled with the switch to jest.

[2018-08-22 19:12] #1952 closed

[2018-08-22 21:44] rtibbles commented on #2616
@swapnil106111 is this still extant? As noted previously, this is an issue with the content item, so if content has been updated, this should not be happening.

[2018-08-22 21:50] rtibbles commented on #3927
This does not appear to be extant on current develop.

[2018-08-22 21:50] #3927 closed, assigned to nobody

[2018-08-23 02:10] nobicycle opened #4182 "Kolibri fails under Python 3.7 - SyntaxError: Generator expression must be parenthesized"
$ uname -a
Linux tower 4.14.65-1-MANJARO #1 SMP PREEMPT Sat Aug 18 13:29:56 UTC 2018 x86_64 GNU/Linux
[me@tower Kolibri]$ python -V
Python 3.7.0

Hi, install  is now failing since Python moved to version 3.7.

[2018-08-23 03:07] nobicycle commented on #4182
Same applies to kolibri pex version

[2018-08-23 03:25] arky commented on #4127
Thank you @rtibbles !

[2018-08-23 06:37] swapnil106111 commented on #4162
@rtibbles Tested this issue in Kolibri-0.9.4. It is not going out of the exam but If we type 12345 in the answer box and clears everything then it keeps some digits of the answer in answer box.
Please watch attached video for more clarification.

Before clearing the answer:
![screenshot from 2018-08-23 11-53-40](https://user-images.githubusercontent.com/12776071/44508300-6fdb1200-a6cb-11e8-8b29-49

[2018-08-23 13:15] benjaoming commented on #4127
@rtibbles couple of questions:

How many Django configuration settings are necessary for this to work? Will the new implementation respect `STATIC_URL` and `MEDIA_URL`? Are there others?

Furthermore, since there might be several URLs that need prefixing, should we perhaps introduce a `KOLIBRI_URL_ROOT`, which should be allowed to be a full URI? (i.e. `https://learningequality.org/kolibri/demo`) ?

[2018-08-23 13:46] benjaoming commented on #4113
@indirectlylit haven't investigated the cause of this yet, and if the cause is that we have premature db connections, then it's not even the command that's broken.

[2018-08-23 18:48] #4164 closed, assigned to rtibbles

[2018-08-23 19:10] rtibbles opened #4184 "Add search to Exams"
### Observed behavior
Currently it is impossible to search for content in exam creation.

### Expected behavior
Be able to search for content in exam creation.

### User-facing consequences
Requires strong mental model of the content library before can start using content as a coach.

https://trello.com/c/qHkrh2jD/135-search-in-exams

[2018-08-23 19:11] rtibbles opened #4185 "Add Search to Lessons"
###Observed behavior
Currently it is impossible to search for content in lesson creation.

###Expected behavior
Be able to search for content in lesson creation.

###User-facing consequences
Requires strong mental model of the content library before can start using content as a coach.

https://trello.com/c/pNhNvnLT/134-search-in-lessons

[2018-08-23 20:54] rtibbles commented on #4162
Should be fixed in #4186.

[2018-08-23 21:16] rtibbles commented on #4161
Thanks for the reports, we have set the machinery in motion to resolve this, and will not be dependent on a particular Kolibri release, just updating the KA channel.

@ralphiee22 can you ping here when the issues should be resolved?

[2018-08-23 21:16] rtibbles commented on #4159
The 0.10.2 fixes for this have been merged, punting further work to 0.11.

[2018-08-23 21:18] lyw07 commented on #3274
Hi @nobicycle, does this issue still exist if by any chance, your kolibri has been upgraded to 0.10? Thank you!

[2018-08-23 21:27] lyw07 commented on #3679
This should be fixed in upcoming 0.10.2 with the PR https://github.com/learningequality/kolibri/pull/4168

[2018-08-23 21:29] lyw07 commented on #4007
Yes it's actually `remaining disk space after the import`. Maybe a UI change suggested in https://github.com/learningequality/kolibri/issues/3883#issuecomment-413708535 could help?

[2018-08-23 21:47] lyw07 commented on #3821
Not able to reproduce this error on 0.10.
After adding a thumbnail to the channel (originally the channel doesn't have a thumbnail), I'm not able to publish the channel directly.
So I had to add a new file to the channel and publish it, then the database file got changed and the channel on Kolibri had the thumbnail show up after I updated the channel on Kolibri. It also works when I delete the cha

[2018-08-24 02:57] mrpau-richard opened #4189 "kolibri start command can't detect if the port is not available."
### Observed behavior
I have running KA LIte server on port 8008 then I run the `kolibri start` command at the command prompt and I used the same port 8008 then kolibri say it running on that port but when I check it it's not, still KA Lite using that port.

### Expected behavior
`kolibri start` command should have an error that the port is not available.

### Errors and logs
![screen shot 2018-08

[2018-08-24 09:40] benjaoming commented on #4007
Hi @lyw07 - thanks for the ref! I can now see that this is partly a duplicate of #3883. I have changed the title so the two issues do not overlap.

I agree with @indirectlylit that the other part can be fixed through unambiguous labels of disk space.

[2018-08-24 09:42] benjaoming commented on #3883
I agree with @indirectlylit - this text change is urgently needed. I know that we have a string freeze in 0.10.x, but we could fix this by only adding text and changing the order?

[2018-08-24 09:45] Oyster1 opened #4190 "Windows7 Import/Export error"
### Observed behavior

…

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

Installed, setup user, password etc, > Device > Import from USB > error 'No drives that can be written to are connected to the server' received.

### Context

Kolibri ver 0.10.0
Windows 7 64bit
Chrome Version 68.0.3440.106 64bit

[2018-08-24 09:52] mrpau-julius opened #4191 "Bug on Exam preview, close button overlap"
### Observed behavior
I observe have a bug in Exam preview, the close button is overlap by the question display.
So that I can't see the close button.
The questions are from Khan Academy(English)

![close button are overlap by the question](https://user-images.githubusercontent.com/38421180/44578258-09e0a000-a748-11e8-9109-0a3e7d6e5786.png)

…

### Expected behavior
The close button can see below

[2018-08-25 00:49] jamalex commented on #2865
Looks like it was a holdover from this older issue: https://github.com/learningequality/kolibri/issues/1818

We've manually deleted the DB file for the "rogue channel" through the backend, so it should no longer have any way to reappear.

[2018-08-25 00:49] #2865 closed

[2018-08-27 08:21] mrpau-richard opened #4194 "scan for availability during import from local drive"
### Observed behavior
When I import channel content from attached drive and I select the contents that's not at my local drive, it will start to download but after the download finished the channel local contents still the same.

### Expected behavior
Downloaded channel contents should show at the channel local contents.

### Errors and logs
![screen shot 2018-08-27 at 3 59 24 pm](https://user-ima

[2018-08-27 12:09] benjaoming commented on #4189
This should be addressed in #3285

[2018-08-27 16:18] lyw07 commented on #4194
Hi @mrpau-richard , could you please also attach the `kolibri.log` here? Thank you!

[2018-08-27 16:58] indirectlylit commented on #4189
also related and targeted to 0.11.0: https://github.com/learningequality/kolibri/issues/1707

[2018-08-27 17:05] indirectlylit commented on #3314
I believe this is complete

[2018-08-27 17:05] #3314 closed

[2018-08-27 17:05] lyw07 opened #4195 "Fail to run kolibri in debug mode."
### Observed behavior

When running kolibri from the current develop in debug mode, I get an error saying that coreapi module is not installed.

### Expected behavior

Kolibri should run successfully in debug mode.

### User-facing consequences

Users will not be able to run kolibri in debug mode

### Errors and logs

[code]

### Steps to reproduce

1. Get pex file from latest develop
2. run `pyth

[2018-08-27 17:06] indirectlylit commented on #3200
this is complete, and we've decided to punt on making reactive to the 'online status'

[2018-08-27 17:06] #3200 closed

[2018-08-27 17:07] indirectlylit commented on #3158
This should be addressed. @ralphiee22 mind linking your error-handling PR here?

[2018-08-27 17:07] #3158 closed

[2018-08-27 17:43] benjaoming commented on #4189
@indirectlylit this was previously fixed in https://github.com/learningequality/kolibri/issues/3048, so the issue is a regression in 0.10 - not sure when, why etc :)

[2018-08-27 19:32] benjaoming commented on #4190
Thanks for opening up this issue! We need a bit more information, as it's not commonly reproducible.

Please provide:

 1. Your `kolibri.log` file from `C:\Users\<username>\.kolibri\kolibri.log`
 1. Open up Command Prompt in Windows, and attach the result of the command `wmic logicaldisk list full /format:csv`

If you need any assistance to complete the above steps, please feel free to say so!

[2018-08-27 19:36] lyw07 opened #4196 "Need to redistribute cryptography in the cext folder"
### Observed behavior

Importing cryptography under python version > 3.4 in Linux will fail because cryptography >= 2.2 starts to ship an abi3 wheel for macOS and linux,  which is compatible with 3.4+. The code in current `build_tools/install_cexts.py` will distribute the cryptography packages in a way that linux with python 3.4+ cannot find the cryptography module under `cext` folder.

### Expect

[2018-08-27 21:03] Oyster1 commented on #4190
Hi, hope this is what you want, if not please email me. Thanks.

kolibri.log
INFO 2018-08-24 10:18:26,829 apps Running Kolibri with the following settings: kolibri.deployment.default.settings.base
INFO 2018-08-24 10:18:27,812 cli Kolibri running for the first time.
INFO 2018-08-24 10:18:27,812 cli We don't yet use pre-migrated database seeds, so you're going to have to wait a bit while we create a

[2018-08-27 21:51] lyw07 commented on #4190
Based on this info: `Output from 'wmic logicaldisk list full /format:csv' gives error 'Invalid XSL format (or) file name'.`, it's caused by a bug of `wmic` in Win7 when the locale used is not US English. I will have a fix for it.

[2018-08-28 02:55] mrpau-richard commented on #4194
Hi @lyw07 , Here's the [kolibri.log](https://github.com/learningequality/kolibri/files/2326324/kolibri.log) file.

[2018-08-28 03:28] mrpau-richard opened #4199 "Incorrect channel content size details"
### Observed behavior
When I select channel contents to import, I see it has 108 resources and 45mb of size but after it was imported it has 177 resources and 43mb of size.

### Errors and logs
This is when I select a channel contents to import.
![screen shot 2018-08-28 at 11 14 26 am](https://user-images.githubusercontent.com/8663934/44698898-5c0d2280-aab4-11e8-94ac-7ff6fb93e19f.png)

After the c

[2018-08-28 06:59] Oyster1 commented on #4190
Changed locale to US English, same error!

[2018-08-28 07:38] lyw07 commented on #4190
Hi @Oyster1 , thank you so much for the update! Could you try to run `wmic logicaldisk list full /format:"%WINDIR%\System32\wbem\en-us\csv"` and see if you still get the same error? Thanks!

[2018-08-28 07:48] Oyster1 commented on #4190
Hi Lingyi,

Same error in both in UK English locale and US English locale!

My apologies but I shall be away from my office for the rest of the UK day
but will answer and query when I return.

Regards,
Nigel Eames.

On 28 August 2018 at 08:38, Lingyi Wang <notifications@github.com> wrote:

[2018-08-28 07:49] lyw07 commented on #4190
Thank you for checking! I will dig into this problem more to see what else could cause the issue.

[2018-08-28 07:51] lyw07 commented on #4194
thank you for the log file @mrpau-richard ! I see all of the files were failed to import from external drive. For example,
[code]
Not sure what caused this issue. I will try to reproduce it on my VM

[2018-08-28 16:03] benjaoming commented on #4194
@mrpau-richard can you see any relation to #3269? The issue indicates that channel contents are somehow lifted from the online source, rather than the local drive...

[2018-08-28 22:27] DXCanas commented on #4163
A `<text-area>` seems an odd decision, given that this isn't supposed to be taking any input? I can understand some use cases for subset selection, but wouldn't the "copy-to-clipboard" button be more ideal than doing the `ctrl-a`, `ctrl-c` procedure?

Purely subjective, but being able to tab into the error isn't behavior I'd expect o.o

[2018-08-29 00:33] mrpau-richard commented on #4194
@benjaoming yeah, I think this is related to the #3269 issue.

[2018-08-29 04:26] mrpau-richard opened #4200 "Lib has no attribute 'Cryptography_HAS_SSL_ST'"
### Observed behavior
I'm having this `Lib has no attribute 'Cryptography_HAS_SSL_ST'` when running `kolibri` command on Ubuntu 16.04

At the Ubuntu 18.04 this error will not reproduce with the same `.deb` installer.

### Errors and logs
[code]

![screen shot 2018-08-29 at 12 10 52 pm](https://user-images.githubusercontent.com/8663934/44765123-db1e5b80-ab85-11e8-8d74-1786310aac24.png)

### Context

[2018-08-29 04:53] pjames44 commented on #4182
Please note 3.7 is now the default system python on Arch Linux so Kolibri no longer works on any Arch system.  Error appears to be related to django version, fixed in newer versions:

https://github.com/django/django/commit/931c60c5216bd71bc11f489e00e063331cf21f40

[2018-08-29 16:24] #4155 closed, assigned to benjaoming, rtibbles, indirectlylit

[2018-08-29 16:24] #4170 closed, assigned to rtibbles

[2018-08-29 16:24] #4195 closed, assigned to rtibbles

[2018-08-29 17:17] jtamiace commented on #4160
Looks like in 0.10, it just logs out the admin and returns them to the Learn page as a guest. This seems okay to me still to keep.

Another (probably separate) issue that I observed in 0.11 is that:
1. changing the role of another user
2. clicking save

doesn't close the modal when it should

[2018-08-29 17:39] jtamiace opened #4202 "Device setup fails on 0.11 when using the Personal facility set up option on Step 2"
### Observed behavior

If the user selects "Personal" on Step 2, this error appears after clicking "Finish" on the superuser account creation page:
<img width="1423" alt="screen shot 2018-08-29 at 10 29 33 am" src="https://user-images.githubusercontent.com/6668144/44804660-d1412c00-ab76-11e8-84f0-763d9836b0b6.png">

This error does not appear for the other facility set up options, and the other se

[2018-08-29 21:47] jonboiser commented on #4120
This only happens because the version you chose is 0 and JS semantics.

The line there is derived from this code:

[code]

I think in practice, since versions start at 1 (?) this discrepancy won't happen.

[2018-08-30 08:34] mrpau-richard opened #4204 "Alignment issue at the change language buttons."
### Observed behavior
`Cancel` and `Confirm` change language  buttons overlap.

### Errors and logs
![screen shot 2018-08-30 at 4 29 24 pm](https://user-images.githubusercontent.com/8663934/44839874-6a08a200-ac72-11e8-911e-91c6d50cf9f3.png)

### Context

Tell us about your environment, including:
 * Kolibri version: 0.10.3-beta1
 * Operating system: Windows 7
 * Browser: Firefox 61.0.1

[2018-08-30 13:08] benjaoming commented on #4127
FTR:

`options.ini` now supports `PATH_PREFIX`

@rtibbles I just remembered, though, that as to my above message, I think we need to add some more context to the naming. Because there are two types of paths: 1) the URL and 2) the disk path.

I think calling this `URL_PATH_PREFIX` is will avoid future ambiguity.

[2018-08-30 14:12] ivanistheone opened #4205 "Cannot create non-ascii usernames"
### Observed behavior

I tried to create a user with username `иван` (ivan in cyrillic) but was not able to.

### Expected behavior

Create a new user  OR  show validation error.

### User-facing consequences

Cannot create usernames in other locales.

### Errors and logs

UI doesn't show a validation error, but JS console has this:

<img width="880" alt="screen shot 2018-08-30 at 5 01 06 pm" src=

[2018-08-30 14:28] rtibbles commented on #4205
Our validation logic is inadequate for this, we should improve and allow it!

[2018-08-30 17:42] radinamatic commented on #4200
Can confirm that I could replicate this error on a out-of-the-box VM installation of Ubuntu 16.04:

![2018-08-30_17-24-40](https://user-images.githubusercontent.com/1457929/44868949-98937680-ac8c-11e8-9bb9-2f2fed3f51b5.png)

cc @lyw07 @benjaoming

[2018-08-30 17:44] lyw07 commented on #4200
I think it's because of https://github.com/learningequality/kolibri/issues/4196. Currently Linux users are not able to import the bundled cryptography from kolibri in 0.11, so the imported cryptography here is actually the system cryptography, which is not compatible with the bundled pyopenssl from kolibri.

[2018-08-30 17:47] lyw07 commented on #4200
I'm working on a new algorithm to download the cryptography packages into kolibri, but the code is still messy. Sorry it may take a bit more time for me to fix the issue.

[2018-08-30 17:48] lyw07 commented on #4200
A temporary workaround for this issue (just to not block the testing) is to upgrade the system cryptography to 2.3 by `pip3 install -U cryptography==2.3`

[2018-08-30 18:17] radinamatic commented on #4200
Tried the suggested workaround, with these results:

[code]

[2018-08-30 18:21] lyw07 commented on #4200
Hi @radinamatic Thank you for the information! Do you mind trying to upgrade `pip` to 18.0 first by `pip3 install -U pip` and then `pip3 install -U cryptography==2.3`? Thank you! The problem with `cryptography` is that now they use only one wheel file `cryptography-2.3-cp34-abi3-manylinux1_x86_64.whl` to install cryptography in python version 3.4, 3.5, 3.6, 3.7 instead of four different wheel file

[2018-08-30 18:49] lyw07 commented on #4190
It looks like the issue is not really related to locale but formats. I can reproduce the issue when I change the `formats` in `Region and Language` to something other than `English (United States)`, although somehow the command`wmic logicaldisk list full /format:"%WINDIR%\System32\wbem\en-us\csv"` fixes the issue in my case.

A temporary workaround for users in Windows 7 could be setting the Forma

[2018-08-30 19:11] radinamatic commented on #4200
On the first try I got this error:

[code]

But after closing and reopening the Terminal window, it was successful, after adding the `--user` flag:

[code]

Kolibri could start, but the system service did not work, so had to rerun the `sudo dpkg -i...`:

[code]

![2018-08-30_21-10-54](https://user-images.githubusercontent.com/1457929/44873708-4442c380-ac99-11e8-8d7e-1fabc3101780.png)

[2018-08-30 19:13] radinamatic commented on #4200
@mrpau-richard Could you use this workaround to re-start the integration testing workflow on Ubuntu 16.04? Thanks!

[2018-08-30 19:14] lyw07 commented on #4200
@radinamatic thank you for the update! Unfortunately I think this is what we can try to temporarily eliminate the error for testing. I will create a PR for the fix asap

[2018-08-31 00:23] nobicycle commented on #4182
@pjames44
python-django is at version 2.1-2 as of now but it is not required to be installed for running Kolibri. Kolibri-Pex is supposed to be self contained. So I supposed your comment is  regarding the packaging g of Kolibri - for that I will just have to wait? Or can I alter something after  a pip install or a pex install to fix it?

[2018-08-31 06:19] mrpau-richard opened #4206 "Import a channel using token bug"
### Observed behavior
To cancel a channel import that uses a token, I need to click the cancel button twice to stop or suspend it.

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/44895795-87984300-ad28-11e8-87a9-30ba11df3721.gif)

### Context

Tell us about your environment, including:
 * Kolibri version: v0.11.0-alpha5
 * Operating system: Ubuntu 16.04
 * Browser: f

[2018-08-31 08:00] Oyster1 commented on #4190
Hi, Thanks, the output is:
Node,Access,Availability,BlockSize,Caption,Compressed,ConfigManagerErrorCode,ConfigManagerUserConfig,Description,DeviceID,DriveType,ErrorCleared,ErrorDescription,ErrorMethodology,FileSystem,FreeSpace,InstallDate,LastErrorCode,MaximumComponentLength,MediaType,Name,NumberOfBlocks,PNPDeviceID,PowerManagementCapabilities,PowerManagementSupported,ProviderName,Purpose,QuotasDi

[2018-09-01 00:11] #4202 closed, assigned to jonboiser

[2018-09-01 17:30] benjaoming commented on #4196
@lyw07 isn't the above error related to `cffi`? You can see some notes about building it in the Raspbian install docs, because Raspbian misses a recent `python3-cffi` package: https://kolibri.readthedocs.io/en/latest/install.html#id8

[2018-09-01 17:41] lyw07 commented on #4196
Hmm I think this issue is different from the one described in the doc. This current problem is because cryptography changed their wheel distribution in python 3 to use abi3 tag. And in our script that downloads cryptography, we scrape the pypi page of crytography and then download the dependencies like cffi using something like “pip download -d <path> —implementation <> —abi <>”. For example, when

[2018-09-01 22:34] pjames44 commented on #4182
Sorry nobicycle, I wasn't commenting as someone knowledgeable: I don't know how to fix the error but it *seems* related to the django version which is why I linked to that.  I wish I could answer your questions since I would like to run kolibri as well!  Clearly the pex version is affected by the system version and is not self-contained since my kolibri broke after moving from python 3.6 to 3.7.

[2018-09-03 07:12] mrpau-julius opened #4208 "RTD URL has bug in downloading a specific version"
### Observed behaviour
We tried to download a version 0.7.x, 0.8.x, and 0.9.x that we need in Kolibri RTD but when we click the Install instruction "Download Kolibri Windows installer" , automatically the kolibri version 0.10.2. or the latest version is downloaded instead of kolibri version 0.7.x .

@cpauya -This wrong install URL affects the 0.7.x, 0.8.x, and the 0.9.x Kolibri RTD…
https://kolibr

[2018-09-04 09:30] mrpau-julius opened #4210 "Wrong display of classes in learners page"
###  Observed behaviour

I created three classes in admin facility (example: class A, class B and class C) and enrolled at least one learner in class A. When I logged a learner account, I saw three classes instead of one class  in “Learners > Classes page”.

![error in class learner page](https://user-images.githubusercontent.com/38421180/45021582-8044a280-b064-11e8-9bcd-91262ae2ef0b.png)

![click

[2018-09-04 14:41] indirectlylit opened #4211 "changing the role of a user and saving doesn't close modal"
### Observed behavior

reported by @jtamiace

### Expected behavior

modal should close

### User-facing consequences

confusion

### Errors and logs

unknown

### Steps to reproduce

see above

### Context

0.11

[2018-09-04 14:41] indirectlylit commented on #4160
Okay, let's do this!

Made an issue here - #4211

(@jtamiace remember to remove 'needs design' when it's resolved)

[2018-09-04 14:43] indirectlylit commented on #4070
@khangmach remember to remove 'needs design' when it's resolved.

It looks like in your mockup above, 'cancel' is active but 'continue' is disabled during this state?

[2018-09-04 15:30] khangmach commented on #4070
@indirectlylit right, so the user can't continue because Kolibri is loading/checking the available connections

[2018-09-04 15:46] indirectlylit commented on #2197
yes, thanks

[2018-09-04 15:46] #2197 closed

[2018-09-04 15:53] indirectlylit commented on #4162
@swapnil106111 would you mind confirming this in 0.9.4?

[2018-09-04 15:54] indirectlylit commented on #4162
whoops sorry - didn't see the comment above. I'm a little confused about the timeline - will follow-up

[2018-09-04 16:56] lyw07 commented on #4190
Hi @Oyster1 ,
thank you for showing us the output! it's very helpful. One thing that could temporarily fix the issue here is to change the `Format` in `Control Panel-->Clock, Language, and Region --> Region and Language --> Formats --> Format` to `English (United States)`. Please feel free to let me know if that fixes the error in kolibri so that you can find the external drives.
I will also creat

[2018-09-04 18:04] khangmach opened #4214 "Migrate to material design nav-tabs"
### Observed behavior

Current material design tabs are used in a nonstandard way.
Here are some ways in which their placement can be a concern:
- Visibility of the tabs is lost as the user scrolls down the page. As a result, the information hierarchy is difficult to process and may be lost in some instances.
- Tabs take up a lot of vertical space

### Expected design

Nav-tabs being a standard co

[2018-09-04 18:24] benjaoming opened #4215 "Old versions of pkg_resources have issues with advanced version strings"
### Observed behavior

In this report from @indirectlylit, we find an issue running Kolibri with `pkg_resources` when the version string is more advanced than usual. The reported case is about a pre-release `0.11.0a4.dev0+git.193.gd88af03c`.

Ref: learningequality/kolibri#4056

### Expected behavior

There should be a compatible behavior that falls back instead of giving exceptions for these older

[2018-09-04 18:24] jredrejo opened #4216 "Show error messages windows only in debug mode"
### Observed behavior
Quite often, when a network request fails, Kolibri  is showing a big error message window to the user, alarming and producing being much more disturbing than the error itself.

Example:
This was shown while the user was watching a video. The video worked smoothly, but one contentsessionlog failed and made the user think Kolibri was not working:
![captura de pantalla de 2018-0

[2018-09-04 23:40] indirectlylit commented on #3679
@nobicycle thanks for your help reporting these. Please let me know if you still reproduce after [upgrading to 0.10.2](https://learningequality.org/download/)

[2018-09-04 23:40] #3679 closed, assigned to nobody

[2018-09-04 23:55] indirectlylit commented on #3821
thanks for testing! We'll re-open if we see it again.

I opened the studio issue above for this

[2018-09-04 23:55] #3821 closed, assigned to nobody

[2018-09-05 00:02] indirectlylit commented on #4199
@lyw07 do you think this is related to #3883

[2018-09-05 00:10] indirectlylit commented on #4163
This is pretty standard behavior for a crash report. Some examples:

Adobe:

![image](https://user-images.githubusercontent.com/2367265/45063855-298b9880-b065-11e8-9dd9-92a20a2d98ff.png)

Mozilla:

![image](https://user-images.githubusercontent.com/2367265/45063863-37d9b480-b065-11e8-9bc6-2d0f452b7a51.png)

OSX:

![image](https://user-images.githubusercontent.com/2367265/45063865-4627d080-b065-11e

[2018-09-05 00:17] lyw07 commented on #4199
In the `kolibri.log`, there are errors saying
[code]
So for the change from 45MB to 43 MB, I think it's because of the bug in studio: https://github.com/learningequality/studio/issues/921.

[2018-09-05 01:01] DXCanas commented on #4163
Seems fair @indirectlylit - are you able to actually go into the textbox and type?

For the record, I only said I didn't think it was expected behavior in response to the issue:

Hence the "purely subjective" bit :).

[2018-09-05 05:17] swapnil106111 commented on #4162
@indirectlylit Sorry for delay reply. Now, exam feature is working fine.

[2018-09-05 12:02] arky opened #4218 "Requesting Kolibri Development Pip packages"
Please kindly provide development version (if you haven't already) of Kolibri on pypi.org. It will help downstream IIAB implementers (like me) test and deliver better kolibri experience.

https://pypi.org/project/kolibri/#history

[2018-09-06 00:08] DXCanas opened #4221 "Update/Streamline K-Checkbox"
Want to give k-checkbox the same treatment I gave k-radio-button in #3472

Some value adds:
- Allows for use of v-model with k-checkbox the same way we'd use it with a native HTML one
- Allows for descriptions in checkbox label
- Allows us to apply `display:xxxxxxx` to the parent element. Right now, locked into using `table`.
- Leverages native HTML behavior for things like click-label-to select,

[2018-09-06 22:16] #4162 closed, assigned to rtibbles

[2018-09-07 00:01] indirectlylit commented on #4120
@jonboiser mind reviewing the change above?

[2018-09-07 11:15] nobicycle commented on #4182
@pjames44

I got it running as follows

**Download and extract old python, removing any share and link potential conflicts**

Install agetpkg-git
Fetch python3.6.6
Extract to a temporary directory
Remove share folder and and links
sudo cp usr / -R

**Then, here is what I usually do for Kolibri:**

**The change is adding  --python=python3.6**
Note, I download the Kolibri whl in advance. Hence the p

[2018-09-07 11:15] #4182 closed, assigned to nobody

[2018-09-09 03:09] nobicycle opened #4227 "Free Space Report Is Wrong When Content is Symbolically Linked"
### Observed behavior

total 219344
lrwxrwxrwx  1 root    root           44 Sep  7 21:19 content -> /media/esata/MEDIA_DISK/KOLIBRI_DATA/content
-rw-r--r--  1 kolibri kolibri 220577792 Sep  9 10:15 db.sqlite3
-rw-r--r--  1 kolibri kolibri     32768 Sep  9 10:41 db.sqlite3-shm
-rw-r--r--  1 kolibri kolibri     78312 Sep  9 10:41 db.sqlite3-wal
-rw-r--r--  1 kolibri kolibri         0 Sep  7 19:06 de

[2018-09-09 05:01] cadedopp commented on #3916
I'm experiencing the same behavior. None of the exercises in khan academy english math counting that should have images work, just like in the screenshots above. This is true in the exams and in the lessons. Just tried kolibri on a ubuntu 14.04 server. Accessing it on chrome on Linux mint.

[2018-09-10 00:54] indirectlylit opened #4228 "translation-extract no longer extracts front-end strings"
### Observed behavior

I was going through the standard process of uploading strings [as documented here](https://kolibri-dev.readthedocs.io/en/develop/references/i18n.html#exporting-and-uploading). However no front-end strings were uploaded.

Recently the `translation-extract` command was updated such that it no longer affects front-end strings:  https://github.com/learningequality/kolibri/pull/4

[2018-09-10 01:04] indirectlylit commented on #4228
Hmm... actually I just tried running `make assets` and it's still not working. investigating...

[2018-09-10 01:42] indirectlylit commented on #4228
As far as I can tell, `make assets` will populate the front-end translation strings in `release-v0.10.x`, but not in `develop`. Still investigating... any help would be appreciated

[2018-09-10 02:16] indirectlylit commented on #4228
okay now I'm super confused .. I reverted back to a very old commit of `develop` and still can't get the strings to extract. @rtibbles do you have any advice?

I'm basically wiping out the contents of `en/LC_FRONTEND_MESSAGES` and trying to re-extract them.

[2018-09-10 03:12] indirectlylit commented on #4228
I'm beginning to suspect this is related to upgrading webpack

[2018-09-10 17:09] #4120 closed, assigned to indirectlylit

[2018-09-10 17:29] jonboiser commented on #3916
@mrpau-richard @cadedopp Could you share the version and language of the Khan Academy channel you are using. I have been observing this on version 12 of Khan Academy english.

[2018-09-10 20:34] cadedopp commented on #3916
English. Unsure of version number...whatever is available in kolibri studio
as of 10 days ago.
On Mon, Sep 10, 2018 at 1:29 PM Jonathan Boiser <notifications@github.com>
wrote:

--
Cade Dopp
Director of Education
Educell
cade@educell.org | 801-682-3795
https://educell.org | http://cadedopp.com
Matt 25:35-40

[2018-09-10 23:43] cpauya commented on #4208
Thanks for reporting @mrpau-julius :)

Let's point those installation URLs to the signed installers at the Pantry server.

[2018-09-10 23:44] cpauya commented on #4208
This also affects v0.10.x (when v0.11.x is released) coz it also points to the latest Kolibri installer URL.

[2018-09-11 00:09] cpauya commented on #4208
@mrpau-julius When you got time to make a PR for this the Pantry download URLs for Kolibri releases are at [Kolibri downloads](http://pantry.learningequality.org/downloads/kolibri/).

[2018-09-11 00:20] radinamatic commented on #4208
@mrpau-dev 2 comments:

1. This is technically a `kolibri-docs` issue, and therefore it should be reported in the [respective repo](https://github.com/learningequality/kolibri-docs) 🙂
2. We should always encourage users to download and install the latest version of Kolibri, and that's why this link points to the current version from the docs in any version. So even if the user opens the docs link

[2018-09-11 01:25] cpauya commented on #4208
Ouch sorry, @mrpau-julius please file this issue there.

I am very amenable with your comment#2 @radinamatic -- but to avoid confusion may I suggest that:

1.  We emphasize the link to the LATEST installer within the documentation of the previous releases and mention that we encourage them to use that instead and redirect them to the appropriate documentation for such.  The Ubuntu installation ins

[2018-09-11 11:41] swapnil106111 opened #4234 "After deleting the channel, still it is showing the channel name in learn tab."
### Observed behavior
We have deleted a channel in Kolibri-0.9.5b2. But after deleting the channel in device tab, it removes the entry for that channel. But when we go to the learn tab, it shows deleted channel name.
Please find screenshot for more information.

### Expected behavior
When we delete any channel from device tab, it must not show name of same channel in learn tab.

### Steps to repro

[2018-09-11 15:13] radinamatic commented on #4208
@cpauya

1. Yes, that can can easily be added, you are right that it offers a more precise information about the installer to be downloaded. Putting it on my `docs-todo` list! 👍
2. I would argue that the use case for downloading older releases of the full operating system like Ubuntu (for example, because of specific hardware constrains), is different from people accessing (most probably by mistak

[2018-09-11 22:10] indirectlylit commented on #4208
Thanks for catching this! There are a few considerations here:

* For older documentation, you're right that we want to make sure people can download the installer if that's in fact what they want
* On the other hand, if people are running older versions of Kolibri or viewing older documentation, we want to encourage them to upgrade to the latest
* We get better analytics when people download thro

[2018-09-11 22:12] indirectlylit commented on #4208
whoops sorry - I posted this before I saw all your responses over the last day. Reading now...

[2018-09-11 22:22] indirectlylit commented on #4208
thanks for all your input. I tried to summarize and migrated it to https://github.com/learningequality/kolibri-docs/issues/48

feel free to add follow-up

[2018-09-11 22:22] #4208 closed, assigned to nobody

[2018-09-12 11:48] swapnil106111 opened #4236 "exercise is not marked as 'mastered' in lesson view after completion"
### Observed behavior
When teacher assigns two exercises in a lesson to the students then students try to solve those exercises. Once student complete its mastery for one exercise then he comes back to the lesson where he can see list of exercises. At that time, he is unable to distinguish which exercise he solved.

Please see attached screenshots for more information.

### Expected behavior
It mu

[2018-09-12 20:06] indirectlylit commented on #4127
agreed

[2018-09-12 20:18] indirectlylit commented on #4190
@Oyster1 FYI this fix will be available when either 0.10.3 or 0.11.0 is released later this month

[2018-09-12 20:18] #4190 closed, assigned to lyw07

[2018-09-12 20:20] indirectlylit commented on #4199
thanks - closing this since we're migrating to the studio issue

[2018-09-12 20:20] #4199 closed, assigned to nobody

[2018-09-12 20:24] indirectlylit commented on #4218
Thanks for the request @arky - this is a good idea. We sometimes do this, especially for debian packages, but it's not consistent.

I'll work on updating our [beta release process](https://kolibri-dev.readthedocs.io/en/develop/references/release_process.html#integration-testing-and-beta-releases) to explicitly include publishing pre-releases to PyPi and our Debian PPA.

[2018-09-12 20:28] indirectlylit commented on #4227
related: #3883

[2018-09-12 20:49] indirectlylit commented on #4234
should be addressed in next release

[2018-09-12 20:49] #4234 closed, assigned to nobody

[2018-09-12 21:24] khangmach opened #4237 "Lots of scrolling in language select modal"
### Observed behavior
As languages in Kolibri increase, so will the scrolling required to find your relevant language. Let's make the language select modal more scalable to fit more languages without scrolling, especially on larger devices.

### Expected behavior
A wider modal width, or more columns to fit more languages within view.

### Mock-ups and behaviors
Here we can use a larger width using

[2018-09-12 21:48] indirectlylit commented on #4237
related: #4204

[2018-09-12 22:32] benjaoming commented on #4127
@rtibbles before finally closing this, could you quickly rename this? :)

[2018-09-13 04:31] Oyster1 commented on #4190
Thanks

[2018-09-13 18:31] indirectlylit commented on #4205
let's address this at the same time as we include bulgarian (see #4201)

removing milestone for now

[2018-09-13 20:18] indirectlylit opened #4239 "EPUB search results highlight multiple instances of the search token within a single result"
### Observed behavior

During search, it's possible that multiple results appear within the same context:

However then a separate link and context is shown for each result. This makes it look like there are 4 results instead of 2.

![image](https://user-images.githubusercontent.com/2367265/45513195-e1e8c900-b756-11e8-9e88-097454f27ba6.png)

### Expected behavior

Only have a single link and quote

[2018-09-13 20:25] indirectlylit opened #4240 "epub 'selected' state in settings does not have sufficient contrast"
### Observed behavior

It's really hard to see what item is selected.

The buttons are also generally don't follow our style guide conventions. It's okay if they're a bit different, but maybe they can be brought a little closer?

![image](https://user-images.githubusercontent.com/2367265/45513541-c8944c80-b757-11e8-9e8b-59b9f0841fe7.png)

### Expected behavior

Currently-selected items should be e

[2018-09-13 20:31] indirectlylit opened #4241 "epub text size can be increased/decreased indefinitely"
### Observed behavior

I can continually click the increase/decrease buttons, but after a while the changes become negligible. It also makes it challenging to reset.

![image](https://user-images.githubusercontent.com/2367265/45513945-ed3cf400-b758-11e8-8cfd-3f59baa64d30.png)

### Expected behavior

Either there should be a min/max font size, or we could provide an enumerated set of size options l

[2018-09-13 20:34] indirectlylit opened #4242 "epub location scrubber should update percentage as you move it"
### Observed behavior

the progress percentage doesn't update until after you change it

![image](https://user-images.githubusercontent.com/2367265/45514195-9388f980-b759-11e8-8a52-e081333463e7.png)

### Expected behavior

I would expect the percentage to change as I move it so that I can see where I'm going

### User-facing consequences

harder to navigate to a particular location, e.g. "go to 56

[2018-09-13 20:36] khangmach commented on #4241
some thoughts:
- I think we should stick with 6 or 7 text values. Something like 10 12 16 20 24 36 48
- Don't think we need a drastic visual representation like kindle. If we have a limited number of values, it's easy to reach and understand there's a min/max limit.

[2018-09-13 20:42] indirectlylit opened #4243 "typography of epubs is difficult to read"
### Observed behavior

* line spacing is very tight
* default serif font
* 'justified' lacks hyphenation, causing spaces between words
* 'grey' theme is hard on the eyes

### Expected behavior

To the degree that we have control over styling, we should make the text easier to read

### User-facing consequences

users won't be comfortable reading for long periods of time

### Steps to reproduce

se

[2018-09-13 20:52] indirectlylit opened #4244 "epub settings are not saved"
### Observed behavior

Font size and theme are reset every time I refresh or navigate to a different book

### Expected behavior

settings are saved and re-used, at least within a session

### User-facing consequences

need to re-set settings every time

### Steps to reproduce

* change settings
* refresh

### Context

develop

----

cc @christianmemije

[2018-09-13 20:54] indirectlylit opened #4245 "epubs don't play nicely with browser history"
### Observed behavior

* click an ebook
* click a link in the 'TOC'
* click back

You end up leaving the ebook

### Expected behavior

Expected to go back to the TOC

### User-facing consequences

unexpected navigation

### Context

Devolop

------

cc @christianmemije @jtamiace @khangmach

[2018-09-14 00:45] khangmach commented on #4245
Is this an issue? There could be some problems with promoting epub page navigation through browser back/forward
- Promotes alternative means of navigation
- Exploratory reading (flip through a few pages to see what the books about, and then leave)
- User is brought back to a previous page they don't want to be back at (a bad search result, a page they accidentally used slider to get to)

[2018-09-14 00:54] khangmach commented on #4240
It's tricky to find a good selection state color that works with both light colors and dark colors. Here's one way to be more flexible, @christianmemije
<img width="540" alt="screen shot 2018-09-13 at 5 53 25 pm" src="https://user-images.githubusercontent.com/25045166/45523406-01dfb300-b77e-11e8-97ae-a26b704dbcb6.png">

#212121 or #fff check svgs depending on the color

[2018-09-14 01:24] indirectlylit commented on #4245
Yeah it's a challenge that requires some thought.

All I know is that the very first thing I did was use browser-back after clicking a TOC link (muscle memory associated with clicking links)

[2018-09-17 08:31] benjaoming commented on #4215
I have raised a proposal to drop Trusty support entirely in the .deb.

`pip install` methods should be able to get around this by requiring a more recent version of `setuptools`.

[2018-09-17 13:17] rtibbles commented on #4127
Sounds good.

[2018-09-17 14:58] rtibbles commented on #4205
Also, when I try to do this on develop, it tells me that an account with this username already exists, which is not the error that the API returns.

[2018-09-17 16:26] #4127 closed, assigned to rtibbles

[2018-09-17 20:11] christianmemije opened #4256 "Epub renderer - Key handling"
Direction keys <-, -> don't work on initial load. Need to press button on UI first, then they start to work.

[2018-09-17 20:13] christianmemije opened #4257 "Epub renderer - Closing side bars"
Dismissing search panel could be more intuitive (possible solutions: click outside to dismiss, give magnitifying glass an active style)

[2018-09-17 20:40] christianmemije opened #4258 "Epub renderer - slider jumps around"
Slider jumps around

[2018-09-17 20:45] christianmemije opened #4259 "Epub renderer - First chapter letter styling"
First letter has custom background that does not interact well with dark themes.
http://kolibribeta.learningequality.org/learn/#/topics/c/e6ea92c2d83843e6b8d47a2a7b3d6ded
`p:first-of-type::first-letter`

[2018-09-17 20:47] christianmemije opened #4260 "Epub renderer - Some epubs do not load"
http://kolibribeta.learningequality.org/learn/#/topics/c/51ae93701a2f462e8da721ffa6a62c0c
http://kolibribeta.learningequality.org/learn/#/topics/c/0d46010189924cb1aa8d3eff481f7a5f

[2018-09-17 20:50] christianmemije opened #4261 "Epub renderer - Clean up TOC layout"
Example http://kolibribeta.learningequality.org/learn/#/topics/c/db8149ccc5d4463eadbd4cb47f73b8ed

[2018-09-17 20:51] christianmemije opened #4262 "Epub renderer - Some parts of book inaccessible from right/left arrows and slider"
http://kolibribeta.learningequality.org/learn/#/topics/c/b0f605d0d9d5452ab3cd2b4e26427804

[2018-09-17 20:59] christianmemije opened #4263 "Epub renderer - Text is cut off"
http://kolibribeta.learningequality.org/learn/#/topics/c/bec24a1298a14bb18ecf4851ad2da0f3

[2018-09-17 21:00] christianmemije opened #4264 "Epub renderer - Table of contents with xml links"
Table of contents items with xml hrefs are not handled correctly.
http://kolibribeta.learningequality.org/learn/#/topics/c/f6c491afb5ad4c4c85f8b027a2bc5000

[2018-09-17 21:59] #4206 closed, assigned to jonboiser

[2018-09-17 22:07] #4236 closed, assigned to nobody

[2018-09-17 22:09] jonboiser commented on #4260
Neither of these books open on Apple iBooks.

[2018-09-17 22:13] indirectlylit opened #4265 "update LE Utils"
### Observed behavior

I think we need to update le-utils from 0.1.11 to 0.1.13.

(refs #4250)

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2018-09-17 22:30] christianmemije opened #4266 "Epub renderer - sandbox"
Sandbox iframe

[2018-09-17 22:31] christianmemije opened #4267 "Epub renderer - Track progress"
Track progress

[2018-09-17 22:31] christianmemije opened #4268 "Epub renderer - Save location and settings"
Save location, save settings on local storage?

[2018-09-17 22:56] indirectlylit opened #4269 "errors related to progress promise in lessons"
### Observed behavior

errors and progress not displayed in lesson

![image](https://user-images.githubusercontent.com/2367265/45654719-c270d980-ba91-11e8-915d-342d2ccfb6f6.png)

### Expected behavior

progress displayed and no errors

### User-facing consequences

unknown status

### Errors and logs

[code]

[code]

[code]

### Steps to reproduce

* create a lesson
* make some progress in a video

[2018-09-17 23:03] jonboiser commented on #4269
This is probably #3927. It can happen when going back to a page with cards, when the cached value of progresses is used.

[2018-09-17 23:13] christianmemije commented on #4241
Limited to 7 sizes in https://github.com/learningequality/kolibri/pull/4217/commits/bc7c62b0fa2c760542c026d09bfed67d83db422d

[2018-09-17 23:13] #4241 closed, assigned to nobody

[2018-09-17 23:16] christianmemije commented on #4240
Used @khangmach's suggestion in https://github.com/learningequality/kolibri/pull/4217/commits/bc7c62b0fa2c760542c026d09bfed67d83db422d

[2018-09-17 23:16] #4240 closed, assigned to nobody

[2018-09-18 00:10] indirectlylit commented on #4216
the error behavior was improved in #4105

[2018-09-18 00:10] #4216 closed, assigned to nobody

[2018-09-18 00:18] indirectlylit opened #4270 "add basic kolibri manage command for testing server performance"
### Observed behavior

We often get reports of performance issues in the field, but it can be challenging to debug with remote users in other timezones with limited connectivity.

### Expected behavior

Let's add a diagnostics command that can be run to help us debug performance issues on peoples' servers. We can request that people run the command when they're experiencing poor performance, and t

[2018-09-18 00:24] jamalex commented on #4270
:+1:

[2018-09-18 05:36] swapnil106111 commented on #4236
@indirectlylit Tested on Kolibri-0.9.5b3. It is working as expected.

![1](https://user-images.githubusercontent.com/12776071/45666400-ef28fd80-bb32-11e8-8702-de01bbb09b1a.png)

[2018-09-18 05:50] swapnil106111 commented on #4234
@indirectlylit Tested on Kolibri-0.9.5b3. Now, it is not showing deleted channel name in learn tab.

![1](https://user-images.githubusercontent.com/12776071/45666941-cd307a80-bb34-11e8-8ab2-8d6bb688507d.png)

![2](https://user-images.githubusercontent.com/12776071/45666946-d4f01f00-bb34-11e8-971d-dbb054136457.png)
![3](https://user-images.githubusercontent.com/12776071/45666947-d4f01f00-bb34-11e8-

[2018-09-18 08:57] jredrejo commented on #4270
I have already begun to work on it. Actually I was doing it as a command, so it seems we are in sync :)
Reading this description I see a problem for the 'metrics about the time to hit some test endpoints' part. As I see it, this can be done measuring the time those request take in the server. In such case, we are removing the network performance problems out of the equation. I don't know if that's

[2018-09-18 09:53] bonidukic opened #4272 "Incorrect disk size unit in Device info"
### Observed behavior
_Free disk space_ size in the _Device_ -> _Info_ page is currently displaying values which correspond to Kibi, Mebi and Gibi prefixes (KiB, MiB, GiB respectively) rather than values which correspond to Kilo, Mega and Giga prefixes (KB, MB, GB respectively).

Kibi, Mebi and Gibi prefixes denote powers of two, whereas Kilo, Mega and Giga denote powers of ten.

#### Example
If t

[2018-09-18 11:06] benjaoming commented on #4270
Can I propose 3 commands, based on whether information needs kolibri to be running or not? And do you like the naming + CLI of these?

[code]

[2018-09-18 15:30] jredrejo commented on #4270
@benjaoming for the `kolibri manage diagnose` option I don't see the point. You can't measure users, cpu/memory usage while running kolibri, slow endpoints, etc. We only can get the list of specs of the hardware, something similar to ask the user to give us the output of `hwinfo`. There are many free tools in Windows and Linux (in MacOS you only need to open the OS  help menu) that  provide that i

[2018-09-18 16:49] bonidukic commented on #4270
While I agree with you that there are many free tools that provide these kind of information, I'm with Ben on this one as it would be much easier to ask of the users to copy/paste the output given by the `diagnose` command rather than asking them to provide us a list of stats we want to know, in the meantime probably having to point them to where and how to find those stats.

Additionally, I'm gue

[2018-09-18 17:27] indirectlylit commented on #4270
I like the idea of splitting these up into multiple categories as an implementation detail.

However from a UX point of view, I'd prefer that we can provide users with a single command for them to run, and that will give them a single set of output that they can paste back.

If in the future we decide that the single command takes too long to run or dumps too much information, we can break it up t

[2018-09-18 17:30] jonboiser commented on #4260
This should probably still be handled on the UI with an error message. For the accounting book, iBooks gave me a 'book is corrupted' error (might be due to DRM since it is suggested to use Adobe Digital Editions by the publisher). For the Alice and Wonderland book, it just failed to open silently.

[2018-09-18 17:40] radinamatic commented on #4270
So great that we are thinking about these commands!
Agreed with Devon that a single command and "copy-pastable" output would be much easier on the users.

[2018-09-18 17:58] radinamatic commented on #3949
Will be avoided when  #4275 is merged.

[2018-09-18 18:51] indirectlylit commented on #4270
Let's try and approach this from the perspective of trying to gather information we would ask for in the course of debugging a problem. For example, if someone says "It's very slow to play videos from our tablet computers which are connected over wifi to the server", what information do we need to collect to help narrow down the source of their issue?

If our tool says that local streaming is fast

[2018-09-18 18:52] indirectlylit commented on #4270
(I'm not advocating for any particular metrics - just trying to frame our decision-making process about what metrics to include)

[2018-09-18 18:53] rtibbles commented on #4270
While not directly in Kolibri, inspection of nginx timing logs has been invaluable for understanding how Kolibri is performing under load (and understanding whether load issues are due to Kolibri itself, or network conditions) - would be good to consider being able to either upload these log files, or a parsed summary of them if we start to include nginx in our installers/as a dependency.

[2018-09-18 21:54] benjaoming commented on #4270
@jredrejo that would be the point: For unpredictable reasons, people may not be able to start kolibri. So _not_ requiring a running instance for diagnostics _is_ intentional. Of course, if Kolibri is running, those diagnostics can be used to measure Kolibri's system foot print.

Note that I'm not trying to argue exactly what should be part of `kolibri manage diagnostics`, the idea of 3 different c

[2018-09-19 02:07] #4070 closed, assigned to jonboiser

[2018-09-19 14:43] #4205 closed, assigned to rtibbles

[2018-09-19 16:01] rtibbles opened #4282 "Inconsistent use of root: true for dispatching core actions in modules"
### Observed behavior
In many places where core actions (such as `handleApiError`) are dispatched from within Vuex modules, no options object is passed with `{ root: true }` as recommended in the Vuex docs (and as implemented in some places of the code base).

### Expected behavior
If this is required, then I assume it should be being used in all places where we are dispatching root actions within

[2018-09-19 16:39] jamalex commented on #3558
Happened for me after upgrading DEB from 0.7.1 to 0.10.2 -- which autorestarts the server, but possibly in a funny way. The URLs /device and /facility also gave a 404. After restarting the system service, everything worked normally again.

[2018-09-19 16:43] jamalex commented on #3558
May be fixed in https://github.com/learningequality/kolibri/pull/4118

[2018-09-19 18:29] indirectlylit commented on #4272
possibly related: https://github.com/learningequality/kolibri/issues/3883

[2018-09-19 19:46] christianmemije commented on #4243
Line height adjusted to 1.4 em in https://github.com/learningequality/kolibri/pull/4217/commits/42c2a9ac7fa6ea56acd78702e2b1ea267ef110aa
I do not want to mess with fonts since a lot of epub come with their own embedded fonts and I do not want to override them.
I'll keep the justified option, but default to left aligned.
I will change the gray theme color from #6d6d6f to #58585a to improve contrast

[2018-09-19 20:31] christianmemije commented on #4257
Dismissal of side bars improved in https://github.com/learningequality/kolibri/pull/4217/commits/688ff5b7d1c200a479617f6b4d88b8e14605dfb9

[2018-09-19 20:33] christianmemije commented on #4259
Fixed in https://github.com/learningequality/kolibri/pull/4217/commits/42c2a9ac7fa6ea56acd78702e2b1ea267ef110aa

[2018-09-19 22:26] christianmemije commented on #4260
Submitted a fix upstream for the Alice's Adventures in Wonderland epub https://github.com/futurepress/epub.js/pull/826.

[2018-09-19 22:56] #4063 closed, assigned to jredrejo

[2018-09-19 23:06] christianmemije commented on #4260
Added error handling to catch the 2nd epub in https://github.com/learningequality/kolibri/pull/4217/commits/3b1fe69aa106a6f13aa56be15c50a4a006d5e3b2
![localhost_8000_learn_ nexus 7](https://user-images.githubusercontent.com/7193975/45786576-efee8c00-bc25-11e8-97c3-c45f2e7a7b45.png)

[2018-09-19 23:23] indirectlylit commented on #3371
fixed in #4253

[2018-09-19 23:31] #4272 closed, assigned to nobody

[2018-09-20 00:03] christianmemije commented on #4261
Attempted to address in https://github.com/learningequality/kolibri/pull/4217/commits/a3d6a733b9ec0f1e0a5c1869d6f351af6b060489

Added more space between items, removed unhelpful line breaks, and underlined current section for further emphasis.

[2018-09-20 00:36] christianmemije commented on #4264
Handled in https://github.com/learningequality/kolibri/pull/4217/commits/3a36d11e92a9b0dd3d0a1f8e8f8d05acb4af6b69

[2018-09-20 01:08] indirectlylit commented on #4007
closing as duplicate of #3883

This appears to be working in the latest `develop`:

![image](https://user-images.githubusercontent.com/2367265/45789881-f1748000-bc36-11e8-8708-e8dbd85f7042.png)

[2018-09-20 01:08] #4007 closed, assigned to nobody

[2018-09-20 01:10] indirectlylit commented on #4227
@lyw07 would you mind taking a look at this?

[2018-09-20 01:48] christianmemije commented on #4267
Added in https://github.com/learningequality/kolibri/pull/4217/commits/d7804362892800f3a0833e0bc169f9ac023c232b

[2018-09-20 02:08] lyw07 commented on #4227
Yes sure. I will look into this issue

[2018-09-20 03:05] bonidukic commented on #4272
@indirectlylit Actually, I was investigating that particular issue when I found the units mismatch.

[2018-09-20 03:30] indirectlylit commented on #3927
still looks like an issue. let's address under #4269

[2018-09-20 03:30] indirectlylit commented on #4236
thanks for testing!

[2018-09-20 03:31] indirectlylit commented on #4234
great!

[2018-09-20 03:38] indirectlylit commented on #3285
Recommend we close this issue since the two critical tasks are addressed (port and database connectivity), and this issue is otherwise a potentially open-ended placeholder.

As far as I know, there have been no reports of people having trouble due to either low disk space or the `KOLIBRI_HOME` not being writable. If I'm incorrect and we do have evidence that these are states which have caused peop

[2018-09-20 03:38] #3285 closed

[2018-09-20 03:53] indirectlylit commented on #4282
cc @jonboiser if you have thoughts

[2018-09-20 05:18] indirectlylit commented on #4243
Sounds good!

I'm still unclear on the purpose of providing a 'justified text' option - unlike text size and color scheme which have clear usability purposes.

For some context on why I'm opposed, see:

* https://practicaltypography.com/hyphenation.html
* http://theworldsgreatestbook.com/book-design-basics-hyphens-justification/

[2018-09-20 05:25] indirectlylit commented on #4272
@bonidjukic if you're interested in another puzzle, see my comment here :) https://github.com/learningequality/kolibri/pull/4285#issuecomment-423005340

[2018-09-20 05:52] indirectlylit opened #4288 "StatusIcon active/inactive label can not be adjusted by translators on a per-use basis"
### Observed behavior

As in #3882, since "active" and "inactive" are adjectives which generally refer to some noun, in certain languages it might be important to adjust the words e.g. for gender.

### Expected behavior

~~Tooltips~~ Labels [updated 2018-10-16] should match the things they describe

### User-facing consequences

In some languages might hinder comprehension. Also, using proper gram

[2018-09-20 05:53] indirectlylit commented on #3882
migrated the `StatusIcon` issue to #4288 as a lower priority

[2018-09-20 11:36] benjaoming commented on #3285
I can answer yes to both, but I don't know if I'm allowed to count as a user :smile:

[2018-09-20 13:31] rtibbles opened #4290 "All other usernames get hidden on facility user page when one user has a very long name"
### Observed behavior
A user with the max length name (120 chars) expands the size of the table outside the fixed width boundary, hiding all other usernames.

![image](https://user-images.githubusercontent.com/1680573/45821663-bfefc900-bcb7-11e8-9702-79a2ee341362.png)

It does show a scrollbar at the bottom of the page, but this is below the fold for all but a very small number of users.

### Expe

[2018-09-20 13:32] #3141 closed

[2018-09-20 13:36] #3882 closed, assigned to indirectlylit

[2018-09-20 16:42] indirectlylit commented on #3285
certainly applies if it happened e.g. during your work in the field!

If it was because you're doing development in corrupted VMs or something I don't think it counts :)

[2018-09-20 17:29] jonboiser commented on #4282
This `root: true` only needs to be used if calling a core action from within a namespaced module's action, since the `store` object passed in those actions assumes the module scope.

In all other places where `{ root: true }` is not provided, it is because that particular function has access to the global `store` object. This is why all of the handler functions do not need this option.

[2018-09-20 17:33] DXCanas commented on #3882
@radinamatic wouldn't the correct noun be "Activa"/"Inactiva" here? As in "Una lección activa", since the title of the modal is "Cambiar estado de lección"? I was a little thrown off by the pluralization.

[2018-09-20 17:35] rtibbles commented on #4282
Yes, I am only alerting to its lack within module action definitions

e.g.
https://github.com/learningequality/kolibri/blob/f5ec8ba9525f0ccef48bcc04c721f315471f0b98/kolibri/plugins/facility_management/assets/src/modules/userManagement/actions.js#L92

https://github.com/learningequality/kolibri/blob/aba1d80f165cf6c50b618f344ca777e0cd39876d/kolibri/plugins/learn/assets/src/modules/coreLearn/actions.

[2018-09-20 17:46] radinamatic commented on #3882
@DXCanas You are right, that version of the translation is suboptimal too. That's why I suggested the verb form, and in fact in latest translation QA round I changed it to `Activar/Desactivar`, since, as you point out, we do title the modal `Cambiar el estado de lección` (Change the lesson status), that is, we demand an **action** from the user, which would indicate that the verb is more appropria

[2018-09-20 17:55] jonboiser commented on #4282
There are 3 spots that need this option. The patch is in #4292. coreLearn and coreCoach are not namespaced so the references to handleAPiError do not need the root: true option. The setup_wizard reference is also global scope.

[2018-09-20 17:58] indirectlylit commented on #3882
the only problem is then there are two verbs in a row: 'activate' and then 'save'

![image](https://user-images.githubusercontent.com/2367265/45837249-c421e380-bcc3-11e8-86d1-4f1ceb23dbf6.png)

I think one thing that's confusing here is that the radio buttons are separated from the modal title by the description, which breaks up the flow.

Here's my recommendation:

![image](https://user-images.gi

[2018-09-20 17:59] indirectlylit commented on #3882
(cc @jtamiace)

[2018-09-20 18:38] christianmemije opened #4293 "Epub renderer- Add Gherkin stories"
Epub renderer- Add Gherkin stories

[2018-09-20 18:46] indirectlylit commented on #4282
Just a thought: is there harm to adding `{ root: true }` even when it's not strictly necessary? Might be useful to do it as a convention so that if people copy/paste core action dispatches from one place to another, they 'just work'.

[2018-09-20 18:50] jonboiser commented on #4282
There's no harm in doing that. I think it might be time to make core a namespaced module as well, so it is more apparent why root: true is needed.

If you see `store.dispatch('core/handleApiError', error, { root: true })` inside of a module's action, it will stand out more.

[2018-09-20 18:51] indirectlylit commented on #4282
totally agree

[2018-09-20 18:53] #3883 closed, assigned to indirectlylit

[2018-09-20 18:53] #4152 closed, assigned to nobody

[2018-09-20 19:18] christianmemije commented on #4260
Pointing to new version of epubjs that includes the fix in https://github.com/learningequality/kolibri/pull/4217/commits/f6b0b09f6f87bfb88fa829360d04834907fe9f09

[2018-09-20 19:36] christianmemije commented on #4256
I think it's fair enough to require an initial click on the epub. Now it no longer requires a click on a button,

[2018-09-20 19:38] christianmemije commented on #4244
Duplicate of #4268

[2018-09-20 19:38] #4244 closed, assigned to nobody

[2018-09-20 20:01] indirectlylit opened #4297 "bring Coach search behaviors in line with Learn"
### Observed behavior

* In #4253 @jonboiser began adding search functionality to lesson and exam resource management.
* In #4183 @rtibbles added a variety of improvements to the Learn resource search functionality

Currently the Learn improvements - particularly pagination and improved filtering - are not yet in Coach

### Expected behavior

* 'Update search' behaviors should be copied over so th

[2018-09-20 20:42] #4282 closed, assigned to nobody

[2018-09-20 20:56] #4211 closed, assigned to nobody

[2018-09-20 21:05] #4257 closed, assigned to nobody

[2018-09-20 21:05] #4259 closed, assigned to nobody

[2018-09-20 21:05] #4260 closed, assigned to nobody

[2018-09-20 21:06] #4261 closed, assigned to nobody

[2018-09-20 21:06] #4264 closed, assigned to nobody

[2018-09-20 21:06] #4267 closed, assigned to nobody

[2018-09-20 21:09] christianmemije commented on #4263
For reference this is the epub http://www.gutenberg.org/ebooks/16328

[2018-09-20 21:10] DXCanas opened #4298 "Adding lesson via preview page does not add to lesson"
### Observed behavior

![4298_demo](https://user-images.githubusercontent.com/9877852/45847244-44a20d80-bcdf-11e8-9c55-67750c303066.gif)

Think this behavior came with #4253

### Expected behavior

Should add to lesson, bring up snackbar, etc.

### User-facing consequences

Confusion

[2018-09-20 21:10] DXCanas commented on #4298
@jonboiser

[2018-09-20 21:13] #4256 closed, assigned to nobody

[2018-09-20 21:42] #4068 closed, assigned to rtibbles

[2018-09-20 21:54] christianmemije commented on #4265
Updated in https://github.com/learningequality/kolibri/pull/4217

[2018-09-20 21:54] #4265 closed, assigned to nobody

[2018-09-21 00:12] christianmemije opened #4300 "KModal submit race condition"
KModal should use keydown instead of keyup when emitting the submit event. Also stop propagation of esc

[2018-09-21 00:37] jamalex opened #4301 "Should choose content format that has available renderer"
### Observed behavior

When there are multiple presets available for a piece of content, but there's no renderer capable of handling the first one, it errors out:

![image](https://user-images.githubusercontent.com/618416/45853477-85f3e680-bcfa-11e8-8d47-b78ca017d55b.png)

### Expected behavior

In the case above, we *do* have a PDF renderer, so it could have fallen back to that file and used that

[2018-09-21 00:38] jamalex commented on #4301
Longer-term: we should add in the drop-down for switching between available non-supplementary presets.

[2018-09-21 01:04] DXCanas opened #4302 "Able to create an exam with less questions than specified"
### Observed behavior

If you specify a number of questions larger than those available, app proceeds to try and create the exam with several blank questions that break the app

![screenshot from 2018-09-20 17-59-48](https://user-images.githubusercontent.com/9877852/45854286-3c59ca80-bcff-11e8-883b-c050b5ebbccb.png)
![image](https://user-images.githubusercontent.com/9877852/45854279-3237cc00-bcff-

[2018-09-21 01:38] radinamatic commented on #4243
I'd agree that the justified text option on ePUB reader is superfluous to say the least, but if it's not creating other issues (and it's not the default option), might as well leave it at this point...

[2018-09-21 01:41] indirectlylit opened #4303 "add management command to initiate permanent deletion of a user"
### Observed behavior

Currently, when a user is deleted through the UI, that update might not delete progress information associated with the user, and the deletion might not propagate out to other devices that have been synced through Morango.

If an administrator is trying to comply with a GDPR account deletion request, they would currently have to reach out to us for support in making direct u

[2018-09-21 01:43] indirectlylit opened #4304 "add management command to dump all data contained in a database for a particular user"
### Observed behavior

Currently there is no straightforward way in the app to dump all information related to a particular user. This means that if an admin needed to comply with a GDPR-style request for information details, they would need to reach out to us for assistance manually exporting records from the database.

### Expected behavior

We should create a new Django management command to du

[2018-09-21 05:27] arky opened #4307 "Better Drive Names in Export Dialog box"
When exporting content packages you will be presented with the following screen. Perhaps more human friendly drive names or paths would be ideal for an average user.

The testcase was run on my development gnu/linux laptop with latest stable kolibri(0.10.2).

…
![screenshot from 2018-09-21 12-19-40](https://user-images.githubusercontent.com/808895/45861789-d883e000-bd98-11e8-8178-38c9b3886549.png)

[2018-09-21 05:46] arky opened #4308 "Error occurred during content import"
Perhaps harmless log messages during importing content from Kolibri studio. It would be good to know what is the root cause of this content corruption logs?

Is it because of network latency (as am testing this from Phnom Penh, Cambodia)? Or you are doing sanity checks before the file is completely downloaded?

Testing Kolibri 0.10.2 pip package.

PS: Did anyone notice the typo 'occured' ?

[code]

[2018-09-21 05:50] arky opened #4309 "Simple Typo: 'occured'"
Simple typon 'occured'  instead of 'occurred'

https://github.com/learningequality/kolibri/blob/d4a672621d05028b28e9ea93d02a3f834932a4ca/kolibri/core/content/management/commands/importcontent.py#L176-L178

https://github.com/learningequality/kolibri/blob/bb439740e33f1cf0270d01500a68e0b84c90d563/kolibri/core/content/management/commands/importchannel.py#L128

[2018-09-21 17:29] arky opened #4310 "Running Migrations causes systemd service timeouts on low-end hardware"
At the moment, kolibri runs all the migrations on first run of 'kolbiri start'. Now this causes systemd service timeouts on low-end devices such as Raspberry Pi's. It doesn't happen always but sometime it does fail. I will try to zero in on which migrations take the most resources.

Perhaps adding `TimeoutStartSec` to avoid the timeouts might work, but it is not a solution.
https://github.com/lear

[2018-09-21 17:39] indirectlylit commented on #4307
@arky for context, how are these drives named in your OS?

[2018-09-21 17:44] indirectlylit commented on #4308
@lyw07 you wrote the comment

                # If size of the source file is smaller than the the size
                # indicated in the database, it's very likely that the source
                # file is corrupted. Skip this file.

Do you recall under what circumstances this was happening?

[2018-09-21 17:54] lyw07 commented on #4308
@indirectlylit Yes, it's from the PR: https://github.com/learningequality/kolibri/pull/4017. This issue was reported in https://github.com/learningequality/kolibri/issues/4014, when the file size was 0 in the USB during local content import.

For the logs in this issue, it's because the content file size of the thumbnail image in the database from studio is different from its actual size. I've fil

[2018-09-21 19:30] #4309 closed, assigned to nobody

[2018-09-22 02:30] arky commented on #4307
@indirectlylit The drives are named using UUID (standard linux) drive labels. Here is disk geometry.

$ sudo fdisk -l /dev/sda
Disk /dev/sda: 167.7 GiB, 180045766656 bytes, 351651888 sectors
Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 512 bytes
I/O size (minimum/optimal): 512 bytes / 512 bytes
Disklabel type: dos
Disk identifier: 0x000aaaf9

Device     Boot

[2018-09-24 17:24] indirectlylit commented on #4243
you might say it's... _unjustified_

:D

[2018-09-24 17:29] #4228 closed, assigned to nobody

[2018-09-24 17:35] indirectlylit commented on #3947
whoops, I forgot to add a user string label and missed string freeze

[2018-09-24 17:38] indirectlylit commented on #4301
May want to consider targeting this at 0.10?

[2018-09-24 17:42] indirectlylit commented on #3274
should be fixed - please notify if not

[2018-09-24 18:18] DXCanas commented on #4185
https://github.com/learningequality/kolibri/pull/4253

[2018-09-24 18:18] #4185 closed, assigned to nobody

[2018-09-24 18:38] jonboiser commented on #4210
@ralphiee22 The results from the `/api/auth/classroom/` endpoint are not being filtered properly. It seems to return all classrooms to all users.

[2018-09-24 18:41] jonboiser commented on #4210
On the other hand, it seems like the filtering is working fine for `learn/api/learnerclassroom/`, hence the 404 Julius is getting for the one classroom..

[2018-09-24 18:59] ralphiee22 commented on #4303
This seems to need some development work in morango because we never actually fully delete records since they would still exist in the store. Will probably need to add a `hard_delete` flag in morango.

[2018-09-24 19:17] indirectlylit opened #4315 "line endings in downloaded errors are not windows-compatible"
### Observed behavior

reported in https://github.com/learningequality/kolibri/pull/4232#issuecomment-422985685

### Expected behavior

We should either make its so that line endings work on all operating systems, or if that's too hard,  remove the 'download' option

### User-facing consequences

users on Windows will have trouble using this feature

### Context

0.11

[2018-09-24 19:44] jonboiser opened #4316 "Learner Lesson Playlist does not update automatically"
### Observed behavior

1. I try to edit a Lesson X(e.g. add a resource) as a Coach
1. Go to the Learn page (in coach account), then Lesson Playlist (for Lesson X) page, but the Playlist is not up-to-date. The Lesson API is returning the correct object, but the `contentnode_slim?in_lesson` response is not returning all of the resources.
1. Refreshing does not update the list
1. However, if I log-ou

[2018-09-24 19:52] jonboiser commented on #4316
Adding a `force: true` on this line doesn't seem to work. https://github.com/jonboiser/kolibri/blob/2bc7be47415654837858c20bf1e5c7d1700b20fa/kolibri/plugins/learn/assets/src/modules/lessonPlaylist/handlers.js#L16

[2018-09-24 19:59] jonboiser commented on #3972
Not seeing these errors at the moment. Can't find the exact video in the OP, but have tried several videos from the Kolibri Demo channel.

[2018-09-24 20:00] #4298 closed, assigned to jonboiser

[2018-09-24 20:38] radinamatic commented on #4243
¡Nunca mejor dicho! :sunglasses:

[2018-09-24 22:49] indirectlylit commented on #4303
yes I think that is essentially what @jamalex suggested

[2018-09-24 22:50] indirectlylit commented on #4316
cc @rtibbles perhaps the result of more aggressive recent caching?

[2018-09-24 22:51] indirectlylit commented on #3972
I would find a video that you know has subtitles and test that, because those are likely the `supplementaryFiles`.

If you still don't repro, please close

[2018-09-25 00:28] DXCanas commented on #4075
A little confused by this issue @indirectlylit, as 2.5.18 still hasn't been released?

[2018-09-25 01:40] DXCanas commented on #4160
I can confirm this behavior in 0.10... but I have no idea what causes the log out. The `updateUser` action (and the functions it calls) don't seem to touch the session, nor does the `edit-user-modal`.

@rtibbles You have any idea why [calling `updateUser`](https://github.com/learningequality/kolibri/blob/release-v0.10.x/kolibri/plugins/facility_management/assets/src/state/actions/user.js#L71) or [

[2018-09-25 12:48] rtibbles commented on #4316
Yes, seems right as it is on the content node endpoint.

[2018-09-25 12:49] rtibbles commented on #4316
Have updated milestone as will effect 0.10 too, as I believe they both use the "in lesson" get param.

[2018-09-25 12:52] rtibbles commented on #4160
I am more confused by the fact that it worked in 0.10 than it doesn't work in 0.11. I would suggest just calling the core logout function here.

[2018-09-25 14:01] benjaoming opened #4319 "Add tests for server info"
### Observed behavior

#4232 got merged quickly because of a string freeze, but it needs tests.

### Expected behavior

Retained test cov

### User-facing consequences

n/a

### Errors and logs
n/a

### Context

0.11 dev

[2018-09-25 17:07] radinamatic commented on #4307
Do we even have other options for drive names? Maybe the user changed the labels and renamed the fixed drives, but that is rarely done for external ones that you plug & unplug constantly... :thinking:

[2018-09-25 17:57] DXCanas commented on #4160
But the core logout function redirects to the logout page, then takes you to the login page. Is there any way to have it take you to `/learn`?

[2018-09-25 18:00] rtibbles commented on #4160
Hrm, maybe we should just direct them back to the login screen?

(Alternatively, if we want to retain the current behaviour, we could enhance the logout function to take an optional 'next' url after logout).

[2018-09-25 18:12] rtibbles commented on #4316
Chatted with @ralphiee22 and as the `in_lesson` get param is just a covenience wrapper around the previous `ids` behaviour that was used here, reverting this seems like the simplest fix.

[2018-09-25 18:40] jonboiser commented on #4316
`in_lesson` is slightly safer than `ids` because it works even if the underlying channel has been deleted. In the coach lesson's workflow, we still use the `id` filter and the Lesson Summary Page can crash if any resource's channel has been deleted.

[2018-09-25 18:42] rtibbles commented on #4316
OK, can make the ids filter safe to handle this - thanks for info!

[2018-09-25 19:02] rtibbles commented on #4316
Hrm, the `ids` filter still works fine - the only difference is that it doesn't handle badly formed uuids. The issue in the LessonSummaryPage is due to the frontend not handling the content node not existing, the API request returns properly.

[2018-09-25 19:10] jonboiser commented on #4316
So one of the actions in LessonSummaryPage uses this code

in lessonSummary/actions.js
[code]

If `nonCachedResourceIds = [ok_node, deleted_node]`, I thought this request would fail completely, instead of filtering out `deleted_node` and still returning a 200 with `[ok_node]`.

[2018-09-25 19:15] rtibbles commented on #4316
It will return a 200 with just `[ ok_node ]`. The issue stems from this:
[code]
So the `workingResources` gets set to the resource ids on the lesson model, regardless of whether the resources exist or not.

[2018-09-25 20:18] DXCanas commented on #4160
@jtamiace You OK with this? Also, would it be alright if the same thing happened when they drop down to a learner?

[2018-09-25 20:29] jtamiace commented on #4160
Redirect to the login screen for both of those scenarios makes sense to me

[2018-09-25 23:06] lyw07 commented on #4196
steps to check if cryptography module is working:
https://docs.google.com/document/d/1YVDBGmu-GVCBTTQA__05Jy5uDMuv1Iykjc5px0O4bXc/edit

[2018-09-25 23:12] lyw07 commented on #4189
@mrpau-richard Hi! I'm wondering if you still have the `kolibri.log` file when this error happened. Thank you! My guess is that it detected the port was not available, but the error went to the log file, since the program checks the port availability right before the server starts.

[2018-09-25 23:38] DXCanas opened #4323 "Admins Can Only Demote Themselves to Learners"
Never coaches. Fits in with #4160

[2018-09-26 00:14] lyw07 commented on #4227
Hi @nobicycle ,

Instead of creating symbolic links to your new disk to extend the storage space, I would recommend using our command `kolibri manage content movedirectory <destination>` to move your current content into the new disk and set the new disk folder to be the directory to store all the content. Here are the instructions for using the command: https://kolibri.readthedocs.io/en/latest/ma

[2018-09-26 01:42] DXCanas opened #4324 "Class coaches appear as facility coaches in Profile + Appbar"
Happened in #4238

[2018-09-26 07:47] mrpau-richard commented on #4189
@lyw07 your right, it did show in log file that the port is not available. But the logs appear only in the `server.log` not in the `kolibri.log`. I think, we should propagate those error logs at the command prompt or terminal to notify that the port is not available.

Here are my log files:
[server.log](https://github.com/learningequality/kolibri/files/2418597/server.log)
[kolibri.log](https://git

[2018-09-26 15:24] arky commented on #4040
Thanks @benjaoming for creating this bogus package. Using the pip installed from pypa.io doesn't throw any pip cache memory errors.

So I guess the pip packages shipped in Debian/Ubuntu have some bugs that throws these errors.

[2018-09-26 17:18] maxwellfundi opened #4328 "Learners not able to view other learners in a class/group"
### Observed behavior

 Currently the learners can not be able to view this other learners in same class/group.

### Expected behavior

When you create a facility and add users, both admins and learners, then it is desirable that people in same class/group are able to view other people in same class.

### User-facing consequences

Being able view this, will actually get students to interact more f

[2018-09-26 17:19] lyw07 commented on #4189
thank you! @mrpau-richard That makes sense to me. I will find ways to let the error show up at the terminal.

[2018-09-26 17:49] indirectlylit opened #4329 "loading-spinner.gif is large and poorly exported"
### Observed behavior

Our loading spinner is 100KB. It's also poorly exported:

* the outer edges are aliased against the transparent background
* the inner edges are blurry, as though scaled from pixels rather then exported from vectors, which works against the compression
* each frame of the gif re-draws all previous frames, wasting bytes

![loading-spinner](https://user-images.githubuserconten

[2018-09-26 19:33] lyw07 opened #4331 "Total size of channel in the import page is shown as 0"
### Observed behavior

In the channel import page, the total size of the channel is shown as 0.

### Expected behavior

The total size of the channel should be shown correctly.

### User-facing consequences

Users don't know how large this channel is.

### Errors and logs

<img width="355" alt="screen shot 2018-09-26 at 12 23 47 pm" src="https://user-images.githubusercontent.com/19424916/46104512-

[2018-09-26 22:54] indirectlylit opened #4334 "errors during startup (database locked, DatabaseIDModel does not exist)"
### Observed behavior

Attempting to run `kolibri start` on the most recent `develop` branch I get the errors below. This does not happen with the devserver.

At this point, I cannot load Kolibri.

### Expected behavior

No errors, Kolibri loads

### User-facing consequences

sadness, regret

### Errors and logs

[code]

### Steps to reproduce

[code]

### Context

0.11

[2018-09-27 06:43] jredrejo commented on #4334
I think we should review the frequency of the vacuum interval. We set it very aggresive for testing purposes and never reduced it to a reasonable interval.
Relates #4067

[2018-09-27 16:10] ralphiee22 commented on #4334
Thanks for the insight @jredrejo. Upon removing the vacuum call the above error stops appearing. I wonder if we can make it blocking for at least the first call, then threaded thereafter

[2018-09-27 16:46] jredrejo commented on #4334
It would be good to be able to do vacuum before anything else is done in Kolibri when booting because it   warranties the db is in the best state before beginning to use. However, it's not something needed every day. It's important to do it after importing or deleting a channel (doing it so was not possible because the database can't have open queries to do vacuum)
I like your idea of making it bl

[2018-09-27 16:58] indirectlylit commented on #4075
Darn. I'd hoped it would have been released by now.

I upgraded because we need the performance improvements in https://github.com/vuejs/vue/pull/7824

Unfortunately that change caused a regression: https://github.com/vuejs/vue/issues/8446

I'll need to make a performance update to work around this

[2018-09-27 18:21] jonboiser commented on #3972
Not seeing this at the moment in Lessons or in Learn page. Tried with several Touchable Earth videos with captions.

[2018-09-27 18:21] #3972 closed, assigned to nobody

[2018-09-27 18:22] jonboiser commented on #4033
CLosing for similar reasons to #3972

[2018-09-27 18:22] #4033 closed, assigned to nobody

[2018-09-27 18:30] jonboiser commented on #4331
For me the response from `http://localhost:8000/api/content/remotechannel/0e173fca6e9052f8a474a2fb84055faf/`, where the total size data comes from, is correct both times (when file sizes are correct and zero).

[2018-09-27 18:43] lyw07 commented on #4331
I tried again but this error still shows up on my laptop. I recorded a video for it:
![tota_size_error](https://user-images.githubusercontent.com/19424916/46167417-96e8ae80-c24a-11e8-923e-44739cf9dbb5.gif)

[2018-09-27 18:59] DXCanas commented on #4075
@devon Is there a specific component that was causing issues?

[2018-09-27 19:08] indirectlylit commented on #1043
Anyone recall what content this was? We should file an upstream issue on the sushi chef

[2018-09-27 19:15] rtibbles commented on #4301
I think so, @indirectlylit - this is a backwards compatibility concern otherwise.

[2018-09-27 19:27] indirectlylit commented on #3339
haven't seen this in a while

[2018-09-27 19:27] #3339 closed

[2018-09-27 19:29] indirectlylit commented on #3572
haven't seen this in a while. please re-open with steps to repro if it's still extant

[2018-09-27 19:29] #3572 closed

[2018-09-27 19:36] #4022 closed, assigned to nobody

[2018-09-27 21:26] indirectlylit commented on #4307
It looks like on linux we currently display disk manufacturer info as the name, but more common practice is to show things like mount location and identifier ID.

Probably what we want to do is have a primary name with some metadata underneath

[2018-09-27 21:52] radinamatic opened #4341 "Enable ePUB plugin to run by default"
### Observed behavior

ePUB plugin is not enabled by default, and it prevents from importing & viewing ePUB files, until the command `kolibri plugin kolibri.plugins.document_epub_render enable` is run.

### User-facing consequences
Inability to view and import ePUB files.

### Context
dev environment, tried on `develop` and `0.11.a7` branches

[2018-09-27 21:56] radinamatic commented on #4307
Metadata like size? I often default to recognizing my different drives by remembering their size...

[2018-09-27 21:59] radinamatic commented on #1043
From the screenshots it looks like one of IS-VF channels, but that issue is 18 months old... :blush:
I don't have an Iphone handy atm to re-test, so can't confirm if it's still extant.

[2018-09-27 22:30] indirectlylit commented on #4075
Yes it was an optimization in the responsive window mixin, where the computed props were being re-calculated constantly during resizes rather than just at breakpoint thresholds.

I think we'll basically need to revert this commit: 355acf387266f6b0095cd7461e496485268079ba

[2018-09-27 22:50] indirectlylit commented on #4328
thanks for the feedback @maxwellfundi

I've logged this request internally and we'll consider it for the future

[2018-09-27 22:53] indirectlylit commented on #4334
does this mean that vacuuming might cause a DB locked error if simultaneous access occurs?

Originally we had suspected it would not cause an error, but only cancel the vacuum

[2018-09-27 23:31] #3428 closed

[2018-09-27 23:33] indirectlylit commented on #4307
metadata like mount point and ID

[2018-09-27 23:34] indirectlylit commented on #1043
cc @jeepurs you might know?

If not I'll close this

[2018-09-28 03:23] nobicycle opened #4342 "Khan Academy Update to Version 13 - removed 1 GB without warning"
### Observed behavior
Khan Academy Update to Version 13 - removed 1 GB without warning

### Expected behavior

The update should warn before deleting such a large amount of data. Administrators may then decide not to update at that time, avoiding serious disruption.  Update can then take place at an ulterior date.

In my case, 1GB was removed
![0875d4db-db5b-4a72-a203-5f89499a232b](https://user-im

[2018-09-28 04:08] intelliant01 commented on #4342
To put things in perspective for those trying to address this, this could be related to 2 issues - one with the Khan Academy English channel and the other with Kolibri.

I faced the same situation earlier with Kolibri 0.10.1 which has been discussed [herein](https://community.learningequality.org/t/updating-a-channel-requires-re-importing-the-channel-contents-and-not-just-the-diff/732?u=shrenik).

[2018-09-28 14:49] jredrejo commented on #4334
Logic seems to point so, but I have never been able to see it or force it. We have been using the aggressive vacuum in develop since mid July and I have never had or heard of any problem.

If that's the case the safest approach would be doing vacuum only on startup, in a blocking process.

The downside on doing vacuum only on  startup is that it's useless in servers that are kept alive using apach

[2018-09-28 19:13] #4341 closed, assigned to christianmemije

[2018-09-28 22:16] DXCanas opened #4344 "Can't select video resolutions"
Had to put together a workaround in Studio, but if you upload different resolutions to a video in studio, you cannot choose which one you want to watch in Kolibri.

[2018-09-28 23:22] christianmemije commented on #4344
Should be simple using https://github.com/kmoskwiak/videojs-resolution-switcher

[2018-10-01 17:09] #4165 closed, assigned to jonboiser

[2018-10-01 17:18] jonboiser commented on #3899
Mostly fixed in #4314. Will probably need to vendor Keen-UI components to get this fixed in e.g. ui-textbox.

[2018-10-01 17:18] #3899 closed, assigned to jonboiser

[2018-10-01 17:21] jonboiser commented on #4028
A fix for this was put in #4086 could @mrpau-dev or someone else provide some additional testing?

[2018-10-01 17:57] #3812 closed, assigned to jonboiser

[2018-10-01 18:57] arky commented on #4307
From a users perspective, showing a mount point such as "/", "/media" is ideal when screen space is limited or too many drives/partitions are present.

Perhaps additional information such as disk type (denoted with a usb pen drive icon), disk capacity and disk free space could be shown to the user to make informed decision about exporting the data.

Am attaching a very common linux application UX

[2018-10-01 19:39] benjaoming opened #4350 "Not showing 100% while importing the channel."
_From @swapnil106111 on September 26, 2018 10:56_

## Summary
When we import channel, it does not show 100% imported. It stops at 99.7% and shows CLOSE button.

I think, size of content is not updated in database.
## Category

Select one: BUG

## Usage Details

 - Browser: Chrome
 - Channel: bisor-juhol
 - Topic/Content Item: CBSE Khan Academy Math 6-9 (English) -> Class 9 (India) -> Inequalities

[2018-10-01 20:32] jonboiser commented on #3896
@jtamiace 	Can you provide a way to reproduce this? The expected behavior for an exam that is in progress is for the "progress" column to say something like "5 of 10 questions remaining".

The condition for the column to say "complete" is that the Exam Log has `complete: true` or its `progress` field is equal to the number of questions in the exam. If the example exam is really not done, there mig

[2018-10-01 20:46] jonboiser commented on #3896
This might have actually been fixed in pull request #3499

[2018-10-01 21:03] jonboiser commented on #3896
Okay, #3499 did fix the back-end, but the front-end did need a minor tweak. The 'complete' message should only appear if the `examlog.complete === true`. If `examlog.progress === exam.question_count` but it's not 'complete', we should still count it as 'in progress'.

[2018-10-02 05:21] mrpau-richard commented on #4028
Okay @jonboiser we will do a testing on this. Thanks 😄

[2018-10-02 06:29] mrpau-richard opened #4353 "IE11 setup wizard step 7 broken text line break"
### Observed behavior
Setup wizard step 7 broken text line break at the IE11.
### Expected behavior
Text should display properly at the IE11

### Errors and logs
![screen shot 2018-10-02 at 2 13 52 pm](https://user-images.githubusercontent.com/8663934/46332433-16adb900-c64f-11e8-84ff-bedb9a77c3a0.png)

### Context
 * Kolibri version: Kolibri 0.11.0a7
 * Operating system: Windows 7
 * Browser: IE11

[2018-10-02 08:57] mrpau-richard commented on #4028
@jonboiser I observed during my testing, There's still some exam exercises that has the same question but different answer added in the exam.
![temp](https://user-images.githubusercontent.com/8663934/46338617-3d75ea80-c663-11e8-806c-cfd68820e3d6.gif)

I used the Kolibri-0.11.0a7 version to test this.

[2018-10-02 10:19] mrpau-julius commented on #4028
Hi @jonboiser I tested this in windows 10. I observed, when I creating an exam having 10 items, but the "Counting objects" topic contain 3 exercises. When I click preview, there are repeating questions, but different choices.
For me, it is good idea to put a same questions but different selecting answers.

[2018-10-02 16:21] rtibbles commented on #4028
@mrpau-julius note that this is not an instance of a 'repeating question' because the posed question and answer are different (even though the overall form of the question is the same across the questions) so this is fine!

[2018-10-02 18:22] christianmemije commented on #3876
Not broken behavior.

[2018-10-02 18:22] #3876 closed, assigned to ralphiee22

[2018-10-02 18:48] indirectlylit commented on #4334
Sounds right. Let's

1. initially vacuum on start-up in a blocking step
2. reduce frequency of vacuum in #4067 to once per day at 3AM local time according to the server, which should minimize impact

[2018-10-02 19:22] jonboiser opened #4355 "No empty state on AllClassesPage (when not enrolled in a class)"
### Observed behavior

No special message at *Learn > Classes* when a learner is not enrolled in any classes.

The *Classes* tab is intentionally not shown in this situation, but the user can still go to `/learn/classes` URL directly

<img width="665" alt="screen shot 2018-10-02 at 12 18 15 pm" src="https://user-images.githubusercontent.com/10248067/46371647-c11ce080-c63d-11e8-9558-43c681ad6ab4.pn

[2018-10-02 19:27] #3845 closed, assigned to nobody

[2018-10-02 19:31] indirectlylit commented on #4350
Do we have a Kolibri version number?

We've seen similar issues in the past:

* #614
* #4014

[2018-10-02 19:40] indirectlylit commented on #4353
good catch, thanks

[2018-10-03 13:29] indirectlylit opened #4360 "large 'play' button in videos sometimes didn't work on touch screens"
### Observed behavior

While observing users in Kakuma try to play videos on touch-screen tablets, I repeatedly observed users trying and failing to play videos by clicking the 'play' button in the center of the screen. They had more luck using the button next to the time slider.

It was also unclear to the users whether the play was starting and just laggy or if it wasn't starting at all, so it c

[2018-10-03 14:28] benjaoming commented on #4334
There are a lot of environments with either 1) power blackouts or 2) intentional power-off on devices. If these cases are covered by vacuuming during start-up, that's fine.. and then devices that are "always-on" are doing vacuuming during night, that's all fine!

[2018-10-03 19:05] indirectlylit opened #4361 "add tests for inline assets"
### Observed behavior

In #4249 we added new functionality for inlining assets, but no new tests

### Expected behavior

higher coverage

### Context

0.11

[2018-10-03 19:56] #4315 closed, assigned to DXCanas

[2018-10-03 20:06] benjaoming commented on #4350
@indirectlylit I moved this issue so it's not following the normal issue template - maybe @swap106111 can add a few more details like the version number.

Otherwise, let's try and see if we can reproduce it...

[2018-10-03 20:08] #4160 closed, assigned to DXCanas

[2018-10-03 20:08] #4323 closed, assigned to nobody

[2018-10-03 20:08] #4324 closed, assigned to DXCanas

[2018-10-03 23:00] nobicycle commented on #4227
@lyw07

The link 'ln -s' command is the simplest way to achieve kolibri content on an alternate volume. It is completely transparent to the application and guaranteed not to cause issues.

This method is referenced in your own Kolibri administration area of the manual.

Performing some complicated trick in Python is clearly an inferior choice .

Most servers are now running Linux, even on the Micr

[2018-10-04 00:06] #4122 closed, assigned to DXCanas

[2018-10-04 00:07] #3896 closed, assigned to jonboiser

[2018-10-04 00:27] #4319 closed, assigned to jredrejo

[2018-10-04 00:28] #4353 closed, assigned to jonboiser

[2018-10-04 00:28] indirectlylit commented on #4353
@mrpau-richard, this should be addressed but please keep an eye out for it during integration testing next week

[2018-10-04 02:20] indirectlylit commented on #4227
Hi @nobicycle -

The guidance that @lyw07 gave you is correct. It is not a "python trick", but a new Kolibri feature which allows the application to explicitly reference the content in a location outside of the Kolibri home folder.

Thank you for bringing this to our attention. We'll update the docs to remove this outdated advice.

It is important to use the `content movedirectory` command because

[2018-10-04 10:30] swapnil106111 commented on #4350
@benjaoming We faced this issue in Kolibri-0.9.5b3.

[2018-10-04 11:15] benjaoming commented on #4350
@swapnil106111 - thanks for the extra info.

In this case, I'm 99.7% sure it is the same as https://github.com/learningequality/kolibri/issues/4014 :smile:

This was fixed and released in 0.10.1 - so closing this. Thanks for reporting and please keep doing so :)

[2018-10-04 11:15] #4350 closed, assigned to nobody

[2018-10-04 14:31] #4301 closed, assigned to DXCanas

[2018-10-04 14:32] #3918 closed, assigned to jonboiser

[2018-10-04 14:34] indirectlylit commented on #4210
Should be addressed

@mrpau-julius please keep an eye out for this during upcoming integration testing

[2018-10-04 14:34] #4210 closed, assigned to ralphiee22, jonboiser

[2018-10-04 15:01] benjaoming commented on #4342
I like @nobicycle 's suggestion:

@indirectlylit you recently made changes in the channel import steps regarding disk space etc - would this be hard to implement? I guess we need meta data for both the installed version of a channel and the available version to calculate the diff...

[2018-10-04 15:21] jeepurs commented on #1043
Yup @indirectlylit that source is probably CK-12!

[2018-10-04 17:59] indirectlylit commented on #4342
It's not entirely clear to me yet what's happening here: whether content actually was deleted, or was supposed to be deleted, or if the values are just being reported differently than before. I've asked the content devs to take a look.

There is certainly a UX issue here also but I'd like to get to identity root cause first.

[2018-10-04 18:06] indirectlylit commented on #1043
migrating to https://github.com/learningequality/sushi-chef-ck12/issues/6

[2018-10-04 18:06] #1043 closed

[2018-10-04 18:40] jonboiser commented on #3916
@mrpau-richard @cadedopp This appears to be fixed in Khan Academy Version 13. Could you check it out?

Here's a screenshot of the same exercise in Version 13:

![screen shot 2018-10-04 at 11 39 53 am](https://user-images.githubusercontent.com/10248067/46495458-51882c00-c7ca-11e8-9c0c-787ce504b2ec.png)

[2018-10-04 18:48] jonboiser commented on #3878
It's possible in the scenario, the "save" button was not pressed after adding the resource (the "resource added" pop up appears only when adding, not saving). The auto-saving feature in #4253 might help prevent this kind of situation.

[2018-10-04 18:48] #3878 closed, assigned to nobody

[2018-10-04 20:21] cadedopp commented on #3916
Yep- it works now. Thanks.
On Thu, Oct 4, 2018 at 6:40 PM Jonathan Boiser <notifications@github.com>
wrote:

--
Cade Dopp
Director of Education
Educell
cade@educell.org | 801-682-3795
https://educell.org | http://cadedopp.com
Matt 25:35-40

[2018-10-04 22:15] indirectlylit commented on #3916
great, thanks for checking!

[2018-10-04 22:15] #3916 closed, assigned to nobody

[2018-10-05 09:18] benjaoming commented on #4227
Hi @indirectlylit and everyone else - the Code of Conduct team is there to resolve any grievances, disputes etc. If you feel that unacceptable behavior has taken place, just flag the team that handles this: codeofconduct@learningequality.org

-----

As a Linux user, I feel that making symbolic links is in my DNA. It's a very intuitive way of managing disk space in a flexible way, free from hierarc

[2018-10-05 13:49] indirectlylit opened #4363 "numerals not localized in all locales"
### Observed behavior

| Arabic | Urdu | Farsi |
|--|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/46538839-02520200-c883-11e8-8fe4-077115425e63.png) | ![image](https://user-images.githubusercontent.com/2367265/46539060-8efcc000-c883-11e8-8097-e25260883601.png) | ![image](https://user-images.githubusercontent.com/2367265/46539082-9e7c0900-c883-11e8-9903-68b9900e09bb.png) |

#

[2018-10-05 14:02] indirectlylit commented on #4227
Thank you @benjaoming for flagging this.

My apologies, @nobicycle: it was not my intent to accuse you of a violation.

I really do appreciate your engagement and you've been a valuable member of our small development community over the past year, with many insightful contributions.

[2018-10-05 14:53] indirectlylit opened #4364 "follow-up items from i18n tooling updates"
### Observed behavior

left-overs from #4254

### Expected behavior

* [ ] unit tests for new scripts
* [ ] load `VueIntl` locale data from a `<link>` like the CSS, and [just load current language](https://github.com/learningequality/kolibri/pull/4254#discussion_r222850411)
* [ ] ensure Django has static file caching and cache busting working
* [ ] Look at building the CSS files during `make asset

[2018-10-05 15:05] #4304 closed, assigned to ralphiee22

[2018-10-05 15:07] #4189 closed, assigned to lyw07

[2018-10-05 15:10] indirectlylit commented on #4028
thanks - sounds like the primary issue is resolved.

Sounds like there may still be a UX issue because questions look so similar that they appear to be duplicates (cc @khangmach)

I'll file a clearinghouse issue for that

[2018-10-05 15:10] #4028 closed, assigned to jonboiser

[2018-10-05 15:14] indirectlylit commented on #2452
done!

[2018-10-05 15:14] #2452 closed

[2018-10-05 15:17] indirectlylit commented on #3627
addressing this under #4303 (cc @ralphiee22)

[2018-10-05 15:17] #3627 closed

[2018-10-05 15:58] benjaoming commented on #4364
I don't think that unit tests for build tools are essential -- but testing the artifacts resulting from the builds is :)

Builds are generated during all CI test runs, anyways.. so the most obvious failures are caught.

If the CrowdIn CLI gets its own project, we could/should add tests!

[2018-10-05 17:14] jonboiser commented on #4204
This is probably not an issue anymore, since this change languages modal has minimum width that is enough to have the buttons side-by-side.

[2018-10-05 17:14] #4204 closed, assigned to jonboiser

[2018-10-05 19:35] indirectlylit opened #4366 "follow-up from 'Inline nav items' work"
### Observed behavior

In #4249 @rtibbles added the ability to inline certain webpack files to prevent lots of extra webpack requests.

This is working for CSS, but it looks like some JS is still being loaded in separate requests:

![image](https://user-images.githubusercontent.com/2367265/46556313-41e51200-c8b4-11e8-9cdd-361d2ff9a301.png)

### Expected behavior

All 'nav' JS should be inlined

##

[2018-10-05 19:39] indirectlylit opened #4367 "follow-up from content renderer 'saved state' PR"
### Observed behavior

in #4330 we added functionality to save state of content renderers, e.g. page number of a PDF

I tested with videos and PDFs. PDF works very well, but videos do not seem to save state.

It's also not clear to me what state is expected to be saved: e.g. speed of video playback? PDF zoom level? Epub text size? etc. Let's document these in the Gherkins.

### Expected behavior

[2018-10-06 11:44] benjaoming opened #4370 "test coverage is incorrectly reported by codecov"
### Observed behavior

Just noticed the coverage from #4357 seems to miss something. I haven't looked into the cause, I think it's just a call with `--scheduled` that's missing in tests and would be easy to fix?

If it's because threads don't get coverage collected, then perhaps we should rename this issue to deal with this at a later point.

![image](https://user-images.githubusercontent.com/3746

[2018-10-06 11:44] benjaoming commented on #4370
@ralphiee22 could you have a quick look?

[2018-10-06 15:07] #4243 closed, assigned to nobody

[2018-10-06 15:45] indirectlylit opened #4371 "create unit test for responsive window mixin"
### Observed behavior

In particular, we want to make sure that the optimizations from #4075 are being enforced

### Expected behavior

Style updates are expensive, and should not be allowed to be called more often than necessary

### User-facing consequences

potentially lower performance

### Context

k011

[2018-10-07 06:26] arky opened #4375 "Kolibri Khmer Translation"
Filing this bug to translate kolibri in Khmer (km) [Cambodian language](http://www.loc.gov/standards/iso639-2/php/langcodes-keyword.php?SearchTerm=khmer&SearchType=ALL).

@jflaflamme @manuthchek Please kindly help me with this translation

https://github.com/learningequality/kolibri/tree/develop/kolibri/locale

[2018-10-08 06:57] arky opened #4376 "Support for EPUB3 SMIL feature"
We plan to create listen and learn digital books for pre-school children. These books will use media overlay SMIL spec in EPUB3. Please kindly include a web interface capable of displaying such EPBU3 books in Kolibri.

Currently [Readium project](https://readium.org/) provides JavaScript tools and web interface to make this possible.

Here is example of such 'learn and learn' digital book in actio

[2018-10-08 14:54] rtibbles opened #4377 "Separate linting of frontend assets from loaders in the build pipeline"
### Observed behavior
Currently we predominantly use loaders to apply linting to all files. These are done as pre-loaders, meaning that all files must be linted before being passed to other loaders for code transpilation. Some quick measurements with https://www.npmjs.com/package/speed-measure-webpack-plugin show that these loaders take up a large amount of the compilation time on a cold start bui

[2018-10-08 14:56] rtibbles commented on #4366
![image](https://user-images.githubusercontent.com/1680573/46616524-94e6e100-cacf-11e8-8449-5df79df446c0.png)

Not replicating on develop. Were you testing this in production, or in devserver? As noted in #4249:

[2018-10-08 14:56] #4366 closed, assigned to nobody

[2018-10-08 17:11] ralphiee22 commented on #4370
@benjaoming I looked into it, but it does not look like `server.start()` is covered in any of the tests (this is where the vacuum thread is called with `schedule=True`, as well as the ping thread). So do we just want to handle the vacuum case where `scheduled=True` or do we want `server.start()` covered as well?

[2018-10-08 17:23] #4269 closed, assigned to DXCanas

[2018-10-08 17:54] jonboiser commented on #4055
I'm not sure if this is an issue with the current version of the preview modal, since the list of questions on the left is a scrollable list, while the preview area on the right remains in place.

[2018-10-08 17:54] #4055 closed, assigned to nobody

[2018-10-08 18:21] benjaoming commented on #4370
@ralphiee22 oh that's an issue on a whole different level then, we are supposed to create coverage reports for every step in `tox.ini` and combine the reports?

Collection of `kolibri start` coverage here:

https://github.com/learningequality/kolibri/blob/56c9adc4a32d0e6327a78a1c029485e27877e7b6/tox.ini#L41

Combination here:

https://github.com/learningequality/kolibri/blob/56c9adc4a32d0e6327a78a

[2018-10-08 18:27] ralphiee22 commented on #4370
Not sure if I'm navigating the report correctly, but this is what I find for that function.
https://codecov.io/gh/learningequality/kolibri/src/develop/kolibri/utils/server.py#L64

[2018-10-08 20:29] benjaoming commented on #4370
That's no good :/

Changing the title of this issue...

[2018-10-09 17:28] radinamatic commented on #4375
@arky Thank you for initiating this. Khmer locale is already available on [Kolibri Crowdin page](https://crowdin.com/project/kolibri/km#).

@jflaflamme @manuthchek If you want to contribute translations, please contact @carinediaz or me for  the translator onboarding procedure.

[2018-10-10 07:16] mrpau-julius opened #4385 "Coach page has error on Xubuntu 17.04(32 bit)"
### Observed behavior
When I click Coach page, there is an error message in the top. I checked the Lesson, Exam, Recent and Channel page. But error message still there, no resources, no exercises, no view can shown in Recent and Channel page.

![coach_page](https://user-images.githubusercontent.com/38421180/46718385-9c5be500-cc9d-11e8-8860-8fdf18cde970.png)

![lesson](https://user-images.githubuse

[2018-10-10 10:17] mrpau-richard opened #4386 "high memory usage when importing and deleting channels"
### Observed behavior

The client will disconnect from the Kolibri server when I delete the Khan Academy channel. I'm using the `.pex` file to start the Kolibri.

This appears to be because the server runs out of memory, as reported by @lyw07 below.

### Expected behavior

* We should quantify the amount of memory necessary to run the server
* Kolibri server should not run out of memory during imp

[2018-10-10 14:46] #3853 closed, assigned to jonboiser

[2018-10-10 21:42] rtibbles commented on #4316
Through a combination of #4321 and #4365 this should now be fixed.

[2018-10-10 21:42] #4316 closed, assigned to rtibbles

[2018-10-11 15:21] indirectlylit commented on #4376
Thanks @arky. For the upcoming 0.11 we used epub.js, which does not seem to support SMIL out of the box.

@christianmemije was Readium one of the libraries we considered, and if so do you recall our motivations for choosing not to use it?

[2018-10-11 15:39] rtibbles commented on #4376
@indirectlylit yes, we considered Readium, the documentation was not great, and the API not very well defined, it is not out of the question to transition, but it would probably take a bit of work to do so.

[2018-10-11 15:44] arky commented on #4376
Thanks @indirectlylit @rtibbles . Perhaps future versions of epub.js will support SMIL?

[2018-10-11 16:49] christianmemije commented on #4184
Implemented in #4378

[2018-10-11 16:49] #4184 closed, assigned to christianmemije

[2018-10-11 16:51] christianmemije commented on #4297
Implemented search in exam creation in #4378

[2018-10-11 16:51] #4297 closed, assigned to christianmemije, jonboiser

[2018-10-11 17:17] indirectlylit commented on #4385
cc @ralphiee22 mind taking a look at this?

[2018-10-11 17:20] indirectlylit commented on #4386
By "server disconnect", do you mean that the browser says that the server is disconnected?

[2018-10-11 18:09] benjaoming commented on #4385
This should be the relevant exception from the log?

[code]

[2018-10-11 18:33] rtibbles commented on #4376
Not sure - but we'll keep an eye out!

[2018-10-11 19:27] benjaoming commented on #4385
@mrpau-julius For 0.10.3-beta3, can you reproduce this on other platforms? Or does it only happen on 32 bit Xubuntu 17.04?

[2018-10-12 02:40] indirectlylit opened #4391 "UI is off-center"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/46844793-8a199e00-cda6-11e8-9bf1-b89a314c02c9.png)

### Expected behavior

centered

### User-facing consequences

UI looks wonky

### Context

0.11

[2018-10-12 02:41] indirectlylit opened #4392 "fonts are broken in grids"
### Observed behavior

some fonts are not Noto Sans, e.g. "2 resources in this lesson" below

![image](https://user-images.githubusercontent.com/2367265/46844860-b9c8a600-cda6-11e8-9b9f-dd1059db3ff3.png)

### Expected behavior

consistent fonts

### User-facing consequences

UI looks wonky

### Context

0.11

[2018-10-12 02:43] indirectlylit opened #4393 "'"
### Observed behavior

'view more' is

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2018-10-12 02:43] #4393 closed, assigned to nobody

[2018-10-12 02:45] indirectlylit opened #4394 "'view more' is shown even when there's enough space to show everything"
### Observed behavior

| collapsed | expanded |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/46844954-38bdde80-cda7-11e8-8491-d76da63f0a15.png) | ![image](https://user-images.githubusercontent.com/2367265/46844961-3fe4ec80-cda7-11e8-81cf-f047ccbd84a1.png) |

### Expected behavior

'view more' should only be shown when there's not enough space on the card to display the text

[2018-10-12 02:53] indirectlylit opened #4395 "recommend swapping card padding with spacing"
### Observed behavior

currently padding is 24px and spacing between cards is 16px, which feels unbalanced

### Expected behavior

padding in cards 16px, and spacing between cards 24px:

| Before | After |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/46845156-314b0500-cda8-11e8-8ece-079475a75d06.png) | ![image](https://user-images.githubusercontent.com/2367265/46845126-0eb8

[2018-10-12 02:59] indirectlylit opened #4396 "font size in card descriptions is very small"
### Observed behavior

Currently descriptions are only 12px

### Expected behavior

recommend bumping up to 14px. (Note that the title is 16px)

also recommend adding 8px of spacing above the 'view more' link for breathing room

| before | after | 'view more' spacing |
|--|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/46845331-07461280-cda9-11e8-81c3-f1bf15d257ad.png) | ![ima

[2018-10-12 03:04] indirectlylit opened #4397 "'select all' checkbox is not lined up with other checkboxes"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/46845603-1d080780-cdaa-11e8-8cf5-e8dbed053d5d.png)

### Expected behavior

checkboxes would be aligned

### User-facing consequences

May not immediately associate the two UIs - they feel disconnected/separate

### Context

0.11

---

cc @khangmach thoughts?

[2018-10-12 03:11] indirectlylit commented on #4397
realizing now this might be related to #4391

I'd recommend bringing everything inside the normal margins and giving the checkboxes a little more breathing room, maybe like this?

![image](https://user-images.githubusercontent.com/2367265/46845764-d1099280-cdaa-11e8-8d01-70dcc290ba41.png)

[2018-10-12 03:15] indirectlylit commented on #4385
Also curious if this happens in 0.10.2?

[2018-10-12 04:20] mrpau-richard commented on #4386
Yeah it is @indirectlylit I also double check it on the terminal by running the `kolibri status` command and it show a log `Unclean shutdown(7)`

[2018-10-12 04:42] mrpau-julius commented on #4385
@benjaoming only in 32 bit Xubuntu 17.04. I tried this on windows 10 and 7 both 32/64 bit. But this error not exists.

[2018-10-12 07:07] mrpau-richard opened #4398 "Coach page freeze on Windows 7 IE11"
### Observed behavior
Browser freeze when I navigate at the coach page using IE11 browser.

### Steps to reproduce
* Install the `kolibri-0.11.0-beta1` on Windows 7 32 bit
* Sign in as superuser
* Create only one class.
* Navigate at the coach page

### Context

 * Kolibri version: 0.11.0-beta1
 * Operating system: Windows 7 32 bit
 * Browser: IE11

[2018-10-12 09:32] mrpau-julius commented on #4385
@indirectlylit This issue is not exists on 0.10.2. I finished tested this day.

[2018-10-12 10:34] mrpau-julius opened #4399 "View more in Recommended page is not working"
### Observed behavior
In Learners Recommended page, View more label cannot clicked.

### Expected behavior
Must be clickable the View more label.

### Steps to reproduce
* Sign in as learner
* Go to Learner > Recommended page
* Click the View more label

### Context
 * Kolibri version : 0.11.0b1
 * Operating system : Windows 7 and 10
 * Browser : Firefox  62.0.3 (64-bit)

[2018-10-12 11:31] benjaoming commented on #4385
It must be related to 32 bit stuff - @mrpau-julius can you test this again on your Xubuntu 17.04 32bit, but using an asset from #4400 ? Thanks :)

Great find btw!

[2018-10-12 11:53] mrpau-julius commented on #4385
@benjaoming sure I will test it now.

[2018-10-12 16:52] benjaoming commented on #4385
Fixed in #4400

[2018-10-12 16:52] #4385 closed, assigned to nobody

[2018-10-12 17:28] christianmemije commented on #3985
Reproduced in Firefox. Very weird.

[2018-10-12 17:46] jonboiser commented on #4399
@DXCanas This looks like it's because of the large negative margin around the carousel. It overlaps the "view more" button and prevents the user from clicking it.

[2018-10-12 18:26] rtibbles opened #4407 "Clean up cruft in content api.py and serializers.py"
Various refactors of different content endpoints have left unused or overly complicated code in both the content api.py and serializers.py.

This includes, but is not limited to:
* Progress on the base ContentNode endpoint - this is not needed and can be removed
* The ContentNodeProgress API endpoint can absorb a simplified version of the progress calculation logic
* The ChannelMetadata serializer

[2018-10-12 18:35] DXCanas commented on #4399
Could we just reorder the elements? I think it would be more a11y-friendly too

[2018-10-12 18:39] rtibbles opened #4408 "Content import fails on production"
### Observed behavior
When running on a local instance (both with the Windows installer and a pex file) against kolibri-beta.learningequality.org all file downloads fail with a warning that the files are corrupted.

Have also observed this when running against Kolibri Studio on Ubuntu.

### Expected behavior
Files should download and import work.

### User-facing consequences
Content import might

[2018-10-12 18:44] lyw07 commented on #4408
I think it's similar to the issue https://github.com/learningequality/kolibri/issues/4199. I filed an issue on studio too https://github.com/learningequality/studio/issues/921

[2018-10-12 18:44] lyw07 commented on #4408
The content files should be imported successfully. The missing files shown in the error log are the thumbnails I think.

[2018-10-12 19:16] radinamatic commented on #4399
It would make sense that the `View more` link comes after the right carousel arrow in the tab navigation order, instead of before the left arrow as of now.

[2018-10-12 19:36] jonboiser commented on #4399
Is there a simple way to set the desired tab-order with little code (e.g. via a taborder attribute)? Otherwise, #4406 is really narrow in scope that it just tries to fix the original clipped-shadow issue _and_ still have the "View more" button work.

[2018-10-12 20:04] radinamatic commented on #4399
Setting the `taborder` attribute to positive value to achieve this is not recommended. The right way would be to either set the value to `-1` and do it programmatically, or move the element itself below the corresponding carousel, instead of before it.

Now it sits right after the `Most popular` heading in the page order (even though visually it is positioned on the right), which does not make muc

[2018-10-12 20:49] radinamatic opened #4409 "Channel size & number of resources reported incorrectly after the first import is cancelled"
### Observed behavior

When the user selects the channel to import, and imports just the DB (_Generating the channel listing..._), but then closes the _Select content from..._ window and selects the same channel again, its size & number of resources are reported as 0. Happens on both import from local drive and Studio.

Once resources are selected, the import proceeds without issues, and on subseq

[2018-10-12 21:30] radinamatic opened #4410 "Usage & privacy modal empty"
### Observed behavior

_View statement_ link in the step 7 of the setup wizard opens an empty modal:

![ubuntu 16 04 3 start running - oracle vm virtualbox_017](https://user-images.githubusercontent.com/1457929/46894831-1f379800-ce76-11e8-9ec9-f59f0ea227ee.png)

### Expected behavior
There should be an actual privacy statement text in there, or at least a documented procedure if the administrator

[2018-10-13 03:53] arky commented on #4376
I have filed a upstream epubjs-reader bug requesting support for SMIL support.
https://github.com/futurepress/epubjs-reader/issues/21

[2018-10-13 04:25] radinamatic commented on #4409
Not sure if it's connected, but when trying to export to local drive, total size & number of resources in the channel is reported as 0, together with the number of resources already imported on the device, while their size is apparently reported correctly.

![ubuntu 16 04 3 start running - oracle vm virtualbox_024](https://user-images.githubusercontent.com/1457929/46901255-87a36b00-ceb0-11e8-9de2-

[2018-10-13 23:51] laurenlichtman commented on #4408
I experienced something similar. I used Kolibri Beta and did the following:
(1) I installed the latest Kolibri beta (v0.11.0-beta) on my personal Windows computer (.exe) and tried to import content from Kolibri Beta online site via P2P.
(2) The import said complete (tried a folder from Touchable Earth) but it wasn't visible in my channel list or on Learn.
(3) I tried to reimport the same subfolder

[2018-10-14 03:43] indirectlylit opened #4414 "analytics error: 'bytes' is not JSON serializable"
### Observed behavior

Error occurs while Kolibri is trying to send stats

### Expected behavior

No error

### User-facing consequences

Analytics not recorded

### Errors and logs

[code]

### Steps to reproduce

Start kolibri

### Context

Mac, Python 3, latest `release-v0.11.x`

-----

cc @ralphiee22 @jamalex

[2018-10-14 04:11] jamalex commented on #4414
On it! We got automated tests working for Python 3, but it seems the serialization wasn't covered by the tests. Will add a test and fix.

[2018-10-14 05:12] rtibbles opened #4415 "Content Node resources are still fetched even when there are no ids to fetch"
### Observed behavior
In some places we fetch a set of content nodes by using an `ids` filter. On some occasions, these fetches occur even if this filter is empty - this may lead to odd/unintended behaviour.

### Expected behavior
Only do the fetch if ids is not empty.

[2018-10-14 05:17] jamalex commented on #4414
Fixed: https://github.com/learningequality/kolibri/pull/4416

[2018-10-14 05:28] rtibbles opened #4418 "Custom icons in Video Player are missing"
### Observed behavior
@christianmemije reports:
Video player is missing custom icons, never got the points snackbar or completion icon

![screen shot 2018-10-23 at 3 56 58 pm](https://user-images.githubusercontent.com/10248067/47395715-9a9e1280-d6dc-11e8-9267-6806e3df0030.png)

### Expected behavior
All icons should show up.

### User-facing consequences
Alarm, confusion, despair.

### Steps to re

[2018-10-14 05:30] rtibbles opened #4419 "Long words in title problematic in content cards"
### Observed behavior
@christianmemije reports:
Long card title get cut off inside cards, fonts popping in making text shift

### Expected behavior
Titles always get displayed in a length sensitive way.
Fonts should not pop in and make text move!

### User-facing consequences
Can't read titles.
Jerky visual experience.

### Steps to reproduce
Look at a content card with a long title.

### Context

[2018-10-14 05:34] rtibbles opened #4420 "Jerky Exercise report experience for a coach"
### Observed behavior
@jtamiace and @shivichandra report:
"For a single learner on a single exercise on a single question....
When clicking between answer attempts, everything on the screen disappears while it's loading. Creates a slightly jarring experience"

### Expected behavior
Users should feel like their eyeballs have been massaged with butter? Or at the very least, things shouldn't disappea

[2018-10-14 05:37] rtibbles opened #4421 "Active exams still appear inactive on the summary page"
### Observed behavior
@khangmach reports:
The very first time you change an exam from inactive to active, the grey circle doesn't change to a green one. You have to refresh the page to see the change

### Expected behavior
Status should be updated.

### User-facing consequences
A user might be confused and second guess themselves.

### Steps to reproduce
Create an exam.
Activate the exam.
Look at

[2018-10-14 05:42] rtibbles opened #4422 "Session and Summary Log CSV files take a long time to generate"
### Observed behavior
When there is a reasonable amount of data, the CSV summaries both take a long time to generate.
This can lead a user to think either nothing is happening, or if there is a strict timeout enforced by, e.g. nginx, then it can prevent access to them.

### Expected behavior
Generated the logs asynchronously and let the user know when they are ready to be downloaded.

### User-fac

[2018-10-14 05:46] rtibbles opened #4423 "When deleting a channel, specify which one we are deleting in the task progress"
### Observed behavior
Task progress just says 'Deleting channel'

### Expected behavior
Task progress says 'Deleting <channel name>'

### User-facing consequences
Know what is happening better when deleting

### Context
v0.11.0-beta1

Is this a good change?

[2018-10-14 05:49] rtibbles opened #4424 "'All learning records' might be confusing, especially for a coach user"
### Observed behavior
@laurenlichtman reports while deleting a coach user:
"All the learning records for 'bbadmin' will be lost." (1) 'bbadmin' was a Coach (assuming this user also has logs). (2) I'm not sure if we use the terminology "learning records" anywhere and it may be confusing. How about "All data for 'bbadmin' will be lost."?

### Expected behavior
A message that better summarizes what i

[2018-10-14 06:03] laurenlichtman commented on #4424
Or maybe "All data logs" or "All logs" just to use terminology consistent in Kolibri.

[2018-10-14 22:05] radinamatic opened #4426 "Alert admins about unsaved facility setting changes when they try to navigate away"
### Observed behavior
When admins or super admins make changes in facility settings, but then navigate away **without saving**, those changes get lost.

### Expected behavior
There should be an alert (modal or snackbar) warning them that the changes are not saved yet, and offering to save or cancel.

### User-facing consequences
Users might think that the changes are applied just by checking the c

[2018-10-15 02:21] radinamatic commented on #2371
Bumping up this, as it is still extant on 0.11:

#### Learn

![ubuntu 16 04 3 0 11b1 in-context running - oracle vm virtualbox_045](https://user-images.githubusercontent.com/1457929/46926539-7afa5080-d031-11e8-92fb-f32cd3452a45.png)

#### Coach > Preview Lesson resource

![workspace 1_044](https://user-images.githubusercontent.com/1457929/46926549-86e61280-d031-11e8-98f3-67e5621e9f2b.png)

(Crowdi

[2018-10-15 08:26] radinamatic commented on #4421
Replicated on Ubuntu 16.04, but does not happen only _the very first time_, but the status changes back and forth are consistently not displayed until the page is reloaded.

[2018-10-15 09:33] benjaoming opened #4431 "In-Context translation enabled through UI?"
### Observed behavior

[In-Context translation](https://crowdin.com/page/in-context-localization) is very secret :)

Currently, it's enabled with an environment var -- but can it be enabled through UI? As a plugin?

Questions:

 * [ ] How can this be made UI-driven or more simple? Can the state change during runtime? Or can we add it as a plugin, requiring a restart?
 * [ ] Where could a button "T

[2018-10-15 10:44] mrpau-julius commented on #4385
@benjaoming This issues exists in kolibri 0.11.0beta1, cannot create resources, and exam. The recent and channel page has error display("Sorry! Something went wrong! ").

[kolibri.log](https://github.com/learningequality/kolibri/files/2478390/kolibri.log)
[server.log](https://github.com/learningequality/kolibri/files/2478391/server.log)

[2018-10-15 10:58] mrpau-richard commented on #4409
I can reproduced this issue on Windows 7 and 10 64 bit.

[2018-10-15 11:16] benjaoming commented on #4385
@mrpau-julius - yes, current 0.10.x branch hasn't been merged upwards yet. I'll get to that ASAP!

[2018-10-15 11:46] mrpau-richard opened #4432 "Create a script to automate the creation of the new integration testing tab at the spreadsheets."
### Observed behavior
To create a new [integration testing](https://docs.google.com/spreadsheets/d/1tol65GwoBdqzcsQyH0NHsWARGGKRJrbT6q1UeGH7kHE/edit?pli=1#gid=505990701) it needs to manually copy the base template and edit each scenarios to point it to the Gherkin `.feature` file link.

### Expected behavior
Create a script that can automate the creation of the new integration testing tab in the s

[2018-10-15 16:37] rtibbles opened #4435 "Channel availability cached on channel import"
### Observed behavior
When a channel has previously been imported, then is deleted, and then the process for importing for that channel is begun again, the previous import status of the content within the granular selection interface is displayed.

### Expected behavior
Granular import status should reflect the actual state.

### User-facing consequences
Needs a refresh to force the view.

### Ste

[2018-10-15 17:19] benjaoming opened #4436 "Align make target "release" with current practice and pitfalls"
### Observed behavior

Need to improve reliability of `make release` to ensure it correctly captures everything. Current instructions are out-dated

Add:

 * [ ] Something about building on a clean environment
 * [ ] Refuse to work if there are more than 2 items in `dist/` -- it doesn't make sense ATM.
 * [ ] Refuse to work if current git repo is unclean

Additionally while we're at it:

 * [ ] Ad

[2018-10-15 17:22] benjaoming commented on #4436
Why don't we release Buildkite's artifacts currently:

1) Filenames are not the correct format on Github, so not sure if it'd work
2) Releasing artifacts without a manual verification is in all cases a bad idea. This means that the steps would have to be download locally, test locally, release - not much time saved
3) Releases need signing, too, so we would have to invent a way to sign stuff from

[2018-10-15 17:33] jonboiser commented on #4435
I can't reproduce this. By "previous import status" do you mean it skips immediately to "complete" of the last import? E.g.

1. Download Touchable Earth > China -> Status: Completed Import of China
1. Delete Touchable Earth -> Status: Completed Deletion
1. Download Touchable Earth > India -> Status: Completed Import of China

I tried to reproduce this with a similar scenario to the above.

[2018-10-15 17:34] rtibbles commented on #4435
No, as in the availability of the nodes in the granular import modal. It showed them all as being available on the device already.

[2018-10-15 17:48] jonboiser commented on #4435
This also happens if you import new material. E.g.

1. Download touchable earth > china
1. Download _more_ from touchable earth
1. China nodes are not annotated as already imported.

Might need to do a force fetch every time we call from contentnodegranular in the `updateTreeViewTopic` function.

[2018-10-15 17:58] jonboiser commented on #4410
The other privacy statement on the side navigation and the login page are not there either. If these privacy statements are not going to be in 0.11, we need to remove this step in the setup wizard.

[2018-10-15 18:49] rtibbles commented on #4431
Not sure I understand the use case of this, as either way it requires an internet connection. This seems to be an unnecessary complication of the user interface.

[2018-10-15 19:08] jonboiser commented on #4394
In the usages of `TextTruncator`, the max height is set at 40-50px, which is about two lines. Maybe we could make this as high as 150px to handle the 'expanded' example above. It would probably still work when the cards are wider.

[2018-10-15 19:35] jonboiser commented on #4409
This might be a duplicate of #4331. We investigated it a bit and found that the RemoteChannel API endpoint that should be providing those resource/size numbers is return the correct data, but my theory is it might be reset somehow getting to the view.

[2018-10-15 20:42] indirectlylit commented on #4418
I wonder if this was affected by my recent font changes...

[2018-10-15 20:44] indirectlylit commented on #4419
I'm not reproducing in either Learner or Coach

[2018-10-15 20:47] radinamatic commented on #4418
I was able to repro the missing fast-forward and back icons on both Chromium and Firefox, but I did get the snackbar notification and completion icons... :thinking:

[2018-10-15 20:48] indirectlylit commented on #2371
unfortunately we'll probably have to wait for 0.12 on this since it requires new strings

[2018-10-15 20:49] radinamatic commented on #2371
Agreed, but there was no `0.12` milestone label yet.

[2018-10-15 20:51] indirectlylit commented on #4432
cool!

[2018-10-15 20:52] indirectlylit commented on #2371
true :)

[2018-10-15 20:57] indirectlylit commented on #4431
Adding an `options.ini` switch rather than using a Django settings module might be a worthwhile change

[2018-10-15 21:13] benjaoming commented on #4431
Use case is translators being given access to translate directly in the UI, and with no more instructions than to install Kolibri and click a button.

AFAIK everyone only translates through CrowdIn and a lot of translators have lacked context?

[2018-10-15 21:24] rtibbles commented on #4431
Yes, that's why we have translations.learningequality.org - what I am not understanding is why having translators install Kolibri locally is an improvement over that.

[2018-10-15 21:38] indirectlylit commented on #4436
I think we should be careful to only include items here related to the Makefile and build process.

For example "Release notes?" and "Downloaded CrowdIn translations?" are out of scope. Including them makes it likely the checklist will get out of sync with or omit important steps from the primary (source of truth) documentation.

[2018-10-15 22:56] indirectlylit commented on #3598
@ralphiee22 mind fixing this in `develop`?

[2018-10-15 22:59] indirectlylit commented on #4421
@jredrejo want to take a stab at this one?

[2018-10-15 23:03] indirectlylit commented on #4409
@jonboiser would you mind tackling this?

[2018-10-15 23:09] indirectlylit commented on #3620
I believe the original issue (errors ) has been addressed. Please re-open if that's not the case.

[2018-10-15 23:09] #3620 closed

[2018-10-15 23:10] indirectlylit commented on #4334
I believe this is addressed

[2018-10-15 23:10] #4334 closed, assigned to ralphiee22

[2018-10-15 23:10] indirectlylit commented on #4067
I believe this is addressed

[2018-10-15 23:10] #4067 closed, assigned to jredrejo

[2018-10-15 23:11] #4196 closed, assigned to lyw07

[2018-10-15 23:11] #4200 closed, assigned to lyw07

[2018-10-15 23:18] indirectlylit commented on #4342
@ralphiee22 would you mind investigating this?

[2018-10-15 23:19] indirectlylit commented on #4308
thanks - closing in favor of the studio issue

[2018-10-15 23:19] #4308 closed, assigned to nobody

[2018-10-15 23:22] #4300 closed, assigned to nobody

[2018-10-15 23:24] indirectlylit commented on #4266
cc @rtibbles @christianmemije if this is straightforward let's do it

[2018-10-15 23:25] indirectlylit commented on #4218
process updated here: https://github.com/learningequality/kolibri/pull/4368/files#diff-d65b50da06e8fbcc94e7ac875d52ed66R82

we will now try to publish betas of both the debian and python packages

[2018-10-15 23:25] #4218 closed, assigned to nobody

[2018-10-15 23:29] indirectlylit commented on #4032
following up - are you still seeing these errors?

[2018-10-15 23:29] #4031 closed, assigned to nobody

[2018-10-15 23:30] indirectlylit commented on #4015
looks to be gone again

[2018-10-15 23:30] #4015 closed, assigned to nobody

[2018-10-15 23:32] indirectlylit commented on #3933
please re-open if the issue persists

[2018-10-15 23:32] #3933 closed, assigned to ralphiee22

[2018-10-15 23:38] #3690 closed, assigned to nobody

[2018-10-15 23:38] #3678 closed, assigned to nobody

[2018-10-15 23:55] indirectlylit commented on #1954
I can't find any reference to "perftests" in the repo. Please re-open if I missed it

[2018-10-15 23:55] #1954 closed

[2018-10-15 23:56] #1990 closed

[2018-10-15 23:59] indirectlylit commented on #2007
Should I update the new crowdin.py script to generate the crowdin branch name based on Kolibri's `__init__.py` file?

[2018-10-16 00:04] indirectlylit commented on #2372
@khangmach would you mind taking a look at this?

[2018-10-16 00:10] indirectlylit commented on #3102
fixed in #4238

[2018-10-16 00:10] #3102 closed

[2018-10-16 00:11] #3122 closed

[2018-10-16 00:11] indirectlylit commented on #5941
These have been addressed. For future reference: it's necessary to add two underscores after a link.

[2018-10-16 00:12] indirectlylit commented on #3123
these have been addressed

[2018-10-16 00:12] #3123 closed

[2018-10-16 00:13] #3161 closed

[2018-10-16 00:13] indirectlylit commented on #3184
closing - we can re-open if anyone sees this again

[2018-10-16 00:13] #3184 closed

[2018-10-16 12:32] benjaoming commented on #4436
It is just a check-list... going "yup, done that" seems easy enough :)

But it's also the **last check before doing something something irreversible**.. would rather that it mentions the changelog than not (it might be written on the github release page and not in CHANGELOG.rst or something whack in case we are doing very quick and dirty patch release).

It should definitely align better to curren

[2018-10-16 12:33] benjaoming commented on #4431
@radinamatic mentioned being able to see translations locally, okay I'm maybe not understanding the use case properly... @radinamatic can you perhaps decide whether this was important or not?

[2018-10-16 13:05] benjaoming commented on #4342
This diff should perhaps be about both content counts and data footprint?

[2018-10-16 13:10] benjaoming commented on #2007
The old CrowdIn branches got deleted on CrowdIn itself, as you may be aware of @indirectlylit. So as long as this behavior doesn't block stuff in the future, if CrowdIn branches continue to be deleted... I would really discourage deletion of these branches.

I don't think this is a super-important automation, since API keys also have to be given manually. It should be okay for maintainers to be aw

[2018-10-16 13:11] benjaoming commented on #2007
What I suggest is just to close this and discuss the deletion of CrowdIn branches more thoroughly...

[2018-10-16 15:54] indirectlylit commented on #4436
Yes the checklist is fine.

I'm just trying to flag that the less DRY our documentation gets, the more likely it is that things will get stale and out-of-date as our processes and system evolves.

[2018-10-16 16:02] indirectlylit commented on #2007
yeah, agreed the automation is 'nice-to-have' but not critical, and that branch deletion is a separate discussion.

In my workflow the commands are saved in my terminal history, so it would be convenient (and prevent user error) if input args were removed completely

I'll leave this open as a 'dev experience' issue and reword the title slightly

[2018-10-16 17:00] christianmemije commented on #4016
I'm going to say this is not a bug.

[2018-10-16 17:00] ralphiee22 commented on #3598
Regarding this, current permissions allow anybody from the same facility to READ any collection. In the backend, we do not prevent even a learner from being able to read a group. cc: @jamalex
A possible solution is attaching the collection id to the roles in the session object (to see if a coach has access to certain classes), but I am unsure how many places in the frontend depend on that being an

[2018-10-16 17:04] #4016 closed, assigned to christianmemije

[2018-10-16 17:11] khangmach commented on #2372
We could do something like:
Upon pressing submit button & the exam is inactive, redirect them to the root of the classes tab with a system message on top of the page saying "This exam has been closed" or "Exam X has been closed" or "This exam has not available"

Seems like the easiest solution without leaving them on the exam page, or being too verbose (something like re-using the unknown error ha

[2018-10-16 17:16] christianmemije commented on #4419
This happens for card with long words. We would need to add ` word-break: break-word;`
![localhost_8000_learn_](https://user-images.githubusercontent.com/7193975/47034550-87af9f00-d12c-11e8-9091-97684c018c8e.png)

[2018-10-16 17:26] christianmemije commented on #4418
@indirectlylit Most likely that was the cause. This is the font file: https://github.com/learningequality/kolibri/blob/release-v0.11.x/kolibri/plugins/media_player/assets/src/views/videojs-style/videojs-font/css/videojs-icons.css

[2018-10-16 19:15] lyw07 commented on #4408
some update from my side related to debugging the issue:
For the image: `08c068a38e187dc9a67f68aa56896c2f.png`,

if we check the url directory from GCS `https://storage.googleapis.com/studio-content/storage/0/8/08c068a38e187dc9a67f68aa56896c2f.png`, we get content length: `32894`

But if we use the url from studio `https://studio.learningequality.org/content/storage/0/8/08c068a38e187dc9a67f68aa568

[2018-10-16 19:31] christianmemije commented on #3985
Fixed in #4440

[2018-10-16 19:31] #3985 closed, assigned to christianmemije

[2018-10-16 20:30] benjaoming commented on #2007
Yup, I also have a terminal history full of gems.. and CTRL+R is super useful!

I do, however, try to put a space in front of these commands so that the API key doesn't end up in my bash history... One thing that compromised stuff does, is to send your bash history to a paste bin :)

[2018-10-16 20:31] benjaoming commented on #4436
I'll make a PR for this, we can surely balance the need of a thorough check list with the need for a maintainable one! :+1:

[2018-10-16 20:41] radinamatic commented on #4398
Not able to replicate this on my VM setup Win 7 & IE11. Coach pages open correctly, just one class with  2 learners...

![2018-10-16_22-38-41](https://user-images.githubusercontent.com/1457929/47046026-80bc7700-d194-11e8-9358-9f9a895aaab9.png)

@mrpau-julius @mrpau-richard Does this error happen consistently, even after you restart Kolibri or VM?

[2018-10-16 20:48] indirectlylit commented on #3598
These should be straightforward to track down, and for 0.12 we have plenty of time for regression testing

[2018-10-16 21:01] indirectlylit opened #4442 "select boxes don't work when they appear towards the bottom of a scrolling area"
### Observed behavior

We've run into on at least two occasions.

First in #3652, the select menu in the language switcher login-page caused major issues.

More recently in #4016, select boxes that towards the bottom of scrolling areas (or that contain many items) have a very poor user experience because they require the user to scroll down in order to see the pop-up:

![add new account have bug](

[2018-10-16 21:01] christianmemije commented on #4419
Overflowing text fixed in #4439

[2018-10-16 21:02] indirectlylit commented on #4016
I've followed up with a more general issue: learningequality/kolibri-design-system#356

[2018-10-16 21:38] benjaoming opened #4443 "Build and distribute everything in kolibri.plugins"
### Observed behavior

0.10 had a WIP of the new epub plugin distributed. It wasn't enabled, and thus not built.

However, upon downgrading from 0.11, the issue turns up: Because the plugin exists, yet the stats file isn't present because it wasn't enabled+built when we built the 0.10 distributed package.

This is unaffected by @jredrejo 's fix for avoiding to enable plugins that don't exist.. bec

[2018-10-16 21:58] radinamatic commented on #4288
I was under the impression something did change here, but it's still impossible to properly translate this `Active/Inactive` label in languages with gendered adjectives.

When viewing the list of Lessons, I adjusted the string to match the required gender in Spanish `Activa/Inactiva`:

![lessons](https://user-images.githubusercontent.com/1457929/47049702-5cfe2e80-d19e-11e8-90d1-264b18567f64.png)

[2018-10-16 22:49] indirectlylit commented on #4288
We fixed it in the 'change assignment' modal but not here.

Agreed, and it seems I worded this issue incorrectly. I don't know why I thought this was about tooltips and not visible labels.

Possible, but slightly difficult. I think the easiest solution is create two variations of the component (`ExamStatusIcon` and `LessonStatusIcon`) with four independent label texts:

* `ExamStatusIcon.active`
*

[2018-10-16 23:03] radinamatic commented on #4288
Thank you @indirectlylit, it would be great if we could squeeze this in! 👍
Let me know if I can help.

This might just be the case... On a similar note, when new version comes in, not once I found old(er) versions of translated strings that I have corrected or tightened up in the meantime, and that might be the result of applying the translation memory that includes older translations. Is there li

[2018-10-17 01:53] indirectlylit opened #4445 "cannot remove a resource using preview screen"
### Observed behavior

Removing a resource from the 'preview' screen does not seem to have an effect after returning to the parent topic:

![loop](https://user-images.githubusercontent.com/2367265/47057104-31fee500-d174-11e8-88e3-e1d77e6e0b9d.gif)

### Expected behavior

Resource is no longer selected in parent topic

### User-facing consequences

User gets trapped in an infinite loop and may neve

[2018-10-17 02:12] indirectlylit commented on #4409
note - does not seem to be fixed by #4437:

![import](https://user-images.githubusercontent.com/2367265/47057877-6fb13d00-d177-11e8-9883-515378ea7b11.gif)

[2018-10-17 02:22] indirectlylit opened #4446 "brief flash of 'loading' message when importing"
### Observed behavior

When importing content using a relatively fast connection, the loading message is shown very briefly:

![flash](https://user-images.githubusercontent.com/2367265/47058000-fc5bfb00-d177-11e8-952d-57abccb032d8.gif)

### Expected behavior

Loading indicators should generally only be shown if the user needs to be aware that something is in progress. This might mean keeping the l

[2018-10-17 02:24] #4394 closed, assigned to jonboiser

[2018-10-17 02:25] #4435 closed, assigned to jonboiser

[2018-10-17 02:26] #4396 closed, assigned to jonboiser

[2018-10-17 02:26] #4397 closed, assigned to jonboiser

[2018-10-17 02:26] #4391 closed, assigned to jonboiser

[2018-10-17 02:27] #4395 closed, assigned to jonboiser

[2018-10-17 02:50] indirectlylit commented on #4408
Interesting, I'm not seeing that behavior at the moment - I get the `32894`-byte file from both sources, and it has the correct hash of `08c068a38e187dc9a67f68aa56896c2f`.

However if studio is occasionally truncating the result then that would certainly cause this issue.

[2018-10-17 02:55] lyw07 commented on #4408
@indirectlylit yes the issue is actually from cloudflare, where images get optimized to increase the load speed. I turned the feature off on cloudflare and cleared the cache for that specific url.
But I need to purge the cache for other images too. Will do it soon.
Basically we don't need to change our code to fix this issue.

[2018-10-17 04:17] indirectlylit commented on #4408
great job!

[2018-10-17 04:17] #4408 closed, assigned to lyw07

[2018-10-17 06:03] mrpau-richard commented on #4398
@radinamatic yeah, this issue still happened when I restart my Windows 7 VM. I'm using this IE version:
![screen shot 2018-10-17 at 1 52 41 pm](https://user-images.githubusercontent.com/8663934/47065272-f9fbae80-d214-11e8-8fe3-99327667c244.png)

I think this issue can only reproduce on `IE11.9600.17420` version.

[2018-10-17 14:17] benjaoming opened #4448 "Broken test when merging 0.10.x to master"
### Observed behavior

CI fails during a merge of `release-v0.10.x` into `master`.

### Expected behavior

Consistency, why does this not Just Work (tm)? :)

### User-facing consequences

None

### Errors and logs

[code]

### Steps to reproduce

#4447

### Context

It happened [here](https://travis-ci.org/learningequality/kolibri/jobs/442681833) and consistently happened again after a rebuild.

[2018-10-17 15:34] indirectlylit commented on #4448
0.10.x to master...  very strange 🤔

[2018-10-17 15:35] benjaoming commented on #4448
Edited the issue - I assumed wrongly that it was an unreliable test case.. but it also happened on the second rebuild.

[2018-10-17 16:06] indirectlylit commented on #2372
can an exam be re-opened by the coach?

one scenario we want to make sure is handled is that a coach temporarily re-opens the exam so the student can submit

[2018-10-17 16:45] khangmach commented on #2372
@indirectlylit an exam can be reopened by the coach.

If the learner pressed 'submit' button while the exam is inactive:
- the submission request should not go through in the backend
- the learner should be redirected to classes root with system message
- the learner should not receive a learner report

upon the coach re-activating the exam
- the learner should be able to reengage with the exam
-

[2018-10-17 16:53] indirectlylit opened #4450 "it's possible to create multiple exams or lessons with the same name in a class"
### Observed behavior

| lessons | exams |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/47102529-dc691d80-d1f1-11e8-8b9a-ab589fc77aa0.png) | ![image](https://user-images.githubusercontent.com/2367265/47102543-e25efe80-d1f1-11e8-9da0-dc343aa4e266.png) |

### Expected behavior

* Expected a validation error that 'a lesson already exists with that name'. Alternatively, we migh

[2018-10-17 16:56] indirectlylit opened #4451 "'copy' function doesn't work in lessons or exams"
### Observed behavior

'copy' function in lessons and exams doesn't work. Clicking 'copy' in modal state B does nothing:

| A | B |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/47102875-b728df00-d1f2-11e8-827f-7768e128ca91.png) |  ![image](https://user-images.githubusercontent.com/2367265/47102886-bee88380-d1f2-11e8-885a-cddcb0cf53b7.png) |

### Expected behavior

* Exam or

[2018-10-17 17:08] radinamatic commented on #4451
Is this result of some of the most recent changes? Copying lessons in 0.11.b1 worked well during the integration testing... 😕

[2018-10-17 17:55] indirectlylit commented on #4451
there's a chance it's a local issue for me

[2018-10-17 17:57] jonboiser commented on #4451
I'm seeing it too. I'm noticing something weird where there is a full screen refresh and the URL changes to this:

`http://localhost:8000/coach/?submit=#/620c30d0e8b9c95cc9308c089157a861/lessons/3ed2f7e043164464052f19a61347daaf`

[2018-10-17 18:29] jonboiser commented on #4451
@christianmemije 	I think it has something to do with this change

https://github.com/learningequality/kolibri/commit/ba3f5d1120578bc4ee839daeb78605d22f011ca7#diff-7063a3f1d7cded9f2ed5f938c0e3500bR40

The copy modal is special in that it can actually emit two 'submit' events because it has two parts. When I remove the `once` modifier, it seems to work.

[2018-10-17 18:42] indirectlylit commented on #2372
One thing that might feel weird or unfair is if students can continue interacting with the exam after it's closed but before hitting 'submit'.

I wonder if we should actually kick the students out of the exam as soon as the exam is closed (automatically saving their in-progress work)?

[2018-10-17 19:31] jonboiser commented on #4409
The file/resource sizes when importing from Kolibri Studio should be fixed in the 0.11-release branch.

The file/resource size discrepancy in Export _is_ an issue that seems to have stemmed from some of the speed up work in #3885. Need to make sure that the full size statistics are available at parts of the workflow that require it. Previously, we relied on all the file/resource stats being availa

[2018-10-17 19:47] #4414 closed, assigned to jamalex

[2018-10-17 19:56] indirectlylit commented on #4409
confirmed

[2018-10-17 20:00] indirectlylit opened #4452 "file/resource size discrepancy in Export"
### Observed behavior

from https://github.com/learningequality/kolibri/issues/4409#issuecomment-429510003 @radinamatic  says:

@jonboiser says:

### Expected behavior

### User-facing consequences

incorrect information about file sizes

### Steps to reproduce

export, and compare resource count with size

### Context

0.11

[2018-10-17 20:00] indirectlylit commented on #4409
closing and migrating other issue to #4452

[2018-10-17 20:00] #4409 closed, assigned to jonboiser

[2018-10-17 20:02] indirectlylit commented on #4452
cc @jamalex

[2018-10-17 20:17] christianmemije commented on #4398
@mrpau-richard  Are there any console errors when you visit the coach page? Or any server errors?

[2018-10-17 20:19] indirectlylit commented on #3835
I'll also use this opportunity to add descriptions to the labels - cc @benjaoming

[2018-10-17 20:22] indirectlylit commented on #1961
this has been addressed: https://kolibri-dev.readthedocs.io/en/develop/references/conventions.html

[2018-10-17 20:22] #4075 closed, assigned to indirectlylit

[2018-10-17 22:10] indirectlylit commented on #4410
Bad news. I'm not sure what my prior self was thinking, but it looks like I closed #4306 without merging it. This will require some thought - it affects a lot of things.

We'll have to get these new strings translated and pushed in a patch release. We might want to disable analytics until then.

[2018-10-18 01:23] indirectlylit opened #4455 "variable referenced before assignment"
### Observed behavior

Noticed that it's possible for the variable `original_value` to be referenced before assignment here:

https://github.com/learningequality/kolibri/blob/develop/kolibri/core/content/management/commands/importcontent.py#L226

### Expected behavior

initialize all variables

### User-facing consequences

unknown

### Errors and logs

observed in [this test run](https://travis-c

[2018-10-18 06:29] mrpau-richard commented on #4398
@christianmemije I have this `.GIF` file to show some browser logs when I navigate at the coach page.
![temp](https://user-images.githubusercontent.com/8663934/47135022-575d3180-d2e1-11e8-913d-fa2e8979095c.gif)

Here's my Kolibri [server.log](https://github.com/learningequality/kolibri/files/2490501/server.log) file.

[2018-10-18 18:28] jonboiser commented on #4398
The line referred to in the server.log stack trace is different. @jamalex 	Does this change fix the error @mrpau-richard is seeing in the server logs?

The error:

[code]

The change

[code]

https://github.com/learningequality/kolibri/blame/release-v0.11.x/kolibri/core/analytics/management/commands/ping.py#L113

[2018-10-18 18:33] jonboiser commented on #4398
I'm not sure if this would freeze the app in the browser though, especially since there were no obvious run time errors in the screenshot. Would a pending response from the 'ping' freeze the app?

[2018-10-18 18:37] indirectlylit commented on #4237
columns are complete; still need to change the icon

[2018-10-18 18:51] jonboiser commented on #4451
The quick fix would be to remove the `.once` directive from k-modals `submit` handler. I have no idea what effects this will have, but it was a relatively recent addition, so it might be okay.

[2018-10-18 19:18] jonboiser commented on #4445
This seems to be an edge case when you only have one resource. Have at least two resources and it shouldn't be a problem.

@DXCanas 	I think it's because of this line

https://github.com/learningequality/kolibri/blob/1d80b34b0877569f648678283ab8d3fc093c9eaf/kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js#L38

If `pendingSelections` is empty (e.g. after removing the one and onl

[2018-10-18 21:41] indirectlylit commented on #4451
yes, that sounds like the safest move to me

[2018-10-18 21:42] indirectlylit commented on #4451
let's open a new issue so we can revisit in a subsequent release

[2018-10-18 22:08] khangmach commented on #4422
![csv generation](https://user-images.githubusercontent.com/25045166/47186876-d7d26100-d2e6-11e8-8e4e-c1cc944db6f2.png)

@rtibbles  Here's something we could do:

**Left:**
once the user hits the download button, show a snackbar notification that lets the user know the preparation to generate the file is taking place. The snackbar persists on the screen throughout the application and is cancelable

[2018-10-19 03:19] nobicycle commented on #4227
Compared to "ln -s SOURCE TARGET"  running "kolibri manage content movedirectory " is mystifying (the sense of 'trick' used) to an administrator, so I stand by my words.

@indirectlylit thank you.

I am still not sure of the policy going forward. "We'll update the docs to remove this outdated advice." Does this stand?

or this:

"Using symbolic links, mount points etc. are all part of this. Using

[2018-10-19 03:28] nobicycle opened #4459 "SyntaxError: Generator expression must be parenthesized"
### Observed behavior

…

### Expected behavior
Server starts normally
…

### Errors and logs

Kolibri 0.10.3

$ uname -a
Linux tower 4.14.74-1-MANJARO #1 SMP PREEMPT Fri Oct 5 14:16:52 UTC 2018 x86_64 GNU/Linux
(kolibri-venv) [kolibri@tower kolibri-venv]$

[kolibri.log.txt](https://github.com/learningequality/kolibri/files/2494388/kolibri.log.txt)

[2018-10-19 04:09] nobicycle commented on #4459
Forgot https://github.com/learningequality/kolibri/issues/4182
Kolibri must be run under python 3.6 for the moment.

[2018-10-19 04:09] #4459 closed, assigned to nobody

[2018-10-19 10:58] mrpau-julius opened #4460 "Copy Lesson and Exam are not working in Kolibri 0.11.0 beta 2"
### Observed behaviour
In fresh installation of kolibri 0.11.0beta2. I tried to copy a Lesson but the Copy button cannot click. I checked also the Exam, and same result I cannot copy.

### Expected behavior

Can duplicate the Lesson and Exam.

### Steps to reproduce
* Sign-in as  Admin user
* Import at least one channel
* Go to Coach  > Lessons page or Coach > Exams
* Create a Lessons and try to d

[2018-10-19 15:55] rtibbles commented on #4182
Thanks for providing a workaround, @nobicycle - it looks like Django 1.11 has marked Python 3.7 compatibility as won't fix, so not sure how we can resolve this going forward without forking.

[2018-10-19 16:09] indirectlylit commented on #4182
(We still have a couple use cases where python 2.7 support is required, which is why we can't yet upgrade to Django 2.0.)

[2018-10-19 17:10] lyw07 commented on #4227
Hi @nobicycle

Thank you for your understanding! I'm working on a PR to fix the issue when the content directory is symbolically linked. It's #4444 . Hopefully we will get it merged soon so you issue can be resolved when you update to our future release 0.11.0.

I came up with the recommendation about using the `kolibri manage content movedirectory` initially because we recently developed this com