[2020-10-26 16:27] #7618 closed, assigned to nobody

[2020-10-26 16:51] jonboiser commented on #7616
This looks like a duplicate of #7536, which should be fixed in 0.14.4

[2020-10-26 16:51] #7616 closed, assigned to nobody

[2020-10-26 16:58] jonboiser commented on #7617
Could you provide a screenshot of what you're seeing?

When I tried to reproduce it, search results for Quizzes and Lessons do show

1. The number of coach content resources. (We don't count coach topics in any special way, since coach-content is a resource-level concept).
1. The description
1. And " N of how many exercises inside are added to the quiz/lesson" was not shown on the search result it

[2020-10-26 18:37] jonboiser commented on #7318
With some recent changes to links in KDS, I think this issue might be a little less noticeable

![image](https://user-images.githubusercontent.com/10248067/97213551-fba2ca00-177e-11eb-99b0-bf2663767ca6.png)

![image](https://user-images.githubusercontent.com/10248067/97213827-65bb6f00-177f-11eb-990d-55dc32965b73.png)

The underlines do help a little to make the differences in vertical alignment le

[2020-10-26 18:37] #7318 closed, assigned to nobody

[2020-10-26 19:20] indirectlylit commented on #7318
Seems reasonable to close this.

The issue may be with the upstream font files, if Khmer is somehow inconsistent with the other Noto fonts. If this were to be the case, updating the source font files might help using the `update-font-manifest` and `download-source-fonts` commands:

https://github.com/learningequality/kolibri/blob/42012dfb5423a09558758425ce3e1c97da8e379e/build_tools/i18n/fonts.py#L

[2020-10-26 20:18] alexMet commented on #7591
@jonboiser There is already a check for a duplicate username in the front end:

https://github.com/learningequality/kolibri/blob/30885472fc35d4306791eb2ed896a08b7de73168/kolibri/plugins/user/assets/src/views/SignUpPage.vue#L200

But the back end filters are very strict and they do not return anything.

https://github.com/learningequality/kolibri/blob/006b5a8e29942dbedced29e1be0b9f89b7326a60/kolibr

[2020-10-26 20:26] jonboiser commented on #7591
Ah, maybe it's the `dataset__learner_can_login_with_no_password=True` filtering that is causing so many false negatives.

It's possible this form wasn't tested with a facility where that setting was turned on and we had just assumed `FacilityUsernameViewset` _did_ return a query akin to `FacilityUser.objects.all()` (although I did note in a comment above `checkForDuplicateUsername ` that the super

[2020-10-26 20:58] rtibbles commented on #7591
I think we should implement the separate endpoint that @jonboiser suggests or we should just abandon the pre-emptive duplicate username flagging, and just set this error when we attempt to create the user, and the backend returns with the error.

[2020-10-26 21:02] jonboiser commented on #7591
This is what I had in mind as a short-term fix to this issue, where we handle the backend error by going to the Step 1 form. I think the UX is not great because you will go

1. Name, username, password
2. Demographic data
3. Back to Step 1 (instead of seeing an inline error before going to step 2).

But this might be enough of a rare case that this is okay for now.

[2020-10-26 21:05] rtibbles commented on #7591
Another possibility is that we could create the user, and then do a PATCH with the demographic data afterwards.

[2020-10-26 22:17] jonboiser commented on #7591
I don't think this is an option because you are allowed to go back and forth from the username/password section and the demographic section. Actually creating the user after Step 1 would change this to a one-way process.

I feel that the adding a new "check if username exists" endpoint might be the best solution and would be useful in the Facility > Users, and Edit Profile page as well.

[2020-10-26 22:24] rtibbles commented on #7591
I think the main issue is probably more the expectation of being able to cancel at any stage in the process without having created the account, so yes, having the endpoint for checking does seem simplest, and less of a security risk than returning all user names from the user name endpoint.

[2020-10-26 23:17] jonboiser commented on #7591
So I think this is the approach we should take to update this form:

1. Add a very simple endpoint that only accepts GET requests and returns a 200/204 (or 404 to take advantage of it being interpreted as an error by convention in axios
1. Update the `checkForDuplicateUsername` method to use this endpoint. If it returns an OK, continue to the next page, otherwise stay put and show the duplicate-us

[2020-10-27 00:18] #7611 closed, assigned to nobody

[2020-10-27 03:28] MindfulQA opened #7622 "When downloading channel content, the 'Total Size' resources do not always match 'On Your Device' resources."
![Total size vs device size - mac Kolibri](https://user-images.githubusercontent.com/73143721/97263746-da72c580-17e0-11eb-9571-1259a1b68644.png)

### Observed behavior

When downloading large channel content, the 'Total Size' resources do not always match 'On Your Device' resources. The channel downloaded in the screenshot above was 'Khan Academy Standardized Test Prep' - channel ID: 6616efc8aa604

[2020-10-27 03:31] MindfulQA opened #7623 "(Gherkin needs update) Content download button missing"
### Observed behavior

User doesn't have the option to download channel content from the 'Learn' page, even if admin has enabled the 'show download button with content' option.

### Expected behavior

When the 'show download button with content' checkbox is marked in settings, the user should see the "Download" button next to the resource under Learn/Channels.

### User-facing consequences

Users

[2020-10-27 03:38] MindfulQA opened #7624 "No way for user to lookup their username (after 16 members) or reset their password."
### Observed behavior

When a facility has more than 16 members, the sign in screen changes from a list to a single box asking for a username.

If the user forgets their username, there's no way for them to find out what it is.

If the user does remember their username, a password box will appear. But if the user forgets their password, they can't look it up.

### Expected behavior
Would expect a

[2020-10-27 11:18] metodimilevqa commented on #7617
Well, I think this is the case - the search results just returned such topics lacking description or coach content indicators. My understanding was that all these attributes are mandatory for each search result card. So I think we might close this one.

[2020-10-27 11:43] metodimilevqa opened #7625 "Export to attached drive > Cancel task - on-click the Cancel button the *N of M resources (size)* exported text is missing under the task"
### Observed behavior

Export to attached drive > Cancel task - on-click the Cancel button the *N of M resources (size)* exported text is missing under the task.

<img width="942" alt="2020-10-26_154235" src="https://user-images.githubusercontent.com/72492554/97296161-f44fef00-1858-11eb-8a74-57459873f2f8.png">
<img width="941" alt="2020-10-26_154354" src="https://user-images.githubusercontent.com/

[2020-10-27 12:03] metodimilevqa opened #7626 "Channel > Delete a single resource - "All Resources selected" flag text is visible next to the selected single resource"
### Observed behavior

There's some kind of discrepancy when the user tries to delete a single resource from a channel - the "All resources selected" flag text appears for the selected single resource which is not very relevant.

<img width="917" alt="2020-10-26_163721" src="https://user-images.githubusercontent.com/72492554/97298925-d2f10200-185c-11eb-90d0-c7f6c069ff21.png">

### Expected behavio

[2020-10-27 13:09] ghost opened #7627 "The search icon is duplicated in the ePUB viewer after enabling the search feature"
### Actual result:
The search icon is duplicated in the ePUB viewer after enabling the search feature
### Expected result:
The search icon shouldn't be duplicated in the ePUB viewer after enabling the search feature

### Steps to reproduce:

1. Given I am signed in to Kolibri
2. Open ePUB file from the Kolibri QA channel
3. Click on the search icon
4. Pay attention to the search icon which is dupl

[2020-10-27 13:32] metodimilevqa opened #7628 "Kolibri Server change port not working as expected on RPi 4"
### Observed behavior

I tried to change the HTTP_PORT by adding....
[Deployment]
HTTP_PORT = 28
... as a last row of the options.ini file. After starting the kolibri service again I tried to access Kolibri at 10.10.10.10:28 but with no success. After running the "sudo reboot" command I accessed it at 10.10.10.10:8080 but when loading the contents of options.ini the value for HTTP_PORT is still 28

[2020-10-27 19:04] jonboiser commented on #7622
Could you share the channel ID for this channel? It should be the alphanumeric string like `6616efc8aa604a308...` that appears in the URL when you're on this page.

I was looking at a channel with the same name, but there are some discrepancies, since that channel is only one Version 1 and has a different total number of resources.

[2020-10-27 19:05] MindfulQA commented on #7622
@jonboiser Absolutely; we'll look into this today and follow up. Thanks!

[2020-10-27 19:26] jonboiser commented on #7626
@jtamiace Do you have any suggestions for what that label should say? I was thinking something like just "Selected" (Context: "Label for a single resource that is selected for a quiz, lesson, or other collection") would work for single resources (this would require adding a new user string).

[2020-10-27 19:28] jonboiser commented on #7623
@kollivier I believe we disable content download by default for the Mac App, right?

@radinamatic If this is the case, we need to make a more specific gherkin story for the platforms that don't allow downloads.

[2020-10-27 19:43] khangmach commented on #7626
Does not look like we have "Selected" alone anywhere as its own string. @metodimilevqa your suggestion of "Resource selected" seems fine to me

[2020-10-27 20:08] jonboiser commented on #7626
The main changes will need to be done in this module:

https://github.com/learningequality/kolibri/blob/42012dfb5423a09558758425ce3e1c97da8e379e/kolibri/plugins/device/assets/src/views/SelectContentPage/treeViewUtils.js#L7

The requirement is that

1. When selecting a single resource during an import or export workflow, the right hand annotation says "Resource selected"
1. When selecting a topic,

[2020-10-27 20:14] jonboiser commented on #7624
@kollivier @nucleogenesis Is this 16 user limit something that is hardcoded into the App version of the sign on screen? Where is that in the code?

This "forgotten username" issues does seem like a general problem even in the non-app version of Kolibri. To me, the only workaround is for an admin to look up the user manually in the Facility tab.

[2020-10-27 20:22] jonboiser commented on #7625
@rtibbles Is this difference between canceled import/export tasks due to a technical constraint?

My guess is that we never were able to display the "N of M" message for exports because we generally can't check whether a resource is "available" on an external hard drive. (Although intuitively, I feel like the exporting device could do that tallying on it's side: e.g. increment the counter every ti

[2020-10-27 20:24] MindfulQA commented on #7622
@jonboiser Update - here's the relevant channel ID:

6616efc8aa604a308c8f5d18b00a1ce3

We also tested additional examples of this today, and were only able to reproduce with that specific channel so far. So it may be a bug related to the setup for that channel, rather than a universal app-wide bug.

Here's another example showing the discrepancy even before the download starts:

![additional-khan-

[2020-10-27 20:28] jonboiser commented on #7622
Okay, thanks. Yeah this might be specific to this channel, because on the Kolibri Studio page, the "Total resources" and Version are different, so there might be something out of sync.

Here's what the channel looks like on studio (total resources is 2845, versus 2539 on your screenshot).

![image](https://user-images.githubusercontent.com/10248067/97358311-52c89d80-1858-11eb-9ba8-905ee151f3dd.png

[2020-10-27 20:31] jonboiser commented on #7617
That's correct. Not all topics have coach content or descriptions, and the "N of how many..." message shouldn't appear _on the card_, but should appear as notification on the bottom of the screen after it is actually checked-off and added to the lesson or quiz.

[2020-10-27 20:31] #7617 closed, assigned to nobody

[2020-10-28 05:46] MindfulQA opened #7633 "Coach stuck on resource preview page when trying to add resources to lesson"
### Observed behavior

When on the screen for adding resources to a lesson, nothing happens if Coach clicks the back button - so they would not be able to exit the section that way.
…

### Expected behavior

The coach should be able to click the back arrow in the upper left hand corner and return to the previous screen.
…

### User-facing consequences

Coach would be unable to easily go back to an

[2020-10-28 05:53] MindfulQA opened #7634 "There are no password security rules in place"
### Observed behavior

When signing up, the password can be as short and insecure as a single letter.
…

### Expected behavior

Would expect the password to have some form of security rules in place, such as at least having a minimum of 6-8 characters.
…

### User-facing consequences

This increases the likelihood of an account and/or data breach being able to happen, and could put Learning Equali

[2020-10-28 06:41] MindfulQA opened #7635 "User can search for content within a channel, but not within a topic"
### Observed behavior

When searching through channels/resources to add to a lesson, the search results returned are for the entire channel.
…

### Expected behavior

When a user enters a topic and initiates a search, they will likely expect the results returned to be only within that topic (not for the entire channel).
…

### User-facing consequences

The user will recieve search results that are

[2020-10-28 07:03] MindfulQA opened #7636 "App crashed after initiating a search within a channel"
### Observed behavior

After initiating a search within a channel, the app crashed.
…

### Expected behavior

The user should receive the relevant search results.
…

### User-facing consequences

The user is unable to view search results and has to restart the app.
…

### Errors and logs

Note: these two are identical, but one is a PDF and the other is a .docx - it wouldn't let us upload the isola

[2020-10-28 07:13] MindfulQA opened #7637 "Add pagination to Lesson and Quiz resource navigation to handle unnecessarily large topics"
### Observed behavior

While attempting to view a topic's contents to add to a lesson, the app crashed.

It seems likely that this is caused by opening a topic with too many children.
…

### Expected behavior

The user should be able to view a topic's contents.
…

### User-facing consequences

The user is unable to view the topic's contents and has to restart the app.
…

### Errors and logs

Note:

[2020-10-28 07:19] MindfulQA opened #7638 "Deleting search term and resubmitting does not return user to channel list"
### Observed behavior

Manually clearing the search field via deleting the query and resubmitting the search does not update the results.
…

### Expected behavior

Very minor user experience issue, but when the user manually deletes a search term and presses enter (instead of clicking the x to clear the search field), would expect the app to return the user to the list of channels.
…

### User-fac

[2020-10-28 07:24] MindfulQA opened #7639 "App crashed after initiating a search in "Manage Resources" section and "Learn" page"
### Observed behavior

While attempting to perform a search in the "Manage Resources" section, the app crashed.

…

### Expected behavior

The user should receive the relevant search results.
…

### User-facing consequences

The user is unable to view search results and has to restart the app.
…

### Errors and logs

[code]

…

### Steps to reproduce

Note - this is not 100% reproducible, but thes

[2020-10-28 07:26] MindfulQA commented on #7588
Note: we also encountered this on macOS Catalina 12.15.7 - Kolibri version 0.14.

(We weren't attempting to reproduce this; we searched github issues after finding it to see if it had been reported yet. Even though it doesn't seem likely to be specific to just one Mac environment, adding this additional OS detail here just in case it's helpful!)

[2020-10-28 16:46] jonboiser commented on #7639
I was able to reproduce this. It also happens if you search for resources when you enter the Manage Resources workflow from the Plan > Lessons page _and_ when searching for resources on the Learn page. By "crash" it means the app quits running and you get a MacOS crash report modal (so it's not like a JS runtime error)

@MindfulQA, this seems to be a way I can reliably reproduce this: Whenever you

[2020-10-28 16:50] jonboiser commented on #7636
This looks like a duplicate of #7639. I think there's a misunderstanding that the Search bar works differently after clicking a channel. They are actually the same regardless of which channel or topic you are looking at.

[2020-10-28 16:50] #7636 closed, assigned to nobody

[2020-10-28 17:07] jonboiser commented on #7635
Just need to clarify that whenever you do a search, the search results cover the entire content library, not just a single channel, even if you are at the top-most directory for that channel when you do the search.

Adding this capability to implicitly filter results by channel/topic would be a new feature we would need to consider for a future version.

[2020-10-28 18:28] MindfulQA commented on #7636
Thanks for clarifying, @jonboiser! We weren't sure if this might have a related cause but need an additional fix implemented in this area as well.

[2020-10-28 21:54] #7627 closed, assigned to jonboiser

[2020-10-28 22:43] jonboiser commented on #7608
I'm fixing this issue as part of the work to fix #7580. The root cause is that when an exam is copied, it actually sends the classroom ID of the original class as one of the assignments for the copy. So when you're viewing a different classroom, that original class's ID doesn't refer to a group or anything in the new classroom, hence the original classroom ID as a key for the new classroom's group

[2020-10-29 04:00] MindfulQA opened #7641 "Unable to tell from search results which exercises are for coaches"
### Observed behavior

Exercises in search results do not include a description and do not indicate whether they are coach exercises or not.

![Screen Shot 2020-10-28 at 8 56 01 PM](https://user-images.githubusercontent.com/73143721/97523866-80990980-1960-11eb-85a9-f2187b3a2ab5.png)

…

### Expected behavior

Would expect to be able to view an exercise's title, description, and whether the exercis

[2020-10-29 04:04] MindfulQA opened #7642 "(Gherkin needs update) Topics in search results do not show a description"
### Observed behavior

The user is unable to read a description of the topic.

![Screen Shot 2020-10-28 at 9 01 50 PM](https://user-images.githubusercontent.com/73143721/97524000-dcfc2900-1960-11eb-9a1c-6c4adb70d236.png)

…

### Expected behavior

Would expect to be able to view the topic description in search results, as with common search result user experience.

…

### User-facing consequences

[2020-10-29 04:04] MindfulQA commented on #7642
Similar to https://github.com/learningequality/kolibri/issues/7641, but technically that one was created for Coach-specific issue.

[2020-10-29 04:08] MindfulQA opened #7643 "The "tab" key does not work for selecting/reordering resources"
### Observed behavior

When the user presses the tab key, a resource is not selected. Instead, a button appears in the top left corner reading "skip to main content." Pressing this button closes it, but does not cause any other response.

![Screen Shot 2020-10-28 at 9 07 48 PM](https://user-images.githubusercontent.com/73143721/97524350-af63af80-1961-11eb-80d2-cff15eaa590a.png)

…

### Expected be

[2020-10-29 04:12] MindfulQA opened #7644 ""No exercises are selected" error appears even when the user has selected exercises"
### Observed behavior

An error message stating "No exercises are selected" appears even when the user has selected exercises.

![Screen Shot 2020-10-28 at 9 12 59 PM](https://user-images.githubusercontent.com/73143721/97524657-71b35680-1962-11eb-9421-4ae990e84a58.png)

…

### Expected behavior

The user should only receive an error message if there are no exercises selected.
…

### User-facing co

[2020-10-29 04:18] MindfulQA opened #7645 "Checking "select all" and then unchecking a selection does not update selections saved"
### Observed behavior

If a user checks the "select all" button when adding exercises to a quiz, and then unchecks one or more of the exercises, the "select all" option does not deselect. This can result in the user having more exercises in the quiz than they intended, as it still selects all of them when they proceed to the next step despite visually having one unchecked.

See screen recording fo

[2020-10-29 04:23] MindfulQA opened #7646 "When a user selects a topic, there's no snackbar confirmation, and its descendants are not checked"
### Observed behavior

When a user selects a topic, the user does not receive a snackbar confirmation, and its descendants are not selected - so only the parent topic is selected.

Screen recording:

https://drive.google.com/file/d/1rBYUXH_u2MJMASoNDCY1Kxa9ssZ3WfMJ/view

…

### Expected behavior

If a user selects a topic, all of its descendants should also be selected.
…

### User-facing conseque

[2020-10-29 04:26] MindfulQA commented on #7646
Would a fix for this also fix the issue below? If not, a separate ticket can be created.

_The user can't uncheck a topic and its descendants because the descendants are not automatically selected (see above)._

Testing note - Scenario in line 60:

https://github.com/learningequality/kolibri/blob/release-v0.14.x/integration_testing/features/coach/coach-create-quiz.feature

cc @radinamatic

Thanks!

[2020-10-29 04:32] MindfulQA opened #7647 "When the user clicks the "go back" button while creating a quiz, it takes them back too far"
### Observed behavior

When the user clicks the "go back" button while creating a quiz, it does not take them to the previous screen, but instead takes them to the quizzes tab on the lessons page.

Screen recording:

https://drive.google.com/file/d/1JnKsjm7k36cpDcvAL2aHb7oYcj7vl5f0/view

…

### Expected behavior

When the user clicks the "go back" button, they will likely expect to be taken to the

[2020-10-29 04:36] MindfulQA opened #7648 "Missing snackbar confirmations when selecting/unselecting individual topics/resources"
### Observed behavior

The user does not receive snackbar confirmations when selecting or unselecting single topics or resources (only if they select or unselect all).

Screen recording:

https://drive.google.com/file/d/1r4qe9p6JrduJGuVykxc1RD1m5agqujVv/view

…

### Expected behavior

The user should see snackbar confirmations when they select or unselect individual topics or resources.
…

### Use

[2020-10-29 04:38] MindfulQA commented on #7638
Would a fix for this also fix the below? If not, a separate ticket may be helpful.

When the user clears the search field and presses enter or clicks the magnifying glass, the complete list of channels and exercises does not return (they must click "exit search" to do so). This error occurs whether or not there were search results, whether the user clicks the X in the search bar or clears it manua

[2020-10-29 04:45] MindfulQA opened #7649 "(Gherkin needs update) When a coach starts/ends a quiz, it doesn't display how long the quiz has been active/inactive on the same screen"
### Observed behavior

When a coach starts or ends a quiz, it does not display how long the quiz has been active or inactive on the screen the coach is on - they have to navigate away to the quiz page to see that info, and they may not realize that.

Screen recording:

https://drive.google.com/file/d/1EOqDny3dgKFocRP0lzg-ipAesoikgXOv/view

…

### Expected behavior

After a coach starts or ends a q

[2020-10-29 06:03] MindfulQA commented on #7603
Note: now that we have finished the other testing, we attempted this on several additional Macs, with the same OS. So far we have not been able to reproduce. This appears to possibly be edge case or only on very old Macs.

cc @radinamatic

[2020-10-29 07:37] paulbusse commented on #6892
I propose to change the format to
`"{os_family},{os_major_version}/{browser_family},{browser_major_version}"`
This should make parsing later easier as there OS families with spaces (e.g. MAC OS X), but there are (exotic) OS families that end on digits (e.g. plan9 and 0S2)

[2020-10-29 17:00] jonboiser commented on #7642
Not all topics have description, which is an optional field.

@radinamatic We need to add that detail to the assumptions in the Gherkin scneario: A topic should only show a description _if_ it has a description.

[2020-10-29 18:30] jonboiser opened #7650 "Arabic channel descriptions are text-align'd to the left on card and topic page (should be on the right, as RTL language)"
### Observed behavior

Screenshot from https://kolibri-beta.learningequality.org/en/learn/#/topics/310ec19477d15cf7b9fed98551ba1e1f

![image](https://user-images.githubusercontent.com/10248067/97616730-2b014300-19da-11eb-84e6-d1a5924737a2.png)

Screenshot from https://kolibri-beta.learningequality.org/en/learn/#/topics (middle of the page)

![image](https://user-images.githubusercontent.com/102480

[2020-10-29 18:42] jonboiser opened #7651 "keyboard focus outline is not visible on cards in Learn page"
### Observed behavior

In this video [from this link](https://kolibri-beta.learningequality.org/en/learn/#/classes), I shift-tab until I am focused on the skip-link, hit enter, hit tab once, then am focused on the first card "Jessica's class" (I can confirm this because I keypress "Enter" and am taken to the right page). Yet, there is no green outline on the card.

(Notice that some elements on th

[2020-10-29 23:44] jonboiser opened #7652 "When copying assignment to different class + assigning to individuals, the wrong group names are in the user table"
### Observed behavior
At [this Lesson for Grade 1](https://kolibri-beta.learningequality.org/en/coach/#/17f732bf12eca15a0cf6d846c3a1c8c4/plan/lessons/a4c7a371907d0bd99d8a20fb91c12798), if you want to copy a Lesson to a different class and assign it to individuals, the "Select individual learners" table will show the names of groups for the current class, but not the destination class) in the "Grou

[2020-10-30 06:14] nucleogenesis commented on #7641
Hey there @MindfulQA - I wonder if the wording of the story is unclear. There should not be any indication of content _not_ being coach content. We only show a blue icon when the content is coach content, but show nothing if the content isn't.

I tested and saw the icon by searching for "Perseus" and opening the "KA Perseus" topic folder where the "Make 10" content correctly shows the blue coach c

[2020-10-30 06:20] MindfulQA commented on #7641
Hey @nucleogenesis - thanks! That part makes sense - it may have been that we were doing many different searches, and assumed that at least some of them would have been coach content. But there was no coach content indicator for any of the ones we were looking at. Sounds like that might have been a coincidence based on searches we did.

[2020-10-30 18:36] #7347 closed, assigned to nobody

[2020-10-30 20:03] rtibbles commented on #6892
Yes, that seems like a good improvement. There may still be issues with those separators being used inside the text, but looking through the names in the yaml file: https://github.com/ua-parser/uap-core/blob/ec8322ffe14f94d88131cec550705f392085a519/regexes.yaml seems like they will be fairly exotic, and not ones we are as worried about counting or introspecting.

I have updated the comment above.

[2020-10-30 20:05] jonboiser commented on #7647
Ah, so "Go back" might be interpreted as "go back (the the last page viewed within the workflow)", but it actually means "go back (to the Plan > Quiz)", i.e. exit the workflow entirely.

[2020-10-30 21:36] jonboiser commented on #7477
I'm able to reproduce this reliably on kolibri-demo.learningequality.org (0.14.3), but not locally with 0.14.3-4 or on kolibri-beta.learningequality.org (0.14.4). I think I'll move this to 0.14.5 for now, but close it if this stops happening on the same Lessons on kolibri-demo after we upgrade it.

[2020-10-30 21:45] jonboiser commented on #7643
@MindfulQA there's a known issue #7651 where that green outline doesn't appear everywhere it should, but I just tried to reproduce this, and I'm not sure that's the problem here.

The "Skip to main content" button is something called a "skip-navigation link" that lets keyboard-only users avoid having to tab through the links in the navigation and get to the main part of the page.

I just tried thi

[2020-11-03 17:31] dylanmccall opened #7659 "Thoughtful Learning documents are not visible using WebKit browsers"
### Observed behavior

Using the MacOS Kolibri app, the Linux / Flatpak Kolibri app, as well as certain web browsers such as GNOME Web, documents in the Thoughtful Learning channel are not visible. Instead, they appear as an empty white box:

![Screenshot from 2020-11-03 09-24-44](https://user-images.githubusercontent.com/132063/98019326-763e9b80-1db6-11eb-9252-353d6367ad07.png)

### Expected beha

[2020-11-03 18:18] jonboiser commented on #7659
I just reproduced this in Safari. This message looks relevant

From https://kolibri-beta.learningequality.org/en/learn/#/topics/c/91ed1fa9eee85fc0a4139010df9efc3b

![image](https://user-images.githubusercontent.com/10248067/98024939-e56bbe00-1dbd-11eb-9825-e22c24cefc7d.png)

[code]

From https://kolibri-beta.learningequality.org/en/learn/#/topics/c/cca9674dca345e5f8849d9bea9adb8cd

![image](https:

[2020-11-03 18:29] rtibbles commented on #7659
This caught error is expected behaviour until we merge the work that allows SCORM to work without the sandbox being removed.

This is more likely an issue with hashi page rerendering that will be resolved by #7254 - the specific issue for Thoughtful Learning on Webkit is probably related to load event handlers not firing as or when expected.

[2020-11-03 18:57] jonboiser commented on #5264
Closing as a probably stale issue.

[2020-11-03 18:57] #5264 closed, assigned to nobody

[2020-11-03 19:00] radinamatic commented on #7659
(re: #7254) [SCORM resources are looking good](https://github.com/learningequality/kolibri/pull/7254#issuecomment-721316458) on Safari client (macOS Mojave VM browsing content on Windows 7 server).

[2020-11-03 19:44] jonboiser commented on #7649
This Gherkin story pertains to a different part of the App: the screen where you view the details of a single Quiz. I don't think these timestamps should appear on the list of all Quizzes, which is in the video. Here's where this feature lives. We should provide that detail in the Gherkin story (as well as a specific story for the quiz-list page, if that's useful).

![image](https://user-images.gi

[2020-11-03 20:04] jonboiser commented on #7644
Closing as duplicate of #7536

[2020-11-03 20:04] #7644 closed, assigned to nobody

[2020-11-03 20:07] jonboiser commented on #7577
Closing as duplicate of #7587

[2020-11-03 20:07] #7577 closed, assigned to nobody

[2020-11-03 20:11] jonboiser commented on #7587
I'm closing #7638 as a duplicate of this, but they point out this behavior was expected in the Quiz workflow as well as the Lesson's workflow.

[2020-11-03 20:11] jonboiser commented on #7638
Closing as duplicate of #7587

[2020-11-03 20:11] #7638 closed, assigned to nobody

[2020-11-03 20:13] jredrejo commented on #7415
@intelliant01 I'm trying to reproduce this issue without success. I have tried the upgrade path you mentioned above and it works for me in Linux (I have even tested kolibri in one machine against kolibri-server in the other).
Could the problem be related to postgres as @cyberorg mentioned or are you still to reproduce it in sqlite?

[2020-11-03 20:19] jonboiser commented on #2196
I'm not sure, because it's not clear to me what "'start'-specific setup" means, but I think some of this feature might already exist in commands like `provisiondevice`. Users can use that CLI command to create a new Kolibri server without having to go through the Setup Wizard.

[2020-11-03 20:19] #2196 closed

[2020-11-03 20:28] jonboiser commented on #7648
I'm thinking this might be have the same root cause as #7536 and looks to be fixed in 0.14.4

[2020-11-03 20:28] #7648 closed, assigned to nobody

[2020-11-03 20:32] jonboiser commented on #7646
I'm thinking this might be have the same root cause as #7536 and looks to be fixed in 0.14.4

[2020-11-03 20:32] #7646 closed, assigned to nobody

[2020-11-03 20:35] jonboiser commented on #7645
This looks like it has the same root cause as #7536 and others and looks to be fixed in 0.14.4

[2020-11-03 20:35] #7645 closed, assigned to nobody

[2020-11-03 21:11] jonboiser commented on #4826
I just tried this out, and it still seems to be an issue for running the webpack devserver. However, the workaround we've been using is to just rebuild the app manually and run the django webserver, using these two steps

[code]

[2020-11-03 21:13] rtibbles commented on #4826
One other way around it would be to build in watch mode, but write to disk (but only in this circumstance). This would be a bit slower than the regular watch mode, but quicker than doing a full build each time.

[2020-11-03 21:14] jonboiser commented on #4826
What's the command for running in watch mode?

[2020-11-03 21:17] rtibbles commented on #4826
We'd have to expose an extra flag on the kolibri-tools build CLI to enable this I think, one that just writes the files to disk instead of using the webpack-dev-server.

[2020-11-03 21:17] rtibbles commented on #4826
(webpack dev server is the more customisable version of webpack's watch mode)

[2020-11-03 21:29] jonboiser commented on #1280
Closing as possibly stale (I can't find code matching anything in the code block in the release-0.14.x branch)

[2020-11-03 21:29] #1280 closed

[2020-11-03 21:35] jonboiser commented on #6576
I wonder if this might be related to #7523 (and fixed in #7555). It's possible that if only a subset of a topic's descendants are upgraded, it might not get its thumbnail updated under the old logic.

[2020-11-03 21:50] rtibbles commented on #6576
Pretty sure it's a similar issue, and if not, I had flagged it as being fixed in #7274, so I think this is safe to close.

[2020-11-03 21:50] #6576 closed, assigned to nobody

[2020-11-03 21:51] jonboiser commented on #4239
This seems to be a constraint of `mark.js`. I don't think we can disambiguate between `chord (1)` and `chord (2)`.

It might be an improvement to collapse results like these that are _very_ close in location into a single search result. For me, clicking either result doesn't result in a page change.

[2020-11-03 22:10] jonboiser commented on #6487
I'm not able to reproduce this on Browserstack. I tried Win 10 + Edge 86, and Win 10 + Chrome 86.

It's possible that some changes to the scrubbing might have fixed this, but that's just a guess

https://github.com/learningequality/kolibri/commit/95b6783abfbe919cf5e0a70b9491e1c84c7f8730#diff-29f14c97ab00b8a275aec4e7147bcb4f17769e94b13d93e6142c717a77cdbf6a

[2020-11-03 22:10] #6487 closed, assigned to nobody

[2020-11-03 22:19] jonboiser commented on #4558
I think this has been fixed a long time ago. When going to a page like https://kolibri-beta.learningequality.org/en/device/#/permissions/fc66c78d9ef21ba9bfa10949716e8945, there is an anticipated 404 error if a DevicePermission record hasn't been created, but the page should still show up.

I'm not sure if there's any where else in the app we make a call to this endpoint's detail view.

[2020-11-03 22:19] #4558 closed, assigned to nobody

[2020-11-03 22:26] jonboiser commented on #7633
Closing as a duplicate of #7584 (same root cause)

[2020-11-03 22:26] #7633 closed, assigned to nobody

[2020-11-03 22:41] jonboiser commented on #5364
This might be closable once

1. We move the suite of `tox` tests to GH actions
1. Write some documentation on how to run the tests locally using a tool like (e.g. https://github.com/nektos/act)

[2020-11-03 22:45] rtibbles commented on #5364
I think this is actually already fixed, as we moved the `kolibri start` command out of the tox tests a while back!

[2020-11-03 22:46] #5364 closed, assigned to nobody

[2020-11-03 23:02] jonboiser commented on #2221
Closing, as these style guide docs have been moved to the kolibri-design-system repo and might have a new table of contents.

[2020-11-03 23:02] #2221 closed

[2020-11-03 23:09] jonboiser commented on #6255
It looks like the job that underlies the task sticks around in the `job_storage.sqlite3` DB, but it doesn't get returned from the `/api/tasks` endpoint. I think that the job/task metadata doesn't actually get persisted in the job storage DB (but maybe it's stored in memory?), so it might not be serializable after the restart.

[2020-11-03 23:16] rtibbles commented on #6255
It does get persisted in the database, but at the moment, we clear the job storage DB on server restart, so that's why it doesn't currently persist across restarts.

[2020-11-03 23:24] jonboiser commented on #6255
I just tried this locally and there are some rows in the `jobs` and `scheduledjobs` tables that don't go away after I restart the webpack server.

I just assumed that they weren't being returned from `/api/task` endpoint, because the only thing these rows have is an `id` and no other displayable metadata.

[2020-11-04 01:25] intelliant01 commented on #7415
It is related to a fresh install on Postgres. Sorry, Cyberorg is my teammate, hence I did not reconfirm on his comment.

[2020-11-04 05:38] rtibbles commented on #6892
Fixed in #7658

[2020-11-04 05:38] #6892 closed, assigned to nobody

[2020-11-04 07:48] indirectlylit commented on #6892
Thanks for your contribution @paulbusse

Feel free to add your name to https://github.com/learningequality/kolibri/blob/develop/AUTHORS.md

[2020-11-04 13:28] jredrejo commented on #6545
- We should add instructions to create the initial database
- `pip install psycog2 ` should be instead of `pip install psycog2-binary`
- the user credentials and database name will depend on your postgresql instalation (and location, if it is in another server)

[2020-11-04 17:52] jonboiser commented on #6545
I think Lingyi used `psycog2-binary` for a specific reason I can't remember. Is using `psycog2` something we should do because of a recent change?

[2020-11-04 17:55] jonboiser commented on #6545
There are more details on how to make the initial database table in this comment: https://github.com/learningequality/kolibri/issues/6480#issuecomment-583299221

I think a script file that someone could pipe into the postgres interpreter would be convenient.

[2020-11-04 18:03] jredrejo commented on #6545
lol
I used `psycopg2` because I could not find in  `psycog2-binary` in pip. The reason was I copied and pasted from your comment and there's a missing `p` in the package name. If you fix it, it's fine as installing the binary avoids the compilation phase in pip

[2020-11-04 18:04] jonboiser opened #7661 "Closing the demo banner does not return focus to the username/password field on the Sign In Page"
### Observed behavior

When you first load Kolibri with the demo banner enabled and the username form is shown, the username field is focused for you. But if you close the demo banner, focus is returned several positions before the username field on the form, so you need to tab or click back to get to that field.

### Expected behavior

After you close the demo banner, focus is returned to the use

[2020-11-04 18:23] jonboiser opened #7662 "On Coach > Class Home page, Lessons/Quizzes progress panels have no visual change on focus or hover"
### Observed behavior

Screenshot from https://kolibri-beta.learningequality.org/en/coach/#/17f732bf12eca15a0cf6d846c3a1c8c4/home

![image](https://user-images.githubusercontent.com/10248067/98152712-00eecb80-1e87-11eb-8103-576ae6773836.png)

When you hover over these items with a mouse or focus on them with a keyboard, there is no visual difference. (A related issue is #7651 where links in genera

[2020-11-04 23:35] #7588 closed, assigned to jonboiser

[2020-11-05 17:38] #7651 closed, assigned to nobody

[2020-11-05 17:38] #7399 closed, assigned to sairina, marcellamaki

[2020-11-05 17:39] #7595 closed, assigned to jonboiser

[2020-11-05 18:03] #7415 closed, assigned to jredrejo

[2020-11-05 19:52] #7580 closed, assigned to jonboiser

[2020-11-05 19:52] #7608 closed, assigned to jonboiser

[2020-11-05 20:54] jonboiser opened #7667 "A learner can appear twice in Lesson report if first assigned as an individual, then later via a group"
### Observed behavior

Screenshot from https://kolibri-beta.learningequality.org/en/coach/#/17f732bf12eca15a0cf6d846c3a1c8c4/reports/lessons/370c891ed77adb9d2fe7a0a14eaf5183/learners

![image](https://user-images.githubusercontent.com/10248067/98294984-a7110300-1f65-11eb-9696-c5d81ba63007.png)

In the example, a user can appear twice. When running locally, Vue will also give warnings about using d

[2020-11-05 22:15] radinamatic opened #7669 "Delete channel or resources task fails when attempting to release an expired Redis lock"
### Observed behavior
Both `Delete channel` and `Manage > Delete (all) resources` for that same channel are failing.
Asset from `v0.14.4-weekly7` build on Windows 7.
The only content present was **KA (EN) > Math > Arithmetic**, and I was not able to delete neither the full channel, nor by selecting all the resources inside, as the task was reported as `Failed`. I suspect just the DB was deleted bu

[2020-11-05 22:16] rtibbles commented on #7669
Seems to be an issue here:
[code]

This is called after the channel metadata has been removed from the DB, but before the content is cleared up, so it's consistent with the reports.

[2020-11-05 22:46] jonboiser opened #7670 "Learn Page App Bar layout becomes crowded at around 600px, especially with long username or "Learn" label"
### Observed behavior

The Learn Page top bar can become cramped at around 600px, which is the breakpoint, where it shifts to a a smaller window layout (< 600px)

Example at 624px:

![image](https://user-images.githubusercontent.com/10248067/98304727-67521780-1f75-11eb-8d24-026e5e9b56f1.png)

Example at 600px in `nyn` locale

![image](https://user-images.githubusercontent.com/10248067/98304862-a38

[2020-11-06 01:09] jonboiser opened #7672 "Facilities should have option to sync KDP even if already registered, and if device does not know it's registered"
### Observed behavior

1. After a Facility is registered to a KDP project, its `FacilityDataset.registered` value is set to `true`, which then block the user from registering it again with a different token.
1. If a facility is not registered to a project, it can only be synced to other peer devices, but not KDP

### Expected behavior

1. After a Facility is registered to a KDP project, the use ca

[2020-11-06 18:04] #6421 closed, assigned to DXCanas

[2020-11-06 19:40] jredrejo commented on #7669
FYI, in a RPI, with kolibri-server and this setup for redis:
[code]
deleting the same channel @radinamatic  comments has worked, but... it took 8 minutes

[2020-11-06 20:05] jredrejo opened #7673 "Importing big channels in RPi is not possible due to db lock errors"
### Observed behavior
Trying to import Khan Academy (English - US curriculum) > Math > Arithmetic in 0.14.4.dev0-0ubuntu1  in a RPI 4 (4G RAM) has been impossible after trying it several times.
This same channel has been previously imported in 0.13.3.

Importing in 0.14.4 was much faster, but sooner or later the process is canceled by kolibri after a database error happens

This is probably relate

[2020-11-06 20:08] kollivier commented on #7673
@jredrejo This is the same error I reported on Android yesterday (but I forgot to file an issue!), I'm going to try and spend some time on this today.

[2020-11-06 20:18] rtibbles commented on #7673
One quick fix might be to only update progress in the main thread, and not call it from any of the worker threads?

[2020-11-06 20:19] rtibbles commented on #7673
(downside will be that big files will make the progress appear to stall a bit, but it's better than it stalling completely because of an error!)

[2020-11-07 00:27] kollivier commented on #7673
Yeah, that's the approach I went with for now. If we want to restore the smoother updates, we can probably have `_start_file_transfer` fire update events that the main thread is listening for and processes, but I think we can consider that if people really get bothered by the progress bars.

[2020-11-07 00:32] rtibbles commented on #7673
Yeah, seems like a good approach!

[2020-11-09 18:24] #7673 closed, assigned to kollivier

[2020-11-09 21:26] #7363 closed, assigned to jredrejo

[2020-11-09 21:55] jonboiser opened #7680 "In analytics payload, the "installer" field should indicate when a user is running Kolibri locally for dev purposes"
### Observed behavior
Sometimes, when running Kolibri in development mode, this line:

https://github.com/learningequality/kolibri/blob/032aa228597fdd14098796d8ccd98668e6a6f5a3/kolibri/core/analytics/utils.py#L431

will return values that are indistinguishable from a device that is running Kolibri in a "production" setting.

### Expected behavior

…

### User-facing consequences

…

### Errors and

[2020-11-09 22:09] jonboiser opened #7681 "When re-ordering lesson resources with mouse, the post-drop transforms cause the container to overflow"
### Observed behavior

GIF from https://kolibri-beta.learningequality.org/en/coach/#/eec4366a19f7df2d1da28606af175b7e/plan/lessons/f30d5609ebca7de3a34de7cb1bb02433 on Safari

![CleanShot 2020-11-09 at 14 06 30](https://user-images.githubusercontent.com/10248067/98602114-d0e36600-2294-11eb-949f-a05cf36ca7e1.gif)

Notice that after each time I drop a resource, the bottom of the container shows a hor

[2020-11-09 22:22] rtibbles opened #7682 "Importing sanity checks into cli.py triggers OPTIONS evaluation"
### Observed behavior
[code]

While disabling a plugin, just because sanity_checks gets imported in the cli module, nothing is executed.

[2020-11-09 22:24] rtibbles commented on #7682
This is a regression caused by #7640

[2020-11-09 22:33] rtibbles opened #7683 "Version logic does not handle non-tripartite version strings"
While our internal version strings for kolibri user major, minor, patch - some of our plugins, for simplicity, just use major, minor.

This breaks when we try to use some of our internal semantic version logic parsing to parse these versions for our plugin upgrade logic. Resulting in errors like this:

[code]

[2020-11-10 19:32] #7262 closed, assigned to sairina

[2020-11-10 22:37] jonboiser commented on #6916
Fixed in 482f293f2deec49384553aac9b5afb7de8f5a193

[2020-11-10 22:37] #6916 closed, assigned to nobody

[2020-11-10 22:55] jonboiser opened #7686 "`importsizeview` returns "Expression tree too large" error when selecting KA > Mathematics topic in import workflow"
### Observed behavior

I select the whole "Mathematics" topic and the UI crashes

![image](https://user-images.githubusercontent.com/10248067/98742943-1ae74d00-2364-11eb-89f3-5223cf056527.png)

The server returns a 500, with this error message:

[code]

More traceback

[code]

I suspected this might have been caused by #7555, and confirmed that the bug does not present on `0.14.4-weekly3`, but doe

[2020-11-10 22:58] rtibbles commented on #7686
I dislike being correct sometimes.

[2020-11-10 23:01] jonboiser commented on #7686
I think the fix for this is to simply revert #7555 and figure out a way to fix the thumbnail issue in a way parallel to the core files-to-import query. It seems that expanding the "get files for import" query to include these intermediate topics just makes the query too large.

[2020-11-11 11:06] paulbusse commented on #6560
I found the root cause for this one. The query
[code]
is indeed the problem as pointed out to me by @jonboiser. `latest` is implemented as an `order by` which in Postgres puts the NULL values first (see [Postgres docs](https://www.postgresql.org/docs/13/queries-order.html)). As channels are created with a NULL in the `order` field, this query will always return NULL when an actual order is assigne

[2020-11-12 00:24] indirectlylit commented on #6560
great, thanks!

[2020-11-12 23:56] radinamatic commented on #6201
Updated documentation link for [the steps to repair a malformed database](https://kolibri.readthedocs.io/en/latest/manage/get_support.html#malformed-db).

[2020-11-13 00:39] jonboiser opened #7690 "Large `REMOTECONTENTIMPORT` tasks can take a long time to cancel (e.g. over 10 min to cancel KA Mathematics)"
### Observed behavior

When importing a large topic like KA Mathematics, then immedidiately canceling it in the Task Manager, it can take a very long time for the task to go from a `CANCELING` status to a `CANCELED` status, even if I click "Cancel" immediately.

I believe that the time it takes is proportional to the size of the topic being downloaded. So a smaller topic would probably cancel more

[2020-11-13 17:45] #6560 closed, assigned to nobody

[2020-11-13 20:32] #7686 closed, assigned to rtibbles

[2020-11-16 21:05] jonboiser opened #7692 "It is not easy to make multiple copies of the same lesson or quiz because of duplicate name validation"
### Observed behavior

Screenshot from a generic lesson on my local server:

![image](https://user-images.githubusercontent.com/10248067/99307900-009deb00-280c-11eb-9503-7e31c72b871c.png)

If you try to make a copy of a lesson more once, you'll get this subtle notification (bottom left of picture) that tells you the copy operation failed.

This is because the name of the copy is always something l

[2020-11-17 19:28] jonboiser opened #7693 "Setup Wizard blocks facility-import setup if first attempt fails"
### Observed behavior

Here are failure cases where the Setup Wizard doesn't properly clean up the Task queue, which leads to some bugs.

**Scenario 1: Import fails, then press "Start Over"**

1. Went to "Import facility" in Setup Wizard
1. Used kolibri-beta as the peer server and selected "Hack Session School". The import failed with a 500 error (not sure why)
1. I press "Start Over", which takes

[2020-11-17 19:41] jonboiser opened #7694 "Copy on ContentUnavailablePage is not customized to different roles (and has minor English punctuation issue)"
### Observed behavior

From http://localhost:8000/en/learn/#/content-unavailable (viewing with my super admin account)

![image](https://user-images.githubusercontent.com/10248067/99438746-0d344900-28c9-11eb-93d0-3c57ce8d2997.png)

Link to code: https://github.com/learningequality/kolibri/blob/68f33c3f429f55c60af23d6752ba389a6ac20a0d/kolibri/plugins/learn/assets/src/views/ContentUnavailablePage.vu

[2020-11-17 20:17] jonboiser opened #7695 "When managing lesson resources, users cannot see resource counts at the channel card level"
### Observed behavior

From a generic lesson on my local server

![image](https://user-images.githubusercontent.com/10248067/99442679-900bd280-28ce-11eb-83fe-f278c994cf4e.png)

In the lesson, I have 1 resource from Engage NY and 7 from touchable earth, but those details aren't shown at the channel card list.

### Expected behavior

A simple counter is shown at the channel card level. There might b

[2020-11-17 22:26] jonboiser opened #7696 "Numerals are not localized in some places (and use 0-9 arabic numerals by default)"
### Observed behavior

Here are places on https://kolibri-beta.learningequality.org/mr that I was able to find (annotations are within the screenshots)

**Version numbers on https://kolibri-beta.learningequality.org/mr/device/#/content**

![image](https://user-images.githubusercontent.com/10248067/99457214-76bf5200-28df-11eb-9e8e-0c3426eda9d3.png)

**Number of learners in class on https://kolibri-

[2020-11-17 22:36] radinamatic commented on #7669
Still extant on 0.14.4-RC1.

I only see the ``AssertionError`` in a warning, but there are ``...to many SQL variables`` errors.

[daemon.txt](https://github.com/learningequality/kolibri/files/5556595/daemon.txt)
[kolibri.txt](https://github.com/learningequality/kolibri/files/5556596/kolibri.txt)

[2020-11-17 22:51] rtibbles commented on #7669
Looks like my updates didn't go far enough here.

[2020-11-17 22:53] radinamatic commented on #7669
Additional detail: above fail happened when I selected to delete all the resources (<kbd>Manage</kbd> > select topic > <kbd>Delete</kbd>), but the workflow <kbd>Options</kbd> > Delete channel > select channel > <kbd>Delete</kbd> worked and wiped it in around 3 minutes.

[2020-11-18 00:30] jonboiser opened #7697 "`deletecontent` command on a large topic + `force_delete` option can fail with "too many SQL variables" error"
_Originally posted by @radinamatic in https://github.com/learningequality/kolibri/issues/7669#issuecomment-729255452_

### Observed behavior

On Windows 7 VM running Kolibri 0.14.4-rc1, if you attempt to delete the "Khan Academy > Arithmetic" topic and also select the "Delete everywhere" option on the modal. The task will eventually fail. The traceback indicates that it might be due to the "Delete

[2020-11-18 00:31] jonboiser commented on #7669
Closing and opening #7697 with more detailed documentation

[2020-11-18 00:31] #7669 closed, assigned to aronasorman

[2020-11-18 04:49] #7376 closed, assigned to sairina

[2020-11-18 22:36] jonboiser opened #7698 "When creating a quiz, the counter for coach content does not exclude non-exercise nodes"
### Observed behavior

When creating a quiz, the resource cards show coach content counts for all types of resources, and not the counts for just exercises, although those are the only things that can be browsed in this workflow.

Screenshot from https://kolibri-beta.learningequality.org/en/coach/#/17f732bf12eca15a0cf6d846c3a1c8c4/plan/quizzes/new/topic/bfe9f1e7a8d84c02b938e89092312624

![image](h

[2020-11-18 22:40] rtibbles commented on #7698
We precalculate these fields at annotation time, as they are expensive to aggregate, so this might be trickier to solve.

[2020-11-19 22:26] jonboiser opened #7700 "Closing `SideNav` causes it to disappear immediately, with no animation"
### Observed behavior

`SideNav` simply disappears when you close it. Whereas, when you open it, it slides out from the left with an animation.
![CleanShot 2020-11-19 at 14 23 12](https://user-images.githubusercontent.com/10248067/99731521-dd28a980-2a72-11eb-8ab6-92a17bebc93f.gif)

### Expected behavior

The `SideNav` closes with an animation.

Also, the transition uses built-in motion curves like

[2020-11-20 20:12] jonboiser opened #7701 "Subquery in `FaclityViewset` `last_synced` annotation can return multiple results"
### Observed behavior

This subquery from the `TransferSession` table can return multiple results, which causes the `/api/auth/facility` endpoint to  break

https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/core/auth/api.py#L359

### Expected behavior

The `/api/auth/facility` endpoint doesn't break because of this query. The subquery should be limited to a returning a singl

[2020-11-20 22:03] #7701 closed, assigned to rtibbles

[2020-11-20 22:39] jonboiser opened #7704 "Move task-is-clearable flag to the API layer, instead of using frontend code to derive this from `task.status`"
This is a bit of tech debt that we run into when developing UIs for presenting and managing tasks

There is this piece of JS that is used in a lot of places to determine whether a task is clearable

https://github.com/learningequality/kolibri/blob/577c10e9670a10dbc1955dffc6e7dfe6098bbe57/kolibri/plugins/device/assets/src/constants.js#L58-L61

I think this concept of "clearability" belongs on the A

[2020-11-22 12:03] MBKayro opened #7705 "task frozen: deleting imported chanals from studio not woking"
Problems when deleting imported channels from studio in  device section, and the tassk froze in production version.

# first build the assets
yarn run build
# now, run the Django devserver
kolibri manage --debug runserver -- 0.0.0.0:8000

![Capture d’écran de 2020-11-22 12-54-52](https://user-images.githubusercontent.com/328784/99903063-40f4e180-2cc2-11eb-94ec-aa61a1451320.png)

[2020-11-22 12:11] MBKayro opened #7706 "import channel from studio error"
import channel from studio error

# first build the assets
yarn run build
# now, run the Django devserver
kolibri manage --debug runserver -- 0.0.0.0:8000

However it can import using CMD
kolibri manage importchannel network <Channel ID>
kolibri manage importcontent network <Channel ID>

![Capture d’écran de 2020-11-22 13-07-01](https://user-images.githubusercontent.com/328784/99903274-b7461380-2c

[2020-11-23 16:48] rtibbles commented on #7706
hi @MBKayro  - the 404 you are seeing in the console here is expected behaviour, and is what prompts the channel listing import that you are seeing the task for. Does this task not complete?

[2020-11-23 16:51] rtibbles commented on #7705
This is insufficient to run the full devserver, specifically, this does not run the asynchronous task runner, hence why your tasks are not running.

See the `services` command for how to run the services independently of the dev server, an example of this invocation is in our package.json: https://github.com/learningequality/kolibri/blob/release-v0.14.x/package.json#L23

Note that in develop now,

[2020-11-23 16:51] rtibbles commented on #7706
Oh, sorry the issue here is the same as https://github.com/learningequality/kolibri/issues/7705#issuecomment-732286299 you are running the devserver without the task runner, so the tasks are not being executed.

[2020-11-23 16:51] #7706 closed, assigned to nobody

[2020-11-23 16:51] #7705 closed, assigned to nobody

[2020-11-24 21:54] MBKayro commented on #7706
Thank  you @rtibbles its works great.

just a question, is it possible to import channels from a local studio connected in LAN ?

[2020-11-24 22:30] rtibbles commented on #7706
Yes, in the interface it will work the same way as importing from another Kolibri instance. Alternatively, you can use an option in the `options.ini` file to set the new Studio URL.
[code]
It is not well documented, but the details of these options are here: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/utils/options.py

[2020-11-25 00:32] nucleogenesis opened #7709 "kolibri-tools needs improved message extraction for Kolibri plugins"
Per the last comments on: https://github.com/learningequality/kolibri/pull/7671

1. We need to update the `kolibri-tools` package to properly handle the plugin paths in Kolibri. The PR was merged and `kolibri-tools` subsequently release to accommodate the changes in that PR which make the i18n tools available cross-product.

2. Context transfer has hard-coded kolibri paths. Should require relative

[2020-11-26 18:36] MBKayro commented on #7706
Hi @rtibbles,

I'm trying and without success. i'm using tow VM (studio and kolibri).

A) Kolibri:
![Capture d’écran de 2020-11-26 18-37-50](https://user-images.githubusercontent.com/328784/100383376-c3143b80-301d-11eb-810e-c260148e2c8c.png)
![Capture d’écran de 2020-11-26 19-22-17](https://user-images.githubusercontent.com/328784/100383395-cefffd80-301d-11eb-87ad-d47552b3d651.png)
![Capture d’écr

[2020-11-26 19:52] radinamatic commented on #7706
@MBKayro If I understand correctly your test case, my intuition is that none of the channels that you have on the _Madrassati_ Studio are **public**, and therefore your *Content Library* tab is empty.

What I would expect was to see the `Import with token` button, so you could import the unlisted channels, not sure why it's not there...? @rtibbles Could there be some Studio setting for that?

![to

[2020-11-26 20:09] MBKayro commented on #7706
thank you @radinamatic, i was asking the same question if is there no public channel, why i can't import at least one of channel created manually using token ?

when using CENTRAL_CONTENT_BASE_URL= "default": "https://studio.learningequality.org", is whork very well but not localy

Attempting connection to: http://192.168.1.5:8080/
INFO     Success! We connected to: http://192.168.1.5:8080/api/pub

[2020-11-28 21:09] MBKayro commented on #7706
hi @radinamatic  and @rtibbles,

small update, even if there is a public channel the "Import with token" button does not appear

        <p v-if="showUnlistedChannels">  /// so if there are no public channel, disable the button
          <KButton
            data-test="token-button"
            :text="$tr('channelTokenButtonLabel')"
            appearance="raised-button"
            name="showtoke

[2020-11-30 16:19] rtibbles commented on #7706
We don't enable 'import with token' when importing from peers, because we assume peers are other Kolibri instances, and so do not need to allow import with token, as Kolibri has no knowledge of this.

In that case, setting `CENTRAL_CONTENT_BASE_URL` to the local address `http://192.168.1.5:8080` should allow for import with tokens.

[2020-12-01 00:49] MBKayro commented on #7706
Hi @rtibbles thanks for all your help,

just the last time, i have these 3 issue:

1) problems for kolibri does not recognize options.ini  (all my change as in  options.py)

WARNING  Ignoring unknown option in options file /home/kayro/.kolibrimadrassati/options.ini under top level: CACHE_BACKEND.
WARNING  Ignoring unknown option in options file /home/kayro/.kolibrimadrassati/options.ini under top

[2020-12-01 07:48] nucleogenesis commented on #5752
Noting that this was run into again when a file that needed to be made `Prettier` was causing our `kolibri-tools lint` command to exit with code 1 but without any output to tell what the source of the failing exit code was.

At least one improvement that might fix this issue altogether is to ensure `Prettier` always prints to console the issues it finds even if it's not fixing them for you.

[2020-12-01 16:58] rtibbles commented on #7706
The options need to be under the appropriate top level e.g.:
[code]
etc.

In this case it seems like the channel has not been published, as the sqlite3 file is missing.

You can make it public, you will have to use the admin interface or change in in the shell interface.

[2020-12-01 19:53] rtibbles commented on #7518
Note that this is specific to filtering by role:
```/api/auth/classroom/?role=coach```

[2020-12-02 02:59] indirectlylit commented on #6650
The update above addresses the UI but not the API:

[2020-12-02 19:47] indirectlylit opened #7712 "Leverage new `openInNewTab` prop of `KExternalLink`"
### Observed behavior

We're adding a new prop which allows external links to set whether or not they open in a new tab: https://github.com/learningequality/kolibri-design-system/pull/137

`KExternalLink` is slightly misnamed: it really means "not a Vue router link". It is used for both "internal links" e.g. "Explore without account" on the sign-in page as well truly external links such as to _lea

[2020-12-03 01:53] nucleogenesis commented on #5752
Additionally, `kolibri-tools lint` are not finding changed files unless given the file in the `--pattern` flag's arg

[2020-12-08 20:47] jonboiser opened #7719 ""In progress" (clock) icon should not be shown on the `ContentPage` when viewing content as guest"
### Observed behavior

E.g. on https://kolibri-training.learningequality.org/en/learn/#/topics/c/9599f581993e43838f19fe04fdf01af9

(Do not log in, but click the "Explore as guest" link on the Sign In page. Then go to the link again.)

You will see the blue clock icon on the right corner, which is used to indicate that a resource is "in progress" (i.e. started but not finished by the user)

![Clean

[2020-12-11 13:32] radinamatic commented on #5464
Still extant ([recent Slack conversation](https://learningequality.slack.com/archives/CB37UM23A/p1607656280385500)), not sure if we could up the priority @jonboiser?

http://35.227.71.104/en/learn/#/topics/c/991073b0312e4959aaa3118340c584a3
http://35.227.71.104/en/learn/#/topics/t/708fc2e73a0f4ab59dfeebfd1203896d

[2020-12-11 21:13] rtibbles opened #7722 "When guest access is enabled, the AuthMessage redirect tries to redirect you back to content-unavailable, not the content you were looking for"
### Observed behavior
When guest access to learn is disabled, if you try to access some content (because your session got timed out) it takes you to the `content-unavailable` url, and prompts you to log back in. However, the redirect will redirect you back to the `content-unavailable` page after login.

### Expected behavior
It should return me to the page I was trying to access instead.

### User

[2020-12-11 22:03] #7488 closed, assigned to nucleogenesis

[2020-12-14 14:53] arky opened #7725 "Khmer(km) font (and other scripts with ascenders + descenders) render badly broken in Firefox"
### Observed behavior

![Screenshot from 2020-12-14 21-36-58](https://user-images.githubusercontent.com/808895/102095207-d4e74280-3e55-11eb-9545-bac59c8ef0c9.png)

Khmer language rendering is not correct in latest Firefox on Ubuntu gnu/Linux. Somehow Google-chrome handles this much better.

Developer tools console in FF reports(Not sure if this related):

[WARN: kolibri/core/assets/src/utils/setup

[2020-12-14 15:16] radinamatic commented on #7725
Seeing the same errors in Firefox on Windows.

![2020-12-14_16-12-58](https://user-images.githubusercontent.com/1457929/102098391-7014f380-3e27-11eb-944f-cb1b20d364e2.png)

cc @jonboiser @nucleogenesis

[2020-12-15 18:47] arky commented on #7725
@radinamatic This problem affects other south asian languages. https://kolibri-demo.learningequality.org/hi-in/learn/#/topics

[2020-12-15 21:16] radinamatic commented on #7725
After testing all the locales on the demo server in Firefox, I'm not sure if the ``downloadable font: rejected by sanitizer`` error will help, as it also appears on non South Asian languages. Sometimes it's there on the first load of the new locale, sometimes it appears if you reload the page. So far the only locales where I didn't see the error are Chinese and Korean, do they use Noto font at all

[2020-12-16 21:45] Ali-Kazmi commented on #6529
Hi everyone! Just made a pr for this, it was a fairly quick fix. Let me know if anything looks wrong. I don't think i have access to change labels on the pr

[2020-12-16 22:46] Ali-Kazmi commented on #5862
Couldn't reproduce, this issue is probably gone (edit: unless its happening with double digit numbers only... i'll try it now) (edit 2: still works, this issue can be closed)
<img width="1099" alt="Screen Shot 2020-12-16 at 2 44 55 PM" src="https://user-images.githubusercontent.com/41556074/102415669-6f0dce80-3fad-11eb-9acc-49b51c75c06f.png">
<img width="1045" alt="Screen Shot 2020-12-16 at 2 45 1

[2020-12-17 15:20] metodimilevqa opened #7727 "Options drop-down on Coach Plan & Coach Reports pages shows strange behavior on-click"
### Observed behavior

The Options drop-down on Coach Plan & Coach Reports pages behaves pretty strange on-click and it is pretty hard for any of the options to be selected. See video below:
![issue2](https://user-images.githubusercontent.com/72492554/102505562-d2b9f980-408a-11eb-9f81-c1969731db02.gif)

### Expected behavior

The Options drop-down toggles and stays toggled until any of the options

[2020-12-17 20:06] jonboiser commented on #7727
This is related to https://github.com/learningequality/kolibri/issues/7581. The behavior on the Windows App is different in that it seems to reposition the Menu after it is opened.

[2020-12-17 20:14] jonboiser commented on #5862
This looks slightly different to me on the latest version of Kolibri, but I think this might have been a recent change to how we formatted this message.

@Ali-Kazmi I think you're right that this is fixed! And now that I see the parens are gone, this issue should be completely resolved. Thanks for looking into this!

English
![image](https://user-images.githubusercontent.com/10248067/102538654-670

[2020-12-17 20:14] #5862 closed, assigned to nobody

[2020-12-17 23:28] radinamatic commented on #7727
Not able to replicate this in neither the macOS app (same build based on 0.14.3, provided by @kollivier) nor the 3 browsers on macOS Mojave, seems to be issue only on Windows app :unamused:

[2020-12-21 17:45] jonboiser commented on #6529
Fixed in https://github.com/learningequality/kolibri/commit/d511d12ee907ce0efadc1adb43bfeff2eb7a9529

[2020-12-21 17:45] #6529 closed, assigned to nobody

[2020-12-23 20:01] #6650 closed, assigned to sairina

[2021-01-04 17:54] jonboiser commented on #7540
pre-releases will continue to use the `-alpha` suffix, so the versioning code doesn't need to support the `-weekly` suffix for now.

[2021-01-04 17:54] #7540 closed, assigned to nobody

[2021-01-05 00:46] #7454 closed, assigned to jonboiser

[2021-01-05 05:15] alvin-hsu-noti-studio commented on #7719
Hello there!

I found that **sessionProgress** is being returned when user is not logged in. What are the differences between **sessionProgress** and **summaryProgress** here?
https://github.com/learningequality/kolibri/blob/3abc1b22c7d58a7ed45be80fb493c407fb0ef745/kolibri/plugins/learn/assets/src/views/ContentPage.vue#L241-L250

[2021-01-05 05:24] alvinhsu-gal220 commented on #7719
Hello there!

I found that **sessionProgress** is returned when the user is not logged in. What are the differences between **sessionProgress** and **summaryProgress** here? If no progress will be displayed to the user as guest, do we need to return this **sessionProgress**?
https://github.com/learningequality/kolibri/blob/3abc1b22c7d58a7ed45be80fb493c407fb0ef745/kolibri/plugins/learn/assets/src/v

[2021-01-05 15:09] rtibbles commented on #7719
Hi @alvinhsu-gal220, **sessionProgress** indicates the progress within this specific session - so in the case of an anonymous user browsing content, we never save a summary of their progress (**summaryProgess**) so to show their progress through the content they are on right now, we use the **sessionProgress** instead. This will be non-zero if the user has accrued some progress through the content

[2021-01-05 19:14] jonboiser commented on #7649
@metodimilevqa @radinamatic To close this issue, we need to update the `feature` file in the first post to be more specific about where the "time elapsed" message should be. The misunderstanding was that the "time elapsed" message would appear in the list of all quizzes (as in the first post), when it is actually on this page: "Coach > Reports > Quizzes > Quiz Details" (see screenshot below)

![im

[2021-01-05 19:44] jonboiser commented on #7719
Ah, that is why the `ProgressIcon` show up on this page. However, I think my problem is that the progress is not shown on the content card when navigating the topic:

![image](https://user-images.githubusercontent.com/10248067/103691516-219cd580-4f4b-11eb-975f-388cd74fc19a.png)

And so I think it is preferable not to show it in guest mode.

In this case, the solution might be to change how the `pr

[2021-01-05 20:01] kollivier opened #7732 "Define what data Kolibri should send about the app in telemetry pingbacks"
### Observed behavior

Currently, we send update notifications based on the data sent by the telemetry pingbacks. However, now that we have applications, it's important that we be able to identify when an app is sending the pingback so we can know when to either not send the notification (e.g. when an app must be updated via an app store), or when we should send a custom notification on where and

[2021-01-05 20:23] jonboiser commented on #5729
The deprecated `slot=` syntax only remains in one place, here:

https://github.com/learningequality/kolibri/blob/5fd6c5ea7fda34c2f9c0728b8d87f38b7d785dd2/kolibri/plugins/slideshow_viewer/assets/src/views/SlideshowRendererComponent.vue#L55-L62

The `hooper` library will not be updated to be Vue 3 compatible, so we'll need to replace it as part of a Vue 3 migration.

[2021-01-05 23:53] #6717 closed, assigned to jonboiser

[2021-01-06 05:36] alvinhsu-gal220 commented on #7719
I see, thank you!

So does that mean for this issue, progress **will not be displayed** regardless the guest user has accrued progress or not? Or would it be the scenario where
1. If the guest user just browses the resource without accruing progress, do not display the "In progress" icon.
2. If the guest user starts accruing progress, display the "In progress" icon just like the case for logged-in

[2021-01-06 14:13] rtibbles commented on #7719
@jonboiser the only question would be whether we are using the progress computed prop for anything else in the page which we might still want to indicate to the user (say prompting them to go to the next content item when they have completed the content).

We use the progress computed prop in two places, one for displaying the header info, the other for registering the Mastery snackbar: https://gi

[2021-01-06 18:27] jonboiser commented on #7719
@alvinhsu-gal220

Yes, this is what I what. To me, the in-progress icon is something only logged-in users should see, especially since we do not show the progress icon or progress bars in other parts of the app if you are a guest.

I think Richard's solution above to replace Line 7 with

[code]

Might achieve what I'm looking for, because it removes the in-progress icon while not affecting the mas

[2021-01-06 18:56] #7704 closed, assigned to jonboiser

[2021-01-06 19:48] jonboiser commented on #7725
I've been comparing 0.14.3 and 0.14.5 and here are some big differences I'm noticing.

### 0.14.3

* The woff files for Khmer, Devangari (used for HI locale), etc. are fully sized coming over the wire (e.g. around 150KB)
* In Chrome, the UI messages all use the same font. For example, inspect an element in devtools, go to the "Computed" tab and the "Rendered fonts" section on the bottom will say "

[2021-01-06 20:06] jonboiser commented on #7725
I looked at the code diff between 0.14.3 and 0.14.5 and there are no changes to our font code, so my hunch now is that Google or someone might have moved some of the online resources we use to build our fonts.

@indirectlylit

[2021-01-06 20:12] radinamatic commented on #7725
1. First feedback from the user:

    On Wed, Dec 23, 2020 at 2:01 AM:

    Right font from Kolibri studio
    ![immagine](https://user-images.githubusercontent.com/1457929/103815090-22288f80-5063-11eb-90f6-2200e94db6e5.png)

    wrong from Kolibri server
    ![immagine2](https://user-images.githubusercontent.com/1457929/103815127-2fde1500-5063-11eb-9c41-cce6e86b5deb.png)

   I know you don't read

[2021-01-06 22:24] indirectlylit commented on #7725
The font files are pinned in this file:

https://github.com/learningequality/kolibri/blob/release-v0.14.x/build_tools/i18n/noto_source/manifest.json

The Khmer source files still download fine, and it shouldn't be possible for them to have changed:

[code]

One thing worth comparing between cases that work and don't work is which of the following files are being loaded?

* `noto-full.NotoSansKhmer

[2021-01-06 22:29] jonboiser commented on #7725
Where is the TTF to WOFF conversion happening? Between the versions, the WOFF files seem to have been changed. The 0.14.5 WOFF files look corrupted because they aren't the right size

Compare https://kolibri-training.learningequality.org/static/assets/fonts/noto-full.NotoSansKhmer.400.woff

(200 B) compared with the full font file that you get when running 0.14.3

[2021-01-06 22:37] indirectlylit commented on #7725
FYI, the dotted circle is [unicode `U+25CC`](https://en.wikipedia.org/wiki/Dotted_circle), and is used as a replacement character when a ligature or diacritic-modified character cannot be fully rendered.

It happens in two stages using the [fontTools](https://github.com/fonttools/fonttools) library.

The TTF is loaded here:

https://github.com/learningequality/kolibri/blob/7d49bed730aa7e43cf01d617

[2021-01-07 00:24] jonboiser commented on #7725
We suspect that this might be caused by an issue in the build system related to git LFS and the font files. We've made a temporary change to our build system that should address the issue, and I will tag a new 0.14.6 pre-release right now to do some testing.

[2021-01-11 18:57] alvinhsu-gal220 commented on #7719
I tried the discussed change above, and I found something interesting - I think it should be I'm not familiar with Kolibri and Vue.js both - but this is what happened:

I tried
[code]
because I saw
https://github.com/learningequality/kolibri/blob/3abc1b22c7d58a7ed45be80fb493c407fb0ef745/kolibri/plugins/learn/assets/src/views/ContentPage.vue#L198

And this does not prevent user to see the icon in g

[2021-01-11 19:33] jonboiser commented on #7719
I think you might have found a bug in `isUserLoggedIn`. It must be returning a `true` or truthy value even when nobody is logged in.

Here is the implementation of `isUserLoggedIn`

https://github.com/learningequality/kolibri/blob/7d49bed730aa7e43cf01d61739ad1f6a3dc621e3/kolibri/core/assets/src/state/modules/session.js#L35-L38

It's possible that the `state.kind` array is missing the `anonymous` i

[2021-01-12 18:56] radinamatic opened #7741 "Add prompt during the peer import work flow to alert that access to unlisted channels is not enabled by default"
### Observed behavior
Users often do not realize that unlisted channels on one peer in the LAN will not be visible and available for import for other peers in the network (example [Slack discussion](https://learningequality.slack.com/archives/C0LKEH6NM/p1610467513043200?thread_ts=1610467420.043100&cid=C0LKEH6NM), similar support requests received through other channels), and that they need to acti

[2021-01-13 00:16] nucleogenesis commented on #7310
I'm closing this issue because there's no need to fix it given Richard's last comment - but I'm also glad it exists because I don't remember making this issue at all and just ran into it again.

[2021-01-13 00:16] #7310 closed, assigned to nobody

[2021-01-13 19:01] jonboiser opened #7744 "When exiting search during quiz creation, you are not taken back to your last topic location"
### Observed behavior

When exiting search during quiz creation, you are not taken back to your last topic location. Instead, you are taken to the top-level list of all channels.

### Expected behavior

When exiting search during quiz creation, you **are** taken back to your last topic location. E.g. if you are at "algebra 1", then start a search, when you exit the search, you are back at "algebra

[2021-01-13 19:03] jonboiser commented on #7600
I'm not able to reproduce this on Kolibri 0.14.5. When you toggle topics inside of the search window, the "n of n" selected indicator is updated as expected, and you also see the snackbar appear with each change.

[2021-01-13 19:03] #7600 closed, assigned to jonboiser

[2021-01-13 20:57] alvinhsu-gal220 commented on #7719
Here's what I have found after digging in a little more - sorry for the confusion I caused for bringing up partial solution previously.

1. Regarding `:progress=isUserLoggedIn && progress`, even if I let `isUserLoggedIn` evaluate to false the in-progress icon still shows up in guest mode. So I turned my attention to `sessionProgress` in
https://github.com/learningequality/kolibri/blob/3abc1b22c7d5

[2021-01-13 23:22] jonboiser commented on #7719
Yeah, that change from `>= 0` to `> 0` in `ProgressIcon` seems like the right change, especially to be consistent with the logic in `CardThumbnail`.

Even after your change, will the clock appear when you are signed-in and you watch a video for a little bit? Or do you need to leave the video and come back before you see it? (The clock _should_ appear after the progress is updated while watching th

[2021-01-14 00:12] alvinhsu-gal220 commented on #7719
@jonboiser

Yes, it does appear after a few seconds when watching a video resource.

For guest user, this is also true. However, navigating away from the resource page and coming back the icon will disappear again. I suppose this is an acceptable behavior since I recall earlier in the discussion

Is this assumption correct?

[2021-01-14 01:00] jonboiser commented on #7719
No, I basically don't want the clock icon to show on the resource page _at all_ when logged in as a guest.

It's possible you might need something a little more complicated on the `PageHeader` `progress` prop, like

[code]

This is to make sure that `progress === null` at this line.

https://github.com/learningequality/kolibri/blob/210aa3e0cb5e292552260d8b5d5756008090ac4e/kolibri/core/assets/src/v

[2021-01-14 23:14] #7397 closed, assigned to jonboiser

[2021-01-14 23:40] #7597 closed, assigned to jonboiser

[2021-01-14 23:40] #7612 closed, assigned to jonboiser

[2021-01-15 19:41] #7722 closed, assigned to jonboiser

[2021-01-15 22:31] #7719 closed, assigned to nobody

[2021-01-18 07:38] arky commented on #7725
Thanks for working on this @jonboiser Let me know when this fix is release so I can do some user testing.

CC @TukTuk-Charity

[2021-01-18 07:45] radinamatic commented on #7725
@arky Please download and test the latest [0.14.6alpha](https://github.com/learningequality/kolibri/releases/tag/v0.14.6-alpha5) release, and let us know if it improves the issue you've seen.

[2021-01-18 17:04] arky commented on #7725
@radinamatic I have tested 0.14.6alpha release on my development machine. It does fix the font issue for Khmer and Hindi.

Once the PPA repo packages are created for this release, I push build so our team could do further testing.

[2021-01-20 04:50] sairina opened #7748 "Languages UX to match Studio's languages links on main page"
### Observed behavior
Kolibri does not have "dots" between its languages the way that Studio does; they should both match in terms of UX.

|Studio|Kolibri|
|--|--|
|![Screen Shot 2021-01-19 at 8 37 49 PM](https://user-images.githubusercontent.com/13563002/105127759-5a35c680-5a96-11eb-8d18-66ea6b33a830.png)|![Screen Shot 2021-01-14 at 3 09 47 PM](https://user-images.githubusercontent.com/13563002/1

[2021-01-20 07:57] jredrejo commented on #7725
hi @arky I'm doing the ppa release, what Ubuntu version do  you  need to be supported?

[2021-01-20 08:41] metodimilevqa opened #7749 "Learn > Channels/Recommended - Khmer channel/content card description text spans beyond its container in Firefox and IE"
### Observed behavior

On the Learn > Channels tab a channel with Khmer language content has a description text that spans beyond its container. Experienced with Firefox and IE.
On the Learn > Recommended tab some items with Khmer language content have a description text that spans beyond their containers. The issue is also seen in the View more section of the Recommended tab. Experienced with Fir

[2021-01-20 10:12] metodimilevqa opened #7750 "Device > Facilities - Sync All/Import Facility modals - text exceeds its container in Khmer language with Firefox"
### Observed behavior

On the Device > Facilities page the Sync All and the Import Facility modals has text exceeding their containers in Khmer language with Firefox. The issue is also experienced on Device > Info - Edit Device name modal.

<img width="576" alt="2021-01-20_120232" src="https://user-images.githubusercontent.com/72492554/105159740-18e5fb00-5b18-11eb-9a41-05ea4694f256.png">

<img wid

[2021-01-20 11:35] metodimilevqa commented on #7719
I confirm the issue is no longer experienced with Kolibri version 0.14.6rc1. Tested with Windows 7 vm, on Chrome, Firefox and IE.
The In-progress clock is not visible in guest user mode.

[2021-01-20 11:45] metodimilevqa commented on #7597
I confirm the issue is no longer experienced with Kolibri version 0.14.6rc1. Tested with Windows 7 vm, on Chrome, Firefox and IE.
The value for N of questions is automatically cut down to 50 if the user enters >50 as an input.

[2021-01-20 11:50] metodimilevqa commented on #7612
I confirm there's no such issue with Kolibri 0.14.6rc1

[2021-01-20 12:39] metodimilevqa opened #7751 "Import from Kolibri Studio page - one of the channel cards is not horizontally aligned with all the others"
### Observed behavior

On the Import from Kolibri Studio page one of the channel cards (Citoyennes de la Terre) is not horizontally aligned with all the others. Padding-left needs increase to align it with all the other channel cards.

<img width="570" alt="channelsAlignment" src="https://user-images.githubusercontent.com/72492554/105175734-01653d00-5b2d-11eb-92ff-3554b09cd5cf.png">

### Expected

[2021-01-20 13:52] metodimilevqa commented on #7722
@rtibbles @jonboiser could you please provide precise steps to replicate this in order to be able to verify the fix. Me and Radina tried to replicate this with these steps but we couldn't get a clear idea if the issue is fixed.

[2021-01-20 13:58] metodimilevqa commented on #7397
What exactly is the expected behavior? The one described in pt. 4 above (original post) or something else? We need this in order to verify the fix.

[2021-01-20 16:06] rtibbles commented on #7722
1. Go to device settings and disable Guest Access
2. Go to a specific content item
3. Copy the URL for that content item
4. Logout
5. Go back to the URL for that content item
6. You should now be at a 'content unavailable' page
7. Click to login on the page
8. Login
9. Be redirected back to the content item after login

[2021-01-20 16:18] jredrejo commented on #7725
Focal, Xenial, Bionic and Trusty are built and released. If you need another one, please, let me know it

[2021-01-20 16:30] indirectlylit commented on #7748
Flagging that this might be a tension to bring up in the Design System circle because it involves cross-product consistency. We've had some related prior conversations about how to render lists of items in a single line.

If we choose to consistently separate lists of items in a line using dots, we'll also need to decide on conventional spacing and line-wrapping behaviors.

[2021-01-20 17:51] jonboiser commented on #7749
This looks related to #7750 and #5468 (and many others)

In Khmer orthography, spaces are not used between all words in phrases, which is why that description paragraph in the Khan Academy card has several long, unbroken strings. The original message in the code is also unbroken:

[code]

And as noted in #5468, long strings like this can sometimes overflow their container. But it seems that there

[2021-01-21 05:35] arky commented on #7725
Thanks @jredrejo Our deployments are done on Raspberry Pi OS Lite (based on gnu/Debian Buster).

https://downloads.raspberrypi.org/raspios_lite_armhf/images/raspios_lite_armhf-2020-12-04/2020-12-02-raspios-buster-armhf-lite.zip

[2021-01-21 06:53] metodimilevqa commented on #7749
Just a detail - seems that Chrome handles it correctly in Windows 7
<img width="578" alt="2021-01-21_084953" src="https://user-images.githubusercontent.com/72492554/105311347-1510b200-5bc6-11eb-96e5-4a1bb2f6bdde.png">

[2021-01-21 07:50] metodimilevqa commented on #7722
I confirm the fix with the above steps. Thanks @rtibbles

[2021-01-21 08:22] jredrejo commented on #7725
Using Buster you can choose between different ppa series. I hope you're done with the ones I released, if not, I can add the one you need.

[2021-01-21 12:48] metodimilevqa opened #7752 "Manage Lesson Resources > Search Results page - filter by channel drop-down is partially hidden when no results meet the criteria"
### Observed behavior

On the Manage Lesson Resources > Search Results page - there's an UI issue with filter by channel drop-down. It is partially hidden when no results meet the criteria.

![filterDDchannel](https://user-images.githubusercontent.com/72492554/105353258-b2380e80-5bf7-11eb-90c9-8b3fac7ec6d0.gif)

### Expected behavior

The drop-down must be fully visible in case of no results meeti

[2021-01-21 19:27] jonboiser commented on #7749
This might be a general problem with SE Asian languages. Here's a group that is investigating the issue

https://github.com/w3c/sealreq (see issue 34, which I'm not linking so it won't junk up their issue tracker).

This comment might lead to a possible solution:

Basically, some browsers (like Chrome) might have a Khmer dictionary that helps them find words in these long unbroken strings. If that

[2021-01-22 07:35] metodimilevqa opened #7753 "Create Lesson/Quiz > Search results - on-click the search field X icon the user is not redirected to the page with all channels"
### Observed behavior

When the user manages Lesson or Quiz resources and makes a search on-click the search field X icon the user is not redirected to the page with all channels but remains on the search results page. Related to #7638

![Video-2021-01-21-140507](https://user-images.githubusercontent.com/72492554/105460888-1b219400-5c95-11eb-9b3e-011808369518.gif)

### Expected behavior

On-click

[2021-01-22 08:54] metodimilevqa opened #7754 "Learn > Search > Search results page - Type and Channels filter drop-downs not working after the X icon in the search field is clicked"
### Observed behavior

On the Learn section when the user makes a search and the Search results page loads the Type and Channels filter drop-downs stop working after the X icon in the search field is clicked.

![Video-2021-01-22-103900](https://user-images.githubusercontent.com/72492554/105468147-51641100-5c9f-11eb-97a3-118f36e09373.gif)

### Expected behavior

The Type and Channels filtering is w

[2021-01-22 11:14] metodimilevqa opened #7755 "Learn > Search > Search results page - resource multiple locations modal has UI issue under IE"
### Observed behavior

On the Learn > Search > Search results page the modal which toggles on-click the multiple locations link has UI issue under Internet Explorer. The modal is not fully displayed on first click the multiple locations link and when the browser window is resized then the modal gets displayed in its full scale. When the modal is closed and the N locations link is clicked again the

[2021-01-22 13:02] metodimilevqa opened #7756 "HTML5 Funza content isn't displayed correctly in Internet Explorer"
### Observed behavior

The HTML5 Funza content isn't displayed correctly in Internet Explorer. The app container remains black and no content is shown. An error is seen in the console.

<img width="578" alt="funzaIssueIE3" src="https://user-images.githubusercontent.com/72492554/105493387-014a7600-5cc2-11eb-8952-1875d0f0a2d6.png">

### Expected behavior

The HTML5 Funza app is displayed correctly.

[2021-01-22 13:23] metodimilevqa commented on #5499
I experience the same issue currently with Kolibri 0.14.6rc1 on Windows 7 VM and browser Firefox (latest).

[2021-01-22 13:47] radinamatic opened #7757 "Pages scrollbar on ASB (HTML5) books disappears after using side arrows for page navigation"
### Observed behavior
Scrollbar on African Story Books is there and usable upon entering the page, but disappears after user starts to navigate by arrows on each side. Happens on both Chrome & Firefox, scrollbar does not _reappear_ when the user navigates back to the beginning, but only if they reload the page.

![asb-scrollbar](https://user-images.githubusercontent.com/1457929/105497771-9861fe80-

[2021-01-22 14:21] metodimilevqa commented on #7591
Currently the issue is also experienced with Kolibri 0.14.6rc1, Windows 7 vm, IE 11.0.9600.

[2021-01-22 14:29] metodimilevqa opened #7758 "Videos don't play smoothly in IE 11"
### Observed behavior

All the videos in Internet Explorer 11 don't play smoothly and lag.

### Expected behavior

Videos in IE11 are played smoothly.

### Steps to reproduce

Preconditions: Video resources imported
1. Login to Kolibri using IE11
2. Click the Learn section in the hamburger menu
3. Click the Channels tab
4. Click a channel containing videos
5. Click a video to load its page
6. See

[2021-01-22 19:00] jonboiser commented on #7753
I flagged this as possibly an inaccurate Gherkin story in #7587. I don't believe the "X" button should take you to a different page. It should only clear out the search bar so the user can do a new search.

If we want to go back to the Channels Page, this should be done through a link that explicitly says "Back to channels" or something like that.

[2021-01-22 21:27] radinamatic commented on #7587
@metodimilevqa Let's include this change in the current PR with Gherkin updates, which will close #7753.

[2021-01-24 19:30] #7725 closed, assigned to DXCanas, jonboiser

[2021-01-24 19:30] jonboiser commented on #7725
This should be fixed in 0.14.6

[2021-01-25 13:48] jredrejo opened #7759 "Investigate & Replicate: Pdf rendering cuts half of the page"
## Acceptance Criteria

- [ ] Determine if this is specific to the nature of the file used (is this a content problem or a bug we can address?). One way to test is to use pdftk's dump_data to see the PageMedia metadata to see if they are affecting the size.
- [ ] If this is a bug and not due to the content itself, either: 1 )Fix the issue if it is easy to resolve or 2) Create a subsequent issue (c

[2021-01-25 19:24] dylanmccall opened #7760 "Kolibri fails to start if the timezone is detected incorrectly"
### Observed behavior

In some environments, the time zone offset detected by tzlocal may not match the time zone offset of Python's `time.localtime()`. In that case, tzlocal's `get_localzone()` raises a `ValueError` exception: https://github.com/regebro/tzlocal/blob/c5282c6feded0d576937c0dcdf1f4fd00a95fbee/tzlocal/utils.py#L34-L46.

### Expected behavior

It looks like Kolibri handles an `Unknown

[2021-01-26 13:25] metodimilevqa opened #7762 "A horizontal green line appears on Kolibri App Setup Wizard page and other pages randomly"
### Observed behavior

Sometimes a horizontal green line (spanning end to end) appears on Kolibri App Setup Wizard page and other pages randomly after the setup is completed.

<img width="960" alt="greenLine" src="https://user-images.githubusercontent.com/72492554/105850559-8f886a00-5fea-11eb-9199-292267dee607.png">
<img width="960" alt="2021-01-26_152227" src="https://user-images.githubuserconten

[2021-01-26 15:28] metodimilevqa opened #7763 "High CPU load experienced while importing resources in Kolibri App"
### Observed behavior

A high CPU load is experienced while importing resources to Kolibri App. Furthermore, the app lags a lot while interacting with it.

![highCPU (1)](https://user-images.githubusercontent.com/72492554/105865150-4db3ef80-5ffb-11eb-94b0-8fbfaf692dfc.gif)

### Expected behavior

The app isn't lagging while interacting with it and the CPU load levels are normal, below 50%.

### Us

[2021-01-26 16:50] kollivier commented on #7763
@metodimilevqa This is expected for right now, as both the server and the app itself are running in the same process. On platforms that support it, including Windows, we have plans to move the server into a separate process. This should help keep server activity from bogging down the app.

[2021-01-26 17:22] jredrejo opened #7764 "Resources are not completed, even after waiting for 53 minutes"
### Observed behavior

In Chile UNW servers, after upgrading from 0.12.9 to 0.14.3 they have seen that after a long time waiting for the resources to be completed they are not marked

### Expected behavior
Completion time should be within the times set in the algorithm (5 minutes in apps, 30 seconds/page in pdf files)

### User-facing consequences
Users can't progress in their learning path

### E

[2021-01-26 20:25] jonboiser commented on #7759
This looks related to (but the inverse of) #5917 (here the PDFs are rendered as too wide because of a few landscape-orientation pages). The docs in the School In a Box (SIB) channel are all landscape-orientation pages of a slideshow, but are being fit into a portrait-orientation page.

This issue #1971 points to a possible fit-page-to-screen API in PDF.js that might be useful. My hunch is that we

[2021-01-26 20:37] jonboiser commented on #7762
I believe this is a windows and/or IE11-only issue. It would be really helpful to understand what element is being underlined here, since probably the hack would be to give that element a `tabindex=0` attribute.

The underline is actually a full outline around the entire mystery element (like we do when keyboard-focusing buttons and links). It's just the top and side borders are cut off by the win

[2021-01-26 20:49] jonboiser commented on #7758
@metodimilevqa Is the video performance more smooth on different browser (but on the same Win7 VM)?

[2021-01-26 21:27] micahscopes opened #7765 "Newly imported content doesn't show up in 'Learn' tab channel list"
### Observed behavior
I imported some topics from a local instance of Studio.  Importing appeared to complete, but the content isn't easily accessible in the 'Learn' tab.  Some of it appears to be accessible going through the search and recommended tabs, but isn't consistently available.

### Expected behavior
I expect newly imported content to show up immediately and to be accessible right away.

[2021-01-26 23:01] indirectlylit commented on #7765
see also https://github.com/learningequality/kolibri/issues/6653

[2021-01-27 07:08] metodimilevqa commented on #7758
@jonboiser Yes, videos are played more smoothly in Chrome and Firefox (the same Win7 VM).

[2021-01-27 09:00] metodimilevqa commented on #7758
Just a detail - the same issue is also experienced with the Kolibri App

[2021-01-27 09:36] metodimilevqa opened #7767 ""Import and export users" section in Facility > Data should not appear in the Windows Kolibri App"
### Observed behavior

In Kolibri App, on the Facility > Data page the Export Users functionality is not working. On-click the Export button nothing happens.

@kollivier, a question to clarify the importance of this issue: Is the local export of users in the app context disabled as it is with the local export of users under the Android app?

![usersExport](https://user-images.githubusercontent.com

[2021-01-27 12:47] jredrejo commented on #7767
hi  @metodimilevqa is this a problem you found only in windows 10 or you can reproduce it in other OS too?

[2021-01-27 12:52] metodimilevqa commented on #7767
Hi @jredrejo. The current testing session addresses the Kolibri app under Windows 10, I didn't do any tests with Windows 7 for example or other OSes. I could check Windows 7 as well but I'll need some setup time before doing the check

[2021-01-27 13:17] metodimilevqa opened #7768 "FilterTextBox component displays two clear icons on IE11"
### Observed behavior

Kolibri App > Device > Permissions page - two X icons are seen in the search bar

In Kolibri App there are 2 separate X icons to clear the search field queries on the Device > Permissions page. Both are active and functional.

<img width="960" alt="doubleXbutton" src="https://user-images.githubusercontent.com/72492554/105996096-91b5fb80-60b2-11eb-9250-5ebf74755a9d.png">

###

[2021-01-27 13:19] jredrejo commented on #7767
@metodimilevqa if you can test other windows versions it would be great. I can't reproduce the problem on Linux and I'd like to know if it is a windows 10 only problem.
By chance, did you have any antivirus enabled that might have blocked the creation of the exported csv in your filesystem?

[2021-01-27 13:22] metodimilevqa commented on #7767
@jredrejo OK, I'll do the check in Windows 7 and will update you about the result. No antivirus enabled on both host and guest machines.

[2021-01-27 13:35] radinamatic commented on #7768
Can you replicate this in the browsers?

[2021-01-27 13:39] metodimilevqa commented on #7768
@radinamatic, if you mean the host machine browsers - I only experience it under IE. Chrome, FF and Edge are fine

[2021-01-27 13:48] metodimilevqa commented on #7767
@jredrejo, an update - I confirm the issue is also experienced with Windows 7

[2021-01-27 15:02] metodimilevqa opened #7769 "Kolibri App - Navigation issue after Search on the Learn > Channels/Recommended pages"
### Observed behavior

Seems like there's a navigation issue in Kolibri App when the user makes a search from the Learn > Recommended > Most popular page or from the Learn > Channels page. For example, if I watch a video and then close it's page from the X icon and then I do a search, after I click the X icon to close the search results page I'm not brought back to Recommended > Most popular page

[2021-01-27 16:31] kollivier commented on #7767
If it's in the app, the bug is that the Export Users section is visible. The app doesn't support downloading or uploading files yet.

[2021-01-27 18:02] jredrejo commented on #7767
ah, I hadn't seen the "app" word :(
That explains why I could not reproduce it in Linux as there's not a Linux app ...

[2021-01-27 18:05] khangmach commented on #7769
I'm not sure why we redirect the user to the previous content page and I imagine this would look even more buggy and confusing to a user. Good catch

[2021-01-28 07:45] metodimilevqa opened #7772 "Kolibri App - SCORM resource freezes on loading screen, but the resource is marked as completed after some time"
### Observed behavior

Kolibri App > the SCORM content items in the Kolibri QA Channel - a SCORM resource freezes on loading screen and if it stays like that long enough the resource is marked as completed.

<img width="960" alt="scoemIssue" src="https://user-images.githubusercontent.com/72492554/106105774-2ff69f80-614d-11eb-81cf-76412fc964ae.png">

### Expected behavior

SCORM content loads with

[2021-01-28 07:54] metodimilevqa opened #7773 "Kolibri App > Kolibri QA Channel - Slides content item gets a black background-color in fullscreen mode"
### Observed behavior

In Kolibri QA Channel the Slides content type gets a black background color in fullscreen mode and it doesn't look good in terms of UI.

![blackBGfullScreen](https://user-images.githubusercontent.com/72492554/106106365-16a22300-614e-11eb-8b78-bc7dc404716d.gif)

### Expected behavior

In Kolibri QA Channel the Slides content type keeps the white background color in fullscreen

[2021-01-28 16:23] rtibbles commented on #7772
Note that we think there are two issues here:

1. SCORM content will not render properly in 0.14.x without a special configuration that allows for the SCORM API to be accessed. This is fixed in current develop branch.
2. Currently we only suspend 'time based' flagging for SCORM content once we have received a signal from inside the SCORM content that it indicates it is progress tracking. We might

[2021-01-28 19:05] jonboiser commented on #7759
@jredrejo When I download the file, I actually get a PPTX (powerpoint) file. But, when I tried to see if this was a problem with PPTX in general, I found I couldn't even upload one to my channel on Studio.

Do you think this is just a matter of trying to display an unsupported file format?

[2021-01-28 19:53] jonboiser commented on #7773
This seems to be expected behavior, because most browsers give content a black background when in fullscreen mode:

![CleanShot 2021-01-28 at 11 53](https://user-images.githubusercontent.com/10248067/106191247-77862700-615f-11eb-94d0-30a66435b608.png)

And it looks like some of the images in this slide show are just transparent, like the Kolibri Logo.

@jtamiace @nucleogenesis Do you think in the

[2021-01-28 20:00] jonboiser commented on #7767
@kollivier I renamed the issue. Can I assign this to you? I'm guessing it's something to do with the user agent string test that's used to infer whether we're in "app" mode or not?

[2021-01-29 00:22] #7760 closed, assigned to nobody

[2021-01-29 00:28] #7334 closed, assigned to jonboiser

[2021-01-29 00:30] #7649 closed, assigned to nobody

[2021-01-29 01:04] jonboiser commented on #7751
I think this would be resolved once some thing like the responsive img component is implemented https://github.com/learningequality/kolibri-design-system/issues/23. Currently, this part of the app just tries to assume that the channel thumbnails coming from the Studio public API are of the same dimensions.

I think, typically, what people would do is make the container for the thumbnail a fixed si

[2021-01-29 18:20] jonboiser commented on #7643
I'm not able to reproduce this issue right now. I believe that this might be a misunderstanding stemming from the behavior that the skip link goes to the "Lesson title" header and not to the drag handles for resources.

[2021-01-29 18:20] #7643 closed, assigned to nobody

[2021-01-29 18:38] #2975 closed

[2021-01-29 18:39] #4157 closed, assigned to nobody

[2021-01-29 18:59] jonboiser commented on #6427
This doesn't look like an issue right now. This might have been caused by a similar font files issue that was causing problems with our South and South East Asian locales in 0.14.5.

[2021-01-29 18:59] #6427 closed, assigned to nobody

[2021-02-01 17:11] jredrejo opened #7776 "Video can't be forwarded in h5p_viewer in Google Chrome"
### Observed behavior
When using Chrome to watch a video that's inside a h5p container, when clicking on the video timeline to move to a different point the video always goes back to the beginning. THere's no way to jump to a new position

Using Firefox (both normal and developer version) this feature works correctly.

### Expected behavior
The video timeline should allow the user to move to diffe

[2021-02-01 17:19] rtibbles commented on #7776
We would need to add byte range support to the zipcontent endpoint in order to support this. This might be better addressed by productionizing the clientside H5P rendering prototype I have created, as I believe (though I can't find conclusive documentation) that the blob URLs it uses in the client side should support these byte range requests.

[2021-02-01 17:28] kollivier commented on #7776
Note that this happens for any HTML5 content, not just H5P. (Videos in SCORM modules had the same problem.)

[2021-02-01 17:28] jredrejo commented on #7776
@rtibbles why is it working in Firefox? is it just because it is a better browser ;) ?

[2021-02-01 17:31] rtibbles commented on #7776
The fact that it is working in Firefox is the part that is confusing to me! (I have no idea)

[2021-02-01 17:33] rtibbles commented on #7776
@kollivier's point about this happening in other zip content types suggest we may want to try to support this for the zipcontent endpoint regardless - I think we *can* do this, but we'd have to reimplement CherryPy's byte range requests in that endpoint.

[2021-02-01 17:43] kollivier commented on #7776
It makes sense that seeking should be possible once the full video has been downloaded, as at this point all data is cached locally and we shouldn't need to call back to the server to fetch the part of the video we're seeking to. I think this is actually a Chrome bug, though not sure the cause of it.

[2021-02-01 19:08] #7765 closed, assigned to nobody

[2021-02-01 21:29] jonboiser commented on #7769
@metodimilevqa I created a PR that should fix this issue here: https://github.com/learningequality/kolibri/pull/7777

Would you mind testing it?

[2021-02-01 23:12] jonboiser commented on #7362
I just noticed that this is the expected behavior according to this Gherkin story

https://github.com/learningequality/kolibri/blob/64f1439972b7d6994bfe37dbd81fa46298834449/integration_testing/features/learner/learner-profile-update-notification.feature#L22-L31

[2021-02-01 23:37] jonboiser commented on #7362
@metodimilevqa Would you mind testing #7778 to confirm that it fixes this bug?

[2021-02-02 15:51] metodimilevqa commented on #7769
@jonboiser I confirm the issue is fixed with version 0.14.7.

[2021-02-02 16:19] radinamatic opened #7779 "Download the latest strings from Crowdin (0.14.7)"
### Observed behavior
There have been some [string updates and corrections on Crowdin](https://learningequality.slack.com/archives/CAVFL3J67/p1611135853008200), let's make sure to include them in the next release.

### Expected behavior
…

### User-facing consequences
…

### Errors and logs
…

### Steps to reproduce
…

### Context
…

[2021-02-08 12:07] metodimilevqa commented on #7362
@jonboiser I confirm the fix is successful. After the user is prompted to update profile info and after this is done, the user is redirected to the Learn page:

![Video-2021-02-08-133423](https://user-images.githubusercontent.com/72492554/107217526-f52b1c00-6a16-11eb-8752-356a45d948a6.gif)

[2021-02-08 18:04] #7362 closed, assigned to jonboiser

[2021-02-08 18:25] #7769 closed, assigned to jonboiser

[2021-02-09 02:54] #5243 closed, assigned to jonboiser

[2021-02-09 18:08] indirectlylit commented on #5243
nice, paying down that debt

[2021-02-09 18:39] jonboiser commented on #4771
There doesn't look like there's any more missing-glyph "tofu" on the subtitles, But there do look like some problems with placing the diacritics (see the dotted circles):

**from the same KA video**
![image](https://user-images.githubusercontent.com/10248067/107410277-ec435480-6ac1-11eb-902e-d83f35e3aa19.png)

The same problems appear when simply viewing the VTT file in a text editor. This is the

[2021-02-09 18:39] #4771 closed, assigned to nobody

[2021-02-09 18:47] jonboiser commented on #6405
This is an upstream issue with how the description for KA Fufulde is generated.

[2021-02-09 18:47] #6405 closed, assigned to nobody

[2021-02-09 19:33] jonboiser commented on #7381
I'm not able to reproduce this on kolibri-beta server, so I'll close this for now.

[2021-02-09 19:33] #7381 closed, assigned to nobody

[2021-02-09 20:12] jonboiser commented on #4370
Codecov has been disabled for now. If we bring it back, let's make sure the coverage reports make more sense.

[2021-02-09 20:12] #4370 closed, assigned to nobody

[2021-02-09 21:19] jonboiser commented on #6044
I looked through all the relevant Python code and it seems like we do this everywhere, except possibly this one spot. Should we be passing `urls='","'.join(urls)` through `json.dumps` as well?

https://github.com/learningequality/kolibri/blob/5eaeaee31d5e2b3a810662129ed0dae3d9204bc8/kolibri/core/webpack/hooks.py#L408-L414

[2021-02-09 21:23] rtibbles commented on #6044
Might be safer - we would need to change this to something like:
[code]
Or whatever the appropriate double `json.dumps` code is?

[2021-02-09 21:28] jonboiser commented on #6044
I think the single `json.dumps` looks right, since the code that gets interpolated results in the urls argument being evaled to an array.

In python repl:
[code]

In Node repl:
[code]

[2021-02-09 21:38] jonboiser opened #7785 "When importing Facility Data from peers, Network Locations that are not Kolibri instances should not be shown"
### Observed behavior

Because code is shared between the Facility-import and Content-Import workflows, you see the same list of network locations. However, instances of Studio only have content and should only be shown in the Content-Import workflow.

![image](https://user-images.githubusercontent.com/10248067/107431715-b27f4780-6adb-11eb-8968-e9bb14b821bc.png)

### Expected behavior

1. Kolibri

[2021-02-09 21:44] rtibbles commented on #6044
The rationale for the double `json.dumps` (which needs a bit more than I put) is described here: https://github.com/learningequality/kolibri/pull/6020/files?file-filters%5B%5D=.py#r344478274

And is still what we are using here: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/core/webpack/hooks.py#L276

The extra `'` wrapping when parsing in the Node repl is what this is m

[2021-02-10 19:10] jonboiser opened #7787 "Add Python 3.8 to `setup.py` for 0.14.7 release"
Add Python 3.8 to this section to match tox

https://github.com/learningequality/kolibri/blob/release-v0.14.x/setup.py#L105

[2021-02-12 16:30] lauradanforth opened #7788 "Issue downloading Summary log CSV reports in 0.14.6"
Reported by UNW Chile:

### Observed behavior
They were unable to download the summary logs on all facilities except for INFOCAP (which downloaded successfully) on the [UN Women Chile server](https://chile-kolibri.mylearningpathway.org/). I'm not sure if it's related, but I've noticed INFOCAP is sometimes the only facility that has issues auto-syncing to KDP.

This is the error seen when trying to

[2021-02-12 23:09] #7787 closed, assigned to jonboiser

[2021-02-12 23:12] jonboiser commented on #6044
It's probably best not to mess with this, if it's working. It looks like all of the other places we manually construct template code are safe.

[2021-02-12 23:12] #6044 closed, assigned to nobody

[2021-02-13 00:19] rtibbles commented on #6044
Yeah, this specific instance is only for arrays of URLs, which is a significantly more constrained data set than the other instances we've had to deal with.

[2021-02-15 16:47] rtibbles commented on #5071
Have been looking into this more - I think one of the key advantages to whitenoise over cherrypy that I see is the option to serve precompressed static files from disk.

This would allow us to precompress static files using zopfli prior to distribution, without having to worry about a C-dependency in our runtime environment.

This would also mean that we are no longer gzipping our assets dynamical

[2021-02-15 17:24] jredrejo opened #7790 "Some issues with the h5p viewer plugin"
### Observed behavior
After testing h5p content with the plugin enabled some issues have appeared:
1. h5p video activities can take a long time to load (probably they can't stream and load the whole video before beginning to play it) and while loading the user does not have any feedback, it looks like a broken app
2. In Google Chrome there's no way to go forward/backward in the video, whenever the

[2021-02-15 17:29] rtibbles commented on #7790
This is probably a combination of general H5P issues and the video specific issue. H5P, pretty much by design, loads many many static assets all at once. The canonical PHP implementation of H5P gets around this by doing backend asset bundling, so that not as many files are served, but our Python implementation does not do this.

In addition, as you pointed out, the backend the videos are being ser

[2021-02-15 17:42] rtibbles commented on #7790
Solutions for this:

1. Updating the zipcontent backend to support byte-range requests - this should fix the video specific issue.

2. Client side rendering of H5P files - I have a prototype implementation of this, which would allow us to skip the zipcontent backend entirely for H5P files, and remove the issue of having to load hundreds of files to render a single H5P experience.

[2021-02-15 23:39] rtibbles opened #7791 "Use WhiteNoise and precompression to serve static assets"
### Observed behavior
We currently serve static files using CherryPy, and gzip them on the fly every time they are served.

This results in a performance cost.

### Expected behavior
We should:

* Use `compression-webpack-plugin` https://v4.webpack.js.org/plugins/compression-webpack-plugin/ to precompress our built static assets using zopfli
* Use our JS build pipeline to also do a pass over other

[2021-02-15 23:45] rtibbles opened #7792 "Remove need to run collectstatic by using WhiteNoise to serve assets directly from their static directories"
### Observed behavior
We currently have to run collectstatic in order to move all static files into a single location. This makes an upfront startup cost, and occasionally means that incorrect static files are available.

We have already added a small workaround to make symbolic links instead of copying files to reduce disk space impact on some platforms.

### Expected behavior
We should read and

[2021-02-16 00:29] rtibbles commented on #5071
I have created two follow up issues based on this:
https://github.com/learningequality/kolibri/issues/7791
https://github.com/learningequality/kolibri/issues/7792

Closing this in favour of the two above.

[2021-02-16 00:29] #5071 closed, assigned to nobody

[2021-02-16 15:13] metodimilevqa opened #7793 "Kolibri App > Upgrade available modal - "Learn more and download it here" link doesn't open the download page"
### Observed behavior

In Kolibri App, the Upgrade available modal - "Learn more and download it here" link doesn't open the download page. On-click the link nothing happens.

<img width="960" alt="2021-02-16_110739" src="https://user-images.githubusercontent.com/72492554/108081861-196fa400-707a-11eb-99ff-721946d9558d.png">

### Expected behavior

Clicking the "Learn more and download it here" lin

[2021-02-16 17:14] jredrejo commented on #7788
@rtibbles  I have been able to reproduce the problem in a normal filesystem inside a Docker container running the same image kolibri cloud uses. It happens the issue is on the linux environment (lack of language vars) and it's impossible to create any file or dir with accents in the name. Theorically this will never happen in a "normal" system.

[2021-02-16 17:16] rtibbles commented on #7791
In testing, using plain zlib gave ~ 80% reduction in asset size for a test asset.

Using zopfli gave ~ 81% reduction in asset size for a test asset.

Zopfli also took 5 times as long which would slow down our build times considerably.

For now, just sticking with plain zlib.

[2021-02-16 17:19] rtibbles commented on #7788
Could we add a defensive capability check in Kolibri too, just in case we run across non-utf8 enabled file systems? (and change the filenames accordingly)

[2021-02-16 17:49] nucleogenesis commented on #7773
I'm pretty sure the black background was intentional.

I am seeing a different issue, however, that two slides are showing at the same time when in Fullscreen but only one should. The images should take up as much space as they can without distorting their aspect ratio and be centered.

Perhaps this issue should be converted to instead address that issue - or another issue can be made.

[2021-02-16 18:46] #7641 closed, assigned to nucleogenesis

[2021-02-16 19:53] indirectlylit opened #7794 "Many component props do not have a default value"
### Observed behavior

In an update to the design system, noticed that we have the [`vue/require-default-prop`](https://eslint.vuejs.org/rules/require-default-prop.html) linter rule disabled:

https://github.com/learningequality/kolibri/blob/ce8a5899b491b21827754fa91f0678ecd8fe3b05/packages/kolibri-tools/.eslintrc.js#L88

### Expected behavior

* The `vue/require-default-prop` linter rule should b

[2021-02-16 20:18] jonboiser commented on #7596
I think this has been fixed in #7745, which dealt with the lack of validation in the "number of questions" field. In manual testing, I'm not able to finish a quiz at any point without providing a valid "number of questions" or title property for the quiz.

[2021-02-16 20:18] #7596 closed, assigned to nobody

[2021-02-17 04:32] #7788 closed, assigned to aronasorman, jredrejo, rtibbles

[2021-02-17 18:34] jonboiser commented on #7793
@metodimilevqa Do you have access to any logs for the windows app?

@nucleogenesis @rtibbles If this feature is breaking because maybe the URL didn't come through from telemetry, it might actually be a good idea to hard code the link in the component as a fallback since it really doesn't change from release to release. It's always (www.learningequality.org/download)

[2021-02-17 18:39] kollivier commented on #7793
@jonboiser The Kolibri app doesn't have a way currently to open external URLs. Even if it did, there would be no Windows app in the downloads page to upgrade to because we don't have portable app releases yet.

The apps should be getting excluded from update notifications, so if these are active again we will have to figure out why this is happening. The Endless Key v1 Windows app will crash if it

[2021-02-18 08:55] metodimilevqa commented on #7793
@jonboiser Yes, I have access to the logs

[2021-02-18 15:44] metodimilevqa commented on #7793
@jonboiser Here are the log files:
[kolibri.txt](https://github.com/learningequality/kolibri/files/6004029/kolibri.txt)
[kolibri-app.txt](https://github.com/learningequality/kolibri/files/6004030/kolibri-app.txt)

[2021-02-18 16:47] jonboiser opened #7799 "Full NotoSansGujarati and NotoSansTelegu WOFF files are being downloaded for all locales except ko and zh-hans and km"
### Observed behavior

View Kolibri in English, French, Spanish, Russian, etc. These noto-full woff files for Gujarati and Telegu are downloaded. It's only in Khmer, Korean and Simplified Chinese that this doesn't happen.

Screenshots from kolibri-beta.learningequality.org. There are slight differences in how the two browsers here handle this. I'm finding that when refreshing multiple times, Firef

[2021-02-18 16:55] jonboiser commented on #7793
@kollivier Is there a way to disable this feature in the front-end code only for Windows apps?

[2021-02-18 17:25] kollivier commented on #7793
@jonboiser Not that I'm aware of, though I think such a thing could be useful. We still have to address it from telemetry anyway because we can't update the Endless Key version of the apps.

Telemetry should have logic to exclude these builds, and when I tested a few days ago it seemed to be working, but I can check again today.

[2021-02-18 20:03] #7764 closed, assigned to jredrejo

[2021-02-19 01:17] jonboiser commented on #7754
@metodimilevqa PR #7801 should fix this issue by re-inserting the search term if the user clears it, then changes a filter. Could you please QA the changes?

[2021-02-19 02:10] jonboiser commented on #7799
I'm noticing that the languages this does work correctly on are the ones we introduced just recently. So basically, it seems like the `noto-subset.css` files for those three languages are correct, whilst the other languages might not be, hence the browser is having to download the full font files for Gujarati and Telegu.

Maybe when we download the new messages and update these assets for #7779  ,

[2021-02-19 15:13] metodimilevqa commented on #7754
@jonboiser I confirm the fix is successful with Kolibri 0.14.7a1.dev0+git.6.ge1688aad

[2021-02-19 19:16] jonboiser opened #7802 "Add something like `is_leaf` Boolean field to serialized ContentNodes to replace common "leaf or branch" checks in JS code"
In the `ContentNodeViewSet` (and other related viewsets), it would be nice to have a field like `is_leaf` that returns `true` whenever the node is a resource/leaf and `false` if it is a topic or a channel.

There are dozens of places in the JS code where we have to check if this is the case based on the `kind` field that could be simplified if we had this field.

![image](https://user-images.githu

[2021-02-19 20:00] kollivier opened #7803 "Move automatic device provisioning feature from apps into Kolibri"
### Description

The Kolibri app has a feature where it can automatically provision a device if a file named `automatic_provision.json` exists in `KOLIBRI_HOME` and contains provisioning information. (This function exists in `src/kolibri_tools/utils.py` in the app repo.

It was decided that this functionality would be useful for non-app installations as well, and should be moved into Kolibri prope

[2021-02-19 20:45] rtibbles opened #7805 "Add hashing to font CSS and WOFF generation steps"
### Observed behavior
Currently the CSS files and WOFF files generated by our `fonts.py` utility does not add any kind of version information to the file names.
This makes determining appropriate caching for these files difficult.

### Expected behavior
The files should be generated in a way that includes the 32 digit hex checksum as part of the filename for both the CSS and WOFF files.

Preferabl

[2021-02-19 22:20] #7791 closed, assigned to nobody

[2021-02-19 23:36] jonboiser commented on #1291
Added to the list of [backburner issues](https://github.com/learningequality/kolibri/discussions/7806)

[2021-02-19 23:36] #1291 closed

[2021-02-19 23:37] jonboiser commented on #1951
Added to the list of [backburner issues](https://github.com/learningequality/kolibri/discussions/7806)

[2021-02-19 23:37] #1951 closed

[2021-02-19 23:38] jonboiser commented on #2200
Added to the list of [backburner issues](https://github.com/learningequality/kolibri/discussions/7806)

[2021-02-19 23:38] #2200 closed

[2021-02-19 23:48] jonboiser commented on #5628
Added to the list of [backburner issues](https://github.com/learningequality/kolibri/discussions/7806)

[2021-02-19 23:48] #5628 closed, assigned to nobody

[2021-02-19 23:50] jonboiser commented on #4511
Closing as a duplicate of #7805

[2021-02-19 23:50] #4511 closed, assigned to nobody

[2021-02-20 00:43] #7753 closed, assigned to nobody

[2021-02-20 01:30] jonboiser commented on #7902
It would probably be better to use the native dropdowns in the mobile context, since my own experience is generally that the traditional style shown here is not so great on a phone. Moving this to the KDS repository, since I think this is a more general issue re: dropdowns.

[2021-02-20 01:36] jonboiser commented on #6653
Should be fixed by #7766 🎉

[2021-02-20 01:36] #6653 closed, assigned to rtibbles

[2021-02-20 01:49] jonboiser commented on #5146
I think this is something we can just do manually every once in awhile (e.g. every month). I got a free software https://www.screamingfrog.co.uk/seo-spider/pricing/ that found some dead external links, and will make a follow up issue with details.

[2021-02-20 01:49] #5146 closed, assigned to nobody

[2021-02-20 01:49] indirectlylit commented on #7902
Actually `KSelect` is the only K component we left in the Kolibri repo, precisely because of this issue.

Refs:

* https://github.com/learningequality/kolibri/issues/4442
* https://github.com/learningequality/kolibri/tree/release-v0.14.x/kolibri/core/assets/src/views/KSelect

[2021-02-20 01:51] indirectlylit commented on #4442
another instance referenced above

[2021-02-20 01:52] indirectlylit commented on #6653
hooray!

[2021-02-20 01:55] jonboiser commented on #7902
Oops, I just assumed this was implemented with KDropdownMenu

[2021-02-20 01:55] indirectlylit commented on #2200
If we're closing the issue, is 'backburner' the right list? Maybe won't-fix?

[2021-02-20 01:57] jonboiser opened #7807 "Fix dead external links in kolibri-dev and kolibri (user) docs"
We need to update some dead links in the documentation:

Dead links in kolibri-dev docs:

* https://pex.readthedocs.io/en/stable/
* https://kolibri-dev.readthedocs.io/pipeline/frontend_build_pipeline
* https://kolibri-dev.readthedocs.io/en/develop/build_system/Pipeline_vocab_illustrated.png
* https://formatjs.io/docs/icu-syntax/
* https://github.com/learningequality/kolibri-release-process/ (priva

[2021-02-20 02:02] jonboiser commented on #2200
Yeah, most likely "backburner" is equal to wont-fix in practice, esp. if the issue hasn't moved forward in a couple years. I'm just trying to get the issue list down to a more manageable size.

[2021-02-23 01:33] jonboiser commented on #5091
This looks to be working for me right now, but the DX isn't great: webpack hosts multiple resources for a single JS/Vue file, and you need to find the one without a `?hash` in its URL to get the real JS source.

![CleanShot 2021-02-22 at 17 27 35](https://user-images.githubusercontent.com/10248067/108791482-09513c00-7534-11eb-8a23-e28dacb667db.png)

[2021-02-23 01:33] #5091 closed, assigned to nobody

[2021-02-23 01:47] #7754 closed, assigned to jonboiser

[2021-02-23 02:00] jonboiser commented on #6676
Fixed in #7552

[2021-02-23 02:00] #6676 closed, assigned to nobody

[2021-02-23 02:13] jonboiser commented on #6573
This looks to be fixed in the current pre-release 0.14.7a2. This might have had the same root cause #7765, where the wrong cache was being updated as a side-effect of modifying the content library.

[2021-02-23 02:13] #6573 closed, assigned to nobody

[2021-02-23 08:51] metodimilevqa opened #7809 "Create new user - Username & Password fields are prefilled with the superadmin credentials"
### Observed behavior

Onclick "New user" button the Username & Password fields are initially prefilled with the superadmin credentials and the error message "Username already exists" is displayed right away.

![Video-2021-02-23-103524](https://user-images.githubusercontent.com/72492554/108820129-672d6480-75c4-11eb-8f92-b9b3348c6a8a.gif)

### Expected behavior

Onclick "New user" button no fields

[2021-02-23 09:32] metodimilevqa commented on #7754
@jonboiser I again experience this issue with Kolibri 0.14.7a2; Chrome, FF, Edge.

[2021-02-23 11:04] metodimilevqa opened #7810 "Under specific scenario the "Passwords do not match" assertion is not working and learner user is still able to login"
### Observed behavior

If a learner user is created in superadmin profile while the "Require password for learners" is unchecked in Facility > Settings, and after the learner creation is finished and the "Require password for learners" is checked, then this learner user is prompted for password in the first ever login and is able to login with different input in Password and Confirm password field

[2021-02-23 11:40] metodimilevqa commented on #6725
I confirm the issue is also experienced with Kolibri 0.14.7a2. A detail - I have only 3 channels imported and all of them are tagged "New". With 3 channels tagged "New" the reordering isn't reflected at all.

[2021-02-23 14:28] #7809 closed, assigned to nobody

[2021-02-24 23:57] jonboiser commented on #7810
@metodimilevqa This is a good catch. Does this scenario have a gherkin story?

[2021-02-25 07:57] metodimilevqa commented on #7810
Well, as there are many scenarios, I can't tell for sure but I can do a check

[2021-02-25 08:24] metodimilevqa commented on #7810
@jonboiser I conform the fix is successful with #7814, the issue is no longer experienced

[2021-02-25 08:24] #7810 closed, assigned to jonboiser

[2021-02-25 17:23] #7807 closed, assigned to radinamatic

[2021-02-26 20:08] #7131 closed, assigned to jonboiser

[2021-02-26 23:42] indirectlylit commented on #7131
nice!

[2021-03-01 13:12] metodimilevqa opened #7819 "Edit Lesson Details - "Individual Learners" are not displayed when the checkbox is selected"
### Observed behavior

When the user selects the "Individual Learners" checkbox on the Edit Lesson Details page, no users appear for selection no matter there are learners enrolled in the Class which the lesson is assigned to. The issue is also experienced in the Quiz section. A console error appears.

![2021-03-01_145514](https://user-images.githubusercontent.com/72492554/109500908-8a15b800-7a9f-

[2021-03-02 19:30] #6224 closed, assigned to jonboiser

[2021-03-02 19:30] #7652 closed, assigned to jonboiser

[2021-03-02 19:30] #7819 closed, assigned to jonboiser

[2021-03-02 22:43] radinamatic commented on #7652
Looking good on the UNW Chile server (with 0.14.7a4 deployed)! 👍🏽

[2021-03-03 23:27] nucleogenesis commented on #7902
I'm adding myself to this here and put a P0 on it - will leave in KDS as I think that whatever we do to solve https://github.com/learningequality/kolibri/issues/4442 should involve moving `KSelect` into KDS - at least ideally.

[2021-03-04 19:10] jredrejo opened #7824 "After registering a facility in KDP the kdp server is not found"
### Observed behavior
When registering a facility in KDP, there is a button to register and another to sync.
If the facility is registered, clicking on the sync button does not work because no kdp server is found in the network.
After refeshing the browser page, clicking in the button works fine.

### Expected behavior

I expect to be able to sync after registering without manually refreshing the

[2021-03-05 07:32] metodimilevqa commented on #7819
I confirm the issue is fixed with #7820. Verified with Kolibri v0.14.7-alpha4, Windows 10, Chrome (latest).

[2021-03-05 07:58] metodimilevqa commented on #7652
I confirm the fix is successful with #7820. Verified with Kolibri v0.14.7-alpha4, Windows 10, Chrome (latest).

[2021-03-05 13:07] metodimilevqa commented on #6224
I confirm the fix is successful with #7820. Verified with Kolibri v0.14.7-alpha4, Windows 10, Chrome (latest).

[2021-03-05 13:18] metodimilevqa commented on #7131
I confirm the fix is successful with #7820. Verified with Kolibri v0.14.7-alpha4, Windows 10, Chrome (latest).

[2021-03-05 15:42] erikos opened #7825 "Kolibri: seeking issues with videos"
### Observed behavior

When seeking videos from Sikana TV I can trigger a playback error. This can either happen when actively seeking more aggressively but also can be seen when a Video is played for another time. I presume because it has been fully played before it can not be re-played. There is no way one can revoke the playback once in that state.

![](https://phabricator.endlessdevelopment.co

[2021-03-09 19:56] rohitgeddam commented on #7744
I would like to work on this!

[2021-03-09 20:07] jonboiser commented on #7744
Thanks @rohitgeddam! The first thing you should do is get Kolibri running locally using the instructions in the Readme. After getting set up, download some exercises from Khan Academy, since those are needed to make Quizzes.

[Check out the documentation](https://kolibri.readthedocs.io/en/latest/) here for some help on setting up your local Kolibri instance to reproduce this issue and test your so

[2021-03-10 00:11] jonboiser commented on #5375
This is probably stale. Neither of these commands are in the Makefile anymore

To see what happened, you can take a look at the output here
[code]

[2021-03-10 00:11] #5375 closed, assigned to nobody

[2021-03-10 00:13] b-thebest commented on #6590
Can I work on this issue ?

[2021-03-10 00:24] jonboiser commented on #6565
@radinamatic @metodimilevqa Could you see if this is still an issue on the latest versions of Kolibri + Studio

[2021-03-10 00:27] radinamatic commented on #6565
I'd say this has gone bye-bye with all the changes since last year, but we will try to reproduce! 👍🏽

[2021-03-10 08:56] jredrejo commented on #6590
hi, @b-thebest of course you can. I think this is already fixed in 0.14.6 but if you want to take a look, it's completely fine

[2021-03-10 14:35] rtibbles opened #7828 "Render HTML5 custom HTML5 app when it is attached to a topic and it has the CUSTOM_NAVIGATION modality set in its extra_fields"

[2021-03-10 14:36] rtibbles opened #7829 "Implement MVP Hashi Kolibri namespace API Elements"
Implement the following methods and data transfer from Kolibri into Hashi:

- [x]  `getContentByFilter`
- [x]  `navigateTo`
- [x]  `updateContext`
- [x]  `getContext`

See https://github.com/learningequality/kolibri-ecosystem/issues/1 for the detailed API spec.

[2021-03-10 14:38] rtibbles opened #7830 "Create temporary Learn Plugin options flag using options.ini mechanisms to disable custom channel navigation by default"

[2021-03-10 14:38] rtibbles opened #7831 "Design render overlay to render just the content 'in context' of a custom navigation representation"

[2021-03-10 14:39] rtibbles opened #7832 "Implement render overlay for content rendering in context of a custom navigation app"
This render overlay will be used to handle `navigateTo` events coming from a custom HTML5 navigation context.

Design specifications:

https://www.figma.com/file/4QlF8kww5CDUhJIhoIwDrh/Custom-channel-representation?node-id=0%3A1

![custom channel](https://user-images.githubusercontent.com/6668144/112694352-7449a780-8e3f-11eb-8020-162170d883e2.png)

[2021-03-10 14:47] rtibbles opened #7833 "Add `themeRender` and `version` to Hashi `window.kolibri` object"
Implement the following API methods/getters and data flow from Kolibri:

- [x]  `version`
- [x]  `themeRenderer`
- [x]  `getContentById`

See https://github.com/learningequality/kolibri-ecosystem/issues/1 for the detailed API spec.

`themeRenderer` will allow setting of two properties:
* App bar colour - this will specify the colour of the render overlay app bar.
* Text/icon colour - this will spe

[2021-03-10 14:48] rtibbles opened #7834 "Define parameters that allow for custom theming of renderers in line with a custom channel representation"

[2021-03-10 14:48] rtibbles opened #7835 "Implement Hashi Kolibri namespace API for content searching"
Implement the following methods in the API:

- [ ]  `searchContent`

See https://github.com/learningequality/kolibri-ecosystem/issues/1 for the detailed API spec.

[code]

[2021-03-10 23:11] jonboiser opened #7837 "Upgrade kolibri-exercise-perseus-plugin to 1.3.4"
Things to do:

- [x] Publish kolibri_exercise_perseus_plugin==1.3.4 to PyPi
- [x] Update dependency in `requirements/base.txt`
- [x] Apply this change to 0.14 branch https://github.com/rtibbles/kolibri/commit/b8fcd70084380d23af7182d5b80e4849a5d0b93c

[2021-03-11 06:11] ruddi10 commented on #7695
@jonboiser I would like to work on this

[2021-03-11 08:24] shivangtripathi opened #7839 "Issue with development setup"
### Observed behavior

I'm trying to contribute to kolibri codebase and followed all the steps for development setup but I'm getting some error.
Can anyone please help me here  ?
### Errors and logs

[code]

### Steps to reproduce

After cloning the kolibri repo and installing all the dependencies , run yarn run devserver

### Context

Operating system : Ubuntu

[2021-03-11 15:07] pcenov commented on #6565
@radinamatic I'm not able to replicate the above described issue namely the images of questions for which I've changed the mastery model no longer disappear as previously experienced by you. Therefore it seems that we can close this one.

[2021-03-11 15:15] radinamatic commented on #6565
Thank you for testing @pcenov & @metodimilevqa! 💯
As suspected, issue is long gone, will close it now!

[2021-03-11 15:15] #6565 closed, assigned to nobody

[2021-03-11 16:57] jredrejo opened #7840 "Create a new facility metrics table for the projects"

[2021-03-11 16:58] jredrejo opened #7841 "Update the facility names to use the KLabeledIcon component and the facility icon"

[2021-03-11 21:42] nucleogenesis commented on #7642
We should find some examples in the testing channel that have descriptions and share their path in the Gherkin stories.

[2021-03-11 21:48] nucleogenesis commented on #7662
Likely good to use `palette.grey.v_100` for the background as the gray used above is likely the `textDisabled` token which is `palette.grey.v_300`.

[2021-03-11 21:56] ashmeet13 commented on #7839
Hi!
I was facing this same issue. I believe this was since before running `yarn run devserver` the Django models were not migrated.
Current work around for me was following the [advanced guide](https://kolibri-dev.readthedocs.io/en/develop/getting_started.html#development-server-advanced) -

Start django in a terminal using -
[code]
This command migrates the tables for us. After this you can conti

[2021-03-11 21:58] nucleogenesis commented on #7697
This "too many SQL variables" is dependent on the version and compilation flags used when creating the SQLite application.

Ultimately, the only solution in code would probably be to chunk queries - possibly by monkey patching `"c:\python36\lib\site-packages\kolibri\dist\django\db\backends\sqlite3\base.py", line 328, in execute`

[2021-03-11 22:01] rtibbles commented on #7697
We shouldn't go around monkey patching sqlite3 - we should just properly batch our queries. We do some similar things here: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/core/content/utils/annotation.py#L183 it's just about propagating this across all the places we work with potentially large numbers of SQL parameters.

[2021-03-11 22:06] ashmeet13 commented on #7281
Hi, can I pick this up?
From what I understand going through the code - this [model class](https://github.com/learningequality/kolibri/blob/c655c7dcb03064d5764d7066a52999699c01178b/kolibri/core/auth/models.py#L98-L130) requires a clean() function that would validate such case?

New to Kolibri. Would really like if someone could guide me!

[2021-03-11 22:07] nucleogenesis commented on #6222
@khangmach - did you create a list of places where this change needs to happen by any chance?

[2021-03-11 22:09] #6614 closed, assigned to nobody

[2021-03-11 22:13] nucleogenesis commented on #7139
@rtibbles seems like this whole problem should be done at the Studio side first and foremost.

We could implement something to handle this to address channels already imported - but if we want 16:9 thumbnails it should probably start that source.

[2021-03-11 22:22] khangmach commented on #6222
@nucleogenesis not yet

[2021-03-11 22:54] jonboiser commented on #7281
@ashmeet13 I think implementing the `clean` method would work for the example in the original post. You might also need to modify some code on the API layer to call `clean` before saving. For example, this code here for `PATCHING` the setting does not do a  `clean` before `save`.

https://github.com/learningequality/kolibri/blob/10733c9a1fb0fba9122411e5a259d7e7fa0b82e8/kolibri/core/device/api.py#L

[2021-03-12 00:50] radinamatic commented on #7642
@metodimilevqa Could you work with @pcenov to add descriptions in some topics of the Kolibri QA channel, and than add that detail in the relevant Gherkin scenarios? Thanks!

[2021-03-12 01:02] rtibbles opened #7842 "Remove HierarchyRelationsFilter and enforce explicit permissions model"
### Observed behavior
Our current role permissions and membership model allows for nested membership, and role permissions.

In practice, we require explicit membership of any collection. Each user is assigned to a specific Facility, and we only allow learners to be in LearnerGroups or AdHocGroups via the frontend interface if they are already a member of the relevant Classroom.

Through our user

[2021-03-12 04:34] shivangtripathi commented on #7839
Thanks @ashmeet13  . It worked for me !

[2021-03-12 04:34] #7839 closed, assigned to nobody

[2021-03-12 05:38] shivangtripathi commented on #7457
@jonboiser I would like to work on this issue please assign it to me. Any guidance or tips are highly welcomed !

[2021-03-12 06:40] kmrinal19 commented on #7700
@jonboiser Hi, I would like to work on this issue.

[2021-03-12 09:49] YashJipkate commented on #7712
Hi! I would like to work on this issue and have opened a [working PR](https://github.com/learningequality/kolibri/pull/7848) towards this. Please take a look.

Thanks.

[2021-03-12 11:17] ashmeet13 commented on #7281
Got it - I think for now I will start implementing the `clean()` function for

[kolibri/core/auth/models.py - FacilityDataset Model](https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/core/auth/models.py#L98)

This should solve the problem for the case in the original post.

[2021-03-12 13:52] kmrinal19 commented on #7694
Hi! I would like to work on this issue.

[2021-03-12 17:22] #7457 closed, assigned to nobody

[2021-03-12 18:01] nucleogenesis opened #7851 "KDS Components -> Studio"

[2021-03-12 18:04] #7851 closed, assigned to nobody

[2021-03-12 19:20] #7779 closed, assigned to nobody

[2021-03-13 06:24] kmrinal19 commented on #7591
I would like to work on this issue.

[2021-03-13 12:40] jindal2209 commented on #7591
I would like to contribute pls review pr and suggest changes or improvements.

[2021-03-13 14:07] jindal2209 commented on #7634
I would like to work on this issue
The rules that can be added are
- atleast one uppercase letter
- minimum 6-8 length of password
- atleast one number
- special character

[2021-03-13 15:52] Aadi71 commented on #7842
I would love to work on this issue :)

[2021-03-13 15:58] Aadi71 commented on #7835
Hey there!
Do you want to add this label as a pointer?

[2021-03-13 16:04] Aadi71 commented on #7762
I think this is due to your version of Windows. As I also tested for the same issue, and mine is not showing that horizontal green line.
If still you are not convinced please try from another PC and then report again if the issue arises again.

[2021-03-13 16:07] Aadi71 commented on #4483
I would love to work on this issue.

[2021-03-13 17:58] davidgarg20 commented on #7670
I would like to work on this issue

[2021-03-14 05:44] ayu023ban commented on #7681
Hey! I would like to work on this issue.

[2021-03-14 06:06] ayu023ban commented on #7626
This issue is still not resolved.
So I would like to work on this issue.

[2021-03-14 09:47] kmrinal19 commented on #7802
@jonboiser I would like to work on this issue

[2021-03-15 07:45] erikos commented on #7825
I was not able to reproduce this in https://kolibri-demo.learningequality.org so far.

[2021-03-15 11:18] kmrinal19 commented on #7802
@jonboiser The constants defined for the content kinds in ` le_utils.constants.content_kinds` don't include `CHANNEL`, but in the JS code `ContentNodeKinds.CHANNEL` has been referred several times. So, should the `is_leaf` boolean field return false only when the resource is `TOPIC`, as `CHANNEL` kind does not exist in ` le_utils.constants.content_kinds`, or am I missing something here?
https://gi

[2021-03-15 13:26] Cronus1007 commented on #7837
@jonboiser Shall I work upon this?

[2021-03-15 16:47] jonboiser commented on #7802
On the Python side, you can tell that a ContentNode is a channel if its `parent` field is `None`. So you can have `is_leaf = True` when `kind` is `TOPIC` or ~`parent` is `None`~ (simpler solution in comment below)

[2021-03-15 16:53] rtibbles commented on #7802
Noting that on the backend `TOPIC` should be the kind on every node that isn't a leaf node (even the channel root node), wherever the special `CHANNEL` kind is being set it is only on the frontend.

So, the annotated field on the ContentNodeViewset would just be a simple boolean check of `kind == 'TOPIC'`.

[2021-03-15 16:58] jonboiser commented on #7837
Thanks @Cronus1007 , but publishing to PyPi requires being a maintainer of the project.

[2021-03-15 17:04] Cronus1007 commented on #7837
@jonboiser Yes I agree. No issues.

[2021-03-15 17:10] kmrinal19 commented on #7802
@jonboiser  @rtibbles Thanks for clearing that.

So, after adding the `is_leaf` field on the `ContentNodeViewset`, checks on the frontend like `kind  ===  ContentNodeKinds.TOPIC || kind  ===  ContentNodeKinds.CHANNEL`  can be replace by a simple `!is_leaf`. Am I correct?

[2021-03-15 17:48] jonboiser commented on #7825
I haven't been able to reproduce this either on our MacOS app. Which version of Kolibri have you been testing with?

If you are able to download the videos to your desktop (the "download" button is only available on the web version) can you see if  same issue in a video player like VLC? It's possible there is some corruption in the Sikana videos' time index or something like that.

[2021-03-15 18:24] #7700 closed, assigned to nobody

[2021-03-15 19:45] #7712 closed, assigned to nobody

[2021-03-15 19:50] jonboiser commented on #7802
Yes, that's right. I think we can even safely replace the `kind === ContentNodeKinds.TOPIC` check (without the check for `CHANNEL`) in most places as well.

[2021-03-15 21:57] rtibbles opened #7857 "Data can be shared between individual-user devices and facility servers"
# Overview of primary scenario

https://www.notion.so/learningequality/Support-for-individual-user-syncing-and-S2S-RCT-73b84ed2d3df4899b5d0441126b96850#769d577cf55648839ee80cab96b2cba8

This project supports coaches who are responsible for teaching learners in partially remote or hybrid learning learning contexts. These learners would have been assigned and loaned devices administered by the imple

[2021-03-15 22:03] rtibbles opened #7858 "Create proof of concept single user syncing to test for edge cases and possible issues"
To ensure that single user syncing behaviour is feasible and properly scoped, first create a proof of concept that handles the following data set:

* Single facility
* Two classrooms
* Multiple users in each classroom
* Multiple learner groups in each classroom
* Lessons and quizzes in each classroom, both assigned and unassigned
* Learner to be synced is a member of at least two groups
* At least

[2021-03-15 22:16] rtibbles opened #7859 "Update Lesson and Exam model infer_dataset method to use the collection rather than assigned_by foreign key"
When Lesson and Exam models were first created, their `infer_dataset` method referred to the user that it was assigned by using the `assigned_by` ForeignKey.

In a scenario where only a limited subset of a facility's data is synchronized to a device, such as in a single learner syncing scenario, this would cause Lessons and Quizzes to remain forever serialized in the Morango store, as the data for

[2021-03-15 22:32] rtibbles opened #7860 "Temporarily exclude all exercises flagged as 'channel quizzes' from being visible to users"

[2021-03-15 22:32] rtibbles opened #7861 "Design interface for a coach user to select a channel quiz and assign it like a regular quiz"
Coach users will be able to choose a channel quiz instead of choosing one or more exercises to add to the quiz.

Coach users will have the number of questions automatically set to the number of questions in the channel quiz.

Coach users will have the randomization set to the randomization of the channel quiz.

[2021-03-15 22:33] rtibbles opened #7862 "Implement interface for a coach user to select a channel quiz and assign it like a regular quiz"
As per: https://github.com/learningequality/kolibri/issues/7861#issuecomment-839273792

Updated designs here:
https://www.figma.com/file/uiZuCIqh2KYvBUfbCiJyyA/?node-id=2070%3A90233

Full flow:
![image](https://user-images.githubusercontent.com/1680573/122805330-d1f26200-d27d-11eb-9e76-7f969b5ed53f.png)

[2021-03-15 22:50] rtibbles opened #7863 "Create an immersive, flowing experience with resources"
Objective: Users of Kolibri have an immersive experience engaging with resources to enable them to easily engage on small form factor devices, but easily move on to next steps and have clear context for their learning journey

- A resource metadata panel that can quickly show additional information and detail about the current resource
- Mobile responsiveness to use full screen for resource displa

[2021-03-15 22:53] rtibbles opened #7864 "🔖 Allow users to bookmark topics/resources"
Objective: In Kolibri all users should be able to bookmark resources and topics for later quick reference

## Learners should be able to
- bookmark resources and topics they have found
- quickly access bookmarks from their home page
- able to delete bookmarks when they no longer need them

## Coaches should be able to

- bookmark resources and topics they have found both in the Learn interface
- b

[2021-03-16 00:21] #7694 closed, assigned to nobody

[2021-03-16 13:19] YashJipkate commented on #7386
Hi @indirectlylit @jonboiser I want to work on this and have made a [PR](https://github.com/learningequality/kolibri/pull/7865) regarding this. Please take a look.
Thanks!

[2021-03-16 18:00] nucleogenesis commented on #7270
@jamalex noted a larger project around this in Notion re: optimizing syncing - along with @rtibbles will need to generate an Epic and issues accordingly for a future sprint.

[2021-03-16 18:37] jtamiace commented on #7525
Just a note that our volunteer, Lyllian, is looking at some solutions for this on the UI design side

[2021-03-16 19:03] rohitgeddam commented on #7752
Is This fixed, I can't reproduce the same.

- When we search for a resource, only the channels related to the search should be shown in the channel dropdown, but in the above GIF, in the channel dropdown, channel which is not related to the search is also shown, which should not be the case,

[2021-03-16 19:29] #6419 closed, assigned to jonboiser

[2021-03-16 20:32] kmrinal19 commented on #7802
@jonboiser @rtibbles I found that when channels are fetched from the backend, `kind: ContentNodeKinds.CHANNEL` is being explicitly set in the frontend, so, should I also  set the `is_leaf` field on the frontend explicitly or should I update the `ChannelMetadataSerializer` and `PublicChannelSerializer` in the backend to add the `is_leaf` field?

[2021-03-16 21:44] rtibbles commented on #2414
This was fixed in #7724 by basically removing the caching (due to an unrelated bug it was causing).

[2021-03-16 21:44] #2414 closed

[2021-03-16 21:56] rtibbles opened #7868 "Issue for setting shared labels"
This issue is solely for setting labels on that are shared across multiple repos

[2021-03-16 22:24] #7670 closed, assigned to nobody

[2021-03-16 22:32] jonboiser opened #7870 "Provide a way to read the full username for narrower windows (e.g. tablet and mobile)"
### Observed behavior

#7867 Resolved some layout issues in the Learn Page, when the viewfinder is narrow, but now causes the username to be truncated in the other SPAs, even though there is enough room.

**When window is around 650px**

![CleanShot 2021-03-16 at 15 20 04](https://user-images.githubusercontent.com/10248067/111388309-452b7d00-866c-11eb-8daa-6e5ea7176f67.png)

However, in the other

[2021-03-16 22:50] jonboiser commented on #7802
I believe that you do not need to set `is_leaf` as long as that field is being returned from the API.   But in the past, we have had frontend code that transforms the ContentNode data coming from the API by renaming fields or filtering out fields. If you see that `is_leaf` is not appearing on the front-end, it might be because it has been transformed by a function like that unexpectedly.

But in t

[2021-03-17 00:40] jtamiace opened #7871 "Bookmarks in Learn"
* Access and manage bookmarks from home page
* Bookmark while browsing a channel or through the category search UI
* Bookmark while engaging with a resource

[2021-03-17 00:40] jtamiace opened #7872 "Bookmarks in Coach"
* Save to bookmarks (shared list between Learn and Coach)
* Add bookmarks to lessons and quizzes
* View and remove bookmarks from Coach UI

[2021-03-17 01:07] jtamiace opened #7873 "Mobile-responsive views for each new learning activity type"
- Watch: video renderer & controls
- Read: document renderer, fullscreen
- Listen: audio renderer & controls
- Reflect: content renderer, fullscreen
- Practice: question renderer, answer attempt checker
- Play/Interact/Experiment: content renderer, fullscreen
- Create/Make: content renderer, fullscreen
- A new side panel for resource details

[2021-03-17 01:09] jtamiace opened #7874 "New iconography for learning activities"
- Watch
- Read
- Listen
- Reflect
- Practice
- Play/Interact/Experiment
- Create/Make

[2021-03-17 01:09] jtamiace opened #7875 "A dynamic flow through resource engagement that shifts focus from the resource to next step navigation as appropriate"

[2021-03-17 01:36] jtamiace opened #7876 "Learn cards - channels, topics, resources, lessons, quizzes"
Additional actions:

- "Not interested"
- "See more info"
- List and grid view
- Bookmark

[2021-03-17 01:38] jtamiace opened #7877 "Coach cards - channels, topics, resources, lessons, (channel) quizzes"
Additional actions

- "Not interested"
- "See more info"
- List and grid view
- Bookmark

[2021-03-17 01:39] jtamiace opened #7878 "Studio cards - catalog channels, my channels, channel editor, import from channel"
Additional actions

- "See more info"
- List and grid views (search, import from channel)

[2021-03-17 01:43] jtamiace opened #7879 "Learn cards - channels, topics, resources, lessons, quizzes"
Additional actions:

- "Not interested"
- "See more info"
- List and grid view
- Bookmark

[2021-03-17 01:44] jtamiace opened #7880 "Coach cards - channels, topics, resources, lessons, (channel) quizzes"
Additional actions

- "Not interested"
- "See more info"
- List and grid view
- Bookmark

[2021-03-17 01:45] #7876 closed, assigned to nobody

[2021-03-17 01:45] #7877 closed, assigned to nobody

[2021-03-17 01:45] #7878 closed, assigned to nobody

[2021-03-17 21:24] davidgarg20 commented on #7575
@jonboiser I would like to work on this issue

[2021-03-17 21:29] davidgarg20 commented on #7575
@jonboiser what should be the n in "n of resources"

[2021-03-17 21:53] jtamiace opened #7884 "Learn - Browse by categories and tags across all channels"

[2021-03-17 21:54] jtamiace opened #7885 "Learn - Browse by categories and tags within a single channel"

[2021-03-17 21:54] jtamiace opened #7886 "Coach - Search by category/tag while adding resources to a lesson or exercises to a quiz"

[2021-03-17 22:01] udithprabhu commented on #7859
I have raised PR for this in the Draft mode as I wanted to know if you would like me to add test cases for this. I was thinking of adding test case to check whether the output of cached_related_dataset_lookup(created_by) is equal to cached_related_dataset_lookup(collection).

Please let me know if that is fine

[2021-03-17 22:19] jtamiace opened #7888 "New home and classes pages for guests, unenrolled learners, and enrolled learners that provides quick, contextual entrances to learning pathways"

[2021-03-18 07:15] erikos commented on #7825
Manuel tested with WebKitGTK browsers. Here are his findings:

I made some tests today with different browsers and Kolibri instances, all in Endless OS stable (3.9.3) and in the latest browser versions available.

Browsers tested:

Chrome: version 89.0.4389.82-1 from ostree.endlessm.com
Firefox: version 86.0.1 from flathub
Web (aka Epiphany): version 3.38.2 from flathub
Kolibri instances tested:

[2021-03-18 14:44] rtibbles commented on #7825
For additional context, this is the mediainfo output for one of the affected Sikana videos:
[code]

[2021-03-18 17:37] jonboiser opened #7889 "🧹 Kolibri 0.15.0 Maintenance"
Maintenance work for 0.15 (e.g. bug fixes, code cleanup, new tests, etc.)

[2021-03-18 17:57] rtibbles commented on #7825
A video that does not seem to suffer from this issue has the following mediainfo output:
[code]

[2021-03-18 18:04] #7344 closed, assigned to nobody

[2021-03-18 18:39] indirectlylit opened #7890 "remove material-design-icons dependency from kolibri tools"
### Observed behavior

`material-design-icons` is [a dependency of `svg-icon-inline-loader`](https://github.com/learningequality/svg-icon-inline-loader/blob/9f137b273af978eda901c6f92b648be30322a15d/package.json#L35) which is [a dependency of `kolibri-tools`](https://github.com/learningequality/kolibri/blob/5df5f30aac0daf0ab97e5fb79e9a3555a9679618/packages/kolibri-tools/package.json#L74)

### Expec

[2021-03-18 18:40] jonboiser commented on #7890
I think @nucleogenesis is looking into this. We just need to remove any leftover `mat-svg`s in the Kolibri codebase and then we can safely remove this big dependency.

[2021-03-18 18:41] indirectlylit commented on #7890
awesome. Should be easy to hard-code those into components or local text files

[2021-03-18 19:35] indirectlylit commented on #4483
@Aadi71 I've removed the 'beginner friendly' label because this task requires some knowledge of our internationalization system, which is a bit complex. You're welcome to try working on it, but we might not be able to provide sufficient timely guidance to make it an easy task.

[2021-03-18 20:23] rtibbles opened #7891 "Replace db_task_write_lock with a solution that is specific to database backends and removes reliance on cache layers"
### Observed behavior
We have seen various issues with our attempts to use both diskcache and Redis to store a write lock for tasks on the database. This includes the write lock being purged from Redis, and it not being properly turned off from diskcache.

### Expected behavior
We should be able to easily infer whether a task is currently blocked from writing to the database.

For SQLite, this is

[2021-03-18 20:40] sairina commented on #7681
I can't seem to reproduce the presence of the scrollbar on the beta site (for either the Lesson or the Reports pages). Is it possible that this has already been fixed?

![2021-03-18 13 35 48](https://user-images.githubusercontent.com/13563002/111694312-f6f2b700-87ee-11eb-8619-70a4161f40f1.gif)

[2021-03-18 21:26] #7642 closed, assigned to radinamatic

[2021-03-19 08:27] iharshit009 commented on #7891
I would like to work on this issue, Should I proceed @rtibbles ?

[2021-03-19 11:15] ashmeet13 commented on #7348
Hi!
I was looking around to understand the TaskAPI. From what I understand the TaskAPI has a [BaseViewSet](https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/core/tasks/api.py#L180) that handles the creation/deletion of tasks.

A way to implement the RestartTask functionality from the backend would be to add an endpoint to clear the CANCELED/FAILED status marked task and then

[2021-03-19 13:40] rtibbles commented on #7891
Hi @iharshit009, I think there are a quite a few implementation details to be worked out here, and thinking it through even the sample above is incorrect, so I think it would be better not to work on this at this time.

[2021-03-19 16:43] iharshit009 commented on #7891
Okay, no issues

[2021-03-19 16:45] iharshit009 commented on #7842
Is @Aadi71  working on it? If not should I work on this one @rtibbles?

[2021-03-19 16:55] rtibbles commented on #7842
I am already assigned to this and am working on it.

[2021-03-19 17:11] jonboiser commented on #7348
I think that's basically the interface I would like. Where you can POST to something like

[code]

And the original job with be enqueued with the same exact parameters, _but the parameters do not need to be sent as part of the POST request_. That is, all the client needs to know to restart a task/job is the task ID.

I'm not sure if this is possible, by simply modifying the API layer. You might ne

[2021-03-19 17:32] kmrinal19 commented on #7695
@jonboiser I would like to work on this issue.

[2021-03-19 19:13] kmrinal19 commented on #7695
@jonboiser I think that this issue can be solved by getting the ancestors even at the Channels page(by removing the if else construct and always getting the ancestors) as all the contents(even the channels) use the same `ContentCardList` components.
https://github.com/learningequality/kolibri/blob/2e8ca763fd2d7f3d3059e43b1931804f3bb0711f/kolibri/plugins/coach/assets/src/modules/lessonResources/han

[2021-03-19 19:23] ashmeet13 commented on #7348
A few questions. I cannot find exactly how [Iceqube](https://github.com/learningequality/iceqube) is being used in Kolibri?
Is it just a framework whose code is copied into the [Task Monolithic](https://github.com/learningequality/kolibri/tree/release-v0.14.x/kolibri/core/tasks)?

Cause I don't see it being added as pip requirement.

I'll have a look and understand the system better. I have create

[2021-03-19 19:27] jonboiser commented on #7695
Yeah, that might be it. Give it a try. Have you looked at the Vuex state and made sure that the channel itself will be inside the `cache[resource.contentnode_id].ancestors` array? It's possible that it might be missing, and then you'll need to infer the contentnode's channel id from its `channel` field.

[2021-03-19 19:38] #7693 closed, assigned to jonboiser

[2021-03-19 20:09] kmrinal19 commented on #7695
Yes, everything looks fine. Let me open a PR towards this issue.

[2021-03-19 20:31] jonboiser commented on #7681
I haven't tried it on that UI,  but I see it consistently on the Lesson Summary Page (under coach > plan > lesson).

Here's a GIF of the area, with a potential solution (I just increased the padding a bit more so the "zoom" doesn't cause an overflow). So if we can shrink the cards, increase the padding, reduce the size of the zoom, etc. that might fix it.

![CleanShot 2021-03-19 at 13 29 22](https

[2021-03-19 20:33] jonboiser commented on #7681
Here's a video of it

![CleanShot 2021-03-19 at 13 32 34](https://user-images.githubusercontent.com/10248067/111839176-9da28a80-88b7-11eb-8fe0-d81d63994247.gif)

[2021-03-19 21:04] indirectlylit commented on #7386
thanks @YashJipkate!

[2021-03-19 21:04] #7386 closed, assigned to nobody

[2021-03-19 22:18] jonboiser opened #7896 "?next URL param is lost if going from AuthMessage to SignInPage/Select Facility"
### Observed behavior
In incognito mode:

Step 1: Go to https://kolibri-beta.learningequality.org/en/coach/#/0ca0280c91ccb9a880d922914226557f/plan/lessons/a7666d7f39eb34f13965ffa2e443bdee

<img width="850" alt="Screen Shot 2021-03-19 at 3 12 44 PM" src="https://user-images.githubusercontent.com/10248067/111847421-fda02d80-88c5-11eb-8af8-9e91b7162cff.png">

Step 2: Click the "Sign in to Kolibri" li

[2021-03-19 22:30] jonboiser commented on #7896
This might be because of this re-routing logic that goes from `/signin` to `/facility`. `query.next` is not passed through.

https://github.com/learningequality/kolibri/blob/5815bd7d04f368e3e967341f518e4b5c1ee55357/kolibri/plugins/user/assets/src/routes.js#L55-L59

It's also important to keep the `?next` param in the URL when leaving the Select Facility screen (to the username/password form). It's

[2021-03-20 04:19] blackboxo commented on #7220
I would fix it. I think it is because "th" has a specified text-align: -internal-center; by Chrome default.

[2021-03-20 14:27] ashmeet13 commented on #7348
From what I have understood, [Queue](https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/core/tasks/queue.py) is the interface for the [TaskAPI](https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/core/tasks/api.py) to enqueue/schedule tasks.

To implement restart, a possible solution is defining a function in `Queue`as `restart_job(self, job_id)`

`restar

[2021-03-20 16:35] rtibbles commented on #7348
@ashmeet13 - yes, that could definitely work, we could also just take the existing job object, clear any exceptions or results from it and then resave it.

However, I think your solution is cleaner, and means that we don't have to keep a running list of all things we need to clear, we just need to recreate the desired `enqueue` parameters. The one other thing that we should do is make a copy of th

[2021-03-20 17:52] ashmeet13 commented on #7348
Got it. Thank you for the help!

[2021-03-22 15:57] rtibbles commented on #7281
Fixed in #7856

[2021-03-22 15:57] #7281 closed, assigned to nobody

[2021-03-22 17:11] jonboiser opened #7901 "When managing quiz questions, users cannot see resource counts at the channel card level"
### Observed behavior

This is similar to #7695, but in the Quiz Creation workflow

At first-level topic:

![CleanShot 2021-03-22 at 10 08 31](https://user-images.githubusercontent.com/10248067/112029592-a6cd6a80-8af6-11eb-8e51-9be0c6996c7b.png)

At channel list:

![CleanShot 2021-03-22 at 10 08 42](https://user-images.githubusercontent.com/10248067/112029618-afbe3c00-8af6-11eb-9307-010a1bc545ad.p

[2021-03-22 17:12] #7695 closed, assigned to nobody

[2021-03-22 17:26] #7681 closed, assigned to sairina

[2021-03-22 18:11] #7220 closed, assigned to nobody

[2021-03-22 18:51] rtibbles commented on #7891
Implementing this should also resolve this issue: https://github.com/learningequality/kolibri/issues/7463 as we will no longer use Redis locks in the way that is causing issues here.

[2021-03-22 18:56] rtibbles commented on #1629
All of these check mark items now appear to be implemented. Closing.

[2021-03-22 18:56] #1629 closed

[2021-03-22 18:57] rtibbles commented on #1717
This was fixed in #5957

[2021-03-22 18:57] #1717 closed

[2021-03-22 18:58] rtibbles commented on #1931
Most of these issues have now been addressed. Any extant concerns with our package building should open new issues.

[2021-03-22 18:58] #1931 closed

[2021-03-22 19:02] rtibbles commented on #1955
Closing as stale, the developer docs have been significantly updated since this was made.

[2021-03-22 19:02] #1955 closed

[2021-03-22 19:09] rtibbles commented on #1963
Note that the location of this code has now migrated to: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/utils/env.py#L63

I think the simplest solution to this issue, may be just to handle it when we eventually drop Python 2 support.

[2021-03-22 19:16] rtibbles commented on #2642
Closing this as won't fix, as it would require modifying Perseus.

[2021-03-22 19:16] #2642 closed

[2021-03-22 19:17] rtibbles commented on #3094
This was fixed in #7866

[2021-03-22 19:17] #3094 closed

[2021-03-22 19:18] rtibbles commented on #3098
I don't think we should expend any effort in fixing this, and should use the API explorer in developer mode instead.

[2021-03-22 19:18] #3098 closed

[2021-03-22 19:24] rtibbles commented on #3335
CLI refactor addressed this.

[2021-03-22 19:24] #3335 closed

[2021-03-22 19:24] rtibbles commented on #3337
This has been addressed.

[2021-03-22 19:24] #3337 closed

[2021-03-22 19:33] udithprabhu commented on #7757
I would like to work on this

[2021-03-22 19:34] rtibbles commented on #3547
Closing as already implemented as stated.

[2021-03-22 19:34] #3547 closed

[2021-03-22 19:37] rtibbles commented on #3843
Closing this as we have not seen a recent recurrence.

[2021-03-22 19:37] #3843 closed, assigned to nobody

[2021-03-22 19:37] rtibbles commented on #3844
Closing this as we have not seen a recent recurrence.

[2021-03-22 19:37] #3844 closed, assigned to nobody

[2021-03-22 19:39] rtibbles commented on #3902
Fixed in develop - devserver now uses default server run behaviour.

[2021-03-22 19:39] #3902 closed, assigned to nobody

[2021-03-22 19:52] rtibbles commented on #4035
I think this is being handled in other ways in the custom channels work.

[2021-03-22 19:52] #4035 closed, assigned to kollivier

[2021-03-22 19:55] rtibbles commented on #4111
This issue has mostly been addressed by a broad performance optimization sweep in 0.13.

[2021-03-22 19:55] #4111 closed, assigned to nobody

[2021-03-22 20:22] rtibbles commented on #4245
For the custom channels navigation work, we are adding in a `context` argument to the URL parameter, we could let renderers in general use this for navigation like events.

[2021-03-22 20:23] rtibbles commented on #4266
Doing this properly would require us to create a separate category of renderer, one that is loaded inside a sandboxed iframe/hashi context. I have some ideas about this, but is not going to happen in the immediate future.

[2021-03-22 20:25] rtibbles commented on #4268
Location is now being saved on content state.

[2021-03-22 20:25] #4268 closed, assigned to nobody

[2021-03-22 21:09] #7859 closed, assigned to nobody

[2021-03-22 21:12] nucleogenesis commented on #7902
I am unable to replicate this locally. I've tried replicating in a few different phones and Android API versions in Genymotion but in all cases I can scroll the dropdown menu.

I had suspected this would be a good seed issue into fixing some KSelect issues when I self-assigned it in sprint planning but I don't want to fully piggy-back that work onto this issue if I cannot replicate it and fix the

[2021-03-22 21:45] radinamatic commented on #7902
@nucleogenesis I still experience this issue on a version I have running on my Android phone, version 0.14.3. Is there a way I can make this available for you to test?

[2021-03-22 22:25] rtibbles commented on #4407
Closing this as stale, as most of these issues have been fixed.

[2021-03-22 22:25] #4407 closed, assigned to rtibbles

[2021-03-22 22:30] rtibbles commented on #4535
No recent replication, closing as stale.

[2021-03-22 22:30] #4535 closed, assigned to nobody

[2021-03-22 22:32] rtibbles commented on #4566
This doesn't seem to be high priority for the developer experience, closing for now.

[2021-03-22 22:32] #4566 closed, assigned to DXCanas

[2021-03-22 22:33] rtibbles commented on #4603
These responses are no longer cached, so this is fixed.

[2021-03-22 22:33] #4603 closed, assigned to nobody

[2021-03-22 22:37] rtibbles commented on #4611
Closing this issue as stale - we should open specific follow up issues if needed.

[2021-03-22 22:37] #4611 closed, assigned to nobody

[2021-03-22 22:41] rtibbles commented on #4618
Noting that pytest is now on version 6.

[2021-03-22 22:42] rtibbles commented on #4715
We are not planning to remove this, but we have made the device language a harder default to make this less of an issue.

[2021-03-22 22:42] #4715 closed, assigned to nobody

[2021-03-22 22:43] rtibbles commented on #4752
The correlated issue has been closed on Studio by @radinamatic. Closing this one unless it recurs.

[2021-03-22 22:43] #4752 closed, assigned to nobody

[2021-03-22 22:45] rtibbles commented on #4810
I think this was an issue with the previous polling behaviour of the Windows installer. Closing this unless we receive more contemporary reports.

[2021-03-22 22:45] #4810 closed, assigned to nobody

[2021-03-22 22:48] rtibbles commented on #4854
This had previously been fixed here: #3325

Wondering how the regression came in?

[2021-03-22 22:48] rtibbles commented on #4854
@radinamatic would you be able to confirm that this is still the case?

[2021-03-22 22:49] rtibbles commented on #5042
This has been fixed.

[2021-03-22 22:49] #5042 closed, assigned to nobody

[2021-03-22 22:50] rtibbles commented on #5342
This should have been resolved by #5494

[2021-03-22 22:50] #5342 closed, assigned to nobody

[2021-03-22 22:54] rtibbles commented on #5711
Closing as no additional occurrences reported since.

[2021-03-22 22:54] #5711 closed, assigned to nobody

[2021-03-22 22:56] rtibbles commented on #5771
We no longer use cookies for setting the language, so this issue cannot be extant.

[2021-03-22 22:56] #5771 closed, assigned to nobody

[2021-03-22 22:57] rtibbles commented on #5801
These appear to be mostly a result of performance issues on the server side. Closing.

[2021-03-22 22:57] #5801 closed, assigned to nobody

[2021-03-22 22:58] rtibbles commented on #5827
This is almost certainly a result of slow loading of the assessment item data. Performance improvements and changes to exercise rendering should fix this in future, so let's file a new issue if this recurs.

[2021-03-22 22:58] #5827 closed, assigned to nobody

[2021-03-22 22:58] rtibbles commented on #5828
We've removed the blockers to application startup since this issue was filed.

[2021-03-22 22:58] #5828 closed, assigned to nobody

[2021-03-22 23:01] rtibbles commented on #6064
This upgrade has occurred, so I am assuming that this work has been done or is no longer needed.

[2021-03-22 23:01] #6064 closed, assigned to radinamatic

[2021-03-22 23:02] rtibbles commented on #6093
The code that makes these warnings has been removed, so this issue is fixed.

[2021-03-22 23:02] #6093 closed, assigned to ralphiee22

[2021-03-22 23:05] rtibbles commented on #6196
I think the motivation for this issue has been resolved. The `kolibri manage listchannels` command also provides some of the command line functionality.

[2021-03-22 23:05] #6196 closed, assigned to nobody

[2021-03-22 23:12] rtibbles commented on #6684
This should be fixed by #7521 - please advise if this is not the case.

[2021-03-22 23:12] #6684 closed, assigned to nobody

[2021-03-22 23:12] rtibbles commented on #6685
Question answered, closing!

[2021-03-22 23:12] #6685 closed, assigned to nobody

[2021-03-22 23:15] rtibbles commented on #6707
Have not seen any replications, so closing this for now.

[2021-03-22 23:15] #6707 closed, assigned to nobody

[2021-03-22 23:16] rtibbles commented on #6715
This should be fixed by #7521.

[2021-03-22 23:16] #6715 closed, assigned to nobody

[2021-03-22 23:17] rtibbles commented on #6778
Kolibri has a task runner that uses the database, including scheduled tasks, so this is expected behaviour.

[2021-03-22 23:17] #6778 closed, assigned to nobody

[2021-03-22 23:18] rtibbles commented on #6808
If this occurs from purely Kolibri, then we should fix it. Otherwise this is a won't fix.

[2021-03-22 23:18] #6808 closed, assigned to nobody

[2021-03-22 23:19] rtibbles commented on #6905
Not going to get more info on this, so closing.

[2021-03-22 23:19] #6905 closed, assigned to nobody

[2021-03-22 23:21] rtibbles commented on #6922
SQL Alchemy has now been upgraded, so this issue should be fixed.

[2021-03-22 23:21] #6922 closed, assigned to nobody

[2021-03-22 23:23] rtibbles commented on #6937
We are no longer prioritizing the pex as a distribution mechanism, so I would say this is a won't fix until we drop Python 2.

[2021-03-22 23:23] #6937 closed, assigned to nobody

[2021-03-22 23:26] rtibbles commented on #6982
The specific issue here was fixed in #7274 - so I am closing this. There are other extant issues logged elsewhere that capture some of the above.

[2021-03-22 23:26] #6982 closed, assigned to rtibbles

[2021-03-22 23:27] rtibbles commented on #7080
Not able to replicate, closing.

[2021-03-22 23:27] #7080 closed, assigned to nobody

[2021-03-22 23:40] rtibbles commented on #7258
This should be resolved by the shift of perseus rendering away from the zipcontent endpoint. This should be reopened if a recurrence is reported.

[2021-03-22 23:40] #7258 closed, assigned to nobody

[2021-03-22 23:47] rtibbles commented on #7417
Resetting the content cache key should do this, and now that it is using the disk cache, this should be sufficient.

[2021-03-22 23:47] #7417 closed, assigned to nobody

[2021-03-22 23:49] rtibbles commented on #7518
Fixed in #7823

[2021-03-22 23:49] #7518 closed, assigned to nobody

[2021-03-23 00:11] radinamatic commented on #4854
I don't think this can be replicated with the current Studio design, as incomplete channel content nodes, such as exercises without questions/assessment items, will not be published.

I can try to do what was suggested (_Download a db and set table assessment_metadata=> field number_of_assessments=> 0._) to test, I'm just wondering if that's really probable to find in the wild...? 🤔

[2021-03-23 01:16] radinamatic commented on #4854
Seems that the issue is still extant on 0.14, or at least it does not display the above mentioned _Expected behavior_.

1. I imported a simple channel (fresh facility, no other channels) with 2 topics, one of them containing an exercise with 2 questions. I could see the channel/exercise when creating a quiz.

   ![LEDev21 (start)  Running  - Oracle VM VirtualBox_044](https://user-images.githubuser

[2021-03-23 02:39] udithprabhu commented on #7757
This seems to be an issue with the HTML of the resource itself.

[2021-03-23 02:41] udithprabhu commented on #7901
I would like to work on this

[2021-03-23 09:43] Kalovelo commented on #2634
Hello @radinamatic, could I work on this issue :leaves: ?

[2021-03-23 12:25] marcellamaki commented on #2634
Hi @Kalovelo, this is actually a duplicate issue of another in our design system that I am working on. Thanks for offering!

Closing as [a more up to date issue in KDS](https://github.com/learningequality/kolibri-design-system/issues/178) with WIP PR addresses this issue.

[2021-03-23 12:25] #2634 closed

[2021-03-23 12:45] Kalovelo commented on #6477
Hello @jonboiser , could I work on this issue?

[2021-03-23 13:14] iharshit009 commented on #7697
Hi @rtibbles, There are two methods to solve this issue.
1. By reducing the SQL host parameters.
In SQLite, 1000 is a limit on no of variables per query exceeding this gives an operational error.
2. Deleting in batches

I will say 2nd works better as we could increase the limit on variables but that may arise major issues during the new installation or any other SQL operations.

P.S. I am new to t

[2021-03-23 14:59] rtibbles commented on #7697
Yes - deleting in batches is the correct approach, the parameter limit is not changeable because it's a compile time flag on SQLite.

Because Django uses SQL parameters for every query it does (to prevent injection attacks) we can't do a generic approach to this, and it has to be done on a query by query basis to ensure that we are batching the correct parameters.

In this case, it is probably bec

[2021-03-23 16:18] jonboiser commented on #6477
@Kalovelo , yes, any help on this issue would be appreciated.

[2021-03-23 16:19] rtibbles commented on #7463
This has also now been seen in the wild for the diskcache based locks too, not just for Redis.

[2021-03-23 17:32] iharshit009 commented on #7697
Hi @rtibbles, Is there any other way to checkout/reproduce this issue error, or just as @jonboiser suggested?

[2021-03-23 18:05] rtibbles commented on #7697
Yes, I think this is the most reliable way to reproduce it.

[2021-03-23 18:08] Kalovelo commented on #6477
It seems like `textTruncator` has been removed from `TopicsPage` on this [commit](https://github.com/learningequality/kolibri/commit/a1f37830fd1d55043867b3338a357fa05c604ced#diff-98afdf62d41fff77bd66c302cf23e1bcf8aa203c53049d27b81699e9db5a622fL57).
![image](https://user-images.githubusercontent.com/45261205/112195914-29e3e300-8c13-11eb-8f52-84f1e96b5851.png)

I searched for components or pages tha

[2021-03-23 18:41] jonboiser opened #7906 "Make a separate card component for non-ContentNodes (e.g. lessons, quizzes, classes)"
Looking at the diff for https://github.com/learningequality/kolibri/pull/7883/files, I realized that we use the `ContentCard` for at least 4 non-contentnode objects (lessons, quizzes, channel metadata, and classrooms). This forces us to provide the `ContentCard` props like the new `is_leaf` field, when that doesn't make sense for e.g. a class.

We should have a separate card component(s) for non-c

[2021-03-23 19:09] jonboiser commented on #6477
Oh, that's interesting. I didn't notice that was done in that commit.

The `showViewMore` in `RecommendedPage`/`ContentCardGroupHeader` is not used as a prop in `TextTruncator` (they just have the same name by coincidence).

I need to look into this, but I think if https://github.com/learningequality/kolibri/commit/a1f37830fd1d55043867b3338a357fa05c604ced#diff-98afdf62d41fff77bd66c302cf23e1bcf8aa2

[2021-03-23 19:24] kmrinal19 commented on #7626
@jonboiser I think that we make use of existing strings by  displaying the right hand annotation as "1 resource selected" when selecting single resource. This can be achieved by modifying the `message` attribute in return object of `fullySelectedNode` function in [treeViewUtils.js](https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/device/assets/src/views/SelectContentPage/tr

[2021-03-23 19:45] rtibbles opened #7907 "Implement integrity check of job_storage database at startup and clear if broken"
### Observed behavior
If something like an unclean shutdown has caused the job_storage sqlite file to be in a bad state, then any subsequent queries to the Tasks database may result in errors.

### Expected behavior
We should attempt to read any extant jobs in the tasks database at startup, and if it results in an error and is using SQLite, clear the file.

### User-facing consequences
Unclean shu

[2021-03-23 19:50] jonboiser commented on #7626
I think the designers want the message `"Resource selected"` (no "1" in the message). So you can simply add a new message

[code]

to that `translator` class, and then replace the annotation

[code]

[2021-03-23 20:16] rtibbles commented on #7891
Sorry, this is not true - as the locks being used in this case are for caching only, and cannot be replaced by database level locks.

[2021-03-23 20:28] rtibbles opened #7908 "Make dataset_id caching thread local and opt-in"
### Observed behavior
Issues like #7463 can occur with both Redis cache backends and diskcache cache backends. This is a result of our ProcessLock implementation being left permanently in an acquired state due either to disconnection from Redis, or unclean shutdown of the Kolibri instance.

This results in calls to `infer_dataset` being permanently held in a waiting state for the lock to release,

[2021-03-23 20:29] rtibbles commented on #4854
I'm going to say that we won't fix this, as the extra query to count number of assessments would have a performance hit, and it seems like a very low probability scenario as you suggest.

[2021-03-23 20:29] #4854 closed, assigned to nobody

[2021-03-23 22:02] #7578 closed, assigned to radinamatic

[2021-03-23 22:02] #7587 closed, assigned to radinamatic

[2021-03-23 22:02] #7623 closed, assigned to radinamatic

[2021-03-23 22:41] #7626 closed, assigned to nobody

[2021-03-23 22:52] Kalovelo commented on #7557
Hello once again @jonboiser, could a tooltip showing the remaining text like "...the rest of the details" do the trick here?It would kind of work like the link hovering. Other solutions like "view more" buttons would probably break the UI on components like cards/breadcrumbs...

[2021-03-23 23:03] jonboiser commented on #7749
I just noticed on the shave.js page (the library that is supposed to handle the text truncation), there's an example of using shave in a non-spaced language. Maybe this example has some things we can try here. It just involves setting a `{spaces: false}` option.

https://codepen.io/yowainwright/pen/wzVgMp

[2021-03-23 23:11] jonboiser commented on #7557
I think one simple thing you can try is to put the full text inside the `title` attribute. This will make the text readable by just hovering the mouse over it for a few seconds:

Here's an example

https://codepen.io/jonboiser/pen/MWJwgEP?editors=1111

[2021-03-24 00:37] jonboiser commented on #6477
Closing because, as @Kalovelo found, the text truncator was removed from the TopicPage, so this is no longer an issue.

[2021-03-24 00:37] #6477 closed, assigned to nobody

[2021-03-24 01:39] nobicycle opened #7910 "Links to Content on Linux Fail in Kolibri 14.6"
Hi,

This issue is fully described here : https://github.com/learningequality/kolibri/issues/7003

If I   create a link and run _kolibri manage scanforcontent_  it appears to work, but restarting Kolibri  shows an error:

**ERROR    The content directory /opt/kolibri/content does not exist and cannot be created.**

(see below the console output)

Regards

[code]

[2021-03-24 01:42] nobicycle commented on #7910
Logs
[daemon.txt](https://github.com/learningequality/kolibri/files/6193748/daemon.txt)
[kolibri.txt](https://github.com/learningequality/kolibri/files/6193749/kolibri.txt)

[2021-03-24 01:54] jamalex commented on #7910
As described in the issue you linked, the  method we'd now recommend for
this is using options.ini or the envvars to set the default content
directory or the fallback content directories.

On Tue, Mar 23, 2021, 6:42 PM nobicycle ***@***.***> wrote:

[2021-03-24 02:28] rtibbles commented on #7910
Also worth noting that Kolibri 0.14.x does not yet support Python 3.9.

[2021-03-24 02:30] rtibbles commented on #7910
These are the options that @jamalex is referring to: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/utils/options.py#L314

[2021-03-24 02:41] rtibbles commented on #7910
For the error you are seeing, it would mean that `os.path.exists` is failing for the path: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/utils/sanity_checks.py#L92 - I feel like symlinks should pass this.

[2021-03-24 04:23] udithprabhu commented on #7906
I would like to work on this.

[2021-03-24 06:01] YashJipkate commented on #5960
Hi @indirectlylit @rtibbles I would like to take this up.

I had a doubt as to where should I place the tests. Should it be in a new file (something like `test_channel_update_deletion.py`) or in the `test_channel_import.py`?

[2021-03-24 07:18] Kalovelo commented on #7557
Sweet! I will work on it and submit a PR if it is still up for grabs!

[2021-03-24 13:44] nobicycle commented on #7910
Thanks for swift replies.
So my systemd override.conf now contains:

`Environment='KOLIBRI_CONTENT_DIR=/run/media/user/f40a2e65-06a7-4608-a63b-ec7293760970/Applications/Kolibri'`

This directory contains the Kolibri content directory.

[code]

Restarting kolibri service yielded:

[code]

Noted  about Python 3.9 - it does seem to work fine BTW.

[2021-03-24 14:05] nobicycle commented on #7910
I mounted in /mnt and gave ownership to kolibri (instead of just group membership) :

[code]

Kolibri now starts:

[code]

But the GUI is pointing in the default content area and does not see 128 GB of content:
[code]
[daemon.txt](https://github.com/learningequality/kolibri/files/6197816/daemon.txt)
[kolibri.txt](https://github.com/learningequality/kolibri/files/6197825/kolibri.txt)

[2021-03-24 14:23] nucleogenesis opened #7911 "On-Device App Mode - Documentation for how to do development in this context"
### Observed behavior

We currently do not have any internal or public documentation for doing on-device development using an APK.

A bug such as https://github.com/learningequality/kolibri/issues/7902 cannot be reliably replicated and addressed by our team if we don't have clear guidance on how to load it onto our devices to run as natively as possible.

### Expected behavior

We should have clea

[2021-03-24 14:30] iharshit009 commented on #7697
I am getting an issue deleting the resources as suggested by @jonboiser above. The resource isn't deleted and I get a waiting status for a too long time.

![Screenshot from 2021-03-24 19-55-03](https://user-images.githubusercontent.com/44135316/112327203-3af82700-8cdb-11eb-9ba3-5860f421fdca.png)

Would like to know why is this happening and what can I do to make it work out. Due to this, I could n

[2021-03-24 14:49] rtibbles commented on #7697
@iharshit009 it looks like the task runner is not running - what command did you use to start Kolibri?

[2021-03-24 14:51] rtibbles commented on #7910
How can you tell where the GUI is looking for the content? Have you run `kolibri manage scanforcontent` to make sure that any existing content is picked up by Kolibri?

[2021-03-24 14:57] iharshit009 commented on #7697
I used `kolibri manage --debug run server -- 0.0.0.0:5500`, before that I generated static files using `yarn run build`. I used to try to use `yarn run devserver`, but that makes my system too slow.

[2021-03-24 15:04] rtibbles commented on #7697
Need to also run the task runner using the 'services' command https://github.com/learningequality/kolibri/blob/release-v0.14.x/package.json#L23

[2021-03-24 16:13] rtibbles opened #7913 "Add optional query parameter to Kolibri topic navigation URLs that encodes custom navigation context"

[2021-03-24 16:27] jonboiser commented on #7906
@udithprabhu This issue isn't ready to work on yet. I need to do some refactoring of `ContentCard` and do technical design for the new components.

[2021-03-24 18:56] udithprabhu commented on #7906
Ok, thanks for letting me know

[2021-03-24 19:11] jtamiace commented on #7831
https://www.figma.com/file/4QlF8kww5CDUhJIhoIwDrh/Custom-channel-representation?node-id=0%3A1

![custom channel](https://user-images.githubusercontent.com/6668144/112694352-7449a780-8e3f-11eb-8020-162170d883e2.png)

[2021-03-24 19:38] nucleogenesis opened #7916 "Context not transferred from Crowdin"
### Observed behavior

Initially noted by @radinamatic

This [Vue SFC](https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/plugins/learn/assets/src/views/classes/ClassAssignmentsPage.vue#L68) did not have the [context for its translation](https://crowdin.com/translate/kolibri/3798/en-es?filter=basic&value=0#275962) transferred into the code.

This issue should be fixed in the

[2021-03-24 21:38] jonboiser opened #7917 "Swagger API Explorer does not work in Kolibri 0.15"
When going to http://localhost:8000/api_explorer/, the Swagger UI does not appear, and you see all of these 404 errors in the Network tab when trying to serve stuff from `/static`

![Broken Swagger Network Calls](https://user-images.githubusercontent.com/10248067/112386302-fa35e900-8cad-11eb-93ef-90034e0cd9d5.png)

This might have been caused by changes in https://github.com/learningequality/kolib

[2021-03-24 21:40] jonboiser commented on #7917
This is also affecting the UI for Django Rest framework. The HTML is more readable, but the missing JS seems to make the forms non-functional

![image](https://user-images.githubusercontent.com/10248067/112386976-af68a100-8cae-11eb-981d-32fe1119639a.png)

[2021-03-24 22:23] #7557 closed, assigned to nobody

[2021-03-24 23:08] jonboiser opened #7919 "On ContentPage, provide a way to view long, unbroken titles and descriptions that doesn't overflow rest of container"
### Observed behavior

From KA (km) channel

https://kolibri-beta.learningequality.org/en/learn/#/topics/c/33c22ff579d15a8fa856d149526b0d22

![Long Khmer Title](https://user-images.githubusercontent.com/10248067/112394994-d331e400-8cba-11eb-8ca9-c878bba90a52.png)

The title, which is a long sequence of Khmer glyph, causes the KPageContainer to overflow.

### Expected behavior

Because not all brow

[2021-03-24 23:21] rtibbles commented on #7917
Yes, I think you've pin pointed the issue. I think the best solution to this would be to fix https://github.com/learningequality/kolibri/issues/7792, which would mean that we could always have static files available, without ever running collect static.

[2021-03-24 23:37] jonboiser commented on #7378
Closing with https://github.com/learningequality/kolibri-design-system/pull/195, which partially resolves this (namely, it fixes the issue in the SideNav and in some BackLink components). I'm going to follow up with new issue to document the remaining problems.

[2021-03-24 23:37] #7378 closed, assigned to sairina

[2021-03-25 01:07] jonboiser opened #7921 "Fix widgets that are using KLabeledIcon in the Facility Page + Device Page"
Here are some breakages in layouts using `KLabeledIcon` after
https://github.com/learningequality/kolibri-design-system/pull/195

I think these can probably be fixed by moving the misaligned elements into the `label` slot.

Screenshots in Safari

**http://localhost:8000/en/facility/#/data**

![Sync title alignment](https://user-images.githubusercontent.com/10248067/112403273-59562680-8ccb-11eb-9d9

[2021-03-25 01:13] jonboiser opened #7922 "Display KLabeledIcon in Coach page BackLink as a full-width block element"
The BackLinks in the Coach Page are not displayed as block elements in Safari, so they look like this.

![Back links](https://user-images.githubusercontent.com/10248067/112403851-6fb0b200-8ccc-11eb-9cad-1130bd999263.png)

This can probably be fixed by copying what is done in the SignInPage and applying it here to BackLink component

SignInPage:

https://github.com/learningequality/kolibri/blob/8ce

[2021-03-25 01:19] #7603 closed, assigned to nobody

[2021-03-25 01:58] nobicycle commented on #7910
So I did a scan and:

[code]
Kolibri was restarted but  still no 128GB of content.

[code]

[code]

I am not sure why we have databases and storage directories there???

[kolibri.txt](https://github.com/learningequality/kolibri/files/6201479/kolibri.txt)
[daemon.txt](https://github.com/learningequality/kolibri/files/6201480/daemon.txt)

The GUI shows:

![2021-03-25 09 50 08 192 168 42 107 4ef49a05

[2021-03-25 02:05] nobicycle opened #7923 "Export Fail in Kolibri 14.6 (Linux)"
Hello,

I have an export directory:

[code]

In the GUI, this is recognised. I tried an export and obtained:

[code]
And the 25M of data did not appear where it should:

4.0K	/KOLIBRI_DATA/content/databases
8.0K	/KOLIBRI_DATA/content
12K	/KOLIBRI_DATA/

Default Python in Manjaro/Arch  Linux is 3.9, - it seems to be working fine.

[daemon.txt](https://github.com/learningequality/kolibri/files/62015

[2021-03-25 02:25] nobicycle commented on #7923
I did a CLI export and obtained:
[code]
This issue may be related https://github.com/learningequality/kolibri/issues/7910 bevause the content directory was redirected in my installation.

[2021-03-25 03:03] rtibbles commented on #7910
When you ran `scanforcontent` it reran migrations, which implies that it is running from a new kolibri home. The service environment variables you have set are not propagating to your command line invocations, so I can see how scanforcontent made no difference in this instance. Need to make sure that the command line invocations have the same user and environment variables set as the service.

[2021-03-25 03:05] rtibbles commented on #7923
This seems to be an edge case when attempting to export a channel that does not exist - is the CLI invocation definitely using the same env vars as the system service env vars that you set in #7910?

[2021-03-25 10:00] comradekingu commented on #7916
Is that supported in the format? https://docs.weblate.org/en/latest/formats.html?highlight=vue#translation-types-capabilities doesn't have it for JSON. Why use Crowdin though?

[2021-03-25 14:07] kmrinal19 commented on #7591
@jonboiser If this issue is still open, I would like to work on it. Having a separate endpoint to check for duplicate username can solve #7602 too.

[2021-03-25 18:01] jonboiser commented on #7591
Hi @kmrinal19 , yes this issue is still open. Before you submit a PR, could you check in and share the API design you have in mind? I think the basic strategy if have here

Should work, but we haven't worked out the details yet (e.g. the request/response payload, error handling, etc.). So some details on how the new "duplicate username" endpoint works would be helpful.

[2021-03-25 18:15] jonboiser opened #7925 "Update UI to eventually support H5P as a resource type"
The UI is missing some elements when H5P content is loaded into it:

## Missing Icons

![CleanShot 2021-03-25 at 11 09 15](https://user-images.githubusercontent.com/10248067/112522729-36735300-8d5b-11eb-9707-e92824bc2cc5.png)
![CleanShot 2021-03-25 at 11 08 35](https://user-images.githubusercontent.com/10248067/112522735-370be980-8d5b-11eb-90f8-4ac5cc27312c.png)
![H5P - no icon](https://user-image

[2021-03-25 21:09] nucleogenesis commented on #7240
After fixing, should create follow-up issue for integrating the bootstrapped data into the SPAs (removing `beforeEnter` route guards and so on)

[2021-03-25 21:39] jonboiser commented on #5960
@YashJipkate I think if it's more convenient, you can just add a new test case to an existing module like `test_channel_import`

[2021-03-25 21:44] rtibbles commented on #7240
One thing to note is that we did previously do this: https://github.com/learningequality/kolibri/blob/release-v0.7.x/kolibri/core/templatetags/kolibri_tags.py#L110 and leveraged the frontend API Resource cache so that the `beforeEnter` hooks did not need to change.

However, I don't think we should revert to this behaviour, but we could add some 'state hydration' logic to the APIResource layer to

[2021-03-25 23:03] #5464 closed, assigned to jtamiace, jonboiser

[2021-03-25 23:03] #5468 closed, assigned to jonboiser

[2021-03-25 23:04] #7477 closed, assigned to jonboiser

[2021-03-26 00:31] rtibbles commented on #7917
Fixed in #7920

[2021-03-26 00:31] #7917 closed, assigned to rtibbles

[2021-03-26 00:31] rtibbles commented on #7792
Fixed in #7920

[2021-03-26 00:31] #7792 closed, assigned to rtibbles

[2021-03-26 00:32] rtibbles commented on #5071
Thanks @adamchainz - it took us two years, but Kolibri is now using Whitenoise!

[2021-03-26 05:41] kmrinal19 commented on #7591
@jonboiser As you suggested earlier, we can have an endpoint like `GET /api/usernameexists/{username}` which returns a `200` response with a payload like `{ username_exists : false}`. If `username_exists` is false, we can continue to the next page, or if `username_exists` is false, we can show the duplicate-username error. Having an endpoint like this will also help solve #7602, where we have to e