[2020-06-05 17:49] lyw07 commented on #6982
yes it's the main kolibri-demo server with 0.13.3 and redis backend

[2020-06-05 17:56] ivanistheone commented on #6982
@rtibbles Note we have 4x more KA-sized channels queued up for "UPDATE CHANNEL", so if you have any ideas for what to watch out for and what debug info to collect let us know (@lyw07 and I plan to go through the update process around 5pm PT today).

[2020-06-05 18:00] rtibbles commented on #6982
Wondering if we should just make the lock a no-op in postgresql situations, as it's mostly to prevent issues occurring in SQLite.

Still a little concerning that the lock itself is going astray.

[2020-06-06 00:28] ivanistheone commented on #6982
New logs from trying to update KA-fr in Kolibri 0.13.3:

[code]

the line
[code]
now repeats indefinitely.

The effect of this in the UI was the task dissapreared and the KA fr channel also dissapreared from Kolibri.

I re-did the import (as if a new channel) and it started running OK. This error showed up in the logs, but the import task seems to be continuing fine:

[code]

[2020-06-06 02:42] indirectlylit opened #6998 "'remote access' permission should be bootstrapped, not loaded via API"
### Observed behavior

reported by @rtibbles - we currently load this setting async:

[code]

This causes the 'access not allowed' message to briefly display:

![2020-06-05 19 36 33](https://user-images.githubusercontent.com/2367265/83934221-fd360c00-a763-11ea-8d1c-49aec7116227.gif)

### Expected behavior

setting should be bootstrapped into the page using `plugin_data`, e.g.:

[code]

### User-fa

[2020-06-06 20:28] Tlazypanda commented on #6986
@kollivier Yeah looks like its not reproducible :sweat_smile: Checked locally but the sync all and import facility buttons problem still lies maybe we can open an issue for it :v:
![Screenshot from 2020-06-07 01-56-39](https://user-images.githubusercontent.com/33183263/83953926-3fde0e00-a862-11ea-812e-04132ca672cb.png)

[2020-06-06 20:30] Tlazypanda commented on #6987
@indirectlylit @radinamatic Yeah I checked too not reproducible locally :sweat_smile:

[2020-06-07 11:22] Lewiscowles1986 commented on #6831
https://github.com/learningequality/kolibri-design-system/pull/29 has the autocapitalize.

By case-insensitive, would you prefer lowercase trimming or uppercase trimming (I think it's lowercase)

I guess the backend could become case insensetive and have the frontend only trim what it sends there (backend should also trim). Where is it getting the value from I guess is the question. Is is from SQL

[2020-06-07 17:50] nobicycle opened #7003 "Links to Content on Linux Fail in 0.13.0, 0.13.2, 0.13.3"
### Observed behavior
$ sudo -u kolibri ls -l /opt/kolibri/content
lrwxrwxrwx 1 root root 40 Jun  8 01:33 /opt/kolibri/content -> /mnt/System/Applications/Kolibri/content

$ sudo -u kolibri ls /opt/kolibri/content
databases  storage

No content is visible in the browser.
In the past, after stopping Kolibri, creating the link and starting Kolibri, ... Kolibri would re-establish its database and all

[2020-06-07 18:39] Tlazypanda commented on #6972
@indirectlylit Looked through the files could find in one more place  :sweat_smile: `assets/learn/src/modules/examViewer/handlers.js`  but might have to check again to make sure didn't miss anything

[2020-06-08 07:52] mrpau-julius opened #7004 "Kolibri is unable to start using python 3.8"
### Observed behavior

I upgraded the python to version 3.8.3 and installed it. When I run there's an dialog message "Kolibri is unable to start: You can find additional information in your Kolibri home folder:" and the logs was empty.

I tried to run it using command prompt and it can't run because of an attribute error ` 'time' has no attribute 'clock' `

![python38-error](https://user-images.gi

[2020-06-08 08:21] jredrejo commented on #7003
Hi @nobicycle, in order to reproduce it:
- is /mnt in a diferent disk volume?
- are you using apache or nginx?

[2020-06-08 19:13] ivanistheone commented on #6982
While debugging the above on last Friday, I saw this in the logs which I wonder why cherrpy is starting? Isn't this the uwsgi setup ? Maybe the worker still runs cherrpy?

[code]

[2020-06-08 19:16] ivanistheone commented on #6982
The un-ackquired lock error showed up again while importing the pt-BR into the main demo server (see below).

[code]

and the same error again on the `kolibri-catalog-hi` server

[code]

[2020-06-08 20:23] indirectlylit commented on #6972
thanks for checking @Tlazypanda

I think those are just internal error messages

[2020-06-08 21:45] #6972 closed, assigned to indirectlylit

[2020-06-08 23:20] lyw07 commented on #6982
Oh.. I configured the environment variable `KOLIBRI_CHERRYPY_START` to be False in both app and worker, but it looks like we are still starting cherrypy even with this env var set to be False due to some code changes in Kolibri, as it's working fine for cloud kolibri servers which are running 0.12.9. I will file a different issue on this. Thank you for pointing this out! @ivanistheone

Issue filed

[2020-06-08 23:25] lyw07 opened #7009 "Cherrypy still starts with KOLIBRI_CHERRYPY_START set to be False"
### Observed behavior

In our cloud deployment settings, we set the environment variable `KOLIBRI_CHERRYPY_START` to be False and use uwsgi instead. However, cherrypy gets started when running `kolibri start` or `kolibri services` with the environment variable set to be False.

This environment variable was working fine in 0.12.9.

### Expected behavior

We are not going to run cherrypy when `KOLI

[2020-06-09 00:35] indirectlylit commented on #6976
important for 0.14 string freeze

[2020-06-09 01:14] indirectlylit commented on #6993
@cpauya would you mind taking a look at this in the context of your current work?

[2020-06-09 01:14] indirectlylit commented on #6986
thanks!

[2020-06-09 01:15] indirectlylit commented on #6986
@Tlazypanda would you mind opening an issue?

[2020-06-09 01:19] indirectlylit commented on #7004
looks to be related to this: https://github.com/sqlalchemy/sqlalchemy/issues/4731

possibly time to [upgrade](https://github.com/sqlalchemy/sqlalchemy/releases) - we're currently at `1.2.10`

[2020-06-09 01:34] indirectlylit opened #7011 "merge latest pf-mvp -> develop"
needs conflict resolution

follow-up from  #7001

[2020-06-09 02:15] nobicycle commented on #7003
@jredrejo
Yes, different disk and different partition.

I don't understand the relevance of the question about web server - the browser is simply accessing the internal Kolibri webserver.

BTW This was broken in the past.
https://github.com/learningequality/kolibri/issues/4227

[2020-06-09 04:10] indirectlylit opened #7012 "default 'network access' setting value"
### Observed behavior

After upgrading, all access is blocked:

![image](https://user-images.githubusercontent.com/2367265/84105159-586a3780-a9cc-11ea-8338-b85dda18249a.png)

### Expected behavior

The value should:

* default not to restrict for upgrades from 0.13.x
* default not to restrict for non-app context
* default to restrict for app-contexts

### User-facing consequences

users are locked

[2020-06-09 09:24] jredrejo commented on #7003
No, when using apache or nginx, the standard configuration uses it to serve content resources. They are not served by the internal webserver. Neither apache nor nginx can follow symlinks that are in different system partitions. So, this is a very important point.

That was the reason to add a new option, `STATIC_USE_SYMLINKS`,  in #6925.
Please, add it to  your options.ini file using this format:

[2020-06-09 13:19] cpauya commented on #6993
This is very similar to https://github.com/learningequality/kolibri/blob/develop/kolibri/core/logger/management/commands/generateuserdata.py management command I've been modifying in the PR: https://github.com/learningequality/kolibri/pull/7013 but I think this was used primarily for unit tests before - whereas the `generateuserdata` is used for integration testing.

I agree this needs to be updat

[2020-06-09 13:36] nobicycle commented on #7003
Hello jredrejo.
Thanks for the reply.

"No, when using apache or nginx, the standard configuration uses it to serve content resources."

So Kolibri is detecting if either of these webservers is installed and using one of them them?

In my case I have both apache and nginx installed.

How shall I determine which one Kolibri is using?

If I uninstall nginx and apache then Kolibri will fallback to it

[2020-06-09 14:56] rtibbles commented on #7004
I have an open draft PR that does this upgrade: https://github.com/learningequality/kolibri/pull/6994

Noting that we could potentially do a patch upgrade without this PR, but not the full minor version upgrade.

[2020-06-09 14:59] rtibbles commented on #7009
This is intentional - we use cherrypy to manage our non-http services.

[2020-06-09 14:59] #7009 closed, assigned to nobody

[2020-06-09 15:00] rtibbles commented on #6982
I have closed #7009 as this is intentional behaviour. We use cherrypy to manage our non-http services, and the `KOLIBRI_CHERRYPY_START` flag does not actually flag whether Cherrypy starts or not, just whether Cherrypy serves http.

[2020-06-09 15:32] jeepurs commented on #6987
A somewhat related view on a different online server - Akello Digital Classroom:

![Screenshot from 2020-06-05 23-39-18](https://user-images.githubusercontent.com/5150483/84167863-bf2b3780-aa44-11ea-9ef1-7c5aeea086ce.png)

When I zoom, the horizontal arrows disappear, but the vertical ones remain:

![Screenshot from 2020-06-05 23-38-58](https://user-images.githubusercontent.com/5150483/84167992-e5

[2020-06-09 16:09] lyw07 commented on #6982
ah sorry! thank you for the explanation!

[2020-06-09 16:22] #2362 closed

[2020-06-09 16:22] #5945 closed, assigned to nobody

[2020-06-09 17:46] jonboiser commented on #6227
## Visual/String Updates
1. Add the "new or updated" label to `ChannelContentsSummary.vue` https://github.com/learningequality/kolibri/blob/0498cfd39a6c1d70e5646470a91b515619d03cd2/kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelContentsSummary.vue#L60
1. To not have to make the `annotateNode` utility more complicated, create a new component to show the Green Dot + "New/ X new" la

[2020-06-09 17:50] indirectlylit opened #7014 "📖 Documentation for expected behavior of options (env vars, options.ini)"
### Observed behavior

Expected behavior of options is not documented.

related:

* https://github.com/learningequality/kolibri/issues/7009

### Expected behavior

Options and their behaviors are thoroughly documented - both those which can be set by env var and in options.ini.

At the very least this can be done as comments in options.py, but preferably it's pulled into the developer documentatio

[2020-06-09 17:50] indirectlylit commented on #7009
follow-up issue filed #7014

[2020-06-09 18:00] radinamatic commented on #7014
:100: x :100:

[2020-06-09 18:18] indirectlylit commented on #5945
deleted wiki page

[2020-06-09 18:59] Tlazypanda opened #7016 "Sync All and Import Facility buttons spaced too close on Facilities tab"
### Observed behavior
The sync all and import facility buttons on the facilities page are spaced a little too close together.

![image](https://user-images.githubusercontent.com/33183263/84188257-f3d4d880-aab0-11ea-840b-5188bcc4073b.png)

### Expected behavior
There should be enough spacing between the buttons.

### User-facing consequences
User experience might be hampered since it doesn't look g

[2020-06-09 19:00] Tlazypanda commented on #6986
@indirectlylit Would love to :heart: Have opened it here https://github.com/learningequality/kolibri/issues/7016 Can you check it out and add the relevant tags? Thanks  :v:

[2020-06-09 19:52] rtibbles opened #7019 "Need tests for remote access setting behaviour"
Currently untested code that can have a big impact on user interactions

[2020-06-10 00:09] jonboiser opened #7020 "non-provisioned devices are not redirected to Setup Wizard when going to `/user/` routes"
[code]

After starting the server with a new `KOLIBRI_HOME` I refreshed at `/en/user` and it did not redirect me to Setup Wizard as expected.

_Originally posted by @nucleogenesis in https://github.com/learningequality/kolibri/pull/7010#issuecomment-641496655_

[2020-06-10 00:11] jonboiser opened #7021 "Logged-in users are not authorized for `/app/api/initialize`"
Not sure if it is intentional but `/app/api/initialize` no longer works even when logged in I get a 403.

_Originally posted by @nucleogenesis in https://github.com/learningequality/kolibri/pull/7010#issuecomment-641501563_

[2020-06-10 00:12] jonboiser commented on #7020
@rtibbles My hunch is that this might be because of some changes to the redirect hooks in `core/views.py`?

[2020-06-10 04:13] Lewiscowles1986 commented on #6937
I think `/usr/bin/env python` may work better, or just having people run the files using their python interpreter of choice rather than forcing one using shebang's which can be OS / distro specific.

[2020-06-10 15:51] rtibbles commented on #7020
My guess would be that parallel changes in develop are causing errors in the middleware - will debug.

[2020-06-10 15:59] rtibbles commented on #7020
Oh... we deleted the middleware a while ago, and I think we were relying on root redirects to handle this, so I don't think this is new behaviour. It's just more egregious now, because the user page accesses device settings info in its plugin data, and gives this exception.

[2020-06-10 16:07] jredrejo commented on #7021
` /app/api/initialize` has never worked, the right url is `  /app/api/initialize/<token>`
Example:
http://localhost:8000/app/api/initialize/01f5bcbe590b45e987ae0471c002ec47

To get the token, from a kolibri shell:
[code]

[2020-06-10 16:15] #6998 closed, assigned to jredrejo

[2020-06-10 16:16] jredrejo commented on #7012
Kind of fixed (was it actually an issue?)  in #7015

[2020-06-10 16:16] #7012 closed, assigned to jredrejo

[2020-06-10 16:28] jredrejo commented on #7003
hello @nobicycle  answering inline

No, these urls are static routes in Kolibri. When  using apache or nginx, they are usually bypassed to nginx control to be more efficiently used. Example using nginx:

[code]
If you are not doing this location change they are still statically handled by cherrypy (kolibri internal webserver). I have not found any reference in Cherrypy docs about this, but it's li

[2020-06-10 16:32] jredrejo commented on #6878
I think we can close this, as this code was integrated in the work done in `app-support`, so it can be considered completed.
@indirectlylit please, reopen it in case I'm missing something.

[2020-06-10 16:32] #6878 closed, assigned to jredrejo, jtamiace, riddhiavlani

[2020-06-10 16:59] jredrejo commented on #6866
This plugin is not enabled by default and it does not make sense to use it in a normal kolibri installation. It's intended to be used in a webserver by 3rd party applications that rely on Kolibri to authenticate their users.

@aronasorman @rtibbles or @indirectlylit  do you remember or know why this plugin is bundle together with kolibri instead of being an external plugin as https://github.com/le

[2020-06-10 17:29] ivanistheone commented on #6351
I just checked with Richard, and

is "quiz- and lesson-safe", meaning if a user deletes a channel and immediately afterward re-imports (to get the new thumbnails) any lessons/quizzes will still work as expected (the quiz/lesson data is stored as json so not database-cascade-delete occurs).

One caveat is to not be editing quizzes/lessons while the delete-and-reimport tasks are running.

**We can t

[2020-06-10 18:24] rtibbles commented on #7020
OK, so the issue here is that we were previously doing the redirect in the frontend, but because the user page now tries to access a device setting during its data bootstrapping, it blocks the page from loading and so the redirect doesn't happen.

[2020-06-10 21:29] jonboiser opened #7038 "BackLink 'to' prop does not look like it's passed to RouterLink correctly"
Example from `Device/ManageTasksPage.vue`

BackLink to prop looks right (an object like `{ name: ... }`

<img width="829" alt="CleanShot 2020-06-10 at 14 26 55@2x" src="https://user-images.githubusercontent.com/10248067/84320460-8d8a9d00-ab26-11ea-987e-71a688eedbc1.png">

But the child `RouterLink`'s to prop is a function which seems different. And also the link does not have the correct URL and j

[2020-06-10 21:46] nucleogenesis commented on #7038
@jonboiser `BackLink.vue` lives here `kolibri/plugins/device/assets/src/views/ManageTasksPage/BackLink.vue` in Kolibri right now. We have a general plan to move that into KDS but haven't yet.

[2020-06-10 22:41] indirectlylit commented on #7016
likely needs to use the `KButtonGroup` component

[2020-06-10 22:46] indirectlylit commented on #6986
done, thanks

[2020-06-10 23:26] indirectlylit commented on #6227
great specs, thanks

[2020-06-10 23:29] indirectlylit commented on #6982
Putting this in the 0.14 milestone to keep it visible, but we may want to apply any fixes on the 0.13 release branch?

[2020-06-10 23:34] indirectlylit commented on #7021
cc @nucleogenesis is this closable then?

[2020-06-10 23:50] #6901 closed, assigned to nobody

[2020-06-10 23:50] #6909 closed, assigned to nobody

[2020-06-11 00:11] jonboiser commented on #6227
Added the strings here 15d5e2d4c325caa0b2db629b3113d4f57378d50b
c6dcb747da0d0735c705b8874ad367451eecf948

[2020-06-11 04:20] nobicycle commented on #7003
"I have not found any reference in Cherrypy docs about this, but it's likely it has the same problem following symlinks to different partitions."

The issue I have is why symlinks, including symlinks pointing to different disks, suddenly stopped working. Pointing to different disks is necessary as argued by @benjaoming in the comment above.

It is not likely a human error on my part since I have a

[2020-06-11 04:48] nobicycle commented on #7003
So ... Kolibri was reinstalled and in the browser the initial admin account created etc. Options.ini  -

[code]
The systemd STATIC_USE_SYMLINKS variable is also still there.

Kolibri was stopped, the content link created and Kolibri restarted.

[code]
I looked for the kolibri process using sudo ps -fe|grep 'kolibri\|python'
There was nothing.
Instead of using systemd to "stop" kolibri I did it man

[2020-06-11 09:47] cpauya opened #7030 "Authentication required after submission of the Quick start setup wizard form."
### Observed behavior
I followed the [Setting up Kolibri for development](https://kolibri-dev.readthedocs.io/en/develop/getting_started.html#setting-up-kolibri-for-development) documentation using the `develop` branch, run Kolibri, and filled the **"Quick start"** setup wizard form.  When submitting, I got a prompt "Authentication Required" for the "api".

I don't know what account to put in the d

[2020-06-11 12:18] mrpau-richard commented on #7030
I have different error after I followed the steps to reproduce this issue.

The `IndexError` show after I run the `yarn run devserver`

here's the error logs
[code]

[2020-06-11 15:37] nobicycle commented on #7003
I reverted to kolibri 0.12.8, installing using a script that has worked for years ... and all works perfectly.

Quoting @benjaoming again ...
`symlinks are very powerful mechanisms for distributing massive amounts of contents over several partitions and devices. Also in the case that the database is desired to run on a small, fast drive, while content is stored on a larger, slower drive. Therefore

[2020-06-11 16:11] indirectlylit opened #7032 "linting between pre-commit and package.json is inconsistent"
### Observed behavior

mentioned by @rtibbles:

### Expected behavior

linting when running devserver should be consistent with  `pre-commit`, which is used by travis

### User-facing consequences

devs think PRs are good but they turn out not to be

### Steps to reproduce

make a change to build tools. This will be linted by `pre-commit` but not the devserver

### Context

0.14

[2020-06-11 17:21] jredrejo commented on #7003
There is a change in 0.13.3 to use symlinks and save a lot of space in the users content folders. It should work well for all the users excepting those corner cases as yours . For your case the `STATIC_USE_SYMLINKS=False` option was created, forcing Kolibri to have the same behaviour it had previously.

I know this has been tested by some of the LE staff because in the online servers, the content

[2020-06-11 18:07] rtibbles commented on #6866
I can't recall any particular reason, except that it is usually easier for us to develop new plugins within the kolibri repo itself, especially when they require concomitant changes in core kolibri for support.

[2020-06-11 19:13] jonboiser opened #7036 "Improve swagger documentation for method-based DRF endpoints"
The ask: more detailed documentation on swagger, like what is done for the more full-featured `ModelViewSets`

For example, this `cleartasks` endpoint is implemented as a method on the main viewset....

https://github.com/learningequality/kolibri/blob/9b29c129ebf93eaf6263a297461bf4e1bb70f986/kolibri/core/tasks/api.py#L248-L259

...The swagger docs will show a comment, but no extra documentation ab

[2020-06-11 21:57] jonboiser commented on #7038
Ah okay. I can move the issue to Kolibri. Do you know why this might be happening?

[2020-06-11 21:59] jonboiser commented on #6986
The same problem was found running the PEX installer for 0.14b2.

[2020-06-11 22:08] nucleogenesis commented on #6986
This must have something to do with how the pex is being built and caching of packages - this was fixed 24 days ago in Kolibri Design System here: https://github.com/learningequality/kolibri-design-system/commit/3548f0cb4870da41bc7e466190500d8f3d98e45b

Should be fixed in future builds with: https://github.com/learningequality/kolibri/pull/7039

[2020-06-12 00:24] holta opened #7043 "Question: are .deb installers available for Kolibri Betas & Release Candidates?"
I'm not seeing a .deb installer within the "Assets" section of https://github.com/learningequality/kolibri/releases/tag/v0.14.0-beta2

Is there another way to install/test Kolibri pre-releases as part of Internet-in-a-Box (IIAB) ?

(IIAB currently requires a .deb file and uses https://learningequality.org/r/kolibri-deb-latest as seen within https://github.com/iiab/iiab/blob/master/roles/kolibri/de

[2020-06-12 07:30] cpauya commented on #7030
Fixed by #7034 and tested on the [`release-v0.14.x`](https://github.com/learningequality/kolibri/tree/release-v0.14.x) branch.

The Setup Wizard now completes without prompts or errors.
![Screen Shot 2020-06-12 at 3 26 50 PM](https://user-images.githubusercontent.com/175580/84476836-4dabed00-acc1-11ea-9169-caab43f07476.png)

Thanks!

[2020-06-12 07:30] #7030 closed, assigned to rtibbles

[2020-06-12 08:09] nobicycle commented on #7003
Well there's all the systemd stuff and overrides for environment variables. Let me see if I can export a single script that does the lot.
So 13.2 should work as in the past. I'll test that too.

If you have the time, I'd be interested to know how the Kolibri symlinks/static serving saves space and how much, or is there something in the docs?

[2020-06-12 08:30] nobicycle commented on #7003
Using the same script as 12.8, 13.2 install failed:  no content was available post install.
[code]

The difference between 12.8 and 13.2 is the step:

2020-06-12 08:24:02 [INFO] Performing start kolibri ...

Under 12.8 this step takes a few minutes as Kolibri is dealing with the 128G content. Under 13.2 this step takes no time at all.

Seems like STATIC_USE_SYMLINKS is not the issue.
12.8 Logs:
[k

[2020-06-12 13:06] cpauya opened #7046 "Errors in Firefox console during import of channel"
### Observed behavior
When importing a channel, some errors show in the Firefox's console.

On the side, I don't know if the above error causes this "131% progress" error coz I cannot reproduce this consistently.  But during import the progress bar  moves back and forth and the values indicate ... 20%, 50%, 25%, 65%,... 90%, 131%, 93%, 100% in order.

I managed to capture this screenshot.
![Screen

[2020-06-12 14:55] indirectlylit opened #7048 "follow-up from app-support merge"
### Observed behavior

### Expected behavior

finish integrating PDF renderer changes in both branches for 0.14

### User-facing consequences

missing functionality

### Context

0.14

[2020-06-12 14:57] rtibbles commented on #7048
Note - to clarify, I think the functionality is all there, but more that the styling that is not aligned with changes made after the Kolibri design system refactor.

[2020-06-12 14:59] rtibbles opened #8365 "Update use of Kolibri client to non-deprecated arguments"
Follow up from https://github.com/learningequality/kolibri/pull/7040

For the perseus viewer.

[2020-06-12 23:03] DXCanas commented on #7043
Yes, sorry - the build pipeline is under active development, so the "Assets" section of that page isn't being updated the way it used to be. This will be resolved soon!

For now, you should be able to click on the commit hash associated with that release tag to take you to that commit's page. From there, you should be able to see the checks that apply to that commit - right now it's a red X. It's

[2020-06-13 01:53] #6976 closed, assigned to rtibbles

[2020-06-16 00:06] lyw07 opened #7060 "Get request uri too large when accessing a lesson with 200 resources"
### Observed behavior

This is an issue reported on community forum:
https://community.learningequality.org/t/got-the-following-error-in-kolibri-today/1570

The user is getting error 414 (request uri too large) when accessing a lesson with more than 200 resources

### Expected behavior

Users should be able to access lessons without errors, or restricted with creating a lesson with 200 resources

[2020-06-16 10:38] mrpau-richard opened #7063 "Failed to build Integration testing spreadsheet on BuildKite"
### Observed behavior
When I unblock the `Create integration testing worksheet?` steps at the [Kolibri Python Package](https://buildkite.com/learningequality/kolibri-python-package) pipeline the build always failed.

### Expected behavior
It should build the integration testing spreadsheet

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

Tell us about your envir

[2020-06-16 17:55] radinamatic commented on #7063
Maybe @DXCanas can support?

[2020-06-16 19:10] DXCanas commented on #7063
I'm on it with a few other preventative measures.

[2020-06-16 19:29] DXCanas commented on #7063
@indirectlylit Do you have any idea of this needs to be in the release?

[2020-06-17 00:06] #6908 closed, assigned to kollivier

[2020-06-17 00:07] #3710 closed, assigned to nobody

[2020-06-17 00:14] #7020 closed, assigned to rtibbles

[2020-06-17 00:21] indirectlylit opened #7066 "setup wizard regressions"
### Observed behavior

missing margins

![image](https://user-images.githubusercontent.com/2367265/84840697-2cb30700-aff5-11ea-9aab-ba3259f1b5fb.png)

language switcher responsiveness was made for different resize behaviors:

![2020-06-16 17 18 25](https://user-images.githubusercontent.com/2367265/84840848-8adfea00-aff5-11ea-8c17-438f564e2872.gif)

### Expected behavior

* standard margin behavior

[2020-06-17 00:24] indirectlylit opened #7067 "'confirm' doesn't work when leaving the language the same"
### Observed behavior

'confirm' does nothing:

### Expected behavior

confirm should close the modal

### User-facing consequences

annoyance

### Errors and logs

[code]

### Context

0.14

[2020-06-17 00:26] indirectlylit opened #7068 "router errors and warnings in setup wizard"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/84841132-53be0880-aff6-11ea-8ffc-640eb88c771e.png)

### Errors and logs

[code]

### Steps to reproduce

open setup wizard

### Context
0.14

[2020-06-17 02:09] indirectlylit commented on #7043
@holta we'll also be doing our best to keep this page up-to-date during the beta-testing process:

https://github.com/learningequality/kolibri/wiki/0.14.0-beta-testing

Your testing is very much appreciated!

[2020-06-17 02:09] #7043 closed, assigned to DXCanas

[2020-06-17 02:17] indirectlylit commented on #7063
@DXCanas this is critical to begin integration testing

[2020-06-17 03:14] indirectlylit opened #7070 "misaligned info icon"
### Observed behavior

info icon:

![image](https://user-images.githubusercontent.com/2367265/84850942-ddc59b80-b00d-11ea-8a36-fd721f236b71.png)

### Expected behavior

properly aligned

### Steps to reproduce

go through setup wizard

### Context

0.14

[2020-06-17 03:28] indirectlylit opened #7071 "audit and delete unused status strings"
### Observed behavior

in `statusStrings.js` in coach reports, it appears that the only strings which actually get used are:

* `LearnersCompleted`
* `LearnersDidNotStart`
* `LearnersNeedHelp`
* `LearnersStarted`

these may be relics of early string "stubbing" before designs were finalized

### Expected behavior

no unused strings

### User-facing consequences

none but we're wasting money and tim

[2020-06-17 16:08] rtibbles commented on #7004
OK - looks like we would need to merge #6994 in order to address this, as a patch version of SQL Alchemy would not support Python 3.8.

[2020-06-17 16:32] #7011 closed, assigned to nobody

[2020-06-17 21:41] nucleogenesis commented on #7038
Fixed #7041

[2020-06-17 21:41] #7038 closed, assigned to nucleogenesis

[2020-06-17 23:41] #7048 closed, assigned to nucleogenesis

[2020-06-18 08:55] cpauya opened #7077 "Errors when generateuserdata is used in Command Prompt under Windows 7 or 10."
### Observed behavior

Errors when the `generateuserdata` management command is used in the Command Prompt under Windows 7 or 10.
<img width="739" alt="Screen Shot 2020-06-18 at 3 40 25 PM" src="https://user-images.githubusercontent.com/175580/84998496-7d0b9f80-b182-11ea-83fd-f7d49ba7722f.png">

There are sample data generated BUT the errors are very misleading for the user.
<img width="739" alt="

[2020-06-18 13:34] mrpau-richard opened #7079 "User options alignment issue"
### Observed behavior
User options text alignment issue and not displaying with the right font size.

### Expected behavior

…

### Errors and logs
![c1](https://user-images.githubusercontent.com/8663934/85026278-0d5dda80-b1ab-11ea-9db4-04fe4c97e806.PNG)

Please wrap errors in triple backticks for clean formatting like this:
[code]
-->

…

### Steps to reproduce

…

### Context

Tell us about your

[2020-06-18 13:58] mrpau-richard opened #7080 "Learner recommended page server error 500"
### Observed behavior
Learner recommended page server error 500.

This learner account was generated by `generateuserdata` command. I tried it with the learner account I manually created and I can't reproduce the error.

### Expected behavior

user can access recommended page

### User-facing consequences

### Errors and logs
![c2](https://user-images.githubusercontent.com/8663934/85029259-af32f68

[2020-06-18 14:16] cpauya opened #7081 "Filter controls are hidden when there are no results."
### Observed behavior
While testing [learner-find-content-item.feature](https://github.com/learningequality/kolibri/blob/release-v0.14.x/integration_testing/features/learner/learner-find-content-item.feature) - the filter controls are hidden when there are no results.

![2020-06-18-thu--v0 14 x-b2--search filter bug](https://user-images.githubusercontent.com/175580/85030435-0a191d80-b1b0-11ea-82d7

[2020-06-18 17:07] indirectlylit commented on #7004
@mrpau-julius  should be addressed - would you mind testing and re-opening if there are still issues?

[2020-06-18 17:07] #7004 closed, assigned to rtibbles

[2020-06-18 17:16] indirectlylit commented on #6986
#7039 is merged but I'm still seeing this 🤔

![image](https://user-images.githubusercontent.com/2367265/85051739-bde8c180-b14c-11ea-9827-661d181ea1b9.png)

[2020-06-18 17:18] indirectlylit commented on #7079
duplicate of https://github.com/learningequality/kolibri/issues/6986

[2020-06-18 17:18] #7079 closed, assigned to nobody

[2020-06-18 17:54] radinamatic commented on #7077
Should be fixed by  #7078.

[2020-06-18 17:54] #7077 closed, assigned to nobody

[2020-06-18 19:26] rtibbles commented on #5382
Fixed in #6994

[2020-06-18 19:26] #5382 closed, assigned to nobody

[2020-06-18 19:30] rtibbles commented on #2652
Fixed in #5957

[2020-06-18 19:30] #2652 closed

[2020-06-18 19:36] nucleogenesis opened #7086 "Remove crossComponentTranslator in FacilitiesTasksPage"
### Observed behavior

Use of `crossComponentTranslator` to get strings in FacilityTasksPage after string freeze.

### Expected behavior

Define strings in the component they're used in or decide if the used strings should be in a core file.

### User-facing consequences

None but early on in my time at LE I eradicated `crossComponentTranslator` usage across the app and I will not continue to suff

[2020-06-18 19:39] indirectlylit opened #7087 "document set of external plugins"
### Observed behavior

We have functionality that exists in other plugins, but it is hard to know what exists for folks who aren't aware

for example see https://github.com/learningequality/kolibri/pull/7083/

### Expected behavior

we should have a section of the developer docs which discusses external plugins:

* what's available
* how to install them
* where the source is located

### User-faci

[2020-06-18 19:43] DXCanas commented on #7032
Can someone shed light on why we're using both Black and flake8 to begin with? Black is supposed to be pep8 compliant, and it just feels like there might be too many cooks in the kitchen in regards to linting.

[2020-06-18 19:45] nucleogenesis opened #7088 "crossComponentTranslator breaks across components"
### Observed behavior

Despite `crossComponentTranslator` being forbidden in our code except in the most extreme circumstances, we, it seems that it needs some TLC.

It does not allow for us to import translations from across plugins according to @rtibbles who said:

Considering that `crossComponentTranslator` is something that we would only ever permit in our code at a time where we have a deadli

[2020-06-18 19:45] indirectlylit opened #7089 "document build processes"
### Observed behavior

* It's difficult to understand how to download artifacts - see e.g. https://github.com/learningequality/kolibri/issues/7043
* The high level architecture of our build system is not documented, e.g. Docker, buildkite, etc
* Creating custom builds or build pipelines is not documented, e.g. setting options and installing plugins

### Expected behavior

In the developer docs, it

[2020-06-18 21:22] indirectlylit opened #7091 "import footer styling regression"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/85073073-fef1cd80-b16e-11ea-98c5-8e2342430929.png)

### Expected behavior

button and text should be vertically centered, or the footer should be shorter in height

### Steps to reproduce

import

### Context

0.14 beta 3

[2020-06-18 21:33] indirectlylit opened #7093 "username field is not required"
### Observed behavior

can proceed with an empty username:

![2020-06-18 14 31 48](https://user-images.githubusercontent.com/2367265/85073947-8e4bb080-b170-11ea-95b7-062046028dee.gif)

### Expected behavior

username should be required and have auto-focus

### User-facing consequences

confusion

### Context

0.14 beta 3

[2020-06-19 01:41] nobicycle commented on #7003
Just tested on 0.13.0 - links that work on 12.8 fail here too.

"There is a change in 0.13.3 to use symlinks and save a lot of space in the users content folders. It should work well for all the users excepting those corner cases as yours ."

The Linux platform/file system links is not a "corner case".  @benjaoming put forward the strong case for supporting Linux in #4227

0.13.3 is not the proble

[2020-06-19 07:38] #6866 closed, assigned to jredrejo

[2020-06-19 08:46] cpauya commented on #7080
@mrpau-richard What channel did you use for this test?

[2020-06-19 09:23] cpauya commented on #7080
Tried this on my local Windows 10 VM using Chrome v83.  Users were created from `kolibri manage generateuserdata --facilities 2 --no-onboarding`, username: `Wingthe` password: `password`.

No error/s at the recommended page but I haven't imported any content yet.
<img width="1016" alt="Screen Shot 2020-06-19 at 5 19 05 PM" src="https://user-images.githubusercontent.com/175580/85117450-71d37500-b25

[2020-06-19 10:26] cpauya commented on #7080
I imported the `nakav-mafak` channel and tried again but there's no error so far.  The `Wingthe` and the `superuser` users are both from the `generateuserdata` command.

<img width="1016" alt="Screen Shot 2020-06-19 at 6 19 18 PM" src="https://user-images.githubusercontent.com/175580/85122839-cbd83880-b259-11ea-8857-298a6b645cef.png">

Relevant log files for reference:
[console-export-2020-6-19_18

[2020-06-19 13:32] mrpau-richard commented on #7080
@cpauya I use the `nakav-mafak` channel token, I forgot to  add that to the steps to reproduce.

[2020-06-19 15:40] holta commented on #7043
Question:

Can Kolibri .deb installers like the current one ([v0.14.0-beta3](https://launchpad.net/~learningequality/+archive/ubuntu/kolibri-proposed/+files/kolibri_0.14.0~beta3-0ubuntu2_all.deb)) be made available directly within the assets section of GitHub releases like https://github.com/learningequality/kolibri/releases/tag/v0.14.0-beta3 so they're discoverable and findable ?

[2020-06-19 15:42] mrpau-julius opened #7097 "Question number has a zero value"
### Observed behavior

There's an error occurs when the learner takes a quiz.
![q1-zero-number](https://user-images.githubusercontent.com/38421180/85150233-da881500-b284-11ea-851a-ccd699abec52.png)

### Expected behavior

Learners can take a quiz.
### User-facing consequences

…

### Errors and logs

[code]

### Steps to reproduce

1. Create a quiz
2. Log in as a learner
3. take a quiz

### Contex

[2020-06-19 15:46] indirectlylit commented on #7032
`black` is a formatter and `flake8` is a linter - they do different things

[2020-06-19 15:47] indirectlylit commented on #7032
for example, flake will warn about undefined variables and fix up import ordering for you

[2020-06-19 15:53] indirectlylit opened #7098 "error page formatting"
### Observed behavior

copy button missing top margin, and clipped shadows:

![image](https://user-images.githubusercontent.com/2367265/85152577-087c4380-b20a-11ea-8de0-8e3f7c411910.png)

observed in https://github.com/learningequality/kolibri/issues/7097

### Expected behavior

proper formatting as seen in 0.13

### User-facing consequences

styling regression

### Steps to reproduce

manually fo

[2020-06-19 16:07] indirectlylit opened #7099 "add linter to prevent LFS files from being checked in"
### Observed behavior

on at least three occasions now we've had binary files inadvertently checked in:

* https://github.com/learningequality/kolibri/pull/7092
* https://github.com/learningequality/kolibri/pull/6802
* https://github.com/learningequality/kolibri/pull/6467

### Expected behavior

travis should block merges of PRs that have these files checked in

### User-facing consequences

frust

[2020-06-19 16:08] carinediaz opened #7100 "Have the option to hide quizzes altogether on the learner view"
UN Women Chile's IP, VEOMAS, who works in a non-formal context, with adult, vulnerable women suggested the **option for quizzes to be hidden altogether on the learner view**. (cc @jredrejo @rtibbles @indirectlylit)

They find the concept of a quiz something that can be intimidating for the women and it's not something that is part of their pedagogy model, so having the notification "There are no q

[2020-06-19 16:12] indirectlylit commented on #7043
I believe @DXCanas is working on that, but it's taking some time to get our various buildkite pipelines to play nicely with github releases

in the meantime, we're trying to keep the wiki page linked above as up-to-date as we can

[2020-06-19 16:12] #7100 closed, assigned to nobody

[2020-06-19 16:24] rtibbles commented on #7032
Except that flake8 is also auto-formatting files, so it does have some overlap with black's role.

Fairly sure that flake8 doesn't modify import ordering, that's this hook: https://github.com/learningequality/kolibri/blob/develop/.pre-commit-config.yaml#L16

I think the issue that @DXCanas is raising is if flake8 is also modifying files, then we should stop it doing that and let black handle that.

[2020-06-19 16:26] rtibbles commented on #7032
I think I slightly misled @DXCanas here by failing to mention the linting role of flake8 during our conversation, so that's my fault!

[2020-06-19 16:29] indirectlylit commented on #7003
It's unfortunately uncommon enough that it slipped by without anyone noticing. In order to maintain support, we'll need to add explicit testing of the scenario in our integration testing stories:

https://github.com/learningequality/kolibri/tree/develop/integration_testing/features

@nobicycle if it's possible for you to summarize the steps to reproduce using roughly the format of our integration

[2020-06-19 16:42] mrpau-julius opened #7101 "No display of exercises"
### Observed behavior

Learners can't view the exercises that they choose.
![Cant-displlay-exercises](https://user-images.githubusercontent.com/38421180/85157494-24c1c400-b28e-11ea-8225-f9747459bb3d.png)

### Expected behavior

Learners can take exercises.

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

1. Log in as a learner
2. Go to learn page recommended tab
3.

[2020-06-19 18:46] mrpau-julius opened #7103 ""Kolibri stop" command is not working in Windows"
### Observed behavior

There's an error when I used `kolibri stop` in command prompt.
![image](https://user-images.githubusercontent.com/38421180/85169568-986bcd00-b29e-11ea-8edb-dfad88b5a8b9.png)

### Expected behavior

User can stop running the Kolibri using `kolibri stop` command.
### User-facing consequences

…

### Errors and logs

[code]

### Steps to reproduce

…

### Context

* Kolibri ver

[2020-06-20 04:56] nobicycle commented on #7003
OK.

1. pip install kolibri into a python 3.6  virtual environment.
[code]
2.Stop Kolibri and replace the **content** directory with a soft link to the content directory on a separate disk to the disk used by Kolibri and make sure Kolibri has permissions on the linked directory.
[code]
3. Restart Kolibri. A wait of about 3 minutes is required whilst Kolibri digests the 128 GB of content (in my cas

[2020-06-21 18:04] intelliant01 opened #7108 "Setup file corrupt for 0.14.0-beta3 on Windows"
### Observed behavior

Downloaded 0.14.0-beta3 installer for Windows twice. Each time is gives this message upon installation attempt on Windows 10.

![image](https://user-images.githubusercontent.com/2577060/85231800-d04a5000-b417-11ea-9622-d42486943fc0.png)

### Expected behavior

Should have installed correctly.

### User-facing consequences

Unable to install latest Kolibri release.

### Error

[2020-06-22 01:47] indirectlylit commented on #7108
@mrpau-dev mind investigating?

[2020-06-22 01:53] radinamatic commented on #7108
Yes, please @mrpau-dev, error replicated on both Windows 7 & 10.

Windows 7 | Windows 10
------------ | -------------
![Selection_631](https://user-images.githubusercontent.com/1457929/85241325-b6baff80-b43b-11ea-919e-1a609f7a3a0e.png) | ![Selection_632](https://user-images.githubusercontent.com/1457929/85241359-d81beb80-b43b-11ea-9997-a50c92b96b5f.png)

Was there something missing from the latest

[2020-06-22 01:59] indirectlylit commented on #6066
@cpauya would you mind verifying that this is addressed in the latest 0.14?

[2020-06-22 01:59] #6066 closed, assigned to nobody

[2020-06-22 02:06] #6848 closed, assigned to jredrejo

[2020-06-22 02:14] indirectlylit opened #7111 "'escape' button should close side-nav and user menu"
### Observed behavior

'escape' is a standard way of closing modal interfaces, and we use this in all our modals and menus. This does not work for the user menu or side-nav:

![2020-06-21 19 12 04](https://user-images.githubusercontent.com/2367265/85242258-628c2d00-b3f3-11ea-91a6-e1a0f6f31c28.gif)

### Expected behavior

'escape' to close side nav and menu

### User-facing consequences

inconsiste

[2020-06-22 02:17] indirectlylit opened #7112 "duplicate i18n namespace"
### Observed behavior

[code]

### Expected behavior

no duplicate namespaces

### User-facing consequences

potential issues with translations

### Steps to reproduce

run Kolibri devserver

### Context

0.14 beta 3

[2020-06-22 02:19] indirectlylit commented on #7016
the spacing is addressed, but the shadow clipping is still an issue.

ref: https://github.com/learningequality/kolibri-design-system/issues/32

[2020-06-22 02:21] indirectlylit opened #7113 "no spacing between buttons and horizontal line"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/85242615-60769e00-b3f4-11ea-9723-9963b2d075f1.png)

### Steps to reproduce

content import screen

### Context

0.14 beta 3

[2020-06-22 02:22] indirectlylit commented on #7046
still present

[2020-06-22 02:26] indirectlylit commented on #6942
I believe this may be addressed. Let's follow up with @jamalex and close if appropriate

[2020-06-22 02:30] indirectlylit commented on #6426
this has been addressed by adding all mo files

[2020-06-22 02:30] #6426 closed, assigned to rtibbles

[2020-06-22 02:31] indirectlylit commented on #6282
closing  due to inactivity

please re-open if it's still an issue

[2020-06-22 02:31] #6282 closed, assigned to nobody

[2020-06-22 02:33] indirectlylit commented on #5619
#6646 was merged in March, but sounds like this issue has not been addressed

[2020-06-22 03:01] kollivier commented on #5619
Did the ProFuturo PRs ever make it into 0.13.x? I thought we only merged them into 0.14? Or has 0.14 testing reproduced this issue as well?

[2020-06-22 06:00] radinamatic commented on #7089
Looking forward to this, add me to review :pray: !

[2020-06-22 06:49] mrpau-richard commented on #7108
I think this is one of the reasons why it's corrupted https://jrsoftware.org/isfaq.php#corrupt

@indirectlylit any idea where I can find the specific build on the BuildKite that produce this corrupted beta3 installer?

[2020-06-22 07:23] cpauya commented on #7108
I think it was downloaded from the [Kolibri Github releases](https://github.com/learningequality/kolibri/releases/) page @mrpau-richard - that's the corrupted one.  Built: Fri, 19 Jun 2020.
<img width="739" alt="Screen Shot 2020-06-22 at 3 18 34 PM" src="https://user-images.githubusercontent.com/175580/85259479-ba7e6e80-b49b-11ea-885a-c088db650bdd.png">

I just tested the [latest build on BuildKit

[2020-06-22 07:27] radinamatic commented on #7108
I think it was this one:
https://buildkite.com/learningequality/kolibri-python-package/builds/1170

[2020-06-22 07:51] cpauya commented on #7103
I also experienced this while testing `release-0.14.0-beta2` last week:
<img width="1016" alt="Screen Shot 2020-06-19 at 6 27 22 PM" src="https://user-images.githubusercontent.com/175580/85262284-2662d600-b4a0-11ea-948c-dca0c715c220.png">

[2020-06-22 08:06] cpauya commented on #7108
I downloaded the Windows artifact from that build (built: Fri, 19 Jun 2020) and it worked - maybe the one on Github is not completely copied (thus the corruption) as explained in the above link from @mrpau-richard?
<img width="739" alt="Screen Shot 2020-06-22 at 3 40 18 PM" src="https://user-images.githubusercontent.com/175580/85263702-249a1200-b4a2-11ea-9f04-6da646143de7.png">

[2020-06-22 08:14] cpauya commented on #7108
On a side note, was wondering why the build info is missing in the Kolibri version @indirectlylit - is this intentional?  I think it's useful to pinpoint the build used for the installer/package.

[2020-06-22 15:24] jamalex commented on #6942
Yep, we're back to where we were before.

On Sun, Jun 21, 2020, 7:26 PM Devon Rueckner <notifications@github.com>
wrote:

[2020-06-22 16:22] jredrejo opened #7115 "Login screen is appearing with app-mode enabled and allow other browsers to connect disabled"
### Observed behavior
This is a regression in 0.14 beta.
After enabling app-mode, if the settings that allow other browsers to connect is disabled, accessing from a non-authorized browser should provide a non-authorized error, however it shows the login screen and the list of users.

Depending on the settings combination, login becomes impossible too:

![password_error](https://user-images.githubu

[2020-06-22 16:31] rtibbles commented on #7115
Note that this is only an issue if you have previously not been in app mode when provisioning the device, and then switch to app mode. For devices provisioned in app mode, this would not occur.

[2020-06-22 16:36] jredrejo commented on #7097
The problem is in the quiz creation, as it's created with 0 questions:
![image](https://user-images.githubusercontent.com/1008178/85312514-389c3e80-b4b7-11ea-9561-674bc6a546df.png)

[2020-06-22 17:21] jonboiser opened #7117 "KDP Sync tasks do not display facility name and "retry" button does not work"
### Observed behavior

Screenshots are from the https://kolibri-beta.learningequality.org/en/device/#/facilities from around this time

The name of the facility is not shown here:

<img width="979" alt="CleanShot 2020-06-22 at 10 17 28@2x" src="https://user-images.githubusercontent.com/10248067/85316953-7034c780-b472-11ea-811b-c721f5ff35da.png">

Because the `facility_name` field is missing from t

[2020-06-22 17:51] indirectlylit commented on #7108
When a build is created from a tagged release, it should be the same one available from the releases page:

https://github.com/learningequality/kolibri/releases/tag/v0.14.0-beta3

[2020-06-22 18:16] jredrejo commented on #7101
I think this is probably fixed with #7118

[2020-06-22 20:32] jonboiser commented on #7068
This is caused by the router.js wrapper assigning the component name as a the route name. E.g. The parent route is given a `name` of `UngroupedSetupSteps`, even though it's not set in the `routes` array.

In the SetupWizard, we don't don't make the mistake of using `to: {name: 'UngroupedSetupSteps'}`, so we can ignore the warnings for now.

[2020-06-22 21:44] indirectlylit opened #7120 "facility import modal issues"
### Observed behavior

When importing a facility it shows a message of the form `(ID), url` instead of, for example, `url (ID)`:

![image](https://user-images.githubusercontent.com/2367265/85338525-46da6280-b497-11ea-8c1a-a870bc65feb9.png)

On the next step there is an empty string:

![image](https://user-images.githubusercontent.com/2367265/85338489-388c4680-b497-11ea-805f-64478ff7c054.png)

###

[2020-06-22 21:51] indirectlylit opened #7121 "'Back to facilities' link missing arrow"
### Observed behavior

No arrow:

![image](https://user-images.githubusercontent.com/2367265/85338727-adf81700-b497-11ea-96ed-ae372c2b2f03.png)

### Expected behavior

Same styling as task manager back link for import and back links in coach

### Steps to reproduce

import a facility

### Context

0.14 beta 3

[2020-06-22 21:54] indirectlylit opened #7122 "initiating import of a facility goes to facility page instead of task manager"
### Observed behavior

After triggering an import, the user sees:

| Initial landing page | After clicking "view task manager" |
|--|--|
|![image](https://user-images.githubusercontent.com/2367265/85338957-0fb88100-b498-11ea-99d2-67436576f8d2.png)|![image](https://user-images.githubusercontent.com/2367265/85338950-0deebd80-b498-11ea-9aa9-cf64fcd4e40b.png)|

### Expected behavior

To be consistent

[2020-06-22 21:58] indirectlylit opened #7123 "name of facility is incorrectly wrapped in single-quotes"
### Observed behavior

We use single-quotes to wrap user-generated text, like the name of facilities. We use parentheses to wrap the computer-generated IDs of facilities.

The task manager combines the two as `Sync '{facility} (`id`)'`

![image](https://user-images.githubusercontent.com/2367265/85339241-9bcaa880-b498-11ea-92ad-72552927e9d4.png)

### Expected behavior

String should be `Sync '{faci

[2020-06-22 22:06] indirectlylit opened #7124 "apply KButtonGroup component to error page"
### Observed behavior

add inner margin using `KButtonGroup`

![image](https://user-images.githubusercontent.com/2367265/85339870-dd0f8800-b499-11ea-91c4-a433b6e6aaee.png)

### Context

0.14.0 beta 3

[2020-06-22 22:14] indirectlylit opened #7125 "'database is locked' error while import/exporting facility and trying to view device info page"
### Observed behavior

While running facility import or export, trying to access the device info page throws a 500 error:

![image](https://user-images.githubusercontent.com/2367265/85340258-a0905c00-b49a-11ea-8eb4-dcb4f452fe74.png)

[code]

### Expected behavior

Able to view device info while import/export is occurring

### User-facing consequences

broken functionality and unexpected error, or

[2020-06-22 22:34] indirectlylit opened #7127 "issues with facility import functionality"
### Observed behavior

The import process has been stuck on 99% for about 10 minutes:

![image](https://user-images.githubusercontent.com/2367265/85341047-23fe7d00-b49c-11ea-8c28-c7401af854b0.png)

During that time I got a few dozen warnings like this:

[code]

A few dozen like this:

[code]

And about 100,000 entries like this:

[code]

![2020-06-22 15 26 02](https://user-images.githubusercontent

[2020-06-22 23:18] cpauya commented on #7108
Ah, then I think we just need to replace the one on Github (re copy It from Buildkite).

[2020-06-22 23:44] indirectlylit opened #7130 ""(you)" label on device permissions page matches on username and not ID"
### Observed behavior

When the same username exists in multiple facilities, the device permissions page gets confused about which user you actually are:

![image](https://user-images.githubusercontent.com/2367265/85345479-6da09500-b4a7-11ea-8023-e263e4f92380.png)

### Expected behavior

Would the real JB please stand up?

### User-facing consequences

multi-facility admin account management is al

[2020-06-22 23:50] indirectlylit opened #7131 "exact word matches should display first in user search"
### Observed behavior

My username is 'd' and my full name is 'd'. In order to find the user I need to page through multiple pages

![2020-06-22 16 47 34](https://user-images.githubusercontent.com/2367265/85347238-e3f3c600-b4ac-11ea-99d8-1f602bd600e0.gif)

### Expected behavior

exact word matches should display first in all user searches (e.g. class assignment, device permission, facility user li

[2020-06-22 23:57] indirectlylit opened #7132 "show full device ID under 'advanced info'"
### Observed behavior

reported by @jamalex:

We show the first 4 digits of the instance_id (side note: may be best to use "instance_id" throughout the code rather than "device_id", to not have to explain to devs that it's the same thing).

### Expected behavior

Four digits is enough to distinguish the device very locally, but isn't sufficiently unique for larger-scale disambiguation (e.g. there

[2020-06-23 00:07] indirectlylit opened #7134 "'save' notification in facility settings should use snackbar"
### Observed behavior

Here we use an old-style notification:

![image](https://user-images.githubusercontent.com/2367265/85346459-4d260a00-b4aa-11ea-9f12-2de4aff1a737.png)

### Expected behavior

Should use a pop-up, transient snackbar like user-creation:

![image](https://user-images.githubusercontent.com/2367265/85346549-a55d0c00-b4aa-11ea-9774-8716bcf05cd3.png)

### User-facing consequences

*

[2020-06-23 00:23] indirectlylit opened #7135 "password field is set with unknown value when creating new admin"
### Observed behavior

Specifically when password-free learner login is enabled, the first password field is populated after switching the learner type from Learner to Admin or Coach:

![2020-06-22 17 17 15](https://user-images.githubusercontent.com/2367265/85347224-db02f480-b4ac-11ea-98ab-87b8bfad9583.gif)

### Expected behavior

password field should be empty after switching to a user type that

[2020-06-23 01:33] cpauya commented on #7108
As per @indirectlylit on Slack:

[2020-06-23 03:09] indirectlylit opened #7137 "leakage between facilities"
### Observed behavior

refs:

* https://www.notion.so/learningequality/leakage-between-facilities-5bfe10e8cea24886902337282a38d20a
* https://www.notion.so/learningequality/Wrong-facility-s-classes-list-shows-up-in-All-classes-list-dd3ff1b12fc0426c873bd42de60a3fe7

### Context

0.14.0 beta 3

[2020-06-23 03:19] indirectlylit opened #7138 "inconsistent learner enrollment issues with multiple facilities"
### Observed behavior

observed by @carinediaz

corroborated by @nucleogenesis

### Context

0.14.0 beta 3

[2020-06-23 03:23] indirectlylit opened #7139 "channel thumbnails should be 16:9 ratio"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/85357363-fa5a4b80-b4c5-11ea-9807-8336449a2eae.png)

### Expected behavior

both channels and thumbnails must be 16:9

when images exist that do not conform, we must letterbox them (make them smaller and add extra white margins to fill the remaining space)

### Context
0.14.0 beta 3

[2020-06-23 03:29] indirectlylit opened #7140 "regression in breadcrumb styling"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/85357700-c4699700-b4c6-11ea-95c3-54d570927b9a.png)

### Expected behavior

single-line behavior:

![image](https://user-images.githubusercontent.com/2367265/85357718-d3e8e000-b4c6-11ea-83d2-9f78818dd991.png)

### Steps to reproduce

see:

* https://kolibri-beta.learningequality.org/en/learn/#/topics/t/fca3246f932c5a2

[2020-06-23 03:46] indirectlylit opened #7141 "Property or method "disableTransition" is not defined"
### Observed behavior

seeing this on most pages

[code]

### Context

0.14.0 beta 3

[2020-06-23 07:19] mrpau-richard opened #7142 "PDF buttons alignment issue on IE11"
### Observed behavior

PDF buttons

* not properly horizontally aligned on IE11
* not properly vertically aligned

### Expected behavior

* align right horizontally
* align center vertically

### Errors and logs
This is the display on IE11
![c1](https://user-images.githubusercontent.com/8663934/85372307-3c39cf00-b564-11ea-9d18-3ff646437f96.PNG)

This is the display on chrome 83 and Firefox 77
![cc

[2020-06-23 07:40] mrpau-richard opened #7143 "Funza window overlap"
### Observed behavior
Funza window overlap at the `download resource` button

### Errors and logs
This is the display on IE11, Chrome, Firefox

![IE](https://user-images.githubusercontent.com/8663934/85374567-91c3ab00-b567-11ea-9cae-207e413511ca.PNG)

### Context

Tell us about your environment, including:
 * Kolibri version: 0.14.0b2
 * Operating system: Windows 10
 * Browser: IE11 Chrome 88 Fire

[2020-06-23 11:53] MisRob commented on #7046
## 1. "[Vue warn]: Property or method "disableTransition" is not defined on the instance but referenced during render."

This can be fixed by removing [`disableTransition` condition](https://github.com/learningequality/kolibri-design-system/blob/develop/lib/loaders/KCircularLoader.vue#L13) or adding it as a property to _KCircularLoader_.

Edit: I've just noticed that the property is [there already

[2020-06-23 11:58] MisRob commented on #7141
I've just commented on this issue here https://github.com/learningequality/kolibri/issues/7046#issuecomment-648097160

[2020-06-23 14:53] #7101 closed, assigned to rtibbles

[2020-06-23 14:53] #7097 closed, assigned to jredrejo

[2020-06-23 15:24] jamalex opened #7144 "Error in documentation of "exportusers" command"
### Observed behavior

[code]

### Expected behavior

Not needing the "-O" part of the arguments as per the docs:
https://kolibri.readthedocs.io/en/latest/manage/command_line.html?#export-users-to-a-csv-file

(Not sure whether we should change the docs or the command)

[2020-06-23 16:06] bjester commented on #7127
I believe we'll need to make the sync an operation that can't be canceled. We've started seeing messages like this when it's been cancelled before.

[2020-06-23 16:10] intelliant01 opened #7145 "Learner activity records partially not visible after upgrade to 0.14b3"
# Observed Behaviour

Upgraded from 0.13.3 to 0.14b3. Learner activity records were partially not visible in Class Home -> Class activity and Reports. Downgraded back to 0.13.3 and they are all visible again.

# Expected behavior

All learner activity should be visible as prior to upgrade

# User-facing consequences

 Confusion and fear of data loss.

# Errors and logs

None on screen

# Steps to

[2020-06-23 17:02] indirectlylit commented on #7141
thanks, closing this as a duplicate

[2020-06-23 17:02] #7141 closed, assigned to nucleogenesis

[2020-06-23 17:04] indirectlylit commented on #7046
yup - and in fact I'd forgotten that I already opened a PR for it here: https://github.com/learningequality/kolibri-design-system/pull/38

[2020-06-23 17:07] indirectlylit commented on #5343
reported again here: https://github.com/learningequality/kolibri/issues/7046

[2020-06-23 17:08] indirectlylit commented on #7046
This behavior is reported here: https://github.com/learningequality/kolibri/issues/5343

[2020-06-23 17:11] indirectlylit commented on #7046
@MisRob would it be possible to add some logging before or after the 404 indicating that this is an expected response and not an error to be concerned about?

[2020-06-23 17:11] indirectlylit commented on #5343
considering the frequency with which people see, report, and try to debug this error, we really should at least add logging indicating that it is not an error that people should be concerned about. We should do the same thing for password-free login

[2020-06-23 17:29] bjester commented on #6614
I don't think enforcing classes instead of tags will help very much. I still see class styles scoped with a data attribute selector, so I think they're both on the same level regarding data attribute affecting performance.

I found a test suite comparing selectors. Test 4 is tag with attribute selector, and test 20 a single class selector. Unfortunately there's no test for a class with attribute s

[2020-06-23 17:29] #6942 closed, assigned to kollivier, jamalex

[2020-06-23 17:30] rtibbles commented on #7046
Note the main error here is actual the final one in the second screenshot `TypeError: id must be defined` - here an actual error is occurring as the frontend code is asking the API resource layer to fetch an object with id `undefined`.

[2020-06-23 17:49] indirectlylit commented on #6614
This is guidance from the official vue docs: https://vue-loader.vuejs.org/guide/scoped-css.html#also-keep-in-mind

Unfortunately the link "Here's a playground where you can test the differences yourself" is broken... If their guidance is no longer accurate though, maybe we should let them know

Regardless of performance I think it still helps with encouraging decoupled CSS, but I agree it's much l

[2020-06-23 17:51] indirectlylit commented on #6614
removing the 0.14 milestone. It was originally targeted because @rationality6 was working on this, but appears that PR is closed

[2020-06-23 18:20] bjester commented on #6614
Yeah I saw that but I think it relies on the condition "will be many times slower when scoped (i.e. when combined with an attribute selector)". From what I see, class selectors become combined with an attribute selector too.

Hmm if you scroll down, the the names of each test are links and launch each test which alerts the time it takes. I observed similar results to the table, although much slowe

[2020-06-23 18:22] jonboiser commented on #7138
I believe that the problem is that the link to this button is hard-coded and "forgets" the Facility ID in the URL that's used to help the app remember what facility the admin is working with

![image](https://user-images.githubusercontent.com/10248067/85441264-c1f95280-b543-11ea-9e49-17726273344e.png)

So if you're creating and enrolling learners, click the "All classes" link, and do more work, yo

[2020-06-23 18:59] indirectlylit commented on #5619
ah thanks - for some reason I thought this was reproduced on 0.14

@cpauya would you mind testing in the latest 0.14 beta and re-opening if it still exists there?

[2020-06-23 18:59] #5619 closed, assigned to nobody

[2020-06-23 19:02] jonboiser commented on #7137
Based on the the descriptions, the root cause of this issue might be the same as in #7138

[2020-06-24 00:44] indirectlylit opened #7147 "errors when trying to explore without an account"
### Observed behavior

Reported by @jonboiser, @jayoshih, @jtamiace, @radinamatic

* https://www.notion.so/learningequality/Get-the-401-error-pop-up-after-clicking-Explore-without-account-1a40ad6d83af4d089c0c009958ae98a8
* https://www.notion.so/learningequality/Got-403s-when-I-tried-to-explore-without-an-account-84d10b3edb2c43ba80ad83d41c7960ca

However I can not reproduce on the Kolibri beta serv

[2020-06-24 01:00] indirectlylit opened #7148 "login page UX issues"
### Observed behavior

The login page is functional but could use cleanup. We've gotten a lot of feedback:

* Page transitions are jarring - [link](https://www.notion.so/learningequality/Login-page-transitions-are-jarring-cf1608ade6f443a58a29bd34f7f485b6)
* Layout feels off - [link 1](https://www.notion.so/learningequality/Extra-padding-in-the-new-multiple-facility-sign-in-flow-could-make-reading-

[2020-06-24 01:08] indirectlylit opened #7149 "padding needed above 'new version' banner"
### Observed behavior

insufficient padding

![image](https://user-images.githubusercontent.com/2367265/85484858-829b2800-b57c-11ea-918b-2705754edc24.png)

### Expected behavior

padding consistent with other pages - some multiple of 8px

### Context

0.14.0 beta 3

[2020-06-24 01:12] indirectlylit opened #7150 "Shouldn't be able to sync unregistered facility to KDP"
### Observed behavior

My facility was never registered (is missing the green shield icon indicator).

Ref: https://www.notion.so/learningequality/Shouldn-t-be-able-to-sync-unregistered-facility-to-KDP-686ed01c7d30421292dac7a9a75dec02

### Expected behavior

Intended behavior if a facility has not yet been registered is that the flow jumps to device selection

### Context
0.14.0 beta 3

[2020-06-24 01:15] indirectlylit opened #7151 "quiz preview is broken"
### Observed behavior

Quiz preview functionality is misbehaving. Reported by @jtamiace -

https://www.notion.so/learningequality/Black-overlay-a-k-a-scrim-while-creating-a-quiz-and-preview-of-questions-not-working-bcb613d0c88543598c2249814e0e7dd4

### Context

0.14

[2020-06-24 01:19] indirectlylit opened #7152 "auto-generated facility names are not well-formatted"
### Observed behavior

it appears that we concatenate two strings together with a space:

![image](https://user-images.githubusercontent.com/2367265/85485590-e540f380-b57d-11ea-88e6-985829726653.png)

### Expected behavior

strings should be concatenated with a ` - ` or similar

### Steps to reproduce

create a facility using the basic flow

### Context

0.14.0 beta 3

[2020-06-24 01:20] indirectlylit opened #7153 "On Facility > Data page, sync interface needs to allow "P2P" sync"
### Observed behavior

reported by @jonboiser

On Facility > Data page, my facility has been synced, but the "register" button is still enabled

![image](https://user-images.githubusercontent.com/2367265/85485777-4072e600-b57e-11ea-9719-ee502280051e.png)

### Context

0.14.0 beta 3

[2020-06-24 01:23] indirectlylit opened #7154 "users go to Classes page by default even when not enrolled in a class"
### Observed behavior

e.g. an admin not enrolled in a class goes here when clicking on 'Learn'

![image](https://user-images.githubusercontent.com/2367265/85485903-8465eb00-b57e-11ea-9492-894f13e45dd3.png)

### Expected behavior

land on Channels instead

### Context

0.14.0 beta 3

[2020-06-24 01:26] jonboiser commented on #7150
This should be fixed by this change https://github.com/learningequality/kolibri/commit/871c9821308523ffd2e423ab469d1935cb1adaa5#diff-b4c883195f3f0539d566af6da9625eabL48

But I've noticed that sometimes a facility can go from registered to not registered

[2020-06-24 01:29] indirectlylit opened #7155 "'import users' page needs kbuttongroup"
### Observed behavior

missing padding

![image](https://user-images.githubusercontent.com/2367265/85486384-62b93380-b57f-11ea-8458-7f5cd333884f.png)

### Context

0.14.0 beta 3

[2020-06-24 01:33] indirectlylit opened #7156 "CSV import fails"
### Observed behavior

Reported by @nucleogenesis in

https://www.notion.so/learningequality/CSV-Upload-Fails-logs-stuff-inside-50cab450cba04793b46ec13c9dde131f

Fails to upload with error:

[code]

Perhaps related cc @jredrejo:

* https://github.com/learningequality/kolibri/issues/6750
* https://github.com/learningequality/kolibri/pull/6768

### Steps to reproduce

Try to import CSV on beta serve

[2020-06-24 01:39] indirectlylit opened #7157 "add ability to download a template CSV"
### Observed behavior

Requested by PF, and also reported by @nucleogenesis and @rtibbles:

* https://www.notion.so/learningequality/Seems-odd-that-we-have-a-big-reference-section-for-the-headers-of-the-CSV-but-we-don-t-let-people-f6614edfcdf94e23acb9251ee462dd32
* https://www.notion.so/learningequality/Could-we-have-a-pre-headered-CSV-template-file-for-the-import-that-the-user-can-download-It-s-a

[2020-06-24 01:42] #7066 closed, assigned to jonboiser

[2020-06-24 01:42] #7068 closed, assigned to jonboiser

[2020-06-24 01:42] #7070 closed, assigned to jonboiser

[2020-06-24 01:42] #7081 closed, assigned to jonboiser

[2020-06-24 01:42] #7112 closed, assigned to jonboiser

[2020-06-24 01:42] #7121 closed, assigned to jonboiser

[2020-06-24 01:42] #7122 closed, assigned to jonboiser

[2020-06-24 01:42] #7124 closed, assigned to jonboiser

[2020-06-24 01:46] indirectlylit opened #7158 "Device name was not saved during setup wizard"
### Observed behavior

reported by @jamalex

Corroborated by @jonboiser

### Expected behavior

Saved device name should be filled in properly

### Context

0.14.0 beta 3

[2020-06-24 01:47] jonboiser commented on #7158
This should be fixed here 7638180395cbf338a035abd8e1861ce3fd53dfca

[2020-06-24 01:50] indirectlylit opened #7159 "cannot elevate user in another facility to super admin"
### Observed behavior

reported by @jonboiser

![image](https://user-images.githubusercontent.com/2367265/85487942-584c6900-b582-11ea-8ad7-916b173e02a4.png)

### Context

0.14.0 beta 3

[2020-06-24 01:53] indirectlylit commented on #7158
thank you

[2020-06-24 01:53] #7158 closed, assigned to nobody

[2020-06-24 01:55] indirectlylit commented on #7150
hm okay - mind opening a new issue for that and closing this one?

[2020-06-24 08:20] cpauya opened #7162 "Error shows in the browser console during login."
### Observed behavior
Error shows in the browser's console during login.  It shows in these browsers: Firefox v76, Chrome v81, and IE11.

This is NOT shown during simplified login.
<img width="1016" alt="Screen Shot 2020-06-24 at 4 18 08 PM" src="https://user-images.githubusercontent.com/175580/85522361-1ed63500-b638-11ea-8122-91a1d29fb33e.png">

1. Here's the `.gif` for the login process in Firef

[2020-06-24 09:00] cpauya opened #7163 "Scrollbars show at the change password dialog in Firefox v76."
### Observed behavior
When trying to change a learner's password there are vertical and horizontal scrollbars shown in Firefox v76.  This doesn't show in IE11 and Chrome v81.  The user can still change password.

<img width="1016" alt="Screen Shot 2020-06-24 at 4 44 31 PM" src="https://user-images.githubusercontent.com/175580/85524949-3236cf80-b63b-11ea-9e20-c860a202d6f7.png">

### Expected behavi

[2020-06-24 09:43] cpauya opened #7164 "Errors in IE11 console when I dismiss the sidebar by clicking outside the "X" button."
In IE11, there are errors when I dismiss the sidebar by clicking outside it's "X" button while it is shown.

### Observed behavior

1. In IE11, there are errors when I dismiss the sidebar by clicking outside it's "X" button while it is shown.  This is not manifested in Firefox v76 or Chrome v81.
![2020-06-24-wed--v0 14 0-b4--3--ie11 error when sidebar is closed 1](https://user-images.githubusercon

[2020-06-24 11:00] cpauya commented on #7081
This is fixed as of [v0.14.0-beta4 on BuildKite](https://buildkite.com/learningequality/kolibri-python-package/builds/1217#98d2bb86-c7ea-46c1-b95f-903a296e3e1d) - the filter controls are still there (even when there are no results with further filters). Yey! 😺
<img width="1016" alt="Screen Shot 2020-06-24 at 6 57 43 PM" src="https://user-images.githubusercontent.com/175580/85543625-d07f6100-b64c-1

[2020-06-24 11:26] cpauya opened #7165 "Intermittent errors in IE11 console."
Intermittent errors in IE11 console.

### Observed behavior

This is an intermittent behavior and shows in the following as observed:
1. Errors after user login (at the learn page).
2. When user visits the `Learn` page.
3. When user visits the `Profile` page.
4. The same errors also show when the `Recommended` tab is clicked twice or more.
5. It affects guest users too.
<img width="1016" alt="Scre

[2020-06-24 16:24] MisRob commented on #7046
@indirectlylit

**Yes, I think that adding a message [here](https://github.com/learningequality/kolibri/blob/develop/kolibri/plugins/device/assets/src/modules/wizard/handlers.js#L166.) should help. It's my first encounter with tasks and this logic so I am not sure if I can understand the problem completely. I guess this error is not a priority right now as it doesn't break anything for users so ju

[2020-06-24 16:43] MisRob commented on #7046
@rtibbles

Will try to reproduce it again tomorrow together with checking if I can find some hints in a server log. I haven't seen this problem in Firefox yet unfortunately. Loader behavior seemed to be fine too.

[2020-06-24 18:22] jredrejo commented on #7156
It's a different error, after #6969 , content-type multipart is not working properly

[2020-06-24 19:47] jredrejo opened #7169 "Remove oidc provider plugin for 0.14 release"
### Observed behavior
In #7083 the OIDC provider plugin has been removed from our code base in the develop branch.
This plugin can't be correctly distributed in our installers (See  #6866 for more details)
If we plan to use it and/or improve it in the short term we need to ensure it's removed from the 0.14 branch before the release.

### Expected behavior
OIDC provider plugin is not anymore in the

[2020-06-24 19:55] mrpau-richard opened #7171 "Coach can't assign lessons and quiz recipients"
### Observed behavior
Coach can't assign recipients on lessons and quiz

### Expected behavior

…

### User-facing consequences

…

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/85621210-7bb50800-b697-11ea-835e-c1ce109b1e9a.gif)

### Steps to reproduce

…

### Context

Tell us about your environment, including:
 * Kolibri version: release-v0.14.0b4
 * Operating syst

[2020-06-24 20:26] indirectlylit opened #7172 "auto-focus username and password fields in sign-in pages"
### Observed behavior

On sign-in pages that have a username or password field, that field should be auto-focused

this is a regression from 0.14 for the username field.

### User-facing consequences

faster login

### Context

0.14.0 beta 3

[2020-06-24 20:40] indirectlylit opened #7174 "duplicate 'create account' links"
### Observed behavior

reported by @radinamatic and @kollivier, corroborated by @nucleogenesis

![image](https://user-images.githubusercontent.com/2367265/85624801-4ff63b80-b61f-11ea-8096-419993b7f21b.png)

### Expected behavior

@riddhiavlani and @jtamiace can clarify but likely something like this:

![image](https://user-images.githubusercontent.com/2367265/85624955-8f248c80-b61f-11ea-9a37-7eb9a

[2020-06-24 20:46] mrpau-richard opened #7175 "HTML5 download resource selection display issue"
### Observed behavior
HTML5 download resource selection display issue and unexpected `hi` text

### Expected behavior

…

### User-facing consequences

…

### Errors and logs
![c2](https://user-images.githubusercontent.com/8663934/85625738-7d35fe80-b69e-11ea-9e92-283e30fe3ee0.PNG)
![c1](https://user-images.githubusercontent.com/8663934/85625774-8626d000-b69e-11ea-98fb-837536640da8.PNG)

### Steps

[2020-06-24 20:54] indirectlylit opened #7176 "demo banner does not play nicely with login page updates"
### Observed behavior

banner state is not preserved and doesn't show at all on some pages

![2020-06-24 13 43 14](https://user-images.githubusercontent.com/2367265/85626318-ba0fe000-b621-11ea-9228-c8b7c07a869c.gif)

### Expected behavior

* banner should be visible on all sign-in pages
* banner 'closed' state should be persisted
* scroll position should not change

### Steps to reproduce

see bet

[2020-06-24 21:01] indirectlylit commented on #7148
met and decided on outcomes:

* meeting: https://www.notion.so/learningequality/Login-UX-cleanup-a798ae6b755f4c859bf39020cfe47e4e
* decisions: https://www.notion.so/learningequality/Updates-to-0-14-login-user-experience-5b7835384f154e7e9b363de32c7dabd2

a few follow-up issues opened and more to come:

* https://github.com/learningequality/kolibri/issues/7172
* https://github.com/learningequality/k

[2020-06-24 21:01] #7148 closed, assigned to nobody

[2020-06-24 21:09] indirectlylit commented on #7081
thanks for confirming @cpauya !

[2020-06-24 21:29] kollivier commented on #7175
The 'hi' text looks like another occurrence of #6986, but the popup displaying behind the slideshow caption bar seems like a separate issue.

[2020-06-24 22:07] bjester commented on #7127
I'm hoping that getting https://github.com/learningequality/morango/pull/84 merged and released will help resolve this. @jamalex added some improvements to deserialization, but through an issue we were getting the same warnings shown here. Now that we've resolved those with changes in morango, I'm hoping that too will resolve these issues.

[2020-06-24 22:25] jonboiser commented on #7159
The root cause actually looks like the same coincidence as #7130 (assuming that we can't have duplicate usernames on a Device) e.g. two "jb" usernames in two facilities

[2020-06-24 22:56] jamalex commented on #7127
I believe the issue noted in this PR is because you're syncing auto-generated data (from `generatedata` command or whatnot), which generates user accounts that have empty password fields.
```WARNING  Validation error for FacilityUser with id 6572fd4d5e34e2efcb482a1737e376f7: {'password': ['This field cannot be blank.']}```
We don't allow the password field to be truly blank (and I'm assuming for t

[2020-06-24 22:58] jamalex commented on #7127
So I'd make a couple of recommendations here:
- We update `generaterealdata` to set a dummy password when creating FacilityUsers
- We consider allowing the password field to be blank. This will help with absorbing all this old generated data without it sticking around in undeserializable limbo.
- We allocate more than 1% in the overall import progress to the deserialization stage, as it can in som

[2020-06-24 23:00] bjester commented on #7127
@jamalex Ah, I didn't notice that! Thanks! I'm still planning on making my changes to some caching stuff related to facilities, which I think is a good improvement overall.

Perhaps I should add more granular progress signals for that? I had thought of that, but didn't end up doing it because I didn't think it would be comparable to network durations.

[2020-06-24 23:06] radinamatic opened #7183 "'Usage and privacy' link in the 'Quick start' setup"
### Observed behavior
`Quick start` setup still displays the _Usage and privacy_ link during the super admin account creation.

![quick-start-privacy](https://user-images.githubusercontent.com/1457929/85635839-3684dc00-b67f-11ea-98f7-5ea419af14c0.gif)

### Expected behavior
According to the [design specs](https://learningequality.slack.com/archives/C0LKG14NL/p1593038877341100) and the [Gherkin sce

[2020-06-24 23:11] jamalex commented on #7127
I don't think it needs to be internally granular, but maybe allocating... 5% or something to that stage in the overall progression... which I guess just means it would hang at 95% vs 99%. :P

[2020-06-24 23:17] jamalex commented on #7127
Actually, looking back to the design spec, not sure on why it would stop at 99% while deserializing:
![image](https://user-images.githubusercontent.com/618416/85636690-0bc26580-b636-11ea-8f65-00fbbbd65206.png)
My understanding from planning that out with @jtamiace was that only the network transfer portions would have progress bars, and the other stages would have a spinner and textual status indi

[2020-06-24 23:33] bjester commented on #7127
Ah okay, @jonboiser I'm going to update the UI to make the progress indeterminate for those states unless you have already.

[2020-06-24 23:45] jonboiser commented on #7127
Nope, I have not changed it. According to this https://github.com/learningequality/kolibri/blob/6ae1c0a03dd5a8bdd55e7b1df8a4bf3d85a2f157/kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilityTaskPanel.vue#L74-L77

It's always a 'determinate' loader, so you can change it to 'indeterminate' for the appropriate conditions.

[2020-06-25 10:10] cpauya commented on #5619
This is fixed in [kolibri v0.14.0-beta5](https://buildkite.com/learningequality/kolibri-python-package/builds/1254)!
Channel: Kolibri QA Channel - Teddy Bear Box (PLIX)
Operating system: Android 7.1.2 (based on BlueStacks)

Yey! 😺
![2020-06-25-thu--v0 14 0-b5 testing--1-- recheck ok](https://user-images.githubusercontent.com/175580/85700281-cc1b7c80-b70e-11ea-85ab-e239f5d563ef.gif)

[2020-06-25 11:19] cpauya opened #7186 "Unknown MIME type error in IE11 console when playing a video."
The `Unknown MIME type.` error shows in IE11 console when playing videos.  This does not manifest in Firefox v76 or Chrome v83 under Windows 7 VM.

The video will eventually play.  But sometimes a browser refresh is needed when it doesn't.

This may be related to (affected by): https://github.com/learningequality/kolibri/issues/7165

### Observed behavior
Here's the error I noticed in IE11 console

[2020-06-25 12:13] MisRob commented on #7046
Regarding `TypeError: id must be defined` error and the loader behavior, I wasn't able to reproduce any of those after lots of attempts and also haven't noticed anything in logs that would help me with that. There's one problem but doesn't seem to be related taking into account that `TypeError` occurred at 21:17.

[code]

[2020-06-25 18:58] #7155 closed, assigned to nobody

[2020-06-25 20:39] mrpau-richard opened #7189 "Can't load coach page on IE11"
### Observed behavior
After I logged in as coach the IE11 browser display empty and an `object error` show in the console

### Expected behavior

…

### User-facing consequences

…

### Errors and logs
![c1](https://user-images.githubusercontent.com/8663934/85792904-cc476680-b766-11ea-9092-a9ec82e698fd.PNG)

### Steps to reproduce

…

### Context

Tell us about your environment, including:
 * Koli

[2020-06-25 21:06] mrpau-richard commented on #5619
I also tested this on Windows 7 and I confirmed the issue fixed on beta5
![c1](https://user-images.githubusercontent.com/8663934/85795369-b9369580-b76a-11ea-818a-ddde1e7dfe14.PNG)

[2020-06-25 23:00] indirectlylit commented on #7046
the `disableTransition` error should finally be resolved by #7188

@MisRob would you mind filing new issues for the remaining relevant parts and closing this issue?

[2020-06-26 00:00] jonboiser commented on #7138
Just found that the same issue is in the new bulk-import-by-CSV workflow, so I'll need to apply the fix in #7166 to those pages as well.

[2020-06-26 00:32] jonboiser opened #7192 "validation in 'importusersfromcsv' dry-run version should give different validation error when importing UUIDs for different facility"
### Observed behavior

I exported a CSV from one facility and tried to import it into a new facility (after applying fixes in #7166 ), but would get these validation errors.

<img width="985" alt="CleanShot 2020-06-25 at 17 21 10@2x" src="https://user-images.githubusercontent.com/10248067/85808369-7d1f1880-b709-11ea-87b3-0847d599199f.png">

My guess is that this might be  because I used the CSV wi

[2020-06-26 07:00] mrpau-richard commented on #7165
Maybe this is related to #7189 It has the same error I encountered in the IE11 coach page.

[2020-06-26 13:14] mrpau-richard opened #7194 "Available drives not showing on import local channel contents"
### Observed behavior
Available drives not showing on import local channel contents. But I tried on export one drive show.

### Expected behavior

…

### User-facing consequences

…

### Errors and logs
This is on export content there is one drive available
![c1](https://user-images.githubusercontent.com/8663934/85831128-5d96f700-b7c0-11ea-8148-d94130c3a43a.PNG)

At the import no drives are availa

[2020-06-26 15:21] MisRob opened #7196 "Broken task progress loader during channel import"
Reported by @cpauya in #7046.

### Observed behavior

_...during import the progress bar moves back and forth and the values indicate ... 20%, 50%, 25%, 65%,... 90%, 131%, 93%, 100% in order_

![84504509-a5148200-acee-11ea-96f6-5a04e8fe729d](https://user-images.githubusercontent.com/13509191/85872805-8cb56480-b7d0-11ea-8b15-6918d1404d4f.png)

### Expected behavior

Progress bar works smoothly.

##

[2020-06-26 15:25] MisRob opened #7197 "Channel import ends up with "Something went wrong!" page"
Reported by @cpauya in #7046.

### Observed behavior

_"Re-tried again and this time the import did not proceed and showed a "Something went wrong!" page:"_

![84506736-5d8ff500-acf2-11ea-958f-9387a67a998a](https://user-images.githubusercontent.com/13509191/85873692-c5a20900-b7d1-11ea-974f-44ad37b1a63e.png)

Probably has something in common with

[code]

Might be related to #7196.

### Expected be

[2020-06-26 15:28] MisRob commented on #7046
@indirectlylit Sure. Here are the issues: #7197, #7196 (Could you please add labels? I am not sure what priority are they) and a [PR containing 404 logging](https://github.com/learningequality/kolibri/pull/7195) as it was faster than opening a new issue :)

[2020-06-26 15:28] #7046 closed, assigned to nobody

[2020-06-26 16:41] nucleogenesis commented on #7174
fixed #7191

[2020-06-26 16:41] #7174 closed, assigned to nucleogenesis

[2020-06-26 17:16] bjester commented on #7103
I'm able to reproduce this issue.

[2020-06-26 17:39] #7138 closed, assigned to jonboiser

[2020-06-26 17:39] #7137 closed, assigned to jonboiser

[2020-06-26 22:22] jonboiser commented on #7139
@nucleogenesis Could we get something like `v-img` into the design system. It would make implementing this a lot easier.

https://vuetifyjs.com/en/components/images/#images

The nice feature is that you can set the "contain" prop to true, and it applies the appropriate letterboxing (i.e. on the top-bottom or left-right)

[2020-06-26 23:58] jonboiser commented on #7154
I have a feeling that this might be due to a race condition, because everything in this screenshot is indicating that this `handler` should have done that right thing and gone to "Channels":

1. The "Channels" and "Recommended" tab are visible, so `canAccessUnassignedContent` must be `true`
1. There are no classes cards, so `memberships.length > 0` must be false
1. Therefore, In the `ROOT` handler

[2020-06-27 00:03] rtibbles commented on #7139
I think both @nucleogenesis and @bjester have implemented things like this on Kolibri and on Studio, so I think it would be possible (and seems very sensible) to have a `KImg` component for handling this generically (noting that VImg itself is badly implemented because it breaks accessibility).

[2020-06-27 00:17] #7183 closed, assigned to jonboiser

[2020-06-27 00:40] jonboiser opened #7199 "SignInPage does not implement the "optional learner password" facility setting"
### Observed behavior

Screenshot 1:

I try to login as a learner `l`, but am brought to this second "Create a password" page. (Also see other issues pointed out in screenshot)

![image](https://user-images.githubusercontent.com/10248067/85910455-c176eb00-b7d3-11ea-94b4-cf1386b5cd0d.png)

Screenshot 2:

I try to login as superuser `jb`. I get stuck at the sign-in page

![image](https://user-images

[2020-06-27 03:44] mrpau-julius opened #7200 "No learner's progress in lessons and quizzies report page"
### Observed behavior

I cannot see the learner's lesson progress report although the learner's done his task in Class > Lesson that created.
Class home page
![image](https://user-images.githubusercontent.com/38421180/85913759-051c3400-b86a-11ea-83f3-801274bb93d4.png)

Lesson Report page
![image](https://user-images.githubusercontent.com/38421180/85913796-4876a280-b86a-11ea-8076-319ca0c1c283.png)

[2020-06-27 04:01] mrpau-julius commented on #7200
Also the quiz there's no learner's progress to show.
![image](https://user-images.githubusercontent.com/38421180/85914200-d3a56780-b86d-11ea-8d92-256e0e9fdba2.png)

![image](https://user-images.githubusercontent.com/38421180/85914214-f0da3600-b86d-11ea-85a8-062590b9960f.png)

[2020-06-27 18:20] Rbuten opened #7201 "Windows Installer adds Python 3.6 when 3.7 already installed - minor issue, says 3.6+ needed"
### Observed behavior

…

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2020-06-27 18:38] #7201 closed, assigned to nobody

[2020-06-27 18:40] Rbuten opened #7202 "Cannot Login to Account after upgrading to 14.066 from 13.3"
### Observed behavior

…

### Expected behavior

…

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2020-06-27 18:42] Rbuten commented on #7202
Account still present.  Tried to recreate new with same name.

[2020-06-27 18:42] #7202 closed, assigned to nobody

[2020-06-28 03:52] radinamatic opened #7203 "Issues with visual focus indicator on buttons on a single setup wizard step"
### Observed behavior

Setup wizard > Advanced > Create or import facility

Firefox on the left, Chrome on the right

![visual-focus](https://user-images.githubusercontent.com/1457929/85937286-6e4f8600-b902-11ea-91c4-0cfbb8f96543.gif)

The issue is present on this step only, all actionable UI elements on other setup wizard steps apparently display correctly.

### Expected behavior
Fully visible vi

[2020-06-28 04:12] radinamatic opened #7204 "Update profile modal displays to super admin account created with setup wizard"
### Observed behavior
_(Wouldn't even know this might be an issue if I hadn't been reviewing super admin Gherkins all past week :blush:)_

According to the [Gherkin scenario](https://github.com/learningequality/kolibri/blob/release-v0.13.x/integration_testing/features/learner/learner-profile-update-notification.feature#L22), this should not appear:

![Ubuntu16 04 (start)  Running  - Oracle VM Virt

[2020-06-28 05:05] radinamatic opened #7205 "Completed update channel task displays the 'in-progress' status until the page is reloaded"
### Observed behavior
I updated a few channels in the in-context translation server, and the most recent task always displays the _In-progress_ status, and the <kbd>Cancel</kbd> button, but the :heavy_check_mark: when completed.

Once you refresh/reload the page, the task has the _Finished_ status, and the <kbd>Clear</kbd> button

![crwdns278692:0crwdns277678:0crwdne277678:0crwdne278692:0 - Mozill

[2020-06-28 05:25] radinamatic opened #7206 "'Create an account modal' displays the 'Explore without account' link"
### Observed behavior

Looks like a regression...? It's there on the step 2 too.

Step 1 | Step 2
------------ | -------------
![Ubuntu16 04 (start)  Running  - Oracle VM VirtualBox_671](https://user-images.githubusercontent.com/1457929/85938674-a3160a00-b90f-11ea-86e5-1f8d743d7ebd.png) | ![Ubuntu16 04 (start)  Running  - Oracle VM VirtualBox_672](https://user-images.githubusercontent.com/1457929/

[2020-06-28 06:15] jamalex opened #7207 "Kolibri 0.14 blows up when run inside a Docker image without ifconfig/ip"
### Observed behavior

Error starting Kolibri inside a simple Ubuntu Docker image, because ifcfg version 0.20 and above started throwing exceptions when ifconfig/ip were not found, instead of silently returning an empty list. See https://github.com/ftao/python-ifcfg/issues/55

### Errors and logs
[code]

### Resolution

Given this now seems to be the intended behavior of ifcfg, I will update pytho

[2020-06-29 07:05] mrpau-julius commented on #7200
this issue still exist in Kolibri version 0.14.0 beta 6
![image](https://user-images.githubusercontent.com/38421180/85983257-c331f000-ba19-11ea-9b94-913fa9e3aed6.png)

[2020-06-29 11:28] cpauya opened #7210 "The Options dropdown has a “hi” as title and extra padding."
### Observed behavior
All Options dropdowns in Kolibri has the "hi" as title with a bit more padding.

This shows in IE11, Firefox v77, and Chrome v83.

<img width="1016" alt="Screen Shot 2020-06-29 at 6 14 53 PM" src="https://user-images.githubusercontent.com/175580/85999499-c2f81b80-ba3e-11ea-87a8-900ef9592011.png">

### Expected behavior
Maybe remove the "hi" and replace with appropriate title?

[2020-06-29 12:24] cpauya commented on #7189
Sadly I also saw this while testing [v0.14.0-beta6](https://github.com/learningequality/kolibri/releases/tag/v0.14.0-beta6) in IE11 on Win7 VM.  It doesn't manifest in Firefox v77 or Chrome v83.

I was following this Gherkin story [coach-change-language.feature](https://github.com/learningequality/kolibri/blob/release-v0.14.x/integration_testing/features/coach/coach-change-language.feature).

It l

[2020-06-29 16:50] indirectlylit opened #7211 "remove 'experimental feature' string in facility data sync section"
### Observed behavior

Still says "experimental" and "if you have access to KDP", both of which are inaccurate in 0.14:

![image](https://user-images.githubusercontent.com/2367265/86033500-e47ce700-b9ed-11ea-8cf3-4c0b6e0c052a.png)

### Expected behavior

Let's delete that line entirely

### Context

0.14 beta 3

[2020-06-29 16:51] MisRob opened #7212 "Consistent snackbar messages when a resource added/removed to/from a lesson/quiz"
Would be nice to display same messages in snackbars to coaches after a resource added/removed to/from a lesson/quiz while planning a class.

### Observed behavior

- Navigate to lesson (Coach -> Plan -> Lessons -> select a lesson/create a new lesson -> MANAGE RESOURCES) and quiz (Coach -> Plan -> Quizzes -> create a new quiz)
- Open a resource preview

For lessons we display _Added/Removed 1 resou

[2020-06-29 16:55] jredrejo commented on #7156
Fixed after #7168 has been merged

[2020-06-29 16:55] #7156 closed, assigned to nobody

[2020-06-29 17:19] mrpau-richard commented on #7189
I can also reproduced this on 0.14.0 beta 6 released.

[2020-06-29 18:13] mrpau-richard commented on #7200
I also reproduced this issue on Windows 7 Kolibri 0.14.0 beta 6 released. I'm using Chrome 83 & Firefox 77

[2020-06-29 18:26] bjester commented on #7103
I also receive the following error on startup. Unsure yet if it's related.
[code]

[2020-06-29 18:28] jredrejo commented on #7199
I think this is related to #7115 as I could reproduce these same behaviour when using app mode, @jonboiser had you activated app mode when this happened to you?

[2020-06-29 18:46] radinamatic commented on #7200
I can replicate this on Ubuntu 16.04, learner access/progress on lessons and quizzes does not display on Class home or Report subtabs.

<kbd> [db.zip](https://github.com/learningequality/kolibri/files/4847426/db.zip) </kbd> admin/pass, no passwords for learners

![Ubuntu16 04 (start)  Running  - Oracle VM VirtualBox_680](https://user-images.githubusercontent.com/1457929/86043684-57677b80-ba49-11ea

[2020-06-29 20:03] jonboiser commented on #7199
I ran `kolibri plugin list` just now and the `app` plugin is disabled.

[2020-06-29 20:13] jonboiser commented on #7200
@radinamatic I'm seeing something similar to your quizzes, where the progress says "0 of 0 started". Even though I try to assign a lesson to the whole class, it doesn't get updated as such, so also says "0 of 0 started" (it should say something like "0 of 20 started")

[2020-06-29 20:21] radinamatic commented on #7200
You might be onto something, the issue might be that it seems impossible to **assign** a task to recipient(s)

![recipients](https://user-images.githubusercontent.com/1457929/86052117-c0a1bb80-ba56-11ea-9ce5-5dd5a5922bbb.gif)

[2020-06-29 21:00] rtibbles commented on #5343
Pre-emptive logging added in #7195

[2020-06-29 21:00] #5343 closed, assigned to nobody

[2020-06-29 21:28] jonboiser commented on #7200
@rtibbles Could you look into this? When I've debugged this, I noticed that the code in `LessonViewset.consolidate` behaves differently in Python 2 + and Python 3. Here's the code with some `print` statement I added
[code]
Output
[code]

So, I think the `map`s are getting wiped out in the first loop. I tried some similar code in a Python 2 REPL and didn't see that happen.

[code]

The overall resu

[2020-06-29 23:17] rtibbles commented on #7196
The DeviceNotProvisioned Error should now be being handled due to this PR: #7024 (which was merged by 0.14.0-beta3) so I think that's a red herring here.

[2020-06-29 23:22] rtibbles commented on #7125
Looks like the get_or_create is trying to pre-emptively be able to write even if it might not need to? (at this point, the instance ID should already be defined).

[2020-06-29 23:26] radinamatic commented on #7171
Looks same root cause as in #7200, closing.

[2020-06-29 23:26] #7171 closed, assigned to nobody

[2020-06-29 23:32] radinamatic commented on #7164
@cpauya Can you replicate this _without_ having the debugger running?
Or better, what is the user-facing consequence for those who are NOT trying to debug? :slightly_smiling_face:
Are they blocked in any way?

[2020-06-29 23:34] radinamatic commented on #7165
If there's no observable effect on users, I'll tag it `P2`

[2020-06-29 23:44] radinamatic commented on #7186
@cpauya Can you please try to replicate in the latest beta (7 probably, by the time you start working :slightly_smiling_face:), and see if it happens in other browsers too? Thanks!

PS: I'd say the _expected behavior_ is being able to play videos without reloading, as users don't generally care about the errors in the console :wink:

[2020-06-29 23:49] radinamatic commented on #7194
I also had issues locating external drives on Ubuntu, but was 100% sure it wasn't the USB drive :confused:
Will retest with other USBs and confirm!

[2020-06-30 00:28] jamalex commented on #7125
Does it take some time to return, or does it return immediately?

I don't think it's actually to do with the instance ID not being defined, I think it could be possible for this to happen even with it being a read, given the strict read isolation that is necessary in order to maintain snapshot consistency for Morango operations. We recently [increased the read isolation level for Postgres](https:/

[2020-06-30 00:33] radinamatic commented on #7063
Thank you @DXCanas! @mrpau-richard merged some changes in the script to generate the spreadsheet this morning, and even I was able to trigger one successful build just now! :tada:
Closing!

[2020-06-30 00:33] #7063 closed, assigned to mrpau-richard, DXCanas

[2020-06-30 00:54] radinamatic commented on #7163
Can replicate with Beta6 on Ubuntu 16.04, and even Chrome has an unnecessary vertical scrollbar:

![Ubuntu16 04 (start)  Running  - Oracle VM VirtualBox_681](https://user-images.githubusercontent.com/1457929/86070442-070a1100-ba7d-11ea-9dba-71b2cf7236d0.png)

[2020-06-30 00:59] radinamatic commented on #7210
Apparently drop-down selects in many places are very eager to salute, see #7175 (among others).

[2020-06-30 01:07] jonboiser opened #7215 "Fix vue-test-utils deprecation errors"
`vue-test-utils` in changing their API again. The most common errors right now are these:

[code]

In the `spec.js` files, replace all calls to `wrapper.find` with `wrapper.findComponent` (and whatever other recommendations they make) and it should clear these up.

[2020-06-30 01:09] jonboiser commented on #7189
@mrpau-richard I believe this was caused by a low-level bug in the vue-router library. I updated the library here a1e2d6d9cdc428fee92af8ca49a2bd49cf9db15d and tested it on Browserstack (IE11/Win 10).

Could you please test this out again on beta 7? (available soon)

[2020-06-30 05:54] nucleogenesis commented on #7206
This was initially a part of the design as an "escape hatch" if I recall correctly - in any case I recall it coming up at some point during design or development.

@riddhiavlani has this been considered during your design updates?

[2020-06-30 06:15] cpauya commented on #7164
Nope, I didn't enable (or touch) the debugger @radinamatic - I'm using the stock IE11 in a Win7 VM.  That's why I'm stumped with it coz it just went into debug-mode when it encountered an error.

I asked @mrpau-richard and @mrpau-julius if they can reproduce it when testing v0.14.0-beta7.

[2020-06-30 07:48] cpauya commented on #7186
When I tested this (as of beta4) - this issue doesn't show in the other browsers @radinamatic.

I agree, I already edited it. 😸

[2020-06-30 08:03] riddhiavlani commented on #7206
It doesn't have 'Explore without account' but there is a 'sign in with an existing account' in the design. @jtamiace, the multi facility login figma file that you had shared has the 'sign in with an existing account' on the pages shared above. Should it be there? I'll update it otherwise!

[2020-06-30 08:25] cpauya commented on #7164
Ha! It only debugs when the "Developer Tools" window is shown!  (makes sense)

Here's how v0.14.0-beta7 behaves on IE11 when it is shown and when it is not.
![2020-06-30-tue--1--test v0 14 0-b7--ie11 debugger issue](https://user-images.githubusercontent.com/175580/86102284-e5953d80-baed-11ea-8d12-1433783118a2.gif)

So I guess as long as the "Developer Tools" window is not shown we won't have this

[2020-06-30 09:27] cpauya commented on #7186
Sadly, I still saw this issue in IE11 with v0.14.0-beta7.  Also doesn't manifest on other browsers (Firefox v77 and Chrome v83).

<img width="1016" alt="Screen Shot 2020-06-30 at 5 24 17 PM" src="https://user-images.githubusercontent.com/175580/86109337-d9fa4480-baf6-11ea-85aa-94aec71b7238.png">

[2020-06-30 09:28] mrpau-richard commented on #7164
@cpauya I can't reproduce this issue on Windows 7 even if the console log shown I'm using Kolibri 0.14.0 beta 7 released
![temp1](https://user-images.githubusercontent.com/8663934/86109347-de266200-baf6-11ea-8318-a786089a87aa.gif)
No errors display on the console log when I do the test.

[2020-06-30 11:00] mrpau-richard opened #7220 "Reports and Plan tables alignment issue on IE11"
### Observed behavior
Reports and Plan tables alignment issue on IE11

### Expected behavior

…

### User-facing consequences
Reports and Plan tables display like this on IE11
![c1](https://user-images.githubusercontent.com/8663934/86118333-35caca80-bb03-11ea-835a-f6c5cc2f117f.PNG)

This is the display on Firefox and Chrome
![c2](https://user-images.githubusercontent.com/8663934/86118639-af62b880-

[2020-06-30 11:25] mrpau-richard commented on #7189
I confirmed that beta 7 fixed this issue.
![c1](https://user-images.githubusercontent.com/8663934/86120683-5563f200-bb07-11ea-9767-85ecb2bbf028.PNG)

Thanks @jonboiser

[2020-06-30 11:25] #7189 closed, assigned to jonboiser

[2020-06-30 11:32] mrpau-richard commented on #7200
This issue fixed in beta7, learner progress now showing on coach page
![c1](https://user-images.githubusercontent.com/8663934/86121269-55182680-bb08-11ea-9913-6d7422e944e6.PNG)

[2020-06-30 12:04] radinamatic commented on #7186
Thanks for confirming it @cpauya!
Would you edit the **Context** of your initial post to state only IE11 then, as that is where my confusion originated?
_Context_ should indicate **only** the browser where you encounter the error, not all that you used/tested :slightly_smiling_face:

[2020-06-30 12:12] radinamatic commented on #7164
Thanks for trying to replicate and confirm!
It makes sense for the tester to keep the debugger open while testing, my concern was to see if there are any visible blockers for the end users. Let's close this for now since it seems not extant on beta7, and reopen if you notice an actual end-user-facing consequences again.

[2020-06-30 12:12] #7164 closed, assigned to nobody

[2020-06-30 12:19] radinamatic commented on #7200
Thanks for confirming @mrpau-richard, closing!

[2020-06-30 12:19] #7200 closed, assigned to rtibbles

[2020-06-30 14:59] jredrejo commented on #7192
@jonboiser Honestly, I don't know how to manage this because I don't see the problem.

When importing, if you are going to create a new user  you need to provide a password.
Here you are not providing the password, so it's an error on that field.

The only situation where you can skip the password is when you're updating users, and this is not the case.  The error is clearly that you are not provi

[2020-06-30 16:03] rtibbles commented on #7125
If it's just being read then it shouldn't get a database locked error though, that's why I was wondering exactly what might be happening internally. It should only error that the database is locked when the large write transaction is open for syncing, and then the call to get the instance ID ends up in a write to the DB.

[2020-06-30 16:12] bjester commented on #7220
I remember seeing this when I worked on printable coach reports. I don't recall if I fixed it. I have a feeling I didn't...

[2020-06-30 16:17] #7135 closed, assigned to jonboiser

[2020-06-30 16:18] indirectlylit opened #7222 "TypeError: Cannot read property 'last_synced' of undefined"
### Observed behavior

After setting up a new device, observed:

![image](https://user-images.githubusercontent.com/2367265/86150631-80702680-bab2-11ea-9233-0a2467b4246a.png)

### Expected behavior

No JS errors

### Errors and logs

[code]

### Steps to reproduce

set up a new instance of Kolibri using basic setup

### Context

0.14.0 beta 7

[2020-06-30 16:31] rtibbles commented on #6785
Fixed in #7107

[2020-06-30 16:31] #6785 closed, assigned to nucleogenesis

[2020-06-30 17:02] #7169 closed, assigned to nobody

[2020-06-30 17:40] jonboiser commented on #7222
Which Setup method did you use before landing here?

There is a global beforeEach hook on the router that is supposed to fetch all facilities before going into this page, so that TypeError shouldn't happen. But I see there's one way it could if your user isn't a superuser when you land here initially.

[2020-06-30 17:45] jonboiser commented on #7204
In the Setup Wizard code, this looks intentional because we automatically set both gender and birth date to "not specified". So it's as if we've pressed "skip" for them on the Profile Update modal.

[2020-06-30 17:48] jonboiser commented on #7203
I'm guessing this might be because of an `overflow: hidden` rule of some sort on the KButtonGroup, since the green focus indicator appears when the form has a single button?

[2020-06-30 17:53] jonboiser commented on #7192
So I got that first user CSV by exporting it from Facility A, and I think that's why all the `PASSWORD` cells have an anonymized `*` password, but that's still a valid password for creating a new user.

The problem I had here is that when I try to _import_ that CSV into a different facility (Facility B), I forgot to remove the `UUID` column, which is why I think all of them are getting "skipped".

[2020-06-30 18:19] jtamiace commented on #7206
Yeah 'Sign in with an existing account' is the intended design

[2020-06-30 18:26] jredrejo commented on #7192
:man_shrugging:  I still think the problem is in the `PASSWORD` column as it's the data the user is missing in the csv. In any case we can agree the problem, in this particular case, is with both columns `UUID` & `PASSWORD`.

I think the validation is correct, the doubt is deciding on the wording of the error message. If you have a better wording and it can be changed for 0.14 (are strings totally

[2020-06-30 18:36] dylanmccall opened #7224 "Mathematical notation is not rendered in certain CK-12 Math content"
### Observed behavior

In the CK-12 Math content (channel ID `1d8f6d84618153c18c695d85074952a7`), mathematical notation is usually rendered nicely. However, in some exercises, it appears as the original latex source. For example, in _Definition of Derivative Practice_ (node ID `563c6392629e5cdd86b2027a8a5181c0`), the mathematical notation looks right:

![Screen Shot 2020-06-30 at 11 23 17](https:/

[2020-06-30 18:40] jonboiser commented on #7196
The up-down progress/percentages is similar to this old issue https://github.com/learningequality/kolibri/issues/5904.

I don't think we figure out the exact cause in that issue; it just went away on its own...

But the fact that the percentages are going up and down indicates that the numerator and denominator (number of resources? number of files?) used to calculate the percentage are likely cha

[2020-06-30 18:48] jonboiser commented on #7224
In the example, part of the full KaTeX expression looks to be in the LaTeX Computer Modern Font, so it might be the expresson was mis-parsed. @ivanistheone Do you think this could have been a error when scraping this content?

![image](https://user-images.githubusercontent.com/10248067/86164942-6ee54980-bac7-11ea-983b-db77df77e589.png)

[2020-06-30 18:51] dylanmccall commented on #7224
Here is the offending content on ck12.org, by the way:

https://www.ck12.org/assessment/ui/?test/view/practice/calculus/continuity-and-differentiability-practice

Can't find the Definition of Derivative Practice, but the Kolibri version of this one works fine:

https://www.ck12.org/assessment/ui/?test/view/practice/calculus/derivatives-and-applications-of-derivatives-practice

[2020-06-30 20:36] indirectlylit commented on #7222
basic

[2020-06-30 21:44] #7113 closed, assigned to nucleogenesis

[2020-06-30 23:02] nucleogenesis opened #7227 "Cannot create user as admin without password"
### Observed behavior

Cannot create a user without a password due to front-end error:

- Provisioned a device
- Signed in as admin
- Changed setting "require password for learners" to `false`
- Try to make a new learner user

`Uncaught (in promise) TypeError: Cannot read property 'focus' of undefined at UserCreatePage.vue:265`

### Expected behavior

Admin can create learners without passwords.

[2020-06-30 23:27] #7212 closed, assigned to MisRob

[2020-06-30 23:36] jonboiser commented on #7149
I'm guessing this is because of the un-even padding of KPageContainer that I mentioned here https://github.com/learningequality/kolibri-design-system/issues/39

It's just that this is more visible because the banner's background color is not white.

[2020-07-01 00:36] #7093 closed, assigned to jredrejo

[2020-07-01 00:43] #7130 closed, assigned to jonboiser

[2020-07-01 00:43] #7159 closed, assigned to jonboiser

[2020-07-01 01:10] radinamatic commented on #7203
Same occurrence today during the mini bug bash, inside the 'Create new user' modal.

![Create new user - Kolibri - Mozilla Firefox_686](https://user-images.githubusercontent.com/1457929/86191842-5ec17e80-bb48-11ea-8d34-f38ca6952bd7.png)

[2020-07-01 10:07] cpauya opened #7229 "No "needs help" status in the exercise report page."
The exercise report page does not show the "needs help" status.

### Observed behavior

I see two (or three) issues while testing [coach-track-lesson-groups-notifications.feature - Gherkin story](https://github.com/learningequality/kolibri/blob/release-v0.14.x/integration_testing/features/coach/coach-track-lesson-groups-notifications.feature#L51)

1. I cannot see the "needs help" status in the exe

[2020-07-01 10:40] cyberorg commented on #7202
Issue still exist on Beta 7, any hint on why this is closed?

Using the existing user the login does not move on to password, putting any random user allows to get to password input.

Login works fine in fresh install and setup, does not work only when upgrading with existing users.

Replacing kolibri/plugins/user/static/kolibri.plugins.user.app/kolibri.plugins.user.app-0.14.0b7.js with file from

[2020-07-01 12:00] cpauya opened #7230 "Question items are too big when viewing learner quiz activity in IE11."
The question items are too big (has extra padding) when viewing learner quiz activity (as coach) in IE11.

### Observed behavior
See pic.
<img width="1016" alt="Screen Shot 2020-07-01 at 7 42 36 PM" src="https://user-images.githubusercontent.com/175580/86241094-e94fbf80-bbd4-11ea-81af-d713f67fa499.png">

Here's a `gif.`:
![2020-07-01-wed--v0 14 0-b7--3--extra padding for questions at quiz report f

[2020-07-01 13:50] MisRob commented on #7098
Both issues are caused by removing `margin` from buttons.scss ([0.13](https://github.com/learningequality/kolibri/blob/release-v0.13.x/packages/kolibri-components/src/buttons-and-links/buttons.scss#L13) vs [kolibri-design-system](https://github.com/MisRob/kolibri-design-system/blob/develop/lib/buttons-and-links/buttons.scss)). @nucleogenesis or @indirectlylit was that change intentional?

If yes,

[2020-07-01 13:52] LoyerGuillaume opened #7232 "Failed to read the 'localStorage' in Kolibri studio"
### Observed behavior
I can't use localStorage in my HTML5 app.

### Expected behavior
Can use localStorage

### User-facing consequences
My learning game need localStorage to work.

### Errors and logs

[code]

### Steps to reproduce
I use this code in a simple javascript file :
[code]

### Context
* Browser : Chrome
* Kolibri version : I use Kolibri Studio here : https://studio.learningequality.

[2020-07-01 14:10] Rbuten commented on #7202
Maybe my posting error, I had just discovered it and posted and had nothing
to add.

On Wed, Jul 1, 2020 at 6:40 AM Jigish Gohil <notifications@github.com>
wrote:

[2020-07-01 15:19] rtibbles commented on #7232
Hi @LoyerGuillaume - localStorage should work when the HTML5 app is accessed via Kolibri, we've done some compatibility work to ensure this works properly.

It seems like we don't have this on the preview for Studio though, so you are getting this error.

I would suggest testing locally in the meantime while we look into this.

[2020-07-01 15:53] indirectlylit opened #7233 "after triggering a CSV export and generating the file, nothing happens"
### Observed behavior

File generates but does not download

![2020-07-01 08 51 39](https://user-images.githubusercontent.com/2367265/86265469-aa8c1c00-bb78-11ea-84a7-11c42c35ca35.gif)

### Expected behavior

File should begin downloading after generation is complete as it does in the PF branch:

![2020-07-01 08 55 30](https://user-images.githubusercontent.com/2367265/86265491-aeb83980-bb78-11ea-9

[2020-07-01 18:40] MisRob commented on #7067
Fixed in #7231

[2020-07-01 18:40] #7067 closed, assigned to MisRob

[2020-07-01 18:40] rtibbles commented on #7202
Yes, this is definitely an extant issue and is being tracked in the issue and PR above, so fine for this to remain closed for now!

[2020-07-01 18:47] rtibbles commented on #7080
@mrpau-richard do you still have the log file for this? Would be useful to look at it to see the full traceback of the 500 error.

[2020-07-01 18:48] rtibbles commented on #7036
Guessing the information is introspected from the serializer - so this will be the case for any endpoint we setup that does not have an explicit serializer associated with it. Will look into alternatives here.

[2020-07-01 20:59] indirectlylit opened #7235 "issues during re-import of a directly exported CSV"
### Observed behavior

1. When exporting and then trying to re-import we see: `Value in column 'Class name' is too many characters`
2. Then after proceeding, we see:

[code]

### Expected behavior

1. Length validation should be applied to individual class names, not to the list of class names
2. Anything that can be exported should also be imported without issue
3. Unit tests should be updated to

[2020-07-01 21:26] jonboiser commented on #7194
@mrpau-richard @radinamatic Could you try to get some logs when you see this? I just reproduced it and got a pretty informative server log here pointing to the recent addition of the `tagline` field on the `channelmetadata` model.

The channels that are likely on the USB were exported awhile ago, before we added that tagline field

[code]

[2020-07-01 21:30] jonboiser commented on #7194
Yeah, fixing the offending line in `utils.channel` got the Select Drive modal working for me again.

[2020-07-01 21:38] kollivier opened #7237 "Expand testing capabilities for app interface"
### Observed behavior

Our first pass on the app interface has some limitations in terms of how we can test the API on both the frontend and backend. For the next pass, we should refactor the API to be more testable, especially as we add more platform support.

### User-facing consequences

None, but dev-facing consequence is the ability to more easily know that the Kolibri side of the app bridge

[2020-07-01 23:12] jonboiser opened #7239 "Fix the large number of `[vuex] state field ... overrridden` warnings coming out of test suite"
Example:
[code]

This might be caused by the re-use of the `core/store.js` module and `coreStoreFactory` function, which the `makeStore` test utilities use.

[2020-07-02 14:59] #7120 closed, assigned to jonboiser

[2020-07-02 17:25] #7145 closed, assigned to rtibbles

[2020-07-02 18:07] jonboiser commented on #7215
@MisRob Thanks for taking this on!

This might be ambitious, but I'm hoping we can even upgrade `vue-test-utils` to the latest version 1.0.0 (final) if you manage to take care of all the deprecated API.

I just want to point out that some of the things we do in our tests might be hard to migrate. (And are not as simple as a find-replace, like I initially thought). For example, there is one thing t

[2020-07-02 18:12] jonboiser commented on #7205
@radinamatic Is this something you can reproduce on places other than the translation server? Hopefully this is just a quirk of that specific deployment...

[2020-07-02 18:38] jredrejo commented on #7235
@indirectlylit in order to reproduce the UTF-8 issue, could  you attach the affected db here? I have tried several combinations and I haven't been able to reproduce it, could it be the file is being exported in an old windows version not supporting UTF?

[2020-07-02 18:48] lyw07 commented on #7003
Hi @nobicycle , could you try the following steps to see if they fix the issue?
1. stop kolibri
2. run `rm /opt/kolibri/.data_version`
3. start kolibri
4. refresh the page

Please let me know if you have any questions. Thank you!

[2020-07-02 19:12] #7016 closed, assigned to jonboiser

[2020-07-02 20:00] jonboiser opened #7240 "Use existence checks for page load blocking checks rather than loading full data payloads"
In the Coach, User, and Facility plugins, we make substantial changes to the layout and behavior of each plugins' Single-Page app depending on whether or not the device has 1 or more facilities.

This data (the facilities on the device) need to be available as soon as the app renders, but is (usually) requested asynchronously inside of a `beforeEnter` guard in the Vue Router, or perhaps somewhere

[2020-07-02 21:08] #7233 closed, assigned to jonboiser

[2020-07-02 21:13] jonboiser opened #7241 ""Quiz" Icon Does not appear on Learn > Classes > Assignment Page"
### Observed behavior

There's no icon inside the card
…
![image](https://user-images.githubusercontent.com/10248067/86409600-10a69b00-bc6e-11ea-9450-65f8b548c7ab.png)

### Expected behavior

There should be "Quiz" icon in the card

### User-facing consequences

…

### Errors and logs

…

### Steps to reproduce

…

### Context

…

[2020-07-02 21:33] jonboiser commented on #7230
The height seems to be driven by the `a` tag here wanting to be 150px high

https://github.com/learningequality/kolibri/blob/13445ab3e443d381154b5cde44b644cf2bc5a0d1/kolibri/core/assets/src/views/AttemptLogList.vue#L27-L37

[2020-07-02 22:00] micahscopes commented on #6986
I didn't see this when reviewing #7190.  Does anyone have a concrete idea of what's causing it to persist?

[2020-07-03 01:12] bjester commented on #7125
I split up the push and pull sync operations into separate client classes with consistent API's so we can use the write lock on the sensitive portion(s) only; push initialization and pull finalization. Here's the WIP PR, still need to add a few more tests https://github.com/learningequality/morango/pull/85

[2020-07-03 07:54] nobicycle commented on #7003
Hi,
I didn't mention it in the steps I gave above, but the installs I have done are from a completely empty system. That is, /opt/kolibri was not existing prior to install.  I assume .data_version is a necessary file and with a fresh install it will contain the appropriate version.

Or are you suggesting the fact of using a symbolic link to content causes data_version to become corrupted? In which

[2020-07-03 08:02] maxwellfundi opened #7243 "Kolibri cant generate device info"
### Observed behavior
Kolibri does not show the device info. This is after i upgraded form 0.13

### Expected behavior
By opening Device>Info, i expected to find information about the device, Ip addresses etc

### User-facing consequences
You would be able to easily identify the IP address to share with people to access Kolibri

### Errors and logs

![image](https://user-images.githubusercontent.c

[2020-07-03 08:06] maxwellfundi opened #7244 "Quiz reporting tool not populating learners information"
### Observed behavior
I upgraded from 0.13 by running the beta 6 unsigned installer. I created a quiz, which i opened to learners, they did and finished the quiz. After everyone had done the quiz, I ended the quiz.
I then wanted to see the reports on how each of the students performed in the quiz from Coach>Reports>Quizzes and it indicates that there are no learners and yet when i open difficult q

[2020-07-03 16:19] jredrejo commented on #7157
I think that the `create_dummy_facility_data` function at https://github.com/learningequality/kolibri/blob/develop/kolibri/core/auth/test/helpers.py#L32 could be used to create fake data and export it as an example. It's the best way to show how enroled and assigned columns work in the csv.

[2020-07-03 16:22] jredrejo commented on #7199
Closed with #7223

[2020-07-03 16:23] #7199 closed, assigned to jredrejo

[2020-07-03 16:26] jredrejo commented on #6810
@ivanistheone  thank you for your report. I am closing this issue because it's a duplicated of #7125 where Morango work is being done by others

[2020-07-03 16:26] #6810 closed, assigned to jredrejo

[2020-07-03 18:17] #6819 closed, assigned to MisRob

[2020-07-03 22:15] indirectlylit commented on #6986
This has been addressed! @nucleogenesis figured out that we _must_ bump the version in the design system library's package.json file, or else under many circumstances `yarn` will not upgrade the dependency even if the source location and hash have changed.

Fixed by https://github.com/learningequality/kolibri-design-system/pull/52

![image](https://user-images.githubusercontent.com/2367265/8649944

[2020-07-03 22:15] #6986 closed, assigned to nobody

[2020-07-03 22:26] indirectlylit commented on #7243
Thanks for the report @maxwellfundi

I'm not able to reproduce here. Would you mind clicking this button and checking if there's addition error information available?

![image](https://user-images.githubusercontent.com/2367265/86499689-6d26ba80-bd41-11ea-8130-04cda6cae615.png)

You might also check if there are errors in the Kolibri log files under `~/.kolibri/logs`

[2020-07-03 22:28] lyw07 commented on #7003
Hi @nobicycle , sorry I should have explained my steps in my last message. In my humble opinion, your contents are not visible in Kolibri because they haven't been imported into the Kolibri database. In 0.12.8, we ran a function to import all the content databases in the KOLIBRI_HOME/content folder that are not in the Kolibri database (db.sqlite3) yet into it when upgrading Kolibri, which matches

[2020-07-03 22:29] indirectlylit commented on #7240
this should be fairly straightforward. adding to 0.14 as a P2

[2020-07-03 22:31] indirectlylit commented on #7210
should be addressed by https://github.com/learningequality/kolibri-design-system/pull/52

[2020-07-03 22:31] #7210 closed, assigned to nobody

[2020-07-03 22:55] indirectlylit commented on #7003
Ah - that makes sense. Sounds like symlinks were likely unrelated to the issue - my guess is the same behavior could be reproduced even in the default content directory.

If this was working before, it was not because of supported or documented behavior. As @lyw07 mentioned it's necessary to run `scanforcontent` to explicitly make Kolibri aware of content  by adding it to the database.

However, p

[2020-07-03 23:01] indirectlylit commented on #7003
@nobicycle feel free to test with our 0.14 betas here https://github.com/learningequality/kolibri/wiki/0.14.0-beta-testing

[2020-07-04 01:27] indirectlylit commented on #7157
could be! I also included the strings above to generate internationalized placeholder names, e.g. `Example User {number}` as a name and `Example Class - {letter}` as a class

[2020-07-04 01:30] indirectlylit commented on #7230
@cpauya in your GIF, I'm also seeing some weird spacing here:

![image](https://user-images.githubusercontent.com/2367265/86502730-2cd43600-bd5b-11ea-92e1-e1f17da7bdf9.png)

Is this styling inconsistent between browsers?

[2020-07-04 07:16] nobicycle commented on #7003
@lyw07 What you say makes perfect sense. I feel sure you have solved the problem.
@indirectlylit Yes I'll test on the beta and report back. I will test CONTENT_FALLBACK_DIRS as well.  It should be :

CONTENT_FALLBACK_DIRS='/mnt/System/Applications/Kolibri/content'

in my case?

or
CONTENT_FALLBACK_DIRS='/mnt/System/Applications/Kolibri'
?

[2020-07-05 04:07] nobicycle commented on #7003
The environment variable method did not work

See kolibri-session.txt
First I began with repeatedly setting the environment variable
_Environment='CONTENT_FALLBACK_DIRS="/mnt/System/Applications/Kolibri/content"'_

as  follows:

[code]

I tried :
"/mnt/System/Applications/Kolibri"_
"/mnt/System/Applications/Kolibri/content"_

and also those same two values without double quotes

CONTENT_FALLBACK_D

[2020-07-05 04:28] nobicycle commented on #7003
The  file removal method WORKED!

[2020-07-05 04:32] nobicycle commented on #7003
However I still wonder why I get "There is another Kolibri server running. Please use `kolibri stop` and"
This happens after install, using the systemd service (attached) to start.

**2020-07-05 04:22:16 [INFO] Performing start kolibri ...
Job for kolibri.service failed because the control process exited with error code.
See "systemctl status kolibri.service" and "journalctl -xe" for details.
2020

[2020-07-05 04:35] lyw07 commented on #7003
Hi @nobicycle ,

I'm glad that file removal worked for you! For `CONTENT_FALLBACK_DIRS`, since you are using the environment variable instead of a field in the option.ini file in KOLIBRI_HOME directory here, the name needs to be prefixed with `KOLIBRI_` so Kolibri can detect its value. I think in your case, it needs to be set to
[code]

Please feel free to let us know if the environment variable c

[2020-07-05 04:44] nobicycle commented on #7003
Thanks @lyw07

I'm bored with testing for now and glad kolibri is back up.
Unless it is urgent to test the KOLIBRI_CONTENT_FALLBACK_DIRS then I will test in next release.
Is that OK?

[2020-07-05 04:47] lyw07 commented on #7003
Hi @nobicycle ,

Yes definitely, please feel free to do so whenever you would like to. It is not urgent at all :)

[2020-07-06 05:46] nucleogenesis commented on #7244
It looks like nobody is assigned to the quiz. On the left sidebar under "Recipients" it says "No one".

Would you mind going to that quiz report page and then click "Options" then "Edit Details" and assign the quiz to the Entire Class.

When you go back, you ought to see all Learners assigned to that quiz.

Did you ever assign the quiz to individual learners or change the selection of who to assig

[2020-07-06 16:33] MisRob commented on #7163
This PR should fix this issue https://github.com/learningequality/kolibri-design-system/pull/56

[2020-07-06 16:38] indirectlylit opened #7247 "nest dependent device setting, similar to facility setting"
### Observed behavior

Settings are inter-dependent but not nested

### Expected behavior

from @jtamiace  Proposal on the left and implications on the right, changes to the current text are in red to connect it more to the text on the sign in page.

the second nested option just puts into words what the implications are when both boxes are unchecked

If "Learn page" is selected, thinking that sig

[2020-07-06 17:32] jonboiser commented on #7244
There was a bug where Lesson assignees (groups, classes, and learners) were not being displayed properly, that was not fixed until beta 7 (https://github.com/learningequality/kolibri/issues/7200).

It looks similar to this issue, where even though the Quiz was assigned to the whole class, all of the side panels say "assigned to no one". That may seem to be why the "Report" tab is empty. The "Diffi

[2020-07-06 17:35] #7211 closed, assigned to jonboiser

[2020-07-06 17:35] #7172 closed, assigned to jonboiser

[2020-07-06 17:49] #7227 closed, assigned to jonboiser

[2020-07-06 17:49] #7098 closed, assigned to MisRob

[2020-07-06 19:13] micahscopes opened #7248 "Extra redirect during sign-in when pressing `<enter>` key to submit username"
### Observed behavior
If I press the `<enter>` key to submit my username on the Kolibri sign in screen, I'm redirected to the page I'm already on and have to type in my username again.

![weird login redirect](https://user-images.githubusercontent.com/389782/86630700-c76a8a00-bf92-11ea-877e-66b952c62134.gif)

### Expected behavior
Pressing the `<enter>` key should be equivalent to clicking "Next".

[2020-07-06 19:17] indirectlylit commented on #7248
cc @nucleogenesis @jredrejo for your upcoming refactor work

[2020-07-06 19:48] indirectlylit commented on #6831
This should be fixed the next time we bump the version of our design-system repo

[2020-07-06 20:01] #7163 closed, assigned to MisRob

[2020-07-06 21:00] cjbamenda opened #7249 "Can't create New User"
### Observed behavior

When creating a new user, the "Save" button is non responsive.

### Expected behavior

"Save" should result in creation of a new user account.

### User-facing consequences

Can't add new students, or users to the system.

### Errors and logs

[code]

### Steps to reproduce

Facility > Users > New User > add user info then click "Save" No response.

### Context

 * Kolibri v

[2020-07-06 21:02] jonboiser opened #7250 "In Coach Notifications Feeds (Homepage + full activity feed), some icons are missing from notification"
@cpauya in your GIF, I'm also seeing some weird spacing here:

![image](https://user-images.githubusercontent.com/2367265/86502730-2cd43600-bd5b-11ea-92e1-e1f17da7bdf9.png)

_Originally posted by @indirectlylit in https://github.com/learningequality/kolibri/issues/7230#issuecomment-653705534_

This might be because the icon for the thing (quiz, resource, etc.) is missing. See screenshot in in seco

[2020-07-06 21:03] jonboiser commented on #7250
Icons are missing for items 2, 5, 6.

![image](https://user-images.githubusercontent.com/10248067/86643229-60000a80-bf91-11ea-895a-67580238db25.png)

[2020-07-06 21:10] jonboiser commented on #7249
This should be fixed in #7238 and in the next beta (beta 8). To confirm, does your Facility have the "passwords not required for learners" setting turned on?

[2020-07-06 21:18] #7230 closed, assigned to jonboiser

[2020-07-06 21:41] cjbamenda commented on #7249
@jonboiser Yes. Our Facility has "passwords not required for learners" setting turned on?

[2020-07-06 21:42] cjbamenda commented on #7249
Sorry, didn't mean to close the issue. Is there a way to unclose it?

[2020-07-06 21:44] jonboiser commented on #7249
Thanks @cjbamenda, I am fairly confident that this bug was fixed in the latest version of the code, and the "Create new user" form will work for facilities with the "password not required" setting in Beta 8.

I think we will release the new beta later today.

[2020-07-06 21:55] jonboiser commented on #7153
I think what happened here is that I imported "here" via P2P-facility import, so this facility has a `last_synced` timestamp, but was not actually registered to KDP. So I'm not sure this is a bug, since we technically do allow this sequence

1. Import a Facility from a non-KDP peer
1. Register (on the computer from Step 1) the Facility to KDP
1. Sync that facility with KDP (or any other peer with

[2020-07-06 22:14] jonboiser opened #7252 "On "Select Network Address" modal, automatically select the address created in "Add new address" modal"
In `Device > Facilities` or `Device > Channels` page, we can improve the user experience by automatically selecting just-added "static addresses" on the Select Network Address modal immediately after the "add new address" modal is dismissed.

The current behavior might either have the previously-selected or first radio button selected.

![image](https://user-images.githubusercontent.com/10248067/8

[2020-07-06 23:12] radinamatic commented on #7205
Haven't been able to repro it locally, no.
Going to close and reopen if I can reproduce!

[2020-07-06 23:12] #7205 closed, assigned to nobody

[2020-07-06 23:17] radinamatic commented on #7244
@maxwellfundi This should be fixed in Beta 7 from last week, but you might want to re-try with Beta 8 (hopefully tomorrow?).

[2020-07-07 00:01] indirectlylit commented on #7250
thanks

[2020-07-07 07:45] #7206 closed, assigned to jredrejo, nucleogenesis

[2020-07-07 07:48] jredrejo commented on #7115
@micahscopes  sorry, I forgot to manually close this issue. It was solved with  #7223

[2020-07-07 07:48] #7115 closed, assigned to micahscopes

[2020-07-07 09:11] cjbamenda commented on #7249
After installing beta8, I confirm that the Add User function is working correctly.

[2020-07-07 11:42] radinamatic commented on #7252
Yes, this would be an improved user experience! :+1:

[2020-07-07 13:46] nucleogenesis commented on #7241
Will be fixed in: https://github.com/learningequality/kolibri/pull/7190 and https://github.com/learningequality/kolibri-design-system/pull/55 together

[2020-07-07 16:04] micahscopes commented on #7175
This should be fixed in the next kolibri-design-system release.

[2020-07-07 16:32] micahscopes commented on #7147
I've managed to reproduce this and am working on it now.

The authorization popup only appears if I navigate to `/en/learn/#/classes` in an incognito window.  It's because in the incognito window, I've not authenticated to the `/learn/api/learnerclassroom` endpoint, which returns a 401 response with a `www-authenticate` header (as required by the standard).  The browser sees the 401 + `www-authent

[2020-07-07 16:50] micahscopes commented on #7147
Ooh, I've found a third possibility, which is to send a `X-Requested-With: XMLHttpRequest` header with the request, which should suppress the `www-authenticate` header in the response` (https://stackoverflow.com/a/20221330)

[2020-07-07 16:54] jonboiser commented on #7147
Users shouldn't be taken to the `/learn/classes` page when they click "Explore with an account" is that what's happening to you?

To avoid the situation where an unauthenticated user is going to `/classes`, we should be redirecting them away to the `/learn/topics` page like I want to do in #7154 (for authenticated users not part of any classes).

[2020-07-07 17:15] rtibbles commented on #7147
Yeah - this sounds like a follow on consequence of #7154, but also agree we should not be sending the `www-authenticate` header, as it's not relevant in this context.

[2020-07-07 17:15] micahscopes commented on #7147
When I click "Explore without an account", I'm directed to `/learn/topics`.  So I guess I haven't reproduced the exact behavior described here.

That said, it seems that the 401 popup could be considered to be a secondary issue.  Navigating to any page that makes a request to `/learn/api/learnerclassroom` will produce an authentication dialog because of the 401 response on `/learn/api/learnerclass

[2020-07-07 17:15] rtibbles commented on #7147
@micahscopes is it returning a 401 or a 403?

[2020-07-07 17:17] micahscopes commented on #7147
@rtibbles  It returns 401.  It seems like 403 could be more appropriate, although I read some people saying that 403 is meant for situations where authentication is not suggested... where the resource is truly _forbidden_.  Ideally we could just use that `X-Requested-With: XMLHttpRequest` convention to suppress the `www-authenticate` headers.

[2020-07-07 17:25] rtibbles commented on #7147
I think it's consistent with most of our endpoints to return 403 - alternatively, we could return a 404, which would be appropriately semantic, because an anonymous user has no classes and hence none are found.

[2020-07-07 17:27] rtibbles commented on #7147
Worth noting that 403s carry a particular significance for our frontend, as they will trigger a login in the frontend, whereas we do not currently do this for 401s - given the behaviour of Chrome and other browsers to 401 ajax calls - I am inclined to never used them.

[2020-07-07 17:27] micahscopes commented on #7147
Okay, so 403 would seem appropriate here.

[2020-07-07 17:28] rtibbles commented on #7147
I think so - and is consistent with our permissions elsewhere too.

[2020-07-07 17:40] micahscopes commented on #7151
@jtamiace tried reproducing this and could not.  Still waiting to hear if anyone else can reproduce it or has an idea that it's been fixed.

[2020-07-07 18:00] micahscopes commented on #7143
Resolved by #7216.

[2020-07-07 18:00] #7143 closed, assigned to micahscopes

[2020-07-07 18:36] jonboiser commented on #7249
Great to hear, thank you for testing this!

[2020-07-07 18:36] #7249 closed, assigned to jonboiser

[2020-07-07 18:59] micahscopes commented on #7147
I did some more digging and found that `BasicAuthentication` (the authentication class that returns `401` responses on unauthenticated requests) is actually disabled in production but not in development.  When I disabled it in development, the login popups stopped.

@rtibbles can you help me understand why you kept `BasicAuthentication` as a default authentication class in development?

[2020-07-07 19:12] rtibbles commented on #7147
Mostly if people are using tools like POSTman to test API endpoints in development - it generally uses BasicAuth for authenticating the requests.

[2020-07-07 20:01] bjester commented on #7140
This has been fixed in the above KDS PR.

[2020-07-07 20:01] #7140 closed, assigned to bjester

[2020-07-07 20:08] micahscopes commented on #7147
@rtibbles it doesn't seem super urgent, but it'd be nice if the popups didn't happen in development.  So I made this PR: https://github.com/learningequality/kolibri/pull/7257

[2020-07-07 20:16] micahscopes commented on #7147
I changed the priority to P2, since the main issue reported here (the 401 popup issue) only happens with development settings.

[2020-07-07 20:42] bjester commented on #7127
The loader should now be indeterminate when it's in the queue/dequeuing stages. Unfortunately, a large sync can cause those stages to take a while. I've updated the password deserialization in another PR.

[2020-07-07 22:51] ivanistheone opened #7258 "Images from perseus exercises don't show in Lesson editor"
Source: https://community.learningequality.org/t/khan-academy-human-biology-exercises-missing-images/1549/24

### Observed behavior

[This exercise](http://35.196.115.213/en/learn/#/topics/c/2a4defb24e0449ec8147cf21d4b92429) contains 12 questions, 6 of which have images in them.

When this exercise is used inside a lesson, the images don't show up (screenshot from cjackson server; details below):

[2020-07-08 00:37] #7071 closed, assigned to nucleogenesis

[2020-07-08 01:28] indirectlylit opened #7262 "In Device Settings page for multi-facility devices, cross-links to Facility Settings should be shown as `KLabeledIcon` with "facility" icon"
### Observed behavior

under device settings and the facility list name facilities but don't use the icon:

![image](https://user-images.githubusercontent.com/2367265/86863063-4d63ff00-c07f-11ea-968a-9dbeb6570bcc.png)

![image](https://user-images.githubusercontent.com/2367265/86863137-6d93be00-c07f-11ea-8fbc-9581b0ab348a.png)

### Expected behavior

should use the `KLabeledIcon` component with th

[2020-07-08 04:05] mrpau-julius opened #7263 "Something went wrong in 'Login next' button"
### Observed behavior

In login page, the next button is not performing properly. Here are the following issues:

1. When I fill in a user account and press the enter key. It refresh the page and remove the username that I entered.

2. When I attempt a wrong password and log-in again with same user account. The next button cannot proceed to enter a password.
![image](https://user-images.githubuser

[2020-07-08 08:41] jredrejo commented on #7263
@mrpau-julius  I think this is a duplicate of #7248 . Please check it and close this issue if that's the case. Thanks

[2020-07-08 12:56] mrpau-julius commented on #7263
@jredrejo, The first issue that I mentioned is semilar on that. But the second and third are different issues.
It's about the behavior of next button that failed to proceed and I can't type a password because of this thing.

[2020-07-08 13:04] cjbamenda opened #7265 "Manage content / Generating channel listing page fails with errors"
### Observed behavior

Attempting to manage channel content, or import new content from Studio, at the "Loading" "Generating channel listing..." page, only spinning wheel and lots of errors in Web Inspector. Then Kolibri seems to become overwhelmed and unresponsive for a number of minutes.

Sometimes, cancelling by clicking the "X" at the top left will result in the channel management page to appe

[2020-07-08 14:33] MisRob commented on #7215
Thank you @jonboiser for all the information, I've just started working on it. Will let you know if I run into some difficulties.

[2020-07-08 15:11] cjbamenda opened #7266 "HTML5 books (African Storybook) progress bars and completion star not working"
### Observed behavior

Reading progress bar (blue) not growing, yellow completion bar and yellow completion star not showing after finishing reading book and, thus, performance points not added. In the image below, the book "Body" was read before upgrading to 0.14beta8. It show the completion bar and star. The second book, "Yellow" has been completely read through AFTER upgrading to the beta and t

[2020-07-08 17:11] cjbamenda opened #7267 "Server errors on contentsummarylog"
### Observed behavior

At irregular intervals, Kolibri crashes, or hangs for some time. Sometimes this requires restarting Kolibri. Sometimes, it requires restarting the RPi server completely.

Most recent error where this occurred was opening a KA English video on basic addition. The interface produced an error as shown below.
### Expected behavior

Not getting these errors, hangs, crashes.

###

[2020-07-08 17:15] rtibbles commented on #7267
Thanks for the report @cjbamenda - looks like we have a weird interaction with our resource locking and redis. Will take a closer look at this.

[2020-07-08 18:34] jonboiser commented on #7265
@rtibbles The logs for this issue coming out of `/api/tasks/task` show a similar traceback to the logs in #7267 , so these two might be related

[code]

[2020-07-08 18:44] jonboiser opened #7268 "Put more info in `api-resource.js` errors that can help with debugging"
I notice that a lot of bug reports will show console logs that point at some kind of HTTP error

From logs in #7263
[code]

But, normally I need reproduce the error and look in the network tab to see _which_ endpoint actually returned an error. Then the debugging process then is normally:

1. Based on the endpoint, find the Resource class that wraps it
1. Find the call site for the request, which

[2020-07-08 19:02] jonboiser commented on #7263
Yeah, this reminds me more of #7199, but is also not exactly the same. In that issue, the "Incorrect password" alert doesn't show up. But it is similar in that the password field doesn't show up afterwards.

 @mrpau-julius does your server also have the "Password not required for learners" setting turned on?

[2020-07-08 19:31] cjbamenda commented on #7267
I don't know if this has a direct bearing, however with the mention of redis, that triggered a memory for me of something José suggested to use redis-cli/flushall. I was getting increasingly repetitive errors of the same type as shown above, used this command and things calmed down, though not 100%. I'm still not able to update channel content from Studio. Getting

[Error] Failed to load resource:

[2020-07-08 20:03] rtibbles commented on #7265
Thanks - yeah, I think there are a couple of things happening differently with Redis that we might need to take into account.

[2020-07-08 20:19] lyw07 opened #7270 "extremely large database size when sync attempts are made but don’t complete"
### Observed behavior

Reported by a user:

When sync attempts are made but don’t complete, the table `morango_buffer` in the database took 8.2 GB.

### Expected behavior

According to Blaine, the table `morango_buffer` should be automatically cleared at the end of the sync

### User-facing consequences

Users have an extremely large database

### Errors and logs

…

### Steps to reproduce

…

###

[2020-07-08 21:46] lyw07 opened #7271 "Unable to see lessons created after upgrading Kolibri with PostgreSQL"
### Observed behavior

After upgrading Kolibri from 0.13.3 to 0.14.0b8, I'm unable to see the lessons, quizzes, class activities, and reports that I created before the upgrade on the Coach page. This issue only occurs when running Kolibri in PostgreSQL. In sqlite database, everything works fine.

### Expected behavior

Users should be able to see lessons/quizzes they created previously after the v

[2020-07-08 21:52] jonboiser commented on #7271
This might be related to #7200 and #7214, which is basically a serialization issue for `ValueViewsets` returning data from postgres. In those issues, it was a different array of IDs that was not being serialized properly. There might be something similar going on with the `member_ids` array, in a different place. A quick search of the code says this `member_ids` field comes from the ClassSummary A

[2020-07-08 22:09] #6799 closed, assigned to jonboiser

[2020-07-08 22:09] #6891 closed, assigned to jonboiser

[2020-07-08 22:23] rtibbles commented on #7271
Also means we need test coverage of more endpoints to catch this!

[2020-07-08 22:30] #7150 closed, assigned to jonboiser

[2020-07-08 22:32] jonboiser commented on #7194
@radinamatic @mrpau-richard Would you mind seeing if this has been fixed for you in `0.14.0beta8`?

[2020-07-08 22:42] mrpau-julius commented on #7263
@jonboiser yes it's turn on the "Require password for learner". Yes slightly the same, the difference of this issue is, once you have a incorrect password( the error message will shown up) and try it again but it not proceed because the 'next' button is not working (like disable to proceed next).

![login-next-button](https://user-images.githubusercontent.com/38421180/86977004-4ab3f780-c1ae-11ea-8

[2020-07-08 23:08] jonboiser commented on #7204
This is still happening with the Quick Start setup option, because the demographic fields aren't being saved on the FacilityUser model even though we've passed in the correct `DEFERRED` enum to the `DeviceProvision` endpoint.

I see now that it's probably because the `create_superuser` function here doesn't actually pass the demographic fields into the FacilityUser factory function https://github.

[2020-07-08 23:11] rtibbles commented on #7204
That seems the right diagnosis!

[2020-07-08 23:17] radinamatic opened #7273 "Missing translations or string identifiers?"
### Observed behavior

Encountered while testing #7259:

All the languages seem to be missing the translation for `CREATE AN ACCOUNT` (`AuthBase.createAccountAction`), and some even for `Sign into` (`SignInPage.signInToFacilityLabel`).

![LEDev20 04 (start)  Running  - Oracle VM VirtualBox_754](https://user-images.githubusercontent.com/1457929/86974453-a82c5200-c176-11ea-804e-812ff538be98.png)

![

[2020-07-09 01:28] cyberorg commented on #7271
Rolling back to 0.13.3 using the same database makes everything visible again.

Could this be related? we get this running kolibri commands.

/usr/lib/python3/dist-packages/kolibri/dist/tzlocal/unix.py:108: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  while start is not 0:
/usr/lib/python3/dist-packages/kolibri/dist/rest_framework/utils/serializer_helpers.py:107: SyntaxWarning: "is

[2020-07-09 01:43] intelliant01 commented on #7270
Additional information:

Sync is not working with the database shared with @lyw07 on Kolibri 0.13.3 or later despite several attempts.

I had cleared `morango_store, morango_recordmaxcounter, morango_recordmaxcounterbuffer, morango_syncsession, morango_transfersession` tables and got no error during Kolibri usage or its start.

But still the sync process never progresses when another server is try

[2020-07-09 02:14] intelliant01 opened #7277 "'undefined' value for server and database in Device - Info"
### Observed behavior

Database is postgres in both cases -

[code]
[code]

### Expected behavior

Expected values :
`Server:      nginx/1.14.0 (Ubuntu)`
`Database:    <postgres + version + database name>`

### User-facing consequences

Difficult to check accurate and convey technical information about the system environment.

### Errors and logs

None observed.

### Steps to reproduce

1. Start K

[2020-07-09 11:30] nucleogenesis commented on #7250
Fixed in #7190

[2020-07-09 11:30] #7250 closed, assigned to nucleogenesis

[2020-07-09 11:30] nucleogenesis commented on #7241
Fixed in #7190

[2020-07-09 11:30] #7241 closed, assigned to nucleogenesis

[2020-07-09 16:47] indirectlylit commented on #7263
@nucleogenesis something to investigate during your login work

[2020-07-09 16:55] indirectlylit commented on #7268
related: https://github.com/learningequality/kolibri/pull/7195/files

cc @MisRob

[2020-07-09 17:41] micahscopes commented on #7175
The new KDS dependency was added in #7190.

[2020-07-09 17:41] #7175 closed, assigned to micahscopes

[2020-07-09 17:43] ivanistheone commented on #7258
[Followup debugging](https://community.learningequality.org/t/khan-academy-human-biology-exercises-missing-images/1549/32?u=ivan) by cjackson:

http://kolibri.jv:8080/en/learn/#/topics/c/2a4defb24e0449ec8147cf21d4b92429 1 but if that doesn’t work navigate to the exercise manually from Learn > Channels > Form 3 Biology > Cells > Prokaryotic and Eukaryotic Cells. Answer a few questions until you hit

[2020-07-09 18:38] radinamatic commented on #7194
I'm able to see and import from local USB drives with `0.14.0beta8` on Windows 10! :+1:

Seeing some weirdness in modal height when displayed on large screens first, but then re-scales well screen is made smaller :confused:

![local-import](https://user-images.githubusercontent.com/1457929/87077625-b3898700-c223-11ea-97a9-203be3d99b47.gif)

Will re-test on Win 7 & Ubuntu to confirm!

[2020-07-09 18:44] jonboiser commented on #7194
Yeah, the modal issue has been with us for awhile (cc @ralphiee22) 😄

[2020-07-09 19:06] indirectlylit opened #7281 "server doesn't enforce internally-consistent settings"
### Observed behavior

Certain values of facility and device settings are incompatible with each other. For example. you cannot have:

[code]

because learners cannot edit their password when they don't have a password.

This behavior is enforced on the client-side but not the server-side, e.g. during device provisioning.

### Expected behavior

Server-side model validation, checked by unit tests,

[2020-07-09 19:10] indirectlylit commented on #7247
This issue is invalid because the interaction is more complex than one being dependent on the other:

![2020-07-09 12 09 50](https://user-images.githubusercontent.com/2367265/87080811-291e3480-c1dd-11ea-9da6-adca1616255d.gif)

[2020-07-09 19:12] indirectlylit commented on #7247
@jamalex FYI

[2020-07-09 20:23] indirectlylit opened #7283 "setting doesn't get disabled in valid state"
### Observed behavior

The second checkbox is disabled in whatever state the user left it in:

![2020-07-09 12 05 06](https://user-images.githubusercontent.com/2367265/87086977-2c1e2280-c1e7-11ea-8754-2c7d36a3be3a.gif)

### Expected behavior

The checkbox should be disabled in the only state valid: learners cannot edit their password when they don't have a password

### Steps to reproduce

see fac

[2020-07-09 21:20] indirectlylit opened #7284 "database locking error after trying to upgrade a channel"
### Observed behavior

Channel upgrade failed on https://kolibri-beta.learningequality.org/

https://www.notion.so/learningequality/Post-upgrade-redirect-gets-Error-Page-with-500-error-seems-related-to-known-DeviceInfo-endpoint-iss-e1d88b7b29694864a1dbfc6f744fd387

### Errors and logs

client:

[code]

server:

[code]

### Steps to reproduce

upgrade a channel on the beta server

### Context

0.14

[2020-07-09 22:34] rtibbles commented on #7271
Hrm, that seems like something slightly off inside some of our dependencies but is probably not the issue here - thanks for the extra context, @cyberorg!

[2020-07-09 22:54] radinamatic commented on #7194
Import from USB drives with `0.14.0beta9` on Windows 7: :heavy_check_mark:

![Selection_781](https://user-images.githubusercontent.com/1457929/87098400-7800b400-c247-11ea-8383-3ddc04940730.png)

Modal issue is there too, goes away with resizing :woman_shrugging:

[2020-07-09 23:06] ralphiee22 commented on #7194
Leave it for me until October 💥

[2020-07-09 23:37] jtamiace commented on #7247
I think it's possible to make this less complex by nesting. Proposal on the left and implications on the right, changes to the current text are in red to connect it more to the text on the sign in page.

the second nested option just puts into words what the implications are when both boxes are unchecked

If "Learn page" is selected, thinking that sign-in page and everything underneath should disa

[2020-07-09 23:46] #7194 closed, assigned to jonboiser

[2020-07-10 00:58] #7215 closed, assigned to MisRob

[2020-07-10 08:05] cyberorg commented on #7271
Confirming that reports are now visible. after applying https://github.com/learningequality/kolibri/pull/7288

[2020-07-10 08:15] cyberorg commented on #7271
Yes, https://adamj.eu/tech/2020/01/21/why-does-python-3-8-syntaxwarning-for-is-literal/

[2020-07-10 16:51] lyw07 opened #7289 "inconsistent test results"
### Observed behavior

I noticed that in Travis, the results of tests `test_deleted_resources`, `test_new_resources` and `test_update_resources` are inconsistent. They would fail sometimes, but after restarting the jobs, they would pass.

### Expected behavior

test results should be consistent

### User-facing consequences

developers need to restart Travis jobs to make the tests pass

### Errors

[2020-07-10 16:56] rtibbles commented on #7289
Thanks - this was apparent yesterday, but an issue to track it is helpful! I also think I've realized why it is happening, so hope to get a fix in today.

[2020-07-10 21:21] indirectlylit commented on #7247
thanks! updated issue description with your proposal

[2020-07-10 21:32] jonboiser commented on #7277
@lyw07 Do you have any thoughts on this? I'm noticing in the `DeviceInfoView` the `Database:` value doesn't get set if it's not a `sqlite3` database.

The comments in this code say that this `Database` field is supposed to be a path to a `.sqlite3`, file, but it seems that users might interpret the field in the Device Info Page as just the name of the db process or something else.

https://github.

[2020-07-10 21:34] jonboiser commented on #7277
Similarly, in that same view `info["server_type"]`, the (`Server: `) value doesn't get set at all.

Instead, it gets set here in JS code (Line 29). I wonder if this is not a robust way of getting the `Server` (i.e. doesn't work on all web servers if they don't use the same headers)

https://github.com/learningequality/kolibri/blob/44edffae0cceb4b254762040c432fdb9b55f1621/kolibri/plugins/device/ass

[2020-07-10 21:43] jonboiser commented on #7277
So the missing `Server: undefined` seems to be because we should be extracting `infoResponse.headers.server` (lower-case 's'; the upper-case 'S' must be a holdover from the pre-axios days). I feel like this logic should be moved further back into the `DeviceInfoView` as well, though.

Now I think we just need to explicitly handle the missing branch for non-sqlite3 DBs in `DeviceInfoView`.

[2020-07-10 21:49] rtibbles commented on #7271
Thanks - hopefully these warnings will disappear when we are able to update the dependencies (although explicit Python 3.8 support often involves dropping Python 2.7 support, so we may have to be judicious here!)

[2020-07-10 21:54] rtibbles commented on #7267
Hrm, that particular error is about an optional static resource loading, so that wouldn't pinpoint the issue.

Do you have any log files from these more recent attempts? The Redis errors have hopefully been mostly fixed by the flush, but would be good to narrow down to see what is still happening.

[2020-07-10 21:56] rtibbles commented on #7266
This feels like it may be a result of an interaction with the new progress logging we added for SCORM content - will need to double check that it is not overriding our previous default behaviour here.

[2020-07-10 21:56] rtibbles commented on #7265
@cjbamenda did this persist even after the Redis flush?

[2020-07-10 22:00] #7235 closed, assigned to jredrejo

[2020-07-10 22:00] rtibbles commented on #7240
Also, this should be much more cache safe thanks to @nucleogenesis's work on etag generation for the SPA pages.

[2020-07-10 22:02] #7091 closed, assigned to jonboiser

[2020-07-10 22:05] indirectlylit commented on #7098
sorry for the delayed response and thanks for the fix

[2020-07-10 22:09] lyw07 commented on #7277
For the `Database` field, I checked the code history and saw that it was written three years ago. I guess we put it as `Undefined` just because we didn't have postgresql support back then?

[2020-07-10 22:11] jonboiser commented on #7277
Yeah, that makes sense. Can you suggest something to put there for non-sqlite3 DBS?

In the tests for postgres settings, we have all this info

https://github.com/learningequality/kolibri/blob/44edffae0cceb4b254762040c432fdb9b55f1621/kolibri/deployment/default/settings/postgres_test.py#L19-L36

I think we might be able to do the same thing for both Sqlite and Postgres, which is return the `setting

[2020-07-10 22:18] lyw07 commented on #7277
I see. When users use PostgreSQL for Kolibri, we ask them to set the option field `[Database][DATABASE_ENGINE]` to be `postgres` first: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/utils/options.py#L223
I think we can take advantage of that and check whether it's a postgresql database by checking `OPTIONS[Database][DATABASE_ENGINE] == postgres`

[2020-07-10 22:26] jonboiser commented on #7277
Is it possible to keep the same pattern of looking at `settings.DATABASES`? Does `OPTIONS["Database"]["DATABASE_ENGINE"]` get reflected in the `settings` object somehow?

Because I assume that this `OPTIONS` dictionary with `"sqlite"` first leads to the corresponding `settings.DATABASE["default"]["ENGINE"] = '.../sqlite3'`
[code]

[2020-07-10 22:30] lyw07 commented on #7277
oh yes you are right. it's set here: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/deployment/default/settings/base.py#L159, so we can make something like `settings.DATABASES["default"]["ENGINE"].endswith("postgresql"): `

[2020-07-10 22:31] jonboiser commented on #7277
Yeah, I just saw that code too!

So, in this case would something like this on the Device Info Page look okay?

[code]

[2020-07-10 22:35] lyw07 commented on #7277
yeah I think that will work well! 👍

[2020-07-10 22:58] indirectlylit commented on #7151
closing - let's re-open if necessary

[2020-07-10 22:58] #7151 closed, assigned to micahscopes

[2020-07-10 22:59] indirectlylit commented on #7244
closing. please re-open if it is still reproducible in the latest beta

https://github.com/learningequality/kolibri/wiki/0.14.0-beta-testing

[2020-07-10 22:59] #7244 closed, assigned to jonboiser

[2020-07-10 23:04] indirectlylit commented on #7003
thanks @nobicycle and @lyw07

let's open a new issue for any follow-up

[2020-07-10 23:04] #7003 closed, assigned to nobody

[2020-07-10 23:05] rtibbles commented on #7277
Yeah, whatever is in the settings will be what Django is actually using - it's possible that someone might overwrite our options with their own custom settings file, so then the options would not be accurate.

[2020-07-10 23:09] indirectlylit commented on #7203
this should be fixed. please re-open if you see it again

[2020-07-10 23:09] #7203 closed, assigned to nobody

[2020-07-11 05:29] maxwellfundi commented on #7244
Thank you very much for getting this fixed. I look forward to testing it in Beta 8, and eventually on the upcoming release.  @radinamatic @indirectlylit  @jonboiser

[2020-07-11 05:42] maxwellfundi commented on #7243
Hello @indirectlylit , I have gone back to Kolibri today to make sure i clarify this but it seems to work fine. Not sure what was happening when i reported this.

[2020-07-11 08:23] cjbamenda commented on #7267
I have just upgraded to beta9 and tested for this problem. I am the only user on the system. It still resulted in the same error. Here is the content of the error report from Kolibri. This came about after viewing a video, scrubbing back and forth a few times, then allowing the video to complete. At the end, it went to the "Something went wrong..." page. I'm attaching the kolibri & daemon logs dir

[2020-07-11 08:35] cyberorg commented on #7270
redis-cli FLUSHALL

Running this will get it going forward

[2020-07-11 16:54] radinamatic commented on #7243
Thank you @maxwellfundi!
Closing this but you can reopen if it appears again, and try to add the information @indirectlylit pointed out.

[2020-07-11 16:54] #7243 closed, assigned to micahscopes

[2020-07-11 19:18] luandro opened #7291 "Kolibri web not loading using manual instructions"
Installed on Pi using the instructions from [raspberry_pi_manual](https://kolibri.readthedocs.io/en/latest/install/raspberry_pi_manual.html).

### Observed behavior

I first installed with python using `pip3 install kolibri` and everything worked fine. Then I uninstalled it and tried the `apt-get` method, which installed fine and `kolibri status` shows it's running, but when trying to access Kolib

[2020-07-11 21:15] luandro commented on #7291
So after a clean start, and installing without python (with apt) from the start solved the problem.

[2020-07-11 21:15] #7291 closed, assigned to nobody

[2020-07-13 13:32] cjbamenda commented on #7265
@rtibbles Flushing Redis did not solve this problem. However, the beta9 update did. This problem seems to have been solved.

[2020-07-13 16:52] lyw07 commented on #7271
Fixed in #7288

[2020-07-13 16:52] #7271 closed, assigned to rtibbles

[2020-07-13 16:53] lyw07 commented on #7289
Fixed in #7290

[2020-07-13 16:53] #7289 closed, assigned to rtibbles

[2020-07-13 17:35] #6784 closed, assigned to nobody

[2020-07-13 17:36] nucleogenesis commented on #5713
This has been fixed across multiple PRs over some time between the Kolibri Design System and Kolibri and is set to be released with Kolibri 0.14 and the first KDS release in tandem.

[2020-07-13 17:36] #5713 closed, assigned to nucleogenesis

[2020-07-13 17:38] nucleogenesis commented on #4975
Pretty sure this is resolved with the new KDS package and approach on icons.

I haven't heard any similar issues in the many weeks of bug bashes and testing we've had since the icons were added to Kolibri & KDS, so this seems like it's resolved.

[2020-07-13 17:38] #4975 closed, assigned to nucleogenesis

[2020-07-13 17:59] jonboiser commented on #7152
This can be fixed by updating the message here

https://github.com/learningequality/kolibri/blob/01d34382971f93aa1971c3987a1e91426ebe221b/kolibri/plugins/setup_wizard/assets/src/modules/pluginModule.js#L8-L14

[2020-07-13 18:02] jonboiser commented on #7176
This is unusual-looking, but I don't think it's really critical since the demo server is not typically deployed with 2+ facilities . So, when visiting the URL, you will see the Demo Banner + the Usual Login screen.

Conversely, I'm not sure how many real-world multi-facility deployments will actually want to show the Demo Banner.

[2020-07-13 20:29] #6359 closed, assigned to jonboiser

[2020-07-13 21:24] indirectlylit commented on #7152
hm okay - need to push it for the next major release then

[2020-07-13 21:26] indirectlylit commented on #7176
you mean 2+ facilities?

agree it's not critical, but would still be good to address in the course of the login flow refactor if possible

[2020-07-13 21:26] indirectlylit commented on #4975
nice :) the issue was always quite subtle in any case

[2020-07-13 21:32] indirectlylit commented on #7265
great - please let us know if you encounter other issues

[2020-07-13 21:32] #7265 closed, assigned to nobody

[2020-07-13 22:01] jamalex commented on #7207
Fixed in https://github.com/learningequality/kolibri/pull/7209

[2020-07-13 22:01] #7207 closed, assigned to jamalex

[2020-07-13 22:36] indirectlylit commented on #7197
cannot reproduce

[2020-07-13 22:38] indirectlylit commented on #7196
Do we know if this happens often, or just occasionally?

[2020-07-13 22:40] indirectlylit commented on #7139
will try to do this in the course of the channel list layout updates

[2020-07-13 22:41] jamalex opened #7294 "Template warnings when running in debug mode"
### Observed behavior

When running `kolibri start --port 8989 --debug --foreground` inside a Docker container where 0.14.0b9 has been installed from the WHL file, and then loading a page in the browser, I get a huge flurry of repeating warning messages like those shown below. Doesn't seem to affect functionality, but feels like it could affect performance (at least in debug mode?) given how many

[2020-07-13 22:45] indirectlylit commented on #7108
@mrpau-richard @radinamatic is this still an issue?

[2020-07-13 22:46] indirectlylit commented on #6890
cc @kollivier mind taking a look at this?

[2020-07-13 22:53] #6893 closed, assigned to nobody

[2020-07-13 22:55] #7021 closed, assigned to nobody

[2020-07-13 22:57] #7147 closed, assigned to micahscopes

[2020-07-13 22:59] radinamatic commented on #7108
I think this was an one-time issue with corrupted upload to the release page, and hasn't been seen since!
At lease the past 3-4 betas were OK, closing this!

[2020-07-13 22:59] #7108 closed

[2020-07-13 22:59] indirectlylit commented on #7240
Need to watch out for edge case situation where there are many dozens of facilities

[2020-07-13 23:09] #7222 closed, assigned to jonboiser

[2020-07-13 23:21] indirectlylit commented on #6982
Is this true across the board? If so, this should be a P0?

[2020-07-13 23:24] indirectlylit commented on #6911
@micahscopes any updates on this?

[2020-07-13 23:25] indirectlylit commented on #6904
cc @jamalex

[2020-07-13 23:25] #6831 closed, assigned to indirectlylit

[2020-07-13 23:25] indirectlylit commented on #6751
should be addressed

[2020-07-13 23:26] #6751 closed, assigned to nobody

[2020-07-13 23:32] indirectlylit commented on #6509
@rtibbles is this addressed by your recent work?

[2020-07-13 23:34] indirectlylit commented on #6351
@rtibbles

do we need new strings for this?

[2020-07-14 06:42] MisRob commented on #7197
Thanks for checking this @indirectlylit , I haven't been able to reproduce this either so far.

[2020-07-14 06:47] MisRob commented on #7196
I haven't seen it happen at all so far, not even after watching quite lots of import attempts in Firefox and Chrome (though not sure about the behavior in long term as I don't run Kolibri very often)

[2020-07-14 09:11] cjbamenda commented on #7267
@rtibbles I've installed beta10. I'm sure you have not yet addressed this server error issue, so just to confirm that it continues.

Log files are attached.

Kolibri system info:

[code]

Below is the error w/in Kolibri.

[code]

[daemon.txt](https://github.com/learningequality/kolibri/files/4917702/daemon.txt)
[kolibri.txt](https://github.com/learningequality/kolibri/files/4917703/kolibri.txt)

[2020-07-14 15:56] indirectlylit commented on #7196
closing until we can pin down steps to repro

[2020-07-14 15:56] #7196 closed, assigned to rtibbles

[2020-07-14 15:59] indirectlylit commented on #7267
Thanks @cjbamenda

FYI, your error messages are formatted more cleanly if you use a code block:

https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

[2020-07-14 16:18] rtibbles commented on #7267
OK, this still seems to be Redis related - seems like a DB write lock is getting lost.

I think the simplest fix to this (and another issue that had a similar error) is to not do an assert during the release method of the RLock.

[2020-07-14 16:28] rtibbles commented on #7294
Was this just loading the root URL?

[2020-07-14 17:23] rtibbles commented on #7240
Dozens is still not particularly problematic - thousands might be though.

[2020-07-14 17:24] rtibbles commented on #7240
The main thing would only be adding this on a per SPA basis (rather than being tempted to add it to the base template).

[2020-07-14 17:25] rtibbles commented on #6509
No, I've not touched this part.

[2020-07-14 17:26] rtibbles commented on #6351
Yes, will do.

[2020-07-14 18:16] #7277 closed, assigned to jonboiser

[2020-07-14 18:38] bjester commented on #7270
@intelliant01 The sync process can take a significant amount of time, as the message says. With changes coming in 0.14, we've added progress tracking that will provide better visibility on the sync. Using a smaller chunk size may help speed up the sync, depending on the machines and networks involved. You can adjust it with the `--chunk-size` parameter; the default is 500. Clearing the `morango_bu

[2020-07-14 19:36] jonboiser opened #7298 "`CoreMenu` dropdown should be slightly offset from the browser window's edge"
See that the dropdown touches the edge of the browser window (the black content to the right is a different application).

I think that there should be a small gap between the right edge of the dropdown and the browser boundary, which is a common style choice on websites that have this kind of menu.

Similarly, in a RTL-locale, the dropdown should be offset from the left edge of the browser.

**Ko

[2020-07-14 20:46] indirectlylit opened #7299 "issues creating lessons and quizzes in very large facilities"
### Observed behavior

Reported by a user with many thousands of users in their facility:

![image](https://user-images.githubusercontent.com/2367265/87474304-be536b80-c5d7-11ea-87cb-4932e5f1f8a0.png)

![image](https://user-images.githubusercontent.com/2367265/87474339-c9a69700-c5d7-11ea-82b3-a806e1fb72f2.png)

Users page takes 13-15 seconds to load:

![image](https://user-images.githubusercontent

[2020-07-14 20:56] indirectlylit commented on #7298
+1

[2020-07-14 22:38] nucleogenesis opened #7302 "First `yarn devserver` on new KOLIBRI_HOME fails first time only"
### Observed behavior

I've seen this before and thought it was to do with me getting crazy with changing my KOLIBRI_HOME and branches because I used to just run all of my pip and yarn installs then retry starting the dev server - but now that I've seen it a few times I figure I should make an issue - especially after it just worked without me doing all of that reinstalling of dependencies.

1. Se

[2020-07-14 22:39] jonboiser commented on #7302
This is a little different from how I've experienced this problem. Usually it's because of a database problem, which I could fix by running `kolibri manage migrate` immediately after deleting the `KOLIBRI_HOME` folder.

[2020-07-14 22:50] nucleogenesis opened #7303 "Setup Wizard -> Personal -- Creates the facility as "nonformal" - should be "informal""
### Observed behavior

I created a new KOLIBRI_HOME and went through the setup wizard and selected "Personal" to test the Sign In Page work I'm doing for the Personal version.

When I got through with the Setup Wizard, it was created as `nonformal` rather than `informal`. I checked in Vuex and the database and it was created incorrectly.

### Expected behavior

In Setup Wizard:

Personal -> create

[2020-07-14 23:00] jonboiser commented on #7303
Did you see the `preset: nonformal` state in Vuex while doing a Quick Start? When I go immediately from "Pick Language" -> "Quick start", I do see the expected `preset: informal`.

It's happened before where if you go some steps into an "advanced" setup and move backwards, some of that state doesn't get reset when you take a different setup after backtracking.

It's also possible that the correct

[2020-07-14 23:02] rtibbles opened #7304 "Optimistic adhoc learner group generation leads to data bloat"
### Observed behavior
We currently create an adhoclearnergroup every time a lesson or quiz is created, regardless of whether granular user assignment is desired or not. This can lead to the creation of more adhoclearnergroups than necessary.

### Expected behavior
Only create one when needed.
Clean up ones that were created in 0.13.

### User-facing consequences
Data bloat, slow down.

Discovered

[2020-07-14 23:12] nucleogenesis commented on #7303
I didn't move throughout the options at all and went straight through the Personal flow because that's what I was trying to test.

I didn't look at Vuex until after I finished provisioning so I'd have to go back to try and replicate it. Can do tomorrow.

[2020-07-14 23:54] jonboiser commented on #7303
Yeah, I just reproduced this too.

Weirdly, the `preset` field on the `dataset` object in Vuex says `nonformal`, but the actual settings reflect the `informal` preset, specifically where two differ (`learner_can_sign_up: false` is correct for `informal` setups).

I also confirmed that the `facilitydataset` record has the wrong preset, so I think this might be happening at the DeviceProvisioning en

[2020-07-15 09:11] mrpau-richard opened #7309 "Failed to export on shared folder"
### Observed behavior
Kolibri failed to export on shared folder.

![gif-temp](https://user-images.githubusercontent.com/8663934/87527072-2ed4b800-c6be-11ea-9d77-577387a27f43.gif)

### Expected behavior

better feedback that permission is denied

### User-facing consequences

hard-to-understand behavior

### Errors and logs

[code]

[kolibri.txt](https://github.com/learningequality/kolibri/files/49

[2020-07-15 12:57] nucleogenesis opened #7310 "devicesettings 400 on upgraded instance"
### Observed behavior

I'm messing with settings to test Sign In refactor stuff and went to save my Device Settings.

`http://localhost:8000/api/device/devicesettings/` 400 with error message just: `allow_other_browsers_to_connect`.

I changed the "user password" settings. This is what it looked like after my changes before it failed to save:

![screenshot-localhost_8000-2020 07 15-05_55_04](https

[2020-07-15 16:39] rtibbles commented on #6809
Not actually fixed on Kolibri yet.

[2020-07-15 16:57] rtibbles commented on #7302
I am fairly sure that this would be fixed by #7254 - where for the devserver we use the production kolibri server running in autoreload mode. We already have safeguards against a non-existent Kolibri home in our production environment, so this would give a parallel experience for devs.

[2020-07-15 17:53] indirectlylit commented on #7309
@mrpau-richard could you please add the steps to reproduce, specifically the setup with the "shared folder"

[2020-07-15 17:55] #7252 closed, assigned to jonboiser

[2020-07-15 17:58] indirectlylit commented on #7310
One thing that's confusing: this setting I believe should be hidden/disabled unless you're in app mode

[2020-07-15 18:36] rtibbles commented on #7310
I observed this also - it's probably because at one point this setting was nullable, and is now not nullable. So it may be set to `NULL` in your db, but should be set to True or False (or 0 or 1, because SQLite uses integers for booleans).

[2020-07-15 18:36] rtibbles commented on #7310
(as a result, this should not affect users in production)

[2020-07-15 20:13] bjester commented on #7127
This should now be resolved with merge of above PR.

[2020-07-15 20:13] #7127 closed, assigned to bjester

[2020-07-15 20:44] indirectlylit commented on #7127
great!

[2020-07-15 22:59] nucleogenesis opened #7314 "Learn -> Recommended makes API call regardless of auth"
### Observed behavior

I went to make sure that my device settings prohibiting access to Learn for guests was working properly.

The "Channels" tab felt like it took longer to load and show the auth message than I expected. So I tried Recommended and I saw in my console that it was making this request on Channels and hitting `/api/content/contentnode/popular` on Recommended.

[code]

No need to ge

[2020-07-15 23:07] ivanistheone opened #7315 "Breadcrumbs nav problem when starting from link inside channel"
### Observed behavior

Step to reproduce
1. go to https://kolibri-beta.learningequality.org/km/learn/#/topics/t/6b3f3f468773514b91d305fcaeb87a00
2. click on channel name
3. I see content unavailable error page

<img width="849" alt="breadcrubs navigation bug" src="https://user-images.githubusercontent.com/163966/87608372-c392e200-c6cd-11ea-9bc4-fec134ad9e46.png">

confirm nav problem on aother cha

[2020-07-15 23:13] rtibbles commented on #7314
Does this PR resolve this issue? https://github.com/learningequality/kolibri/pull/7305

[2020-07-16 02:39] radinamatic commented on #7309
I'm unable to reproduce the issue with exporting to an external drive on Windows 7.

Export in progress | Export completed
------------------------ | -----------------------
![Win7 (new start)  Running  - Oracle VM VirtualBox_800](https://user-images.githubusercontent.com/1457929/87619718-2495d680-c71d-11ea-8c7a-61873f9e03c3.png) | ![Win7 (new start)  Running  - Oracle VM VirtualBox_802](https://u

[2020-07-16 09:16] cyberorg commented on #7270
Using beta11.

I was able to complete the sync only after clearing out morango_buffer as well as morango_transfersession, if morango_transfersession was not cleared then sync failed after downloading some data with error about already existing morango_transfersess_sync_session_id_0455b5bd_fk_morango_s(don't remember exact error).

After the successful sync and multiple reruns of sync, the morango_

[2020-07-16 10:24] mrpau-richard commented on #7309
@radinamatic I added the `Steps to reproduce` for this issue.

[2020-07-16 15:18] bjester commented on #7270
@cyberorg I don't see it in the pastebin, but was there a log entry at the very beginning of the warnings that said something like:
[code]

If so, I believe the next beta may resolve that issue for you, as some fixes from https://github.com/learningequality/kolibri/pull/7251 will be in it.

In that case, the Morango buffers still had data in it because Morango was unable to merge those records int

[2020-07-16 15:36] cyberorg commented on #7270
No there is no such error, here is the beginning and ending:

[code]

morango_buffer is now clean. morango_recordmaxcounter and morango_store has lot of rows though.

[2020-07-16 15:58] micahscopes commented on #6911
@indirectlylit So I figured out that this specific issue has to do with what happens when someone blurs (taps out of) the search input field on the Android system browser... when that happens, for some reason the browser decides to scroll to the search field! The search input is focused by default upon navigating to the search results. If you scroll down and tap on the "more" button, it blurs the

[2020-07-16 16:32] radinamatic commented on #6904
@jamalex Does this [Gherkin by @kollivie](https://www.notion.so/learningequality/Gherkin-scenarios-50a7e8196d5046d4ad6f6a7fb2448bf0#c6b3a6d94ea04185b5be8c58a539901e)r covers all that needs to be tested?

[2020-07-16 16:47] jamalex commented on #6904
That looks good, yep! There may be some more nuanced stuff around rescanning etc, but we need to think more about how we might do scanning in the first place. For the current functionality, this seems fine.

[2020-07-16 16:47] #6904 closed, assigned to nobody

[2020-07-16 16:53] radinamatic commented on #7309
This is no issue when testing on VirtualBox, as I'm able to export to shared folder without problems. It must be that VMware does not assign write permissions when it sets up shared folders for VMs. Agreed to deescalate this to be fixed in the future releases.

![export-shared-folder](https://user-images.githubusercontent.com/1457929/87699786-a9243b80-c795-11ea-8634-89097d37afac.gif)

[2020-07-16 16:58] indirectlylit opened #7318 "font baseline issues with mixed latin/khmer script"
### Observed behavior

observed by @ivanistheone

![image](https://user-images.githubusercontent.com/2367265/87699770-35107600-c74a-11ea-82a8-725c71aeff98.png)

noticed behavior is a bit different when the overall language changes:

![image](https://user-images.githubusercontent.com/2367265/87699935-6f7a1300-c74a-11ea-8b45-a461251f379e.png)

### Expected behavior

consistent baseline for text in m

[2020-07-16 16:59] radinamatic commented on #6904
Awesome, thank you, will open the PR to transfer the Gherkin to the repo!

[2020-07-16 18:38] lyw07 opened #7320 "provisiondevice creates a superuser to the wrong facility"
### Observed behavior

When there is an existing facility on Kolibri instance, running `provisiondevice` command would set up a superuser on the existing facility instead of the new facility it is supposed to created in.
I believe this is because we didn't pass in `facility` when running `create_superuser`: https://github.com/learningequality/kolibri/blob/release-v0.14.x/kolibri/core/device/manage

[2020-07-16 18:38] nucleogenesis opened #7321 "Sign In Page Improvements Needed (Follow up to #7306)"
### Observed behavior

This issue is to track and manage the fact that I am intentionally leaving some things for post-release in the Sign In refactor done on #7306

- ~username/password don't need to be in Vuex~ Fixed in https://github.com/learningequality/kolibri/pull/7335
- SignInPage is monolithic and its parts ought to be broken out. Password create & sign in probably should be its own route.

[2020-07-16 18:55] #7154 closed, assigned to rtibbles, jonboiser

[2020-07-16 18:55] #7204 closed, assigned to jonboiser

[2020-07-16 19:11] jonboiser commented on #7303
Yeah, I think what's happening is that we're not actually updating the `preset` field here

https://github.com/learningequality/kolibri/blob/efd4153decbc7663faed501260c76939ddffc764/kolibri/core/device/serializers.py#L81-L86

And the default preset is `nonformal`.

So we're getting the right settings for the preset, but the wrong name of the preset.

It looks like we do the same thing for the `pro

[2020-07-16 19:15] jonboiser commented on #7303
An issue I just found is that this `preset` value is not used for resetting Facility settings to their defaults. It's just this default that we have here:

https://github.com/learningequality/kolibri/blob/efd4153decbc7663faed501260c76939ddffc764/kolibri/plugins/facility/assets/src/modules/facilityConfig/actions.js#L47-L59

I think this is the only place on the UI where having the correct `preset`

[2020-07-16 21:41] jonboiser commented on #7117
Facility name might be missing from metadata because the KDP sync task type isn't included in this list here

https://github.com/learningequality/kolibri/blob/c0e59cc470921985a8fde87e7b0a2bcec02f2d6a/kolibri/core/tasks/api.py#L982-L991

[2020-07-16 22:05] jonboiser commented on #7153
So it turns out we want the "Sync" button here to work the same as the "Sync" button the "Device > Facilities" page.

This means the "Sync" button should always be enabled, and have the same behavior

1. If the Facility is not registered, pressing sync opens modal that lists the available networ addresses.
1. Otherwise, go a step backwards where user can select between using KDP or P2P as a sync s

[2020-07-17 00:31] micahscopes commented on #6911
c.c. @jonboiser

any thoughts?

[2020-07-17 05:38] jamalex commented on #7284
Potential Morango fix here: https://github.com/learningequality/morango/pull/87

After that's been reviewed, I can release it so we can do broader testing in Kolibri.

[2020-07-17 07:55] cyberorg commented on #7270
It seems kolibri/core/auth/management/commands/deletefacility.py and kolibri/core/auth/management/utils.py changes are missing in beta 12.

[code]

[2020-07-17 10:09] cyberorg commented on #7270
Ran kolibri manage flushsyncsessions and redis-cli FLUSHALL then sync

Here is the full error:

[code]
After `truncate morango_transfersession cascade;` at both ends, it failed with the same error, then clearing morango_transfersession again on client side and re-running sync continued.

Followed by long list of deserializing errors, ending with this:
[code]

RE-running sync after above:

[code]

[2020-07-17 14:55] bjester commented on #7270
Beta 12 does not have the `flushsyncsessions.py` command.

Regarding the other errors, I suggested only clearing the `morango_buffer` table. Deleting data from other Morango tables can lead to database corruption.

[2020-07-17 16:12] indirectlylit opened #7325 "👻 Unavailable resources on Coach Page are properly displayed"
### Observed behavior

Some work related to missing content didn't get implemented in 0.14, but the strings for the functionality were added and have been translated.

Refs:

* https://www.figma.com/file/LM0YUkbWAOIerZ3EEg0FN6bS/0.14-P2P-Sync?node-id=547%3A11
* https://www.notion.so/learningequality/Data-syncing-and-facility-management-0-14-0-44a8d0e4a5674d35b2a18a440e967cea

![image](https://user

[2020-07-17 16:21] indirectlylit opened #7326 "incorrect i18n string manipulation"
### Observed behavior

Two translated strings are concatenated together in a template:

https://github.com/learningequality/kolibri/blob/88ed2bac341715a1d9c06a0da04008a68b975e13/kolibri/core/assets/src/views/sync/FacilityNameAndSyncStatus.vue#L39-L41

### Expected behavior

Strings must be joined using combined ICU syntax, so that translators can adjust order if necessary

### User-facing conseque

[2020-07-17 16:24] indirectlylit opened #7327 "ensure that quizzes and lessons are not modified when they reference missing content"
### Observed behavior

current behavior might be that quizzes and lessons might actually be modified, deleting the missing resource reference, if those lessons or quizzes are edited on a device without all the content

### Expected behavior

let's double-check the behavior and ensure that no data modification occurs

### User-facing consequences

data loss

### Steps to reproduce

* create a lesso

[2020-07-17 17:43] cjbamenda commented on #7267
@rtibbles

I have updated to beta12. This server error continues and seems to have increased in some ways. I'm running the beta on my existing in-use server which is giving it a good test with the students coming to use it (I don't think I can go backwards to 0.13.3 at this point. This time (has happened before as well), the RPi became inaccessible and required a hard reboot.

[daemon.txt](https:/

[2020-07-17 18:25] rtibbles commented on #7267
Hi @cjbamenda - thanks. There is an open PR here: https://github.com/learningequality/kolibri/pull/7300 which we hope will fix the issues you are seeing. Will hopefully merge it soon and get it into beta 13.

[2020-07-17 18:43] micahscopes commented on #7248
@nucleogenesis seems like this is resolved now, would you agree?

[2020-07-17 19:53] nucleogenesis commented on #7273
Just a quick note:

`SignInPage.signInToFacilityLabel` is "Sign into" - not "Sign in to" - if this was intended to be a change included in 0.14 then I think we'll have to make an issue about it for the next round of translations.

PR incoming with fix

[2020-07-17 20:01] nucleogenesis commented on #7263
Ought to be resolved in: https://github.com/learningequality/kolibri/pull/7306

[2020-07-17 20:01] #7263 closed, assigned to nucleogenesis

[2020-07-17 20:04] nucleogenesis commented on #7162
Fixed in https://github.com/learningequality/kolibri/pull/7306

[2020-07-17 20:04] #7162 closed, assigned to nucleogenesis

[2020-07-17 21:21] radinamatic commented on #7273
@nucleogenesis The change has been already committed in `develop` by @indirectlylit, I thought it was in the 0.14 :confused:

https://github.com/learningequality/kolibri/commit/51c144a50b3bf2e39b8491eed113f44b719e561d#diff-599bf161f5d88e89f1ca26d00c7285bc

[2020-07-19 04:49] radinamatic opened #7330 "`Intl.RelativeTimeFormat` is not displaying correctly for Crowdin server's special `ach-ug` locale"
### Observed behavior
After following up on the [conversation in Slack](https://learningequality.slack.com/archives/C59J8FEPN/p1594997400110900), I see that the string that uses the standard `Intl.RelativeTimeFormat` is not displaying correctly in German:

![crwdns278692:0crwdns278116:0crwdne278116:0crwdne278692:0 - Mozilla Firefox_820](https://user-images.githubusercontent.com/1457929/87867203-05

[2020-07-19 17:51] jamalex commented on #7284
Fix to help address this in https://github.com/learningequality/kolibri/pull/7331

[2020-07-20 04:57] radinamatic commented on #7204
@jonboiser It's still unclear to me if this is an issue, or was supposed to happen...? :confused:
Do I need to amend the Gherkin scenario?

[2020-07-20 11:22] MisRob commented on #7229
I need to move on to another project, so at least adding a couple of observations. Although I saw it happen once myself, I haven't been able to find conditions to reproduce this issue reliably yet. (2) and (3) seem to be just a consequence of (1) - whenever "needs help" is working correctly, status icons are displayed.

[2020-07-20 12:45] #7273 closed, assigned to nucleogenesis

[2020-07-20 12:46] nucleogenesis commented on #7248
@micahscopes Yep! Closed with #7306

[2020-07-20 12:46] #7248 closed, assigned to nucleogenesis

[2020-07-20 17:35] jonboiser commented on #7204
The Gherkin scenario is correct, and we shouldn't be showing the "Update Profile" modal to superusers at all.

[2020-07-20 17:55] #6989 closed, assigned to jonboiser

[2020-07-20 18:16] jonboiser commented on #7330
Is this is only a problem for the `de` locale? There is an [issue in `intl-relativeformat`](https://github.com/formatjs/intl-relativeformat/issues/49) (which is what `vue-intl` uses to polyfill this Intl API) that seems to be specifically for german.

In Chrome, the relative time for German works fine using the non-polyfilled `Intl` stuff

[2020-07-20 18:28] rtibbles commented on #7330
Odd that this would appear in Firefox, which should not be relying on the fallback.

[2020-07-20 18:49] radinamatic commented on #7330
Strangely enough I don't see this neither in development (`release-v0.14.0` branch), nor on the beta server, German displays the relative time correctly there :confused:

![Selection_832](https://user-images.githubusercontent.com/1457929/87974401-4fd84700-caca-11ea-8da5-254f6471fbd4.png)

I'll do one more test installing from an asset. Should I close this if it's only an issue on the in-context se

[2020-07-20 18:55] jonboiser commented on #7303
This wrong `preset` field is also why we've been showing the Facility Name on the Sign In page for Personal Setups too (the code says to not show it for informal/personal facilities)

[2020-07-20 19:34] rtibbles commented on #7330
Ohh... this is the in-context translation server? That makes sense. The issue with this is that the in-context translation server's language code is not technically `de` but `ach-ug`, which the Crowdin overlay then takes all the strings and turns them into the latest version from Crowdin.

This then messes with our Intl usage, because the language code is not set to the appropriate locale for the

[2020-07-20 19:42] radinamatic commented on #7330
Yeah, I should have made it clearer that the issue is on the in-context translation server, sorry!

Mystery solved, but the issue is confusing to translators, and we want them to use the translation server as much as possible. Do you think that with proper time to investigate we could find the solution for future string freezes?

[2020-07-20 19:52] rtibbles commented on #7330
We would need to add in some additional handling of the locale in the case of `ach-ug` and have a way of responding to changes in the local from the Crowdin overlay.

Not entirely sure how we do that, but it may also require updates to vue-intl in order to make it able to change languages reactively (as opposed to now, where you need to refresh the page in order to change the language code).

[2020-07-20 19:55] radinamatic commented on #7330
Ok, changed the milestone, let's see if we can find the solution for the next release. Thank you!

[2020-07-20 20:45] jonboiser commented on #6911
Could we see if the problem goes away if we remove this textbox-focusing code in these places.

https://github.com/learningequality/kolibri/blob/1ab74fc5b5a907ada4592d8ab1f5897886058e19/kolibri/plugins/learn/assets/src/views/SearchBox.vue#L240-L244

https://github.com/learningequality/kolibri/blob/1ab74fc5b5a907ada4592d8ab1f5897886058e19/kolibri/plugins/learn/assets/src/views/SearchPage.vue#L80-L8

[2020-07-20 21:13] jonboiser opened #7334 "The FacilityDataset `preset` field is not used to reset facility defaults on UI"
### Observed behavior

Screenshot from https://kolibri-beta.learningequality.org/en/facility/#/a3f606630690237bbe94fe2a1a850af4/settings

Clicking "Reset to defaults" will always update the checkboxes to the default settings for "nonformal" facilities.

![image](https://user-images.githubusercontent.com/10248067/98396284-5d322680-2012-11eb-8d49-6eae61a00a3a.png)

This will happen even if the `Faci

[2020-07-21 00:34] nucleogenesis commented on #7229
@rtibbles @indirectlylit @MisRob

I tested this first on KOLIBRI_HOME 1 - which replicated the issue. This has long been the main home folder I've been using for a while. I did some digging and found that the LearnerProgressNotifications were not being saved into the notifications.sqlite3 db as I'd expect while I was taking the lesson as a learner.

I then tested on KOLIBRI_HOME 2 - which I made f

[2020-07-21 05:01] radinamatic opened #7337 "Possible responsivenes and/or design issues appearing on small screens (Android app)"
### Observed behavior

To better explore potential issues with long strings/labels in buttons, I used the German locale (will provide equivalent in English for easier debugging).

@jonboiser suggested I use one long issue, not sure if separate ones would be better.
cc @nucleogenesis @kollivier

1. Padding/margins

   - Missing padding on the button
     Android (Import content after Advanced Setup

[2020-07-21 05:14] radinamatic opened #7338 "Impossible to scroll the list of languages on Device > Settings in app context"
### Observed behavior

When trying to change language in **Device > Settings** in Android app context: the scroll moves the main view below up and down, and it seems impossible to scroll through the list of languages.

![DevTools - localhost:8080-de-device-_846](https://user-images.githubusercontent.com/1457929/88011308-4d500e80-cb17-11ea-81b6-5e5d8c1d5ff1.png)

When viewing with responsive displa

[2020-07-21 05:14] radinamatic opened #7902 "Impossible to scroll the list of languages on Device > Settings in app context"
### Observed behavior

When trying to change language in **Device > Settings** in Android app context: the scroll moves the main view below up and down, and it seems impossible to scroll through the list of languages.

![DevTools - localhost:8080-de-device-_846](https://user-images.githubusercontent.com/1457929/88011308-4d500e80-cb17-11ea-81b6-5e5d8c1d5ff1.png)

When viewing with responsive displa

[2020-07-21 05:14] MisRob commented on #7229
Thanks @nucleogenesis for taking this issue and all new information. If this helps I spent relatively lots of time trying, most of the time also on the latest `release-v0.14.x`. Hopefully someone else can check it so we can be sure.

[2020-07-21 05:24] radinamatic opened #7339 "Impossible to scroll table/grid horizontally on small Android screens"
### Observed behavior

Using Kolibri Android app, it is impossible to scroll horizontally the table/grid view in **Facility > Classes**, and therefore not possible to view the column where the **Remove class** button appears.

Might not be `P0` worthy, but the issue remains for all the information we display as table/grid (included the various coach views).

Android (Facility > Classes; German; ve

[2020-07-21 05:29] radinamatic opened #7340 "Secondary button on top of the primary on small Android screens"
### Observed behavior

Not sure if this is according to specs, but seems unintuitive to me... :confused:

So far I've encountered this only when switching language from German to others, not sure if it is present in other locales.

![DevTools - localhost:8080-de-facility---users_851](https://user-images.githubusercontent.com/1457929/88013137-f39e1300-cb1b-11ea-8656-34222205fff2.png)

It would seem

[2020-07-21 12:24] mrpau-richard opened #7341 "Channel description overlap on IE11"
### Observed behavior
Channel description overlap on IE11 when I resize the browser Windows.

This is the display on IE11
![Screen Shot 2020-07-21 at 8 14 42 PM](https://user-images.githubusercontent.com/8663934/88054298-aeb3c400-cb8f-11ea-854d-a74b85d345cd.png)

And this is on Chrome and Firefox
![Screen Shot 2020-07-21 at 8 15 37 PM](https://user-images.githubusercontent.com/8663934/88054395-d86

[2020-07-21 15:24] jredrejo commented on #7321
I'd love to study the pertinence of using [xstate](https://xstate.js.org/) to manage the sign in procedures after the release

[2020-07-21 16:47] jtamiace commented on #7340
Yeah, that's the expected behavior, I think at this point it's just on the dev to do list.

I've opened an issue for the design system to handle this exact situation https://github.com/learningequality/kolibri-design-system/issues/72

[2020-07-21 17:30] #7284 closed, assigned to jamalex

[2020-07-21 17:40] indirectlylit commented on #7229
lowering priority because this is not going to affect all users

[2020-07-21 18:36] #6809 closed, assigned to rtibbles

[2020-07-21 18:48] #7176 closed, assigned to nucleogenesis