[2019-09-05 16:53] benjaoming commented on #5832
@rtibbles -- good idea. I think that all the installer libraries would have an HTTP library to do a header request to a specific page, check if it's 404 and then default to _not_ setting a language code in the URL path if that's the case.

[2019-09-05 18:42] khangmach opened #5921 "Searched resources lose their appbar title"
### Observed behavior

Resources found via search lose their title in the appbar.

<img width="739" alt="Screen Shot 2019-09-05 at 11 40 31 AM" src="https://user-images.githubusercontent.com/25045166/64369839-01b17680-cfd2-11e9-8081-4364547da3be.png">

### Expected behavior
Resource name shows

### User-facing consequences

### Steps to reproduce
Search for a resource in Learn > search
Click into

[2019-09-05 18:47] khangmach opened #5922 "Extra scrollbar in report error modal"
### Observed behavior
There is an extra third scrollbar in the report error modal.
- See thread here: https://learningequality.slack.com/archives/CB37UM23A/p1567704776028300

Screenshot of the scrollbar here:
![scrolbar](https://user-images.githubusercontent.com/25045166/64370173-c1062d00-cfd2-11e9-9374-68cba0086c25.png)

### Expected behavior
Only two scrollbars. One for the inner container of th

[2019-09-05 19:18] #5892 closed, assigned to jonboiser

[2019-09-05 19:42] indirectlylit commented on #5468
also observed by @lauradanforth on Windows with Edge on 0.12.7

![image](https://user-images.githubusercontent.com/2367265/64375346-93bd7d00-cfda-11e9-88d5-71a0d6b36101.png)

[2019-09-05 22:15] jonboiser commented on #5678
Fixed for this particular table in #5919 by making sure rows with an empty full name cell get the same height as other cells.

I think that we should probably not allow facility users to be made without a full name in the importusers command, as this isn't allowed when making a user inside of Kolibri.

[2019-09-05 22:15] #5678 closed, assigned to nucleogenesis

[2019-09-05 22:17] rtibbles commented on #5678
Seems like a reasonable restriction - can you open an issue?

[2019-09-05 22:22] jonboiser opened #5923 "'importusers' and “createsuperuser” management commands should not allow empty 'full name' field"
### Observed behavior

The `kolibri manage importusers` command allows empty 'full name' fields when importing from CSV  files and defaults them to the empty string. This allows Facility Users to be made who have an empty full name, which is not possible inside the Kolibri UI, and can cause layout issues.

### Expected behavior

`importusers` doesn't allow empty 'full name' fields.

### User-facin

[2019-09-05 22:30] indirectlylit commented on #5909
switching to 0.13.0 because this UI will be re-worked

[2019-09-05 22:35] indirectlylit commented on #5912
We considered using the world icon from languageicon.org and intentionally decided against it.

I don't recall the reasoning, but I know for sure that it was considered. Perhaps @jtamiace or @khangmach remembers?

[2019-09-05 22:35] #5912 closed, assigned to nobody

[2019-09-05 22:40] indirectlylit commented on #5531
Hi @rrobinson-SIUMEDICINE  - thanks for your interest in contributing!

It sounds like you may already have the development environment set up? The next step will be to submit a pull request as described here:

https://kolibri-dev.readthedocs.io/en/develop/getting_started.html#submitting-a-pull-request

[2019-09-05 22:41] jtamiace commented on #5912
I don't remember either but maybe @rtibbles knows

Some options from http://materialdesignicons.com/
<img width="747" alt="Screen Shot 2019-09-05 at 3 37 57 PM" src="https://user-images.githubusercontent.com/6668144/64388255-616c4980-cff3-11e9-9c4c-a409ba8ca320.png">

And the default material library
https://material.io/resources/icons/?icon=g_translate&style=baseline
<img width="85" alt="Screen S

[2019-09-05 22:56] khangmach commented on #5912
note that the latter icon above is literally the logo for the google translate app.
https://apps.apple.com/us/app/google-translate/id414706506

My issue with the language icons above is that they indicate two characters: english and a kanji character

[2019-09-05 23:17] jtamiace commented on #5912
Two scripts - the "A" appears in a bunch of different languages. It excludes other non-Western and East Asian scripts and may even look unrecognizable by those who natively speak languages of scripts outside of these. That's the downside I see, but still in that case, both the globe and the suggestions above would be gibberish

[2019-09-05 23:23] radinamatic opened #5925 "Last attempt on a quiz question not displayed in the detailed quiz report"
### Observed behavior
Observed while [testing](https://github.com/learningequality/kolibri/pull/5595#issuecomment-528623695) the  #5595.

When coach is looking at the detailed quiz report for a learner, it always lags behind one question: learner has answered it, but that last attempt is not displayed to the coach until the page reload.

![reload-to-see-answer](https://user-images.githubuserconten

[2019-09-05 23:40] indirectlylit commented on #5912
FYI here's the thread where it was discussed: https://learningequality.slack.com/archives/C0LKG14NL/p1500047631547416

including a link to https://usersnap.com/blog/design-language-switch/

which says

[2019-09-06 00:48] khangmach commented on #5912
We could import a set of flag icons and pair it with the language text. That'd be cool

[2019-09-06 01:02] jonboiser commented on #5908
It's possible for this to happen in exercises if the Learner has mastered an exercise, but then made more wrong attempts afterwards:

1. Master the exercise -> exercise completed
1. Go to the next question
1. Provide wrong answers to that question -> exercise now "needs help"

@amit3107 	Do you think something like that might be happening for some of the learners?

[2019-09-06 08:30] rationality6 commented on #5913
Thank you for helping. closing this.

[2019-09-06 13:59] benjaoming commented on #5912
With 67 flags next to English :)

Just read the blog post, I get the discussion was had in 2017 and there aren't any clear answers or outlooks of diving back into it, also agree with @jtamiace 's view on the downsides of the "character wheel" :+1:

[2019-09-06 15:11] benjaoming opened #5930 "Running command "kolibri" (no args) gives return status 0"
# Observed behavior

Edit: Original issue removed. Running "kolibri" and getting no output was due to the "auto_cd" option on ZSH being switched on implicitly by an Oh My ZSH plugin.

Only remaining issue now is that non-0 return code is potentially a bad idea in case kolibri is invoked with its arguments truncated by mistake.

### Expected behavior

Status code 1 and usage instructions.

### User

[2019-09-06 15:14] radinamatic commented on #5921
Not sure if it's related, but seeing something similar on `develop` branch currently, notification string is missing:

![2019-09-06_17-09-06](https://user-images.githubusercontent.com/1457929/64439131-9a76ed80-d0c9-11e9-8de4-6d4d27d0b392.png)

[2019-09-06 15:15] benjaoming commented on #5930
@rtibbles can I also quickly ask in relation to the screenshot above from the old usage instructions: Have `diagnose` and `restart` been removed by mistake or intention?

[2019-09-06 15:22] radinamatic commented on #5921
cc @nucleogenesis I noticed this after the #5595 was merged.

[2019-09-06 15:41] radinamatic opened #5932 "Edit profile form field labels overlap placeholders"
### Observed behavior

Happens in Chrome on Ubuntu, and only on the first load when the user is invited to update their profile. Subsequent entering the `Edit` profile page displays the labels correctly.

![edit-profile-form-labels](https://user-images.githubusercontent.com/1457929/64440890-1b83b400-d0cd-11e9-830a-33aca0f3821d.gif)

### Expected behavior
Labels should not overlap the field.

### U

[2019-09-06 16:40] radinamatic commented on #5923
`kolibri manage createsuperuser` will also have the same issue:

![2019-09-06_18-07-12](https://user-images.githubusercontent.com/1457929/64445001-baaca980-d0d5-11e9-930c-1cad907ad35e.png)

[2019-09-06 17:32] rtibbles commented on #5930
As far as I could tell, they weren't implemented, so I removed them - did I miss something?

[2019-09-06 19:01] jonboiser commented on #5923
`createsuperuser` is a built-in management command in Django, so might need to do something different to enforce a non-empty full_name.

[2019-09-06 19:08] rtibbles commented on #5923
It would be different - but we already do some custom handling of this to make it work with the FacilityUser. The easiest thing would probably to make the `full_name` default to the `username`.

As it is editable after the fact, I think this would be a relatively harmless workaround.

[2019-09-06 19:16] jonboiser commented on #5921
@radinamatic 	Could you share the same screenshot above but without the border covering the icon? It might help debug what class of notification is missing a message type. Or is there no icon?

[2019-09-06 19:21] radinamatic commented on #5921
Indeed, no icon...

![2019-09-06_21-18-33](https://user-images.githubusercontent.com/1457929/64454809-3580bf00-d0ec-11e9-87fc-eb5bb7b220f1.png)

[2019-09-06 19:26] jonboiser commented on #5921
@radinamatic 	Could you look in the network tab from the `/api/notifications` call and paste the JSON response. I have a feeling this notification card is for the event type 'Answered (exam)', which is new to me. Originally there were only three types of events: started, completed, and needs help.

[2019-09-06 19:28] jonboiser commented on #5923
@rtibbles 	Where is this "custom handling" done in the Kolibri code? At `auth.models.FacilityUser::create_superuser`?

[2019-09-06 19:29] benjaoming commented on #5930
le sigh

you are right

[2019-09-06 19:31] benjaoming commented on #5930
From Kolibri 0.4:

![image](https://user-images.githubusercontent.com/374612/64455338-be4c2a80-d0ed-11e9-99a5-8f655165d667.png)

[2019-09-06 19:32] rtibbles commented on #5923
Yup - https://github.com/learningequality/kolibri/blob/develop/kolibri/core/auth/models.py#L580 on the model manager rather than the model itself.

Adding in the fullname where superuser FacilityUser is created ought to do it: https://github.com/learningequality/kolibri/blob/develop/kolibri/core/auth/models.py#L592

[2019-09-06 20:24] radinamatic commented on #5921
Long one, but you were right about `type: QuizAnswered`

[code]

[2019-09-06 21:03] radinamatic commented on #5923
Sounds like reasonable workaround to me, and makes it easier for the users!

[2019-09-06 21:12] jonboiser commented on #5921
@nucleogenesis 	Do you know why these notifications are coming into the feed now? I noticed you had some code that interacted with this 'Answered' event type.

[2019-09-06 21:18] jonboiser commented on #5932
The only difference I can tell between the okay case "Profile -> Edit Profile" and the bad case "Notification -> Edit Profile" is that the bad case goes across plugins (Learn -> User), whereas the ok case doesn't. It seems like it's probably something related to JS performance, or timing.

[2019-09-06 21:40] jonboiser commented on #5900
can this be implemented with a css class like `.button-group`? What else would the KButtonGroup component do?

[2019-09-06 23:58] indirectlylit commented on #5900
Yes, it could and you're right, it wouldn't do much besides setting spacing on its children.

However I've strongly been drawn towards thin wrapper components, particularly for the shared component library, for a few reasons:

1. **No pollution of the global CSS namespace.** If Studio for example wants to use the component library, they can rest assured that we won't clobber their existing styles

[2019-09-07 00:03] indirectlylit commented on #5930
rule number 23 of roadmaps: never mention the roadmap in code or documentation :D

[2019-09-09 07:12] amit3107 commented on #5908
A child got a star for an exercise after completing 5 questions correctly. Then she made 2 wrong attempts in the same exercise. The star turned into needs help in the server but remained as a star in the tab.
What you are saying makes sense.

[2019-09-09 10:42] rationality6 opened #5933 "Are these option boxes located currently?"
Instructions:

are these option boxes located currently?

seems they are not.

### Observed behavior

### Example 1

<img width="939" alt="Screen Shot 2019-08-18 at 15 49 33" src="https://user-images.githubusercontent.com/3889468/64524563-ba144d00-d339-11e9-83bc-ed3d7b47416e.png">

### Example 2

<img width="885" alt="Screen Shot 2019-09-09 at 19 41 29" src="https://user-images.githubusercontent.c

[2019-09-09 18:23] jonboiser commented on #5908
@amit3107 	Thanks for the update. I can see how this behavior can be confusing.

Looking at some of the screen shots, I think I can see other students might have been doing something similar. For example, they will have 4 green questions but then have several red ones after, which might cause this to happen.

[2019-09-09 18:54] jonboiser commented on #5933
Yes, this is a bug currently in develop. We have an issue for it here #5868

[2019-09-09 21:34] jonboiser commented on #5326
lodash/clamping the `offset` to be strictly less than 0 seems to work. Is the reason the bar "overshoots" is because of cases where the inline style is both `position: absolute` and the translateY is greater than 0?

[2019-09-10 17:02] nucleogenesis commented on #5921
@jonboiser In order to automatically update the progress of quizzes on the Coach Quiz Reports as Learners made progress on the quiz I added a notification that indicated students' progress on the quiz.

See: https://github.com/learningequality/kolibri/pull/5595/files#diff-d75fc64a164958590df718d09f9ec2e8

Is the bug noted here one that is due to an automatic generation of cards in that list based

[2019-09-10 17:31] jredrejo commented on #5342
@swapnil106111  After #5494 update will happen only after a new version of Kolibri with database migrations is done. Usual kolibri restarts won't execute this code.
This change will be available with the release of the 0.13.0 version.

[2019-09-10 17:36] lyw07 commented on #5904
Hi @miyer03 ,

thank you so much for the log file! I'm wondering if your installation is `kolibri` or `kolibri-server`. I'm asking this because we have seen a similar issue on `kolibri-server` and are actively working on it.

[2019-09-10 17:44] khangmach commented on #5912
something like this

<img width="907" alt="Screen Shot 2019-09-10 at 10 43 30 AM" src="https://user-images.githubusercontent.com/25045166/64637070-e2db2780-d3b7-11e9-8e46-4c494b036d20.png">

[2019-09-10 17:45] khangmach commented on #5912
or this

<img width="902" alt="Screen Shot 2019-09-10 at 10 45 08 AM" src="https://user-images.githubusercontent.com/25045166/64637159-161db680-d3b8-11e9-90ed-d241cfc6e2cd.png">

[2019-09-10 17:52] radinamatic commented on #5912
I would be opposed to using flags to represent languages, as it's exclusive and reductive. Same language may be spoken in many countries, so why prioritizing one over others to represent it?

[2019-09-10 18:00] khangmach commented on #5912
Some notes from my pov

- from an experience perspective it does the best job at getting the most users to parse through information and recognize the association of country and language.
- Using US as an example: Yes, there are many languages spoken in the states, but does us putting 67 flags next to english hamper or help the intentions of the feature?
- What about people coming to the platform

[2019-09-10 18:05] nucleogenesis commented on #5921
@khangmach @jonboiser

Khang mentions that the Resource Name should show in this case, however, the bug is here:

https://github.com/learningequality/kolibri/blob/d81aaa2666458197e352c7fd3404c536de84b59c/kolibri/plugins/learn/assets/src/views/LearnIndex.vue#L172

This can be fixed by changing that line to: `appBarTitle = this.topicsTreeContent.title;`

As for the notifications - @jonboiser please

[2019-09-10 18:19] benjaoming commented on #5912
I wasn't aware of the discussions AFTER the languageicon.org initiative -- and that it had so much depth. Really sorry about opening up this -- perhaps the current solution is actually just fine. I was only opening the issue because I thought that the new icon would be a very simple adjustment :)

[2019-09-10 18:25] jonboiser commented on #5921
Is the resource name supposed to show next to the "<-"? I thought it was supposed to be the name of the of the page the "<-" takes you to. So the fix would be to change 'searchTitle' to 'searchLabel' to reference the right common string.

To fix the broken notification list item, I think you'll need to go into the NotificationCard component, and add some code to handle events of type '*Answered',

[2019-09-10 18:29] nucleogenesis commented on #5921
Also, @khangmach IIRC, shouldn't the Appbar title in this instance be a `<- Search` rather than the content title since the back arrow will return the user to the search results?

[2019-09-10 18:32] jtamiace commented on #5912
I think using a flag is really problematic. I'll just link this but there are lots of reasons out there why this shouldn't be done http://www.flagsarenotlanguages.com/blog/why-flags-do-not-represent-language/

And from the link that Devon posted earlier
<img width="686" alt="Screen Shot 2019-09-10 at 11 30 40 AM" src="https://user-images.githubusercontent.com/6668144/64640303-86c7d180-d3be-11e9-9d

[2019-09-10 18:32] khangmach commented on #5921
Yeah <- Search is right. Missed that in the audit I think

[2019-09-10 18:42] khangmach commented on #5912
@jtamiace Awesome, thanks the article. In the article here, the world icon seems like a universal representation of "language". http://www.flagsarenotlanguages.com/blog/best-practice-for-presenting-languages/

[2019-09-10 18:50] jredrejo commented on #5721
@indirectlylit I think this should be moved to `clearinghouse` : This is not a current issue because we are not documenting anywhere that we have this feature. However, migrating both the structrure and the data from sqlite to postgresql it's clearly a 'nice to have' feature for the feature.

[2019-09-10 22:06] jonboiser commented on #5326
I think the problem is that it's hard to constrain the state space of y-position, absolute/fixed positioning, etc.to avoid the overshoot, which seems to be a combo of y-position being too large and position = absolute, for arbitrary sequences of scroll events.

For now, I'm just going do something more conservative and and give the app bar a fixed position with a binary y-offset when it's hidden o

[2019-09-11 03:33] rationality6 commented on #5933
Okay closing this.

[2019-09-11 03:33] #5933 closed, assigned to nobody

[2019-09-11 05:52] amit3107 commented on #5908
Yes absolutely, I also feel this is the trend, but seeing the needs help tag confuses the teacher. Suggestion- It can show need help if the student gets 4 or more incorrect.

[2019-09-11 07:35] miyer03 commented on #5904
Hi @lyw07 This is definitely there in kolibri-server. Not sure on Kolibri. I just tried it in kolibri it seems to be working fine, but remember seeing it in kolibri as well but can't confirm 100% on it right now.

[2019-09-11 07:43] intelliant01 commented on #5904
Hi @miyer03, Can you pls try to reproduce this on the system which I had last upgraded to kolibri-server 0.3.2 + kolibri 0.12.8?

[2019-09-11 11:25] jredrejo commented on #5904
hi @miyer03 , in order to reproduce the problem could you confirm:

- kolibri package version
- kolibri-server package version
- OS version
- channel token or name where you can reproduce the problem

thanks

[2019-09-11 16:26] jredrejo commented on #5930
@benjaoming running kolibri in develop, with `Click`and after running `pip uninstall docopt` I get this output:
[code]
So usage instructions appear.
Status code is  `0`, but I don't know why this issue says `1` is expected if there are no errors.

[2019-09-11 17:09] benjaoming commented on #5930
You're right @jredrejo - but how? What? I don't even...???

[code]

[2019-09-11 18:14] jredrejo commented on #5930
:D @benjaoming now you can try to install docopt again and see what happens

[2019-09-12 00:27] lyw07 opened #5934 "answer box missing for an exercise"
### Observed behavior

The answer box is missing for an exercise in the KA English channel. And if I click next, it will determine that I answer the question correctly, although I don't input anything.

This was originally reported by a student during site visit, and I found the same issue on kolibri demo. However, I'm not sure if this is a Kolibri issue or KA (en) issue, since there are no errors

[2019-09-12 12:55] vstadnytskyi commented on #5941
I am having the same error and I don't understand where do I need to put "two underscores after a link"

[2019-09-12 13:17] radinamatic commented on #5941
@vstadnytskyi To make [*anonymous hyperlink references*](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#anonymous-hyperlinks) in rST you need two underscores at the end:

[code]

[2019-09-12 13:27] benjaoming commented on #5930
The behavior returns upon installing docopt. Oh dear oh dear, what is this.

[2019-09-12 13:30] benjaoming commented on #5930
I have some bug in my shell, writing "kolibri" issues a "cd kolibri". Probably Something with ZSH or Oh My ZSH. Edit: Here is the problem https://unix.stackexchange.com/questions/126719/how-to-disable-auto-cd-in-zsh-with-oh-my-zsh

The only issue here would be the return code being zero.

[2019-09-12 21:29] jonboiser commented on #5921
#5935 Fixes this by using the 'searchLabel' key in `$coreString`.
#5936 Fixes the other issue in the coach activity feed by removing 'QuizAnswered' notifications from the coach notification getters. These particular notifications were intended to facilitate the live-updating of various coach reports, and probably don't need to be seen on the home page.

[2019-09-12 23:23] jonboiser commented on #5921
Re-opening because we found another area affected by the new QuizAnswered notifications (ActivityList.vue, see https://github.com/learningequality/kolibri/pull/5936#issuecomment-531023697). We'll close it when that's fixed too.

[2019-09-13 06:04] miyer03 commented on #5904
![Screenshot from 2019-09-13 11-22-45](https://user-images.githubusercontent.com/8583367/64840962-ea4e3b00-d61a-11e9-8ecf-f4c9dc37a431.png)
Kolibri server : 0.3.2 - 0ubuntu1
OS : Ubuntu 16.04

If i reproduce in kolibri package I will let you know.

[2019-09-13 12:51] #5930 closed, assigned to nobody

[2019-09-13 16:21] lyw07 commented on #5904
Hi @miyer03 ,

thank you for the information! does the issue exist in the instance with `Kolibri server : 0.3.2 - 0ubuntu1` and `OS : Ubuntu 16.04` as well? thanks!

[2019-09-13 18:55] benjaoming opened #5938 "kolibri start --foreground does not show port and address"
### Observed behavior

It would be VERY nice to know where kolibri thinks it's running :)

![image](https://user-images.githubusercontent.com/374612/64887360-b863c580-d668-11e9-8e2b-57a571551b1e.png)

### Expected behavior

The same information as is displayed w/o `--foreground`

### User-facing consequences

Some debugging is harder.

### Errors and logs

n/a

### Steps to reproduce

n/a

### Con

[2019-09-16 05:05] miyer03 commented on #5904
@lyw07 thats the version of my system. Its runs on Ubuntu 16.04 and Kolibri server : 0.3.2 - 0ubuntu1

[2019-09-16 05:10] miyer03 commented on #5827
@indirectlylit are you talking about the debug log in the kolibri/logs folder or any other log from the tablet.

[2019-09-16 05:13] lyw07 commented on #5904
@miyer03 Thank you! Do you mind confirming if you are able to reproduce the issue after your upgrade to Kolibri server 0.3.2?

[2019-09-16 05:26] miyer03 commented on #5904
@lyw07 please confirm if kolibri server 0.3.2 is the new upgrade. Should I try sudo apt-get install kolibri-server to upgrade and then try

[2019-09-16 05:30] lyw07 commented on #5904
Hi @miyer03
Yes, kolibri server 0.3.2 is the latest version, so there is no need to run the command to try upgrade again. Thanks!

[2019-09-16 05:38] miyer03 commented on #5904
Hi

@lyw07 just to get my understanding right as per the attached screen shot, which shows the version of server as 0.3.2 -0ubuntu1 is not the latest. how to upgrage without running the command. Will it happen automatically when connected to internet or need to do sudo apt-get update. Thanks

![64840962-ea4e3b00-d61a-11e9-8ecf-f4c9dc37a431](https://user-images.githubusercontent.com/8583367/6493615

[2019-09-16 05:47] lyw07 commented on #5904
Hi @miyer03,
I’m sorry I don’t seem to find the part in the screenshot stating that

Could you please point me to the specific location in the screenshot that you see it?

If you take a look at our PPA (https://launchpad.net/~learningequality/+archive/ubuntu/kolibri), it shows that 0.3.2-0ubuntu1 is the latest version of kolibri server. Thank you!

[2019-09-16 06:00] miyer03 commented on #5904
Hi @lyw07 the stated issue occurred on the latest 0.3.2 only as per the screen shot.

[2019-09-16 16:41] lyw07 commented on #5904
Hello @miyer03 ,

I notice that in the log you provided, the issue happened on August 23rd, 2019. Also from the second screenshot you posted in the issue, it shows that you installed `kolibri-server 0.3.2-0ubuntu1` through `learningequality/kolibri` PPA.
We released `kolibri-server 0.3.2-0ubuntu1` in `learningequality/kolibri` PPA on August 29th, 2019, which is several days later after the error r

[2019-09-16 20:21] jonboiser opened #5939 "All noto-full Non-Latin Families are downloaded on IE11"
### Observed behavior

When viewing Kolibri on IE11, a large number of Noto Sans Families are downloaded, when only a subset should be downloaded.

log:

[code]
### Expected behavior

Only the minimal set of noto sans families are downloaded.

### User-facing consequences

Extra font files are downloaded

### Errors and logs

…

### Steps to reproduce

Load Kolibri in an IE11 browser, like in brow

[2019-09-16 21:47] jonboiser commented on #2279
Trying to add this back in is causing a lot of problems, especially with how the layout is dynamically changing. It seems to have something to do with iOS's desire to have scrollable items to be immediately visible to enable this momentum scrolling.

Here are some problems I've already seen:

1. The side navigation drawer not appearing
1. 'main' div not appearing in Learn > Classes, Search, Channe

[2019-09-16 22:25] jonboiser opened #5940 "KDropdownMenu Issues: memory leak and z-index issue"
# Observed behavior

1. After closing dropdowns, they don't leave the DOM, they just stick around: notice the many tags with `.drop-element`

![Screen Shot 2019-09-16 at 3 23 03 PM](https://user-images.githubusercontent.com/10248067/64997577-04478200-d896-11e9-9525-0049511b7aa6.png)

2. The drop elements have a higher z-index of 60 than the AppBar, so they appear over it:

![Screen Shot 2019-09-16

[2019-09-17 02:12] indirectlylit commented on #5932
this looks very similar to the problem we saw here: https://github.com/learningequality/kolibri/issues/2673

[2019-09-17 02:24] indirectlylit commented on #5721
done, thanks

[2019-09-17 02:24] #5721 closed, assigned to nobody

[2019-09-17 02:25] indirectlylit commented on #5326
sounds good!

[2019-09-17 02:34] geoffrey1218 opened #5941 "Resolve "more than one target found for cross-reference" warnings when building dev docs"
### Observed behavior
When building the developer documentation, the warning "more than one target found for cross-reference u'DateTimeTzField' : kolibri.core.serializers.DateTimeTzField, kolibri.core.fields.DateTimeTzField" appears for multiple files (see logs below, relevant section is directly after "writing output").

### Expected behavior
No "more than one target" warnings appear.

### User-f

[2019-09-17 02:34] #5941 closed

[2019-09-17 03:04] indirectlylit commented on #5827
Sometimes it's possible to see javascript errors on the tablet. See for example: https://stackoverflow.com/a/2334977

[2019-09-17 03:15] indirectlylit commented on #2279
I've come across evidence that having `body` be the main scrolling pane rather than an internal `div` might be a way to refactor our layout. If you have a simple scrolling `body`, iOS will apply momentum scrolling behaviors by default without any vendor-prefix CSS hacks.

[2019-09-17 09:07] miyer03 commented on #5904
@lyw07 I tried it today again on the same server, and it seems to be working fine. May be the issue got rectified in the Aug 29th release. Closing this for now. Will re-open in case we notice it in any other place.

[2019-09-17 16:30] lyw07 commented on #5904
Thank you so much @miyer03 for checking this!

[2019-09-17 17:39] jonboiser commented on #2279
I've got that to work, but had to move the scroll listener from the nested div to `window`. There also seems to be a little bit of a performance drop on big pages like the User Page with thousands of users, but works well with simpler pages.

[2019-09-18 18:04] jonboiser commented on #5932
@radinamatic 	Do you see any evidence that it's similar to #2673 (Chrome autofill influencing the floating label)? In your video, I don't see the same Chrome autofilling styling in the inputs.

...I just realized it can't be the same since these are dropdown elements. It just seems another OS/Browser specific quirk to me, but maybe the fix will be a similar hack where we have to manually force the

[2019-09-18 18:09] radinamatic commented on #5932
Yep, seemed the same thing to me 👍
I'll re-test and check, haven't encountered it since initially reporting it!

[2019-09-18 19:26] indirectlylit commented on #5908
Thanks for the information. I've logged an internal note so that we can improve the user experience in the future. It's not on the roadmap yet, but we'll update this issue here when that happens.

[2019-09-18 20:54] jonboiser opened #5943 "On Windows Chrome, scrollbars appear on truncated areas with missing overflow-x/y rules"
### Observed behavior

In at least two places (The username on the top-right of the AppBar, and in Coach/Learner enrollment table), scrollbars appear next to names in Chrome Windows.

This appears to be because of

1. An `overflow-x` rule
2. A little bit of vertical overflow
3. A lack of a `overflow-y` rule

Or something similar in the other dimension. The screenshots below show both cases.

![use

[2019-09-19 05:16] indirectlylit opened #5945 "Find new home for a11y content"
[Accessibility resources in the wiki](https://github.com/learningequality/kolibri/wiki/Accessibility-Resources-(Tools)) should be in our developer documentation, perhaps as a page linked from here:
https://kolibri-dev.readthedocs.io/en/develop/manual_testing.html

[2019-09-19 07:47] rationality6 commented on #5938
<img width="694" alt="Screen Shot 2019-09-19 at 16 46 45" src="https://user-images.githubusercontent.com/3889468/65223902-15de9300-dafd-11e9-9a60-b78de7077853.png">

Is this already fixed on latest dev right?

I can see port and address there.

[2019-09-19 16:02] benjaoming commented on #5938
That's true, I see it there. Thanks @rationality6

[2019-09-19 16:02] #5938 closed, assigned to nobody

[2019-09-19 23:13] DXCanas opened #5947 "Really long description tooltips"
### Observed behavior

Tooltips as long as the screen can see.

### Expected behavior

Maybe some kind of concatenation?

### User-facing consequences

- Laughter.
- Confusion?

### Steps to reproduce

Navigate to a resource for a lesson that has a description (Aflatoun pictured above).
Hover over the card

### Context

Kolibri 0.12.9a1 UN Women build,
Windows 10 Home
 Chrome Version 76.0.3809.132

[2019-09-20 01:55] rationality6 commented on #5922
Sorry, could you help me how to navigate to the resource?
I couldn't find the menu.

[2019-09-21 17:10] #5906 closed, assigned to nobody

[2019-09-22 21:05] benjaoming opened #5952 "Export to drive lacks guiding fail messages and guidance about resuming"
### Observed behavior

I'm trying to export to a locally mounted drive. The problem was that the plug wasn't working okay on the particular drive, hence it got uncleanly unmounted+mounted during the transfer. Afterwards, the export didn't work at all due to an input/output error on the NTFS filesystem mounted on Ubuntu Linux.

Using the export function to export large amounts of data has some lack

[2019-09-25 02:31] indirectlylit commented on #5922
@rationality6

By "Navigate to a resource", it means just go to any content in Kolibri as a learner

[2019-09-25 02:37] indirectlylit commented on #5952
cc @khangmach

[2019-09-25 03:02] #5708 closed, assigned to nobody

[2019-09-25 04:14] indirectlylit commented on #4082
FYI, design and development work is underway to improve the user experience for this sort of issue in 0.13.0. We'll update with details soon.

[2019-09-25 05:52] rtibbles commented on #5885
Previous fix was only temporary, so reopening for full fix.

[2019-09-25 18:26] jredrejo opened #5954 "External plugins break kolibri if they don't have a locale dir"
### Observed behavior
Creating a new plugin to be installed with kolibri, after installing it using
`kolibri plugin enable plugin_name`
when trying to access to kolibri in the browser, there's a `500 server error` message.

Creating an empty `locale` dir in the plugin folder makes the error disappear.

### Expected behavior
There might be plugins not needing a locale dir. The error should not rais

[2019-09-26 08:43] nucleogenesis commented on #5921
Latest noted errors fixed in https://github.com/learningequality/kolibri/pull/5942

[2019-09-26 08:43] #5921 closed, assigned to nucleogenesis, jonboiser

[2019-09-26 08:47] nucleogenesis commented on #5585
This issue was completed with https://github.com/learningequality/kolibri/pull/5595 and it's subsequent bugfixes

[2019-09-26 08:47] #5585 closed, assigned to nucleogenesis

[2019-09-26 22:31] jonboiser commented on #5943
For the `.username` class in AppBar.vue, adding a `overflow-y: hidden` rule seems to fix it.

For the issue in the Class Enrollment page, in UserTable.vue, adding a rule that targets the "role" column with an `overflow-x: hidden` rule that overrides the default from CoreTable seems to fix that area.

[2019-09-27 17:53] rtibbles commented on #5954
I think #5957 fixed this @jredrejo could you confirm?

[2019-09-27 17:54] rtibbles opened #5960 "Add regression testing for channel update deletion behaviour"
Ref: https://github.com/learningequality/kolibri/pull/5853/files/b0104f3ef0e978f41beddf090240c4f1b5cafe04..94c5800705a4f5f5b5295de4fb75b9d7e4a75c6e#r329181611

Add a test to ensure that deleting during an upgrade proceeds properly.

[2019-09-29 22:34] jamalex commented on #5708
@Marshall-B We still noticed this happening while at SBWCC during our recent visit, and I believe it was a combination of it being a very old Kolibri version (0.10.0) and possibly also an older version of the KA channel. They'll need an upgrade to get things going smoothly. Thanks!

[2019-09-30 12:22] jredrejo commented on #5954
Right, it's fixed now. Thanks.

[2019-09-30 12:22] #5954 closed, assigned to nobody

[2019-10-01 10:34] nucleogenesis commented on #5881
Fixed with merge of 5955

[2019-10-01 10:34] #5881 closed, assigned to nucleogenesis

[2019-10-01 19:07] Marshall-B commented on #5708
Thank you sir,
    We’re working on it – I suspect they still have the very first version that Nick Yordy put together for us almost a year ago…

-Marshall

DO NOT read, copy, or disseminate this communication unless you are the intended addressee. This e-mail communication contains confidential and/or privileged information intended only for the addressee. If you have received this communication

[2019-10-01 21:50] jtamiace opened #5964 "Resources in a lesson do not appear in the order set by the coach in Reports"
### Observed behavior

The order set for learners in 'Edit details'
<img width="1003" alt="Screen Shot 2019-10-01 at 2 40 48 PM" src="https://user-images.githubusercontent.com/6668144/66002920-a56b3680-e459-11e9-8035-ae45739a6efe.png">

The order in the lesson reports:
<img width="972" alt="Screen Shot 2019-10-01 at 2 41 00 PM" src="https://user-images.githubusercontent.com/6668144/66002938-af8d35

[2019-10-02 16:06] radinamatic opened #5965 "String audit (content/resource <> material; performance <> score)"
### Observed behavior

During the [discussion about Kolibri ecosystem Glossary](https://docs.google.com/document/d/1_pctX5MdTblQlQumow0CCu28qOaE88BW72iw4qqs9yA/), we pinpointed the need to better define some terms. Proposed changes include:

1. Switch to using the term **resource** instead of **content** or **material**.
2. Consolidate **performance** and **score** (better define the difference, m

[2019-10-02 16:32] rtibbles commented on #5965
I am still against switching from 'resource' to 'material' - 'resource' is absolutely the right word in English for this, as evidenced by the fact that we are in the business of distributing Open Educational *Resources* not Materials.

The main argument I have heard in favour of this switch has been to make it clearer to translators, but that implies to me that we should be using translation conte

[2019-10-02 16:43] radinamatic commented on #5965
I would agree with the decision not to make this a string refactor, but restrict it to context information for the translators.

Actually, the original discussion started with the need to avoid the term **content**, as per recommendation from @shivichandra. My only question is _are we even able to_? How do we start talking about **Studio** at all? Resource curation platform...? :thinking:

[2019-10-02 16:44] rtibbles commented on #5965
Sounds right, or even a 'resource aggregation, alignment, creation, and editing' platform.

[2019-10-02 16:56] radinamatic commented on #5965
Sounds :+1: , but that does imply a string refactor across the whole ecosystem.

[2019-10-04 20:52] #5582 closed, assigned to nucleogenesis

[2019-10-07 23:08] ralphiee22 opened #5968 "Update config options for branding"
When https://github.com/learningequality/kolibri/pull/5966 and https://github.com/learningequality/kolibri/pull/5967 get merged into `develop`, update https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/utils/branding.js to reflect new configuration options.

[2019-10-08 22:32] jonboiser commented on #5964
It looks like the report orders the resources alphabetically by title.

[2019-10-09 22:13] ralphiee22 opened #5974 "KDropdownMenu refocuses after scrolling/clicking out of view"
### Observed behavior

Clicking dropdown menu button and scrolling outside of view, and clicking anywhere in the window brings focus back to the button.
![Oct-09-2019 15-07-55](https://user-images.githubusercontent.com/6361732/66524276-d6291c80-eaa6-11e9-9107-5394efe7447a.gif)

Has something to do with this
https://github.com/learningequality/Keen-UI/blob/next/src/UiPopover.vue#L149

### Expected

[2019-10-17 08:58] cpauya commented on #5911
Hi @indirectlylit - I think this [Gherkin story feature file](https://github.com/learningequality/kolibri/blob/develop/integration_testing/features/super-admin/super-admin-windows-installer-setup-error-log.feature) already addresses this?

[2019-10-17 17:53] indirectlylit commented on #5911
fixed in https://github.com/learningequality/kolibri/pull/5742

[2019-10-17 17:53] #5911 closed, assigned to nobody

[2019-10-18 16:32] lyw07 commented on #5877
Hi @jredrejo ,

Does this issue still apply to you? I deleted my kolibri home directory, ran the command `yarn devserver` under the latest develop branch, and it created a new kolibri home directory for me.

Do you mind checking if the issue still exists on your side when you have some free time? Thank you!

[2019-10-18 22:55] indirectlylit commented on #5921
thank you!

[2019-10-18 22:59] indirectlylit commented on #5943
When addressing this, we need to be careful of another pervasive issue, clipped descenders:

* https://github.com/learningequality/kolibri/issues/5553
* https://github.com/learningequality/kolibri/issues/5538

[2019-10-21 00:32] indirectlylit opened #5979 "transitions on modals and snackbars are sometimes not shown"
# Observed behavior

Modals and snackbars both are supposed to have `enter` and `leave` transitions. However in many cases, they are either shown or disappear immediately with no transition.

### Expected behavior

`enter` and `leave` transitions are always shown

### User-facing consequences

UI feels more abrupt, less smooth

### Steps to reproduce

two specific examples:

* click button to crea

[2019-10-21 22:04] #5666 closed, assigned to jonboiser

[2019-10-22 00:00] indirectlylit opened #5981 "Uncaught SyntaxError: missing ) after argument list"
### Observed behavior

Error on load in console, seems to be related to code in `hooks.py`:

[code]

Might also be preventing language assets from being loaded?

### Expected behavior

No error

### User-facing consequences

No translations on device page

### Errors and logs

[code]

### Steps to reproduce

load device page

### Context

0.13.0 (develop)

[2019-10-22 15:47] #3709 closed, assigned to jonboiser

[2019-10-22 15:47] #4827 closed, assigned to jonboiser

[2019-10-22 15:47] #5326 closed, assigned to jonboiser

[2019-10-22 15:47] #5558 closed, assigned to jonboiser

[2019-10-23 16:45] #5885 closed, assigned to rtibbles

[2019-10-23 18:32] indirectlylit commented on #5891
@intelliant01 FYI we're currently investigating the feasibility of backporting this to 0.12.9

[2019-10-23 21:59] indirectlylit opened #5986 "images from questions not appearing in learner quiz view"
### Observed behavior

Reported by @miyer03 [in this comment](https://github.com/learningequality/kolibri/issues/5702#issuecomment-527350719):

* G8 -> 11 statistics -> Sub-divided bar graph -> assessments

Contact Manoj or Devon for the channel ID

![WhatsApp Image 2019-08-29 at 5 53 03 PM (1)](https://user-images.githubusercontent.com/8583367/64154810-2fba7d80-ce4f-11e9-8f94-c44780853d42.jpeg)

[2019-10-23 22:02] indirectlylit commented on #5986
@miyer03 I tested this locally in the 0.12.x branch and was not able to reproduce.

Are you able to reproduce in your office? If so, you can give us access to it with [ngrok](https://ngrok.com) and we can see exactly what you're seeing.

| note | image |
|--|--|
| graph shows as expected | ![image](https://user-images.githubusercontent.com/2367265/67437478-c1b84a00-f5a5-11e9-9779-57a78ece54f1.png)

[2019-10-23 22:03] indirectlylit commented on #5702
@miyer03 I migrated your final comment to this new issue: https://github.com/learningequality/kolibri/issues/5986

I was not able to reproduce locally. If you're still seeing this, let's figure out how to get a reproducible scenario in the new issue

[2019-10-23 22:03] #5702 closed, assigned to rtibbles

[2019-10-23 23:52] indirectlylit commented on #5857
this is only in the `develop` branch, not 0.12.x

[2019-10-24 02:38] mrhrifat commented on #3834
thanks

[2019-10-24 03:47] intelliant01 commented on #5891
@indirectlylit the heads up is much appreciated. Really hoping that this can be backported because this is definitely a big bottleneck for scaling the usage of Kolibri on sqlite backend. Will know only after this porting if anything else needs to be addressed.

[2019-10-24 20:25] indirectlylit opened #5988 "'☣ LOCALPATH' shown in KA Math hint"
### Observed behavior

* URL: http://localhost:8000/ko/learn/#/topics/c/f56881f0a2f25dfa910fedd7b0593325
* Name: Relate addition and subtraction
* Channel: Khan Academy (en) public channel

![image](https://user-images.githubusercontent.com/2367265/67522290-59c73980-f661-11e9-958c-72bbca2bff6c.png)

![image](https://user-images.githubusercontent.com/2367265/67522410-88ddab00-f661-11e9-9929-9da2e22

[2019-10-24 21:54] lyw07 commented on #5483
should be resolved in https://github.com/learningequality/kolibri/pull/5495

[2019-10-24 22:45] lyw07 opened #5989 "log archive directory doesn't have the correct number of files"
### Observed behavior

In the log archive directory, when backup count is set to 30, the log txts are not the latest 30 day logs. Instead, the directory contains 31 files.

### Expected behavior

The number of archived log files should match with the number defined.

### User-facing consequences

It will take a bit more user storage having one more file. Also users will get confused when the numbe

[2019-10-25 19:43] jonboiser commented on #5979
Which modals have the enter transition you're expecting? They all seem to have the same fast enter behavior.

[2019-10-25 19:48] jonboiser commented on #5979
For modals, it seems that because we always wrap KModal, that the 'enter' transition defined on KModal is never actually shown. I tried a hack where I render ChangeUserPasswordModal as an empty div, then show the wrapped KModal in the 'mounted' hook, which will then show the proper transition.

[2019-10-25 20:42] jonboiser commented on #5979
Adding the `appear` directive to the KModal's transition seems to help.

[2019-10-25 22:47] indirectlylit commented on #5979
exactly. My initial thought was that we would need to add some sort of `visible` attribute to `KModal` and have an inner div hide/show inside the transition

that would be great if the fix were that easy!

[2019-10-28 02:10] #5891 closed, assigned to jredrejo

[2019-10-28 14:47] benjaoming commented on #5483
Did we get documentation updated @lyw07 ?

I can move this issue to kolibri-docs to continue it there...

[2019-10-28 16:21] lyw07 commented on #5483
Hi @benjaoming

I updated the documentation [here](https://kolibri.readthedocs.io/en/latest/manage.html#locate-kolibri-log-files) with the indication that the logs files are named with .txt. The PR is [here](https://github.com/learningequality/kolibri-docs/pull/97).
Do you know if there are other places in the documentation that needs update? Thank you!

[2019-10-28 16:59] benjaoming commented on #5483
Thanks @lyw07 - no this was exactly the one I failed to find, was trying to read pull requests etc :)

[2019-10-28 16:59] #5483 closed, assigned to nobody

[2019-10-29 18:10] jredrejo opened #6001 "Kolibri 0.12.8 does not work well in old iPad 2"
### Observed behavior

Trying to use kolibri in iPad 2 is impossible. The login screen never loads and all that can be seen is a flying kolibri animation.
In the same network, using a MacBook kolibri works well, so the problem exists only with these old devices.

### Expected behavior

Kolibri loading well on these devices.

### User-facing consequences
Kolibri can't be used in the class, as the s

[2019-10-29 19:57] rtibbles opened #6003 "Add warnings to catch invocations of translation functions before polyfill loading occurs"
### Observed behavior
On two occasions now we have fixed Kolibri due to invocation of translation machinery in module scope breaking on Intl-polyfilled browsers. (#5254, #6002)

### Expected behavior
The linter should catch these invocations in module scope and error.

Alternatively, we can add a flag like `i18nReady = false` that gets set to `true` after `setupi18n` has been invoked. Then the tra

[2019-10-30 00:04] #6001 closed, assigned to nobody

[2019-10-30 00:52] indirectlylit opened #6006 "'Change language' in the user profile menu is not focusable"
### Observed behavior

Follow-up from #5999

https://github.com/learningequality/kolibri/pull/5999#issuecomment-547386757

- ~`BlockItem` components (eg, Coach > Class Home > Quizzes and Lessons lists) don't have any keyboard outline style.~ addressed by #5852
- The keyboard focus indicator skips "Change language" in the user profile menu.

### Expected behavior

proper focus rings everywhere

###

[2019-10-30 00:53] #5884 closed, assigned to indirectlylit

[2019-10-30 01:54] #5868 closed, assigned to indirectlylit

[2019-10-30 01:57] radinamatic commented on #6006
I was just today testing #5999 for this, will finish a deeper dive and post more issue instances tomorrow.

One thing I don't remember, what was the visual indicator we decided for when a `select` element (drop-down _menu_) is in focus? Right now I can only see the bottom edge getting a bit thicker, but that hardly seems enough :confused:

[2019-10-30 02:03] indirectlylit commented on #6006
@radinamatic can you please post a screenshot

[2019-10-30 02:04] #5923 closed, assigned to jonboiser

[2019-10-30 02:10] radinamatic commented on #6006
`Show active/inactive quizzes` filter, for example:

![focus](https://user-images.githubusercontent.com/1457929/67823282-b80d7580-fac2-11e9-9fba-2da8513e1e50.gif)

[2019-10-30 02:14] radinamatic commented on #5923
This will almost certainly need user docs update, if not Gherkin scenarios too...

**Remember the proper tags, people!!!**

[2019-10-30 07:47] jredrejo commented on #6003
Would not it better to set 0.12.x as the milestone?

[2019-10-30 16:25] intelliant01 commented on #5891
Not sure if this should go in https://github.com/learningequality/kolibri-server/issues/20 or https://github.com/learningequality/kolibri/issues/5987 or if this is the right place.

@indirectlylit  @jredrejo Tested in the following environment -
kolibri 0.12.9b1 deb
kolibri server 0.3.2
sqlite db size ~ 2.7 GB.

kolibri-server.service -

[code]

**Observations:**
1. Startup time i.e. time from sta

[2019-10-30 16:35] indirectlylit commented on #5891
just a heads-up that beta1 was tagged before #5987 was merged. I'll tag a new beta now

[2019-10-30 16:39] indirectlylit commented on #6006
thanks - yeah that's been the implementation forever.

I do think the right direction to go is to use the standard outline everywhere, consistently, unless there's a good reason not to in specific instances

[2019-10-30 17:00] benjaoming commented on #5409
Deviations between the two is a bug that should be addressed. Pre-commit can be run in CI as well as from a local environment.

Pre-commit hooks can be removed. If you do this, only CI will lint your code.

[2019-10-30 17:51] indirectlylit opened #6008 "Facility admin pages very slow with thousands of users"
### Observed behavior

Reports that on a server with ~8000 users, facility pages are sometimes giving errors and timeouts are occurring:

![image](https://user-images.githubusercontent.com/2367265/67884531-3be75200-fb03-11e9-840e-596f5c8b5d3b.png)

### Expected behavior

The user interface should remain responsive and not cause user-facing errors, even for very high numbers of users (to be defined

[2019-10-30 18:24] KevinTripp commented on #6008
Here is the chrome dev tools view of the page loading. It is one call that is getting a 504 error.

![image](https://user-images.githubusercontent.com/2286110/67886957-c5594d00-fb20-11e9-92fd-d2f2a0c817c4.png)

Request URL: https://kolibri.connectedcorrections.com/api/auth/classroom/?parent=79f960e7d7afd0754776f9fcb04fe035&1572459020932=1572459020932
Request Method: GET
Status Code: 504
Remote Add

[2019-10-30 21:07] indirectlylit commented on #6003
Updated description and title.

I don't believe this should be a blocker for 0.12.9

[2019-10-30 23:58] radinamatic commented on #6006
Agreed, let's go with that for the time being. Let's think of the way to put these states in the style guide (design system).

[2019-10-31 00:50] rtibbles opened #6012 "Improperly escaped interface strings"
### Observed behavior
On Device page: `Uncaught SyntaxError: missing ) after argument list` - caused by attempted bootstrapping of device strings into the page.

### Expected behavior
Strings should not escape their escaping!

### User-facing consequences
No translations on device page!

[2019-10-31 00:58] radinamatic commented on #6006
_transferred to #6016_

[2019-10-31 01:04] indirectlylit commented on #6012
duplicate :) https://github.com/learningequality/kolibri/issues/5981

[2019-10-31 01:04] #6012 closed, assigned to nucleogenesis

[2019-10-31 01:17] radinamatic commented on #6006
_[reopened](https://github.com/learningequality/kolibri/issues/5845#issuecomment-549006533) #5845_

[2019-10-31 03:05] intelliant01 commented on #5891
@indirectlylit do you want me to test with beta2 and check if I have different results?

[2019-10-31 03:15] radinamatic commented on #6006
_working correctly on current `develop`, deleting_

[2019-10-31 04:29] radinamatic commented on #6006
Ok, I went through all the rest of the coach and admin workflows and did not find other issues. 🙂

Will check Learner tomorrow, but these seem to be good to start working on! 😉

[2019-10-31 07:05] intelliant01 commented on #5891
Tested in the following environment -
kolibri 0.12.9b2 deb
kolibri server 0.3.2
sqlite db size ~ 2.7 GB.
Hardware - Celeron Dual core + 4 GB RAM

**Observations:**

1. Startup time i.e. time from start to Kolibri being smoothly responsive and usable, has reduced from around 10 minutes to **under 5 minutes**.

kolibri.txt upon each start after the first post upgrade which involved db update and too

[2019-10-31 10:07] benjaoming commented on #5150
Is this a simple fix? Can we fix it for 0.12.8 as well?

[2019-10-31 15:38] benjaoming commented on #5150
This especially affects Khan Academy topics which have many sub-elements that are hidden.

[2019-10-31 16:48] jredrejo commented on #5891
HI @intelliant01, thanks for your intensive and patient tests.
It seems the problem that triggered this issue is finally solved (and it brought other benefits as the reduction in the start up time) so I am closing this issue.
About your latest points 4 & 5:

This is the only place where daemon.txt is used:
https://github.com/learningequality/kolibri/blob/develop/kolibri/utils/cli.py#L488-L491
You

[2019-10-31 18:40] indirectlylit commented on #5150
@benjaoming it sounds like you're describing a different issue. This one is just about the _scrollbar_ being occluded.

Would you mind opening a new issue with screenshots?

[2019-10-31 18:41] indirectlylit commented on #5150
@jonboiser is this issue still valid after your changes in #5971 ?

[2019-10-31 19:05] jonboiser commented on #5150
Yeah, this will still happen because the header is an overlay on the main content, instead of being positioned above it in the y-axis, which seems to be standard for websites with similar design.

Whether the scrollbar is visible and seemingly cut off by the header depends on the browser and OS, though. For example, in Windows, the scrollbar is visible, but actually will appear along the entire le

[2019-10-31 19:09] benjaoming commented on #5150
@indirectlylit pretty sure it's this issue.

![kolibri_missing_scrollbar ogv](https://user-images.githubusercontent.com/374612/67978408-54965b80-fc1a-11e9-8b7b-f9e05dc55ca2.gif)

[2019-10-31 20:17] indirectlylit commented on #5150
The original issue said that users might not realize that they can scroll, specifically because the "thumb area" and top scroll arrow are hidden. @benjaoming does this accurately describe the issue for you, also?

(reference: https://www.pcmag.com/encyclopedia/term/50938/scroll-bar)

It seems to me that this might be mostly a UX issue for Linux desktop users. Mac, Android, and iOS have all stopped

[2019-10-31 20:40] indirectlylit commented on #5150
Alternatively, @rtibbles and @benjaoming I'd be interested whether you know of examples of sites that do app-bar hiding better on Linux?

[2019-10-31 20:43] benjaoming commented on #5150
Yes, indeed. My own experience: I was confused because I thought the page had issues displaying all the contents. I couldn't tell if the page has finished loading, if it's broken or if I should drag-select contents in order to navigate downwards. I didn't realize that I could scroll, because I look for a scrollbar before scrolling!

If contemporary UX development wants scrollbars dead, then resist

[2019-10-31 21:05] indirectlylit opened #6013 "request for demographic information is not explained in setup wizard"
### Observed behavior

Setup wizard asks for personal information with no additional explanation about why:

![image](https://user-images.githubusercontent.com/2367265/67985689-a4f3c600-fbe6-11e9-9dda-1f34a37d8252.png)

### Expected behavior

* Some distinction between required fields and optional demographics
* Some explanation of why we're asking for this information and how it will be used
* "N

[2019-11-01 01:56] radinamatic commented on #6006
`Change language` is not present in the focus order **at all**:

![LEDev1911n (start)  Running  - Oracle VM VirtualBox_044](https://user-images.githubusercontent.com/1457929/67997153-23864d00-fc53-11e9-8bcb-c4f2cc971636.png)

[2019-11-01 02:07] radinamatic commented on #6006
_transferred to #6016_

[2019-11-01 03:14] radinamatic commented on #6006
_transferred to #6015_

[2019-11-01 17:29] indirectlylit commented on #6006
@radinamatic I think this audit may be expanding beyond the scope of a single issue, which will make it a bit harder to resolve. We'll keep it open for now but I expect we'll need to break it up a bit

[2019-11-01 17:40] radinamatic commented on #6006
I was thinking the same thing @indirectlylit.
I can separate each instance to a single issue if that helps...?

[2019-11-01 17:48] indirectlylit commented on #6006
recommendation:

1. Create one roll-up issue for all instances where something can get keyboard focus, but does not use the standard outline. (Please put all information in the issue description, not as comments)
2. Create new, independent issues for cases where something cannot get keyboard focus, or otherwise behaves strangely

[2019-11-02 03:18] radinamatic opened #6015 "Keyboard navigation inside the PLIX iframe"
### Observed behavior

Navigating inside the PLIX `iframe` by keyboard, especially trying to catch the `Challenge me` button in focus is very frustrating and ultimately unsuccessful, as it never gains the visual focus indicator, and I was unable to even guess when to press Enter.

Outer scrollbar also seems unnecessary on both browsers.

#### Firefox

PLIX `iframe` does display focus visually, so

[2019-11-02 03:26] radinamatic opened #6016 "Individual questions in detailed quiz and lesson reports not accessible by keyboard"
### Observed behavior
Individual questions in detailed quiz and lesson reports are not accessible by keyboard for both coach and learner users. The only element that gets the focus after the `Back` button is the `Show correct answer` checkbox.

![quiz-lesson-report-focus](https://user-images.githubusercontent.com/1457929/67910140-d0909500-fb81-11e9-9770-2446562b1f7e.gif)

However, on the lesson pr

[2019-11-02 03:34] radinamatic commented on #5845
#5852 did not fix this, as user menu button still does not have a visual indicator on current `develop`. Reopening.

![user-menu](https://user-images.githubusercontent.com/1457929/67907784-670c8880-fb79-11e9-8244-b1ccf095728c.gif)

[2019-11-02 03:39] radinamatic commented on #6006
Cleaned up the comments and opened new issues. This then becomes only about the `Change language` not being focusable, and I changed the title accordingly, hope that is OK.

[2019-11-04 07:16] miyer03 commented on #5986
@indirectlylit This happened sometime back. Will try to reproduce and if it occurs will report it to you. The image issue have reduced significantly in 12.8 compared to 12.5

[2019-11-04 13:09] nucleogenesis commented on #5496
Resolved with merge of #5963

[2019-11-04 13:09] #5496 closed, assigned to nucleogenesis

[2019-11-04 13:10] nucleogenesis commented on #5925
Resolved with merge of #5970

[2019-11-04 13:10] #5925 closed, assigned to nucleogenesis

[2019-11-04 16:41] rtibbles commented on #6015
Should this be opened as an issue on the CK12 chef repo, rather than on Kolibri? Sounds like the issues are only with the PLIX elements here - unless there could be some general purpose accessibility scaffolding for HTML5 apps we can do in Kolibri?

[2019-11-04 20:05] KevinTripp commented on #6008
@indirectlylit This is blocking our rollout of Kolibri, even though we are working on a few workarounds.  What is the status of this issue?

[2019-11-04 22:19] kollivier commented on #6015
Yeah, this seems likely to be a CK12 content issue to me as well.

[2019-11-05 21:45] indirectlylit commented on #6008
Hi @KevinTripp –

Sorry, we haven't had a chance to triage this issue yet. I'll update where once we've investigated the scope of a mitigating change.

[2019-11-05 21:57] KevinTripp commented on #6008
@indirectlylit Thanks, I appreciate the update.

Is it possible to create classes and modify what students are part of a class via the api?

[2019-11-05 23:29] indirectlylit opened #6021 "app bars in content management flows should conform to audit"
### Observed behavior

App bars in the content management flows do not conform to the conventions established in the [0.12.y audit](https://docs.google.com/document/d/1C7Gj_eQ2FV8adJPpB4PTnd1oJUQxIhpBXbM1aufCWwM/edit#)

For example:

![image](https://user-images.githubusercontent.com/2367265/68254976-d7376600-ffe0-11e9-9126-78baca601eb5.png)

### Expected behavior

Consistent use of color, availab

[2019-11-05 23:45] indirectlylit opened #6022 "irregular layout of channel filter UI"
### Observed behavior

* inconsistent order on different breakpoints
* irregular text baselines on larger monitors

| Small | Large |
|--|--|
| ![image](https://user-images.githubusercontent.com/2367265/68255591-80cb2700-ffe2-11e9-823c-b842600bb3b3.png) | ![image](https://user-images.githubusercontent.com/2367265/68255557-685b0c80-ffe2-11e9-9be7-05ad7defaf16.png) |

### Expected behavior

* consis

[2019-11-06 00:40] indirectlylit opened #6023 "confusion about how to toggle between bulk and granular import modes"
### Observed behavior

The bulk and granular import modes are two states of the same page, but it's not easy to toggle between them. Clicking the <kbd>IMPORT MULTIPLE</kbd> button leaves you "stuck" in that mode.

The user is unlikely to see the ✕ turn into a ← in the app bar because they would be looking at the place on the screen they just clicked.

![import-multiple](https://user-images.githubu

[2019-11-06 00:57] khangmach commented on #6023
Yeah this isn't noticeable in the implementation. Will adjust accordingly by transferring over the secondary btn to the second view

[2019-11-06 01:07] jamalex commented on #1
Just a gentle nudge; it's been a couple years, and while we've seen progress on this, it's still not quite complete... Would be good to tick this box so we can move forward from there!

[2019-11-06 01:28] rtibbles commented on #6008
Hi @KevinTripp this is possible - I am seeing if we can do a workaround here within the scope of 0.12.9 to avoid having to interact with the API directly.

What is the approximate number of classes that is being displayed on this page, so I can ensure that I am testing against the appropriate scale? Also, do you have a sense of how many coaches are assigned to each classroom on average?

[2019-11-06 11:56] arky commented on #5355
@indirectlylit Is there any consensus on this feature request. We need this for our project in Cambodia. Thanks!

[2019-11-06 12:51] rtibbles commented on #6008
Just as a follow up here - I've done some investigating, and this would be too risky to properly fix within the scope of 0.12.9, but we can do a fix within 0.13.0 (currently targeted for early December).

[2019-11-06 13:36] indirectlylit commented on #5355
Hi @arky –

It's not a request we've heard from other users, so it hasn't been prioritized. However it seems like a fairly low-risk change; I'll check with folks to see what they think and report back.

[2019-11-06 13:42] arky commented on #5355
Thanks @indirectlylit

[2019-11-06 13:51] arky commented on #5355
Basically when someone goes to http://kolibri.library then they get redirected to http://kolibri.library/en/guestaccess/

At the moment, I achieve this by using nginx URL rewrites. Perhaps a checkbox could be introduced facility setup wizard and in settings that sets this URI rewrite kolibri core automatically.

[2019-11-06 13:59] KevinTripp commented on #6008
@indirectlylit @rtibbles Thank you for expediting a fix into 0.13.0! For posterity  we have around 15 classes in the system and 0-1 coach per class. We are trying to fit all 30+ classes we have into the system.

[2019-11-06 14:00] rtibbles commented on #6008
That is not a lot - thanks for the detail, it really should not bork on that few classes.

[2019-11-06 15:37] indirectlylit opened #6024 "options should be aligned with header, not back link"
### Observed behavior

In many places in the Coach tools, the 'options' button is associated with the 'back' link:

![image](https://user-images.githubusercontent.com/2367265/68312275-abab8e80-0067-11ea-8291-e4194591a5c6.png)

### Expected behavior

The 'options' button should be associated with the thing it operates on, named in the header:

![image](https://user-images.githubusercontent.com/2367

[2019-11-06 15:42] indirectlylit commented on #5909
behavior updated in https://github.com/learningequality/kolibri/pull/6018

[2019-11-06 15:42] #5909 closed, assigned to nobody

[2019-11-06 15:46] indirectlylit commented on #5801
@miyer03 I added the 'needs clarification' label: if we can find a way to reproduce these errors reliably it will make it possible for us to resolve the issue

[2019-11-06 15:50] indirectlylit opened #6025 "add release notification strings for 0.13.0"
### Observed behavior

Currently, we have notifications for 0.12.4:

https://github.com/learningequality/kolibri/blob/5b7b0e4e2ae8c5edc81869db4cb70036eb69aa05/kolibri/core/assets/src/views/UpdateNotification.vue#L97-L98

### Expected behavior

Update for 0.13.0

### User-facing consequences

translated update messages

### Context

0.13.0 alpha

[2019-11-06 15:54] indirectlylit commented on #5154
behavior updated in #6018

[2019-11-06 15:54] #5154 closed, assigned to nobody

[2019-11-06 15:55] indirectlylit commented on #5057
this work is done I believe!

@nucleogenesis correct me if I'm wrong

[2019-11-06 15:55] #5057 closed, assigned to nucleogenesis

[2019-11-06 15:57] #3451 closed

[2019-11-06 16:53] indirectlylit commented on #6008
@KevinTripp: @rtibbles has added a change to 0.12.9 which may help mitigate this. Beta 3 includes this change. Would you mind testing to see if it helps?  (assets should be built and posted within an hour)

https://github.com/learningequality/kolibri/releases/tag/v0.12.9-beta3

[2019-11-06 17:45] KevinTripp commented on #6008
@indirectlylit Cool, let me see if I can get some resources to install the beta version.  We haven't encountered this issue on our UAT instance, so it will take time for us to validate the fix.

[2019-11-06 20:10] indirectlylit opened #6029 "app bar linear loader appears below app bar"
### Observed behavior

Not sure how pervasive this is, but watch the linear loader on the app bar - it is below the app bar, over the page content:

![loader](https://user-images.githubusercontent.com/2367265/68333909-59319880-008e-11ea-9317-6608d0d2d8f2.gif)

### Expected behavior

loader is always attached to app bar

### User-facing consequences

minimal, but might look very broken if loading w

[2019-11-06 21:48] indirectlylit commented on #5753
This has been addressed by recent changes to the `kolibri-server` 502 error page:

* https://github.com/learningequality/kolibri-server/pull/35
* https://github.com/learningequality/kolibri-server/pull/36
* https://github.com/learningequality/kolibri-server/pull/40

and changes to startup behavior:

https://github.com/learningequality/kolibri/issues/5891

[2019-11-06 21:49] #5753 closed, assigned to nobody

[2019-11-06 21:50] indirectlylit commented on #5753
Note that the startup behavior will be available in Kolibri 0.12.9, but the new `kolibri-server` loading page will be in 0.13.0

[2019-11-06 21:57] indirectlylit commented on #5576
this is being addressed by ongoing work in 0.13.0

[2019-11-06 21:57] #5576 closed, assigned to nobody

[2019-11-06 21:58] indirectlylit commented on #5551
this is being addressed by ongoing work in 0.13.0

[2019-11-06 21:58] #5551 closed, assigned to nobody

[2019-11-06 22:00] indirectlylit commented on #5485
this is being addressed in ongoing 0.13.0 work

[2019-11-06 22:00] #5485 closed, assigned to nobody

[2019-11-06 22:02] indirectlylit commented on #4423
this is being addressed in ongoing 0.13.0 work

[2019-11-06 22:02] #4423 closed, assigned to nobody

[2019-11-06 22:04] indirectlylit commented on #4592
this is being addressed by ongoing changes in 0.13.0

[2019-11-06 22:04] #4592 closed, assigned to nobody

[2019-11-06 22:16] indirectlylit commented on #5268
this is being addressed in ongoing changes in 0.13.0

specifically:

* we allow people to see how much has changed in an update before committing to the upgrade
* we automatically initiate import of updated content, so that it doesn't vanish unexpectedly
* "garbage collection" of deleted content should behave reliably

[2019-11-06 22:16] #5268 closed, assigned to nobody

[2019-11-06 22:18] indirectlylit commented on #4082
This is being addressed in ongoing changes in 0.13.0.

Specifically:

* import and deletion now acts on only a single instance of a content item when duplicates exist
* we allow individual instances to be deleted

[2019-11-06 22:18] #4082 closed, assigned to nobody

[2019-11-06 22:19] indirectlylit commented on #3997
this is being addressed in ongoing changes to 0.13.0

[2019-11-06 22:19] #3997 closed, assigned to nobody

[2019-11-06 22:19] indirectlylit commented on #3269
this is being addressed in ongoing changes to 0.13.0

[2019-11-06 22:19] #3269 closed

[2019-11-06 22:24] aronasorman commented on #5672
to both GUI triggered downloads, and CLI downloads. Basically as an admin, I want to see how long a content import takes. I have access to kolibri's timestamped logs.

The easiest way to do this is to just add a `logging.info("DONE importing {channel}")` at the bottom of the `importcontent` command.

[2019-11-06 22:45] indirectlylit commented on #3494
this is being addressed in the ongoing work on 0.13.0

[2019-11-06 22:45] #3494 closed

[2019-11-06 23:02] #5633 closed, assigned to rtibbles

[2019-11-06 23:04] KevinTripp commented on #6008
The fix looks good on our uat instance.  We don't have a 1:1 user base for UAT and Prod so I'm not able to tell if it will resolve the issue.  We will likely push out the fix to Prod in the next few days depending on availability. I'll keep you posted on the resolution of the fix.

[2019-11-06 23:38] indirectlylit commented on #6008
thanks for the update

[2019-11-07 03:13] radinamatic opened #6031 "VF-IS Upgrade from 0.6.3 to 0.12.9b2 does not load the existing DB on Ubuntu 16.04"
### Observed behavior
Kolibri was run without issues as 0.6.3 PEX on Ubuntu, DB had 10 users who all had some interactions with content, 2 classes each with an exam tried by at least one learner.

![0 6 3-VF](https://user-images.githubusercontent.com/1457929/68356191-e79b2e00-0111-11ea-9879-5a8a1afff077.gif)

Installing the 0.12.9b2 from a DEB file was uneventful, but once re-loaded in the browser

[2019-11-07 03:14] radinamatic commented on #6031
cc @nucleogenesis @ralphiee22 @indirectlylit @rtibbles

[2019-11-07 03:39] radinamatic opened #6032 "VF-IS 0.12.9 installer missing the translated strings"
### Observed behavior
Portuguese strings are missing completely, and French and Swahili are not fully present.

![0 12 9 VF-PT-missing](https://user-images.githubusercontent.com/1457929/68358153-f1c02b00-0117-11ea-823f-4de2142c2d60.gif)

### Expected behavior
Fully translated UI in all the required languages.

### User-facing consequences
Inability to understand the platform in their language.

##

[2019-11-07 10:23] benjaoming commented on #3997
@indirectlylit I'm seeing a couple of issues closed with "this is being addressed in ongoing changes to 0.13.0"

Does it mean I should triage them according to the filed issues? Now? Or later?

Since they have the 0.13 milestone, they could be easy to dig up and triage once the PRs have landed?

Am always happy to give feedback according to issues I've opened :)

[2019-11-07 16:09] indirectlylit commented on #4549
this is being addressed in ongoing changes in 0.13.0

[2019-11-07 16:09] #4549 closed, assigned to rtibbles

[2019-11-07 16:45] indirectlylit commented on #3997
There are dozens of Kolibri issues and clearinghouse feedback notes that were taken into account during the design work leading up to the [0.13.0 content management upgrades](https://www.notion.so/learningequality/Kolibri-0-13-0-content-management-upgrades-81e2e3aeb38942aa930498c18c17a9d7) project. Because this is a very large change spread across many PRs, it did not seem feasible or worthwhile t

[2019-11-07 16:47] indirectlylit commented on #3997
FYI, here's a good overview of what's being tackled at a high level:

https://docs.google.com/drawings/d/1R-ACapv72bDEx_IptRD7EkVtrz4j4Zz-tk12dNVRTJY/edit

[2019-11-07 16:50] indirectlylit commented on #3494
Please feel free to open new follow-up issues after beta testing has begun.

Refs for 0.13.0 work:

* https://www.notion.so/learningequality/Kolibri-0-13-0-content-management-upgrades-81e2e3aeb38942aa930498c18c17a9d7
* https://docs.google.com/drawings/d/1R-ACapv72bDEx_IptRD7EkVtrz4j4Zz-tk12dNVRTJY/edit

[2019-11-07 18:00] indirectlylit opened #6033 "upgrade text boxes to new Material style"
### Observed behavior

We're currently using the old Material style of textboxes. In addition to having [proven UX issues](https://link.medium.com/hDuR66wnq1), it also leads to inconsistent vertical rhythm:

| ![image](https://user-images.githubusercontent.com/2367265/68414374-ec2d0a00-0144-11ea-9fd8-221f6785eaa6.png) |   ![image](https://user-images.githubusercontent.com/2367265/68414421-04048e00

[2019-11-07 21:35] bjester opened #6034 "Video transcript feature not able to detect adding of cues in Safari"
### Observed behavior

The interactive video transcript does not load initially in Safari. The transcript feature overrides the `addCue` method on `TextTrack`'s such that it can hook into the browser's native handling of text tracks and "listen" for when a cue has been parsed and added to the the track. Unfortunately, there isn't an event for this in the [spec](https://html.spec.whatwg.org/multipa

[2019-11-07 23:38] bjester opened #6035 "Video caption and language buttons do not have standard focus highlight"
### Observed behavior

Video.js defines styling that highlights an enabled menu/button in the control bar when it's focused. The new caption and caption language buttons accompanying the transcript feature are missing this highlight.

| *Control* | Volume control | Caption control | Caption language control |
| --- | --- | --- | --- |
| *Status* | Present | Missing | Missing |
| *Screenshot* | ![s

[2019-11-08 00:00] bjester opened #6036 "Multiple video control menus can overlap without clear distinction"
### Observed behavior

The default behavior of control button menus in Video.js allows for overlap of multiple menus. Since adding two new buttons and menus with the transcript feature, all side by side, the overlap of menus can be confusing. The menus can be activated by hover and click, with click bringing up the primary issue.
![screenshot-35 197 126 33-8080-2019 11 07-15-51-20](https://user-im

[2019-11-08 00:22] indirectlylit commented on #6035
I don't know about the technical complexity, but when tackling this, we should override the default video.js focus behaviors and instead using our standard default outline for all controls.

The current video.js behavior is fairly subtle and low-contrast:

![image](https://user-images.githubusercontent.com/2367265/68438964-eca0c180-0193-11ea-861f-79979022e9d0.png)

[2019-11-08 00:29] radinamatic commented on #6035
Completely in agreement with @indirectlylit here.
(_I remember adding more prominent focus ring styles to video.js we had in KA Lite 4 years ago when I started._)

Let's stick with our standard outline, which is already in your PR :slightly_smiling_face:

[2019-11-08 00:44] indirectlylit commented on #6036
Yes. Alternatively, this might be another argument for your strategy of disabling the 'hover-to-show' function altogether, and _only_ using clicks to hide/show

[2019-11-08 03:46] indirectlylit opened #6037 "handling of update notifications for installations with custom installers"
### Observed behavior

Installations with custom installers are currently treated the same as normal installations

### Expected behavior

We should not recommend normal upgrades for installations with custom installers

### User-facing consequences

confusion or accidental loss of functionality

### Context

0.12.x

[2019-11-08 04:37] radinamatic opened #6038 "Design making lesson visibility toggle inactive until coach adds at least one resource"
### Observed behavior

Noted during the [testing](https://github.com/learningequality/kolibri/pull/5996#issuecomment-551200148) of #5966:

![empty-lesson](https://user-images.githubusercontent.com/1457929/68415579-f70e8b80-0192-11ea-9ec8-956702b0b7ce.gif)

### Expected behavior
Lesson without resources should not be visible to learners.

### User-facing consequences
User confusion

### Errors and

[2019-11-08 10:10] benjaoming commented on #3997
Thanks for sharing @indirectlylit

Old-school bug trackers have several stages, rather than "Open" and "Closed". Wondering a bit how we can solve this for Github for 0.13 beta testing - am thinking that by being a bit creative, one way of using the interface would be to search for all "my tickets" tagged with the 0.13 milestone, as in:

"What issues have I opened that are assumed fixed in the 0.13

[2019-11-08 12:12] Divya-Sodha opened #6039 "Mathml content not rendered properly."
### Observed behavior

I am trying to upload content to Kolibri Studio which contains mathml data. In some places there is mathml content inside html image tag.  The images are of triangles, angles, etc. But, what I observed is that the images are properly rendered in Kolibri Studio. But they are not properly rendered in Kolibri. The images rendered in kolibri are not in line with the text. This c

[2019-11-08 17:47] KevinTripp commented on #6008
@indirectlylit Sadly, the fix didn't resolve the issue on production.  The same issue and symptoms above are still occurring.  The network page in google looks the same.

We haven't tried to upgrade from sqlite to postgres yet.

Version:           0.12.9b3
OS:                Linux-4.14.109-99.92.amzn2.x86_64-x86_64-with-glibc2.2.5
Installer:         whl
Server:            Kolibri internal server
D

[2019-11-08 18:54] rtibbles commented on #6008
Hrm, sorry to hear that @KevinTripp. Possible that it caused a speedup, but an insufficient one to prevent the network timeout.

[2019-11-09 16:54] indirectlylit commented on #6038
Updating this will require new strings and a bit of additional design.

Do we see this as critical for 0.13 or can it wait until the next release? My sense is that this is certainly nice to have, but doesn't affect core functionality or usability

@jtamiace @khangmach thoughts?

[2019-11-09 16:59] indirectlylit commented on #6039
Thank you for the report! Please remember to include precise steps to reproduce.

For example, you might publish a Studio channel with content that reproduces this and post the channel ID here.

[2019-11-09 17:06] indirectlylit commented on #6008
Okay – sounds like the full fix will have to wait until 0.13.0 after all

[2019-11-09 20:24] indirectlylit commented on #2371
refs:

* https://github.com/learningequality/kolibri/issues/5569
* https://github.com/learningequality/kolibri/pull/5205

[2019-11-09 22:16] indirectlylit opened #6041 "unhandled JobNotFound error on startup"
### Observed behavior

When starting up the devserver I got an unhandled error:

[code]

### Expected behavior

No unhandled errors

### User-facing consequences

Unknown

### Errors and logs

[code]

### Steps to reproduce

Unknown

### Context

0.13.0 alpha

[2019-11-09 23:37] indirectlylit opened #6043 "possible for tab focus to escape user dropdown menu with shift-tab"
### Observed behavior

* When tabbing forward through the user menu, tab focus cycles through and does not escape
* When tabbing backward using <kbd>shift</kbd>+<kbd>tab</kbd>, tab focus escapes

![tab](https://user-images.githubusercontent.com/2367265/68536373-cdcf3600-031f-11ea-899e-f8c6389c06ed.gif)

### Expected behavior

tab focus should not escape.

Specifically, when focus is on the "Profil

[2019-11-09 23:40] #5845 closed, assigned to bjester

[2019-11-09 23:40] #6006 closed, assigned to bjester

[2019-11-10 00:05] indirectlylit commented on #4927
Ref: https://www.notion.so/learningequality/new-setting-allow-other-computers-on-this-network-to-import-my-unlisted-channels-6420ebc83df1419f9d3a40fb4f13ffe1

Decisions:

new setting: allow other computers on this network to import my unlisted channels

[2019-11-10 15:44] indirectlylit opened #6044 "apply json.dumps to all javascript output strings"
### Observed behavior

we should avoid

[code]

### Expected behavior

we should always do

[code]

### User-facing consequences

There might be edge cases where the value of the string will create broken javascript. This can prevent the entire page from loading, as we saw in #5981

### Context

0.12.x

[2019-11-11 06:39] miyer03 commented on #6039
@indirectlylit shared the details with you

[2019-11-11 06:48] NELLIRAJESH commented on #3834
Thank you. It worked.

[2019-11-11 21:07] indirectlylit opened #6048 "bottom task bar is not responsive"
### Observed behavior

![image](https://user-images.githubusercontent.com/2367265/68621254-44457280-049d-11ea-81b6-281aefda8033.png)

### Expected behavior

bottom task bar should be responsive

### User-facing consequences

broken layout on small screens

### Context

0.13.0 alpha

[2019-11-12 01:29] radinamatic commented on #6031
For the record, Kolibri in this VM *is* loading the correct settings:

[code]

@ralphiee22 tried replicating the error in a Ubuntu 16.04 VM just by copying my `.kolibri` folder and installing the 0.12.9.b2 over it (without running the PEX as I did), and server would not start displaying the error `ImportError: No module named 'kolibri.plugins.management'`.

He managed to resolve the error by delet

[2019-11-12 07:14] miyer03 commented on #6039
@indirectlylit Please find the path for the sample channel. The symbols seems to be very non aligned in Kolibri.

# Path : Magogenie sample channel(patid-potif) --> BalBharathi --> Grade 7 - Properties of Triangles -- Warm Up -- Challenge set -- Question 4 ( in studio). In Kolibri you may have to answer a few questions to get it.

# Path : Magogenie sample channel(patid-potif) --> BalBharathi -->

[2019-11-12 14:30] indirectlylit commented on #6039
Great, thanks for the steps to reproduce!

[2019-11-12 17:45] radinamatic commented on #6031
I was unable to exactly replicate the outcome from @ralphiee22:

- when I just copy the `.kolibri` home folder and try to upgrade it to 0.12.9b2, I do get the `ImportError: No module named 'kolibri.plugins.management'` error and the server does not start. But even if I just delete the `kolibri_settings.json` and restart the service, I again get the Setup Wizard :confused:

  ![VF5](https://user-im

[2019-11-12 18:14] jtamiace commented on #6038
Maybe for a patch release? Doesn't seem absolutely critical imo

[2019-11-12 20:03] indirectlylit commented on #6038
it will have to wait until the next major release due to new strings, but that sounds fine to me

[2019-11-12 21:44] benjaoming commented on #6031
@radinamatic can you do `cat /etc/kolibri/username` and tell me the output? That's the username which the Debian system service will run under. In the home folder of that user is where you find the `.kolibri`.

[2019-11-12 22:22] radinamatic commented on #6031
@benjaoming
On the above Ubuntu 16.04 user who owns the service is `osboxes`, as specified during the DEB install, and is it in that same user's home folder where the `.kolibri` folder created on 0.6.3 was copied.

![Ubuntu16 04 (0 12 9b2 over  kolibri from 0 6 3 without PEX)  Running  - Oracle VM VirtualBox_185](https://user-images.githubusercontent.com/1457929/68715325-07af6f00-05a2-11ea-8112-c3

[2019-11-12 22:36] benjaoming commented on #6031
We haven't changed the default database location and filename since back then:

https://github.com/learningequality/kolibri/blob/35399a826a9e22069415644bce3c9e1ccd91c3d7/kolibri/deployment/default/settings/base.py#L118-L126

I can see that you used to run with a custom database name/location ? Do you know anything about how that .pex loaded that setting?

Otherwise, do this before installing the .

[2019-11-13 15:36] KevinTripp commented on #6008
@indirectlylit Got it, I appreciate the help so far on the issue!

[2019-11-14 13:30] #2371 closed

[2019-11-14 13:30] #5569 closed, assigned to indirectlylit

[2019-11-14 13:30] #6003 closed, assigned to nobody

[2019-11-14 14:51] indirectlylit opened #6057 "update privacy info pages"
### Observed behavior

follow-up from https://github.com/learningequality/kolibri/pull/6053

privacy info modal still needs to be updated: https://github.com/learningequality/kolibri/blob/develop/kolibri/core/assets/src/views/PrivacyInfoModal.vue

### Expected behavior

privacy modal should describe data collection practices in full

### User-facing consequences

incomplete information about data

[2019-11-14 15:04] indirectlylit opened #6058 "avoid importing modules across plugin boundaries"
### Observed behavior

Importing `device` files from the `coach` plugin:

https://github.com/learningequality/kolibri/blob/ac9120de79efa0413c1912b42d12e3ae6d07fc13/kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue#L81-L84

### Expected behavior

Plugins should not reference each others' code, because they are intended to be able to be built individually.

Two al

[2019-11-14 16:32] indirectlylit opened #6059 "unhandled zeroconf-related errors when shutting down kolibri"
# Observed behavior

Got an unhandled error when shutting down kolibri:

[code]

### Expected behavior

No unhandled errors

### User-facing consequences

unknown

### Errors and logs

[code]

### Steps to reproduce

Saw this after ctrl+c of the devserver

### Context

* devserver from source
* mac
* zeroconf branch: https://github.com/learningequality/kolibri/pull/6011

[2019-11-14 17:17] bjester commented on #6016
@radinamatic The most appropriate and quickest win here would be to make this operate similar to a `listbox`, so arrow keys would be used to navigate the question list and tab would move from the list to the "Show correct answer" checkbox. What do you think?

The other option I'm considering is refactoring this to be more like a `tabpanel`. I think that could make sense as clicking a question chan

[2019-11-14 17:43] radinamatic commented on #6016
Thanks for investigating this, I was hoping that given that in the preview the questions are navigable by keyboard, there was a faster way to get that functionality back in the working exercise too.

I agree that the `tabpanel` looks like a more complete pattern, but I think we can do with the `listbox` basic navigability for the time being, to get this working for 0.13.

We'll reevaluate later wi

[2019-11-14 18:13] jredrejo commented on #6031
@benjaoming I can confirm it's a bug in the Debian packaging, not in Kolibri. Removing the line `export DJANGO_SETTINGS_MODULE` in `/etc/default/kolibri` before starting the service for the first time solves it.
We need to re-evaluate how needed those `export` lines are and, if they are needed, how to do a right upgrade for their values in the package `postinst`.
@indirectlylit please, move this i

[2019-11-14 20:22] indirectlylit commented on #6016
agreed with both. Mind opening a follow-up issue on the `tabpanel` suggestion, and this issue can be closed with the `listbox` strategy?

[2019-11-14 21:07] #6013 closed, assigned to bjester

[2019-11-14 21:31] indirectlylit commented on #6059
more scary-looking errors:

[code]

[2019-11-14 21:34] #5981 closed, assigned to indirectlylit

[2019-11-14 21:45] bjester opened #6061 "Use more appropriate ARIA roles in exercise preview"
### Observed behavior

To fix [this issue](https://github.com/learningequality/kolibri/issues/6016) we gave the list of questions the role of a `listbox` that defines keyboard navigation interactions. Activating a question shows the question and answer to the right of the list. Although, the display of the question content isn't related to each question in the list via ARIA specifications.
https:/

[2019-11-14 23:47] indirectlylit opened #6063 "use io.open instead of open"
follow-up to https://github.com/learningequality/kolibri/pull/6052#discussion_r346345491

[2019-11-15 05:16] cpauya opened #6064 "Update Gherkin stories for upgrade of Vodafone - Instant Schools from v0.6.3"
### Observed behavior
Found out that we need to update one or more Gherkin scenario/s during integration testing of upgrade from Kolibri v0.6.3 to v0.12.9b2 for Vodafone - Instant Schools under Ubuntu 16.04:

**Super admin change profile information**

1. no `username` field - https://github.com/learningequality/kolibri/blob/v0.12.6-beta1/integration_testing/features/super-admin/super-admin-change

[2019-11-15 12:25] cpauya opened #6066 "Filter users by role hides the other users in the smaller list."
### Observed behavior

The list of users are not shown when filtering users by role from the last page.

See attached .gif
![kolibri--v0 12 9b2--filter users by user type](https://user-images.githubusercontent.com/175580/68942674-213ff900-07e4-11ea-85d7-c451f66282d4.gif)

This was observed when doing this Gherkin scenario: https://github.com/learningequality/kolibri/blob/v0.12.6-beta1/integration_

[2019-11-15 15:09] indirectlylit opened #6067 "tracking of content resource visibility in exported channels"
# Observed behavior

In the current work on 0.13.0 content management, we're beginning to treat duplicate resources
individually, so that the user can import or delete them separately. See for example:

* https://github.com/learningequality/kolibri/issues/4082
* https://github.com/learningequality/kolibri/issues/4549

This new 'visibility' tracking information is stored in the Kolibri database, bu

[2019-11-15 15:09] indirectlylit commented on #6067
cc @rtibbles made this a P2 nice-to-have for 0.13.0

[2019-11-15 16:20] indirectlylit opened #6068 "usability issues related to accessing the task manager"
### Observed behavior

**Mulitple primary buttons and bottom bar on main page**

In the current implementation, the primary landing page for resource management has both a primary <kbd>Import</kbd> button and a primary <kbd>View tasks</kbd> button.

![image](https://user-images.githubusercontent.com/2367265/68957831-d947b480-0798-11ea-9d95-3c10b1bbcab9.png)

According to [our conventions](http://k

[2019-11-15 16:37] indirectlylit opened #6069 "coach resource tooltip obscures current row"
### Observed behavior

hovering over the coach content tooltip obscures all text on that row:

![tooltip](https://user-images.githubusercontent.com/2367265/68959466-1792a300-079c-11ea-881e-0bc0345fcf5b.gif)

### Expected behavior

tooltip should be positioned to the right of the icon to avoid obscuring text

### User-facing consequences

frustrating experience when important contextual information

[2019-11-15 16:54] indirectlylit opened #6070 "channel listing generation appears in task manager"
### Observed behavior

Generating channel listing appears in the task manager

![image](https://user-images.githubusercontent.com/2367265/68960323-f763e380-079d-11ea-9a5f-11089a5a6760.png)

### Expected behavior

* Channel listing generation should not be shown in the task manager
* Channel listing generation should be fast enough that the user will not be inclined to leave the page and track it a

[2019-11-15 18:44] indirectlylit opened #6072 "use standard CoreTable and enter/leave transitions for task manager"
### Observed behavior

current table view is slightly non-standard:

![image](https://user-images.githubusercontent.com/2367265/68966779-e8386200-07ac-11ea-9fc0-3ec30f657d48.png)

### Expected behavior

* Standard `CoreTable` behavior with row-dividers, right button alignment, and secondary button style
* `transition-group` enter/leave transitions

### User-facing consequences

inconsistent UI

##

[2019-11-15 22:35] indirectlylit commented on #4701
fixed in #6050

[2019-11-15 22:35] #4701 closed, assigned to indirectlylit

[2019-11-15 22:35] indirectlylit commented on #6057
fixed in #6050

[2019-11-15 22:35] #6057 closed, assigned to nobody

[2019-11-15 22:35] indirectlylit commented on #6025
fixed in #6050

[2019-11-15 22:35] #6025 closed, assigned to indirectlylit

[2019-11-16 14:38] rtibbles commented on #6059
I note that the shutdown listeners are getting registered in `cli.main` - so these could be triggered by someone running a Kolibri CLI command. These shutdown listeners should only be registered in `run_services` in `server.py` - not sure if this is the cause of the above, but might reduce the risk!

[2019-11-16 15:28] rtibbles commented on #2833
I think this should now be fixed - @jonboiser can you confirm that this is the case? (we are refreshing the channel list on completion, failure or cancellation).

[2019-11-16 15:35] rtibbles commented on #5343
Unable to replicate this specific issue on current develop. @jredrejo could you confirm?

[2019-11-16 15:50] rtibbles commented on #5736
Fixed in #5957

[2019-11-16 15:50] #5736 closed, assigned to nobody

[2019-11-16 15:52] rtibbles commented on #2510
I think this is closed by #5957 and work leading up to it.

[2019-11-16 15:52] #2510 closed

[2019-11-16 15:59] rtibbles commented on #5759
@nucleogenesis did you implement this fix?

[2019-11-16 16:02] benjaoming commented on #4560
This is a limitation in .pex and I'm struggling to remember how and when we talked about it. It came up recently, and I think it was in relation to the C extensions and how they are bundled, how many platforms to support etc.

@lyw07 would you have inputs on this?

@indirectlylit Can you recall if this is limited to the case of using external plugins for .pex files?

[2019-11-16 19:13] indirectlylit commented on #4560
This was resolved during investigation of using the Sentry SDK in https://github.com/learningequality/kolibri/pull/5773

The key here was to set the environment variable `PEX_INHERIT_PATH=1`: https://pex.readthedocs.io/en/stable/api/index.html#pex.variables.Variables.PEX_INHERIT_PATH

This lets the pex inherit the Python path of the active Python environment.

[2019-11-16 19:13] #4560 closed, assigned to nobody

[2019-11-16 19:19] jredrejo commented on #5343
@rtibbles I have just replicated it in a fresh clean develop build:
1. `KOLIBRI_HOME=/tmp/kk1 kolibri start --foreground` to start a  new kolibri home instance
2. After finishing the first run wizard, went to channels, open Chrome Dev tools and click on the button "Select Resources" to begin to import the channel `TESSA - Teacher Resources` (first one in my list)
3. As usual, the 404 error with ht

[2019-11-16 19:23] indirectlylit commented on #6023
this has been addressed

[2019-11-16 19:23] #6023 closed, assigned to jonboiser, khangmach

[2019-11-16 20:05] rtibbles commented on #5343
Hrm - isn't this intended behaviour? The `404` is what is telling us that we need to initiate the channel import task.

[2019-11-16 20:49] jredrejo commented on #5343
I don't know. Previously importing didn't work after this error. Now it does.

If this is the mechanism used to trigger importing, perfect.
My only concern is that a 404 uses to trigger the attention and is interpreted as an error. It happened to me and I have seen it reported by some tech users too.

[2019-11-16 20:50] indirectlylit opened #6077 "zeroconf: 'NoneType' object has no attribute 'address'"
### Observed behavior

unhandled error while starting up

### Expected behavior

no unhandled errors

### User-facing consequences

unknown

### Errors and logs

[code]

### Steps to reproduce

ran a pex from the latest `develop`

### Context

0.12.0 alpha 0

[2019-11-16 20:51] indirectlylit commented on #6059
another one here: https://github.com/learningequality/kolibri/issues/6077

[2019-11-16 22:34] #5965 closed, assigned to indirectlylit

[2019-11-16 22:40] indirectlylit commented on #5343
A similar thing happens on password-less sign-in: we use a 400 as part of normal server/client communication to indicate the need for a password, but this is reported back in the console as an error.

On one hand, it is technically fine to use HTTP response codes as part of normal application logic. On the other hand, having these in the client logs risks causing devs to ignore real errors, becaus

[2019-11-17 04:58] rtibbles commented on #5343
We could reduce the occurrence of 404s in this instance, as frequently we have the data about which channels are actually already imported into the DB in vuex state - it just wouldn't be there if you had refreshed onto this page.

[2019-11-17 16:39] indirectlylit opened #6078 "app bar text is allowed to wrap"
### Observed behavior

When app bar text is long, it is allowed to wrap:

![image](https://user-images.githubusercontent.com/2367265/69010487-4a6ca080-092e-11ea-8793-bf74f92079e7.png)

### Expected behavior

Text should always be on a single line, and get elided:

![image](https://user-images.githubusercontent.com/2367265/69010506-843da700-092e-11ea-8a98-9b8c134f8b37.png)

We might also decide to

[2019-11-17 17:18] indirectlylit opened #6079 "channel 'options' does not include 'export'"
### Observed behavior

The options for a channel does not include 'export':

![image](https://user-images.githubusercontent.com/2367265/69011021-f6fd5100-0933-11ea-897c-761cdf4689ff.png)

### Expected behavior

Option to export under 'options' menu

### User-facing consequences

Need to discover one of two less-obvious alternatives:

1. Select a single channel from bulk export mode under 'options'

[2019-11-17 17:18] rtibbles opened #6080 "zeroconf: Crashes when starting devserver"
### Observed behavior
Tried to run devserver.
[code]

### Expected behavior
Devserver should run :)

[2019-11-17 17:28] indirectlylit opened #6082 "channel order drag-drop styling issues"
### Observed behavior

styling during drag/drop interaction:

![order](https://user-images.githubusercontent.com/2367265/69011150-64f64800-0935-11ea-88a8-3096a5f7df3e.gif)

### Expected behavior

1. channel being dragged should always appear in front of other channels
2. hover styling (grey background) should be disabled while dragging

### User-facing consequences

styling idiosyncrasies

### Con

[2019-11-17 17:40] indirectlylit opened #6083 "Center-alignment of content in bottom bar"
### Observed behavior

According to our conventions, buttons should always be [left- or right-aligned](http://kolibribeta.learningequality.org/design/components/buttons#placement).

![image](https://user-images.githubusercontent.com/2367265/68959984-347ba600-079d-11ea-950b-40fbcd4c7a36.png)

### Expected behavior

* right-aligned button, similar to standard modals
* text could be either right or l

[2019-11-17 18:07] indirectlylit opened #6084 "snackbar occludes the bottom bar"
### Observed behavior

Snackbar occludes the bottom bar

![image](https://user-images.githubusercontent.com/2367265/69011558-e059f880-0939-11ea-9919-5d783951a4a5.png)

### Expected behavior

Snackbar should only be shown over content that is scrollable. When a bottom bar is visible, the snackbar should be vertically raised above the bottom bar

### User-facing consequences

some content is not vis

[2019-11-18 06:32] rtibbles commented on #6080
Sorry, it seems that things still run as expected, it's just the zero conf service has crashed in the background - have updated the title.

[2019-11-18 10:09] benjaoming commented on #4560
yes thanks @indirectlylit - that's EXACTLY what I didn't manage to remember - just a strong feeling that we had this fixed already :)

[2019-11-18 13:58] indirectlylit commented on #4560
not so much fixed as finally read the documentation :)

[2019-11-18 14:56] benjaoming commented on #4560
me reading a documentation when I can't remember it :godmode:

[2019-11-18 17:35] benjaoming opened #6086 "New Github issue templates"
### Observed behavior

Note: This is about a new feature that Github has launched for differentiated issue templates - not about our current single issue template

Issue reports can have fewer oddly deleted fields and perhaps better and more concise inputs. Not least, already active developers may bother with fewer irrelevant headlines that are semi-skipped, perhaps setting a bad example.

I'm hop

[2019-11-18 18:17] rtibbles commented on #6080
The above error was on Python2, the error below is from Python 3:
[code]

[2019-11-18 19:26] khangmach commented on #6068
RE: Getting 'stuck' in import screen

forcing the user to be be redirected to a task modal for every task initiated seems incredibly annoying to encounter for granular selections. I would strongly prefer to be neutral and leave it to the user to choose whether or not they want to view their tasks or keep on selecting content/channels (I've taken drive's approach for this design).

For making the t

[2019-11-18 20:16] jonboiser commented on #6079
This was removed for this version. If you want to export a channel, you can either 1) go to 'Manage', select some contents and then selectively/granularly export. Or 2) go to the top "Options" dropdown and select "Export channels" to export an entire channel.

[2019-11-18 20:45] benjaoming commented on #6086
Closing this, as I gather from @indirectlylit that there isn't evidence that the current issue template causes _issues_ :)

[2019-11-18 20:45] #6086 closed, assigned to nobody

[2019-11-18 21:48] indirectlylit commented on #6086
for posterity:

I imagine this could be a useful addition in the future, but I haven't experienced a need for it so far.

What would help with some pain points though would be something like vue.js does, so that contributors don't need to understand how Markdown or Github work in detail:

https://github.com/vuejs/vue/issues/new

[2019-11-18 21:57] indirectlylit commented on #6079
JB mentioned that

which would also mean that we can replace the two-click <kbd>Options</kbd> menu with a one-click <kbd>Manage</kbd> button.

@khangmach thoughts on either of these?

1. Add 'Export' to 'Options' menu
2. Replace 'Options' menu with just a 'Manage' button

[2019-11-18 22:03] #6016 closed, assigned to bjester

[2019-11-18 22:06] indirectlylit commented on #6064
removing from 0.12.9 release so it's not a blocker

[2019-11-18 22:39] khangmach commented on #6072
Row divides and the secondary button styles should be reflected in figma

[2019-11-19 00:20] khangmach commented on #6079
Having export inside of the management page was an intentional design choice established in very early design review discussions where we were on board with the decision. Some more notes regarding the export dropdown option:

- RE: manage functionalities, we wanted users to see and make first selections and decide whether to follow through with a deletion or export action. This is intentionally th

[2019-11-19 00:29] micahscopes commented on #6059
Unfortunately the first message is logged by the zeroconf library, which is doing an `except Exception as e: ...`, and then logging the message :grimacing:.  The question I still have is just how critical it is.  I think it means the zeroconf service has already been unregistered, but I'm not sure why it's attempting to unregister twice.  Maybe because there are two listeners for the cleanup funct

[2019-11-19 01:29] jonboiser commented on #5979
This should be fixed in develop for both Modals and Snackbars

[2019-11-19 01:29] #5979 closed, assigned to jonboiser

[2019-11-19 13:10] indirectlylit opened #6091 "unhandled JobNotFound error on startup"
### Observed behavior

Unhandled error during startup

### Expected behavior

no unhandled errors

### User-facing consequences

unknown - server seemed to start

### Errors and logs

[code]

### Steps to reproduce

…

### Context

…

[2019-11-19 13:11] #6080 closed, assigned to micahscopes

[2019-11-19 13:25] #5639 closed, assigned to rtibbles

[2019-11-19 13:39] indirectlylit opened #6092 "cleanup of unused code"
### Observed behavior

follow-up from https://github.com/learningequality/kolibri/pull/6075

### Expected behavior

@jonboiser said:

### User-facing consequences

none - code cleanup

### Context

0.13.0 alpha 3

[2019-11-19 13:41] indirectlylit commented on #6091
duplicate of https://github.com/learningequality/kolibri/issues/6041

[2019-11-19 13:41] #6091 closed, assigned to nobody

[2019-11-19 13:43] #5672 closed, assigned to rtibbles

[2019-11-19 13:43] #6041 closed, assigned to rtibbles

[2019-11-19 13:43] #5537 closed, assigned to rtibbles

[2019-11-19 13:43] #6070 closed, assigned to rtibbles

[2019-11-19 14:03] indirectlylit opened #6093 "error: portal is not a recognized basename of an API endpoint on the server"
### Observed behavior

JS error when loading facility page:

![image](https://user-images.githubusercontent.com/2367265/69152885-3b5f2d00-0aab-11ea-8b8d-d940fa2388e0.png)

### Expected behavior

no errors

### User-facing consequences

unknown

### Errors and logs

[code]

### Steps to reproduce

load 'facility' app

### Context

0.13.0 alpha 3

[2019-11-19 14:09] indirectlylit opened #6094 "minor spacing issue in channel order editing"
### Observed behavior

text and drag handles are not vertically-centered within single-line blocks:

![image](https://user-images.githubusercontent.com/2367265/69153313-fd163d80-0aab-11ea-800d-93ce6b61b5c3.png)

interestingly though, it looks good for multi-line blocks:

![image](https://user-images.githubusercontent.com/2367265/69153375-20d98380-0aac-11ea-95af-9fe73a99e7e1.png)

### Expected beha

[2019-11-19 14:18] indirectlylit commented on #6082
minor follow-up issue: https://github.com/learningequality/kolibri/issues/6094

[2019-11-19 15:14] #6022 closed, assigned to jonboiser, khangmach

[2019-11-19 15:14] #6082 closed, assigned to jonboiser

[2019-11-19 15:14] #6083 closed, assigned to jonboiser

[2019-11-19 15:14] #6084 closed, assigned to jonboiser

[2019-11-19 15:33] indirectlylit commented on #6072
flat button style is still primary:

![image](https://user-images.githubusercontent.com/2367265/69160726-0c9b8380-0ab8-11ea-9406-ff6f7256cf7c.png)

[2019-11-19 16:50] indirectlylit opened #6096 "import is broken"
### Observed behavior

trying to import doesn't work:

![import](https://user-images.githubusercontent.com/2367265/69167242-a0724d00-0ac2-11ea-9a37-a21040f7f812.gif)

### Expected behavior

import should work

### User-facing consequences

cannot import

### Errors and logs

none observed

### Steps to reproduce

unsure. it happened during all imports, but then I cleared my `KOLIBRI_HOME` folder a

[2019-11-19 17:11] indirectlylit commented on #6079
I think there might still be some confusion here - we're not quite on the same page. That said this is not a major issue so I'll lower the priority.

[2019-11-19 17:45] indirectlylit commented on #6096
I tried clearing my entire DB and content, and things started working again.

[2019-11-19 18:30] jonboiser commented on #6096
This is a new class of bug to me. The task seems to finish immediately, but doesn't transfer any files.

Other things I've seen

1. Task starts but never goes from Queued to Running
1. Task goes to Running, but stays at 0% indefinitely

[2019-11-19 19:16] radinamatic commented on #6096
That's exactly what was happening on #6049, see my [comment](https://github.com/learningequality/kolibri/pull/6049#issuecomment-555021591). @rtibbles said he had an inkling what was the issue, but is in the air atm probably...

[2019-11-19 21:39] indirectlylit opened #6098 "in-progress task missing resource count and size on disk"
### Observed behavior

In-progress task does not show resource count or size on disk:

![image](https://user-images.githubusercontent.com/2367265/69188628-e216ee00-0aea-11ea-92aa-2052da1d5293.png)

### Expected behavior

resource count and size on disk shown for in-progress tasks

### User-facing consequences

unable to ascertain the speed of a transfer with only a percentage

### Context

0.13.0

[2019-11-19 21:41] indirectlylit opened #6099 "'generate channel listing' has buttons"
### Observed behavior

There are buttons shown for 'cancel' and 'close' during and after generation of channel listing:

![image](https://user-images.githubusercontent.com/2367265/69188852-4c2f9300-0aeb-11ea-993a-2c2261d0096c.png)

### Expected behavior

generating channel listing probably shouldn't have control actions exposed to the user

### User-facing consequences

might accidentally stop it

[2019-11-19 21:44] jonboiser commented on #6098
Which type of import is this? I think file sizes are missing for all USB imports until we fix the importability annotation for USB drives. I noticed that sometimes the metadata will be missing for some Studio import tasks.

[2019-11-19 21:44] indirectlylit commented on #6098
this was from Studio

[2019-11-19 21:49] radinamatic commented on #6099
This makes sense to me :heavy_plus_sign: :one:

[2019-11-19 21:50] indirectlylit opened #6100 "partially-completed transfers do not show how much succeeded"
### Observed behavior

After canceling a transfer, metadata does not give any indication that some of the content was successfully imported and is now on the device:

![completion-after-cancel](https://user-images.githubusercontent.com/2367265/69189446-6158f180-0aec-11ea-9fdb-58f1c783c36e.gif)

### Expected behavior

metadata should indicate how much content was successfully imported before the tr

[2019-11-19 21:55] jonboiser commented on #6099
These controls were shown through version 0.12, but should be able to remove the cancel buttons if we intend for the "Generate listing" type Task to be completely hidden from users (e.g. #6070).

We can even remove the code that silently cancels the task when the user leaves the page, and let the download finish behind the scenes.  It's not an issue if the download continues since Tasks would not

[2019-11-19 22:36] rtibbles commented on #6096
Yes, this was not a performance improvement, but rather a bug induced by including the importability annotation in the content import task that I had not yet resolved on the above PR, will fix ASAP.

[2019-11-19 22:36] indirectlylit commented on #6099
that sounds great, especially if it means that when they come back maybe it will have finished.

The main thing to watch out for is not to retrigger a _second_ listing generation task

[2019-11-19 22:37] indirectlylit commented on #6096
sorry for merging the PR before it was ready!

[2019-11-19 22:42] rtibbles commented on #6098
I am still confused why the metadata may be missing sometimes, the only reasons I can imagine it being missing is if the task is not found when the task list is serialized back to the frontend, or we are sending empty metadata from the frontend.

If we want to make the behaviour completely consistent, it would probably be best to annotate this metadata on the task in the backend - this information

[2019-11-20 04:47] miyer03 commented on #5801
@indirectlylit there is no known way to reproduce these errors. But these do occur randomly. Whenever it occurred, we tried to take the screen shot of the error message if it could give any clue.

[2019-11-20 20:35] #5968 closed, assigned to ralphiee22

[2019-11-20 20:36] indirectlylit commented on #4194
addressed in ongoing 0.13 content management work

[2019-11-20 20:36] #4194 closed, assigned to rtibbles

[2019-11-20 21:28] #6078 closed, assigned to jonboiser

[2019-11-20 21:28] #6092 closed, assigned to jonboiser

[2019-11-20 21:28] #6094 closed, assigned to jonboiser

[2019-11-21 16:45] indirectlylit opened #6106 "clarify privacy information wording"
### Observed behavior

@carinediaz found this string to be confusingly written and said that it will cause issues for translators -  https://crowdin.com/translate/kolibri/3306/en-ptbr#228656

string audit doc: https://docs.google.com/document/d/1i1A4V3exoPyTwnBI4nx83IQidnl_OukirpLDmyVLPnA/edit#

### Expected behavior

more clear wording

### User-facing consequences

confusing privacy policy

###

[2019-11-21 16:46] indirectlylit opened #6107 "privacy info is has confusing phrasing"
### Observed behavior

@carinediaz found this string to be confusingly written and said that it will cause issues for translators -  https://crowdin.com/translate/kolibri/3306/en-ptbr#228656

string audit doc: https://docs.google.com/document/d/1i1A4V3exoPyTwnBI4nx83IQidnl_OukirpLDmyVLPnA/edit#

### Expected behavior

more clear wording

possibly:

### User-facing consequences

confusing privacy i

[2019-11-21 16:51] indirectlylit opened #6108 "license description has confusing wording"
### Observed behavior

reported by @carinediaz that this string has confusing wording and will be difficult for translators: https://crowdin.com/translate/kolibri/3306/en-ptbr#234420

Specifically, the phrase "would benefit from" is confusing, and 'resource' should be 'resources'

### Expected behavior

alternate phrasing:

### User-facing consequences

Unclear wording.

However, this string is no

[2019-11-21 16:59] rtibbles commented on #3659
I think this has now been resolved by #5426 and subsequent work.

[2019-11-21 16:59] #3659 closed

[2019-11-21 17:02] rtibbles commented on #2021
This has been addressed by updating buble.

[2019-11-21 17:02] #2021 closed

[2019-11-21 17:03] rtibbles commented on #3981
This should be addressed in 0.13.0.

[2019-11-21 17:03] #3981 closed, assigned to nobody

[2019-11-21 17:08] rtibbles commented on #4463
Not entirely sure why there should be a differential between the learn and device displays here - the only thing I can think of is that it prevented regeneration of the content cache key.

[2019-11-21 17:10] rtibbles commented on #4948
This should be addressed by the channel upgrade work that is happening for 0.13.0.

[2019-11-21 17:12] indirectlylit opened #6109 "make i18n-update is writing perseus files to the kolibri repo"
### Observed behavior

`make i18n-update` writes perseus files to the kolibri repo

### Expected behavior

perseus files should be written only to perseus repo

### User-facing consequences

we won't be able to update perseus translation strings with current behavior

### Steps to reproduce

* install perseus for development
* in the perseus repo, run `yarn run makemessages`
* in the kolibri repo,

[2019-11-21 17:14] indirectlylit opened #6110 "discrepancy between string in source and crowdin variables"
### Observed behavior

Crowdin and the source code may be out of sync on a few strings

Ref: https://github.com/learningequality/kolibri/pull/6111/files#diff-85b8dc952a3af3b9572437374d3e5278 in NewChannelVersionPage.vue:

![image](https://user-images.githubusercontent.com/2367265/69565903-bb353d80-0f6a-11ea-95d6-88048ec919c2.png)

![image](https://user-images.githubusercontent.com/2367265/69565914

[2019-11-21 17:14] rtibbles commented on #4927
Are we planning on adding the token behaviour on the peer import also for 0.13.0 or just giving the option to hide unlisted channels?

[2019-11-21 17:16] rtibbles commented on #5988
Is this still happening?

[2019-11-21 17:19] rtibbles commented on #6100
Can handle this in the same way as #6098 by updating the task metadata after cancellation.

[2019-11-21 17:52] indirectlylit opened #6112 "learner progress not propagated all the way up topic tree"
### Observed behavior

child topic:

![image](https://user-images.githubusercontent.com/2367265/69362951-5fa24180-0c44-11ea-9aff-cb3fdfb9640b.png)

parent topic:

![image](https://user-images.githubusercontent.com/2367265/69362963-6630b900-0c44-11ea-84b1-817fe5a8e64e.png)

### Expected behavior

progress is propagated all the way to the root

### User-facing consequences

missing waypoints on find

[2019-11-21 17:52] rtibbles commented on #6112
Does this persist if you refresh?

[2019-11-21 17:52] indirectlylit commented on #6112
yes

[2019-11-21 17:53] rtibbles commented on #6112
Curious.

[2019-11-21 17:53] #6008 closed, assigned to rtibbles

[2019-11-21 17:56] rtibbles commented on #6008
@KevinTripp note that this was autoclosed because of a reference in the above pull request - we are happy to reopen if the issue persists!

[2019-11-21 18:05] #6096 closed, assigned to rtibbles

[2019-11-21 18:24] micahscopes commented on #6059
I guess those scary looking errors really did live up to their scariness.  Should be fixed here: https://github.com/learningequality/kolibri/pull/6113

[2019-11-21 18:43] KevinTripp commented on #6008
@rtibbles @indirectlylit Thanks for the heads up.  To make sure I can communicate back the status of this with the rest of my team I want to check a few things.  Outside of the hotfix, was another change made?  If so, how was the other change different than what was done in the hotfix?  Are you still slated to release 0.13.0 early in December?

I really appreciate the help on this! We are excited

[2019-11-21 18:47] rtibbles commented on #6008
Yes, another change was made in 0.13.0 (as opposed to the hotfix that was released with 0.12.9).

It is possible to create classes via the API - but we don't currently have token based auth, so it's a bit tricky, as you have to set a session and CSRF cookie on the requests you are making.

You can do it from the browsable API from the browser though too at: `/api/auth/classroom`

[2019-11-21 19:43] indirectlylit commented on #6100
do we in fact need new strings for this?

[2019-11-21 19:44] rtibbles commented on #6100
Could do it without by just changing the numbers - do we use different strings for when the job is finished versus in progress?

[2019-11-21 20:25] jonboiser commented on #6100
When a task is completed/canceled, we don't show a progress bar. We can both keep the progress bar when the task is canceled (so we have a stopped progress bar at e.g. 75%) and cobble together some copy from the existing strings to display the completed # resources/filesize

[2019-11-21 20:48] #6059 closed, assigned to micahscopes

[2019-11-21 23:17] rtibbles commented on #4463
Fully imported channels can't be made 'visible' still.

[2019-11-22 01:08] indirectlylit opened #6116 "windows installer not working"
Kolibri-side tracking issue for:

https://github.com/learningequality/kolibri-installer-windows/issues/143

[2019-11-22 05:57] indirectlylit commented on #6100
chatted with @jonboiser and @khangmach. @rtibbles will it be possible to use these strings?

For ongoing transfers and failures/cancelations:

[code]

For successes:

[code]

[2019-11-22 06:03] indirectlylit commented on #6106
dupe - https://github.com/learningequality/kolibri/issues/6107

[2019-11-22 06:03] #6106 closed, assigned to nobody

[2019-11-22 06:33] indirectlylit commented on #4927
For 0.13, I think only unlisted channel hiding was in scope. thoughts?

[2019-11-22 14:12] rtibbles commented on #6100
Seems fine to me.

[2019-11-22 14:13] rtibbles commented on #4927
Seems fine, just wanted to check as the token behaviour would require more changes, ofc.

[2019-11-22 14:47] indirectlylit opened #6119 "'canceling' can take a long time, but no loader is shown"
### Observed behavior

Canceling an import of khan academy took many minutes on a fast computer. However, no loading indicator is shown:

![image](https://user-images.githubusercontent.com/2367265/69435125-d64a4800-0cf3-11ea-8ab7-dfe2803ff8e5.png)

### Expected behavior

Long-running task activities need a loading indicator

### User-facing consequences

confusion why the task can't be cleared

##

[2019-11-22 14:54] #6072 closed, assigned to jonboiser, khangmach

[2019-11-22 14:57] indirectlylit opened #6120 "resources are not available until import completes or is canceled"
### Observed behavior

* started an import of KA
* let it it run overnight
* in the morning, it was still running but a big portion of it was completed
* at this point I wanted to start browsing resources but couldn't
* canceled the transfer, which took a very long time (ref #6119)
* at this point, the resources became available

### Expected behavior

Expect resources to became available for brow

[2019-11-22 15:02] rtibbles commented on #6120
Could definitely do annotation in a batched way as it is relatively speedy, and the annotation preserves prior annotation, so should be able to rerun repeatedly.

[2019-11-22 16:32] indirectlylit commented on #5988
I don't see it, no

[2019-11-22 16:32] #5988 closed, assigned to nobody

[2019-11-22 19:14] jeepurs opened #6122 "profile name scroll arrow unexpected behavior"
![image (6)](https://user-images.githubusercontent.com/5150483/69453635-2d164880-0d19-11ea-8448-94ce4d8ab9a7.png)

Chrome Version 77.0.3865.75 (Official Build) (64-bit) on Ubuntu 14.04

instantschools-testsite.learningequality.org

Ask Liz for superuser password

[2019-11-22 21:55] indirectlylit opened #6123 "not possible to 'complete' a slideshow"
### Observed behavior

Reported by @jayoshih during the beta1 bug bash:

### Expected behavior

Should be possible to 'complete' a slideshow by spending a minimal amount of time on each slide

### User-facing consequences

implications for coach and learner  tracking of progress

### Steps to reproduce

…

### Context

0.13.0 beta1

[2019-11-22 22:08] indirectlylit opened #6124 "invalid tasks can get sometimes appear in task list response"
### Observed behavior

Observed by @jonboiser that sometimes tasks will appear in the API response that seem to be lacking basic information, e.g. channel ID or type.

We have some client-side validation to avoid showing these to users, but it means that over time the task list gets cruft added to it, which may be an indication of a memory leak or other problems.

### Expected behavior

all tasks

[2019-11-22 22:09] rtibbles commented on #6124
This could also be pingback and vacuum tasks that are periodically scheduled into the task queue.

[2019-11-22 22:17] indirectlylit opened #6125 "mac app not working"
### Observed behavior

see thread here: https://learningequality.slack.com/archives/CN3DPD0K0/p1574370076004500

app fails to run:

### Expected behavior

app runs

### User-facing consequences

cannot use mac

### Errors and logs

[code]

### Steps to reproduce

download and run the latest built mac installer:

https://github.com/learningequality/kolibri/releases/tag/v0.13.0-beta1

### Context

0

[2019-11-23 00:48] indirectlylit opened #6131 "loading channel listing has blank state"
### Observed behavior

reported by @nucleogenesis in the beta1 bug bash:

![Peek_2019-11-21_14-30](https://user-images.githubusercontent.com/2367265/69469679-fc4d0800-0d46-11ea-813d-64a5cf5b94de.gif)

### Expected behavior

* standard loading screens
* no blank screens

### User-facing consequences

things look broken for a period of time

### Steps to reproduce

load a channel by token

### Conte

[2019-11-24 00:53] radinamatic commented on #6110
Just noticing this now, what exactly is the issue (if still extant)?

[2019-11-24 05:51] #6107 closed, assigned to nobody

[2019-11-24 05:51] #6108 closed, assigned to nobody

[2019-11-25 17:18] indirectlylit opened #6138 "update references to new perseus bundle ID"
### Observed behavior

In https://github.com/learningequality/kolibri-exercise-perseus-plugin/pull/209 we are renaming the `bundle_id`.

This is referenced in Kolibri crowdin code and dev docs, and will need to be updated when Perseus is updated.

### Expected behavior

Update reference in a couple places

https://github.com/learningequality/kolibri/blob/release-v0.13.x/docs/release_process.rst

h

[2019-11-25 17:49] indirectlylit opened #6139 "set Windows to 1.3.5 final"
### Observed behavior

ref: https://github.com/learningequality/kolibri/pull/6136

### Expected behavior

should use final installer

### User-facing consequences

n/a

### Context

0.13.0 beta 1

[2019-11-25 18:04] indirectlylit commented on #6110
@radinamatic thanks for the reminder

@jonboiser sorry about this - would you mind taking a look?

[2019-11-25 18:22] indirectlylit opened #6140 "tasks got cleared without triggering a 'clear task' action"
### Observed behavior

Observed that my list of tasks got cleared after initiating a new import

### Expected behavior

tasks should not be cleared until explicitly done by the user

### User-facing consequences

loss of data: historical context

### Errors and logs

none

### Steps to reproduce

see notes below

### Context

0.13.0 beta 1

[2019-11-25 18:24] #6100 closed, assigned to rtibbles

[2019-11-25 18:25] indirectlylit commented on #6098
partially addressed by #6132

follow-up:

The in-progress state currently shows totals only:

![image](https://user-images.githubusercontent.com/2367265/69567272-d9e90380-0f6d-11ea-8b5f-407f6d6ea7b5.png)

Instead, it should also include the current amount like we do with 'canceled':

![image](https://user-images.githubusercontent.com/2367265/69567322-f38a4b00-0f6d-11ea-8b04-6b85625f90e3.png)

[2019-11-25 18:29] indirectlylit opened #6141 "task progress counts might be overestimated due to duplicate resources"
### Observed behavior

From @rtibbles in #6132

### Expected behavior

* Counts should be accurate if possible
* If not possible, we should design around the problem by being less precise

### User-facing consequences

discrepancy between task manager and actual counts

### Steps to reproduce

…

### Context

0.13.0 beta 1

[2019-11-25 18:31] rtibbles commented on #6098
Note that for in progress counts, we would probably be better off pre-generating a file checksum to contentnode map so that we can track how many resources have been fully downloaded without having to rerun annotation after every file download.

[2019-11-25 18:32] indirectlylit opened #6142 "preserve selective annotation after channel upgrade"
### Observed behavior

We recently began treating duplicate content items within a channel as being separate from the perspective of the user. However, these selections are not preserved on upgrade

### Expected behavior

Granular selections should be preserved across upgrades

From @rtibbles

### User-facing consequences

Intentional decisions are lost after upgrade

### Steps to reproduce

* imp

[2019-11-25 18:36] indirectlylit opened #6143 "throttle class summary API requests from navigation events in coach"
### Observed behavior

During 0.12.x, we decided to re-request class summary information "just in case" our diff-based polling didn't work to keep the coach reports up-to-date.

This should not actually be necessary, and incurs extra cost on both network and server CPU

### Expected behavior

After initially loading coach reports, all subsequent updates should be driven by just the polling for eve

[2019-11-25 18:38] indirectlylit commented on #6098
from another comment:

[2019-11-25 20:22] indirectlylit commented on #6143
It sounds like the risk of regressions if we were to do this is somewhat high, because there are fair number of changes that are not pushed through our event notification system. These include things like renames of items.

For this issue, recommend wrapping the call in [`throttle`](https://lodash.com/docs/#throttle) with a long time, e.g. 30 seconds. This will prevent a barrage of reloads during

[2019-11-25 20:43] jonboiser commented on #6110
The messages on the crowdin page (for Hindi and French at least) match the messages in the code for the two examples in the OP, and every other message with variables in NewChannelVersionPage

[2019-11-25 20:45] indirectlylit opened #6144 "follow-up from 6105"
follow-up from comments in https://github.com/learningequality/kolibri/pull/6105

The primary learner-facing items were:

1. use `KTooltip` rather than a `title` attribute
2. ~increase print margins to 3/4"~

There were also a few minor code comments, which are not blockers but might also be addressed

[2019-11-25 20:49] indirectlylit opened #6145 "add gherkin stories for printable and exportable coach reports"
### Observed behavior

We should make sure that printing and exporting are covered by our integration test scripts.

This is particularly true because as @bjester said, "There are 3 methods to print a page, each functions and is capable of producing a different result"

### Context

0.13.0 beta 1

[2019-11-25 21:03] indirectlylit commented on #6110
great, thank you

[2019-11-25 21:03] #6110 closed, assigned to jonboiser

[2019-11-25 21:33] indirectlylit commented on #6116
fixed in https://github.com/learningequality/kolibri/pull/6136

[2019-11-25 21:33] #6116 closed, assigned to nobody

[2019-11-25 23:07] indirectlylit opened #6146 "mac DMG file name is not auto-generated"
### Observed behavior

Generated file name does not match actual build

![image](https://user-images.githubusercontent.com/2367265/69585648-301d6d00-0f95-11ea-8fca-450782722136.png)

### Expected behavior

matches release

### User-facing consequences

confusing behavior to users browsing our releases page: https://github.com/learningequality/kolibri/releases

### Context

0.13.0 beta1

[2019-11-25 23:44] #6068 closed, assigned to jonboiser, khangmach

[2019-11-26 00:02] indirectlylit commented on #4743
This has been addressed by changes to quiz management in 0.13

[2019-11-26 00:02] #4743 closed, assigned to nobody

[2019-11-26 00:04] indirectlylit commented on #2869
A lot has changed related to this functionality in 0.13. I'll close this and we can open a new issue if something similar re-occurs

[2019-11-26 00:04] #2869 closed

[2019-11-26 00:05] indirectlylit commented on #2833
confirmed

[2019-11-26 00:05] #2833 closed

[2019-11-26 00:18] bjester commented on #6144
@indirectlylit I'm not entirely sure what is expected by "increase print margins to 3/4". The user has control over the actual print margins in the print dialog.

[2019-11-26 00:34] indirectlylit commented on #6144
Hm, that's interesting. I was experimenting with this in the context of "print to PDF" on Chrome, so unsure if that changes my perspective (I understand that other flows and browser will behave differently).

However, typically a PDF has some built-in margins, in addition to the margins that can be set during printing.

In-doc margins:

![image](https://user-images.githubusercontent.com/2367265/69

[2019-11-26 00:44] radinamatic commented on #6144
Firefox has 1 inch margins by default, but leaves to the user to set them separately in the *File > Page setup* menu, along with other options:

![2019-11-26_1-38-06](https://user-images.githubusercontent.com/1457929/69589941-27a55080-0fee-11ea-95e2-8f325a3540bd.png)

[2019-11-26 00:44] bjester commented on #6144
@indirectlylit I believe Chrome will remember what you set for `Margins`, so the value `Minimum` I'm guessing is something you've used previously. There is in fact a `Default` option for `Margins`, which I assume is truly the default (as it is for me) and not `Minimum`.

[2019-11-26 00:51] indirectlylit commented on #6144
okay sounds good - let's skip the margins!

[2019-11-26 01:38] DXCanas commented on #6146
Do we have thoughts on the naming/versioning scheme? I can try and emulate some of the decisions made for the Android installer.

[2019-11-26 01:48] kollivier commented on #6146
For now we can probably use the same approach as Android, but one caveat is that we will need to change this if we ever make it possible to update Kolibri from within the app, as we can't update the app's version without re-signing it. The other option would be to independently version the app, but append the Kolibri version to any build outputs.

[2019-11-26 10:12] radinamatic opened #6148 "Unselecting topic or resource sets size to import to 0"
### Observed behavior
Tested the `0.13.0b2` release on Windows 7. Importing full channels works OK, but as soon as one subtopic or resource checkbox is unchecked, the total size of the content selected drops to zero ~(number is still apparently accurate)~, the number is inaccurate (104+55+14=173, not 219), and the subsequent import fails immediately, labeled as `Finished`.

![2019-11-26_10-54-17](

[2019-11-26 17:55] indirectlylit commented on #6146
This is what we should be generally doing for all distributions. For example:

* [Windows](https://github.com/learningequality/kolibri-installer-windows/releases) - 1.3.4
* [Android](https://github.com/learningequality/kolibri-installer-android/releases) - 0.1.0-beta4

The first version of the Mac app will be 0.1.0 ([milestone](https://github.com/learningequality/kolibri-installer-mac/milestone/1)

[2019-11-26 18:02] kollivier commented on #6146
Sounds good, thanks! @DXCanas So basically, I think the easiest way to make this happen is after running `pew package`, add "-kolibri-<kolibri_version>" after the "-buildX" part of the filename and upload that file. On the Android side, this means we should probably be removing the Kolibri version from `project_info.json`, because the version string in there ends up in the app itself, not just the

[2019-11-26 19:55] bjester opened #6151 "Add more helpful strings for CSV export columns"
Follow up on https://github.com/learningequality/kolibri/pull/6147

Since the CSV export feature was added after string freeze, we didn't have total flexibility in structuring CSV exports that may require additional columns and thus additional user strings. This is to follow up on the specific reports that could use more specific strings for the CSV export headers.

For example, some report tables

[2019-11-26 20:46] jonboiser commented on #6148
@rtibbles The CalculateImportExportSizeView does seem to have some inaccuracies in calculating sizes when the 'excluded' array is non empty. Here's an example similar to Radina's:

http://localhost:8000/en/device/#/content/channels/a9b25ac9814742c883ce1b0579448337?node_id=89a3c0a53c874eb48d0191f4cb910b0d

(Also note that # resources is 5 on bottom, when sum of two topics should be 2, only 1 resour

[2019-11-26 21:17] jonboiser commented on #6148
Also noticing that if I try to `print` `nodes_for_transfer` with `exclude_node_ids` non-empty, I get a 'IndexError: list index out of range' error, (The array prints fine if you don't exclude anything).

(e.g. add a print statement around here)

https://github.com/learningequality/kolibri/blob/56d6988b467b213dda0fb56a61d3d3df21a85569/kolibri/plugins/device/api.py#L128-L137

[2019-11-26 22:06] radinamatic opened #6153 "Points and 'Next resource' snackbars not appearing when learner/guest finishes viewing the video"
### Observed behavior
Encountered while [updating the Gherkin scenarios](https://github.com/learningequality/kolibri/pull/6135/files#r350267987) for the upcoming integration testing.
0.12 version had a short lasting snackbar informing the learner that they have been granted 500 points, and inviting the guest to create account so they can accumulate points, followed by the *Next resource* snackbar

[2019-11-26 22:16] radinamatic opened #6155 "'Next steps' and 'Resume' sections missing from Learn > Recommended"
### Observed behavior
Encountered while [updating the Gherkin scenarios](https://github.com/learningequality/kolibri/pull/6135/files#r350268855) for the upcoming integration testing.
0.12 version had both 'Next steps' and 'Resume' sections (visible on our kolibridemo running 0.12.9 on the right), but are missing on the `release-v0.13.x` dev branch (left window below).

![2019-11-26_23-07-09](https

[2019-11-26 22:21] jtamiace commented on #6155
I'm not aware of this feature being intentionally removed

[2019-11-26 22:23] jtamiace commented on #6155
I would argue that, although all sections on this page are not useful, the ones removed are the most useful of the non-useful

[2019-11-26 22:34] rtibbles commented on #6155
It seems like `Resume` has been accidentally renamed to `Recommended`: https://github.com/learningequality/kolibri/blob/release-v0.13.x/kolibri/plugins/learn/assets/src/views/RecommendedPage.vue#L47

Next steps should still be appearing - possible that a backend change has caused the returned values to be empty.

[2019-11-26 23:43] carinediaz opened #6156 "Kolibri v0.13 - Changing the explanation text under "Kolibri Studio (online)" from the Select a source modal under IMPORT"
< Right now, the text reads: `Import resources from the Kolibri Content Library if you are connected to the internet.`

It should read:  `Import resources from Kolibri Studio if you are connected to the internet.`

### User-facing consequences
Confusion!

…

### Context
Kolibri v0.13 - Device tab - Import button - Select a source modal

…

[2019-11-27 00:59] indirectlylit opened #6157 "make sure we don't overload SQL variables pk__in and id__in"
### Observed behavior

We've had previous instances of hitting the maximum variable limit for SQLite, and according to @rtibbles these can be caused by `pk__in` and `id__in` filters (cc @ralphiee22)

For example, see

https://github.com/learningequality/kolibri/blob/b751754f79c23990515fa6ebf24d1b3029f57f13/kolibri/core/content/utils/import_export_content.py#L56-L58

### Expected behavior

ensure w

[2019-11-27 01:04] indirectlylit opened #6158 "test behaves differently locally (macos) and on travis"
### Observed behavior

observed by @jonboiser and @indirectlylit on macos, running `kolibri/plugins/device/test/test_api.py` locally
results in

[code]

observed that @rtibbles and @bjester did not see this behavior on Linux

### Expected behavior

Test should run

### User-facing consequences

developers cannot reproduce travis test failures

### Errors and logs

see complete output below:

[outp

[2019-11-27 01:10] indirectlylit commented on #6151
Unfortunately we can't add in a patch because we generally don't generally do translation passes on patch releases/

However, after your work gets merged from `0.13.x` to `develop`, we can add the strings there and they'll get used in `0.14.x`.

I'll update the milestone here accordingly

[2019-11-27 01:16] indirectlylit commented on #6155
change here

https://github.com/learningequality/kolibri/commit/74074013ac512e908c8a640f8e2c457b1b943e56#diff-24ca2bd7995ee4b7af179b6bc96bac78

[2019-11-27 01:26] indirectlylit commented on #6157
see also this suggestion by @bjester:

https://github.com/learningequality/kolibri/pull/6154#issuecomment-558884477

[2019-11-27 01:27] #6148 closed, assigned to nobody

[2019-11-27 08:41] miyer03 commented on #5904
@lyw07 I upgraded to Kolibri-server to latest 12.9 and this error seem to reoccur while importing the content.

## Kolibri-server details
![Screenshot from 2019-11-27 14-00-16](https://user-images.githubusercontent.com/8583367/69707009-e82a5180-111e-11ea-9295-f7f080cfab44.png)

## Import Screenshot where its exceeding 100%

![IMG_20191127_140715](https://user-images.githubusercontent.com/8583367/6

[2019-11-27 17:20] bjester commented on #6151
Ah I didn't remember that was the case. I thought we could add strings for patch releases :man_facepalming:

[2019-11-27 17:34] DXCanas commented on #6146
I always thought including it in the app itself was desirable? So that
updates were trivial?

I've got the android versioning script working for the mac app.

Versioning:
https://github.com/learningequality/kolibri-installer-mac/blob/autogen-name-and-makefile/scripts/create_project_info.py#L51

Build #:

https://github.com/learningequality/kolibri-installer-mac/blob/482a9e4ce55300ad050af635bdfa83f

[2019-11-27 17:43] indirectlylit commented on #6151
we did it once during 0.12, but that was a special case

[2019-11-27 17:44] indirectlylit commented on #6151
On the other hand, we will often add new _languages_ or updates to existing translations during patch releases. Just no new source strings

[2019-11-27 17:58] kollivier commented on #6146
@DXCanas We don't need the Kolibri version in the app version in order for new builds to appear as updates. The buildkite build number already takes care of that for us, doesn't it?

Removing the Kolibri version from the app version string makes life a lot easier for us. The app isn't going to change nearly as frequently as Kolibri itself, and we're probably going to make the app able to discover

[2019-11-27 19:13] DXCanas commented on #6146
Might that lead to weird situations where someone tries to install a new
mac app version on top of an existing install that has the latest version
of kolibri installed?

Either way, removing the kolibri version is simple enough. I dont think I
understand how it's a problem with the android installer, where all updates
are always downloaded from the play store.

Thoughts,  @indirectlylit?

On Wed,

[2019-11-27 19:59] kollivier commented on #6146
mac app version on top of an existing install that has the latest version
of kolibri installed?

Do you mean it would be a new Mac app that bundles an older Kolibri version? I think we would just make a rule to not do that. (I don't think there's any case in which we'd want to anyway.)

understand how it's a problem with the android installer, where all updates
are always downloaded from the play

[2019-11-27 20:07] DXCanas commented on #6146
My point about this, though, was that this isn't typical practice in Android. The Play Store handles updates and the associated changelogs for you. I understand that we're not on yet on the Play store, but this feels like it'd defeat expectations.

No. I was thinking of a situation where the Mac package installed, let's say v1.0, has any given bug. But they're running latest Kolibri version, let's

[2019-11-27 20:32] kollivier commented on #6146
In app stores, there's a distinction between app content updates, and app updates. Mobile games are a good example of this. (Sorry, it's what I know! ;-) When a game is having a new event, it commonly downloads new content, but this often does not show up as an update in the Play store. The Play store update happens when the app has actual new features, not just new content. (e.g. if an event adds

[2019-11-27 20:36] kollivier commented on #6146
A quick note to add on this. The caveat here is the offline aspect, so we probably always want to bundle some version of Kolibri so that the user doesn't have to run the app to get a Kolibri installation. If Kolibri can auto-update, it may not be essential that we push an app update for each new Kolibri release though so that people aren't constantly having to update the app just because there's a

[2019-11-27 21:29] ralphiee22 commented on #6157
https://github.com/learningequality/kolibri/blob/release-v0.13.x/kolibri/core/mixins.py#L53
Mixin which bypasses the need to use `pk__in` and `id__in`, by passing in the list of ids inline and avoiding parameterized queries.

[2019-11-27 23:09] jonboiser opened #6161 "Upgrading a channel using 'importchannel' command fails with sqlalchemy errors"
### Observed behavior

I get errors trying to update a channel metadata database using the `importchannel` command, regardless of whether this is via the command line or through the REST API.

Traceback comes from SQLalchemy module:

[code]

@rtibbles You hypothesized that this might be due to incomplete cleanup on the original transfer of the metadata DB.

### Expected behavior

No errors when ru

[2019-11-27 23:58] jonboiser opened #6162 "Device Setting -> Landing Page radio buttons are not usable"
### Observed behavior

See http://kolibribeta.learningequality.org/en/device/#/settings

The Radio button for "Sign-in Page" is not usable when setting the "Landing page" option.

### Expected behavior

Radio button control is usable and the setting is changed after clicking save

### Context

Kolibri 0.13 beta 3

[2019-11-27 23:58] bjester commented on #6153
It looks like a `sessionInitialized` event isn't being fired from the content renderer any more, which causes a handler to go un-fired that sets whether the content was incomplete when the user started.

[2019-11-28 00:32] bjester commented on #6155
I now have `Next Steps` appearing for me. I wonder if https://github.com/learningequality/kolibri/pull/6159 and https://github.com/learningequality/kolibri/pull/6163 affected that?

[2019-11-28 00:40] DXCanas commented on #6146
Decided to delay this convo in favor of just changing the filename itself for now! Version + build number will remain the exact same as it is rn

The handy Makefile can wait till we can flesh out these thoughts.

[2019-11-28 01:05] bjester commented on #5857
I can't reproduce this on branch `release-v0.13.x`

[2019-11-28 04:44] miyer03 commented on #5904
Testing server Ubuntu Version : 16.04

[2019-11-28 04:55] miyer03 opened #6165 "Kolibri server not starting"
### Observed behavior
The kolibri server is not starting when entered the ip 127.0.0.1:8008.
![Screenshot from 2019-11-28 10-20-48](https://user-images.githubusercontent.com/8583367/69778050-d7361a80-11c8-11ea-91f8-9a5f0529d24a.png)

### Expected behavior
The server should start and show the kolibri login page

…

### User-facing consequences

Teachers will not be able to conduct classes

### Erro

[2019-11-28 05:05] miyer03 commented on #5801
@indirectlylit One method when this error occurred during testing, was when we cleared the tab browsing history and cache.

[2019-11-28 07:10] miyer03 commented on #6165
Could this be possible because I tried opening the 13.0 beta server where I had 12.9 installed and running. I uninstalled and installed Kolibri from PPA and 13.0b3 got installed

[2019-11-28 07:38] jredrejo commented on #6165
@ralphiee22 it's an iceqube issue, could it be due to the version mix @miyer03  comments?

[2019-11-28 10:03] miyer03 commented on #6165
@jredrejo just to clarify I tried to open the Online beta server to check 13.0 beta3 after which when I tried opening 12.9 installed in my system, it gave this issue.

[2019-11-28 16:16] jredrejo commented on #6165
@miyer03 0.13.0 does delete some fields in one of the tables in your database. Going back to 0.12.9 afterwards using the same databasse is not possible for sure.

[2019-11-28 17:46] indirectlylit commented on #6165
There should be a backup of the database in `~/.kolibri` which would allow you to downgrade again.

I'll add a [caution](https://github.com/learningequality/kolibri/wiki/0.13.0-beta-testing#caution) on the beta release page noting this.

[2019-11-28 17:53] indirectlylit commented on #6165
Closing because the issue was due to a downgrade.

@miyer03 let us know if you need help restoring the previous DB

[2019-11-28 17:53] #6165 closed, assigned to nobody

[2019-11-29 00:46] radinamatic opened #6167 "Device setting change for 'Learners should only see resources assigned to them in classes' not saved"
### Observed behavior
Reports as saved inline, but as soon as the admin navigates to a different subtab and returns, checkbox is unchecked again.

![Learners should only see resources assigned to them in classes](https://user-images.githubusercontent.com/1457929/69836486-5ff49b00-1249-11ea-8700-cf2e69b781fd.gif)

Maybe just not active in `kolibri_0.13.0b3`?

### Expected behavior
Setting change co

[2019-11-29 01:12] radinamatic opened #6168 "Items in 'Birth year' <select> drop-down are not visible"
### Observed behavior
Issue is problematic when **creating account** and navigating by keyboard in Firefox, as many options in the drop-down are hidden inside the container, and the user is unable to see where the current focus is.

![select](https://user-images.githubusercontent.com/1457929/69836797-96331a00-124b-11ea-87ab-df24c9ac2666.gif)

On Chrome the issue is not extant, as the `<select>` op

[2019-11-29 02:13] radinamatic opened #6169 "Learner gets 500 server error when the class has a visible lesson"
### Observed behavior

No problem when the class has an opened/started quiz, but as soon as a lesson is made visible, learner gets the 500 error (_Something went wrong_) on **Learn > Classes** page:

![learner-cant-see-classes](https://user-images.githubusercontent.com/1457929/69838460-ef06b080-1253-11ea-8af6-a0941c6f1859.gif)

Seems there is also some weird learner logout there in the middle, as

[2019-11-29 02:38] mrpau-richard commented on #6155
I have the same issue the `Next steps` and  `Recommended` are not showing on Chrome(78.0)
![Screen Shot 2019-11-29 at 10 34 36 AM](https://user-images.githubusercontent.com/8663934/69839884-5d6b6300-1294-11ea-803c-7010d8a728d8.png)

[2019-11-29 07:51] mrpau-julius commented on #6169
Same error on Android devices version 4.4 and 6.0
![Screenshot_20191129-154242](https://user-images.githubusercontent.com/38421180/69852759-11361800-12c0-11ea-9d42-9fd5058b151c.png)

 ### error details
[code]

[2019-11-29 07:55] mrpau-richard commented on #6169
I also reproduced this on Windows 7 server and Android 4 client.

[2019-11-29 08:23] miyer03 commented on #5904
This seems to be working fine in 13.0 beta release

[2019-11-29 10:20] mrpau-richard opened #6170 "task progress percentage can be a very long negative number in scientific notation during import"
### Observed behavior
When I import this channel `nosov-pagif` random data is shown briefly

### Expected behavior

It should display the correct progress of the channel import.

### User-facing consequences

confusion and broken-looking behavior

### Errors and logs
![temp](https://user-images.githubusercontent.com/8663934/69861980-6ed45f80-12d4-11ea-9cc4-abbc87fcf4ff.gif)

### Steps to reproduce

[2019-12-01 02:38] radinamatic opened #6242 "videos not playing in mac app & Safari, but do in Firefox/Chrome"
`0.13.0b3` on Mojave 10.14.3.

Both macApp and Safari seem to be having the same issue with playing videos, but Firefox & Chrome play just fine:

![2019-12-01_3-11-02](https://user-images.githubusercontent.com/1457929/69908512-586cf780-13eb-11ea-8b34-fd5f5457481b.jpg)

![2019-12-01_3-17-38](https://user-images.githubusercontent.com/1457929/69908505-3d01ec80-13eb-11ea-9b23-8a62ed5052cb.jpg)

[logs.

[2019-12-01 19:21] radinamatic opened #6171 "responsive design fails on small screens"
### Observed behavior
Several instances of responsive design issues on mobile phones.

#### Points icon
Firefox on Android | Chrome on Android | Safari on iPhone5
-------- | -------- | --------
![IMG_20191129_182423328](https://user-images.githubusercontent.com/1457929/69918037-6cf1d400-146d-11ea-8414-e5e2a90cef4c.jpg) | ![IMG_20191130_153146204](https://user-images.githubusercontent.com/1457929/6

[2019-12-01 19:30] radinamatic commented on #6162
Still extant on 0.13.0b3.

[2019-12-01 19:34] radinamatic commented on #5857
Seems to be resolved on 0.13.0b3, tested on Ubuntu 16.04 and macOS Mojave.

[2019-12-01 19:43] radinamatic commented on #6170
Not sure if I would describe this as a **broken** progress bar... 🤔

Channel is small, so the bar appears just for a moment, but I also noticed this strange sequence of numbers when importing. Was that what you were referring to @mrpau-richard?

![2019-12-01_3-55-06](https://user-images.githubusercontent.com/1457929/69919241-30c57000-147b-11ea-86de-2f11a298a69e.jpg)

cc @nucleogenesis

[2019-12-01 22:09] radinamatic opened #6172 "'View all' button removed from 'Lessons', 'Quizzes' and 'Class activity' blocks?"
### Observed behavior
Updating [coach pickles](https://github.com/learningequality/kolibri/blob/release-v0.13.x/integration_testing/features/coach/coach-class-home.feature) atm, and noticing that 'Lessons', 'Quizzes' and 'Class activity' blocks in 0.13 (left) do not display the `View all` button when the class has no lessons, quizzes or activity, as they did in 0.12 (right).

![2019-12-01_22-51-13

[2019-12-01 22:40] radinamatic commented on #5882
Filtering by channel & type of resource is now working on 0.12, but clearing the search field does not yet bring back all the channels. Same is valid for 0.13, will open a separate issue!

[2019-12-01 22:46] radinamatic opened #6173 "Unable to clear filters in Manage resources for Lessons & Quizzes"
### Observed behavior
Still extant on 0.12.x branch, (tracked in #5882) too: clearing the search field does not yet bring back all the channels, as specified by the [Gherkin scenario](https://github.com/learningequality/kolibri/blob/release-v0.13.x/integration_testing/features/coach/coach-create-lesson.feature#L76).

### Expected behavior
Deleting the search term should reload the page and display

[2019-12-02 00:42] radinamatic opened #6174 "Filters for quizzes and lessons still refer to old statuses"
### Observed behavior
We invested much effort into changing the statuses of lessons and quizzes from active/inactive to visible/invisible and started/ended respectively, but we seem to have forgotten them in the filters 😞

![old-statuses](https://user-images.githubusercontent.com/1457929/69922973-169e8880-14a1-11ea-859f-923804052c15.gif)

@indirectlylit Do we even have strings for the new statuses

[2019-12-02 01:00] indirectlylit commented on #6167
this functionality is not yet implemented

[2019-12-02 01:03] indirectlylit commented on #6168
Updated to remove references to z-order.

cc @jtamiace this relates to having a select box at the bottom of a scrolling window :(

[2019-12-02 01:05] indirectlylit commented on #6168
one thing that's very strange here is that the inner box is scrolling instead of the outer box, as shown below. Fixing this might help with the problem:

![image](https://user-images.githubusercontent.com/2367265/69923878-bdad0100-145c-11ea-8ce3-1d29c6f7b9be.png)

[2019-12-02 01:09] indirectlylit commented on #5904
thanks for testing! since the issue was intermittent, let's continue to keep an eye out for it

[2019-12-02 01:09] indirectlylit commented on #5904
closing - we can re-open a new issue for 0.13 if it continues to be a problem

[2019-12-02 01:09] #5904 closed, assigned to nobody

[2019-12-02 01:11] indirectlylit commented on #5857
great, thank you

[2019-12-02 01:11] #5857 closed, assigned to nobody

[2019-12-02 01:13] indirectlylit commented on #6172
Yup, this change was intentional: https://github.com/learningequality/kolibri/pull/5944

[2019-12-02 01:15] radinamatic commented on #6172
Great, will update the pickles accordingly, closing! 👍

[2019-12-02 01:15] #6172 closed, assigned to nobody

[2019-12-02 01:18] indirectlylit commented on #6174
If we don't have strings, we may need to temporarily hide this filter

[2019-12-02 01:32] indirectlylit commented on #6170
updated description and title

[2019-12-02 01:38] indirectlylit opened #6175 "metadata missing in task manager when using bulk import"
### Observed behavior

When using bulk import, channel metadata is not shown:

![image](https://user-images.githubusercontent.com/2367265/69924567-fea71480-1460-11ea-930c-f0713c5234b7.png)

### Expected behavior

Channel metadata should be shown for all imports.

The channel names must be shown immediately, but if necessary additional meta-data can be lazily loaded

### User-facing consequences

t

[2019-12-02 01:42] indirectlylit opened #6176 "No socket could be created - Address already in use"
### Observed behavior

reported by @jonboiser during the 0.13 beta 1 bug bash.

### Expected behavior

clean shutdowns and killable processes

### User-facing consequences

unknown

### Errors and logs

[code]

### Steps to reproduce

unknown

### Context

0.13.0 beta 1

[2019-12-02 01:49] indirectlylit opened #6177 "Task Bar counts failed tasks as "done" in progress bar, but not in the"x of y tasks complete" label"
### Observed behavior

reported by @jtamiace during the 0.13.0 beta1 bug bash:

### Expected behavior

* Would be more accurate to say '7 of 7 tasks complete'.
* The task bar should also reflect this ratio, and _not_ incorporate actual number of resources or disk size

### User-facing consequences

confusing accounting of failed processes

### Steps to reproduce

start a number of imports, and can

[2019-12-02 01:55] indirectlylit opened #6178 "channel listings will not load while a task is in progress"
### Observed behavior

Channel listing get stuck while a task is in progress:

![image](https://user-images.githubusercontent.com/2367265/69925108-521a6200-1463-11ea-9f51-8f4a26450a32.png)

![image](https://user-images.githubusercontent.com/2367265/69925129-6c544000-1463-11ea-9e76-14763a174640.png)

### Expected behavior

Operations that are not visible to the user in the task manager should never

[2019-12-02 02:02] indirectlylit opened #6179 "progress bar is sometimes not updated while content downloads"
### Observed behavior

reported by @jamalex during the beta 1 bug bash:

### Expected behavior

progress bar should accurately reflect progress

### User-facing consequences

confusion about whether anything is happening

### Errors and logs

[kolibri.txt](https://github.com/learningequality/kolibri/files/3909109/kolibri.txt)

relevant section:

[code]

### Steps to reproduce

bulk import multiple

[2019-12-02 02:15] indirectlylit opened #6180 "scrolling and paging issues with slideshow"
### Observed behavior

reported during the 0.13.0 beta 1 bug bash

by @jayoshih

by @khangmach

by @nucleogenesis

### Expected behavior

scrolling and paging should behave reasonably and accessibly for all input modalities

### User-facing consequences

hard to use slideshow

### Steps to reproduce

import channel `nosov-pagif` and scrolling and paging

### Context

0.13.0 beta 3

[2019-12-02 02:36] indirectlylit opened #6181 "'back to home' button in coach error page doesn't work"
### Observed behavior

observed by @jayoshih during the 0.13.0 beta 1 bug bash:

### Expected behavior

'back to home' should take the user back to the main page of the current app

### User-facing consequences

frustrating behavior on an error page

### Errors and logs

`vue-router.esm.js:2051 Uncaught (in promise) NavigationDuplicated {_name: "NavigationDuplicated", name: "NavigationDuplicated",

[2019-12-02 02:44] indirectlylit opened #6182 "recipients column in coach tools in not accurate"
### Observed behavior

recipients column always indicates assignment to the entire class, even when that's not true:

![groups](https://user-images.githubusercontent.com/2367265/69926711-644bce80-146a-11ea-8f2b-82ec444fb367.gif)

### Expected behavior

recipients column should be accurate

### User-facing consequences

confusion

### Errors and logs

none observed

### Steps to reproduce

create a

[2019-12-02 02:57] indirectlylit opened #6183 "expect to have a "clear" button for tasks on main the page"
### Observed behavior

reported by @jamalex - there is no way to clear tasks from the main page

![image](https://user-images.githubusercontent.com/2367265/69927128-e5579580-146b-11ea-95b4-815d5a7d9901.png)

### Expected behavior

Would expect a 'clear' button on the main page

### User-facing consequences

need to unnecessarily click in to the task manager to clear tasks

### Steps to reproduce

[2019-12-02 02:59] indirectlylit commented on #6168
same issue reported by @jamalex during bug bash for beta 1

![image](https://user-images.githubusercontent.com/2367265/69927371-9e1dd480-146c-11ea-9a0f-c2b8e5ed70d9.png)

[2019-12-02 03:00] indirectlylit commented on #5343
same 404 reported as bug here: https://www.notion.so/learningequality/404-during-import-from-USB-stick-f0e3114b559a4b23beacb32de346a737

[2019-12-02 03:04] indirectlylit opened #6184 "possible for 'task manager' text to get stuck in app bar"
### Observed behavior

reported by @jonboiser during the 0.13.0 beta 1 bug bash:

### Expected behavior

app bar text should always remain correct

### User-facing consequences

confusion app behavior

### Steps to reproduce

unknown

### Context

0.13.0 beta 1

[2019-12-02 03:10] indirectlylit opened #6185 "channel thumbnails can get squished"
### Observed behavior

reported by @jamalex during the beta 1 bug bash:

![image](https://user-images.githubusercontent.com/2367265/69927675-b3473300-146d-11ea-8f29-5e527fe72348.png)

### Expected behavior

thumbnails should always remain at their appropriate aspect ratio. Extra whitespace should be added as necessary to conform to a standard 16:9 allotted space.

![image](https://user-images.gith

[2019-12-02 03:29] indirectlylit opened #6187 "improve handling of video transcripts with RTL languages"
### Observed behavior

observed during the beta 1 bug bash by @jeepurs:

### Expected behavior

This is rather subtle, especially when the app language and transcript language might be different from each other.

* The overall user interface layout should conform to the current language set at the application level. In this case, if Kolibri is set to Arabic then UI elements that are typically on t

[2019-12-02 03:31] indirectlylit commented on #5343
and again here: https://www.notion.so/learningequality/404-when-trying-to-import-Khan-Academy-Hisabati-Tanzani-bae7f266d1c74e7fb65de7c75e8a0d1a

[2019-12-02 03:50] indirectlylit opened #6188 "average score info icon is an exclamation mark"
### Observed behavior

reported by @jtamiace during the 0.13.0 beta 1 bug bash:

this is defined in the `AverageScoreTooltip` component

### Expected behavior

should use an 'info' icon, which is an `i`

### User-facing consequences

confusing use of iconography

### Steps to reproduce

view any page using the `AverageScoreTooltip` component

### Context

0.13.0 beta 3

[2019-12-02 09:15] miyer03 opened #6189 "Device Name changes to Task Manager"
### Observed behavior
The  Device name on the top left corner on the device pages changes to Task Manager once the tasks (channel import) are viewed and the back button is pressed.

### The device name is shown as Device, which is correct
![oie_EJYergllHLB6](https://user-images.githubusercontent.com/8583367/69946258-500edc80-1511-11ea-9f93-edd86bf42097.png)
### On clicking task its changes to Task

[2019-12-02 16:12] indirectlylit commented on #6184
migrate to https://github.com/learningequality/kolibri/issues/6184

[2019-12-02 16:12] #6184 closed, assigned to nobody

[2019-12-02 16:12] indirectlylit commented on #6189
good find, and clear steps to reproduce - thank you!

[2019-12-02 16:53] rtibbles commented on #6165
@jredrejo yes - the iceqube storage schema changed between 0.12.x and 0.13.x, so a downgrade would cause issues.

[2019-12-02 16:59] rtibbles commented on #6178
I reported this during the beta 0 bug bash - fixing this will require parallel task execution, and better handling of database locking.

[2019-12-02 17:56] lyw07 commented on #5904
sorry I was on vacation last week and just got back in the office today. please feel free to let us know if this issue occurs again. thank you!

[2019-12-02 18:02] indirectlylit opened #6190 "behavior after running an older Kolibri against a newer database is confusing"
### Observed behavior

In https://github.com/learningequality/kolibri/issues/6165 we observed someone upgrade and then downgrade Kolibri, after which they got fairly inscrutable behavior which did not help understand the cause of their issues

### Expected behavior

When running an older Kolibri against a newer DB that has backward-incompatible differences, the user should be informed of what happ

[2019-12-02 18:16] bjester commented on #6169
May get resolved in next beta release by https://github.com/learningequality/kolibri/pull/6159

[2019-12-02 21:07] jonboiser commented on #6181
Which URL is the error appearing on? Based on the error output, it seems like it might be on `/coach/`, which I think is the only plugin that has a root URL that doesn't immediately redirect to a different non-root route.

The console errors appear to be due to a change in Vue Router with the new router.push, etc. Promises API, but the router.push still basically works (i.e. you will see an error

[2019-12-02 21:46] indirectlylit commented on #6181
I was able to reproduce this in facility also:

![error](https://user-images.githubusercontent.com/2367265/69997958-28684600-150a-11ea-8a25-f6e91f64e079.gif)

[2019-12-02 21:52] jonboiser opened #6192 "Wrong grammatical number agreement in 'someTasksComplete' message"
https://github.com/learningequality/kolibri/blob/b751754f79c23990515fa6ebf24d1b3029f57f13/kolibri/plugins/device/assets/src/views/ManageContentPage/BottomBar/TasksBar.vue#L63-L66

Should be

[code]

e.g. "1 of 5 tasks" instead of "1 of 5 task"

[2019-12-02 22:09] jonboiser commented on #6181
Can you try this on Facility > Data. Facility > Classes is where the root "/" redirects for the facility plugin.

[2019-12-02 22:09] rtibbles commented on #6192
I think agreeing with the total here is correct? {1} out of {5 tasks} - the only question for me is for inflected languages, whether the `complete` should agree with {1} or {5 tasks}.

[2019-12-02 22:10] rtibbles commented on #6182
Fixed in #6191

[2019-12-02 22:10] #6182 closed, assigned to rtibbles

[2019-12-02 22:18] jonboiser commented on #6192
I think in that case, the `done` number should agree with the `completed` adjective, like in hebrew https://translate.google.com/#view=home&op=translate&sl=en&tl=ru&text=one%20task%20is%20done.%20two%20tasks%20are%20done.

And kind of matching our understanding in English where if you removed the "of X" part, you would understand the "completed" going with the tasks in the "numerator".

There are

[2019-12-02 22:22] radinamatic commented on #6181
The same `NavigationDuplicated` error appears in #6169, albeit on **Learn**

![learner-cant-see-classes-with-lessons2](https://user-images.githubusercontent.com/1457929/70000102-8e7cb980-155a-11ea-99f0-956a4e3cbba8.gif)

[2019-12-02 22:24] jonboiser commented on #6181
Yeah, there I see in the Learn page movie, that the button does redirect you from '/classes/' to '/', which should then redirect you back to '/classes' (if you are assigned to any), which then seems to crash again, but without the AppError page and just a blank screen...

The blank screen might have something to do with the `showAllClassesPage` handler function, since it doesn't do a force re-requ

[2019-12-02 22:32] radinamatic commented on #6181
Yes, the learner is assigned to a class, but gets this error message **IF** there's an opened lesson in their class. As soon the lesson is made invisible to learners, the 500 error is not there any more. Opened quizzes cause no errors.

[2019-12-02 22:41] indirectlylit commented on #6181
I'm actually going to lower the priority of this item. I don't think this qualifies as "high impact on UX", especially compared to some of the other things in 0.13

[2019-12-02 22:45] indirectlylit commented on #6192
unfortunately we need to push to 0.14 due to string changes

[2019-12-02 23:28] #5794 closed, assigned to rtibbles

[2019-12-03 01:06] indirectlylit commented on #6183
related: https://github.com/learningequality/kolibri/issues/6177

[2019-12-03 01:06] indirectlylit commented on #6177
related: https://github.com/learningequality/kolibri/issues/6183

[2019-12-03 01:36] #6142 closed, assigned to ralphiee22

[2019-12-03 13:39] nobicycle opened #6196 "Command Line - Enhancement Request - List Channel Status"
Hello team Kolibri

Would it be possible to provide a command line option to list channel status, as in \<channel\>|\<status\>
?
This would allow intelligent  automation of channel updates - admin could ask user groups whether they wish to proceed with an update.

[2019-12-03 15:40] KevinTripp commented on #6008
@rtibbles Cool, good to know about creating classes. I think we are already using  a CSRF token for the authentication.

@indirectlylit  Is there a tentative date for the release of 0.13.0?

[2019-12-03 17:09] rtibbles commented on #6161
Fixed in #6194

[2019-12-03 17:09] #6161 closed, assigned to rtibbles

[2019-12-03 17:10] rtibbles commented on #6153
Should be fixed in #6163

[2019-12-03 17:10] #6153 closed, assigned to bjester

[2019-12-03 17:11] rtibbles commented on #6169
Should be fixed in #6159 - please reopen if not.

[2019-12-03 17:11] #6169 closed, assigned to nobody

[2019-12-03 17:38] indirectlylit commented on #6196
Thanks for the request!

So that we have a bit more context, would you mind elaborating a bit on:

* A bit more detail of the scenario(s) you're envisioning. For example, is this a roaming admin who visits local implementations and talks with the local users?
* What do your users currently need to do, because they don't have this feature?
* What kind of information would you expect to be reflected

[2019-12-03 17:42] indirectlylit commented on #6008
@KevinTripp we are aiming for mid-December, before the holidays

[2019-12-03 19:23] kollivier opened #6197 "Make CLI commands accessible as pure Python API"
### Observed behavior

There seems to be some strange behavior for click where it shuts down the server automatically when there is not an active, user-created terminal running. This makes us unable to start and stop the Kolibri server from a GUI application such as the Mac app, and likely Android as well.

While there is a workaround we can use to sidestep click and call the Python functions dire

[2019-12-03 19:24] KevinTripp commented on #6008
@indirectlylit Cool, I appreciate the info!

[2019-12-03 19:44] indirectlylit commented on #6125
tracked in https://github.com/learningequality/kolibri-installer-mac/issues/15

[2019-12-03 19:44] #6125 closed, assigned to kollivier

[2019-12-03 19:54] #6146 closed, assigned to DXCanas

[2019-12-03 20:03] indirectlylit commented on #5355
ref: https://www.notion.so/learningequality/Updates-to-Kolibri-settings-f374a937f08248848f6c8399c53556a1

[2019-12-03 20:03] indirectlylit commented on #6162
ref: https://www.notion.so/learningequality/Updates-to-Kolibri-settings-f374a937f08248848f6c8399c53556a1

[2019-12-03 20:04] indirectlylit commented on #6167
ref: https://www.notion.so/learningequality/Updates-to-Kolibri-settings-f374a937f08248848f6c8399c53556a1

[2019-12-03 20:22] ralphiee22 commented on #6093
I think this is an error related to running in dev mode, because I have seen this happen on kdp. @rtibbles if you can confirm

[2019-12-03 20:22] indirectlylit commented on #6124
@jonboiser does this have user-facing impact? I'll remove from 0.13.0 if not...

[2019-12-03 20:25] jonboiser commented on #6124
The examples I've seen so far don't have any user-facing impact.

[2019-12-03 22:01] benjaoming commented on #4113
Cannot reproduce this on 0.13.0b3

[2019-12-03 22:01] #4113 closed, assigned to nobody

[2019-12-03 22:06] benjaoming opened #6201 "Better exception message for malformed db (especially in initialize => dbbackup)"
### Observed behavior

An issue was reported here: https://community.learningequality.org/t/service-fails-at-startup/1337

We can see that `initialize` is called during an upgrade which leads to `dbbackup` producing the malformed db error outside of where it's normally anticipated.

### Expected behavior

1. A better failure message pointing to our updated troubleshooting section: https://kolibri.

[2019-12-03 22:46] lyw07 commented on #6170
this is because cloudflare compresses json files, and for compressed files `content-length` is not available in the header. The file size is set to 1e+100 which caused the issue when calculating the progress.
this issue should be fixed by https://github.com/learningequality/kolibri/pull/6198

[2019-12-03 23:58] kollivier commented on #6242
@radinamatic Are these videos from the latest KA revision? I believe we fixed some video codec issues a little while back in ricecooker to ensure that we use video and audio codecs that work in all major browsers, so want to make sure these aren't old videos from before that fix.

[2019-12-04 00:06] radinamatic commented on #6242
Not 100% certain if the channel version is the most recent, will re-check and report back!

[2019-12-04 01:16] ralphiee22 commented on #4641
Can someone reliably replicate this?
The modal shown in this issue has become a full page now.

[2019-12-04 01:30] radinamatic commented on #4641
This is a really old issue, we can close it and move on! 👍

[2019-12-04 02:16] indirectlylit commented on #4641
no, in fact this issue has been reproduced on other modals. @jeepurs experiences it often I believe - she might be able to help.

It will almost certainly be browser and OS-dependent

[2019-12-04 04:07] nucleogenesis opened #6205 "NaN comes to visit on Difficult Questions list"
### Observed behavior

This is in a quiz report on the difficult questions page for a quiz created using Khan Academy EN.

![say-hi-to-my-nan](https://user-images.githubusercontent.com/6356129/70111676-dd345d00-1607-11ea-8118-c81455514344.png)

Also on the demo server (sign in as `coachdemo` / `pass`) http://kolibribeta.learningequality.org/en/coach/#/f6e7f562bb0ea654340c726e1f81bbe9/reports/quizz

[2019-12-04 06:35] nucleogenesis commented on #6174
@indirectlylit @radinamatic

I think we'll need to hide them for now.

For lessons, what would the strings be?

"Visible lessons" & "Not visible lessons"?

Quizzes have more than 2 states now - so what would the strings for that be?

- Not started ("Not started quizzes")
- Started ("Started quizzes")
- Ended ("Ended quizzes")

[2019-12-04 14:53] jeepurs opened #6209 "Selection of facility unexpectedly appears on the create account page"
### Observed behavior

For Instant Schools plugin, there should be no need to select a facility

For Kolibri, the selection option appears only after refreshing the create account page, and appears even when there is one option.

### Expected behavior

For Instant Schools, no selection needed

For Kolibri, I expect to only need to select it if there's more than one to choose from. Or rather, I exp

[2019-12-04 15:09] jeepurs opened #6210 "Instant Schools should land on About page upon first access"
### Observed behavior

Accessing Instant Schools incognito does not lead me directly to the About page

### Expected behavior

Upon first log in or guest access, About page should be the first page seen

### User-facing consequences

VF: expectations not met
In general: Feature not utilized to full potential

### Errors and logs

…

### Steps to reproduce

1. Open incognito page
2. click on guest

[2019-12-04 16:32] indirectlylit opened #6211 "update Kolibri to handle new h5p content kind"
### Observed behavior

In order to decouple H5P from the HTML5 content kind and allow us to properly filter supported types, we're migrating H5P to be it's own type.

This will also require changes in other repos such as studio and kolibri utils.

### Expected behavior

[code]

### User-facing consequences

must show content when it can be rendered, and not show it when it cannot

### Steps to rep

[2019-12-04 17:35] indirectlylit opened #6212 "main page scrolls behind modals"
### Observed behavior

This appears to be a regression. The page will scroll behind modal.

![scroll](https://user-images.githubusercontent.com/2367265/70166184-24a70180-1679-11ea-972a-740c2de95178.gif)

### Expected behavior

Page should not scroll behind modal

### User-facing consequences

distracting interaction with main page when focus should be entirely contained to modal

### Steps to repr

[2019-12-04 17:42] rtibbles commented on #6093
This is due to the not really used and slightly buggy schema inspection mechanisms. I think this is not important, and does not need to be fixed in the scope of 0.13.0.

I have some WIP to remove this completely, which I think we can do as a patch fix.

[2019-12-04 18:49] nucleogenesis commented on #6210
In my testing, this only occurs for guest learners. I created a new account and the first thing that I saw was the About page.

[2019-12-04 19:02] rtibbles commented on #6210
The issue then is that the default guestaccess is the learn plugin. This is governed by this redirect hook: https://github.com/learningequality/kolibri/blob/release-v0.12.x/kolibri/plugins/learn/kolibri_plugin.py#L21

Which then gets used here for the guest redirect: https://github.com/learningequality/kolibri/blob/release-v0.12.x/kolibri/core/views.py#L138

Unfortunately, just adding this hook to

[2019-12-04 19:18] larryyoung1200 opened #6213 "Unable to import a channel from an attached drive"
### Observed behavior

Failed to recognize that there were exported channels on the attached 4 TB Seagate drive.
![image](https://user-images.githubusercontent.com/58528849/70172615-0bb14700-169f-11ea-9de9-f75e9c647c3e.png)
…

### Expected behavior

Expected it to display my available channels and allow me to import one.
…

### User-facing consequences

…

### Errors and logs

I don't see any log

[2019-12-04 19:38] lyw07 commented on #5782
sorry I'm not sure if I understand this issue correctly... Is this because we don't have the json file for English on Crowdin? Thank you!

[2019-12-04 19:40] jonboiser commented on #6213
Hi @larryyoung1200, could you take a look at this [support forum post](https://community.learningequality.org/t/cannot-import-data-from-a-local-drive/1298/8) from a user with a similar issue? There are some troubleshooting steps you can try there to see if there is something specific to your Seagate Drive.

[2019-12-04 20:40] indirectlylit commented on #5781
this will be changed in https://github.com/learningequality/kolibri-release-process

[2019-12-04 23:02] nucleogenesis commented on #6180
by @jayoshih

This has been replicated by @radinamatic on Windows touch screen laptop in Chrome and Edge - but does not happen in Firefox.

I do not have a touchscreen laptop running Windows so I'm not able to reliably test any possible fix for this issue. Perhaps this can be made into its own separate issue - I can help guide on the whole Slideshow composnent feature.

by @khangmach

I discussed

[2019-12-04 23:17] indirectlylit commented on #6174
I think we'll have to punt this back to design. Would you mind filing a PR to remove the functionality for now, and update relevant gherkin stories if necessary?

I'll open a follow-up issue to do the design work and re-instate the functionality if necessary

[2019-12-04 23:20] radinamatic commented on #6174
@nucleogenesis I'll adjust the Gherkin scenarios, no worries!
There simply will be no filters for now, correct, nothing else changes?

[2019-12-04 23:28] #5964 closed, assigned to ralphiee22

[2019-12-04 23:31] indirectlylit commented on #6209
interesting - this is clearly a bug, but i'm not able to reproduce using the steps above

[2019-12-04 23:39] indirectlylit opened #6216 "/api/discovery/networklocation ValueError"
### Observed behavior

When attempting to add a new network location, I get this error:

![image](https://user-images.githubusercontent.com/2367265/70190894-0efeff80-16ac-11ea-9491-4828be43d670.png)

### Expected behavior

should be able to add a new network location

### User-facing consequences

cannot import from network

### Errors and logs

[code]

### Steps to reproduce

* run devserver
* im

[2019-12-04 23:57] indirectlylit commented on #6216
probably due to interactions with testing https://github.com/learningequality/kolibri/pull/6207

[2019-12-04 23:57] #6216 closed, assigned to nobody

[2019-12-05 00:07] #6170 closed, assigned to lyw07

[2019-12-05 02:02] #6155 closed, assigned to ralphiee22

[2019-12-05 02:04] #2184 closed

[2019-12-05 02:18] indirectlylit opened #6218 "Route with name 'RESOURCE_USER_SUMMARY' does not exist"
### Observed behavior

observed in console

[code]

### Expected behavior

no errors

### User-facing consequences

not apparent but may be indicative of something broken

### Steps to reproduce

I don't have precise steps yet, but these occurred while adding items to a lesson, clicking 'manage resources', and using browser back/forward.

### Context

0.13.0 beta 3

[2019-12-05 02:20] #4939 closed, assigned to ralphiee22

[2019-12-05 02:22] jeepurs opened #6219 "RTL language handled differently across interfaces"
### Observed behavior

Arabic channel names do not read the same depending on whether they are a content channel tile or a top level breadcrumb

### Expected behavior

The titles would be handled RTL similar across each layout

### User-facing consequences

Not being able to read a correct tile

### Errors and logs

…

### Steps to reproduce

1. Visit http://australia-kolibri.mylearningpathway.org

[2019-12-05 15:42] indirectlylit opened #6220 "allow lessons to be assigned to individual learners"
### Observed behavior

Follow-up from https://github.com/learningequality/kolibri/pull/6149

There, we allowed quizzes to be assigned to individual learners

### Expected behavior

Lessons should also be allowed to be individually assigned to learners

### User-facing consequences

current functionality doesn't yet fully address the motivating user needs

### Context

0.13.0 beta 3

[2019-12-05 16:00] indirectlylit opened #6221 "channel listings failed to be generated until restart of devserver"
### Observed behavior

My UI got stuck in the channel loading state. restarted the devserver, and things started working again

![image](https://user-images.githubusercontent.com/2367265/70251131-d1de5000-1733-11ea-8833-6e3e355e141a.png)

I saw one job in the DB with:

* `state`: `QUEUED`
* `queue`: `no_waiting`

![image](https://user-images.githubusercontent.com/2367265/70251200-ecb0c480-1733-11e

[2019-12-05 16:15] indirectlylit opened #6222 "put buttons in bottom bar on full-screen modals"
### Observed behavior

Modals such as 'create new user' have inline buttons, forcing you to scroll down to submit:

![image](https://user-images.githubusercontent.com/2367265/70252954-20411e00-1737-11ea-93a7-ad4bc50c0137.png)

### Expected behavior

some of our more recent full-screen modals have buttons in the bottom bar, which is more convenient and prominently displays call to action:

![image]

[2019-12-05 16:29] indirectlylit opened #6223 "must show validation after form submission"
### Observed behavior

In https://github.com/learningequality/kolibri/pull/6202 we added naive logic to implement https://github.com/learningequality/kolibri/issues/2184

Unfortunately this caused a regression, where validation is no longer shown after form submission.

### Expected behavior

Validation must be shown after form submission

### User-facing consequences

user might not know what wen

[2019-12-05 16:35] indirectlylit opened #6224 "pagination value is too low for learner management in classes"
### Observed behavior

For example, during individual assignment, only 5 learners are shown at a time

![image](https://user-images.githubusercontent.com/2367265/70252326-1a970880-1736-11ea-89be-2ef2f8f7e991.png)

Similar behavior exists for group enrollment

### Expected behavior

I would expect to be able to see my entire class roster at once. Typically classes will have less than 50 users, so a

[2019-12-05 16:41] #5532 closed, assigned to lyw07

[2019-12-05 17:48] micahscopes commented on #6158
FYI, I'm also experiencing this and I'm on Linux (Arch Linux)

[2019-12-05 17:51] indirectlylit opened #6227 "after updating a channel, mark the new resources on the 'import more' page"
### Observed behavior

currently, after updating we navigate to the tasks page, as in https://github.com/learningequality/kolibri/issues/6068

### Expected behavior

for updating channels specifically, I would expect that we use the "old" behavior of going to the "import more" page if new resources are available

thoughts @jonboiser @khangmach?

### User-facing consequences

in order to take advan

[2019-12-05 17:51] indirectlylit opened #6228 "'new resources available' does not seem to calculated correctly"
### Observed behavior

after updating a channel, 'new resources available' says '0'

cc @jonboiser

### Expected behavior

accurately reflect new resources available

### User-facing consequences

incorrect information in diff

### Steps to reproduce

add an item to a channel and re-publish

### Context

0.13.0 beta3

[2019-12-05 17:57] indirectlylit opened #6229 "diff stats are sometimes blank"
### Observed behavior

note that diff stats are blank:

![image](https://user-images.githubusercontent.com/2367265/70260587-7321d200-1745-11ea-93e1-78a1dccdc8bd.png)

### Expected behavior

diff stats always show

### User-facing consequences

no information in UI

### Errors and logs

no errors in JS or Python

### Steps to reproduce

unknown. observed intermittently - refreshing made the numbers

[2019-12-05 18:09] indirectlylit opened #6230 "'Resources to be updated' doesn't actually count all updated resources"
### Observed behavior

Only changes to binary files inside resources trigger the 'updated' count

![image](https://user-images.githubusercontent.com/2367265/70261471-6605e280-1747-11ea-8a39-aa7e9f0e7d22.png)

### Expected behavior

If metadata such as title, description, or license is updated, or if a resource has moved its location in the channel, the resource has been "updated" from a user's per

[2019-12-05 18:12] khangmach commented on #6227
This seems wrong to me if a channel update isn't the only thing in the task queue. If updating a channel is the first item in a long queue and you leave your device to do other things you're going to come back to your device suddenly on the new channel listing page losing the ability to monitor your other tasks.

The right approach here seems to me to be:
After a channel update finishes the call t

[2019-12-05 18:14] indirectlylit opened #6231 "exclamation mark icon in channel changelog is confusing"
### Observed behavior

It says "Version 7 !", and the purple mark looks like an interactive button or tooltip but doesn't do anything

![image](https://user-images.githubusercontent.com/2367265/70261535-7cac3980-1747-11ea-8e09-6222ea31a332.png)

### Expected behavior

There's no need to annotate the latest version because all messages are relevant - not just the latest.

### User-facing consequenc

[2019-12-05 19:18] nucleogenesis commented on #6174
Yup! PR Incoming

[2019-12-05 19:22] #6223 closed, assigned to ralphiee22

[2019-12-05 22:27] larryyoung1200 commented on #6213
I’m afraid I’m having the same problem the person that reported the original problem had.  Please see screen shot below & identify for me where the Login button is on the “top right corner”.

I’m afraid I don’t understand the instruction to stop Kolibri.  When you do that you get a not found error since the port is closed.

Point is, I don’t want to copy the data.  I want to import the channels li

[2019-12-05 22:28] larryyoung1200 commented on #6213
Hi,

I’m afraid I’m having the same problem the person that reported the original problem had.  Please see screen shot below & identify for me where the Login button is on the “top right corner”.

I’m afraid I don’t understand the instruction to stop Kolibri.  When you do that you get a not found error since the port is closed.

Point is, I don’t want to copy the data.  I want to import the channe

[2019-12-06 01:16] jonboiser commented on #6229
This seems like an edge case, that seems to happen when too many identical `channeldiffstats` requests (i.e. same channel and from same source) are triggered very quickly in a way that the client can't cancel or clean them up quickly enough. You can sort of reproduce this by going back and forth between the Manage Channel Page and this page very quickly and wait until this kind of console error ap

[2019-12-06 01:41] jonboiser commented on #6219
These bidirectional e.g. Latin + Arabic texts are pretty problematic. When you narrow the page and cause the line to break into two lines, you can also see that it doesn't read the same any more either, with our convention of using `dir = auto`

Same topic title, broken over two lines (dir="auto") which is what's going on in the Card version above.

![Screen Shot 2019-12-05 at 5 40 15 PM](https://

[2019-12-06 17:45] #6174 closed, assigned to nucleogenesis

[2019-12-06 18:15] indirectlylit commented on #6229
This may be one way to trigger it, but during bug bash people were definitely seeing it on the "first try", and that's what I experienced also.

[2019-12-06 18:16] nucleogenesis commented on #6209
@jeepurs @indirectlylit I believe this was fixed with https://github.com/learningequality/kolibri-instant-schools-plugin/pull/165 and I cannot replicate this on the latest deployed build.

[2019-12-06 18:32] #6063 closed, assigned to nucleogenesis

[2019-12-06 18:43] indirectlylit commented on #6219
see also - probably a different problem but maybe inter-related: https://github.com/learningequality/kolibri/issues/5468

[2019-12-06 18:46] nucleogenesis commented on #6123
Addressed in #6226

[2019-12-06 18:46] #6123 closed, assigned to nucleogenesis

[2019-12-06 20:55] indirectlylit opened #6238 "ValueError: pickle protocol 4 asked for; the highest available protocol is 2"
### Observed behavior

While testing https://github.com/learningequality/kolibri/pull/6207 got error related pickle protocols

### Expected behavior

no errors

### User-facing consequences

unknown

### Errors and logs

[code]

### Steps to reproduce

ran pex `start` command

### Context

pex from https://github.com/learningequality/kolibri/pull/6207 on macOS

[2019-12-06 21:00] nucleogenesis commented on #6220
I got started on this and noted that the Lesson creation goes through a small modal, which doesn't fit the flow we intended on Quizzes.

We will need to change the New Lesson flow so that it is:

- Large and still a modal
- Or - more likely - it's own page like how the Quiz creation flow goes.

In the latter case, the page will look exactly like the "Edit Details" page for a Lesson. I just want to

[2019-12-06 22:10] micahscopes commented on #6238
Not sure but I think maybe we need to set the pickle protocol version in our django-redis-cache options:
http://niwinz.github.io/django-redis/latest/#_pickle_version

I'll try this in a bit.
c.c. @rtibbles

[2019-12-06 22:28] indirectlylit commented on #6220
Sounds like this is the right direction to move in. We tend to call this a "full screen modal".

Hopefully it won't require a huge refactor...

[2019-12-06 22:52] indirectlylit opened #6239 "layout of video transcripts broken in RTL languages"
### Observed behavior

observed during the beta 1 bug bash:

by @nucleogenesis:

![image](https://user-images.githubusercontent.com/2367265/69927920-bf7fc000-146e-11ea-93be-2298c0df65b3.png)

### Expected behavior

transcript should be on left

### User-facing consequences

* inconsistent UI
* obscured video

### Steps to reproduce

view transcript in RTL

### Context

0.13.0 beta3

[2019-12-06 22:52] indirectlylit commented on #6187
migrated part of issue to https://github.com/learningequality/kolibri/issues/6239

[2019-12-06 22:56] indirectlylit commented on #6227
another point of reference in https://www.notion.so/learningequality/Newly-added-videos-on-Studio-not-imported-during-upgrade-flow-3fd8f75d381e47278343c178bfa69113

[2019-12-06 23:02] #6119 closed, assigned to jonboiser

[2019-12-07 13:36] nobicycle commented on #6196
Before refreshing a channel one should consult users to ask it the update is desired. Impact such as how much data will be deleted and how long the download will take. This information can be manually obtained from the GUI  by clicking import, copy, past- but multiplied by N channels

Any manual procedure is fraught with error. Plus this manual procedure needs to be done daily!
A CLI script could

[2019-12-07 17:55] indirectlylit opened #6240 "'unsupported browser' message is not internationalized"
### Observed behavior

Regardless of what language Kolibri or a user's browser is set to, they always see the message in English:

![image](https://user-images.githubusercontent.com/2367265/70378600-10604000-18d7-11ea-9de8-dcb6a1fe191e.png)

### Expected behavior

'unsupported browser' should show in the default language of the server

### User-facing consequences

less helpful message in other la

[2019-12-07 23:14] radinamatic commented on #6242
I´m pretty sure my testing channel was up-to-date with the latest from sources, but just to be 100% certain, I performed another sync on Studio, and updated it locally. When reviewing channel changes in Kolibri, nothing was reported:

![2019-12-07_23-47-13](https://user-images.githubusercontent.com/1457929/70381698-6bce1480-194f-11ea-8e1c-172c7be7361a.png)

The same error as above, however, persis

[2019-12-07 23:29] indirectlylit commented on #6242
Since this appears to affect Safari also, transfering to main Kolibri repo.

@radinamatic it sounds like this is a regression?

[2019-12-07 23:50] kollivier commented on #6242
Just a note that I tried this on my end by importing Radina Testing Channel with the latest Kolibri Mac app build on Mojave 10.14.5 and was unable to reproduce the problem. The videos load and play for me both in Safari and in the Mac app. Is it possible to upgrade the testing machine to 10.14.5?

[2019-12-07 23:51] kollivier commented on #6242
Also, I checked the video file and it's using H.264 for video and AAC for audio, which are supported codecs.

[2019-12-08 04:28] radinamatic commented on #6242
I have been running tests on Mojave only from 0.13.0b3, so cannot be sure if it's a regression. The [test results from High Sierra were described here back in October](https://github.com/learningequality/kolibri-installer-mac/issues/4#issuecomment-546187218).

@mrpau-richard could you re-test on your Mojave VM to confirm?

[2019-12-08 21:18] indirectlylit opened #6245 "occasional zombie processes related to unclean shutdown"
### Observed behavior

observed by @jamalex and @indirectlylit during testing of zerofconf work

This caused me some very confusing issues when I had closed all my terminals and Kolibri was still running in the background

### Expected behavior

Clean and complete shutdown

### User-facing consequences

Could get very difficult-to-debug behaviors if zombie processes are accessing DBs

### Steps to

[2019-12-08 21:59] radinamatic opened #6246 "Missing padding on import from local drive page"
### Observed behavior
Since there is no `Import from token` button when using the local drive as import source, some more padding is required between the link to select entire channels or topics/resources, and the language filter.

![2019-12-08_22-42-16](https://user-images.githubusercontent.com/1457929/70396953-fd03c080-1a0d-11ea-8b30-6612593f9274.png)

![2019-12-08_22-50-10](https://user-images.

[2019-12-09 03:17] mrpau-richard commented on #6242
I did not reproduce this issue on macOS 10.14.5 @radinamatic , The video played properly on `Safari 12.1.1`

[2019-12-09 03:51] indirectlylit commented on #6246
looks like this is not specific to Windows

[2019-12-09 04:05] indirectlylit opened #6247 "Database image is malformed, and zombie attacks"
### Observed behavior

error during import

### Expected behavior

no errors

### User-facing consequences

unknown

### Errors and logs

[code]

### Steps to reproduce

unknown

### Context

0.13.0 beta4

[2019-12-09 04:12] radinamatic opened #6248 "vertical scrollbar an the bottom of the import page"
### Observed behavior
When resizing the browser window manually, bottom bar gets a bit _jumpy_ and gains a scrollbar when number of selected resources is displayed above.

![vertical-scroolbar](https://user-images.githubusercontent.com/1457929/70406808-32c29c80-1a42-11ea-82d1-09e1e699c2fb.gif)

### Expected behavior
There should be no need for that scrollbar, maybe adjust the height?

### User-fac

[2019-12-09 04:28] indirectlylit commented on #6079
from @khangmach

[2019-12-09 06:53] radinamatic commented on #6140
Seeing this on beta4 too, and cannot figure out when it happens exactly: just realized that navigating back to the task manager page all previous tasks (completed *and* cancelled) disappeared without me clearing them intentionally 😕

[2019-12-09 07:25] radinamatic opened #6250 "Impossible to cancel a delete task"
### Observed behavior
When a delete task has been initiated, it seems impossible to cancel. On tasks with lower number of resources to delete, it apparently finishes before one even manages to click the `Cancel` button, and on tasks with more resources selected to delete, the button does not seem active at all, and the task continues without allowing the user to cancel.

![2019-12-09_8-00-37](http

[2019-12-09 07:47] radinamatic opened #6251 "Incorrect annotation when cancelling an export task"
### Observed behavior
Although cancelling an export task is possible, compared to delete tasks (see #6250), the values indicated seem to suggest that the entire channel has been exported, despite cancelling almost immediately.

![2019-12-09_8-25-18](https://user-images.githubusercontent.com/1457929/70416198-c6a26180-1a5e-11ea-9b47-0251fe972b79.png)

Above I first imported the full PhET channel, pr

[2019-12-09 08:37] radinamatic commented on #6140
@indirectlylit Are the tasks supposed to survive the device restart?
I also realized that when I restart the VM all the past tasks disappear.

[2019-12-09 09:20] radinamatic opened #6252 "Inconsistent wording in the topbar for import pages"
### Observed behavior

When selecting Studio as a source, topbar wording is _just_ **Kolibri Studio channels**, while for the other two options it's **Import from '(source)'**.

Import from Studio | Import from local address | Import from attached drive
------------ | ------------- | -------------
![2019-12-09_9-54-59](https://user-images.githubusercontent.com/1457929/70421952-256dd800-1a6b-11ea-9

[2019-12-09 09:23] miyer03 commented on #6039
@indirectlylit could you please update on this or any further info needed from our side

[2019-12-09 12:07] nucleogenesis commented on #6210
Fixed in the IS plugin in the PR https://github.com/learningequality/kolibri-instant-schools-plugin/pull/166

[2019-12-09 12:07] #6210 closed, assigned to nobody

[2019-12-09 12:08] #6209 closed, assigned to nobody

[2019-12-09 15:38] rtibbles commented on #6238
The only reason that it should be asking for a higher pickle version than is available is if there are different Python versions at play - also @micahscopes I assume no one running the pex is using redis, so I feel like it's not the redis version that is the issue.

Seems more likely to be pickling that's happening either in `diskcache` or in SQLAlchemy (for async tasks). The latter seems the most

[2019-12-09 16:12] micahscopes commented on #6245
In the zeroconf-py2compat there are [a couple lines that catch all exceptions and log them](https://github.com/learningequality/python-zeroconf-py2compat/blob/master/zeroconf.py#L1945). I know that was causing really bad zombie processes in the past, ones that I couldn't even kill without rebooting. I prevented one particular exception where zeroconf was trying to unregister a peer that had alread

[2019-12-09 16:30] rtibbles commented on #6247
My suspicion is that this is most likely caused by zombie processes (also the pickle issue https://github.com/learningequality/kolibri/issues/6238 seems like it could be another symptom, with py2/3 crossover).

[2019-12-09 18:00] indirectlylit commented on #6140
I don't believe so, no. That would probably be a new feature

[2019-12-09 18:04] indirectlylit commented on #6252
Since this requires string updates, we won't be able to do it in 0.13

[2019-12-09 18:05] #6228 closed, assigned to ralphiee22

[2019-12-09 18:08] radinamatic commented on #6140
Just making sure, not saying they should, thanks!

[2019-12-09 18:12] radinamatic commented on #6252
Leaving the last word to you, but don't we already have `Import from` part localized in the other two imports? Wasn't there a string-reuse option that you recommended to someone on a recent PR?